.site-footer {
	background:$site_footer_bg ;
	padding: 2rem;
	color:$white;
	font-size: 14px;
	text-align: center;
}
.footer-links{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
	ul{
		margin: 0px;
		padding: 0px;
		list-style: none;
		display: flex;
		li{
			margin: 0px;
			padding: 0 16px;
			a{
				display: block;
				font-size: $font-size-sm;
				color: $white;
				margin: 0 ;
			}
		}
	}
	
}
.siteinfo{
	padding: 0 2rem;
	@include breakpoint(mobile_portrait){
        padding: 0rem;
    }
}