.site-header {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  padding: 1rem 0;

  .logo {
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    @include breakpoint(iPad_landscape) {
      font-size: 2rem;
    }
    @include breakpoint(iPad) {
      font-size: 2rem;
    }

    @include breakpoint(mobile) {
      font-size: 2rem;
      width: auto;
    }

    i {
      position: absolute;
      top: -30px;
      right: 0;
      @include breakpoint(iPad) {
        top: 28px;
      }
      @include breakpoint(mobile) {
        top: 28px;
      }

      svg {
        height: 24px;

        
      }
    }

    span {
      color: $black;
      margin-right: 5px;

    }

    a {
      display: block;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }

  .header-right {
    margin-left: auto;
    display: flex;
    align-items: center;

    nav {
      margin: 0px;
      padding: 0rem;

      @include breakpoint(mobile) {
        display: none;
      }

      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          margin: 0px;
          padding: 0 1rem;

          @include breakpoint(iPad) {
            padding: 0 9px;
          }

          a {
            display: block;
            font-size: $font-size-base;
            font-weight: 500;
            color: $header_link;
          }

          &.menu-item-has-children {
            position: relative;
            a{
              background-image: url("data:image/svg+xml,%3Csvg width='21' height='12' viewBox='0 0 21 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.865297 1.94131L2.63073 0.156797L10.8998 8.33747L19.0805 0.0683784L20.865 1.83381L10.9189 11.8874L0.865297 1.94131Z' fill='black'/%3E%3C/svg%3E%0A");
              background-position: center right;
              background-repeat: no-repeat;
              padding-right: 23px;
              background-size: 16px;
            }

            ul {
              position: absolute;
              top: 0px;
              width: 237px;
              display: none;
              padding: 36px 0 0 0;
              left: 0px;
              z-index: 9;

              li {
                background: $white;
                padding: 10px 16px;
                box-shadow: 0 6px 7px rgba(0, 0, 0, 0.4);

                a {
                  font-size: 16px;
                  background-image: none;
                }
                
              }
            }
            &:hover {
              ul {
                display: block;
              }
            }
          }
        }
      }
    }
  }



  .header-search {
    margin-left: 3rem;

    @include breakpoint(-iPad_landscape) {
      margin-left: 2rem;
    }

    @include breakpoint(iPad) {
      margin-left: 1rem;
    }

    @include breakpoint(mobile) {
      margin-right: 1rem;
    }

    .search-btn {
      width: 30px;
      display: block;
    }
  }
}

@media (min-width: 992px) and (max-width: 999999999999999999999999999999999999px) {
  .headerfixed {
    .site-header {
      position: sticky;
      top: 0px;
      left: 0px;
      background: $white;
      z-index: 999;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);

   

      .logo {
        font-size: 2.5rem;

        @include breakpoint(iPad) {
          font-size: 2rem;
        }

        i {
          svg {
            height: 22px;
          }
        }
      }
    }
  }
}

.header-social {
  margin-left: 3rem;

  @include breakpoint(-iPad_landscape) {
    margin-left: 2rem;
  }

  @include breakpoint(mobile) {
    margin-left: 0;
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin: 0px;
      padding: 0 16px 0 0;

      &:last-child {
        padding-right: 0px;
      }

      a {
        display: block;

        svg {
          width: 50px;
          height: 50px;
          padding: 5px;
          display: block;
          border-radius: 30px;
          fill: #fff;
        }
      }

      &.fb {
        a {
          svg {
            background: linear-gradient(115deg, #62cff4, #2c67f2);
          }

          &:hover {
            svg {
              background: linear-gradient(115deg, #2c67f2, #62cff4);
            }
          }
        }
      }

      &.insta {
        a {
          svg {
            background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
          }
        }

        &:hover {
          a {
            svg {
              background: linear-gradient(115deg, #6228d7, #ee2a7b, #f9ce34);
            }
          }
        }
      }
    }
  }
}

.mobile-nav {
  display: none;
  position: absolute;
  top: 80px;
  right: 0px;
  width: 200px;
  height: calc(100% - 112px);
  z-index: 99;

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;

    li {
      margin: 0px;
      padding: 0px;

      a {
        display: block;
        color: $white;
        padding: 10px 15px;
        border-bottom: 1px solid #ffffff1a;
      }
    }
  }
}

.menu-show {
  .mobile-nav {
    display: block;
  }
}

.hamburger .line {
  width: 45px;
  height: 5px;
  display: none;
  margin: 8px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  @include breakpoint(iPad) {
    display: block;
    margin-left: 2rem;
  }

  @include breakpoint(mobile) {
    display: block;
  }
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */

#hamburgerClick.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburgerClick.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburgerClick.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}