{% set title = node.getTitle() %}
{% if teaser %}

	{% else %}


		<div class="intro trade page-no-image">
			<div class="row">
				<div class="large-8 large-centered columns">
					<h1>{{title}}</h1>
				</div>
			</div>
		</div>

		{% if content.body[0] is not empty %}
			<div class="white content-body">
				<div class="row">
					<div class="large-6 large-centered columns">
						{{ content.body}}
					</div>
				</div>
			</div>
		{% endif %}


		{% if content.field_accordian_row[0] is not empty %}
			<div class="grey field_accordian_row">
				<div class="row">
					<div class="large-8 large-centered columns">
						{{ drupal_view('faq_list', 'default', node.id) }}
					</div>
				</div>
			</div>
		{% endif %}


		{% if content.webform[0] is not empty %}
			<div class="grey form">
				<div class="row">
					<div class="large-6 large-centered columns">
						{{ content.webform}}
					</div>
				</div>
			</div>
		{% endif %}

		<div class="block block-layout-builder block-inline-blockbasic">
			<div class="back-to-support">
				<p>
					<a class="bar-btn" href="/support">&lt; back to support</a>
				</p>
			</div>
		</div>

		{% if content.field_cta[0] is not empty %}
			{{ content.field_cta}}
		{% endif %}

{% endif %}
