
<a href="{{file_url(node.field_download.entity.uri.value) }}" class="download" target="_blank">
	{% if content.field_thumbnail[0] is not empty %} 
	{{content.field_thumbnail }}
	{% else %}
	{# <img src="https://www.johnsonandstarley.co.uk/sites/default/files/styles/download/public/pdfpreview/1106-SP0013-4%20AQUAIR%20SALES%20FLYER.jpg" /> #}
	{{content.field_download }}
	{% endif %}
	<h3>{{node.getTitle()}}</h3>
</a>