<?php if ($view_mode == 'teaser'): ?>

	<div class="teaser teaser--model">

		<div class="setHeight">

			<h3><a href="<?php print $node_url; ?>" title="<?php print $title; ?>"><?php print $title; ?></a></h3>

			<?php if(isset($content['body'])):?>
				<?php print render($content['body']);?>
			<?php endif;?>

		</div>

		<a href="<?php print $node_url; ?>" title="<?php print $title; ?>" class="thumb">
			<?php if(isset($content['field_thumbnail'])):?>
				<?php print render($content['field_thumbnail']);?>
			<?php else: ?>
				<?php if(isset($content['field_image'])):?>
					<?php print render($content['field_image']);?>
				<?php endif;?>
			<?php endif;?>
		</a>

		<a href="<?php print $node_url; ?>" title="<?php print $title; ?>" class="button">find out more</a>

	</div>

<?php else: ?>

	<div class="intro trade">
		<div class="row">
			<div class="large-8 large-centered columns">
				<h1><?php print $title; ?></h1>
			</div>
		</div>
	</div>

	<div class="white">
		<div class="row">
			<div class="large-8 large-centered columns model">

				<div class="row">
					<div class="large-12 columns">
						<?php print render($content['body']);?>
					</div>
				</div>

				<div class="row">
					<div class="large-7 columns">

						<?php if(isset($content['field_benefits'])):?>
							<div class="info">
								<h3>benefits:</h3>
								<?php print render($content['field_benefits']);?>
							</div>
						<?php endif;?>

						<?php if(isset($content['field_features'])):?>
							<div class="info">
								<h3>features:</h3>
								<?php print render($content['field_features']);?>
							</div>
						<?php endif;?>

					</div>

					<div class="large-5 columns">
					
						<?php if(isset($content['field_image'])):?>
							<?php print render($content['field_image']);?>
						<?php endif;?>

						<?php if(isset($content['field_guarantee_available_']) && $content['field_guarantee_available_'][0]['#markup'] == '1'):?>
							<span class="guarantee"></span>
						<?php endif;?>

					</div>
				</div>

			</div>
		</div>
	</div>


	<?php if(isset($content['field_variants'])):?>
		<div class="grey">
			<div class="row">
				<div class="large-6 large-centered columns extra">
			
					<?php if(isset($content['field_title'])):?>
						<h2><?php print render($content['field_title']);?></h2>
					<?php endif;?>

					<?php print render($content['field_variants']);?>
				
				</div>
			</div>
		</div>
	<?php endif;?>

	<?php if(isset($content['field_related_product'])):?>
		<?php print render($content['field_related_product']);?>
	<?php endif;?>

<?php endif;?>