{% if content.field_image[0] is not empty %}
<div class="banner">
	{{ content.field_image}}

	<div class="content">
		<div class="row">
			<div class="large-12 columns">

				{% if content.field_register_link %}
				<a href="/register-your-appliance" class="tag" title="Register now">
					{{content.field_register_link}}
				</a>
				{% endif %}

			</div>
		</div>
	</div>
</div>
{% endif %}

<div class="intro home">

	<div class="content">
		<div class="row">
			<div class="large-8 large-centered columns">

				<h1>{{node.getTitle()}}</h1>

			</div>
		</div>

		<div class="row">
			<div class="large-6 large-centered columns">
				{% if content.body %}
				{{ content.body}}
				{% endif %}
			</div>
		</div>
	</div>

</div>

<div class="row">
	<div class="large-8 large-centered columns products-title">
		<h2>A range of products to suit your needs</h2>
	</div>
</div>