:root {
	--color: #3498DB;
}
a {
    color: var(--color);
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.hamburger .line,
.download-btn,
.wpforms-submit,
#block-16 .sti-container,
.not-found-search-form form .searchsubmit {
    background: var(--color)
}

input:focus,
textarea:focus,
.catogory-list ul li a {
    border-color: var(--color);
}



.header-site .main-menu nav ul li.current_page_item a,
.header-site .logo a span,
.headerfixed .header-site .main-menu nav ul li.current_page_item a,
.catogory-list ul li a{
    color: var(--color);
}
