@import url("//hello.myfonts.net/count/2eb7ff");

@font-face {
    font-family: "MuseoSlab-1000Italic";
    src: url("#{$fontsPath}/2EB7FF_0_0.eot");
    src: url("#{$fontsPath}/2EB7FF_0_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_0_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_0_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_0_0.ttf") format("truetype");
}

@font-face {
    font-family: "MuseoSlab-100";
    src: url("#{$fontsPath}/2EB7FF_1_0.eot");
    src: url("#{$fontsPath}/2EB7FF_1_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_1_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_1_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_1_0.ttf") format("truetype");
}

@font-face {
    font-family: "MuseoSlab-700";
    src: url("#{$fontsPath}/2EB7FF_2_0.eot");
    src: url("#{$fontsPath}/2EB7FF_2_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_2_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_2_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_2_0.ttf") format("truetype");
}

@font-face {
    font-family: "MuseoSlab-900";
    src: url("#{$fontsPath}/2EB7FF_3_0.eot");
    src: url("#{$fontsPath}/2EB7FF_3_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_3_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_3_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_3_0.ttf") format("truetype");
}

@font-face {
    font-family: "MuseoSlab-300";
    src: url("#{$fontsPath}/2EB7FF_4_0.eot");
    src: url("#{$fontsPath}/2EB7FF_4_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_4_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_4_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_4_0.ttf") format("truetype");
}

@font-face {
    font-family: "MuseoSlab-1000";
    src: url("#{$fontsPath}/2EB7FF_5_0.eot");
    src: url("#{$fontsPath}/2EB7FF_5_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_5_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_5_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_5_0.ttf") format("truetype");
}

@font-face {
    font-family: "MuseoSlab-500";
    src: url("#{$fontsPath}/2EB7FF_6_0.eot");
    src: url("#{$fontsPath}/2EB7FF_6_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_6_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_6_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_6_0.ttf") format("truetype");
}

@font-face {
    font-family: "MuseoSlab-300Italic";
    src: url("#{$fontsPath}/2EB7FF_7_0.eot");
    src: url("#{$fontsPath}/2EB7FF_7_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_7_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_7_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_7_0.ttf") format("truetype");
}

@font-face {
    font-family: "MuseoSlab-700Italic";
    src: url("#{$fontsPath}/2EB7FF_8_0.eot");
    src: url("#{$fontsPath}/2EB7FF_8_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_8_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_8_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_8_0.ttf") format("truetype");
}

@font-face {
    font-family: "MuseoSlab-500Italic";
    src: url("#{$fontsPath}/2EB7FF_9_0.eot");
    src: url("#{$fontsPath}/2EB7FF_9_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_9_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_9_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_9_0.ttf") format("truetype");
}

@font-face {
    font-family: "MuseoSlab-900Italic";
    src: url("#{$fontsPath}/2EB7FF_A_0.eot");
    src: url("#{$fontsPath}/2EB7FF_A_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_A_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_A_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_A_0.ttf") format("truetype");
}

@font-face {
    font-family: "MuseoSlab-100Italic";
    src: url("#{$fontsPath}/2EB7FF_B_0.eot");
    src: url("#{$fontsPath}/2EB7FF_B_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_B_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_B_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_B_0.ttf") format("truetype");
}

@font-face {
    font-family: "HAPPYCLOUDBlack-Regular";
    src: url("#{$fontsPath}/2EB7FF_C_0.eot");
    src: url("#{$fontsPath}/2EB7FF_C_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_C_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_C_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_C_0.ttf") format("truetype");
}

@font-face {
    font-family: "HAPPYCLOUD-Regular";
    src: url("#{$fontsPath}/2EB7FF_D_0.eot");
    src: url("#{$fontsPath}/2EB7FF_D_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_D_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_D_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_D_0.ttf") format("truetype");
}

@font-face {
    font-family: "HAPPYCLOUDHeavy-Regular";
    src: url("#{$fontsPath}/2EB7FF_E_0.eot");
    src: url("#{$fontsPath}/2EB7FF_E_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_E_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_E_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_E_0.ttf") format("truetype");
}

@font-face {
    font-family: "HAPPYCLOUD-Bold";
    src: url("#{$fontsPath}/2EB7FF_F_0.eot");
    src: url("#{$fontsPath}/2EB7FF_F_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_F_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_F_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_F_0.ttf") format("truetype");
}

@font-face {
    font-family: "HAPPYCLOUDLight-Regular";
    src: url("#{$fontsPath}/2EB7FF_10_0.eot");
    src: url("#{$fontsPath}/2EB7FF_10_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/2EB7FF_10_0.woff2") format("woff2"), url("#{$fontsPath}/2EB7FF_10_0.woff") format("woff"),
        url("#{$fontsPath}/2EB7FF_10_0.ttf") format("truetype");
}
