h1 {
    font-size: $h1;
    font-family: "MuseoSlab-300";
    font-weight: 300;

    @include breakpoint(mobile) {
        font-size: $h1_m;
    }

    @include breakpoint(ipad_portrait) {
        font-size: $h1_ip;
    }

    &:empty {
        display: none;
    }
}

h2 {
    font-size: $h2;
    font-family: "MuseoSlab-300";
    font-weight: 300;

    @include breakpoint(mobile) {
        font-size: $h2_m;
    }

    @include breakpoint(ipad_portrait) {
        font-size: $h2_ip;
    }

    &:empty {
        display: none;
    }
}

h3 {
    font-size: $h3;
    font-family: "MuseoSlab-300";
    font-weight: 300;

    @include breakpoint(mobile) {
        font-size: $h3_m;
    }

    @include breakpoint(ipad_portrait) {
        font-size: $h3_ip;
    }

    &:empty {
        display: none;
    }
}

h4 {
    font-size: $h4;
    font-family: "MuseoSlab-300";
    font-weight: 300;
}

.text-section {
    h2 {
        margin: 0 0 1.5rem;
        padding: 0px;
        color: $light-orange;
    }
}

.page-title-content--box {
    h1 {
        margin: 0;
        padding: 0px;
        position: relative;
        z-index: 1;

        img {
            width: 330px;

            @include breakpoint(ipad) {
                width: 220px;
            }

            @include breakpoint(mobile_landscape) {
                width: 145px;
            }
        }
    }
}

.inner-page-hero {
    h1 {
        text-transform: uppercase;
    }
}

.post-row--text {
    h3 {
        margin: 0 0 1.5rem;
        padding: 0px;
        color: $white;
        text-transform: uppercase;
     

        img {
            width: 270px;
        }
    }
}

.tile-section {
    h3 {
        margin-top: 0px;
    }
}

.commercial-project-section {
    h3 {
        margin: 0 0 4rem;
        padding: 0px;
        color: $white;

        @include breakpoint(mobile) {
            margin: 0 0 2rem;
        }
    }
}

.flooring-types {
    h3 {
        margin: 0 0 3rem;
        padding: 0px;
    }
}

.gallery-section,
.tile-gallery {
    h3 {
        margin: 0;
        padding: 0px;
    }
}

.flooring-types--content {
    h4 {
        margin: 0;
        padding: 0px;
    }
}

.brands-logo {
    h3 {
        margin: 0 0 3rem;
        padding: 0px;
    }
}

.contact-section {
    h1 {
        margin: 0px;
        padding: 0px;
        color: $white;
        font-size: $h2;
    }
}
