/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
a,
button {
  cursor: pointer;
}

.menu-section .notify strong, .main-header .nav-right ul.text-link li a, body {
  font-size: 1.5rem;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .menu-section .notify strong, .main-header .nav-right ul.text-link li a, body {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu-section .notify strong, .main-header .nav-right ul.text-link li a, body {
    font-size: 1.2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu-section .notify strong, .main-header .nav-right ul.text-link li a, body {
    font-size: 1.2rem;
  }
}

.primary-btn {
  font-size: 1.3rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .primary-btn {
    font-size: 1rem;
  }
}

.main-header .nav-right ul.text-link li a {
  font-size: 1.4rem;
}

.gallery-content, .menu-section, .open-time-section, .contact-section .contact-box, .contact-section, .testimonials-section, .about-section {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .gallery-content, .menu-section, .open-time-section, .contact-section .contact-box, .contact-section, .testimonials-section, .about-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .gallery-content, .menu-section, .open-time-section, .contact-section .contact-box, .contact-section, .testimonials-section, .about-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .gallery-content, .menu-section, .open-time-section, .contact-section .contact-box, .contact-section, .testimonials-section, .about-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.btn-set--left {
  display: flex;
  justify-content: flex-start;
}

.btn-set--center {
  display: flex;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 320px) and (max-width: 767px) {
  .btn-set--right {
    justify-content: center;
  }
}

.primary-btn {
  color: #3d7dbd;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.primary-btn i {
  width: 45px;
  height: 45px;
  background-color: #982224;
  border-radius: 100px;
  color: #fff;
  text-align: center;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}
.primary-btn:hover {
  color: #982224;
}
.primary-btn:hover i {
  background-color: #3d7dbd;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  background: #fff;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0px;
  color: #3c414a;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #3d7dbd;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

@media screen and (max-width: 992px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
.container-fluid {
  max-width: 100%;
  width: calc(100% - 4rem);
  padding: 0;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    width: calc(100% - 4rem);
    padding: 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-fluid {
    width: calc(100% - 4rem);
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-fluid {
    width: calc(100% - 4rem);
    padding: 0;
  }
}

.container {
  max-width: 1450px;
  width: calc(100% - 14rem);
  margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .container {
    width: calc(100% - 6rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container {
    width: calc(100% - 4rem);
  }
}

.container-sm {
  max-width: 1200px;
  width: calc(100% - 22rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .container-sm {
    width: calc(100% - 12rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-sm {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-sm {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-sm {
    width: calc(100% - 4rem);
  }
}

.white-bg {
  background: #fff;
}
.white-bg h2 {
  color: #3d7dbd;
}

.primary-bg {
  background: #982224;
  color: #fff;
}

.secondary-bg {
  background: #3d7dbd;
  color: #fff;
}
.secondary-bg h2 {
  color: #fff;
}

.drak-bg {
  background: #3c414a;
  color: #3c414a;
}
.drak-bg h2 {
  color: #3c414a;
}

.light-bg {
  background: #f5f4f0;
  color: #3c414a;
}
.light-bg h2 {
  color: #3c414a;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.desc p:first-child {
  margin: 0px;
}
.desc ul {
  margin: 1rem 0;
  padding: 0px;
  list-style: none;
}
.desc ul li {
  position: relative;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 1.5rem;
}
.desc ul li::before {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0px;
  top: 39%;
  background: #982224;
  content: "";
}

.no-margin-15 {
  margin-bottom: -15px !important;
}

.hide-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hide-desktop {
    display: block;
  }
}

.hide-mobile {
  display: block;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

/*Helpers Scss Files */
.input-field {
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.input-field label {
  font-size: 16px;
  color: #000;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea {
  border-width: 0px;
  border-color: #000;
  border-style: solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 100%;
  border-bottom: 1px #3d7dbd solid;
  font-size: 1.22rem;
  color: #3d7dbd;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled {
  opacity: 0.5;
}
.input-field input[type=text]::-webkit-input-placeholder,
.input-field input[type=email]::-webkit-input-placeholder,
.input-field input[type=password]::-webkit-input-placeholder,
.input-field input[type=number]::-webkit-input-placeholder,
.input-field input[type=date]::-webkit-input-placeholder,
.input-field textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 1.22rem;
  color: #3d7dbd;
  font-weight: 400;
}
.input-field input[type=text]::-moz-placeholder,
.input-field input[type=email]::-moz-placeholder,
.input-field input[type=password]::-moz-placeholder,
.input-field input[type=number]::-moz-placeholder,
.input-field input[type=date]::-moz-placeholder,
.input-field textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-size: 1.22rem;
  color: #3d7dbd;
  font-weight: 400;
}
.input-field input[type=text]:-ms-input-placeholder,
.input-field input[type=email]:-ms-input-placeholder,
.input-field input[type=password]:-ms-input-placeholder,
.input-field input[type=number]:-ms-input-placeholder,
.input-field input[type=date]:-ms-input-placeholder,
.input-field textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-size: 1.22rem;
  color: #3d7dbd;
  font-weight: 400;
}
.input-field input[type=text]:-moz-placeholder,
.input-field input[type=email]:-moz-placeholder,
.input-field input[type=password]:-moz-placeholder,
.input-field input[type=number]:-moz-placeholder,
.input-field input[type=date]:-moz-placeholder,
.input-field textarea:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-size: 1.22rem;
  color: #3d7dbd;
  font-weight: 400;
}
.input-field textarea {
  height: 126px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

.selectbox {
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  width: 100%;
  font-size: 18px;
  color: #fff;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 5.7rem;
  font-weight: 500;
}
@media (min-width: 992px) and (max-width: 1300px) {
  h1 {
    font-size: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  h1 {
    font-size: 2.8rem;
  }
}

h2 {
  font-size: 4rem;
  font-weight: 500;
}
@media (min-width: 992px) and (max-width: 1300px) {
  h2 {
    font-size: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 2.8rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  h2 {
    font-size: 2.1rem;
  }
}

h3 {
  font-size: 3.3rem;
  font-weight: 500;
}
@media (min-width: 992px) and (max-width: 1300px) {
  h3 {
    font-size: 2.6rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: 2.5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  h3 {
    font-size: 2.3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  h3 {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 1.9rem;
}
@media (min-width: 992px) and (max-width: 1300px) {
  h4 {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h4 {
    font-size: 1.4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  h4 {
    font-size: 1.36rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  h4 {
    font-size: 1.3rem;
  }
}

/*Layout Scss Files */
.main-header {
  padding: 2rem 0;
  background-color: #f5f4f0;
  position: sticky;
  top: 0;
  z-index: 2;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header {
    padding: 1rem 0;
  }
}
.main-header .custom-row {
  align-items: center;
}
.main-header .logo {
  width: 223px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .main-header .logo {
    width: 170px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .logo {
    width: 110px;
  }
}
.main-header .logo img {
  width: 100%;
  height: auto;
  display: block;
}
.main-header .nav-right {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .nav-right {
    display: none;
  }
}
.main-header .nav-right .nav-right-in {
  display: flex;
  align-items: center;
}
.main-header .nav-right ul.text-link {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
}
.main-header .nav-right ul.text-link li {
  margin: 0 0 0 3rem;
  padding: 0px;
}
.main-header .nav-right ul.text-link li:first-child {
  margin-left: 0px;
}
.main-header .nav-right ul.text-link li a {
  display: block;
  color: #3c414a;
  font-weight: 500;
  text-transform: uppercase;
}
.main-header .nav-right ul.text-link li a.active, .main-header .nav-right ul.text-link li a:hover {
  color: #3d7dbd;
}
.main-header .nav-right ul.text-link li.current-menu-item a {
  color: #3d7dbd;
}
.main-header .nav-right ul.info-link {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  margin-left: 4rem;
}
.main-header .nav-right ul.info-link li {
  margin: 0 0 0 1rem;
  padding: 0px;
}
.main-header .nav-right ul.info-link li a {
  width: 50px;
  height: 50px;
  display: block;
}
.main-header .nav-right ul.info-link li a.phone-icon {
  background: url("../img/icon/phone blue.svg") no-repeat center center;
}
.main-header .nav-right ul.info-link li a.email-icon {
  background: url("../img/icon/email blue.svg") no-repeat center center;
}
.main-header .nav-right ul.info-link li a:hover.phone-icon {
  background: url("../img/icon/phone red.svg") no-repeat center center;
}
.main-header .nav-right ul.info-link li a:hover.email-icon {
  background: url("../img/icon/email red.svg") no-repeat center center;
}

.nav__toggle {
  display: none;
}
@media (min-width: 320px) and (max-width: 991px) {
  .nav__toggle {
    display: block;
  }
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 25px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
}
@media (min-width: 320px) and (max-width: 991px) {
  .nav__toggle {
    margin-left: auto;
    top: 0px;
  }
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  width: 30px;
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  text-align: right;
  cursor: pointer;
  border-radius: 0px;
  height: 2px;
  background-color: #3d7dbd;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.2s;
  outline: 0;
  right: 0px;
}
.nav__toggle span {
  top: 15px;
}
.nav__toggle span::before {
  top: -10px;
}
.nav__toggle span::after {
  bottom: -10px;
}

.menu-slide .logo {
  position: relative;
  z-index: 9;
  margin: auto;
  width: 150px;
  text-align: center;
  margin-top: 2rem;
}
.menu-slide .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  background: #f5f4f0;
  left: 0;
  top: 0;
  width: 100%;
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .nav-right {
    padding-top: 6rem;
  }
}
.menu-slide .nav-right .nav-right-in {
  display: block;
}
.menu-slide .nav-right .nav-right-in .text-link {
  display: block;
}
.menu-slide .nav-right .nav-right-in .text-link li {
  margin: 10px 0;
  padding: 0px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .menu-slide .nav-right .nav-right-in .text-link li {
    margin: 25px 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .nav-right .nav-right-in .text-link li {
    margin: 10px 0;
  }
}
.menu-slide .nav-right .nav-right-in .text-link li a {
  text-align: center;
  font-size: 2rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .nav-right .nav-right-in .text-link li a {
    font-size: 1.8rem;
  }
}
.menu-slide .nav-right .nav-right-in .info-link {
  margin: 2rem 0 0;
  justify-content: center;
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .nav-right .nav-right-in .info-link {
    margin: 1rem 0 0;
  }
}
.menu-slide .nav-right .nav-right-in .info-link li {
  padding: 0px;
  margin: 0 5px;
}
.menu-slide .nav-right .nav-right-in .info-link li a {
  width: 60px;
  height: 60px;
}
.menu-slide .nav__toggle {
  position: absolute;
  top: 45px;
  right: 28px;
}
.menu-slide .nav__toggle span {
  background-color: transparent;
}
.menu-slide .nav__toggle span::before, .menu-slide .nav__toggle span::after {
  top: 0;
  background-color: #3c414a;
}
.menu-slide .nav__toggle span::before {
  transform: rotate(45deg);
}
.menu-slide .nav__toggle span::after {
  transform: rotate(-45deg);
}
.menu-slide .nav__toggle:hover span {
  background-color: transparent;
}
.menu-slide .nav__toggle:hover span::before, .menu-slide .nav__toggle:hover span::after {
  background-color: #3c414a;
}

.main-footer {
  background-color: #3c414a;
  padding: 1.5rem 0;
  font-size: 1rem;
}
.main-footer .custom-row {
  align-items: center;
}
.main-footer .footer-social-media-icon {
  width: 33.33%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-social-media-icon {
    width: 100%;
    margin: 2rem 0;
  }
}
.main-footer .footer-social-media-icon ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-social-media-icon ul {
    justify-content: center;
  }
}
.main-footer .footer-social-media-icon ul li {
  margin: 0 0 0 1rem;
  padding: 0px;
}
.main-footer .footer-social-media-icon ul li:first-child {
  margin: 0px;
}
.main-footer .footer-social-media-icon ul li a {
  width: 50px;
  height: 50px;
  display: block;
}
.main-footer .footer-social-media-icon ul li a.insta-icon {
  background: url("../img/icon/insta white-01.svg") no-repeat center center;
}
.main-footer .footer-social-media-icon ul li a.phone-icon {
  background: url("../img/icon/phone white.svg") no-repeat center center;
}
.main-footer .footer-social-media-icon ul li a.email-icon {
  background: url("../img/icon/email white.svg") no-repeat center center;
}
.main-footer .footer-social-media-icon ul li a:hover {
  opacity: 0.6;
}
.main-footer .footer-logo {
  width: 33.33%;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-logo {
    width: 100%;
  }
}
.main-footer .footer-logo a {
  display: block;
  width: 200px;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .footer-logo a {
    width: 170px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-logo a {
    width: 170px;
  }
}
.main-footer .footer-logo a img {
  width: 100%;
  height: auto;
  display: block;
}
.main-footer .footer-right {
  margin-left: auto;
  width: 33.33%;
  text-align: right;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
}
.main-footer .footer-right .footer-text {
  color: #fff;
}
.main-footer .footer-right .footer-text .footer-text-top a {
  color: #fff;
  text-transform: capitalize;
}
.main-footer .footer-right .footer-text .footer-text-top a:hover {
  opacity: 0.6;
}
.main-footer .footer-right .footer-text .footer-text-btm {
  margin-top: 5px;
}
.main-footer .footer-right .footer-text .footer-text-btm a {
  color: #fff;
  font-weight: 500;
}
.main-footer .footer-right .footer-text .footer-text-btm a:hover {
  opacity: 0.6;
}

/*Components Scss Files */
.heroslider .slick-slide {
  position: relative;
}
.heroslider .hero-slider-item-img {
  position: relative;
}
.heroslider .hero-slider-item-img img {
  width: 100%;
  height: auto;
  display: block;
}
.heroslider .slick-dots {
  position: absolute;
  bottom: 2rem;
  left: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 2rem 0 0 0;
  padding: 0px;
}
@media (min-width: 1300px) and (max-width: 1700px) {
  .heroslider .slick-dots {
    left: 10rem;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  .heroslider .slick-dots {
    left: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .heroslider .slick-dots {
    left: 0rem;
    text-align: center;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .heroslider .slick-dots {
    left: 0rem;
    text-align: center;
    width: 100%;
  }
}
.heroslider .slick-dots li {
  margin: 0 0 0 1rem;
  padding: 0px;
}
.heroslider .slick-dots li button {
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  border: 0px #fff solid;
  border-radius: 80px;
  text-indent: -9999px;
  display: block;
  width: 25px;
  padding: 0;
  height: 25px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .heroslider .slick-dots li button {
    width: 20px;
    height: 20px;
  }
}
.heroslider .slick-dots li.slick-active button {
  background: #fff;
}

.about-section .about-section-text {
  width: 100%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .about-section .about-section-text {
    width: 100%;
    padding-right: 0%;
    padding-bottom: 0rem;
  }
}
.about-section .about-section-text p br {
  display: none;
}
.about-section .about-section-text h3 {
  margin: 0px;
  font-weight: 500;
}
.about-section .about-section-text .desc {
  margin: 4rem 0 0 auto;
  width: 50%;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 991px) {
  .about-section .about-section-text .desc {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-section .about-section-text .desc {
    width: 100%;
    margin: 3rem 0 0 0;
  }
}

.testimonials-section .custom-row {
  align-items: center;
}
.testimonials-section .testimonials-left {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .testimonials-left {
    width: 100%;
    margin-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-left {
    width: 100%;
    margin-top: 3rem;
  }
}
.testimonials-section .testimonials-left img {
  width: 100%;
  height: auto;
  display: block;
}
.testimonials-section .testimonials-right {
  width: 40%;
  margin-left: auto;
  font-size: 1.7rem;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .testimonials-section .testimonials-right {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .testimonials-right {
    width: 100%;
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-right {
    width: 100%;
    font-size: 1.3rem;
  }
}
.testimonials-section .testimonials-right p {
  margin: 0px;
  font-weight: 400;
}
.testimonials-section .testimonials-right span {
  display: block;
  text-align: right;
  color: #3d7dbd;
  text-transform: uppercase;
  margin-top: 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-right span {
    font-size: 1.1rem;
  }
}

.contact-section {
  background: #982224;
}
.contact-section .contact-box .contact-box-left ul li a i {
  width: 60px;
  height: 60px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-box .contact-box-left ul li a i {
    width: 50px;
    height: 50px;
  }
}
.contact-section .contact-box {
  position: relative;
}
.contact-section .contact-box::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;
  border-top: 1px #fff solid;
  max-width: 800px;
  height: 2px;
  margin: auto;
}
.contact-section .contact-box:last-child {
  padding-bottom: 0px;
}
.contact-section .contact-box:last-child::after {
  display: none;
}
.contact-section .contact-box .contact-box-left {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-box .contact-box-left {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-box .contact-box-left {
    width: 100%;
  }
}
.contact-section .contact-box .contact-box-left h3 {
  color: #fff;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}
.contact-section .contact-box .contact-box-left ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.contact-section .contact-box .contact-box-left ul li {
  margin: 2.5rem 0 0 0;
  padding: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-box .contact-box-left ul li {
    margin: 1.5rem 0 0 0;
  }
}
.contact-section .contact-box .contact-box-left ul li a {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #fff;
  font-size: 1.8rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-box .contact-box-left ul li a {
    font-size: 1.4rem;
  }
}
.contact-section .contact-box .contact-box-left ul li a i.map-icon {
  background: url("../img/icon/map pin white.svg") no-repeat center top;
}
.contact-section .contact-box .contact-box-left ul li a i.phone-icon {
  background: url("../img/icon/phone white.svg") no-repeat center top;
}
.contact-section .contact-box .contact-box-left ul li a i.email-icon {
  background: url("../img/icon/email white.svg") no-repeat center top;
}
.contact-section .contact-box .contact-box-left ul li a span {
  width: calc(100% - 60px);
  padding-left: 15px;
  padding-top: 10px;
  line-height: 2.4rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-box .contact-box-left ul li a span {
    width: calc(100% - 50px);
    padding-left: 10px;
    line-height: inherit;
  }
}
.contact-section .contact-box .contact-box-right {
  width: 45%;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-box .contact-box-right {
    width: 100%;
    margin-top: 4rem;
    margin-left: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-box .contact-box-right {
    width: 100%;
    margin-top: 2rem;
    margin-left: 0;
  }
}
.contact-section .contact-box .contact-box-right .map-box {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.contact-section .contact-box .contact-box-right .map-box img {
  width: 100%;
  height: auto;
  display: block;
}
.contact-section .contact-box .contact-box-right .take-me-button {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}
.contact-section .contact-box .contact-box-right .take-me-button a {
  border-radius: 10px;
  padding: 20px 2rem 20px 5rem;
  color: #3d7dbd;
  font-weight: 500;
  background: #f5f4f0 url("../img/icon/map pin blue.svg") no-repeat 1rem center;
  background-size: 40px;
}
.contact-section .contact-box .contact-box-right .take-me-button a:hover {
  background: #f5f4f0 url("../img/icon/map pin red.svg") no-repeat 1rem center;
  background-size: 40px;
  color: #982224;
}

.two-link-section {
  overflow: hidden;
}
.two-link-section .two-link-box {
  position: relative;
  width: 50%;
  overflow: hidden;
}
@media (min-width: 320px) and (max-width: 567px) {
  .two-link-section .two-link-box {
    width: 100%;
  }
}
.two-link-section .two-link-box .two-link-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.2s;
}
.two-link-section .two-link-box .two-link-img img {
  width: 100%;
  height: auto;
  display: block;
}
.two-link-section .two-link-box .two-link-txt {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0.03) 59%, rgba(0, 0, 0, 0.65) 100%);
}
.two-link-section .two-link-box .two-link-txt h2 {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .two-link-section .two-link-box .two-link-txt h2 {
    padding: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .two-link-section .two-link-box .two-link-txt h2 {
    padding: 1rem;
  }
}
.two-link-section .two-link-box .two-link-txt h2 a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .two-link-section .two-link-box .two-link-txt h2 a {
    line-height: 3.3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .two-link-section .two-link-box .two-link-txt h2 a {
    line-height: 2.6rem;
  }
}
.two-link-section .two-link-box:hover .two-link-img {
  transform: scale(1.1);
}
.two-link-section .two-link-box:hover .two-link-txt {
  background: rgba(0, 0, 0, 0.4);
}

.see-our-gallery-section {
  position: relative;
}
.see-our-gallery-section .see-our-gallery-box {
  width: 25%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .see-our-gallery-section .see-our-gallery-box {
    width: 50%;
  }
}
.see-our-gallery-section .see-our-gallery-box img {
  width: 100%;
  height: auto;
  display: block;
}
.see-our-gallery-section h2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.see-our-gallery-section h2 a {
  background: #982224;
  color: #fff;
  padding: 1rem 2rem;
}
.see-our-gallery-section h2 a:hover {
  background: #3d7dbd;
}

.open-time-section .open-time-box {
  width: 33.33%;
  padding: 0 4%;
  border-right: 1px #3d7dbd dotted;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .open-time-section .open-time-box {
    padding: 0 2%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .open-time-section .open-time-box {
    width: 100%;
    border-right: 0px;
    border-bottom: 1px #3d7dbd dotted;
    padding: 2rem 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .open-time-section .open-time-box {
    width: 100%;
    border-right: 0px;
    border-bottom: 1px #3d7dbd dotted;
    padding: 2rem 0;
  }
}
.open-time-section .open-time-box:last-child {
  border-right: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .open-time-section .open-time-box:last-child {
    border-bottom: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .open-time-section .open-time-box:last-child {
    border-bottom: 0px;
  }
}
.open-time-section .open-time-box h4 {
  color: #982224;
  margin: 0px;
}
.open-time-section .open-time-box ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  margin-top: 2rem;
}
.open-time-section .open-time-box ul li {
  margin: 10px 0;
  padding: 0px;
  display: flex;
}
.open-time-section .open-time-box ul li .day-name {
  color: #982224;
  width: 55%;
  padding-right: 1rem;
  text-transform: uppercase;
}
.open-time-section .open-time-box ul li .time-name {
  color: #3c414a;
  margin-left: auto;
  width: 45%;
}

.page-hero-section {
  position: relative;
}
.page-hero-section .page-hero-img img {
  width: 100%;
  height: auto;
  display: block;
}
.page-hero-section .page-hero-hd {
  position: absolute;
  width: 100%;
  bottom: -65px;
  left: 0px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-section .page-hero-hd {
    bottom: -50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-hero-section .page-hero-hd {
    bottom: -55px;
  }
}
.page-hero-section .page-hero-hd h1 {
  background: #982224;
  color: #fff;
  margin: 0px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  min-width: 600px;
  text-align: center;
  display: block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-section .page-hero-hd h1 {
    min-width: 100px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-hero-section .page-hero-hd h1 {
    min-width: 100px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hero-section .page-hero-hd h1 {
    min-width: 100px;
  }
}

.contact .page-hero-section {
  position: relative;
}
.contact .page-hero-section .page-hero-hd h1 {
  background: #f5f4f0;
  color: #982224;
}

.menu-section .container-sm {
  max-width: 1273px;
  width: calc(100% - 5rem);
}
@media (min-width: 320px) and (max-width: 567px) {
  .menu-section .container-sm {
    width: calc(100% - 2rem);
  }
}
.menu-section .notify {
  text-align: center;
  margin-bottom: 3rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-section .notify {
    margin-top: 2rem;
  }
}
.menu-section .notify br {
  display: none;
}
.menu-section .notify strong {
  color: #982224;
  font-weight: 400;
}
.menu-section .menu-tabs {
  position: relative;
  z-index: 1;
}
.menu-section h4.menu-subcatg-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 2.3rem;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .menu-section h4.menu-subcatg-title {
    font-size: 2.1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu-section h4.menu-subcatg-title {
    font-size: 1.8rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-section h4.menu-subcatg-title {
    font-size: 1.6rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .menu-section h4.menu-subcatg-title {
    font-size: 1.4rem;
  }
}
.menu-section .menu-tabs-box {
  position: relative;
}
.menu-section .menu-tabs-box .menu-tabs-box-top {
  position: relative;
  max-width: 800px;
  margin: auto;
  border-bottom: 1px #3c414a solid;
  padding: 1rem 0;
}
.menu-section .menu-tabs-box .menu-tabs-box-top h3 {
  margin: 0px;
  padding: 0 0px 0 0;
  color: #3d7dbd;
  text-align: center;
  font-weight: 400;
  background: transparent url("../img/icon/angel-right-thin.svg") no-repeat right center;
  background-size: 35px;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu-section .menu-tabs-box .menu-tabs-box-top h3 {
    background-size: 30px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-section .menu-tabs-box .menu-tabs-box-top h3 {
    background-size: 26px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .menu-section .menu-tabs-box .menu-tabs-box-top h3 {
    background-size: 20px;
  }
}
.menu-section .menu-tabs-box:last-child .menu-tabs-box-top {
  border-bottom: 0px;
}
.menu-section .menu-tabs-box .menu-tabs-box-btm {
  display: none;
}
.menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li {
  width: 47%;
  padding: 0px;
  margin: 2rem 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li {
    width: 100%;
    margin: 1rem 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li {
    width: 100%;
    margin: 1rem 0;
  }
}
.menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li:nth-child(2n+2) {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li:nth-child(2n+2) {
    margin-left: 0;
  }
}
.menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li strong {
  display: block;
  font-weight: 400;
  color: #3c414a;
  line-height: 1.7rem;
  margin-top: 2px;
}
.menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li .items {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-weight: 500;
  font-size: 1.6rem;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li .items {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li .items {
    font-size: 1.4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li .items {
    font-size: 1.4rem;
    font-height: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li .items {
    font-size: 1.3rem;
    font-height: 1.5rem;
  }
}
.menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li .items::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 25px;
  border-top: 2px #3d7dbd dotted;
  width: 100%;
  height: 2px;
}
.menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li .items .items-name {
  background-color: #f5f4f0;
  color: #982224;
  padding: 0 10px 0 0;
  position: relative;
  z-index: 8;
  max-width: 78%;
  line-height: 2rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li .items .items-name {
    line-height: 1.8rem;
  }
}
.menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li .items .items-name i {
  font-style: normal;
  font-size: 1.3rem;
  font-weight: 600;
  white-space: nowrap;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li .items .items-name i {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li .items .items-name i {
    font-size: 1.1rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li .items .items-name i {
    font-size: 1.1rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li .items .items-name i {
    font-size: 1rem;
  }
}
.menu-section .menu-tabs-box .menu-tabs-box-btm .menu-tabs-content ul li .items .items-price {
  margin-left: auto;
  background-color: #f5f4f0;
  color: #982224;
  padding: 0 0 0 10px;
  position: relative;
  z-index: 8;
}
.menu-section .menu-tabs-box.show {
  padding-bottom: 3rem;
}
.menu-section .menu-tabs-box.show::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;
  border-top: 1px #3c414a solid;
  max-width: 800px;
  height: 2px;
  margin: auto;
}
.menu-section .menu-tabs-box.show .menu-tabs-box-top {
  border-bottom: 0px;
}
.menu-section .menu-tabs-box.show .menu-tabs-box-top h3 {
  background: transparent url("../img/icon/x-mark-thin.svg") no-repeat right center;
  background-size: 35px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu-section .menu-tabs-box.show .menu-tabs-box-top h3 {
    background-size: 30px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-section .menu-tabs-box.show .menu-tabs-box-top h3 {
    background-size: 26px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .menu-section .menu-tabs-box.show .menu-tabs-box-top h3 {
    background-size: 20px;
  }
}
.menu-section .menu-tabs-box.show .menu-tabs-box-btm {
  display: block;
}

.additional-toppings-box {
  text-align: center;
  padding: 2rem 0;
}
.additional-toppings-box .red-hd,
.additional-toppings-box .gray-text {
  text-align: center;
}

.red-hd {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  color: #3c414a;
  margin-top: 10px;
  color: #982224;
}
@media (min-width: 768px) and (max-width: 991px) {
  .red-hd {
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .red-hd {
    font-size: 1.3rem;
  }
}

.gray-text {
  display: block;
  font-weight: 400;
  color: #3c414a;
  margin-top: 5px;
}

.wine-price-list .items {
  margin-top: 5px;
}

.gallery-content {
  padding-top: 9rem;
}
.gallery-content .center-text {
  text-align: center;
  max-width: 700px;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .gallery-content {
    padding-top: 7rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .gallery-content {
    padding-top: 7rem;
  }
}

.gallery-container .gallery-box {
  height: 400px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .gallery-container .gallery-box {
    height: 250px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .gallery-container .gallery-box {
    height: 215px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .gallery-container .gallery-box {
    height: 300px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .gallery-container .gallery-box {
    height: 300px;
  }
}

.gallery-container .gallery-box:nth-child(31), .gallery-container .gallery-box:nth-child(26), .gallery-container .gallery-box:nth-child(21), .gallery-container .gallery-box:nth-child(16), .gallery-container .gallery-box:nth-child(11), .gallery-container .gallery-box:nth-child(10), .gallery-container .gallery-box:nth-child(1) {
  height: 810px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .gallery-container .gallery-box:nth-child(31), .gallery-container .gallery-box:nth-child(26), .gallery-container .gallery-box:nth-child(21), .gallery-container .gallery-box:nth-child(16), .gallery-container .gallery-box:nth-child(11), .gallery-container .gallery-box:nth-child(10), .gallery-container .gallery-box:nth-child(1) {
    height: 510px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .gallery-container .gallery-box:nth-child(31), .gallery-container .gallery-box:nth-child(26), .gallery-container .gallery-box:nth-child(21), .gallery-container .gallery-box:nth-child(16), .gallery-container .gallery-box:nth-child(11), .gallery-container .gallery-box:nth-child(10), .gallery-container .gallery-box:nth-child(1) {
    height: 440px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .gallery-container .gallery-box:nth-child(31), .gallery-container .gallery-box:nth-child(26), .gallery-container .gallery-box:nth-child(21), .gallery-container .gallery-box:nth-child(16), .gallery-container .gallery-box:nth-child(11), .gallery-container .gallery-box:nth-child(10), .gallery-container .gallery-box:nth-child(1) {
    height: 300px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .gallery-container .gallery-box:nth-child(31), .gallery-container .gallery-box:nth-child(26), .gallery-container .gallery-box:nth-child(21), .gallery-container .gallery-box:nth-child(16), .gallery-container .gallery-box:nth-child(11), .gallery-container .gallery-box:nth-child(10), .gallery-container .gallery-box:nth-child(1) {
    height: 300px;
  }
}

.gallery-section {
  overflow: hidden;
}

.gallery-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
}
@media (min-width: 568px) and (max-width: 767px) {
  .gallery-container {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    flex-wrap: wrap;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .gallery-container {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.gallery-container .gallery-box {
  text-align: center;
  padding: 0;
  overflow: hidden;
}
@media (min-width: 568px) and (max-width: 767px) {
  .gallery-container .gallery-box {
    width: 49%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .gallery-container .gallery-box {
    padding-top: 10px;
  }
  .gallery-container .gallery-box:first-child {
    padding-top: 0px;
  }
}
.gallery-container .gallery-box a {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  transition: transform 0.2s;
}
.gallery-container .gallery-box a:hover {
  transform: scale(1.1);
}
.gallery-container .gallery-box:nth-child(1) {
  grid-area: 1/1/span 2/span 2;
}
.gallery-container .gallery-box:nth-child(10) {
  grid-area: 3/3/span 2/span 2;
}
.gallery-container .gallery-box:nth-child(11) {
  grid-area: 5/1/span 2/span 2;
}
.gallery-container .gallery-box:nth-child(16) {
  grid-area: 7/3/span 2/span 2;
}
.gallery-container .gallery-box:nth-child(21) {
  grid-area: 9/1/span 2/span 2;
}
.gallery-container .gallery-box:nth-child(26) {
  grid-area: 11/3/span 2/span 2;
}
.gallery-container .gallery-box:nth-child(31) {
  grid-area: 13/1/span 2/span 2;
}

.fancybox__backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.fancybox__carousel {
  width: 90%;
  margin: auto;
}
@media (min-width: 320px) and (max-width: 1260px) {
  .fancybox__carousel {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 567px) {
  .is-horizontal .fancybox__nav .f-button.is-next {
    right: 0 !important;
    top: 50% !important;
  }
}

@media (min-width: 320px) and (max-width: 567px) {
  .is-horizontal .fancybox__nav .f-button.is-prev {
    left: 0 !important;
    top: 50% !important;
  }
}

.is-compact .fancybox__content > .f-button.is-close-btn {
  background-color: #982224;
  border-radius: 0;
  color: #fff;
  top: 0;
  right: 0rem;
  padding: 0px;
  opacity: 1 !important;
  width: 50px;
  height: 50px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .is-compact .fancybox__content > .f-button.is-close-btn {
    width: 30px;
    height: 30px;
  }
}
.is-compact .fancybox__content > .f-button.is-close-btn svg {
  width: 100%;
  height: 100%;
}

.fancybox-image {
  object-fit: cover;
}

.fancybox__backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.f-button:hover:not([disabled]) {
  background-color: transparent;
}

.fancybox__nav button svg {
  color: #fff;
  width: 50px;
  height: 50px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .fancybox__nav button svg {
    width: 30px;
    height: 30px;
  }
}

.page-not-foumd {
  min-height: 600px;
}
.page-not-foumd .blog-block-text {
  text-align: center;
}
.page-not-foumd h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
}

.page-title h1 {
  margin: 0px;
  padding: 0px;
  color: #982224;
  font-size: 3.2rem;
}

.single-service .full-bg-hero .page-hero-content-outer .page-hero-content h1::after {
  background: transparent;
}

.privacy-policy h1,
.privacy-policy h2,
.privacy-policy h3,
.privacy-policy h4,
.privacy-policy h5 {
  margin-bottom: 0px;
}
.privacy-policy h2 {
  font-size: 2.2rem;
}
.privacy-policy h3 {
  font-size: 2rem;
}

/*# sourceMappingURL=global.css.map */
