$footer-font: 14px;

.main-footer {
    background: $secondary-color;
    padding: 2rem 0;

    .custom-row {
        align-items: center;
    }

    .footer-social-media {
        width: 25%;
        @include breakpoint(ipad_portrait) {
            width: 41%;
        }
        @include breakpoint(mobile) {
            width: 100%;
        }

        ul.social-media-icon {
            display: flex;
            margin: 0px;
            padding: 0px;
            @include breakpoint(mobile) {
                justify-content: center;
                margin-top: 1.5rem;
            }

            li {
                margin: 0 2rem 0 0;

                &:last-child {
                    margin-right: 0px;
                }

                padding: 0px;

                a {
                    display: block;
                    width: 40px;
                    height: 40px;
                    background-position: center bottom;

                    &.facebook-white-icon {
                        background-size: 53%;
                    }

                    &.twitter-white-icon {
                        background-size: 100%;
                    }

                    &.linkedin-white-icon {
                        background-size: 87%;
                    }

                    &.youtube-white-icon {
                        background-size: 100%;
                    }
                }
            }
        }
    }

    .footer-logo {
        width: 50%;
        text-align: center;
        @include breakpoint(ipad_portrait) {
            width: 34%;
        }
        @include breakpoint(mobile) {
            width: 100%;
            
        }

        .logo-img {
            width: 187px;
            display: block;
            margin: auto;

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }

    .footer-info {
        width: 25%;
        text-align: right;

        @include breakpoint(mobile) {
            width: 100%;
            text-align: center;
            margin-top: 1.5rem;
        }

        .copy-right {
            color: $white;
            font-size: $footerTxtFont;
            margin: 10px 0 0 0;
            font-weight: 300;

            a {
                color: $white;
                font-size: $footerTxtFont;
                font-weight: 300;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        ul {
            @include ul;

            li {
                margin: 0px;
                padding: 0px;

                a {
                    display: block;
                    color: $white;
                    font-size: $footerTxtFont;
                    font-weight: 300;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}