.main-header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;


  .logohide {
    display: none;
  }

  .logoshow {
    display: block;
  }

  header {
    position: relative;
    padding: 1rem 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    @include breakpoint(mobile_nav) {
      padding: 1rem 0;
    }
  }

  .custom-row {
    align-items: center;
    position: relative;
    z-index: 2;

    @include breakpoint(mobile_nav) {
      align-items: center;
    }
  }

  .container-fluid {
    @include breakpoint(mobile_portrait) {
      width: calc(100% - 1rem);
    }
  }

  .logo {
    width: 275px;

    @media (min-width: 1300px) and (max-width: 1480px) {
      width: 240px;
    }


    @media (min-width: 991px) and (max-width: 1299px) {
      width: 240px;
    }

    @include breakpoint(ipad_portrait) {
      width: 170px;
    }

    @include breakpoint(mobile_landscape) {
      width: 150px;
    }

    @include breakpoint(mobile_portrait) {
      width: 140px;
    }

    a {
      padding: 0;
      z-index: 3;
      display: block;

      img {

        width: 100%;
        position: relative;
        z-index: 2;
      }
    }
  }

  .top-hdr-right {
    margin-left: auto;

    @include breakpoint(mobile_nav) {
      display: none;
      margin-left: 0;
    }
  }
}

.nav-desktop {
  @include breakpoint(mobile_nav) {
    display: none;
  }
}

.nav-responsive {
  display: none;
}

.nav_menu {
  .nav_menu_inner {
    display: flex;
    align-items: center;

    @include breakpoint(mobile_nav) {
      display: block;
    }
  }

  nav {
    margin-top: 0px;
    margin-right: 15px;
  }
}

.sm-header {
  #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
    color: $secondary-color;
  }

  .nav__toggle {
    span {
      background-color: $secondary-color;

      &::before,
      &::after {
        background-color: $secondary-color;
      }


    }

    &:hover {
      span {
        background-color: $secondary-color;

        &::before,
        &::after {
          background-color: $secondary-color;
        }
      }
    }
  }

  .main-header {
    header {
      padding: 1rem 0;
      @include breakpoint(mobile_nav){
        padding: 0.6rem 0;
      }
    }

    .logo {
      width: 200px;

      @include breakpoint(ipad_portrait) {
        width: 135px;
      }

      @include breakpoint(mobile_landscape) {
        width: 150px;
      }

      @include breakpoint(mobile_portrait) {
        width: 140px;
      }
    }

    .logohide {
      display: block;
    }

    .logoshow {
      display: none;
    }

    header {
      &::after {
        position: absolute;
        width: 100%;
        content: "";
        height: 100%;
        background: $white;
        left: 0px;
        top: 0px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
      }

    }
  }

}

.drop-down-open {
  #mega-menu-wrap-primary #mega-menu-primary>li.mega-menu-item>a.mega-menu-link {
    color: $secondary-color;
  }

  .nav__toggle {
    span {
      background-color: $secondary-color;

      &::before,
      &::after {
        background-color: $secondary-color;
      }


    }

    &:hover {
      span {
        background-color: $secondary-color;

        &::before,
        &::after {
          background-color: $secondary-color;
        }
      }
    }
  }

  .main-header {
    .logohide {
      display: block;
    }

    .logoshow {
      display: none;
    }

    header {
      &::after {
        position: absolute;
        width: 100%;
        content: "";
        height: 100%;
        background: $white;
        left: 0px;
        top: 0px;

      }

    }
  }
}


.nav__toggle {
  display: none;

  @include breakpoint(mobile_nav) {
    display: block;
  }
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 25px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;

  @include breakpoint(mobile_nav) {
    margin-left: auto;
    top: 0px;
  }

  span {
    width: 25px;
  }

  span::before,
  span::after {
    width: 30px;
  }

  span,
  span::before,
  span::after {
    text-align: right;
    cursor: pointer;
    border-radius: 0px;
    height: 2px;
    background-color: $white;
    position: absolute;
    display: block;
    content: "";
    transition: all 0.2s;
    outline: 0;
    right: 0px;
  }

  span {
    // left: 3px;
    top: 15px;

    &::before {
      top: -10px;
    }

    &::after {
      bottom: -10px;
    }
  }
}

.menu-slide {
  overflow: hidden;
  height: 100%;

  .nav-responsive {
    display: block;
    @include breakpoint(ipad){
      margin-bottom: 70px;
    }
  }
  .main-header .logo {
   
    @include breakpoint(ipad){
      width: 160px;
    }
    @include breakpoint(mobile_landscape){
      width: 150px;
    }
    @include breakpoint(mobile_portrait){
      width: 140px;
    }
   }

  #mega-menu-wrap-max_mega_menu_1 .mega-menu-toggle,
  .header-social-media {
    display: none;
  }

  header {
    &::after {
      background: $white;

    }
  }

  .main-header {
    height: 100vh;
    background: $white;

    .top-hdr-right {
      display: block;
      position: absolute;
      width: 100%;
      height: calc(100vh - 70px);
      top: 70px;
      left: 0px;
      padding: 0;


      .nav_menu {
        padding: 2rem 0 3rem;
        width: 100%;
        height: 100%;
        display: flex;
        overflow: auto;
        background-color: $primary-color;

        .nav_menu_inner {
          justify-content: center;
          width: auto;
          margin: auto;

          .nav-responsive {
            ul {
              margin: 0px;
              padding: 0px;
              list-style: none;
              text-align: center;

              li {
                margin: 0px;
                padding: 0.7rem 1rem;

                &.menu-item-has-children {
                  position: relative;

                  a {
                    font-size: 22px;
                    color: $secondary-color;
                    font-family: $secondaryfontfaimly;
                    @include breakpoint(ipad){
                      font-size: 26px;
                    }
                  }

                  .sub-menu-toggle {
                    background: url("#{$assetIconsPath}/menu-close.svg") no-repeat center center;
                    height: 15px;
                    border: 0px;
                    padding: 0px;
                    cursor: pointer;
                    width: 10px;
                    margin: 0 0 0 15px;
                    display: inline;
                    position: absolute;
                    top: 18px;
                    @include breakpoint(ipad){
                      top: 23px;
                    }
                  }
                }

                a {
                  color: $secondary-color;
                  font-size: 22px;
                  text-transform: uppercase;
                  font-weight: 400;
                  @include breakpoint(ipad){
                    font-size: 26px;
                  }
                }

                ul {
                  display: none;
                  margin-top: 10px;
                  margin-bottom: 20px;

                  li {
                    padding: 0.4rem 0;

                    a {
                      font-size: 17px !important;
                      @include breakpoint(ipad){
                        font-size: 21px !important;
                      }
                    }

                    .sub-menu-toggle {
                      display: none !important;
                    }
                  }
                }

                &.submenu-expanded {
                  
                  .sub-menu-toggle {
                    background: url("#{$assetIconsPath}/menu-open.svg") no-repeat center center;
                  }

                  ul {
                    display: block;


                    li {
                      padding: 5px 0;

                      ul {
                        li {
                          padding: 0.4rem 0;
                        }
                      }
                    }
                  }
                }

              }
            }
          }
        }
      }
    }
  }

  .nav__toggle {
    span {
      background-color: transparent;

      &::before,
      &::after {
        top: 0;
        background-color: $secondary-color;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      span {
        background-color: transparent;

        &::before,
        &::after {
          background-color: $secondary-color;
        }
      }
    }
  }

  .sm-header,
  .drop-down-open {
    .nav__toggle {
      span {
        background-color: transparent;
      }

      &:hover {
        span {
          background-color: transparent;
        }
      }
    }
  }
}

.menu-slide .main-header .top-hdr-right .nav_menu .nav_menu_inner .nav-responsive ul li.current_page_item {
  a {
    color: $white;
    font-weight: 700;
  }

  ul {
    a {
      color: $secondary-color;
      font-weight: 400;
    }
  }
}

.menu-slide .main-header .top-hdr-right .nav_menu .nav_menu_inner .nav-responsive ul li.current_page_ancestor {
  a {
    color: $white;
    font-weight: 700;
  }
  .sub-menu-toggle{
    background: url("#{$assetIconsPath}/menu-close-white.svg") no-repeat center center;
  }
  &.submenu-expanded {
    .sub-menu-toggle{
      background: url("#{$assetIconsPath}/menu-open-white.svg") no-repeat center center;
    }
  }

  ul {
    a {
      color: $secondary-color;
      font-weight: 400;
    }

    .current-menu-item a {
      color: $white;
      font-weight: 700;
    }
  }
}