/**
 * ----------------------
 * Blooberry Design
 * Base - Typography
 * ----------------------
 */

/**
 * Config
 */
@mixin font-body {
  font-family: $font-body -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;

  // [lang='ru-RU'] & {
  //   font-family: $font-body-cy, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  // }
}

@mixin font-bold {
  // font-weight: bold;
  font-weight: 500;
}

@mixin font-title {
  font-family: $font-title, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  // font-weight: normal;
  font-weight: 700;

  // [lang='ru-RU'] & {
  //   font-family: $font-bold-cy, Georgia, 'Times New Roman', Times, serif;
  //   font-weight: bold;
  // }
}

@mixin link-reset {
  padding-bottom: 0;
  border: 0;

  &:hover {
    border-bottom-color: inherit;
  }
}

@mixin link-reverse {
  border-color: transparent;

  &:hover {
    border-color: $c-white;
  }
}

@mixin link-ext {
  &[target='_blank'] {
    margin-right: 19px;
    position: relative;

    &::after {
      content: '';
      display: block;
      @include bg-img(contain);
      background-image: url('../icon/offsite.svg');
      width: 13px;
      height: 13px;
      position: absolute;
      right: -19px;
      top: 1px;
    }
  }
}

/**
 * Heading
 */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @include font-title;
  margin-top: 0;
  color: $c-blue;
  margin-bottom: $bump/2;
}

h1,
.h1 {
  @include ms-respond(font-size, 4);
  line-height: 1.1;
}

h2,
.h2 {
  @include ms-respond(font-size, 2);
  line-height: 1.15;
}

h3,
.h3 {
  @include ms-respond(font-size, 1);
  line-height: 1.3;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @include ms-respond(font-size, 0);
  line-height: 1.4;
}

/**
 * Paragraphs
 */
p {
  margin: 0 0 $bump/2;

  &:first-of-type {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

/**
 * Lists
 */
ul,
ol {
  margin: 1.5rem 0;
  list-style-position: inside;
  padding-left: 0;
}

/**
 * Links
 */
a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
  transition: 0.1s $easing;
  color: $c-lt-blue;
  color: var(--accent);
  padding-bottom: 1px;
  border-bottom: 1px solid $c-white;

  main & {
    border-color: $c-lt-blue;
    border-color: var(--accent);
  }

  &:hover {
    border-bottom-color: transparent;
  }

  &:focus {
    outline: 3px dashed currentColor;

    @include focus-visible() {
      outline: 0;
    }
  }
}

.no-click {
  pointer-events: none;
  cursor: default;
}

::selection {
  background-color: transparentize($c-yellow, 0.5);
  color: $c-black;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
}

/**
 * Inline
 */
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

span {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-size: inherit;
}

address {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  font-style: normal;
}

small {
  font-size: 90%;
}

/**
 * Quote
 */
blockquote {
  margin: 1.5em 0;

  p {
    margin: 0;
    @include ms-respond(font-size, 2);
    font-style: italic;

    @include media('<sm') {
      @include ms-respond(font-size, 1);
    }
  }

  footer {
    margin-top: 1.5em;
  }

  cite {
    font-style: normal;
    font-weight: bold;
  }
}

hr {
  border: solid $c-primary;
  border-width: 0 0 3px 0;
  margin: 1.5rem 0;
}

figure {
  margin: 0;
}
