.wpforms-container input.wpforms-field-medium, .wpforms-container select.wpforms-field-medium, .wpforms-container .wpforms-field-row.wpforms-field-medium, .wp-core-ui div.wpforms-container input.wpforms-field-medium, .wp-core-ui div.wpforms-container select.wpforms-field-medium, .wp-core-ui div.wpforms-container .wpforms-field-row.wpforms-field-medium{
	max-width: 100%;
}

.contact-social{
	background-color: #f1f1f1;
	padding: 20px;
	margin-top: 30px;
	h2{
		margin: 0 0 30px;
		padding: 0px;
	}
	ul{
	  margin: 0px;
	  padding: 0px;
	  list-style: none;
	  display: flex;
	  align-items: center;
	  
	  
	  li{
		margin: 0;
		padding:0 20px 0 0;
		@include breakpoint(mobile){
			padding:0 0 20px 0;
		 }
		&:last-child{
		  padding-right: 0px;
		}
		a{
		  display: flex;
		  align-items: center;
		  svg{
			width: 50px;
			height: 50px;
			padding: 5px;
			display: block;
			border-radius: 30px;
			fill: #fff;
		  }
		  span{
			margin-left: 10px;
			font-size: 1.2rem;
			
		  }
		}
		&.fb{
		  a{
			svg{
			  background: linear-gradient(115deg, #62cff4, #2c67f2)
			}
			span{
				color: #2c67f2;
			}
			&:hover{
			  svg{
				background: linear-gradient(115deg, #2c67f2, #62cff4)
			  }
			}
		  }
		}
		&.insta{
		  a{
			svg{
			  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
			}
			span{
				color: #ee2a7b;
			}
		  }
		  &:hover{
			a{
			  svg{
				background: linear-gradient(115deg, #6228d7, #ee2a7b, #f9ce34);
			  }
			}
		  }
		}
		&.email{
			a{
			  svg{
				background: $site_theme;
			  }
			  span{
				  color: $site_theme;
			  }
			}
			&:hover{
			  a{
				svg{
				  background: #000;
				}
			  }
			}
		  }
	  }
	}
  }