.page-left {
  width: calc(100% - 400px);
  padding-right: 4rem;
  @media (min-width: 1300px) and (max-width: 1499px) {
    width: calc(100% - 300px);
    padding-right: 2rem;
  }
  @media (min-width: 1025px) and (max-width: 1299px) {
    width: calc(100% - 200px);
    padding-right: 2rem;
  }
  @include breakpoint(iPad_landscape) {
    width: calc(100% - 200px);
    padding-right: 2rem;
  }
  @include breakpoint(iPad) {
    width: 100%;
    padding: 0;
  }
  @include breakpoint(mobile) {
    width: 100%;
    padding: 0;
  }
  figure {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .post-thumbnail {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  #rank-math-toc {
    padding: 2rem;
    margin-bottom: 2rem;

    h2 {
      color: $white;
      margin: 0 0 10px 0;
    }
    nav {
      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
          margin: 0px;
          padding: 6px 0 6px 55px;
          position: relative;
          &::after{
            content: "\27B3";
            width: 10px;
            height: 10px;
            position: absolute;
            top: -13px;
            left: 0;
            color: #ffffff;
            font-size: 44px;
            
          }
          a {
            color: $white;
            text-decoration: underline;
            display: block;
          }
          ul {
            margin: 10px;
            li {
              ul {
                margin: 10px;
              }
              li {
                ul {
                  margin: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.page-right {
  width: 400px;
  @media (min-width: 1300px) and (max-width: 1499px) {
    width: 300px;
  }
  @media (min-width: 1025px) and (max-width: 1299px) {
    width: 200px;
  }
  @include breakpoint(iPad_landscape) {
    width: 200px;
  }
  @include breakpoint(iPad) {
    display: none;
  }
  @include breakpoint(mobile) {
   display: none;
  }
  h2 {
    margin: 0px;
    margin-bottom: 1rem;
  }
  .siderbar-search,
  .siderbar-social{
    margin-bottom: 30px;
  }
  .searchform{
    background-color: #f4f4f4;
    padding: 1rem;
    .searchsubmit{
      display: none;
    }
    label{
      width: 100%;
      input{
        width: 100%;
        padding: 6px;
        font-size: 14px;
      }
    }
  }
  
}

.details-page {
  .site-welcome {
    margin-bottom: 0px;
    border-radius: 5px 5px 0 0;
  }
  .hero-box-other {
    background: $site_theme;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 2rem;
    border-radius: 0 0 5px 5px;
    .hero-post-time {
      margin-left: 3rem;
    }
  }
}

.uploaded-img {
  position: relative;
  a.download-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $site_theme;
    @include padding(10px, 20px, 10px, 20px);
    color: $white;
    border: 0px;
  }
}

.details-page-left h3{
  font-size:1.5rem;
}
.gallery-img{
  ul {
    display:flex;
    list-style:none;
    margin:0 -8px;
    padding:0px;
    flex-wrap: wrap;
    li{
      width:33.33%;
      padding: 27px 8px;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(9),
      &:nth-child(10),
      &:nth-child(17),
      &:nth-child(18),
      &:nth-child(37),
      &:nth-child(38),
      &:nth-child(39),
      &:nth-child(40)
      {
        width: 50%;
        @include breakpoint(mobile_portrait){
          width: 100%;
        }
      }
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(11),
      &:nth-child(12),
      &:nth-child(13),
      &:nth-child(14),
      &:nth-child(15),
      &:nth-child(16),
      &:nth-child(19),
      &:nth-child(20),
      &:nth-child(21),
      &:nth-child(22),
      &:nth-child(23),
      &:nth-child(24){
        width: 33.33%;
        @media (min-width: 768px) and (max-width: 1200px) {
          width: 50%;
        }
        @include breakpoint(mobile_landscape){
          width: 50%;
        }
        @include breakpoint(mobile_portrait){
          width: 100%;
        }
      }
      .gallery-image-box{
        position: relative;
        width: 100%;
        height: 100%;
      }
      .example-image-link{
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
      }
      .gallery-caption{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background: rgba(0,0,0,0.5);
        padding: 10px;
        color: #fff;
      }
     
     
      h3{
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 20px;
        text-transform: capitalize;
        margin: 0px 0 10px 0;
      }
    }
  }
} 

.gallery-img img{
  width:100%;
  height:auto;
  display:block

}

.popular-posts{
  h2{
    font-size: 22px;
  }
  ul{
    margin:0px;
    padding:0px;
    list-style:none;
    li{
      margin:10px 0;
      padding:0px;
      .post-stats{
        display: flex;
        align-items: center;
        .wpp-views{
          padding-right: 5px;
        }
        .wpp-author {
          display: flex;
          padding-left: 5px;
        }
      }
      a{
        display:block;
        margin:0px;
        padding:0px;
        font-size: 14px;
        &.wpp-post-title{
          font-size: 18px;
          font-weight: 500;
        }
      } 
     }
  }
}

.widget_block{
  margin-bottom: 20px;
  &:last-child{
    margin-bottom: 0px;
  }
}

.lb-closeContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999999;
}
