.btn-set--left {
    display: flex;
    justify-content: left;
}

.btn-set--center {
    display: flex;
    justify-content: center;
}

.btn-set--right {
    display: flex;
    justify-content: right;

    @include breakpoint(mobile) {
        justify-content: left;
        padding-left: 10px;
    }
}

.btn-primary {
    background-color: $primary-color;
    color: $white;
    border: 1px $primary-border-color solid;
    padding: 0.7rem 1.5rem;
    font-size: $btn-font-size-base;
    display: block;
    cursor: pointer;
    position: relative;
    @include border-radius(5px);
    &:hover {
        background-color: $secondary-color;
        color: $white;
        border: 1px $secondary-border-color solid;
    }
}

.btn-secondary {
    background-color: $secondary-color;
    color: $white;
    border: 1px $secondary-border-color solid;
    padding: 0.5rem 0.7rem;
    font-size: $btn-font-size-base;
    display: block;
    cursor: pointer;
    position: relative;
    @include border-radius(5px);
    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-border-color solid;
    }
}

.btn-outline-primary {
    background-color: transparent;
    color: $primary-color;
    border: 1px $primary-color solid;
    padding: 0.5rem 0.7rem;
    font-size: $btn-font-size-base;
    display: block;
    position: relative;
    cursor: pointer;
    @include border-radius(5px);
    &:hover {
        color: $white;
        background-color: $primary-color;
    }
}

.btn-outline-secondary {
    background-color: transparent;
    color: $white;
    border: 1px $secondary-color solid;
    padding: 0.5rem 0.7rem;
    font-size: $btn-font-size-base;
    display: block;
    position: relative;
    cursor: pointer;
    @include border-radius(5px);
    &:hover {
        color: $white;
        background-color: $secondary-color;
    }
}

.download{
    width: 150px;
    margin: auto;
    a{
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-border-color solid;
        padding: 0.7rem 1.5rem;
        font-size: $btn-font-size-base;
        display: block;
        cursor: pointer;
        position: relative;
        @include border-radius(5px);
        &:hover {
            background-color: $secondary-color;
            color: $white;
            border: 1px $secondary-border-color solid;
        }   
    }
}