.pgntn-page-pagination{
    width: 100%;
    .pgntn-page-pagination-block{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .pgntn-page-pagination-intro,
        span,
        a
        {
            margin-right: 10px;
        }
        span,
        a
        {
           background-color: $primary-color;
           padding: 10px 15px;
           color: $white;
           &.current{
            background-color: $secondary-color;
           }
        }
    }
}
