/*
 Theme Name:   Uniroof Theme
 Theme URI:    https://www.uniroof.com/
 Description:  Uniroof Theme -Twenty Sixteen Child Theme
 Author:       Raj keer
 Template:     twentyseventeen
 Version:      1.0.1
 Text Domain:  twentyseventeen
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body, html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #312f2d;
	scroll-behavior: smooth;
}
.font_f {
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Roboto', sans-serif;
}
a {
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
.red {
	color: #c11d34;
}
.blue_lite {
	color: #1175b6;
}
.blue {
	color: #133872;
}
.drak {
	color: #312f2d;
}
a:hover {
	text-decoration: none;
}
.home_page_hero {
	position: relative;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px 0;
}
.container{ max-width:1280px;}
.in_hero {
	width: 600px;
	margin: auto;
}
.intro_logo {
	width: 440px;
	margin: auto;
	position: relative;
	padding-bottom: 40px;
}
.intro_logo:after {
	position: absolute;
	bottom: 0px;
	width: 200px;
	height: 5px;
	background: #c11d34;
	content: "";
	left: 33%;
	margin-left: -50px;
}
.intro_logo img {
	width: 100%;
}
.in_hero h3 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	margin: 40px 0 0 0;
	padding: 0px;
	font-size: 35px;
	line-height: 41px;
	font-weight: 300;
	display: block;
	text-align: center;
}
.home_intro_txt {
	padding: 50px 0;
	text-align: center;
}
.width_sm {
	width: 500px;
	margin: auto;
}
.width_mid {
	width: 750px;
	margin: auto;
}
.width_lg {
	width: 900px;
	margin: auto;
}
.our_products_section {
	padding: 50px 0;
	background: #eae9ea;
}
.our_products_section h1 {
	color: #133872;
	padding: 0 0 20px 0;
	margin: 0px;
	font-size: 22px;
	position: relative;
	font-weight: 500;
	display: block;
	margin-bottom: 30px;
}
.our_products_section h1:after {
	position: absolute;
	bottom: 0px;
	width: 80px;
	height: 5px;
	background: #c11d34;
	content: "";
	left: 0;
}
.products_box {
	background: #133872;
}
.products_txt {
	padding: 15px 15px;
	color: #fff;
}
.products_txt h3 {
	margin: 0 0 10px;
	padding: 0px;
	font-size: 19px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
}
.products_txt h3 a {
	font-size: 19px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	font-weight: 700;
}
.p_txt {
	min-height: 80px;
	display: block;
}
.products_txt p {
	margin: 0px;
	padding: 0px;
}
.products_img img {
	width: 100%;
}
.see_btn {
	display: block;
	text-align: right;
	margin-top: 15px;
	margin-bottom: 10px;
}
.see_btn a {
	display: inline-block;
	background: #1175b6;
	padding: 3px 5px;
	border: 1px #fff solid;
	font-size: 14px;
	color: #fff;
}
.see_btn a:hover {
	background: #c11d34;
}
.products_row {
	padding: 0 35px;
}
.products_row .col-sm-4 {
	padding: 0 12px;
}
.contact_us_section {
	padding: 50px 0;
	background: rgb(17,117,182);
	background: -moz-linear-gradient(left, rgba(17,117,182,1) 0%, rgba(19,56,114,1) 100%);
	background: -webkit-linear-gradient(left, rgba(17,117,182,1) 0%, rgba(19,56,114,1) 100%);
	background: linear-gradient(to right, rgba(17,117,182,1) 0%, rgba(19,56,114,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1175b6', endColorstr='#133872', GradientType=1 );
}
.contact_us_section h1 {
	color: #fff;
	padding: 0 0 20px 0;
	margin: 0px;
	font-size: 22px;
	position: relative;
	font-weight: 500;
	display: block;
	margin-bottom: 30px;
}
.contact_us_section h1:after {
	position: absolute;
	bottom: 0px;
	width: 80px;
	height: 5px;
	background: #c11d34;
	content: "";
	left: 0;
}
.contact_us_txt {
	padding-left: 100px;
}
.contact_us_txt p {
	display: block;
	margin: 0px;
	color: #fff;
	font-size: 16px;
}
.contact_us_txt p a {
	color: #fff;
	text-decoration: underline;
}
.footer_box {
	background: #312f2d;
	padding: 20px 0;
}
.footer_left {
	float: left;
	width: 70%;
}
.flag_img {
	display: inline-block;
	vertical-align: bottom;
}
.footer_info {
	display: inline-block;
	vertical-align: bottom;
	text-align: left;
	margin-left: 20px;
}
.footer_info h5 {
	margin: 0px;
	padding: 0px;
	width:300px;
}
.footer_info h5 img{ width:100%;} 
.footer_info p {
	color: #fff;
	margin: 5px 0 0 0;
	padding: 0px;
	font-size: 14px;
}
.footer_info p a {
	color: #fff;
}
.footer_right {
	float: right;
	width: 30%;
	text-align: right;
}
.img_full {
	overflow: hidden;
}
.img_full img {
	width: 100%;
}
.full_img .col-sm-4 {
	padding: 0px;
} 

.logo {
	float: left;
	width: 350px;
}
.logo img {
	width: 100%;
}
.header_section {
	background: #fff;
	padding: 30px 0;
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 9;
}
.header_section.adminpage {
	margin-top: 30px;
}
.header_right {
	float: right;
}

.contact_btn {
    display: inline-block;
}

.contact_btn a {
	display: block;
	background: #c11d34;
	padding: 3px 15px;
	color: #fff;
	font-size: 14px;
}
.contact_btn a:hover {
	background: #133872;
}
.contact_btn.contact_btn_uk {
    margin-right: 20px;
}
.contact_btn.contact_btn_uk a {
	background: #133872;
}
.contact_btn.contact_btn_uk a:hover {
	background: #c11d34;
}
.page_heading {
	position: relative;
	height: 250px;
	overflow: hidden;
}
.page_heading:after {
	position: absolute;
	content: "";
	width: 60%;
	top: 0px;
	height: 100%;
	left: 0px;
}
.hd_img {
	position: absolute;
	height: 100%;
	width: 40%;
	right: 0px;
	top: 0px;
}
.hd_img img {
	width: 100%;
}
.page_heading .width_mid {
	position: relative;
	z-index: 8;
}
.page_heading {
	display: flex;
}
.page_heading h1 {
	color: #fff;
	padding: 0 0 20px 0;
	margin: 0px;
	font-size: 36px;
	position: relative;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
	display: block;
}
.page_heading h1:after {
	position: absolute;
	bottom: 0px;
	width: 100px;
	height: 4px;
	background: #c11d34;
	content: "";
	left: 0;
}
.mid_container {
	padding-top: 83px;
}
.product_details {
	padding: 20px 0 50px 0;
}
.product_details_row h2 {
	color: #133872;
	margin: 0 0 15px;
	font-size: 20px;
	padding: 0px;
	position: relative;
	font-weight: 500;
	display: block;
}
.product_details_p {
	margin-bottom: 10px;
	min-height: 150px;
}
.download_btn {
	display: block;
}
.download_btn a {
	display: inline-block;
	background: #1175b6;
	padding: 3px 15px;
	color: #fff;
	font-size: 14px;
}
.download_btn a:hover {
	background: #c11d34;
}
.product_details_info strong {
	display: block;
	font-size: 15px;
	font-weight: 500;
	color: #312f2d;
	margin-bottom: 10px;
}
.product_details_info ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.product_details_info ul li {
	padding: 0 0 0 15px;
	margin: 0 0 5px;
	display: block;
	position: relative;
}
.product_details_info ul li:after {
	position: absolute;
	top: 5px;
	width: 8px;
	border-radius: 8px;
	height: 8px;
	background: #c11d34;
	content: "";
	left: 0;
}
.product_details_row {
	padding: 30px 0;
	border-bottom: 1px #312f2d solid;
}
.home_hdr {
	top: -150px;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
.fixed_header {
	top: 0px;
}
.project-row-2{margin-top:24px;}
@media (min-width:1500px) and (max-width: 2600px) {
.page_heading {
    height: 306px;
}
}
.backtohome{ display:block; text-align:center; padding-top:40px; }
.backtohome a{ font-size:22px; color: #133872; font-weight:500;}
.backtohome a:hover{ color:#c11d34;}
.hide_desktop{ display:none;}
 @media (min-width:320px) and (max-width: 480px) {
body, html{ font-size:17px;}	 
.width_sm,  .width_mid,  .width_lg,  .in_hero {
	width: 90%;
	margin: auto;
}
.intro_logo {
	width: 187px;
}
.intro_logo:after {
	width: 125px;
	left: 45%;
}
.in_hero h3 {
	font-size: 21px;
	line-height: 28px;
}
.products_row {
	padding: 0 3px;
}
.products_row .col-sm-4 {
	margin-bottom: 20px;
}
.contact_us_txt {
	padding-left: 0;
}
.footer_left,  .footer_right {
	float: none;
	width: 100%;
}
.footer_right {
	text-align: left;
	margin-top: 20px;
}
.footer_info h5 {
	width: 100%;
}
.footer_info h5 img {
	width: 100%;
}
.footer_info {
	width: 69%;
	vertical-align:top;
}
.flag_img{vertical-align:top;}
.logo {
	float: left;
	width: 114px;
	overflow: hidden;
}
.logo img {
	width: 342px;
}
.page_heading {
	display: block;
	height: auto;
}
.hd_img {
	position: relative;
	width: 100%;
}
.page_heading h1 {
	margin: 34px 0;
	font-size: 29px;
}
.img_full img {
	height: auto;
	width: 100%;
}
.download_btn {
	display: block;
	margin-bottom: 30px;
}
.img_full {
	height: auto;
	overflow: hidden;
}
.hide_desktop{ display:block; margin-left: 15px;
    margin-top: 15px;}
.hide_mobile{ display:none;}
}
 @media (min-width:481px) and (max-width: 767px) {
.width_sm,  .width_mid,  .width_lg,  .in_hero {
	width: 100%;
	margin: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.products_row .col-sm-4 {
	padding: 0 4px;
}
.products_txt p br {
	display: none;
}
.p_txt {
	min-height: 99px;
	display: block;
}
.intro_logo {
	width: 187px;
}
.intro_logo:after {
	width: 125px;
	left: 45%;
}
.home_page_hero {
	padding: 50px 0;
}
.in_hero h3 {
	font-size: 21px;
	line-height: 28px;
}
.products_row {
	padding:0 9px;
}
.products_row .col-sm-4 {
	width: 33.33333333%;
	float: left;
}
.contact_us_txt {
	padding-left: 0;
}

.footer_left,  .footer_right {
	float: none;
	width: 100%;
}
.footer_right {
	text-align: left;
	margin-top: 20px;
}
.footer_info h5 {
	width: 264px;
}
.footer_info h5 img {
	width: 100%;
}
.footer_info {
	width: 72%;
}
.img_full img {
	height: 100%;
}
.logo {
	float: left;
	width: 114px;
	overflow: hidden;
}
.logo img {
	width: 342px;
}
.page_heading {
	height: 145px;
}
.hd_img {
	width: 50%;
}
.page_heading h1 {
	margin: 34px 0;
	font-size: 29px;
}
.product_details_p {
	min-height: 143px;
}
.full_img .col-sm-4 {
	width: 33.33333333%;
	float: left;
}
.product_details_box .col-sm-4,  .product_details_box .col-sm-8 {
	float: left;
}
.product_details_box .col-sm-4 {
	width: 40%;
}
.product_details_box .col-sm-8 {
	width: 60%;
}
.products_txt {
    padding: 15px 5px 5px 5px;
    color: #fff;
}
.footer_info {
	vertical-align:top;
}
.flag_img{vertical-align:top;}
}
 @media (min-width:768px) and (max-width: 991px) {
.width_mid,  .width_lg {
	width: 100%;
	margin: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.footer_info {
	width: 78%;
}
.footer_right .footer_info {
	width: auto;
}
.page_heading {
	height:155px;
}
.products_row {
    padding: 0 5px;
}
.contact_us_txt {
    padding-left: 0;
}

}
 @media (min-width:992px) and (max-width: 1024px) {
.page_heading {
	height: 209px;
}

}
