<div class="filter-section">
	<h3>FILTER PROJECTS</h3>

	<div class="filter-ul">
                        
		<ul>
			<li>
				<a class="{% if not current_category_id %}active{% endif %}" href="{{site.link}}/projects/" data-filter="*">see all</a>
			</li>
			{% for cat in categories %}
				<li>
                    
					<a class="{% if cat.ID == current_category_id %}active{% endif %}" href="{{ site.link }}/projects/?cat={{ cat.ID }}" data-filter=".cat-{{cat.slug}}">{{ cat.name }}</a>
				</li>
			{% endfor %}

		</ul>
	</div>
</div>
