{% if post.store_address_and_map %}
<section class="contact-section light-bg">
                <div class="container-sm">

                    {% for storeLocation in  post.store_address_and_map %}

                    <div class="contact-box" data-aos="fade-up">
                        <div class="custom-row">
                            <div class="contact-box-left">
                                <h3>{{storeLocation.post_title}}</h3>
                                <ul>
                                    <li>
                                        <a href="{{storeLocation.map_url}}">
                                            <i class="map-icon"></i>
                                            <span>{{storeLocation.address}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:{{storeLocation.telephone}}">
                                            <i class="phone-icon"></i>
                                            <span>{{storeLocation.telephone}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:{{storeLocation.email}}">
                                            <i class="email-icon"></i>
                                            <span>{{storeLocation.email}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="contact-box-right">
                                <div class="map-box">
                                <a data-fancybox="gallery" data-src="{{ get_image(storeLocation.map_screenshot).src('src') }}" class="fancybox">
                                    <picture>
                                        <img src="{{ get_image(storeLocation.map_screenshot).src('src') }}" alt="{{site.name}}">
                                    </picture>
                                </a> 
                                </div>
                                <div class="take-me-button">
                                    <a href="{{storeLocation.map_url}}">TAKE ME TO GOOGLE MAPS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
	{% endif %}