{% if post.menu_category_list %}
<section class="menu-section light-bg">
                <div class="container-sm">
                    <div class="notify">{{post.menu_content}}</div>
                    <div class="menu-tabs">
                        {% for menuCatg  in post.menu_category_list %}
                        <div class="menu-tabs-box">
                            <div class="menu-tabs-box-top">
                                <h3 class="menu-catg-title">{{menuCatg.menu_title}}</h3>
                            </div>
                            {% for menuSubCatg in menuCatg.menu_item_list %}
                                <div class="menu-tabs-box-btm">
                                    <div class="menu-tabs-content">
                                        {% if menuSubCatg.sub_category %}
                                         <h4 class="menu-subcatg-title">{{menuSubCatg.sub_category}}</h4>
                                        {% endif %}
                                        <ul>
                                            {% for menu_item in menuSubCatg.menu_item %}
                                            <li>
                                                <div class="items">
                                                    <span class="items-name">{{menu_item.menu_title}} {% if menu_item.type != 'N/A' %}({{menu_item.type}}){% endif %}</span>
                                                    {% if menu_item.price %}<span class="items-price">£{{menu_item.price|number_format(2)}}</span>{% endif %}
                                                </div>
                                                {% if menu_item.menu_content %}<strong>{{menu_item.menu_content}}</strong>{% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    
                    </div>
                </div>
            </section>
            <script>
            jQuery(document).ready(function($){
                $('.menu-catg-title').on('click',function(){
                    //$(this).parents('.menu-tabs').find('.menu-tabs-box').removeClass('show');
                    //$(this).parents('.menu-tabs-box').addClass('show');
                    $(this).parents('.menu-tabs-box').toggleClass('show');
                });
            });</script>
{% endif %}