{% if post.hero_image %}

<section class="page-hero-section">
                    <div class="page-hero-img">
                        <picture>
                                <source media="(min-width: 768px) and (max-width: 991px)" srcset="{{get_image(post.hero_image).src('page_hero_img_ipad')}}">
                                <source media="(min-width: 568px) and (max-width: 767px)" srcset="{{get_image(post.hero_image).src('page_hero_img_mobile_landscape')}}">
                                <source media="(min-width: 320px) and (max-width: 567px)" srcset="{{get_image(post.hero_image).src('page_hero_img_mobile')}}">
                                <img src="{{get_image(post.hero_image).src('page_hero_img')}}" alt="tbi">
                            </picture>
                            
                    </div>
                    <div class="page-hero-hd">
                        <h1 data-aos="fade-up" class="aos-init aos-animate">{{post.hero_title?post.hero_title:post.post_title}}</h1>
                    </div>
                    
                </section>

{% endif %}
