{% if post.thumbnail %}
<div class="page-featured-img">
    <div class="container-sm">
    
        <div class="downarrow scroll-next" data-aos="zoom-out" data-aos-delay="500" data-aos-offset="-1000">
            <img src="{{theme.link}}/assets/img/black arrow down.svg" alt="" />
        </div>
        <img src="{{ TimberImage(post.thumbnail).src('featured') }}" alt="" />
    </div>
</div>
{% endif %}

