<div class="container-fluid">
	<div class="custom-row">
		<div class="footer-logo hide-desktop">
			<a href="{{site.link}}">
				<img src="{{theme.link}}/assets/img/Fan Fan logo white.svg" alt="" />
			</a>
		</div>
		<div class="footer-social-media-icon social-media-icon">
			<ul>
				<li>
					<a href="tel:{{contact_post.telephone}}" class="phone-icon"></a>
				</li>
				<li>
					<a href="mailto:{{contact_post.email}}" class="email-icon"></a>
				</li>
				<li>
					<a href="{{contact_post.instagram}}" class="insta-icon"></a>
				</li>
			</ul>
		</div>
		<div class="footer-logo hide-mobile">
			<a href="{{site.link}}">
				<img src="{{theme.link}}/assets/img/Fan Fan logo white.svg" alt="" />
			</a>
		</div>
		<div class="footer-right">
			<div class="footer-text">
				<div class="footer-text-top"><a href="{{site.link}}/privacy-policy">privacy policy</a></div>
				<div class="footer-text-btm">website by <a href="https://blooberrycreative.co.uk/">@blooberrycreative</a></div>
			</div>
		</div>
	</div>
</div>
