.only-image-section {
    padding: 15px 0;
}

.advert-show-section {
    padding: $d_pd 0 0 0;

    .w_s__box {
        .slick-slide img {
            @include width(100%);
        }

        .slider-nav {
            .w_s_item__small {
                padding: 20px 20px 0 0;

                @include breakpoint(mobile-landscape) {
                    width: 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                @include breakpoint(mobile-portrait) {
                    width: 50%;
                }


            }

            .w_s_item__small:nth-child(1n+1) {
                @include breakpoint(mobile-portrait) {
                    padding: 10px 5px 0 0;
                }
            }

            .w_s_item__small:nth-child(2n+2) {
                @include breakpoint(mobile-portrait) {
                    padding: 10px 0px 0px 5px;
                }
            }

        }
    }

    .button_green {
        text-align: center;
        padding-top: 50px;

        a {
            border: 1px $green solid;
            background: $green;
            color: $white;
            padding: 6px 5%;

            &:hover {
                background: $white;
                color: $green;
            }
        }
    }
}

.slider-nav.row {
    margin: 0 -20px 0 0;

    @include breakpoint(mobile-portrait) {
        margin: 0 0 0 0;
    }
}