.block_meet_team {
  padding: 0px $d_pd $d_pd;

  @include breakpoint(iPad-landscape) {
    padding: 0px 30px $d_pd;
  }

  @include breakpoint(iPad) {
    padding: 0px 0 $d_pd;
  }

  @include breakpoint(small) {
    padding: 0px 0px $d_pd;
  }

  &__inner {
    @include background($blueLight);
    padding: $d_pd 0px;
  }

  h2 {
    @include no_p_m;
    color: $white;
    @include align_center;
  }

  .col-sm-4 {
    @include breakpoint(mobile-landscape) {
      width: 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .b_m_t__box {
    padding-top: 30px;

    .b_m_t__img {
      img {
        @include width(100%);
      }
    }

    .b_m_t__content {
      padding: 20px 0;

      h4 {
        margin: 0 0 10px 0;
        padding: 0;
        color: $white;
      }

      strong {
        margin: 0 0 10px 0;
        padding: 0;
        font-weight: 400;
        display: block;
        @include font-color(18px, $white);
      }

      .b_m__info {
        a {
          font-weight: 400;
          display: block;
          text-decoration: underline;
          @include font-color(16px, $white);

          &:hover {
            opacity: 0.7;
          }
        }

        .b_m_i__top {
          display: block;

          @include breakpoint(iPad) {
            flex-wrap: wrap;
          }

          @include breakpoint(small) {
            flex-wrap: wrap;
          }

          .b_m__email {
            padding-right: 5px;

            @include breakpoint(iPad) {
              width: 100%;
              padding-right: 0px;
            }

            @include breakpoint(small) {
              width: 100%;
              padding-right: 0px;
            }
          }

          .b_m__phone {
            padding-left: 0;
            margin-left: auto;

            @include breakpoint(iPad) {
              width: 100%;
              padding-left: 0px;
            }

            @include breakpoint(small) {
              width: 100%;
              padding-left: 0px;
            }
          }
        }
      }

      .b_m__txt {
        padding: 15px 0;
        color: $white;

        a{
          color: $white;
          text-decoration: underline;
          font-weight: 400;
          &:hover {
            opacity: 0.7;
          }
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
