.block_event_lists {
  padding: $d_pd 0;
  background: $tealDark;
  h2 {
    margin: 0 0 0px 0;
    padding: 0px 0 0 0;
    color: $white;
    @include align_center;
  }
  .col-sm-3 {
    
    @media (min-width: 992px) and (max-width: 123200px) {
      width: 33.330%;
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
    @include breakpoint(iPad) {
      width: 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    @include breakpoint(mobile-landscape) {
      width: 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  .event_list_box {
    margin-top: 50px;
    .e_l__img {
      img {
        width: 100%;
      }
    }
    .e_l__content {
      padding: 15px;
      @include breakpoint(iPad) {
        padding: 15px 0;
      }
      h4 {
        margin: 0 0 0px 0;
        padding: 0px 0 0 0;
        color: $white;
        @include text-short;
        a {
          color: $white;
          display: block;
          @include text-short;
        }
      }
      ul {
        @include ul(0, 0, none);
        display: flex;
        margin-top: 10px;
        @include breakpoint(iPad-landscape) {
          flex-wrap: wrap;
        }

        li {
          margin: 0px;
          padding: 0px;
          @include font-color(16px, $white);
          display: flex;
          @include breakpoint(iPad-landscape) {
            width: 100%;
          }

          &:last-child {
            margin-left: 15px;
            width: 139px;
            @include breakpoint(iPad-landscape) {
              margin-left: 0px;
              margin-top: 10px;
            }
          }
          i {
            display: inline-block;
            margin: 0 5px 0 0;
            vertical-align: middle;
          }
          span {
            display: inline-block;
            vertical-align: middle;
            padding-top: 3px;
            width: 90%;
          }
          &.event_date {
            i {
              background: url('#{$assetPath}/cal-icon.svg') no-repeat;
              background-size: 100% 100%;
              width: 18px;
              height: 18px;
              margin-top: 5px;
            }
          }
          &.event_time {
            i {
              background: url('#{$assetPath}/time-icon.svg') no-repeat;
              background-size: 100% 100%;
              width: 19px;
              height: 18px;
              margin-top: 4px;
            }
          }
        }
      }
      ul.experience-ul{
        display: block;
        li{
          align-items: center;
          margin: 10px 0;
          i{
            margin-right: 15px;
          }
          &:last-child {
            margin-left: 0;
            width: auto;
          }
          &.event_family_friendly {

            i {
              background: url('#{$assetPath}/family friendly.svg') no-repeat;
              background-size: 100% 100%;
              width: 30px;
              height: 30px;
            }
          }
          &.event_public_transport {
            i {
              background: url('#{$assetPath}/public transport.svg') no-repeat;
              background-size: 100% 100%;
              width: 30px;
              height: 30px;
            }
          }
          &.event_accessible {
            i {
              background: url('#{$assetPath}/accessible.svg') no-repeat;
              background-size: 100% 100%;
              width: 30px;
              height: 30px;
            }
          }
        }
      }
      .e_l_p_l{
        margin-bottom: 20px;
        ul{
          display: block;
          li{
            margin:0;
            
            &:last-child {
              margin-left: 0;
              width: auto;
            }
         
          }
        } 
      }
      .e_l__txt {
        margin: 12px 0;
        color: $white;
      }
    }
  }
}

.green_back_btn {
  padding: 40px 0;
  .button_green {
    a {
      background: $green;
      color: $white;
      min-width: 230px;
      border: 1px $green solid;
      &:hover {
        background: $white;
        color: $green;
      }
    }
  }
}
