.block_download {
  padding: $d_pd 0;
  background: $purple;

  h2 {
    margin: 0px;
    padding: 0 15px;
    color: $white;
    @include align_center;
  }

  .b_d__content {
    @include background($white);
    padding: 39px 51px;
    margin-top: 50px;
    @include breakpoint(small) {
      padding: 20px;
    }
    .col-sm-4 {
      @include breakpoint(mobile-landscape) {
        width: 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
    .b_d_c__box {
      .with-spacer{
        margin-bottom: 30px;
        @include breakpoint(small) {
         display: none;
        }
      }
      @include breakpoint(small) {
        margin-bottom: 30px;
      }

      h4 {
        @include no_p_m;
        font-weight: 100;
        font-family: 'PontiacBold';
        display: flex;
        align-items: center;
        color: $tealDark;
        min-height: 50px;
        align-items: center;

        i {
          margin-right: 10px;
          img{
            max-width: initial;
          }
        }
      }

      .b_d_b__txt {
        padding: 25px 0px;
        @include breakpoint(small) {
          padding: 5px 0px 25px 0px;
        }
      }

      .button_green {
        a {
          border: 1px $green solid;
        }
      }
    }
    .col-sm-4:last-child {
      .b_d_c__box {
        @include breakpoint(small) {
          margin-bottom: 0px;
        }
      }
    }
  }
}
.button-row-layout-inline{
  display: flex;
  flex-wrap: wrap;
  @include breakpoint(small){
    
  }
  .inline-button-row{
    width: 25%;
    padding-right: 20px;
    position: relative;
    padding-bottom: 45px;
    margin: 15px 0;
    @include breakpoint(mobile-portrait){
      width: 100%;
    }
    @include breakpoint(mobile-landscape){
      width: 50%;
    }
    .download-btn{
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
  }
}
.button-row-layout-stack{
  .inline-button-row{
    margin-top: 15px;
    margin-bottom: 15px;
  }
 
}