.page__padding__116 {
  padding-top: 55px;
  @include breakpoint(small) {
    padding-top: 0px;
  }
}
.block_filter_volunteering {
  padding: $d_pd 0px;
  @include background($cyanLight);
  h2 {
    @include no_p_m;
    color: $tealDark;
    @include align_center;
  }
  .filter_block {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 50px;
    @include breakpoint(small) {
      margin-left: 0%;
      margin-right: 0%;
    }
  }
}

.filter_block {
  padding: 50px 70px;
  @include background($blueLight);
  @include breakpoint(iPad-landscape) {
    padding: 50px 20px;
  }
  @include breakpoint(iPad) {
    padding: 50px 30px;
  }
  @include breakpoint(small) {
    padding: 30px;
  }
  &_inner {
    .custom_row {
      @include breakpoint(iPad) {
        flex-wrap: wrap;
      }
    }
    .f_select {
      @include width(25%);
      padding-left: 10px;
      padding-right: 10px;
      @include breakpoint(iPad) {
        @include width(50%);
        padding: 10px;
      }
      @include breakpoint(mobile-landscape) {
        @include width(50%);
        padding: 10px;
      }
      @include breakpoint(mobile-portrait) {
        @include width(100%);
        padding: 10px 0;
      }
    }
    .checkBox {
      @include width(25%);
      padding-left: 10px;
      padding-right: 10px;
      @include breakpoint(iPad) {
        @include width(50%);
        padding: 10px;
      }
      @include breakpoint(mobile-landscape) {
        @include width(50%);
        padding: 10px;
      }
      @include breakpoint(mobile-portrait) {
        @include width(100%);
        padding: 10px 0;
      }
    }
    .margin_top_30 {
      margin-top: 30px;
    }
    .button_green {
      @include text-align(center);
      a,
      button {
        color: $blueLight;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
.page-template-page-festival-events{
  .filter_block{
    padding: 50px 40px;

    .f_select {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}