.heading_hero_cover {
  background-size: cover;
  background-position: center;
  align-items: center;
  background-color: $tealDark;
  .hdimg {
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      margin: auto;
      position: absolute;
      left: 0;
      top: 0;
      @include breakpoint(small) {
      }
    }
  }
}
.heading_hero {
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  @include breakpoint(laptop) {
    min-height: 450px;
    padding: 123px 0 50px 0;
  }
  @include breakpoint(iPad-landscape) {
    min-height: 450px;
    padding: 123px 0 50px 0;
  }
  @include breakpoint(iPad) {
    min-height: 400px;
    padding: 123px 0 50px 0;
  }
  @include breakpoint(mobile-landscape) {
    min-height: 300px;
  }
  @include breakpoint(mobile-portrait) {
    min-height: 300px;
  }
  h1 {
    margin: 0px;
    padding: 20px 30px;
    text-align: center;
    color: $white;
    background: rgba(0, 0, 0, 0.6);
    max-width: 725px;
    position: relative;
    z-index: 1;
    span {
      display: block;
      padding: 5px 0;
      font-size: 19px;
    }
  }
  .hd_event_logo {
    margin: 0px;
    padding: 20px 30px;
    text-align: center;
    color: $white;
    background: rgba(0, 0, 0, 0.6);
    max-width: 725px;
    position: relative;
    z-index: 1;
    @include breakpoint(mobile-landscape) {
      margin-top: 46px;
    }
    @include breakpoint(small) {
      max-width: 288px;
    }
  }
}
