.heading_hero_bg {
  background: $tealDark;
  padding: $d_pd 0;
  min-height: 600px;
  display: flex;
  align-items: center;
  @include breakpoint(laptop) {
    min-height: 450px;
    padding: 123px 0 50px 0;
  }
  @include breakpoint(iPad-landscape) {
    min-height: 450px;
    padding: 123px 0 50px 0;
  }
  @include breakpoint(iPad) {
    min-height: 400px;
    padding: 123px 0 50px 0;
  }
  @include breakpoint(mobile-landscape) {
    min-height: 300px;
  }
  @include breakpoint(mobile-portrait) {
    min-height: 300px;
  }

  &__inner {
    max-width: 728px;
    padding: 0 15px;
    margin: auto;
    text-align: center;

    h1 {
      margin: 0px;
      padding: 0;
      text-align: center;
      color: $white;
    }

    .h_h__subtext {
      padding: 30px 0 0 0;
      text-align: center;
      color: $white;
      h2,h3,h4,p{
        color: $white; 
      }
    }
  }
}
