.hero-slider {
  position: relative;

  .heroSlider_item {
    position: relative;
    height: 75vh;
    min-height: 700px;
    background-size: cover;
    background-position: center;

    @include breakpoint(mobile-landscape) {
      height: 66vh;
      min-height: 462px;
    }
    @include breakpoint(mobile-portrait) {
      height: auto;
      min-height: 250px;
      background-size: 100%;
      background-image: none !important;
    }

    .heroSliderimg img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      margin: auto;
      position: absolute;
      left: 0;
      top: 0;

      @include breakpoint(mobile-portrait) {
        position: relative;
      }
    }

    .heroSlider_text {
      width: 100%;
      height: auto;
      padding: 136px 0 120px 0;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint(mobile-landscape) {
        padding: 40px 0px 40px 0px;
      }
      @include breakpoint(mobile-portrait) {
        display: block;
        position: relative;
        left: 0px;
        padding: 0;
        right: 0px;
        top: inherit;
        bottom: 0px;
      }

      .heroSlider_text_in {
        background: rgba(0, 0, 0, 0.6);
        width: 516px;
        padding: 20px 35px 23px 35px;
        @include breakpoint(mobile-landscape) {
          width: 400px;
          padding: 20px 20px 23px 20px;
        }

        @include breakpoint(mobile-portrait) {
          background: $white;
          width: 100%;
          padding: 20px 20px 60px 20px;
        }

        .slider_logo {
          // width: 224px;
          width: 85%;
          margin: auto;
          @include breakpoint(mobile-landscape) {
            // width: 144px;
          }
          @include breakpoint(mobile-portrait) {
            display: none;
          }

          img {
            width: 100%;
          }
        }

        .button_green {
          text-align: center;
          text-transform: unset;

          a {
            @include breakpoint(mobile-portrait) {
              border: 1px $green solid;
            }
          }
        }

        .hero_slider_txt {
          padding: 40px 0;
          @include breakpoint(mobile-landscape) {
            padding: 20px 0;
          }
          @include breakpoint(mobile-portrait) {
            padding: 0 0 20px 0;
          }

          strong {
            @include no_p_m;
            font-size: 24px;
            text-align: center;
            color: $white;
            display: block;

            @include breakpoint(mobile-portrait) {
              color: $tealDark;
            }
          }
        }
      }
    }
  }

  ul.slick-dots {
    position: absolute;
    bottom: 50px;
    width: 100%;
    left: 0px;
    right: 0px;
    margin: 0;
    display: flex;
    padding: 0 50px 0 50px;
    justify-content: center;
    list-style: none;
    align-items: center;
    @include breakpoint(mobile-landscape) {
      bottom: 29px;
      padding: 0 25px 0 25px;
    }
    @include breakpoint(mobile-portrait) {
      bottom: 20px;
      width: 100%;
      padding: 0 20px 0 20px;
      justify-content: center;
    }

    li {
      margin: 0 5px;
      padding: 0px;

      button {
        width: 18px;
        height: 18px;
        display: block;
        border: 0px;
        padding: 0px;
        text-indent: -9999px;
        border: 0px;
        background: url('#{$assetPath}/slider-dot.svg') no-repeat center center;
        background-size: 100%;

        @include breakpoint(mobile-portrait) {
          background: url('#{$assetPath}/dot-green.svg') no-repeat center center;
          background-size: 100%;
        }
      }

      &.slick-active {
        button {
          background: url('#{$assetPath}/active-dot.svg') no-repeat center center;
          width: 18px;
          height: 18px;
          background-size: 100%;

          @include breakpoint(mobile-portrait) {
            background: url('#{$assetPath}/active-dot-green.svg') no-repeat center center;
            background-size: 100%;
          }
        }
      }
    }
  }
}

@-moz-document url-prefix() {
  .hero-slider ul.slick-dots li.slick-active button,
  .hero-slider ul.slick-dots li button {
    height: 22px;
  }
}

.click_arrow_btm {
  position: absolute;
  bottom: -16px;
  left: 0px;
  right: 0px;
  width: 50px;
  margin: auto;
  z-index: 3;

  @include breakpoint(small) {
    display: none;
  }

  a {
    display: block;
    width: 100%;

    img {
      width: 100%;
    }
  }
}
