.img_cover {
  background-size: cover;
  background-position: center;
}

.img-text-section {
  .container-big {
    @include breakpoint(small) {
      padding: 0px;
    }
  }
  .row {
    margin: 0px;
    .col-sm-6 {
      padding: 0px;
      position: relative;
      min-height: 500px;
      align-items: center;
      @include breakpoint(iPad-landscape) {
        min-height: 400px;
      }
      @include breakpoint(iPad) {
        min-height: 400px;
      }
      @include breakpoint(mobile-landscape) {
        min-height: 350px;
        flex: 0 0 100%;
        max-width: 100%;
      }
      @include breakpoint(mobile-portrait) {
        display: flex;
        min-height: 330px;
      }
      .img_txt__img {
        display: none;
        @include breakpoint(small) {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0px;
          top: 0px;
          overflow: hidden;
        }
        img {
          width: auto;
          height: 100%;
          @include breakpoint(mobile-landscape) {
            max-width: inherit;
            width: auto;
            height: 100%;
          }
          @include breakpoint(mobile-portrait) {
            max-width: inherit;
            width: 100%;
            height: auto;
          }
        }

        &::after {
          content: '';
          background: $blueLight;
          mix-blend-mode: multiply;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0px;
        }
        &.aboutus_block {
          &::after {
            background: $blueLight;
          }
        }
        &.newsletter_block {
          &::after {
            background: $green;
          }
        }
        &.upcomingevents_block {
          &::after {
            background: #0e7060;
          }
        }
        &.featuredwalks_block {
          &::after {
            background: #377ca9;
          }
        }
        &.map_block {
          &::after {
            background: rgba(21, 21, 21, 0.5);
          }
        }
      }
    }
  }
  .img_text_out {
    padding: 50px 70px;
    text-align: center;
    max-width: 583px;
    position: relative;
    z-index: 1;
    margin: auto;
    @include breakpoint(mobile-landscape) {
      padding: 40px;
    }
    @include breakpoint(mobile-portrait) {
      padding: 30px;
    }
    h2 {
      @include no_p_m;
      text-align: center;
      color: $white;
    }
    .img_txt_txt {
      padding: 15px 0 15px 0;
      min-height: 150px;
      color: $white;
      p {
        margin: 0px;
        color: $white;
      }
    }
  }
}
.img-text-section-row {
  position: relative;
  .img_text_cover {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50vw;
    min-width: 1px;
    max-width: none;
    height: 100%;
    min-height: 100%;
    max-height: none;
    margin: 0;
    z-index: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include breakpoint(small) {
      display: none;
    }
    img {
      max-width: inherit;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &.img_text_left_img {
      left: 0px;
    }
    &.img_text_right_img {
      right: 0px;
    }
    &::after {
      content: '';
      background: $blueLight;
      mix-blend-mode: multiply;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0px;
    }
    &.aboutus_block {
      &::after {
        background: $blueLight;
      }
    }
    &.newsletter_block {
      &::after {
        background: #a35984;
      }
    }
    &.upcomingevents_block {
      &::after {
        background: #0e7060;
      }
    }
    &.featuredwalks_block {
      &::after {
        background: $blueLight;
      }
    }
    &.map_block {
      &::after {
        background: rgba(21, 21, 21, 0.5);
      }
    }
  }
}

.hfe_back_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
  display: block;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .img-text-section-row .img_text_cover.aboutus_block::after {
    background: rgba(55, 124, 169, 0.5);
  }
  .img-text-section-row .img_text_cover.newsletter_block::after {
    background: rgba(163, 89, 132, 0.5);
  }
  .img-text-section-row .img_text_cover.upcomingevents_block::after {
    background: rgba(14, 112, 96, 0.5);
  }
  .img-text-section-row .img_text_cover.featuredwalks_block::after {
    background: rgba(55, 124, 169, 0.5);
  }
}

@supports (-ms-ime-align: auto) {
  .img-text-section-row .img_text_cover.aboutus_block::after {
    background: rgba(55, 124, 169, 0.5);
  }
  .img-text-section-row .img_text_cover.newsletter_block::after {
    background: rgba(163, 89, 132, 0.5);
  }
  .img-text-section-row .img_text_cover.upcomingevents_block::after {
    background: rgba(14, 112, 96, 0.5);
  }
  .img-text-section-row .img_text_cover.featuredwalks_block::after {
    background: rgba(55, 124, 169, 0.5);
  }
}
