.latest-news {
  padding: $d_pd 0;
  h2 {
    @include no_p_m;
    text-align: center;
    color: $tealDark;
  }
  .latest-news-row {
    padding: 10px 0 0 0;
    .col-md-4 {
      @include breakpoint(mobile-landscape) {
        width: 50%;
      }
      &:nth-child(3) {
        @include breakpoint(mobile-landscape) {
          display: none;
        }
        @include breakpoint(mobile-portrait) {
          display: none;
        }
      }
    }
  }
  .latest_news_box {
    padding: 30px 0 30px 0;
    @include breakpoint(mobile-portrait) {
      padding: 30px 0px 0;
    }
    .latest_news_img {
      img {
        max-width: 100%;
      }
    }
    .latest_news_content {
      padding: 20px 30px;
      @include breakpoint(iPad) {
        padding: 20px 0px;
      }
      @include breakpoint(mobile-landscape) {
        padding: 20px 0px;
      }
      @include breakpoint(mobile-portrait) {
        padding: 20px 0px;
      }
      h3 {
        @include no_p_m;
        color: $tealDark;
        @include text-short;
        a {
          color: $tealDark;
          display: block;
          @include text-short;
        }
      }
      .news_txt {
        margin: 12px 0;
        color: $dark-text-color;
        @include breakpoint(mobile-landscape) {
          min-height: 122px;
        }
        p {
          margin: 0px;
        }
      }
      .button_green {
        a {
          border: 1px $green solid;
        }
      }
    }
  }
}
