.sub_chilterns_boxs {
  background: $tealDark;
  padding: $d_pd 0;
  h2 {
    @include no_p_m;
    text-align: center;
    color: $white;
  }
  .w_b__btn {
    padding-top: 40px;
  }
  .col-lg-3 {
    @include breakpoint(iPad-landscape) {
      width: 33%;
      flex: 0 0 33%;
      max-width: 33%;
    }
  }
  .col-md-3 {
    @include breakpoint(iPad) {
      width: 33%;
      flex: 0 0 33%;
      max-width: 33%;
    }
  }
  .col-sm-3 {
    @include breakpoint(iPad) {
      width: 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    @include breakpoint(mobile-landscape) {
      flex: 0 0 50%;
      width: 50%;
      max-width: 50%;
    }
  }
  .s_c__box {
    padding-top: 45px;
    .s_c_b__img {
      img {
        width: 100%;
      }
    }
    .s_c_b__content {
      padding: 15px 0px;
      h3 {
        @include no_p_m;
        color: $white;
        a {
          color: $white;
          @include text-short;
          line-height: initial;
        }
      }

      h4 {
        @include no_p_m;
        color: $white;
        a {
          color: $white;
          @include text-short;
          line-height: initial;
        }
      }

      .s_c_c__txt {
        padding: 5px 0;
        min-height: 137px;
        color: $white;
        @include breakpoint(iPad) {
          min-height: 111px;
        }
        p:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}

.read_more_link {
  a {
    font-size: 16px;
    font-weight: 500;
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
}
