.watch-video-section {
  padding: $d_pd 0;
  background: $cyanDark;

  h2 {
    @include no_p_m;
    text-align: center;
    color: $white;
  }

  .w_v__box {
    @include breakpoint(mobile-landscape) {
      text-align: center;
    }

    @include breakpoint(iPad) {
      text-align: center;
    }
  }

  iframe {
    @include breakpoint(iPad) {
      height: 311px;
      margin: auto;
      width: 550px;
    }

    @include breakpoint(mobile-landscape) {
      height: 252px;
      margin: auto;
      width: 447px;
    }

    @include breakpoint(mobile-portrait) {
      height: 196px;
    }
  }

  .w_v_s__txt {
    padding: 30px 10%;
    text-align: center;
    color: $white;

    p {
      margin: 0px;
    }
  }
}
