{% block html_head_container %}
{% include 'partial/html-header.twig' %}
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig" id="body">
	    <div id="mainContainer">
			<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
				<section class="main-header"  id="top-header-nav">
					<header>
						<div class="container-lg">
							<div class="custom-row">
								<div class="logo">
									<a href="{{site.url}}"><img src="{{theme.link}}/assets/img/OCF new logo.svg" alt="" /></a>
								</div>
								<div class="hdr-right">
									<button class="nav__toggle" id="navToggle">
										<span></span>
									</button>
									<div class="nav_menu">
									 <div class="nav_menu_inner">
									   <nav id="nav-main" class="nav-main" role="navigation">
											{% include "menu.twig" with {'items': menu.get_items} %}
											<div class="header-social-media hide-desktop">
										     {% include "partial/content-social.twig" %}
										</div>
										</nav><!-- #nav -->
										<div class="header-social-media hide-mobile">
										     {% include "partial/content-social.twig" %}
										</div>
									 </div>
										
									</div>
								</div>
							</div>
						</div>
					</header>
				</section>

				<section class="main-container">
					<div id="content" role="main" class="content-wrapper">
							{% block content %}
								Sorry, no content
							{% endblock %}
					</div>
				</section>

			{% block footer %}
				<section class="main-footer">
					{% include 'partial/footer.twig' %}
				</section>
				{{ function('wp_footer') }}
			{% endblock %}
		</div>
	</body>
</html>
