{% extends "base.twig" %}

{% block content %}
	<div class="service-page-template">
		
		{% include "partial/content-page-hero.twig"%}

        {% include "partial/content-copy-main.twig"%}

		{% include "partial/content-services.twig"%}

		{% include "partial/content-flexible-content.twig"%}

		{% include "partial/content-get-in-touch.twig"%}
	</div>
{% endblock %}
