{% extends "base.twig" %}

{% block content %}
	<div class="default-page-template">
		{% include "partial/content-page-hero.twig"%}

		{% include "partial/content-flexible-content.twig"%}

	</div>
{% endblock %}
