{% extends "base.twig" %}

{% block content %}

	<div class="home-page-container">
		{% include "partial/content-home-hero.twig"%}
		
        {% include "partial/content-copy-main.twig"%}

		{% include "partial/content-services.twig"%}

		{% include "partial/content-flexible-content.twig"%}
	</div>

{% endblock %}
