{% extends "base.twig" %}

{% block content %}
	<div class="case-studies-page">
		{% include "partial/content-page-hero.twig"%}

		{% include "partial/content-case-studies.twig"%}

		{% include "partial/content-flexible-content.twig"%}

		{% include "partial/content-get-in-touch.twig"%}
	</div>
{% endblock %}
