{% extends "base.twig" %}

{% block content %}
	<div class="details-sections blog-details">

            <div class="page-title-with-image">

                <div class="page-title" data-aos="fade">
                    <div class="line-hd white-line-hd line-left">
                        <div class="container-sm">
                            <h1><span class="trailing-line trailing-line--right trailing-line--primary">{{post.title}}</span></h1>
                        </div>
                    </div>
                </div>

                {% include "partial/content-featured-image.twig"%}
                <div id="scroll-to-main"></div>
            </div>     

                {% include "partial/content-post-content.twig"%}

                {% include "partial/content-flexible-content.twig"%}

                {% include "partial/content-back-to-button.twig" with { url_title:'back to blog', url_link:'blogs'}%}

    </div>

{% endblock %}
