{% extends "base.twig" %}

{% block content %}


	<div class="single-service service-details">

		{% include "partial/content-page-hero.twig"%}

		{% include "partial/content-flexible-content.twig"%}
	</div>

{% endblock %}
