{% extends "base.twig" %}

{% block content %}
	<div class="details-sections">

		{% include "partial/content-page-hero.twig"%}

		{% include "partial/content-flexible-content.twig"%}

	</div>


{% endblock %}
