{% extends "base.twig" %}

{% block content %}

	<section class="project-details">
		<div class="container-sm">
			<div class="details-sm">
				<h1>{{post.title}}</h1>
				<div class="details-img">
					<img src="{{ TimberImage(post.thumbnail).src('src') }}" alt="" width="100%" />
				</div>
				<div class="details-content">
					<div class="desc--box">
						{{post.content}}
					</div>
				</div>
			</div>

		</div>
	</section>


	{% include "partial/content-flexible-content.twig"%}

	{% include "partial/content-back-to-button.twig" with{url_title:'back to case studies',url_link:'case-studies'}%}
{% endblock %}
