<div class="blog-card-outer blog-card-outer-right" data-aos="fade-up">
    <div class="container">
        <div class="blog-cards">
            <div class="blog-card-content">
                <h2>{{post.title}}</h2>
                {% if post.thumbnail.src %}
                <div class="blog-card-img trailing-line trailing-line--right trailing-line--primary">
                    <picture>
                        <img src="{{ TimberImage(post.thumbnail).src('thumbnail') }}" alt="" />
                    </picture>
                </div>
                {% endif %}

                <div class="blog-card-txt">
                    {{post.preview}}
                </div>
                <div class="btn-right">
                    <a href="{{post.link}}" class="round-primary-btn">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>