body {
	margin: 0px;
	line-height: 24px;
	padding: 0;
	font-size: 15px;
	background: #fff;
	color: #5a595e;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}
p:empty {
	display: none;
}
a {
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
.color-green{
	color: #65D345;
}

.color-drak{
	color: #2b2e38;
}
.color-white{
	color: #fff ;
}

.color-blue-drak{
	color: #495056;
}
.color-blue-drak-light{
	color: #5b6469 ;
}

.color-light{
	color: #F4F4F4;
}

select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
/*font-family: 'Merriweather', serif;*/
img {
	max-width: initial;
}
a:focus, button:focus {
	outline: none;
	border: 0px;
}
.clear {
	clear: both;
}
a:hover {
	text-decoration: none;
}

.width-main {
	max-width: 1170px;
	margin: auto;
	padding-left:15px;
	padding-right:15px;
}
.width-md {
	max-width: 830px;
	margin: auto;
		padding-left:15px;
	padding-right:15px;
}
.width-l-md {
	max-width: 1000px;
	margin: auto;
		padding-left:15px;
	padding-right:15px;
}
.width-x-sm {
	max-width: 715px;
	margin: auto;
	padding-left:15px;
	padding-right:15px;
}
.site__header {
	position: fixed;
	top: 0px;
	padding:30px 0;
	left: 0px;
	z-index: 999;
	width: 100%;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
.logo {
	width: 150px;
	float: left;
}
.nav-icon {
	float: right;
	margin: 15px 0 0 0;
}
.logo img {
	width: 100%;
}

.site__header__full {
	background: #2b2e38;
}
.site__header__full .logo {

}
.site__header__full .nav-icon {

}

.custom-row {  display: -webkit-box;  display: -ms-flexbox;  display: flex; }
.nav-icon a {  width: 35px;  height: 29px;  display: block;  }
.nav-icon a span{  height: 3px;  width: 35px; border-radius:4px;  display: block;  background: #fff;  position: relative;  }
.nav-icon a span::before {  content: "";  height: 3px; border-radius:4px;  background: #fff;  width: 35px;  position: absolute;  top: 9px;  left: 0px; }
.nav-icon a span:after {  content: "";  height: 3px; border-radius:4px;  background: #fff;  width: 35px;  position: absolute;  top: -9px;  left: 0px;  }
.nav-box{ display: none; position: fixed; width: 100% ; z-index: 99; background: #fff; height: 100%; left: 0px; top: 0px;}
#opennav.menu-show .nav-box{ display: block;}
#opennav.menu-show .site__header__top{ position: fixed; padding:30px 0; z-index: 999; background: #2b2e38; width: 100%; left: 0px; top: 0px;}
#opennav.menu-show .nav-icon a span{ background: transparent;}
#opennav.menu-show .nav-icon a span::before{ transform: rotate(46deg); top: 8px;}
#opennav.menu-show .nav-icon a span::after{transform: rotate(137deg); top: 8px;}
.main-navigation{ display: flex; align-items: center; width: 100%; height: 100%;}
.home-slider-item{ position: relative;}
.home-slider-out{ position: absolute; z-index: 1; height: 100%; display: flex; align-items: center; width: 100%; left: 0px;  top:0px;}
.home-slider .slick-dots{ position: absolute; width: 100%; bottom: 0px; left: 0px; text-align: center;}
.home-slider-out .width-l-md{ width: 1000px; margin: auto;}
.home-slider-out h2{ margin: 0px; padding: 0px; color: #fff; font-size: 34px; font-weight: 400;}
.home-slider-out h2 span{ color: #65D345;}
.home-slider-out h1{ margin: 0px; padding: 0px; color: #fff; font-size: 70px; font-weight: 700;}
.home-slider .slick-dots li{ display: inline-block; vertical-align: middle; padding: 0px; margin: 0 10px;}
.home-slider .slick-dots li button{  background: transparent; cursor: pointer; position: relative; border: 1px #fff solid; width: 27px;  height: 49px;  border-radius: 26px  }
.home-slider .slick-dots li button:after{ content: "";  width: 7px; height: 7px; left: 0px;  display: block;  right: 0px;  margin: auto;  bottom: 8px;  position: absolute;  border-radius: 26px;  background: #fff;}
.home-row-4 .col-sm-3{ padding:0 10px;}
.home-slider .slick-dots li.slick-active button{border: 1px #65D345 solid;}
.home-slider .slick-dots li.slick-active button:after{background: #65D345;}
.home_info{ background: #F4F4F4;}
.home_info,
.client-logo,
.home-prject-section,
.project-info,
.about-multi-section
{ padding: 80px 0;}
.home-slider-item:after{ position:absolute; background:#f00; content:""; left:0px; top:0px; width:100%; height:100%; background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 1%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 1%,rgba(0,0,0,0) 100%);
background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 1%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 );}
.home-info-box{ background: #fff; height: 100%; padding:40px 15px 30px 15px; text-align: center;}
.home-info-icon{ display: block; text-align: center;}
.home-info-icon img{ width: auto; height: 70px;}
.home-info-box h2{  margin: 25px 0;  color: #2b2e38;  padding: 0px;  font-size: 16px;  font-weight: 600;  min-height: 42px;}
.green-btn a:hover{ background:#65D345; color:#fff;}
.green-btn{ display: block;}
.green-btn a{ display: inline-block; border: 2px #65D345 solid; color: #2b2e38; font-weight: 600; padding:7px 10px; font-size: 14px;}
.home-row-txt{ padding-top: 70px;}
.home-row-txt h3{  margin: 0 0 20px;  color: #2b2e38;  padding: 0 0 20px; text-align: center;  font-size: 22px;  font-weight: 600; position: relative;}
.home-row-txt h3:after{ content: ""; position: absolute; display: block; width: 40px; height: 3px; left: 0px; right: 0px; margin: auto; bottom: 0px; background: #65D345;}
.home-txt-row p{ margin: 0px; text-align: center;}
.main-footer{ background: #65D345; padding: 30px 0; color: #2b2e38;}
.main-footer p{ margin: 0px; color: #2b2e38; font-size: 14px;}
.main-footer a{ font-size: 14px; color: #2b2e38;}
.footer-left{ float: left;}
.footer-right{ float: right;}
.client-logo ul{ display: flex; margin: 0px; padding: 0px; list-style: none; align-items: center;}
.client-logo ul li{ width: 20%; text-align: center; padding:0 15px;}
.home-prject-section h2{  margin:0 0 53px;  color: #fff;  padding: 0 0 20px; text-align: center;  font-size: 22px;  font-weight: 600; position: relative;}
.home-prject-section h2:after{ content: ""; position: absolute; display: block; width: 40px; height: 3px; left: 0px; right: 0px; margin: auto; bottom: 0px; background: #65D345;}
.home-prject-section{ background:#2b2e38; padding-bottom:150px; position:relative;}
.home-prject-graphic{position: absolute;
	background: url(../images/multi-background-graphic.svg) no-repeat;
	background-size: 53%;
	height: 100%;
	overflow: hidden;
	background-position: 0 center;
	width: 100%;
	opacity: 0.1;
	left: -49px;
	top: 0px; }
.about-multi-graphic{position: absolute;
	background: url(../images/multi-background-graphic.svg) no-repeat;
	background-size: 53%;
	height: 100%;
	overflow: hidden;
	background-position: 100% center;
	width: 100%;
	opacity: 0.1;
	right: 0;
	top: 0px; }
.home-prject-item-img img{ width:100%;}
.home-prject-graphic img{ width:100%;}
.home-prject-item-text h3{ margin:0 0 25px; padding:0px; color:#fff; font-size: 37px;
    font-weight: 600;}
.home-prject-item-text {
    padding-left: 64px;
    padding-top: 90px;}	
.home-prject-item-text p{ margin:0px; min-height:150px; padding:00px; color:#fff;}
.read-more{ display: block;}
.read-more a{ display: inline-block; border: 2px #65D345 solid; color: #fff; font-weight: 600; padding:7px 10px; font-size: 14px;}
.read-more a:hover{ background:#65D345;}
.prject-slider .slick-arrow{ display:none;}	
.prject-slider .slick-dots{ position: absolute; width: 100%; bottom: -47px; display:flex; left: 0px; text-align: left; margin:0px; list-style:none; padding:0px;}
.prject-slider .slick-dots li{  padding: 0px; margin: 0 10px 0 0; background: #fff;  border: 1px #fff solid; width: 10px;  height: 10px;  border-radius: 26px }
.prject-slider .slick-dots li button{ border:0px; background:none; width:100%; height:100%; cursor: pointer; display:block;   }
.prject-slider .slick-dots li.slick-active{ background:#65D345; border: 1px #65D345 solid;}
.prject-slider .slick-arrow{ display:none !important;}
.project-info-box i img{ width:auto; height:60px;}
.project-info-box i{ text-align:center;}
.project-info-box{ text-align:center; position:relative; }
.project-info-box strong{ display:block; color:#65D345; font-size:40px; margin:25px 0;}
.project-info-box span{ display:block; color:#2b2e38; font-weight: 600; font-size:16px; }
.about-multi-section{ background: #495056; position:relative; }
.about-multi-section h2{  margin:0 0 53px;  color: #fff;  padding: 0 0 20px; text-align: center;  font-size: 22px;  font-weight: 600; position: relative;}
.about-multi-section h2:after{ content: ""; position: absolute; display: block; width: 40px; height: 3px; left: 0px; right: 0px; margin: auto; bottom: 0px; background: #65D345;}
.about-multi-img img{ width: 100%; height: auto;}
.about-multi-section-in{ background: #fff;}
.about-multi-section-in .row{ align-items: center;}
.about-multi-txt{ padding: 15px;}
.about-multi-txt .read-more a{ color: #2b2e38;}
.about-multi-txt p{ margin: 20px 0;}
.about-multi-txt h3{ color: #2b2e38; font-size: 22px;  font-weight: 600; margin: 0px;}
.home-prject-item-text .read-more a{ font-weight: 500;}
.project-info-box:after{ content: "";
	position: absolute;
	display: block;
	width: 1px;
	height: 66px;
	right: 0px;
	top: 35%;
	background: #c6c6c6;}
.project-info .col-sm-3:nth-child(4) .project-info-box:after{ display: none;}
