.table-row {
    position: relative;
    max-width: 1600px;
    padding: 0 30px;
    margin: 0 auto;
    background: #fff;
    font-size: 0px;
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 16px;
    color: #000;
    padding: 10px;
    min-width: 110px;
}

.teleporter,
.teleportera
{
    display: flex;
    width: 70%;
}

.receiver,
.receivera
{
    display: flex;
    background: rgb(2, 106, 241);
    li{
        display: none;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:last-child
        {
            display: block;
        }
    }
}

.slider-content{
    display: flex;
    overflow: hidden;
    .slider-item{
        width: 0;
        opacity: 0;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4)
        {
            width: 25%;
            opacity: 1;  
        }
    }
}