.items-slider{
   position: relative;
   display: flex;
   align-items: center;
   .slider-item{
    opacity: 0;
    width: 0;
    &.slider-item1{
        opacity: 1;
        width: auto; 
    }
    &.hide-item{
        opacity: 0;
        width: 0;
    }
    &.show-item{
        opacity: 1;
        width: auto;
        transition: all 1s;
        -webkit-transition: all 1s;
    }
   } 
}

