.ul-table {
    display: flex;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
    list-style: none;

    &.ul-table-hd {
        li {
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    &.ul-table-content {
        border: 1px #c7c7c7 solid;
        border-radius: 3px;
        margin-bottom: 10px;
    }

    li {
        padding: 5px;
    }

    .item1 {
        width: 6%;
    }

    .item2 {
        width: 6%;
    }

    .item3 {
        width: 10%;
    }

    .item4 {
        width: 4%;
    }

    .item5 {
        width: 15%;
    }

    .item6 {
        width: 4%;
    }

    .item7 {
        width: 5%;
    }

    .item8 {
        width: 5%;
    }

    .item9 {
        width: 7%;
    }

    .item10 {
        width: 5%;
    }

    .item11 {
        width: 5%;
    }

    .item12 {
        width: 5%;
    }

    .item13 {
        width: 5%;
    }

    .item14 {
        width: 5%;
    }

    .item15 {
        width: 5%;
    }

    .item16 {
        width: 5%;
    }

    .item17 {
        width: 5%;
    }

    .item18 {
        width: 5%;
    }

    .item19 {
        width: 5%;
    }

    .item20 {
        width: 5%;
    }

    .item21 {
        width: 5%;
    }

    .item22 {
        width: 5%;
    }

    .item23 {
        width: 6%;

    }

    .item14,
    .item15,
    .item16,
    .item17,
    .item18,
    .item19,
    .item20,
    .item21,
    .item22 {
        display: none;
    }

}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

h1 {
    @extend %hd-1;
}
