/**
 * ----------------------
 * Blooberry Design
 * Templates - Pagination
 * ----------------------
 */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: $bump;
  border-top: 1px solid $c-primary;
  margin-bottom: $bump;

  span,
  a {
    @include link-reset;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid $c-lt-blue;
    border-radius: 50%;
    line-height: 1;
    margin: 0 $bump/4;
    color: $c-lt-blue;
    text-align: center;

    @include media('<xs') {
      margin: 0 $bump/5 $bump/5;
    }
  }

  a {
    background-color: $c-lt-blue;
    color: $c-white;

    &:hover {
      background-color: $c-blue;
      border-color: $c-blue;
    }
  }
}
