/**
 * ----------------------
 * Blooberry Design
 * Templates - Post
 * ----------------------
 */

.single-post {
  .m-no-banner {
    & > div {
      padding-bottom: 0;
    }
    @include media('<sm') {
      margin-bottom: 0;
    }
  }
}
