body {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  @include background($white);
  @include padding(0px, 0, 0, 0);
  font-size: 17px;
  color: $textColour;

  @include breakpoint(small) {
    font-size: 18px;
  }
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

a {
  color: $green;
}

a:focus,
a:active,
a:hover {
  text-decoration: underline;
}

a,
button {
  @include transition;
}

a:active,
a:hover {
  color: $gray-333;
}

.content-spacking {
  height: $d_pd;
}

select {
  padding: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9;
}

select::-ms-expand {
  display: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

p:empty {
  display: none;
}

.clear {
  clear: both;
}

.container-big {
  max-width: 1430px;
  margin: auto;
  padding: 0 15px;
  @include breakpoint(laptop-small) {
    max-width: 90%;
  }
  @include breakpoint(laptop-small-s) {
    max-width: 95%;
  }
  @include breakpoint(mobile-landscape-sm) {
    padding: 0 $l_pd;
  }
}

.container {
  max-width: 1240px;
  @include breakpoint(laptop-small) {
    max-width: 100%;
  }

 
  @include breakpoint(laptop-small-m) {
    max-width: 100%;
  }
  @include breakpoint(laptop-small-s) {
    max-width: 100%;
  }
  @include breakpoint(mobile-landscape-sm) {
    padding: 0 $l_pd;
  }
}

.container-md {
  max-width: 1080px;
  padding: 0 15px;
  margin: auto;
  @include breakpoint(laptop-small) {
    max-width: 75%;
  }
  @include breakpoint(mobile-landscape-sm) {
    padding: 0 $l_pd;
  }
}

.container-sm {
  max-width: 980px;
  padding: 0 15px;
  margin: auto;
  @include breakpoint(laptop-small) {
    max-width: 70%;
  }
  @include breakpoint(mobile-landscape-sm) {
    padding: 0 $l_pd;
  }
}

.container-txt-sm,
.block_alternative_text__inner {
  max-width: 980px;
  padding: 0 120px;
  padding: 0 15px;
  margin: auto;
  @include breakpoint(laptop-small) {
    max-width: 70%;
  }

  @include breakpoint(small) {
    padding: 0 15px;
  }

  @include breakpoint(mobile-landscape-sm) {
    padding: 0 $l_pd;
  }
}

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

.full-img-content-section .full_img_content {
  max-width: 700px;
  margin: 70px auto;

  @include breakpoint(mobile-landscape-sm) {
    max-width: 80%;
  }
}

.container_accordion {
  max-width: 650px;
  margin: auto;
  padding: 0 15px;

  @include breakpoint(mobile-landscape-sm) {
    padding: 0 $l_pd;
  }
}

.p_w_t__txt {
  max-width: 728px;
  padding: 0 0 40px 0;
  margin: auto;
  @include align_center;

  @include breakpoint(mobile-landscape-sm) {
    padding: 0 $l_pd 40px;
  }
}

.block_job_list__inner,
.page_job__details__inner,
.event_i_c__inner {
  max-width: 728px;
  padding: 0 15px;
  margin: auto;

  @include breakpoint(mobile-landscape-sm) {
    padding: 0 $l_pd;
  }
}

.page_content_us__inner {
  max-width: 828px;
  padding: 0 15px;
  margin: auto;
  @include breakpoint(laptop-small) {
    max-width: 70%;
  }
  @include breakpoint(mobile-landscape-sm) {
    padding: 0 $l_pd;
  }
}

.container-home-team {
  max-width: 820px;
  margin: auto;
  padding: 0 15px;
  @include breakpoint(laptop-small) {
    max-width: 70%;
  }
  @include breakpoint(mobile-landscape-sm) {
    padding: 0 $l_pd;
  }
}

.block_apply_volu_opp__inner {
  max-width: 685px;
  margin: auto;
  padding: 0 15px;

  @include breakpoint(mobile-landscape-sm) {
    padding: 0 $l_pd;
  }
}

.a_items__center {
  align-items: center;
}

.flex-box {
  @include display(flex);
}

.container-mid {
  min-height: 600px;

  @include breakpoint(mobile-landscape) {
    min-height: 400px;
  }
}

.display_flex_center {
  display: flex;

  @include breakpoint(mobile-portrait) {
    display: block;
  }
}

.img_cover .display_flex_center {
  @include breakpoint(mobile-portrait) {
    display: flex;
  }
}

.hide-from-list {
  display: none;
}

.ajax_loader-bg {
  position: absolute;
  width: 100%;
  left: 0px;
  right: 0px;
  padding-top: 20px;
  text-align: center;
  margin: auto;
  display: none;
}

.ajax_loader-bg .loader {
  width: 48px;
  height: auto;
  margin: auto;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
  margin: 0.5em 1em 0.5em 0;
}

.alignright {
  float: right;
  margin: 0.5em 0 0.5em 1em;
}

img {
  height: auto;
  max-width: 100%;
  width: auto;
}

h1 {
  font-weight: 100;
  font-family: 'PontiacRegular';
  font-size: 45px;
  color: $tealDark;

  @include breakpoint(iPad) {
    font-size: 42px;
  }

  @include breakpoint(small) {
    font-size: 40px;
  }
}

h2 {
  font-size: 34px;
  font-weight: 100;
  font-family: 'PontiacRegular';
  color: $tealDark;

  @include breakpoint(iPad) {
    font-size: 30px;
  }

  @include breakpoint(small) {
    font-size: 27px;
  }
}

h3 {
  font-size: 26px;
  font-weight: 100;
  font-family: 'PontiacRegular';
  color: $tealDark;

  @include breakpoint(iPad) {
    font-size: 24px;
  }

  @include breakpoint(small) {
    font-size: 22px;
  }
}

h4 {
  font-size: 22px;
  font-weight: 100;
  font-family: 'PontiacRegular';
  color: $tealDark;

  @include breakpoint(iPad) {
    font-size: 20px;
  }

  @include breakpoint(small) {
    font-size: 19px;
  }
}

h5 {
  font-size: 18px;
  font-weight: 100;
  font-family: 'PontiacRegular';
  color: $tealDark;
}

.align_right {
  @include align_right;
}

.align_left {
  @include align_left;
}

.align_center {
  @include align_center;
}

.mid_container {
  padding-top: 0px;
}

.home .mid_container {
  padding-top: 0px;
}

.hidden {
  display: none;
}

:focus {
  outline: 0;
}
nav.paginate-pagination {
  .pagination {
    justify-content: center;
  }
}

#maincontent table{
  margin-top:30px;
}

.fancybox-caption {
  padding: 15px;
  background: $tealDark;
  font-size: 17px !important;
}
.fancybox-show-caption .fancybox-caption{
  opacity: 1;
  visibility:visible
}
.fancybox-caption__body{
  font-size: 17px;
}