.btn-set--left {
    display: flex;
    justify-content: left;
    padding-left: 10px;
}

.btn-set--center {
    display: flex;
    justify-content: center;
}

.btn-set--right {
    display: flex;
    justify-content: right;

    @include breakpoint(mobile) {
        justify-content: left;
        padding-left: 10px;
    }
}

.primary-btn {
    @include gradient;
    color: $white;
    border: 0px $primary-color solid;
    padding: 0.6rem 1.5rem;
    border-radius: 50px;
    font-size: $btn-font-size-base;
    display: block;

    &:hover {
        background: $primary-color;
        color: $white;
    }
}

.secondary-btn {
    background: $secondary-color;
    color: $white;
    border: 0px $secondary-color solid;
    padding: 0.6rem 1.5rem;
    border-radius: 50px;
    font-size: $btn-font-size-base;
    display: block;

    &:hover {
        background: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}

.white-btn {
    background: $white;
    color: $primary-color;
    border: 0px $white solid;
    padding: 0.6rem 1.5rem;
    border-radius: 50px;
    font-size: $btn-font-size-base;
    display: block;

    &:hover {
        background: $primary-color;
        color: $white;
        border: 0px $primary-color solid;
    }
}

.primary-outline--btn {
    background: transparent;
    color: $white;
    border: 0px $primary-color solid;
    padding: 0.6rem 1.5rem;
    font-size: $btn-font-size-base;
    display: block;
    position: relative;
    &:hover {
        color: $white;
        &::after {
            background: $primary-color;
        }
    }
}

.secondary-outline--btn {
    background: transparent;
    color: $white;
    border: 0px $secondary-color solid;
    padding: 0.6rem 1.5rem;
    font-size: $btn-font-size-base;
    display: block;
    position: relative;
    &:hover {
        color: $white;
        &::after {
            background: $secondary-color;
        }
    }
}
.arrow--btn {
    width: 25px;
    height: 25px;
    a {
        background: url("#{$assetPath}/arrow blue right.svg") no-repeat center center;
        display: block;
        width: 100%;
        height: 100%;
        background-size: 100%;
        &:hover {
            background: url("#{$assetPath}/arrow cyan right.svg") no-repeat center center;
            background-size: 100%;
        }
    }
}

.wpcf7-submit {
    @include gradient;
    color: $white;
    border: 0px $primary-color solid;
    padding: 0.6rem 1.5rem;
    border-radius: 50px;
    font-size: $btn-font-size-base;
    display: block;

    &:hover {
        background: $primary-color;
        color: $white;
    }
}
