h1 {
    font-size: $h1;
    line-height: 4rem;
    font-weight: 800;
    color: $primary-color;

    @include breakpoint(common-ipad-desktop) {
        font-size: 3rem;
    }
    @include breakpoint(ipad_portrait) {
        font-size: $h1_ip;
        line-height: 3rem;
    }
    @include breakpoint(mobile) {
        font-size: $h1_m;
    }
    @include breakpoint(mobile_landscape){
        line-height: 2.3rem;
    }
    @include breakpoint(mobile_portrait){
        line-height: 2.2rem;
    }
}

h2 {
    font-size: $h2;
    font-weight: 800;
    color: $primary-color;
    @include breakpoint(mobile){
        font-size: $h2_m_p;
        line-height: 1.9rem;
    }
    
    @include breakpoint(ipad_portrait) {
        font-size: $h2_ip;
    }
}

h3 {
    font-size: $h3;
    font-weight: 800;
    color: $primary-color;
    @include breakpoint(mobile) {
        font-size: $h3_m;
    }
    @include breakpoint(ipad_portrait) {
        font-size: $h3_ip;
    }
    
}

h4 {
    font-size: $h4;
    font-weight: 800;
    color: $primary-color;
    @include breakpoint(mobile) {
        font-size: $h4_m;
    }
    @include breakpoint(ipad_portrait) {
        font-size: $h4_ip;
    }
}
h5{
    font-size: $h5;
    font-weight: 800;
    color: $primary-color;
}

.hd-text-center{
    text-align: center;
}
.hd-text-left{
    text-align: left;
}
.hd-text-right{
    text-align: right;
}
.title {
    position: relative;
    display: inline-flex;
    padding: 0px;
    padding-top: 1.6rem;
    margin: 0px;
    color: $primary-color;
    &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        width: 117px;
         height: 5px;
        background-color: $green2;
    }
}
.title ~ .desc--box{
    margin-top: 1.6rem;
}