.email-blue-icon {
    background: url("#{$assetPath}/email blue.svg") no-repeat center center;
}
.telephone-blue-icon {
    background: url("#{$assetPath}/phone blue.svg") no-repeat center center;
}
.linkedin-blue-icon {
    background: url("#{$assetPath}/linkedin blue.svg") no-repeat center center;
}
.twitter-blue-icon {
    background: url("#{$assetPath}/twitter blue.svg") no-repeat center center;
}
.youtube-blue-icon {
    background: url("#{$assetPath}/youtube blue.svg") no-repeat center center;
}
.map-blue-icon {
    background: url("#{$assetPath}/map blue.svg") no-repeat center center;
}
.email-white-icon {
    background: url("#{$assetPath}/email white.svg") no-repeat center center;
}
.telephone-white-icon {
    background: url("#{$assetPath}/phone white.svg") no-repeat center center;
}
.linkedin-white-icon {
    background: url("#{$assetPath}/linkedin white.svg") no-repeat center center;
}
.twitter-white-icon {
    background: url("#{$assetPath}/twitter white.svg") no-repeat center center;
}
.youtube-white-icon {
    background: url("#{$assetPath}/youtube white.svg") no-repeat center center;
}
.map-white-icon {
    background: url("#{$assetPath}/map white.svg") no-repeat center center;
}
.email-teal-icon {
    background: url("#{$assetPath}/email teal.svg") no-repeat center center;
}
.telephone-teal-icon {
    background: url("#{$assetPath}/phone teal.svg") no-repeat center center;
}
.linkedin-teal-icon {
    background: url("#{$assetPath}/linkedin teal.svg") no-repeat center center;
}
.twitter-teal-icon {
    background: url("#{$assetPath}/twitter teal.svg") no-repeat center center;
}
.youtube-teal-icon {
    background: url("#{$assetPath}/youtube teal.svg") no-repeat center center;
}
.map-teal-icon {
    background: url("#{$assetPath}/map teal.svg") no-repeat center center;
}
