@media (min-width: 320px) and (max-width: 1550px) {
    body {
        font-size: 1.1rem;
    }
    .top-sm-text-block .desc--box p {
        line-height: 1.7rem;
    }
    .privacy-policy,
    .environmental-policy {
        .top-sm-text-block {
            .container-sm {
                .desc--box {
                    font-size: 1.1rem;
                }
            }
        }
    }

}

@media (min-width: 1600px) and (max-width: 30000px) {
    .top-sm-text-block {
     padding-top: 1rem;
     padding-bottom: 3rem;     
    }

}