/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
a,
button {
  cursor: pointer;
}

body {
  font-size: 1.1rem;
}

.desc--box ul li, p {
  line-height: 1.6rem;
}

.desc--box ul li {
  font-size: 1.1rem;
}

.testimonials-section, .main-padding, .news-details-page {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section, .main-padding, .news-details-page {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section, .main-padding, .news-details-page {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.art-section .art-box, .main-padding-top {
  padding-top: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .art-section .art-box, .main-padding-top {
    padding-top: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .art-section .art-box, .main-padding-top {
    padding-top: 3rem;
  }
}

.main-padding-bottom {
  padding-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-padding-bottom {
    padding-bottom: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-padding-bottom {
    padding-bottom: 3rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

.contact-page-template .contact-page-bg .contact-page-bg-inner h1, .page-hd-section .page-hd-section-in .page-heading-hd h1, .hero-slider-section .hero-slider-item-content h1 {
  font-size: 5.5rem;
}
@media (min-width: 1280px) and (max-width: 1480px) {
  .contact-page-template .contact-page-bg .contact-page-bg-inner h1, .page-hd-section .page-hd-section-in .page-heading-hd h1, .hero-slider-section .hero-slider-item-content h1 {
    font-size: 4.5rem;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .contact-page-template .contact-page-bg .contact-page-bg-inner h1, .page-hd-section .page-hd-section-in .page-heading-hd h1, .hero-slider-section .hero-slider-item-content h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .contact-page-template .contact-page-bg .contact-page-bg-inner h1, .page-hd-section .page-hd-section-in .page-heading-hd h1, .hero-slider-section .hero-slider-item-content h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-page-template .contact-page-bg .contact-page-bg-inner h1, .page-hd-section .page-hd-section-in .page-heading-hd h1, .hero-slider-section .hero-slider-item-content h1 {
    font-size: 3.4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-page-template .contact-page-bg .contact-page-bg-inner h1, .page-hd-section .page-hd-section-in .page-heading-hd h1, .hero-slider-section .hero-slider-item-content h1 {
    font-size: 2.5rem;
  }
}

.heading h2 {
  font-size: 2.3rem;
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .heading h2 {
    font-size: 2.3rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .heading h2 {
    font-size: 2.2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .heading h2 {
    font-size: 2.2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .heading h2 {
    font-size: 1.7rem;
    line-height: 2rem;
  }
}

.contact-page-template .contact-page-bg .contact-page-bg-inner, .page-hd-section .page-hd-section-in .page-heading-hd, .hero-slider-section .hero-slider-item-content .hero-slider-item-content-inner {
  background: rgba(0, 0, 0, 0.7);
}

.simple-info-section .tags {
  font-size: 3.4169rem;
}

.btn-set--left {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.btn-set--center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.primary-btn,
.secondary-btn,
.primary-outline-btn,
.secondary-outline-btn,
.white-btn,
.wpcf7-submit,
.white-outline-btn,
.white-btn-arrow,
.primary-btn-arrow,
.secondary-btn-arrow,
.secondary-btn-out-line-arrow {
  padding: 0.8rem 1.7rem;
  font-size: 1.1669rem;
  display: block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-transform: lowercase;
  min-width: 150px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .primary-btn,
.secondary-btn,
.primary-outline-btn,
.secondary-outline-btn,
.white-btn,
.wpcf7-submit,
.white-outline-btn,
.white-btn-arrow,
.primary-btn-arrow,
.secondary-btn-arrow,
.secondary-btn-out-line-arrow {
    padding: 0.6rem 1rem;
  }
}

.primary-btn {
  background-color: #495163;
  color: #fff;
  border: 1px #495163 solid;
}
.primary-btn:hover {
  background-color: #bebcc1;
  color: #fff;
  border: 1px #bebcc1 solid;
}

.secondary-btn {
  background-color: #bebcc1;
  color: #fff;
  border: 1px #bebcc1 solid;
}
.secondary-btn:hover {
  background-color: #495163;
  color: #fff;
  border: 1px #495163 solid;
}

.white-btn {
  background-color: #fff;
  color: #bebcc1;
  border: 0px #bebcc1 solid;
}
.white-btn:focus {
  color: #495163;
}
.white-btn:hover {
  background-color: #495163;
  border: 0px #495163 solid;
}

.primary-outline-btn {
  background-color: transparent;
  color: #bebcc1;
  border: 1px #495163 solid;
}
.primary-outline-btn:hover {
  background-color: #495163;
  color: #fff;
  border: 1px #495163 solid;
}

.white-outline-btn {
  background-color: transparent;
  color: #fff;
  border: 1px #fff solid;
}
.white-outline-btn:hover {
  background-color: #495163;
  color: #fff;
  border: 1px #495163 solid;
}

.secondary-outline-btn {
  background-color: transparent;
  color: #bebcc1;
  border: 1px #bebcc1 solid;
}
.secondary-outline-btn:hover {
  background-color: #495163;
  color: #fff;
  border: 1px #495163 solid;
}

.wpcf7-submit {
  color: #bebcc1;
  border: 1px #495163 solid;
  padding: 0.8rem 3rem 1rem 1.7rem;
  background: #495163 url("../img/icons/arrow-white.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
}
.wpcf7-submit:hover {
  background: #fff url("../img/icons/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  border: 1px #fff solid;
  color: #495163;
}

.input-submit .wpcf7-spinner {
  display: none;
}

.primary-btn-arrow {
  background: #fff url("../img/icons/Primary btn arrow.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  padding: 0.8rem 3rem 1rem 1.7rem;
  color: #495163;
  border: 1px #495163 solid;
}
.primary-btn-arrow:hover {
  background: #495163 url("../img/icons/button-white-arrow.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  color: #fff;
}

.secondary-btn-arrow {
  background: #fff url("../img/icons/Secondary btn arrow.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  padding: 0.8rem 3rem 1rem 1.7rem;
  color: #bebcc1;
  border: 1px #bebcc1 solid;
}

.white-btn-arrow {
  background: #495163 url("../img/icons/White btn arrow.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  padding: 0.8rem 3rem 1rem 1.7rem;
  color: #fff;
  border: 1px #fff solid;
}

.primary-bg .white-btn-arrow:hover {
  background: #fff url("../img/icons/Primary btn arrow.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  padding-right: 3rem;
  color: #495163;
  border: 1px #fff solid;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  background: #fff;
  padding-top: 0px;
  padding-right: 0rem;
  padding-bottom: 0;
  padding-left: 0rem;
  margin: 0px;
  color: #495163;
  overflow-x: hidden;
}

.content-wrapper section {
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

strong {
  font-weight: 900;
}

.container-lg {
  max-width: calc(100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .container-lg {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.container {
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.container-md {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: 1601px) and (max-width: 30000px) {
  .container-md {
    max-width: 1300px;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .container-md {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-md {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-md {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-md {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-md {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.container-sm {
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

.white-bg {
  background: #fff;
}

.primary-bg {
  color: #fff;
  background: #495163;
}
.primary-bg .desc--box {
  font-weight: 200;
}

.secondary-bg {
  background: #bebcc1;
  color: #fff;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.hide-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hide-desktop {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

.desc--box p a {
  color: #495163;
  text-decoration: none;
  font-weight: 500;
}
.desc--box p a:hover {
  text-decoration: underline;
  color: #bebcc1;
}
.desc--box p:first-child {
  margin-top: 0px;
}
.desc--box p:last-child {
  margin: 0px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .desc--box p br {
    display: none;
  }
}
.desc--box ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.desc--box ul li {
  position: relative;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 1.4rem;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 991px) {
  .desc--box ul li br {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .desc--box ul li br {
    display: none;
  }
}
.desc--box ul li::before {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0px;
  top: 6px;
  background: #495163;
  content: "";
  border-radius: 100px;
}
.desc--box ul ~ p:last-child {
  margin-top: 1.5rem;
}
.desc--box table tr td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.desc--box table tr td:nth-child(1) {
  width: 150px;
  padding-right: 15px;
}

.main-container {
  min-height: 90vh;
}

.back-btn-box {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #bebcc1;
}
.back-btn-box .back-btn {
  color: #fff;
  position: relative;
  font-family: "Playfair Display", serif;
  padding: 0 0 0 30px;
  font-weight: 700;
  background: url("../img/icons/arrow-primary-left.svg") no-repeat center left;
  background-size: 18px;
}
.back-btn-box .back-btn strong {
  font-weight: 700;
}
.back-btn-box .back-btn:hover {
  color: #495163;
}

.hide-in-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hide-in-desktop {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .hide-in-mobile {
    display: none;
  }
}

h1.text-center {
  text-align: center;
  color: #495163;
  margin: 0px;
}

.left-bottom-btn {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.right-bottom-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.spacer-row {
  background: #fff;
  height: 4px;
  width: 100%;
}

.img-show-mobile {
  display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .img-show-mobile {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .img-show-mobile {
    display: block;
  }
}

.img-show-desktop {
  margin-bottom: 4rem;
  display: block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .img-show-desktop {
    display: none;
    margin-bottom: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .img-show-desktop {
    display: none;
    margin-bottom: 0rem;
  }
}

/*Helpers Scss Files */
.card-box-1 {
  width: 8.333333%;
}

.card-box-2 {
  width: 16.666667%;
}

.card-box-3 {
  width: 25%;
}

.card-box-4 {
  width: 33.333333%;
}

.card-box-5 {
  width: 41.666667%;
}

.card-box-6 {
  width: 50%;
}

.card-box-7 {
  width: 58.333333%;
}

.card-box-8 {
  width: 66.666667%;
}

.card-box-9 {
  width: 75%;
}

.card-box-10 {
  width: 83.333333%;
}

.card-box-11 {
  width: 91.666667%;
}

.card-box-12 {
  width: 100%;
}

.who-we-are-section {
  padding-top: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .who-we-are-section {
    padding-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .who-we-are-section {
    padding-top: 3rem;
  }
}

.image-text-flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row {
    padding-left: 13%;
    padding-right: 13%;
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row {
    padding-left: 6%;
    padding-right: 6%;
    flex-direction: column-reverse;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .image-text-flex-row {
    padding-left: 6%;
    padding-right: 6%;
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row {
    margin-bottom: 4rem;
    flex-direction: column-reverse;
  }
}
.image-text-flex-row:last-child {
  margin-bottom: 0px;
}
.image-text-flex-row .image-card-50 {
  width: 63%;
  background-size: cover;
  background-position: center;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row .image-card-50 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row .image-card-50 {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row .image-card-50 {
    width: 100%;
  }
}
.image-text-flex-row .image-card-50 img {
  width: 100%;
  display: block;
  height: auto;
}
.image-text-flex-row .content-card-50 {
  width: 37%;
  padding-left: 3%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row .content-card-50 {
    width: 100%;
    padding-left: 0%;
    margin-bottom: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row .content-card-50 {
    width: 100%;
    padding-left: 0%;
    margin-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row .content-card-50 {
    width: 100%;
    padding-left: 0%;
    margin-bottom: 3rem;
  }
}
.image-text-flex-row .content-card-50 .section-hd {
  margin: 0px;
}
.image-text-flex-row .content-card-50 .desc--box {
  margin: 2rem 0;
  min-height: 250px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 95px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 95px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 84px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 95px;
  }
}
.image-text-flex-row .image-card img {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 30px;
}
.image-text-flex-row .content-card-inner {
  position: relative;
  height: 100%;
}
.image-text-flex-row .content-card-inner.download-btn-yes {
  padding-bottom: 5rem;
}
.image-text-flex-row .content-card-inner h2 {
  margin: 0px;
  padding: 0px;
}
.image-text-flex-row .content-card-inner .desc--box {
  margin-top: 1rem;
}
.image-text-flex-row .content-card-inner .btn-set--left {
  position: absolute;
  bottom: 0px;
  left: 0;
}
.image-text-flex-row.image-text-flex-row-right {
  flex-direction: row-reverse;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row.image-text-flex-row-right {
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row.image-text-flex-row-right {
    flex-direction: row-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row.image-text-flex-row-right {
    flex-direction: row-reverse;
  }
}
.image-text-flex-row.image-text-flex-row-right .content-card-50 {
  padding-right: 5%;
  padding-left: 0px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row.image-text-flex-row-right .content-card-50 {
    padding-right: 0%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row.image-text-flex-row-right .content-card-50 {
    padding-right: 0%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row.image-text-flex-row-right .content-card-50 {
    padding-right: 0%;
  }
}

.input-field {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 2rem;
  margin-left: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .input-field {
    margin-top: 1.2rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
.input-field label {
  font-size: 1.2rem;
  color: #bebcc1;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-weight: 100;
}
.input-field label a {
  color: #fff;
  text-decoration: underline;
}
.input-field label a:hover {
  color: #495163;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea,
.input-field select {
  border: 0;
  border-bottom: 2px #495163 solid;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 0px;
  width: 100%;
  font-size: 1.2rem;
  color: #fff;
  background: transparent;
  -webkit-appearance: none;
  border-radius: 0px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled,
.input-field select:disabled {
  opacity: 0.5;
}
.input-field input[type=text]::-webkit-input-placeholder,
.input-field input[type=email]::-webkit-input-placeholder,
.input-field input[type=password]::-webkit-input-placeholder,
.input-field input[type=number]::-webkit-input-placeholder,
.input-field input[type=date]::-webkit-input-placeholder,
.input-field textarea::-webkit-input-placeholder,
.input-field select::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  opacity: 1;
}
.input-field input[type=text]::-moz-placeholder,
.input-field input[type=email]::-moz-placeholder,
.input-field input[type=password]::-moz-placeholder,
.input-field input[type=number]::-moz-placeholder,
.input-field input[type=date]::-moz-placeholder,
.input-field textarea::-moz-placeholder,
.input-field select::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  opacity: 1;
}
.input-field input[type=text]:-ms-input-placeholder,
.input-field input[type=email]:-ms-input-placeholder,
.input-field input[type=password]:-ms-input-placeholder,
.input-field input[type=number]:-ms-input-placeholder,
.input-field input[type=date]:-ms-input-placeholder,
.input-field textarea:-ms-input-placeholder,
.input-field select:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  opacity: 1;
}
.input-field input[type=text]:-moz-placeholder,
.input-field input[type=email]:-moz-placeholder,
.input-field input[type=password]:-moz-placeholder,
.input-field input[type=number]:-moz-placeholder,
.input-field input[type=date]:-moz-placeholder,
.input-field textarea:-moz-placeholder,
.input-field select:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  opacity: 1;
}
.input-field textarea {
  height: 126px;
}

.input-field-set label {
  font-size: 1.2rem;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

select {
  width: 100%;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h5 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.heading h2 {
  position: relative;
  margin: 0px;
  padding: 0 0 2rem 0;
  text-transform: lowercase;
  color: #495163;
}
.heading h2::after {
  content: "";
  width: 137px;
  height: 4px;
  background: #495163;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.heading h2::before {
  content: "";
  width: 100vh;
  height: 4px;
  background: #495163;
  position: absolute;
  bottom: 0px;
  left: -100vh;
}
.heading .desc--box {
  margin-top: 1.5rem;
}

.primary-bg .heading h2 {
  color: #fff;
}
.primary-bg .heading h2::after {
  background: #fff;
  left: 0px;
}
.primary-bg .heading h2::before {
  background: #fff;
}

.aos-animate h2::after {
  animation: 1s slide-right;
}
.aos-animate h2::before {
  animation: 1s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}
/*Layout Scss Files */
.main-header {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  padding: 2rem 0;
  z-index: 999;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .main-header {
    padding: 1rem 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main-header {
    padding: 1.2rem 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-header {
    padding: 1rem 0;
  }
}
.main-header header {
  display: flex;
  align-items: center;
}
.main-header .header-logo {
  width: 300px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main-header .header-logo {
    width: 240px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-header .header-logo {
    width: 200px;
  }
}
.main-header .header-logo a {
  display: block;
}
.main-header .header-logo a img {
  display: block;
  width: 100%;
}
.main-header .header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .main-header .header-right {
    display: none;
  }
}
.main-header .header-right .header-nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
.main-header .header-right .header-nav ul li {
  margin: 0 2.5rem 0 0;
  padding: 0px;
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .main-header .header-right .header-nav ul li {
    margin-right: 1rem;
  }
}
@media (min-width: 1100px) and (max-width: 1280px) {
  .main-header .header-right .header-nav ul li {
    margin-right: 2.5rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-header .header-right .header-nav ul li {
    margin-right: 1rem;
  }
}
.main-header .header-right .header-nav ul li a {
  display: inline-block;
  color: #495163;
  font-size: 1.1rem;
  text-transform: uppercase;
  position: relative;
  border-bottom: 4px #fff solid;
  padding-bottom: 5px;
  padding-top: 8px;
  font-weight: 400;
}
.main-header .header-right .header-nav ul li a:hover {
  color: #bebcc1;
}
.main-header .header-right .header-nav ul li.menu-item-has-children {
  position: relative;
}
.main-header .header-right .header-nav ul li.menu-item-has-children .sub-menu-toggle {
  padding-right: 9px;
  background: url("../img/icons/arrow-icon-menu-close.svg") no-repeat center center;
  border: 0;
  height: 15px;
  background-size: 26px;
}
.main-header .header-right .header-nav ul li.menu-item-has-children ul {
  position: absolute;
  width: 250px;
  left: 0px;
  top: 28px;
  display: none;
  padding-top: 27px;
}
.main-header .header-right .header-nav ul li.menu-item-has-children ul li {
  padding: 1rem 1.5rem;
  margin: 0px;
  background: #495163;
}
.main-header .header-right .header-nav ul li.menu-item-has-children ul li:first-child {
  padding-top: 2rem;
}
.main-header .header-right .header-nav ul li.menu-item-has-children ul li:last-child {
  padding-bottom: 2rem;
}
.main-header .header-right .header-nav ul li.menu-item-has-children ul li a {
  text-transform: capitalize;
  color: #fff;
  display: inline;
  border-color: transparent;
  font-family: "Playfair Display", serif;
}
.main-header .header-right .header-nav ul li.menu-item-has-children.submenu-expanded a {
  border-color: #495163;
}
.main-header .header-right .header-nav ul li.menu-item-has-children.submenu-expanded ul li a {
  border-color: transparent;
}
.main-header .header-right .header-nav ul li.menu-item-has-children.submenu-expanded ul li a:hover {
  color: #bebcc1;
}
.main-header .header-right .header-nav ul li.menu-item-has-children.submenu-expanded ul li.current_page_item a {
  color: #bebcc1;
  border-color: #bebcc1;
}
.main-header .header-right .header-nav ul li.current-menu-ancestor a {
  border-color: #495163;
  font-weight: 700;
}
.main-header .header-right .header-nav ul li.current-menu-ancestor ul li a {
  border-color: transparent;
  font-weight: 500;
}
.main-header .header-right .header-nav ul li.current_page_item a {
  border-color: #495163;
  font-weight: 700;
}
.main-header .header-social ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
.main-header .header-social ul li {
  margin: 0 1rem 0 0;
  padding: 0px;
}
.main-header .header-social ul li:last-child {
  margin-right: 0px;
}
.main-header .header-social ul li a {
  display: block;
  width: 35px;
  height: 35px;
}
.main-header .header-social ul li a.facebook-icon {
  background: url("../img/icons/facebook-drak.svg") no-repeat center center;
  background-size: 55%;
}
.main-header .header-social ul li a.instagram-icon {
  background: url("../img/icons/instagram hanks gallery.svg") no-repeat center center;
  background-size: 100%;
}
.main-header .header-social ul li a:hover.facebook-icon {
  background: url("../img/icons/facebook-light.svg") no-repeat center center;
  background-size: 55%;
}
.main-header .header-social ul li a:hover.instagram-icon {
  background: url("../img/icons/instagram hanks gallery grey.svg") no-repeat center center;
  background-size: 100%;
}

.mobile-menu {
  display: none;
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 25px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
  display: none;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .nav__toggle {
    margin-left: auto;
    display: block;
    top: 0px;
  }
}
.nav__toggle span {
  width: 30px;
}
.nav__toggle span::before,
.nav__toggle span::after {
  width: 35px;
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  text-align: right;
  cursor: pointer;
  border-radius: 0px;
  height: 4px;
  background-color: #495163;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.2s;
  outline: 0;
  right: 0px;
}
.nav__toggle span {
  top: 15px;
}
.nav__toggle span::before {
  top: -10px;
}
.nav__toggle span::after {
  bottom: -10px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .menu-slide .main-header .nav__toggle span {
    background-color: transparent;
  }
  .menu-slide .main-header .nav__toggle span::before, .menu-slide .main-header .nav__toggle span::after {
    top: 0;
    background-color: #495163;
  }
  .menu-slide .main-header .nav__toggle span::before {
    transform: rotate(45deg);
  }
  .menu-slide .main-header .nav__toggle span::after {
    transform: rotate(-45deg);
  }
  .menu-slide .main-header .nav__toggle:hover span {
    background-color: transparent;
  }
  .menu-slide .main-header .nav__toggle:hover span::before, .menu-slide .main-header .nav__toggle:hover span::after {
    background-color: #495163;
  }
  .menu-slide .mobile-menu {
    display: block;
    position: absolute;
    width: 100%;
    height: calc(100vh - 61px);
    top: 61px;
    left: 0px;
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 1024px) and (min-width: 768px) and (max-width: 1024px) {
  .menu-slide .mobile-menu {
    height: calc(100vh - 74px);
    top: 74px;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .mobile-menu-inner {
    padding: 2rem 0 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    background-color: #495163;
    overflow-x: hidden;
  }
  .menu-slide .mobile-menu .mobile-menu-inner .mobile-menu-box {
    justify-content: center;
    width: auto;
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
  }
  .menu-slide .mobile-menu .header-nav ul li {
    margin: 0px;
    padding: 0 0 1rem 0;
  }
}
@media (min-width: 320px) and (max-width: 1024px) and (min-width: 768px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-nav ul li {
    padding: 0 0 2.6rem 0;
  }
}
@media (min-width: 320px) and (max-width: 1024px) and (min-width: 320px) and (max-width: 767px) {
  .menu-slide .mobile-menu .header-nav ul li {
    padding: 0 0 2rem 0;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-nav ul li a {
    color: #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 3px transparent solid;
  }
}
@media (min-width: 320px) and (max-width: 1024px) and (min-width: 768px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-nav ul li a {
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-nav ul li.menu-item-has-children {
    position: relative;
  }
  .menu-slide .mobile-menu .header-nav ul li.menu-item-has-children .sub-menu-toggle {
    background: url("../img/icons/submenu-arrow-close.svg") no-repeat center center;
    background-size: 100%;
    width: 10px;
    height: 15px;
    border: 0px;
    padding: 0px;
    right: -22px;
    cursor: pointer;
    margin: 0 0 0 15px;
    display: inline;
    position: absolute;
    top: 8px;
  }
}
@media (min-width: 320px) and (max-width: 1024px) and (min-width: 768px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-nav ul li.menu-item-has-children .sub-menu-toggle {
    right: -22px;
    top: 10px;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-nav ul li ul {
    margin: 1.5rem 0;
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 1024px) and (min-width: 320px) and (max-width: 767px) {
  .menu-slide .mobile-menu .header-nav ul li ul li {
    padding: 0 0 0.7rem 0;
  }
}
@media (min-width: 320px) and (max-width: 1024px) and (min-width: 768px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-nav ul li ul li {
    padding: 0 0 1rem 0;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-nav ul li ul li:last-child {
    padding-bottom: 0px;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-nav ul li ul li a {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-family: "Playfair Display", serif;
    font-weight: 500;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-nav ul li ul li.current_page_item a {
    color: #bebcc1 !important;
    border-color: #bebcc1 !important;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-nav ul li.submenu-expanded .sub-menu-toggle {
    background: url("../img/icons/submenu-arrow-open.svg") no-repeat center center;
    background-size: 100%;
    width: 16px;
    height: 15px;
    top: 8px;
  }
}
@media (min-width: 320px) and (max-width: 1024px) and (min-width: 768px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-nav ul li.submenu-expanded .sub-menu-toggle {
    top: 10px;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-nav ul li.submenu-expanded ul {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-nav ul li.current-menu-ancestor a {
    border-color: #bebcc1;
    color: #bebcc1;
    font-weight: 700;
  }
  .menu-slide .mobile-menu .header-nav ul li.current-menu-ancestor ul li a {
    border-color: transparent;
    color: #fff;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-nav ul li.current_page_item a {
    border-color: #bebcc1;
    color: #bebcc1;
    font-weight: 700;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .menu-slide .mobile-menu .header-social {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .menu-slide .mobile-menu .header-social ul {
    margin: 0px;
    padding: 15px 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
  }
  .menu-slide .mobile-menu .header-social ul::after {
    content: "";
    position: absolute;
    left: -70vh;
    top: 0px;
    background: #fff;
    width: 100vh;
    height: 100%;
  }
  .menu-slide .mobile-menu .header-social ul::before {
    content: "";
    position: absolute;
    right: -70vh;
    top: 0px;
    background: #fff;
    width: 100vh;
    height: 100%;
  }
  .menu-slide .mobile-menu .header-social ul li {
    margin: 0 1rem 0 0;
    padding: 0px;
    position: relative;
    z-index: 1;
  }
  .menu-slide .mobile-menu .header-social ul li:last-child {
    margin-right: 0px;
  }
  .menu-slide .mobile-menu .header-social ul li a {
    display: block;
    width: 35px;
    height: 35px;
  }
  .menu-slide .mobile-menu .header-social ul li a.facebook-icon {
    background: url("../img/icons/facebook-drak.svg") no-repeat center center;
    background-size: 55%;
  }
  .menu-slide .mobile-menu .header-social ul li a.instagram-icon {
    background: url("../img/icons/instagram hanks gallery.svg") no-repeat center center;
    background-size: 100%;
  }
}

.main-header .header-right .header-nav ul li.menu-item-has-children.submenu-expanded ul {
  display: block;
}
.main-header .header-right .header-nav ul li.menu-item-has-children.submenu-expanded .sub-menu-toggle {
  background: url(../img/icons/arrow-icon-menu-open.svg) no-repeat center center;
  border: 0;
  height: 15px;
  background-size: 26px;
}

.main-footer {
  background: #fff;
  padding: 2rem 0;
}
.main-footer .custom-row {
  align-items: center;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .custom-row {
    flex-direction: column-reverse;
  }
}
.main-footer .footer-left {
  display: flex;
  align-items: center;
}
.main-footer .footer-left .footer-social-media ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
.main-footer .footer-left .footer-social-media ul li {
  margin: 0 1rem 0 0;
  padding: 0px;
}
.main-footer .footer-left .footer-social-media ul li:last-child {
  margin-right: 0px;
}
.main-footer .footer-left .footer-social-media ul li a {
  display: block;
  width: 35px;
  height: 35px;
}
.main-footer .footer-left .footer-social-media ul li a.facebook-icon {
  background: url("../img/icons/facebook-drak.svg") no-repeat center center;
  background-size: 55%;
}
.main-footer .footer-left .footer-social-media ul li a.instagram-icon {
  background: url("../img/icons/instagram hanks gallery.svg") no-repeat center center;
  background-size: 100%;
}
.main-footer .footer-left .footer-social-media ul li a:hover.facebook-icon {
  background: url("../img/icons/facebook-light.svg") no-repeat center center;
  background-size: 55%;
}
.main-footer .footer-left .footer-social-media ul li a:hover.instagram-icon {
  background: url("../img/icons/instagram hanks gallery grey.svg") no-repeat center center;
  background-size: 100%;
}
.main-footer .footer-left .footer-links {
  margin-left: 1rem;
}
.main-footer .footer-left .footer-links ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
.main-footer .footer-left .footer-links ul li {
  margin: 0px;
  padding: 0xp;
}
.main-footer .footer-left .footer-links ul li a {
  color: #495163;
  font-size: 1rem;
  display: block;
  text-transform: uppercase;
}
.main-footer .footer-left .footer-links ul li a:hover {
  color: #bebcc1;
}
.main-footer .footer-right {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-right {
    margin-left: 0;
  }
}
.main-footer .footer-right .footer-logo {
  width: 200px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-right .footer-logo {
    margin: 0 auto 1rem auto;
  }
}
.main-footer .footer-right .footer-logo img {
  display: block;
  width: 100%;
  height: auto;
}

.hero-slider-section {
  position: relative;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero-slider-section {
    background: #495163;
  }
}
.hero-slider-section .slick-dots {
  position: absolute;
  bottom: 2rem;
  left: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero-slider-section .slick-dots {
    bottom: inherit;
    top: 58%;
  }
}
.hero-slider-section .slick-dots li {
  margin: 0 1rem 0 0;
}
.hero-slider-section .slick-dots li:last-child {
  margin-right: 0px;
}
.hero-slider-section .slick-dots li button {
  width: 20px;
  height: 20px;
  background: #bebcc1;
  border-radius: 100px;
  border: 0px;
  padding: 0px;
  text-indent: -9999px;
}
.hero-slider-section .slick-dots li.slick-active button {
  background: #fff;
}
.hero-slider-section .hero-slider-item-img {
  padding: 0 2rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero-slider-section .hero-slider-item-img {
    padding: 0px;
  }
}
.hero-slider-section .hero-slider-item-img img {
  width: 100%;
  height: auto;
  display: block;
}
.hero-slider-section .hero-slider-item-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero-slider-section .hero-slider-item-content {
    position: relative;
  }
}
.hero-slider-section .hero-slider-item-content .hero-slider-item-content-inner {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero-slider-section .hero-slider-item-content .hero-slider-item-content-inner {
    background: transparent;
  }
}
.hero-slider-section .hero-slider-item-content h1 {
  margin: 0px;
  padding: 0px;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-slider-section .hero-slider-item-content h1 {
    padding: 0 2rem;
    line-height: 3.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero-slider-section .hero-slider-item-content h1 {
    line-height: 2.5rem;
  }
}
.hero-slider-section .hero-slider-item-content .btn-set--left {
  margin-top: 3rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero-slider-section .hero-slider-item-content .btn-set--left {
    margin-top: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero-slider-section .hero-slider-item-content .btn-set--left {
    margin-top: 1rem;
  }
}
.hero-slider-section .hero-slider-item-content .btn-set--left a {
  margin-right: 2rem;
  min-width: 182px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero-slider-section .hero-slider-item-content .btn-set--left a {
    min-width: 50px;
    margin-right: 1rem;
  }
}
.hero-slider-section .hero-slider-item-content .btn-set--left a:last-child {
  margin-right: 0;
}

.small-post-section .small-post-section-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.small-post-section .small-post-section-row .small-post-section-row-content {
  width: 50%;
  padding-right: 10%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .small-post-section .small-post-section-row .small-post-section-row-content {
    width: 100%;
    padding-right: 0%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .small-post-section .small-post-section-row .small-post-section-row-content {
    width: 100%;
    padding-right: 0%;
  }
}
.small-post-section .small-post-section-row .small-post-section-row-content .desc--box {
  margin-top: 2rem;
}
.small-post-section .small-post-section-row .small-post-section-row-content .desc--box h3 {
  color: #495163;
}
.small-post-section .small-post-section-row .small-post-section-row-content .btn-set--right {
  margin-top: 3rem;
}
.small-post-section .small-post-section-row .small-post-section-row-img {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .small-post-section .small-post-section-row .small-post-section-row-img {
    width: 100%;
    margin-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .small-post-section .small-post-section-row .small-post-section-row-img {
    width: 100%;
    margin-top: 3rem;
  }
}
.small-post-section .small-post-section-row .small-post-section-row-img img {
  display: block;
  width: 100%;
  height: auto;
}
.small-post-section .small-post-section-row.row-reverse {
  flex-direction: row-reverse;
}
.small-post-section .small-post-section-row.row-reverse .small-post-section-row-content {
  padding-right: 0%;
  padding-left: 5%;
}

.page-hd-section {
  position: relative;
  padding: 0 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-hd-section {
    padding: 0px;
  }
}
.page-hd-section .page-hd-section-img img {
  width: 100%;
  height: auto;
  display: block;
}
.page-hd-section .page-hd-section-in {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.page-hd-section .page-hd-section-in .page-heading-hd {
  padding: 2rem 2rem 2rem 15%;
  min-width: 41%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hd-section .page-hd-section-in .page-heading-hd {
    padding: 1rem 1rem 1rem 2rem;
    min-width: 150px;
  }
}
.page-hd-section .page-hd-section-in .page-heading-hd h1 {
  margin: 0px;
  padding: 0px;
  color: #fff;
}

.art-section {
  background: #495163;
  margin-left: 2rem;
  margin-right: 2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .art-section {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .art-section {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
.art-section .custom-row {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.art-section .art-box {
  width: 50%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .art-section .art-box {
    width: 100%;
    margin-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .art-section .art-box {
    width: 100%;
    margin-bottom: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .art-section .art-box:last-child {
    margin-bottom: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .art-section .art-box:last-child {
    margin-bottom: 0rem;
  }
}
.art-section .art-box .art-box-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}
.art-section .art-box .art-box-img img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.art-section .art-box .art-box-content {
  position: relative;
  padding: 2rem 0 6rem 0;
}
.art-section .art-box .art-box-content h3 {
  margin: 0px;
  padding: 0px;
}
.art-section .art-box .art-box-content .desc--box {
  margin-top: 1rem;
}
.art-section .art-box .art-box-content .left-bottom-btn {
  display: flex;
}
.art-section .art-box:hover .art-box-img img {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
}

.testimonials-section .testimonials-section-content {
  margin: auto;
}
.testimonials-section .testimonials-section-content p {
  font-weight: 500;
  font-family: "Be Vietnam Pro", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  text-align: left;
  display: inline-block;
  padding-left: 117px;
  background: url("../img/icons/new-testimonials-icon.svg") no-repeat top left;
  background-size: 73px;
  padding-top: 13px;
  margin: 0px;
  line-height: 2.1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .testimonials-section .testimonials-section-content p {
    background-size: 55px;
    padding-top: 19px;
    padding-left: 85px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .testimonials-section-content p {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-section-content p {
    background-size: 36px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-left: 53px;
    padding-top: 13px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-section-content p {
    padding-left: 58px;
    padding-top: 0;
  }
}
.testimonials-section .testimonials-section-content p br {
  display: none;
}
.testimonials-section .testimonials-section-content i {
  display: block;
  text-align: right;
  font-size: 1.2rem;
  margin-top: 1rem;
  font-style: normal;
  color: #fff;
  font-family: "Playfair Display", serif;
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .testimonials-section-content i {
    font-size: 14px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-section-content i {
    font-size: 14px;
  }
}

.simple-info-section .simple-info-section-in {
  padding: 0 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .simple-info-section .simple-info-section-in {
    padding: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .simple-info-section .simple-info-section-in {
    padding: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .simple-info-section .custom-row {
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .simple-info-section .custom-row {
    flex-direction: column-reverse;
  }
}
.simple-info-section .desc--box {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .simple-info-section .desc--box {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .simple-info-section .desc--box {
    width: 100%;
  }
}
.simple-info-section .tags {
  margin-left: auto;
  font-family: "Playfair Display", serif;
  color: #bebcc1;
  font-weight: 700;
  margin-top: -16px;
  width: 38%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .simple-info-section .tags {
    font-size: 2rem;
    width: 100%;
    margin-left: 0;
    margin-bottom: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .simple-info-section .tags {
    font-size: 1.6rem;
    width: 100%;
    margin-left: 0;
    margin-bottom: 2rem;
    width: 100%;
  }
}
.simple-info-section .tags span {
  display: block;
}

.visit .small-post-section ~ .small-post-section {
  padding-top: 0px;
}

.meet-the-artist-row .small-post-section-row {
  align-items: inherit;
}
.meet-the-artist-row .small-post-section-row .small-post-section-row-content {
  padding-right: 5%;
}
.meet-the-artist-row .small-post-section-row .small-post-section-row-content .small-post-section-top-box {
  width: 100%;
  min-height: 749px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .meet-the-artist-row .small-post-section-row .small-post-section-row-content .small-post-section-top-box {
    min-height: 300px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .meet-the-artist-row .small-post-section-row .small-post-section-row-content .small-post-section-top-box {
    min-height: 300px;
  }
}
.meet-the-artist-row .small-post-section-row .small-post-section-row-content .desc--box-review-out {
  width: 100%;
  padding-bottom: 3rem;
  margin-top: 3rem;
}
.meet-the-artist-row .small-post-section-row .small-post-section-row-content .desc--box-review {
  font-size: 27px;
  font-family: "Playfair Display", serif;
  position: relative;
  padding: 13px 3rem 13px 5rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .meet-the-artist-row .small-post-section-row .small-post-section-row-content .desc--box-review {
    padding: 0px 3rem 0px 3rem;
    font-size: 1.2rem;
  }
}
.meet-the-artist-row .small-post-section-row .small-post-section-row-content .desc--box-review::before, .meet-the-artist-row .small-post-section-row .small-post-section-row-content .desc--box-review::after {
  height: 55px;
  width: 55px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .meet-the-artist-row .small-post-section-row .small-post-section-row-content .desc--box-review::before, .meet-the-artist-row .small-post-section-row .small-post-section-row-content .desc--box-review::after {
    height: 35px;
    width: 35px;
  }
}
.meet-the-artist-row .small-post-section-row .small-post-section-row-content .desc--box-review::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../img/icons/new-testimonials-icon.svg") no-repeat top left;
  background-size: 100%;
}
.meet-the-artist-row .small-post-section-row .small-post-section-row-content .desc--box-review::before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: url("../img/icons/new-testimonials-icon.svg") no-repeat top left;
  background-size: 100%;
  transform: rotate(180deg);
}
@media (min-width: 768px) and (max-width: 991px) {
  .meet-the-artist-row .small-post-section-row .small-post-section-row-img {
    margin-top: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .meet-the-artist-row .small-post-section-row .small-post-section-row-img {
    margin-top: 0rem;
  }
}

.meet-the-artistimg-mob {
  margin-top: 3rem;
  margin-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .meet-the-artistimg-mob {
    margin-bottom: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .meet-the-artistimg-mob {
    margin-bottom: 0rem;
  }
}
.meet-the-artistimg-mob img {
  width: 100%;
  display: block;
  height: auto;
}

.collection-btn {
  border-bottom: 4px #495163 solid;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
}
.collection-btn a {
  background: #fff url("../img/icons/Primary btn arrow.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  padding-right: 3rem;
  color: #495163;
}
.collection-btn a:hover {
  background: #fff url("../img/icons/Secondary btn arrow.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  padding-right: 3rem;
  color: #bebcc1;
}

.grid-wrapper {
  margin-left: -4px;
  margin-right: -4px;
}

.grid-item {
  padding: 2px 4px;
  cursor: pointer;
}
.grid-item figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.grid-item img {
  width: 100%;
  height: auto;
}
.grid-item {
  width: 33.33% !important;
}

.fb-caption-overlay {
  background: #fff;
  position: relative;
  bottom: 0px;
  left: 0px;
  word-wrap: break-word;
  width: 100%;
  min-height: 117px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 170px;
  padding-left: 50px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .fb-caption-overlay {
    padding: 1rem 7rem 1rem 1rem;
    position: relative !important;
  }
}
.fb-caption-overlay h4 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #bebcc1;
  margin: 0 0 10px 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .fb-caption-overlay h4 {
    font-size: 18px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .fb-caption-overlay h4 {
    font-size: 18px;
  }
}
.fb-caption-overlay .badge-box {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  padding: 1rem;
  font-size: 22px;
  text-align: center;
  color: #fff;
  display: flex;
  border: 2px #fff solid;
  background: #495163;
  position: absolute;
  justify-content: center;
  top: -63px;
  right: 15px;
  align-items: center;
  font-family: "Playfair Display", serif;
}
@media (min-width: 320px) and (max-width: 767px) {
  .fb-caption-overlay .badge-box {
    width: 100px;
    height: 100px;
    font-size: 16px;
    padding: 0;
    top: -48px;
  }
}
.fb-caption-overlay .badge-box.sold-out-badge {
  background: #d50075;
}
.fb-caption-overlay .badge-box.available-badge {
  background: #495163;
}

@media (min-width: 320px) and (max-width: 767px) {
  .fancybox__slide.has-image > .fancybox__content {
    height: auto !important;
  }
}

@media (min-width: 320px) and (max-width: 567px) {
  .is-horizontal .fancybox__nav .f-button.is-next {
    right: 0 !important;
    top: 44% !important;
  }
}

@media (min-width: 320px) and (max-width: 567px) {
  .is-horizontal .fancybox__nav .f-button.is-prev {
    left: 0 !important;
    top: 44% !important;
  }
}

.fancybox__content > .f-button.is-close-btn {
  background-color: #fff;
  border-radius: 0;
  color: #000;
  top: 0;
  right: 1rem;
  opacity: 1 !important;
}

.fancybox__backdrop {
  background: rgba(73, 81, 99, 0.93);
}

.contact-page-template {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-left: 2rem #fff solid;
  border-right: 2rem #fff solid;
  padding: 6rem 0;
}
@media (min-height: 1000px) and (max-height: 99999999999px) {
  .contact-page-template {
    height: 90vh;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-page-template {
    border-left: 0 #fff solid;
    border-right: 0 solid;
    padding: 3rem 0;
  }
}
.contact-page-template .contact-page-bg {
  margin-left: -2rem;
  width: calc(100% + 4rem);
  height: 100%;
  display: flex;
  align-items: center;
}
.contact-page-template .contact-page-bg .contact-page-bg-inner {
  padding: 2rem 0;
  color: #fff;
  width: 100%;
}
.contact-page-template .contact-page-bg .contact-page-bg-inner h1 {
  margin: 0px;
  padding: 0px;
  color: #fff;
  text-transform: capitalize;
}
.contact-page-template .desc--box {
  margin: 1rem 0 3rem 0;
}
.contact-page-template .contact-page-info {
  position: relative;
  padding-top: 1rem;
}
.contact-page-template .contact-page-info::after {
  content: "";
  width: 500px;
  height: 4px;
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
}
.contact-page-template .contact-page-info ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.contact-page-template .contact-page-info ul li {
  margin: 2.5rem 0;
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-page-template .contact-page-info ul li {
    margin: 1.5rem 0;
  }
}
.contact-page-template .contact-page-info ul li a {
  display: flex;
  font-size: 2.2rem;
  color: #fff;
  align-items: center;
  font-family: "Playfair Display", serif;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .contact-page-template .contact-page-info ul li a {
    font-size: 1.9rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-page-template .contact-page-info ul li a {
    font-size: 1.3rem;
  }
}
.contact-page-template .contact-page-info ul li a.location-icon-box {
  align-items: flex-start;
}
.contact-page-template .contact-page-info ul li a i {
  width: 50px;
  height: 38px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-page-template .contact-page-info ul li a i {
    width: 40px;
    height: 40px;
  }
}
.contact-page-template .contact-page-info ul li a i.telephone-icon {
  background: url("../img/icons/phone hanks gallery.svg") no-repeat center center;
  background-size: 100%;
}
.contact-page-template .contact-page-info ul li a i.email-icon {
  background: url("../img/icons/email hanks gallery.svg") no-repeat center center;
  background-size: 100%;
}
.contact-page-template .contact-page-info ul li a i.location-icon {
  background: url("../img/icons/pin hanks gallery.svg") no-repeat -8px center;
  margin-top: 10px;
  background-size: 152%;
  width: 42px;
  height: 50px;
}
.contact-page-template .contact-page-info ul li a span {
  width: calc(100% - 50px);
  padding-left: 30px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-page-template .contact-page-info ul li a span {
    width: calc(100% - 40px);
    padding-left: 12px;
  }
}
.contact-page-template .contact-page-info ul li a:hover {
  opacity: 0.6;
}

/*# sourceMappingURL=global.css.map */
