<header id="header" class="site-header" role="banner">

    <div id="header-top" class="header-top">

        <div class="row">
            <div class="large-12 columns">

                {{page.top}}

            </div>
        </div>

    </div>

    <div id="header-bottom" class="header-bottom">

        <div class="row">
            <div class="large-12 columns">

                <a href="{{front_page}}" title="Johnson &amp; Starley" rel="home" class="site-logo">Johnson
                    &amp; Starley</a>

                <div id="js-headerContent">

                    <a id="navToggle" class="nav-toggle">Toggle menu</a>

                    {{page.nav}}

                    <div id="js-secondary" class="site-links">
                        {{page.header}}
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div id="js-mobHeader" class="header--sm"></div>

</header>

<div id="wrapper" class="animated fadeIn wrapper page-manager">

    {% set tab_rendered = page.content.tabs %}
    {% set messages = page.content.messages %}
    {% if page.highlighted or messages or tab_rendered or action_links %}
    <div class="row">
        <div class="large-12 columns" id="admin-functions">
            {% if page.highlighted %}
            <div id="highlighted">{{page.highlighted}}</div>
            {% endif %}
            {{messages}}
            {% if tab_rendered %}
            <div class="tabs clearfix">{{tab_rendered}}</div>
            {% endif %}
            {{page.content.help}}
            {% if action_links %}
            <ul class="action-links">{{action_links}}</ul>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if page.emergencymessage %}
    {{page.emergencymessage}}
   {% endif %}


    {{page.content.jstar_jstar_system_main}}
    {{page.content_bottom}}

    <footer class="site-footer" role="contentinfo">
        <div class="row">
            <div class="large-12 columns">
                {{page.footer}}

            </div>
        </div>
    </footer>

    {% if page.custom_copyright %}
    {{page.custom_copyright}}
    {% endif %}


</div>

<div class="hidden">
    {{page.hidden}}
</div>

{% if page.overlay_container %}
{{page.overlay_container}}
{% endif %}