<section class="inner-page-hero page-title-section" >
	<div class="page-title--img">
		{% if post.get_field('hero_image') %}
			<picture>
				<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.get_field('hero_image')).src('page-hero') }}">
				<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(post.get_field('hero_image')).src('page-hero') }}">
				<img src="{{ TimberImage(post.get_field('hero_image')).src('page-hero') }}" alt="{{ post.get_field('hero_image').alt }}">
			</picture>
		{% elseif post.thumbnail %}
			<picture>
				<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.thumbnail).src('page-hero') }}">
				<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(post.thumbnail).src('page-hero') }}">
				<img src="{{ TimberImage(post.thumbnail).src('page-hero') }}" alt="{{ post.thumbnail.alt }}">
			</picture>
		{% endif %}
	</div>
	<div class="page-title-content">
		<div class="container">
			<div class="page-title-content--flex">
				<div class="page-title-content--box page-title-content-bg-2">
					{% if post.get_field('service_icon')%}
						<h1><img src="{{ TimberImage(post.get_field('service_icon')).src('src') }}" alt="{{ post.get_field('service_icon').alt }}"></h1>

					{% else %}
						<h1>{{post.get_field('hero_title')?post.get_field('hero_title'):(post.title?post.title:title)}}</h1>
					{% endif %}
				</div>
			</div>

		</div>
	</div>
</section>


<div id="scroll-to-main"></div>
