{% set services =getServices() %}
{% if services %}
  
	<section class="gray--bg section-tp-bt-pd">
		{% for service in services %}

			{% if loop.index%2 ==1 %}
				<div class="post-row post-row--left">
					<div class="post-row--img">
						<a href="{{service.path}}">
							{% if service.get_field('listing_thumb_image') %}
								<picture>
									<source media="(min-width:320px) and (max--width:767px)" srcset="{{ TimberImage(service.get_field('listing_thumb_image')).src('services-thumb')}}">
									<img src="{{ TimberImage(service.get_field('listing_thumb_image')).src('services-thumb')}}" alt="{{ TimberImage(service.get_field('listing_thumb_image')).alt}}">
								</picture>
							{% else %}
								<picture>
									<source media="(min-width:320px) and (max--width:767px)" srcset="{{ TimberImage(service.thumbnail).src('services-thumb')}}">
									<img src="{{ TimberImage(service.thumbnail).src('services-thumb')}}" alt="{{ TimberImage(service.thumbnail).alt}}">
								</picture>
							{% endif %}
						</a>
					</div>
					<div class="post-row--content" onclick="loadPage('{{service.path}}')">
						<div class="container">
							<div class="custom-row">
								<div class="post-row--text post-row-text-bg-1">
									<a href="{{service.path}}">
										{% if service.get_field('service_icon') %}
											<h3>
												<img src="{{ TimberImage(service.get_field('service_icon')).src('icon')}}" alt="">
											</h3>
										{% else %}
											<h3>{{service.get_field('listing_title')?service.get_field('listing_title'):service.title}}</h3>
										{% endif %}
									</a>

									<div class="desc--box">
										<p>{{ service.preview.force.read_more(false) }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<div class="post-row post-row--right">
					<div class="post-row--img">
						<a href="{{service.path}}">
							{% if service.get_field('listing_thumb_image')%}
								<picture>
									<source media="(min-width:320px) and (max--width:767px)" srcset="{{ TimberImage(service.get_field('listing_thumb_image')).src('services-thumb')}}">
									<img src="{{ TimberImage(service.get_field('listing_thumb_image')).src('services-thumb')}}" alt="{{ TimberImage(service.get_field('listing_thumb_image')).alt}}">
								</picture>
							{% else %}
								<picture>
									<source media="(min-width:320px) and (max--width:767px)" srcset="{{ TimberImage(service.thumbnail).src('services-thumb')}}">
									<img src="{{ TimberImage(service.thumbnail).src('services-thumb')}}" alt="{{ TimberImage(service.thumbnail).alt}}">
								</picture>
							{% endif %}
						</a>
					</div>
					<div class="post-row--content" onclick="loadPage('{{service.path}}')">
						<div class="container">
							<div class="custom-row">
								<div class="post-row--text post-row-text-bg-1">
									<a href="{{service.path}}">
										{% if service.get_field('service_icon')%}
											<h3>
												<img src="{{ TimberImage(service.get_field('service_icon')).src('icon')}}" alt="">
											</h3>
										{% else %}
											<h3>{{service.get_field('listing_title')?service.get_field('listing_title'):service.title}}</h3>
										{% endif %}
									</a>

									<div class="desc--box">
										<p>{{ service.preview.force.read_more(false) }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}

		{% endfor %}


	</section>
{% endif %}
