{% if post.get_field('content_copy_title') or post.get_field('content_copy_body') %}
	<section class="text-section section-tp-bt-pd">
		<div class="container-sm">
			<h2>{{post.get_field('content_copy_title')}}</h2>
			<div class="content-box content-box-lt-pd">
				{% if post.get_field('content_copy_subtitle') %}
					<strong class="subtitle">{{post.get_field('content_copy_subtitle')}}</strong>
				{% endif %}
				{{post.get_field('content_copy_body')}}

			</div>
		</div>
	</section>
{% endif %}
