{% for content_row in post.meta('content_row_layout') %}
	{% if content_row.acf_fc_layout == 'copy_content' %}
		{% include "partial/content/block-copy-content.twig" %}
	{% elseif content_row.acf_fc_layout == 'testimonials' %}
		{% include "partial/content/block-testimonial.twig"  %}
	{% elseif content_row.acf_fc_layout == 'ocf_range' %}
		{% include "partial/content/block-range-box.twig"  %}
	{% elseif content_row.acf_fc_layout == 'image_gallery' %}
		{% include "partial/content/block-gallery.twig"  %}
	{% elseif content_row.acf_fc_layout == 'ocf_range_with_swatch' %}
		{% include "partial/content/block-range-with-swatch.twig" %}
	{% elseif content_row.acf_fc_layout == 'youtube_video' %}
		{% include "partial/content/block-youtube-video.twig" %}
	{% elseif content_row.acf_fc_layout == 'project_images' %}
		{% include "partial/content/block-project-images.twig" %}
	{% elseif content_row.acf_fc_layout == 'brands_list' %}
		{% include "partial/content/block-brands-list.twig" %}
	{% elseif content_row.acf_fc_layout == 'our_flooring_types' %}
		{% include "partial/content/block-our-flooring-types.twig" %}
	{% elseif content_row.acf_fc_layout == 'static_content_box' %}
		{% include "partial/content/block-static-content-box.twig" %}
	{% elseif content_row.acf_fc_layout == 'back_to_cta' %}
		{% include "partial/content-back-to-button.twig" with {url_title:'back to '~content_row.back_to_cta_link.title , url_link_full : content_row.back_to_cta_link.url }%}
	{% else %}
		{{content_row.acf_fc_layout}}
	{% endif %}
{% endfor %}
