{% if post.get_field('hero_image') %}
	<section class="hero-slider-section page-title-section">
		<div class="heroslider">
			<div class="heroslider--item ">
				<div class="page-title--img">
					<picture>
						<source media="(min-width:320px) and (max--width:767px)" srcset="{{ TimberImage(post.get_field('hero_image')).src('hero-slider-mobile') }}">
						<source media="(min-width:768px) and (max--width:991px)" srcset="{{ TimberImage(post.get_field('hero_image')).src('hero-slider-ipad') }}">
						<img src="{{ TimberImage(post.get_field('hero_image')).src('hero-slider') }}" alt="{{ post.get_field('hero_image').alt }}">
					</picture>
				</div>
				<div class="page-title-content">
					<div class="container">
						<div class="page-title-content--flex">
							<div class="page-title-content--box page-title-content-bg-1">
								<h1>
									{{post.get_field('hero_title')}}
								</h1>

								<div class="btn-set--left">
									<a href="{{post.get_field('hero_cta').url}}" class="primary-btn">
										{{post.get_field('hero_cta').title}}
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
<div id="scroll-to-main"></div>
