<ul>
                        <li><a href="mailto:{{contact_post.meta('contact_email')}}">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 64 64" enable-background="new 0 0 64 64"
                                    xml:space="preserve">
                                    <path id="Mail"
                                        d="M58.0034485,8H5.9965506c-3.3136795,0-5.9999995,2.6862001-5.9999995,6v36c0,3.3137016,2.6863203,6,5.9999995,6
                               h52.006897c3.3137016,0,6-2.6862984,6-6V14C64.0034485,10.6862001,61.3171501,8,58.0034485,8z M62.0034485,49.1108017
                               L43.084549,30.1919994l18.9188995-12.0555992V49.1108017z M5.9965506,10h52.006897c2.2056007,0,4,1.7943001,4,4v1.7664003
                               L34.4677505,33.3134003c-1.4902,0.9492989-3.3935013,0.9199982-4.8495998-0.0703011L1.9965508,14.4694996V14
                               C1.9965508,11.7943001,3.7910507,10,5.9965506,10z M1.9965508,16.8852005L21.182251,29.9251003L1.9965508,49.1108017V16.8852005z
                                M58.0034485,54H5.9965506c-1.6473999,0-3.0638998-1.0021019-3.6760998-2.4278984l20.5199013-20.5200024l5.6547985,3.843401
                               c1.0859013,0.7383003,2.3418007,1.1083984,3.5995998,1.1083984c1.1953011,0,2.3925018-0.3339996,3.4463005-1.0048981
                               l5.8423996-3.7230015l20.2961006,20.2961025C61.0673485,52.9978981,59.6508713,54,58.0034485,54z" />

                                </svg>
                            </a></li>
                        <li><a href="tel:{{contact_post.meta('contact_telephone')}}">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 512.372 512.372"
                                    style="enable-background:new 0 0 512.372 512.372;"
                                    xml:space="preserve">
                                    <g>
                                        <g>
                                            <g>
                                                <path
                                                    d="M451.146,384.186l-62.4-48.64c-17.493-13.653-42.027-13.547-59.307,0.213l-13.867,10.987
                                           c-10.667,8.427-25.92,7.573-35.413-2.027L168.586,232.826c-9.6-9.6-10.453-24.96-2.027-35.627l10.987-13.867
                                           c13.76-17.387,13.867-41.92,0.213-59.413l-48.533-62.507c-16.213-20.907-46.4-24.747-67.307-8.533
                                           c-1.6,1.28-3.093,2.56-4.587,4.053l-40,40c-22.08,22.08-53.973,93.013,125.76,273.173
                                           c117.227,117.44,188.693,142.08,228.053,142.08c23.573,0,37.333-8.747,44.693-16.107l39.893-39.893
                                           c18.773-18.88,18.773-49.387-0.107-68.16C454.133,386.64,452.746,385.36,451.146,384.186z M442.612,438.586
                                           c-0.64,0.96-1.387,1.813-2.133,2.56l-39.893,39.893c-4.48,4.48-13.227,9.813-29.547,9.813c-28.907,0-94.933-17.6-212.907-135.893
                                           c-135.893-136.107-152.64-216-125.76-242.987L72.266,72.08c5.013-5.013,11.84-7.787,18.88-7.787c0.533,0,1.067,0,1.6,0
                                           c7.68,0.533,14.72,4.267,19.413,10.24l48.533,62.507c7.573,9.707,7.573,23.36-0.107,33.067l-10.987,13.867
                                           c-15.147,19.2-13.547,46.613,3.733,63.893l111.68,111.787c17.173,17.28,44.693,18.88,63.787,3.733l13.867-10.987
                                           c9.6-7.68,23.253-7.68,32.96-0.107l62.4,48.64C449.759,410.106,451.786,426.96,442.612,438.586z" />
                                                <path
                                                    d="M267.039,0.186c-5.867,0-10.667,4.8-10.667,10.667c0,5.867,4.8,10.667,10.667,10.667c123.52,0,224,100.48,224,224
                                           c0,5.867,4.8,10.667,10.667,10.667c5.867,0,10.667-4.8,10.667-10.667C512.372,110.266,402.292,0.186,267.039,0.186z" />
                                                <path
                                                    d="M437.706,245.52c0,5.867,4.8,10.667,10.667,10.667c5.867,0,10.667-4.8,10.667-10.667c0-105.92-86.187-192-192-192
                                           c-5.867,0-10.667,4.8-10.667,10.667c0,5.867,4.693,10.667,10.667,10.667C361.119,74.853,437.706,151.44,437.706,245.52z" />
                                                <path d="M267.039,128.293c64.64,0,117.333,52.587,117.333,117.12c0,5.867,4.8,10.667,10.667,10.667
                                           c5.867,0,10.667-4.8,10.667-10.667c0-76.373-62.187-138.56-138.667-138.56c-5.867,0-10.667,4.8-10.667,10.667
                                           C256.372,123.386,261.066,128.293,267.039,128.293z" />
                                                <path
                                                    d="M267.146,160.4c-5.867,0-10.667,4.8-10.667,10.667s4.8,10.667,10.667,10.667c35.093,0,63.467,28.48,63.467,63.467
                                           c0,5.867,4.8,10.667,10.667,10.667c5.867,0,10.667-4.8,10.667-10.667C351.946,198.373,313.972,160.4,267.146,160.4z" />
                                            </g>
                                        </g>
                                    </g>

                                </svg>
                            </a></li>
                        <li><a href="{{contact_post.meta('contact_facebook')}}">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 48.605 48.605"
                                    style="enable-background:new 0 0 48.605 48.605;"
                                    xml:space="preserve">
                                    <g>
                                        <path d="M34.094,8.688h4.756V0.005h-8.643c-0.721-0.03-9.51-0.198-11.788,8.489c-0.033,0.091-0.761,2.157-0.761,6.983l-7.903,0.024
                                   v9.107l7.913-0.023v24.021h12.087v-24h8v-9.131h-8v-2.873C29.755,10.816,30.508,8.688,34.094,8.688z M35.755,17.474v5.131h-8v24
                                   h-8.087V22.579l-7.913,0.023v-5.107l7.934-0.023l-0.021-1.017c-0.104-5.112,0.625-7.262,0.658-7.365
                                   c1.966-7.482,9.473-7.106,9.795-7.086l6.729,0.002v4.683h-2.756c-4.673,0-6.338,3.054-6.338,5.912v4.873L35.755,17.474
                                   L35.755,17.474z" />
                                    </g>

                                </svg>
                            </a></li>
                    </ul>