{% set case_studies =getCaseStudies() %}
{% if case_studies %}

	<section class="white--bg section-tp-bt-pd">
		<div class="container">
			<div class="project-list-section" data-aos="fade">
				<div class="project-list--row custom-row" >
					{% for case_study in case_studies %}
						<div class="project-list--box">
							<a href="{{case_study.path}}">
								<div class="project-list--imgs">
									{% if case_study.listing_thumb_image %}
									<img src="{{ TimberImage(case_study.listing_thumb_image).src('case-study-thumb')}}" alt="">
									{% else %}
									<img src="{{ TimberImage(case_study.thumbnail).src('case-study-thumb')}}" alt="">
									{% endif %}
								</div>
								<div class="project-list--content">
									<h4>{{case_study.title}}</h4>
									{# <h4>Location</h4> #}
								</div>
							</a>

						</div>
					{% endfor %}
					{% if case_studies.found_posts == 0 %}
					<div class="text-center" style="text-align:center;width:100%;"><p>no record found.</p></div>
					{% endif %}
				</div>
				{% include 'partial/pagination.twig' with {posts:case_studies,  pagination: case_studies.pagination({show_all: true, mid_size: 3, end_size: 2}) } %}

			</div>
		</div>
	</section>

{% endif %}
