 <footer>
    <div class="footer-top">
        <div class="container-sm">
            <div class="custom-row">
               <div class="footer-left">
                   <div class="footer-logo">
                       <a href="#"><img class="footer-logo--img" src="https://dev.oxypay.in/ocf/wp-content/themes/ocf-2022/assets/img/OCF new logo.svg" alt="" /></a>
                   </div>
               </div>
               <div class="footer-right">
                   <div class="footer-social-media">
                       <strong>connect</strong>
                       {% include "partial/content-social.twig" %}
                   </div>
               </div>
            </div>
        </div>
    </div>
    <div class="footer-btm">
        <div class="container-sm">
            <div class="custom-row">
               <div class="footer-left">
                   <p>website by <a href="https://blooberrycreative.co.uk/"> Blooberry Creative </a></p>
               </div>
               <div class="footer-right">
                   <div class="footer-link">
                    {% include "menu.twig" with {'items': footer_menu_1.get_items} %}
                   </div>
                   
               </div>
            </div>
        </div>
    </div>
</footer>
