<!doctype html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!-->
	<html
	class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
	<head>
		<meta charset="{{ site.charset }}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap" rel="stylesheet">

		{{function('wp_head')}}
		<script>
			jQuery(document).ready(function ($) {
                Fancybox.defaults.infinite = 1;
                Fancybox.bind('[data-fancybox-ocf="gallery"]', {
                caption: function (fancybox, carousel, slide) {
                	return(`<div class="ocf-gallery-image-caption">${slide.title} (${slide.index + 1} / ${carousel.slides.length})</div>`);
                },
				on: {
					done: (fancybox, slide) => {
						let cobj =$(slide.$el).find('.fancybox__content');
						$(slide.$el).find('.fancybox__caption').appendTo(cobj);
				 },
  				},
                Thumbs: { autoStart: false },
                Image: { zoom: false },
                Toolbar: false,
                groupAttr:'data-fancybox-group',
                dragToClose:false,
                click:false //backgrop click
        
                });
                });
		</script>
	</head>