// --------------------------------
//					 GLOBAL CLASSES
// --------------------------------
@import "breakpoint";

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.clearfix {
  display: block;
  clear: both;

  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Keep video ratio for fluid widths
.video-container,
.media-vimeo-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Souncloud
.media-soundcloud-audio iframe {
  width: 100%;
  max-height: 150px;
}

// Emergency message defaults
.emergency-message {
  display: none;
  padding: 1em;
  background: $red;
  color: #fff;
  position: relative;
  text-align: center;

  p:last-child {
    margin-bottom: 0;
  }
}

.close {
  @include rm-text;
  @include bg-img;
  position: absolute;
  top: 1em;
  right: 1em;
  display: block;
  height: 30px;
  width: 30px;
  background-image: url("../images/emClose.png");
  cursor: pointer;
  transition: opacity 0.2s ease-out;

  &:hover {
    opacity: 0.7;
  }
}

// hide/show mobile classes
.hide-for-mobile {
  display: block !important;
}
.show-for-mobile {
  display: none !important;
}

@include media("<mobile") {
  .hide-for-mobile {
    display: none !important;
  }
  .show-for-mobile {
    display: block !important;
  }
}

// Forms
input,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
textarea,
select {
  @include font-body;
  color: $text;
  resize: none;
  //padding:0.5em 1em;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0;
  outline: 0;
  //border:1px solid $text;
  transition: all 0.2s ease-in-out;
}

.form-actions input,
input[type="submit"] {
  cursor: pointer;
}

// UL cols
.listing {
  @include li-reset;

  li {
    vertical-align: top;
    margin-bottom: 2%;
    margin-right: 4%;
    float: left;
    position: relative;
  }
}

.one-col {
  li {
    width: 100%;
    margin-right: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.two-col {
  li {
    width: 48%;

    &:nth-of-type(2n + 2) {
      margin-right: 0;
    }
  }
}

.three-col {
  li {
    width: 30.6666%;
    
    &:nth-of-type(3n + 3) {
      margin-right: 0;
    }

    @include breakpoint(ipad_portrait){
      width: 48%;
      &:nth-of-type(2n + 2) {
        margin-right: 0;
      }
      &:nth-of-type(3n + 3) {
        margin-right: 4%;
      }
    }
  }
}

.four-col {
  li {
    width: 22%;

    &:nth-of-type(4n + 4) {
      margin-right: 0;
    }
  }
}

.five-col {
  li {
    width: 18.4%;

    &:nth-of-type(5n + 5) {
      margin-right: 0;
    }
  }
}

.six-col {
  li {
    width: 15%;

    &:nth-of-type(6n + 6) {
      margin-right: 0;
    }
  }
}

@include media("<mobile") {
  // By default everything to 1 col
  .two-col,
  .three-col,
  .four-col,
  .five-col,
  .six-col {
    li {
      width: 100%;
      margin-right: 0;
    }
  }
}

.pager {
  @include li-reset;
  text-align: center;
  display: block;
  clear: both;

  li {
    display: inline-block;
    margin-left: 5px;

    a {
      padding: 5px 12px;
      display: block;
    }

    &.pager-current {
      padding: 5px 12px;
    }
  }
}

// --------------------------------
//					   ADMIN STYLES
// --------------------------------

// w/ admin bar
body.logged-in {
  // Open Shortcut menu
  &.admin-menu-with-shortcuts {
  }
}

.tabs {
  ul {
    border: 0 !important;
    margin: 1em 0 !important;
    padding: 0;

    li {
      margin-right: 1em;

      a {
        color: $text !important;
        background: $bg !important;
        padding: 0.5em 1em !important;
        margin: 0 !important;
        border: 1px solid $text;

        &.active,
        &:hover {
          color: $bg !important;
          background: $text !important;
        }
      }
    }
  }
}


