/* --- Include setup files --- */
@import 'include-media';

// --------------------------------
//					   		  SETUP
// --------------------------------

// Set global row max-width for design
.row {
	max-width:1400px;
}

/* --- Mixins --- */

// Reset <li> elements
@mixin li-reset {
	list-style:none; 
	margin:0; 
	padding:0;
	
	li {
		list-style:none; 
		margin:0; 
		padding:0;
	}
}

// Remove text from elements
@mixin rm-text {
	text-align:left;
	text-indent:-9999px;
	*font-size:0;
	*line-height:0px;
}

// Remove li bottom margin
@mixin li-margin($columns, $marginBottom) {
	&:nth-last-child(-n + #{$columns}):nth-child(#{$columns}n + 1),
	&:nth-last-child(-n + #{$columns}):nth-child(#{$columns}n + 1) ~ li {
		margin-bottom:$marginBottom;
	}
}

// Centered background images
@mixin bg-img {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:contain;
}


// IE 9+ only
@mixin ie($property, $value) {
	@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
		#{$property}: #{$value};
	}
}

//@mixin btn {
//	background:$dk-grey;
//	color:#fff;
//	padding:0 90px 0 15px;
//	height:35px;
//	line-height:35px;
//	position:relative;
//	display:inline-block;
//	margin-right:55px;
//	min-width:70%;
//	
//	@include media('<=vsmall'){
//		padding-right:40px;
//	}
//
//	&:before {
//		content:'+';
//		color:#fff;
//		position:absolute;
//		right:0;
//		top:0;
//		line-height:35px;
//		z-index:2;
//		font-size:18px;
//		transition:all 0.2s ease-out;
//	}
//
//	&:after {
//		content:'';
//		background:$red;
//		display:inline-block;
//		height:100%;
//		width:65px;
//		position:absolute;
//		right:-30px;
//		top:0;
//		transform:skew(-40deg);
//		z-index:1;
//		transition:all 0.2s ease-out;
//	}
//
//	&:hover {
//		background:$grey;
//		color:#fff;
//
//		&:before {
//			right:-10px;
//		}
//
//		&:after {
//			right:-40px;
//		}
//	}
//}

@mixin btn {
	background:$dk-grey;
	color:#fff;
	padding:10px 70px 10px 15px;
	position:relative;
	display:inline-block;
	margin-right:55px;
	min-width:70%;

	@include media('<=tabletland'){
		padding-right:55px;
	}
	
	@include media('<=vsmall'){
		padding-right:40px;
		font-size:0.9em;
	}

	&:before {
		@include bg-img;
		background-image:url('../images/cross-min.png');
		background-size:15px;
		content:' ';
		color:#fff;
		position:absolute;
		right:-30px;
		top:0;
		height:100%;
		width:65px;
		z-index:2;
		font-size:18px;
		transition:all 0.2s ease-out;
	}

	&:after {
		content:'';
		background:$red;
		display:inline-block;
		height:100%;
		width:65px;
		position:absolute;
		right:-30px;
		top:0;
		transform:skew(-40deg);
		z-index:1;
		transition:all 0.2s ease-out;
	}

	&:hover {
		background:$grey;
		color:#fff;
		text-decoration:none;

		&:before {
			right:-40px;

			@include media('<=vsmall'){
				right:-35px;
			}
		}

		&:after {
			right:-40px;

			@include media('<=vsmall'){
				right:-35px;
			}
		}
	}
}


/* --- Variables --- */
$text: #555250;
$bg: #fff;

$red:#cc1746;
$green:#65aa4f;
$blue:#2e66ac;
$dk-grey:#555250;
$grey:#9c9d9e;
$lt-grey:#ebeaeb;

// padding used in foundation
$bump:0.9375em;


/* --- Fonts --- */

@font-face {font-family: 'HelveticaNeueLTPro-Lt';src: url('../fonts/31F7DF_0_0.eot');src: url('../fonts/31F7DF_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/31F7DF_0_0.woff2') format('woff2'),url('../fonts/31F7DF_0_0.woff') format('woff'),url('../fonts/31F7DF_0_0.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNeueLTPro-Md';src: url('../fonts/31F7DF_1_0.eot');src: url('../fonts/31F7DF_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/31F7DF_1_0.woff2') format('woff2'),url('../fonts/31F7DF_1_0.woff') format('woff'),url('../fonts/31F7DF_1_0.ttf') format('truetype');}
@font-face {font-family: 'HelveticaNeueLTStd-Roman';src: url('../fonts/31F7DF_3_0.eot');src: url('../fonts/31F7DF_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/31F7DF_3_0.woff2') format('woff2'),url('../fonts/31F7DF_3_0.woff') format('woff'),url('../fonts/31F7DF_3_0.ttf') format('truetype');}

@mixin font-body {
	font-size:18px;
	line-height:24px;
	letter-spacing:0.5px;
	font-family: 'HelveticaNeueLTPro-Lt';

	@include media('<=tabletland'){
		font-size:19px;
		line-height:25px;
	}
}

@mixin font-bold {
	font-weight:normal;
	font-family: 'HelveticaNeueLTStd-Roman';
}

@mixin font-title {
	font-weight:400;
	font-family: 'HelveticaNeueLTStd-Roman';
	letter-spacing:0;
}

/* --- Media queries --- */

//	USAGE:
//
//	@include media(">tabletland", "<=1150px") {
//		font-size: 4.0rem;
//	}
// 
//	@include media("<mobile") {
//		width: 100%;
//	}

$breakpoints: (
	vsmall: 370px,
	small: 540px,
	mobileview: 767px, 
	mobile: 768px, 
	tabletport: 800px,
	tabletland: 1025px
);