html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $primaryfontfaimly;
    font-weight: 200;
    @include background($white);
    @include padding(0px, 0, 0, 0);
    margin: 0px;
    color: $drak-gray;
    @extend %font-size;
    @extend %letter-spacing-scss;
    
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

p {
   @extend %base-line-height;
  
}

a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: $secondary-color;
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
input {
    -webkit-appearance: none;
    opacity: 1;
}
button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}

.container-lg {
    max-width: calc(100%);
    width: calc(100% - 6rem);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(desktop-sm) {
        width: calc(100% - 4rem);
    }

    @include breakpoint(ipad) {
        width: calc(100% - 3rem);
    }

    @include breakpoint(mobile) {
        width: calc(100% - 2rem);
    }
}

.container {
    max-width: calc(100%);
    width: calc(100% - 30rem);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(desktop) {
        width: calc(100% - 12rem);
    }
    @include breakpoint(desktop-md){
        width: calc(100% - 12rem);
    }
    @include breakpoint(desktop-sm) {
        width: calc(100% - 6rem);
    }

    @include breakpoint(ipad) {
        width: calc(100% - 3rem);
    }
    @include breakpoint(mobile_landscape) {
        width: calc(100% - 4rem);
    }
    @include breakpoint(mobile_portrait) {
        width: calc(100% - 2rem);
    }
}
.container-sm {
    max-width: 990px;
    width: calc(100% - 2rem); 
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(desktop-sm) {
        max-width: 940px;
    }
    @include breakpoint(ipad_landscape){
        width: calc(100% - 10rem);
    }
    @include breakpoint(ipad_portrait) {
        width: calc(100% - 8rem);
    }
    @include breakpoint(mobile_landscape) {
        width: calc(100% - 6rem);
    }
    @include breakpoint(mobile_portrait) {
        width: calc(100% - 2rem);
    }
}

.main-padding {
    @extend %main-padding;
}

.white-bg {
    background: $white;
}
.primary-bg {
    color: $white;
    background: $primary-color;
   
}
.secondary-bg {
    background: $secondary-color;
    color: $white;
}
.drak-gray-bg {
    background: $drak-gray;
    color: $white;
}
.light-green-bg {
    background: $light-green;
}
.light-gray-bg {
    background: $light-gray;
}
.custom-row {
    display: flex;
    flex-wrap: wrap;
}
.hide-desktop {
    display: none;
    @include breakpoint(mobile_portrait) {
        display: block;
    }
}

.hide-mobile {
    @include breakpoint(mobile_landscape) {
        display: block;
    }
    @include breakpoint(mobile_portrait) {
        display: none;
    }
}

.desc--box {
    p {
        &:first-child{
            margin-top: 0px;
        }
        &:last-child {
            margin: 0px;
        }
    }
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
            position: relative;
            margin: 0 0 0.8rem 0;
            padding: 0 0 0 1.6rem;
            @extend %base-line-height;
            br {
                @include breakpoint(ipad_portrait) {
                    display: none;
                }
                @include breakpoint(mobile) {
                    display: none;
                }
            }
            &::before {
                width: 10px;
                height: 10px;
                position: absolute;
                left: 0px;
                top: 6px;
                background: $primary-color;
                content: "";
                border-radius: 50px;
            }
        }
    }
}
.main-container {
    min-height: 90vh;
}


.back-btn-box {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .back-btn {
        font-size: 2rem;
    }
}

.section-hd {
    h2 {
        margin: 0;
        padding: 0px;
        text-align: center;
        font-weight: 500;
    }
    .desc--box{
        max-width: 800px;
        padding:1rem 0 0 0;
        margin: auto;
        text-align: center;
        @include breakpoint(ipad_portrait) {
            max-width: 650px;
        }
        
    }
}

.hide-in-desktop{
    display: none;
    @include breakpoint(mobile){
        display: block;
    }
}
.hide-in-mobile{
    @include breakpoint(mobile){
        display: none;
    }

}