.body_biger_txt {
    font-size: 1.5rem;
    p {
        line-height: 1.9rem;
    }
    .nav_menu nav ul li a {
        font-size: 1.5rem;
    }
    .nav_menu nav ul li.menu-item-45 {
        width: 125px;
    }
    .main-footer .footer-left .footer-address,
    .main-footer .footer-left .copy-right,
    .main-footer .footer-right .footer-menu ul li a {
        font-size: 1.1rem;
    }
    .main-footer .footer-left .social-media ul li a {
        width: 45px;
    }

    .accessibility-menu {
        .dropdown-menu {
            a,
            button {
                &.accessibility-btn-text {
                    background: url("#{$assetPath}/icon-accessibility-bigger-text--hover.svg") no-repeat 10px;
                    background-size: 17px;
                    color: $primary-color;
                }
            }
        }
    }
}
