html{
    -webkit-text-size-adjust: 100%;
}
body {
    font-family: "HelveticaNeueLTPro-Lt";
    font-weight: 400;
    @include background($white);
    @include padding(0px, 0, 0, 0);
    margin: 0px;
    font-size: $font-size-base;
    color: $secondary-color;
    letter-spacing: 0.5px;
    @include breakpoint(mobile){
        padding-top: 70px;
        font-size: $font-size-base-m;
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

p {
    line-height: $line-height;
    letter-spacing: 1px;
}
a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: $secondary-color;
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}

.container-lg {
    max-width: 1480px;
    padding: 0 15px;
    margin: auto;
    @include breakpoint(laptop) {
        padding: 0 2rem;
    }
    @include breakpoint(small_laptop){
        padding: 0 2rem;
    }
    @include breakpoint(ipad){
        padding: 0 2rem;
    }
}

.container {
    max-width: 1245px;
    padding: 0 15px;
    margin: auto;
    @include breakpoint(laptop) {
        padding: 0 4rem;
    }
    @include breakpoint(small_laptop){
        padding: 0 4.5rem;
    }
    @include breakpoint(ipad_landscape){
        padding: 0 4rem;
    }
    @include breakpoint(ipad_portrait){
        padding: 0 3.5rem;
    }
    @include breakpoint(mobile){
        padding: 0 2rem;
    }

}
.container-sm {
    max-width: 1045px;
    padding: 0 15px;
    margin: auto;
    @include breakpoint(laptop) {
        padding: 0 6rem;
    }
    @include breakpoint(small_laptop){
        padding: 0 6rem;
    }
    @include breakpoint(ipad_landscape){
        padding: 0 6rem;
    }
    @include breakpoint(ipad_portrait){
        padding: 0 6.5rem;
    }
    @include breakpoint(mobile){
        padding: 0 2rem;
    }
}

.custom-row {
    display: flex;
}
.aside-left {
    padding-right: 40%;
    @include breakpoint(mobile_portrait) {
        padding-right: 0%;
    }
}
.aside-right {
    padding-left: 32%;
    @include breakpoint(mobile_portrait) {
        padding-left: 0%;
    }
}
.white-bg {
    background: $white;
}
.gray-bg {
    background: $gray-color;
}
.oringe-bg {
    background: $primary-color;
}
.dark-bg {
    background: $secondary-color;
}
.main-padding {
    padding: $main-pd 0;
    @include breakpoint(ipad_portrait){
        padding: $ip-por-main-pd 0;
    }
    @include breakpoint(mobile_landscape) {
        padding: $mob-lnd-main-pd 0;
    }
    @include breakpoint(mobile_portrait) {
        padding: $mob-por-main-pd 0;
    }
}
.main-pd-btm {
    padding-bottom: $main-pd;

    @include breakpoint(ipad_portrait){
        padding-bottom: $ip-por-main-pd;
    }
    @include breakpoint(mobile_landscape) {
        padding-bottom: $mob-lnd-main-pd;
    }
    @include breakpoint(mobile_portrait) {
        padding-bottom: $mob-por-main-pd;
    }
  
}
.main-pd-top {
    padding-top: $main-pd;
}
.full-img-section {
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}
.btn-left {
    display: flex;
    text-align: left;
}
.btn-center {
    display: flex;
    text-align: center;
}
.btn-right {
    display: flex;
    justify-content: right;
}

