.body_bg_contrast {
    color: $black;

    .main-header {
        background: $black;
    }
    a {
        color: $black;
    }
    .page-hero-section::after,
    .view-product-section::after,
    .case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box .case-studies-content,
    .page-hero-section::after {
        background: rgba(0, 0, 0, 0.9);
    }

    .case-studies-section
        .case-studies-row
        .case-studies-col
        ul
        li.view-all-card
        .case-studies-box
        .case-studies-content {
        background: transparent;
    }

    .case-studies-section .case-studies-row .case-studies-col ul li.view-all-card .case-studies-box {
        background: $black;
    }

    .dark-bg {
        background: $black;
    }

    .round-primary-btn {
        background: $black;
        color: $white;
    }

    .round-secondary-btn,
    .contact-btn a {
        background: $white;
        color: $black;
    }

    .blog-card-outer .blog-cards .blog-card-content h3,
    .case-studies-section h2,
    .what-we-do-card-row .what-we-do-card a h3,
    .manufacture-resources-section h2,
    .img-text-card-row .img-text-card-content h3 {
        color: $black;
    }

    .what-we-do-card-row .what-we-do-card a h3 {
        background: $black url("#{$assetPath}/white arrow right corner.svg") no-repeat calc(100% - 1rem) center;
        color: $white;
        background-size: 2rem;
    }

    .more-info-section .more-info-inner .more-info-box {
        background-color: $black;
    }

    .back-to-section {
        background: $secondary-color;

        .back-to-inner a {
            background: url("#{$assetPath}/white arrow left corner.svg") no-repeat left center;
            color: $white;
            background-size: 2rem;
        }
    }
    .products-card-row .products-card a h5 {
        background: $black url("#{$assetPath}/white arrow right corner.svg") no-repeat calc(100% - 1.5rem) center;
        background-size: 2rem;
    }
    .page-title h1,
    .quotes-section h2 {
        color: $black;
    }
    .how-we-do-it-section,
    .how-we-do-it-section .how-we-do-it-card-row .container,
    .main-footer {
        background: $black;
    }
    .contact-section {
        background-color: $black;
    }
    .main-footer {
        .footer-logo {
            color: $white;
        }
        .footer-left {
            color: $white;
        }
        .footer-right {
            .footer-menu {
                ul {
                    li {
                        a {
                            color: $white;
                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
    .accessibility-menu .dropdown-menu a, 
    .accessibility-menu .dropdown-menu button{
        color: #4d505b !important;
        &:hover{
            color: $primary-color !important;
        }
    }
    .accessibility-menu {
        .dropdown-menu {
            a,
            button {
                &.accessibility-btn-contrast {
                    background: url("#{$assetPath}/icon-accessibility-contrast-hover.svg") no-repeat 10px;
                    background-size: 17px;
                    color: $primary-color !important;
                }
            }
        }
    }
}
