/*
 Theme Name:   Logic Theme
 Theme URI:    https://www.logic.com/
 Description:  Logic Theme -Twenty Sixteen Child Theme
 Author:       Raj keer and Vimal Sharma
 Template:     twentyseventeen
 Version:      1.0.1
 Text Domain:  twentyseventeen
*/

@font-face {
    font-family: 'Brother-1816-Regular';
    src: url('fonts/390772_0_0.eot');
    src: url('fonts/390772_0_0.eot?#iefix') format('embedded-opentype'), url('fonts/390772_0_0.woff2') format('woff2'), url('fonts/390772_0_0.woff') format('woff'), url('fonts/390772_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Brother-1816-Light';
    src: url('fonts/390772_1_0.eot');
    src: url('fonts/390772_1_0.eot?#iefix') format('embedded-opentype'), url('fonts/390772_1_0.woff2') format('woff2'), url('fonts/390772_1_0.woff') format('woff'), url('fonts/390772_1_0.ttf') format('truetype');
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 136px 0 0 0;
    font-size: 18px;
    background: #fff;
    color: #494e56;
	font-weight:300;
}
.aos-all{ width:100%; height:100%; overflow:hidden;}
a {
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

#footer_top_logo .widget-title,
.hidden {
    display: none;
}

#footer_widget .widget-title {
    display: none;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

img {
    max-width: initial;
}

a:focus,
button:focus {
    outline: none;
    border: 0px;
}

.lite__blue {
    color: #1485c9;
}

.blue {
    color: #143d7c;
}

.lite__drak {
    color: #494e56;
}

.org {
    color: #e9a426;
}

.Aqua__dark {
    color: #118188;
}

.Aqua {
    color: #56bcb5;
}

.Aqua__lite {
    color: #5bbfc9;
}

a:hover {
    text-decoration: none;
}

.site__header {
    background: #fff;
    z-index: 9;
    padding: 25px 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.logo {
    width: 230px;
	    margin-left: -2px;
	transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.size__small .logo{ width:180px;}
.logo img {
    width: 100%;
}

.hdr__right {
    justify-content: flex-end;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    text-align: right;
	    margin-top: 36px;
}
.txt__in__mobile{ display:none;}
.flex {
    display: flex;
}

.nav__menu {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: middle;
	    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.home__slider__img{ width:100%; overflow:hidden; height:600px; background-size:cover; background-position:center;}
.nav__menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav__menu ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}

.nav__menu ul li a {
    display: block;
    color: #494e56;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
    padding: 0 26px;
}

.nav__menu ul li a:hover {
    font-weight: 400;
    color: #118188;
}

.social__icons {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: text-bottom;
}

.social__icons ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.social__icons ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
    padding: 0px;
}

.social__icons ul li a {
    display: block;
    background: #e9a426;
    color: #494e56;
    font-size: 15px;
    font-weight: 400;
    width: 35px;
    padding: 5px;
    height: 35px;
}

.social__icons ul li a img {
    width: 100%;
    display: block;
}

.social__icons ul li a:hover {
    background: #56bcb5;
}

.nav__menu ul li {
    position: relative;
}

.nav__menu ul li ul.sub-menu {
    position: absolute;
    left: -40px;
    text-align: left;
    width: 200px;
    padding: 20px 0 0 0;
    top: 15px;
    display: none;
}

.nav__menu ul li ul.sub-menu:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    background: #118188;
    top: 14px;
    left: 0px;
}

.icon-angle-down {
    display: none;
}

.nav__menu ul li ul.sub-menu li {
    background: #fff;
    display: block;
    padding: 0px 10px 8px 10px;
}

.nav__menu ul li ul.sub-menu li:first-child {
      padding-top: 25px;
}

.nav__menu ul li ul.sub-menu li:last-child {
    padding-bottom: 25px;
}

.nav__menu ul li ul.sub-menu li a {
    text-transform: none;
    display: block;
	font-size: 16px;
	    padding: 0 10px;
		    line-height: 21px;
}

.nav__menu ul li:hover a {
    font-weight: 500;
    color: #118188;
}
.nav__menu ul li.current-menu-parent > a{ font-weight: 500;color: #56bcb5;}
.nav__menu ul li ul.sub-menu li.current-menu-item a{
    color: #118188;}
.nav__menu ul li:hover ul li a {
    font-weight: 400;
    color: #494e56;
}

.nav__menu ul li:hover ul.sub-menu {
    display: block;
}

.nav__menu ul li.current-menu-item a {
    font-weight: 500;
    color: #56bcb5;
}

.nav__menu ul li.current-menu-item ul li a {
    font-weight: 400;
    color: #494e56;
}

.nav__menu ul li.current-menu-item ul li a:hover {
    color: #56bcb5;
}

.nav__menu ul li:hover ul li a:hover {
    font-weight: 400;
    color: #118188;
}

.home__slider {
    height: 600px;
    overflow: hidden;
    position: relative;
}

.home__slider__overly {
background: -moz-linear-gradient(left,  rgba(20,61,124,0.92) 0%, rgba(20,61,124,0.92) 48%, rgba(48,143,175,0.92) 100%);
background: -webkit-linear-gradient(left,  rgba(20,61,124,0.92) 0%,rgba(20,61,124,0.92) 48%,rgba(48,143,175,0.92) 100%);
background: linear-gradient(to right,  rgba(20,61,124,0.92) 0%,rgba(20,61,124,0.92) 48%,rgba(48,143,175,0.92) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb143d7c', endColorstr='#eb308faf',GradientType=1 );


position: absolute;
    top: 121px;
    right: 0px;
    padding: 55px 18% 70px 90px;
    z-index: 4;
    height: 371px;
}
.over__img_slider{
	position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;}

.home__slider__item {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.home__slider__item h2 {
    margin: 0px;
    padding: 0px;
    color: #fff;
	text-align: right;
	position:relative;
	z-index:2;
    font-size: 40px;
    font-family: 'Brother-1816-Light';
}

.home__slider .slick-dots {
    position: absolute;
    right: 18%;
    bottom: 122px;
}

.home__slider .slick-dots li {
    margin: 0 0 0 10px;
    padding: 0px;
    display: inline-block;
}

.home__slider .slick-dots li button {
    background: #eaeaea;
    cursor: pointer;
    border: 0px #424242 solid;
    border-radius: 80px;
    text-indent: -9999px;
    display: block;
    width: 14px;
	padding:0;
    height: 14px;
}

.home__slider .slick-dots li.slick-active button {
    background:#e9a426;
}

.wpr__1 {
    width: 1080px;
    margin: auto;
}

.wpr__2 {
    width: 930px;
    margin: auto;
}

.wpr__3 {
    width: 830px;
    margin: auto;
}

.first__section,
.company__logos {
    padding: 70px 0;
}
.service__detsils__list {
    padding: 70px 0 90px 0;
}
.advise__section{padding:72px 0;}
.first__section h1 {
    margin: 0px;
    padding: 0px;
    color: #143d7c;
    font-family: 'Brother-1816-Regular';
}


/*For H1 Font Size*/

.first__section h1,
.service__section h1,
.service__section h2,
.about__section h2,
.service__detsils__hd__text h1,
.service__detsils__list h2,
.advise__section h2,
.what__we__do__section h2,
.txt__image__section h1,
.txt__image__section h2,
.logic__way__section h2,
.profile__section__in h2,
.located__section h2,
.simple__details__in h2,
.client__journey__section h2 {
    font-size: 28px;
}


/*For H1 Font Size*/

.first__section__btm {
    padding-top: 40px;
}

.service__section {
    background: rgb(20, 133, 201);
    background: -moz-linear-gradient(left, rgba(20, 133, 201, 1) 0%, rgba(20, 61, 124, 1) 50%);
    background: -webkit-linear-gradient(left, rgba(20, 133, 201, 1) 0%, rgba(20, 61, 124, 1) 50%);
    background: linear-gradient(to right, rgba(20, 133, 201, 1) 0%, rgba(20, 61, 124, 1) 50%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1485c9', endColorstr='#143d7c', GradientType=1);
    padding: 70px 0 90px 0;
}

.service__section h2,.service__section h1 {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-family: 'Brother-1816-Regular';
}

.service__list {
    border-bottom: 1px #fff solid;
    display: flex;
    margin-top: 50px;
}
.service__list:hover{
	border-bottom: 1px #118188 solid;
	}
.service__list:hover .yello_btn a {
    background: #118188;
}	
.service__icon {
    width: 100px;
    margin-right: 25px;
}
.service__icon a img{transition: transform .5s ease;}
.service__list:hover .service__icon a img{ transform: scale(1.2); opacity:0.7;  }

.service__text {
    width: 84%;
}

.service__icon img {
    width: 100%;
}

.service__row {
    width: 80%;
    margin: 20px auto auto auto;
}

.service__text h3 {
    margin: 0 0 7px;
    padding: 0px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.service__text h3 a {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
	text-transform: uppercase;
}
.service__text h3 a:hover{
	 color: #5bbfc9;
	}
.service__text p {
    color: #fff;
}

.yello_btn {
    text-align: right;
}

.yello_btn a {
    display: inline-block;
    background: #e9a426;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 15px;
}

.yello_btn a:hover {
    background: #118188;
}

.about__section {
    background: #eaf0f2;
    padding-top: 70px;
    position: relative;
}

.about__section h2 {
    margin: 0px;
    padding: 0px;
    color: #143d7c;
    font-family: 'Brother-1816-Regular';
}

.about__section:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #fff;
    width: 100%;
    height: 74px;
}

.about__section_left_img img {
    width: 80%;
}

.about__section_left_text {
    padding: 30px 15% 0px 19%;
}

.about__section_left_text p {
    margin-bottom: 40px;
}

.quotes__box {
    background: #56bcb5;
    z-index: 1;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 120px 50px 120px 50px;
    position: relative;
    height: 565px;
    margin-top: 30px;
}

.quotes__box:after {
    content: "";
    position: absolute;
    left: 48px;
    top: 54px;
    background: url(images/quotes_icon.png);
    width: 46px;
    height: 36px;
}
.quotes__box:before {
    content: "";
    position: absolute;
    right: 48px;
    bottom: 54px;
    background: url(images/quotes_icon_btm.png);
    width: 46px;
    height: 36px;
}
.advise__section .quotes__box:after {
    background: url(images/t_quotes_icon.png);
	    top: 62px;
}
.advise__section .quotes__box:before {
    background: url(images/t_quotes_icon_btm.png);
	    bottom: 62px;   right: 48px;
}
.advise__section .quotes__box{padding:128px 50px 120px 50px;     height: 611px;}
.quotes__box p {
    margin: 0px;
    color: #fff;
    line-height: 32px;
    font-size: 26px;
    font-family: 'Brother-1816-Regular';
}

.company__logos ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.company__logos ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
    padding: 0px;
}

.company__logos ul li img {
    height: 200px;
}

.company__logos {
    text-align: center;
}

.site__footer {
    background: #494e56;
    padding: 20px 0;
}

.site__footer p {
    color: #fff;
    margin: 0px;
}

.site__footer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.site__footer ul li {
    display: block;
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-weight: 400;
}

.site__footer ul li a {
    color: #fff;
    
    font-weight: 400;
    padding: 0px;
}
.site__footer ul li a,
.site__footer ul li,
.site__footer p 
{

font-size: 15px;	
	}
.site__footer ul li a:hover {
    color: #e9a426;
}

h1.pg__hd {
    font-size: 34px;
}

.service__detsils__hd {
    background: rgb(20, 133, 201);
    background: -moz-linear-gradient(left, rgba(20, 133, 201, 1) 0%, rgba(20, 61, 124, 1) 50%);
    background: -webkit-linear-gradient(left, rgba(20, 133, 201, 1) 0%, rgba(20, 61, 124, 1) 50%);
    background: linear-gradient(to right, rgba(20, 133, 201, 1) 0%, rgba(20, 61, 124, 1) 50%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1485c9', endColorstr='#143d7c', GradientType=1);
	height:420px;
	overflow:hidden;
	display: flex;
}

.service__detsils__hd__img {
    width: 44%;     margin-right: 7%;
}

.service__detsils__hd__img img {
    opacity: 0.2;
    width: 100%;
}

.service__detsils__hd__text {
    color: #fff;
    width: 42%;
    margin-left: 0px;
}
.service__detsils__hd__text p br{ display:none;}
.service__detsils__hd__row {
        display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
}

.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.service__detsils__list {
    background: #f2f3f5;
}

.service__detsils__hd__text h1 {
    margin: 0 0 10px 0;
    padding: 0px;
    color: #fff;
    font-family: 'Brother-1816-Regular';
}

.service__detsils__list h2 {
    margin: 0 0 30px 0;
    padding: 0px;
    color: #143d7c;
    font-family: 'Brother-1816-Regular';
}

.service__detsils__list__box {
    background: #fff;
    padding: 25px;
    margin-top: 30px;
}

.service__detsils__list h3 {
    margin: 10px 0 17px 0;
    padding: 0px;
    color: #5bbfc9;
    font-size: 16px;
    font-family: 'Brother-1816-Regular';
}

.service__detsils__list h3 a {
    margin: 0px;
    padding: 0px;
    color: #118188;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Brother-1816-Regular';
}

.info__bar {
    background: #e9a426;
    padding: 50px 0;
    text-align: center;
}

.info__bar h3 {
    margin: 0 0 10px 0;
    padding: 0px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-family: 'Brother-1816-Regular';
}

.info__bar ul {
    margin: 30px 0 0 0;
    padding: 0px;
    list-style: none;
}

.info__bar ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px;
    padding: 0px;
}

.info__bar ul li a {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    padding: 0px;
}
.info__bar ul li a:hover{ opacity:0.7;}
.what__we__do__section_btm .yello_btn{ margin-top:40px;}
.info__bar ul li a i {
    width: 40px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.info__bar ul li a i img {
    width: 100%;
}

.advise__section h2 {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-family: 'Brother-1816-Regular';
}

.advise__section {
    background: #118188;
    position: relative;
    padding-bottom: 0px;
}

.advise__section:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #f2f3f5;
    width: 100%;
    height: 85px;
}

.advise__list {
    padding-top: 15px;
}

.advise__list ul {
    margin: 0;
    padding: 0px;
    list-style: none;
}

.advise__list ul li {
    display: inline-block;
    text-align: center;
    width: 26%;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    vertical-align: top;
    margin: 50px 28px 0 0;
    padding: 0px;
}

.advise__list ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.advise__list ul li i {
    display: block;
    min-height: 95px;
    width: 88px;
    margin: auto;
}

.advise__list ul li i img {
    width: 100%;
	transition: transform .5s ease;
}
.advise__list ul li a:hover i img {
	transition: transform .5s ease;
	    transform: scale(1.1); opacity:0.8;
	}

.advise__section .quotes__box {
    margin-top: 0px;
}

.what__we__do__section {
    background: #f2f3f5;
    padding: 0 0 70px 0;
}

.what__we__do__section h2 {
    margin: 0px;
    padding: 0px;
    color: #143d7c;
    font-family: 'Brother-1816-Regular';
}

.what__we__do__section_btm {
    padding: 30px 15% 0 15%;
}

.page_hd {
    padding: 0 0 0px 20px;
    position: relative;
	 height: 430px;
	     margin-bottom: 70px;
}

.page__image img {
    width: 100%;
}

.page__image {
    width: 75%;
    height: 430px;
    overflow: hidden;
	position:absolute;
	left:20px;
	bottom:0px;
	background-size:cover;
}

.page-id-14  .page__image{background-position: center;}
.page_hd_txt {
    background: -moz-linear-gradient(left,  rgba(20,61,124,0.92) 0%, rgba(20,61,124,0.92) 48%, rgba(48,143,175,0.92) 100%);
background: -webkit-linear-gradient(left,  rgba(20,61,124,0.92) 0%,rgba(20,61,124,0.92) 48%,rgba(48,143,175,0.92) 100%);
background: linear-gradient(to right,  rgba(20,61,124,0.92) 0%,rgba(20,61,124,0.92) 48%,rgba(48,143,175,0.92) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb143d7c', endColorstr='#eb308faf',GradientType=1 );

    position: absolute;
        bottom: -49px;
    right: 0px;
    padding: 70px 25% 70px 90px;
    z-index: 4;
	text-align:right;
}

.page_hd_txt h1 ,.page_hd_txt h2{
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-size: 36px;
    font-family: 'Brother-1816-Regular';
}

.w__bg {
    background: #fff;
    padding: 50px 0;
}

.txt__image__section {}

.txt__image__section h1,
.txt__image__section h2 {
    margin: 0px;
    padding: 0px;
    color: #143d7c;
    font-family: 'Brother-1816-Regular';
}

.txt__image__section__row {
    padding-top: 40px;
}

.txt__image__section__right strong {
    font-weight: 400;
}

.txt__image__section__right ul {
    margin:0 0 17px 0;
    padding: 0px;
    list-style: none;
}

.txt__image__section__right ul li {
    display: block;
    position: relative;
    font-weight: 300;
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
}

.txt__image__section__right ul li:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 8px;
    border-radius: 10px;
    background: #143d7c;
    width: 8px;
    height: 8px;
}

.g__bg {
    background: #f2f3f5;
    padding: 50px 0;
}

.txt__image__section h3 {
    margin: 0 0 10px 0;
    padding: 0px;
    color: #118188;
    font-size: 18px;
    font-weight: 500;
}

.logic__way__section {
    background: #fff;
    padding: 50px 0;
}

.logic__way__section h2 {
    margin: 0 0 30px 0;
    padding: 0px;
    color: #143d7c;
    font-family: 'Brother-1816-Regular';
}

.logic__way__section p {
    padding: 0 10%;
}

.logic__way__img img {
    width: 100%;
}

.about__top__text {
    padding: 60px 0;
}

.about__top__text strong br,
.about__top__text p br {
    display: none;
}

.about__top__text p {
    padding: 0 10%;
}

.profile__section__in {
    background: #118188;
}



.profile__section__in h2 {
    margin: 50px 50px 0 0;
    text-align: right;
    padding: 0px;
    color: #fff;
    font-family: 'Brother-1816-Regular';
}

.profile__section__in .row {
    margin: 0px;
}

.profile__list {
    margin: 0px;
    padding: 0px;
}

.profile__list ul {
    margin: 0;
    padding: 0px;
    list-style: none;
}

.profile__list ul li {
    float: left;
    width: 25%;
    font-size: 14px;
    position: relative;
    margin: 0;
    padding: 0;
}

.profile__img img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.profile__text {
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.profile__text__in h3 {
    margin: 0 0 5px 0;
    display: block;
    width: 100%;
    padding: 0px;
    color: #fff;
    font-size: 18px;
}

.profile__text__in p {
    margin: 0 0 25px 0;
    display: block;
    width: 100%;
    padding: 0px;
    color: #fff;
    font-size: 15px;
}

.profile__text__in {
    width: 100%;
}

.profile__text__in a {
    color: #fff;
}

.profile__text__in a.readprofile {
    display: inline-block;
    background: #e9a426;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 15px;
}

.profile__text__in a.readprofile:hover {
    background: #118188;
}

.profile__list ul li:hover .profile__img img {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.profile__list ul li:hover .profile__text {
    opacity: 1;
}

.profile__section__in .col-sm-3,
.profile__section__in .col-sm-9 {
    padding: 0px;
}

.padding_top_50 {
    padding-top: 60px;
}

.located__section {
    background: rgb(20, 133, 201);
    background: -moz-linear-gradient(left, rgba(20, 133, 201, 1) 0%, rgba(20, 61, 124, 1) 50%);
    background: -webkit-linear-gradient(left, rgba(20, 133, 201, 1) 0%, rgba(20, 61, 124, 1) 50%);
    background: linear-gradient(to right, rgba(20, 133, 201, 1) 0%, rgba(20, 61, 124, 1) 50%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1485c9', endColorstr='#143d7c', GradientType=1);
    padding: 66px 0 0 0;
    position: relative;
}

.located__section h2 {
    margin: 0 0 30px;
    padding: 0px;
    color: #fff;
    font-family: 'Brother-1816-Regular';
}

.located__section p {
    padding: 0 0 0 15%;
    color: #fff;
}

.located__img {
    width: 90%;
    margin: 40px auto auto auto;
    position: relative;
    z-index: 2;
}

.located__img img {
    width: 100%;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
}

.located__section:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #fff;
    width: 100%;
    height: 64px;
}

.simple__details__hd {
background: rgb(20,61,124);
background: -moz-linear-gradient(left,  rgba(20,61,124,1) 0%, rgba(91,191,201,1) 57%, rgba(91,191,201,1) 57%);
background: -webkit-linear-gradient(left,  rgba(20,61,124,1) 0%,rgba(91,191,201,1) 57%,rgba(91,191,201,1) 57%);
background: linear-gradient(to right,  rgba(20,61,124,1) 0%,rgba(91,191,201,1) 57%,rgba(91,191,201,1) 57%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#143d7c', endColorstr='#5bbfc9',GradientType=1 );


    padding:95px 0;
}

.simple__details__hd h1 {
    margin: 0;
    padding: 0px;
    color: #fff;
    font-size: 34px;
    font-family: 'Brother-1816-Regular';
}

.simple__details__in {
    background: #fff;
    margin-top: -46px;
    padding: 60px 80px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.3);
}

.simple__details__in img {
    width: 100%
}

.simple__details__in h3 {
    margin: 0 0 10px 0;
    padding: 0px;
    color: #118188;
    font-size: 15px;
    font-weight: 500;
}

.simple__details.stc__pages h3 {
    margin: 0 0 10px 0;
    padding: 0px;
    color: #118188;
    font-size: 15px;
    font-weight: 500;
}

.simple__details.stc__pages h2 {
    margin: 0 0 10px 0;
    padding: 0px;
    color: #118188;
    font-size: 16px;
    font-weight: 500;
}

.simple__details.stc__pages h1 ,.simple__details.stc__pages h2{
    margin: 0 0 10px 0;
    padding: 0px;
    color: #118188;
    font-size: 18px;
    font-weight: 500;
}

.simple__details__in h2 {
    margin: 0 0 20px;
    padding: 0px;
    color: #143d7c;
}

.back__btn {
    padding: 50px 0 0 0;
    text-align: center;
}

.back__btn a {
    display: inline-block;
    color: #143d7c;
    font-size: 28px;
    font-family: 'Brother-1816-Regular';
}

.back__btn a:hover {
    color: #118188;
}

.about__top__text h3 {
    margin: 0 0 10px 10%;
    padding: 0px;
    color: #118188;
    font-size: 18px;
    font-weight: 500;
}

.client__journey__section {
    padding:60px 0;
    background: #eaf0f2;
}

.client__journey__section h2 {
    margin: 0px;
    padding: 0px;
    color: #143d7c;
    font-family: 'Brother-1816-Regular';
}

.client__subtext {
    padding-left: 10%;
    padding-top: 30px;
}
.profile__img a{ display:block;}
strong {
    font-weight: 400;
}

.client__journey__list {
    margin: 50px 0 26px 0;
    padding: 0px;
}

.client__journey__list ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.client__journey__list ul li {
    display: block;
    background: #56bcb5;
    padding: 20px;
    min-height: 240px;     margin-top: -1px;
}

.client__journey__box {}

.client__journey__box i {
    background: url(images/way-2.png) no-repeat;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    text-align: center;
    font-family: 'Brother-1816-Regular';
    font-size: 24px;
    width: 59px;
    margin-right: 15px;
       padding-top: 10px;
    height: 64px;
    font-style: normal;
    background-size: 59px;
}

.client__journey__box__right h2 {
    margin: 0 0 12px;
    padding: 0px;
    color: #fff;
    font-size: 22px;
    font-family: 'Brother-1816-Regular';
}

.client__journey__box__right p {
    color: #fff;
}

.client__journey__box__right {
    display: inline-block;
    vertical-align: top;
    width: 84%;
	    padding-top: 14px;
}

.client__journey__list ul li:nth-child(2n+2) {
    background: #118188;
}

.client__journey__list ul li:nth-child(2n+2) .client__journey__box i {
    background: url(images/way.png) no-repeat;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    text-align: center;
    font-family: 'Brother-1816-Regular';
    font-size: 24px;
    width: 59px;
    margin-right: 15px;
        padding-top: 10px;
    height: 64px;
    font-style: normal;
    background-size: 59px;
}

.contact__info {
    margin: 35px 0 0 0;
    padding: 0px;
}

.contact__info ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.contact__info ul li {
    display: block;
    margin: 0 0 35px 0;
    padding: 0px;
}

.contact__info ul li a {
    display: block;
}

.contact__info ul li a strong {
    display: inline-block;
    font-family: 'Brother-1816-Regular';
    color: #143d7c;
    font-size: 22px;
    vertical-align: top;
    width: 70%;
    font-weight: normal;
}

.contact__info ul li a i {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    margin-right: 20px;
}

.contact__info ul li a i img {
    width: 100%;
}

.contact__info ul li a strong span {
    color: #e9a426;
}

.contact__info ul li a:hover strong {
    color: #e9a426;
}

.map__image {}

.map__image img {
    width: 100%;
}

.logic__way__img {
    position: relative;
	    margin: 50px 0 20px;
}

.logic__way__text {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 100%;
    z-index: 1;
}

.logic__way__text h4 {
    margin: 0;
    opacity: 0;
    cursor: pointer;
    padding: 0px;
    color: #fff;
    font-size: 50px;
    font-family: 'Brother-1816-Regular';
}

.logicl__tooltip {
    width: 36%;
    position: absolute;
    left: 234px;
    top: 24px;
    text-align: center;
}

.confident__tooltip {
    width: auto;
    position: absolute;
    left: 34px;
    top: 170px;



}
.confident__tooltip h4{transform: rotate(-240deg);
    -ms-transform: rotate(-240deg);
    -webkit-transform: rotate(-240deg); }

.infectious__tooltip {
    width: auto;
    position: absolute;
    left: 41px;
    top: 459px;


}
.infectious__tooltip h4{
    transform: rotate(-119deg);
    -ms-transform: rotate(-119deg);
    -webkit-transform: rotate(-119deg);
}

.outcome__tooltip {
    width: auto;
    position: absolute;
    right: 47px;
    top: 177px;
}
.outcome__tooltip h4{transform: rotate(62deg);
    -ms-transform: rotate(62deg);
    -webkit-transform: rotate(62deg); }
.great__tooltip {
    width: auto;
    position: absolute;
    right: 85px;
    top: 475px;
}
.great__tooltip h4{
    transform: rotate(-61deg);
    -ms-transform:rotate(-61deg);
    -webkit-transform: rotate(-61deg);
}
.tooltip__type {
    background: #fff;
    padding: 30px;
    width: 338px;
    position: absolute;
    text-align: center;
    display: none;
    top: 0px;
	z-index:99;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    left: 0px;
}

.tooltip__type h2 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-family: 'Brother-1816-Regular';
    padding: 0px;
    color: #143d7c;
    font-size: 40px;
    font-weight: 500;
}

.tooltip__type p {
    margin: 0px;
    padding: 0px;
}

.tooltip__close {
    width: 35px;
    background: none;
    border: 0px;
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 4px
}

.tooltipbox:hover .tooltip__type {
    display: block;
    cursor: default;
}

.tooltipbox {
    cursor: pointer;
}

.confident__tooltip .tooltip__type,
.infectious__tooltip .tooltip__type,
.outcome__tooltip .tooltip__type,
.great__tooltip .tooltip__type {
    writing-mode: initial;
}

/*.confident__tooltip .tooltip__type {
    transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
}

.infectious__tooltip .tooltip__type {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
}

.outcome__tooltip .tooltip__type {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
}

.great__tooltip .tooltip__type {
    transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
}*/

.logicl__tooltip .tooltip__type {
    left: 9px;
}

.confident__tooltip .tooltip__type {
    left: -9px;
    top: -55px;
}

.infectious__tooltip .tooltip__type {
    left: 0px;
    top: -81px;
}

.outcome__tooltip .tooltip__type {
    left: -147px;
    top: -60px;
}

.great__tooltip .tooltip__type {
    left: -147px;
    top: -96px;
}

.blog__details {
    background: rgb(20, 61, 124);
    background: -moz-linear-gradient(left, rgba(20, 61, 124, 1) 1%, rgba(91, 191, 201, 1) 31%);
    background: -webkit-linear-gradient(left, rgba(20, 61, 124, 1) 1%, rgba(91, 191, 201, 1) 31%);
    background: linear-gradient(to right, rgba(20, 61, 124, 1) 1%, rgba(91, 191, 201, 1) 31%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#143d7c', endColorstr='#5bbfc9', GradientType=1);
    padding: 100px 0;
}

.w__in {
    background: #fff;
}

.padding__50 {
    padding: 40px 70px;
}
.w__in.padding__50 {
    padding: 70px 90px;
}
.entry-hd h1 {
    margin: 0;
    padding: 0px;
    color: #494e56;
    font-size: 28px;
    font-family: 'Brother-1816-Regular';
}

.details-content {
    padding-top:30px;
}

.details-content p br {
    display: none;
}

.details-content img {
    width: 100%;
    height: auto;
    margin: 15px 0;
}

.back_to_blog {
    background: #f2f3f5;
    padding: 40px 0;
    text-align: center;
}

.back_to_blog a {
    display: inline-block;
    color: #143d7c;
    font-size: 28px;
    font-family: 'Brother-1816-Regular';
}

.back_to_blog a:hover {
    color: #118188;
}

.blog__list {
    background: #f2f3f5;
    padding: 50px 0 70px 0;
}

.filter__outer {
    border-bottom: 1px #8a8d95 solid;
    clear: both;
    margin-bottom: 50px;
}

.filter {
    position: relative;
    float: right;
    z-index: 2;
}

.filter .filter_top a {
    color: #494e56;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
	background:url(images/blog-arrow.png) no-repeat 100% 40%; padding-right: 18px;
}
.filter:hover .filter_top a{background:url(images/blog-arrow-down.png) no-repeat 100% 40%;}
.filter_top {
    padding-bottom: 8px;
}

.filter_dropdown {
    position: absolute;
    display: none;
    right: 0px;
    top: 22px;
    padding-top: 14px;
    width: 150px;
}

.filter_dropdown_in {
    background: #fff;
    padding: 10px;
}

.filter_dropdown_in ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.filter_dropdown_in ul li {
    display: block;
    margin: 0;
    padding: 0px;
}

.filter_dropdown_in ul li a {
    display: block;
    text-align: right;
    color: #494e56;
    font-size: 16px;
    padding: 10px;
    border-bottom: 1px #494e56 solid;
}

.filter_dropdown_in ul li:last-child a {
    border-bottom: 0px;
}

.filter:hover .filter_dropdown {
    display: block;
}

.filter_dropdown_in ul li a:hover {
    color: #e9a426;
}

.blog__box {
    border-bottom: 1px #e9a426 solid;
    display: flex;
    margin-bottom: 50px;
}
.blog__box:hover{ border-bottom: 1px #118188 solid;}
.blog__box:hover .yello_btn a{ background:#118188}
.blog__img {
    width: 230px;
   margin-right: 30px;
}

.blog__img img {
    width: 100%;
    height: auto;
}

.blog__text {
    width: 79%;
}

.blog__text p br {
    display: none;
}

.blog__text h3 {
    margin: 0 0 7px;
    padding: 0px;
    color: #118188;
    font-size: 16px;
    font-weight: 500;
}

.blog__text h3 a {
    color: #118188;
    font-size: 18px;
    font-weight: 500;
	text-transform:uppercase;
}

.article-desp {
    min-height: 200px;
}

.navigation.pagination {
    text-align: right;
    display: block;
    width: 100%;
}

.navigation.pagination a {
    color: #494e56;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    margin-left: 10px;
}

.navigation.pagination .current {
    color: #494e56;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    margin-left: 10px;
}

.about__section,
.service__section,
.service__detsils__hd,
.service__detsils__list,
.info__bar,
.advise__section,
.what__we__do__section,
.g__bg,
.profile__section,
.located__section,
.simple__details__hd,
.client__journey__section,
.blog__list,
.blog__details,
.back_to_blog {
    margin-left: 30px;
    margin-right: 30px;
}

.service-desp {
    min-height: 72px;
}

.blog__details__txt h1,
.blog__details__txt h2,
.blog__details__txt h3,
.blog__details__txt h4,
.blog__details__txt h5 {
    margin: 5px 0;
    padding: 0px;
    color: #118188;
}

.blog__details__txt h1 {
    font-size: 24px;
}

.blog__details__txt h2 {
    font-size: 18px;
	    margin-bottom: 12px;
    margin-top: 21px
}

.blog__details__txt h3 {
    font-size: 20px;
}

.blog__details__txt h4 {
    font-size: 18px;
}

.blog__details__txt h5 {
    font-size: 16px;
}

.mobile__menu__icon {
    display: none;
}

.about__section__box {
    padding-top: 40px;
}
.single-service.postid-11 .service__detsils__hd__img img{  
transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);     
	    padding-top: 8px;
    width: 107%;}
.single-service.postid-12 .service__detsils__hd__img img{  
transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);   }	
.single-service.postid-10 .service__detsils__hd__img img{  
transform: rotate(11deg);
    -ms-transform: rotate(11deg);
    -webkit-transform: rotate(11deg); 
		padding-top: 40px;
    width: 86%;  }	
.single-service.postid-9 .service__detsils__hd__img img{  
transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg); width:103%; }
.single-service.postid-8 .service__detsils__hd__img img{  
transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);   width: 90%;  }
	.single-service.postid-7 .service__detsils__hd__img img{  
transform: rotate(11deg);
    -ms-transform: rotate(11deg);
    -webkit-transform: rotate(11deg);  width:103%; }	
.home__slider__item img{ width:auto !important;}	

.has-cookie-bar #catapult-cookie-bar{    background: -moz-linear-gradient(left,  rgba(20,61,124,0.92) 0%, rgba(20,61,124,0.92) 48%, rgba(48,143,175,0.92) 100%);
background: -webkit-linear-gradient(left,  rgba(20,61,124,0.92) 0%,rgba(20,61,124,0.92) 48%,rgba(48,143,175,0.92) 100%);
background: linear-gradient(to right,  rgba(20,61,124,0.92) 0%,rgba(20,61,124,0.92) 48%,rgba(48,143,175,0.92) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb143d7c', endColorstr='#eb308faf',GradientType=1 );
}
.cookie-bar-bar button#catapultCookie{    display: inline-block;
    background: #e9a426;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 15px;}		
.xt__image__section__img img{ width:90%; height:auto;}	
.size__small .hdr__right{margin-top:20px;}	
.site__header.size__small{ padding:15px 0;}

.hide__dsktop{ display:none;}
.hide__mobile{ display:block;}
.hide__dsktop__img{ display:none;}

@media (min-width: 992px) and (max-width: 1024px) {
    .home__slider {
        height: 312px;
    }
    .home__slider__overly {
           height: 241px;
    padding: 29px 150px 50px 50px;
    top: 32px;
    width: 57%;
    }
   .home__slider__item img {
    width: 100% !important;
}
.home__slider__item {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}
    .home__slider .slick-dots {
          right: 149px;
    bottom: 43px;
    }
    .wpr__1 {
        width: 900px;
    }
    .page__image {
        height: 250px;
    }
	.logo{ width:180px; margin-left:0px;}
		.hdr__right{ margin-top:19px;}
	.size__small .hdr__right {
    margin-top: 19px;
}
	.size__small .logo {
    width: 180px;
}
	.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}
.blog__details__txt p br,
.txt__image__section__right strong br
{ display:none;}
.home__slider__item h2{ font-size:30px;}
.nav__menu ul li a{ padding:0 13px;}
.wpr__1 {
    width: 950px;
    margin: auto;
}
.wpr__2 {
    width: 829px;
    margin: auto;
}
.wpr__3 {
    width: 808px;
    margin: auto;
}
.about__section, .service__section,  .service__detsils__hd, .service__detsils__list, .info__bar, .advise__section, .what__we__do__section, .g__bg, .profile__section, .located__section, .simple__details__hd, .client__journey__section, .blog__list, .blog__details, .back_to_blog {
    margin-left: 20px;
    margin-right: 20px;
}
.page_hd{
	    height: 250px;  margin-bottom: 43px;}
.home__slider__img{height: 316px; }
.tooltipbox:hover .tooltip__type {
    display: none;
    cursor: default;
}
.div__show{display:block !important;}	
	.filter:hover .filter_dropdown{ display:none;}
	.filter:hover .filter_top a {
    background: url(images/blog-arrow.png) no-repeat 100% 40%;
}
	.filter.blog__show .filter_dropdown{ display:block;}
	.filter.blog__show .filter_top a {
    background: url(images/blog-arrow-down.png) no-repeat 100% 40%;
}	
.about__section_left_text p br,
.service__detsils__list p br,
.txt__image__section__right ul li br,
.client__subtext p strong br
{ display:none;}	
.profile__text{ opacity:1; display: block; height:auto; top:inherit; bottom:0px;}
.profile__text__in p,
.profile__text__in a.readprofile
{ display:none;}
.profile__text__in h3 {
    margin: 0;
    padding: 7px 0;
    font-size: 16px;
}
.quotes__box p{font-size: 24px;}
/*.profile__text__in h3 a{ position:relative; padding-right: 14px;}
.profile__text__in h3 a:after{ position:absolute;  content: "\f105"; font: normal normal normal 16px FontAwesome; color:#e9a426; top:0px; right:0px;}
*/.about__section h2{    margin: 0 0 0 8.5%;}
.about__section_left_img img {margin: 0 0 0 15%;}
.article-desp {
    min-height: 237px;
}
.simple__details__hd .wpr__2 {
    width: 790px;
}
.what__we__do__section h2{    padding: 0 0 0 7.5%;}
.what__we__do__section_btm .yello_btn {
    margin-right: -63px;
}
.hide__dsktop__img {
    display: block;
}
.advise__section h2{    padding: 0 0 0 24px;}
.page-id-2 .first__section .wpr__1{ width:808px;}
.page-id-2 .first__section .col-lg-4{    flex: 0 0 25%;
    max-width: 25%;}
.page-id-2 .first__section .col-lg-8{    flex: 0 0 75%;
    max-width: 75%;}
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        padding-top: 80px;
    }
	.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}
    .wpr__1 {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .wpr__2 {
        width: 90%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .wpr__3 {
        width: 85%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .text-lg-right {
        text-align: right;
    }
    .service__detsils__list__box p br {
        display: none;
    }
    .about__section,
    .service__section,
    .service__detsils__hd,
    .service__detsils__list,
    .info__bar,
    .advise__section,
    .what__we__do__section,
    .g__bg,
    .profile__section,
    .located__section,
    .simple__details__hd,
    .client__journey__section,
    .blog__list,
    .blog__details,
    .back_to_blog {
        margin-left: 15px;
        margin-right: 15px;
    }
    .first__section h1 br {
        display: none;
    }
    .home__slider {
        height: auto;
    }
    .home__slider__overly {
        padding: 20px 20px 26px 20px;
        height: auto;
        top: 0%; min-height: 143px;
		position:relative;
		display:flex;
		    align-items: center;
    }
    .home__slider__item h2 {
        font-size: 30px;
    }
    .first__section h1,
    .service__section h1,
    .service__section h2,
    .about__section h2,
    .service__detsils__hd__text h1,
    .service__detsils__list h2,
    .advise__section h2,
    .what__we__do__section h2,
    .txt__image__section h1,
    .txt__image__section h2
    .logic__way__section h2,
    .profile__section__in h2,
    .located__section h2,
    .simple__details__in h2,
    .client__journey__section h2 {
        font-size: 26px;
    }
	.home__slider__item img {
    width:100% !important;
}
.home__slider__item{ padding-left:15px; padding-right:15px;}
    .home__slider .slick-dots {
        position: absolute;
        right: 34px;
            bottom: inherit;
    top: 60%;
    }
    .quotes__box {
        padding: 111px 24px 24px 24px;
    }
    .quotes__box:after {
        left: 24px;
    }
    .quotes__box p {
        font-size: 21px;
		    line-height: 26px;
    }
    .about__section_left_text {
        padding: 30px 0% 0px 0;
    }
    .social__icons ul li a {
        width: 30px;
        height: 30px;
    }
    .logo {
        width: 140px;
		margin-left:0px;
    }
	.hdr__right{ margin-top:15px;}
	.size__small .hdr__right {
    margin-top: 15px;
}
	.size__small .logo {
    width: 140px;
}
    .site__header {
        padding: 15px 0;
    }
    .nav__menu ul li a {
        padding: 0 5px;
		font-size: 14px;
    }
	.social__icons ul li{    margin: 0 0 0 4px;}
    .page__image {
        height: 189px;
    }
    .page_hd_txt {
        padding:43px 50px;
    }
    .simple__details__in {
        padding: 40px;
    }
    .advise__list ul li {
             margin: 41px 9px 0 0;
    width: 29.5%;
    }
	.advise__list ul li i{    width: 70px;     min-height: 84px;}
    .txt__image__section__right p br {
        display: none;
    }
    .tooltip__type h2 {
        font-size: 26px;
    }
    .contact__info ul li a strong {
        line-height: 30px;
    }
    .w__in.padding__50 {
        padding: 40px;
    }
    .info__bar ul li {
        margin: 0 10px;
    }
	.home__slider__img {
    height: 309px;
}
.page_hd{
	    height: 189px;  margin-bottom: 43px;}
		
.tooltipbox:hover .tooltip__type {
    display: none;
    cursor: default;
}
.div__show{display:block !important;}	
	.filter:hover .filter_dropdown{ display:none;}
	.filter:hover .filter_top a {
    background: url(images/blog-arrow.png) no-repeat 100% 40%;
}
	.filter.blog__show .filter_dropdown{ display:block;}
	.filter.blog__show .filter_top a {
    background: url(images/blog-arrow-down.png) no-repeat 100% 40%;
}	
.service__detsils__hd{    height: 308px;}
.advise__section .quotes__box {
    padding: 108px 66px 108px 66px; height: auto;
}
.logicl__tooltip .tooltip__type {
    left: -92px;
}
.confident__tooltip{       left: -3px;
    top: 117px;}
.outcome__tooltip{    right: 5px;
    top: 128px;}
.outcome__tooltip .tooltip__type {
    left: -123px;
}
.infectious__tooltip{
    top: 347px;}
.great__tooltip{    right: 82px;
    top: 316px;}
.great__tooltip .tooltip__type {
    left: -131px;
    top: -45px;
}
.blog__details__txt p br{ display:none;}
.blog__details__txt h2{ font-size:18px !important;}	
.article-desp {
    min-height: 137px;    height: 137px;
    overflow: hidden;
    margin-bottom: 31px;
}	
.about__section_left_text p br,
.service__detsils__list p br,
.txt__image__section__right ul li br,
.client__subtext p strong br,
.home__slider__item h2 br,
.service__text p br
{ display:none;}
.about__section__box .col-md-7,
.about__section__box .col-md-5
{
	flex: 0 0 100%; padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;}
.about__section__box{    margin-right:0px;
    margin-left: 0px;}	
.about__section .wpr__1{   padding-left: 0px; 
    padding-right: 0; }	
.about__section h2{    padding: 0 66px;}	
.about__section_left{padding: 0 66px;}
.quotes__box {
    padding: 111px 66px 111px 66px;  margin-top: 51px; height: auto;
}
.quotes__box:after {
    left: 66px;
}
    .quotes__box:before{ right: 66px;}
.about__section_left_img img {
    width: 100%;
}
.simple__details__hd{    padding: 58px 0;}
.blog__list .col-md-6{flex: 0 0 100%; max-width: 100%;}
.blog__list .wpr__1{ width:90%;}
.blog__img {
    width: 46%;
    margin-right: 8%;
}
.blog__text {
    width: 46%;
}
.profile__section__in h2{      margin: 50px 18px;
    text-align: left;}
.profile__text{ opacity:1; display: block; height:auto; top:inherit; bottom:0px;}
.profile__text__in p,
.profile__text__in a.readprofile
{ display:none;}
.profile__text__in h3 {
    margin: 0;
    padding: 7px 0;
    font-size: 16px;
}

.profile__text__in h3 a{ position:relative; text-align:center;}
/*.profile__text__in h3 a:after{ position:absolute;  content: "\f105"; font: normal normal normal 16px FontAwesome; color:#e9a426; top:0px; right:0px;}
*/.advise__section .quotes__box:after{    top: 43px;     left:66px;}
.advise__section .col-md-7, .advise__section .col-md-5 {
    flex: 0 0 100%;
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
}
.advise__section h2 {
    padding: 0 66px;
}
.advise__section:after{ display:none;}
.advise__list{ padding:0 66px 66px 66px;}

.txt__image__section__row .col-md-3,
.txt__image__section__row .col-md-9
{ flex: 0 0 100%; max-width: 100%;}
.xt__image__section__img img {
    width: auto;
    height: auto; margin-bottom:30px;
}
.hide__dsktop{ display:block;}
.hide__mobile{ display:none;}
.hide__dsktop__img{ display:block;}


.site__footer .col-lg-8, .site__footer .col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center !important;
}
.site__footer ul {
    margin: 15px 0 0 0;
}
.service__detsils__hd__img{ margin-right:5%;}
.service__detsils__hd__text{width: 47%;}
.single-service.postid-12 .service__detsils__hd__img img {
    width: 93%;
    margin-left: 13%;
}
.single-service.postid-10 .service__detsils__hd__img img {
    width: 80%;
    margin-left: 10%;
}
.page-id-2 .first__section .wpr__1{ width: 85%;
    padding-left: 15px;
    padding-right: 15px;}
.page-id-2 .first__section .col-lg-4{    flex: 0 0 100%;
    max-width: 100%;}
.page-id-2 .first__section .col-lg-8{    flex: 0 0 100%;
    max-width: 100%;}	
.first__section__btm {
    padding-top: 21px;
}	
.profile__section__in .col-md-3, .profile__section__in .col-md-9 {
    flex: 0 0 100%;
    max-width: 100%;
}
.what__we__do__section_btm {
    padding: 30px 0px 0 0px;
}
.located__section .wpr__3 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.located__section p {
    padding: 0;
    color: #fff;
}
.located__img{ width:100%;}
.simple__details__hd  .wpr__2 {
    width: 94%;}
	.client__subtext {
    padding-left: 0;
}
	.simple__details__in{ margin-top:0px;}
	.about__top__text h3{    margin: 0 0 10px 0;}
	.about__top__text p {
    padding: 0 0%;
}
.about__top__text .wpr__3{ width:90%;}
}


@media (min-width: 320px) and (max-width: 767px) {
	.container-fluid{ padding-left:15px; padding-right:15px;}
    body {
        padding:74px 0 0 0;
		font-size:17px;
    }
   .site__header.size__small {
    padding: 10px 0;
}
.size__small .hdr__right {
    margin-top: 0;
}
	.home__slider__item img {
    width: 100% !important;
}
.first__section h1 br{ display:none;}
    .wpr__1,
    .wpr__2,
    .wpr__3 {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
	.about__section_left_img img {
    width: 100%;
}
.scroll__hide{ overflow:hidden;}
.nav__menu ul li ul.sub-menu li a,
.nav__menu ul li a
{ display:inline-block;}
    .about__section,
    .service__section,
    .site__footer,
    .service__detsils__hd,
    .service__detsils__list,
    .info__bar,
    .advise__section,
    .what__we__do__section,
    .g__bg,
    .profile__section,
    .located__section,
    .simple__details__hd,
    .client__journey__section,
    .blog__list,
    .blog__details,
    .back_to_blog {
        margin-left: 0px;
        margin-right: 0px;
    }
    .mobile__menu__icon {
        display: block;
    }
    .nav__menu,
    .social__icons {
        display: none;
    }
    .logo {
        width: 148px;
        float: left;
    }
	.size__small .logo {
    width: 148px;
}
.tooltipbox:hover .tooltip__type {
    display: none;
    cursor: default;
}.client__journey__list{ margin-bottom:0px;}
.div__show{display:block !important;}	
    .hdr__right {
        float: right;
		margin-top:0px;
        width: 100px;
    }
    .site__header {
        padding: 10px 0;
    }
    .home__slider__item {
        padding-left: 0px;
        padding-right: 0px;
    }
    .mobile__menu__icon {
        position: relative;
        margin-top: 8px;
    }
	.service-desp {
    min-height: 116px;
}
.quotes__box p{ font-size:20px;}
    .mobile__menu__icon a {
        display: inline-block;
        height: 25px;
    }
	.hide__mobile { display:none;}
	.hide__dsktop {
    display: block;
}
    .mobile__menu__icon span {
        height: 2px;
        background: #494e56;
        width: 40px;
        display: inline-block;
        position: relative;
    }
    .mobile__menu__icon span:after {
        content: "";
        height: 2px;
        background: #494e56;
        width: 40px;
        position: absolute;
        top: -10px;
        left: 0px;
    }
    .mobile__menu__icon span::before {
        content: "";
        height: 2px;
        background: #494e56;
        width: 40px;
        position: absolute;
        top: 10px;
        left: 0px;
    }
    .site__header .flex {
        display: block;
    }
    .menu__show .mobile__menu__icon span {
        height: 0px;
        background: #494e56;
        width: 40px;
        display: inline-block;
        position: relative;
    }
    .menu__show .mobile__menu__icon span:after {
        transform: rotate(46deg);
        -ms-transform: rotate(46deg);
        -webkit-transform: rotate(46deg);
        top: -1px;
    }
    .menu__show .mobile__menu__icon span::before {
        transform: rotate(133deg);
        top: -1px;
        -ms-transform: rotate(133deg);
        -webkit-transform: rotate(133deg);
    }
    .menu__show .nav__menu {
display: block;
    position: fixed;
    width: 100%;     overflow: auto;
    left: 0px;
    height: 100%;
    padding-top: 11px;
    top: 74px;
    background: rgba(255, 255, 255, 0.9); border-top: 7px #118188 solid;
}    
    .menu-main-menu-container {
    }
    .nav__menu ul li {
        display: block;
        text-align: center;
        padding: 7px 10px;
    }
    .nav__menu ul li a {
        font-size: 18px;
        padding: 0;
    }
    .nav__menu ul li ul.sub-menu {
        display: block;
        padding: 5px 0;
        top: 0px;
        position: inherit;
        width: 100%;
        left: 0px;
    }
    .nav__menu ul li ul.sub-menu:after {
        display: none;
    }
    .nav__menu ul li ul.sub-menu li {
        background: none;
        padding: 0px;
    }
    .nav__menu ul li ul.sub-menu li a {
        font-size: 18px;
        padding: 7px 10px;
    }
    .nav__menu ul li ul.sub-menu li:first-child {
        padding-top: 0px;
    }
    .nav__menu ul li ul.sub-menu li:last-child {
        padding-bottom: 0px;
    }
    .home__slider {
        height: auto;
        background: -moz-linear-gradient(left, rgba(20, 61, 124, 0.95) 0%, rgba(20, 61, 124, 0.93) 76%, rgba(91, 191, 201, 0.9) 114%);
        background: -webkit-linear-gradient(left, rgba(20, 61, 124, 0.95) 0%, rgba(20, 61, 124, 0.93) 76%, rgba(91, 191, 201, 0.9) 114%);
        background: linear-gradient(to right, rgba(20, 61, 124, 0.95) 0%, rgba(20, 61, 124, 0.93) 76%, rgba(91, 191, 201, 0.9) 114%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2143d7c', endColorstr='#e65bbfc9', GradientType=1);
    }
    .home__slider__overly {
        position: relative;
        background: none;
        height: auto;
        top: 0px;
        width: 100%;
        padding: 25px 20px 64px 20px;
        text-align: right;
    }
    .home__slider__item h2 br {
        display: none;
    }
    .home__slider__item h2 {
        font-size: 26px;
    }
    .home__slider .slick-dots {
        position: absolute;
        right: 25px;
        bottom: 0;
    }
    .first__section {
        padding: 50px 0px;
    }
    .first__section h1,
    .service__section h1,
    .service__section h2,
    .about__section h2,
    .service__detsils__hd__text h1,
    .service__detsils__list h2,
    .advise__section h2,
    .what__we__do__section h2,
    .txt__image__section h1,
    .txt__image__section h2,
    .logic__way__section h2,
    .profile__section__in h2,
    .located__section h2,
    .simple__details__in h2,
    .client__journey__section h2 {
        font-size: 23px;
    }
	.service__detsils__list h2{    margin: 0 0 6px 0;}
    .service__section {
         padding: 50px 0px 66px;
        background: rgb(20, 133, 201);
        background: -moz-linear-gradient(top, rgba(20, 133, 201, 1) 0%, rgba(20, 61, 124, 1) 50%);
        background: -webkit-linear-gradient(top, rgba(20, 133, 201, 1) 0%, rgba(20, 61, 124, 1) 50%);
        background: linear-gradient(to top, rgba(20, 133, 201, 1) 0%, rgba(20, 61, 124, 1) 50%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1485c9', endColorstr='#143d7c', GradientType=1);
    }
    .service__row {
        width: 100%;
        margin: 20px auto auto auto;
    }
    .service__icon {
        width: 80px;
        margin-right: 15px;
    }
    .about__section {
        padding: 50px 0 0;
    }
    .about__section__box {
        padding-top: 25px;
    }
    .about__section_left_text {
        padding: 25px 0;
    }
    .about__section_left_text p br {
        display: none;
    }
    .about__section__box .col-sm-5 {
        padding: 0px;
    }
    .quotes__box {
        height: auto;
        padding:117px 30px 117px 30px;
    }
    .quotes__box:after {
        left: 31px;
    }
    .quotes__box:before{ right: 31px;}
    .advise__section .quotes__box:before{ right: 31px;}
    .about__section:after {
        display: none;
    }
    .site__footer ul {
        margin-top: 20px;
    }
    .company__logos {
        padding: 35px 0;
    }
    .company__logos ul li img {
        height: 64px;
    }
    .service__detsils__hd__text {
        margin-left: 20px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .service__detsils__list {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .service__detsils__list__box p br {
        display: none;
    }
    .info__bar h3 {
        font-size: 20px;
    }
    .info__bar ul li a {
        font-size: 17px;
    }
    .info__bar ul li {
        margin: 20px 0 0 0;
    }
    .info__bar ul {
        margin: 0px;
    }
    .advise__section {
        padding-top: 35px;
        padding-bottom: 0px;
    }
    .advise__list ul li i {
        width: 60px;
        min-height: 75px;
    }
    .advise__list ul li {
        width: 32%;
        margin: 19px 0px 22px 0;
    }
    .advise__list ul {
        padding-bottom: 20px;
    }
    .info__bar ul li a i {
        width: 25px;
    }
    .advise__section_row .col-sm-5 {
        padding-right: 0px;
        padding-left: 0px;
    }
    .advise__section:after {
        display: none;
    }
    .what__we__do__section {
        padding-top: 35px;
        padding-bottom: 45px;
    }
    .what__we__do__section_btm {
        padding: 30px 0% 0 0%;
    }
    .page_hd {
        padding: 0;
		height: auto;
    margin-bottom: 0;
    }
    .page__image {
        width: 100%;
        height: auto;
        overflow: hidden;
		position:inherit;
		left:0px;
    }
    .page_hd_txt {
        padding:35px 21px;
        position: relative;
        width: 100%;
		bottom:0px;
		text-align:left;
    }
    .page_hd_txt h1,.page_hd_txt h2 {
        font-size: 26px;
    }
    .w__bg,
    .g__bg {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .xt__image__section__img {
        margin-bottom: 30px;
    }
    .logic__way__img {
        width: 300px;
        margin: auto;
    }
    .logic__way__text h4 {
        font-size: 22px;
    }
    .logicl__tooltip {
        width: 28%;
        left: 111px;
        top: 10px;
    }
    .confident__tooltip {
        left: 43px;
        top: 19px;
    }
    .infectious__tooltip {
        left: 46px;
        top: 132px;
    }
    .outcome__tooltip {
        right: 42px;
        top: 25px;
    }
    .great__tooltip {
        right: 40px;
        top: 155px;
    }
    .tooltip__type {
        padding: 15px;
        width: 250px;
    }
    .tooltip__type h2 {
        font-size: 24px;
    }
    .logicl__tooltip .tooltip__type {
        left: -86px;
    }
    .confident__tooltip .tooltip__type {
        left: 0;
    }
    .outcome__tooltip .tooltip__type {
        left: -179px;
        top: -51px;
    }
    .great__tooltip .tooltip__type {
        left: -164px;
    }
    .about__top__text p {
        padding: 0;
    }
    .about__top__text {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .profile__section__in h2 {
        margin: 35px 15px;
        text-align: left;
    }
    .profile__list ul li {
        width: 50%;
    }
    .located__section {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .located__section p {
        padding: 0px;
    }
    .located__img {
        width: 100%;
    }
    .about__top__text h3 {
        margin: 0 0 10px 0%;
    }
    .client__journey__section {
        padding-top: 35px;
        padding-bottom: 0px;
    }
    .client__subtext {
        padding-left: 15px;
        padding-right: 15px;
    }
    .client__journey__box__right {
       width: 71%;
    margin-top: 0;
    padding-top: 0;
    }
    .client__journey__section .wpr__2 {
        padding-left: 0;
        padding-right: 0px;
    }
    .client__journey__section h2 {
        padding-left: 15px;
        padding-right: 15px;
    }
	.client__subtext p strong br{ display:none;}
    .client__journey__list ul li {
        padding: 28px 20px 20px 20px;
        min-height: 100px;
    }
    .simple__details__hd {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .blog__box {
        flex-wrap: wrap;
        margin-bottom: 24px
    }
    .blog__img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .blog__text {
        width: 100%;
    }
    .article-desp {
        min-height: 57px;
    }
    .blog__list,
    .blog__details {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .padding__50 {
        padding: 17px;
    }
    .entry-hd h1,
    .simple__details__hd h1 {
        font-size: 26px;
    }
    .details-content {
        padding-top: 21px;
    }
    .contact__info ul li a strong {
        font-size: 18px;
        word-break: break-all;
        line-height: 25px;
    }
    .simple__details__in {
        margin-top: -14px;
        padding: 21px;
    }
    .profile__details__page p br {
        display: none;
    }
    .logic__way__section p {
        padding: 0;
    }
    .back__btn a,
    .back_to_blog a {
        font-size: 26px;
    }
    .logic__way__section {
        padding: 35px 0;
    }
	.service__text p br{ display:none;}
	
	.filter:hover .filter_dropdown{ display:none;}
	.filter:hover .filter_top a {
    background: url(images/blog-arrow.png) no-repeat 100% 40%;
}
	.filter.blog__show .filter_dropdown{ display:block;}
	.filter.blog__show .filter_top a {
    background: url(images/blog-arrow-down.png) no-repeat 100% 40%;
}
.txt__image__section__row {
    padding-top: 26px;
}
.txt__image__section h3 p strong b{ display:none;}
.service__text {
    width: 87%;
}
.txt__image__section__right strong br,
.txt__image__section__right p br,
.txt__image__section__right ul li br

{ display:none;}
.profile__text{ opacity:1; display: block; height:auto; top:inherit; bottom:0px;}
.profile__text__in p,
.profile__text__in a.readprofile
{ display:none;}
.profile__text__in h3 {
    margin: 0;
    padding: 7px 0;
    font-size: 13px;
}

/*.profile__text__in h3 a{ position:relative; padding-right: 14px;}
.profile__text__in h3 a:after{ position:absolute;  content: "\f105"; font: normal normal normal 16px FontAwesome; color:#e9a426; top:0px; right:0px;}*/
.hide__dsktop__img{ display:block;}
.blog__details__txt h2{ font-size:17px;}




}

@media (min-width: 320px) and (max-width: 479px) {
    .service__detsils__hd__row {
        flex-wrap: wrap;
    }
    .service__detsils__hd__text {
        width: 100%;
        margin-left: 0px;
    }
    .service__detsils__hd {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .service__detsils__hd__text {
        padding-top: 35px;
        padding-bottom: 0px;
    }
	.home__slider__img{    height: 178px;}
	.service__detsils__hd{ height:auto;}
	.advise__section .quotes__box:after {
    top: 44px;
}
.advise__section .quotes__box {
    padding: 110px 33px 110px 33px;     height: auto;
}
.advise__section .quotes__box:before{bottom: 47px;}
.service__detsils__hd__img {
    width: 32%;
}
.w__in.padding__50 {
    padding: 26px;
}
.article-desp {
    min-height: 172px;
}

.txt__image__section p br{ display:none;}
.xt__image__section__img img {
    width: auto;
    height: auto;
}
.first__section__btm {
    padding-top: 19px;
}
.about__section_left_img img {
    width: 100%;
}
.quotes__box p{    line-height: 26px;}
.company__logos ul li img {
    height: 85px;
}
.client__journey__box__right p{ display:none;}
.txt__in__mobile{ display:block; color:#fff; margin-top: 15px;}
.client__journey__box__right h2{    margin: 13px 0 0 0;}
.simple__details__in {
    margin-top: 7px;
    padding: 21px 0; box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.0);
}
.map__image {
    width: 100%;
    overflow: hidden;
}
.map__image img {
    width: 155%; transform: translateX(-28%);
}
.blog__details__txt h2 {
    font-size: 17px !important;
}
.home__slider__overly{padding:30px 20px 30px 20px; 	display:flex;
		    align-items: center;  min-height: 192px;}
.home__slider .slick-dots {
    bottom: inherit;
    top: 40%;
}
.txt__image__section__row {
    padding-top: 0;
}
.txt__image__section h1,
.txt__image__section h2 {
    margin: 0 0 21px 0;}
	.blog__box {
    flex-wrap: wrap;
    margin-bottom: 44px;
}
.article-desp {
    min-height: 113px;
}
.advise__section,
.what__we__do__section,
.w__bg, .g__bg
{ padding-top:50px;}
.logic__way__section {
    padding: 50px 0;
}
.what__we__do__section{ padding-bottom:50px;}
.about__top__text {
    padding-top: 50px;
    padding-bottom: 40px;
}
.client__journey__section{ padding-top:50px;}
.client__subtext{    padding-top: 20px;}
.located__section {
    padding-top: 50px;
    padding-bottom: 20px;
}
.client__journey__list ul li {
    padding: 40px 20px 25px 20px;
    min-height: 100px;
}
.located__section h2{ margin-bottom:20px;}
.located__img{ margin-top:25px;}
.profile__section__in h2 {
    margin: 50px 15px;
    text-align: left;
}
.profile__text__in h3 {
    font-size: 15px;
}
.profile__text__in h3 a:after{ font-size:18px;}
.what__we__do__section_btm {
    padding: 20px 0% 0 0%;
}
.company__logos {
    padding: 50px 0;
}
.site__footer{ text-align:center;}
.first__section {
    padding: 50px 0px 40px;
}
.service__detsils__list {
    padding-top: 35px;
    padding-bottom: 51px;
}

}
@media (min-width: 375px) and (max-width: 414px) {
	.logic__way__img {
    width: 344px;
}
.outcome__tooltip {
    right: 16px;
    top: 72px;
}
.confident__tooltip {
    left: 9px;
    top: 75px;
}
.infectious__tooltip {
    left: 14px;
    top: 196px;
}
.great__tooltip {
    right: 35px;
    top: 196px;
}
.logicl__tooltip .tooltip__type {
    left: -65px;
}
.infectious__tooltip .tooltip__type {
    left: 0px;
    top: 0px;
}
.great__tooltip .tooltip__type {
    left:-188px;
}
.home__slider .slick-dots {
    bottom: inherit;
    top: 40%;
}

}
@media (min-width: 380px) and (max-width: 414px) {
.home__slider .slick-dots {
    bottom: inherit;
    top: 43%;
}	
	}
@media (min-width: 480px) and (max-width: 767px) {
    .service__detsils__list .col-sm-6 {
        width: 50%;
    }
    .txt__image__section__row .col-sm-3 {
        width: 27%;
    }
    .txt__image__section__row .col-sm-9 {
        width: 73%;
    }
    .profile__details__page .col-sm-8 {
        width: 73%;
    }
    .profile__details__page .col-sm-4 {
        width: 27%;
    }
    .profile__details__page p br {
        display: none;
    }
    .client__journey__box__right {
        width: 84%;
        margin-top: 0;
    }
    .blog__img {
        width: 22%;
        margin-right: 26px;
        margin-bottom: 0;
    }
    .blog__text {
        width: 73%;
    }
	.home__slider__img{    height: 178px;}
	.service__detsils__hd{    height: auto;}
	.service-desp {
    min-height: 82px;
}
.first__section__btm {
    padding-top: 27px;
}

.service__detsils__hd__text{width: 60%;}
.service__section h1, .service__section h2
{ font-size:26px;}
.company__logos ul li img {
    height: 97px;
}
.service__detsils__hd__text p{ margin:0px;}
.service__detsils__hd__text{ padding-top:30px; padding-bottom:30px;}
.home__slider__img {
    height: 256px;
}
.home__slider__overly{padding:30px 20px 30px 20px;}
.home__slider .slick-dots {
    bottom: inherit;
    top: 58%;
}
.menu__show .nav__menu{ height: 81%;
    padding-bottom: 21px;}
.profile__text__in h3 {
    margin: 0;
    padding: 7px 0;
    font-size: 15px;
}

.w__in.padding__50 {
    padding: 50px 50px;
}
.site__footer .col-lg-8,
.site__footer .col-lg-4
{    flex: 0 0 100%;
    max-width: 100%; text-align:center !important;}
.site__footer ul {
    margin: 15px 0 0 0;
}
.first__section__btm .col-md-4,
.first__section__btm .col-md-8
{ flex: 0 0 100%;
    max-width: 100%;}
	
.home__slider__overly{padding:30px 20px 30px 20px; 	display:flex;
		    align-items: center;  min-height: 192px;}
				

}
@media (min-width:481px) and (max-width: 570px) {
	.quotes__box {
    height: auto;
     padding: 110px 15px 110px 15px;
}
.quotes__box:after {
    left: 15px;
}
    .quotes__box:before{ right: 15px;}
	.advise__section .quotes__box {
    padding: 110px 15px 110px 15px; height: auto;
}
.advise__section .quotes__box:after {
    top: 46px; left:15px;}
    .advise__section .quotes__box:before{ right: 15px; bottom: 46px;}

.txt__image__section__row .col-sm-3,
.txt__image__section__row .col-sm-9{flex: 0 0 100%;
    max-width: 100%;}
	.txt__image__section__row {
    padding-top: 15px;
}
.xt__image__section__img img {
    width: auto;
    height: auto;  
}
.blog__box {
    flex-wrap: wrap;
    margin-bottom: 43px;
}
.client__subtext {
    padding-top: 18px;
}
.quotes__box p {
    font-size: 22px; line-height: 28px;
}
.what__we__do__section_btm {
    padding: 16px 0% 0 0%;
}
.located__section h2{    margin: 0 0 19px;}
	
}
@media (min-width:600px) and (max-width: 767px) {
.about__section .wpr__1{ padding:0px;}
.about__section h2{ padding:0 40px;}	
.about__section .col-sm-7,
.about__section .col-sm-5
{flex: 0 0 100%;
    max-width: 100%;}
.about__section_left{ padding-left:40px; padding-right:40px;}	
.quotes__box p {
       line-height: 27px;
}
.quotes__box {
    height: auto;
    padding: 117px 60px 117px 60px;
}
.quotes__box:after {
    left: 60px;
}
    .quotes__box:before{ right: 60px;}
.wpr__1, .wpr__2, .wpr__3 {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}
.page_hd_txt {
    padding: 35px 42px;}
	
.logic__way__img {
    width: 580px; margin-top: 40px;
}
	
.logic__way__text h4 {
       font-size: 44px;
}
.logicl__tooltip {
    width: 28%;
    left: 208px;
    top: 10px;
}
.tooltip__type h2 {
    font-size: 32px;
}
.tooltip__type {
    padding: 20px;
    width: 300px;
}
.logicl__tooltip .tooltip__type {
    left: -65px;
}
.confident__tooltip {
    left: 6px;
    top: 116px;
}
.outcome__tooltip {
    right: 13px;
    top: 117px;
}
.infectious__tooltip {
    left: 9px;
    top: 328px;
}
.great__tooltip {
    right: 45px;
    top: 328px;
}
.outcome__tooltip .tooltip__type {
    left: -178px;
    top: -5px;
}
.info__bar h3 {
    font-size: 22px;
}
.info__bar ul li a {
    font-size: 19px;
}
.info__bar ul li {
    margin: 20px 17px 0 17px;
}
.info__bar ul li a i {
    width: 31px;
}
.located__section {
    padding-top: 47px;
}	
.txt__image__section__row .col-md-3,
.txt__image__section__row .col-md-9
{ flex: 0 0 100%; max-width: 100%;}
.xt__image__section__img img {
    width: auto;
    height: auto; margin-bottom:30px;
}
.hide__dsktop{ display:block;}
.hide__mobile{ display:none;}
.xt__image__section__img {
    margin-bottom: 0px;
}
.advise__section .col-md-7, .advise__section .col-md-5 {
    flex: 0 0 100%;
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
}
.advise__section .wpr__1{ padding:0px;}
.advise__section h2 {
    padding: 0 40px;
}
.advise__list {
    padding: 28px 40px 3px 40px;
}
.blog__list .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;} 
.blog__img {
    width: 41%;
    margin-right: 5%;
    margin-bottom: 0;
}
.blog__text {
    width: 53%;
}
.article-desp {
    min-height: 171px;
}
.quotes__box p {
    font-size: 22px;       line-height: 29px;
}	
.service__detsils__list {
    padding-top: 35px;
    padding-bottom: 53px;
}
.client__journey__section h2,
.client__subtext
 {
    padding-left: 40px;
    padding-right: 40px;
}
.client__journey__list ul li {
    padding: 42px 40px 25px 40px;
    min-height: 100px;
}
.advise__list ul li a {
    font-size: 17px;
}
.advise__list ul li i {
    width: 65px;
    min-height: 81px;
}
.advise__section .quotes__box:after {
    background: url(images/t_quotes_icon.png);
    top: 43px; left:50px;
}
    .advise__section .quotes__box:before{ right: 50px; bottom: 43px;}
.advise__section .quotes__box {
    padding: 107px 50px 107px 50px; height: auto;
}
.what__we__do__section_btm {
    padding: 17px 0% 0 0%;
}
.first__section__btm {
    padding-top: 20px;
}
.service__detsils__list {
    padding-top: 44px;
    padding-bottom: 53px;
}
.simple__details__in {
    margin-top: 0; box-shadow: 3px 2px 4px rgba(0, 0, 0, 0); padding-top:32px;
}
.blog__box {
    margin-bottom: 46px;
}
.w__in.padding__50 {
    padding:45px;
}
.blog__details__txt h2 {
    margin-bottom: 12px;
    margin-top: 12px;
}
.client__subtext{ padding-top:20px;}
.client__journey__list {
    margin: 34px 0 0px 0;
    padding: 0px;
}
.located__section h2 {
    margin: 0 0 20px;}
	.what__we__do__section {
    padding-top: 39px;
    padding-bottom: 45px;
}
.profile__text__in h3 a:after{font-size: 21px;}
.profile__section__in .col-sm-3, .profile__section__in .col-sm-9 {
    flex: 0 0 100%;
    max-width: 100%;
}
.profile__text__in h3 {
    font-size: 18px;
}
.profile__text__in h3 a {
    padding-right: 18px;
}
.located__img {
   margin: 20px auto auto auto;
}
.home__slider__overly{padding:30px 20px 30px 20px; 	display:flex;
		    align-items: center;  min-height: 134px;}
.menu__show .nav__menu{ height: 81%;
    padding-bottom: 21px;}
	}
	
@media (min-width: 1500px) and (max-width: 2600px) {
.home__slider{height:600px;}
.home__slider__overly{ top: 128px;}
.home__slider .slick-dots {bottom: 145px;}
}
	
@media (min-width: 2000px) and (max-width: 2600px) {
.home__slider__item img{  width:100% !important;}
}

@media (min-width: 320px) and (max-width: 440px) {

    .logicl__tooltip {
        left: 123px;
    }
}
