{% block html_head_container %}
	{% include 'partial/html-header.twig' %}
{% endblock %}

<body class="{{body_class}}" data-template="base.twig" id="body">
	<div id="mainContainer">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<div class="let-talk-pop" id="letTalkPop">
		<button class="pop-close-btn" id="letTalkPopClose"></button> 
			<div class="let-talk-pop-in">
				{% include "partial/content-get-in-touch.twig"%}
			</div>
		</div>
		<section class="main-header" id="top-header-nav">
			<header>
				<div class="container-lg custom-row">
					<div class="logo">
						<a class="logo-white" href="{{site.link}}"><img src="{{ site.theme.link }}/assets/img/fourmost logo white.svg" alt="logo"/></a>
						<a class="logo-drak" href="{{site.link}}"><img src="{{ site.theme.link }}/assets/img/fourmost logo.svg" alt="logo"/></a>
					</div>

					<div class="top-hdr-right">
						<div class="let-talk-hdr">
							<button class="primary-btn let-talk-btn" id="letTalkBtn">Let’s talk
								<i class="arrow"></i>
							</button>

						</div>
						<div class="main-nav" id="main_nav">
							<button class="nav__toggle" id="navToggle">
								<span></span>
							</button>
							<nav id="nav-main" class="nav-main">
								{% include "menu.twig" with {'items': menu.get_items} %}
							</nav>
						</div>
					</div>
				</div>
			</header>
		</section>

		<section class="main-container">
			<div id="content" role="main" class="content-wrapper">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
		</section>

		{% block footer %}
			<section class="main-footer">
				{% include 'partial/footer.twig' %}
			</section>
			{{ function('wp_footer') }}
		{% endblock %}
	</div>
</body></html>
