{% extends "base.twig" %} {% block content %} {% include "partial/content-page-hero.twig" with {post:blog_post}%}
<section class="project-list-section">
	<div class="container">
		<h1 class="text-center">projects{{blog_post.get_field('news_title')}}</h1>
		<div class="project-list-section-content">
			<div class="custom-row"> {% for post in posts %} 
				<div class="project-box">
					<div class="project-box-image"> 
					 {% if post.get_field('post_thumbnail_image') %} 
					 <picture>
							<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.get_field('post_thumbnail_image')).src('project-thumb-mobile') }}" />
							<source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(post.get_field('post_thumbnail_image')).src('project-thumb-ipad') }}" />
							<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(post.get_field('post_thumbnail_image')).src('project-thumb-ipad') }}" />
							<img typeof="foaf:Image" src="{{ TimberImage(post.get_field('post_thumbnail_image')).src('project-thumb') }}" alt="{{post.get_field('post_thumbnail_image').alt}}" title="{{post.title}}">
					 </picture>
					 
					 {% elseif post.thumbnail %}
					  <picture>
							<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.thumbnail).src('project-thumb-mobile') }}"  />
							<source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(post.thumbnail).src('project-thumb-ipad') }}"  />
							<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(post.thumbnail).src('project-thumb-ipad') }}"  />
							<img typeof="foaf:Image" src="{{ TimberImage(post.thumbnail).src('project-thumb') }}" alt="{{post.thumbnaill.alt}}" title="{{post.title}}">
					  </picture> 
					 
					 {% endif %} 
					 </div>
					<div class="project-box-content">
						<div class="project-box-content-box">
							<div class="project-box-content-in"> 
								<h3>
									<a href="{{post.link}}">{{post.title}}</a>
								</h3> {#
								<div class="latest-project-date">{{post.post_date|date('jS F Y')}}</div> #}
								<div class="desc--box">{{post.preview.length(10).read_more(false)}}</div>
								<div class="learn-more"> <a class="white-outline-btn" href="{{post.link}}">see project</a> </div>
							</div>
						</div>
					</div>
				</div> {% endfor %} </div> {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 5, end_size: 0}) } %} </div>
	</div>
</section> 
{% include "partial/content-flexible-content.twig" with {post:blog_post}%} 
{% include "partial/content-get-in-touch.twig" %} 
{% endblock %}