{% extends "base.twig" %}

{% block content %}

	<div class="home-page-container">

		{% include "partial/content-home-hero.twig"%}
        {% include "partial/content-page-home-introduction.twig"%}
        {% include "partial/content-flexible-content.twig"%}
	</div>
{% endblock %}