{% extends "base.twig" %}

{% block content %}
	<div class="default-page-template">
		{% include "partial/content-page-hero.twig"%}

		{% if post.post_type =='service'%}
			{% include "partial/content-page-hero-bottom.twig"%}
		{% else %}
			{% include "partial/content-post-content.twig"%}
		{% endif %}

		{% include "partial/content-flexible-content.twig"%}
	</div>

{% endblock %}
