{% extends "base.twig" %}

{% block content %}

    <section class="page-hero-image-section">
	   <div class="page-hero-image">
	   {% if post.get_field('post_featured_image') %}
	     <picture>
					<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.get_field('post_featured_image')).src('project-image-mobile') }}" />
					<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(post.get_field('post_featured_image')).src('project-image-ipad') }}" />
					<img typeof="foaf:Image" src="{{ TimberImage(post.get_field('post_featured_image')).src('project-image') }}" alt="{{post.get_field('post_thumbnail_image').alt}}" title="{{post.title}}">
		 </picture>
			
		{% elseif post.thumbnail %}
		<picture>
					<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.thumbnail).src('project-image-mobile') }}" />
					<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(post.thumbnail).src('project-image-ipad') }}" />
					<img typeof="foaf:Image" src="{{ TimberImage(post.thumbnail).src('project-image') }}" alt="{{post.thumbnaill.alt}}" title="{{post.title}}">
		 </picture>
			
		{% endif %}
	   
	   </div>
	   <div class="page-hero-content-outer">
	      <div class="container">
		     <div class="page-hero-content-in">
			   <div class="page-hero-content">
			      <h1>{{post.title}}</h1>
			   </div>
			 </div>
		  </div>
	   </div>
	</section>


	 {% include "partial/content-post-content.twig"%}
	
     {% include "partial/content-flexible-content.twig"%}

	{% include "partial/content-back-to-button.twig" with { url_title:'<strong>Back to</strong> projects', url_link:'projects'}%}




{% endblock %}