{% extends "base.twig" %}

{% block content %}
	<div class="page-default-details">
		<div class="page-title">
		   <div class="container-sm">
		     <h1>{{post.title}}</h1>
			</div>
		</div>
		{% include "partial/content-post-content.twig"%}

		{% include "partial/content-flexible-content.twig"%}


	</div>

{% endblock %}