/**
 * ----------------------
 * Blooberry Design
 * Organisms - Articles
 * ----------------------
 */

.o-article {
  img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: $bump;
  }
}
