/**
 * ----------------------
 * Blooberry Design
 * Organisms - Footer
 * ----------------------
 */

.o-footer {
  color: $c-white;
  border-top: 10px solid $c-white;

  &__top {
    background-color: $c-lt-blue;
    padding: $bump/2 0;
    background-color: var(--footer-top);
  }
  &__bottom {
    background-color: $c-blue;
    background-color: var(--footer-bottom);

    a {
      &[aria-current='page'] {
        border-color: transparent;
      }

      &::after {
        visibility: hidden;
      }
    }
  }

  a {
    color: $c-white;
  }
}
