{% for content_row in post.meta('content_row_layout') %}
	{% set template_path =  "partial/content/block-"~content_row.acf_fc_layout|replace({"_": "-"})|raw ~".twig" %}
	{% include [template_path, "partial/content-block-404.twig"] %}
{% endfor %}
