<div class="filter-section">
	<h2>FILTER PROJECTS</h2>

	<div class="filter-ul">
                        
		<ul>
			<li>
				<a class="{% if not current_category_id %}active{% endif %}" href="{{site.link}}/projects/">see all</a>
			</li>
			{% for cat in categories %}
				<li>
                    
					<a class="{% if cat.ID == current_category_id %}active{% endif %}" href="{{ site.link }}/projects/?cat={{ cat.ID }}">{{ cat.name }}</a>
				</li>
			{% endfor %}

		</ul>
	</div>
</div>
