{% if post.hero_image or post.hero_video %}
<section class="page-hero-section" >
                <div class="page-hero">
                    <div class="page-hero-item">
                        <div class="page-hero-item-img">
                            <picture>
                                <source media="(min-width: 768px) and (max-width: 991px)" srcset="{{get_image(post.hero_image).src('large')}}">
                                <source media="(min-width: 568px) and (max-width: 767px)" srcset="{{get_image(post.hero_image).src('large')}}">
                                <source media="(min-width: 320px) and (max-width: 567px)" srcset="{{get_image(post.hero_image).src('page_hero_img_mobile')}}">
                                <img src="{{get_image(post.hero_image).src('page_hero_img')}}" alt="tbi">
                            </picture>
                            
                        </div>
                        <div class="page-hero-item-content">
                            <div class="container">
                                <div class="page-hero-item-txt">
                                    <h1 class="hero-title">
						{% if post.hero_title_top %}
							<span class="hero-title-top">{{post.hero_title_top}}</span>
						{% endif %}

						{% if post.hero_title %}
							<strong class="hero-title-orange">{{post.hero_title}}</strong>
						{% endif %}
						{{post.hero_title_copy}}
					</h1>
					{% if post.hero_content %}
						<p class="hero-content-desc">
							{{post.hero_content}}
						</p>
					{% endif %}
                                 </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="page-hero-shap">
                    <div class="page-hero-shap-in"></div>
                </div>
            </section>
{% endif %}
