{% if post.home_hero_list %}

	<section class="hero-slider-section">
		<div class="heroslider">

			{% for slide in post.home_hero_list %}
			{% set slide_image = get_image(slide.hero_image)%}
				<div class="hero-slider-item">
					<div class="hero-slider-item-img">
					            <picture>
								    <source media="(min-width: 992px) and (max-width: 1199px)" srcset="{{slide_image.src('home_hero_img_ipad_landscape')}}">
                                    <source media="(min-width: 768px) and (max-width: 991px)" srcset="{{slide_image.src('home_hero_img_ipad')}}">
                                    <source media="(min-width: 568px) and (max-width: 767px)" srcset="{{slide_image.src('home_hero_img_mobile_landscape')}}">
                                    <source media="(min-width: 320px) and (max-width: 567px)" srcset="{{slide_image.src('home_hero_img_mobile')}}">
                                    <img src="{{slide_image.src('home_hero_img')}}" alt="{{site.name}}"/>
                                </picture>
						
					</div>
					<div class="hero-slider-item-content">
						<div class="container">
							<div class="hero-slider-item-txt">
								<h1>
									{{slide.hero_content}}
								</h1>
								<div class="btn-set--left">
									<a href="{{slide.hero_cta}}" class="primary-btn">Let’s chat</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			
		</div>
		<div class="hero-shap">
			<div class="hero-shap-in"></div>
		</div>
	</section>
{% endif %}
