<footer class="container-fluid">
	<div class="custom-row">
		<div class="footer-left">
			<div class="footer-logo">
				<img src="{{theme.link}}/assets/img/Baldwin Logo.svg" alt=""/>
			</div>
		</div>
		<div class="footer-right">
			<ul class="footer-links">
				<li>
					<a href="{{site.link}}/privacy-policy">Privacy Policy</a>
				</li>
				<li>Website created by
					<a href="https://blooberrycreative.co.uk/">Blooberry Creative</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
