html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $primaryfontfaimly;
    font-weight: 400;
    @include background($white);
    @include padding(0px, 0, 0, 0);
    margin: 0px;
    color: $drak-color;
    @extend %font-size-base; 
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: $green-color;
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

input {
    -webkit-appearance: none;
    opacity: 1
}

button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}

@media screen and (max-width: 992px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

.container-fluid {
    max-width: 100%;
    width: calc(100% - 4rem);
    padding: 0;
    margin: auto;

    @include breakpoint(ipad_portrait) {
        width: calc(100% - 4rem);
        padding: 0;
    }

    @include breakpoint(mobile_landscape) {
        width: calc(100% - 4rem);
        padding: 0;
    }

    @include breakpoint(mobile_portrait) {
        width: calc(100% - 4rem);
        padding: 0;
    }
}


.container-out{
    max-width: 1600px;
    width: calc(100% - 8rem);
    margin: 0 auto;

    @include breakpoint(ipad_landscape) {
        width: calc(100% - 6rem);
    }

    @include breakpoint(ipad_portrait) {
        width: calc(100% - 8rem);
    }

    @include breakpoint(mobile_landscape) {
        width: calc(100% - 8rem);
    }

    @include breakpoint(mobile_portrait) {
        width: calc(100% - 4rem);
    }
}

.container {
    max-width: 1450px;
    width: calc(100% - 14rem);
    margin: 0 auto;

    @include breakpoint(ipad_landscape) {
        width: calc(100% - 6rem);
    }

    @include breakpoint(ipad_portrait) {
        width: calc(100% - 8rem);
    }

    @include breakpoint(mobile_landscape) {
        width: calc(100% - 8rem);
    }

    @include breakpoint(mobile_portrait) {
        width: calc(100% - 4rem);
    }
}

.container-sm {
    max-width: 1200px;
    width: calc(100% - 22rem);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(ipad_landscape) {
        width: calc(100% - 12rem);
    }

    @include breakpoint(ipad_portrait) {
        width: calc(100% - 8rem);
    }

    @include breakpoint(mobile_landscape) {
        width: calc(100% - 8rem);
    }

    @include breakpoint(mobile_portrait) {
        width: calc(100% - 4rem);
    }
}

.white-bg {
    background: $white;

    h2 {
        color: $green-color;
    }
}

.primary-bg {
    background: $primary-color;
    color: $white;
}

.secondary-bg {
    background: $secondary-color;
    color: $white;

    h2 {
        color: $white;
    }
}

.drak-bg {
    background: $drak-color;
    color: $white;

    h2 {
        color: $white;
    }
}

.light-bg {
    background: $light-color;
    color: $drak-color;

    h2 {
        color: $drak-color;
    }
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
}


.desc {
    p {
        &:first-child {
            margin: 0px;
        }
        a{
            font-weight: 500;
        }
    }

    ul {
        margin: 1rem 0;
        padding: 0px;
        list-style: none;

        li {
            position: relative;
            margin: 0 0 0.5rem 0;
            padding: 0 0 0 1.5rem;

            &::before {
                width: 8px;
                height: 8px;
                position: absolute;
                left: 0px;
                top: 39%;
                background: $primary-color;
                content: "";
            }
        }
    }
}

.no-margin-15 {
    margin-bottom: -15px !important;
}

.hide-desktop{
    display: none;
   
    @include breakpoint(mobile){
        display: block;
    }
}
.hide-mobile{
    display: block;
   
    @include breakpoint(mobile){
        display: none;
    }
}