{% set classes = [
'row',
dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}

<div class="dk-grey bottom">
	<div{{attributes.addClass(classes)}}>
		<div class="large-8 large-centered columns">

			<div id="product-categories" class="product-box product-list">

				{% if rows -%}
					{{ rows }}
				{% elseif empty -%}
					{{ empty }}
				{% endif %}
				{{ pager }}

				{{ attachment_after }}
				{{ more }}

			</div>

		</div>
	</div>
</div>
