{%
  set classes = [
    'row',
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="large-8 large-centered columns">
  
    {% if rows -%}
    <div id="news" class="view-content">
      {{ rows }}
    </div>
      {% elseif empty -%}
      <div class="view-empty">
        {{ empty }}
      </div>
      {% endif %}
  
  </div>
</div>

<a href="#see-all" id="show-all" title="Show all news" class="bar-btn">show all news ></a>
{{ attach_library('jstar/news') }}
