{#
/**
* @file
* Theme override to display a view of unformatted rows.
*
* Available variables:
* - title: The title of this group of rows. May be empty.
* - rows: A list of the view's row items.
* - attributes: The row's HTML attributes.
* - content: The row's content.
* - view: The view object.
* - default_row_class: A flag indicating whether default classes should be
* used on rows.
*
* @see template_preprocess_views_view_unformatted()
*/
#}


{%
set classes = [
'row',
dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}
<div{{attributes.addClass(classes)}}>
	{{ title_prefix }}
	{{ title }}
	{{ title_suffix }}


	<div class="large-6 large-centered columns">
		{{ header }}

		{% if rows -%}
			{{ rows }}
		{% elseif empty -%}
			{{ empty }}
		{% endif %}
		{{ pager }}
	</div>

</div>
