{% for row in rows %}
	<div class="support-list-box">
		<div class="support-list-icon">
			<a href="{{ row.columns.view_node.content }}" title="QuanTec Boilers" class="thumb-img">
				{{ row.columns.field_red_icon.content}}
				{# {{ row.columns.field_icon.content}} #}
			</a>
		</div>
		<div class="support-list-content">
			<h2>{{ row.columns.title.content}}</h2>
			{% if row.columns.body %}
				<div class="desc">
					{{ row.columns.body.content }}
				</div>
			{%  endif %}
			<div class="sm-btn-set btn-set-right">
				<a href="{{ row.columns.view_node.content }}" class="button">find out more</a>
			</div>
		</div>
	</div>
{% endfor %}
