// This list is main colors

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$black:    #000 !default;
$white:    #fff !default;

$primary-color: #004e6c ;
$secondary-color: #009c9f ; 
$gray-color: #33424d;
$light-gray: #e4e8ef;
$light-cyan: #c5e2d7;

$gray-bg: #dadbde;




/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#009c9f+0,3dae80+44,489148+100 */
// background: #009c9f; /* Old browsers */
// background: -moz-linear-gradient(left,  #009c9f 0%, #3dae80 44%, #489148 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(left,  #009c9f 0%,#3dae80 44%,#489148 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to right,  #009c9f 0%,#3dae80 44%,#489148 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009c9f', endColorstr='#489148',GradientType=1 ); /* IE6-9 */



