h1 {
    font-size: $h1;
    line-height: 4rem;

    @include breakpoint(common-ipad-desktop) {
        font-size: 3rem;
    }
    @include breakpoint(ipad_portrait) {
        font-size: $h1_ip;
    }
    @include breakpoint(mobile) {
        font-size: $h1_m;
    }
}

h2 {
    font-size: $h2;
    @include breakpoint(mobile) {
        font-size: $h2_m;
    }
    @include breakpoint(ipad_portrait) {
        font-size: $h2_ip;
    }
}

h3 {
    font-size: $h3;
    @include breakpoint(mobile) {
        font-size: $h3_m;
    }
    @include breakpoint(ipad_portrait) {
        font-size: $h3_ip;
    }
}

h4 {
    font-size: $h4;
}
