.get-touch-section {
    .container-sm {
        position: relative;
        z-index: 1;
    }
}
.get-touch-top {
    h2 {
        margin: 0 0 1rem 0;
        padding: 0px;
        color: $primary-color;
    }
    .desc--box {
       padding: 2rem 0 0 12rem;
       @include breakpoint(ipad_portrait){
        padding: 1rem 0  2rem;
    }
       @include breakpoint(mobile_portrait){
           padding: 1rem 0  2rem;
       }
    }
}
.get-touch-btm {
    padding-top: 5rem;
    padding-bottom: 5rem;
    .custom-row {
        align-items: center;
        flex-direction: row-reverse;
        @include breakpoint(mobile) {
            flex-direction: column-reverse;
        }
    }
}
.get-touch-form-block {
    .contact-info {
        width: 45%;
        @include breakpoint(mobile) {
            margin-bottom: 3rem;
            width: 100%;
        }
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            li {
                color: $white;
                margin-bottom: 2rem;
                font-weight: 500;
                font-size: 1.5rem;
                display: flex;
                &:last-child {
                    margin-bottom: 0rem;
                }
                i{
                    width: 45px;
                }
                svg {
                    fill: $white;
                    width: 40px;
                }
                a {
                    color: $white;
                    display: flex;
                    align-items: flex-start;
                    width: 100%;
                    &:hover{
                        color: #ffbeb2;
                    }
                }
                span {
                    width: calc(100% - 45px);
                    margin-left: auto;
                    word-break: break-all;
                    padding-left: 1rem;
                    a{
                        display: block;
                       
                    }
                }
              
                &.li-flex {
                    display: flex;
                    align-items: flex-start;
                }
            }
        }
    }
    .get-touch-form-box {
        width: 50%;
        background: $white;
        box-shadow: 0 0px 8px rgb(0 0 0 / 40%);
        min-height: 300px;
        position: relative;
        margin-left: 5%;
        padding: 2rem;
        @include breakpoint(mobile) {
            margin-left: 0%;
            width: 100%;
        }
    }
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    color: #ffb900;
    font-weight: 300;
    font-size: 1rem;
}
.wpcf7 form.sent .wpcf7-response-output {
    color: #46b450;
    font-weight: 300;
    font-size: 1rem;
}
.wpcf7-not-valid-tip {
    font-weight: 300;
    font-size: 1rem;
}

.li-mrgn-top-25 {
    margin-top: 2.5rem;
}
.input-submit {
    margin-top: 1.5rem;
}
.wpcf7-list-item {
    margin: 0;
}
.input-field {
    label {
       display: flex;
        .top-m{
            margin-top: -3px;
            color: $gray-color;
            font-size: 1.22rem;
            @include breakpoint(ipad_portrait) {
                margin-left: 10px;
            }
        }
        a {
            color:$primary-color;
            font-size: 1.22rem;
            text-decoration: none;
            &:hover{
                color: $secondary-color;
            }
        }
    }
}
.wpcf7-acceptance {
    span {
        margin-right: 21px;
    }
}
.wpcf7-acceptance {
    position: relative;
}
.wpcf7-acceptance input::after,
.wpcf7-acceptance input:checked::after {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0px;
    top: -2px;
    
}
.wpcf7-acceptance input::before {
    content: "";
    background: $white;
    width: 26px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.wpcf7-acceptance input::after {
    background: url("#{$assetPath}/check.svg") no-repeat center center;
}
.wpcf7-acceptance input:checked::after {
    background: url("#{$assetPath}/checked.svg") no-repeat center center;
}
