.hero-section {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 250px;
        left: 0px;
        top: 0px;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+70,ffffff+100&1+70,0+100 */
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(
            top,
            rgba(255, 255, 255, 1) 70%,
            rgba(255, 255, 255, 0) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 1) 70%,
            rgba(255, 255, 255, 0) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
        @media (min-width: 1401px) and (max-width: 1500px) {
            height: 199px;
        }
        @media (min-width: 1301px) and (max-width: 1400px) {
            height: 199px;
        }
        @media (min-width: 1251px) and (max-width: 1300px) {
            height:199px;
        }
        @media (min-width: 1200px) and (max-width: 1250px) {
            height: 199px;
          }
        @include breakpoint(ipad_landscape) {
            height: 180px;
        }
        @include breakpoint(ipad_portrait) {
            height: 175px;
        }
        @include breakpoint(mobile) {
            display: none;
        }
    }
    .page-title--img {
        overflow: hidden;
        img {
            width: 100%;
            display: block;
            @include breakpoint(ipad_landscape) {
                width: 130%;
            }
            @include breakpoint(ipad_portrait) {
                width: 130%;
            }
            @include breakpoint(mobile_portrait) {
                width: 180%;
            }
        }
    }
    .hero-content {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        bottom: 0px;
        display: flex;
        align-items: flex-end;
        @include breakpoint(mobile) {
            position: relative;
            background: $primary-color;
            display: block;
        }

        &::after {
            position: absolute;
            width: 100%;
            height: 50%;
            content: "";
            left: 0px;
            bottom: 0px;
            background: url("#{$assetPath}/Vector 2.svg") no-repeat center top;
            background-size: 100%;
            mix-blend-mode: multiply;
            @media (min-width: 1501px) and (max-width: 1650px) {
                height: 54%;
            }
            @media (min-width: 1401px) and (max-width: 1500px) {
                height: 62%;
            }
            @media (min-width: 1301px) and (max-width: 1400px) {
                height: 67%;
            }
            @media (min-width: 1251px) and (max-width: 1300px) {
                height: 67%;
            }
            @media (min-width: 1200px) and (max-width: 1250px) {
                height: 69%;
              }
              @media (min-width: 992px) and (max-width: 1024px) {
                height: 57%;
              }
              @media (min-width: 768px) and (max-width: 991px) {
                height: 56%;
              }
            @include breakpoint(mobile) {
                display: none;
            }
        }
        .container {
            position: relative;
            z-index: 2;
        }
        h1 {
            color: $white;
            max-width: 900px;
            margin: 0px 0 6rem;
            padding: 0px;
            @include breakpoint(ipad_landscape ){
                margin-bottom: 3rem;
                font-size: $h1_il;
            }
            @include breakpoint(ipad_portrait ){
                margin-bottom: 3rem;
                font-size: $h1_ip;
            }
            @include breakpoint(mobile) {
                max-width: 100%;
                margin: 0px;
                padding: 2rem 1rem;
            }
        }
    }
}
