.post-row {
    position: relative;
    margin-top: $main-pd;
    @include breakpoint(ipad_portrait ){
        margin-top: 3rem;
    }
    @include breakpoint(mobile ){
        margin-top: 2.5rem;
    }
    .custom-row {
        height: 100%;
        align-items: center;
    }

    .post-row--img {
        width: 55%;
        overflow: hidden;
        @include breakpoint(ipad_portrait) {
            width: 100%;
        }
        @include breakpoint(mobile) {
            width: 100%;
        }

        img {
            width: 100%;
            display: block;
            @include breakpoint(ipad_landscape) {
                width: 130%;
                display: block;
                max-width: 130% !important;
            }

            @include breakpoint(ipad_portrait) {
                width: 100%;
                display: block;
                max-width: 100% !important;
            }
        }
    }

    .post-row--content {
        width: 45%;
        display: flex;
        align-items: center;
        @include breakpoint(ipad_portrait) {
            width: 100%;
        }
        @include breakpoint(mobile) {
            width: 100%;
        }

        .desc--box {
            p {
                color: $white;
                font-weight: 400;
               
                   br{
                    @include breakpoint(ipad_portrait) {
                        display: none;
                      }
                    @include breakpoint(mobile) {
                       display: none;
                     }
                }
         
            }
        }
        .post-row-content--inner {
            background: #005c79d6;
            /* mix-blend-mode: multiply; */
            padding: 2rem 3rem;
            @include breakpoint(ipad_portrait) {
                padding: 2rem;
            }
            @include breakpoint(mobile) {
                padding: 2rem;
            }

            h3 {
                margin: 0 0 0.7rem 0;
                padding: 0px;
                color: $white;
            }
        }
    }

    &.post-row--left {
        .post-row--content {
            .post-row-content--inner {
                margin-left: -2rem;
                @include breakpoint(ipad_portrait) {
                    margin-left: 0rem;
                }
                @include breakpoint(mobile) {
                    margin-left: 0rem;
                }
            }
        }
    }

    &.post-row--right {
        flex-direction: row-reverse;
        @include breakpoint(ipad_portrait) {
            flex-direction: column;
        }
        @include breakpoint(mobile) {
            flex-direction: column;
        }
        .post-row--content {
            .post-row-content--inner {
                margin-right: -2rem;
                @include breakpoint(ipad_portrait) {
                    margin-right: 0rem;
                }
                @include breakpoint(mobile) {
                    margin-right: 0rem;
                }
            }
        }
    }
    &.custom-row {
        @include breakpoint(ipad_portrait) {
            flex-direction:column-reverse;
        }
        @include breakpoint(mobile) {
            flex-direction:column-reverse;
        }
    }
}
