.review-section {
    h2 {
        margin: 0px;
        padding: 0px;
        color: $white;
    }
}
.review--box {
    font-size: 1.5rem;
    color: $white;
    text-align: center;
    position: relative;
    padding: 4rem 0;
    @include breakpoint(ipad_portrait ){
        padding: 2rem 0;
    }
    @include breakpoint(mobile ){
        padding: 2rem 0;
    }
    &::after {
        position: absolute;
        content: "";
        width: 600px;
        height: 1px;
        left: 0px;
        margin: auto;
        right: 0px;
        bottom: 0px;
        background: $secondary-color;
        @include breakpoint(mobile) {
            width: 100%;
        }
    }
    &:last-child {
        padding-bottom: 0px;
        &::after {
            display: none;
        }
    }
    p {
        padding: 0px 6px;
        margin: 0px;
        line-height: 2rem;
        font-weight: 500;
        position: relative;
        &::before {
            content: "“";
            font-size: 2rem;
        }
        &::after {
            content: "”";
            font-size: 2rem;
        }
    }
}
