.brands-logo {
    .brands-logo--box {
        width: 33%;
        padding: 0 1rem;

        .brands-logo--img {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 45%;
                display: block;
                @include breakpoint(mobile_portrait ){
                    max-width: 100%;
                }
            }
        }
    }
}
.back-btn-box{
    a{
        color: $primary-color;
        font-size: 1.8rem;
        @include breakpoint(mobile){
            font-size: 1.3rem;
        }
        &:hover{
            color: $secondary-color;
        }
    }
}