.simple-col-2 {
    align-items: center;
    margin-top: $main-pd;
    // &:first-child{
    //     align-items: flex-end;
    //     @include breakpoint(ipad_portrait ){
    //         align-items: flex-start;
    //     }
    // }

    @include breakpoint(ipad_portrait ){
        margin-top: 3rem;
        align-items: flex-start;
    }
    @include breakpoint(mobile ){
        margin-top: 2.5rem;
    }
    &:first-child {
        margin-top: 0px;
    }
    .simple-col-img {
        width: 50%;
        position: relative;
        @include breakpoint(ipad_portrait) {
            width: 100%;
        }
        @include breakpoint(mobile) {
            width: 100%;
        }
        img {
            width: 100%;
            display: block;
        }
    }
    .simple-col-content {
        width: 50%;
        padding: 0rem 3rem;
        @include breakpoint(ipad_portrait) {
            width: 100%;
            padding:0 0 2rem 0;
        }
        @include breakpoint(mobile) {
            width: 100%;
            padding:0 0 1rem 0;
        }
        h3 {
            margin: 0 0 1rem;
            color: $secondary-color;
        }
        .desc--box{
            .gmail_default{
                margin: 10px 0;
            }
            @include breakpoint(ipad_portrait) {
                p{
                    &:first-child{
                        margin-top: 0px;
                    }
                }
             }
            @include breakpoint(mobile) {
               p{
                   &:first-child{
                       margin-top: 0px;
                   }
               }
            }
        }
    }
    &.simple-col-2--left {
        flex-direction: row-reverse;
        @include breakpoint(ipad_portrait) {
            flex-direction: column;
        }
        @include breakpoint(mobile) {
            flex-direction: column;
        }
        .simple-col-content {
            padding-left: 0px;
        }
    }
    &.simple-col-2--right {
        
        .simple-col-content {
            padding-right: 0px;
            @include breakpoint(ipad_portrait) {
                padding-left: 0rem;
                margin-top: 0rem;
            }
            @include breakpoint(mobile) {
                padding-left: 0rem;
                margin-top: 0rem;
            }
        }
    }
    &:last-child{
        .simple-col-img{
            margin-bottom: 3rem;
        }
    }
    &.custom-row {
        @include breakpoint(ipad_portrait) {
            flex-direction: column-reverse;
        }
       @include breakpoint(mobile) {
            flex-direction: column-reverse;
        }
    }
    &:first-child{
        .simple-col-content {
            h3{
                margin-top: 3rem;
                @media (min-width: 1025px) and (max-width: 1599px) {
                    margin-top: 5rem;
                  }
                  @media (min-width: 320px) and (max-width: 1024px) {
                    margin-top: 0rem;
                  }
            }
        }
    }
}
