{% if content_row.gallery_images_list %}
	{% set parent_loop = loop.index %}
	<section class="gallery-section gallery-section-row-{{parent_loop}}">
		{% if content_row.gallery_title %}
			<div class="container-fluid">
				<h3>{{content_row.gallery_title}}</h3>
			</div>
		{% endif %}
		<div class="project-gallery-grid">
			{% for gallery_content in content_row.gallery_images_list %}
				<div class="row grid-{{gallery_content.acf_fc_layout}}">
					{% if gallery_content.acf_fc_layout =='single_image' %}
						<div class="grid-item image-1" data-aos="fade-up">
							<picture>
								<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(gallery_content.image).src('gallery-mobile') }}"/>
								<img src="{{ TimberImage(gallery_content.image).src('gallery-1') }}" alt="gallery_content.image.alt"/>
							</picture>
						</div>
					{% elseif gallery_content.acf_fc_layout =='dual_image' %}
						<div class="grid-item image-1" data-aos="fade-up">
							<picture>
								<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(gallery_content.image).src('gallery-mobile') }}"/>
								<img src="{{ TimberImage(gallery_content.image).src('gallery-2-1') }}" alt="gallery_content.image.alt"/>
							</picture>
						</div>
						<div class="grid-item image-2" data-aos="fade-up">
							<picture>
								<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(gallery_content.image_copy).src('gallery-mobile') }}"/>
								<img src="{{ TimberImage(gallery_content.image_copy).src('gallery-2-2') }}" alt="gallery_content.image_copy.alt"/>
							</picture>
						</div>
					{% elseif gallery_content.acf_fc_layout =='testimonial_with_dual_image' %}
						<div class="grid-item grid-item--width2 gallery-testimonial" data-aos="fade-up">
							<div class="testimonials-item">
								<div class="testimonials-item-in">{{gallery_content.gallery_testimonial}}</div>
							</div>
						</div>
						<div class="grid-item" data-aos="fade-up">
							<picture>
								<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(gallery_content.image).src('gallery-mobile') }}"/>
								<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(gallery_content.image).src('gallery-mobile-l') }}"/>
								<img src="{{ TimberImage(gallery_content.image).src('gallery-3-1') }}" alt="gallery_content.image.alt"/>
							</picture>
						</div>
						<div class="grid-item" data-aos="fade-up">
							<picture>
								<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(gallery_content.image_copy).src('gallery-mobile') }}"/>
								<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(gallery_content.image_copy).src('gallery-mobile-l') }}"/>
								<img src="{{ TimberImage(gallery_content.image_copy).src('gallery-3-1') }}" alt="gallery_content.image_copy.alt"/>
							</picture>
						</div>
					{% elseif gallery_content.acf_fc_layout =='three_image_per_row' %}
						<div class="grid-item" data-aos="fade-up">
							<picture>
								<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(gallery_content.image).src('gallery-mobile') }}"/>
								<img src="{{ TimberImage(gallery_content.image).src('gallery-4-1') }}" alt="gallery_content.image.alt"/>
							</picture>
						</div>
						<div class="grid-item" data-aos="fade-up">
							<picture>
								<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(gallery_content.image_copy).src('gallery-mobile') }}"/>
								<img src="{{ TimberImage(gallery_content.image_copy).src('gallery-4-1') }}" alt="gallery_content.image.alt"/>
							</picture>
						</div>
						<div class="grid-item" data-aos="fade-up">
							<picture>
								<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(gallery_content.image_copy2).src('gallery-mobile') }}"/>
								<img src="{{ TimberImage(gallery_content.image_copy2).src('gallery-4-1') }}" alt="gallery_content.image.alt"/>
							</picture>
						</div>
					{% else %}
						<div class="grid-item image-404">
							content not found for
							{{gallery_content.acf_fc_layout}}
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</section>
{% endif %}
