{% if content_row.images %}
	<section class="photo-gallery-section gallery-section">
		<div class="container main-padding-bottom" data-aos1="fade-up">
			<div class="heading heading-center">
				<h2>{{content_row.title}}</h2>
			</div>
		</div>
		 <div class="grid-wrapper">
             {% for gallery_row in content_row.images %}
             {{dump(gallery_row)}}
            <div class="big grid-item"> 
                <figure data-fancybox="gallery"  data-src="{{ TimberImage(gallery_row).src('src') }}" class="fancebox">
                    <img src="{{ TimberImage(gallery_row).src('gallery-thumb') }}" alt="" />
                    <figcaption style="display: none;">
                       <div class="fb-caption-overlay"> 
                        <h4> {{gallery_row.title|upper}}</h4>
                        <div class="fb-caption-detail">
                            {% if gallery_row.get_field('sold_out') %}
                            <div class="badge-box sold-out-badge">I am sold</div>
                            {% else %}
                            <div class="badge-box available-badge">I am available </div>
                            {% endif %}
                            {{gallery_row.description?gallery_row.description:(gallery_row.caption?gallery_row.caption:'')}}
                    </div>

                    </div>

                     </figcaption>
                </figure>
                     
            </div>
             {% endfor %}
        </div>

	</section>
{% endif %}
<style type="text/css">
.grid-item { width: 33%; }

.fb-caption-overlay{
   position: absolute;
    bottom: 0;
    width: 100%;
    word-wrap: break-word;
    background: rgb(255,255,255,.5);
    padding: 15px;
}
 
  </style>