{% if content_row.content %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' primary-bg'%}
	{% endif %}

	<section class="testimonials-section{{color_bg_class}} main-padding" data-aos="fade-up">
		<div class="container-md">
			<div class="testimonials-section-content">
				<strong>{{content_row.content}}</strong>
				{% if content_row.author %}
				<i>{{content_row.author}}</i>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}