{% if content_row.art_collections %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' white-bg'%}
	{% endif %}

	<section class="art-section primary-bg main-padding" data-aos="fade-up">
		
			<div class="container">
				<div class="heading heading-left">
						<h2>{{content_row.title}}</h2>
					</div>
				<div class="art-row">
					<div class="custom-row">

						{% for featured_type in content_row.art_collections %}

							<div class="art-box" data-aos="fade-up">
								<div class="art-box-img">
									{% if featured_type.product_type_item.thumbnail %}
										<img src="{{ TimberImage(featured_type.product_type_item.thumbnail).src('featured-product-img') }}" alt=""/>
									{% else %}
										<img src="{{site.link}}/wp-content/uploads/2023/08/cml-construction-limited-hero-image-1000x850.jpg" alt=""/>
									{% endif %}
								</div>
								<div class="art-box-content">
								  <h3>{{featured_type.product_type_item.title|upper}}</h3>
								  <div class="desc--box ">
								  {{featured_type.product_type_item.preview.read_more(false)}}
								  </div>
								  <div class="left-bottom-btn">
									<a href="{{featured_type.product_type_item.link}}" class="white-btn-arrow">view collection</a>
								</div>
								</div>
								
							</div>
						{% endfor %}
					</div>
		      </div>
			</div>
		
		
	</section>


{% endif %}