{% if content_row.image and content_row.content %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' white-bg'%}
	{% endif %}


	<section class="small-post-section meet-the-artist-row white-bg main-padding" data-aos="fade-up">
		<div class="container">
			<div class="small-post-section-row">
				<div class="small-post-section-row-content">
					<div class="heading heading-left">
						<h2>{{content_row.title}}</h2>
					</div>
					<div class="desc--box">
						{{content_row.content}}
					</div>

					<div class="desc--box-review  primary-bg">
						{{content_row.artist_review_text}}
					</div>

				</div>
				<div class="small-post-section-row-img">
					<picture>
					<source media="(min-width:320px) and (max-width:991px)" srcset="{{ TimberImage(content_row.image).src('featured-product-img') }}" />
					  <img src="{{ TimberImage(content_row.image).src('small-post-img') }}" alt=""/>
					</picture>

					<picture>
					<source media="(min-width:320px) and (max-width:991px)" srcset="{{ TimberImage(content_row.image).src('featured-product-img') }}" />
					  <img src="{{ TimberImage(content_row.image_copy).src('small-post-img') }}" alt=""/>
					</picture>

				</div>
			</div>
		</div>
	</section>

{% endif %}
