{% if content_row.collage %}
	<section class="photo-gallery-section">
		<div class="container main-padding-bottom" data-aos="fade-up">
			<div class="heading heading-center">
				<h2>{{content_row.title}}</h2>
			</div>
		</div>
		 <div class="collage-wrapper">
		    {{content_row.collage}}
        </div>
	</section>
{% endif %}