/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
a,
button {
  cursor: pointer;
}

.desc--box ul li, p {
  line-height: 1.6rem;
}

.desc--box ul li, body {
  font-size: 1.1669rem;
}

.testimonials-section, .main-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.main-padding-top {
  padding-top: 6rem;
}

.main-padding-bottom {
  padding-bottom: 6rem;
}

.uppercase {
  text-transform: uppercase;
}

.contact-page-template .contact-page-bg .contact-page-bg-inner h1, .hero-slider-section .hero-slider-item-content h1 {
  font-size: 6.6662rem;
}
@media (min-width: 1481px) and (max-width: 1600px) {
  .contact-page-template .contact-page-bg .contact-page-bg-inner h1, .hero-slider-section .hero-slider-item-content h1 {
    font-size: 5rem;
  }
}

.contact-page-template .contact-page-info ul li a, .heading h2 {
  font-size: 2.9169rem;
}

.btn-set--left {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.btn-set--center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.primary-btn,
.secondary-btn,
.primary-outline-btn,
.secondary-outline-btn,
.white-btn,
.wpcf7-submit,
.white-outline-btn,
.white-btn-arrow,
.primary-btn-arrow,
.secondary-btn-arrow,
.secondary-btn-out-line-arrow {
  padding: 0.8rem 1.7rem;
  font-size: 1.1669rem;
  display: block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-transform: uppercase;
  min-width: 150px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .primary-btn,
  .secondary-btn,
  .primary-outline-btn,
  .secondary-outline-btn,
  .white-btn,
  .wpcf7-submit,
  .white-outline-btn,
  .white-btn-arrow,
  .primary-btn-arrow,
  .secondary-btn-arrow,
  .secondary-btn-out-line-arrow {
    padding: 0.6rem 1rem;
  }
}

.primary-btn {
  background-color: #2e343e;
  color: #fff;
  border: 1px #2e343e solid;
}
.primary-btn:hover {
  background-color: #bebcc1;
  color: #fff;
  border: 1px #bebcc1 solid;
}

.secondary-btn {
  background-color: #bebcc1;
  color: #fff;
  border: 1px #bebcc1 solid;
}
.secondary-btn:hover {
  background-color: #2e343e;
  color: #fff;
  border: 1px #2e343e solid;
}

.white-btn {
  background-color: #fff;
  color: #bebcc1;
  border: 0px #bebcc1 solid;
}
.white-btn:focus {
  color: #2e343e;
}
.white-btn:hover {
  background-color: #2e343e;
  border: 0px #2e343e solid;
}

.primary-outline-btn {
  background-color: transparent;
  color: #bebcc1;
  border: 1px #2e343e solid;
}
.primary-outline-btn:hover {
  background-color: #2e343e;
  color: #fff;
  border: 1px #2e343e solid;
}

.white-outline-btn {
  background-color: transparent;
  color: #fff;
  border: 1px #fff solid;
}
.white-outline-btn:hover {
  background-color: #2e343e;
  color: #fff;
  border: 1px #2e343e solid;
}

.secondary-outline-btn {
  background-color: transparent;
  color: #bebcc1;
  border: 1px #bebcc1 solid;
}
.secondary-outline-btn:hover {
  background-color: #2e343e;
  color: #fff;
  border: 1px #2e343e solid;
}

.wpcf7-submit {
  color: #bebcc1;
  border: 1px #2e343e solid;
  padding-right: 3rem;
  background: #2e343e url("../img/icons/arrow-white.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
}
.wpcf7-submit:hover {
  background: #fff url("../img/icons/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  border: 1px #fff solid;
  color: #2e343e;
}

.input-submit .wpcf7-spinner {
  display: none;
}

.primary-btn-arrow {
  background: #fff url("../img/icons/Primary btn arrow.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  padding-right: 3rem;
  color: #2e343e;
  border: 1px #2e343e solid;
}

.secondary-btn-arrow {
  background: #fff url("../img/icons/Secondary btn arrow.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  padding-right: 3rem;
  color: #bebcc1;
  border: 1px #bebcc1 solid;
}

.white-btn-arrow {
  background: #2e343e url("../img/icons/White btn arrow.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  padding-right: 3rem;
  color: #fff;
  border: 1px #fff solid;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  background: #fff;
  padding-top: 0px;
  padding-right: 0rem;
  padding-bottom: 0;
  padding-left: 0rem;
  margin: 0px;
  color: #2e343e;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

strong {
  font-weight: 900;
}

.container-lg {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

.container-md {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: 1601px) and (max-width: 30000px) {
  .container-md {
    max-width: 1300px;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .container-md {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-md {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-md {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-md {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-md {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.container-sm {
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

.white-bg {
  background: #fff;
}

.primary-bg {
  color: #fff;
  background: #2e343e;
}

.secondary-bg {
  background: #bebcc1;
  color: #fff;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.hide-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hide-desktop {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

.desc--box p a {
  color: #bebcc1;
  text-decoration: none;
}
.desc--box p a:hover {
  text-decoration: underline;
  color: #2e343e;
}
.desc--box p:first-child {
  margin-top: 0px;
}
.desc--box p:last-child {
  margin: 0px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .desc--box p br {
    display: none;
  }
}
.desc--box ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.desc--box ul li {
  position: relative;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 1.4rem;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 991px) {
  .desc--box ul li br {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .desc--box ul li br {
    display: none;
  }
}
.desc--box ul li::before {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0px;
  top: 6px;
  background: #2e343e;
  content: "";
  border-radius: 100px;
}
.desc--box ul ~ p:last-child {
  margin-top: 1.5rem;
}
.desc--box table tr td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.desc--box table tr td:nth-child(1) {
  width: 150px;
  padding-right: 15px;
}

.main-container {
  min-height: 90vh;
}

.back-btn-box {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #bebcc1;
}
.back-btn-box .back-btn {
  color: #fff;
  position: relative;
  font-family: "Playfair Display", serif;
  padding: 0 0 0 30px;
  font-weight: 700;
  background: url("../img/icons/arrow-primary-left.svg") no-repeat center left;
  background-size: 18px;
}
.back-btn-box .back-btn strong {
  font-weight: 700;
}
.back-btn-box .back-btn:hover {
  color: #2e343e;
}

.hide-in-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hide-in-desktop {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .hide-in-mobile {
    display: none;
  }
}

h1.text-center {
  text-align: center;
  color: #2e343e;
  margin: 0px;
}

.left-bottom-btn {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.right-bottom-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.spacer-row {
  background: #fff;
  height: 4px;
  width: 100%;
}

/*Helpers Scss Files */
.card-box-1 {
  width: 8.333333%;
}

.card-box-2 {
  width: 16.666667%;
}

.card-box-3 {
  width: 25%;
}

.card-box-4 {
  width: 33.333333%;
}

.card-box-5 {
  width: 41.666667%;
}

.card-box-6 {
  width: 50%;
}

.card-box-7 {
  width: 58.333333%;
}

.card-box-8 {
  width: 66.666667%;
}

.card-box-9 {
  width: 75%;
}

.card-box-10 {
  width: 83.333333%;
}

.card-box-11 {
  width: 91.666667%;
}

.card-box-12 {
  width: 100%;
}

.who-we-are-section {
  padding-top: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .who-we-are-section {
    padding-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .who-we-are-section {
    padding-top: 3rem;
  }
}

.image-text-flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row {
    padding-left: 13%;
    padding-right: 13%;
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row {
    padding-left: 6%;
    padding-right: 6%;
    flex-direction: column-reverse;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .image-text-flex-row {
    padding-left: 6%;
    padding-right: 6%;
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row {
    margin-bottom: 4rem;
    flex-direction: column-reverse;
  }
}
.image-text-flex-row:last-child {
  margin-bottom: 0px;
}
.image-text-flex-row .image-card-50 {
  width: 63%;
  background-size: cover;
  background-position: center;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row .image-card-50 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row .image-card-50 {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row .image-card-50 {
    width: 100%;
  }
}
.image-text-flex-row .image-card-50 img {
  width: 100%;
  display: block;
  height: auto;
}
.image-text-flex-row .content-card-50 {
  width: 37%;
  padding-left: 3%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row .content-card-50 {
    width: 100%;
    padding-left: 0%;
    margin-bottom: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row .content-card-50 {
    width: 100%;
    padding-left: 0%;
    margin-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row .content-card-50 {
    width: 100%;
    padding-left: 0%;
    margin-bottom: 3rem;
  }
}
.image-text-flex-row .content-card-50 .section-hd {
  margin: 0px;
}
.image-text-flex-row .content-card-50 .desc--box {
  margin: 2rem 0;
  min-height: 250px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 95px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 95px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 84px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 95px;
  }
}
.image-text-flex-row .image-card img {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 30px;
}
.image-text-flex-row .content-card-inner {
  position: relative;
  height: 100%;
}
.image-text-flex-row .content-card-inner.download-btn-yes {
  padding-bottom: 5rem;
}
.image-text-flex-row .content-card-inner h2 {
  margin: 0px;
  padding: 0px;
}
.image-text-flex-row .content-card-inner .desc--box {
  margin-top: 1rem;
}
.image-text-flex-row .content-card-inner .btn-set--left {
  position: absolute;
  bottom: 0px;
  left: 0;
}
.image-text-flex-row.image-text-flex-row-right {
  flex-direction: row-reverse;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row.image-text-flex-row-right {
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row.image-text-flex-row-right {
    flex-direction: row-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row.image-text-flex-row-right {
    flex-direction: row-reverse;
  }
}
.image-text-flex-row.image-text-flex-row-right .content-card-50 {
  padding-right: 5%;
  padding-left: 0px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row.image-text-flex-row-right .content-card-50 {
    padding-right: 0%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row.image-text-flex-row-right .content-card-50 {
    padding-right: 0%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row.image-text-flex-row-right .content-card-50 {
    padding-right: 0%;
  }
}

.input-field {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 2rem;
  margin-left: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .input-field {
    margin-top: 1.2rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
.input-field label {
  font-size: 1.2rem;
  color: #bebcc1;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-weight: 100;
}
.input-field label a {
  color: #fff;
  text-decoration: underline;
}
.input-field label a:hover {
  color: #2e343e;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea,
.input-field select {
  border: 0;
  border-bottom: 2px #2e343e solid;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 0px;
  width: 100%;
  font-size: 1.2rem;
  color: #fff;
  background: transparent;
  -webkit-appearance: none;
  border-radius: 0px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled,
.input-field select:disabled {
  opacity: 0.5;
}
.input-field input[type=text]::-webkit-input-placeholder,
.input-field input[type=email]::-webkit-input-placeholder,
.input-field input[type=password]::-webkit-input-placeholder,
.input-field input[type=number]::-webkit-input-placeholder,
.input-field input[type=date]::-webkit-input-placeholder,
.input-field textarea::-webkit-input-placeholder,
.input-field select::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  opacity: 1;
}
.input-field input[type=text]::-moz-placeholder,
.input-field input[type=email]::-moz-placeholder,
.input-field input[type=password]::-moz-placeholder,
.input-field input[type=number]::-moz-placeholder,
.input-field input[type=date]::-moz-placeholder,
.input-field textarea::-moz-placeholder,
.input-field select::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  opacity: 1;
}
.input-field input[type=text]:-ms-input-placeholder,
.input-field input[type=email]:-ms-input-placeholder,
.input-field input[type=password]:-ms-input-placeholder,
.input-field input[type=number]:-ms-input-placeholder,
.input-field input[type=date]:-ms-input-placeholder,
.input-field textarea:-ms-input-placeholder,
.input-field select:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  opacity: 1;
}
.input-field input[type=text]:-moz-placeholder,
.input-field input[type=email]:-moz-placeholder,
.input-field input[type=password]:-moz-placeholder,
.input-field input[type=number]:-moz-placeholder,
.input-field input[type=date]:-moz-placeholder,
.input-field textarea:-moz-placeholder,
.input-field select:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  opacity: 1;
}
.input-field textarea {
  height: 126px;
}

.input-field-set label {
  font-size: 1.2rem;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

select {
  width: 100%;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h5 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.heading h2 {
  position: relative;
  margin: 0px;
  padding: 0 0 1rem 0;
  text-transform: lowercase;
  color: #2e343e;
}
.heading h2::after {
  content: "";
  width: 137px;
  height: 4px;
  background: #2e343e;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.heading h2::before {
  content: "";
  width: 100vh;
  height: 4px;
  background: #2e343e;
  position: absolute;
  bottom: 0px;
  left: -100vh;
}
.heading .desc--box {
  margin-top: 1.5rem;
}

.primary-bg .heading h2 {
  color: #fff;
}
.primary-bg .heading h2::after {
  background: #fff;
  left: 0px;
}
.primary-bg .heading h2::before {
  background: #fff;
}

/*Layout Scss Files */
.main-header {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  padding: 2rem 0;
  z-index: 999;
}
.main-header header {
  display: flex;
  align-items: center;
}
.main-header .header-logo {
  width: 250px;
}
.main-header .header-logo a {
  display: block;
}
.main-header .header-logo a img {
  display: block;
  width: 100%;
}
.main-header .header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.main-header .header-right .header-nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
.main-header .header-right .header-nav ul li {
  margin: 0 1rem 0 0;
  padding: 0px;
}
.main-header .header-right .header-nav ul li a {
  display: block;
  color: #2e343e;
  font-size: 1rem;
}
.main-header .header-right .header-nav ul li.menu-item-has-children .sub-menu-toggle {
  display: none;
}
.main-header .header-right .header-nav ul li.menu-item-has-children ul {
  display: none;
}
.main-header .header-social ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
.main-header .header-social ul li {
  margin: 0 1rem 0 0;
  padding: 0px;
}
.main-header .header-social ul li:last-child {
  margin-right: 0px;
}
.main-header .header-social ul li a {
  display: block;
  width: 35px;
  height: 35px;
}
.main-header .header-social ul li a.facebook-icon {
  background: url("../img/icons/facebook-drak.svg") no-repeat center center;
  background-size: 55%;
}
.main-header .header-social ul li a.instagram-icon {
  background: url("../img/icons/instagram hanks gallery.svg") no-repeat center center;
  background-size: 100%;
}
.main-header .header-social ul li a:hover.facebook-icon {
  background: url("../img/icons/facebook-light.svg") no-repeat center center;
  background-size: 55%;
}
.main-header .header-social ul li a:hover.instagram-icon {
  background: url("../img/icons/instagram hanks gallery grey.svg") no-repeat center center;
  background-size: 100%;
}

.main-footer {
  background: #fff;
  padding: 2rem 0;
}
.main-footer .custom-row {
  align-items: center;
}
.main-footer .footer-left {
  display: flex;
  align-items: center;
}
.main-footer .footer-left .footer-social-media ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
.main-footer .footer-left .footer-social-media ul li {
  margin: 0 1rem 0 0;
  padding: 0px;
}
.main-footer .footer-left .footer-social-media ul li:last-child {
  margin-right: 0px;
}
.main-footer .footer-left .footer-social-media ul li a {
  display: block;
  width: 35px;
  height: 35px;
}
.main-footer .footer-left .footer-social-media ul li a.facebook-icon {
  background: url("../img/icons/facebook-drak.svg") no-repeat center center;
  background-size: 55%;
}
.main-footer .footer-left .footer-social-media ul li a.instagram-icon {
  background: url("../img/icons/instagram hanks gallery.svg") no-repeat center center;
  background-size: 100%;
}
.main-footer .footer-left .footer-social-media ul li a:hover.facebook-icon {
  background: url("../img/icons/facebook-light.svg") no-repeat center center;
  background-size: 55%;
}
.main-footer .footer-left .footer-social-media ul li a:hover.instagram-icon {
  background: url("../img/icons/instagram hanks gallery grey.svg") no-repeat center center;
  background-size: 100%;
}
.main-footer .footer-left .footer-links {
  margin-left: 1rem;
}
.main-footer .footer-left .footer-links ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
.main-footer .footer-left .footer-links ul li {
  margin: 0px;
  padding: 0xp;
}
.main-footer .footer-left .footer-links ul li a {
  color: #2e343e;
  font-size: 1rem;
  display: block;
  text-transform: uppercase;
}
.main-footer .footer-left .footer-links ul li a:hover {
  color: #bebcc1;
}
.main-footer .footer-right {
  margin-left: auto;
}
.main-footer .footer-right .footer-logo {
  width: 200px;
}
.main-footer .footer-right .footer-logo img {
  display: block;
  width: 100%;
  height: auto;
}

.hero-slider-section {
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-slider-section {
    background: #bebcc1;
  }
}
.hero-slider-section .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  border: 0px;
  padding: 0px;
  text-indent: -9999px;
  width: 50px;
  height: 70px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-slider-section .slick-arrow {
    top: 20%;
    width: 40px;
    height: 60px;
  }
}
.hero-slider-section .slick-arrow.slick-prev {
  left: 0px;
  background: #bebcc1 url("../img/icons/Arrow white Left.svg") no-repeat center center;
  background-size: 30px;
}
.hero-slider-section .slick-arrow.slick-next {
  right: 0px;
  background: #bebcc1 url("../img/icons/Arrow white Right.svg") no-repeat center center;
  background-size: 30px;
}
.hero-slider-section .hero-slider-item-img {
  padding: 0 2rem;
}
.hero-slider-section .hero-slider-item-img img {
  width: 100%;
  height: auto;
  display: block;
}
.hero-slider-section .hero-slider-item-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  display: flex;
  align-items: center;
}
.hero-slider-section .hero-slider-item-content .hero-slider-item-content-inner {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-slider-section .hero-slider-item-content {
    background: #bebcc1;
    position: relative;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
.hero-slider-section .hero-slider-item-content h1 {
  margin: 0px;
  padding: 0px;
  color: #fff;
}
.hero-slider-section .hero-slider-item-content .btn-set--left {
  margin-top: 3rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero-slider-section .hero-slider-item-content .btn-set--left {
    margin-top: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-slider-section .hero-slider-item-content .btn-set--left {
    margin-top: 1rem;
  }
}
.hero-slider-section .hero-slider-item-content .btn-set--left a {
  margin-right: 2rem;
  min-width: 182px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero-slider-section .hero-slider-item-content .btn-set--left a {
    min-width: 50px;
    margin-right: 1rem;
  }
}
.hero-slider-section .hero-slider-item-content .btn-set--left a:last-child {
  margin-right: 0;
}

.small-post-section .small-post-section-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.small-post-section .small-post-section-row .small-post-section-row-content {
  width: 50%;
  padding-right: 10%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .small-post-section .small-post-section-row .small-post-section-row-content {
    width: 100%;
    padding-right: 0%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .small-post-section .small-post-section-row .small-post-section-row-content {
    width: 100%;
    padding-right: 0%;
  }
}
.small-post-section .small-post-section-row .small-post-section-row-content .desc--box {
  margin-top: 1.5rem;
}
.small-post-section .small-post-section-row .small-post-section-row-content .desc--box h3 {
  color: #2e343e;
}
.small-post-section .small-post-section-row .small-post-section-row-content .btn-set--right {
  margin-top: 3rem;
}
.small-post-section .small-post-section-row .small-post-section-row-img {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .small-post-section .small-post-section-row .small-post-section-row-img {
    width: 100%;
    margin-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .small-post-section .small-post-section-row .small-post-section-row-img {
    width: 100%;
    margin-top: 3rem;
  }
}
.small-post-section .small-post-section-row .small-post-section-row-img img {
  display: block;
  width: 100%;
  height: auto;
}
.small-post-section .small-post-section-row.row-reverse {
  flex-direction: row-reverse;
}
.small-post-section .small-post-section-row.row-reverse .small-post-section-row-content {
  padding-right: 0%;
  padding-left: 5%;
}

.page-hd-section {
  position: relative;
  padding: 0 2rem;
}
.page-hd-section .page-hd-section-img img {
  width: 100%;
  height: auto;
  display: block;
}
.page-hd-section .page-hd-section-in {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.page-hd-section .page-hd-section-in h1 {
  color: #fff;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}

.art-section {
  background: #2e343e;
  margin-left: 2rem;
  margin-right: 2rem;
}
.art-section .custom-row {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.art-section .art-box {
  width: 50%;
  padding: 6rem 1.5rem 0rem 1.5rem;
}
.art-section .art-box .art-box-img img {
  display: block;
  width: 100%;
  height: auto;
}
.art-section .art-box .art-box-content {
  position: relative;
  padding: 2rem 0 6rem 0;
}
.art-section .art-box .art-box-content h3 {
  margin: 0px;
  padding: 0px;
}
.art-section .art-box .art-box-content .desc--box {
  margin-top: 1rem;
}
.art-section .art-box .art-box-content .left-bottom-btn {
  display: flex;
}

.testimonials-section .testimonials-section-content {
  margin: auto;
}
.testimonials-section .testimonials-section-content strong {
  font-weight: 500;
  font-family: "Be Vietnam Pro", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  text-align: left;
  display: inline-block;
  line-height: 2.1rem;
  padding-left: 117px;
  background: url("../img/icons/testimonials-icon-green.svg") no-repeat top left;
  background-size: 85px;
  padding-top: 35px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .testimonials-section .testimonials-section-content strong {
    background-size: 55px;
    padding-top: 19px;
    padding-left: 85px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .testimonials-section-content strong {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-section-content strong {
    background-size: 36px;
    font-size: 1.3rem;
    line-height: 1.5rem;
    padding-left: 53px;
    padding-top: 13px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .testimonials-section .testimonials-section-content strong {
    padding-left: 58px;
    padding-top: 0;
  }
}
.testimonials-section .testimonials-section-content strong p {
  margin: 0px;
}
.testimonials-section .testimonials-section-content i {
  display: block;
  text-align: right;
  font-size: 16px;
  margin-top: 1rem;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-family: "Playfair Display", serif;
}

.contact-page-template {
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-left: 2rem #fff solid;
  border-right: 2rem #fff solid;
}
.contact-page-template .contact-page-bg {
  position: absolute;
  top: 0;
  left: -2rem;
  width: calc(100% + 4rem);
  height: 100%;
  display: flex;
  align-items: center;
}
.contact-page-template .contact-page-bg .contact-page-bg-inner {
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem 0;
  color: #fff;
  width: 100%;
}
.contact-page-template .contact-page-bg .contact-page-bg-inner h1 {
  margin: 0px;
  padding: 0px;
  color: #fff;
  text-transform: capitalize;
}
.contact-page-template .desc--box {
  margin: 1rem 0 3rem 0;
}
.contact-page-template .contact-page-info {
  position: relative;
  padding-top: 1rem;
}
.contact-page-template .contact-page-info::after {
  content: "";
  width: 500px;
  height: 4px;
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
}
.contact-page-template .contact-page-info ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.contact-page-template .contact-page-info ul li {
  margin: 2.5rem 0;
}
.contact-page-template .contact-page-info ul li a {
  display: flex;
  color: #fff;
  align-items: center;
  font-family: "Playfair Display", serif;
}
.contact-page-template .contact-page-info ul li a.location-icon-box {
  align-items: flex-start;
}
.contact-page-template .contact-page-info ul li a i {
  width: 50px;
  height: 38px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-page-template .contact-page-info ul li a i {
    width: 40px;
    height: 40px;
  }
}
.contact-page-template .contact-page-info ul li a i.telephone-icon {
  background: url("../img/icons/phone hanks gallery.svg") no-repeat center center;
  background-size: 100%;
}
.contact-page-template .contact-page-info ul li a i.email-icon {
  background: url("../img/icons/email hanks gallery.svg") no-repeat center center;
  background-size: 100%;
}
.contact-page-template .contact-page-info ul li a i.location-icon {
  background: url("../img/icons/pin hanks gallery.svg") no-repeat center center;
  background-size: 100%;
  margin-top: 10px;
}
.contact-page-template .contact-page-info ul li a span {
  width: calc(100% - 50px);
  padding-left: 30px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-page-template .contact-page-info ul li a span {
    width: calc(100% - 40px);
    padding-left: 20px;
  }
}

/*# sourceMappingURL=global.css.map */
