/**
 * ----------------------
 * Blooberry Design
 * Molecules - Accessibility
 * ----------------------
 */

.m-accessibility {
  position: relative;
  display: flex;
  align-items: center;

  @include media('<sm') {
    position: unset;
  }

  &:hover {
    & > .m-accessibility__btn {
      color: $c-yellow;
    }
    .m-accessibility__options {
      display: block;
    }
  }
  &__btn {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    color: $c-white;
    line-height: 1;
    transition: 0.1s $easing;

    &-toggle {
      // [data-show-access='true'] & {
      //   color: $c-yellow;
      // }

      @include media('<sm') {
        @include rm-text;
        height: 35px;
        width: 35px;
        @include bg-img(20px);
        background-image: url('../icon/icon-accessibility.svg');
        border-radius: 50%;
        border: 1.5px solid $c-white;

        [data-show-access='true'] & {
          background-image: url('../icon/icon-accessibility--dark.svg');
          background-color: $c-white;
        }
      }
    }

    // &:hover {
    //   color: $c-yellow;
    // }
  }

  &__options {
    display: none;
    position: absolute;
    // top: calc(100% + 15px);
    top: 100%;
    left: 0;
    background-color: $c-blue;
    border-top: 7px solid $c-yellow;
    width: 200%;
    overflow: hidden;
    z-index: 10;

    @include media('<sm') {
      width: 100vw;
      top: 100%;
    }

    // [data-show-access='true'] & {
    //   display: block;
    // }

    .m-accessibility__btn {
      padding: $bump/2 $bump * 2 0 $bump/2;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;

      @include media('<sm') {
        padding: $bump $bump 0;
        border-bottom: 2px solid $c-yellow;
      }

      &::after {
        display: block;
        content: '';
        height: 1px;
        background-color: $c-yellow;
        background-color: var(--nav-accent);
        width: 200%;
        margin-top: 13px;
        position: relative;
        bottom: -1px;
        transition: 0.1s $easing;
        align-self: center;
        left: 41px;

        @include media('<sm') {
          left: 0;
          width: calc(100vw - 50px);
          margin-top: 28px;
        }
      }

      &[data-state='active'],
      &:hover {
        background-color: $c-yellow;
        background-color: var(--nav-accent);
        color: $c-blue;

        &::after {
          width: 250%;
        }
      }

      &-text,
      &-contrast {
        @include bg-img(30px);
        background-position: calc(100% - 20px) center;
      }

      &-text {
        background-image: url('../icon/icon-accessibility-bigger-text.svg');

        &:hover,
        &[data-state='active'] {
          background-image: url('../icon/icon-accessibility-bigger-text--dark.svg');
        }
      }

      &-contrast {
        background-size: 25px;
        background-image: url('../icon/icon-accessibility-contrast.svg');

        &:hover,
        &[data-state='active'] {
          background-image: url('../icon/icon-accessibility-contrast--dark.svg');
        }
      }
    }
  }
}
