/**
 * ----------------------
 * Blooberry Design
 * Molecules - Node body copy
 * ----------------------
 */

&__body {
  margin-top: 0;

  table {
    width: 100%;
    border: 1px solid $c-lt-blue;
    margin: $bump/2 0;

    caption {
      padding: 0 0 $bump/2;
    }

    thead {
      background-color: $c-lt-blue;
      color: $c-white;

      th {
        padding: 5px;
      }
    }

    tr {
      border-bottom: 1px solid $c-lt-blue;

      &:last-of-type {
        border-bottom: 0;
      }
    }

    td {
      padding: $bump/2;
      border-right: 1px solid $c-lt-blue;
      vertical-align: top;
      word-break: break-word !important;

      &:last-of-type {
        border-right: 0;
      }
    }
  }
}
