/**
 * ----------------------
 * Blooberry Design
 * Molecules - Accordions
 * ----------------------
 */

&__accordion {
  .accordion {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .accordion__header {
    display: flex;
    width: 100%;
    border: 0;
    background-color: transparent;
    text-align-last: left;
    justify-content: space-between;
    align-items: center;
    padding: $bump / 1.5 $bump;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    color: $c-blue;
    transition: 0.2s $easing;

    @include media('<sm') {
      padding: $bump/2;
    }

    &::after {
      content: '';
      @include bg-img(cover);
      height: $bump;
      width: $bump * 1.5;
    }

    // &:focus,
    &[aria-expanded='true'] {
      outline: none;
      background-color: $c-grey;
    }
  }

  .accordion__title {
    margin: 0;
  }

  .js-accordion__panel {
    display: none;

    &-inner {
      margin: $bump/2 $bump * 6 $bump/2 $bump * 2;

      @include media('<md') {
        margin-right: $bump * 4;
      }

      @include media('<sm') {
        margin: $bump/2 $bump;
      }

      &:last-child {
        margin-bottom: $bump;
      }
    }
  }

  .accordion__panel {
    display: block;
    overflow: hidden;
    opacity: 1;
    transition: visibility 0s ease, max-height 0.2s ease, opacity 0.2s ease;
    max-height: 100em;
    visibility: visible;
    transition-delay: 0s;
    background-color: $c-grey;

    &[aria-hidden='true'] {
      display: block;
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      transition-delay: 0.2s, 0s, 0s;
    }

    // p,
    // figure {
    //   margin: $bump/2 $bump * 6 $bump/2 $bump * 2;

    //   @include media('<md') {
    //     margin-right: $bump * 4;
    //   }

    //   @include media('<sm') {
    //     margin: $bump/2 $bump;
    //   }

    //   &:last-child {
    //     margin-bottom: $bump;
    //   }
    // }
  }

  /* title opened */
  [aria-expanded='true']:after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMxODNlNzgiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGQ9Ik0xOCAxNWwtNi02LTYgNiIvPjwvc3ZnPg==');
  }
  /* title closed */
  [aria-expanded='false']:after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMxODNlNzgiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGQ9Ik02IDlsNiA2IDYtNiIvPjwvc3ZnPg==');
  }

  // /* title selected */
  // [aria-selected="true"]:after {
  //   content: " (sel)";
  // }
  // /* title non selected */
  // [aria-selected="false"]:after {
  //   content: " (unselc)";
  // }
}
