/**
 * ----------------------
 * Blooberry Design
 * Molecules - Text
 * ----------------------
 */

&__text,
&__body,
&__accordion {
  h2,
  h3,
  h4 {
    margin: $bump/1.5 0 $bump/8;

    &:first-child {
      margin-top: 0;
    }
  }

  ul,
  ol {
    list-style-position: outside;
    margin: 0 0 $bump/2 20px;
  }
}
