/**
 * ----------------------
 * Blooberry Design
 * Molecules - Video
 * ----------------------
 */

&__video {
  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-sm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
