/**
 * ----------------------
 * Blooberry Design
 * Molecules - Footer Row
 * ----------------------
 */

.m-footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include media('<tab') {
    flex-direction: column;
    text-align: center;
    text-align-last: center;
  }

  &__left {
    display: flex;
    flex-direction: column;

    @include media('<sm') {
      width: 100%;
    }

    @include media('<xs') {
      text-align: left;
      text-align-last: left;
    }

    small {
      @include media('<xs') {
        font-size: 0.8em;
      }
      a {
        @include link-reverse;
      }
    }
  }

  &__right {
    @include media('<xs') {
      width: 100%;
    }
  }
}
