/**
 * ----------------------
 * Blooberry Design
 * Molecules - Header row
 * ----------------------
 */

.m-header-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  color: $c-white;
  position: relative;
  width: calc(100% - 250px);
  margin-left: auto;
  float: right;
  padding: 0 $bump/2;

  [data-scrolled='true'] & {
    width: calc(100% - 150px);
  }

  @include media('<md') {
    width: calc(100% - 210px);
  }

  @include media('<sm') {
    // padding: $bump/5 0;
    padding: 0;
    width: 100%;
    float: none;

    [data-scrolled='true'] & {
      width: 100%;
    }
  }

  &--top {
    z-index: 3;
    align-items: stretch;

    @include media('<sm') {
      position: unset;
      flex-direction: row-reverse;
      height: 100%;
    }
  }
  &--bottom {
    z-index: 2;
  }
}
