/**
 * ----------------------
 * Blooberry Design
 * Molecules - News sidebar
 * ----------------------
 */

.m-news-sidebar {
  ul {
    @include li-reset;

    li {
      margin-bottom: 10px;
    }
  }

  a {
    position: relative;

    &::after {
      content: '\00BB';
      display: block;
      position: absolute;
      right: -15px;
      bottom: -5px;
    }
  }

  .sidebar-widget > div {
    margin-bottom: $bump * 1.5;

    @include media('<sm') {
      margin-bottom: $bump;
    }
  }
}
