/**
 * ----------------------
 * Blooberry Design
 * Molecules - WPML
 * ----------------------
 */

// Admin bar
#wp-admin-bar-WPML_ALS-default {
  max-height: 50vh;
  overflow: scroll;
}

.m-wpml {
  margin-left: $bump/2;
  display: flex;
  align-items: center;

  @include media('<sm') {
    margin: 0 $bump/2 0 0;
  }

  .wpml-ls-native {
    text-transform: capitalize;
  }

  .wpml-ls-legacy-dropdown {
    width: auto;
    padding: $bump/2 0;

    .wpml-ls-sub-menu {
      max-height: 50vh;
      overflow: scroll;
      overflow-x: hidden;
      left: auto;
      right: 0;
    }

    li {
      border: 1px solid $c-blue;
      border-color: var(--header-top);
      transition: 0.1s $easing;

      ul {
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-top: 0;
      }
    }

    a {
      background-color: $c-blue;
      background-color: var(--header-top);
      border: 0;
      padding-top: 7px;
      padding-bottom: 7px;
      white-space: nowrap;

      @include media('<sm') {
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;

        // span {
        //   display: none;
        // }
      }

      &:focus,
      &:hover {
        background-color: $c-yellow;
        background-color: var(--nav-accent);
        color: $c-primary;
      }

      &.wpml-ls-item-toggle {
        @include media('<sm') {
          span {
            display: block;
            overflow: hidden;
            width: 22px;
          }
        }
        &:after {
          transition: 0.1s $easing;
        }
      }
    }

    .wpml-ls-current-language:hover {
      border-color: rgba(255, 255, 255, 0.3);
      border-bottom-color: transparent;

      .wpml-ls-sub-menu {
        opacity: 1;
        min-width: 200px;
      }

      & > a,
      & > a:focus {
        background-color: $c-blue;
        background-color: var(--header-top);
        color: $c-white;

        &.wpml-ls-item-toggle:after {
          color: $c-yellow;
          color: var(--nav-accent);
        }
      }
    }

    .wpml-ls-sub-menu {
      border-top: 0;
      opacity: 0;
      transition: 0.1s $easing;
    }
  }

  .wpml-ls-legacy-dropdown .wpml-ls-flag {
    width: 30px !important;
    height: auto !important;
  }
}
