.about-section {
    @extend %main-padding;

    .custom-row {

        @include breakpoint(mobile_portrait) {
            flex-direction: column-reverse;
        }
    }

    h2 {
        margin-bottom: 3rem;
    }

    .about-section-text {
        width: 60%;
        padding-right: 10%;

        @include breakpoint(ipad_portrait) {
            padding-right: 7%;
        }

        @include breakpoint(mobile_portrait) {
            width: 100%;
            padding-right: 0%;
            padding-bottom: 0rem;
        }

        p {
            br {
                display: none;
            }
        }

        h2 {
            margin: 0px;
        }

        .desc {
            margin: 0 0 4rem 0;

            @include breakpoint(mobile) {
                margin: 0 0 2rem 0;
            }
        }
    }

    .about-section-img {
        width: 40%;

        @include breakpoint(mobile_portrait) {
            width: 100%;
            margin-bottom: 3rem;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 30px;
        }
    }
}

.services-section~.about-section {
    padding-bottom: 0px;
}