.contact-section {
    padding: 6rem 0;

    .custom-row {
        align-items: end;

    }

    .contact-section-left {
        width: 50%;
        color: $white;
        font-size: 3.5rem;
        font-weight: 900;

        @include breakpoint(ipad_portrait) {
            font-size: 2.8rem;
            width: 100%;
        }

        @include breakpoint(mobile) {
            width: 100%;
            font-size: 2.5rem;
        }

        p {
            margin: 0px;
            line-height: 4.5rem;

            @include breakpoint(ipad_portrait) {
                line-height: 3.5rem;

                br {
                    display: none;
                }
            }

            @include breakpoint(mobile) {
                line-height: 3rem;

                br {
                    display: none;
                }
            }
        }

        i {
            font-family: $secondaryfontfaimly;
            color: $secondary-color;
            font-size: 5.5rem;
            letter-spacing: 1px;
        }
    }

    .contact-section-right {
        width: 50%;

        @include breakpoint(ipad_portrait) {
            width: 100%;
        }

        @include breakpoint(mobile) {
            width: 100%;
        }

        ul {
            @include ul;

            li {
                margin: 3rem 0 0 0;
                padding: 0px;

                a {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    color: $white;
                    font-size: 1.8rem;
                    font-weight: 600;

                    @include breakpoint(mobile) {
                        font-size: 1.4rem;
                    }

                    i {
                        width: 80px;
                        height: 80px;

                        @include breakpoint(mobile) {
                            width: 60px;
                            height: 60px;
                        }

                        &.email-icon {
                            background: url("#{$assetPath}/white-email-icon.svg") no-repeat center center;
                            background-size: 100%;
                        }

                        &.phone-icon {
                            background: url("#{$assetPath}/phone white.svg") no-repeat center center;
                            background-size: 100%;
                        }
                    }

                    span {
                        width: calc(100% - 80px);
                        padding-left: 30px;

                        @include breakpoint(mobile) {
                            width: calc(100% - 60px);
                            padding-left: 15px;
                        }
                    }

                    &:hover {
                        color: $secondary-color;

                        i {
                            width: 80px;
                            height: 80px;

                            &.email-icon {
                                background: url("#{$assetPath}/gray-email-icon.svg") no-repeat center center;
                                background-size: 100%;
                            }

                            &.phone-icon {
                                background: url("#{$assetPath}/phone grey.svg") no-repeat center center;
                                background-size: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}