.heroslider {

    .slick-slide {
        position: relative;
    }

    .hero-slider-item-img {
        position: relative;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            position: absolute;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 70%, rgba(255, 255, 255, 0) 100%);



        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .hero-slider-item-content {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        display: flex;
        align-items: center;
        z-index: 1;

        h1 {
            margin: 0px;
            padding: 0px;
            @extend %h1;
            font-weight: 700;
            color: $white;
            line-height: 7rem;
            text-shadow: 0px 0px 12px rgb(0 0 0 / 45%);

            @include breakpoint(desktop1) {
                line-height: 5rem;
            }
            @media (min-width: 1500px) and (max-width: 1700px) {
                line-height: 6rem;
            }

            @include breakpoint(desktop2) {
                line-height: 4rem;
            }

            @include breakpoint(desktop3) {
                line-height: 4rem;
            }

            @include breakpoint(ipad_portrait) {
                line-height: 4rem;
            }

            @include breakpoint(mobile) {
                line-height: 3rem;
            }

            strong {
                color: $primary-color;
                display: block;
                font-weight: 700;
            }

            i {
                font-family: $secondaryfontfaimly;
                color: $white;
                padding-left: 10px;

                @include breakpoint(mobile) {
                    padding-left: 3px;
                }
            }
        }

        .sub-hd {
            padding-top: 3rem;
            color: $white;
            @extend %h2;
            font-weight: 700;

            @include breakpoint(desktop1) {
                padding-top: 2rem;
                font-size: 1.9rem;
            }

            @include breakpoint(desktop2) {
                padding-top: 2rem;
                font-size: 1.9rem;
            }

            @include breakpoint(desktop3) {
                padding-top: 2rem;
                font-size: 1.9rem;
            }

            @include breakpoint(ipad_portrait) {
                font-size: 1.9rem;
                padding-top: 2rem;
            }

            @include breakpoint(mobile) {
                font-size: 1.5rem;
                padding-top: 2rem;
            }

            br {
                @include breakpoint(mobile) {
                    display: none;
                }
            }
        }

    }
}

.hero-section {
    position: relative;
    z-index: 1;

    .go-to-bottom {
        position: absolute;
        bottom: -25px;
        left: 0px;
        width: 100%;
        z-index: 999;

        a {
            width: 55px;
            height: 55px;
            border-radius: 100%;
            background:$primary-color url("#{$assetPath}/white-bottom-arrow.svg") no-repeat center center;
            background-size: 17px;
            border: 0px;
            display: inline-block;

            &:hover {
                background:$secondary-color url("#{$assetPath}/white-bottom-arrow.svg") no-repeat center center;
                background-size: 17px;
            }
        }
    }
}