.services-section {
    @extend %main-padding;

    .services-row-item {
        border-bottom: 1px $white solid;
        padding: 5rem 0;

        @include breakpoint(mobile) {
            padding: 3rem 0;
        }

        &:last-child {
            border-bottom: 0px;
            padding-bottom: 0px;
        }

        .services-item-left {
            width: 45%;
            text-align: center;

            @include breakpoint(mobile) {
                width: 100%;
                text-align: left;
            }

            h3 {
                margin: 0px;
                color: $primary-color;
            }

            .services-icon {
                width: 170px;
                margin: 3rem auto auto;

                @include breakpoint(mobile) {
                    margin: 3rem 0;
                    width: 140px;
                }

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }

        .services-item-right {
            width: 55%;
            padding-left: 5%;
            padding-right: 5%;
            font-weight: 400;

            @include breakpoint(mobile) {
                width: 100%;
                padding: 0px;
            }
        }
    }
}