.testimonials-section {
    @extend %main-padding;

    .testimonials-slider {
        margin-top: 6rem;

        @include breakpoint(mobile) {
            margin-top: 4rem;
        }
    }

    .slick-list {
        @include breakpoint(desktop3) {
            width: 85%;
            margin: auto;
        }

        @include breakpoint(ipad_portrait) {
            width: 92%;
            margin: auto;
        }

        @include breakpoint(mobile) {
            width: 82%;
            margin: auto;
        }
    }

    .testimonials-img {
        width: 350px;

        @include breakpoint(desktop3) {
            width: 200px;
        }

        @include breakpoint(ipad_portrait) {
            width: 150px;
        }

        @include breakpoint(mobile) {
            display: none;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 10px;
        }
    }

    .testimonials-content {
        width: calc(100% - 350px);
        padding: 2rem 5%;

        @include breakpoint(desktop3) {
            width: calc(100% - 200px);
            padding: 0rem 0% 1rem 5%;
        }

        @include breakpoint(ipad_portrait) {
            width: calc(100% - 150px);
            padding: 0rem 0% 1rem 5%;
        }

        @include breakpoint(mobile) {
            width: calc(100%);
            padding: 0;
        }

        .testimonials-txt {
            color: $secondary-color;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.4rem;
            min-height: 244px;

            @include breakpoint(desktop3) {
                font-size: 1.4rem;
                line-height: 1.8rem;
                min-height: 137px;
                margin-bottom: 1rem;

            }

            @include breakpoint(ipad_portrait) {
                font-size: 1.3rem;
                line-height: 1.7rem;
                min-height: 137px;
                margin-bottom: 1rem;

            }

            @include breakpoint(mobile) {
                font-size: 1.3rem;
                line-height: 1.7rem;
                min-height: 100px;
            }
        }

        .testimonials-img-mobile {
            display: none;
            width: 100%;
            margin: 2rem 0;

            img {
                width: 100%;
                height: auto;
                display: block;
                border-radius: 10px;
            }

            @include breakpoint(mobile) {
                display: block;

            }
        }

        .testimonials-info {
            strong {
                display: block;
                color: $primary-color;
                font-size: 1.3rem;
                font-weight: 500;
                text-transform: uppercase;

                @include breakpoint(desktop3) {
                    font-size: 1.3rem;

                }

                @include breakpoint(ipad_portrait) {
                    font-size: 1.1rem;

                }

                @include breakpoint(mobile) {
                    font-size: 1.1rem;
                }
            }

            span {
                display: block;
                color: $primary-color;

                @include breakpoint(mobile) {
                    font-size: 1.1rem;
                }
            }
        }
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 1;
        border: 0px;
        padding: 0px;
        text-indent: -9999px;
        width: 55px;
        height: 55px;
        border-radius: 100%;

        @include breakpoint(desktop3) {
            top: calc(50% - 45px);
        }

        @include breakpoint(ipad_portrait) {
            top: 60px;
            width: 40px;
            height: 40px;
        }

        @include breakpoint(mobile) {
            width: 35px;
            height: 35px;
            top: 20%;

        }

        &.slick-prev {
            left: -8rem;
            background:$primary-color url("#{$assetPath}/white-left-arrow.svg") no-repeat center center;
            background-size: 17px;

            @include breakpoint(desktop1) {
                left: -5rem;
            }

            @include breakpoint(desktop2) {
                left: -5rem;
            }

            @include breakpoint(desktop3) {
                left: -1rem;

            }

            @include breakpoint(ipad_portrait) {
                left: -2rem;

            }

            @include breakpoint(mobile) {
                left: -1rem;

            }

            &:hover {
                background:$secondary-color url("#{$assetPath}/white-left-arrow.svg") no-repeat center center;
                background-size: 17px;
            }
        }

        &.slick-next {
            right: -8rem;
            background:$primary-color url("#{$assetPath}/white-right-arrow.svg") no-repeat center center;
            background-size: 17px;

            @include breakpoint(desktop1) {
                right: -5rem;
            }

            @include breakpoint(desktop2) {
                right: -5rem;
            }

            @include breakpoint(desktop3) {
                right: -1rem;
            }

            @include breakpoint(ipad_portrait) {
                right: -2rem;

            }

            @include breakpoint(mobile) {
                right: -1rem;

            }

            &:hover {
                background:$secondary-color url("#{$assetPath}/white-right-arrow.svg") no-repeat center center;
                background-size: 17px;
            }
        }
    }
}