<section class="contact-page">
	<div class="container">
		<div class="custom-row">
			<div class="left-col">
				<h2 class="hd">{{post.contact_heading}}</h2>
				<div class="desc">
					{{post.contact_content}}
				</div>
			</div>
			<div class="right-col">
				<div class="contact-section-content">
					<ul class="contact-icons">
						<li>
							<a class="tel-icon" href="tel:{{post.telephone}}">{{post.telephone}}</a>
						</li>
						<li>
							<a class="mail-icon" href="mailt0:{{post.email}}">{{post.email}}</a>
						</li>
						<li>
							<a class="insta-icon" href="{{post.instagram_url}}">{{post.instagram_title}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
