{% if post.hero_image %}
	<section class="page-hero-section">
		<div class="page-hero-image" style="background-image:url({{get_image(post.hero_image).src('page_hero_img')}}) ;"></div>
		<div class="container">
			<h1>{{post.hero_title?post.hero_title:post.post_title}}</h1>
		</div>
	</section>
{% endif %}
