


                <div class="container-fluid">
                    <div class="custom-row">
                        <div class="footer-logo">
						<a href="{{site.link}}">
				<img src="{{theme.link}}/assets/img/Glorious Gardens vector RGB.svg" alt="" />
			</a>
                        </div>
                        <div class="footer-right">
                            <div class="footer-text">
                               				<div class="footer-text-top"><a href="{{site.link}}/privacy-policy">privacy policy</a></div>
				<div class="footer-text-btm">website by <a href="https://blooberrycreative.co.uk/">@blooberrycreative</a></div>

                            </div>
                        </div>
                    </div>
                </div>
