.btn-set--left {
    display: flex;
    justify-content: left;
}

.btn-set--center {
    display: flex;
    justify-content: center;
}

.btn-set--right {
    display: flex;
    justify-content: flex-end;
   
}
.primary-btn{
   color: $text-color;
   @extend %button-font-size;
   font-weight: 600; 
   text-transform: uppercase;
   display: flex;
   align-items: center;
   i{
    width: 40px;
    height: 40px;
    background-color: $secondary-color;
    border-radius: 100px;
    color: $white;
    display: flex;
   align-items: center;
   justify-content: center;
    text-align: center;
    font-style: normal;
    margin-left: 16px;
   }
   &:hover{
    color: $primary-color;
    i{
        background-color: $secondary-color;
    }
   }
}
.primary-bg-btn{
    background-color: $primary-color;
    color: $white;
    border: 2px $white solid;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    display: inline-block;
    cursor: pointer;
    &:hover{
        background-color: $secondary-color;
        color: $white;
    }  
}

.white-bg-btn{
    background-color: $white;
    color: $secondary-color;
    border: 2px $white solid;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 2rem;
    display: inline-block;
    cursor: pointer;
    @include breakpoint(mobile){
        font-size: 1.1rem;
    }
    &:hover{
        background-color: transparent;
        color: $white;
        a{
            color: $white;   
        }
    }
 
}

.secondary-bg-btn{
    background-color: $secondary-color;
    color: $white;
    border: 2px $white solid;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    display: inline-block;
    cursor: pointer;
    &:hover{
        background-color: $primary-color;
        color: $white;
    }  
}
.book-now-btn{
    background-color: $white;
    color: $secondary-color;
    border: 2px $white solid;
    font-size: 2rem;
    font-weight: 800;
    padding: 1rem 2rem;
    display: inline-block;
    cursor: pointer;
    @include breakpoint(mobile){
        font-size: 1.3rem;
    }
    &:hover{
        background-color: transparent;
        color: $white;
    }
}

.back-btn{
    background-color: $secondary-color;
    color: $white;
    border: 2px $white solid;
    font-size: 1.6rem;
    font-weight: 800;
    padding: 1rem 2rem;
    display: inline-block;
    cursor: pointer;
    @include breakpoint(mobile){
        font-size: 1.1rem;
    }
    &:hover{
        background-color: $primary-color;
        color: $white;
    }
}

.simple-link{
    a{
        display: inline-block;
        color: $white;
        font-size: 1.7rem;
        @include breakpoint(mobile){
            font-size: 1.1rem;
        }
        &:hover{
            color: $gray-color;
        }
    }
}