// This list is main colors

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$black:    #000 !default;
$white:    #fff !default;

$primary-color: #32bbae ;
$secondary-color: #fd7622 ;
$gray-color: #33414d; 
$text-color: #33414d;  
$mix-blend-color:#32414e8c;


%primary-gradient{
    background: linear-gradient(to right,  rgba(50,187,174,1) 50%,rgba(54,171,106,1) 100%);
    color: $white;
}

%secondary-gradient{
    background: linear-gradient(to right,  rgba(253,118,34,1) 50%,rgba(250,163,70,1) 100%);
   color: $white;
}

%tran-gray{
    // background: rgba(51, 65, 77, 0.8);  
    background: rgba(0, 0, 0, 0.6);  
}
