%h1{
    font-size: 8rem;
    line-height: 8.5rem;
    @include breakpoint(desktop1){
        font-size: 7rem;
        line-height: 7.5rem;
    }
    
    @include breakpoint(desktop2){
        font-size: 6rem;
        line-height: 6rem;
    }
    @include breakpoint(desktop3){
        line-height: 5.4rem;
        font-size: 5rem;
    }
    @include breakpoint(ipad_portrait){
        line-height: 5.4rem;
        font-size: 4.6rem;
    }
    @include breakpoint(mobile_landscape){
        font-size: 3.6rem;
        line-height: 3.7rem;
    }
    @include breakpoint(mobile_portrait){
        font-size: 2.6rem;
        line-height: 3.3rem;
    }
}

%h2{
    font-size: 4.3rem;
    font-weight: 800;
    color: $primary-color;
    @include breakpoint(desktop3){
        font-size: 2.6rem;
    }
    @include breakpoint(ipad_portrait) {
        font-size: 2.4rem;
      }
      @include breakpoint(mobile_landscape){
        font-size: 2.4rem;
    }
    @include breakpoint(mobile_portrait){
        font-size: 1.8rem;
    }
}

%h3{
    font-size:2.5rem;
    @include breakpoint(desktop3){
        font-size: 2.1rem;
    }
    @include breakpoint(ipad_portrait) {
        font-size: 1.8rem;
      }
      @include breakpoint(mobile_landscape){
        font-size: 1.6rem;
    }
    @include breakpoint(mobile_portrait){
        font-size: 1.4rem;
    }

}

h2{
    @extend %h2;
    font-weight: 800;
    
    &.line{
        position: relative;
        padding-bottom: 2rem;
        margin: 0px;
        text-transform: lowercase;
        &::before {
            content: "";
            width: 200vh;
            height: 4px;
            background: $secondary-color;
            position: absolute;
            bottom: 0px;
            left: -200vh;
        }
        &::after {
            content: "";
            width: 177px;
            height: 4px;
            background: $secondary-color;
            position: absolute;
            bottom: 0px;
            left: 0px;
        }
    }
}

%case-size{
    font-size:2rem;
    @include breakpoint(desktop1){
        font-size: 1.8rem;
    }
    @include breakpoint(desktop2){
        font-size: 1.6rem;
    }
    @include breakpoint(desktop3){
        font-size: 1.5rem;
    }
    @include breakpoint(ipad_landscape) {
        font-size: 1.5rem;
      }
    @include breakpoint(ipad_portrait) {
        font-size: 1.4rem;
      }
      @include breakpoint(mobile_landscape){
        font-size: 1.4rem;
    }
    @include breakpoint(mobile_portrait){
        font-size: 1.2rem;
    }
}

%primary-gradient{
    .primary-btn{
        color: $white;
        &:hover{
            color: $gray-color; 
            i{
                background-color: $white;
                color: $secondary-color;
            }
        }
    }
    h2{
        color: $white;
        &.line{
            &::before,
            &::after 
            {
                background: $white;
            }  
        }
    } 
}

.gray-bg{

    h2{
        color: $white;
        &.line{
            &::before,
            &::after 
            {
                background: $primary-color;
            }  
        }
    } 
}