a,
button {
  cursor: pointer;
}

// Base Font faimly

$primaryfontfaimly: "Montserrat",sans-serif;

// Base font size

%font-size-base {
  font-size: 1.3rem;
  @include breakpoint(desktop3){
    font-size: 18px;
  }
  @include breakpoint(ipad_portrait){
    font-size: 18px;
  }
  
  @include breakpoint(mobile){
    font-size: 1rem;
  }
}

%font-line-height-base {
  line-height: 1.9rem;
  @include breakpoint(desktop3){
    line-height: 1.6rem;
  }
  @include breakpoint(ipad){
    line-height: 1.6rem;
  }

@include breakpoint(mobile){
    line-height: 1.5rem;
  }
}

%button-font-size {
  font-size: 1.1rem;
  @include breakpoint(mobile){
    font-size: 1rem;
  }
}

%mainMenuFont {
  font-size: 1.2rem;
}

%mainSubMenuFont {
  font-size: 1.1rem;
}

// Main font size



// Footer font size

$footerTxtFont: 1rem;



// Main line height
$line-height: 2.1rem;

// Main padding
$main-pd: 5rem;

%main-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
  @include breakpoint(ipad_portrait) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  @include breakpoint(mobile) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

%main-padding-top {
  padding-top: 6rem;
  @include breakpoint(ipad_portrait) {
    padding-top: 4rem;
  }
  @include breakpoint(mobile) {
    padding-top: 4rem;
  }
}

%main-padding-btm {
  padding-bottom: 6rem;
  @include breakpoint(ipad_portrait) {
    padding-bottom: 4rem;
  }
  @include breakpoint(mobile) {
    padding-bottom: 4rem;
  }
}

// Set Image Path
$assetPath: "../img";
$assetIconsPath: "../img/icons";
$fontsPath: "../webfonts";

// Button Font Size