@mixin breakpoint($min: null, $max: null) {
  @if $min and $max {
    @media (min-width: #{$min}) and (max-width: #{$max}) {
      @content;
    }
  } @else if $min {
    @media (min-width: #{$min}) {
      @content;
    }
  } @else if $max {
    @media (max-width: #{$max}) {
      @content;
    }
  } @else {
    @warn "No min or max value provided for the breakpoint mixin.";
  }
}




// @mixin breakpoint($media) {
//   @if $media==laptop_1400 {
//     @media (min-width: 1400px) and (max-width: 1599px) {
//       @content;
//     }
//   }

//   @else if $media==laptop_1300 {
//     @media (min-width: 1300px) and (max-width: 1399px) {
//       @content;
//     }
//   }

//   @else if $media==laptop_1200 {
//     @media (min-width: 1200px) and (max-width: 1299px) {
//       @content;
//     }
//   }

//   @else if $media==laptop_1100 {
//     @media (min-width: 1025px) and (max-width: 1199px) {
//       @content;
//     }
//   }

//   @else if $media==ipad_landscape {
//     @media (min-width: 992px) and (max-width: 1024px) {
//       @content;
//     }
//   }

//   @else if $media==ipad_portrait {
//     @media (min-width: 768px) and (max-width: 991px) {
//       @content;
//     }
//   }


//   @else if $media==mobile_landscape {
//     @media (min-width: 568px) and (max-width: 767px) {
//       @content;
//     }
//   }

//   @else if $media==mobile_portrait {
//     @media (min-width: 320px) and (max-width: 567px) { 
//       @content;
//     }
//   }
  

//   @else if $media==mobile {
//     @media (min-width: 320px) and (max-width: 767px) {
//       @content;
//     }
//   }

//   @else if $media==menu-des {
//     @media (min-width: 320px) and (max-width: 1024px) {
//       @content;
//     }
//   }


// }