@use "../helper/breakpoint" as *;

@mixin font-size-sm {
  font-size: 16px;
}

@mixin font-size-md {
  font-size: 20px;
  @include breakpoint(768px, 1200px) {
    font-size: 19px;
  }
  @include breakpoint(320px, 767px) {
    font-size: 16px;
  }
}

@mixin font-size-lg {
  font-size: 24px;
  @include breakpoint(768px, 1200px) {
    font-size: 21px;
  }
  @include breakpoint(320px, 767px) {
    font-size: 20px;
  }
}

@mixin font-size-xl {
  font-size: 30px;
  @include breakpoint(768px, 1200px) {
    font-size: 26px;
  }
  @include breakpoint(320px, 767px) {
    font-size: 24px;
  }
}

@mixin font-size-xxl {
  font-size: 42px;
  @include breakpoint(768px, 1200px) {
    font-size: 34px;
  }
  @include breakpoint(320px, 767px) {
    font-size: 30px;
  }
}
