.about-us-info{
    @extend %main-padding;
    @include breakpoint(ipad_portrait){
        padding-left: 4rem;
        padding-right: 4rem;
    }
    @include breakpoint(mobile_landscape){
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .about-us-info-left{
        width: 50%;
        @include breakpoint(ipad_portrait){
            width: 100%;
        }
        @include breakpoint(mobile){
            width: 100%;
        }
        h2{
            margin: 0px;
            color: $primary-color;
            
        }
    }
    .about-us-info-right{
        width: 50%;
        padding-left: 5%;
        @include breakpoint(ipad_portrait){
            width: 100%;
            padding-left: 0%;
            padding-top: 2rem;
        }
        @include breakpoint(mobile){
            width: 100%;
            padding-left: 0%;
            padding-top: 2rem;
        }
        .desc--box{
            margin-bottom: 3rem;
        }
    }
}