.photo-gallery-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;

    @include breakpoint(mobile_portrait) {
        margin-left: 0px;
        margin-right: 0px;
    }

    .photo-gallery-box {
        height: 500px;
        overflow: hidden;
        margin: 5px;
      
        

        @include breakpoint(ipad_air) {
            height: 350px;
        }

        @include breakpoint(ipad_landscape) {
            height: 300px;
        }

        @include breakpoint(ipad_portrait) {
            height: 250px;
        }
        @include breakpoint(mobile_landscape) {
            height: 220px;
        }

        @include breakpoint(mobile_portrait) {
            background-image: none !important;
            height: auto;
        }

        // Row 1 Start
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10),
        &:nth-child(11),
        &:nth-child(13),
        &:nth-child(14),
        &:nth-child(15),
        &:nth-child(17),
        &:nth-child(18),
        &:nth-child(19),
        &:nth-child(20),
        &:nth-child(21),
        &:nth-child(23),
        &:nth-child(24),
        &:nth-child(25),
        &:nth-child(27),
        &:nth-child(28),
        &:nth-child(30),
        &:nth-child(31),
        &:nth-child(32),
        &:nth-child(33),
        &:nth-child(36),
        &:nth-child(37),
        &:nth-child(38),
        &:nth-child(39),
        &:nth-child(41),
        &:nth-child(42),
        &:nth-child(44),
        &:nth-child(45),
        &:nth-child(46),
        &:nth-child(47),
        &:nth-child(50),
        &:nth-child(51),
        &:nth-child(52),
        &:nth-child(53),
        &:nth-child(55),
        &:nth-child(56),
        &:nth-child(58),
        &:nth-child(59),
        &:nth-child(60),
        &:nth-child(62),
        &:nth-child(63),
        &:nth-child(65),
        &:nth-child(66),
        &:nth-child(67),
        &:nth-child(69),
        &:nth-child(70),
        &:nth-child(72),
        &:nth-child(74),
        &:nth-child(75),
        &:nth-child(76),
        &:nth-child(77),
        &:nth-child(80)
        
        {
            width: calc(33.33% - 10px);

            @include breakpoint(mobile_portrait) {
                width: calc(50% - 10px);
            }
        }

        &:nth-child(2),
        &:nth-child(6),
        &:nth-child(12),
        &:nth-child(16),
        &:nth-child(22),
        &:nth-child(26),
        &:nth-child(29),
        &:nth-child(34),
        &:nth-child(35),
        &:nth-child(40),
        &:nth-child(43),
        &:nth-child(48),
        &:nth-child(49),
        &:nth-child(54),
        &:nth-child(57),
        &:nth-child(61),
        &:nth-child(64),
        &:nth-child(68),
        &:nth-child(71),
        &:nth-child(73),
        &:nth-child(78),
        &:nth-child(79)
        {
            width: calc(66.66% - 10px);

            @include breakpoint(mobile_portrait) {
                width: calc(50% - 10px);
            }
        }

        // Row 1 End


        a {
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
            transition: 0.5s all ease-in-out;

            img {
                height: 100%;
                opacity: 0;
                width: 100%;
                display: block;

                @include breakpoint(mobile_portrait) {
                    opacity: 1;
                }
            }

            &:hover{
                transform: scale(1.1);
            }
        }
       
    }
}

.fancybox__slide.has-image>.fancybox__content {
    background: $white;
    padding: 1rem 1rem 2rem 1rem;
    width: 100% !important;
    height: 700px !important;
    @media (min-width: 1024px) and (max-width: 1250) {
        height: 650px !important;
      }
    @media (min-width: 768px) and (max-width: 1023px) {
        height: 500px !important;
      }
      @media (min-width: 568px) and (max-width: 767px) {
        height: 380px !important;
      }
      @media (min-width: 320px) and (max-width: 567px) {
        height: 390px !important;
      }
}
.fancybox__carousel{
    width: 1200px;
    margin: auto;
    @media (min-width: 320px) and (max-width: 1260px) {
        width: 100%;
      }
     
}
.fancybox__viewport {
    width: 85%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    @media (min-width: 320px) and (max-width: 990px) {
        width: 75%;
      }
}
.fb-caption-overlay {
    background: $white;
    position: relative;
    bottom: 0px;
    left: 0px;
    word-wrap: break-word;
    width: 100%;
    padding: 2rem 2rem 0rem 2rem;



    @include breakpoint(mobile) {
        padding: 1rem 1rem 0 1rem;
        position: relative !important;
    }

    h4 {
        font-family: $primaryfontfaimly;
        font-size: 20px;
        font-weight: 400;
        color: $secondary-color;
        margin: 0;

        @include breakpoint(ipad_portrait) {
            font-size: 18px;
        }

        @include breakpoint(mobile) {
            font-size: 18px;
        }
    }


}


.is-horizontal .fancybox__nav .f-button.is-next {
    @include breakpoint(mobile_portrait) {
        right: 0 !important;
        top: 44% !important;
    }
}

.is-horizontal .fancybox__nav .f-button.is-prev {
    @include breakpoint(mobile_portrait) {
        left: 0 !important;
        top: 44% !important;
    }
}

.is-compact .fancybox__content>.f-button.is-close-btn {
    background-color: #fff;
    border-radius: 0;
    color: $primary-color;
    top: 0rem;
    right: 0rem;
    opacity: 1 !important;
    width: 45px;
    height: 45px;

    svg {
        width: 30px;
        height: 30px
    }
}

.fancybox-image {
    object-fit: cover;
}
.fancybox__backdrop{
    // background: url("#{$assetPath}/bggg.png") repeat center center;
    background-color: $secondary-color;
    opacity: 0.90;
   
   
}
.f-button:hover:not([disabled]){
    background-color: transparent;
}
.fancybox__nav {
    button {
        svg {
            color: $primary-color;
            width: 50px;
            height: 50px;
        }
    }
}