.home-page-slider-section {
    position: relative;
    padding: 0px;
    background-color: $white;
    border-bottom: 50px $light-gray solid;

    .arrow-go-btm{
        position: absolute;
        left: calc(50% - 25px);
        bottom: 20px;
        width: 50px;
        height: 50px;
        background: transparent;
        border: 2px $white solid;
        border-radius: 50px;
        cursor: pointer;
        img{
            width: 100%;
            display: block;
            margin-top: 1px;
        }
    }

    .slick-list {
        overflow: visible !important;
    }
    .slick-arrow{
        display: none !important;
    }

    .slick-dots {
        position: absolute;
        bottom: -50px;
        right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin: 2rem 0 0 0;
        padding: 0px;
        display: none !important;

       li {
            margin: 0 0 0 10px;
            padding: 0px;

            button {
                background: $primary-color;
                cursor: pointer;
                border: 1px $white solid;
                border-radius: 80px;
                text-indent: -9999px;
                display: block;
                width: 16px;
                padding: 0;
                height: 16px;
            }

            &.slick-active button {
                background: $primary-color;
            }
        }
    }

    .slider-img {
        width: 100%;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 60%;
            left: 0px;
            top: 0px;
            @extend %img-gradient-bg;
        }
    }

    .home-page-content {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0px;

        .home-page-content-in {
            width: calc(100% - 10rem);
            margin-left: auto;
            margin-right: auto;
            height: 100%;
            display: flex;
            align-items: center;
            @include breakpoint(desktop-sm){
                width: calc(90%);
                margin: 0px; 
            }
            @include breakpoint(ipad){
                width: calc(90%);
                margin: 0px;
            }
            @include breakpoint(mobile){
                width: calc(90%);
                margin: 0px;
            }

            .home-page-content-box {
                padding: 4rem 8rem 4rem 20rem;
               
                margin-left: -10rem;
                position: relative;
                
                
                @include breakpoint(desktop-sm){
                    margin-left: 0;
                    padding: 4rem;
                }
                @include breakpoint(ipad){
                    margin-left: 0;
                    padding: 3rem;
                }
                @include breakpoint(mobile){
                    margin-left: 0;
                    padding: 2rem;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    background:$hd-bg-color;
                    mix-blend-mode: multiply;
                    @extend %right-btm-conr;
                }
                .home-page-content-box-in{
                    position: relative;
                    z-index: 1;
                }

                &::after {
                    content: '';
                    @extend %primary-color-haf-brdr;
                }

                h1 {
                    margin: 0px;
                    padding: 0px;
                    color: $white;

                    &.primary-color-h1 {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}