.pagination-block{
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        li{
            margin: 0;
            padding: 0px;
            font-family: $primaryfontfaimly;
            font-weight: 700;
            a,
            button,
            span.page-number
            {
                margin: 0 0 0 1rem; 
            }
            a{
                display: block;
                color: $secondary-color;
            }
            &.current{
                color: $primary-color;
                span.dots{
                    display: none;
                }
            }

        }
    }
}

.news-post-pager{
    border-top: 1px $primary-color solid;
    margin-top: 2rem;
    padding: 1rem;
    @include breakpoint(mobile_portrait){
        padding: 1rem 0;

    }
    h2{
        display: none;
    }
    .nav-links{
        display: flex;
        align-items: center;
        justify-content: center;
        .nav-previous{
            margin-right: 1.5rem;
        }
        .nav-next{
            margin-left: 1.5rem;
        }
        a{
            color: $secondary-color;
            &:hover{
                color: $primary-color;
            }
            
        }
    }
}