
.page-feature-img{
    position: relative;
    &::after {
        content: '';
       @extend %primary-color-haf-brdr;
        
    }
    img{
        width: 100%;
        height: auto;
        display: block;
    }
}

.gallery-link{
    position: relative;
    background: $secondary-color;
    padding: 2rem 2rem;
    margin-bottom: 4rem;
    @include breakpoint(ipad_portrait){
        padding: 3rem 2rem;
    }
    @include breakpoint(mobile_landscape){
        padding: 2rem 1rem;
        margin-bottom: 3rem;
    }
    @include breakpoint(mobile_portrait){
        padding: 1rem 0.5rem;
        margin-bottom: 3rem;
    }
    &::after {
        content: '';
        position: absolute;
        width: 150px;
        height: 150px;
        right: -15px;
        top: -15px;
        background: transparent;
        border-top: 15px $primary-color solid;
        border-right: 15px $primary-color solid;
        @include breakpoint(mobile_landscape){
            width: 133px;
            height: 133px;
        }
        @include breakpoint(mobile_portrait){
            width: 155px;
            height: 155px;
        }
    }
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li{
            margin: 0px;
            padding:2rem 2rem;
            @include breakpoint(ipad_portrait){
                padding:2rem 2rem 2rem 0rem;
            }
            @include breakpoint(mobile){
                padding:1rem;
            }
            a{
                display: block;
                color: $white;
                font-size: 1.7rem;
                font-weight: 600;
                @include breakpoint(ipad_landscape){
                    font-size: 1.4rem;
                }
                @include breakpoint(ipad_portrait){
                    font-size: 1.3rem;
                }
                @include breakpoint(mobile){
                    font-size: 1.2rem;
                }
                &.active{
                    color: $primary-color;
                }
                &:hover{
                    color: $primary-color;
                }
            }

        }
    }
}