.page-hero-image-section{
    position: relative;
    padding: 0px;
    background-color: $white;
    .page-hero-content-outer {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        @include breakpoint(ipad_portrait){
            position: relative;
            display: block;
        }
        @include breakpoint(mobile){
            position: relative;
            display: block;
        }
        .page-hero-content{
            width: 582px;
            @include breakpoint(desktop-sm) {
                width: 525px;
            }
            @include breakpoint(ipad_landscape) {
                width: 450px;
            }
            @include breakpoint(ipad_portrait){
                width: 100%;
            }
            @include breakpoint(mobile_landscape){
                width: 100%;
            }
            @include breakpoint(mobile_portrait){
                width: 100%;
            }
            
            h1{
                background: $white;
                padding: 2rem 1rem 2rem 0;
                margin: 0px;
                position: relative;
                min-height: 170px;
                display: flex;
                align-items: center;
                @include breakpoint(ipad_portrait){
                    padding: 2rem 0rem 2rem 0rem;
                    min-height: 50px;
                }
                @include breakpoint(mobile){
                    padding: 2rem 0rem 2rem 0rem;
                    min-height: 50px;
                    font-size: 2.3rem;
                 } 
                // &::after{
                //     content: '';
                //     position: absolute;
                //     left: 0px;
                //     bottom: -5px;
                //     background: $primary-color;
                //     width: 512px;
                //     height: 5px;
                //     @include breakpoint(desktop) {
                //         width: 521px;
                //     }
                //     @include breakpoint(desktop-md) {
                //         width: 457px;
                //     }
                //     @include breakpoint(desktop-sm){
                //         width: 441px;
                //     }
                //     @include breakpoint(ipad_landscape){
                //         width: 346px;
                //     }
                //     @include breakpoint(ipad_portrait){
                //         width: 275px;
                //     }
                //     @include breakpoint(mobile_landscape){
                //         width: 110%;
                //         left: -10%;
                //     }
                //     @include breakpoint(mobile_portrait){
                //         width: 115%;
                //         left: -8%;
                //     }
                // }
            }
            .btn-set--left{
                margin-top: 3rem;
                @include breakpoint(mobile_landscape){
                    margin-top: 1.5rem;
                }
                @include breakpoint(mobile_portrait){
                    margin-top: 2rem;
                }
            }
        }
    }

    .page-hero-image {
        width: 60%;
        margin-left: auto;
        @include breakpoint(ipad_portrait){
            width: 100%;
            margin-left: 0;
        }
        @include breakpoint(mobile){
            width: 100%;
            margin-left: 0;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}


.full-bg-hero{
    
    .page-hero-content-outer {
        @include breakpoint(ipad_portrait){
            background: $primary-color;
        }
        @include breakpoint(mobile){
            background: $primary-color;
        }
       .page-hero-content{
          h1{
                background: $primary-color;
                color: $white;
                &::after{
                    background: transparent;
                    
                }
                &::before{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 106vh;
                    background: $primary-color;
                    left: -106vh;
                    top: 0;
                    @include breakpoint(ipad_portrait){
                        display: none;
                    }
                    @include breakpoint(mobile){
                        display: none;
                    }
                }
            }
           
        }
    } 
}