.sm-image-text-section{
    @extend %main-padding;
    @include breakpoint(allIpad){
        padding-left: 2rem;
        padding-right: 2rem
     }
    @include breakpoint(mobile_landscape){
       padding-left: 2rem;
       padding-right: 2rem
    }
    .sm-image-text-section-content{
        @extend %main-padding-btm;
        display: flex;
        @include breakpoint(allIpad){
            flex-wrap: wrap;
        }
        @include breakpoint(mobile){
            flex-wrap: wrap;
        }
        &:last-child{
            padding-bottom: 0;
        }
        
        
    }
    .sm-image-text-sec-img{
        width: 45%;
        margin-top: 5rem;
        position: relative;
        z-index: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        @extend %right-btm-conr;
        @include breakpoint(allIpad){
            height: 400px; 
        }
        @include breakpoint(mobile){
            height: 300px;
        }
        picture{
            display: none;
           
        }
        @include breakpoint(allIpad){
            width: 80%;
            margin-left: 0;
            padding-top: 0rem;
        }
        @include breakpoint(mobile_landscape){
            width: 80%;
            margin-left: 0;
            padding-top: 0rem;
        }
        @include breakpoint(mobile_portrait){
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 0rem;
        }
        img{
            width: 100%;
            height: 100%;
            @extend %right-btm-conr;

        }
    }
    .sm-image-text-sec-content{
        width: 62%;
        margin-left: -7rem;
        @include breakpoint(allIpad){
            width: 100%;
            padding: 0rem 0rem 0rem 0rem;
            margin-left: 4rem;
            margin-top: -4rem;
        }
        @include breakpoint(mobile_landscape){
            width: 100%;
            padding: 0rem 0rem 0rem 0rem;
            margin-left: 4rem;
            margin-top: -4rem;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
            padding: 0rem 0rem 0rem 0rem;
            margin-left: 0rem;
            margin-top: -4rem;
        }
        .sm-image-text-sec-content-in{
            padding: 2rem 6rem 5rem 12rem;
            @extend %right-btm-conr;
            border: 1px $primary-color solid;
            margin-bottom: 5rem;
            display: flex;
            min-height: 500px;
            align-items: center;
            @include breakpoint(allIpad){
                padding: 4rem 4rem 4rem 4rem;
                min-height: 100px;
            }
            @include breakpoint(mobile_landscape){
                padding: 4rem 2rem 2rem 2rem;
                min-height: 100px;
            }
            @include breakpoint(mobile_portrait){
                padding: 4rem 2rem 2rem 2rem;
                min-height: 100px;
            }
        }
        
        
        .desc--box{
            margin-top: 1rem;
        }
        .btn-set--left{
            margin-top: 1.5rem;
        }
    }
    .secondary-post-row{
        flex-direction: row-reverse;
        @include breakpoint(allIpad){
            flex-direction: row;
        }
        @include breakpoint(mobile_landscape){
            flex-direction: row;
        }
        @include breakpoint(mobile_portrait){
            flex-direction: row;
        }
        .btn-set--right{
            padding-right: 12rem;
        }
        .sm-image-text-sec-content{
            margin-left: 0rem;
            @include breakpoint(allIpad){
                margin-left: 4rem;
            }
            @include breakpoint(mobile_landscape){
                margin-left: 4rem;
            }
            @include breakpoint(mobile_portrait){
                margin-left: 0rem;
            }
            .sm-image-text-sec-content-in{
                padding: 2rem 12rem 5rem 6rem;
                @include breakpoint(allIpad){
                    padding: 4rem 4rem 4rem 4rem;
                }
                @include breakpoint(mobile){
                    padding: 4rem 2rem 2rem 2rem;
                }
            }
        }
        .sm-image-text-sec-img{
            margin-left: -7rem;
            @include breakpoint(allIpad){
                margin-left: 0rem;
            }
            @include breakpoint(mobile_landscape){
                margin-left: 0rem;
            }
            @include breakpoint(mobile_portrait){
                margin-left: auto;
            }
        }
    }
}
.sm-image-text-section.secondary-bg ~ .sm-image-text-section.secondary-bg {
    @include breakpoint(ipad){
        padding: 0px;
    }
    @include breakpoint(mobile){
        padding: 0px;
    }
   
}

