:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
  }

.splash-section {
    background: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9;
    display: none;

    .splash-logo {
        width: 300px;
        display: none;
        @include breakpoint(ipad){
            width: 250px;
        }
        @include breakpoint(mobile){
            width: 150px;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
           
        }
        
    }
}

.preloader-show{
    .splash-section { display: flex;
    }
}
.show__img{
  display: block !important;
}

.preloader-img{
  display: block !important;

  img{
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.5s  linear;
    animation: load8 1.5s  linear;
  }
}

// @-webkit-keyframes fadeOutTopLeft {
//   from {
//     opacity: 1;
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
    
//   }
//   to {
//     opacity: 0;
//     -webkit-transform: translate3d(-100%, -100%, 0);
//     transform: translate3d(-100%, -100%, 0);
//   }
// }
// @keyframes fadeOutTopLeft {
//   from {
//     opacity: 1;
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }
//   to {
//     opacity: 0;
//     -webkit-transform: translate3d(-100%, -100%, 0);
//     transform: translate3d(-100%, -100%, 0);
//   }
// }
// .animate__fadeOutTopLeft {
//   -webkit-animation-name: fadeOutTopLeft;
//   animation-name: fadeOutTopLeft;
// }

.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }



  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(130deg);
      transform: rotate(130deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(130deg);
      transform: rotate(130deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  