.tagcloud-section{
    @extend %main-padding;
    .custom-row{
        justify-content: center;
    }
    h1 , h2, h3, h4, h5, h6{
        margin: 1rem 4rem;
        padding: 0px;
        color: $white;
        @include breakpoint(mobile_portrait){
            margin: 1rem ;
        }
    }

    .white-text{
        color: $white;
    }
    .green-text{
        color: $primary-color;
    }
   
    .extra-large-text{
        font-size: 6rem;
        
        @include breakpoint(ipad){
            font-size: 4rem;
        }
        @include breakpoint(mobile){
            font-size: 3rem;
        }
    }
    .large-text{
        font-size: 4rem;
        @include breakpoint(ipad){
            font-size: 3rem;
        }
        @include breakpoint(mobile){
            font-size: 2.5rem;
        }
    }
    .mid-text{
        font-size: 2.7rem;
        @include breakpoint(mobile){
            font-size: 1.5rem;
        }
    }
    .small-text{
        font-size: 2.3rem;
        @include breakpoint(mobile){
            font-size: 1.2rem;
        }
    }
}