.testimonials-section {
    @extend %main-padding;

    .testimonials-section-content {
        margin: auto;

        strong {

            font-weight: 600;
            color: $white;
            font-size: 1.6rem;
            text-align: left;
            display: inline-block;
            font-style: italic;
            padding-left: 80px;
            padding-right: 70px;
            position: relative;
            padding-bottom: 2rem;
            line-height: 2rem;
           
            @include breakpoint(ipad_portrait){
                font-size: 1.5rem;
                line-height: 1.8rem;
            }
            @include breakpoint(mobile_landscape){
                font-size: 1.5rem;
                line-height: 1.8rem;
            }
            @include breakpoint(mobile_portrait){
                font-size: 1.2rem;
                line-height: 1.5rem;
                padding-left: 45px;
                padding-right: 0px;
            }

            &::after,
            &::before {
                content: '';
                width: 55px;
                height: 55px;
                position: absolute;
                @include breakpoint(ipad_portrait){
                    width: 45px;
                    height: 45px;
                }
                @include breakpoint(mobile_portrait){
                    width: 30px;
                    height: 30px;
                }
            }

            &::after {
                background: url("#{$assetIconsPath}/Quotation mark top.svg") no-repeat top left;
                background-size: 100%;
                left: 0px;
                top: 0px;

            }

            &::before {
                background: url("#{$assetIconsPath}/Quotation mark btm.svg") no-repeat top left;
                background-size: 100%;
                right: 0px;
                bottom: 0px;
            }

        
        }

        i {
            display: block;
            text-align: right;
            font-size: 1.3rem;
            margin-top: 2rem;
            font-style: normal;
            font-weight: 500;
            color: $white;
            text-transform: uppercase;
           
            @include breakpoint(ipad_portrait){
                font-size: 1.2rem;
            }
            @include breakpoint(mobile_landscape){
                font-size: 1.2rem;
            }
            @include breakpoint(mobile_portrait){
                font-size: 1rem;
            }
        }
    }
}