.transformations-col-section{
    @extend %main-padding;
    h3{
        margin: 0px;
    }
    .transformations-col-row{
        display: flex;
        margin-left: -2rem;
        margin-right: -2rem;
        flex-wrap: wrap;
        @include breakpoint(allIpad){
            padding-left: 6rem;
            padding-right: 6rem
         }
        @include breakpoint(mobile_landscape){
           padding-left: 4rem;
           padding-right: 4rem
        }

      
       
        .transformations-col{
            margin: 0 2rem;
            position: relative;
            @extend %below-hd;
            @extend %right-btm-conr;
            overflow: hidden;
            h4{
                position: absolute;
                top: 4rem;
                left: 0;
                margin: 0px;
                padding: 1rem 1rem 1rem 2rem;
                color: $white;
                z-index: 4;
                text-transform: uppercase;
                background-color: $secondary-color;
                opacity: 0.90;
                min-width: 250px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                @include breakpoint(mobile_portrait){
                    top: 2rem;
                }
                .arrow-h4{
                   background:  url("#{$assetIconsPath}/arrow right green.svg") no-repeat;
                   width: 55px;
                   height: 55px;
                   margin-left: 5px;
                   background-size: 100%;
                }
            }
            .transformations-col-img{
                width: 100%;
                height: 100%;
                overflow: hidden;
              
                img{
                    width: 100%;
                    height: auto;
                    display: block;
                    transition: 0.5s all ease-in-out;
                    
                }
            }
            &:hover{
                h4{
                    background: $primary-color;
                    color: $white;
                    .arrow-h4{
                        background:  url("#{$assetIconsPath}/arrow right white.svg") no-repeat;
                        width: 55px;
                        height: 55px;
                        background-size: 100%;
                     }
                }
                .transformations-col-img{
                    @extend %right-btm-conr;
                    img{
                        transform: scale(1.1);
                    }
                }
            }
        }
        &.transformations-col-2{
            .transformations-col{
                width: calc(50% - 4rem);
                @include breakpoint(allIpad){
                    width: 100%;
                }
                @include breakpoint(mobile){
                    width: 100%;
                }
            }
        }
        &.transformations-col-3{
            .transformations-col{
                width: calc(33.33% - 4rem);
                @include breakpoint(allIpad){
                    width: 100%;
                }
                @include breakpoint(mobile){
                    width: 100%;
                }
            }
        }
        &.transformations-col-4{
            .transformations-col{
                width: calc(25% - 4rem);
                @include breakpoint(allIpad){
                    width: 100%;
                }
                @include breakpoint(mobile){
                    width: 100%;
                }
            }
        }
    }
}