.video-section{
    @extend %main-padding;
    h2{
        @extend %h2;
        margin: 0;
        padding: 0px;
        color: $secondary-color;
        text-align: center;
    }
    .video-section-content{

        margin:auto auto auto auto;
        @extend %below-hd;
        iframe{
            border: 8px #6e3153 solid;
            width: 100% !important;
            height: 480px;
            @include breakpoint(ipad_portrait){
                height: 360px; 
            }
            @include breakpoint(mobile_landscape){
                height: 345px;
            }
            @include breakpoint(mobile_portrait){
                height:218px;
            }
        }
    }
}
