.welcome-text-section {
    @extend %main-padding;
    padding-top: 9rem;
    padding-bottom: 9rem;
    @include breakpoint(ipad_portrait) {
        padding-top: $main-pd-md;
        padding-bottom: $main-pd-md;
      }
      @include breakpoint(mobile) {
          padding-top: $main-pd-sm;
          padding-bottom: $main-pd-sm;
      }

    .container-sm
    {
        padding-left: 4rem;
        padding-right: 4rem;
        @include breakpoint(ipad_portrait){
            padding-left: 3rem;
            padding-right: 3rem;
        }
        @include breakpoint(mobile){
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    .container-md
    {
        padding-left: 8rem;
        padding-right: 8rem;
        @include breakpoint(ipad_portrait){
            padding-left: 5rem;
            padding-right: 5rem;
        }
        @include breakpoint(mobile){
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    h2 {
        margin: 0px;
       
    }
    
    .desc--box{
        margin-bottom: 3rem;
        
    }
    .welcome-text-section-left-pd {
        padding-left: 5rem;
        @extend %below-hd;
        @include breakpoint(mobile_portrait){
            padding-left: 0rem;
        }
    }
}