@use "../helper/breakpoint" as *;

@mixin font-size-sm {
  font-size: 16px;
}

@mixin font-size-md {
  font-size: 24px;
  @include breakpoint(320px, 567px) {
    font-size: 18px;
  }
}

@mixin font-size-lg {
  font-size: 32px;
  @include breakpoint(568px, 991px) {
    font-size: 25px;
  }
  @include breakpoint(320px, 567px) {
    font-size: 22px;
  }
}

@mixin font-size-xl {
  font-size: 40px;

  @include breakpoint(568px, 991px) {
    font-size: 30px;
  }
  @include breakpoint(320px, 567px) {
    font-size: 24px;
  }
  
}

@mixin font-size-xxl {
  font-size: 48px;
  
  @include breakpoint(568px, 991px) {
    font-size: 34px;
  }
  @include breakpoint(320px, 567px) {
    font-size: 30px;
  }


}
