@use "../helper/font-mixins" as *;

h1 {
  font-weight: 600;
  @include font-size-xxl;
}

h2 {
  font-weight: 600;
  @include font-size-xl;
}

h3 {
  font-weight: 600;
  @include font-size-lg;
}

h4 {
  font-weight: 600;
  @include font-size-md;
}

h5 {
  font-weight: 600;
  @include font-size-sm;
}

