// FOR CONTRAST SCSS
.body_bg_contrast {
  .main_footer::after {
    background: url("#{$assetPath}/footer-bg-black.svg") no-repeat center top;
  }

  .fixed_header {
    .main-nav {
      .nav-section {
        ul {
          li {
            &.current_page_ancestor {
              a {
                color: $black;
              }
            }
            &.current-menu-item {
              a {
                color: $white;
              }
            }

            .sub-menu {
              li {
                &:hover {
                  a {
                    color: $white;
                  }
                }

                &.current_page_item {
                  a {
                    color: $black;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
