/*
Theme Name: freewallpapertwo
Author: Aleksandra Laczek
Author URI: http://webtuts.pl/themes/
Description: Personal blogging theme inspired by Flat UI. Featuring responsive design, post format support and color options built into theme customizer. Simple, clean, vibrant. You can visit live demo at http://webtuts.pl/test/story/
Version: 1.0.1
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl.html
*/	

  
  select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
  }
  
  *, *::before, *::after {
	box-sizing: border-box;
  }
  
  a,
  a:focus,
  a:active,
  a:hover {
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	color: #333;
	text-decoration: none;
  }
  
  a {
	color: #20c997;
  }
  
  input:focus,
  textarea:focus,
  select:focus,
  button:focus {
	outline: none;
  }
  
  button,
  a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  }
  
.full-container{
	width: 100%;
	margin:0 auto;
	padding: 0 20px;
}
.custom-row{
	display: flex;
	flex-wrap: wrap;
}

.header-site{
	background: #fff;
}