/**
 * ----------------------
 * Blooberry Design
 * Templates - Accessibility
 * ----------------------
 */

body {
  &[data-access-text='true'] {
    font-size: 1.54em;
  }
  &[data-access-contrast='true'] {
    color: $c-black;

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6,
    body[data-access-contrast='true'] .m-entity__accordion .accordion__header[aria-expanded='true'],
    body[data-access-contrast='true'] .m-entity__accordion .accordion__panel,
    .a-menu__top ul .current-page-ancestor a,
    .a-menu__top ul .current-menu-item a,
    .a-menu__main ul .current-page-ancestor a,
    .a-menu__main ul .current-menu-item a,
    .a-menu__top ul a:hover,
    .a-menu__main ul a:hover,
    .m-entity__accordion .accordion__header {
      color: $c-black;
    }

    .m-entity__quote,
    .o-header__top,
    .o-header__bottom,
    .o-footer__top,
    .o-footer__bottom,
    .a-title::after,
    .a-menu__top ul,
    .a-menu__main ul,
    .m-accessibility__options .m-accessibility__btn,
    main .a-btn,
    input[type='submit'],
    .m-fom__link {
      background-color: $c-black;
    }

    input[type='submit'],
    main .a-btn {
      border: 1px solid $c-black;

      &:hover {
        background-color: $c-white;
        color: $c-black;
      }
    }

    .m-newsletter input[type='email'],
    input,
    input[type='text'],
    input[type='password'],
    input[type='email'],
    input[type='submit'],
    textarea,
    select {
      border-color: $c-black;
    }

    .o-footer__top,
    .o-header__top {
      border-bottom: 2px solid $c-white;
    }

    .m-accessibility__options .m-accessibility__btn[data-state='active'],
    .m-accessibility__options .m-accessibility__btn:hover,
    .m-entity__accordion .accordion__header[aria-expanded='true'],
    .m-entity__accordion .accordion__panel,
    .a-menu__top ul .current-page-ancestor a,
    .a-menu__top ul .current-menu-item a,
    .a-menu__main ul .current-page-ancestor a,
    .a-menu__main ul .current-menu-item a,
    main .a-btn--alt,
    .m-fom__link h3:after {
      background-color: $c-white;
    }

    main a:not(.a-btn):not(.cmtt-backlink):not(.m-fom__link),
    .a-more {
      color: $c-black;
      border-color: $c-black;

      &:hover {
        padding: 3px;
        background-color: $c-black;
        color: $c-white;
        border-color: $c-white;
      }
    }

    .a-menu__main > li > a,
    .m-team__member-info h3,
    .m-eup-world__content h2,
    main .a-btn,
    .m-site-link h2 {
      color: $c-white;
    }

    main .a-btn--alt,
    main .m-site-link .a-btn,
    main .a-btn--alt {
      color: $c-black;

      &:hover {
        background-color: $c-black;
        color: $c-white;
        border-color: $c-white;
      }
    }

    main .a-btn--icon {
      background-image: none;
      padding-right: $bump;
    }

    .a-menu__top ul {
      border: 2px solid $c-white;
    }

    .m-accessibility__options,
    .a-menu__main ul {
      border: 2px solid $c-black;
    }

    .a-menu__main .current-page-ancestor > a,
    .a-menu__main .current-menu-item > a,
    .a-menu__main .sfHover > a {
      border-color: $c-white;
    }

    .a-nav-toggle__line {
      background-color: $c-white;
    }

    @include media('<sm') {
      .m-nav,
      .o-header {
        background-color: $c-black;
      }
      .m-nav {
        border-bottom: 2px solid $c-white;
      }
      .a-menu__main ul,
      .a-menu__top ul {
        border: 2px solid $c-white;
      }
    }
  }
}
