{% extends "base.twig" %}

{% block content %}
<div class="case-studies-details-section">
 <div class="container-sm">
  <div class="page-not-foumd">
    <h3>Sorry, we couldn't find what you're looking for. </h3>
  </div> </div>
</div>
{% endblock %}