{% block html_head_container %}

	{% include 'partial/html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig" id="body">
{{ function('wp_body_open') }}
<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
<div id="mainContainer">
	<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

	<section class="main-header">
		<header class="container-fluid">
			<div class="custom-row">
				<div class="logo">
					<a href="{{site.link}}"><img src="{{theme.link}}/assets/img/TBI_RGB.png" alt="TBI"/></a>
				</div>
				<button class="nav__toggle" id="navToggle">
							<span></span>
				</button>
				<div class="nav-right">
				  <div class="nav-right-in"> <div class="nav-right-in-in">{% include "menu.twig" with {'items': menu.get_items} %}</div></div>
					
				</div>
			</div>
		</header>
	</section>

	<section class="mid-container">
		<div id="content" role="main" class="content-wrapper">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</div>
	</section>

	{% block footer %}
		<section class="main-footer">

			{% include 'partial/footer.twig' %}
		</section>
		{{ function('wp_footer') }}
	{% endblock %}
</div>
</body>
</html>
