/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
a,
button {
  cursor: pointer;
}

.categories-section .categories-filter-ul ul li a, body {
  font-size: 1.3rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .categories-section .categories-filter-ul ul li a, body {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .categories-section .categories-filter-ul ul li a, body {
    font-size: 18px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .categories-section .categories-filter-ul ul li a, body {
    font-size: 1rem;
  }
}

.desc, p {
  line-height: 1.9rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .desc, p {
    line-height: 1.6rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .desc, p {
    line-height: 1.6rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .desc, p {
    line-height: 1.5rem;
  }
}

.primary-btn {
  font-size: 1.1rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .primary-btn {
    font-size: 1rem;
  }
}

.main-header .nav-right ul li a {
  font-size: 1.2rem;
}

.back-section, .review-section, .branding-case-study-section, .why-brands-section, .page-text-section, .book-now-section, .case-studies-section, .what-we-do-section, .the-big-idea-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .back-section, .review-section, .branding-case-study-section, .why-brands-section, .page-text-section, .book-now-section, .case-studies-section, .what-we-do-section, .the-big-idea-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .back-section, .review-section, .branding-case-study-section, .why-brands-section, .page-text-section, .book-now-section, .case-studies-section, .what-we-do-section, .the-big-idea-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.categories-section, .post-box, .who-we-work-with-section {
  padding-top: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .categories-section, .post-box, .who-we-work-with-section {
    padding-top: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .categories-section, .post-box, .who-we-work-with-section {
    padding-top: 4rem;
  }
}

.get-in-touch-section, .band-post-section, .post-section {
  padding-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .get-in-touch-section, .band-post-section, .post-section {
    padding-bottom: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .get-in-touch-section, .band-post-section, .post-section {
    padding-bottom: 4rem;
  }
}

.what-we-do-section, .hero-section .top-btm button, .primary-bg {
  background: linear-gradient(to right, rgb(50, 187, 174) 50%, rgb(54, 171, 106) 100%);
  color: #fff;
}

.secondary-bg {
  background: linear-gradient(to right, rgb(253, 118, 34) 50%, rgb(250, 163, 70) 100%);
  color: #fff;
}

.categories-row .categories-box .categories-box-in .categories-content {
  background: rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) and (max-width: 991px) {
  .review-section, .branding-case-study-section, .post-box, .book-now-section, .case-studies-section, .the-big-idea-section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.who-we-work-with-section .who-we-work-row ul li .who-we-work-row-content h3 a, .hero-section .hero-section-content .hero-section-text h1 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-set--left {
  display: flex;
  justify-content: left;
}

.btn-set--center {
  display: flex;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  justify-content: right;
}

.primary-btn {
  color: #33414d;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.primary-btn i {
  width: 40px;
  height: 40px;
  background-color: #fd7622;
  border-radius: 100px;
  color: #fff;
  text-align: center;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}
.primary-btn:hover {
  color: #32bbae;
}
.primary-btn:hover i {
  background-color: #fd7622;
}

.primary-bg-btn {
  background-color: #32bbae;
  color: #fff;
  border: 2px #fff solid;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
  display: inline-block;
  cursor: pointer;
}
.primary-bg-btn:hover {
  background-color: #fd7622;
  color: #fff;
}

.white-bg-btn {
  background-color: #fff;
  color: #fd7622;
  border: 2px #fff solid;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
  display: inline-block;
  cursor: pointer;
}
.white-bg-btn:hover {
  background-color: transparent;
  color: #fff;
}
.white-bg-btn:hover a {
  color: #fff;
}

.secondary-bg-btn {
  background-color: #fd7622;
  color: #fff;
  border: 2px #fff solid;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
  display: inline-block;
  cursor: pointer;
}
.secondary-bg-btn:hover {
  background-color: #32bbae;
  color: #fff;
}

.book-now-btn {
  background-color: #fff;
  color: #fd7622;
  border: 2px #fff solid;
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem 2rem;
  display: inline-block;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 767px) {
  .book-now-btn {
    font-size: 1.3rem;
  }
}
.book-now-btn:hover {
  background-color: transparent;
  color: #fff;
}

.back-btn {
  background-color: #fd7622;
  color: #fff;
  border: 2px #fff solid;
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem 2rem;
  display: inline-block;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 767px) {
  .back-btn {
    font-size: 1.3rem;
  }
}
.back-btn:hover {
  background-color: #32bbae;
  color: #fff;
}

.simple-link a {
  display: inline-block;
  color: #fff;
  font-size: 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .simple-link a {
    font-size: 1.3rem;
  }
}
.simple-link a:hover {
  color: #32bbae;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: #fff;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0px;
  color: #33414d;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fd7622;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

@media screen and (max-width: 992px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
.container-fluid {
  max-width: 100%;
  width: calc(100% - 6rem);
  padding: 0 1rem;
  margin: auto;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-fluid {
    width: calc(100% - 2rem);
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    width: calc(100% - 3rem);
    padding: 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-fluid {
    width: calc(100% - 3rem);
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-fluid {
    width: calc(100% - 3rem);
    padding: 0;
  }
}

.container-lg {
  max-width: 1500px;
  width: calc(100% - 6rem);
  margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-lg {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-lg {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-lg {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-lg {
    width: calc(100% - 3rem);
  }
}

.container {
  max-width: 1400px;
  width: calc(100% - 14rem);
  margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container {
    width: calc(100% - 6rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container {
    width: calc(100% - 4rem);
  }
}

.container-sm {
  max-width: 1200px;
  width: calc(100% - 14rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-sm {
    width: calc(100% - 12rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-sm {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-sm {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-sm {
    width: calc(100% - 4rem);
  }
}

.white-bg {
  background: #fff;
}
.white-bg h2 {
  color: #fd7622;
}

.secondary-bg {
  color: #fff;
}
.secondary-bg h2 {
  color: #fff;
}

.gray-bg {
  background: #33414d;
  color: #fff;
}
.gray-bg h2 {
  color: #fff;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.desc p:first-child {
  margin: 0px;
}
.desc ul {
  margin: 1rem 0;
  padding: 0px;
  list-style: none;
}
.desc ul li {
  position: relative;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 1.5rem;
}
.desc ul li::before {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0px;
  top: 39%;
  background: #32bbae;
  content: "";
}

.no-margin-15 {
  margin-bottom: -15px !important;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

/*Helpers Scss Files */
.input-field {
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.input-field label {
  font-size: 16px;
  color: #000;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea {
  border-width: 0px;
  border-color: #000;
  border-style: solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 100%;
  border-bottom: 1px #fd7622 solid;
  font-size: 1.22rem;
  color: #fd7622;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled {
  opacity: 0.5;
}
.input-field input[type=text]::-webkit-input-placeholder,
.input-field input[type=email]::-webkit-input-placeholder,
.input-field input[type=password]::-webkit-input-placeholder,
.input-field input[type=number]::-webkit-input-placeholder,
.input-field input[type=date]::-webkit-input-placeholder,
.input-field textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 1.22rem;
  color: #fd7622;
  font-weight: 400;
}
.input-field input[type=text]::-moz-placeholder,
.input-field input[type=email]::-moz-placeholder,
.input-field input[type=password]::-moz-placeholder,
.input-field input[type=number]::-moz-placeholder,
.input-field input[type=date]::-moz-placeholder,
.input-field textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-size: 1.22rem;
  color: #fd7622;
  font-weight: 400;
}
.input-field input[type=text]:-ms-input-placeholder,
.input-field input[type=email]:-ms-input-placeholder,
.input-field input[type=password]:-ms-input-placeholder,
.input-field input[type=number]:-ms-input-placeholder,
.input-field input[type=date]:-ms-input-placeholder,
.input-field textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-size: 1.22rem;
  color: #fd7622;
  font-weight: 400;
}
.input-field input[type=text]:-moz-placeholder,
.input-field input[type=email]:-moz-placeholder,
.input-field input[type=password]:-moz-placeholder,
.input-field input[type=number]:-moz-placeholder,
.input-field input[type=date]:-moz-placeholder,
.input-field textarea:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-size: 1.22rem;
  color: #fd7622;
  font-weight: 400;
}
.input-field textarea {
  height: 126px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

.selectbox {
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  width: 100%;
  font-size: 18px;
  color: #fff;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hero-section .hero-section-content .hero-section-text h1 {
  font-size: 6rem;
  line-height: 7rem;
}
@media (min-width: 1300px) and (max-width: 1599px) {
  .hero-section .hero-section-content .hero-section-text h1 {
    font-size: 5.5rem;
    line-height: 6.5rem;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .hero-section .hero-section-content .hero-section-text h1 {
    font-size: 5rem;
    line-height: 6rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-section-content .hero-section-text h1 {
    font-size: 4.5rem;
    line-height: 5.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-section-content .hero-section-text h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .hero-section-content .hero-section-text h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}

h2 {
  font-size: 3.2rem;
  font-weight: 800;
  color: #32bbae;
}
@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    font-size: 2.6rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 2.4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 2.2rem;
  }
}

.case-studies-details-section .case-studies-details-content-box h3, .categories-row .categories-box .categories-box-in .categories-content h3, .branding-case-study-section .custom-row .branding-case-study-content h3, .why-brands-section .why-brands-row ul li h3, .post-box .post-box-content h3, .book-now-section .book-now-section-right h3, .case-studies-section .case-studies-row .case-studies-box .case-studies-box-in .case-studies-content h3 a, .who-we-work-with-section .who-we-work-row ul li .who-we-work-row-content h3 a, .what-we-do-section .what-we-do-list ul li h3 {
  font-size: 2.2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .case-studies-details-section .case-studies-details-content-box h3, .categories-row .categories-box .categories-box-in .categories-content h3, .branding-case-study-section .custom-row .branding-case-study-content h3, .why-brands-section .why-brands-row ul li h3, .post-box .post-box-content h3, .book-now-section .book-now-section-right h3, .case-studies-section .case-studies-row .case-studies-box .case-studies-box-in .case-studies-content h3 a, .who-we-work-with-section .who-we-work-row ul li .who-we-work-row-content h3 a, .what-we-do-section .what-we-do-list ul li h3 {
    font-size: 1.8rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .case-studies-details-section .case-studies-details-content-box h3, .categories-row .categories-box .categories-box-in .categories-content h3, .branding-case-study-section .custom-row .branding-case-study-content h3, .why-brands-section .why-brands-row ul li h3, .post-box .post-box-content h3, .book-now-section .book-now-section-right h3, .case-studies-section .case-studies-row .case-studies-box .case-studies-box-in .case-studies-content h3 a, .who-we-work-with-section .who-we-work-row ul li .who-we-work-row-content h3 a, .what-we-do-section .what-we-do-list ul li h3 {
    font-size: 1.6rem;
  }
}

h2 {
  font-weight: 800;
}
h2.line {
  position: relative;
  padding-bottom: 2rem;
  margin: 0px;
  text-transform: lowercase;
}
h2.line::before {
  content: "";
  width: 200vh;
  height: 4px;
  background: #fd7622;
  position: absolute;
  bottom: 0px;
  left: -200vh;
}
h2.line::after {
  content: "";
  width: 177px;
  height: 4px;
  background: #fd7622;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.what-we-do-section .primary-btn, .hero-section .top-btm button .primary-btn, .primary-bg .primary-btn {
  color: #fff;
}
.what-we-do-section h2, .hero-section .top-btm button h2, .primary-bg h2 {
  color: #fff;
}
.what-we-do-section h2.line::before, .hero-section .top-btm button h2.line::before, .primary-bg h2.line::before, .what-we-do-section h2.line::after, .hero-section .top-btm button h2.line::after, .primary-bg h2.line::after {
  background: #fff;
}

/*Layout Scss Files */
.main-header {
  padding: 1.5rem 0;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
}
.main-header.show-header {
  display: block;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header {
    padding: 1rem 0;
  }
}
.main-header .custom-row {
  align-items: center;
}
.main-header .logo {
  width: 96px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .logo {
    width: 70px;
  }
}
.main-header .logo a {
  display: block;
}
.main-header .logo a img {
  width: 100%;
  height: auto;
  display: block;
}
.main-header .nav-right {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .nav-right {
    display: none;
  }
}
.main-header .nav-right ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
}
.main-header .nav-right ul li {
  margin: 0 20px 0 40px;
  padding: 0px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-header .nav-right ul li {
    margin: 0 0 0 40px;
  }
}
.main-header .nav-right ul li:first-child {
  margin-left: 0px;
}
.main-header .nav-right ul li a {
  display: block;
  color: #fff;
  font-weight: 600;
}
.main-header .nav-right ul li a.active, .main-header .nav-right ul li a:hover {
  color: #32bbae;
}
.main-header .nav-right ul li.menu-item-has-children {
  position: relative;
}
.main-header .nav-right ul li.menu-item-has-children .sub-menu-toggle {
  background: url("../img/icons/arrow-right-white.svg") no-repeat center center;
  height: 15px;
  border: 0px;
  padding: 0px;
  cursor: pointer;
  width: 10px;
  margin: 0;
  display: inline;
  position: absolute;
  top: 6px;
  right: -15px;
}
.main-header .nav-right ul li.current_page_item a {
  color: #32bbae;
}
.main-header .nav-right ul li.current_page_item ul li a {
  color: #33414d;
}
.main-header .nav-right ul li.current_page_ancestor a.link-has-childern {
  color: #32bbae;
}
.main-header .nav-right ul li.current_page_ancestor ul li.current-menu-item a {
  color: #fff;
}
.main-header .nav-right ul li ul {
  position: absolute;
  top: 18px;
  left: 0px;
  width: 240px;
  display: none;
  padding: 54px 0 0 0;
}
.main-header .nav-right ul li ul li {
  margin: 0px;
  padding: 0.6rem 1.6rem;
  background: #32bbae;
}
.main-header .nav-right ul li ul li:first-child {
  padding-top: 20px;
}
.main-header .nav-right ul li ul li:last-child {
  padding-bottom: 20px;
}
.main-header .nav-right ul li ul li a {
  display: block;
  color: #33414d;
}
.main-header .nav-right ul li ul li a:hover {
  color: #fff;
}
.main-header .nav-right ul li:hover.menu-item-has-children .sub-menu-toggle {
  background: url("../img/icons/arrow-right-teal.svg") no-repeat center center !important;
}
.main-header .nav-right ul li:hover ul {
  display: block;
}
.main-header.bluebackbg {
  background-color: #fff;
  padding: 12px 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
}
.main-header.bluebackbg .nav-right ul li.menu-item-has-children .sub-menu-toggle {
  background: url("../img/icons/arrow-right-gray.svg") no-repeat center center;
}
.main-header.bluebackbg .nav-right ul li a {
  color: #33414d;
}
.main-header.bluebackbg .nav-right ul li a.active, .main-header.bluebackbg .nav-right ul li a:hover {
  color: #32bbae;
}
.main-header.bluebackbg .nav-right ul li.current_page_item a {
  color: #32bbae;
}
.main-header.bluebackbg .nav-right ul li.current_page_item ul li a {
  color: #33414d;
}
.main-header.bluebackbg .nav-right ul li ul li a:hover {
  color: #fff;
}

.single-post {
  padding-top: 100px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .single-post {
    padding-top: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .single-post {
    padding-top: 0px;
  }
}
.single-post .main-header {
  background-color: #fff;
  padding: 12px 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
}
.single-post .main-header .nav-right ul li.menu-item-has-children .sub-menu-toggle {
  background: url("../img/icons/arrow-right-gray.svg") no-repeat center center;
}
.single-post .main-header .nav-right ul li a {
  color: #33414d;
}
.single-post .main-header .nav-right ul li a.active, .single-post .main-header .nav-right ul li a:hover {
  color: #32bbae;
}

.nav__toggle {
  display: none;
}
@media (min-width: 320px) and (max-width: 991px) {
  .nav__toggle {
    display: block;
  }
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 40px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 25px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
}
@media (min-width: 320px) and (max-width: 991px) {
  .nav__toggle {
    margin-left: auto;
    top: 0px;
  }
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  text-align: right;
  cursor: pointer;
  border-radius: 0px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.2s;
  outline: 0;
  right: 0px;
}
.nav__toggle span {
  top: 15px;
  width: 30px;
}
.nav__toggle span::before {
  top: -10px;
  width: 40px;
}
.nav__toggle span::after {
  bottom: -10px;
  width: 20px;
}

.single-post .nav__toggle span,
.bluebackbg .nav__toggle span {
  background-color: #32bbae;
}
.single-post .nav__toggle span::before,
.bluebackbg .nav__toggle span::before {
  background-color: #32bbae;
}
.single-post .nav__toggle span::after,
.bluebackbg .nav__toggle span::after {
  background-color: #32bbae;
}

.menu-slide .nav__toggle span {
  background-color: transparent;
  width: 40px;
}
.menu-slide .nav__toggle span::before, .menu-slide .nav__toggle span::after {
  top: 0;
  width: 40px;
  background-color: #fff;
}
.menu-slide .nav__toggle span::before {
  transform: rotate(45deg);
}
.menu-slide .nav__toggle span::after {
  transform: rotate(-45deg);
}
.menu-slide .nav__toggle:hover span {
  background-color: transparent;
}
.menu-slide .nav__toggle:hover span::before, .menu-slide .nav__toggle:hover span::after {
  background-color: #fff;
}
.menu-slide .nav-right {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #32bbae;
  align-items: self-start;
  justify-content: center;
  overflow: auto;
  left: 0px;
  top: 0px;
}
.menu-slide .nav-right .nav-right-in {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 13rem 0;
}
.menu-slide .nav-right ul {
  display: block;
  padding: 4rem 0;
}
.menu-slide .nav-right ul li {
  margin: 0px;
  padding: 0 15px 0 0;
  border-bottom: 0px;
}
.menu-slide .nav-right ul li a {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 800;
  padding: 10px 0;
}
.menu-slide .nav-right ul li.menu-item-has-children .sub-menu-toggle {
  top: 18px;
  z-index: 33;
}
.menu-slide .nav-right ul li.current_page_item a {
  color: #33414d;
}
.menu-slide .nav-right ul li ul {
  display: none;
  position: relative;
  width: 100%;
  padding: 1rem 0;
  top: 0;
}
.menu-slide .nav-right ul li ul li {
  margin: 0px;
  padding: 0px;
  border-bottom: 0px;
}
.menu-slide .nav-right ul li ul li:last-child, .menu-slide .nav-right ul li ul li:first-child {
  padding: 0px;
}
.menu-slide .nav-right ul li ul li a {
  font-size: 1rem;
  color: #fff;
  font-weight: 800;
  padding: 5px 0;
}
.menu-slide .nav-right ul li:hover .sub-menu-toggle {
  background: url("../img/icons/arrow-right-white.svg") no-repeat center center;
}
.menu-slide .nav-right ul li.submenu-expanded ul {
  display: block;
}
.menu-slide .bluebackbg .nav__toggle span {
  background-color: transparent;
}
.menu-slide .bluebackbg .nav__toggle span::before {
  background-color: #fff;
}
.menu-slide .bluebackbg .nav__toggle span::after {
  background-color: #fff;
}

.main-footer .footer-connect, .main-footer .footer-quick-links, .main-footer .footer-get-touch {
  padding-left: 10%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-footer .footer-connect, .main-footer .footer-quick-links, .main-footer .footer-get-touch {
    padding-left: 3%;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-footer .footer-connect, .main-footer .footer-quick-links, .main-footer .footer-get-touch {
    padding-left: 3%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .footer-connect, .main-footer .footer-quick-links, .main-footer .footer-get-touch {
    padding-left: 5%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-connect, .main-footer .footer-quick-links, .main-footer .footer-get-touch {
    padding-left: 0;
  }
}

.main-footer .footer-connect, .main-footer .footer-quick-links, .main-footer .footer-get-touch {
  width: 28%;
}

.main-footer .footer-connect .website-by a, .main-footer .footer-connect .website-by, .main-footer .footer-quick-links ul li a, .main-footer .footer-get-touch ul li a, .main-footer .footer-get-touch ul li {
  font-size: 1rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-connect .website-by a, .main-footer .footer-connect .website-by, .main-footer .footer-quick-links ul li a, .main-footer .footer-get-touch ul li a, .main-footer .footer-get-touch ul li {
    font-size: 0.8rem;
  }
}

.main-footer {
  background-color: #fff;
  padding: 3rem 0;
  font-size: 1rem;
  font-weight: 400;
}
.main-footer .custom-row {
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .custom-row {
    align-items: self-start;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-footer .container {
    width: calc(100% - 3rem);
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-footer .container {
    width: calc(100% - 3rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .container {
    width: calc(100% - 3rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .main-footer .container {
    width: calc(100% - 7rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .container {
    width: calc(100% - 2rem);
  }
}
.main-footer h4 {
  margin: 0 0 1rem 0;
  color: #32bbae;
  font-weight: 800;
  font-size: 1.7rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer h4 {
    font-size: 1.4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer h4 {
    font-size: 1.3rem;
  }
}
.main-footer ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.main-footer .footer-logo {
  width: 157px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-footer .footer-logo {
    width: 15%;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-footer .footer-logo {
    width: 15%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .footer-logo {
    width: 15%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-logo {
    width: 45%;
  }
}
.main-footer .footer-logo img {
  width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-logo img {
    width: 110px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-get-touch {
    width: 45%;
    margin-left: auto;
  }
}
.main-footer .footer-get-touch ul li {
  color: #33414d;
}
.main-footer .footer-get-touch ul li:last-child {
  margin-top: 1.6rem;
}
.main-footer .footer-get-touch ul li a {
  display: block;
  color: #33414d;
  margin-bottom: 8px;
}
.main-footer .footer-get-touch ul li a:hover {
  color: #fd7622;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-quick-links {
    width: 45%;
    margin-top: 3rem;
    padding-left: 0px;
  }
}
.main-footer .footer-quick-links ul li {
  margin-bottom: 8px;
}
.main-footer .footer-quick-links ul li:last-child {
  margin-bottom: 0px;
}
.main-footer .footer-quick-links ul li a {
  display: block;
  color: #33414d;
  text-transform: uppercase;
}
.main-footer .footer-quick-links ul li a:hover {
  color: #fd7622;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-connect {
    width: 45%;
    margin-left: auto;
    margin-top: 3rem;
  }
}
.main-footer .footer-connect .website-by {
  margin-top: 43px;
}
.main-footer .footer-connect .website-by a {
  display: block;
  margin-top: 3px;
}
.main-footer .footer-connect .website-by a:hover {
  color: #33414d;
}
.main-footer .footer-connect .connect-icom ul {
  display: flex;
}
.main-footer .footer-connect .connect-icom ul li {
  margin-right: 1rem;
}
.main-footer .footer-connect .connect-icom ul li:last-child {
  margin-right: 0px;
}
.main-footer .footer-connect .connect-icom ul li a {
  width: 45px;
  height: 45px;
  display: block;
  border: 1px #32bbae solid;
  border-radius: 100px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-connect .connect-icom ul li a {
    width: 40px;
    height: 40px;
  }
}
.main-footer .footer-connect .connect-icom ul li a.instagram-icom {
  background: url("../img/icons/Insta teal.svg") no-repeat center center;
  background-size: 56%;
}
.main-footer .footer-connect .connect-icom ul li a.x-icon {
  background: url("../img/icons/X teal.svg") no-repeat center center;
  background-size: 56%;
}
.main-footer .footer-connect .connect-icom ul li a.linkedIn-icom {
  background: url("../img/icons/Linkedin teal.svg") no-repeat center center;
  background-size: 56%;
}
.main-footer .footer-connect .connect-icom ul li a:hover {
  border-color: #fd7622;
}
.main-footer .footer-connect .connect-icom ul li a:hover.instagram-icom {
  background: url("../img/icons/Insta orange.svg") no-repeat center center;
  background-size: 56%;
}
.main-footer .footer-connect .connect-icom ul li a:hover.x-icon {
  background: url("../img/icons/X orange.svg") no-repeat center center;
  background-size: 56%;
}
.main-footer .footer-connect .connect-icom ul li a:hover.linkedIn-icom {
  background: url("../img/icons/Linkedin orange.svg") no-repeat center center;
  background-size: 56%;
}

/*Components Scss Files */
.shap-box {
  position: relative;
}
.shap-box .shap1 {
  position: absolute;
  top: 0;
  right: 0px;
  width: 800px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .shap-box .shap1 {
    width: 55%;
  }
}
.shap-box .shap1 img {
  width: 100%;
  display: block;
  height: auto;
}
.shap-box .shap2 {
  position: absolute;
  bottom: -30%;
  right: 0px;
  width: 300px;
}
.shap-box .shap2 img {
  width: 100%;
  display: block;
  height: auto;
}
.shap-box .shap3 {
  position: absolute;
  top: 0;
  left: 0px;
  width: 80%;
}
.shap-box .shap3 img {
  width: 100%;
  display: block;
  height: auto;
  margin-left: -16%;
}
.shap-box .shap4 {
  position: absolute;
  top: 22%;
  right: 0px;
  width: 380px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .shap-box .shap4 {
    width: 40%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .shap-box .shap4 {
    width: 50%;
  }
}
.shap-box .shap4 img {
  width: 100%;
  display: block;
  height: auto;
}
.shap-box .shap5 {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 50%;
}
.shap-box .shap5 img {
  width: 100%;
  display: block;
  height: auto;
  margin-left: -16%;
  margin-bottom: -16%;
}
.shap-box .shap6 {
  position: absolute;
  top: 0;
  right: 0px;
  width: 400px;
}
.shap-box .shap6 img {
  width: 100%;
  display: block;
  height: auto;
}
.shap-box .shap7 {
  position: absolute;
  bottom: 20%;
  left: 0px;
  width: 40%;
}
.shap-box .shap7 img {
  width: 100%;
  display: block;
  height: auto;
  margin-left: -50%;
}
.shap-box .shap8 {
  position: absolute;
  bottom: 10%;
  left: 0px;
  width: 30%;
}
.shap-box .shap8 img {
  width: 100%;
  display: block;
  height: auto;
  margin-left: -70%;
}

.hero-section {
  position: relative;
  z-index: 3;
}
.hero-section .top-btm {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0px;
  bottom: 2rem;
  z-index: 3;
}
.hero-section .top-btm button {
  width: 50px;
  height: 50px;
  margin: auto;
  border: 0px;
  border-radius: 100px;
}
.hero-section .hero-img-video {
  position: relative;
}
.hero-section .hero-img-video::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(50, 65, 78, 0.5490196078);
  position: absolute;
  left: 0px;
  top: 0px;
  mix-blend-mode: multiply;
}
.hero-section .hero-img-video img {
  width: 100%;
  height: auto;
  display: block;
}
.hero-section .hero-section-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 5rem 0;
}
.hero-section .hero-section-content .splace-logo {
  width: 490px;
  margin: auto;
}
.hero-section .hero-section-content .splace-logo.hide-splace {
  display: none;
}
.hero-section .hero-section-content .splace-logo img {
  width: 100%;
  height: auto;
  display: block;
}
.hero-section .hero-section-content .hero-section-text h1 {
  margin: 0px;
  font-weight: 900;
  color: #32bbae;
}
.hero-section .hero-section-content .hero-section-text h1 span {
  font-weight: 400;
  color: #fff;
  display: block;
}
.hero-section .hero-section-content .hero-section-text h1 strong {
  font-weight: 900;
  display: block;
  color: #fd7622;
}
.hero-section .hero-section-content .hero-section-text p {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
  width: 60%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-section-content .hero-section-text p {
    font-size: 2.1rem;
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-section-content .hero-section-text p {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 100%;
    font-weight: 500;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .hero-section-content .hero-section-text p {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 100%;
  }
}

.the-big-idea-section .the-big-idea-section-left {
  width: 45%;
  position: relative;
  padding-bottom: 5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .the-big-idea-section .the-big-idea-section-left {
    padding-bottom: 0rem;
    width: 100%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .the-big-idea-section .the-big-idea-section-left {
    padding-bottom: 0rem;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .the-big-idea-section .the-big-idea-section-left {
    padding-bottom: 0rem;
    width: 100%;
  }
}
.the-big-idea-section .the-big-idea-section-left .btn-set--left {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .the-big-idea-section .the-big-idea-section-left .btn-set--left {
    position: relative;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .the-big-idea-section .the-big-idea-section-left .btn-set--left {
    position: relative;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .the-big-idea-section .the-big-idea-section-left .btn-set--left {
    position: relative;
  }
}
.the-big-idea-section .the-big-idea-section-left .desc {
  margin-top: 3rem;
}
.the-big-idea-section .the-big-idea-section-right {
  width: 45%;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .the-big-idea-section .the-big-idea-section-right {
    margin-left: 0;
    margin-top: 3rem;
    width: 100%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .the-big-idea-section .the-big-idea-section-right {
    margin-left: 0;
    margin-top: 3rem;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .the-big-idea-section .the-big-idea-section-right {
    margin-left: 0;
    margin-top: 3rem;
    width: 100%;
  }
}
.the-big-idea-section .the-big-idea-section-right .the-big-idea-section-img-btm {
  margin-top: 2rem;
}
.the-big-idea-section .the-big-idea-section-right img {
  width: 100%;
  height: auto;
  display: block;
}

.what-we-do-section .what-we-do-list ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-bottom: 4rem;
}
.what-we-do-section .what-we-do-list ul li {
  margin: 4rem 0 0 0;
  padding: 0px;
  display: flex;
  align-items: flex-start;
}
@media (min-width: 320px) and (max-width: 767px) {
  .what-we-do-section .what-we-do-list ul li {
    flex-wrap: wrap;
  }
}
.what-we-do-section .what-we-do-list ul li h3 {
  margin: 0px;
  padding: 7px 0 0 90px;
  width: 40%;
  position: relative;
  color: #fff;
}
.what-we-do-section .what-we-do-list ul li h3::before {
  content: "";
  width: 60px;
  height: 60px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .what-we-do-section .what-we-do-list ul li h3::before {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .what-we-do-section .what-we-do-list ul li h3 {
    width: 100%;
    padding: 4px 0 0 65px;
  }
}
.what-we-do-section .what-we-do-list ul li .desc {
  width: 60%;
  padding: 0 0 0 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .what-we-do-section .what-we-do-list ul li .desc {
    width: 100%;
    padding: 2rem 0 0 0;
  }
}

.who-we-work-with-section .who-we-work-row {
  margin-top: 4rem;
}
.who-we-work-with-section .who-we-work-row ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}
@media (min-width: 768px) and (max-width: 991px) {
  .who-we-work-with-section .who-we-work-row ul {
    flex-wrap: wrap;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .who-we-work-with-section .who-we-work-row ul {
    flex-wrap: wrap;
  }
}
.who-we-work-with-section .who-we-work-row ul li {
  width: 20%;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .who-we-work-with-section .who-we-work-row ul li {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .who-we-work-with-section .who-we-work-row ul li {
    width: 100%;
  }
}
.who-we-work-with-section .who-we-work-row ul li img {
  width: 100%;
  height: auto;
  display: block;
}
.who-we-work-with-section .who-we-work-row ul li .who-we-work-row-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.who-we-work-with-section .who-we-work-row ul li .who-we-work-row-content h3 {
  margin: 0px;
  padding: 0px;
}
.who-we-work-with-section .who-we-work-row ul li .who-we-work-row-content h3 a {
  display: block;
  color: #fff;
  text-transform: lowercase;
}
.who-we-work-with-section .who-we-work-row ul li .who-we-work-row-content:hover {
  background: rgba(0, 0, 0, 0.5);
}
.who-we-work-with-section .who-we-work-row ul li .who-we-work-row-content:hover h3 a {
  color: #fd7622;
}

.parallax-image-section {
  min-height: 500px;
  background-color: transparent;
  padding: 8rem 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .parallax-image-section {
    padding: 4rem 0;
    min-height: 300px;
  }
}
.parallax-image-section .custom-row {
  align-items: center;
}
.parallax-image-section .parallax-image-section-left {
  width: 261px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .parallax-image-section .parallax-image-section-left {
    width: 200px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .parallax-image-section .parallax-image-section-left {
    width: 150px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .parallax-image-section .parallax-image-section-left {
    width: 120px;
    margin: auto;
  }
}
.parallax-image-section .parallax-image-section-left img {
  width: 100%;
  height: auto;
  display: block;
}
.parallax-image-section .parallax-image-section-right {
  width: calc(100% - 261px);
  margin-left: auto;
  padding-left: 5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .parallax-image-section .parallax-image-section-right {
    width: calc(100% - 200px);
    padding-left: 3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .parallax-image-section .parallax-image-section-right {
    width: calc(100% - 150px);
    padding-left: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .parallax-image-section .parallax-image-section-right {
    width: 100%;
    padding: 2rem 0 0 0;
  }
}
.parallax-image-section .parallax-image-section-right h1 {
  color: #fff;
  font-size: 5rem;
  font-weight: 800;
  margin: 0px;
  padding: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .parallax-image-section .parallax-image-section-right h1 {
    font-size: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .parallax-image-section .parallax-image-section-right h1 {
    font-size: 2.4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .parallax-image-section .parallax-image-section-right h1 {
    text-align: center;
  }
}
.parallax-image-section .parallax-image-section-right h1 span {
  color: #32bbae;
}

.case-studies-section .case-studies-row {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem -1rem;
}
.case-studies-section .case-studies-row .case-studies-box {
  width: 50%;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .case-studies-section .case-studies-row .case-studies-box {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .case-studies-section .case-studies-row .case-studies-box {
    width: 100%;
  }
}
.case-studies-section .case-studies-row .case-studies-box .case-studies-box-in {
  position: relative;
}
.case-studies-section .case-studies-row .case-studies-box .case-studies-box-in .case-studies-img {
  width: 100%;
}
.case-studies-section .case-studies-row .case-studies-box .case-studies-box-in .case-studies-img img {
  width: 100%;
  height: auto;
  display: block;
}
.case-studies-section .case-studies-row .case-studies-box .case-studies-box-in .case-studies-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  padding: 1rem;
}
.case-studies-section .case-studies-row .case-studies-box .case-studies-box-in .case-studies-content h3 {
  margin: 0px;
  padding: 0px;
}
.case-studies-section .case-studies-row .case-studies-box .case-studies-box-in .case-studies-content h3 a {
  color: #fd7622;
  display: block;
  text-align: center;
}
.case-studies-section .case-studies-row .case-studies-box .case-studies-box-in:hover .case-studies-content {
  display: flex;
}

.book-now-section .custom-row {
  align-items: center;
}
.book-now-section .book-now-section-img {
  width: 40%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .book-now-section .book-now-section-img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .book-now-section .book-now-section-img {
    width: 100%;
  }
}
.book-now-section .book-now-section-img img {
  width: 100%;
  height: auto;
  display: block;
}
.book-now-section .book-now-section-right {
  width: 55%;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .book-now-section .book-now-section-right {
    width: 100%;
    margin-left: 0px;
    margin-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .book-now-section .book-now-section-right {
    width: 100%;
    margin-left: 0px;
    margin-top: 3rem;
  }
}
.book-now-section .book-now-section-right h3 {
  margin: 0px 0 2rem 0;
  padding: 0px;
  font-weight: 700;
}

.page-text-section .page-text-section-in {
  padding: 0 7rem;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-text-section .page-text-section-in {
    padding: 0px;
  }
}
.page-text-section h2 {
  margin: 0px;
  padding: 0px;
}
.page-text-section .desc {
  margin-top: 3rem;
}

.post-section {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.band-post-section {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.post-box {
  position: relative;
  z-index: 2;
}
.post-box .custom-row {
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-box .custom-row {
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-box .custom-row {
    flex-direction: column-reverse;
  }
}
.post-box .post-box-img {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-box .post-box-img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-box .post-box-img {
    width: 100%;
  }
}
.post-box .post-box-img img {
  width: 100%;
  height: auto;
  display: block;
}
.post-box .post-box-content {
  width: 50%;
  padding: 2rem 0 2rem 4rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-box .post-box-content {
    padding: 0 0 2rem 0;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-box .post-box-content {
    padding: 0 0 2rem 0;
    width: 100%;
  }
}
.post-box .post-box-content h3 {
  margin: 0px;
  color: #fd7622;
}
.post-box .post-box-content .desc {
  margin-top: 2rem;
}
.post-box.post-row-reverse .custom-row {
  flex-direction: row-reverse;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-box.post-row-reverse .custom-row {
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-box.post-row-reverse .custom-row {
    flex-direction: column-reverse;
  }
}
.post-box.post-row-reverse .custom-row .post-box-content {
  width: 50%;
  padding: 2rem 4rem 2rem 0rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-box.post-row-reverse .custom-row .post-box-content {
    padding: 0 0 2rem 0;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-box.post-row-reverse .custom-row .post-box-content {
    padding: 0 0 2rem 0;
    width: 100%;
  }
}

.why-brands-section .why-brands-row ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.why-brands-section .why-brands-row ul li {
  width: 40%;
  margin-top: 4rem;
}
.why-brands-section .why-brands-row ul li:nth-child(2n+2) {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 567px) {
  .why-brands-section .why-brands-row ul li {
    width: 100%;
  }
}
.why-brands-section .why-brands-row ul li h3 {
  margin: 0px;
  padding: 0px;
  color: #fd7622;
}
.why-brands-section .why-brands-row ul li .desc {
  margin-top: 1rem;
}

.branding-case-study-section .custom-row {
  margin-top: 4rem;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .branding-case-study-section .custom-row {
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .branding-case-study-section .custom-row {
    flex-direction: column-reverse;
  }
}
.branding-case-study-section .custom-row .branding-case-study-img {
  width: 47%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .branding-case-study-section .custom-row .branding-case-study-img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .branding-case-study-section .custom-row .branding-case-study-img {
    width: 100%;
  }
}
.branding-case-study-section .custom-row .branding-case-study-img img {
  width: 100%;
  height: auto;
  display: block;
}
.branding-case-study-section .custom-row .branding-case-study-content {
  width: 47%;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .branding-case-study-section .custom-row .branding-case-study-content {
    width: 100%;
    margin-left: 0;
    margin-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .branding-case-study-section .custom-row .branding-case-study-content {
    width: 100%;
    margin-left: 0;
    margin-bottom: 3rem;
  }
}
.branding-case-study-section .custom-row .branding-case-study-content h3 {
  margin: 0px;
  padding: 0px;
  color: #fd7622;
}
.branding-case-study-section .custom-row .branding-case-study-content .desc {
  margin: 2rem 0;
}

.categories-section h2 {
  margin: 0px;
  padding: 0px;
  color: #fd7622;
}
.categories-section .categories-filter-ul {
  margin-top: 1.5rem;
}
.categories-section .categories-filter-ul ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.categories-section .categories-filter-ul ul li {
  margin: 0 4rem 0 0;
  padding: 10px 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .categories-section .categories-filter-ul ul li {
    margin-right: 2rem;
  }
}
.categories-section .categories-filter-ul ul li a {
  display: block;
  color: #33414d;
  font-weight: 600;
}
.categories-section .categories-filter-ul ul li a.active, .categories-section .categories-filter-ul ul li a:hover {
  color: #32bbae;
}

.categories-row {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin-top: 3rem;
}
.categories-row .categories-box {
  width: 33.33%;
  padding: 5px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .categories-row .categories-box {
    width: 50%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .categories-row .categories-box {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .categories-row .categories-box {
    width: 100%;
  }
}
.categories-row .categories-box .categories-box-in {
  position: relative;
}
.categories-row .categories-box .categories-box-in .categories-img {
  width: 100%;
  height: 100%;
}
.categories-row .categories-box .categories-box-in .categories-img img {
  width: 100%;
  height: auto;
  display: block;
}
.categories-row .categories-box .categories-box-in .categories-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  display: none;
}
.categories-row .categories-box .categories-box-in .categories-content h3 {
  margin: 0 0 1rem 0;
  padding: 0px;
  color: #fd7622;
  min-height: 120px;
  text-transform: lowercase;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .categories-row .categories-box .categories-box-in .categories-content h3 {
    min-height: 70px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .categories-row .categories-box .categories-box-in .categories-content h3 {
    min-height: 50px;
  }
}
.categories-row .categories-box .categories-box-in .categories-content .primary-btn {
  color: #fff;
}
.categories-row .categories-box .categories-box-in:hover .categories-content {
  display: flex;
}

.get-in-touch-section .get-in-touch-box {
  background-color: #fff;
  padding: 10%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  margin-top: -10rem;
  position: relative;
  z-index: 3;
}
.get-in-touch-section .get-in-touch-box h2 {
  margin: 0px;
  padding: 0px;
  color: #fd7622;
}
.get-in-touch-section .get-in-touch-box .get-in-touch {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.get-in-touch-section .get-in-touch-box .get-in-touch li {
  margin-top: 3rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .get-in-touch-section .get-in-touch-box .get-in-touch li {
    margin-top: 1.5rem;
  }
}
.get-in-touch-section .get-in-touch-box .get-in-touch li a {
  display: flex;
  width: 100%;
  font-size: 2.5rem;
  color: #33414d;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 991px) {
  .get-in-touch-section .get-in-touch-box .get-in-touch li a {
    font-size: 2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .get-in-touch-section .get-in-touch-box .get-in-touch li a {
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .get-in-touch-section .get-in-touch-box .get-in-touch li a {
    font-size: 1.2rem;
  }
}
.get-in-touch-section .get-in-touch-box .get-in-touch li a i {
  width: 75px;
  height: 75px;
  border: 2px #fd7622 solid;
  border-radius: 100px;
}
@media (min-width: 568px) and (max-width: 767px) {
  .get-in-touch-section .get-in-touch-box .get-in-touch li a i {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .get-in-touch-section .get-in-touch-box .get-in-touch li a i {
    width: 45px;
    height: 45px;
  }
}
.get-in-touch-section .get-in-touch-box .get-in-touch li a i.email-icon {
  background: url("../img/icons/email orange.svg") no-repeat center center;
  background-size: 56%;
}
.get-in-touch-section .get-in-touch-box .get-in-touch li a i.phone-icon {
  background: url("../img/icons/phone orange.svg") no-repeat center center;
  background-size: 38%;
}
.get-in-touch-section .get-in-touch-box .get-in-touch li a i.adds-icon {
  background: url("../img/icons/map orange.svg") no-repeat center center;
  background-size: 50%;
}
.get-in-touch-section .get-in-touch-box .get-in-touch li a span {
  width: calc(100% - 66px);
  padding: 5px 0 0 2rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .get-in-touch-section .get-in-touch-box .get-in-touch li a span {
    width: calc(100% - 55px);
    padding: 5px 0 0 1rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .get-in-touch-section .get-in-touch-box .get-in-touch li a span {
    width: calc(100% - 55px);
    padding: 5px 0 0 1rem;
  }
}
.get-in-touch-section .get-in-touch-box .get-in-touch li a:hover {
  color: #fd7622;
}

.icon-flex {
  display: flex;
}

.case-studies-details-section {
  padding: 10rem 0 0 0;
}
.case-studies-details-section .case-studies-details-content-box h3 {
  color: #33414d;
  font-weight: 500;
}
.case-studies-details-section .case-studies-details-content-box .case-studies-details-img img {
  width: 100%;
  height: auto;
  display: block;
}
.case-studies-details-section .case-studies-details-content-box .case-studies-details-content {
  padding: 5rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .case-studies-details-section .case-studies-details-content-box .case-studies-details-content {
    padding: 2rem 0;
  }
}

.img-galley-row {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.img-galley-row .img-galley-box {
  width: 33.33%;
  padding: 5px;
}
@media (min-width: 568px) and (max-width: 767px) {
  .img-galley-row .img-galley-box {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .img-galley-row .img-galley-box {
    width: 100%;
  }
}
.img-galley-row .img-galley-box img {
  width: 100%;
  height: auto;
  display: block;
}

.review-section .review-txt {
  font-size: 1.6rem;
  font-weight: 500;
}
@media (min-width: 568px) and (max-width: 767px) {
  .review-section .review-txt {
    font-size: 1.4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .review-section .review-txt {
    font-size: 1.2rem;
  }
}
.review-section .review-info {
  font-size: 1.4rem;
  margin-top: 3rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .review-section .review-info {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .review-section .review-info {
    font-size: 1.1rem;
    margin-top: 2rem;
  }
}
.review-section .review-info strong {
  display: block;
  font-weight: 500;
  text-transform: uppercase;
}
.review-section .review-info span {
  display: block;
  font-weight: 500;
  margin-top: 5px;
}

.take-look-inside-section {
  padding-top: 2rem;
}
.take-look-inside-section .img-galley-section {
  margin-top: 4rem;
}

.pagination-block {
  padding: 3rem 0;
}
.pagination-block .pagination {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: end;
}
.pagination-block .pagination li {
  margin: 0 10px;
  padding: 0px;
}
.pagination-block .pagination li a,
.pagination-block .pagination li button,
.pagination-block .pagination li span {
  color: #fd7622;
  font-size: 1.2rem;
  display: block;
  font-weight: 500;
  padding: 7px 14px;
  border: 1px #fd7622 solid;
}
.pagination-block .pagination li span {
  color: #fd7622;
}
.pagination-block .pagination li .current {
  background-color: #fd7622;
  color: #fff;
}
.pagination-block .pagination li.btn a {
  border-color: transparent;
}

.page-not-foumd {
  min-height: 600px;
}
.page-not-foumd .blog-block-text {
  text-align: center;
}
.page-not-foumd h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
}

.page-title h1 {
  margin: 0px;
  padding: 0px;
  color: #32bbae;
  font-size: 3.2rem;
}

.single-service .full-bg-hero .page-hero-content-outer .page-hero-content h1::after {
  background: transparent;
}

.privacy-policy h1,
.privacy-policy h2,
.privacy-policy h3,
.privacy-policy h4,
.privacy-policy h5 {
  margin-bottom: 0px;
}
.privacy-policy h2 {
  font-size: 2.2rem;
}
.privacy-policy h3 {
  font-size: 2rem;
}

/*# sourceMappingURL=global.css.map */
