{% extends "base.twig" %}

{% block content %}
	{% include 'partial/content-page-hero.twig' with {post:blog_post} %}

	<section class="categories-section">

		{% include ['partial/content-categories-filter.twig']%}
		<div class="categories-row">
			{% if posts %}
			{% for post in posts %}
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			{% endfor %}
			{% else %}
			No case study found. Please try again.
			{% endif %}
		</div>

		<div class="case-study-pagination">
			{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: true, mid_size: 3, end_size: 2}) } %}
		</div>

	</section>

	{% include "partial/content-flexible-content.twig" with {post:blog_post} %}

{% endblock %}
