{% if menu %}
	<ul>
	{% for item in items %}
		{# <li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "menu.twig" with {'items': item.children} %} 	</li>#}

			<li class="{{ item.classes | join(' ') }}">
		{% if item.children %}
		<a target="{{ item.target }}" href="{{ item.link }}" id="subMenu" class="link-has-childern">{{ item.title }}</a>
		<button id="subMenuToggle" class="sub-menu-toggle" aria-expanded="false" aria-pressed="false"></button>
		{% include "menu.twig" with {'items': item.children} %}
		{% else %}
		<a target="{{ item.target }}" href="{{ item.link }}" class="link-no-childern">{{ item.title }}</a>
		{% endif %}
	</li>
	
	{% endfor %}
	</ul>
{% endif %}


