{% extends "base.twig" %}

{% block content %}
	{% include "partial/content-page-hero.twig"%}
	<section class="get-in-touch-section">
		<div class="container-sm">
			<div class="get-in-touch-box">
				<h2>{{post.meta('page_heading')}}get in touch</h2>


				<ul class="get-in-touch">
					<li>
						<a href="mailto:{{post.email}}">
							<i class="email-icon"></i>
							<span>{{post.email}}</span>
						</a>
					</li>
					<li>
						<a href="tel:{{post.meta('telephone')}}">
							<i class="phone-icon"></i>
							<span>{{post.telephone}}</span>
						</a>
					</li>
					<li>
						<a class="icon-flex" href="{{post.google_map}}">
							<i class="adds-icon"></i>
							<span>{{post.contact_address|nl2br}}
							<br/>
							 Open in Google Maps
							</span>      
						</a>

					</li>
				</ul>
			</div>
		</div>
	</section>
	{% include "partial/content-flexible-content.twig"%}
{% endblock %}
