{% extends "base.twig" %}

{% block content %}

	<section class="case-studies-details-section">
		<div class="container-sm">
			<h2 class="line">{{post.title}}</h2>
			<div class="case-studies-details-content-box">
				<h3>{{post.categories|join(', ')}}</h3>

				{% if post.thumbnail %}
				<div class="case-studies-details-img">
					<img src="{{post.thumbnail.src('large')}}" alt="{{post.title}}">
				</div>
				{% endif %}
				<div class="case-studies-details-content">
					<div class="desc">
						{{post.content}}
					</div>
				</div>
			</div>
		</div>
	</section>
	
	{% include "partial/content-flexible-content.twig"%}

	<section class="back-section aos-init" data-aos="fade-up">
		<div class="btn-set--center">
			<a href="{{site.link}}/case-studies" class="secondary-bg-btn">back to case studies</a>
		</div>
	</section>


	{% include "partial/content-book-now.twig"%}

{% endblock %}
