<div class="categories-box">
	<div class="categories-box-in">
		{% if post.thumbnail %}
			<div class="categories-img"> 
				<picture>
					<img src="{{ post.thumbnail.src('categories_img') }}" alt="{{ post.title }}">
				</picture>
			</div>
		{% endif %}

		<div class="categories-content">
			<div class="categories-content-in">
				<h3>{{ post.title }}</h3>
				<div class="btn-set--center">
					<a href="{{post.link}}" class="primary-btn">READ MORE<i>&gt;</i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
