.btn-set--left {
    display: flex;
    justify-content: left;
}

.btn-set--center {
    display: flex;
    justify-content: center;
}

.btn-set--right {
    display: flex;
    justify-content: flex-end;


}

.primary-btn {
    color: $gray-color;
    @extend %button-font-size;
    background-color: $white;
    position: relative;
    padding: 8px 12px 8px 20px;
    border: 0px;
    font-family: $primaryfontfaimly;

    &::after {
        content: '';
        position: absolute;
        top: 0px;
        right: -30px;
        width: 30px;
        height: 100%;
        background-color: $white;
        clip-path: polygon(0 0, 0% 100%, 64% 100%);

    }

    &:hover {
        background-color: $primary-color;
        color: $white;

        &::after {
            background-color: $primary-color;
        }
    }
}

.btn {
    display: inline-block;
    border-right: 0;
    position: relative;
    padding: 2px 14px 2px 2px;
    background: #EE7601;
    clip-path: polygon(0 0, 0% 100%, 45% 100%);

    .btn-in {
        clip-path: polygon(0 0, 0% 100%, 45% 100%);
        background: #fff;
        padding-right: 3rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.secondary-btn {
    background: transparent;
    border: 0px;
    font-family: $primaryfontfaimly;
    @extend %button-font-size;
    padding: 0px;
    display: flex;

    span {
        background: $white;
        padding: 8px 15px 8px 25px;
        border: 1px $primary-color solid;
        border-right: 0px;
        position: relative;
        z-index: 1;
        margin-right: -1px;
        &::after {
            content: "";
            position: absolute;
            top: -1px;
            right: 0px;
            width: 1px;
            height: 4px;
            background: $primary-color;
            transform: rotate(139deg);
        }
    }

    i {
        border-right: 0;
        position: relative;
        width: 30px;
        background: $primary-color;
        clip-path: polygon(0 0, 0% 100%, 100% 99%);

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 2px;
            right: 2px;
            bottom: 1px;
            background: $white;
            clip-path: polygon(0 0, 0% 100%, 100% 99%);
        }
    }
    &:hover{
        span {
            background: $primary-color;
            color: $white;
        }
        i {
    
            &::after {
                background: $primary-color;
            }
        }
    }
}