// This list is main colors

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$black:    #000 !default;
$white:    #fff !default;

$primary-color: #EE7601 ;
$secondary-color: #3b3c41 ;
$gray-color: #3b3c41; 
$list-gray-color: #B8B6B9; 


%primary-gradient{
    background: linear-gradient(to right,  rgba(50,187,174,1) 0%,rgba(54,171,106,1) 100%);
    color: $white;
}

%secondary-gradient{
    background: linear-gradient(to right,  rgba(253,118,34,1) 0%,rgba(250,163,70,1) 100%);
   color: $white;
}


