%h1{
    font-size: 8rem;
    line-height: 8rem;
    font-weight: 600;
    @include breakpoint(desktop1){
        font-size: 6.5rem;
        line-height: 6.5rem;
    }
    @include breakpoint(desktop2){
        font-size: 6rem;
        line-height: 6rem;
    }
    @include breakpoint(ipad_landscape){
        font-size: 5.5rem;
        line-height: 5.5rem;
    }
    @include breakpoint(ipad_portrait){
        font-size: 5rem;
        line-height: 5rem;
    }
    @include breakpoint(mobile_landscape){
        font-size: 4rem;
        line-height: 4rem; 
    }
    @include breakpoint(mobile_portrait){
        font-size: 3rem;
        line-height: 3rem;
    }
}

%h2{
    font-size: 5rem;
    font-weight: 500;
    line-height: 5.7rem;
    color: $secondary-color;
    @include breakpoint(desktop1){
        font-size: 4rem;
        line-height: 4.7rem;
    }
    @include breakpoint(desktop2){
        font-size: 4rem;
        line-height: 4.7rem;
    }
    @include breakpoint(ipad_landscape){
        font-size: 3.3rem; 
        line-height: 4rem;
    }
    @include breakpoint(ipad_portrait){
        font-size: 3.3rem; 
        line-height: 4rem;
    }
    @include breakpoint(mobile_landscape){
        font-size: 2.5rem;
        line-height: 3.1rem;
    }
    @include breakpoint(mobile_portrait){
        font-size: 2.2rem;
        line-height: 2.7rem;
    }

}

%h3{
    font-size:2.7rem;
    font-weight: 500;
    @include breakpoint(ipad_landscape){
        font-size: 2rem;
    }
    @include breakpoint(ipad_portrait){
        font-size: 1.8rem; 
    }
    @include breakpoint(mobile_landscape){
        font-size: 1.6rem;
    }
    @include breakpoint(mobile_portrait){
        font-size: 1.4rem;
    }
}

%h4{
    font-size:2rem;
    font-weight: 500;
    @include breakpoint(ipad_landscape){
        font-size: 1.9rem;
    }
    @include breakpoint(ipad_portrait){
        font-size: 1.7rem;
    }
    @include breakpoint(mobile_landscape){
        font-size: 1.6rem;
    }
    @include breakpoint(mobile_portrait){
        font-size: 1.5rem;
    }
}

h2{
    @extend %h2;

}

h3{
    @extend %h3;

}

h4{
    @extend %h4;

}


.single{
    %h1{
        @include breakpoint(desktop1){
            font-size: 4.5rem;
            line-height: 5rem;
        }
        @include breakpoint(desktop2){
            font-size: 4rem;
            line-height: 5.5rem;
        }
        @include breakpoint(ipad_landscape){
            font-size: 3.5rem;
            line-height: 5rem;
        }
        @include breakpoint(ipad_portrait){
            font-size: 3.5rem;
            line-height: 5rem;
        }
        @include breakpoint(mobile_landscape){
            font-size: 2.4rem;
            line-height: 3.1rem;
        }
        @include breakpoint(mobile_portrait){
            font-size: 2.4rem;
            line-height: 3.1rem;
        }
    } 
}
.project-galley-section{
    @extend %main-padding-top;
}