@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin width($width: auto) {
  width: $width;
}

@mixin m-p-0 {
  padding: 0px;
  margin: 0px;
}

@mixin ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

@mixin height($height: auto) {
  height: $height;
}

@mixin image($width: 100%, $height: auto, $display: block) {
  width: $width;
  height: $height;
  display: block;
}

@mixin background($background: auto) {
  background: $background;
}

@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin padding($top: 0, $right: 0, $bottom: 0, $left: 0) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin box-shadow($top: 0, $left: 1px, $blur: 2px, $color: $default) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

@mixin size-color($size: 12px, $color: $white) {
  font-size: $size;
  color: $color;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box($width, $height, $background-color, $border, $radius) {
  width: $width;
  height: $height;
  background-color: $background-color;
  border-radius: $radius;
  border: $border;
}

@mixin display-inline($display, $vertical-align) {
  display: $display;
  vertical-align: $vertical-align;
}

@mixin display-flex($display, $align-items, $justify-content, $flex-wrap) {
  display: $display;
  align-items: $vertical-align;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}

@mixin border($width, $color, $type) {
  border-width: $width;
  border-color: $color;
  border-style: $type;
}

%sm-l-f-pd{
  @include breakpoint(ipad_portrait){
    padding-left: 2rem;
    padding-right: 2rem;
 }
 @include breakpoint(mobile_landscape){
  padding-left: 2rem;
  padding-right: 2rem;
}
}