a,
button {
  cursor: pointer;
}

// Base Font faimly

$primaryfontfaimly:"Jost", sans-serif;

// Base font size

%font-size-base {
  font-size: 1.4rem;
  line-height: 1.7rem;
  @include breakpoint(ipad_landscape){
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  @include breakpoint(ipad_portrait){
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  @include breakpoint(mobile_landscape){
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  @include breakpoint(mobile_portrait){
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
}

%body-font-size{
  font-size: 1.4rem;
  @include breakpoint(mobile_landscape){
    font-size: 1.2rem;
   }
  @include breakpoint(mobile_portrait){
    font-size: 1.1rem;
  }
}

%button-font-size {
 font-size: 1.4rem;
 @include breakpoint(mobile_landscape){
  font-size: 1.2rem;
 }
  @include breakpoint(mobile_portrait){
    font-size: 1.1rem;
  }
}

%mainMenuFont {
  font-size: 1.7rem;
}

// Main font size



// Footer font size

$footerTxtFont: 1rem;



// Main line height
$line-height: 2.1rem;

// Main padding
$main-pd: 5rem;

%main-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
  @include breakpoint(ipad_portrait) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  @include breakpoint(mobile) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

%main-padding-top {
  padding-top: 6rem;
  @include breakpoint(ipad_portrait) {
    padding-top: 4rem;
  }
  @include breakpoint(mobile) {
    padding-top: 4rem;
  }
}

%main-padding-btm {
  padding-bottom: 6rem;
  @include breakpoint(ipad_portrait) {
    padding-bottom: 4rem;
  }
  @include breakpoint(mobile) {
    padding-bottom: 4rem;
  }
}

// Set Image Path
$assetPath: "../img";
$assetIconsPath: "../img/icons";
$fontsPath: "../webfonts";

// Button Font Size