/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
a,
button {
  cursor: pointer;
}

.testimonials-section, .main-padding, .how-we-work-section, .other-services-section, .article-with-image-section, .short-content-section, .previous-projects-section, .video-slider-section, .simple-content-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section, .main-padding, .how-we-work-section, .other-services-section, .article-with-image-section, .short-content-section, .previous-projects-section, .video-slider-section, .simple-content-section {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section, .main-padding, .how-we-work-section, .other-services-section, .article-with-image-section, .short-content-section, .previous-projects-section, .video-slider-section, .simple-content-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.padding-top {
  padding-top: 4rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .padding-top {
    padding-top: 4rem;
  }
}

.page-hero-image-section .page-hero-content-outer .page-hero-content-in .page-hero-content .desc--box p {
  font-size: 24px;
  line-height: 1.8rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content-in .page-hero-content .desc--box p {
    font-size: 21px;
    line-height: 1.6rem;
  }
}

body {
  font-size: 19px;
}
@media (min-width: 320px) and (max-width: 767px) {
  body {
    font-size: 16px;
  }
}

.desc--box ul li, p {
  line-height: 1.6rem;
}

.page-hero-image-section .page-hero-content-outer::after, .home-page-slider-section .home-page-slider-item::after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 70%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#132c3f+50,005d82+100&0.97+50,0+100 */
  background: -moz-linear-gradient(left, rgba(19, 44, 63, 0.97) 50%, rgba(0, 93, 130, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(19, 44, 63, 0.97) 50%, rgba(0, 93, 130, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(19, 44, 63, 0.97) 50%, rgba(0, 93, 130, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f7132c3f", endColorstr="#00005d82",GradientType=1 );
  /* IE6-9 */
}

@font-face {
  font-family: "CoHeadlineW01Light";
  src: url("../webfonts/CoHeadlineW01-Light.eot");
  src: url("../webfonts/CoHeadlineW01-Light.eot?#iefix") format("embedded-opentype"), url("../webfonts/CoHeadlineW01-Light.woff2") format("woff2"), url("../webfonts/CoHeadlineW01-Light.woff") format("woff"), url("../webfonts/CoHeadlineW01-Light.ttf") format("truetype"), url("../webfonts/CoHeadlineW01-Light.svg#CoHeadlineW01-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoHeadlineW08Light";
  src: url("../webfonts/CoHeadlineW08Light.eot");
  src: url("../webfonts/CoHeadlineW08Light.eot") format("embedded-opentype"), url("../webfonts/CoHeadlineW08Light.woff2") format("woff2"), url("../webfonts/CoHeadlineW08Light.woff") format("woff"), url("../webfonts/CoHeadlineW08Light.ttf") format("truetype"), url("../webfonts/CoHeadlineW08Light.svg#CoHeadlineW08Light") format("svg");
}
@font-face {
  font-family: "CoHeadlineW01Bold";
  src: url("../webfonts/CoHeadlineW01-Bold.eot");
  src: url("../webfonts/CoHeadlineW01-Bold.eot?#iefix") format("embedded-opentype"), url("../webfonts/CoHeadlineW01-Bold.woff2") format("woff2"), url("../webfonts/CoHeadlineW01-Bold.woff") format("woff"), url("../webfonts/CoHeadlineW01-Bold.ttf") format("truetype"), url("../webfonts/CoHeadlineW01-Bold.svg#CoHeadlineW01-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.btn-set--left {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.btn-set--center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
@media (min-width: 320px) and (max-width: 567px) {
  .btn-set--right {
    justify-content: start;
  }
}

.primary-btn,
.secondary-btn,
.primary-outline-btn,
.secondary-outline-btn,
.white-btn,
.wpcf7-submit,
.white-outline-btn {
  padding: 0.2rem 1rem;
  font-size: 1rem;
  display: block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  text-align: center;
  font-family: "CoHeadlineW08Light";
}
@media (min-width: 320px) and (max-width: 567px) {
  .primary-btn,
.secondary-btn,
.primary-outline-btn,
.secondary-outline-btn,
.white-btn,
.wpcf7-submit,
.white-outline-btn {
    padding: 0.2rem 0.4rem;
  }
}

.primary-btn {
  background-color: #e66622;
  color: #fff;
  border: 1px #e66622 solid;
}
.primary-btn:hover {
  background-color: #0086c0;
  color: #fff;
  border: 1px #0086c0 solid;
}

.secondary-btn {
  background-color: #0086c0;
  color: #fff;
  border: 1px #0086c0 solid;
}
.secondary-btn:hover {
  background-color: #e66622;
  color: #fff;
  border: 1px #e66622 solid;
}

.white-btn {
  background-color: #fff;
  color: #e66622;
  border: 0px #0086c0 solid;
}
.white-btn:focus {
  color: #e66622;
}
.white-btn:hover {
  background-color: #e66622;
  color: #fff;
  border: 0px #e66622 solid;
}

.primary-outline-btn {
  background-color: transparent;
  color: #0086c0;
  border: 1px #e66622 solid;
}
.primary-outline-btn:hover {
  background-color: #e66622;
  color: #fff;
  border: 1px #e66622 solid;
}

.white-outline-btn {
  background-color: transparent;
  color: #fff;
  border: 1px #fff solid;
}
.white-outline-btn:hover {
  background-color: transparent;
  color: #fff;
  border: 1px #fff solid;
}

.secondary-outline-btn {
  background-color: transparent;
  color: #0086c0;
  border: 1px #0086c0 solid;
}
.secondary-outline-btn:hover {
  background-color: #0086c0;
  color: #fff;
  border: 1px #0086c0 solid;
}

.wpcf7-submit {
  color: #fff;
  border: 1px #0086c0 solid;
  background: #0086c0 url("../img/icons/white arrow right.svg") no-repeat calc(100% - 10px) center;
  padding-right: 31px;
  background-size: 9px;
}
.wpcf7-submit:hover {
  background-color: #e66622;
  color: #fff;
  border: 1px #e66622 solid;
}

.input-submit .wpcf7-spinner {
  display: none;
}

.primary-bg .secondary-btn:hover, .primary-bg .secondary-btn:active, .primary-bg .secondary-btn:focus {
  background-color: #fff;
  color: #0086c0 !important;
  border: 1px #e66622 solid;
}
.primary-bg .secondary-btn:hover i, .primary-bg .secondary-btn:active i, .primary-bg .secondary-btn:focus i {
  fill: #0086c0;
}

.primary-bg .primary-btn:hover {
  background-color: #e66622;
  color: #0086c0;
  border: 1px #0086c0 solid;
}

.secondary-bg .secondary-btn {
  background-color: #fff;
  color: #e66622;
  border: 1px #fff solid;
}
.secondary-bg .secondary-btn:hover {
  background-color: #e66622;
  color: #fff;
  border: 1px #e66622 solid;
}

.white-btn .download-icon {
  fill: #e66622;
}
.white-btn:hover .download-icon {
  fill: #fff;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  background: #dce0e7;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0px;
  color: #29292b;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #0086c0;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

strong {
  font-weight: 900;
}

.container-lg {
  max-width: calc(100%);
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .container-lg {
    width: calc(100% - 2rem);
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-lg {
    width: calc(100% - 2rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-lg {
    width: calc(100% - 2rem);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container-lg {
    width: calc(100% - 1rem);
  }
}

.container {
  max-width: 1400px;
  width: calc(100% - 14rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .container {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container {
    width: calc(100% - 3rem);
  }
}

.container-md {
  max-width: 1200px;
  width: calc(100% - 24rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .container-md {
    width: calc(100% - 12rem);
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-md {
    width: calc(100% - 12rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-md {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-md {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-md {
    width: calc(100% - 3rem);
  }
}

.container-sm {
  max-width: 1040px;
  width: calc(100% - 10rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-sm {
    width: calc(100% - 10rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-sm {
    width: calc(100% - 6rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-sm {
    width: calc(100% - 3rem);
  }
}

.white-bg {
  background: #fff;
}

.primary-bg {
  color: #fff;
  background: #e66622;
}

.secondary-bg {
  background: #0086c0;
  color: #fff;
}

.light-bg {
  background: #dce0e7;
  color: #3d3d3c;
}

.gradient-bg {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#005d82+0,132c3f+100 */
  background: #005d82;
  /* Old browsers */
  background: -moz-linear-gradient(left, #005d82 0%, #132c3f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #005d82 0%, #132c3f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #005d82 0%, #132c3f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005d82", endColorstr="#132c3f", GradientType=1);
  /* IE6-9 */
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.hide-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hide-desktop {
    display: block;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
  .hide-mobile {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hide-mobile {
    display: none;
  }
}

.desc--box p a {
  color: #0086c0;
  text-decoration: none;
}
.desc--box p a:hover {
  text-decoration: underline;
  color: #e66622;
}
.desc--box p:first-child {
  margin-top: 0px;
}
.desc--box p:last-child {
  margin: 0px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .desc--box p br {
    display: none;
  }
}
.desc--box ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.desc--box ul li {
  position: relative;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 1.1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .desc--box ul li br {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .desc--box ul li br {
    display: none;
  }
}
.desc--box ul li::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #0086c0;
  position: absolute;
  left: 0px;
  top: 4px;
  content: "";
}
.desc--box ul ~ p:last-child {
  margin-top: 1.5rem;
}
.desc--box table tr td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.desc--box table tr td:nth-child(1) {
  width: 150px;
  padding-right: 15px;
}

.main-container {
  min-height: 90vh;
}

.back-btn-box {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.back-btn-box .back-btn {
  font-size: 1.5rem;
  color: #e66622;
  font-family: "CoHeadlineW08Light";
  text-transform: lowercase;
  position: relative;
  font-weight: 400;
  padding: 0 0 1rem 0;
}
.back-btn-box .back-btn strong {
  display: inline-block;
  font-weight: 400;
}
.back-btn-box .back-btn::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100px;
  height: 5px;
  background: #e66622;
}
.back-btn-box .back-btn:hover {
  color: #e66622;
}

.hide-in-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hide-in-desktop {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .hide-in-mobile {
    display: none;
  }
}

.line {
  position: relative;
  margin: 2rem 0;
  height: 3px;
}
.line::after {
  content: "";
  width: 60%;
  height: 100%;
  top: 0px;
  position: absolute;
  left: 0px;
  background: #e66622;
}

#cn-accept-cookie {
  background-color: #0086c0 !important;
}

/*Helpers Scss Files */
.card-row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 991px) {
  .card-row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .card-row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.card-4 {
  width: 33.33%;
  padding: 0 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .card-4 {
    width: 100%;
    padding: 0px;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .card-4 {
    width: 100%;
    padding: 0px;
    margin-bottom: 1rem;
  }
  .card-4:last-child {
    margin-bottom: 0px;
  }
}

.article-left-right-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 991px) {
  .article-left-right-block {
    padding: 0 4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .article-left-right-block {
    padding: 0 4rem;
  }
}
.article-left-right-block .article-lr-image {
  width: 60%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .article-left-right-block .article-lr-image {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .article-left-right-block .article-lr-image {
    width: 100%;
  }
}
.article-left-right-block .article-lr-image img {
  width: 100%;
  display: block;
}
.article-left-right-block .article-lr-content {
  width: 40%;
  padding-left: 5%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .article-left-right-block .article-lr-content {
    width: 100%;
    padding-left: 0%;
    margin-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .article-left-right-block .article-lr-content {
    width: 100%;
    padding-left: 0%;
    margin-top: 3rem;
  }
}
.article-left-right-block .article-lr-content h2 {
  margin: 0 0 1rem 0;
  font-family: "CoHeadlineW08Light";
}
.article-left-right-block.reverse {
  flex-direction: row-reverse;
}
@media (min-width: 768px) and (max-width: 991px) {
  .article-left-right-block.reverse {
    flex-direction: row-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .article-left-right-block.reverse {
    flex-direction: row-reverse;
  }
}
.article-left-right-block.reverse .article-lr-content {
  padding-left: 0px;
  padding-right: 5%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .article-left-right-block.reverse .article-lr-content {
    padding-right: 0%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .article-left-right-block.reverse .article-lr-content {
    padding-right: 0%;
  }
}

.input-field {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-left: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .input-field {
    margin-top: 1.2rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
.input-field label {
  font-size: 19px;
  color: #0086c0;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-weight: 100;
}
.input-field label a {
  color: #fff;
  text-decoration: underline;
}
.input-field label a:hover {
  color: #e66622;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea,
.input-field select {
  border-width: 1px;
  border-color: #dce0e7;
  border-style: solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  font-size: 19px;
  color: #3d3d3c;
  background: #fff;
  -webkit-appearance: none;
  border-radius: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled,
.input-field select:disabled {
  opacity: 0.5;
}
.input-field input[type=text]::-webkit-input-placeholder, .input-field input[type=text]::-moz-placeholder, .input-field input[type=text]:-ms-input-placeholder, .input-field input[type=text]:-moz-placeholder,
.input-field input[type=email]::-webkit-input-placeholder,
.input-field input[type=email]::-moz-placeholder,
.input-field input[type=email]:-ms-input-placeholder,
.input-field input[type=email]:-moz-placeholder,
.input-field input[type=password]::-webkit-input-placeholder,
.input-field input[type=password]::-moz-placeholder,
.input-field input[type=password]:-ms-input-placeholder,
.input-field input[type=password]:-moz-placeholder,
.input-field input[type=number]::-webkit-input-placeholder,
.input-field input[type=number]::-moz-placeholder,
.input-field input[type=number]:-ms-input-placeholder,
.input-field input[type=number]:-moz-placeholder,
.input-field input[type=date]::-webkit-input-placeholder,
.input-field input[type=date]::-moz-placeholder,
.input-field input[type=date]:-ms-input-placeholder,
.input-field input[type=date]:-moz-placeholder,
.input-field textarea::-webkit-input-placeholder,
.input-field textarea::-moz-placeholder,
.input-field textarea:-ms-input-placeholder,
.input-field textarea:-moz-placeholder,
.input-field select::-webkit-input-placeholder,
.input-field select::-moz-placeholder,
.input-field select:-ms-input-placeholder,
.input-field select:-moz-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 19px;
  color: #3d3d3c;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  opacity: 1;
  text-transform: lowercase;
}
.input-field textarea {
  height: 126px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

select {
  width: 100%;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
}
@media (min-width: 1300px) and (max-width: 1499px) {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  h1 {
    line-height: 3.5rem;
    font-size: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    line-height: 3.4rem;
    font-size: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    line-height: 2.5rem;
    font-size: 2.2rem;
  }
}

h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 1.4rem;
  }
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.8rem;
}

ul.social-media-icon {
  margin: 0;
  padding: 0px;
  list-style: none;
  display: flex;
}
ul.social-media-icon li {
  margin: 0 1rem 0 0;
  padding: 0;
}
@media (min-width: 320px) and (max-width: 567px) {
  ul.social-media-icon li {
    margin: 0 0.6rem 0 0;
  }
}
ul.social-media-icon li:last-child {
  margin-right: 0px;
}
ul.social-media-icon li a {
  display: block;
  padding: 0;
  width: 55px;
  height: 55px;
}
ul.social-media-icon li a.facebook {
  background: url("../img/icons/fourmost facebook blue.svg") no-repeat center center;
  background-size: 100%;
}
ul.social-media-icon li a.facebook:hover {
  background: url("../img/icons/fourmost facebook orange.svg") no-repeat center center;
  background-size: 100%;
}
ul.social-media-icon li a.instagram {
  background: url("../img/icons/instagram white-01.svg") no-repeat center center;
  background-size: 100%;
}
ul.social-media-icon li a.instagram:hover {
  background: url("../img/icons/instagram grey-01-01.svg") no-repeat center center;
  background-size: 100%;
}
ul.social-media-icon li a.linkedin {
  background: url("../img/icons/fourmost linkedin blue.svg") no-repeat center center;
  background-size: 100%;
}
ul.social-media-icon li a.linkedin:hover {
  background: url("../img/icons/fourmost linkedin orange.svg") no-repeat center center;
  background-size: 100%;
}
ul.social-media-icon li a.twitter {
  background: url("../img/icons/twitter white-01.svg") no-repeat center center;
  background-size: 100%;
}
ul.social-media-icon li a.twitter:hover {
  background: url("../img/icons/twitter grey-01-01.svg") no-repeat center center;
  background-size: 100%;
}

.email-white-icon {
  background: url("../img/icons/guud property envelope green-01.svg") no-repeat center center;
}
.email-white-icon:hover {
  background: url("../img/icons/guud property envelope grey-01.svg") no-repeat center center;
}

.telephone-white-icon {
  background: url("../img/icons/guud property phone green-01.svg") no-repeat center center;
}
.telephone-white-icon:hover {
  background: url("../img/icons/guud property phone grey-01.svg") no-repeat center center;
}

.section-heading {
  margin-bottom: 4rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-heading {
    margin-bottom: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .section-heading {
    margin-bottom: 2rem;
  }
}
.section-heading h2 {
  margin: 0px;
  padding: 0 0 30px 0;
  position: relative;
  font-family: "CoHeadlineW08Light";
  color: #3d3d3c;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-heading h2 {
    padding: 0 0 20px 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .section-heading h2 {
    padding: 0 0 20px 0;
  }
}
.section-heading h2::after {
  content: "";
  position: absolute;
  width: 450px;
  height: 4px;
  left: 0px;
  bottom: 0;
  background-color: #e66622;
}
@media (min-width: 320px) and (max-width: 567px) {
  .section-heading h2::after {
    width: 100%;
  }
}

.gradient-bg .section-heading h2 {
  color: #fff;
}
.gradient-bg .section-heading h2::after {
  background-color: #fff;
}

.mail-phone-info {
  margin: 0px;
  padding: 0px;
}
.mail-phone-info ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.mail-phone-info ul li {
  margin: 0px;
  padding: 0px;
}
.mail-phone-info ul li:first-child {
  margin-right: 1.5rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .mail-phone-info ul li:first-child {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}
.mail-phone-info ul li a {
  padding-left: 58px;
  color: #3d3d3c;
  font-size: 1.4rem;
  font-family: "CoHeadlineW08Light";
  font-weight: 700;
  padding-top: 12px;
  padding-bottom: 12px;
}
@media (min-width: 568px) and (max-width: 767px) {
  .mail-phone-info ul li a {
    font-size: 1.2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .mail-phone-info ul li a {
    font-size: 1.2rem;
  }
}
.mail-phone-info ul li a:hover {
  color: #e66622;
}
.mail-phone-info ul li a[href^="tel:"] {
  background: url("../img/icons/phone blue.svg") no-repeat 10px center;
  background-size: 37px 40px;
  width: 49%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .mail-phone-info ul li a[href^="tel:"] {
    background: url("../img/icons/phone blue.svg") no-repeat 4px center;
    background-size: 37px 40px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .mail-phone-info ul li a[href^="tel:"] {
    width: 100%;
  }
}
.mail-phone-info ul li a[href^="tel:"]:hover {
  background: url("../img/icons/phone orange.svg") no-repeat 10px center;
  background-size: 37px 40px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .mail-phone-info ul li a[href^="tel:"]:hover {
    background: url("../img/icons/phone orange.svg") no-repeat 4px center;
    background-size: 37px 40px;
  }
}
.mail-phone-info ul li a[href^="mailto:"] {
  background: url("../img/icons/envelope blue.svg") no-repeat left center;
  background-size: 44px 32px;
}
.mail-phone-info ul li a[href^="mailto:"]:hover {
  background: url("../img/icons/envelope orange.svg") no-repeat left center;
  background-size: 44px 32px;
}

/*Layout Scss Files */
.main-header {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
.main-header header {
  padding: 1rem 0;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header header {
    padding: 1rem 0;
  }
}
.main-header header::after {
  position: absolute;
  width: 100%;
  content: "";
  height: 100%;
  background-color: white;
  left: 0px;
  top: 0px;
  opacity: 0;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
.main-header .custom-row {
  align-items: center;
  z-index: 2;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .custom-row {
    align-items: center;
  }
}
.main-header .logo a {
  padding: 0;
  z-index: 3;
}
.main-header .logo a.logo-white {
  display: block;
}
.main-header .logo a.logo-drak {
  display: none;
}
.main-header .logo a img {
  display: block;
  width: 290px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .main-header .logo a img {
    width: 240px;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .main-header .logo a img {
    width: 210px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-header .logo a img {
    width: 200px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .logo a img {
    width: 160px;
  }
}
.main-header .top-hdr-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.main-header .top-hdr-right .let-talk-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header .top-hdr-right .let-talk-btn i {
  margin-left: 10px;
  background: url("../img/icons/white arrow right.svg") no-repeat center center;
  width: 8px;
  height: 15px;
}
.main-header .top-hdr-right .main-nav {
  margin-left: 4rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-header .top-hdr-right .main-nav {
    margin-left: 2rem;
  }
}
.main-header .top-hdr-right .main-nav .nav-main {
  display: none;
}
.main-header .top-hdr-right .main-nav .nav-main ul {
  margin: 1rem 24px 24px 25px;
  padding: 0px;
  list-style: none;
}
.main-header .top-hdr-right .main-nav .nav-main ul li {
  margin: 0px;
  padding: 0.6rem 0;
  border-bottom: 2px #0086c0 solid;
}
.main-header .top-hdr-right .main-nav .nav-main ul li:last-child {
  border-bottom: 0;
}
.main-header .top-hdr-right .main-nav .nav-main ul li a {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #3d3d3c;
  display: block;
}
.main-header .top-hdr-right .main-nav .nav-main ul li a:hover {
  color: #e66622;
}
.main-header .top-hdr-right .main-nav .nav-main ul li.current-menu-item a {
  color: #e66622;
  font-family: 500;
}

.let-talk-hdr {
  position: relative;
  z-index: 2;
}

.nav__toggle {
  position: relative;
  height: 24px;
  width: 35px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 0rem;
  top: 0px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  height: 3px;
  right: 0px;
  background-color: #fff;
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  text-align: right;
  cursor: pointer;
  border-radius: 0px;
  background-color: #0086c0;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.2s;
  outline: 0;
}
.nav__toggle span {
  width: 35px;
  bottom: 0;
}
.nav__toggle span::before {
  top: -22px;
  width: 15px;
}
.nav__toggle span::after {
  top: -11px;
  width: 25px;
}
.nav__toggle:hover span::before, .nav__toggle:hover span::after {
  width: 35px;
}

.sm-header .main-header .logo a.logo-white {
  display: none;
}
.sm-header .main-header .logo a.logo-drak {
  display: block;
}
.sm-header .main-header header::after {
  opacity: 1;
}
.sm-header span,
.sm-header span::before,
.sm-header span::after {
  background-color: #0086c0;
}

.menu-slide .nav__toggle {
  top: -13px;
}
.menu-slide .nav__toggle span {
  background-color: transparent;
  width: 35px;
}
.menu-slide .nav__toggle span::before, .menu-slide .nav__toggle span::after {
  top: 0;
  background-color: #0086c0;
}
.menu-slide .nav__toggle span::before {
  transform: rotate(45deg);
  width: 35px;
}
.menu-slide .nav__toggle span::after {
  transform: rotate(-45deg);
  width: 35px;
}
.menu-slide .nav__toggle:hover span {
  background-color: transparent;
  width: 35px;
}
.menu-slide .nav__toggle:hover span::after {
  width: 35px;
}
.menu-slide .main-header .top-hdr-right .main-nav .nav-main {
  display: block;
  background: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 3rem;
  width: 250px;
  z-index: 1;
}

.main-footer {
  background: #fff;
  padding: 1rem 0;
  border-top: 2px #e66622 solid;
}
.main-footer .custom-row {
  align-items: center;
}
.main-footer .footer-left {
  width: 25%;
  padding-right: 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .footer-left {
    padding-right: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-left {
    width: 100%;
    padding-right: 0rem;
  }
}
.main-footer .footer-center {
  width: 47%;
  padding: 0 3rem;
  border-left: 1px #fff solid;
  border-right: 1px #fff solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-footer .footer-center {
    padding: 0 2rem;
    width: 44%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .footer-center {
    padding: 0 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-center {
    width: 100%;
    padding: 1rem 0;
  }
}
.main-footer .footer-right {
  width: 28%;
  padding-left: 3rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-footer .footer-right {
    padding-left: 2rem;
    width: 31%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .footer-right {
    padding-left: 1.5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .main-footer .footer-right {
    width: 26%;
    padding-left: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-right {
    width: 100%;
    padding-left: 0rem;
  }
}
.main-footer .footer-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right ul {
    justify-content: center;
    text-align: center;
    position: relative;
    padding-top: 1rem;
    margin-top: 0.5rem;
  }
  .main-footer .footer-right ul::before {
    content: "";
    width: 100px;
    height: 1px;
    background: #fff;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0px;
    top: 0;
  }
}
.main-footer .footer-right ul li {
  margin: 0 0 4px 0;
  padding: 0;
  font-size: 17px;
  color: #3d3d3c;
  text-align: right;
}
.main-footer .footer-right ul li:last-child {
  margin-bottom: 0px;
}
.main-footer .footer-right ul li a {
  font-size: 17px;
  color: #3d3d3c;
}
.main-footer .footer-right ul li a:hover {
  color: #e66622;
}
.main-footer .footer-right p {
  font-size: 17px;
  color: #3d3d3c;
  margin: 0px;
  text-align: right;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right p {
    text-align: center;
  }
}
.main-footer .footer-right p a {
  font-weight: 500;
  color: #3d3d3c;
}
.main-footer .footer-right p a:hover {
  color: #e66622;
}
.main-footer .site-footer-logo {
  width: 60%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-footer .site-footer-logo {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .site-footer-logo {
    width: 90%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .site-footer-logo {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
}
.main-footer .site-footer-logo img {
  display: block;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-social-media ul.social-media-icon {
    justify-content: center;
  }
}
.main-footer .footer-social-media ul.social-media-icon li a {
  width: 50px;
  height: 50px;
}
.main-footer .property-logos {
  margin: 0;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: flex-wrap;
}
.main-footer .property-logos li {
  margin: 0px;
  padding: 0 2rem;
  width: 28%;
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .main-footer .property-logos li {
    padding: 0 0.5rem;
    width: 34%;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-footer .property-logos li {
    padding: 0 0.5rem;
    width: 34%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .property-logos li {
    padding: 0 0.5rem;
    width: 33%;
  }
}
.main-footer .property-logos li a {
  display: block;
}
.main-footer .property-logos li img {
  width: 100%;
  display: block;
  border: 2px #fff solid;
  border-radius: 5px;
}

/*Components Scss Files */
.services-box {
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 2rem 1rem 1rem 3rem;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .services-box {
    padding: 1rem 1rem 1rem 1rem;
  }
}
.services-box a h2 {
  margin: 0 0 2rem 0;
  padding: 0px;
  font-size: 1.8rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #3d3d3c;
}
@media (min-width: 768px) and (max-width: 991px) {
  .services-box a h2 {
    font-size: 1.4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .services-box a h2 {
    font-size: 1.3rem;
  }
}
.services-box a .services-icon {
  width: 35%;
  padding-right: 1rem;
}
.services-box a .services-icon img {
  width: 100%;
  display: block;
}
.services-box a .services-icon img.hover-icon-show {
  display: none;
}
.services-box a .services-content {
  width: 65%;
  padding-left: 2rem;
  position: relative;
  padding-bottom: 2rem;
  min-height: 192px;
  color: #3d3d3c;
}
@media (min-width: 320px) and (max-width: 767px) {
  .services-box a .services-content {
    padding-left: 0px;
    min-height: 60px;
  }
}
.services-box a .services-content .primary-read-more {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #3d3d3c;
  font-size: 17px;
  background: url("../img/icons/orange arrow right.svg") no-repeat right 11px;
  background-size: 7px 13px;
  padding-right: 0.9rem;
  font-family: "CoHeadlineW08Light";
  font-weight: 500;
}
.services-box a:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.services-box a:hover .services-icon img.icon-show {
  display: none;
}
.services-box a:hover .services-icon img.hover-icon-show {
  display: block;
}
.services-box a:hover .services-content .primary-read-more {
  color: #e66622;
}

.simple-content-section h2 {
  margin: 0px;
  padding: 0px;
}
.simple-content-section h2 span {
  color: #e66622;
}
.simple-content-section h2 ~ .desc--box {
  margin-top: 1.5rem;
}

@media (min-width: 768px) and (max-width: 991px) {
  .video-slider-section .container-md {
    padding: 0 2rem;
    width: calc(100% - 1rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .video-slider-section .container-md {
    padding: 0 4rem;
  }
}

.previous-projects-section .section-heading h2 {
  color: #042640;
}
.previous-projects-section .slick-slider {
  margin: 0 -1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .previous-projects-section .container {
    padding: 0 4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .previous-projects-section .container {
    padding: 0 4rem;
  }
}

.article-with-image-section {
  background: #fff;
}

.article-with-image-section ~ .article-with-image-section {
  padding-top: 0px;
}

@media (min-width: 992px) and (max-width: 1024px) {
  .other-services-section .container {
    width: calc(100% - 3rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .other-services-section .container {
    padding: 0 4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .other-services-section .container {
    padding: 0 4rem;
  }
}
.other-services-section .custom-row {
  margin-left: -1rem;
  margin-right: -1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .other-services-section .custom-row {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .other-services-section .custom-row {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .other-services-section .custom-row {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
.other-services-section .services-box {
  padding: 2rem 2rem 0.7rem 2rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .other-services-section .services-box {
    padding: 2rem 1rem 0.7rem 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .other-services-section .services-box {
    padding: 2rem 1rem 0.7rem 3rem;
  }
}
.other-services-section .services-box .custom-row {
  margin-left: 0px;
  margin-right: 0px;
}
.other-services-section .services-box a .services-icon {
  padding-right: 2rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .other-services-section .services-box a .services-icon {
    padding-right: 1rem;
  }
}
.other-services-section .services-box .services-content {
  padding-left: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .other-services-section .services-box .services-content {
    padding-left: 1.5rem;
  }
}

.short-content-section h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: #042640;
  font-weight: 600;
  font-size: 4rem;
  margin: 0 0 2rem 0;
  padding: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .short-content-section h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .short-content-section h2 {
    font-size: 2.7rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .short-content-section h2 {
    font-size: 2.3rem;
  }
}
.short-content-section h2 strong {
  color: #e66622;
}

@media (min-width: 768px) and (max-width: 991px) {
  .how-we-work-section .container-sm {
    padding: 0 4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .how-we-work-section .container-sm {
    padding: 0 4rem;
  }
}
.how-we-work-section .how-we-work-box {
  width: 48%;
  margin-right: 2%;
  margin-bottom: 4%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .how-we-work-section .how-we-work-box {
    width: 100%;
    margin-right: 0%;
    padding: 1rem 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .how-we-work-section .how-we-work-box {
    width: 100%;
    margin-right: 0%;
    padding: 1rem 0;
  }
}
.how-we-work-section .how-we-work-box:nth-child(2n+2) {
  margin-left: 2%;
  margin-right: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .how-we-work-section .how-we-work-box:nth-child(2n+2) {
    margin-left: 0%;
    margin-right: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .how-we-work-section .how-we-work-box:nth-child(2n+2) {
    margin-left: 0%;
    margin-right: 0;
  }
}

.slick-slider .slick-arrow {
  position: absolute;
  top: 35%;
  z-index: 1;
  border: 0px;
  text-indent: -9999px;
  width: 25px;
  height: 50px;
}
.slick-slider .slick-arrow.slick-prev {
  left: -50px;
  background: url("../img/icons/slider-left.svg") no-repeat center center;
  background-size: 100%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .slick-slider .slick-arrow.slick-prev {
    left: -25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slick-slider .slick-arrow.slick-prev {
    left: -25px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .slick-slider .slick-arrow.slick-prev {
    left: 0;
  }
}
.slick-slider .slick-arrow.slick-next {
  right: -50px;
  background: url("../img/icons/slider-right.svg") no-repeat center center;
  background-size: 100%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .slick-slider .slick-arrow.slick-next {
    right: -25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .slick-slider .slick-arrow.slick-next {
    right: -25px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .slick-slider .slick-arrow.slick-next {
    right: 0px;
  }
}

@media (min-width: 320px) and (max-width: 567px) {
  .thumb-2-slider-section-content .slick-slider .slick-list,
.thumb-3-slider-section-content .slick-slider .slick-list {
    width: 90%;
    margin: auto;
  }
}

.thumb-2-slider .thumb-2-slider-item {
  padding: 0 1rem;
}
.thumb-2-slider .thumb-2-slider-item .thumb-2-slider-content {
  color: #fff;
  text-align: center;
  margin-top: 1rem;
}
.thumb-2-slider .thumb-2-slider-video img {
  width: 100%;
  display: block;
}

.thumb-3-slider .thumb-3-slider-item {
  padding: 0 1rem;
}
.thumb-3-slider .thumb-3-slider-item .thumb-3-slider-item-in {
  position: relative;
  overflow: hidden;
}
.thumb-3-slider .thumb-3-slider-item .thumb-3-slider-item-in .thumb-3-slider-image img {
  width: 100%;
  display: block;
}
.thumb-3-slider .thumb-3-slider-item .thumb-3-slider-item-in .thumb-3-slider-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 2.5rem;
  color: #fff;
  top: 0;
  left: 0px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .thumb-3-slider .thumb-3-slider-item .thumb-3-slider-item-in .thumb-3-slider-content {
    padding: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .thumb-3-slider .thumb-3-slider-item .thumb-3-slider-item-in .thumb-3-slider-content {
    position: relative;
    opacity: 1;
    padding: 1rem;
  }
}
.thumb-3-slider .thumb-3-slider-item .thumb-3-slider-item-in .thumb-3-slider-content h4 {
  margin: 0 0 7px 0;
  padding: 0px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
}
.thumb-3-slider .thumb-3-slider-item .thumb-3-slider-item-in .thumb-3-slider-content span {
  display: block;
  font-style: italic;
  margin: 0 0 10px 0;
}
.thumb-3-slider .thumb-3-slider-item .thumb-3-slider-item-in .thumb-3-slider-content .short-line::after {
  background-color: #fff;
}
.thumb-3-slider .thumb-3-slider-item .thumb-3-slider-item-in .thumb-3-slider-content .desc--box {
  padding-top: 1rem;
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .thumb-3-slider .thumb-3-slider-item .thumb-3-slider-item-in .thumb-3-slider-content .desc--box {
    height: 148px;
    overflow: hidden;
  }
}
.thumb-3-slider .thumb-3-slider-item .thumb-3-slider-item-in:hover .thumb-3-slider-content {
  opacity: 1;
}

.short-line {
  position: relative;
}
.short-line::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  left: 0px;
  bottom: 0;
  background-color: #fff;
}

.thumb-2-slider-video {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.thumb-2-slider-video::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}
.thumb-2-slider-video.slider-video-mp4::after {
  padding-top: 0;
  display: block;
  content: "";
}
.thumb-2-slider-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.single-service .slick-slider .slick-arrow {
  top: 0;
  height: 100%;
}

.testimonials-section .testimonials-section-content {
  margin: auto;
}
.testimonials-section .testimonials-section-content strong {
  font-family: "CoHeadlineW08Light";
  color: #3d3d3c;
  font-size: 1.5rem;
  text-align: left;
  display: inline-block;
  line-height: 2.1rem;
  padding-left: 90px;
  background: url("../img/icons/quotation-mark-icon.svg") no-repeat top left;
  background-size: 63px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-section-content strong {
    background-size: 36px;
    font-size: 1.3rem;
    line-height: 1.5rem;
    padding-left: 53px;
  }
}
.testimonials-section .testimonials-section-content i {
  display: block;
  text-align: left;
  font-size: 16px;
  margin-top: 1rem;
  font-style: normal;
  font-weight: 400;
  color: #005d82;
  padding-left: 90px;
}

.parallax-testimonials-section-content {
  color: #fff;
  max-width: 508px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .parallax-testimonials-section-content {
    max-width: 90%;
  }
}
.parallax-testimonials-section-content strong {
  font-family: "CoHeadlineW08Light";
  color: #fff;
  font-size: 1.8rem;
  text-align: left;
  display: inline-block;
  padding-left: 90px;
  background: url("../img/icons/quotation-mark-icon.svg") no-repeat top left;
  background-size: 50px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .parallax-testimonials-section-content strong {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .parallax-testimonials-section-content strong {
    font-size: 1.4rem;
  }
}
.parallax-testimonials-section-content strong P {
  line-height: 2.2rem;
  margin: 0px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .parallax-testimonials-section-content strong P {
    line-height: 1.9rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .parallax-testimonials-section-content strong P {
    line-height: 1.9rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .parallax-testimonials-section-content strong P {
    line-height: 1.5rem;
  }
}
.parallax-testimonials-section-content strong br {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .parallax-testimonials-section-content strong {
    background-size: 36px;
    padding-left: 53px;
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
}
.parallax-testimonials-section-content i {
  display: block;
  text-align: left;
  margin-top: 1rem;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  padding-left: 90px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .parallax-testimonials-section-content i {
    padding-left: 56px;
  }
}

.home-page-slider-section {
  position: relative;
}
.home-page-slider-section .home-page-slider-item::after {
  content: "";
}
.home-page-slider-section .slick-dots {
  display: none;
}
.home-page-slider-section .home-page-slider-in {
  max-width: 880px;
  padding: 14rem 0 0 0;
  margin-left: 12%;
}
@media (min-width: 1500px) and (max-width: 1700px) {
  .home-page-slider-section .home-page-slider-in {
    padding: 9rem 0 0 0;
    margin-left: 9%;
  }
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .home-page-slider-section .home-page-slider-in {
    max-width: 700px;
    padding: 11rem 0 0 0;
    margin-left: 7%;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .home-page-slider-section .home-page-slider-in {
    max-width: 500px;
    padding: 10rem 0 0 0;
    margin-left: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .home-page-slider-section .home-page-slider-in {
    max-width: 500px;
    padding: 8rem 0 0 0;
    margin-left: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-page-slider-section .home-page-slider-in {
    max-width: 500px;
    padding: 10rem 0 0 0;
    margin-left: 5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .home-page-slider-section .home-page-slider-in {
    max-width: 400px;
    padding: 0rem 0 2rem 0;
    margin-left: 5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .home-page-slider-section .home-page-slider-in {
    max-width: inherit;
    padding: 0rem 0 0 0;
    margin-left: 1rem;
  }
}
.home-page-slider-section .home-page-slider-item .home-page-slider-item-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1100px;
}
@media (min-width: 1500px) and (max-width: 1700px) {
  .home-page-slider-section .home-page-slider-item .home-page-slider-item-img {
    height: 996px;
  }
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .home-page-slider-section .home-page-slider-item .home-page-slider-item-img {
    height: 900px;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .home-page-slider-section .home-page-slider-item .home-page-slider-item-img {
    height: 700px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .home-page-slider-section .home-page-slider-item .home-page-slider-item-img {
    height: 700px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-page-slider-section .home-page-slider-item .home-page-slider-item-img {
    height: 563px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .home-page-slider-section .home-page-slider-item .home-page-slider-item-img {
    height: 459px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .home-page-slider-section .home-page-slider-item .home-page-slider-item-img {
    height: 550px;
  }
}
.home-page-slider-section .home-page-slider-item .home-page-slider-item-img img {
  display: block;
  width: 100%;
}
.home-page-slider-section .home-page-slider-item .home-page-slider-item-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: start;
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-page-slider-section .home-page-slider-item .home-page-slider-item-content {
    align-items: center;
  }
}
.home-page-slider-section .home-page-slider-item .home-page-slider-item-content h1 {
  margin: 0px;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: #fff;
}
.home-page-slider-section .home-page-slider-item .home-page-slider-item-content h1 strong {
  color: #e66622;
}

.introduction-section {
  background: transparent;
  position: relative;
  margin-top: -650px;
  padding: 0 0 70px 0;
  z-index: 3;
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .introduction-section {
    margin-top: -537px;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .introduction-section {
    margin-top: -376px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .introduction-section {
    margin-top: -376px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .introduction-section {
    margin-top: 0;
    padding: 40px 0 70px 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .introduction-section {
    margin-top: 0;
    padding: 40px 0 40px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .introduction-section .container {
    padding: 0 6.5rem;
  }
}
.introduction-section .custom-row {
  justify-content: flex-end;
}
@media (min-width: 768px) and (max-width: 991px) {
  .introduction-section .custom-row {
    display: block;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .introduction-section .custom-row {
    padding: 0 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .introduction-section .custom-row {
    justify-content: start;
  }
}
.introduction-section .section-heading h2 {
  color: #fff;
  z-index: 2;
}
@media (min-width: 768px) and (max-width: 991px) {
  .introduction-section .section-heading h2 {
    color: #3d3d3c;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .introduction-section .section-heading h2 {
    color: #3d3d3c;
  }
}
.introduction-section .section-heading h2::after {
  width: 115%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .introduction-section .section-heading h2::after {
    width: 250px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .introduction-section .section-heading h2::after {
    width: 450px;
  }
}
.introduction-section .introduction-hd {
  width: 35%;
  padding-top: 13%;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .introduction-section .introduction-hd {
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .introduction-section .introduction-hd {
    width: 100%;
    padding-top: 0%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .introduction-section .introduction-hd {
    width: 100%;
    padding-top: 0%;
  }
}
.introduction-section .introduction-content {
  width: 55%;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 991px) {
  .introduction-section .introduction-content {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .introduction-section .introduction-content {
    width: 100%;
  }
}
.introduction-section .introduction-content .introduction-video {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.introduction-section .introduction-content .introduction-video::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}
.introduction-section .introduction-content .introduction-video.slider-video-mp4::after {
  padding-top: 0%;
}
.introduction-section .introduction-content .introduction-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.introduction-section .introduction-content .desc--box {
  text-align: right;
  margin-top: 2rem;
  padding-left: 30%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .introduction-section .introduction-content .desc--box {
    padding-left: 7%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .introduction-section .introduction-content .desc--box {
    padding-left: 0px;
    text-align: left;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .introduction-section .introduction-content .desc--box {
    margin-top: 2rem;
    text-align: left;
    padding-left: 0%;
  }
}

.let-talk-pop {
  position: fixed;
  width: 780px;
  background: #fff;
  padding: 3rem;
  top: 0;
  right: 0px;
  z-index: 11;
  display: none;
}
@media (min-width: 568px) and (max-width: 767px) {
  .let-talk-pop {
    width: 90%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .let-talk-pop {
    width: 100%;
    padding: 3rem 2rem;
  }
}
.let-talk-pop .pop-close-btn {
  background-color: transparent;
  padding: 0px;
  border: 0px;
  cursor: pointer;
  position: absolute;
  right: 27px;
  top: 26px;
  width: 47px;
  height: 30px;
  background: url("../img/icons/close-icon-black.svg") no-repeat center center;
  background-size: 100%;
}
.let-talk-pop h2 {
  color: #0086c0;
  margin: 0 0 2rem 0;
  font-family: "CoHeadlineW08Light";
}
.let-talk-pop .let-talk-pop-in {
  position: relative;
}

.pop-show {
  position: relative;
  overflow-y: hidden;
}
.pop-show .let-talk-pop {
  display: block;
  height: 100%;
  overflow: auto;
}
.pop-show::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.get-in-touch-form .input-field P {
  padding: 0px;
  margin: 0px;
}
.get-in-touch-form .input-field-set {
  margin-left: auto;
}
@media (min-width: 568px) and (max-width: 767px) {
  .get-in-touch-form .input-field-set {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

.wpcf7 .wpcf7-submit:disabled {
  cursor: pointer !important;
}

.input-field-set {
  display: flex;
}
@media (min-width: 320px) and (max-width: 767px) {
  .input-field-set {
    display: block;
  }
}
.input-field-set .input-field {
  margin-top: 9px;
}
.input-field-set .input-submit-box {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .input-field-set .input-submit-box {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.input-submit p {
  margin: 0px;
}

.wpcf7-acceptance span {
  margin-right: 0;
  position: relative;
}

.wpcf7-acceptance .wpcf7-list-item {
  margin: 0;
}
.wpcf7-acceptance input {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.wpcf7-acceptance input::after,
.wpcf7-acceptance input:checked::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.wpcf7-acceptance input::before {
  content: "";
  background: #fff;
  width: 26px;
  height: 26px;
  position: absolute;
  left: -3px;
  top: -3px;
}

.wpcf7-acceptance input::after {
  background: url("../img/icons/checkinput.svg") no-repeat center center;
}

.wpcf7-acceptance input:checked::after {
  background: url("../img/icons/checkedinput.svg") no-repeat center center;
}

.contact .get-in-touch-section {
  border-top: 0px;
}
.contact .wpcf7-acceptance input::before {
  content: "";
  background: #0086c0;
}

.input-field-set label {
  position: relative;
  padding: 0 0 0 29px;
  display: block;
  align-items: center;
  color: #3d3d3c;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
.input-field-set label a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #0086c0;
}
.input-field-set .wpcf7-form-control-wrap {
  position: absolute;
  left: 0;
}

.recaptcha iframe {
  transform: scale(0.77);
  -webkit-transform: scale(0.77);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

@media (min-width: 568px) and (max-width: 767px) {
  .form-custom-row .custom-row .input-field {
    margin-bottom: 0px;
  }
}

.parallax-window {
  min-height: 750px;
  background: transparent;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .parallax-window {
    min-height: 557px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .parallax-window {
    min-height: 400px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .parallax-window {
    min-height: 350px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .parallax-window {
    min-height: 490px;
  }
}
.parallax-window .parallax-window-in {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .parallax-window .parallax-window-in {
    padding-right: 2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .parallax-window .parallax-window-in {
    padding-right: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .parallax-window .parallax-window-in {
    padding-right: 1rem;
  }
}

.page-hero-image-section {
  position: relative;
}
.page-hero-image-section .page-hero-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 6rem;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
}
.page-hero-image-section .page-hero-image img {
  display: block;
  width: 100%;
}
.page-hero-image-section .page-hero-content-outer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  min-height: 900px;
  padding-bottom: 6rem;
}
@media (min-width: 2100px) and (max-width: 258000000px) {
  .page-hero-image-section .page-hero-content-outer {
    min-height: 1100px;
  }
}
@media (min-width: 1500px) and (max-width: 1700px) {
  .page-hero-image-section .page-hero-content-outer {
    min-height: 770px;
  }
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .page-hero-image-section .page-hero-content-outer {
    min-height: 647px;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .page-hero-image-section .page-hero-content-outer {
    min-height: 600px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .page-hero-image-section .page-hero-content-outer {
    min-height: 570px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-image-section .page-hero-content-outer {
    align-items: flex-start;
    padding-top: 7rem;
    padding-bottom: 5rem;
    min-height: 500px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-hero-image-section .page-hero-content-outer {
    align-items: flex-start;
    padding-top: 6rem;
    padding-bottom: 5rem;
    min-height: 460px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hero-image-section .page-hero-content-outer {
    align-items: flex-start;
    padding-top: 5rem;
    padding-bottom: 8rem;
    min-height: 467px;
  }
}
.page-hero-image-section .page-hero-content-outer .container-lg {
  position: relative;
  z-index: 2;
}
.page-hero-image-section .page-hero-content-outer::after {
  content: "";
}
.page-hero-image-section .page-hero-content-outer .page-hero-content-in {
  max-width: 890px;
  padding: 0;
  margin-left: 12%;
}
@media (min-width: 1500px) and (max-width: 1700px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content-in {
    max-width: 776px;
    margin-left: 9%;
  }
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content-in {
    max-width: 745px;
    margin-left: 7%;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content-in {
    max-width: 597px;
    margin-left: 4%;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content-in {
    max-width: 635px;
    margin-left: 6%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content-in {
    max-width: 586px;
    margin-left: 2%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content-in {
    max-width: 77%;
    margin-left: 0%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content-in {
    max-width: 100%;
    margin-left: 2%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content-in .custom-row {
    display: block;
  }
}
.page-hero-image-section .page-hero-content-outer .page-hero-content-in .page-hero-icon {
  width: 100px;
  padding-top: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content-in .page-hero-icon {
    width: 60px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content-in .page-hero-icon {
    width: 60px;
    padding-top: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content-in .page-hero-icon {
    width: 70px;
  }
}
.page-hero-image-section .page-hero-content-outer .page-hero-content-in .page-hero-icon img {
  width: 100%;
  display: block;
}
.page-hero-image-section .page-hero-content-outer .page-hero-content-in .page-hero-content {
  width: calc(100% - 100px);
  padding-left: 3rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content-in .page-hero-content {
    padding-left: 2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content-in .page-hero-content {
    width: calc(100% - 60px);
    padding-left: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content-in .page-hero-content {
    padding-left: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content-in .page-hero-content {
    width: 100%;
    padding-top: 1rem;
    padding-left: 0px;
  }
}
.page-hero-image-section .page-hero-content-outer .page-hero-content-in .page-hero-content h1 {
  margin: 0px;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: #fff;
}
.page-hero-image-section .page-hero-content-outer .page-hero-content-in .page-hero-content .desc--box {
  margin-top: 1rem;
  color: #fff;
}
.curve-img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0px;
  right: 0px;
  bottom: -1px;
  z-index: 2;
}
.curve-img img {
  width: 100%;
  display: block;
  height: auto;
}

.page-sub-content-section {
  position: relative;
  background: transparent;
  margin-top: -70px;
  padding: 0 0 70px 0;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  z-index: 2;
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-sub-content-section {
    margin-top: 0;
    padding: 70px 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-sub-content-section {
    margin-top: 0;
    padding: 40px 0 40px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-sub-content-section .container {
    padding: 0 4rem;
  }
}
.page-sub-content-section .custom-row {
  justify-content: flex-end;
}
.page-sub-content-section .page-sub-content-in {
  width: 45%;
  z-index: 1;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .page-sub-content-section .page-sub-content-in {
    width: 48%;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .page-sub-content-section .page-sub-content-in {
    width: 48%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-sub-content-section .page-sub-content-in {
    width: 100%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-sub-content-section .page-sub-content-in {
    padding: 0 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-sub-content-section .page-sub-content-in {
    width: 100%;
  }
}
.page-sub-content-section .page-sub-content-in .section-heading {
  margin-bottom: 2rem;
}
.page-sub-content-section .page-sub-content-in .desc--box {
  margin-top: 0rem;
}

/*# sourceMappingURL=global.css.map */
