.button_green {
    a, 
    button,
    input[type="submit"]
    {
        background: $white;
        @include padding(5px, 25px, 5px, 25px);
        @include font-color(18px, $green);
        @include display(inline-block);
        @include border-radius(5px);
        border: 1px $white solid;
        min-width: 140px;
        font-weight: 400;
        text-align: center;
        &:hover {
            @include font-color(18px, $white);
            background: $green;
            border: 1px $white solid;
            text-decoration: none;
        }
    }
    a:empty, 
    button:empty{
        display: none;
    }
    
}
.row_btn {
    text-align: center;

    a {
        background: $green;
        @include padding(5px, 25px, 5px, 25px);
        @include font-color(18px, $white);
        @include display(inline-block);
        @include border-radius(5px);
        min-width: 250px;
        text-align: center;
        border: 1px $green solid;
        font-weight: 400;

        &:hover {
            @include font-color(18px, $green);
            background: $white;
            text-decoration: none;
        }
    }
}

.w_b__btn {
    text-align: center;

    a {
        background: transparent;
        @include padding(5px, 15px, 5px, 15px);
        @include font-color(18px, $white);
        @include display(inline-block);
        @include border-all(1px, $white, solid);
        @include border-radius(5px);
        min-width: 250px;
       
        text-align: center;
        font-weight: 400;

        &:hover {
            @include font-color(18px, $green);
            background: $white;
            text-decoration: none;
        }
    }
}

.download_btn {

    button,
    a {
        background: transparent;
        @include padding(5px, 15px, 5px, 15px);
        @include font-color(18px, $green);
        @include display(inline-block);
        vertical-align: text-bottom;
        align-items: end;
        @include border-all(1px, $green, solid);
        @include border-radius(5px);
       
        text-align: center;
        font-weight: 400;

        i {
            background:url("#{$assetPath}/download-icon.png") no-repeat 0 -2px;
            width: 20px;
            height: 24px;
            background-size: auto 100%;
            margin: 0 0 0 10px;
            @include display(inline-block);
        vertical-align: text-bottom;
        }
    }
}
.button_style_1{
    a, 
    button,
    input[type="submit"]
    {
        background: $green;
        @include padding(5px, 25px, 5px, 25px);
        @include font-color(18px, $white);
        @include display(inline-block);
        @include border-radius(5px);
        border: 1px $green solid;
        min-width: 240px;
        font-weight: 400;
        text-align: center;
        &:hover {
            @include font-color(18px, $green);
            background: $white;
            border: 1px $green solid;
            text-decoration: none;
        }
    }  
}

.button_style_2{
    a, 
    button,
    input[type="submit"]
    {
        background: $white;
        @include padding(5px, 25px, 5px, 25px);
        @include font-color(18px, $green);
        @include display(inline-block);
        @include border-radius(5px);
        border: 1px $green solid;
        min-width: 240px;
        font-weight: 400;
        text-align: center;
        &:hover {
            @include font-color(18px, $white);
            background: $green;
            border: 1px $white solid;
            text-decoration: none;
        }
    }
}