a:focus {
  outline: 1;
}

#skip_content {
  a {
    &:focus {
      right: 20px;
      background: $white;
    }
  }
}

// .fixed_header .logo a img,
.fixed_header .main-nav .nav-section ul li a,
.click_arrow_btm a img {
  border: 1px transparent solid;
}

// .fixed_header .logo a:focus img{ border: 1px $white solid;}
.fixed_header .main-nav .nav-section ul li a:focus {
  color: $greenLight;
}
.button_green a:focus {
  border: 1px $green solid;
  background: $green;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  color: $white;
}
.click_arrow_btm a:focus img {
  border: 1px $green solid;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  border-radius: 100px;
}
.menu_icon a:focus {
  color: transparent;
}
