@font-face {
  font-family: 'PontiacRegular';
  src: url('../font/PontiacRegular/font.woff2') format('woff2'), url('..font/PontiacRegular/font.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'PontiacBold';
  src: url('../font/PontiacBold/font.woff2') format('woff2'), url('../font/PontiacBold/font.woff') format('woff');
  font-display: swap;
}

