@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}
@mixin position-absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}
@mixin position-fixed($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: fixed;
}
@mixin width($width: auto) {
  width: $width;
}
@mixin height($height: auto) {
  height: $height;
}
@mixin background($background: auto) {
  background: $background;
}
@mixin no_p_m {
  margin: 0px;
  padding: 0px;
}

@mixin position-relative($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: relative;
}
@mixin padding($top: 0, $right: 0, $bottom: 0, $left: 0) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}
@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}
@mixin button($background, $size, $color, $radius) {
  background: $background;
  font-size: $size;
  color: $color;
  border-radius: $radius;
}
@mixin box-size($width, $height, $radius, $background-color) {
  background-color: $background-color;
  width: $width;
  height: $height;
  border-radius: $radius;
}
@mixin ul($margin: 0, $padding: 0, $list-style: none) {
  margin: $margin;
  padding: $padding;
  list-style: $list-style;
}
@mixin display($display: block, $vertical-align: middle) {
  display: $display;
  vertical-align: $vertical-align;
}
@mixin font-block($size: 12px, $color: #fff, $display: block, $font-weight: 400, $text_align: center) {
  display: $display;
  color: $color;
  font-size: $size;
  font-weight: $font-weight;
  text-align: $text_align;
}
%flex-end {
  justify-content: flex-end;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  align-self: center;
  text-align: right;
}
%chartbox_bg {
  background: $white;
  border: 1px $gray solid;
}

@mixin font-color($size: 12px, $color: $white) {
  font-size: $size;
  color: $color;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
button:focus {
  outline: 0px dotted !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}
@mixin border-all($width, $color, $type) {
  border-width: $width;
  border-color: $color;
  border-style: $type;
}
@mixin img_full($width, $height) {
  width: $width;
  height: $height;
}
@mixin float($float) {
  float: $float;
}
@mixin position($position) {
  position: $position;
}
@mixin display($display) {
  display: $display;
}
@mixin line-height($default) {
  line-height: $default;
}
@mixin text-align($default) {
  text-align: $default;
}
@mixin font-weight($default) {
  font-weight: $default;
}
@mixin button-style($bg, $size, $color, $radius, $display, $weight) {
  background-color: $bg;
  font-size: $size;
  color: $color;
  border-radius: $radius;
  display: $display;
  font-weight: $weight;
}

@mixin box-shadow($top: 0, $left: 1px, $blur: 2px, $color: $default) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

@mixin flex($flex, $flex-wrap) {
  display: $flex;
  flex-wrap: $flex-wrap;
}

@mixin align_center {
  text-align: center;
}
@mixin align_left {
  text-align: left;
}
@mixin align_right {
  text-align: right;
}

@mixin flex_right_align {
  @include display(flex);
  justify-content: flex-end;
}
@mixin flex_left_align {
  @include display(flex);
  justify-content: flex-start;
}

@mixin text-short {
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  display: block;
}

@mixin transition {
  -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

@mixin transition0 {
  -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
}
