.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0rem $white !important;
}

.selectbox {
    border: 0px;
    border-bottom: 1px $white solid;
    @include padding(7px, 30px, 7px, 0px);
    @include width(100%);
    @include font-weight(500);
    @include font-color(18px, $white);
    background: url("#{$assetPath}/selectbox-arrow.svg") no-repeat right center;
}