/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
@import url("//hello.myfonts.net/count/31f7df");
a,
button {
  cursor: pointer;
}

@font-face {
  font-family: Korb;
  src: url("../webfonts/31176A_0_0.eot");
  src: url("../webfonts/31176A_0_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/31176A_0_0.woff2") format("woff2"), url("../webfonts/31176A_0_0.woff") format("woff"), url("../webfonts/31176A_0_0.ttf") format("truetype");
}
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: "HelveticaNeueLTPro-Lt";
  src: url("../webfonts/31F7DF_0_0.eot");
  src: url("../webfonts/31F7DF_0_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/31F7DF_0_0.woff2") format("woff2"), url("../webfonts/31F7DF_0_0.woff") format("woff"), url("../webfonts/31F7DF_0_0.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaNeueLTPro-Md";
  src: url("../webfonts/31F7DF_1_0.eot");
  src: url("../webfonts/31F7DF_1_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/31F7DF_1_0.woff2") format("woff2"), url("../webfonts/31F7DF_1_0.woff") format("woff"), url("../webfonts/31F7DF_1_0.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaNeueLTStd-Bd";
  src: url("../webfonts/31F7DF_2_0.eot");
  src: url("../webfonts/31F7DF_2_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/31F7DF_2_0.woff2") format("woff2"), url("../webfonts/31F7DF_2_0.woff") format("woff"), url("../webfonts/31F7DF_2_0.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaNeueLTStd-Roman";
  src: url("../webfonts/31F7DF_3_0.eot");
  src: url("../webfonts/31F7DF_3_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/31F7DF_3_0.woff2") format("woff2"), url("../webfonts/31F7DF_3_0.woff") format("woff"), url("../webfonts/31F7DF_3_0.ttf") format("truetype");
}
.page-title h1 {
  font-size: 3.4rem;
  font-family: Korb;
  font-weight: 400;
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-title h1 {
    font-size: 2.6rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-title h1 {
    font-size: 2.6rem;
  }
}

.view-product-inner h2,
.case-studies-section h2,
.client-logo-section h2,
.get-touch-section h2,
.page-content-section h2,
.quotes-section h2,
.manufacture-resources-section h2,
.blog-details-gallery h2,
.more-info-box h2,
.more-info-box h2 a,
.blog-card-content h2,
.what-we-do-card a h2,
.img-text-card-content h2,
.img-text-card-row .img-text-card-content h3 {
  font-size: 2.4rem;
  font-family: Korb;
  font-weight: 400;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .view-product-inner h2,
.case-studies-section h2,
.client-logo-section h2,
.get-touch-section h2,
.page-content-section h2,
.quotes-section h2,
.manufacture-resources-section h2,
.blog-details-gallery h2,
.more-info-box h2,
.more-info-box h2 a,
.blog-card-content h2,
.what-we-do-card a h2,
.img-text-card-content h2,
.img-text-card-row .img-text-card-content h3 {
    font-size: 2.4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .view-product-inner h2,
.case-studies-section h2,
.client-logo-section h2,
.get-touch-section h2,
.page-content-section h2,
.quotes-section h2,
.manufacture-resources-section h2,
.blog-details-gallery h2,
.more-info-box h2,
.more-info-box h2 a,
.blog-card-content h2,
.what-we-do-card a h2,
.img-text-card-content h2,
.img-text-card-row .img-text-card-content h3 {
    font-size: 2.4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .view-product-inner h2,
.case-studies-section h2,
.client-logo-section h2,
.get-touch-section h2,
.page-content-section h2,
.quotes-section h2,
.manufacture-resources-section h2,
.blog-details-gallery h2,
.more-info-box h2,
.more-info-box h2 a,
.blog-card-content h2,
.what-we-do-card a h2,
.img-text-card-content h2,
.img-text-card-row .img-text-card-content h3 {
    font-size: 2.1rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .view-product-inner h2,
.case-studies-section h2,
.client-logo-section h2,
.get-touch-section h2,
.page-content-section h2,
.quotes-section h2,
.manufacture-resources-section h2,
.blog-details-gallery h2,
.more-info-box h2,
.more-info-box h2 a,
.blog-card-content h2,
.what-we-do-card a h2,
.img-text-card-content h2,
.img-text-card-row .img-text-card-content h3 {
    font-size: 2rem;
  }
}

.how-we-do-it-card-content h2 {
  font-size: 2.9rem;
  font-family: "HelveticaNeueLTPro-Md";
  font-weight: 400;
}
@media (min-width: 568px) and (max-width: 767px) {
  .how-we-do-it-card-content h2 {
    font-size: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .how-we-do-it-card-content h2 {
    font-size: 2rem;
  }
}

.case-studies-content h4,
.subtitle,
.products-card h5,
.page-content h3 {
  font-family: "HelveticaNeueLTPro-Md";
  font-weight: 500;
  font-size: 1.3rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .case-studies-content h4,
.subtitle,
.products-card h5,
.page-content h3 {
    font-size: 1.2rem;
  }
}

.blog-card-content h2,
.what-we-do-card a h2,
.img-text-card-content h2 {
  text-transform: lowercase;
}

.round-primary-btn {
  background-color: #e9634b;
  color: #fff;
  border-radius: 40px;
  padding: 1rem 2rem;
  font-size: 1.1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .round-primary-btn {
    padding: 0.7rem 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .round-primary-btn {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
  }
}
.round-primary-btn:hover {
  background-color: #42444e;
  color: #fff;
}

.round-secondary-btn {
  background-color: #42444e;
  color: #fff;
  border-radius: 40px;
  padding: 1rem 2rem;
  font-size: 1.1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .round-secondary-btn {
    padding: 0.7rem 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .round-secondary-btn {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
  }
}
.round-secondary-btn:hover {
  background-color: #fff;
  color: #42444e;
}

.btn-right {
  display: block;
  text-align: right;
}

.contact-btn a {
  background-color: #42444e;
  color: #fff;
  border-radius: 80px;
  padding: 1.3rem 3rem;
  font-size: 1.7rem;
  display: inline-flex;
  font-family: "HelveticaNeueLTPro-Md";
  width: 80%;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-btn a {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-btn a {
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }
}
.contact-btn a:hover {
  background-color: #fff;
  color: #42444e;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "HelveticaNeueLTPro-Lt";
  font-weight: 400;
  background: #fff;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0px;
  font-size: 1.2rem;
  color: #42444e;
  letter-spacing: 0.5px;
}
@media (min-width: 320px) and (max-width: 767px) {
  body {
    padding-top: 70px;
    font-size: 1.2rem;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

p {
  line-height: 1.7rem;
  letter-spacing: 1px;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #42444e;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

.container-lg {
  max-width: 1480px;
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 1280px) and (max-width: 1500px) {
  .container-lg {
    padding: 0 2rem;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .container-lg {
    padding: 0 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container-lg {
    padding: 0 2rem;
  }
}

.container {
  max-width: 1245px;
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 1280px) and (max-width: 1500px) {
  .container {
    padding: 0 4rem;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .container {
    padding: 0 4.5rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container {
    padding: 0 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 0 3.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    padding: 0 2rem;
  }
}

.container-sm {
  max-width: 1045px;
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 1280px) and (max-width: 1500px) {
  .container-sm {
    padding: 0 6rem;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .container-sm {
    padding: 0 6rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-sm {
    padding: 0 6rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-sm {
    padding: 0 6.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container-sm {
    padding: 0 2rem;
  }
}

.custom-row {
  display: flex;
}

.aside-left {
  padding-right: 40%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .aside-left {
    padding-right: 0%;
  }
}

.aside-right {
  padding-left: 32%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .aside-right {
    padding-left: 0%;
  }
}

.white-bg {
  background: #fff;
}

.gray-bg {
  background: #ecebed;
}

.oringe-bg {
  background: #e9634b;
}

.dark-bg {
  background: #42444e;
}

.main-padding {
  padding: 6rem 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-padding {
    padding: 3rem 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .main-padding {
    padding: 3rem 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-padding {
    padding: 3rem 0;
  }
}

.main-pd-btm {
  padding-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-pd-btm {
    padding-bottom: 3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .main-pd-btm {
    padding-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-pd-btm {
    padding-bottom: 3rem;
  }
}

.main-pd-top {
  padding-top: 6rem;
}

.full-img-section img {
  width: 100%;
  height: auto;
  display: block;
}

.btn-left {
  display: flex;
  text-align: left;
}

.btn-center {
  display: flex;
  text-align: center;
}

.btn-right {
  display: flex;
  justify-content: right;
}

/*Helpers Scss Files */
.input-field {
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.input-field label {
  font-size: 16px;
  color: #000;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea {
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  font-size: 15px;
  color: #000;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled {
  opacity: 0.5;
}
.input-field input[type=text]::-webkit-input-placeholder,
.input-field input[type=email]::-webkit-input-placeholder,
.input-field input[type=password]::-webkit-input-placeholder,
.input-field input[type=number]::-webkit-input-placeholder,
.input-field input[type=date]::-webkit-input-placeholder,
.input-field textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 15px;
  color: #000;
}
.input-field input[type=text]::-moz-placeholder,
.input-field input[type=email]::-moz-placeholder,
.input-field input[type=password]::-moz-placeholder,
.input-field input[type=number]::-moz-placeholder,
.input-field input[type=date]::-moz-placeholder,
.input-field textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-size: 15px;
  color: #000;
}
.input-field input[type=text]:-ms-input-placeholder,
.input-field input[type=email]:-ms-input-placeholder,
.input-field input[type=password]:-ms-input-placeholder,
.input-field input[type=number]:-ms-input-placeholder,
.input-field input[type=date]:-ms-input-placeholder,
.input-field textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-size: 15px;
  color: #000;
}
.input-field input[type=text]:-moz-placeholder,
.input-field input[type=email]:-moz-placeholder,
.input-field input[type=password]:-moz-placeholder,
.input-field input[type=number]:-moz-placeholder,
.input-field input[type=date]:-moz-placeholder,
.input-field textarea:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-size: 15px;
  color: #000;
}
.input-field textarea {
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 126px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

.selectbox {
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  width: 100%;
  font-size: 18px;
  color: #fff;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.north-east-white-arrow {
  background: url("../img/white arrow right corner.svg") no-repeat right center;
  width: 2.3rem;
  height: 2.3rem;
  background-size: 100%;
  right: 1.8rem;
  position: absolute;
  top: 1.8rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .north-east-white-arrow {
    width: 1.5rem;
    height: 1.5rem;
    top: 1rem;
    right: 1rem;
  }
}

.downarrow {
  position: absolute;
  width: 2rem;
  margin: 0 0 0 -230px;
}
@media (min-width: 568px) and (max-width: 767px) {
  .downarrow {
    width: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .downarrow {
    width: 2rem;
  }
}
.downarrow img {
  width: 100%;
}

.page-arrow {
  position: absolute;
  bottom: 6rem;
  width: 100%;
}
.page-arrow .container-lg {
  position: relative;
  z-index: 2;
}
.page-arrow .downarrow {
  position: initial;
  margin: 0px;
}

.home-page-arrow {
  position: relative;
  bottom: initial;
  top: 3rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .home-page-arrow {
    top: 0rem;
    left: 8px;
    margin: 2rem 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .home-page-arrow {
    top: 0rem;
    left: 8px;
    margin: 2rem 0;
  }
}
.home-page-arrow .downarrow {
  top: 0;
  margin: 0;
  z-index: 1;
  bottom: 5.125rem;
  left: 0;
  cursor: pointer;
}

.inner-page-hero .page-arrow {
  cursor: pointer;
}
@media (min-width: 568px) and (max-width: 767px) {
  .inner-page-hero .page-arrow {
    bottom: 31px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .inner-page-hero .page-arrow {
    bottom: 31px;
  }
}

/*Layout Scss Files */
.main-header {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1.5rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-header {
    background-color: #42444e;
    padding: 1rem 0;
    position: fixed;
  }
}
.main-header .custom-row {
  align-items: flex-start;
}
.main-header .logo {
  width: auto;
}
.main-header .logo a {
  color: #fff;
  font-size: 4rem;
  font-family: Korb;
  font-weight: 400;
  display: block;
  line-height: 50px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .main-header .logo a {
    font-size: 2.6rem;
  }
}
.main-header .logo img {
  display: block;
  width: 127px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .main-header .logo img {
    width: 96px;
  }
}
.main-header .hdr-right {
  margin-left: auto;
}
.main-header .hdr-right .nav__toggle {
  display: none;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .main-header .hdr-right .nav__toggle {
    display: block;
  }
}

.nav_menu {
  padding-top: 27px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .nav_menu {
    display: none;
  }
}
.nav_menu nav ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  align-items: flex-start;
}
.nav_menu nav ul li {
  margin: 0 20px;
  padding: 0;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .nav_menu nav ul li {
    margin: 0 12px;
  }
}
.nav_menu nav ul li.menu-item-45 {
  width: 120px;
}
.nav_menu nav ul li.menu-item-44 {
  width: 76px;
}
.nav_menu nav ul li:last-child {
  margin-right: 0px;
}
.nav_menu nav ul li a {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: Korb;
  padding: 0;
  display: inline-flex;
  text-transform: uppercase;
}
.nav_menu nav ul li a:hover {
  color: #e9634b;
}
.nav_menu nav ul li.current-menu-item a, .nav_menu nav ul li.current_page_ancestor a {
  color: #e9634b;
}
.nav_menu nav ul li.menu-item-has-children ul {
  text-align: left;
  display: none;
  width: 203px;
  padding-top: 25px;
}
.nav_menu nav ul li.menu-item-has-children ul ul:empty {
  display: none;
}
.nav_menu nav ul li.menu-item-has-children ul li {
  display: block;
  margin: 0px;
  padding: 0px 0px 0px 0px;
}
.nav_menu nav ul li.menu-item-has-children ul li a {
  padding: 0px 0px 0px 0px;
  border-bottom: 0px #e9634b solid;
  text-transform: capitalize;
}
.nav_menu nav ul li.menu-item-has-children:hover a {
  color: #e9634b;
  border-bottom: 4px #e9634b solid;
  padding-bottom: 10px;
}
.nav_menu nav ul li.menu-item-has-children:hover ul {
  display: block;
}
.nav_menu nav ul li.menu-item-has-children:hover ul li a {
  border-bottom: 0px;
  color: #fff;
  padding-bottom: 0px;
}
.nav_menu nav ul li.menu-item-has-children:hover ul li a:hover {
  color: #e9634b;
}
.nav_menu nav ul li.menu-item-has-children:hover ul li.current-menu-item a, .nav_menu nav ul li.menu-item-has-children:hover ul li.current_page_ancestor a {
  color: #e9634b;
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 30px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  text-align: center;
  cursor: pointer;
  border-radius: 0px;
  height: 3px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.2s;
  outline: 0;
}
.nav__toggle span {
  top: 15px;
}
.nav__toggle span::before {
  top: -10px;
}
.nav__toggle span::after {
  bottom: -10px;
}

.menu-slide {
  overflow: hidden;
  height: 100%;
}
.menu-slide .nav__toggle span {
  background-color: transparent;
}
.menu-slide .nav__toggle span::before, .menu-slide .nav__toggle span::after {
  top: 0;
  background-color: #fff;
}
.menu-slide .nav__toggle span::before {
  transform: rotate(45deg);
}
.menu-slide .nav__toggle span::after {
  transform: rotate(-45deg);
}
.menu-slide .nav__toggle:hover span {
  background-color: transparent;
}
.menu-slide .nav__toggle:hover span::before, .menu-slide .nav__toggle:hover span::after {
  background-color: #fff;
}
.menu-slide .nav_menu {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  height: 87vh;
  overflow: auto;
  padding: 0;
  top: 70px;
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .nav_menu {
    height: calc(100vh - 107px);
  }
}
.menu-slide .nav_menu nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-slide .nav_menu nav ul {
  display: block;
}
.menu-slide .nav_menu nav ul li {
  padding: 10px 0;
}
.menu-slide .nav_menu nav ul li.menu-item-45 {
  width: auto;
}
.menu-slide .nav_menu nav ul li.menu-item-44 {
  width: auto;
}
.menu-slide .nav_menu nav ul li a {
  font-size: 1.3rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu-slide .nav_menu nav ul li a {
    font-size: 2em;
  }
}
.menu-slide .nav_menu nav ul li.current-menu-item ul li a {
  color: #fff;
}
.menu-slide .nav_menu nav ul li.current_page_ancestor ul li a {
  color: #fff;
}
.menu-slide .nav_menu nav ul li.current_page_ancestor ul li.current-menu-item a {
  color: #e9634b;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children ul {
  display: block;
  width: 100%;
  padding: 0;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children ul li {
  position: relative;
  padding: 7px 10px 7px 25px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .menu-slide .nav_menu nav ul li.menu-item-has-children ul li:first-child {
    margin-top: 1rem;
  }
  .menu-slide .nav_menu nav ul li.menu-item-has-children ul li:last-child {
    margin-bottom: 0.7rem;
  }
}
.menu-slide .nav_menu nav ul li.menu-item-has-children ul li::before {
  content: "";
  width: 15px;
  height: 4px;
  background-color: #e9634b;
  left: 0px;
  top: 48%;
  position: absolute;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children ul li a {
  font-size: 1.2rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .menu-slide .nav_menu nav ul li.menu-item-has-children ul li a {
    font-size: 1.7rem;
  }
}
.menu-slide .nav_menu nav ul li.menu-item-has-children:hover a {
  color: #e9634b;
  border-bottom: 0px transparent solid;
  padding-bottom: 0;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children:hover ul {
  display: block;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children:hover ul li a {
  color: #fff;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children:hover ul li a:hover {
  color: #fff;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children:hover ul li.current-menu-item a, .menu-slide .nav_menu nav ul li.menu-item-has-children:hover ul li.current_page_ancestor a {
  color: #fff;
}
.menu-slide .main-header {
  height: 100%;
  background-color: #42444e;
}

.main-footer {
  background: #fff;
  padding: 2rem 0;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer {
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .custom-row {
    flex-wrap: wrap;
  }
}
.main-footer .footer-logo {
  color: #42444e;
  font-size: 3.3rem;
  font-family: Korb;
  font-weight: 400;
  display: block;
  line-height: 40px;
  margin-bottom: 1.3rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-logo {
    font-size: 3rem;
  }
}
.main-footer .footer-left {
  color: #42444e;
  width: 30%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-footer .footer-left {
    width: 35%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-left {
    width: 100%;
    border-bottom: 3px #e9634b solid;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}
.main-footer .footer-left .footer-address {
  font-size: 1rem;
  margin-bottom: 1.3rem;
  line-height: 20px;
}
.main-footer .footer-left .social-media {
  margin-bottom: 1.3rem;
}
.main-footer .footer-left .social-media ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-left .social-media ul {
    justify-content: center;
  }
}
.main-footer .footer-left .social-media ul li {
  margin: 0 1rem 0 0;
  padding: 0px;
}
.main-footer .footer-left .social-media ul li a {
  display: block;
  width: 40px;
}
.main-footer .footer-left .social-media ul li a img {
  width: 100%;
  display: block;
}
.main-footer .footer-left .social-media ul li a:hover img {
  opacity: 0.8;
}
.main-footer .footer-left .copy-right {
  font-size: 1rem;
}
.main-footer .footer-left .copy-right a {
  font-size: 1rem;
  font-family: "HelveticaNeueLTPro-Md";
}
.main-footer .footer-left .copy-right a:hover {
  color: #e9634b;
}
.main-footer .footer-right {
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  width: 25%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-footer .footer-right {
    width: 36%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .footer-right {
    width: 46%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .main-footer .footer-right {
    width: 63%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-right {
    width: 100%;
    flex-wrap: wrap;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .main-footer .footer-right .footer-menu {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-right .footer-menu {
    width: 100%;
  }
}
.main-footer .footer-right .footer-menu:last-child {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-right .footer-menu:last-child {
    margin-left: 0;
  }
}
.main-footer .footer-right .footer-menu ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.main-footer .footer-right .footer-menu ul li {
  padding: 0px;
  margin: 0 0 0.5rem 0;
}
.main-footer .footer-right .footer-menu ul li a {
  display: block;
  font-size: 1rem;
  color: #42444e;
}
.main-footer .footer-right .footer-menu ul li a:hover {
  color: #e9634b;
}

.accessibility-menu {
  position: relative;
}
.accessibility-menu .dropdown-toggle:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.5em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
}
.accessibility-menu .dropdown-menu {
  position: absolute;
  width: 170px;
  background: #ecebed;
  border: 1px #afafaf solid;
  display: none;
}
.accessibility-menu .dropdown-menu a,
.accessibility-menu .dropdown-menu button {
  border: 0px;
  display: block;
  font-size: 1rem;
  color: #42444e;
  padding: 7px 6px 7px 35px;
  width: 100%;
  text-align: left;
  font-weight: 400;
  font-family: "HelveticaNeueLTPro-Lt";
  border-bottom: 1px #afafaf solid;
}
.accessibility-menu .dropdown-menu a.accessibility-btn-text,
.accessibility-menu .dropdown-menu button.accessibility-btn-text {
  background: url("../img/icon-accessibility-bigger-text--dark.svg") no-repeat 10px;
  background-size: 17px;
}
.accessibility-menu .dropdown-menu a.accessibility-btn-contrast,
.accessibility-menu .dropdown-menu button.accessibility-btn-contrast {
  background: url("../img/icon-accessibility-contrast.svg") no-repeat 10px;
  background-size: 17px;
}
.accessibility-menu .dropdown-menu a.btn-accessibility,
.accessibility-menu .dropdown-menu button.btn-accessibility {
  background: url("../img/accessibility-icon.svg") no-repeat 10px;
  background-size: 17px;
  border-bottom: 0px;
}
.accessibility-menu .dropdown-menu a:hover,
.accessibility-menu .dropdown-menu button:hover {
  color: #e9634b;
}
.accessibility-menu .dropdown-menu a:hover.accessibility-btn-text,
.accessibility-menu .dropdown-menu button:hover.accessibility-btn-text {
  background: url("../img/icon-accessibility-bigger-text--hover.svg") no-repeat 10px;
  background-size: 17px;
}
.accessibility-menu .dropdown-menu a:hover.accessibility-btn-contrast,
.accessibility-menu .dropdown-menu button:hover.accessibility-btn-contrast {
  background: url("../img/icon-accessibility-contrast-hover.svg") no-repeat 10px;
  background-size: 17px;
}
.accessibility-menu .dropdown-menu a:hover.btn-accessibility,
.accessibility-menu .dropdown-menu button:hover.btn-accessibility {
  background: url("../img/accessibility-hover-icon.svg") no-repeat 10px;
  background-size: 17px;
  border-bottom: 0px;
}
.accessibility-menu:hover .dropdown-menu {
  display: block;
}

/*Components Scss Files */
.page-hero-section {
  margin: 0px;
  width: 100%;
  position: relative;
  min-height: 53.75rem;
  overflow: hidden;
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-hero-section {
    min-height: 15.625rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hero-section {
    min-height: 15.625rem;
  }
}
.page-hero-section::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  content: "";
  background: rgba(0, 0, 0, 0.8);
}
.page-hero-section .page-hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.page-hero-section .page-hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.page-hero-section .page-hero-content {
  position: relative;
  z-index: 2;
  padding: 16rem 0 7rem 0;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .page-hero-section .page-hero-content {
    padding: 11rem 0 7rem 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-section .page-hero-content {
    padding: 11rem 0 7rem 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-hero-section .page-hero-content {
    padding: 5rem 0 4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hero-section .page-hero-content {
    padding: 5rem 0 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-section.inner-page-hero .page-hero-content {
    padding: 16rem 0 7rem 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-hero-section.inner-page-hero .page-hero-content {
    padding: 5rem 0 6rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hero-section.inner-page-hero .page-hero-content {
    padding: 5rem 0 6rem;
  }
}
.page-hero-section .page-hero-content-top h1 {
  color: #fff;
  font-size: 8rem;
  font-family: Korb;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  text-transform: lowercase;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .page-hero-section .page-hero-content-top h1 {
    font-size: 7rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-section .page-hero-content-top h1 {
    font-size: 6rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-hero-section .page-hero-content-top h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hero-section .page-hero-content-top h1 {
    font-size: 3rem;
  }
}
.page-hero-section .page-hero-content-top ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.page-hero-section .page-hero-content-top ul li {
  margin: 0px;
  padding: 0 0 0 5rem;
  color: #fff;
  font-size: 8rem;
  font-family: Korb;
  position: relative;
  text-transform: lowercase;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .page-hero-section .page-hero-content-top ul li {
    font-size: 7rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-section .page-hero-content-top ul li {
    font-size: 6rem;
    margin: 0 0 1.2rem 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-hero-section .page-hero-content-top ul li {
    font-size: 3.5rem;
    padding: 0 0 0 2.5rem;
    margin: 0 0 1.2rem 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hero-section .page-hero-content-top ul li {
    font-size: 3rem;
    padding: 0 0 0 2.5rem;
    margin: 0 0 1.2rem 0;
  }
}
.page-hero-section .page-hero-content-top ul li::before {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 35%;
  background-color: #e9634b;
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-section .page-hero-content-top ul li::before {
    width: 2.4rem;
    height: 2.4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-hero-section .page-hero-content-top ul li::before {
    width: 1.4rem;
    height: 1.4rem;
    top: 31%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hero-section .page-hero-content-top ul li::before {
    width: 1.4rem;
    height: 1.4rem;
    top: 31%;
  }
}
.page-hero-section .page-hero-content-btm {
  margin-top: 8rem;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-section .page-hero-content-btm {
    margin-top: 3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-hero-section .page-hero-content-btm {
    margin-top: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hero-section .page-hero-content-btm {
    margin-top: 1rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-hero-section .page-hero-content-btm .aside-right {
    padding-left: 0;
  }
}
.page-hero-section .page-hero-content-btm strong {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  font-family: "HelveticaNeueLTPro-Md";
  line-height: 3.7rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-section .page-hero-content-btm strong {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-hero-section .page-hero-content-btm strong {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hero-section .page-hero-content-btm strong {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.page-hero-section .page-hero-content-btm.no-line::before {
  display: none;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .page-hero-section.inner-page-hero {
    min-height: 49.75rem;
  }
}

.blog-card-outer {
  position: relative;
  margin-bottom: 6rem;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blog-card-outer {
    margin-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .blog-card-outer {
    margin-bottom: 3rem;
  }
}
.blog-card-outer:last-child {
  margin-bottom: 0px;
}
.blog-card-outer .blog-cards {
  display: flex;
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  .blog-card-outer .blog-cards {
    flex-wrap: wrap;
  }
}
.blog-card-outer .blog-cards .blog-card-img {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .blog-card-outer .blog-cards .blog-card-img {
    width: 100%;
  }
}
.blog-card-outer .blog-cards .blog-card-img a {
  display: block;
}
.blog-card-outer .blog-cards .blog-card-img a img {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blog-card-outer .blog-cards .blog-card-img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.blog-card-outer .blog-cards .blog-card-img img {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blog-card-outer .blog-cards .blog-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.blog-card-outer .blog-cards .blog-card-content {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .blog-card-outer .blog-cards .blog-card-content {
    width: 100%;
  }
}
.blog-card-outer .blog-cards .blog-card-content h2 {
  padding: 0px;
  margin: 0px;
  color: #42444e;
}
@media (min-width: 320px) and (max-width: 767px) {
  .blog-card-outer .blog-cards .blog-card-content h2 {
    margin-top: 1.5rem;
  }
}
.blog-card-outer .blog-cards .blog-card-content .blog-card-txt {
  margin: 1.5rem 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blog-card-outer .blog-cards .blog-card-content .blog-card-txt {
    margin: 1rem 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .blog-card-outer .blog-cards .blog-card-content .blog-card-txt {
    margin: 1rem 0;
  }
}
.blog-card-outer .blog-cards .blog-card-content .blog-card-txt p:last-child {
  margin: 0px;
}
.blog-card-outer.blog-card-outer-left .blog-cards {
  flex-direction: row-reverse;
}
.blog-card-outer.blog-card-outer-left .blog-cards .blog-card-content {
  padding-right: 7%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .blog-card-outer.blog-card-outer-left .blog-cards .blog-card-content {
    padding-right: 0%;
  }
}
.blog-card-outer.blog-card-outer-right .blog-card-content {
  padding-left: 7%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .blog-card-outer.blog-card-outer-right .blog-card-content {
    padding-left: 0%;
  }
}

.view-product-section {
  position: relative;
  overflow: hidden;
  color: #fff;
  padding: 6rem 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .view-product-section {
    padding: 3rem 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .view-product-section {
    padding: 3rem 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .view-product-section {
    padding: 3rem 0;
  }
}
.view-product-section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.view-product-section .view-product-inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
}
.view-product-section .view-product-inner h2 {
  margin: 0px;
  padding: 0px;
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .view-product-section .view-product-inner h2 {
    text-align: left;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .view-product-section .view-product-inner h2 {
    text-align: left;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .view-product-section .view-product-inner h2 {
    text-align: left;
  }
}
.view-product-section .view-product-inner .view-product-text {
  margin: 3rem 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .view-product-section .view-product-inner .view-product-text {
    margin: 2rem 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .view-product-section .view-product-inner .view-product-text {
    margin: 2rem 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .view-product-section .view-product-inner .view-product-text {
    margin: 2rem 0;
  }
}
.view-product-section .view-product-inner .view-product-text p:last-child {
  margin: 0px;
}
.view-product-section .view-product-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.view-product-section .view-product-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
@media (min-width: 768px) and (max-width: 991px) {
  .view-product-section .btn-left {
    justify-content: flex-end;
    text-align: right;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .view-product-section .btn-left {
    justify-content: flex-end;
    text-align: right;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .view-product-section .btn-left {
    justify-content: flex-end;
    text-align: right;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .view-product-section .aside-right {
    padding-left: 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .view-product-section .aside-right {
    padding-left: 0;
  }
}

.case-studies-section {
  overflow: hidden;
}
.case-studies-section h2 {
  margin: 0px;
  padding: 0px;
  color: #42444e;
}
.case-studies-section .line-hd {
  margin-bottom: 3rem;
}
.case-studies-section .line-hd::before {
  width: 34%;
}
.case-studies-section .case-studies-row {
  display: flex;
}
@media (min-width: 768px) and (max-width: 991px) {
  .case-studies-section .case-studies-row {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .case-studies-section .case-studies-row {
    display: block;
  }
}
.case-studies-section .case-studies-row .case-studies-col {
  width: 50%;
  padding: 0 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .case-studies-section .case-studies-row .case-studies-col {
    width: 480px;
    padding: 0px;
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .case-studies-section .case-studies-row .case-studies-col {
    width: auto;
    max-width: 480px;
    padding: 0px;
    margin: auto;
  }
}
.case-studies-section .case-studies-row .case-studies-col ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.case-studies-section .case-studies-row .case-studies-col ul li {
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
}
.case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box {
  position: relative;
  width: 100%;
  background-color: transparent;
  min-height: 270px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box {
    min-height: 261px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box {
    min-height: 261px;
  }
}
.case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box .case-studies-img {
  width: 100%;
  height: 100%;
}
.case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box .case-studies-img img {
  width: 100%;
  height: auto;
  display: block;
}
.case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box .case-studies-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  left: 0px;
  top: 0px;
}
.case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box .case-studies-content a {
  display: block;
  padding: 2.5rem;
  width: 100%;
  height: 100%;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box .case-studies-content a {
    padding: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box .case-studies-content a {
    padding: 1rem;
  }
}
.case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box .case-studies-content a .north-east-white-arrow {
  display: none;
}
.case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box .case-studies-content a h4 {
  margin: 0px;
  padding: 1.5rem;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box .case-studies-content a h4 {
    padding: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box .case-studies-content a h4 {
    padding: 1rem;
  }
}
.case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box:hover .case-studies-content {
  background: transparent;
}
.case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box:hover .case-studies-content a .north-east-white-arrow {
  display: block;
}
.case-studies-section .case-studies-row .case-studies-col ul li.view-all-card .case-studies-box {
  background-color: #e9634b;
  min-height: 270px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .case-studies-section .case-studies-row .case-studies-col ul li.view-all-card .case-studies-box {
    min-height: 363px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .case-studies-section .case-studies-row .case-studies-col ul li.view-all-card .case-studies-box {
    min-height: 261px;
  }
}
.case-studies-section .case-studies-row .case-studies-col ul li.view-all-card .case-studies-box .case-studies-content {
  background: transparent;
}
.case-studies-section .case-studies-row .case-studies-col ul li.view-all-card .case-studies-box .case-studies-content a .north-east-white-arrow {
  display: block;
}
.case-studies-section .case-studies-row .case-studies-col ul li.view-all-card .case-studies-box .case-studies-content a h5 {
  margin: 0px;
  padding: 1.5rem;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0px;
  font-weight: 400;
  font-size: 1.1rem;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .case-studies-section .case-studies-row .case-studies-col ul li.view-all-card .case-studies-box .case-studies-content a h5 {
    padding: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .case-studies-section .case-studies-row .case-studies-col ul li.view-all-card .case-studies-box .case-studies-content a h5 {
    padding: 1rem;
  }
}
.case-studies-section .case-studies-row .case-studies-col ul li.view-all-card .case-studies-box:hover {
  background-color: #42444e;
}
.case-studies-section .case-studies-row .case-studies-col-left ul li:nth-child(2n+1) .case-studies-box {
  width: 70%;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .case-studies-section .case-studies-row .case-studies-col-left ul li:nth-child(2n+1) .case-studies-box {
    width: 100%;
    margin-left: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .case-studies-section .case-studies-row .case-studies-col-left ul li:nth-child(2n+1) .case-studies-box {
    width: 100%;
    margin-left: 0;
  }
}
.case-studies-section .case-studies-row .case-studies-col-right {
  padding-top: 7rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .case-studies-section .case-studies-row .case-studies-col-right {
    padding-top: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .case-studies-section .case-studies-row .case-studies-col-right {
    padding-top: 0rem;
  }
}
.case-studies-section .case-studies-row .case-studies-col-right ul li:nth-child(2n+2) .case-studies-box {
  width: 70%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .case-studies-section .case-studies-row .case-studies-col-right ul li:nth-child(2n+2) .case-studies-box {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .case-studies-section .case-studies-row .case-studies-col-right ul li:nth-child(2n+2) .case-studies-box {
    width: 100%;
  }
}

.client-logo-section h2 {
  margin: 0px;
  padding: 0 0 0 113px;
  color: #fff;
}
@media (min-width: 568px) and (max-width: 767px) {
  .client-logo-section h2 {
    padding-left: 0px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .client-logo-section h2 {
    padding-left: 0px;
  }
}
.client-logo-section .client-logo-row {
  margin-top: 2rem;
}
.client-logo-section .client-logo-row ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.client-logo-section .client-logo-row ul li {
  width: 25%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 198px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .client-logo-section .client-logo-row ul li {
    min-height: 113px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .client-logo-section .client-logo-row ul li {
    width: 25%;
    min-height: 112px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .client-logo-section .client-logo-row ul li {
    width: 50%;
    min-height: 112px;
  }
}
.client-logo-section .client-logo-row ul li img {
  height: 111px;
  width: auto;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .client-logo-section .client-logo-row ul li img {
    height: 70px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .client-logo-section .client-logo-row ul li img {
    height: 55px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .client-logo-section .client-logo-row ul li img {
    height: 58px;
    width: auto;
    max-width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .client-logo-section .client-logo-row ul li img {
    height: 58px;
    width: auto;
    max-width: 100%;
  }
}

.get-touch-section h2 {
  margin: 0px;
  padding: 0;
  text-align: center;
  color: #fff;
}
.get-touch-section .get-touch-btns {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .get-touch-section .get-touch-btns {
    flex-wrap: wrap;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .get-touch-section .get-touch-btns {
    flex-wrap: wrap;
  }
}
.get-touch-section .get-touch-btns a {
  width: 35%;
  font-family: "HelveticaNeueLTPro-Md";
  font-size: 1.4rem;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .get-touch-section .get-touch-btns a {
    width: 50%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .get-touch-section .get-touch-btns a {
    width: 51%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .get-touch-section .get-touch-btns a {
    width: 300px;
  }
}
.get-touch-section .get-touch-btns a:nth-child(1) {
  margin-right: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .get-touch-section .get-touch-btns a:nth-child(1) {
    margin-right: 15px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .get-touch-section .get-touch-btns a:nth-child(1) {
    margin-right: 0px;
    margin-bottom: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .get-touch-section .get-touch-btns a:nth-child(1) {
    margin-right: 0px;
    margin-bottom: 1.5rem;
  }
}
.get-touch-section .get-touch-btns a:nth-child(2) {
  margin-left: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .get-touch-section .get-touch-btns a:nth-child(2) {
    margin-left: 15px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .get-touch-section .get-touch-btns a:nth-child(2) {
    margin-left: 0px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .get-touch-section .get-touch-btns a:nth-child(2) {
    margin-left: 0px;
  }
}

.what-we-do-card-row {
  display: flex;
  flex-wrap: wrap;
}
.what-we-do-card-row .what-we-do-card {
  width: 50%;
  padding-top: 5%;
}
@media (min-width: 568px) and (max-width: 767px) {
  .what-we-do-card-row .what-we-do-card {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .what-we-do-card-row .what-we-do-card {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.what-we-do-card-row .what-we-do-card:nth-child(2n+1) {
  padding-right: 5%;
}
@media (min-width: 568px) and (max-width: 767px) {
  .what-we-do-card-row .what-we-do-card:nth-child(2n+1) {
    padding-right: 0%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .what-we-do-card-row .what-we-do-card:nth-child(2n+1) {
    padding-right: 0%;
  }
}
.what-we-do-card-row .what-we-do-card:nth-child(2n+2) {
  padding-left: 5%;
}
@media (min-width: 568px) and (max-width: 767px) {
  .what-we-do-card-row .what-we-do-card:nth-child(2n+2) {
    padding-left: 0%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .what-we-do-card-row .what-we-do-card:nth-child(2n+2) {
    padding-left: 0%;
  }
}
.what-we-do-card-row .what-we-do-card:nth-child(1), .what-we-do-card-row .what-we-do-card:nth-child(2) {
  padding-top: 0px;
}
@media (min-width: 568px) and (max-width: 767px) {
  .what-we-do-card-row .what-we-do-card:nth-child(1), .what-we-do-card-row .what-we-do-card:nth-child(2) {
    padding-top: 5%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .what-we-do-card-row .what-we-do-card:nth-child(1), .what-we-do-card-row .what-we-do-card:nth-child(2) {
    padding-top: 5%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .what-we-do-card-row .what-we-do-card:nth-child(1) {
    padding-top: 0%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .what-we-do-card-row .what-we-do-card:nth-child(1) {
    padding-top: 0%;
  }
}
.what-we-do-card-row .what-we-do-card a {
  display: block;
}
.what-we-do-card-row .what-we-do-card a h2 {
  padding: 0px;
  margin: 0px;
  color: #42444e;
  background: url("../img/orange arrow right corner.svg") no-repeat calc(100% - 1rem) center;
  background-size: 2rem;
  padding: 1rem 4rem 1rem 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .what-we-do-card-row .what-we-do-card a h2 {
    background-size: 1.3rem;
    padding: 0.4rem 4rem 0.4rem 1rem;
    margin-bottom: 0.6rem;
  }
}
.what-we-do-card-row .what-we-do-card a:hover h2 {
  background: #42444e url("../img/orange arrow right corner.svg") no-repeat calc(100% - 1rem) center;
  color: #fff;
  background-size: 2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .what-we-do-card-row .what-we-do-card a:hover h2 {
    color: #42444e;
    background: #fff url("../img/orange arrow right corner.svg") no-repeat calc(100% - 1rem) center;
    background-size: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .what-we-do-card-row .what-we-do-card a:hover h2 {
    color: #42444e;
    background: #fff url("../img/orange arrow right corner.svg") no-repeat calc(100% - 1rem) center;
    background-size: 1.3rem;
  }
}
.what-we-do-card-row .what-we-do-card .what-we-do-content {
  padding: 0 0 0 1rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .what-we-do-card-row .what-we-do-card .what-we-do-content {
    line-height: 1.5rem;
  }
}
.what-we-do-card-row .what-we-do-card .what-we-do-content a {
  display: none;
}

.back-to-section {
  padding: 3rem 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .back-to-section {
    padding: 2rem 0;
  }
}
.back-to-section .back-to-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-to-section .back-to-inner a {
  color: #42444e;
  font-size: 3rem;
  padding-left: 60px;
  background: url("../img/orange arrow left corner.svg") no-repeat left center;
  background-size: 2rem;
  font-family: Korb;
}
@media (min-width: 768px) and (max-width: 991px) {
  .back-to-section .back-to-inner a {
    font-size: 2.4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .back-to-section .back-to-inner a {
    font-size: 1.5rem;
  }
}
.back-to-section:hover {
  background: #42444e;
}
.back-to-section:hover .back-to-inner a {
  color: #fff;
}

.page-content-section {
  overflow: hidden;
}
.page-content-section h2 {
  margin: 0px;
  padding: 0;
}
.page-content-section .page-content-txt {
  width: 70%;
  margin: 4rem auto auto auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-content-section .page-content-txt {
    width: 100%;
    margin: 2rem auto auto auto;
  }
}
.page-content-section .page-content-txt p:last-child {
  margin: 0px;
}

.more-info-section {
  position: relative;
  overflow: hidden;
  color: #fff;
}
.more-info-section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.more-info-section .more-info-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.more-info-section .more-info-img img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.more-info-section .more-info-inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
  padding: 6rem 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .more-info-section .more-info-inner {
    padding: 3rem 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .more-info-section .more-info-inner {
    padding: 3rem 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .more-info-section .more-info-inner {
    padding: 3rem 0;
  }
}
.more-info-section .more-info-inner .more-info-box {
  padding: 5rem 3.5rem;
  background-image: url("../img/white arrow right corner.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 2rem) 2rem;
  background-size: 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .more-info-section .more-info-inner .more-info-box {
    padding: 5rem 1.5rem;
  }
}
.more-info-section .more-info-inner .more-info-box:hover {
  background-image: url("../img/white arrow right corner.svg");
  background-color: #42444e;
}
.more-info-section .more-info-inner .more-info-box h2 {
  margin: 0px;
  padding: 0px;
  color: #fff;
  text-align: center;
}
.more-info-section .more-info-inner .more-info-box h2 a {
  color: #fff;
  text-align: center;
  display: block;
}

.img-text-card-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .img-text-card-row {
    margin-bottom: 3rem;
    flex-wrap: wrap;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .img-text-card-row {
    margin-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .img-text-card-row {
    flex-wrap: wrap;
  }
}
.img-text-card-row:last-child {
  margin-bottom: 0;
}
.img-text-card-row .img-text-card-img {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .img-text-card-row .img-text-card-img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .img-text-card-row .img-text-card-img {
    width: 100%;
  }
}
.img-text-card-row .img-text-card-img img {
  width: 100%;
  height: auto;
  display: block;
}
.img-text-card-row .img-text-card-content {
  width: 50%;
  padding-right: 2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .img-text-card-row .img-text-card-content {
    padding-right: 0rem;
    width: 100%;
    margin-top: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .img-text-card-row .img-text-card-content {
    padding-right: 0rem;
    width: 100%;
    margin-top: 2rem;
  }
}
.img-text-card-row .img-text-card-content h3 {
  margin: 0px;
  padding: 0;
  color: #42444e;
  text-transform: capitalize;
}
.img-text-card-row .img-text-card-content .img-text-card-txt {
  margin: 2rem 0 0 0;
}
@media (min-width: 568px) and (max-width: 767px) {
  .img-text-card-row .img-text-card-content .img-text-card-txt {
    margin: 1rem 0 0 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .img-text-card-row .img-text-card-content .img-text-card-txt {
    margin: 1rem 0 0 0;
  }
}
.img-text-card-row .img-text-card-content .img-text-card-txt p:last-child {
  margin: 0px;
}
.img-text-card-row.img-text-card-left {
  flex-direction: row-reverse;
}
@media (min-width: 768px) and (max-width: 991px) {
  .img-text-card-row.img-text-card-left {
    flex-direction: column;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .img-text-card-row.img-text-card-left {
    flex-direction: column;
  }
}
.img-text-card-row.img-text-card-left .img-text-card-img {
  padding-left: 3%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .img-text-card-row.img-text-card-left .img-text-card-img {
    padding-left: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .img-text-card-row.img-text-card-left .img-text-card-img {
    padding-left: 0;
  }
}
.img-text-card-row.img-text-card-right .img-text-card-img {
  padding-right: 3%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .img-text-card-row.img-text-card-right .img-text-card-img {
    padding-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .img-text-card-row.img-text-card-right .img-text-card-img {
    padding-right: 0;
  }
}
.img-text-card-row.img-text-card-right .img-text-card-content {
  padding-right: 0rem;
  padding-left: 2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .img-text-card-row.img-text-card-right .img-text-card-content {
    padding-left: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .img-text-card-row.img-text-card-right .img-text-card-content {
    padding-left: 0;
  }
}

.ul-col {
  margin: 2rem 0 0 0;
  padding: 0;
}
.ul-col ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.ul-col ul li {
  position: relative;
  margin: 0 0 15px 0;
  padding: 0 15px 0 35px;
}
.ul-col ul li::after {
  width: 0.813rem;
  height: 0.813rem;
  position: absolute;
  left: 0px;
  top: 5px;
  content: "";
  border-radius: 50px;
  background: #e9634b;
}
.ul-col.ul-col-2 .ul-column-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.ul-col.ul-col-2 .ul-column-wrapper ul {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .ul-col.ul-col-2 .ul-column-wrapper ul {
    width: 100%;
  }
}
.text-block ul,
.page-content-txt ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.text-block ul li,
.page-content-txt ul li {
  position: relative;
  margin: 0 0 15px 0;
  padding: 0 15px 0 35px;
}
.text-block ul li::after,
.page-content-txt ul li::after {
  width: 0.813rem;
  height: 0.813rem;
  position: absolute;
  left: 0px;
  top: 5px;
  content: "";
  border-radius: 50px;
  background: #e9634b;
}

@media (min-width: 320px) and (max-width: 767px) {
  br {
    display: none;
  }
}
.quotes-section {
  padding-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .quotes-section {
    padding-bottom: 3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .quotes-section {
    padding-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .quotes-section {
    padding-bottom: 3rem;
  }
}
.quotes-section h2 {
  margin: 0px;
  padding: 0;
  color: #e9634b;
  text-align: center;
}

.manufacture-resources-section h2 {
  margin: 0px;
  padding: 0;
  color: #42444e;
}
.manufacture-resources-section .man-res-row {
  margin: 4rem 0 0 0;
}
@media (min-width: 568px) and (max-width: 767px) {
  .manufacture-resources-section .man-res-row {
    padding: 0;
    margin: 2rem 0 0 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .manufacture-resources-section .man-res-row {
    padding: 0;
    margin: 2rem 0 0 0;
  }
}
.manufacture-resources-section .man-res-row ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
}
@media (min-width: 320px) and (max-width: 567px) {
  .manufacture-resources-section .man-res-row ul {
    flex-wrap: wrap;
  }
}
.manufacture-resources-section .man-res-row ul li {
  width: 33%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .manufacture-resources-section .man-res-row ul li {
    width: 100%;
    margin-top: 1rem;
  }
}
.manufacture-resources-section .man-res-row ul li a {
  display: block;
  text-align: center;
  padding: 1.5rem;
}
.manufacture-resources-section .man-res-row ul li a i {
  display: inline-block;
  width: 90px;
  margin-right: 87px;
}
@media (min-width: 568px) and (max-width: 767px) {
  .manufacture-resources-section .man-res-row ul li a i {
    width: 70px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .manufacture-resources-section .man-res-row ul li a i {
    margin-right: 0;
  }
}
.manufacture-resources-section .man-res-row ul li a i img {
  width: 100%;
  height: auto;
  display: block;
}
.manufacture-resources-section .man-res-row ul li a span {
  display: block;
  font-size: 1rem;
  padding: 1.2rem 0 0 0;
  text-align: right;
  color: #42444e;
  text-transform: uppercase;
}
@media (min-width: 320px) and (max-width: 567px) {
  .manufacture-resources-section .man-res-row ul li a span {
    text-align: center;
  }
}
.manufacture-resources-section .man-res-row ul li a:hover {
  background: #42444e;
}
.manufacture-resources-section .man-res-row ul li a:hover span {
  color: #fff;
}

.products-section {
  padding-top: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .products-section {
    padding-top: 3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .products-section {
    padding-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .products-section {
    padding-top: 3rem;
  }
}

.products-card-row {
  display: flex;
  flex-wrap: wrap;
}
.products-card-row .products-card {
  width: 25%;
  margin-bottom: 12.5%;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .products-card-row .products-card {
    width: 47%;
    margin-bottom: 13.5%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .products-card-row .products-card {
    width: 47%;
    margin-bottom: 6.5%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .products-card-row .products-card {
    width: 100%;
  }
}
.products-card-row .products-card:nth-child(3n+2) {
  margin-left: 12.5%;
  margin-right: 12.5%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .products-card-row .products-card:nth-child(3n+2) {
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .products-card-row .products-card:nth-child(3n+2) {
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .products-card-row .products-card:nth-child(3n+2) {
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .products-card-row .products-card:nth-child(2n+2) {
    margin-left: 6%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .products-card-row .products-card:nth-child(2n+2) {
    margin-left: 6%;
  }
}
.products-card-row .products-card a {
  display: block;
}
.products-card-row .products-card a .products-card-img img {
  width: 100%;
  height: auto;
  display: block;
}
.products-card-row .products-card a h5 {
  margin: 0px;
  padding: 1.5rem 4rem 1.5rem 1.5rem;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 20px;
  bottom: -41px;
  min-height: 106px;
  background: rgba(77, 80, 91, 0.9) url("../img/white arrow right corner.svg") no-repeat calc(100% - 1.5rem) center;
  background-size: 2rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .products-card-row .products-card a h5 {
    left: 0px;
    bottom: 0px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .products-card-row .products-card a h5 {
    left: 0px;
    bottom: 0px;
  }
}
.products-card-row .products-card a:hover h5 {
  background: #e9634b url("../img/white arrow right corner.svg") no-repeat calc(100% - 1.5rem) center;
  background-size: 2rem;
}

.img-gallery h2 {
  margin: 0px;
  padding: 0 0 4rem 0;
  color: #42444e;
}
@media (min-width: 568px) and (max-width: 767px) {
  .img-gallery h2 {
    padding: 0 0 2rem 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .img-gallery h2 {
    padding: 0 0 2rem 0;
  }
}
.img-gallery ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.img-gallery ul li {
  width: 31%;
  margin-right: 2%;
  margin-bottom: 2%;
  overflow: hidden;
}
@media (min-width: 320px) and (max-width: 567px) {
  .img-gallery ul li {
    width: 47%;
    margin-right: 3%;
    margin-bottom: 3%;
  }
}
.img-gallery ul li:last-child {
  margin-right: 0px;
}
.img-gallery ul li a {
  display: block;
}
.img-gallery ul li a img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 1s;
}
.img-gallery ul li a:hover img {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

.pagination-block .pagination {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: end;
}
.pagination-block .pagination li {
  margin: 0 0 0 20px;
  padding: 0px;
}
.pagination-block .pagination li a,
.pagination-block .pagination li button {
  color: #42444e;
  font-size: 1.1rem;
  display: block;
  font-family: "HelveticaNeueLTPro-Md";
}
.pagination-block .pagination li span {
  color: #e9634b;
  font-size: 1.1rem;
  display: block;
  font-family: "HelveticaNeueLTPro-Md";
}

/*Page Scss Files */
.details-sections {
  padding-top: 13rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .details-sections {
    padding-top: 8rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .details-sections {
    padding-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .details-sections {
    padding-top: 3rem;
  }
}

.page-title {
  margin-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-title {
    margin-bottom: 3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-title {
    margin-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-title {
    margin-bottom: 3rem;
  }
}
.page-title h1 {
  margin: 0;
  padding: 0;
  color: #42444e;
  text-transform: lowercase;
}

.page-featured-img {
  margin-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-featured-img {
    margin-bottom: 3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-featured-img {
    margin-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-featured-img {
    margin-bottom: 3rem;
  }
}
.page-featured-img .container-sm {
  position: relative;
}
.page-featured-img .downarrow {
  bottom: 0px;
}
.page-featured-img img {
  width: 100%;
  height: auto;
  display: block;
}

.page-content h3 {
  margin: 0px;
  padding: 0px;
  color: #42444e;
}
.page-content .page-content-txt {
  margin-top: 1rem;
}
.page-content .page-content-txt p:last-child {
  margin: 0px;
}

.case-studies-details .img-text-card-row:last-child {
  margin-bottom: 6rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .case-studies-details .img-text-card-row:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .case-studies-details .img-text-card-row:last-child {
    margin-bottom: 0;
  }
}

.blog-block-text h2 {
  font-size: 2.5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .blog-block-text h2 {
    font-size: 2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .blog-block-text h2 {
    font-size: 1.6rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .blog-block-text h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
  .page-title-with-image + .img-text-card-section {
    padding-top: 0px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-title-with-image + .img-text-card-section {
    padding-top: 0px;
  }
}

.how-we-do-it-section {
  background-color: #42444e;
  padding: 16rem 0 0;
  overflow: hidden;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .how-we-do-it-section {
    padding: 11rem 0 0 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .how-we-do-it-section {
    padding: 11rem 0 0 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .how-we-do-it-section {
    padding: 5rem 0 0rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .how-we-do-it-section {
    padding: 5rem 0 0rem;
  }
}
.how-we-do-it-section .how-we-do-it-hd {
  padding-bottom: 10rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .how-we-do-it-section .how-we-do-it-hd {
    padding-bottom: 5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .how-we-do-it-section .how-we-do-it-hd {
    padding-bottom: 5rem;
  }
}
.how-we-do-it-section .how-we-do-it-hd .container-sm {
  position: relative;
}
.how-we-do-it-section .how-we-do-it-hd .container-sm .downarrow {
  top: 163px;
}
.how-we-do-it-section .how-we-do-it-hd h1 {
  color: #fff;
  font-size: 8rem;
  font-family: Korb;
  margin: 0;
  padding: 0px;
  font-weight: 400;
  text-transform: lowercase;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .how-we-do-it-section .how-we-do-it-hd h1 {
    font-size: 7rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .how-we-do-it-section .how-we-do-it-hd h1 {
    font-size: 6rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .how-we-do-it-section .how-we-do-it-hd h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .how-we-do-it-section .how-we-do-it-hd h1 {
    font-size: 3rem;
  }
}
.how-we-do-it-section .how-we-do-it-hd .block-content {
  color: #fff;
  font-size: 3rem;
  max-width: 89%;
  font-weight: 400;
  font-family: "HelveticaNeueLTPro-Md";
  margin-top: 1.5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .how-we-do-it-section .how-we-do-it-hd .block-content {
    font-size: 2.2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .how-we-do-it-section .how-we-do-it-hd .block-content {
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .how-we-do-it-section .how-we-do-it-hd .block-content {
    font-size: 1.4rem;
  }
}
.how-we-do-it-section .how-we-do-it-hd .block-content p {
  line-height: 3.7rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .how-we-do-it-section .how-we-do-it-hd .block-content p {
    line-height: 2.8rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .how-we-do-it-section .how-we-do-it-hd .block-content p {
    line-height: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .how-we-do-it-section .how-we-do-it-hd .block-content p {
    line-height: 2rem;
  }
}
.how-we-do-it-section .how-we-do-it-hd .block-content p:last-child {
  margin: 0px;
}
.how-we-do-it-section .how-we-do-it-card-row {
  position: relative;
  margin-bottom: 10rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .how-we-do-it-section .how-we-do-it-card-row {
    margin-bottom: 4.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .how-we-do-it-section .how-we-do-it-card-row {
    margin-bottom: 4rem;
  }
}
.how-we-do-it-section .how-we-do-it-card-row .container {
  position: relative;
}
.how-we-do-it-section .how-we-do-it-card-row .how-we-do-it-card {
  display: flex;
}
@media (min-width: 568px) and (max-width: 767px) {
  .how-we-do-it-section .how-we-do-it-card-row .how-we-do-it-card {
    flex-wrap: wrap;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .how-we-do-it-section .how-we-do-it-card-row .how-we-do-it-card {
    flex-wrap: wrap;
  }
}
.how-we-do-it-section .how-we-do-it-card-row .how-we-do-it-card-img {
  width: 20%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .how-we-do-it-section .how-we-do-it-card-row .how-we-do-it-card-img {
    width: 39%;
    margin-bottom: 3rem;
  }
}
.how-we-do-it-section .how-we-do-it-card-row .how-we-do-it-card-img img {
  width: 100%;
  height: auto;
  display: block;
}
.how-we-do-it-section .how-we-do-it-card-row .how-we-do-it-card-content {
  width: 75%;
  position: relative;
  padding-left: 106px;
  color: #fff;
}
@media (min-width: 568px) and (max-width: 767px) {
  .how-we-do-it-section .how-we-do-it-card-row .how-we-do-it-card-content {
    padding-left: 67px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .how-we-do-it-section .how-we-do-it-card-row .how-we-do-it-card-content {
    width: 100%;
    padding-left: 0;
  }
}
.how-we-do-it-section .how-we-do-it-card-row .how-we-do-it-card-content .row-number {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  position: absolute;
  top: 6px;
  left: 0px;
  color: #fff;
  font-size: 2.5rem;
  background-color: #e9634b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "HelveticaNeueLTPro-Md";
}
@media (min-width: 568px) and (max-width: 767px) {
  .how-we-do-it-section .how-we-do-it-card-row .how-we-do-it-card-content .row-number {
    width: 40px;
    height: 40px;
    font-size: 1.6rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .how-we-do-it-section .how-we-do-it-card-row .how-we-do-it-card-content .row-number {
    width: 40px;
    height: 40px;
    font-size: 1.6rem;
  }
}
.how-we-do-it-section .how-we-do-it-card-row .how-we-do-it-card-content h2 {
  margin: 0;
  padding: 0;
  color: #fff;
}
@media (min-width: 568px) and (max-width: 767px) {
  .how-we-do-it-section .how-we-do-it-card-row .how-we-do-it-card-content h2 {
    font-size: 1.6rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .how-we-do-it-section .how-we-do-it-card-row .how-we-do-it-card-content h2 {
    padding: 0 0 0 60px;
    font-size: 1.6rem;
  }
}
.how-we-do-it-section .how-we-do-it-card-row.how-we-do-it-card-row-left::before {
  left: 0px;
}
.how-we-do-it-section .how-we-do-it-card-row.how-we-do-it-card-row-left .how-we-do-it-card-content {
  margin-left: auto;
}
.how-we-do-it-section .how-we-do-it-card-row.how-we-do-it-card-row-right .how-we-do-it-card {
  flex-direction: row-reverse;
}
.how-we-do-it-section .how-we-do-it-card-row.how-we-do-it-card-row-right::before {
  right: 0px;
}
.how-we-do-it-section .how-we-do-it-card-row.how-we-do-it-card-row-right .how-we-do-it-card-content {
  margin-right: auto;
}

.contact-section {
  background-color: #e9634b;
  padding: 16rem 0 10rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .contact-section {
    padding: 11rem 0 10rem 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section {
    padding: 11rem 0 10rem 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-section {
    padding: 5rem 0 4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section {
    padding: 5rem 0 4rem;
  }
}
.contact-section .contact--hd {
  position: relative;
}
.contact-section .contact--hd .container-sm {
  position: relative;
}
.contact-section .contact--hd .container-sm .downarrow {
  top: 163px;
}
.contact-section .contact--hd h1 {
  color: #fff;
  font-size: 8rem;
  font-family: Korb;
  margin: 0;
  padding: 0px;
  font-weight: 400;
  text-transform: lowercase;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .contact-section .contact--hd h1 {
    font-size: 7rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact--hd h1 {
    font-size: 6rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-section .contact--hd h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section .contact--hd h1 {
    font-size: 3rem;
  }
}
.contact-section .contact--hd .block-content {
  color: #fff;
  font-size: 3rem;
  max-width: 100%;
  margin-left: 15%;
  font-weight: 400;
  font-family: "HelveticaNeueLTPro-Md";
  margin-top: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact--hd .block-content {
    font-size: 2.2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-section .contact--hd .block-content {
    font-size: 1.5rem;
    margin-left: 0;
    margin-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section .contact--hd .block-content {
    font-size: 1.4rem;
    margin-left: 0;
    margin-top: 3rem;
  }
}
.contact-section .contact--hd .block-content p {
  line-height: 3.7rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact--hd .block-content p {
    line-height: 2.8rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-section .contact--hd .block-content p {
    line-height: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section .contact--hd .block-content p {
    line-height: 2rem;
  }
}
.contact-section .contact--hd .block-content p:last-child {
  margin: 0px;
}
.contact-section .contact--content .contact-content-inner {
  max-width: 66%;
  margin-left: 15%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact--content .contact-content-inner {
    max-width: 100%;
    margin-left: 0%;
  }
}
.contact-section .contact--content .contact-content-inner .contact-btn a {
  margin-top: 3rem;
}
.contact-section .contact--content .contact-content-inner .contact-social-media {
  margin-top: 4rem;
}
.contact-section .contact--content .contact-content-inner .contact-social-media ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
.contact-section .contact--content .contact-content-inner .contact-social-media ul li {
  margin: 0 2rem 0 0;
  padding: 0px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section .contact--content .contact-content-inner .contact-social-media ul li {
    margin: 0 1rem 0 0;
  }
}
.contact-section .contact--content .contact-content-inner .contact-social-media ul li a {
  display: block;
  width: 70px;
  height: 70px;
  position: relative;
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section .contact--content .contact-content-inner .contact-social-media ul li a {
    width: 50px;
    height: 50px;
  }
}
.contact-section .contact--content .contact-content-inner .contact-social-media ul li a::after {
  content: "";
  position: absolute;
  width: 97%;
  height: 97%;
  background-color: #fff;
  border-radius: 100px;
  left: 1.5%;
  top: 1.5%;
}
.contact-section .contact--content .contact-content-inner .contact-social-media ul li a img {
  width: 100%;
  position: relative;
  display: block;
  z-index: 1;
}
.contact-section .contact--content .contact-content-inner .contact-social-media ul li a:hover::after {
  background-color: #fdc8bf;
}
.contact-section .contact--content .contact-content-inner .contact-social-media ul li a:hover img {
  opacity: 0.8;
}

.scroll-next {
  animation: pulse-grow 1.5s infinite;
}
@keyframes pulse-grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.trailing-line {
  position: relative;
}
.trailing-line:before {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  right: 100%;
  width: 0;
  height: 3px;
  transform: translateX(-40px);
  background: transparent;
}
@media (min-width: 320px) and (max-width: 767px) {
  .trailing-line:before {
    display: none;
  }
}
.aos-animate .trailing-line:before {
  width: 100vw;
  transition: 6s;
}
.trailing-line--left:before {
  right: auto;
  left: 100%;
  transform: translateX(40px);
}
.trailing-line--left.trailing-line--small:before {
  transform: translateX(20px);
}
.trailing-line--primary:before {
  background: #e9634b;
}
.trailing-line--white:before {
  background: #fff;
}
.trailing-line--small:before {
  bottom: 6px;
  transform: translateX(-20px);
}

.blog-cards .trailing-line--left:before,
.blog-cards .trailing-line--right:before {
  transform: translateX(0px);
  top: 50%;
}

.how-we-do-it-card .trailing-line--left:before,
.how-we-do-it-card .trailing-line--right:before {
  transform: translateX(0px);
}

.contact--hd .trailing-line--left:before,
.contact--hd .trailing-line--right:before {
  transform: translateX(-40px);
  background: #fff;
}

.body_biger_txt {
  font-size: 1.5rem;
}
.body_biger_txt p {
  line-height: 1.9rem;
}
.body_biger_txt .nav_menu nav ul li a {
  font-size: 1.5rem;
}
.body_biger_txt .nav_menu nav ul li.menu-item-45 {
  width: 125px;
}
.body_biger_txt .main-footer .footer-left .footer-address,
.body_biger_txt .main-footer .footer-left .copy-right,
.body_biger_txt .main-footer .footer-right .footer-menu ul li a {
  font-size: 1.1rem;
}
.body_biger_txt .main-footer .footer-left .social-media ul li a {
  width: 45px;
}
.body_biger_txt .accessibility-menu .dropdown-menu a.accessibility-btn-text,
.body_biger_txt .accessibility-menu .dropdown-menu button.accessibility-btn-text {
  background: url("../img/icon-accessibility-bigger-text--hover.svg") no-repeat 10px;
  background-size: 17px;
  color: #e9634b;
}

.body_bg_contrast {
  color: #000;
}
.body_bg_contrast .main-header {
  background: #000;
}
.body_bg_contrast a {
  color: #000;
}
.body_bg_contrast .page-hero-section::after,
.body_bg_contrast .view-product-section::after,
.body_bg_contrast .case-studies-section .case-studies-row .case-studies-col ul li .case-studies-box .case-studies-content,
.body_bg_contrast .page-hero-section::after {
  background: rgba(0, 0, 0, 0.9);
}
.body_bg_contrast .case-studies-section .case-studies-row .case-studies-col ul li.view-all-card .case-studies-box .case-studies-content {
  background: transparent;
}
.body_bg_contrast .case-studies-section .case-studies-row .case-studies-col ul li.view-all-card .case-studies-box {
  background: #000;
}
.body_bg_contrast .dark-bg {
  background: #000;
}
.body_bg_contrast .round-primary-btn {
  background: #000;
  color: #fff;
}
.body_bg_contrast .round-secondary-btn,
.body_bg_contrast .contact-btn a {
  background: #fff;
  color: #000;
}
.body_bg_contrast .blog-card-outer .blog-cards .blog-card-content h3,
.body_bg_contrast .case-studies-section h2,
.body_bg_contrast .what-we-do-card-row .what-we-do-card a h3,
.body_bg_contrast .manufacture-resources-section h2,
.body_bg_contrast .img-text-card-row .img-text-card-content h3 {
  color: #000;
}
.body_bg_contrast .what-we-do-card-row .what-we-do-card a h3 {
  background: #000 url("../img/white arrow right corner.svg") no-repeat calc(100% - 1rem) center;
  color: #fff;
  background-size: 2rem;
}
.body_bg_contrast .more-info-section .more-info-inner .more-info-box {
  background-color: #000;
}
.body_bg_contrast .back-to-section {
  background: #42444e;
}
.body_bg_contrast .back-to-section .back-to-inner a {
  background: url("../img/white arrow left corner.svg") no-repeat left center;
  color: #fff;
  background-size: 2rem;
}
.body_bg_contrast .products-card-row .products-card a h5 {
  background: #000 url("../img/white arrow right corner.svg") no-repeat calc(100% - 1.5rem) center;
  background-size: 2rem;
}
.body_bg_contrast .page-title h1,
.body_bg_contrast .quotes-section h2 {
  color: #000;
}
.body_bg_contrast .how-we-do-it-section,
.body_bg_contrast .how-we-do-it-section .how-we-do-it-card-row .container,
.body_bg_contrast .main-footer {
  background: #000;
}
.body_bg_contrast .contact-section {
  background-color: #000;
}
.body_bg_contrast .main-footer .footer-logo {
  color: #fff;
}
.body_bg_contrast .main-footer .footer-left {
  color: #fff;
}
.body_bg_contrast .main-footer .footer-right .footer-menu ul li a {
  color: #fff;
}
.body_bg_contrast .main-footer .footer-right .footer-menu ul li a:hover {
  color: #e9634b;
}
.body_bg_contrast .accessibility-menu .dropdown-menu a,
.body_bg_contrast .accessibility-menu .dropdown-menu button {
  color: #4d505b !important;
}
.body_bg_contrast .accessibility-menu .dropdown-menu a:hover,
.body_bg_contrast .accessibility-menu .dropdown-menu button:hover {
  color: #e9634b !important;
}
.body_bg_contrast .accessibility-menu .dropdown-menu a.accessibility-btn-contrast,
.body_bg_contrast .accessibility-menu .dropdown-menu button.accessibility-btn-contrast {
  background: url("../img/icon-accessibility-contrast-hover.svg") no-repeat 10px;
  background-size: 17px;
  color: #e9634b !important;
}

/*# sourceMappingURL=global.css.map */
