ul.social-media-icon {
    margin: 0;
    padding: 0px;
    list-style: none;
    display: flex;

    li {
        margin: 0 1rem 0 0;
        padding: 0;

        @include breakpoint(mobile_portrait) {
            margin: 0 0.6rem 0 0;
        }

        &:last-child {
            margin-right: 0px;
        }

        a {
            display: block;
            padding: 0;
            width: 45px;
            height: 45px;
        }

        a.facebook {
            background: url("#{$assetIconsPath}/facebook green jennings.svg") no-repeat center center;
            background-size: 100%;

            &:hover {
                background: url("#{$assetIconsPath}/facebook purple jennings.svg") no-repeat center center;
                background-size: 100%;
            }
        }

        a.instagram {
            background: url("#{$assetIconsPath}/instagram green jennings.svg") no-repeat center center;
            background-size: 100%;

            &:hover {
                background: url("#{$assetIconsPath}/instagram purple jennings.svg") no-repeat center center;
                background-size: 100%;
            }
        }

        a.linkedin {
            background: url("#{$assetIconsPath}/linkedin green jennings.svg") no-repeat center center;
            background-size: 100%;

            &:hover {
                background: url("#{$assetIconsPath}/linkedin purple jennings.svg") no-repeat center center;
                background-size: 100%;
            }
        }

        a.twitter {
            background: url("#{$assetIconsPath}/twitter green jennings.svg") no-repeat center center;
            background-size: 100%;

            &:hover {
                background: url("#{$assetIconsPath}/twitter purple jennings.svg") no-repeat center center;
                background-size: 100%;
            }
        }
    }
}