<li class="normal matchheight">

	<h3>{{ content.title}}</h3>

	<div class="variant__content">

		{% if content.field_body[0] is not empty %}
		<div class="content">
			{{ content.field_body }}
		</div>
		{% endif %}


		{% if content.field_download[0] is not empty %}
		<p>Download information <a href="{{content.field_download[0]['#markup']}}" title="Download file">here</a></p>
		{% endif %}
	</div>

</li>