<li class="list-item">
	<a href="<?php print render($content['field_file']);?>" title="Download <?php print $title;?> PDF" target="_blank" class="download-file">
		<h3><?php print $title; ?></h3>
		<?php print render($content['field_image']);?>
		<span class="keywords hidden" data-cat="<?php print render($content['field_download_category']);?>"></span>
	</a>
</li>