.call-now-section{
    .container-sm{
        position: relative;
    }
    h3{
        color: $white;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
    .call-now-info{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        @include breakpoint(mobile_portrait){
            flex-wrap: wrap;
        }
        a{
            border: 1px $white solid;
            background: transparent;
            padding: 10px 10px;
            color: $white;
            font-size: 1.3rem;
            margin: 0 1rem;
            min-width: 300px;
            text-align: center;
            @include breakpoint(mobile_portrait){
                width: 100%;
                margin: 1rem 0rem;
                font-size: 1.1rem;
            }
            &:hover{
                background: $white;
                color: $secondary-color;
            }
        }
    }
    .request-form-pop{
        background: $primary-color;
        position: absolute;
        width: 50%;
        top: -4rem;
        right: 0px;
        padding: 2rem;
        @include breakpoint(mobile_portrait){
            width: 100%;
            top: 227px;
        }
        .input-submit{
            display: flex;
            justify-content: end;
        }
    }
}