.review--box {
    font-size: 1.7rem;
    font-family: "MuseoSlab-300";
    font-weight: 300;
    color: $white;
    @include breakpoint(mobile_landscape){
        font-size: 1.3rem;
    }
    @include breakpoint(mobile_portrait){
        font-size: 1.4rem;
    }
    p {
        padding: 0px 6px;
        margin: 0px;
        line-height: 1.8rem;
        position: relative;
        &::before {
            position: absolute;
            left: -5px;
            top: 0px;
            content: "“";
            font-size: 2rem;
        }
        &::after {
            position: absolute;
            bottom: 0px;
            content: "”";
            font-size: 2rem;
        }
    }
}
