.post-row {
    position: relative;
    margin-top: 4rem;
   
    @include breakpoint(mobile_landscape) {
        padding: 0 5rem;;
    }

    &:nth-child(1) {
        margin-top: 0rem;
    }

    .container {
        position: relative;
        padding-top: 4rem;
        padding-bottom: 4rem;
        @include breakpoint(mobile){
            padding-top: 0rem;
            padding-bottom: 0rem;
        }
    }

    .custom-row {
        height: 100%;
        align-items: center;
    }
    
    .desktop-post-row--img {
        width: 50%;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        @include breakpoint(mobile) {
            display: none;
        }

        @include breakpoint(ipad_portrait) {
            overflow: hidden;
        }
        @include breakpoint(mobile) {
            width: 100%;
            padding: 0 1rem;
        }

        
    }
    .mobile-post-row--img{
        display: none;
        @include breakpoint(mobile) {
            display: block;
            width: 100%;
            padding: 0 1rem;
            img{
                width: 100%;
                display: block;
            }
        }
    }

    .post-row--content {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 680px;
        @include breakpoint(ipad_landscape){
            min-height: 412px;
        }
        @include breakpoint(ipad_portrait){
            min-height: 466px;
        }
        @include breakpoint(mobile) {
            position: relative;
            min-height: 100px;
        }
        .desc--box {
            padding-left: 2rem;
            @include breakpoint(mobile_portrait) {
                padding-left: 0;
                br{
                    display: none;
                }
            }
        }
    }

    .post-row--text {
        width: 55%;
        padding: 4rem;

        @include breakpoint(big_screen) {
            min-height: 360px;
        }
        @include breakpoint(ipad_landscape) {
            padding: 2rem;
        }
        @include breakpoint(ipad_portrait) {
            padding: 2rem;
        }
        @include breakpoint(mobile_landscape) {
            padding: 2rem 2rem;
        }
        @include breakpoint(mobile) {
            width: 100%;
            padding: 3rem 2rem;
        }

        .desc--box {
            p {
                color: $white;
                a{
                    color: $white;
                    font-weight: 600;
                }  
            }
        }
    }

    &.post-row--left {
        .post-row--text {
            padding-right: 6rem;
            @include breakpoint(ipad_landscape) {
                padding-right: 4rem;
            }
            @include breakpoint(ipad_portrait) {
                padding-right: 4rem;
            }
            @include breakpoint(mobile) {
                padding-right: 2rem;
            }
        }
    }

    &.post-row--right {
        .desktop-post-row--img {
           right: inherit;
           left: 0;
        }

        .post-row--text {
            margin-left: auto;
            padding-left: 6rem;
            @include breakpoint(ipad_landscape) {
                padding-left: 4rem;
            }
            @include breakpoint(ipad_portrait) {
                padding-left: 4rem;
            }
            @include breakpoint(mobile) {
                padding-left: 2rem;
            }
        }
    }

    .post-row-text-bg-1 {
        background: $light-orange;
        mix-blend-mode: multiply;
    }

    .post-row-text-bg-2 {
        background: $primary-color;
        mix-blend-mode: multiply;
    }
}

.post-row--text.post-row-text-bg-2 h3 {
    text-transform: inherit;
}
.post-row .post-row-text-bg-1:hover {
    background: $secondary-color;
}



