.sm-post--row {
    align-items: center;
    margin-top: 3rem;
    @include breakpoint(mobile_landscape) {
        padding: 0 5rem;
    }
    &:first-child {
        margin-top: 0px;
    }
    .sm-post-row--img {
        width: 50%;
        position: relative;
        @include breakpoint(mobile) {
            width: 100%;
        }
        &::after {
            width: 100%;
            height: 100%;
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            background: rgba(0, 0, 0, 0.6);
        }
        .sm-post-row-img--below {
            img {
                width: 100%;
                display: block;
            }
        }
        .sm-post-row-img--above {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            img {
                width: 60%;
            }
        }
    }
    .sm-post-row--content {
        width: 50%;
        padding: 2rem;
        @include breakpoint(mobile) {
            width: 100%;
            padding: 1rem 0;
        }
        h4 {
            margin: 0 0 1rem;
        }
    }
    &.sm-post-row--left {
        .sm-post-row--content {
            padding-right: 0px;
        }
    }
    &.sm-post-row--right {
        flex-direction: row-reverse;
        @include breakpoint(mobile) {
            flex-direction: column;
        }
        .sm-post-row--content {
            padding-left: 0px;
            @include breakpoint(mobile) {
                padding-left: 1rem;
            }
        }
    }
}
