<div class="news-full-img news-img-size news-single-img">
	<img typeof="foaf:Image" src="{{ TimberImage(content_row.image).src('news-details-one') }}" alt="" title="{{post.title}}">
	{% if content_row.image_caption %}
		<div class="image-caption">
		<em>{{content_row.image_caption}}</em>
		</div>
		{% endif %}
</div>
