<div class="news-dual-img">
	<div class="news-img news-img-size">
		<img typeof="foaf:Image" style="height:auto !important"  src="{{ TimberImage(content_row.image).src('news-details-two') }}" alt="" title="{{post.title}}">
		{% if content_row.image_caption %}
		<div class="image-caption">
		<em>{{content_row.image_caption}}</em>
		</div>
		{% endif %}
	</div>
	<div class="news-img news-img-size">
		<img typeof="foaf:Image" style="height:auto !important" src="{{ TimberImage(content_row.image_copy).src('news-details-two') }}" alt="" title="{{post.title}}">
		{% if content_row.image_caption_copy %}
		<div class="image-caption">
		<em>{{content_row.image_caption_copy}}</em>
		</div>
		{% endif %}
	</div>
</div>
