<div class="news-three-img">
	<div class="news-img news-img-size">
		<img typeof="foaf:Image" src="{{ TimberImage(content_row.image).src('news-details-three') }}" alt="" title="{{post.title}}">
		{% if content_row.image_caption %}
		<div class="image-caption">
		<em>{{content_row.image_caption}}</em>
		</div>
		{% endif %}
	</div>
	<div class="news-img news-img-size">
		<img typeof="foaf:Image" src="{{ TimberImage(content_row.image_copy).src('news-details-three') }}" alt="" title="{{post.title}}">
		{% if content_row.image_caption_copy %}
		<div class="image-caption">
		<em>{{content_row.image_caption_copy}}</em>
		</div>
		{% endif %}
	</div>
    <div class="news-img news-img-size">
		<img typeof="foaf:Image" src="{{ TimberImage(content_row.image_copy2).src('news-details-three') }}" alt="" title="{{post.title}}">
		{% if content_row.image_caption_copy2 %}
		<div class="image-caption">
		<em>{{content_row.image_caption_copy2}}</em>
		</div>
		{% endif %}
	</div>
</div>
