.body_big_txt {
  font-size: 20px;
}

// FOR BIG  FONTS SCSS

.body_biger_txt {
  font-size: 21px;

  .fixed_header .main-nav .nav-section ul li a {
    font-size: 18px;
  }

  .button_green a,
  .button_green button,
  .button_green input[type='submit'] {
    font-size: 20px;
  }

  .main_footer .footer_links ul li,
  .main_footer .footer_links ul li a {
    font-size: 18px;
  }

  .main_footer .footer_links ul li {
    padding-left: 8px;
    padding-right: 8px;
  }

  .main_footer .footer_links ul li .dropdown-menu button.accessibility-btn-text {
    background-color: $hover-color;
  }
  .search__mobile .hdr_search,
  .search__mobile .search_icon {
    @include breakpoint(mobile-iPad) {
      height: 49px;
    }
  }
  .search__mobile .hdr_search input {
    @include breakpoint(mobile-iPad) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
   
}
}

// FOR CONTRAST SCSS

.body_bg_contrast {
  color: $black;
  .fixed_header,
  .hero-slider .heroSlider_item .heroSlider_text .heroSlider_text_in,
  .full-img-content-section .full_img_content,
  .fixed_header .main-nav .nav-section ul li .sub-menu li,
  .heading_hero h1,
  .heading_hero .hd_event_logo,
  .main_footer {
    background: $black;
  }

  .fixed_header .main-nav .nav-section ul li a {
    color: $white;
  }

  .fixed_header .main-nav .nav-section ul li {
    border-right: 1px $white solid;

    @include breakpoint(mobile-iPad) {
      border-right: 0px $white solid;
    }
  }

  .fixed_header .main-nav .nav-section ul li .sub-menu li {
    @include breakpoint(header_menu) {
      background: transparent;
    }
  }

  .menu_icon a span {
    background-color: $white;
  }

  .main_footer .footer_links ul li .dropdown-menu button.accessibility-btn-contrast {
    background-color: $hover-color;
  }
  .fixed_header {
    .main-nav {
      .nav-section {
        ul {
          li {
            &.current_page_ancestor {
              a {
                color: $greenLight;
              }

              ul {
                li {
                  a {
                    color: $white;
                  }
                }
              }
            }
            &.current-menu-item {
              a {
                color: $greenLight;
              }

              ul {
                li {
                  a {
                    color: $white;
                  }
                }
              }
            }
            &:last-child {
              border-right: 0px;
            }
            .sub-menu {
              li {
                border-top: 1px $white solid;
                &:hover {
                  a {
                    color: $greenLight;
                  }
                }

                &:first-child {
                  border-top: 1px $white solid;
                  &::before {
                    border-color: transparent transparent $white transparent;
                  }
                  a {
                    border-top: 0px $primary-color solid;
                  }
                }

                &.current_page_item {
                  a {
                    color: $greenLight;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .latest-news h2,
  .latest-news .latest_news_box .latest_news_content h3 a,
  .thumbs-section-boxs h2,
  .add-your-event .a_y_e__box h3,
  .txt-sm-block .container-txt-sm h1,
  .addl_info__block h2,
  .addl_info__block .a_i_b__inner h5,
  .page_news__list h1,
  .page_news__list .news__right .news_list__box .news__content h3 a,
  .page_news__list .news__left h3,
  .page_news__list .news__left ul li a,
  .page_news__list .news__right .news_list__box .news__content h5,
  .page_article_detail .p_a_d__top h4,
  .block_long_text h3,
  .block_download .b_d__content .b_d_c__box h4,
  .block_accordion h2,
  .block_accordion .a__box .a_b__top h5,
  .block_apply_volu_opp__inner h3,
  .block_job_list .block_job_list__inner h2,
  .block_job_list .block_job_list__inner .job_list__box .j_l__box h3 a,
  .block_job_list .block_job_list__inner .job_list__box .j_l__box strong,
  .page_job__details__inner h1,
  .page_job__details__inner .j_d_c__top ul li strong,
  .page_job__details__inner h5,
  .block-article-image-and-text .a_s_b__content h5,
  .b_o_w__top h2,
  .txt-sm-block .container-txt-sm h2 {
    color: $black;
  }

  .latest-news .latest_news_box .latest_news_content .button_green a,
  .row_btn a,
  .add-your-event .a_y_e__box .button_green a,
  .button_style_1 a,
  .button_style_1 button,
  .button_style_1 input[type='submit'],
  .page_news__list .news__right .news_list__box .news__content .button_green a,
  .pagination .current,
  .block_download .b_d__content .b_d_c__box .button_green a,
  .button_style_2 a,
  .button_style_2 button,
  .button_style_2 input[type='submit'],
  .download_btn button,
  .download_btn a,
  .page_content_us .page_content_us__inner .contact__btm .contact_left .button_green button,
  .page_content_us .page_content_us__inner .contact__btm .contact_left .button_green input[type='submit'],
  .block_apply_volu_opp__inner .button_green button,
  .block_apply_volu_opp__inner .button_green input,
  .block_job_list .block_job_list__inner .job_list__box .j_l__box .button_green a {
    border: 1px $black solid;
    background: $black;
    color: $white;
  }
  .pagination span,
  .pagination a {
    color: $black;
    border: 1px $black solid;
  }
  .download_btn button i,
  .download_btn a i {
    background: url('#{$assetPath}/download-icon-white.png') no-repeat 0 -2px;
    width: 21px;
    height: 25px;
  }
  .block_accordion .a__box .a_b__top h5.collapsed {
    background: url('#{$assetPath}/black-arrow-close.svg') no-repeat center right;
  }
  .block_accordion .a__box .a_b__top h5 {
    background: url('#{$assetPath}/black-arrow-open.svg') no-repeat center right;
  }

  .hero-slider .heroSlider_item .heroSlider_text .heroSlider_text_in .hero_slider_txt strong {
    @include breakpoint(mobile-portrait) {
      color: $white;
    }
  }

  .sub_chilterns_boxs {
    .pagination {
      span,
      a {
        &:hover {
          color: $black;
          background: $white;
          border: 1px $black solid;
        }
      }
    }
  }

  ul.slick-dots {
    li {
      button {
        @include breakpoint(mobile-portrait) {
          background: url('#{$assetPath}/slider-dot.svg') no-repeat center center;
          background-size: 100%;
        }
      }

      &.slick-active {
        button {
          @include breakpoint(mobile-portrait) {
            background: url('#{$assetPath}/active-dot.svg') no-repeat center center;
            background-size: 100%;
          }
        }
      }
    }
  }
}
