// Global Breakpoint

@mixin breakpoint($media) {
  @if $media==laptop {
    @media (min-width: 1025px) and (max-width: 1370px) {
      @content;
    }
  }
  @else if $media==laptop-small {
    @media (min-width: 1025px) and (max-width: 1440px) {
      @content;
    }
  }
  @else if $media==laptop-small-l {
    @media (min-width: 1225px) and (max-width: 1324px) {
      @content;
    }
  }

  @else if $media==laptop-small-m {
    @media (min-width: 1125px) and (max-width: 1224px) {
      @content;
    }
  }

  @else if $media==laptop-small-s {
    @media (min-width: 1025px) and (max-width: 1124px) {
      @content;
    }
  }

  @else if $media==iPad-landscape {
    @media (min-width: 992px) and (max-width: 1024px) {
      @content;
    }
  }

  @else if $media==iPad {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }

  @else if $media==mobile-iPad {
    @media (min-width: 320px) and (max-width: 1024px) {
      @content;
    }
  }

  @else if $media==mobile-landscape {
    @media (min-width: 568px) and (max-width: 767px) {
      @content;
    }
  }

  @else if $media==mobile-landscape-sm {
    @media (min-width: 600px) and (max-width: 767px) {
      @content;
    }
  }

  @else if $media==mobile-portrait {
    @media (min-width: 320px) and (max-width: 567px) {
      @content;
    }
  }

  @else if $media==small {
    @media (min-width: 320px) and (max-width: 767px) {
      @content;
    }
  }

  @else if $media==header_menu {
    @media (min-width: 320px) and (max-width: 1024px) {
      @content;
    }
  }

}