.checkBox {
  input[type='checkbox'].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  input[type='checkbox'].css-checkbox + label.css-label {
    padding-left: 43px;
    height: 32px;
    display: flex;
    align-items: center;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-weight: 400;
    @include font-color(15px, $white);
    vertical-align: middle;
    cursor: pointer;
  }
  input[type='checkbox'].css-checkbox:checked + label.css-label {
    background-image: url('#{$assetPath}/box-checked.svg');
  }
  label.css-label {
    background-image: url('#{$assetPath}/box-check.svg');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.checkBoxright {
  input[type='checkbox'].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  input[type='checkbox'].css-checkbox + label.css-label {
    padding-right: 79px;
    height: 46px;
    display: inline-block;
    line-height: 44px;
    background-repeat: no-repeat;
    background-position: center right;
    font-weight: 400;
    @include font-color(16px, $dark-text-color);
    vertical-align: middle;
    cursor: pointer;
    margin: 0px;
  }
  input[type='checkbox'].css-checkbox:checked + label.css-label {
    background-image: url('#{$assetPath}/input-checked-border.svg');
  }
  label.css-label {
    background-image: url('#{$assetPath}/input-check-border.svg');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.wpcf7-list-item {
  label {
    input[type='checkbox'] {
      position: absolute;
      z-index: -1000;
      left: -1000px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
    }
    input[type='checkbox'] + span.wpcf7-list-item-label {
      padding-right: 79px;
      height: 46px;
      display: inline-block;
      line-height: 44px;
      background-repeat: no-repeat;
      background-position: center right;
      font-weight: 400;
      @include font-color(16px, $dark-text-color);
      vertical-align: middle;
      cursor: pointer;
      margin: 0px;
    }
    input[type='checkbox']:checked + span.wpcf7-list-item-label {
      background-image: url('#{$assetPath}/input-checked-border.svg');
    }
    span.wpcf7-list-item-label {
      background-image: url('#{$assetPath}/input-check-border.svg');
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}
