$black: #000000;
$white: #fff;

$green: #4b823a;
$greenLight: #a3cd3d;
$greenDark: #263b1c;

$pink: #a55f88;

$teal: #20c997;
$tealDark: #3f7d8b;

$purple: #686a99;
$purpleDark: #6610f2;

$red: #dc3545;

$orange: #fe6c0b;

$yellow: #ffc107;

$cyan: #17a2b8;
$cyanLight: #d5e4ee;
$cyanDark: #388071;

$blue: #001aff;
$blueDark: #020e78;
$blueLight: #377ca9;

$primary-color: #ff780a;
$secondary-color: #565656;

$gray: #c4c4c4;
$gray-333: #333333;
$gray-555: #555555;
$gray-666: #666666;
$gray-999: #999999;
$bodyBg: #f5f5f5;
$box-border: #dadada;
$input-border: #cbcbcb;
$light: #acacac;
$lightDark: #5b6770;
$light-gray-color: #f2f2f2;
$dark-text-color: #5c5c5b;

$border-bg: #a9a9a9;
$hover-color: #dedede;

$textColour: #212529;
