.input-field {
  @include margin(25px, 0, 0, 0);
  label {
    @include font-weight(500);
    @include font-color(16px, $dark-text-color);
    @include display(block);
    @include margin(0px, 0, 10px, 0);
  }
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='number'],
  input[type='date'],
  textarea {
    border: 2px $input-border solid;
    @include padding(10px, 10px, 10px, 10px);
    @include width(100%);
    @include font-weight(400);
    @include font-color(15px, $lightDark);
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-style: normal;
      @include font-color(15px, $lightDark);
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      font-style: normal;
      @include font-color(15px, $lightDark);
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      font-style: normal;
      @include font-color(15px, $lightDark);
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      font-style: normal;
      @include font-color(15px, $lightDark);
    }
  }
  textarea {
    @include border-all(2px, $input-border, solid);
    @include padding(10px, 10px, 10px, 10px);
    margin-top: 10px;
    @include height(126px);
  }
}

.addl_input_box {
  display: flex;
  align-items: center;
  @include breakpoint(mobile-portrait) {
    flex-wrap: wrap;
  }
  label {
    @include font-weight(500);
    @include font-color(16px, $dark-text-color);
    @include margin(0px, 0, 10px, 0);
    @include width(30%);
    @include breakpoint(mobile-portrait) {
      @include width(100%);
    }
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='number'],
  input[type='date'],
  textarea {
    border: 2px $input-border solid;
    @include padding(10px, 10px, 10px, 10px);
    @include width(100%);
    @include font-weight(400);
    @include font-color(15px, $lightDark);

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-style: normal;
      @include font-color(15px, $lightDark);
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      font-style: normal;
      @include font-color(15px, $lightDark);
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      font-style: normal;
      @include font-color(15px, $lightDark);
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      font-style: normal;
      @include font-color(15px, $lightDark);
    }
  }
}
.contact_left .input-field br {
  display: none;
}

.input-submits {
  float: left;
  width: 100%;
}

.addl_info__block {
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='number'],
  input[type='date'],
  textarea {
    border: 2px $green solid;
    background: $white;
    color: $green;
  }
}
