.book-now-section{
    @extend %main-padding;
    @extend %sm-l-f-pd;
    .custom-row{
        align-items: center;
    }
    .book-now-hd-hide-desktop{
        display: none;
        @include breakpoint(ipad_portrait){
            display: block;
        }
        @include breakpoint(mobile){
            display: block;
        }
    }
    .book-now-hd-hide-mobile{
        @include breakpoint(ipad_portrait){
            display: none;
        }
        @include breakpoint(mobile){
            display: none;
        } 
    }
    .book-now-section-img{
        width: 40%;
        @include breakpoint(ipad_portrait){
            width: 100%;
        }
        @include breakpoint(mobile){
            width: 100%;
        }
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .book-now-section-right{
        width: 55%;
        margin-left: auto;
        @include breakpoint(ipad_portrait){
            width: 100%;
            margin-left: 0px;
            margin-top: 3rem;
        }
        @include breakpoint(mobile){
            width: 100%;
            margin-left: 0px;
            margin-top: 3rem;
        }
       
    }
    h3{
        margin: 0px 0 2rem 0;
        padding: 0px;
        @extend %h3;
        font-weight: 700;
    }
}