.branding-case-study-section{
    @extend %main-padding;
    @extend %sm-l-f-pd;
    .custom-row{
        margin-top: 4rem;
        align-items: center;
        @include breakpoint(ipad_portrait){
            flex-direction: column-reverse;
        }
        @include breakpoint(mobile){
            flex-direction: column-reverse;
        }
        .branding-case-study-img{
            width: 47%;
            @include breakpoint(ipad_portrait){
                width: 100%;
            }
            @include breakpoint(mobile){
                width: 100%;
            }
            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .branding-case-study-content{
            width: 47%;
            margin-left: auto;
            @include breakpoint(ipad_portrait){
                width: 100%;
                margin-left: 0;
                margin-bottom: 3rem;
            }
            @include breakpoint(mobile){
                width: 100%;
                margin-left: 0;
                margin-bottom: 3rem;
            }
            h3{
                margin: 0px;
                padding: 0px;
                @extend %h3;
                color: $secondary-color;
            }
            .desc{
                margin: 2rem 0;
            }
        }
    }
}