.case-studies-details-section{
    padding: 13rem 0 0 0;
    @include breakpoint(ipad_portrait){
        padding-top: 10rem;
    }
    @include breakpoint(mobile){
        padding-top: 9rem;
    }
    .case-studies-details-content-box{
        h3{
            color: $gray-color;
            @extend %h3;
            font-weight: 500;
        }
        .case-studies-details-img{
            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .case-studies-details-content{
            padding: 5rem;
            @include breakpoint(mobile){
                padding: 2rem 0;
            }
        }
    }
}

.img-galley-row{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    .img-galley-box{
        width: 33.33%;
        padding: 5px;
        @include breakpoint(ipad_portrait){
            width: 50%;
        }
        @include breakpoint(mobile_landscape){
            width: 50%;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
        }
        a{
            overflow: hidden;
            width: 100%;
            height: 100%;
            display: block;
            img{
                width: 100%;
                height: auto;
                display: block;
                transition: transform 0.2s ease;
            }

            &:hover{
                img{transform: scale(1.1);} 
            }
        }
      
    }
}