.case-studies-section{
    @extend %main-padding;
    @extend %sm-l-f-pd;
    .case-studies-row{
        display: flex;
        flex-wrap: wrap;
        margin: 3rem -1rem;
        .case-studies-box{
            width: 50%;
            padding: 1rem;
            @include breakpoint(ipad_portrait){
                width: 100%;
            }
            @include breakpoint(mobile){
                width: 100%;
            }
            .case-studies-box-in{
                position: relative;
                .case-studies-img{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: auto;
                        display: block;
                        transition: transform 0.2s ease;
                    }
                }
                .case-studies-content{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    background-color: rgba(0, 0, 0, 0.6);
                    
                    align-items: center;
                    justify-content: center;
                    display: none;
                    padding: 1rem;
                    color: $secondary-color;;
                    @extend %case-size;
                    text-align: center;
                    h3{
                        margin: 0px;
                        padding: 0px;
                        font-size:2rem;
                        @include breakpoint(desktop3){
                            font-size:2rem;
                        }
                        @include breakpoint(ipad_portrait) {
                            font-size: 1.7rem;
                          }
                          @include breakpoint(mobile_landscape){
                            font-size: 1.6rem;
                        }
                        @include breakpoint(mobile_portrait){
                            font-size: 1.3rem;
                        }
                    }
                }
                @media (min-width: 1199px) and (max-width: 9999999999999999999999999999999999999999999999999px) {
                    &:hover{
                        .case-studies-content{
                            display: flex;
                        }
                        .case-studies-img{
                            img{transform: scale(1.1);} 
                        }
                    }
                }
                @media (min-width: 320px) and (max-width: 1199px) {
                    .case-studies-img.hover-show ~ .case-studies-content{
                        display: flex;
                    }
                }
                
            }
            
           
        }
    }
}