.categories-section{
    @extend %main-padding-top;
    h2{
        margin: 0px;
        padding: 0px;
        color: $secondary-color;
    }
    .categories-filter-ul{
        margin-top: 1.5rem;
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            li{
                margin: 0 4rem 0 0;
                padding:10px 0;
                @include breakpoint(ipad_landscape){
                    margin-right: 2rem;
                }
                @include breakpoint(ipad_portrait){
                    margin-right: 1rem;
                }
                @include breakpoint(mobile){
                    margin-right: 1rem;
                }
                a{
                    display: block;
                    color: $gray-color;
                    font-weight: 600;
                    @extend %font-size-base;
                    &.active,
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.categories-row{

    margin-top: 3rem;
   
    .categories-box{
        width: 33.33%;
        padding: 5px;
        @include breakpoint(ipad_portrait){
            width:50%;
        }
        @include breakpoint(mobile_landscape){
            width:50%;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
        }
        .categories-box-in{
            position: relative;
            .categories-img{
                width: 100%;
                height: 100%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                    display: block;
                    transition: transform 0.2s ease;
                }
            }
            .categories-content{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2rem;
                @extend %tran-gray;
                display: none;
                h3{
                    margin: 0 0 1rem 0;
                    padding: 0px;
                    @extend %case-size;
                    color: $secondary-color;
                    min-height: 120px;
                    text-transform: lowercase;
                    text-align: center;
                    @include breakpoint(desktop1){
                        min-height: 70px;
                    }
                    @include breakpoint(desktop2){
                        min-height: 55px;
                    }
                    @include breakpoint(desktop3){
                        min-height: 50px;
                    }
                    @include breakpoint(ipad_landscape){
                        min-height: 50px;
                    }
                    @include breakpoint(ipad_portrait){
                        min-height: 70px;
                    }
                    @include breakpoint(mobile){
                        min-height: 50px;
                    }
                }
                .primary-btn{
                    color: $white;
                }
            }
            &:hover{
                .categories-content{
                    display: flex;
                }
                .categories-img{
                    img{transform: scale(1.1);} 
                }
            }
        }
    }
}