.get-in-touch-section{
    @extend %main-padding-btm;
    overflow: inherit;
    .get-in-touch-box{
        background-color: $white;
        padding: 10%;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
        margin-top: -10rem;
        position: relative;
        z-index: 3;
       @include breakpoint(ipad_portrait){
        margin-top: -6rem;
       }
       @include breakpoint(mobile){
        margin-top: -7rem;
       }
        h2{
            margin: 0px;
            padding: 0px;
            color: $primary-color;
        }
        .get-in-touch{
            margin: 0px;
            padding: 0px;
            list-style: none;
            li{
                
                margin-top: 3rem;
                @include breakpoint(mobile){
                    margin-top: 1.5rem;
                }
               a{
                display: flex;
                width: 100%;
                font-size: 2.5rem;
                color: $text-color;
                font-weight: 500;
                @include breakpoint(ipad_landscape){
                    font-size: 1.8rem;
                }
                @include breakpoint(ipad_portrait){
                    font-size: 1.7rem;
                }
                @include breakpoint(mobile_landscape){
                    font-size: 1.5rem;
                }
                @include breakpoint(mobile_portrait){
                    font-size: 1.2rem;
                }
                i{
                    width: 85px;
                    height: 85px;
                    border: 2px $secondary-color solid;
                    border-radius: 100px;
                    @include breakpoint(ipad_landscape){
                        width: 64px;
                        height: 64px;
                    }
                    @include breakpoint(ipad_portrait){
                        width: 66px;
                        height: 66px;
                    }
                    @include breakpoint(mobile_landscape){
                        width: 50px;
                        height: 50px;
                    }
                    @include breakpoint(mobile_portrait){
                        width: 45px;
                        height: 45px;
                    }
                    &.email-icon{
                        background: url("#{$assetIconsPath}/email orange.svg") no-repeat center center;
                        background-size: 56%;
                    }
                    &.phone-icon{
                        background: url("#{$assetIconsPath}/phone orange.svg") no-repeat center center;
                        background-size: 38%;
                    }
                    &.adds-icon{
                        background: url("#{$assetIconsPath}/map orange.svg") no-repeat center center;
                        background-size: 50%;
                    }
                   
                }
                span{
                    width: calc(100% - 66px);
                    padding: 5px 0 0 2rem;
                    @include breakpoint(ipad_landscape){
                        padding: 15px 0 0 2rem;
                    }
                    @include breakpoint(ipad_portrait){
                        padding: 15px 0 0 2rem;
                    }
                    @include breakpoint(mobile_landscape){
                        width: calc(100% - 55px);
                        padding: 5px 0 0 1rem;
                    }
                    @include breakpoint(mobile_portrait){
                        width: calc(100% - 55px);
                        padding: 5px 0 0 1rem;
                    }
                }
                &:hover{
                    color: $secondary-color;
                }
               }
            }
        }
    }
}
.icon-flex{
    display: flex;

}