.hero-section {
    position: relative;
    z-index: 3;
   .top-btm{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0px;
    bottom: 2rem;
    z-index: 3;

   
    button{
        width: 50px;
        height: 50px;
        margin: auto;
        @extend %primary-gradient;
        border: 0px;
        border-radius: 100px;
        @extend .bounce2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   }
    .hero-img-video {
        position: relative;
        @include breakpoint(desktop3){
            height: 774px;
        }
        @include breakpoint(ipad_portrait){
            height: 580px;
        }
        @include breakpoint(mobile_landscape){
            height: 505px;
        }
        @include breakpoint(mobile_portrait){
            height: 530px;
        }
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background: $mix-blend-color;
            position: absolute;
            left: 0px;
            top: 0px;
            mix-blend-mode: multiply;

        }

        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .hero-section-content {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        padding: 5rem 0;

        .splace-logo {
            width: 490px;
            margin: auto;
            @include breakpoint(desktop1){
                width: 310px;
            }
            @include breakpoint(desktop2){
                width: 270px;
            }
            @include breakpoint(desktop3){
                width: 240px;
            }
            @include breakpoint(ipad_landscape){
                width: 240px;
            }
            @include breakpoint(ipad_portrait){
                width: 210px;
            }
            @include breakpoint(mobile_landscape){
                width: 180px;
            }
            @include breakpoint(mobile_portrait){
                width: 150px;
            }
            

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .hero-section-text{
            @extend .fadeIn;
            span{
                font-size: 7rem;
                font-weight: 400;
                color: $white;
                display: block;
                @include breakpoint(desktop1){
                    font-size: 5.5rem;
                }
                
                @include breakpoint(desktop2){
                    font-size: 5rem;
                }
                @include breakpoint(desktop3){
                    font-size: 4.1rem;
                }
                @include breakpoint(ipad_portrait){
                    font-size: 4.1rem;
                }
                @include breakpoint(mobile_landscape){
                    font-size: 3rem;
                }
                @include breakpoint(mobile_portrait){
                    font-size: 2.4rem;
                }
            }
            h1{
                margin: 0px;
                font-weight: 800;
                color: $primary-color;
                @extend %h1;
                @extend %text-shadow;
                text-transform: lowercase;
                
               
                strong{
                    font-weight: 800;
                    color: $secondary-color;
                }
            }
            p{
                color: $white;
                font-size: 2.7rem;
                font-weight: 500;
                line-height: 3.1rem;
                width: 60%;
                margin-bottom: 0px;
                @include breakpoint(desktop3){
                    font-size: 2.3rem;
                    width: 70%;
                }
                @include breakpoint(ipad_portrait){
                    font-size: 1.7rem;
                    line-height: 2rem;
                    width: 100%;
                    font-weight: 500;
                }
                @include breakpoint(mobile){
                    font-size: 1.5rem;
                    line-height: 2rem;
                    width: 100%;
                }
            }
        }
    }
}
.home .hero-section .hero-section-content .hero-section-text h1 strong{
    display: block;
}
.home{
    .main-header{
        display: none;
        &.show-header{
            display: block;
           
           
        }
    }

    .hero-section-text{
        display: none;
    }
  .preloader-finished{
    .splace-logo{
      display: none;
        
    }
    .hero-section-text{
        display: block;
    }
  }
}





.hero-img-video video {
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: "object-fit: cover;";
    width: 100%;
    height: 100%;
}

.contact{
    .hero-section .top-btm{
        display: none;
    }
}

.the-big-idea-section{
    overflow: visible;
}