.page-text-section{
    @extend %main-padding;
    .page-text-section-in{
        padding: 0 7rem;
        text-align: center;
        @include breakpoint(ipad_portrait){
            padding: 0px;
        }
        @include breakpoint(mobile){
            padding: 0px;
        }
    }
    h2{
        margin: 0px;
        padding: 0px;
    }
    .desc{
        margin-top: 3rem;
        @include breakpoint(ipad_portrait){
            margin-top: 2rem;
        }
        @include breakpoint(mobile){
            margin-top: 2rem;
        }
    }
}