.pagination-block {
    padding: 3rem 0;

    .pagination {
        @include ul;
        display: flex;
        justify-content: end;

        li {
            margin: 0 10px;
            padding: 0px;

            a,
            button,
            span {
                color: $secondary-color;
                font-size: 1.2rem;
                display: block;
                font-weight: 500;
                padding: 7px 14px;
                border: 1px $secondary-color solid;
            }

            span {
                color: $secondary-color;
            }
            .current{
                background-color: $secondary-color;
                color: $white;
            }

            &.btn {
                a {
                    border-color: transparent;
                }

            }
        }
    }
}


// .pagination {
//     display: flex;
//     justify-content: center;
//     margin-top: 1.5rem;

//         a,
//         span {
//             color:$primary-color ;
//             font-size: 1.2rem;
//             display: block;
//             font-weight: 500; padding: 0 10px;
//             border: 1px $secondary-color solid;
//         }
//         .current{
//             color:$primary-color;
//             border: 1px $primary-color solid;
//         }
//        .current,
//        .dots
//        {
//            position: relative;
//            z-index: 9;
//        }

// }