.parallax-image-section {
    min-height: 500px;
   
    padding: 8rem 0;
    @include breakpoint(mobile){
        padding: 4rem 0;
        min-height: 300px;
      }
    .custom-row{
        align-items: center;
    }
    &.parallax-image-show{
        background-color: transparent;
    }
    .parallax-image-section-left{
        width: 261px;
        @include breakpoint(desktop1){
            width: 230px ; 
        }
        @include breakpoint(desktop2){
            width: 200px ; 
        }
        @include breakpoint(desktop3){
            width: 200px ; 
        }
        @include breakpoint(ipad_landscape){
            width: 200px ; 
        }
        @include breakpoint(ipad_portrait){
            width: 200px ; 
        }
        @include breakpoint(mobile_landscape){
            width: 150px ; 
        }
        @include breakpoint(mobile_portrait){
            width: 120px;
            margin: auto; 
        }
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .parallax-image-section-right{
        width: calc(100% - 261px);
        margin-left: auto;
        padding-left: 5rem;
        @include breakpoint(desktop1){
            width: calc(100% - 230px);
            padding-left: 3rem;
        }
        @include breakpoint(desktop2){
            width: calc(100% - 200px);
            padding-left: 3rem;
        }
        @include breakpoint(desktop3){
            width: calc(100% - 200px);
            padding-left: 3rem;
        }
        @include breakpoint(ipad_landscape){
            width: calc(100% - 200px);
            padding-left: 3rem;
        }
        @include breakpoint(ipad_portrait){
            width: calc(100% - 200px);
            padding-left: 3rem;
        }
        @include breakpoint(mobile_landscape){
            width: calc(100% - 150px);
            padding-left: 3rem;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
            padding: 2rem 0 0 0;
        }
        h1{
            color: $white;
            font-size: 5rem;
            font-weight: 600;
            margin: 0px;
            padding: 0px;
            @include breakpoint(desktop1){
                font-size: 4rem;
            }
            @include breakpoint(desktop2){
                font-size: 3.5rem;
            }
            @include breakpoint(desktop3){
                font-size: 3.5rem;
            }
            @include breakpoint(ipad_landscape){
                font-size: 3rem;
            }
            @include breakpoint(ipad_portrait){
                font-size: 3rem;
            }
            @include breakpoint(mobile){
                font-size: 2.4rem;
            }
            @include breakpoint(mobile_portrait){
              text-align: center;
            }
            span{
                color: $primary-color;
            }
        }
    }
}
