.post-section{
    @extend %main-padding-btm;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.band-post-section{
    @extend %main-padding-btm;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.post-box{
    @extend %main-padding-top;
    position: relative;
    z-index: 2; @extend %sm-l-f-pd;
    .custom-row{
        align-items: center;
        flex-direction: row-reverse;
        @include breakpoint(ipad_portrait){
            flex-direction: column-reverse;
        }
        @include breakpoint(mobile){
            flex-direction: column-reverse;
        }
    }
    .post-box-img{
        width: 50%;
        @include breakpoint(ipad_portrait){
            width: 100%;
        }
        @include breakpoint(mobile){
            width: 100%;
        }
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .post-box-content{
        width: 50%;
        padding: 2rem 4rem 2rem 0rem;
        @include breakpoint(ipad_portrait){
            padding: 0 0 2rem 0;
            width: 100%;
        }
        @include breakpoint(mobile){
            padding: 0 0 2rem 0;
            width: 100%;
        }
        h3{
            margin: 0px;
            color: $secondary-color;
           @extend %h3;
        }
        .desc{
            margin-top: 2rem;
            @include breakpoint(ipad_portrait){
                margin-top: 1rem;
            }
            @include breakpoint(mobile){
               margin-top: 1rem;
            }
        }
    }
    &.post-row-reverse{
        .custom-row{
            flex-direction: unset;

            @include breakpoint(ipad_portrait){
                flex-direction: column-reverse;
            }
            @include breakpoint(mobile){
                flex-direction: column-reverse;
            }
            .post-box-content{
                width: 50%;
                padding: 2rem 0rem 2rem 4rem;
                @include breakpoint(ipad_portrait){
                    padding: 0 0 2rem 0;
                    width: 100%;
                }
                @include breakpoint(mobile){
                    padding: 0 0 2rem 0;
                    width: 100%;
                }
            }
        }
    }
}