.review-section{
    @extend %main-padding;
    @extend %sm-l-f-pd;
    .review-txt{
        font-size: 1.9rem;
        font-weight: 500;
        line-height: 2.6rem;
        @include breakpoint(ipad_landscape){
            font-size: 1.6rem;
            line-height: 2.1rem;
        }
        @include breakpoint(ipad_portrait){
            font-size: 1.6rem;
            line-height: 2.1rem;
        }
        @include breakpoint(mobile_landscape){
            font-size: 1.5rem;
            line-height: 2.1rem;
        }
        @include breakpoint(mobile_portrait){
            font-size: 1.4rem;
            line-height: 2rem;
        }
    }
    .review-info{
        font-size: 1.7rem;
        margin-top: 3rem;
        @include breakpoint(ipad_landscape){
            font-size: 1.3rem;
        }
        @include breakpoint(ipad_portrait){
            font-size: 1.3rem;
        }
        @include breakpoint(mobile_landscape){
            font-size: 1.3rem;
            margin-top: 2rem;
        }
        @include breakpoint(mobile_portrait){
            font-size: 1.2rem;
            margin-top: 2rem;
        }
        strong{
            display: block;
            font-weight: 500;
            text-transform: uppercase;
        }
        span{
            display: block;
            font-weight: 500;
            margin-top: 5px;
        }
    }
}

.back-section{
    @extend %main-padding;

}
.take-look-inside-section{
    padding-top: 2rem;
    .img-galley-section{
        margin-top: 4rem;
    }
}