.shap-box {
  position: relative;

  .shap1 {
    position: absolute;
    top: 0;
    right: 0px;
    width: 55%;
    
    img {
      width: 100%;
      display: block;
      height: auto;
    }
  }

  .shap2 {
    position: absolute;
    bottom: -30%;
    right: 0px;
    width: 18%;
    @include breakpoint(desktop1){
      bottom: -30%;
    }
    @include breakpoint(desktop2){
      bottom: -20%;
    }
    @include breakpoint(desktop3){
      bottom: -18%;
    }
    @include breakpoint(ipad_landscape){
      bottom: -15%;
    }
    @include breakpoint(ipad_portrait){
      bottom: -8%;
    }
    @include breakpoint(mobile_landscape){
      bottom: -8%;
    }
    @include breakpoint(mobile_portrait){
      bottom: -4%;
    }
    img {
      width: 100%;
      display: block;
      height: auto;
    }

  }

  .shap3 {
    position: absolute;
    top: 0;
    left: 0px;
    width: 65%;

    img {
      width: 100%;
      display: block;
      height: auto;
      margin-left: -16%;
    }

  }

  .shap4 {
    position: absolute;
    top: 22%;
    right: 0px;
    width:21%;
    @include breakpoint(mobile){
      width: 40%;
    }
    @include breakpoint(mobile){
      width: 50%;
    }

    img {
      width: 100%;
      display: block;
      height: auto;
    }

  }

  .shap5 {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 50%;

    img {
      width: 100%;
      display: block;
      height: auto;
      margin-left: -16%;
      margin-bottom: -16%;
    }

  }

  .shap6 {
    position: absolute;
    top: 0;
    right: 0px;
    width: 400px;

    img {
      width: 100%;
      display: block;
      height: auto;
    }

  }

  .shap7 {
    position: absolute;
    bottom: 20%;
    left: 0px;
    width: 40%;

    img {
      width: 100%;
      display: block;
      height: auto;
      margin-left: -50%;
    }

  }

  .shap8 {
    position: absolute;
    bottom: 10%;
    left: 0px;
    width: 30%;

    img {
      width: 100%;
      display: block;
      height: auto;
      margin-left: -70%;
    }

  }

  
}