.the-big-idea-section {
    @extend %main-padding;
    @extend %sm-l-f-pd;

   .the-big-idea-section-left {
        width: 45%;
        position: relative;
        padding-bottom: 5rem;
        @include breakpoint(ipad_portrait){
            padding-bottom: 0rem;
            width: 100%;
        }
        @include breakpoint(mobile_landscape){
            padding-bottom: 0rem;
            width: 100%;
        }
        @include breakpoint(mobile_portrait){
            padding-bottom: 0rem;
            width: 100%;
        }
        .btn-set--left{
            position: absolute;
            width: 100%;
            bottom: 0px;
            left: 0px;
            @include breakpoint(ipad_portrait){
                position: relative;
            }
            @include breakpoint(mobile_landscape){
                position: relative;
            }
            @include breakpoint(mobile_portrait){
                position: relative;
            }
        }
        .desc {
            margin-top: 3rem;
        }
    }

    .the-big-idea-section-right {
        width: 45%;
        margin-left: auto;
        @include breakpoint(ipad_portrait){
            margin-left: 0;
            margin-top: 3rem;
            width: 100%;
        }
        @include breakpoint(mobile_landscape){
            margin-left: 0;
            margin-top: 3rem;
            width: 100%;
        }
        @include breakpoint(mobile_portrait){
            margin-left: 0;
            margin-top: 3rem;
            width: 100%;
        }
        .the-big-idea-section-img-btm{
            margin-top: 2rem;
        }
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
}