.what-we-do-section {
    @extend %main-padding;
    @extend %primary-gradient;

    .what-we-do-list {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            margin-bottom: 4rem;

            li {
                margin: 4rem 0 0 0;
                padding: 0px;
                display: flex;
                align-items: flex-start;
                @include breakpoint(mobile){
                  flex-wrap: wrap;
                }
                h3 {
                    margin: 0px;
                    padding: 7px 0 0 75px;
                    width: 40%;
                    position: relative;
                    @extend %h3;
                    color: $white;
                    @include breakpoint(desktop3){
                        padding: 7px 0 0 50px;
                        font-size: 1.7rem;
                    }
                    @include breakpoint(ipad_portrait){
                        padding: 7px 0 0 50px;
                        font-size: 1.6rem;
                    }
                    &::before {
                        content: '';
                        width: 45px;
                        height: 45px;
                        background: rgb(154 237 229);
                        position: absolute;
                        left:0 ;
                        top: 7px;
                        border-radius: 100px;
                        @include breakpoint(desktop3){
                            width: 37px;
                            height: 37px;
                        }
                        @include breakpoint(ipad_portrait){
                            width: 35px;
                            height: 35px;
                            top: 7px;
                        }
                        @include breakpoint(mobile){
                            width: 35px;
                            height: 35px;
                            top: 3px;
                        }
                    }

                    @include breakpoint(mobile){
                        width: 100%;
                        padding: 4px 0 0 55px;
                    }
                }

                .desc {
                    width: calc(100% - 40%);
                    padding: 0 0 0 2rem;
                    @include breakpoint(mobile){
                        width: 100%;
                        padding: 2rem 0 0 0;
                    }
                }
            }
        }
    }
}