.who-we-work-with-section{
    @extend %main-padding-top;
    .who-we-work-row{
        margin-top: 4rem;
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            @include breakpoint(ipad_portrait) {
               flex-wrap: wrap;
            }
            @include breakpoint(mobile) {
                flex-wrap: wrap;
             }
            li{
                width: 20%;
                position: relative;
                @include breakpoint(ipad_portrait) {
                    width:100%;
                 }
                 @include breakpoint(mobile) {
                    width:100%;
                 }
                 picture{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    display: block;
                 }
                img{
                    width: 100%;
                    height: auto;
                    display: block;
                    transition: transform 0.2s ease;
                }
                .who-we-work-row-content{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0px;
                    top: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    @extend %case-size;
                    color: $white;
                    text-transform: lowercase;
                    @extend %text-shadow;
                    h3{
                        margin: 0px;
                        padding: 0px;
                        @include breakpoint(desktop3){
                            font-size: 1.3rem;
                        }
                    }
                    &:hover{
                        background: rgba(0, 0, 0, 0.5);
                        color: $secondary-color;
                    }
                  
                }  &:hover{
                    img{transform: scale(1.1);} 
                }
            }
        }
    }
}