.why-brands-section{
    @extend %main-padding;
    .why-brands-row{

        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            li{
                width: 40%;
                margin-top: 4rem;
                &:nth-child(2n+2){
                    margin-left: auto;
                }
                @include breakpoint(mobile_portrait){
                    width: 100%;
                }
                h3{
                    margin: 0px;
                    padding: 0px;
                    @extend %h3;
                    color: $primary-color;
                }
                .desc{
                    margin-top: 1rem;
                    padding-left: 1.5rem;
                }
            }
        }
    }
}