html {
    -webkit-text-size-adjust: 100%;
}

@mixin breakpoint($media) {
    @if $media == ipad_landscape {
        @media (min-width: 992px) and (max-width: 1024px) {
            @content;
        }
    }
    @if $media == ipad_portrait {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }
    @if $media == ipad {
        @media (min-width: 768px) and (max-width: 1024px) {
            @content;
        }
    }
    @if $media == mobile_landscape {
        @media (min-width: 568px) and (max-width: 767px) {
            @content;
        }
    }
    @if $media == mobile_portrait {
        @media (min-width: 320px) and (max-width: 567px) {
            @content;
        }
    }
    @if $media == mobile {
        @media (min-width: 320px) and (max-width: 767px) {
            @content;
        }
    }
}

$color-primary: #333433;
$color-secondary: #1b4178;
$color-blue: #1b4178;
$color-white: #ffffff;
$color-grey: #e3e6f1;
$color-lt-blue: #007cbf;
$color-yellow: #f0b72f;
$color-green: #005f77;
// $color-natplat: #00a4b6;
$color-natplat: #00818f;
$color-black: #000;
$color-lt-grey: #f2f2f2;
$color-lt-cyan: #c7e5f2;

$main-pd: 60px;
.a-btn--alt {
    border-radius: 100px;
}
.custom-row {
    display: flex;
    flex-wrap: wrap;
}

//  3, 4, 5 colm SCSS Start

ul.colm {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    li {
        padding: 0 15px 0px 15px;
        margin: 60px 0 0 0;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        @include breakpoint(mobile_portrait) {
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
        }
        i {
            width: 100px;
            display: block;
            margin: 0 auto 35px auto;
            img {
                display: block;
                width: 100%;
            }
        }
        .bottom-btn {
            width: 100%;
            margin-top: auto;
            padding-top: 30px;
        }
        .support-info--img {
            width: 100%;
            display: block;
            margin-bottom: 20px;
            img {
                display: block;
                width: 100%;
                box-shadow: 0 0 9px rgb(0 0 0 / 50%);
            }
        }
    }
    &.colm--1 {
        li {
            width: 100%;
        }
    }
    &.colm--2 {
        li {
            width: 50%;
            @include breakpoint(mobile_portrait) {
                width: 100%;
            }
        }
    }
    &.colm--3 {
        li {
            width: 33.33%;
            @include breakpoint(mobile_landscape) {
                width: 50%;
            }
            @include breakpoint(mobile_portrait) {
                width: 100%;
            }
        }
    }
    &.colm--4 {
        li {
            width: 25%;
            @include breakpoint(ipad_portrait) {
                width: 33.33%;
            }
            @include breakpoint(mobile_landscape) {
                width: 50%;
            }
            @include breakpoint(mobile_portrait) {
                width: 100%;
            }
        }
    }
    &.colm--5 {
        li {
            width: 20%;
            @include breakpoint(ipad_portrait) {
                width: 33.33%;
            }
            @include breakpoint(mobile_landscape) {
                width: 50%;
            }
            @include breakpoint(mobile_portrait) {
                width: 100%;
            }
        }
    }
}

//  3, 4, 5 colm SCSS End

// Section Background

.blue-bg {
    background-color: $color-blue;
    color: $color-white;
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $color-white;
    }
}

.yellow-bg {
    background-color: $color-yellow;
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $color-blue;
    }
}
.white-bg {
    background-color: $color-white;
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: $color-blue;
    }
}

.light-cyan-bg {
    background-color: $color-grey;
}

.section-pd-tb {
    padding-top: $main-pd;
    padding-bottom: $main-pd;
    position: relative;
    z-index: 2;
}
.help-content-section {
    background-color: #fff;
    margin: 0px;
}
.section-hd {
    max-width: 800px;
    padding: 0 30px;
    margin: auto;
}

.text-paragraph {
    p {
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.a-btn--bbdrbtm {
    border: 0px;
    background: transparent;
    position: relative;
    border-radius: 0px;
    padding: 15px 0 12px 0;
    color: $color-lt-blue;
    text-align: left;
    text-align-last: left;
    &::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 80%;
        border-bottom: 1px $color-lt-blue solid;
    }
    &:hover {
        background: transparent;
        color: $color-blue;
        &::after {
            border-bottom: 1px $color-blue solid;
        }
    }
}

.full-img-section {
    position: relative;
    padding: $main-pd 0;
    overflow: hidden;
    @include breakpoint(mobile) {
        padding: 0;
    }
    .col-sm-8 {
        @include breakpoint(ipad_landscape) {
            width: 85%;
        }
        @include breakpoint(ipad_portrait) {
            width: 85%;
        }
    }
    .full-img-box {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        @include breakpoint(mobile) {
            position: relative;
        }
        figure {
            height: 100%;
        }
        img {
            width: 100%;
            background-size: cover;
            height: 100%;
            object-fit: cover;
        }
    }
    .full-img-container {
        .full-img-content {
            background: rgba(255, 255, 255, 0.9);
            padding: 60px;
            @include breakpoint(mobile_portrait) {
                padding: 25px;
            }
            .text-paragraph {
                margin-bottom: 30px;
            }
        }
    }
}

.our-statistics-section {
    .col-sm-10 {
        @include breakpoint(ipad) {
            width: 100%;
        }
    }

    h2 {
        color: $color-blue;
    }

    .our-statistics-container {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            @include breakpoint(ipad_portrait) {
                justify-content: flex-start;
            }
            @include breakpoint(mobile_landscape) {
                justify-content: flex-start;
            }

            li {
                padding: 0 18px;
                margin: 60px 0 0 0;
                position: relative;
                width: 20%;
                @include breakpoint(ipad_portrait) {
                    width: 33.33%;
                }
                @include breakpoint(mobile_landscape) {
                    width: 50%;
                }
                @include breakpoint(mobile_portrait) {
                    width: 100%;
                }

                i {
                    width: 100px;
                    display: block;
                    margin: auto auto 30px auto;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
                h3 {
                    font-weight: 700;
                    color: $color-lt-blue;
                    font-size: 2.5rem;
                }
                p {
                    color: $color-blue;
                    font-weight: 700;
                }
            }
        }
    }
}

.hero-section {
    .m-banner {
        @include breakpoint(mobile) {
            border-bottom: 0px solid #fff;
        }
    }
    .hero-section-containar {
        position: relative;
        background: #636363;
        @include breakpoint(ipad_landscape) {
        }
        @include breakpoint(ipad_portrait) {
        }
        @include breakpoint(mobile_landscape) {
        }
        @include breakpoint(mobile) {
            background: $color-secondary;
            padding-bottom: 50px;
        }
    }
    .hero-section-item {
        img {
            display: block;
            width: 100%;
            @include breakpoint(mobile_portrait) {
                height: 250px;
                width: auto;
            }
        }
    }
    .slick-list {
        @include breakpoint(mobile) {
            padding-bottom: 50px;
        }
    }
    .slick-dots {
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0 30px;
        @include breakpoint(mobile) {
            bottom: 25px;
        }
        li {
            margin: 0 0 0 10px;
            padding: 0px;
            button {
                background: $color-lt-blue;
                cursor: pointer;
                border: 0px #fff solid;
                border-radius: 80px;
                text-indent: -9999px;
                display: block;
                width: 14px;
                padding: 0;
                height: 14px;
            }
            &.slick-active button {
                background: $color-yellow;
            }
        }
    }
    .hero-slider-container {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        @include breakpoint(mobile) {
            position: relative;
            background: $color-secondary;
            display: block;
        }
        .hero-slider-content {
            max-width: 800px;
            padding: 0 30px;
            margin: auto;
            text-align: center;
            @include breakpoint(mobile) {
                max-width: 100%;
                width: 100%;
                margin: auto;
                padding: 35px 15px 55px 15px;
            }
        }

        h1 {
            color: #fff;
            margin-bottom: 15px;
        }
    }
}
.blue-support-info-section,
.white-support-info-section,
.help-section {
    .col-sm-10,
    .col-sm-11 {
        @include breakpoint(ipad_portrait) {
            width: 100%;
        }
    }
}

.blue-support-info-section,
.white-support-info-section {
    .col-sm-10,
    .col-sm-11 {
        @include breakpoint(ipad_landscape) {
            width: 100%;
        }
    }
}

.help-section {
    @media (min-width: 1025px) and (max-width: 1299px) {
        .col-sm-10 {
            width: 90%;
        }
    }
}

.stories-section {
    .stories-slider-item {
        padding: 20px;
    }
    .stories-slider-item-inner {
        background: #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        padding: 0 0 230px 0;
        position: relative;
        height: 100%;
        .text-paragraph {
            margin-bottom: 30px;
            padding: 35px;
        }

        .stories-writer {
            position: absolute;
            z-index: 2;
            width: 100%;
            background: $color-lt-blue;
            padding: 0 20px 30px 20px;
            left: 0px;
            bottom: 0px;

            .stories-writer-img {
                width: 140px;
                height: 140px;
                border-radius: 100px;
                overflow: hidden;
                margin: -84px auto auto auto;
                @include breakpoint(ipad) {
                    width: 130px;
                    height: 130px;
                }
                @include breakpoint(mobile) {
                    width: 100px;
                    height: 100px;
                }
                img {
                    width: 100%;
                    display: block;
                }
            }
            .stories-writer-info {
                color: #fff;
                text-align-last: center;
                text-align: center;
                strong {
                    display: block;
                    margin: 15px 0 10px 0;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                span {
                    font-size: 16px;
                    min-height: 49px;
                    display: block;
                }
            }
        }
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        text-indent: -9999px;
        width: 35px;
        height: 38px;

        @include breakpoint(mobile) {
            width: 25px;
            height: 28px;
        }

        &.slick-next {
            right: -40px;
            background: url(../img/arrow-right.svg) no-repeat;
            background-size: 100%;

            @include breakpoint(mobile) {
                right: -11px;
            }
        }
        &.slick-prev {
            left: -40px;
            background: url(../img/arrow-left.svg) no-repeat;
            background-size: 100%;

            @include breakpoint(mobile) {
                left: -11px;
            }
        }
    }
}

.img-parallax-section {
    // min-height: 500px;

    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // @media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
    //     background-attachment:scroll;
    //     background-size: cover;
    //     height: 100%;
    //     overflow: hidden;
    // }
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    font-size: 16px;

    .img-parallax {
        width: 100vmax;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        pointer-events: none;
        transition: 0s cubic-bezier(0.3, 0.65, 0.72, 0.63) !important;
    }
}

.back-top-top-section {
    padding-top: 15px;
    padding-bottom: 15px;
    .back-top-top-btn {
        border: 0px;
        background: transparent;
        padding: 0px;
        cursor: pointer;
        display: inline-flex;
        width: auto;
        font-size: 24px;
        color: $color-blue;
        font-weight: 700;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            top: 27%;
            right: -30px;
            background: url(../img/arrow-top.svg) no-repeat;
            background-size: 100%;
        }
    }
}

.organization-box {
    width: 35%;
    background: $color-natplat;
    padding: 40px 40px 0 40px;
    border-right: 6px #ffffff solid;

    @include breakpoint(ipad) {
        width: 100%;
        border-right: 0px #fff solid;
        border-bottom: 6px #ffffff solid;
    }
    @include breakpoint(mobile_landscape) {
        width: 100%;
        border-right: 0px #ffffff solid;
        border-bottom: 6px #ffffff solid;
    }
    @include breakpoint(mobile_portrait) {
        width: 100%;
        padding: 25px 25px 0 25px;
        border-right: 0px #ffffff solid;
        border-bottom: 6px #ffffff solid;
    }
    ul.colm.colm--1 li {
        @include breakpoint(ipad) {
            width: 50%;
        }
        @include breakpoint(mobile_landscape) {
            width: 50%;
        }
        &:nth-child(1) {
            @include breakpoint(ipad) {
                padding-right: 15px;
            }
            @include breakpoint(mobile_landscape) {
                padding-right: 15px;
            }
        }
        &:nth-child(2) {
            @include breakpoint(ipad) {
                padding-left: 15px;
            }
            @include breakpoint(mobile_landscape) {
                padding-left: 15px;
            }
        }
    }
}
.padding-15 {
    padding: 15px;
}
.individual-box {
    width: 65%;
    background: $color-lt-blue;
    padding: 40px;
    @include breakpoint(ipad) {
        width: 100%;
        padding: 40px 40px 0 40px;
    }
    @include breakpoint(mobile_landscape) {
        width: 100%;
        padding: 40px 40px 0 40px;
    }
    @include breakpoint(mobile_portrait) {
        width: 100%;
        padding: 40px 25px 0;
    }
}
p {
    br {
        @include breakpoint(mobile) {
            display: none;
        }
    }
}
.organization-box,
.individual-box {
    color: $color-white;
    h4 {
        color: $color-white;
    }

    ul.colm {
        li {
            text-align: left;
            padding-left: 0px;
            padding-right: 0px;
            margin: 36px 0 42px 0;
            @include breakpoint(ipad) {
                margin: 13px 0 50px 0;
            }
            @include breakpoint(mobile_landscape) {
                margin: 13px 0 40px 0;
            }
            i {
                margin-left: 0;
            }
            .bottom-btn {
                padding-left: 0px;
                @include breakpoint(mobile_portrait) {
                    margin-top: 0px;
                }
            }
        }
    }
}

.individual-box {
    ul.colm {
        li {
            align-items: flex-start;
            &:nth-child(2n + 1) {
                padding-right: 50px;

                @include breakpoint(ipad) {
                    padding-right: 20px;
                }
                @include breakpoint(mobile_landscape) {
                    padding-right: 20px;
                }
                @include breakpoint(mobile_portrait) {
                    padding-right: 0px;
                }
                .bottom-btn {
                    padding-left: 0px;
                }
            }
            &:nth-child(2n + 2) {
                padding-left: 50px;

                @include breakpoint(ipad) {
                    padding-left: 20px;
                }
                @include breakpoint(mobile_landscape) {
                    padding-left: 20px;
                }
                @include breakpoint(mobile_portrait) {
                    padding-left: 0px;
                }
            }
        }
    }
}

.help-container {
    margin-top: 60px;
}

.main {
    position: relative;
}

.web-promotion-section {
    background: #00a4b6;
    padding: 15px 0;
    .custom-row {
        align-items: center;
    }
    .promostion-left {
        width: calc(100% - 233px);
        padding-right: 35px;
        font-size: 24px;
        color: $color-white;
        font-weight: 700;

        @include breakpoint(ipad) {
            font-size: 20px;
        }
        @include breakpoint(mobile_landscape) {
            font-size: 16px;
        }
        @include breakpoint(mobile_portrait) {
            width: calc(100%);
            margin-bottom: 25px;
            font-size: 16px;
        }
    }
    .promostion-right {
        width: 233px;
    }

    .promotion-btn {
        font-weight: 600;
        cursor: pointer;
        color: #1b4178;
        font-size: 16px;
        padding: 8px 48px 8px 23px;
        border-radius: 30px;
        -moz-text-align-last: center;
        text-align-last: left;
        text-align: left;
        display: inline-block;
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 100px;
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: calc(100% - 20px) 50%;
        background-image: url(../img/arrow-button--dark.svg);
        /* padding-right: 60px; */
        line-height: 18px;
        &:hover{
            background-color: $color-secondary;
            color: #fff;
            border: 1px solid $color-secondary;
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: calc(100% - 20px) 50%;
            background-image: url(../img/arrow-button--white.svg); 
        }
    }
}

.video-btn {
    width: 100px;
    height: 100px;
    border: 0px;
    background: url(../img/video-icon.svg) no-repeat;
    background-size: 100%;
    &:hover {
        background: url(../img/blue-video-icon.svg) no-repeat;
        background-size: 100%;
    }
}

.page-template-template-support {
    .entity-image-text-cta {
        .m-img-text {
            align-items: flex-start;
        }
    }
}
.help-content-section {
    .custom-row {
        align-items: center;
    }
    .help-content-img {
        width: 40%;
        @include breakpoint(mobile) {
            width: 100%;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .help-content-txt {
        width: 60%;
        padding-left: 50px;
        @include breakpoint(mobile) {
            width: 100%;
            padding-left: 0px;
            padding-top: 50px;
        }
    }
    &.image-position-right {
        .custom-row {
            flex-direction: row-reverse;
            @include breakpoint(mobile) {
                flex-direction: column;
            }
        }
        .help-content-txt {
            padding-left: 0px;
            padding-right: 50px;
            @include breakpoint(mobile) {
                padding-right: 0px;
            }
        }
    }
}
ul.colm-no-btn {
    align-items: flex-start;
}
.colm--3 {
    .colm-width {
        width: 63%;
        text-align: center;
        text-align-last: center;
        margin: auto;
        @media (min-width: 1400px) and (max-width: 3000px) {
            width: 51%;
        }
        @include breakpoint(ipad_portrait) {
            width: 78%;
        }
        @include breakpoint(mobile_landscape) {
            width: 80%;
        }
        @include breakpoint(mobile_portrait) {
            width: 80%;
        }
    }
}
.colm--4 {
    .colm-width {
        @media (min-width: 1400px) and (max-width: 3000px) {
            width: 70%;
            text-align: center;
            text-align-last: center;
            margin: auto;
        }
        @include breakpoint(mobile_landscape) {
            width: 80%;
        }
    }
}

.colm--5 {
    .colm-width {
        @media (min-width: 1400px) and (max-width: 3000px) {
            width: 90%;
            text-align: center;
            text-align-last: center;
            margin: auto;
        }
        @include breakpoint(mobile_landscape) {
            width: 80%;
        }
    }
}

.a-btn--alt,
.a-btn--wide {
    padding-top: 15px;
    padding-bottom: 15px;
}

.news-section {
    @include breakpoint(ipad_portrait) {
        .col-sm-10 {
            width: 83.3333333333%;
            margin: auto;
        }
        ul.colm {
            &.colm--3,
            &.colm--4,
            &.colm--5,
            &.colm--2 {
                li {
                    width: 100%;
                }
            }
        }
    }

    @include breakpoint(mobile_landscape) {
        ul.colm {
            &.colm--3,
            &.colm--4,
            &.colm--5,
            &.colm--2 {
                li {
                    width: 100%;
                }
            }
        }
    }
}

.e-with-fixed-bg {
    width: 100%;
    height: 500px;
    position: relative;
    @include breakpoint(mobile) {
        height: 350px;
    }
}

.bg-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transform: translateZ(0);
    will-change: transform;
}
.a-menu__main-right .current-menu-item.btn a {
    background-color: #f0b72f;
    border-color: #f0b72f;
    color: #1b4178;
}

.match-height {
    @include breakpoint(mobile_portrait) {
        height: auto !important;
    }
}

.m-no-banner {
    margin: 60px auto;
}
.a-menu__social a[href*="instagram.com"] {
    background-image: url(../icon/icon-social-ig.svg);
    background-size: 20px;
}

.full-videos-section {
    position: relative;

    &::after {
        content: "";
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        @include breakpoint(mobile) {
            display: none;
        }
    }

    .video-container-box {
        margin: 0;
        position: relative;
        min-height: 550px;
        @include breakpoint(mobile){
            min-height: auto;
            text-align: center;
            background-color: #000;
            padding:2rem 0;
        }
        @include breakpoint(mobile_portrait){
            min-height: 211px;
        }
        iframe {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            @include breakpoint(mobile){
                position: relative;
            }
            @include breakpoint(mobile_landscape){
                width: 479px;
                height: 269px
            }
            @include breakpoint(mobile_portrait){
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
            }
        }
    }
    .full-video-container {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        align-items: center;
        z-index: 1;
        display: flex;
        @include breakpoint(mobile){
            position: relative;
        }
        .full-video-content {
            background: rgba(255, 255, 255, 0.9);
            padding: 60px;
            @include breakpoint(mobile_portrait) {
                padding: 25px;
            }
            .text-paragraph {
                margin-bottom: 30px;
            }
        }
    }

    &.removed-videos-overlay {
        min-height: auto;
        
        &::after {
            display: none;
        }
        .video-container-box {
            text-align: center;
            background-color: #000;
            min-height: auto;
            padding:4rem 0;
            @include breakpoint(mobile){
                padding:2rem 0;
            }
            @include breakpoint(mobile_portrait){
                padding: 0;
                min-height: 211px;
            }
            iframe {
                position: relative;
                width: 803px;
                height: 451px;
                @include breakpoint(ipad_portrait){
                    width: 638px;
                    height: 359px;
                }
                @include breakpoint(mobile_landscape){
                    width: 479px;
                    height: 269px
                }
                @include breakpoint(mobile_portrait){
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }
                
            }
        }
        .full-video-container {
            display: none;
            @include breakpoint(mobile){
                display: block;
            }
        }
    }
}
