/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
a,
button {
  cursor: pointer;
}

.main-header .nav-right ul.text-link li a, body {
  font-size: 1.4rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-header .nav-right ul.text-link li a, body {
    font-size: 1.1rem;
  }
}

.primary-btn,
.secondary-btn {
  font-size: 1.4rem;
}

.main-header .nav-right ul.text-link li a {
  font-size: 1.4rem;
}

.post-section, .our-work-section, .contact-page, .contact-section, .testimonials-section, .home-service-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .post-section, .our-work-section, .contact-page, .contact-section, .testimonials-section, .home-service-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-section, .our-work-section, .contact-page, .contact-section, .testimonials-section, .home-service-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-section, .our-work-section, .contact-page, .contact-section, .testimonials-section, .home-service-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.services-list-section .services-list-box, .our-work-page, .gallery-container, .our-work-section .btn-set--right, .home-service-section .home-service-box-out, .hero-section {
  padding-top: 6rem;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .services-list-section .services-list-box, .our-work-page, .gallery-container, .our-work-section .btn-set--right, .home-service-section .home-service-box-out, .hero-section {
    padding-top: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .services-list-section .services-list-box, .our-work-page, .gallery-container, .our-work-section .btn-set--right, .home-service-section .home-service-box-out, .hero-section {
    padding-top: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .services-list-section .services-list-box, .our-work-page, .gallery-container, .our-work-section .btn-set--right, .home-service-section .home-service-box-out, .hero-section {
    padding-top: 3rem;
  }
}

.services-list-section {
  padding-bottom: 6rem;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .services-list-section {
    padding-bottom: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .services-list-section {
    padding-bottom: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .services-list-section {
    padding-bottom: 3rem;
  }
}

.btn-set--left {
  display: flex;
  justify-content: flex-start;
}

.btn-set--center {
  display: flex;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 320px) and (max-width: 767px) {
  .btn-set--right {
    justify-content: center;
  }
}

.primary-btn,
.secondary-btn {
  border-radius: 100px;
  padding: 10px 50px 10px 30px;
  position: relative;
  border: 0px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 300;
}
.primary-btn::after,
.secondary-btn::after {
  content: ">";
  position: absolute;
  right: 25px;
  top: 9px;
  font-size: 1.7rem;
}

.primary-btn {
  color: #fff;
  background-color: #a92a3f;
}
.primary-btn:hover {
  background-color: #587c37;
  color: #fff;
}

.secondary-btn {
  color: #fff;
  background-color: #d9e1cb;
}
.secondary-btn:hover {
  background-color: #587c37;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  background: #fff;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0px;
  color: #292928;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #587c37;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

@media screen and (max-width: 992px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
.container-fluid {
  max-width: 100%;
  width: calc(100% - 4rem);
  padding: 0;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    width: calc(100% - 4rem);
    padding: 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-fluid {
    width: calc(100% - 4rem);
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-fluid {
    width: calc(100% - 4rem);
    padding: 0;
  }
}

.container-out {
  max-width: 1600px;
  width: calc(100% - 8rem);
  margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .container-out {
    width: calc(100% - 6rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-out {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-out {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-out {
    width: calc(100% - 4rem);
  }
}

.container {
  max-width: 1450px;
  width: calc(100% - 14rem);
  margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .container {
    width: calc(100% - 6rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container {
    width: calc(100% - 4rem);
  }
}

.container-sm {
  max-width: 1200px;
  width: calc(100% - 22rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .container-sm {
    width: calc(100% - 12rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-sm {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-sm {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-sm {
    width: calc(100% - 4rem);
  }
}

.white-bg {
  background: #fff;
}
.white-bg h2 {
  color: #587c37;
}

.primary-bg {
  background: #d9e1cb;
  color: #fff;
}

.secondary-bg {
  background: #a92a3f;
  color: #fff;
}
.secondary-bg h2 {
  color: #fff;
}

.drak-bg {
  background: #292928;
  color: #fff;
}
.drak-bg h2 {
  color: #fff;
}

.light-bg {
  background: #d9e1cb;
  color: #292928;
}
.light-bg h2 {
  color: #292928;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.desc p:first-child {
  margin: 0px;
}
.desc p a {
  font-weight: 500;
}
.desc ul {
  margin: 1rem 0;
  padding: 0px;
  list-style: none;
}
.desc ul li {
  position: relative;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 1.5rem;
}
.desc ul li::before {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0px;
  top: 39%;
  background: #d9e1cb;
  content: "";
}

.no-margin-15 {
  margin-bottom: -15px !important;
}

.hide-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hide-desktop {
    display: block;
  }
}

.hide-mobile {
  display: block;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

/*Helpers Scss Files */
.input-field {
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.input-field label {
  font-size: 16px;
  color: #000;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea {
  border-width: 0px;
  border-color: #000;
  border-style: solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 100%;
  border-bottom: 1px #a92a3f solid;
  font-size: 1.22rem;
  color: #a92a3f;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled {
  opacity: 0.5;
}
.input-field input[type=text]::-webkit-input-placeholder,
.input-field input[type=email]::-webkit-input-placeholder,
.input-field input[type=password]::-webkit-input-placeholder,
.input-field input[type=number]::-webkit-input-placeholder,
.input-field input[type=date]::-webkit-input-placeholder,
.input-field textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 1.22rem;
  color: #a92a3f;
  font-weight: 400;
}
.input-field input[type=text]::-moz-placeholder,
.input-field input[type=email]::-moz-placeholder,
.input-field input[type=password]::-moz-placeholder,
.input-field input[type=number]::-moz-placeholder,
.input-field input[type=date]::-moz-placeholder,
.input-field textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-size: 1.22rem;
  color: #a92a3f;
  font-weight: 400;
}
.input-field input[type=text]:-ms-input-placeholder,
.input-field input[type=email]:-ms-input-placeholder,
.input-field input[type=password]:-ms-input-placeholder,
.input-field input[type=number]:-ms-input-placeholder,
.input-field input[type=date]:-ms-input-placeholder,
.input-field textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-size: 1.22rem;
  color: #a92a3f;
  font-weight: 400;
}
.input-field input[type=text]:-moz-placeholder,
.input-field input[type=email]:-moz-placeholder,
.input-field input[type=password]:-moz-placeholder,
.input-field input[type=number]:-moz-placeholder,
.input-field input[type=date]:-moz-placeholder,
.input-field textarea:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-size: 1.22rem;
  color: #a92a3f;
  font-weight: 400;
}
.input-field textarea {
  height: 126px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

.selectbox {
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  width: 100%;
  font-size: 18px;
  color: #fff;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 6rem;
  line-height: 7rem;
  font-family: "Playfair Display", serif;
}
@media (min-width: 992px) and (max-width: 1300px) {
  h1 {
    font-size: 4.5rem;
    line-height: 5.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
}

h2 {
  font-size: 3.7rem;
  line-height: 4.5rem;
  font-family: "Playfair Display", serif;
}
@media (min-width: 992px) and (max-width: 1300px) {
  h2 {
    font-size: 3.1rem;
    line-height: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
}

h3 {
  font-size: 3.1rem;
  font-weight: 500;
}
@media (min-width: 992px) and (max-width: 1300px) {
  h3 {
    font-size: 2.6rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: 2.5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  h3 {
    font-size: 2.3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  h3 {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  h4 {
    font-size: 1.6rem;
  }
}

h1 {
  color: #587c37;
}

h2 {
  color: #587c37;
}

h3 {
  color: #587c37;
}

h4 {
  color: #587c37;
}

.hd {
  position: relative;
  margin: 0px;
  padding: 0 0 2rem 0;
  color: #587c37;
  font-weight: 500;
}
.hd::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 4px;
  width: 160px;
  background-color: #587c37;
}

/*Layout Scss Files */
.main-header {
  padding: 1rem 0;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header {
    padding: 1rem 0;
  }
}
.main-header .custom-row {
  align-items: center;
}
.main-header .logo {
  width: 223px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .main-header .logo {
    width: 170px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .logo {
    width: 150px;
  }
}
.main-header .logo img {
  width: 100%;
  height: auto;
  display: block;
}
.main-header .nav-right {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .nav-right {
    display: none;
  }
}
.main-header .nav-right .nav-right-in {
  display: flex;
  align-items: center;
}
.main-header .nav-right ul.text-link {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
}
.main-header .nav-right ul.text-link li {
  margin: 0 0 0 3rem;
  padding: 0px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .main-header .nav-right ul.text-link li {
    margin: 0 0 0 1rem;
  }
}
.main-header .nav-right ul.text-link li:first-child {
  margin-left: 0px;
}
.main-header .nav-right ul.text-link li a {
  display: block;
  color: #292928;
  font-weight: 500;
  text-transform: uppercase;
}
.main-header .nav-right ul.text-link li a.active, .main-header .nav-right ul.text-link li a:hover {
  color: #a92a3f;
}
.main-header .nav-right ul.text-link li.current-menu-item a {
  color: #a92a3f;
}
.main-header .nav-right ul.info-link {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  margin-left: 4rem;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .main-header .nav-right ul.info-link {
    margin-left: 2rem;
  }
}
.main-header .nav-right ul.info-link li {
  margin: 0 0 0 1rem;
  padding: 0px;
}
.main-header .nav-right ul.info-link li a {
  width: 45px;
  height: 45px;
  display: block;
}
.main-header .nav-right ul.info-link li a.phone-icon {
  background: url("../img/icon/phone white red circle.svg") no-repeat center center;
}
.main-header .nav-right ul.info-link li a.email-icon {
  background: url("../img/icon/email white red circle.svg") no-repeat center center;
}
.main-header .nav-right ul.info-link li a.install-icon {
  background: url("../img/icon/insta white red circle.svg") no-repeat center center;
}
.main-header .nav-right ul.info-link li a:hover.phone-icon {
  background: url("../img/icon/phone white green circle.svg") no-repeat center center;
}
.main-header .nav-right ul.info-link li a:hover.email-icon {
  background: url("../img/icon/email white green circle.svg") no-repeat center center;
}
.main-header .nav-right ul.info-link li a:hover.install-icon {
  background: url("../img/icon/insta white green circle.svg") no-repeat center center;
}

.nav__toggle {
  display: none;
}
@media (min-width: 320px) and (max-width: 991px) {
  .nav__toggle {
    display: block;
  }
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 25px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
}
@media (min-width: 320px) and (max-width: 991px) {
  .nav__toggle {
    margin-left: auto;
    top: 0px;
  }
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  width: 30px;
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  text-align: right;
  cursor: pointer;
  border-radius: 0px;
  height: 2px;
  background-color: #a92a3f;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.2s;
  outline: 0;
  right: 0px;
}
.nav__toggle span {
  top: 15px;
}
.nav__toggle span::before {
  top: -10px;
}
.nav__toggle span::after {
  bottom: -10px;
}

.menu-slide .logo {
  position: relative;
  z-index: 9;
  margin: auto;
  width: 150px;
  text-align: center;
  margin-top: 2rem;
}
.menu-slide .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  background: #d9e1cb;
  left: 0;
  top: 0;
  width: 100%;
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .nav-right {
    padding-top: 6rem;
  }
}
.menu-slide .nav-right .nav-right-in {
  display: block;
}
.menu-slide .nav-right .nav-right-in .text-link {
  display: block;
}
.menu-slide .nav-right .nav-right-in .text-link li {
  margin: 10px 0;
  padding: 0px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .menu-slide .nav-right .nav-right-in .text-link li {
    margin: 25px 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .nav-right .nav-right-in .text-link li {
    margin: 10px 0;
  }
}
.menu-slide .nav-right .nav-right-in .text-link li a {
  text-align: center;
  font-size: 2rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .nav-right .nav-right-in .text-link li a {
    font-size: 1.8rem;
  }
}
.menu-slide .nav-right .nav-right-in .info-link {
  margin: 2rem 0 0;
  justify-content: center;
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .nav-right .nav-right-in .info-link {
    margin: 1rem 0 0;
  }
}
.menu-slide .nav-right .nav-right-in .info-link li {
  padding: 0px;
  margin: 0 5px;
}
.menu-slide .nav-right .nav-right-in .info-link li a {
  width: 60px;
  height: 60px;
}
.menu-slide .nav__toggle {
  position: absolute;
  top: 45px;
  right: 28px;
}
.menu-slide .nav__toggle span {
  background-color: transparent;
}
.menu-slide .nav__toggle span::before, .menu-slide .nav__toggle span::after {
  top: 0;
  background-color: #292928;
}
.menu-slide .nav__toggle span::before {
  transform: rotate(45deg);
}
.menu-slide .nav__toggle span::after {
  transform: rotate(-45deg);
}
.menu-slide .nav__toggle:hover span {
  background-color: transparent;
}
.menu-slide .nav__toggle:hover span::before, .menu-slide .nav__toggle:hover span::after {
  background-color: #292928;
}

.main-footer {
  background-color: #fff;
  padding: 1.5rem 0;
  font-size: 1rem;
}
.main-footer .custom-row {
  align-items: center;
}
.main-footer .footer-logo {
  width: 200px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-logo {
    text-align: center;
    margin: auto auto 1rem auto;
  }
}
.main-footer .footer-logo img {
  width: 100%;
  height: auto;
  display: block;
}
.main-footer .footer-right {
  margin-left: auto;
  text-align: right;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
}
.main-footer .footer-right .footer-text {
  color: #292928;
}
.main-footer .footer-right .footer-text .footer-text-top a {
  color: #292928;
  text-transform: capitalize;
}
.main-footer .footer-right .footer-text .footer-text-top a:hover {
  opacity: 0.6;
}
.main-footer .footer-right .footer-text .footer-text-btm {
  margin-top: 5px;
}
.main-footer .footer-right .footer-text .footer-text-btm a {
  color: #292928;
  font-weight: 500;
}
.main-footer .footer-right .footer-text .footer-text-btm a:hover {
  opacity: 0.6;
}

/*Components Scss Files */
.hero-section {
  position: relative;
}
.hero-section .hero-section-left {
  width: 45%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-section-left {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .hero-section-left {
    width: 100%;
  }
}
.hero-section .hero-section-left h1 {
  margin: 0 0 3rem 0;
  padding: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .hero-section-left h1 {
    margin-bottom: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .hero-section-left .desc {
    margin-bottom: 2rem;
  }
}
.hero-section .hero-section-right {
  width: 45%;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-section-right {
    width: 100%;
    margin-left: 0;
    margin-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .hero-section-right {
    width: 100%;
    margin-left: 0;
    margin-top: 3rem;
  }
}
.hero-section .hero-section-right .desc {
  margin-bottom: 4rem;
}
.hero-section .hero-section-right .hero-section-img {
  margin-bottom: -4rem;
}
.hero-section .hero-section-right .hero-section-img img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.shap-one {
  width: 440px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (min-width: 320px) and (max-width: 567px) {
  .shap-one {
    width: 230px;
  }
}
.shap-one img {
  width: 100%;
  height: auto;
  display: block;
}

.home-service-section h2 {
  color: #587c37;
}
.home-service-section .home-service-box {
  background-color: #fff;
  border-radius: 20px;
  padding: 0 4rem 4rem 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
}
@media (min-width: 1451px) and (max-width: 1550px) {
  .home-service-section .home-service-box {
    padding: 0 2rem 4rem 0;
  }
}
@media (min-width: 1301px) and (max-width: 1450px) {
  .home-service-section .home-service-box {
    padding: 0 2rem 4rem 0;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  .home-service-section .home-service-box {
    padding: 0 0 4rem 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-service-section .home-service-box {
    padding: 2rem 0 4rem 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-service-section .home-service-box {
    padding: 0 0 4rem 0;
  }
}
.home-service-section .home-service-box .btn-set--right {
  position: absolute;
  bottom: -20px;
  right: 4rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-service-section .home-service-box .btn-set--right {
    right: 1rem;
  }
}
.home-service-section .home-service-box ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.home-service-section .home-service-box ul li {
  width: 33.33%;
  display: flex;
  align-items: center;
  padding: 4rem 0 2rem 4rem;
}
@media (min-width: 1451px) and (max-width: 1550px) {
  .home-service-section .home-service-box ul li {
    padding: 4rem 0 2rem 2rem;
  }
}
@media (min-width: 1301px) and (max-width: 1450px) {
  .home-service-section .home-service-box ul li {
    padding: 4rem 0 2rem 2rem;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  .home-service-section .home-service-box ul li {
    width: 50%;
    padding: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-service-section .home-service-box ul li {
    width: 100%;
    padding: 3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .home-service-section .home-service-box ul li {
    width: 100%;
    padding: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .home-service-section .home-service-box ul li {
    width: 100%;
    padding: 2rem 1rem;
  }
}
.home-service-section .home-service-box ul li .home-service-icon {
  width: 130px;
  height: 130px;
  background: url("../img/icon/green circle.svg") no-repeat center center;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-service-section .home-service-box ul li .home-service-icon {
    width: 80px;
  }
}
.home-service-section .home-service-box ul li .home-service-icon img {
  width: 50%;
  height: 50%;
  display: block;
}
.home-service-section .home-service-box ul li .home-service-content {
  width: calc(100% - 130px);
  padding-left: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-service-section .home-service-box ul li .home-service-content {
    width: calc(100% - 80px);
    padding-left: 15px;
  }
}
.home-service-section .home-service-box ul li .home-service-content h4 {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  color: #587c37;
}
.home-service-section .home-service-box ul li .home-service-content .desc {
  margin-top: 1rem;
}

.testimonials-section {
  background-size: cover;
  background-position: center;
  position: relative;
}
.testimonials-section::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.testimonials-section .container {
  position: relative;
  z-index: 1;
  color: #fff;
  background: url("../img/icon/white rose testimonial.svg") no-repeat center bottom;
  background-size: 120px;
  padding-bottom: 150px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .container {
    padding-bottom: 100px;
  }
}
.testimonials-section .slick-list {
  text-align: center;
  margin: auto;
  width: 70%;
  font-weight: 300;
  font-size: 2.3rem;
  line-height: 2.8rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .slick-list {
    font-size: 2rem;
    line-height: 2.5rem;
    width: 100%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .testimonials-section .slick-list {
    font-size: 1.7rem;
    line-height: 2.3rem;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .testimonials-section .slick-list {
    font-size: 1.7rem;
    line-height: 2.3rem;
    width: 90%;
  }
}
.testimonials-section .slick-arrow {
  top: 35%;
  position: absolute;
  width: 70px;
  height: 50px;
  border: 0px;
  cursor: pointer;
  text-indent: -9999px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .slick-arrow {
    width: 40px;
    height: 30px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .testimonials-section .slick-arrow {
    width: 40px;
    height: 30px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .testimonials-section .slick-arrow {
    width: 30px;
    height: 30px;
  }
}
.testimonials-section .slick-arrow.slick-prev {
  left: 0px;
  background: url("../img/icon/slider-white-arrow-left.svg") no-repeat center center;
  background-size: 100%;
}
@media (min-width: 568px) and (max-width: 767px) {
  .testimonials-section .slick-arrow.slick-prev {
    left: -50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .slick-arrow.slick-prev {
    left: -50px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .testimonials-section .slick-arrow.slick-prev {
    left: -25px;
  }
}
.testimonials-section .slick-arrow.slick-next {
  right: 0px;
  background: url("../img/icon/slider-white-arrow-right.svg") no-repeat center center;
  background-size: 100%;
}
@media (min-width: 568px) and (max-width: 767px) {
  .testimonials-section .slick-arrow.slick-next {
    right: -50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .slick-arrow.slick-next {
    right: -50px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .testimonials-section .slick-arrow.slick-next {
    right: -25px;
  }
}
.testimonials-section .slick-arrow.slick-disabled {
  opacity: 0.5;
}

.contact-section-content {
  background-color: #a92a3f;
  border-radius: 20px;
  padding: 2rem 1rem 2rem 4rem;
  width: 100%;
  position: relative;
  z-index: 1;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .contact-section-content {
    padding: 1rem 1rem 1rem 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section-content {
    width: 100%;
    padding: 3rem;
    border-radius: 20px 20px 0 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section-content {
    width: 100%;
    padding: 2rem;
    border-radius: 20px 20px 0 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section-content {
    padding: 1rem;
  }
}
.contact-section-content ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.contact-section-content ul li {
  margin: 10px 0;
  padding: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section-content ul li {
    margin: 20px 0;
  }
}
.contact-section-content ul li a {
  color: #fff;
  padding: 10px 0 10px 70px;
  font-size: 1.8rem;
  display: block;
  font-weight: 300;
  min-height: 53px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .contact-section-content ul li a {
    padding: 10px 0 10px 60px;
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section-content ul li a {
    font-size: 1.4rem;
    padding: 10px 0 10px 50px;
  }
}
.contact-section-content ul li a.tel-icon {
  background: url("../img/icon/phone red white circle.svg") no-repeat left center;
  background-size: 50px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .contact-section-content ul li a.tel-icon {
    background-size: 40px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section-content ul li a.tel-icon {
    background-size: 40px;
  }
}
.contact-section-content ul li a.mail-icon {
  background: url("../img/icon/email red white circle.svg") no-repeat left center;
  background-size: 50px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .contact-section-content ul li a.mail-icon {
    background-size: 40px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section-content ul li a.mail-icon {
    background-size: 40px;
  }
}
.contact-section-content ul li a.insta-icon {
  background: url("../img/icon/insta red white circle.svg") no-repeat left center;
  background-size: 50px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .contact-section-content ul li a.insta-icon {
    background-size: 40px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section-content ul li a.insta-icon {
    background-size: 40px;
  }
}
.contact-section-content ul li a:hover {
  color: #fea5b4;
}
.contact-section-content ul li a:hover.tel-icon {
  background: url("../img/icon/phone green white circle.svg") no-repeat left center;
  background-size: 50px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .contact-section-content ul li a:hover.tel-icon {
    background-size: 40px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section-content ul li a:hover.tel-icon {
    background-size: 40px;
  }
}
.contact-section-content ul li a:hover.mail-icon {
  background: url("../img/icon/email green white circle.svg") no-repeat left center;
  background-size: 50px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .contact-section-content ul li a:hover.mail-icon {
    background-size: 40px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section-content ul li a:hover.mail-icon {
    background-size: 40px;
  }
}
.contact-section-content ul li a:hover.insta-icon {
  background: url("../img/icon/insta green white circle.svg") no-repeat left center;
  background-size: 50px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .contact-section-content ul li a:hover.insta-icon {
    background-size: 40px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section-content ul li a:hover.insta-icon {
    background-size: 40px;
  }
}

.contact-section {
  position: relative;
}
.contact-section .contact-section-left {
  width: 45%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-section-left {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-section-left {
    width: 100%;
  }
}
.contact-section .contact-section-left h2 {
  color: #587c37;
}
.contact-section .contact-section-left .contact-section-content {
  width: 115%;
  margin-top: 4rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-section-left .contact-section-content {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-section-left .contact-section-content {
    width: 100%;
  }
}
.contact-section .contact-section-right {
  width: 55%;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-section-right {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-section-right {
    width: 100%;
  }
}
.contact-section .contact-section-right img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-section-right img {
    border-radius: 0 0 20px 20px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-section-right img {
    border-radius: 0 0 20px 20px;
  }
}

.contact-page .left-col {
  width: 45%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-page .left-col {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-page .left-col {
    width: 100%;
  }
}
.contact-page .left-col .desc {
  margin-top: 3rem;
}
.contact-page .right-col {
  width: 45%;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-page .right-col {
    width: 100%;
    margin-left: 0;
    margin-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-page .right-col {
    width: 100%;
    margin-left: 0;
    margin-top: 3rem;
  }
}
.contact-page .right-col .contact-section-content {
  height: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-page .right-col .contact-section-content {
    border-radius: 20px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-page .right-col .contact-section-content {
    border-radius: 20px;
  }
}

.parallax-image-section {
  min-height: 650px;
  background-color: transparent;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .parallax-image-section {
    min-height: 450px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .parallax-image-section {
    min-height: 450px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .parallax-image-section {
    min-height: 350px;
  }
}

.page-hero-section {
  position: relative;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  min-height: 350px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .page-hero-section {
    min-height: 250px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-section {
    min-height: 250px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-hero-section {
    background-color: #d9e1cb;
    min-height: 150px;
    display: block;
    padding: 0px;
  }
}
.page-hero-section::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60%;
  height: 100%;
  background: linear-gradient(to right, #d9e1cb 85%, rgba(255, 255, 255, 0) 100%);
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-hero-section::after {
    display: none;
  }
}
.page-hero-section .page-hero-image {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 62%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-hero-section .page-hero-image {
    position: relative;
    width: 100%;
    min-height: 200px;
  }
}
.page-hero-section .container {
  position: relative;
  z-index: 1;
}
.page-hero-section h1 {
  margin: 0px;
  color: #587c37;
  font-weight: 500;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-hero-section h1 {
    padding: 2rem 0;
  }
}

.why-choose-us-section {
  position: relative;
}
.why-choose-us-section .why-choose-us-section-img {
  width: 50%;
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .why-choose-us-section .why-choose-us-section-img {
    position: relative;
    width: 100%;
    min-height: 300px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .why-choose-us-section .why-choose-us-section-img {
    position: relative;
    width: 100%;
    min-height: 300px;
  }
}
.why-choose-us-section .why-choose-us-section-content {
  width: 100%;
}
.why-choose-us-section .why-choose-us-section-content .why-choose-us-content {
  width: 50%;
  margin-left: auto;
  padding: 6rem 0 6rem 2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .why-choose-us-section .why-choose-us-section-content .why-choose-us-content {
    padding: 3rem 0;
    margin-left: 0;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .why-choose-us-section .why-choose-us-section-content .why-choose-us-content {
    padding: 3rem 0;
    margin-left: 0;
    width: 100%;
  }
}
.why-choose-us-section .why-choose-us-section-content .why-choose-us-content h2 {
  margin-left: 4rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .why-choose-us-section .why-choose-us-section-content .why-choose-us-content h2 {
    margin-left: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .why-choose-us-section .why-choose-us-section-content .why-choose-us-content h2 {
    margin-left: 0px;
  }
}
.why-choose-us-section .why-choose-us-section-content .why-choose-us-content ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.why-choose-us-section .why-choose-us-section-content .why-choose-us-content ul li {
  width: 50%;
  padding: 4rem 0 0 3rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .why-choose-us-section .why-choose-us-section-content .why-choose-us-content ul li {
    width: 100%;
    padding: 3rem 0 0 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .why-choose-us-section .why-choose-us-section-content .why-choose-us-content ul li:nth-child(2n+1) {
    padding-left: 0px;
  }
}
.why-choose-us-section .why-choose-us-section-content .why-choose-us-content ul li h4 {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  color: #fff;
}
.why-choose-us-section .why-choose-us-section-content .why-choose-us-content ul li .desc {
  margin-top: 1rem;
}

.our-work-section {
  overflow: hidden;
}
.categories-links span {
  color: #587c37;
  font-size: 1.6rem;
}
.categories-links ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.categories-links ul li {
  padding: 0px;
  margin-right: 50px;
}
.categories-links ul li:last-child {
  margin-right: 0px;
}
.categories-links ul li a {
  color: #292928;
  display: block;
}
.categories-links ul li a:hover, .categories-links ul li a.active {
  color: #587c37;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .gallery-container {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.gallery-container .gallery-box {
  text-align: center;
  padding: 5px;
  width: 33.33%;
  height: 500px;
  overflow: hidden;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .gallery-container .gallery-box {
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .gallery-container .gallery-box {
    height: 300px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .gallery-container .gallery-box {
    width: 50%;
    height: 300px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .gallery-container .gallery-box {
    width: 100%;
    height: 300px;
  }
}
.gallery-container .gallery-box a {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center;
  transition: transform 0.2s;
}
.gallery-container .gallery-box a:hover {
  transform: scale(1.1);
}

.fancybox__backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.our-work-page {
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 567px) {
  .is-horizontal .fancybox__nav .f-button.is-next {
    right: 0 !important;
    top: 50% !important;
  }
}

@media (min-width: 320px) and (max-width: 567px) {
  .is-horizontal .fancybox__nav .f-button.is-prev {
    left: 0 !important;
    top: 50% !important;
  }
}

.is-compact .fancybox__content > .f-button.is-close-btn {
  background-color: #587c37;
  border-radius: 0;
  color: #fff;
  top: 0rem;
  right: 0rem;
  padding: 5px;
  opacity: 1 !important;
  width: 40px;
  height: 40px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .is-compact .fancybox__content > .f-button.is-close-btn {
    width: 30px;
    height: 30px;
    top: -3rem;
  }
}
.is-compact .fancybox__content > .f-button.is-close-btn svg {
  width: 100%;
  height: 100%;
}

.fancybox__backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.f-button:hover:not([disabled]) {
  background-color: transparent;
}

.fancybox__nav button svg {
  color: #fff;
  width: 50px;
  height: 50px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .fancybox__nav button svg {
    width: 30px;
    height: 30px;
  }
}

.services-list-section h4 {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #587c37;
  margin: 0 0 2rem 0;
  font-size: 1.8rem;
}
.services-list-section h4 i {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .services-list-section h4 i {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .services-list-section h4 i {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .services-list-section h4 i {
    width: 60px;
    height: 60px;
  }
}
.services-list-section h4 i img {
  width: 100%;
  height: 100%;
  display: block;
}
.services-list-section .services-list-box {
  width: 45%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .services-list-section .services-list-box {
    width: 100%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .services-list-section .services-list-box {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .services-list-section .services-list-box {
    width: 100%;
  }
}
.services-list-section .services-list-box:nth-child(2n+2) {
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .services-list-section .services-list-box:nth-child(2n+2) {
    margin-left: 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .services-list-section .services-list-box:nth-child(2n+2) {
    margin-left: 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .services-list-section .services-list-box:nth-child(2n+2) {
    margin-left: 0;
  }
}
.services-list-section .services-list-box .services-list-content {
  width: 50%;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .services-list-section .services-list-box .services-list-content {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .services-list-section .services-list-box .services-list-content {
    width: 100%;
  }
}
.services-list-section .services-list-box .services-list-img {
  width: 45%;
  margin-left: auto;
}
@media (min-width: 992px) and (max-width: 1300px) {
  .services-list-section .services-list-box .services-list-img {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .services-list-section .services-list-box .services-list-img {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }
}
.services-list-section .services-list-box .services-list-img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

.post-section .post-box {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
  margin-bottom: 5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-section .post-box {
    flex-wrap: wrap;
    margin-bottom: 3rem;
    padding: 0 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-section .post-box {
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }
}
.post-section .post-box:last-child {
  margin-bottom: 0px;
}
.post-section .post-box .post-img {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-section .post-box .post-img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-section .post-box .post-img {
    width: 100%;
  }
}
.post-section .post-box .post-img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}
.post-section .post-box .post-content {
  width: 50%;
  padding: 2rem 0 2rem 4rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-section .post-box .post-content {
    width: 100%;
    padding: 0rem 0 2rem 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-section .post-box .post-content {
    width: 100%;
    padding: 0rem 0 2rem 0rem;
  }
}
.post-section .post-box .post-content h4 {
  margin: 0 0 2rem 0;
  font-weight: 400;
}
.post-section .post-box.row-reverse {
  flex-direction: row;
}
.post-section .post-box.row-reverse .post-content {
  padding: 2rem 4rem 2rem 0rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-section .post-box.row-reverse .post-content {
    padding: 0rem 0 2rem 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-section .post-box.row-reverse .post-content {
    padding: 0rem 0 2rem 0rem;
  }
}

.page-not-foumd {
  min-height: 600px;
}
.page-not-foumd .blog-block-text {
  text-align: center;
}
.page-not-foumd h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
}

.page-title h1 {
  margin: 0px;
  padding: 0px;
  color: #d9e1cb;
  font-size: 3.2rem;
}

.single-service .full-bg-hero .page-hero-content-outer .page-hero-content h1::after {
  background: transparent;
}

.privacy-policy h1,
.privacy-policy h2,
.privacy-policy h3,
.privacy-policy h4,
.privacy-policy h5 {
  margin-bottom: 0px;
}
.privacy-policy h2 {
  font-size: 2.2rem;
}
.privacy-policy h3 {
  font-size: 2rem;
}

/*# sourceMappingURL=global.css.map */
