@charset "UTF-8";
/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
a,
button {
  cursor: pointer;
}

button, input[type=submit], input[type=reset], input[type=button] {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #ffffff;
  border: 0px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

/*Base Scss Files */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: #ffffff;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  position: relative;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: #000;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

.full-container {
  max-width: 1600px;
  padding: 0 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-container {
    padding: 0 1rem;
  }
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hide-ipad {
    display: none;
  }
}

.mid-content {
  padding-top: 1rem;
}

.site-welcome {
  padding: 2rem;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 2rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .site-welcome {
    padding: 1rem;
  }
}
.site-welcome h1 {
  margin: 0px;
}

.sce-section {
  margin-top: 2rem;
}
.sce-section .sce-section-left {
  width: 75.2%;
  padding-right: 8px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .sce-section .sce-section-left {
    width: 100%;
    padding-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sce-section .sce-section-left {
    width: 100%;
    padding-right: 0px;
  }
}
.sce-section .sce-section-right {
  width: 24.8%;
  padding-left: 8px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .sce-section .sce-section-right {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sce-section .sce-section-right {
    width: 100%;
    padding-left: 0px;
  }
}

#secondary {
  position: sticky;
  top: 141px;
  padding-bottom: 30px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  #secondary {
    top: 100px;
  }
  #secondary .contact-social ul li {
    padding: 0 7px 0 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #secondary {
    top: 90px;
  }
}

.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
  font-size: 18px;
  color: #000;
}

/*Helpers Scss Files */
h1 {
  font-size: 3rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.8rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  h2 {
    font-size: 1.6rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 1.3rem;
  }
}

h3 {
  font-size: 1.5rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  h3 {
    font-size: 1.3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h3 {
    font-size: 1.1rem;
  }
}

h4, .related-posts.related-pages ul li a {
  font-size: 1.1rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  h4, .related-posts.related-pages ul li a {
    font-size: 0.9rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h4, .related-posts.related-pages ul li a {
    font-size: 0.9rem;
  }
}

h5 {
  font-size: 1rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  h5 {
    font-size: 0.7rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h5 {
    font-size: 0.7rem;
  }
}

h6 {
  font-size: 15px;
}

/*Layout Scss Files */
.site-header {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  padding: 1rem 0;
}
.site-header .logo {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .site-header .logo {
    font-size: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-header .logo {
    font-size: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .site-header .logo {
    font-size: 2rem;
    width: auto;
  }
}
.site-header .logo i {
  position: absolute;
  top: -30px;
  right: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-header .logo i {
    top: 28px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .site-header .logo i {
    top: 28px;
  }
}
.site-header .logo i svg {
  height: 24px;
}
.site-header .logo span {
  color: #000000;
  margin-right: 5px;
}
.site-header .logo a {
  display: block;
}
.site-header .logo a img {
  width: 100%;
  height: auto;
  display: block;
}
.site-header .header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.site-header .header-right nav {
  margin: 0px;
  padding: 0rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .site-header .header-right nav {
    display: none;
  }
}
.site-header .header-right nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-header .header-right nav ul li {
  margin: 0px;
  padding: 0 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-header .header-right nav ul li {
    padding: 0 9px;
  }
}
.site-header .header-right nav ul li a {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
.site-header .header-right nav ul li.menu-item-has-children {
  position: relative;
}
.site-header .header-right nav ul li.menu-item-has-children a {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='12' viewBox='0 0 21 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.865297 1.94131L2.63073 0.156797L10.8998 8.33747L19.0805 0.0683784L20.865 1.83381L10.9189 11.8874L0.865297 1.94131Z' fill='black'/%3E%3C/svg%3E%0A");
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 23px;
  background-size: 16px;
}
.site-header .header-right nav ul li.menu-item-has-children ul {
  position: absolute;
  top: 0px;
  width: 237px;
  display: none;
  padding: 36px 0 0 0;
  left: 0px;
  z-index: 9;
}
.site-header .header-right nav ul li.menu-item-has-children ul li {
  background: #ffffff;
  padding: 10px 16px;
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.4);
}
.site-header .header-right nav ul li.menu-item-has-children ul li a {
  font-size: 16px;
  background-image: none;
}
.site-header .header-right nav ul li.menu-item-has-children:hover ul {
  display: block;
}
.site-header .header-search {
  margin-left: 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .site-header .header-search {
    margin-left: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .site-header .header-search {
    margin-right: 1rem;
  }
}
.site-header .header-search .search-btn {
  width: 30px;
  display: block;
}

@media (min-width: 992px) and (max-width: 1000000000000000000000000000000000000px) {
  .headerfixed .site-header {
    position: sticky;
    top: 0px;
    left: 0px;
    background: #ffffff;
    z-index: 999;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  }
  .headerfixed .site-header .logo {
    font-size: 2.5rem;
  }
}
@media (min-width: 992px) and (max-width: 1000000000000000000000000000000000000px) and (min-width: 768px) and (max-width: 991px) {
  .headerfixed .site-header .logo {
    font-size: 2rem;
  }
}
@media (min-width: 992px) and (max-width: 1000000000000000000000000000000000000px) {
  .headerfixed .site-header .logo i svg {
    height: 22px;
  }
}
.header-social {
  margin-left: 3rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header-social {
    margin-left: 0;
  }
}
.header-social ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-social ul li {
  margin: 0px;
  padding: 0 16px 0 0;
}
.header-social ul li:last-child {
  padding-right: 0px;
}
.header-social ul li a {
  display: block;
}
.header-social ul li a svg {
  width: 50px;
  height: 50px;
  padding: 5px;
  display: block;
  border-radius: 30px;
  fill: #fff;
}
.header-social ul li.fb a svg {
  background: linear-gradient(115deg, #62cff4, #2c67f2);
}
.header-social ul li.fb a:hover svg {
  background: linear-gradient(115deg, #2c67f2, #62cff4);
}
.header-social ul li.insta a svg {
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
}
.header-social ul li.insta:hover a svg {
  background: linear-gradient(115deg, #6228d7, #ee2a7b, #f9ce34);
}

.mobile-nav {
  display: none;
  position: absolute;
  top: 80px;
  right: 0px;
  width: 200px;
  height: calc(100% - 112px);
  z-index: 99;
}
.mobile-nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.mobile-nav ul li {
  margin: 0px;
  padding: 0px;
}
.mobile-nav ul li a {
  display: block;
  color: #ffffff;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
}

.menu-show .mobile-nav {
  display: block;
}

.hamburger .line {
  width: 45px;
  height: 5px;
  display: none;
  margin: 8px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hamburger .line {
    display: block;
    margin-left: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hamburger .line {
    display: block;
  }
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */
#hamburgerClick.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburgerClick.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburgerClick.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

.site-footer {
  background: #12114a;
  padding: 2rem;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.footer-links ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}
.footer-links ul li {
  margin: 0px;
  padding: 0 16px;
}
.footer-links ul li a {
  display: block;
  font-size: 18px;
  color: #ffffff;
  margin: 0;
}

.siteinfo {
  padding: 0 2rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .siteinfo {
    padding: 0rem;
  }
}

/*Components Scss Files */
.search-pop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5607843137);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99999;
  padding: 1rem;
  display: none;
}
.search-pop .search-pop-in {
  max-width: 800px;
  margin: 4rem auto auto auto;
  background: #ffffff;
  padding: 2rem;
  position: relative;
}
.search-pop .search-pop-in #searchClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  padding: 0px;
  cursor: pointer;
}
.search-pop .search-pop-in strong {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.search-pop .search-pop-in form {
  display: flex;
  align-items: center;
}
.search-pop .search-pop-in form label {
  display: none;
}
.search-pop .search-pop-in form input {
  width: 100%;
  font-size: 16px;
  padding: 1.1rem;
}
.search-pop .search-pop-in form .search-submit {
  width: 150px;
  background: #e83e8c;
  color: #ffffff;
  padding: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  border: 0px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .search-pop .search-pop-in form .search-submit {
    width: 103px;
  }
}

.pop .search-pop {
  display: block;
}

.comments-area {
  margin: 40px 0;
}
.comments-area .comment-respond .comment-form {
  background-color: #f1f1f1;
  padding: 20px;
}
.comments-area .comment-respond .comment-form p label {
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
}
.comments-area .comment-respond .comment-form p textarea,
.comments-area .comment-respond .comment-form p input[type=text],
.comments-area .comment-respond .comment-form p input[type=email],
.comments-area .comment-respond .comment-form p input[type=password],
.comments-area .comment-respond .comment-form p input[type=number],
.comments-area .comment-respond .comment-form p input[type=date],
.comments-area .comment-respond .comment-form p input[type=url],
.comments-area .comment-respond .comment-form p textarea {
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  font-size: 15px;
  color: #000000;
}
.comments-area .comment-respond .comment-form p textarea:disabled,
.comments-area .comment-respond .comment-form p input[type=text]:disabled,
.comments-area .comment-respond .comment-form p input[type=email]:disabled,
.comments-area .comment-respond .comment-form p input[type=password]:disabled,
.comments-area .comment-respond .comment-form p input[type=number]:disabled,
.comments-area .comment-respond .comment-form p input[type=date]:disabled,
.comments-area .comment-respond .comment-form p input[type=url]:disabled,
.comments-area .comment-respond .comment-form p textarea:disabled {
  opacity: 0.5;
}
.comments-area .comment-respond .comment-form p textarea::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=text]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=email]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=password]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=number]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=date]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=url]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 15px;
  color: #000000;
}
.comments-area .comment-respond .comment-form p textarea::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=text]::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=email]::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=password]::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=number]::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=date]::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=url]::-moz-placeholder,
.comments-area .comment-respond .comment-form p textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-size: 15px;
  color: #000000;
}
.comments-area .comment-respond .comment-form p textarea:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=text]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=email]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=password]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=number]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=date]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=url]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-size: 15px;
  color: #000000;
}
.comments-area .comment-respond .comment-form p textarea:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=text]:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=email]:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=password]:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=number]:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=date]:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=url]:-moz-placeholder,
.comments-area .comment-respond .comment-form p textarea:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-size: 15px;
  color: #000000;
}
.comments-area .comment-respond .comment-form p.comment-form-cookies-consent {
  display: flex;
  align-items: center;
}
.comments-area .comment-respond .comment-form p.comment-form-cookies-consent label {
  margin: 0 0 0 10px;
}
.comments-area .comment-respond .comment-form p.form-submit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.comments-area .comment-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.comments-area .comment-list li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-bottom: 20px;
}
.comments-area .comment-list li .reply {
  margin: 5px 0 40px 0;
  text-align: right;
}
.comments-area .comment-list li .comment-top {
  display: flex;
  align-items: center;
}
.comments-area .comment-list li .comment-top .comment-author {
  display: flex;
  align-items: center;
}
.comments-area .comment-list li .comment-top .comment-author .says {
  margin-left: 5px;
  font-size: 14px;
}
.comments-area .comment-list li .comment-top .comment-author img {
  margin-right: 10px;
}
.comments-area .comment-list li .comment-top .comment-metadata {
  display: block;
  font-size: 12px;
  margin-left: auto;
}
.comments-area .comment-list li .comment-content {
  position: relative;
  background: #f1f1f1;
  padding: 15px;
  margin-top: 20px;
}
.comments-area .comment-list li .comment-content p:first-child {
  margin-top: 0px;
  margin-bottom: 0px;
}
.comments-area .comment-list li .comment-content:after {
  bottom: 100%;
  left: 20px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(241, 241, 241, 0);
  border-bottom-color: #f1f1f1;
  border-width: 10px;
  margin-left: -10px;
}

.hero-section {
  display: flex;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-section {
    flex-wrap: wrap;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section {
    flex-wrap: wrap;
  }
}
.hero-section .hero-section-left {
  width: 50%;
  padding-right: 8px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-section-left {
    width: 100%;
    padding-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .hero-section-left {
    width: 100%;
    padding-right: 0px;
  }
}
.hero-section .hero-section-left .hero-box {
  height: 600px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-section-left .hero-box {
    height: 400px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .hero-section-left .hero-box {
    height: 300px;
  }
}
.hero-section .hero-section-right {
  width: 50%;
  padding-left: 8px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-section-right {
    width: 100%;
    padding-left: 0px;
    padding-top: 16px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .hero-section-right {
    width: 100%;
    padding-left: 0px;
    padding-top: 16px;
  }
}
.hero-section .hero-section-right .hero-section-right-top {
  padding-bottom: 16px;
}
.hero-section .hero-section-right .hero-section-right-top .hero-box {
  height: 300px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-section-right .hero-section-right-top .hero-box {
    height: 400px;
  }
}
.hero-section .hero-section-right .hero-section-right-btm {
  display: flex;
}
.hero-section .hero-section-right .hero-section-right-btm .hero-box {
  height: 284px;
  width: 50%;
}
.hero-section .hero-section-right .hero-section-right-btm .hero-box:nth-child(1) {
  margin-right: 8px;
}
.hero-section .hero-section-right .hero-section-right-btm .hero-box:nth-child(2) {
  margin-left: 8px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero-section .hero-section-right .hero-section-right-btm .hero-box-other {
    flex-wrap: wrap;
  }
  .hero-section .hero-section-right .hero-section-right-btm .hero-box-other .hero-author,
  .hero-section .hero-section-right .hero-section-right-btm .hero-box-other .hero-post-time {
    width: 100%;
  }
}

.hero-box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.hero-box .hero-box-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  transition: transform 2s;
}
.hero-box .hero-box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-box .hero-box-content {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background-image: linear-gradient(180deg, transparent, black);
  display: flex;
}
.hero-box .hero-box-content a {
  display: flex;
  padding: 1rem;
  width: 100%;
  height: 100%;
  align-items: end;
}
.hero-box .hero-box-content h2, .hero-box .hero-box-content h3, .hero-box .hero-box-content h4, .hero-box .hero-box-content .related-posts.related-pages ul li a, .related-posts.related-pages ul li .hero-box .hero-box-content a, .hero-box .hero-box-content h5 {
  margin: 0px;
  color: #ffffff;
  padding: 0px;
}
.hero-box .hero-box-content .hero-box-content-in {
  width: 100%;
}
.hero-box:hover .hero-box-img {
  transform: scale(1.1);
}

.hero-box-txt {
  margin-top: 8px;
  font-size: 15px;
  color: #ffffff;
}
.hero-box-txt p {
  margin: 0px;
}

.hero-box-other {
  display: flex;
  font-size: 13px;
  color: #ffffff;
  width: 100%;
  margin-top: 8px;
}
.hero-box-other .hero-author {
  display: flex;
  margin: 5px 0;
  align-items: center;
  text-transform: capitalize;
}
.hero-box-other .hero-author span {
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-box-other .hero-author span img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100px;
  opacity: 1 !important;
}
.hero-box-other .hero-post-time {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.hero-box-other .hero-post-time i {
  margin-right: 5px;
}
.hero-box-other .hero-post-time i svg {
  fill: rgb(255, 255, 255);
}

.post-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
.post-row .post-box {
  padding: 0 10px;
  margin-bottom: 15px;
}
.post-row .post-box .post-box-img {
  display: block;
  position: relative;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
}
.post-row .post-box .post-box-img .post-admin-time {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 5px 10px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  color: #ffffff;
  font-size: 12px;
  width: 100%;
}
.post-row .post-box .post-box-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.post-row .post-box .post-box-content h2, .post-row .post-box .post-box-content h3, .post-row .post-box .post-box-content h4, .post-row .post-box .post-box-content .related-posts.related-pages ul li a, .related-posts.related-pages ul li .post-row .post-box .post-box-content a {
  margin: 16px 0;
  font-size: 20px;
  padding: 0px;
}
.post-row .post-box .post-box-content .post-box-content-txt {
  padding-top: 5px;
}

.sce-section-left .post-row .post-box {
  width: 33.33%;
}
@media (min-width: 568px) and (max-width: 767px) {
  .sce-section-left .post-row .post-box {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .sce-section-left .post-row .post-box {
    width: 100%;
  }
}

.most-watch-row .post-row .post-box {
  width: 25%;
}
@media (min-width: 568px) and (max-width: 767px) {
  .most-watch-row .post-row .post-box {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .most-watch-row .post-row .post-box {
    width: 100%;
  }
}

.page-left .post-row .post-box {
  width: 33.33%;
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-left .post-row .post-box {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-left .post-row .post-box {
    width: 100%;
  }
}

.home-categories {
  padding: 15px;
  border-radius: 5px;
  color: #fff;
}
.home-categories h4, .home-categories .related-posts.related-pages ul li a, .related-posts.related-pages ul li .home-categories a {
  margin: 0 0 0rem 0;
}
.home-categories .widget_categories ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.home-categories .widget_categories ul li {
  padding: 1rem;
  margin: 1rem 0 0 0;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://4kpictures.co.in/wp-content/themes/pictures/assets/img/categories-img/categories-img-2.jpg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.home-categories .widget_categories ul li::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background-image: linear-gradient(180deg, transparent, black);
  border-radius: 5px;
}
.home-categories .widget_categories ul li a {
  font-size: 1rem;
  color: #ffffff;
  width: 100%;
  position: relative;
  z-index: 1;
}
.home-categories .widget_categories ul li:nth-child(1) {
  background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/12/fresh-fish-4k-picture-scaled.jpg);
}
.home-categories .widget_categories ul li:nth-child(2) {
  background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/12/Free-image-download-scaled.jpeg);
}
.home-categories .widget_categories ul li:nth-child(3) {
  background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/12/4k-beautiful-wallpaper.jpeg);
}
.home-categories .widget_categories ul li:nth-child(4) {
  background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/12/Desert-tree-shadow-image-scaled.jpg);
}
.home-categories .widget_categories ul li:nth-child(5) {
  background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/12/best-wallpaper-for-android-4k-scaled.jpeg);
}
.home-categories .widget_categories ul li:nth-child(6) {
  background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/03/Deewani-Mastani-Deepika-Padukone-4k-Picture-scaled.jpeg);
}
.home-categories .widget_categories ul li:nth-child(7) {
  background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/11/White-color-city-wallpaper-scaled.jpg);
}
.home-categories .widget_categories ul li:nth-child(8) {
  background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/10/Ranveer-Singh-Wallpaper.jpg);
}
.home-categories .widget_categories ul li:nth-child(9) {
  background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/10/Ranveer-Singh-and-Deepika-HD-Wallpaper.jpg);
}
.home-categories .widget_categories ul li:nth-child(10) {
  background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/08/Images-of-Young-Ladies.jpg);
}
.home-categories .widget_categories ul li:nth-child(11) {
  background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/08/Rain-4K-Wallpapers-for-Mobile.jpg);
}
.home-categories .widget_categories ul li:nth-child(12) {
  background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/07/Cute-Girl-Pictures-Download.jpg);
}
.home-categories .widget_categories ul li:nth-child(13) {
  background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/06/Shirsasana-Picture.jpg);
}
.home-categories .widget_categories ul li:nth-child(14) {
  background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/06/Justin-Timberlake-images.jpg);
}
.home-categories .widget_categories ul li:nth-child(15) {
  background-image: url(https://4kpictures.co.in/wp-content/themes/pictures/assets/img/categories-img/categories-img-2.jpg);
}
.home-categories .widget_categories ul li:hover {
  background-position: center;
}

.paging-navigation {
  margin-bottom: 30px;
}
.paging-navigation ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paging-navigation ul li {
  margin: 0px;
  padding: 0 10px;
}
.paging-navigation ul li a,
.paging-navigation ul li span {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #000000;
  color: #ffffff;
}
.paging-navigation ul li a.current,
.paging-navigation ul li span.current {
  font-weight: 600;
}

.related-posts h3 {
  margin: 0 0 20px;
}
.related-posts ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.related-posts ul li {
  margin: 0px;
  padding: 0 0 10px 0;
}
.related-posts ul li a {
  display: flex;
  text-decoration: none;
}
.related-posts ul li a .related-thumb {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .related-posts ul li a .related-thumb {
    width: 70px;
    height: 70px;
  }
}
.related-posts ul li a .related-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.related-posts ul li a .related-content {
  width: calc(100% - 100px);
  padding-left: 10px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .related-posts ul li a .related-content {
    width: calc(100% - 70px);
  }
}
.related-posts ul li a .related-content h4, .related-posts.related-pages ul li a .related-content a {
  margin: 0px;
  font-weight: 600;
}
.related-posts ul li a .related-content span {
  color: #000;
  font-size: 13px;
}
.related-posts.related-pages ul li a {
  font-weight: 500;
}

/*Page Scss Files */
.wpforms-container input.wpforms-field-medium, .wpforms-container select.wpforms-field-medium, .wpforms-container .wpforms-field-row.wpforms-field-medium, .wp-core-ui div.wpforms-container input.wpforms-field-medium, .wp-core-ui div.wpforms-container select.wpforms-field-medium, .wp-core-ui div.wpforms-container .wpforms-field-row.wpforms-field-medium {
  max-width: 100%;
}

.contact-social {
  background-color: #f1f1f1;
  padding: 20px;
  margin-top: 30px;
}
.contact-social h2 {
  margin: 0 0 30px;
  padding: 0px;
}
.contact-social ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
.contact-social ul li {
  margin: 0;
  padding: 0 20px 0 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-social ul li {
    padding: 0 0 20px 0;
  }
}
.contact-social ul li:last-child {
  padding-right: 0px;
}
.contact-social ul li a {
  display: flex;
  align-items: center;
}
.contact-social ul li a svg {
  width: 50px;
  height: 50px;
  padding: 5px;
  display: block;
  border-radius: 30px;
  fill: #fff;
}
.contact-social ul li a span {
  margin-left: 10px;
  font-size: 1.2rem;
}
.contact-social ul li.fb a svg {
  background: linear-gradient(115deg, #62cff4, #2c67f2);
}
.contact-social ul li.fb a span {
  color: #2c67f2;
}
.contact-social ul li.fb a:hover svg {
  background: linear-gradient(115deg, #2c67f2, #62cff4);
}
.contact-social ul li.insta a svg {
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
}
.contact-social ul li.insta a span {
  color: #ee2a7b;
}
.contact-social ul li.insta:hover a svg {
  background: linear-gradient(115deg, #6228d7, #ee2a7b, #f9ce34);
}
.contact-social ul li.email a svg {
  background: #e83e8c;
}
.contact-social ul li.email a span {
  color: #e83e8c;
}
.contact-social ul li.email:hover a svg {
  background: #000;
}

.page-left {
  width: calc(100% - 400px);
  padding-right: 4rem;
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .page-left {
    width: calc(100% - 300px);
    padding-right: 2rem;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .page-left {
    width: calc(100% - 200px);
    padding-right: 2rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .page-left {
    width: calc(100% - 200px);
    padding-right: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-left {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-left {
    width: 100%;
    padding: 0;
  }
}
.page-left figure img {
  width: 100%;
  height: auto;
  display: block;
}
.page-left .post-thumbnail img {
  width: 100%;
  height: auto;
  display: block;
}
.page-left #rank-math-toc {
  padding: 2rem;
  margin-bottom: 2rem;
}
.page-left #rank-math-toc h2 {
  color: #ffffff;
  margin: 0 0 10px 0;
}
.page-left #rank-math-toc nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.page-left #rank-math-toc nav ul li {
  margin: 0px;
  padding: 6px 0 6px 55px;
  position: relative;
}
.page-left #rank-math-toc nav ul li::after {
  content: "➳";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -13px;
  left: 0;
  color: #ffffff;
  font-size: 44px;
}
.page-left #rank-math-toc nav ul li a {
  color: #ffffff;
  text-decoration: underline;
  display: block;
}
.page-left #rank-math-toc nav ul li ul {
  margin: 10px;
}
.page-left #rank-math-toc nav ul li ul li ul {
  margin: 10px;
}
.page-left #rank-math-toc nav ul li ul li li ul {
  margin: 10px;
}

.page-right {
  width: 400px;
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .page-right {
    width: 300px;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .page-right {
    width: 200px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .page-right {
    width: 200px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-right {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-right {
    display: none;
  }
}
.page-right h2 {
  margin: 0px;
  margin-bottom: 1rem;
}
.page-right .siderbar-search,
.page-right .siderbar-social {
  margin-bottom: 30px;
}
.page-right .searchform {
  background-color: #f4f4f4;
  padding: 1rem;
}
.page-right .searchform .searchsubmit {
  display: none;
}
.page-right .searchform label {
  width: 100%;
}
.page-right .searchform label input {
  width: 100%;
  padding: 6px;
  font-size: 14px;
}

.details-page .site-welcome {
  margin-bottom: 0px;
  border-radius: 5px 5px 0 0;
}
.details-page .hero-box-other {
  background: #e83e8c;
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 2rem;
  border-radius: 0 0 5px 5px;
}
.details-page .hero-box-other .hero-post-time {
  margin-left: 3rem;
}

.uploaded-img {
  position: relative;
}
.uploaded-img a.download-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #e83e8c;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #ffffff;
  border: 0px;
}

.details-page-left h3 {
  font-size: 1.5rem;
}

.gallery-img ul {
  display: flex;
  list-style: none;
  margin: 0 -8px;
  padding: 0px;
  flex-wrap: wrap;
}
.gallery-img ul li {
  width: 33.33%;
  padding: 27px 8px;
}
.gallery-img ul li:nth-child(1), .gallery-img ul li:nth-child(2), .gallery-img ul li:nth-child(9), .gallery-img ul li:nth-child(10), .gallery-img ul li:nth-child(17), .gallery-img ul li:nth-child(18), .gallery-img ul li:nth-child(37), .gallery-img ul li:nth-child(38), .gallery-img ul li:nth-child(39), .gallery-img ul li:nth-child(40) {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .gallery-img ul li:nth-child(1), .gallery-img ul li:nth-child(2), .gallery-img ul li:nth-child(9), .gallery-img ul li:nth-child(10), .gallery-img ul li:nth-child(17), .gallery-img ul li:nth-child(18), .gallery-img ul li:nth-child(37), .gallery-img ul li:nth-child(38), .gallery-img ul li:nth-child(39), .gallery-img ul li:nth-child(40) {
    width: 100%;
  }
}
.gallery-img ul li:nth-child(3), .gallery-img ul li:nth-child(4), .gallery-img ul li:nth-child(5), .gallery-img ul li:nth-child(6), .gallery-img ul li:nth-child(7), .gallery-img ul li:nth-child(8), .gallery-img ul li:nth-child(11), .gallery-img ul li:nth-child(12), .gallery-img ul li:nth-child(13), .gallery-img ul li:nth-child(14), .gallery-img ul li:nth-child(15), .gallery-img ul li:nth-child(16), .gallery-img ul li:nth-child(19), .gallery-img ul li:nth-child(20), .gallery-img ul li:nth-child(21), .gallery-img ul li:nth-child(22), .gallery-img ul li:nth-child(23), .gallery-img ul li:nth-child(24) {
  width: 33.33%;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .gallery-img ul li:nth-child(3), .gallery-img ul li:nth-child(4), .gallery-img ul li:nth-child(5), .gallery-img ul li:nth-child(6), .gallery-img ul li:nth-child(7), .gallery-img ul li:nth-child(8), .gallery-img ul li:nth-child(11), .gallery-img ul li:nth-child(12), .gallery-img ul li:nth-child(13), .gallery-img ul li:nth-child(14), .gallery-img ul li:nth-child(15), .gallery-img ul li:nth-child(16), .gallery-img ul li:nth-child(19), .gallery-img ul li:nth-child(20), .gallery-img ul li:nth-child(21), .gallery-img ul li:nth-child(22), .gallery-img ul li:nth-child(23), .gallery-img ul li:nth-child(24) {
    width: 50%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .gallery-img ul li:nth-child(3), .gallery-img ul li:nth-child(4), .gallery-img ul li:nth-child(5), .gallery-img ul li:nth-child(6), .gallery-img ul li:nth-child(7), .gallery-img ul li:nth-child(8), .gallery-img ul li:nth-child(11), .gallery-img ul li:nth-child(12), .gallery-img ul li:nth-child(13), .gallery-img ul li:nth-child(14), .gallery-img ul li:nth-child(15), .gallery-img ul li:nth-child(16), .gallery-img ul li:nth-child(19), .gallery-img ul li:nth-child(20), .gallery-img ul li:nth-child(21), .gallery-img ul li:nth-child(22), .gallery-img ul li:nth-child(23), .gallery-img ul li:nth-child(24) {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .gallery-img ul li:nth-child(3), .gallery-img ul li:nth-child(4), .gallery-img ul li:nth-child(5), .gallery-img ul li:nth-child(6), .gallery-img ul li:nth-child(7), .gallery-img ul li:nth-child(8), .gallery-img ul li:nth-child(11), .gallery-img ul li:nth-child(12), .gallery-img ul li:nth-child(13), .gallery-img ul li:nth-child(14), .gallery-img ul li:nth-child(15), .gallery-img ul li:nth-child(16), .gallery-img ul li:nth-child(19), .gallery-img ul li:nth-child(20), .gallery-img ul li:nth-child(21), .gallery-img ul li:nth-child(22), .gallery-img ul li:nth-child(23), .gallery-img ul li:nth-child(24) {
    width: 100%;
  }
}
.gallery-img ul li .gallery-image-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.gallery-img ul li .example-image-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.gallery-img ul li .gallery-caption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #fff;
}
.gallery-img ul li h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  margin: 0px 0 10px 0;
}

.gallery-img img {
  width: 100%;
  height: auto;
  display: block;
}

.popular-posts h2 {
  font-size: 22px;
}
.popular-posts ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.popular-posts ul li {
  margin: 10px 0;
  padding: 0px;
}
.popular-posts ul li .post-stats {
  display: flex;
  align-items: center;
}
.popular-posts ul li .post-stats .wpp-views {
  padding-right: 5px;
}
.popular-posts ul li .post-stats .wpp-author {
  display: flex;
  padding-left: 5px;
}
.popular-posts ul li a {
  display: block;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}
.popular-posts ul li a.wpp-post-title {
  font-size: 18px;
  font-weight: 500;
}

.widget_block {
  margin-bottom: 20px;
}
.widget_block:last-child {
  margin-bottom: 0px;
}

.lb-closeContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999999;
}

.not-found {
  padding: 2rem 0;
}
.not-found .not-found-img {
  background-image: url("data:image/svg+xml,%3Csvg width='217' height='94' viewBox='0 0 217 94' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M66.75 63L61.25 63.125L60.125 90.125L31.875 92.625L33.375 63.75L0 64.5L9.25 9.625H32.875L26 47.875L34.25 47.625L36.625 0.25H63.75L61.875 46.625L66.75 46.375V63ZM148.188 48.25C148.188 51.9167 147.771 55.5625 146.938 59.1875C146.146 62.8125 144.979 66.2917 143.438 69.625C141.896 72.9583 140 76.0625 137.75 78.9375C135.542 81.8125 133 84.3125 130.125 86.4375C127.25 88.5625 124.083 90.2292 120.625 91.4375C117.208 92.6458 113.521 93.25 109.562 93.25C105.562 93.25 101.833 92.6458 98.375 91.4375C94.9167 90.2292 91.75 88.5625 88.875 86.4375C86.0417 84.3125 83.5 81.8125 81.25 78.9375C79 76.0625 77.1042 72.9583 75.5625 69.625C74.0208 66.2917 72.8333 62.8125 72 59.1875C71.2083 55.5208 70.8125 51.875 70.8125 48.25C70.8125 44.625 71.2083 40.9792 72 37.3125C72.8333 33.6458 74.0208 30.1458 75.5625 26.8125C77.1042 23.4792 79 20.375 81.25 17.5C83.5 14.5833 86.0417 12.0625 88.875 9.9375C91.75 7.8125 94.9167 6.14583 98.375 4.9375C101.875 3.72917 105.604 3.125 109.562 3.125C113.521 3.125 117.208 3.72917 120.625 4.9375C124.083 6.14583 127.25 7.8125 130.125 9.9375C133 12.0625 135.542 14.5833 137.75 17.5C140 20.375 141.896 23.4792 143.438 26.8125C144.979 30.1458 146.146 33.6458 146.938 37.3125C147.771 40.9792 148.188 44.625 148.188 48.25ZM121.812 50.125C121.812 48.2917 121.562 46.25 121.062 44C120.562 41.75 119.792 39.6458 118.75 37.6875C117.708 35.7292 116.375 34.0833 114.75 32.75C113.125 31.4167 111.188 30.75 108.938 30.75C106.646 30.75 104.688 31.4167 103.062 32.75C101.438 34.0833 100.083 35.7292 99 37.6875C97.9583 39.6458 97.1875 41.75 96.6875 44C96.1875 46.25 95.9375 48.2917 95.9375 50.125C95.9375 51.9583 96.1875 54 96.6875 56.25C97.1875 58.5 97.9583 60.6042 99 62.5625C100.083 64.5208 101.438 66.1667 103.062 67.5C104.688 68.8333 106.646 69.5 108.938 69.5C111.188 69.5 113.125 68.8333 114.75 67.5C116.375 66.1667 117.708 64.5208 118.75 62.5625C119.792 60.6042 120.562 58.5 121.062 56.25C121.562 54 121.812 51.9583 121.812 50.125ZM216.75 63L211.25 63.125L210.125 90.125L181.875 92.625L183.375 63.75L150 64.5L159.25 9.625H182.875L176 47.875L184.25 47.625L186.625 0.25H213.75L211.875 46.625L216.75 46.375V63Z' fill='black'/%3E%3C/svg%3E%0A");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 300px;
  margin: 3rem 0;
  height: 129px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .not-found .not-found-img {
    width: 130px;
    height: 57px;
  }
}
.not-found .not-found-search-form {
  background: #f1f1f1;
  padding: 2rem;
}
.not-found .not-found-search-form form {
  display: flex;
}
.not-found .not-found-search-form form label {
  width: calc(100% - 63px);
}
.not-found .not-found-search-form form label input {
  width: 100%;
  font-size: 16px;
  padding: 1.1rem;
}
.not-found .not-found-search-form form .searchsubmit {
  width: 63px;
  color: #ffffff;
  padding: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  border: 0px;
}

/*# sourceMappingURL=global.css.map */
