
:root {
	--color: #2ECC71;
}


a {
    color: var(--color);
}

a:hover,
a:active {
    outline: 0;
    color: var(--color);
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    background: var(--color);
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background: var(--color)
}

input:focus,
textarea:focus {
    border-color: var(--color);
}

.site-header .logo a {
    color: var(--color);
}

.site-header .logo span {
    text-shadow: 2px 0 #1abc9c, -2px 0 #2ECC71, 0 2px #2ECC71, 0 -2px #2ECC71, 1px 1px #2ECC71, -1px -1px #2ECC71, 1px -1px #2ECC71, -1px 1px #2ECC71;
}

.site-header .header-right nav ul li a:hover,
.site-header .header-right nav ul li.current_page_item a {
    color: var(--color);
}

.page-left #rank-math-toc,
.fancybox-download,
.download-btn {
    background: var(--color)
}

.paging-navigation ul li a.current,
.paging-navigation ul li span.current {
    background: var(--color)
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea {
    border: 2px var(--color) solid;
}

.home-categories {
    background: var(--color)
}

div.wpforms-container-full input[type=submit]:not(:hover):not(:active),
div.wpforms-container-full button[type=submit]:not(:hover):not(:active),
div.wpforms-container-full .wpforms-page-button:not(:hover):not(:active),
.wp-core-ui div.wpforms-container-full input[type=submit]:not(:hover):not(:active),
.wp-core-ui div.wpforms-container-full button[type=submit]:not(:hover):not(:active),
.wp-core-ui div.wpforms-container-full .wpforms-page-button:not(:hover):not(:active) {
    background: var(--color)
}

.hamburger .line{
    background-color:  var(--color);
}

.mobile-nav{
    background: var(--color) 
}
.site-header .header-right nav ul li.current-menu-parent a,
.wp-block-gallery.has-nested-images figure.wp-block-image figcaption, .wp-block-gallery.has-nested-images figure.wp-block-image:has(figcaption)::before{
    color: var(--color); 
}
.site-header .header-right nav ul li.current-menu-parent ul li a{
    color: #000;
}
.site-header .header-right nav ul li.menu-item-has-children ul li.current-menu-item a,
.related-posts ul li a .related-contehnt h4,
.related-posts ul li a{
    color: var(--color) !important;
}
.not-found .not-found-search-form form .searchsubmit{
    background-color:  var(--color); 
}