body{font-family: 'Open Sans', sans-serif; margin:0px; padding:0; font-size: 15px; color: #424242; background: #fff; height:100%;     line-height: 22px;}
a{
    transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -webkit-transition:all 0.3s ease 0s;
}
select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

}
img { max-width: initial;}
.page-template-page-home{ padding:0px;}
a:focus,
button:focus
 {
	outline: none; border:0px;
}
:root {
    --dark: #424242;
    --white: #ffffff;
    --orange:#e66e28;
    --drak-text: #424242;
  }
a:hover{ text-decoration:none;}
.main-color{ color: var(--orange); background:#424242;}
.font-type{font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;}
:focus {outline: -webkit-focus-ring-color auto 0px; outline:0;  outline: none;}
::-webkit-input-placeholder {color:#999;  opacity:1;}
:-moz-placeholder { /* Firefox 18- */color:#999;  opacity:1;}
::-moz-placeholder {  /* Firefox 19+ */color:#999;  opacity:1;}
:-ms-input-placeholder { color:#999;  opacity:1;}
.mob_menu_icon{ display:none;}


.full_header{ background:rgba(255, 255, 255, 0.9); padding:15px 0; position:relative; z-index:2;}
/* .home .full_header{ display:none;} */
.home .site-footer{ display:none;}
.logo{  width:180px;}
.logo img{ width:100%; height:auto;}
.nav_menu{  margin-left: auto;}
.nav_menu ul{ margin:0px; padding:0px; list-style:none;}
.nav_menu ul li{ margin:0 0 0 30px; padding:0px; display:inline-block; vertical-align:middle; }
.nav_menu ul li a{ display:block; color:var(--dark);; font-size:16px;}
.nav_menu ul li a:hover{color:var(--orange); }
.nav_menu ul li.current_page_item a,
.nav_menu ul li.current_page_ancestor a
{color:var(--orange); font-weight: 600; }
.sub-menu{ display:none;} 
/*-------------------------------------Home page CSS Start-----------------------------------*/
.hide_desktop{ display:none;}
.slider_overly{ background:rgba(0, 0, 0, 0.0); position:fixed; width:100%; height:100%; top:0px; left:0px; z-index:1;}
.home_in{ position:relative; z-index:2;}
.homemenu_icon{ text-align:center; padding-top:15px; position:relative; z-index:3;}
.homemenu_icon a{ color:#fff; font-size:20px; display:inline-block; }
.homemenu_icon a span{ position:relative; width:40px; height:3px; background:var(--orange); display:inline-block;  transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -webkit-transition:all 0.3s ease 0s;}
.homemenu_icon a span:after{ position:absolute; width:40px; height:3px; content:""; background:var(--orange); left:0px; top:10px; transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -webkit-transition:all 0.3s ease 0s;}
.homemenu_icon a span:before{ position:absolute; width:40px; height:3px; content:""; background:var(--orange); left:0px; bottom:10px; transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -webkit-transition:all 0.3s ease 0s;}
.homemenu_icon a:hover span,
.homemenu_icon a:hover span:after,
.homemenu_icon a:hover span:before{background:var(--orange);}
.home-logo{  position: absolute; top: 0%; left: 0%; width:100%; height: 100%;}
.home-logo-outer{ display: flex; align-items: center; justify-content: center; text-align:center; width:100%; height:100vh;}
.home-logo-inner{ width:250px;}
.home_footer{ position:fixed; z-index:2; width:100%; left:0px; bottom:0px; padding:15px 0;}
.home_footer ul{ margin:0px; padding:0px; list-style:none;}
.home_footer ul li{ margin:0px; padding:0px; display:inline-block; }
.homepg header{ display:none;}
.hideall .slider_overly
{ display:none;} 
.page_full_img img{ width:100%; height:auto;}
/*-------------------------------------Home page CSS End-----------------------------------*/

.wpr{ width: 900px; margin: auto;}
.wpr_p{ padding:0 93px;}
.practice_section,
.main_project_top,
.awards_section,
.cons_arch_pro_page,
.in_detail_section,
.contact_us_section,
.directors_section,
.greysection_about,
.page.type-page
{ padding: 60px 0;}
.practice_section h1,
.main_project_top h1,
.cons_arch_pro_page h1,
.contact_us_section h1,
h1.page-title,
.directors_section h1,
.awards_section h1

{ margin: 0px; position: relative; padding: 15px 0 0; font-family: 'Source Sans Pro', sans-serif; font-weight: 600; text-transform:capitalize; font-size: 40px; color: #424242;}
.practice_section h1:after,
.main_project_top h1:after,
.cons_arch_pro_page h1:after,
.contact_us_section h1:after,
.directors_section h1:after,
h1.page-title:after,
.awards_section h1:after
{ content: ""; position: absolute; top:0px; left: 0px; width: 50px; height: 4px; background: var(--orange);}
h1.page-title{ margin-bottom:40px;}
.practice_top{ text-align: left; margin: 30px 0;}
.main_project_top_in{margin: 30px 0 0 0;}
.practice_top ul{ margin:0px; padding:0px; list-style:none;}
.practice_top ul li{ margin: 0px; padding: 0px; display: inline-block; text-align: center; width: 20%; font-weight: 600; font-size:17px; color: #424242;}
.practice_top ul li:nth-child(2){ margin: 0 19%;}
.practice_top ul li i{ display: block; margin-bottom: 15px; text-align: center;}
.project_section .col-sm-4{ padding: 1px;}
.project_main_box{ position: relative; width: 100%; height:100%; overflow:hidden; }
.project_main_box_info{ width: 100%; height: 100%; background: rgba(0, 0, 0, 0.0); position: absolute; left: 0px; top: 0px; transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -webkit-transition:all 0.3s ease 0s;}
.project_main_box_info a{ display: block; text-decoration:none; color: #fff; font-size:28px; font-weight: 600; height: 100%; display: flex; align-items: flex-end;  padding: 10%; }
.project_main_box_info a span{ display: block;     line-height: 32px; margin-bottom: 17px; }
.project_main_box_info a i{ display: block; width: 40px;}
.project_main_box_info:hover a i svg{ fill: var(--orange); }
.project_main_box:hover .project_main_box_info{background: rgba(0, 0, 0, 0.5);}
/* .project_main_box img{   
    -moz-transition: all 0.9s;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;}
.project_main_box:hover img{
     -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
} */
.awards_top{margin: 30px 0;}
.item{text-align:center; }
.slick-slide{ margin: 0 30px;}
.slick-slide .item{margin:0; width:132px !important;}
.awards_section .slick-prev,
.awards_section .slick-next
{ display:none !important;}
.item h4{ margin:10px 0 0 0; padding:0px; font-size:17px; text-transform:uppercase; font-weight:600; font-family: 'Open Sans', sans-serif; color:#424242; }
.awards_section .slick-dots{ margin:0px; padding:35px 4px 0 0; list-style:none; text-align:right;}
.awards_section .slick-dots li{ margin:0 0 0 10px; padding:0px; display:inline-block;}
.awards_section .slick-dots li  button{ background:#fff; cursor:pointer; border:1px #424242 solid; border-radius:80px; text-indent:-9999px; display:block; width:18px; height:18px;}
.site_footer{background:#424242; padding:20px 0 6px 0;}
.awards_section .slick-dots li.slick-active button{background:var(--orange);}
.site_footer p{ margin:0px; color:#fff; font-size:14px;}
.site_footer p a{ color:#fff; font-size:14px;}
.site_footer .col-sm-6:nth-child(2){ text-align:right;}
.back_section{ background:#f1f1f1; padding:50px 0; text-align:center;}
.back_section a{ display:inline-block; color:#424242; font-size:28px; font-weight:600; padding: 0 0 0 71px; background:url(../images/back-arrow.png) no-repeat left center;}
.back_section a:hover{background:url(../images/back-arrow-hover.png) no-repeat left center; color:var(--orange); text-decoration:none;}
.list_row ul{ margin:0px; padding:0px; list-style:none;}
.list_row ul li{ margin:0 0 15px 0; padding:0px; display:inline-block; vertical-align:middle; }
.list_row ul li a{ display:block; color:#424242; font-size:14px;}
.list_row ul li a span{color:var(--orange); display:block; }
.content-rightlist_row ul{ margin:0px; padding:0px; list-style:none;}
.content-rightlist_row ul li{ margin:0 0 15px 0; padding:0px; display:inline-block; vertical-align:middle; }
.content-rightlist_row ul li a{ display:block; color:#424242; font-size:14px;}
.content-rightlist_row strong{color:var(--orange); display:block; font-weight:600; }
.content-rightlist_row br{ display:none;}
.cons_arch_pro_box{ margin-top:40px;}
.cons_arch_pro_list .row { margin-left: -15px;  margin-right:-15px; }
.cons_arch_pro_box a .cons_arch_pro_text{color:#424242; font-size:17px; display:block; font-weight:600; padding:18px 10px 10px 0px; }
.cons_arch_pro_box a:hover .cons_arch_pro_text{  color:var(--orange); text-decoration:none;}
.cons_arch_pro_box a .cons_arch_pro_img{ overflow:hidden; width:100%; height:100%;}
.cons_arch_pro_box a .cons_arch_pro_img img{   -moz-transition: all 0.9s;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;}
.cons_arch_pro_box a:hover .cons_arch_pro_img img{ -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);}
.static_images_section .col-sm-4{ padding:0px;}
.in_detail_section,
.greysection_about
{ background:#424242;}
button:focus { outline: 0px dotted; outline: 0px auto -webkit-focus-ring-color;}
.in_detail_section h1,
.greysection_about h1
{ margin: 0px; position: relative; padding: 15px 0 0; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; text-transform:initial; font-size: 30px; color: #fff;}
.in_detail_section h1:after,
.greysection_about h1:after
{ content: ""; position: absolute; top:0px; left: 0px; width: 50px; height: 4px; background: var(--orange);}
.in_detail_txt p,
.greysection_about p
{ color:#fff; margin:40px 0 0 0; padding-right:40px;}
.in_detail_img img{ width:100%; height:auto;}
.practice_top img{width:auto !important; height:75px !important;margin-bottom:10px}
.page_full_img img{ width:100% !important; height:auto !important;}
.row{ margin-left:0px; margin-right:0px;}
figure { margin: 0;}
.menu-footer-menu-container{ text-align:right;}
.menu-footer-menu-container ul{ margin:0px; padding:0px; list-style:none;}
.menu-footer-menu-container ul li{ margin:0 0 15px 0; padding:0px; display:inline-block; vertical-align:middle; }
.menu-footer-menu-container ul li a{ display:block; color:#fff; font-size:14px;}
.content-left{ padding-left:0px; padding-right:40px;}
.content-right{ padding-right:0px;}
.project-slider .slick-slide { margin: 0;}
.project-video-section p{ margin:0px; line-height: 8px;}
.project-video-section{text-align:center;background:#424242;}
.single-project .site-featured-image{ display:none;}
.page-template-page-about .main_project_top{background:#f1f1f1;}
.full_header{ position:sticky; top:0px; left:0px; width:100%;}
.home .full_header,
.single-project .full_header
{ position: fixed; z-index: 9999;}

.home_footer{ position:fixed; bottom:15px; left:15px;}
.site_footer  .col-sm-6{ padding:0px;  }
.page_about_section .content-rightlist_row ul{ margin:0px; padding:0px; list-style:none;}
.page_about_section .content-rightlist_row ul li{ margin:0; padding:0 10px 0 24px; display:block; position:relative; width: 100%;}
.page_about_section .content-rightlist_row ul li:after{ content:""; position:absolute; width:11px; height:3px; top:11px; left:0px; background:var(--orange);}
.page_about_section .content-rightlist_row p{ margin:0px; padding:0px;}
.page_about_section .content-rightlist_row p strong{color:var(--orange); margin-bottom: 11px; display:block; font-weight:600; }
.our_directors_box{ width:100%; position:relative; overflow:hidden; height: auto;}
.our_directors_box img{ width:100%; height:auto;}
.our_directors_text{ width:100%; display: table; height:100%; background:rgba(0, 0, 0, 0.6); position:absolute; top:0px; left:0; opacity:0; padding:30px 10%;     -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;}
.our_directors_section .col-sm-6{ padding:1px;  }
.our_directors_text h3{ margin:0px; padding:0px; font-family: 'Source Sans Pro', sans-serif; color:var(--orange); font-size:30px; font-weight:600; display:block;}
.our_directors_text strong{ margin:7px 0; padding:0px; color:var(--orange); font-size:14px; display:block; font-weight:normal;}
.our_directors_text p{ margin:0px; padding:0px; color:#fff; display:block;}
.our_directors_text_in{ display:table-cell; vertical-align:middle; text-align:left;}
.our_directors_box:hover .our_directors_text{ opacity:1;}

.member-row-2 .col-sm-4{ padding:1px;  }
.member-box{ position: relative;}
.member-box img{ width: 100%; height: auto;}
.member-content{width:100%; display: flex; height:100%; background:rgba(0, 0, 0, 0.6); position:absolute; top:0px; left:0; opacity:0; padding:30px 10%;     -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
align-items: flex-end;
}
.member-box:hover .member-content{ opacity: 1;}
.member-box h3{ margin:0px; padding:0px; font-family: 'Source Sans Pro', sans-serif; color:var(--orange); font-size:24px; font-weight:600; display:block;}
.member-box strong{ margin:7px 0; padding:0px; color:#fff; font-size:14px; display:block; font-weight:normal;}


.contact_left img{ width:100%; height:auto;}
.contact_left p{ margin:0px;}
.cotact_bg{ background:#f1f1f1;}
.contact_us_page .row{ margin:0px;}
.contact-contrainer{ min-height:600px;}
.contact_us_page .col-sm-6{ padding:0px;  }
.contact_right{ width:100%; height:100%; display:table;}
.contact_info{display:table-cell; vertical-align:middle; text-align:center; color:var(--drak-text); font-size:16px;}
.contact_info p{ margin: 28px 0; font-size:18px; line-height: 27px;}
.logo_icon{width: 320px; margin:auto;}
.logo_icon img{ width:100%; height:auto;}
.social_icon{ margin: 40px 0 0; padding: 40px 0 0; text-align: center; display: inline-block; border-top: 4px var(--orange) solid;}
.social_icon ul{ margin:0px; padding:0px; list-style:none;}
.social_icon ul li{ margin:0 19px; padding:0px; display:inline-block; vertical-align:middle; }
.social_icon ul li a{ display:block;}
.social_icon ul li a img{width: auto; height: 40px; display: block;}
.social_icon ul li:nth-child(2) a img{height: 30px;}
.social_icon ul li a:hover img{ opacity:0.7;}	
.contact_link a{ color:var(--drak-text); font-weight:700; margin:5px 0 0 0; display:inline-block; font-size:18px;}	
.contact_link a:hover{ color:var(--orange);}
.project-slider { height:600px; overflow:hidden;}
.project-slider .slick-arrow{ position:absolute; bottom:0px;  top:inherit; text-indent:-9999px;  border:0px; cursor:pointer; width: 69px; height: 31px; }
.project-slider .slick-prev{background-color:#424242; left: 45%; background-image:url(../images/arrow/w-left-arrow.svg); background-repeat:no-repeat; background-size:36px; background-position: center;}	
.project-slider .slick-next{background-color:#424242;   right: 45%; background-image:url(../images/arrow/w-right-arrow.svg); background-repeat:no-repeat; background-size:36px;  right: 45%; background-position: center; }
.in_about_img{ position:relative; overflow:hidden; width:100%; height:100%;}
.in_about_img img{ width:100%;}
.in_about_overly{ width:100%; display: flex; height:100%; align-items: center;
    justify-content: center;  background:rgba(0, 0, 0, 0.6); position:absolute; top:0px; left:-100%; padding:20px;  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;}
.in_about_overly p{ margin:0px; padding:0px; text-align:center; color:#fff; display:block;}
.in_about_img:hover .in_about_overly{ left:0px;}

.mob_menu_icon i{ position:relative; width:33px; height:3px; background:var(--orange); display:inline-block;  transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -webkit-transition:all 0.3s ease 0s;}
.mob_menu_icon i:after{ position:absolute; width:33px; height:3px; content:""; background:var(--orange); left:0px; top:10px; transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -webkit-transition:all 0.3s ease 0s;}
.mob_menu_icon i:before{ position:absolute; width:33px; height:3px; content:""; background:var(--orange); left:0px; bottom:10px; transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -webkit-transition:all 0.3s ease 0s;}



/*.project_section .col-sm-6:nth-child(2n+1) .project_main_box_info a{  padding-left:40%}
.project_section .col-sm-6 .project_main_box_info a{  padding-right:20%}
.project_section .col-sm-6:nth-child(2n+2) .project_main_box_info a{  padding-right:40%}*/


.my_cpt_gallery_paginate_links {
    text-align: right; margin-top:35px;
}
.page-numbers {
       margin: 0 0 0 7px;
    display: inline-block;
background: #fff;
    cursor: pointer;
    border: 1px #424242 solid;
    border-radius: 80px;
    text-indent: -9999px; font-size:0px;
    width: 18px;
    height: 18px;
 
}
.page-numbers:hover, .my_cpt_gallery_paginate_links .current {
    background: var(--orange);
    color: #fff;
}
.my_cpt_gallery_paginate_links .prev, .my_cpt_gallery_paginate_links .next {
    display: none;
}
.content-rightlist_row strong{ margin-top:10px;}
.content-rightlist_row strong:first-child{ margin-top:0px;}
.content-rightlist_row ul li strong{ margin-top:0px;}

.cover{    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover; background-repeat:no-repeat; background-position:center center; position:relative;}

.cover a{ position:absolute; width:100%; height:100%; top:0px; left:0px;}	
.cover a img{ opacity:0;}
.project_details_top_hd{
    display: block;
    text-align: left;
        padding-top: 40px;
    padding-bottom: 40px;

}
.project_details_top_hd h1{
    margin: 0px;
    position: relative;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 30px; 
    text-transform: capitalize;
    color:#424242;
}
.project_gallery_wrp{
    /* max-width: 1150px;
    margin: auto;
    padding: 35px 15px 0 15px; */
}
.project_gallery_wrp .slick-slide {
    margin: 0 15px;
}
.project_gallery_wrp .slick-arrow{ 
    background: none;
    border: 0px;
	    top: 42%;
    font-size: 0;
    width: 29px;
    height: 29px;
    overflow: hidden;
   }
  .project_gallery_wrp .slick-next{     right: -25px;} 
  .project_gallery_wrp .slick-prev{    left: -25px;}
.project_gallery_wrp .slick-next::before {
     content: "\f105";
    font-family: 'FontAwesome';
    font-size: 37px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 28px;
  
}
.project_gallery_wrp .slick-prev::before {
    content: "\f104";
   font-family: 'FontAwesome';
    font-size: 37px;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 28px;

  
}
.project_full_img1{ height:600px; overflow:hidden;}

.how-we-work-section{ position:relative; overflow:hidden; padding: 60px 0; background:#f1f1f1;}
.how-we-work-section:after{content: ""; position: absolute; background: #424242; left: 0px; top: 0px; width: 100%; height: 47%;}
.how-we-work-section .wpr{ position:relative; z-index:1;}
.how-we-work-top h2 {margin: 0 0 20px 0; text-align:center;position: relative;padding: 15px 0 0;font-family: 'Source Sans Pro', sans-serif;font-weight: 400;
   text-transform: initial;font-size: 30px;color: #fff;}
.how-we-work-top{ text-align:center;}
.how-we-work-top h2:after { content: ""; position: absolute; top: 0px; left: 0px; margin:auto; right:0px; width: 50px; height: 4px; background: var(--orange);}
.how-we-work-top p{ color:#fff; font-family: 'Open Sans', sans-serif; font-weight:100; font-size:16px; font-style:italic;}
.how-we-work-box{ position:relative; display:flex; align-items: center; padding-top:30px;}
.how-we-work-number{ color: var(--orange); position:relative; font-family: 'Source Sans Pro', sans-serif; font-weight: 700; font-size: 68px; float:left;  width:15%; text-align: center;}
.how-we-work-img{ width:42%; overflow:hidden; position:relative;}
.how-we-work-img img{ width:100%; height:auto; border-radius:291px;}
.how-we-work-txt{ width:43%; }
.how-we-work-txt h2{font-family: 'Source Sans Pro', sans-serif;font-weight: 400; margin:0px; padding:0px; font-size: 26px;color: #fff;}
.h-w-w-list{ margin-top:10px; position:relative; padding-right:10px;}

.h-w-w-list ul{ margin:0px; padding:0px; list-style:none;}
.h-w-w-list ul li{ display:block; padding:5px 0 0 0; color:#fff; font-size:15px; font-family: 'Open Sans', sans-serif; }
.h-w-w-list ul li b{ font-weight:600; margin-right:5px;}
.how-we-work-shap{ position:absolute; top: 46%; left:-1px; width:105%;}
.how-we-work-box:nth-child(2n+1) .how-we-work-txt{ }
.how-we-work-box:nth-child(2n+1) .how-we-work-img{  padding:0 0 0 35px;}
.how-we-work-box:nth-child(2n+1) .how-we-work-img:after{ content:""; position:absolute; background:var(--orange); left:0px; top: 27%; width:1px; height:170px;}
.how-we-work-box:nth-child(2n+1) .how-we-work-number:after{ content:""; position:absolute; background:var(--orange); left:0px; top:-28px; width:3px; height:90px;}
.how-we-work-box:nth-child(2n+2) .how-we-work-txt{  padding-left:30px;}
.how-we-work-box:nth-child(2n+2) .how-we-work-img{  padding:0 35px 0 0 ;}
.how-we-work-box:nth-child(2n+2) .how-we-work-img:after{ content:""; position:absolute; background:var(--orange); right:0px; top: 27%; width:1px; height:170px;}
.how-we-work-box:nth-child(2n+2) .how-we-work-number:after{ content:""; position:absolute; background:var(--orange); right:0px; top:-28px; width:3px; height:90px;}
.how-we-work-box:nth-child(4) .h-w-w-list ul li,
.how-we-work-box:nth-child(5) .h-w-w-list ul li
{ color:#424242;}
.how-we-work-box:nth-child(4) .how-we-work-txt h2,
.how-we-work-box:nth-child(5) .how-we-work-txt h2
{ color:#424242;}
.nuber-arrow{ position:absolute; left:0px; right:0px; height:250px; width:15px; top:257px; margin:auto;}
.nuber-arrow:before{ content: ""; position: absolute; background:var(--orange); width:2px; height:100%; margin:auto; left: 0px; right:0px; bottom: 0px;}
.nuber-arrow:after{ content: "\f107"; position: absolute; font-family: 'FontAwesome'; font-size: 24px; color: var(--orange); left: 0px; display:inline-block; bottom: -9px;}
.s-hide-desktop{ display:none;}

/*----------------------- New Css Added ------------------------- */
.custom-row-flex{
    display: flex;
} 
.alin-center{
    align-items: center;
}
.full-drak-hd{
    background: var(--dark);
    padding: 35px 0;
}

.full-drak-hd h1
{ margin: 0px; position: relative; padding: 15px 0 0; font-family: 'Source Sans Pro', sans-serif; font-weight: 600; text-transform:capitalize; font-size: 40px; color: #fff;}
.full-drak-hd h1:after
{ content: ""; position: absolute; top:0px; left: 0px; width: 50px; height: 4px; background: var(--orange);}
.project-sub-list .project_main_box_info .box_in_txt{ display: none;}
.project-sub-list .project_main_box_info:hover .box_in_txt{ display: block;}
.project-sub-list .project_main_box_info a{ font-size: 20px;}
.project-sub-list .project_main_box_info a span{ display: block; line-height: 26px; margin-bottom: 7px;}
.project-sub-list .my_cpt_gallery_paginate_links{ padding:0 20px; margin-bottom: 35px;}
.mrgin-left{ margin-left: auto;}
.wpr_p_2{ padding: 0 45px;}
.awards_slider{ display: flex; flex-wrap: wrap;}
.awards_slider .item{ width: 20%; padding: 15px;}
.grid-item { width: 50%; padding: 1px; }
.contact_us_page iframe{ height: 600px !important;}
.full_header{
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.homepage-no-menu .full_header{ opacity: 0; }
.homepage-clicked .full_header{ opacity: 1; }
.home-logo-outer.loaded{
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.homepage{
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.homepage.homeloaded{
    opacity: 1;
}
@media (min-width: 320px) and (max-width: 1099px) {
    .page-template-page-home .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }	
         }
@media (min-width: 1800px) and (max-width: 1900px) {
.how-we-work-shap{top: 43%;}
.how-we-work-section::after{height: 46%;}	
	 }

@media (min-width: 767px) and (max-width: 1160px) { 

.project_full_img {
    height: auto;
    overflow: hidden;
}
}
@media (min-width: 1100px) and (max-width: 999900px) { 
.container-fluid{ padding-left:8.333333%; padding-right:8.333333%;}
}
@media (min-width: 320px) and (max-width: 767px) { 

.homemenu_icon{ display:none;}
.full_header{ z-index:999; padding: 10px 0;}
.wpr_p_2 {
    padding: 0;
}

.home .full_header { display:block;}
.logo { width: 141px;}
.mob_menu_icon{ display:block;}
.nav_menu{}
.nav_menu ul li.current_page_item a, .nav_menu ul li.current_page_ancestor a{ color:#fff;}
.nav_menu .menu-primary-menu-container{ display:none; position:relative;}
.nav_menu .menu-primary-menu-container ul{     position: fixed;
    width: 100%;
    top: 62px;
    right: 0px;
    background: var(--orange);
    height: 100%;
    text-align: center;
    padding-top: 25px;}
.nav_menu .menu-primary-menu-container ul li{ display:block; padding:0px; margin:0px;}
.showmenu .mob_menu_icon{ margin-top: -15px;}
.nav_menu .menu-primary-menu-container ul li a{ padding:8px 15px;}
.nav_menu.showmenu .menu-primary-menu-container{ display:block;}

.home-logo-inner{ width:150px; }
.wpr { width: 100%; padding: 0 15px;}
.practice_section, .main_project_top, .awards_section, .cons_arch_pro_page, .in_detail_section, .contact_us_section, .directors_section, .greysection_about, .page.type-page { padding: 40px 0;}
.practice_section h1, .main_project_top h1, .cons_arch_pro_page h1, .contact_us_section h1, h1.page-title{ font-size:34px;}
.wpr_p { padding: 0;}
.practice_top ul li:nth-child(2) { margin: 0;}
.practice_top ul li{ width:32%;}
.practice_top img{ height:45px !important;}
.project_main_box_info a {font-size: 17px;  line-height: 24px;}
.nav_menu ul li a:hover{ color: var(--dark);}
.awards_section h1,
.in_detail_section h1, .greysection_about h1, .directors_section h1
{ font-size:26px;}
.site_footer .col-sm-6{ text-align:center; padding:0px;}
.page_full_img { height: auto;}
.menu-footer-menu-container { text-align: center;}
.content-left { padding-left: 0px; padding-right: 0;}
.showmenu .mob_menu_icon i{ height:0px;}
.showmenu .mob_menu_icon i:before{transform: rotate(51deg); top: 0; bottom:inherit;  -webkit-transform: rotate(51deg); 
      -ms-transform: rotate(51deg);  
          transform: rotate(51deg);}
.showmenu .mob_menu_icon i:after{transform: rotate(131deg); top: 0; bottom:inherit;
 -webkit-transform: rotate(131deg); 
      -ms-transform: rotate(131deg);  
          transform: rotate(131deg); 

}
.project_full_img {
    height: auto;
    overflow: hidden;
}

}


@media (min-width: 320px) and (max-width: 479px) {
.awards_slider .slick-slide { margin: 0 15px; }	
.awards_slider .slick-slide .item { margin:0; width:100% !important;}
.awards_slider .slick-list{ width:78%; margin:auto;}
.project_section .col-sm-6 .project_main_box_info .box_in_txt { bottom: 20px; width: auto; left: 10%;}
.project_section .col-sm-6:nth-child(2n+1) .project_main_box_info .box_in_txt { left: 10%;}
.project_main_box_info a span { display: block; line-height: 23px; margin-bottom: 5px;}
.awards_slider .item {
    width: 50%;
    padding:15px;
}
.contact_us_page iframe{ height: 400px !important;}
.awards_slider .item:nth-child(2n+1){ padding-left: 0px;}
.awards_slider .item:nth-child(2n+2){ padding-right: 0px;}
.awards_section .slick-prev, .awards_section .slick-next { display: block !important; text-indent:-9999px; width: 37px; height: 27px; background:none; border:0px; cursor:pointer; background-size:30px;}
.awards_section .slick-prev{background-image:url(../images/arrow/o-left-arrow.svg); background-repeat:no-repeat; }
.awards_section .slick-next{background-image:url(../images/arrow/o-right-arrow.svg); background-repeat:no-repeat;}
.our_directors_box { width: 100%; height: auto; display: block;}
.in_detail_txt p, .greysection_about p { color: #fff; margin: 22px 0 0 0; padding-right: 0;}
.in_detail_txt p br, .greysection_about p br, .our_directors_text p br{ display:none;} 
.in_detail_txt{ margin-bottom:30px;}
.our_directors_text{ padding:15px;}
.our_directors_text h3{ font-size:22px;}
.our_directors_box img { width: 100%; height: auto;}
.logo_icon{ width:200px;}
.contact_info{ padding-top:30px; padding-bottom:30px;}
.social_icon ul li a img { height: 30px;}
.back_section a{ font-size:22px;}
.back_section{ padding:30px 0;}
.project-slider { height: 172px; overflow: hidden;}
.project-slider .slick-prev{left: 29%;}
.project-slider .slick-next{    right: 29%;}
.main_project_top_in p br{ display:none;}
.content-right { padding-right: 0px; padding-left: 0;}

.content-rightlist_row ul li{ display:block;}
.page_about_section .content-rightlist_row ul li{ width:100%; float:none;}
.contact-contrainer {
    min-height: 300px;
}
.project-video-section iframe{height:320px !important;}
.hide_desktop{ display:block;}
.hide_mobile{ display:none;}
.contact_left{ height:300px;}
.practice_top ul li img{ float:left;}
.practice_top ul li {    width: 100%;     line-height: 50px;    float: left; margin-bottom:15px;
    text-align: left; display:block;
}
.practice_top ul li:nth-child(2) {
   margin-bottom:25px;
}
.practice_top ul li:nth-child(3){line-height: 30px; margin-bottom:25px;  }
.practice_top ul li br{ display:none;}
.practice_top ul li img {
    height: auto !important;
    width: 68px!important;
    margin:0 20px 0 0;
}

.homemenu_icon {
    display: block;
}
.our_directors_text{    background: #424242;}
.our_directors_text{ opacity:1; position:relative; display:block;}
.our_directors_text_in{ display:block;}
.our_directors_text strong,
.our_directors_text p
{ display:none;}
.our_directors_text{ height:auto; top: inherit; bottom:0px;}
.our_directors_text h3{ color:#fff;  background-image:url(../images/arrow/w-right-arrow.svg); background-repeat:no-repeat; background-size:36px;  background-position: right; cursor:pointer;}

.our_directors_box.active .our_directors_text h3{ color: var(--orange); background-image:url(../images/div-close.png); background-repeat:no-repeat; background-size:19px;  background-position: right; cursor:pointer;}
.our_directors_text strong{ color:#fff;}
.our_directors_box.active .our_directors_text strong,
.our_directors_box.active .our_directors_text p
{ display:block;}
.our_directors_box.active .our_directors_text{ height:100%; top: inherit; bottom:0px;}


}
@media (min-width: 359px) and (max-width: 410px) {
	.project-slider .slick-next {
    right: 32%;
}
.project-slider .slick-prev {
    left: 32%;
}


}

@media (min-width: 411px) and (max-width: 479px) {
	.project-slider .slick-next {
    right: 34%;
}
.project-slider .slick-prev {
    left: 34%;
}
}

@media (min-width: 480px) and (max-width: 767px) {
.container { max-width: 100% ;}
.project_section .col-sm-6:nth-child(2n+1) .project_main_box_info .box_in_txt { left: 16%;}
.project_section .col-sm-6 .project_main_box_info .box_in_txt{ width:70%;}	
.project_main_box_info a span { display: block; line-height: 22px;}
.awards_slider .slick-slide { margin: 0 15px; }	
.awards_slider .slick-slide .item { margin:0; width:100% !important;}
.awards_slider .slick-list{ width:78%; margin:auto;}
.awards_section .slick-prev, .awards_section .slick-next { display: block !important; text-indent:-9999px; width: 37px; height: 27px; background:none; border:0px; cursor:pointer; background-size:30px;}
.awards_section .slick-prev{background-image:url(../images/arrow/o-left-arrow.svg); background-repeat:no-repeat; }
.awards_section .slick-next{background-image:url(../images/arrow/o-right-arrow.svg); background-repeat:no-repeat;}
.project_section .col-sm-6{ width:50%;}
.project_section .col-sm-6 .project_main_box_info .box_in_txt{    bottom: 14px;}
.awards_slider .item {
    width: 33.33%;
    padding:15px;
}
.contact_us_page iframe{ height: 547px !important;}
.our_directors_box { width: 100%; height: 304px; display: flex; justify-content: center;}
.in_detail_txt p, .greysection_about p { color: #fff; margin: 22px 0 0 0; padding-right: 0;}
.in_detail_txt p br, .greysection_about p br, .our_directors_text p br{ display:none;} 
.in_detail_txt{ margin-bottom:30px;}
.our_directors_text{ padding:15px;}
.our_directors_text h3{ font-size:25px;}
.our_directors_box img { width: auto; height: 100%;}
.our_directors_section .col-sm-6,
.contact_us_page .col-sm-6
{ width:50%; overflow: hidden;}
.our_directors_text p{ max-height: 177px; overflow: hidden;}
.logo_icon{ width:180px;}
.contact_info{ padding-top:30px; padding-bottom:30px;}
.social_icon { margin: 16px 0 0; padding: 16px 0 0;}
.social_icon ul li a img{ height:26px;}	
.contact_left{ display:flex; justify-content: center;}
.contact_left img{ height:100%; width:auto; }
.static_images_section .col-sm-4{ width:33.33%;}

.cons_arch_pro_list .col-sm-6{ width:50%;} 
.back_section a{ font-size:20px;}
.back_section{ padding:30px 0;}
.content-left p br{ display:none;}
.project-slider { height: 275px; overflow: hidden;}
.project-slider .slick-prev{left: 38%;}
.project-slider .slick-next{    right: 38%;}
.in_detail_section .col-sm-7{ width:70%; padding:0 15px 0 0;}
.in_detail_section .col-sm-5
{ width:30%; padding:73px 0 0 0;}
.contact-contrainer {
    min-height: 550px;
}

.our_directors_text{ opacity:1;}
.our_directors_text strong,
.our_directors_text p
{ display:none;}
.our_directors_text{ height:auto; top: inherit; bottom:0px;}
.our_directors_text h3{ color:#fff;  background-image:url(../images/arrow/w-right-arrow.svg); background-repeat:no-repeat; background-size:36px;  background-position: right; cursor:pointer;}
.our_directors_box.active .our_directors_text h3{ color: var(--orange); background-image:none;}

.our_directors_box.active .our_directors_text strong,
.our_directors_box.active .our_directors_text p
{ display:block;}
.our_directors_box.active .our_directors_text{ height:100%; top: inherit; bottom:0px;}

}
@media (min-width: 580px) and (max-width: 767px) {
.project-slider .slick-next {
    right: 40%;
}
.project-slider .slick-prev {
    left: 40%;
}
}
@media (min-width:320px) and (max-width: 567px) {
.how-we-work-section:after{ height:100%;}
.s-hide-mobile{ display:none;}
.s-hide-desktop{ display:block;}	
.how-we-work-box{ display:block;}
.how-we-work-number{ width:100%; float:left;}
.how-we-work-img,
.how-we-work-txt
{ width:100%;}
.how-we-work-number{ line-height: initial;}
.how-we-work-box:nth-child(2n+1) .how-we-work-number:after,
.how-we-work-box:nth-child(2n+2) .how-we-work-number:after,
.how-we-work-box:nth-child(2n+1) .how-we-work-img:after,
.how-we-work-box:nth-child(2n+2) .how-we-work-img:after,
.nuber-arrow
 {
   display:none;
}
.how-we-work-box:nth-child(4) .h-w-w-list ul li, .how-we-work-box:nth-child(5) .h-w-w-list ul li, .how-we-work-box:nth-child(4) .how-we-work-txt h2, .how-we-work-box:nth-child(5) .how-we-work-txt h2 {
    color: #fff;
}
.how-we-work-box:nth-child(2n+1) .how-we-work-img,
.how-we-work-box:nth-child(2n+2) .how-we-work-img 
{
    padding: 30px 0;
}
	}

@media (min-width:568px) and (max-width: 767px) {
.how-we-work-txt h2{ font-size:24px;}
.how-we-work-number{    font-size: 42px;}	
.how-we-work-box:nth-child(2n+1) .how-we-work-img {
    padding: 0 0 0 18px;
}
.how-we-work-box:nth-child(2n+2) .how-we-work-img{    padding: 0 18px 0 0;}
.how-we-work-section:after{ height:100%;}
.how-we-work-box:nth-child(4) .h-w-w-list ul li, .how-we-work-box:nth-child(5) .h-w-w-list ul li {
    color: #fff;
}
.how-we-work-box:nth-child(2n+2) .how-we-work-txt {
    padding-left: 18px;
}
.nuber-arrow{    height: 128px;     top: 233px;}
}

@media (min-width:768px) and (max-width: 991px) {
.wpr { width: 100%; margin: auto; padding:0 20px;}
.container { max-width: 100% ;}
.wpr_p { padding: 0 50px;}

.project_section .col-sm-6 .project_main_box_info .box_in_txt{ width:75%; bottom:25px;}
.project_section .col-sm-6:nth-child(2n+1) .project_main_box_info .box_in_txt { left: 14%;}
.project_main_box_info a{ font-size:17px; padding: 5%;}
.project_main_box_info a span { line-height: 25px; margin-bottom: 0px;}
.awards_slider{    margin: 0 0 0 -25px;}

.our_directors_box { width: 100%; height:220px; display: flex; justify-content: center;}
.in_detail_txt p, .greysection_about p { color: #fff; margin: 22px 0 0 0; padding-right: 0;}
.in_detail_txt p br, .greysection_about p br, .our_directors_text p br{ display:none;} 
.in_detail_txt{ margin-bottom:30px;}
.our_directors_text{ padding:15px;}
.our_directors_text h3{ font-size:22px;}
.our_directors_box img { width: auto; height: 100%;}

.logo_icon{ width:240px;}

.contact_left{ display:flex; justify-content: center;}
.contact_left img{ height: 100%; width:100%; }
.cotact_bg,
.contact_us_page .cover
{ min-height:500px;}
.project-slider { height: 410px; overflow: hidden;}
.project-slider .slick-prev{left: 42%;}
.project-slider .slick-next{right: 42%;}
.content-left p br{ display:none;}
.page-template-page-projects .project_section .col-sm-6{ flex: 0 0 100%; max-width: 100%;}
.page-template-page-projects .project_main_box{ height:auto;}	


.our_directors_text{ opacity:1;}
.our_directors_text p{    height: 87px;
    overflow: hidden;}
.our_directors_text strong,
.our_directors_text p
{ display:none;}
.our_directors_text{ height:auto; top: inherit; bottom:0px;}
.our_directors_text h3{ color:#fff; background-image:url(../images/arrow/w-right-arrow.svg); background-repeat:no-repeat; background-size:36px;  background-position: right; cursor:pointer;}
.our_directors_box.active .our_directors_text h3{ color: var(--orange); background-image:none;}

.our_directors_box.active .our_directors_text strong,
.our_directors_box.active .our_directors_text p
{ display:block;}
.our_directors_box.active .our_directors_text{ height:100%; top: inherit; bottom:0px;}
.hide_mobile{ display:none;}
.contact_us_page .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.hide_desktop{ display:block;}
.how-we-work-shap{top: 52%;}
.how-we-work-section::after{ height:52%;}
.nuber-arrow{height: 155px;}
}


@media (min-width:992px) and (max-width: 1024px) {
.project_section .col-sm-6:nth-child(2n+1) .project_main_box_info .box_in_txt {
    left: 12%;
}
.project_section .col-sm-6 .project_main_box_info .box_in_txt{width: 391px;}
.project-slider .slick-prev{ left:44%;}	
.project-slider .slick-next{ right:44%;}
.project-slider {
    height: 410px;
    overflow: hidden;
}
.our_directors_text p br{ display:none;} 
.our_directors_text p{ height:90px; overflow:hidden;}


.our_directors_text{ opacity:1; padding: 13px 30px;}
.our_directors_text p{    height: 87px;
    overflow: hidden;}
.our_directors_text strong,
.our_directors_text p
{ display:none;}
.our_directors_text{ height:auto; top: inherit; bottom:0px;}
.our_directors_text h3{ color:#fff; font-size:26px; background-image:url(../images/arrow/w-right-arrow.svg); background-repeat:no-repeat; background-size:36px;  background-position: right; cursor:pointer;}
.our_directors_box.active .our_directors_text h3{ color: var(--orange); background-image:none;}

.our_directors_box.active .our_directors_text strong,
.our_directors_box.active .our_directors_text p
{ display:block;}
.our_directors_box.active .our_directors_text{ height:100%; top: inherit; bottom:0px;}
.how-we-work-shap{top: 49%;}
.how-we-work-section:after{ height: 49.5%;}
}



	