.main-footer {
    background-color: $primary-color;
    padding: 1rem 0;

    .footer-left {
        width: 30%;
        @include breakpoint(ipad_landscape){
            width: 26%;
        }
        @include breakpoint(ipad_portrait){
            width: 100%;
            text-align: center;
            margin-top: 0.7rem;
         }

        @include breakpoint(mobile) {
            width: 100%;
            text-align: center;

        }
    }

    .footer-right {
        width: 70%;
        display: flex ;
        align-items: center;
        justify-content: flex-end;
        @include breakpoint(ipad_landscape){
            width: 74%;
        }
        @include breakpoint(ipad_portrait){
            width: 100%;
            justify-content: center;
        }
        @include breakpoint(mobile) {
            width: 100%;
            justify-content: center;
            display: block ;
        }

        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            justify-content: flex-end;
            min-height: 16px;
            @include breakpoint(mobile) {
                justify-content: center;
                margin-bottom: 0.7rem;
                min-height: inherit;
            }

            li {
                margin: 0px;
                padding: 0 1rem;
                border-left: 2px $secondary-color solid;
                @include breakpoint(ipad_landscape){
                    padding: 0 8px;   
                }
                @include breakpoint(ipad_portrait){
                    padding: 0 8px;   
                }
                @include breakpoint(mobile) {
                    padding: 0 10px;
                    border-left: 0px $secondary-color solid;
                }
               

                a {
                    color: $white;
                    display: flex;
                    font-size: 0.8rem;
                    align-items: center;
                    height: 100%;

                    i {
                        margin-right: 6px;

                        svg {
                            stroke: $white;
                            width: 25px;
                            @include breakpoint(mobile) {
                                width: 20px;
                            }
                        }
                    }

                    &:hover {
                        color: $secondary-color;

                        i {
                            svg {
                                stroke: $secondary-color;
                            }
                        }
                    }
                }
            }
            &:first-child{
                li{
                    &:first-child{
                        border: 0px;
                    }
                    
                }
            }
            @include breakpoint(mobile) {
                &:last-child{
                    li{
                        &:first-child{
                            border: 0px;
                        }
                        
                    }
                }
            }
            
        }
    }

    p {
        color: $white;
        font-size: 0.8rem;
        margin: 0px;

        a {
            color: $white;
            font-size: 0.8rem;

            &:hover {
                color: $secondary-color;
            }
        }
    }
    .hide-mobile{
        @include breakpoint(ipad_portrait){
           display: none !important;
        }
    }
    .hide-desktop{
        @include breakpoint(ipad_portrait){
           display: block !important;
        }
    }
}

.phone-svg {
    margin-top: 5px;
}

.mail-svg {
    margin-top: 7px;
}

ul.footer-social-media{
    @include breakpoint(mobile_portrait){
        flex-wrap: wrap;
    }
}