.main-header {
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    

    @include breakpoint(mobile_nav) {
        background-color: $primary-color;
    }


    .header-postion {
        position: relative;
    }

    .main-header--top {
        position: relative;

        .logo {
            position: absolute;
            top: 0px;
            left: 0px;
            padding-left: 3.2rem;

            @include breakpoint(mobile_nav) {
                position: relative;
                padding-left: 1.5rem;
            } 

            a {
                display: block;
                padding: 0 1.5rem;
                z-index: 3;

                @include breakpoint(mobile_nav) {
                    padding: 0 0.6rem;
                }

                img {
                    display: block;
                    width: 178px;
                    position: relative;
                    z-index: 2;
                    @include breakpoint(common-ipad-desktop){
                        width: 150px;
                    }
                   
                    @include breakpoint(mobile_nav) {
                        width: 85px;
                    }

                    @include breakpoint(ipad_portrait){
                        width: 105px;
                    }
                }
            }
        }

        .top-hdr-right {
            margin-left: auto;
            padding-top:33px;
            padding-right: 20px;
            @include breakpoint(common-ipad-desktop){
                padding-top:21px;
            }
            @include breakpoint(mobile_nav) {
                padding-top: 12px;
                padding-right: 0px;
            }
            @include breakpoint(ipad_portrait){
               padding-top: 20px;
            }

            .green-buy--btn {
                @include breakpoint(mobile_nav) {
                    display: none;
                }
            }
        }
    }

    .main-header--btm {
        background: $primary-color;
        padding: 11px 0 10px;

        @include breakpoint(mobile_nav) {
            display: none;
        }
    }

    .nav_menu_inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav_menu {
        width: 100%;
    }

    .nav-main {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;

            li {
                margin: 0 3rem 0 0;
                padding: 0px;
                &.menu-item-12{
                    display: none;
                    @include breakpoint(mobile_nav) {
                        display: block;
                    }
                }

                a {
                    display: block;
                    font-size: 1.1rem;
                    color: $white;
                    @include breakpoint(mobile_nav) {
                        font-size: 1.3rem;
                    }
                    @include breakpoint(mobile_landscape){
                        font-size: 1.2rem;
                    }

                    &:hover {
                        color: $secondary-color;
                        @include breakpoint(mobile_nav) {
                            color: $primary-color;
                        }
                    }

                }

                &.current-menu-item {
                    a {
                        color: $secondary-color;
                        @include breakpoint(mobile_nav) {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}

.sm-header {
    .main-header {
        background-color: $white;
        @include breakpoint(mobile_nav) {
            background-color: $primary-color;
        }
    }
}

.header-social-media {
    ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        list-style: none;
        @include breakpoint(mobile_nav) {
           justify-content: center;
        }

        li {
            margin: 0 0 0 1.5rem;
            padding: 0px;

            &:first-child {
                margin-left: 0px;
            }

            a {
                display: block;
                &.email-icon{
                    background: url("#{$assetPath}/gridfix-email-white.svg") no-repeat right center;
                    width: 34px;
                    height: 25px;
                }
                &.telephone-icon{
                    background: url("#{$assetPath}/gridfix-phone-white.svg") no-repeat right center;
                    width: 26px;
                    height: 25px;
                }
               

                &:hover {
                    &.email-icon{
                        background: url("#{$assetPath}/gridfix-email-green.svg") no-repeat right center;
                    }
                    &.telephone-icon{
                        background: url("#{$assetPath}/gridfix-phone-green.svg") no-repeat right center;
                    }
                }

            
            }
        }
    }
}

.nav__toggle {
    display: none;

    @include breakpoint(mobile_nav) {
        display: block;
    }
}

.nav__toggle {
    position: relative;
    height: 30px;
    width: 30px;
    z-index: 10;
    transition: all 0.2s;
    margin-left: 30px;
    top: 6px;
    outline: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    outline: 0;

    span,
    span::before,
    span::after {
        text-align: center;
        cursor: pointer;
        border-radius: 0px;
        height: 2px;
        width: 30px;
        background-color: $white;
        position: absolute;
        display: block;
        content: "";
        transition: all 0.2s;
        outline: 0;
    }

    span {
        // left: 3px;
        top: 15px;

        &::before {
            top: -10px;
        }

        &::after {
            bottom: -10px;
        }
    }
}

.menu-slide {
    overflow: hidden;
    height: 100%;
    .main-header{
        .main-header--btm{
            display: block;
            position: fixed;
            width: 100%;
            left: 0px;
            height: 100%;
            background: $secondary-color;
            .custom-row {
                height: 100%;
                justify-content: center;
                align-items: center;
                @include breakpoint(mobile_nav){
                    height: 90%;
                }
                @include breakpoint(mobile_landscape){
                    height: 76%;
                    overflow: auto;
                }
            }
        }
        .nav_menu_inner{
            display: block;
        }
        .nav-main{
            ul{
                display: block;
                text-align: center;
                li{
                    margin: 1.5rem 0;
                    @include breakpoint(mobile_landscape){
                        margin: 1rem 0;
                    }
                    &::first-child{
                        @include breakpoint(mobile_landscape){
                            margin-top: 0;
                        }
                    }
                }
            }
            .header-social-media{
                ul{
                    display: flex;
                    justify-content: center;
                    li{
                        margin: 0 1rem;
                    }
                }
            }
        }
    } 
    
    .nav__toggle {
        span {
            background-color: transparent;

            &::before,
            &::after {
                top: 0;
                background-color: $white;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }

        &:hover {
            span {
                background-color: transparent;

                &::before,
                &::after {
                    background-color: $white;
                }
            }
        }
    }
}

