.main-header {
    padding: 0;
    position: relative;
    height: auto;
    overflow: hidden;
    .main-header-img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        figcaption{
            display: none;
        }
        .header-image,
        figure{
            height: 100%;
        }
        img{
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
    .main-header-in{
        position: relative;
        z-index: 2;
        padding: 3rem 2rem;
        background:rgb(0 0 0 / 72%);
        
    }
    .logo {
        margin: 0px;
        padding: 0px;
        text-align: center;
        a {
            display: block;
            font-size: (2.7rem);
            @extend %m-color;
            @include breakpoint(mobile){
              font-size: (2rem);
             }
             span {
                color: $white;
                margin-left: 5px;
            }
            font-weight: 700;
        }
    }
    .search{
        margin-top: 2rem;
        text-align: center;
        .wp-block-search__label,
        .wp-block-search__button  
        {display: none;}
        input{
            border: 0px;
            margin: auto;
            padding: 1rem;
            max-width: 600px;
            width: 100%;
            @include text-size-color(1rem, $primary-text);
            background: $white;
            font-weight: 400;
            -webkit-appearance: none;
            border-radius: 4px;
            box-shadow: 0 0 26px rgb(0 0 0 / 30%);
            &:disabled {
                opacity: 0.5;
            }
        }
        
    }
    .main-nav{
        margin-top: 2rem;
        ul{
            @extend %ul-block;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li{
                margin:0 1rem;
                padding: 0px;
                @include breakpoint(mobile_landscape){
                    margin: 0.3rem 0.8rem;
                }
                @include breakpoint(mobile_portrait){
                    margin: 0.3rem 7px;
                }
                a{
                    display: block;
                    @include text-size-color(1.2rem, $primary-text);
                    &:hover{
                        color: $white;
                    }
                }
             &.current-menu-item{
                a{
                    color: $white; 
                }
             }
            }
        }
    }
}


.mid-container{
    padding-top: 1.5rem;
}