@charset "UTF-8";
/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
a,
button {
  cursor: pointer;
}

.btn-set--left {
  display: flex;
  justify-content: left;
  padding-left: 10px;
}

.btn-set--center {
  display: flex;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  justify-content: right;
}
@media (min-width: 320px) and (max-width: 767px) {
  .btn-set--right {
    justify-content: left;
    padding-left: 10px;
  }
}

.primary-btn {
  background-color: #576270;
  color: #fff;
  border: 1px #576270 solid;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  display: block;
}
.primary-btn:hover {
  background-color: #95bf32;
  color: #fff;
  border: 1px #95bf32 solid;
}

.secondary-btn {
  background-color: #95bf32;
  color: #fff;
  border: 1px #95bf32 solid;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  display: block;
}
.secondary-btn:hover {
  background-color: #576270;
  color: #fff;
  border: 1px #576270 solid;
}

.primary-outline--btn {
  background-color: transparent;
  color: #fff;
  border: 0px #576270 solid;
  padding: 0.7rem 1.7rem;
  font-size: 1.2rem;
  display: block;
  position: relative;
}
.primary-outline--btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border: 1px #576270 solid;
  background-color: transparent;
  transform: skewX(330deg) scale(1, 1);
  z-index: -1;
}
.primary-outline--btn:hover {
  color: #fff;
}
.primary-outline--btn:hover::after {
  background-color: #576270;
}

.secondary-outline--btn {
  background-color: transparent;
  background: transparent url("../img/chevron_right_white.svg") no-repeat calc(100% - 0.7rem) center;
  color: #fff;
  border: 0px #95bf32 solid;
  padding: 0.5rem 2.3rem 0.7rem 1.7rem;
  font-size: 1.2rem;
  display: block;
  position: relative;
}
.secondary-outline--btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border: 1px #95bf32 solid;
  background-color: transparent;
  transform: skewX(330deg) scale(1, 1);
  z-index: -1;
}
.secondary-outline--btn:hover {
  color: #fff;
}
.secondary-outline--btn:hover::after {
  background-color: #95bf32;
}

.wpcf7-submit {
  background-color: transparent;
  color: #fff;
  border: 0px #95bf32 solid;
  padding: 0.7rem 2.3rem;
  font-size: 1.2rem;
  display: block;
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.green-buy--btn {
  padding: 0.6rem 2rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  color: #fff;
}
.green-buy--btn i {
  width: 32px;
  margin-right: 10px;
}
@media (min-width: 991px) and (max-width: 1380px) {
  .green-buy--btn i {
    width: 24px;
  }
}
.green-buy--btn i img {
  width: 100%;
  display: block;
}
.green-buy--btn.skew-shap::after {
  background-color: #95bf32;
}
.green-buy--btn:hover {
  color: #fff;
}
.green-buy--btn.skew-shap:hover::after {
  background-color: #576270;
}

.input-submit {
  position: relative;
  display: inline-block;
}
.input-submit::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: #95bf32;
  transform: skewX(330deg) scale(1, 1);
  z-index: 1;
}
.input-submit:hover::after {
  background-color: #576270;
}
.input-submit .wpcf7-spinner {
  display: none;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background: #fff;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0px;
  font-size: 1.2rem;
  color: #576270;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

p {
  line-height: 1.6rem;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #95bf32;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

.container-fluid {
  max-width: calc(100%);
  width: calc(100% - 6rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1300px) and (max-width: 1600px) {
  .container-fluid {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container-fluid {
    width: calc(100% - 3rem);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container-fluid {
    width: calc(100% - 2rem);
  }
}

.container-lg {
  max-width: calc(100%);
  width: calc(100% - 6rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .container-lg {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container-lg {
    width: calc(100% - 3rem);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container-lg {
    width: calc(100% - 2rem);
  }
}

.container {
  max-width: calc(100%);
  width: calc(100% - 30rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1300px) and (max-width: 1600px) {
  .container {
    width: calc(100% - 12rem);
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .container {
    width: calc(100% - 10rem);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: calc(100% - 3rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container {
    width: calc(100% - 2rem);
  }
}

.container-sm {
  max-width: 1100px;
  width: calc(100% - 16rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .container-sm {
    width: calc(100% - 16rem);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container-sm {
    width: calc(100% - 6rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-sm {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-sm {
    width: calc(100% - 2rem);
  }
}

.main-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.white-bg {
  background: #fff;
}

.primary-bg {
  background: #576270;
}

.secondary-bg {
  background: #95bf32;
}

.gray-bg {
  background: #dadbde;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.hide-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hide-desktop {
    display: block;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
  .hide-mobile {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hide-mobile {
    display: none;
  }
}

.skew-shap {
  position: relative;
}
.skew-shap::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: #fff;
  transform: skewX(330deg) scale(1, 1);
  z-index: -1;
}

.desc--box p:last-child {
  margin: 0px;
}
.desc--box ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.desc--box ul li {
  position: relative;
  margin: 0 0 0.6rem 0;
  padding: 0 0 0 1.5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .desc--box ul li br {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .desc--box ul li br {
    display: none;
  }
}
.desc--box ul li::before {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0px;
  top: 9px;
  background: #95bf32;
  content: "";
  border-radius: 50px;
}

.main-container {
  min-height: 90vh;
}

.fancybox__caption {
  padding: 0px;
  margin-top: -25px;
  z-index: 21;
}

.fancybox__content::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #9d7e6f;
  height: 31px;
}

.container-pd-lr {
  padding-left: 3rem;
  padding-right: 3rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-pd-lr {
    padding-left: inherit;
    padding-right: inherit;
  }
}

.container-sm-pd-lr {
  padding-left: 5rem;
  padding-right: 5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-sm-pd-lr {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-sm-pd-lr {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-sm-pd-lr {
    padding-left: inherit;
    padding-right: inherit;
  }
}

.back-btn-box {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.back-btn-box .back-btn {
  font-size: 2rem;
}

/*Helpers Scss Files */
.input-field {
  margin-top: 2rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .input-field {
    margin-top: 1.2rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
.input-field label {
  font-size: 16px;
  color: #000;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea {
  border-width: 0px;
  border-color: #000;
  border-style: solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 100%;
  border-bottom: 1px #576270 solid;
  font-size: 1.22rem;
  color: #576270;
  background: transparent;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  -webkit-appearance: none;
  border-radius: 0;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled {
  opacity: 0.5;
}
.input-field input[type=text]::-webkit-input-placeholder,
.input-field input[type=email]::-webkit-input-placeholder,
.input-field input[type=password]::-webkit-input-placeholder,
.input-field input[type=number]::-webkit-input-placeholder,
.input-field input[type=date]::-webkit-input-placeholder,
.input-field textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 1.22rem;
  color: #576270;
  font-weight: 400;
  opacity: 0.7;
}
.input-field input[type=text]::-moz-placeholder,
.input-field input[type=email]::-moz-placeholder,
.input-field input[type=password]::-moz-placeholder,
.input-field input[type=number]::-moz-placeholder,
.input-field input[type=date]::-moz-placeholder,
.input-field textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-size: 1.22rem;
  color: #576270;
  font-weight: 400;
  opacity: 0.7;
}
.input-field input[type=text]:-ms-input-placeholder,
.input-field input[type=email]:-ms-input-placeholder,
.input-field input[type=password]:-ms-input-placeholder,
.input-field input[type=number]:-ms-input-placeholder,
.input-field input[type=date]:-ms-input-placeholder,
.input-field textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-size: 1.22rem;
  color: #576270;
  font-weight: 400;
  opacity: 0.7;
}
.input-field input[type=text]:-moz-placeholder,
.input-field input[type=email]:-moz-placeholder,
.input-field input[type=password]:-moz-placeholder,
.input-field input[type=number]:-moz-placeholder,
.input-field input[type=date]:-moz-placeholder,
.input-field textarea:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-size: 1.22rem;
  color: #576270;
  font-weight: 400;
  opacity: 0.7;
}
.input-field textarea {
  height: 126px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

.selectbox {
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  width: 100%;
  font-size: 18px;
  color: #fff;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 3.5rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 991px) and (max-width: 1380px) {
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 2.6rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 1.7rem;
  }
}

h3 {
  font-size: 1.7rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 320px) and (max-width: 767px) {
  h3 {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

/*Layout Scss Files */
.main-header {
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header {
    background-color: #576270;
  }
}
.main-header .header-postion {
  position: relative;
}
.main-header .main-header--top {
  position: relative;
}
.main-header .main-header--top .logo {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 3.2rem;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .main-header--top .logo {
    position: relative;
    padding-left: 1.5rem;
  }
}
.main-header .main-header--top .logo a {
  display: block;
  padding: 0 1.5rem;
  z-index: 3;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .main-header--top .logo a {
    padding: 0 0.6rem;
  }
}
.main-header .main-header--top .logo a img {
  display: block;
  width: 178px;
  position: relative;
  z-index: 2;
}
@media (min-width: 991px) and (max-width: 1380px) {
  .main-header .main-header--top .logo a img {
    width: 150px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .main-header--top .logo a img {
    width: 85px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-header .main-header--top .logo a img {
    width: 105px;
  }
}
.main-header .main-header--top .top-hdr-right {
  margin-left: auto;
  padding-top: 33px;
  padding-right: 20px;
}
@media (min-width: 991px) and (max-width: 1380px) {
  .main-header .main-header--top .top-hdr-right {
    padding-top: 21px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .main-header--top .top-hdr-right {
    padding-top: 12px;
    padding-right: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-header .main-header--top .top-hdr-right {
    padding-top: 20px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .main-header--top .top-hdr-right .green-buy--btn {
    display: none;
  }
}
.main-header .main-header--btm {
  background: #576270;
  padding: 11px 0 10px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .main-header--btm {
    display: none;
  }
}
.main-header .nav_menu_inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main-header .nav_menu {
  width: 100%;
}
.main-header .nav-main ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.main-header .nav-main ul li {
  margin: 0 3rem 0 0;
  padding: 0px;
}
.main-header .nav-main ul li.menu-item-12 {
  display: none;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .nav-main ul li.menu-item-12 {
    display: block;
  }
}
.main-header .nav-main ul li a {
  display: block;
  font-size: 1.1rem;
  color: #fff;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .nav-main ul li a {
    font-size: 1.3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .main-header .nav-main ul li a {
    font-size: 1.2rem;
  }
}
.main-header .nav-main ul li a:hover {
  color: #95bf32;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .nav-main ul li a:hover {
    color: #576270;
  }
}
.main-header .nav-main ul li.current-menu-item a {
  color: #95bf32;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .nav-main ul li.current-menu-item a {
    color: #576270;
  }
}

.sm-header .main-header {
  background-color: #fff;
}
@media (min-width: 320px) and (max-width: 991px) {
  .sm-header .main-header {
    background-color: #576270;
  }
}

.header-social-media ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  list-style: none;
}
@media (min-width: 320px) and (max-width: 991px) {
  .header-social-media ul {
    justify-content: center;
  }
}
.header-social-media ul li {
  margin: 0 0 0 1.5rem;
  padding: 0px;
}
.header-social-media ul li:first-child {
  margin-left: 0px;
}
.header-social-media ul li a {
  display: block;
}
.header-social-media ul li a.email-icon {
  background: url("../img/gridfix-email-white.svg") no-repeat right center;
  width: 34px;
  height: 25px;
}
.header-social-media ul li a.telephone-icon {
  background: url("../img/gridfix-phone-white.svg") no-repeat right center;
  width: 26px;
  height: 25px;
}
.header-social-media ul li a:hover.email-icon {
  background: url("../img/gridfix-email-green.svg") no-repeat right center;
}
.header-social-media ul li a:hover.telephone-icon {
  background: url("../img/gridfix-phone-green.svg") no-repeat right center;
}

.nav__toggle {
  display: none;
}
@media (min-width: 320px) and (max-width: 991px) {
  .nav__toggle {
    display: block;
  }
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 30px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  text-align: center;
  cursor: pointer;
  border-radius: 0px;
  height: 2px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.2s;
  outline: 0;
}
.nav__toggle span {
  top: 15px;
}
.nav__toggle span::before {
  top: -10px;
}
.nav__toggle span::after {
  bottom: -10px;
}

.menu-slide {
  overflow: hidden;
  height: 100%;
}
.menu-slide .main-header .main-header--btm {
  display: block;
  position: fixed;
  width: 100%;
  left: 0px;
  height: 100%;
  background: #95bf32;
}
.menu-slide .main-header .main-header--btm .custom-row {
  height: 100%;
  justify-content: center;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 991px) {
  .menu-slide .main-header .main-header--btm .custom-row {
    height: 90%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .main-header .main-header--btm .custom-row {
    height: 76%;
    overflow: auto;
  }
}
.menu-slide .main-header .nav_menu_inner {
  display: block;
}
.menu-slide .main-header .nav-main ul {
  display: block;
  text-align: center;
}
.menu-slide .main-header .nav-main ul li {
  margin: 1.5rem 0;
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .main-header .nav-main ul li {
    margin: 1rem 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .main-header .nav-main ul li::first-child {
    margin-top: 0;
  }
}
.menu-slide .main-header .nav-main .header-social-media ul {
  display: flex;
  justify-content: center;
}
.menu-slide .main-header .nav-main .header-social-media ul li {
  margin: 0 1rem;
}
.menu-slide .nav__toggle span {
  background-color: transparent;
}
.menu-slide .nav__toggle span::before, .menu-slide .nav__toggle span::after {
  top: 0;
  background-color: #fff;
}
.menu-slide .nav__toggle span::before {
  transform: rotate(45deg);
}
.menu-slide .nav__toggle span::after {
  transform: rotate(-45deg);
}
.menu-slide .nav__toggle:hover span {
  background-color: transparent;
}
.menu-slide .nav__toggle:hover span::before, .menu-slide .nav__toggle:hover span::after {
  background-color: #fff;
}

.main-footer {
  background-color: #576270;
  padding: 1rem 0;
}
.main-footer .footer-left {
  width: 30%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .footer-left {
    width: 100%;
    text-align: center;
    margin-top: 0.7rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-left {
    width: 100%;
    text-align: center;
  }
}
.main-footer .footer-right {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .footer-right {
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right {
    width: 100%;
    justify-content: center;
    display: block;
  }
}
.main-footer .footer-right ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  min-height: 16px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right ul {
    justify-content: center;
    margin-bottom: 0.7rem;
    min-height: inherit;
  }
}
.main-footer .footer-right ul li {
  margin: 0px;
  padding: 0 1rem;
  border-left: 2px #95bf32 solid;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right ul li {
    padding: 0 10px;
    border-left: 0px #95bf32 solid;
  }
}
.main-footer .footer-right ul li a {
  color: #fff;
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  height: 100%;
}
.main-footer .footer-right ul li a i {
  margin-right: 6px;
}
.main-footer .footer-right ul li a i svg {
  stroke: #fff;
  width: 25px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right ul li a i svg {
    width: 20px;
  }
}
.main-footer .footer-right ul li a:hover {
  color: #95bf32;
}
.main-footer .footer-right ul li a:hover i svg {
  stroke: #95bf32;
}
.main-footer .footer-right ul:first-child li:first-child {
  border: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right ul:last-child li:first-child {
    border: 0px;
  }
}
.main-footer p {
  color: #fff;
  font-size: 0.8rem;
  margin: 0px;
}
.main-footer p a {
  color: #fff;
  font-size: 0.8rem;
}
.main-footer p a:hover {
  color: #95bf32;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .hide-mobile {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .hide-desktop {
    display: block !important;
  }
}

.phone-svg {
  margin-top: 5px;
}

.mail-svg {
  margin-top: 7px;
}

/*Components Scss Files */
.hero--section {
  position: relative;
  overflow: hidden;
}
.hero--section img {
  width: 100%;
  display: block;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero--section img {
    width: 130%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero--section img {
    width: 150%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .hero--section img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero--section img {
    width: 100%;
  }
}
.hero--section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -35%;
  top: 0px;
  background-color: #576270;
  transform: skewX(330deg) scale(1, 1);
  mix-blend-mode: multiply;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero--section::after {
    display: none;
  }
}
.hero--section .hero-text {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 2;
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero--section .hero-text {
    position: absolute;
    top: inherit;
    height: auto;
    z-index: inherit;
    bottom: 0px;
  }
  .hero--section .hero-text .container {
    position: relative;
    z-index: 1;
  }
  .hero--section .hero-text::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: inherit;
    bottom: 0px;
    background-color: #576270;
    mix-blend-mode: multiply;
  }
}
.hero--section.hero-section--inner {
  max-height: 700px;
}
.hero--section.hero-section--inner img {
  width: 100%;
  display: block;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero--section.hero-section--inner img {
    width: 130%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero--section.hero-section--inner img {
    width: 109%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .hero--section.hero-section--inner img {
    width: 130%;
  }
}
.hero--section.hero-section--inner .hero-text {
  align-items: flex-start;
  padding-top: 14rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero--section.hero-section--inner .hero-text {
    padding-top: 16rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero--section.hero-section--inner .hero-text {
    padding-top: 9rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero--section.hero-section--inner .hero-text {
    padding-top: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero--section.hero-section--inner .hero-text .hero-text--inner {
    position: relative;
    z-index: 2;
  }
}
.hero--section .hero-text--inner {
  width: 64%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero--section .hero-text--inner {
    width: 100%;
    padding: 3rem 1rem;
  }
}
.hero--section .hero-text--inner h1 {
  margin: 0 0 2rem 0;
  padding: 0px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 1601px) and (max-width: 1699px) {
  .hero--section.home-hero--section .container {
    width: calc(100% - 21rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero--section.home-hero--section .hero-text--inner {
    padding: 3rem 0rem;
  }
}
@media (min-width: 1700px) and (max-width: 1810px) {
  .hero--section.home-hero--section .hero-text--inner {
    width: 72%;
  }
  .hero--section.home-hero--section .hero-text--inner h1 {
    font-size: 3.4rem;
  }
}
@media (min-width: 1601px) and (max-width: 1699px) {
  .hero--section.home-hero--section .hero-text--inner {
    width: 66%;
  }
  .hero--section.home-hero--section .hero-text--inner h1 {
    font-size: 3.4rem;
  }
}
@media (min-width: 1300px) and (max-width: 1470px) {
  .hero--section.home-hero--section .hero-text--inner h1 {
    font-size: 3.1rem;
  }
}
@media (min-width: 991px) and (max-width: 1024px) {
  .hero--section.home-hero--section .hero-text--inner h1 {
    font-size: 2.9rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero--section.home-hero--section .hero-text--inner h1 {
    font-size: 22px;
  }
}

.contact-info-icons {
  margin: 0px;
  padding: 0;
}
.contact-info-icons ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.contact-info-icons ul li {
  margin: 0 0 1rem 0;
  padding: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-info-icons ul li {
    margin: 0 0 0.7rem 0;
  }
}
.contact-info-icons ul li:last-child {
  margin-bottom: 0px;
}
.contact-info-icons ul li a {
  display: flex;
  align-items: center;
  color: #95bf32;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-info-icons ul li a {
    font-size: 1.2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-info-icons ul li a {
    font-size: 1rem;
  }
}
.contact-info-icons ul li a i {
  margin-right: 1rem;
}
.contact-info-icons ul li a i svg {
  width: 40px;
  stroke: #95bf32;
  stroke-width: 5px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-info-icons ul li a i svg {
    width: 30px;
  }
}
.contact-info-icons ul li a:hover {
  color: #fff;
}
.contact-info-icons ul li a:hover i svg {
  stroke: #fff;
}
.contact-info-icons ul li:first-child a i svg {
  margin-top: 8px;
}
.contact-info-icons ul li:last-child a i svg {
  margin-top: 11px;
}

.home-section--3 {
  margin-top: -93px;
  position: relative;
  z-index: 3;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-section--3 {
    margin-top: -68px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-section--3 {
    margin-top: 0px;
    padding: 3rem 0 0;
  }
}
.home-section--3 .home-section-box--3 {
  width: 33.33%;
  padding: 0 0.5rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .home-section--3 .home-section-box--3 {
    width: 250px;
    margin: auto auto 1rem auto;
  }
}
.home-section--3 .home-section-box--3 a {
  display: block;
  background-color: #95bf32;
  padding: 2rem 1rem 2.5rem 1rem;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
}
.home-section--3 .home-section-box--3 a i {
  display: block;
  width: 75%;
  margin: auto auto 2rem auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-section--3 .home-section-box--3 a i {
    width: 58%;
  }
}
.home-section--3 .home-section-box--3 a i img {
  display: block;
  width: 100%;
}
.home-section--3 .home-section-box--3 a .badge-description {
  font-size: 1.5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-section--3 .home-section-box--3 a .badge-description {
    font-size: 1.2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-section--3 .home-section-box--3 a .badge-description {
    font-size: 1.2rem;
  }
}
.home-section--3 .home-section-box--3:nth-child(2) a {
  background-color: #576270;
}

@media (min-width: 568px) and (max-width: 767px) {
  .text-img--section .container {
    width: calc(100% - 6rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-img--section .custom-row {
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .text-img--section .custom-row {
    flex-direction: column-reverse;
  }
}
.text-img--section .text-img--left {
  width: 57%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-img--section .text-img--left {
    margin: auto;
    width: calc(100% - 12rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .text-img--section .text-img--left {
    width: 100%;
  }
}
.text-img--section .text-img--left h2 {
  margin: 0px;
  padding: 0px;
}
.text-img--section .text-img--right {
  width: 43%;
  padding-left: 4%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-img--section .text-img--right {
    margin: auto;
    padding-left: 0%;
    margin-bottom: 2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .text-img--section .text-img--right {
    padding-left: 1%;
    padding-top: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .text-img--section .text-img--right {
    width: 300px;
    padding-left: 0%;
    margin: auto;
    margin-bottom: 2rem;
  }
}
.text-img--section .text-img--right img {
  max-width: 100%;
  display: block;
}

@media (min-width: 768px) and (max-width: 991px) {
  .video-ifram {
    text-align: center;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .video-ifram {
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .video-ifram {
    text-align: center;
  }
}
.video-ifram img {
  max-width: 100%;
  display: block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .video-ifram iframe {
    width: 577px !important;
    height: 392px !important;
    margin: auto;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .video-ifram iframe {
    width: 375px !important;
    height: 264px !important;
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .video-ifram iframe {
    width: 300px !important;
    height: 229px !important;
    margin: auto;
  }
}

.main-heading--section {
  padding: 15rem 0 5rem;
}
@media (min-width: 991px) and (max-width: 1380px) {
  .main-heading--section {
    padding: 13rem 0 5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-heading--section {
    padding: 9rem 0 5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-heading--section {
    padding: 7rem 0 3rem;
  }
}
.main-heading--section h1 {
  margin: 0px;
  padding: 0px;
}
.main-heading--section .desc--box p:first-child {
  margin-top: 2rem;
}
.main-heading--section .desc--box:empty {
  margin-top: 0rem;
}

.product-details--section .container-sm-pd-lr {
  max-width: 976px;
}
.product-details--section .product-details-top {
  font-weight: 600;
}
.product-details--section .product-details-top ul li {
  border-bottom: 1px #576270 solid;
  padding: 15px 0;
}

.product-details-content {
  padding-top: 1.5rem;
}
.product-details-content ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.product-details-content ul li {
  margin: 0px;
  padding: 15px 0;
  font-size: 1.2rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-details-content ul li {
    font-size: 1.1rem;
  }
}
.product-details-content ul li:nth-child(1) {
  width: 25%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-details-content ul li:nth-child(1) {
    width: 23%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .product-details-content ul li:nth-child(1) {
    width: 28%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-details-content ul li:nth-child(1) {
    width: 31%;
  }
}
.product-details-content ul li:nth-child(2) {
  width: 43.5%;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-details-content ul li:nth-child(2) {
    width: 41.5%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .product-details-content ul li:nth-child(2) {
    width: 41.5%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-details-content ul li:nth-child(2) {
    width: 39%;
  }
}
.product-details-content ul li:nth-child(3) {
  width: 31.5%;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-details-content ul li:nth-child(3) {
    width: 35.5%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .product-details-content ul li:nth-child(3) {
    width: 30.5%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-details-content ul li:nth-child(3) {
    width: 30%;
  }
}

.simple-block-section h2 {
  margin: 0 0 3rem 0;
  padding: 0px;
}
.simple-block-section img {
  max-width: 100%;
  display: block;
}

.contact-bg {
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 5rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-bg {
    padding: 2.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-bg {
    padding: 1.5rem;
  }
}

.contact-section {
  margin-top: -164px;
  position: relative;
  z-index: 5;
  padding-bottom: 6rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .contact-section {
    margin-top: -57px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section {
    margin-top: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section {
    margin-top: 0px;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.blog-card-outer {
  margin-bottom: 6rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .blog-card-outer {
    margin-bottom: 3rem;
  }
}
.blog-card-outer .desc--box {
  margin: 2rem 0;
}
.blog-card-outer .blog-cards {
  border-bottom: 1px #576270 solid;
  padding-bottom: 2rem;
}
.blog-card-outer:last-child {
  margin-bottom: 0;
}
.blog-card-outer h2 {
  margin: 0px;
  padding: 0px;
}
.blog-card-outer .btn-set--left {
  position: relative;
  z-index: 1;
}
.blog-card-outer .btn-set--left .secondary-outline--btn::after {
  background-color: #95bf32;
}
.blog-card-outer .btn-set--left .secondary-outline--btn:hover::after {
  background-color: #576270;
  border: 1px #576270 solid;
}

.where-to-buy--section .where-to-buy-hd {
  padding: 1rem 2.5rem;
  align-items: center;
  color: #fff;
  display: inline-flex;
  width: auto;
  margin: 0px;
  position: relative;
  z-index: 1;
}
@media (min-width: 320px) and (max-width: 767px) {
  .where-to-buy--section .where-to-buy-hd {
    width: 300px;
    padding: 1rem 2rem;
  }
}
.where-to-buy--section .where-to-buy-hd i {
  width: 2.8rem;
  margin-right: 1.5rem;
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .where-to-buy--section .where-to-buy-hd i {
    width: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .where-to-buy--section .where-to-buy-hd i {
    width: 2.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .where-to-buy--section .where-to-buy-hd i {
    width: 2rem;
    margin-right: 1rem;
  }
}
.where-to-buy--section .where-to-buy-hd i img {
  width: 100%;
  display: block;
}
.where-to-buy--section .where-to-buy-hd span {
  display: inline-block;
  vertical-align: middle;
}
.where-to-buy--section .where-to-buy-hd.skew-shap::after {
  background-color: #95bf32;
}
.where-to-buy--section .where-to-buy--content {
  padding: 0rem 5rem 0 5rem;
  color: #fff;
  display: flex;
  align-items: center;
  height: 82%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .where-to-buy--section .where-to-buy--content {
    padding: 0rem 3rem 0rem 0rem;
    height: 77%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .where-to-buy--section .where-to-buy--content {
    padding: 3rem 3rem 3rem 0rem;
    height: 77%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .where-to-buy--section .where-to-buy--content {
    padding: 3rem 1rem 3rem 0;
    text-align: left;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .where-to-buy--section .where-to-buy--content {
    padding: 3rem 0;
    text-align: left;
  }
}
.where-to-buy--section .desc--box {
  margin-bottom: 3rem;
  line-height: 1.6rem;
}
.where-to-buy--section .btn-set--left {
  position: relative;
  z-index: 1;
}
.where-to-buy--section .where-to-buy--left {
  width: 60%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .where-to-buy--section .where-to-buy--left {
    width: 100%;
    text-align: center;
  }
}
.where-to-buy--section .where-to-buy--map {
  width: 40%;
  padding: 2rem 0;
}
.where-to-buy--section .where-to-buy--map img {
  display: block;
  max-width: 100%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .where-to-buy--section .where-to-buy--map {
    width: 300px;
    padding: 1rem 0 3rem 0;
    margin: auto;
  }
}

.review--section {
  position: relative;
}
.review--section::before {
  position: absolute;
  right: 0;
  top: -265px;
  content: "";
  background: url("../img/top-bg.svg") no-repeat;
  width: 150px;
  height: 265px;
  mix-blend-mode: multiply;
  background-size: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .review--section::before {
    top: -178px;
    width: 100px;
    height: 200px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .review--section::before {
    display: none;
  }
}
.review--section::after {
  position: absolute;
  right: 0;
  bottom: -70px;
  content: "";
  background: url("../img/review-vector-btm.svg") no-repeat;
  width: 330px;
  height: 70px;
  mix-blend-mode: multiply;
}
@media (min-width: 768px) and (max-width: 991px) {
  .review--section::after {
    width: 300px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .review--section::after {
    display: none;
  }
}
.review--section .review--box {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 768px) and (max-width: 991px) {
  .review--section .review--box {
    font-size: 1.3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .review--section .review--box {
    font-size: 1.2rem;
  }
}
.review--section .review--box p {
  padding: 0px 6px;
  margin: 0px;
  line-height: 1.8rem;
  position: relative;
}
.review--section .review--box p::before {
  position: absolute;
  left: -5px;
  top: 0px;
  content: "“";
  font-size: 2rem;
}
.review--section .review--box p::after {
  position: absolute;
  bottom: 0px;
  content: "”";
  font-size: 2rem;
}

.get-in-touch-block h2 {
  margin: 0 0 3rem 0;
  padding: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .get-in-touch-block h2 {
    margin: 0 0 2rem 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .get-in-touch-block h2 {
    margin: 0 0 2rem 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .get-in-touch--section {
    padding-bottom: 4rem;
  }
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  color: #ffb900;
  font-weight: 300;
  font-size: 1rem;
}

.wpcf7 form.sent .wpcf7-response-output {
  color: #46b450;
  font-weight: 300;
  font-size: 1rem;
}

.wpcf7-not-valid-tip {
  font-weight: 300;
  font-size: 1rem;
}

.wpcf7-list-item {
  margin: 0;
}

.input-field label {
  color: #576270;
  font-size: 1rem;
}
.input-field label a {
  color: #95bf32;
  font-size: 1rem;
}
.input-field label a:hover {
  color: #576270;
  font-weight: 500;
}

.wpcf7 .wpcf7-submit:disabled {
  cursor: pointer !important;
}

.input-field-set {
  display: flex;
  margin-top: 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .input-field-set {
    display: block;
  }
}
.input-field-set .input-field {
  margin-top: 9px;
}
.input-field-set .input-submit-box {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .input-field-set .input-submit-box {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.wpcf7-acceptance span {
  margin-right: 21px;
}

.wpcf7-acceptance {
  position: relative;
}

.wpcf7-acceptance input::after,
.wpcf7-acceptance input:checked::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.wpcf7-acceptance input::before {
  content: "";
  background: #fff;
  width: 26px;
  height: 26px;
  position: absolute;
  left: -3px;
  top: -3px;
}

.wpcf7-acceptance input::after {
  background: url("../img/checkinput.svg") no-repeat center center;
}

.wpcf7-acceptance input:checked::after {
  background: url("../img/checkedinput.svg") no-repeat center center;
}

.post-row {
  position: relative;
}
.post-row h2 {
  margin: 0px;
  padding: 0px;
}
.post-row .desc--box {
  margin: 2rem 0;
}
@media (min-width: 320px) and (max-width: 1380px) {
  .post-row .desc--box p br {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .desc--box {
    margin-bottom: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .btn-set--right {
    margin-top: 2rem;
  }
}
.post-row .post-row--img {
  width: 50%;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-row--img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .post-row--img {
    width: 100%;
  }
}
.post-row .post-row--img img {
  width: 100%;
  display: block;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .post-row .post-row--img img {
    width: 145%;
  }
}
.post-row .post-row--content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  left: 0px;
  top: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-row--content {
    position: relative;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .post-row--content {
    position: relative;
  }
}
.post-row .post-row-content {
  width: 50%;
  padding: 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-row-content {
    width: 100%;
    padding: 3rem 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .post-row-content {
    width: 100%;
    padding: 3rem 0;
  }
}
.post-row.post-row--primary {
  background-color: #576270;
}
.post-row.post-row--primary .post-row--img {
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row.post-row--primary .post-row--img {
    margin-left: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row.post-row--primary .post-row--img {
    margin-left: 0;
  }
}
.post-row.post-row--primary .post-row-content {
  color: #fff;
  padding-left: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row.post-row--primary .post-row-content {
    padding-left: 2rem;
  }
}
.post-row.post-row--primary .post-row-content .desc--box ul li::before {
  background: #fff;
}
.post-row.post-row--secondary {
  background-color: #95bf32;
}
.post-row.post-row--secondary .post-row-content {
  margin-left: auto;
  color: #fff;
  padding-right: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row.post-row--secondary .post-row-content {
    padding-right: 2rem;
  }
}
.post-row.post-row--secondary .post-row-content .desc--box ul li::before {
  background: #fff;
}

.product-specifications--section .container-sm {
  padding-left: 10rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .product-specifications--section .container-sm {
    padding-left: 9rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-specifications--section .container-sm {
    padding-left: 0rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .product-specifications--section .container-sm {
    padding-left: 3rem;
    padding-right: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-specifications--section .container-sm {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.product-specifications--section h2 {
  margin: 0px;
  padding: 0px;
}
.product-specifications--section ul {
  margin: 3rem 0 0 0;
  padding: 0px;
  list-style: none;
}
.product-specifications--section ul li {
  width: 33.33%;
  padding: 0 1rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .product-specifications--section ul li {
    padding: 0 0.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-specifications--section ul li {
    width: 100%;
    margin-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-specifications--section ul li:last-child {
    margin-bottom: 0rem;
  }
}
.product-specifications--section ul li a {
  display: block;
  color: #576270;
}
.product-specifications--section ul li a i {
  width: 130px;
  display: block;
  margin: 0 0 1.5rem 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-specifications--section ul li a i {
    margin: auto auto 1.5rem auto;
    width: 110px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .product-specifications--section ul li a i {
    width: 80px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-specifications--section ul li a i {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}
.product-specifications--section ul li a i img {
  width: 100%;
  display: block;
}
.product-specifications--section ul li a i .hover-icon {
  display: none;
}
.product-specifications--section ul li a span {
  display: block;
  font-weight: 600;
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-specifications--section ul li a span {
    text-align: center;
  }
}
.product-specifications--section ul li a:hover i .no-hover-icon {
  display: none;
}
.product-specifications--section ul li a:hover i .hover-icon {
  display: block;
}

.installation-steps--section {
  padding: 10rem 0 6rem 0;
  overflow: hidden;
}
@media (min-width: 568px) and (max-width: 767px) {
  .installation-steps--section .container-sm {
    max-width: 450px;
  }
}
.installation-steps--section .installation-step {
  position: relative;
  margin-bottom: 11rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .installation-steps--section .installation-step {
    margin-bottom: 7rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .installation-steps--section .installation-step {
    margin-bottom: 5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .installation-steps--section .installation-step {
    margin-bottom: 6rem;
    padding-left: 2.5rem;
  }
}
.installation-steps--section .installation-step:last-child {
  margin-bottom: 0px;
}
.installation-steps--section .installation-step .step-num {
  width: 10rem;
  height: 10rem;
  background: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -5rem;
  top: -5rem;
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 991px) {
  .installation-steps--section .installation-step .step-num {
    width: 7rem;
    height: 7rem;
    left: -3rem;
    top: -3rem;
    font-size: 3.5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .installation-steps--section .installation-step .step-num {
    width: 5rem;
    height: 5rem;
    left: -2rem;
    top: -2rem;
    font-size: 2.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .installation-steps--section .installation-step .step-num {
    width: 5rem;
    height: 5rem;
    left: 0rem;
    top: -39px;
    font-size: 2.5rem;
  }
}
.installation-steps--section .installation-step .installation-step--img img {
  width: 100%;
  display: block;
}
.installation-steps--section .installation-step .step-description p {
  color: #fff;
  padding-top: 2.5rem;
  display: block;
  margin: 0px;
  font-size: 1.6rem;
  line-height: 2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .installation-steps--section .installation-step .step-description p {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .installation-steps--section .installation-step .step-description p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

.location--section .location-map img {
  max-width: 100%;
  display: block;
}
.location--section .search {
  margin-bottom: 3rem;
  width: 40%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .location--section .search {
    width: 70%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .location--section .search {
    width: 100%;
  }
}
.location--section .search form {
  display: flex;
  align-items: center;
}
.location--section .search form .input-wrapper {
  margin: 0;
  width: calc(100% - 53px);
}
.location--section .search input[type=text] {
  background: #fff;
  padding: 0.5rem;
  border: 0px;
  font-size: 1rem;
  color: #576270;
  width: calc(100% - 100px);
  -webkit-appearance: none;
  border-radius: 0;
}
.stockist--locations h2 {
  margin: 0px;
  padding: 0px;
}
.stockist--locations .stockist-locations-row {
  border-bottom: 1px #576270 solid;
  padding: 3rem 0;
}
.stockist--locations .stockist-locations-row h3 {
  margin: 0px;
  padding: 0px;
}
.stockist--locations .stockist-locations-row .btn-set--left {
  position: relative;
  z-index: 1;
}
.stockist--locations .stockist-locations-row .btn-set--left .secondary-outline--btn::after {
  background-color: #95bf32;
}
.stockist--locations .stockist-locations-row .btn-set--left .secondary-outline--btn:hover::after {
  background-color: #576270;
  border: 1px #576270 solid;
}
.stockist--locations .stockist-locations-row img {
  width: 100%;
  display: block;
}
.stockist--locations .stockist-locations-row .location-icon {
  width: 5%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .stockist--locations .stockist-locations-row .location-icon {
    display: none;
  }
}
.stockist--locations .stockist-locations-row .stockist-logo {
  width: 27%;
  padding-left: 3%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .stockist--locations .stockist-locations-row .stockist-logo {
    width: 23%;
    padding-left: 3%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .stockist--locations .stockist-locations-row .stockist-logo {
    width: 21%;
    padding-left: 2%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .stockist--locations .stockist-locations-row .stockist-logo {
    width: 100%;
    padding-left: 0%;
  }
}
.stockist--locations .stockist-locations-row .stockist-content {
  width: 45%;
  padding-left: 5%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .stockist--locations .stockist-locations-row .stockist-content {
    width: 44%;
    padding-left: 4%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .stockist--locations .stockist-locations-row .stockist-content {
    width: 41%;
    padding-left: 3%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .stockist--locations .stockist-locations-row .stockist-content {
    width: 68%;
    padding-left: 5%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .stockist--locations .stockist-locations-row .stockist-content {
    width: 100%;
    padding-left: 0%;
    margin: 1.5rem 0;
  }
}
.stockist--locations .stockist-locations-row .stockist-btn {
  width: 23%;
  padding-left: 5%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .stockist--locations .stockist-locations-row .stockist-btn {
    width: 27%;
    padding-left: 4%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .stockist--locations .stockist-locations-row .stockist-btn {
    width: 31%;
    padding-left: 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .stockist--locations .stockist-locations-row .stockist-btn {
    width: 46%;
    padding-left: 0;
    margin-left: 37%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .stockist--locations .stockist-locations-row .stockist-btn {
    width: 100%;
    padding-left: 0%;
  }
}

.pagination-block {
  margin-top: 1.5rem;
}
.pagination-block .pagination {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: end;
}
.pagination-block .pagination li {
  margin: 0 0 0 20px;
  padding: 0px;
}
.pagination-block .pagination li a,
.pagination-block .pagination li button {
  color: #576270;
  font-size: 1.2rem;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.pagination-block .pagination li span {
  color: #95bf32;
  font-size: 1.2rem;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.pagination {
  display: flex;
  justify-content: end;
  margin-top: 1.5rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .pagination {
    padding-right: 6rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pagination {
    padding-right: 2rem;
  }
}
.pagination a,
.pagination span {
  color: #576270;
  font-size: 1.2rem;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0 10px;
}
.pagination .current {
  color: #95bf32;
}
.pagination .current,
.pagination .dots {
  position: relative;
  z-index: 9;
}

/*# sourceMappingURL=global.css.map */
