.article-left-right-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint(ipad_portrait) {
        padding: 0 4rem;
    }

    @include breakpoint(mobile_landscape) {
        padding: 0 4rem;
    }

    .article-lr-image {
        width: 60%;

        @include breakpoint(ipad_portrait) {
            width: 100%;
        }

        @include breakpoint(mobile) {
            width: 100%;
        }

        img {
            width: 100%;
            display: block;
        }
    }

    .article-lr-content {
        width: 40%;
        padding-left: 5%;

        @include breakpoint(ipad_portrait) {
            width: 100%;
            padding-left: 0%;
            margin-top: 3rem;
        }

        @include breakpoint(mobile) {
            width: 100%;
            padding-left: 0%;
            margin-top: 3rem;
        }

        h2 {
            margin: 0 0 1rem 0;
            font-family: $secondaryfontfaimly;
        }
    }

    &.reverse {
        flex-direction: row-reverse;

        @include breakpoint(ipad_portrait) {
            flex-direction: row-reverse;
        }

        @include breakpoint(mobile) {
            flex-direction: row-reverse;
        }

        .article-lr-content {
            padding-left: 0px;
            padding-right: 5%;

            @include breakpoint(ipad_portrait) {
                padding-right: 0%;
            }

            @include breakpoint(mobile) {
                padding-right: 0%;
            }
        }
    }
}