.btn-set--left {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.btn-set--center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-set--right {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    @include breakpoint(mobile_portrait){
        justify-content: start;
    }
}

.primary-btn,
.secondary-btn,
.primary-outline-btn,
.secondary-outline-btn,
.white-btn,
.wpcf7-submit,
.white-outline-btn
{
    padding:0.2rem 1rem;
    font-size: $btn-font-size-base;
    display: block;
    @include border-radius(0);
    text-align: center;
    font-family: $secondaryfontfaimly;
    @include breakpoint(mobile_portrait){
        padding:0.2rem 0.4rem;
    }
}


.primary-btn {
    background-color: $primary-color;
    color: $white;
    border: 1px $primary-color solid;
    &:hover {
        background-color: $secondary-color;
        color: $white;
        border: 1px $secondary-color solid;
    }
}

.secondary-btn {
    background-color: $secondary-color;
    color: $white;
    border: 1px $secondary-color solid;
 
    &:hover
    {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}

.white-btn {
    background-color: $white;
    color: $primary-color;
    border: 0px $secondary-color solid;
    &:focus{
        color: $primary-color;
    }
    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 0px $primary-color solid;
    }
}

.primary-outline-btn {
    background-color: transparent;
    color: $secondary-color;
    border: 1px $primary-color solid;
   
    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}


.white-outline-btn {
    background-color: transparent;
    color: $white;
    border: 1px $white solid;
   
    &:hover {
    background-color: transparent;
    color: $white;
    border: 1px $white solid;
    }
}



.secondary-outline-btn {
    background-color: transparent;
    color: $secondary-color;
    border: 1px $secondary-color solid;
 
    &:hover {
        background-color: $secondary-color;
        color: $white;
        border: 1px $secondary-color solid;
    }
}

.wpcf7-submit {
    color: $white;
    border: 1px $secondary-color solid;
    background:$secondary-color url("#{$assetIconsPath}/white arrow right.svg") no-repeat calc(100% - 10px) center;
    padding-right: 31px;
    background-size: 9px;
    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}

.input-submit {
    .wpcf7-spinner {
        display: none;
    }
}
.primary-bg{
    .secondary-btn {
        &:hover,
        &:active,
        &:focus {
            background-color: $white;
            color: $secondary-color !important;
            border: 1px $primary-color solid;
            i{
                fill: $secondary-color;
            }
        }
    }
}

.primary-bg{
    .primary-btn {
        &:hover {
            background-color: $primary-color;
            color: $secondary-color;
            border: 1px $secondary-color solid;
        }
    }
}

.secondary-bg{
   .secondary-btn{
    background-color: $white;
    color: $primary-color;
    border: 1px $white solid;
    &:hover{
        background-color: $primary-color;
        color: #fff;
        border: 1px $primary-color solid;
    }
   } 
}

.white-btn{
    .download-icon{
        fill: $primary-color;
    }
    &:hover{
        .download-icon{
            fill: $white;
        } 
    }
}
