.card-row{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(ipad_portrait){
        margin-left: 0px;
        margin-right: 0px;
    }
    @include breakpoint(mobile){
        margin-left: 0px;
        margin-right: 0px;
    }
}
.card-4{
    width: 33.33%;
    padding: 0 15px;
    @include breakpoint(ipad_portrait){
        width: 100%;
        padding: 0px;
        margin-bottom: 1.5rem;
    }
    @include breakpoint(mobile){
        width: 100%;
        padding: 0px;
        margin-bottom: 1rem;
        &:last-child{
            margin-bottom: 0px;
        }
    }

}