// This list is main colors

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$black:    #000 !default;
$white:    #fff !default;

$primary-color: #e66622 ;
$secondary-color: #0086c0 ; 
$drak-secondary: #005d82;
$drak-blue: #042640;
$light-gray: #dce0e7;
$body-gray: #29292b;
$drak-gray: #3d3d3c;
$text-color: #3d3d3c;

