// font-family: 'Source Sans Pro', sans-serif;


// <link rel="preconnect" href="https://fonts.googleapis.com">
// <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
// <link href="https://fonts.googleapis.com/css2?family=Oranienbaum&family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">

@font-face {
    font-family: 'CoHeadlineW01Light';
    src: url('#{$fontsPath}/CoHeadlineW01-Light.eot');
    src: url('#{$fontsPath}/CoHeadlineW01-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsPath}/CoHeadlineW01-Light.woff2') format('woff2'),
        url('#{$fontsPath}/CoHeadlineW01-Light.woff') format('woff'),
        url('#{$fontsPath}/CoHeadlineW01-Light.ttf') format('truetype'),
        url('#{$fontsPath}/CoHeadlineW01-Light.svg#CoHeadlineW01-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CoHeadlineW08Light';
    src: url('#{$fontsPath}/CoHeadlineW08Light.eot');
    src: url('#{$fontsPath}/CoHeadlineW08Light.eot') format('embedded-opentype'),
         url('#{$fontsPath}/CoHeadlineW08Light.woff2') format('woff2'),
         url('#{$fontsPath}/CoHeadlineW08Light.woff') format('woff'),
         url('#{$fontsPath}/CoHeadlineW08Light.ttf') format('truetype'),
         url('#{$fontsPath}/CoHeadlineW08Light.svg#CoHeadlineW08Light') format('svg');
}




@font-face {
    font-family: 'CoHeadlineW01Bold';
    src: url('#{$fontsPath}/CoHeadlineW01-Bold.eot');
    src: url('#{$fontsPath}/CoHeadlineW01-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$fontsPath}/CoHeadlineW01-Bold.woff2') format('woff2'),
        url('#{$fontsPath}/CoHeadlineW01-Bold.woff') format('woff'),
        url('#{$fontsPath}/CoHeadlineW01-Bold.ttf') format('truetype'),
        url('#{$fontsPath}/CoHeadlineW01-Bold.svg#CoHeadlineW01-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
