%h1 {
    font-size: (5rem);
    line-height: 5rem;

    @include breakpoint(desktop-md) {
        font-size: (4rem);
        line-height: 4rem;
    }

    @include breakpoint(desktop-sm) {
        font-size: (4rem);
        line-height: 4rem;
    }

    @include breakpoint(ipad_landscape) {
        line-height: 3.5rem;
        font-size: (4rem);
    }

    @include breakpoint(ipad_portrait) {
        line-height: 3.4rem;
        font-size: 3rem;
    }

    @include breakpoint(mobile) {
        line-height: 2.5rem;
        font-size: (2.2rem);
    }
}

%h2 {
    font-size: (1.8rem);
    line-height: 2.2rem;

    @include breakpoint(ipad_portrait) {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    @include breakpoint(mobile) {
        font-size: (1.4rem);
    }
}

%h3 {
    font-size: (1.4rem);
}

%h4 {
    font-size: (1.1rem);
}

%h5 {
    font-size: (0.8rem);
}

%letter-spacing-scss {
    letter-spacing: 0.8px;
}

h1 {
    @extend %h1;
}

h2 {
    @extend %h2;
}

h3 {
    @extend %h3;
}

h4 {
    @extend %h4;
}

h5 {
    @extend %h5;
}