.email-white-icon{
    background: url("#{$assetIconsPath}/guud property envelope green-01.svg") no-repeat center center;
    &:hover{
        background: url("#{$assetIconsPath}/guud property envelope grey-01.svg") no-repeat center center;  
    }
}
.telephone-white-icon{
    background: url("#{$assetIconsPath}/guud property phone green-01.svg") no-repeat center center;
    &:hover{
        background: url("#{$assetIconsPath}/guud property phone grey-01.svg") no-repeat center center;
    }
}