.input-field {
    @include margin(0, 0, 1rem, 0);

    @include breakpoint(ipad_portrait) {
        @include margin(1.2rem, 0, 0, 0);
    }

    label {
        @include size-color($font-size-base, $secondary-color);
        @include margin(0px, 0, 10px, 0);
        font-weight: 100;

        a {
            color: $white;
            text-decoration: underline;

            &:hover {
                color: $primary-color;
            }
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    textarea,
    select {
        @include border(1px, $light-gray, solid);
        @include padding(10px, 10px, 10px, 10px);
        @include width(100%);
        @include size-color($font-size-base, $drak-gray);
        background: $white;
        -webkit-appearance: none;
        border-radius: 0px;
        font-family: $primaryfontfaimly;
        font-weight: 400;

        &:disabled {
            opacity: 0.5;
        }

        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder,
        &:-moz-placeholder
        {
            /* Chrome/Opera/Safari */
            font-style: normal;
            @include size-color($font-size-base, $drak-gray);
            font-family: $primaryfontfaimly;
            font-weight: 400;
            opacity: 1;
            text-transform: lowercase;
        }

        // &::-moz-placeholder {
        //     /* Firefox 19+ */
        //     font-style: normal;
        //     @include size-color($font-size-base, $drak-gray);
        //     font-family: $primaryfontfaimly;
        //     font-weight: 400;
        //     opacity: 1;
        //     text-transform: lowercase;
        // }

        // &:-ms-input-placeholder {
        //     /* IE 10+ */
        //     font-style: normal;
        //     @include size-color($font-size-base, $drak-gray);
        //     font-family: $primaryfontfaimly;
        //     font-weight: 400;
        //     opacity: 1;
        //     text-transform: lowercase;
        // }

        // &:-moz-placeholder {
        //     /* Firefox 18- */
        //     font-style: normal;
        //     @include size-color($font-size-base, $drak-gray);
        //     font-family: $primaryfontfaimly;
        //     font-weight: 400;
        //     opacity: 1;
        //     text-transform: lowercase;
        // }
    }

    textarea {
        @include height(126px);
    }
}