.mail-phone-info {
  margin: 0px;
  padding: 0px;

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
      margin: 0px;
      padding: 0px;

      &:first-child {
        margin-right: 1.5rem;

        @include breakpoint(mobile_portrait) {
          margin-right: 0;
          margin-bottom: 1.5rem;
        }
      }

      a {
        padding-left: 58px;
        color: $text-color;
        font-size: 1.4rem;
        font-family: $secondaryfontfaimly;
        font-weight: 700;
        padding-top: 12px;
        padding-bottom: 12px;

        @include breakpoint(mobile_landscape) {
          font-size: 1.2rem;
        }
        @include breakpoint(mobile_portrait) {
          font-size: 1.2rem;
        }

        &:hover {
          color: $primary-color;
        }

      }

      a[href^="tel:"] {
        background: url("#{$assetIconsPath}/phone blue.svg") no-repeat 10px center;
        background-size: 37px 40px;
        width: 49%;
        @include breakpoint(mobile_portrait) {
          background: url("#{$assetIconsPath}/phone blue.svg") no-repeat 4px center;
          background-size: 37px 40px;
        }

        @include breakpoint(mobile_portrait) {
          width: 100%;
        }


        &:hover {
          background: url("#{$assetIconsPath}/phone orange.svg") no-repeat 10px center;
          background-size: 37px 40px;
          @include breakpoint(mobile_portrait) {
            background: url("#{$assetIconsPath}/phone orange.svg") no-repeat 4px center;
            background-size: 37px 40px;
          }
        }
      }

      a[href^="mailto:"] {
        background: url("#{$assetIconsPath}/envelope blue.svg") no-repeat left center;
        background-size: 44px 32px;

        &:hover {
          background: url("#{$assetIconsPath}/envelope orange.svg") no-repeat left center;
          background-size: 44px 32px;
        }
      }

    }
  }
}