.section-heading {
    margin-bottom: 4rem;

    @include breakpoint(ipad_portrait) {
        margin-bottom: 2rem;
    }

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }

    h2 {
        margin: 0px;
        padding: 0 0 30px 0;
        position: relative;
        font-family: $secondaryfontfaimly;
        color: $text-color;

        @include breakpoint(ipad_portrait) {
            padding: 0 0 20px 0;
        }

        @include breakpoint(mobile) {
            padding: 0 0 20px 0;
        }

        &::after {
            content: '';
            position: absolute;
            width: 450px;
            height: 4px;
            left: 0px;
            bottom: 0;
            background-color: $primary-color;

            @include breakpoint(mobile_portrait) {
                width: 100%;
            }

        }
    }
}

.gradient-bg {
    .section-heading {
        h2 {
            color: $white;

            &::after {
                background-color: $white;

            }
        }
    }
}