a,
button {
  cursor: pointer;
}

// Base Font faimly

$primaryfontfaimly: 'Source Sans Pro', sans-serif;
$secondaryfontfaimly: 'CoHeadlineW08Light';

// Base font size

$font-size-base: 19px;
$font-size-base-m: 1.1rem;




// Main font size

$mainMenuFont: 1.2rem;
$mainMenuFontMob: 1.1rem;
$mainMenuSubFont: 1rem;
// Footer font size

$footerTxtFont: 1rem;


// Main line height
$line-height: 1.8rem;

// Main padding
$main-pd: 6rem;
$main-pd-md: 4.5rem;
$main-pd-sm: 3rem;

@include breakpoint(mobile){
  $main-pd: 3rem;
}

// Set Image Path
$assetPath: "../img";
$assetIconsPath: "../img/icons";
$fontsPath: "../webfonts";

// Button Font Size

$btn-font-size-base: 1rem;

%main-padding {
  padding-top: $main-pd;
    padding-bottom: $main-pd;
    @include breakpoint(ipad_portrait) {
      padding-top: $main-pd-md;
      padding-bottom: $main-pd-md;
    }
    @include breakpoint(mobile) {
        padding-top: $main-pd-sm;
        padding-bottom: $main-pd-sm;
    }
}

%main-padding-b {
    padding-bottom: $main-pd;
    @include breakpoint(mobile) {
        padding-bottom: $main-pd-sm;
    }
}

%main-padding-top {
  padding-top: 4rem;
    @include breakpoint(mobile) {
      padding-top: 4rem;
    }
}
.padding-top{
 @extend %main-padding-top; 
}

%main-padding-btm {
  padding-bottom: 4rem;
    @include breakpoint(mobile) {
      padding-bottom: 4rem;
    }
}
%hero-text{
  font-size: 24px;
  line-height: 1.8rem;
  

  @include breakpoint(mobile){
    font-size: 21px;
    line-height: 1.6rem;
  }
  
}

%font-size{
  font-size: 19px;
  @include breakpoint(mobile){
    font-size: 16px;
  }
}
%sub-hero-size{
  font-size: 2.8rem;

  @include breakpoint(mobile){
    font-size: 1.8rem;
  }
}
%sub-hd-size{
  font-size: 1.5rem;
  @include breakpoint(mobile){
    font-size: 1.4rem;
  }
}

%base-line-height{
  line-height: 1.6rem;
}

%below-hd{
  margin-top: 4rem !important;
  @include breakpoint(ipad_portrait) {
    margin-top: 3rem !important;
  }
  @include breakpoint(mobile) {
    margin-top: 3rem !important;
  }
}
%hd-bg{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 70%;
  height: 100%;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#132c3f+50,005d82+100&0.97+50,0+100 */
background: -moz-linear-gradient(left,  rgba(19,44,63,0.97) 50%, rgba(0,93,130,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(19,44,63,0.97) 50%,rgba(0,93,130,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(19,44,63,0.97) 50%,rgba(0,93,130,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7132c3f', endColorstr='#00005d82',GradientType=1 ); /* IE6-9 */

}