h1{
    font-size: 3rem;

    @include breakpoint(iPad_landscape){
        font-size: 2.5rem;
    }
    @include breakpoint(iPad){
        font-size: 2.5rem;
    }
    @include breakpoint(mobile){
        font-size: 2rem;
    }
}

h2{
    font-size: 1.8rem;
    @include breakpoint(iPad_landscape){
        font-size: 1.6rem;
    }
    @include breakpoint(mobile){
        font-size: 1.3rem;
    }
}

h3{
    font-size: 1.5rem;
    @include breakpoint(iPad_landscape){
        font-size: 1.3rem;
    }
    @include breakpoint(mobile){
        font-size: 1.1rem;
    }

}

h4{
    font-size: 1.1rem;
    @include breakpoint(iPad_landscape){
        font-size: 0.9rem;
    }
    @include breakpoint(mobile){
        font-size: 0.9rem;
    }

}

h5{
    font-size: 1rem;
    @include breakpoint(iPad_landscape){
        font-size: 0.7rem;
    }
    @include breakpoint(mobile){
        font-size: 0.7rem;
    }
}

h6{
    font-size: 15px;
}