// Global Breakpoint

@mixin breakpoint($media) {
  @if $media==big_screen {
    @media (min-width: 1601px) and (max-width: 30000px) {
      @content;
    }
  }
  @else if $media==scrn-1 {
    @media (min-width: 1500px) and (max-width: 1750px) {
      @content;
    }
  }
  @else if $media==scrn-2 {
    @media (min-width: 1400px) and (max-width: 1499px) {
      @content;
    }
  }
  @else if $media==scrn-3 {
    @media (min-width: 1300px) and (max-width: 1399px) {
      @content;
    }
  }
  @else if $media==scrn-4 {
    @media (min-width: 1025px) and (max-width: 1299px) {
      @content;
    }
  }
  @else if $media==laptop_portrait {
    @media (min-width: 1279px) and (max-width: 1350px) {
      @content;
    }
  }
  @else if $media==ipad_landscape {
    @media (min-width: 992px) and (max-width: 1024px) {
      @content;
    }
  } @else if $media==ipad_portrait {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $media==ipad {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  } @else if $media==mobile_landscape {
    @media (min-width: 568px) and (max-width: 767px) {
      @content;
    }
  } @else if $media==mobile_portrait {
    @media (min-width: 320px) and (max-width: 567px) {
      @content;
     }
  } @else if $media==mobile {
    @media (min-width: 320px) and (max-width: 767px) {
      @content;
    }
  } @else if $media==mobile_nav {
    @media (min-width: 320px) and (max-width: 1230px) {
      @content;
    }
  }
}
