.btn-set--left {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.btn-set--center {
    display: flex;
    justify-content: center;
}

.btn-set--right {
    display: flex;
    justify-content: flex-end;

    @include breakpoint(mobile) {
        justify-content: flex-start;
        padding-left: 0px;
    }
}

.primary-btn {
    @include gradient;
    color: $white;
    border: 1px rgb(255, 255, 255, 0) solid;
    padding: 0.5rem 3rem 0.5rem 1rem;
    border-radius: 50px;
    font-size: $btn-font-size-base;
    text-align: center;
    display: block;
    position: relative;
    font-family: 'MuseoSans-500';
    text-transform: uppercase;
    
   
    &::after{
        content: "";
        width: 20px;
        height: 14px;
        background: url("#{$assetPathIcons}/white arrow.svg") no-repeat center center;
        position: absolute;
        right: 1rem;
        top: 11px;
    }
    &:hover{
        background: $gray-color;
        color: $white;
        border: 1px $white solid;
        
    }

}

.secondary-btn {
    background: $white;
    color: $gray-color;
    border: 0px rgb(255, 255, 255) solid;
    padding: 0.5rem 3rem 0.5rem 1rem;
    border-radius: 50px;
    font-size: $btn-font-size-base;
    text-align: center;
    display: block;
    position: relative;
    font-family: 'MuseoSans-500';
    text-transform: uppercase;
   
    &::after{
        content: "";
        width: 20px;
        height: 14px;
        background: url("#{$assetPathIcons}/orange arrow.svg") no-repeat center center;
        position: absolute;
        right: 1rem;
        top: 11px;
    }
    &:hover{
        background: $secondary-color;
        color: $white;
    }
}



.wpcf7-submit {
    @include gradient;
    color: $white;
    border: 1px rgb(255, 255, 255) solid;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 50px;
    font-size: $btn-font-size-base;
    display: block;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-family: 'MuseoSans-500';
    text-transform: uppercase;

    
    &::after{
        content: "";
        width: 20px;
        height: 14px;
        background: url("#{$assetPathIcons}/white arrow.svg") no-repeat center center;
        position: absolute;
        right: 1rem;
        top: 11px;
    }
    &:hover{
        @include gradient2;
        
    }
}

