.common-white-txt-section{
    color: $white;
    h2{
        color: $white;  
        font-family: 'MuseoSans-500';
    }
}

.common-drak-txt-section{
    color: $secondary-color;
    h2{
        color: $secondary-color; 
        letter-spacing: $letter-spacing; 
    }
}
.primary-gradient-bg{
    .common-content-block{
        color: $white;
        h2{
            color: $white; 
            font-family: 'MuseoSans-500'; 
        }
        .desc--box {
            
            ul {
                li {
                   
                    &::before {
                        background: $white;
                    }
                }
            }
        }
    }
}

.secondary-gradient-bg{
    .common-content-block{
        color: $white;
        h2{
            color: $white;  
            font-family: 'MuseoSans-500';
        }
    } 
}

.common-primary-txt-section{
    color: $primary-color;
}
.common-secondary-txt-section{
    color: $secondary-color;
}

.common-content-btn-block{
    margin-top: 2.5rem;
   
}
.common-content-btn-block:empty{
    display: none;
}

.common-section-pd{
    padding: $main-pd 0;
    @include breakpoint(ipad_portrait){
        padding: 4rem 0;
    }
    @include breakpoint(mobile){
        padding: $main-pd-mob-p 0;
    }
}

.common-section-top-pd{
    padding-top:$main-pd ;
    @include breakpoint(ipad_portrait){
       padding-top: 4rem;
      }
    @include breakpoint(mobile){
        padding-top:$main-pd-mob-p;
    }
}

.common-section-btm-pd{
    padding-bottom:$main-pd ;
    @include breakpoint(ipad_portrait){
        padding-bottom: 4rem;
      }
    @include breakpoint(mobile){
        padding-bottom:$main-pd-mob-p;
    }
}
.details-sm-pd-lr{
    padding: 0 4rem;
    @include breakpoint(ipad_portrait){
        padding: 0 1rem;
    }
    @include breakpoint(mobile){
        padding: 0;
    }
}
.details_featured_img{
    @include breakpoint(mobile){
        margin-bottom: 3rem;
    }
   
}
.simple-content-box{
    margin-bottom: 3rem;
    &:last-child{
        margin-bottom: 0px;
    }
    h5{
        margin: 0px;
        padding: 0px;
    }
    .desc--box{
        margin-top: 1.5rem;
    }
    .simple-content-img{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem; 
        img{
            max-width: inherit;
            width: 100%;
            height: auto;
            display: block;
        }
    }

}
.simple-content-section{
    h5{
        color: $secondary-color;
        letter-spacing: $letter-spacing;
    }
}
.primary-gradient-bg,
.secondary-bg,
.secondary-gradient-bg
{
    .simple-content-box{
        h5{
            color: $white;
        }
    }  
}
