.mac {

    .primary-btn,
    .secondary-btn {
        padding: 0.8rem 3rem 0.5rem 1rem;
        align-items: baseline;

        &::after {
            top: 13px;
        }
    }
    .wpcf7-submit {
        padding: 0.8rem 1rem 0.5rem 1rem;
    }
    .input-field-set {
        .input-field {
            label {
                .acceptance-terms {
                    top: -5px;
                }
            }
        }
    }

}

.ipad {
    .input-field-set {
        .input-field {
            label {
                .acceptance-terms {
                    top: -6px;
                }
            }
        }
    }
  
    .wpcf7-submit {
        padding: 0.8rem 1rem 0.5rem 1rem;
    }
    .mobile-login-btn {
        .primary-btn {
            padding: 0.4rem 2.5rem 0.4rem 0.6rem;
            &::after {
                top: 8px;
            }
        }
    }
}

.iphone {
    .mobile-login-btn {
        .primary-btn {
            padding: 0.5rem 2.5rem 0.3rem 0.6rem;
            &::after {
                top: 8px;
            }
        }
    }

    // .input-field-set {
    //     .input-field {
    //         label {
    //             .acceptance-terms {
    //                 top: -5px;
    //             }
    //         }
    //     }
    // }

}