// font-family: 'Poppins', sans-serif;


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/30f109");

  
@font-face {font-family: 'MuseoSans-700';src: url('#{$fontsPath}/30F109_0_0.eot');src: url('#{$fontsPath}/30F109_0_0.eot?#iefix') format('embedded-opentype'),url('#{$fontsPath}/30F109_0_0.woff2') format('woff2'),url('#{$fontsPath}/30F109_0_0.woff') format('woff'),url('#{$fontsPath}/30F109_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-300';src: url('#{$fontsPath}/30F109_1_0.eot');src: url('#{$fontsPath}/30F109_1_0.eot?#iefix') format('embedded-opentype'),url('#{$fontsPath}/30F109_1_0.woff2') format('woff2'),url('#{$fontsPath}/30F109_1_0.woff') format('woff'),url('#{$fontsPath}/30F109_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-900Italic';src: url('#{$fontsPath}/30F109_2_0.eot');src: url('#{$fontsPath}/30F109_2_0.eot?#iefix') format('embedded-opentype'),url('#{$fontsPath}/30F109_2_0.woff2') format('woff2'),url('#{$fontsPath}/30F109_2_0.woff') format('woff'),url('#{$fontsPath}/30F109_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-500';src: url('#{$fontsPath}/30F109_3_0.eot');src: url('#{$fontsPath}/30F109_3_0.eot?#iefix') format('embedded-opentype'),url('#{$fontsPath}/30F109_3_0.woff2') format('woff2'),url('#{$fontsPath}/30F109_3_0.woff') format('woff'),url('#{$fontsPath}/30F109_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-100';src: url('#{$fontsPath}/30F109_4_0.eot');src: url('#{$fontsPath}/30F109_4_0.eot?#iefix') format('embedded-opentype'),url('#{$fontsPath}/30F109_4_0.woff2') format('woff2'),url('#{$fontsPath}/30F109_4_0.woff') format('woff'),url('#{$fontsPath}/30F109_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-700Italic';src: url('#{$fontsPath}/30F109_5_0.eot');src: url('#{$fontsPath}/30F109_5_0.eot?#iefix') format('embedded-opentype'),url('#{$fontsPath}/30F109_5_0.woff2') format('woff2'),url('#{$fontsPath}/30F109_5_0.woff') format('woff'),url('#{$fontsPath}/30F109_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-300Italic';src: url('#{$fontsPath}/30F109_6_0.eot');src: url('#{$fontsPath}/30F109_6_0.eot?#iefix') format('embedded-opentype'),url('#{$fontsPath}/30F109_6_0.woff2') format('woff2'),url('#{$fontsPath}/30F109_6_0.woff') format('woff'),url('#{$fontsPath}/30F109_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-100Italic';src: url('#{$fontsPath}/30F109_7_0.eot');src: url('#{$fontsPath}/30F109_7_0.eot?#iefix') format('embedded-opentype'),url('#{$fontsPath}/30F109_7_0.woff2') format('woff2'),url('#{$fontsPath}/30F109_7_0.woff') format('woff'),url('#{$fontsPath}/30F109_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-500Italic';src: url('#{$fontsPath}/30F109_8_0.eot');src: url('#{$fontsPath}/30F109_8_0.eot?#iefix') format('embedded-opentype'),url('#{$fontsPath}/30F109_8_0.woff2') format('woff2'),url('#{$fontsPath}/30F109_8_0.woff') format('woff'),url('#{$fontsPath}/30F109_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSans-900';src: url('#{$fontsPath}/30F109_9_0.eot');src: url('#{$fontsPath}/30F109_9_0.eot?#iefix') format('embedded-opentype'),url('#{$fontsPath}/30F109_9_0.woff2') format('woff2'),url('#{$fontsPath}/30F109_9_0.woff') format('woff'),url('#{$fontsPath}/30F109_9_0.ttf') format('truetype');}
