h1 {
    font-size: $h1;
    color: $primary-color;
    font-family: 'MuseoSans-700';
    @include breakpoint(scrn-3){
        font-size: $h1-laptop-p;
    }
    @include breakpoint(scrn-4){
        font-size: $h1-laptop-p;
    }
    @include breakpoint(ipad_landscape){ 
        font-size: $h1-ipad-l;
    }
    @include breakpoint(ipad_portrait){
        font-size: $h1-ipad-p;
    }
    @include breakpoint(mobile_landscape){
        font-size: $h1-mob-l;
    }
    @include breakpoint(mobile_portrait){
        font-size: $h1-mob-p;
    }
}

h2 {
    font-size: $h2;
    color: $primary-color;
    font-family: 'MuseoSans-700';
    text-transform: uppercase;
    @include breakpoint(scrn-3){
        font-size: 2rem;
      }
    @include breakpoint(scrn-4){
        font-size: $h2-laptop-p;
    }
    @include breakpoint(ipad_landscape){
        font-size: $h2-ipad-l;
    }
    @include breakpoint(ipad_portrait){
        font-size: $h2-ipad-p;
    }
    @include breakpoint(mobile_landscape){
        font-size: $h2-mob-l;
    }
    @include breakpoint(mobile_portrait){
        font-size: $h2-mob-p;
    }
}

h3 {
    font-size: $h3;
    color: $primary-color;
    font-family: 'MuseoSans-700';
    text-transform: uppercase;

    @include breakpoint(scrn-4){
        font-size: $h3-laptop-p;
    }
    @include breakpoint(ipad_landscape){
        font-size: $h3-ipad-l;
    }

    @include breakpoint(ipad_portrait){
        font-size: $h3-ipad-p;
    }
    @include breakpoint(mobile_landscape){
        font-size: $h3-mob-l;
    }
    @include breakpoint(mobile_portrait){
        font-size: $h3-mob-p;
    }
}

h4 {
    font-size: $h4;
    color: $primary-color;
    font-family: 'MuseoSans-700';

    @include breakpoint(scrn-4){
        font-size: $h4-laptop-p;
    }
    @include breakpoint(ipad_landscape){
        font-size: $h4-ipad-l;
    }
    @include breakpoint(ipad_portrait){
        font-size: $h4-ipad-p;
    }
    @include breakpoint(mobile_landscape){
        font-size: $h4-mob-l;
    }
    @include breakpoint(mobile_portrait){
        font-size: $h4-mob-p;
    }
    
}

h5{
    font-size: $h5;
    color: $primary-color;
    font-family: 'MuseoSans-700';
    
    @include breakpoint(scrn-4){
        font-size: $h5-laptop-p;
    }
    @include breakpoint(ipad_portrait){
        font-size: $h5-ipad-p;
    }
    @include breakpoint(mobile_landscape){
        font-size: $h5-mob-l;
    }
    @include breakpoint(mobile_portrait){
        font-size: $h5-mob-p;
    }
}

.hd-text-center{
    text-align: center;
}
.hd-text-left{
    text-align: left;
}
.hd-text-right{
    text-align: right;
}
.title {
    position: relative;
    display: inline-flex;
    padding: 0px;
    padding-top: 1.6rem;
    margin: 0px;
    color: $primary-color;
    &::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        width: 117px;
         height: 5px;
        background-color: $hdborder;
    }
}
