.facebook-white-icon{
    background: url("#{$assetPathIcons}/white facebook icon.svg") no-repeat center center; 
    background-size: 100%;
}
.call-white-icon{
    background: url("#{$assetPathIcons}/white call icon.svg") no-repeat center center; 
    background-size: 100%;
}
.email-white-icon{
    background: url("#{$assetPathIcons}/white email icon.svg") no-repeat center center; 
    background-size: 100%;
}
.linkedin-white-icon{
    background: url("#{$assetPathIcons}/white linkedin icon.svg") no-repeat center center; 
    background-size: 100%;
}
.map-white-icon{
    background: url("#{$assetPathIcons}/white map icon.svg") no-repeat center center; 
    background-size: 100%;
}
.telephone-white-icon{
    background: url("#{$assetPathIcons}/white phone icon.svg") no-repeat center center; 
    background-size: 100%;
}
.twitter-white-icon{
    background: url("#{$assetPathIcons}/white twitter icon.svg") no-repeat center center; 
    background-size: 100%;
}

.youtube-white-icon{
    background: url("#{$assetPathIcons}/white youtube icon.svg") no-repeat center center; 
    background-size: 100%;
}


