.input-field {
    @include margin(0, 0, 2rem, 0);
    label {
        @include size-color(16px, $black);
        @include margin(0px, 0, 10px, 0);
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    textarea {
        @include border(1px, $gray-color, solid);
        @include padding(10px, 10px, 10px, 10px);
        @include width(100%);
        @include size-color(1.1rem, $gray-color);
        background: $white;
        font-weight: 400;
        font-family: $primaryfontfaimly;
        font-weight: 400;
        -webkit-appearance: none;
        border-radius: 0;
        &:disabled {
            opacity: 0.5;
        }
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder,
        &:-moz-placeholder
        {
            /* Chrome/Opera/Safari */
            font-style: normal;
            @include size-color(1.1rem, $gray-color);
            font-weight: 400;
            opacity: 0.7;
        }
        // &::-moz-placeholder {
        //     /* Firefox 19+ */
        //     font-style: normal;
        //     @include size-color(1.1rem, $gray-color);
        //     font-weight: 400;
        //     opacity: 0.7;
        // }
        // &:-ms-input-placeholder {
        //     /* IE 10+ */
        //     font-style: normal;
        //     @include size-color(1.1rem, $gray-color);
        //     font-weight: 400;
        //     opacity: 0.7;
        // }
        // &:-moz-placeholder {
        //     /* Firefox 18- */
        //     font-style: normal;
        //     @include size-color(1.1rem, $gray-color);
        //     font-weight: 400;
        //     opacity: 0.7;
        // }
    }
    textarea {
        @include height(126px);
    }
}
