@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin width($width: auto) {
  width: $width;
}
@mixin m-p-0 {
  padding: 0px;
  margin: 0px;
}
@mixin ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
@mixin height($height: auto) {
  height: $height;
}
@mixin background($background: auto) {
  background: $background;
}

@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}
@mixin padding($top: 0, $right: 0, $bottom: 0, $left: 0) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}
@mixin box-shadow($top: 0, $left: 1px, $blur: 2px, $color: $default) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

@mixin size-color($size: 12px, $color: $white) {
  font-size: $size;
  color: $color;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box($width, $height, $background-color, $border, $radius) {
  width: $width;
  height: $height;
  background-color: $background-color;
  border-radius: $radius;
  border: $border;
}

@mixin display-inline($display, $vertical-align) {
  display: $display;
  vertical-align: $vertical-align;
}

@mixin display-flex($display, $align-items, $justify-content, $flex-wrap) {
  display: $display;
  align-items: $vertical-align;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}

@mixin border($width, $color, $type) {
  border-width: $width;
  border-color: $color;
  border-style: $type;
}

@mixin gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#df781f+0,d25824+100 */
  background: #df781f; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #df781f 0%,
    #d25824 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #df781f 0%,
    #d25824 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #df781f 0%,
    #d25824 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df781f', endColorstr='#d25824',GradientType=1 ); /* IE6-9 */
}

@mixin gradient2 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#272c3c+0,606879+100 */
  background: #272c3c; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #272c3c 0%,
    #606879 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #272c3c 0%,
    #606879 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #272c3c 0%,
    #606879 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272c3c', endColorstr='#606879',GradientType=1 ); /* IE6-9 */
}


@mixin gradient3 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#272c3c+0,606879+100 */
  background: #272c3c; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #606879 0%,
     #272c3c 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #606879 0%,
    #272c3c 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #606879 0%,
    #272c3c 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272c3c', endColorstr='#606879',GradientType=1 ); /* IE6-9 */
}
