a,
button {
  cursor: pointer;
}

// Base Font faimly

$primaryfontfaimly: "MuseoSans-300";
$secondaryfontfaimly: "MuseoSans-300";

// Base font size

$font-size-base: 1.1rem;

// Main font size
$mainMenuFont: 1rem;
$mainMenuSubFont: 1rem;

// Footer font size
$footerTxtFont: 1rem;

// Main h1 font size
$h1: 3.5rem;
$h1-laptop-p: 3rem;
$h1-ipad-l: 2.5rem;
$h1-ipad-p: 2.3rem;
$h1-mob-l: 2rem;
$h1-mob-p: 2rem;

// Main h2 font size
$h2: 2.3rem;
$h2-laptop-p: 2rem;
$h2-ipad-l: 1.9rem;
$h2-ipad-p: 1.6rem;
$h2-mob-l: 1.4rem;
$h2-mob-p: 1.4rem;

// Main h3 font size
$h3: 2rem;
$h3-laptop-p: 1.8rem;
$h3-ipad-l: 1.7rem;
$h3-ipad-p: 1.5rem;
$h3-mob-l: 1.2rem;
$h3-mob-p: 1.2rem;

// Main h4 font size
$h4: 1.7rem;
$h4-laptop-p: 1.6rem;
$h4-ipad-l: 1.5rem;
$h4-ipad-p: 1.3rem;
$h4-mob-l: 1.1rem;
$h4-mob-p: 1.1rem;

// Main h5 font size
$h5: 1.3rem;
$h5-laptop-p: 1.2rem;
$h5-ipad-p: 1.1rem;
$h5-mob-l: 1rem;
$h5-mob-p: 1rem;

// Main line height
$line-height: 1.8rem;

// Main padding
$main-pd: 6rem;
$main-pd-mob-p: 3rem;

// Set Image Path
$assetPath: "../img";
$assetPathIcons: "../img/iconset";
$fontsPath: "../webfonts";

// Button Font Size

$btn-font-size-base: 1rem;

$skewX: skewX(330deg) scale(1, 1);

$desc_lineheight:1.6rem;

$testimonialtext: 2rem;
$testimonialtext-ipad: 1.5rem;
$testimonialtext-mob: 1.4rem;
$aftretitle: 3rem;

$innerPageHeroHeight: 480px;

$mainhdleftpd:12rem;

$letter-spacing: -0.8px;
