{% block html_head_container %}
	{% include 'partial/html-header.twig' %}
{% endblock %}

<body class=" {{body_class}} preloader-show" data-template="base.twig" id="body">
	<div id="mainContainer" class="">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

		<section class="main-header" id="top-header-nav">

			<header>
				<div class="header-container-lg custom-row">
					<div class="logo" >
						<a  href="{{site.link}}">
						  <img class="logoshow" src="{{ TimberImage(contact_post.get_field('header_logo_copy')).src('src') }}" alt="logo"/>
						  <img class="logohide" src="{{ TimberImage(contact_post.get_field('header_logo')).src('src') }}" alt="logo"/>
						</a>
					</div>
					
					<button class="nav__toggle" id="navToggle">
						<span></span>
					</button>
					<div class="top-hdr-right">
						<div class="nav_menu">
							<div class="nav_menu_inner">
							 
								<nav id="nav-main" class="nav-main nav-desktop">
								{% include "menu.twig" with {'items': menu.get_items} %}
                                {# {{ function('do_shortcode', '[maxmegamenu location=primary]') }} #}
								</nav>
								<div class="header-social-media">{% include "partial/content-social.twig" %}</div>
								{# <nav id="nav-main" class="nav-main nav-responsive">
                                  	{% include "menu.twig" with {'items': menu.get_items} %}
									<div class="mobile-header-social-media">{% include "partial/content-social.twig" %}</div>
								</nav> #}
 
								
							</div>
						</div>

					</div>
				</div>


			</header>

		</section>

		

		<section class="main-container">
			<div id="content" role="main" class="content-wrapper">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
		</section>

		{% block footer %}
			<section class="main-footer">
				{% include 'partial/footer.twig' %}
			</section>
			{{ function('wp_footer') }}
		{% endblock %}
	</div>
</body></html>