{% extends "base.twig" %}

{% block content %}
	<div class="default-main-container">

		{% include "partial/content-page-hero.twig"%}

		{% include "partial/content-flexible-content.twig"%}

		<style>

			.slider {
				width: 100%;
				margin: 20px auto;
				text-align: center;
				padding: 20px;
				color: white;
			}
		</style>
		<script>

			jQuery('document').ready(function ($) {
$('.slider').slick({
autoplay: true,
autoplaySpeed: 2000,
dots: false,
arrows: true,
fade: true,
centerMode: false,
slidesToShow: 1,
slidesToScroll: 1
});
});
		</script>
		<section>

			<div class="slider">
				<div class="slide">
					<img src="https://dev.oxypay.in/groupga/wp-content/uploads/2023/08/slider-1-2000x1200.jpg" alt="" class="img-responsive"/>
					<h1>slide 1</h1>
				</div>
				<div class="slide">
					<img src="https://dev.oxypay.in/groupga/wp-content/uploads/2023/08/slider2-2000x1200.jpg" alt="" class="img-responsive"/>
					<h1>slide 2</h1>
				</div>
				<div class="slide">
					<img src="https://dev.oxypay.in/groupga/wp-content/uploads/2023/08/slider3-2000x1200.jpg" alt="" class="img-responsive"/>
					<h1>slide 3</h1>
				</div>
				<div class="slide">
					<img src="https://dev.oxypay.in/groupga/wp-content/uploads/2023/08/slider-1-2000x1200.jpg" alt="" class="img-responsive"/>
					<h1>slide 4</h1>
				</div>
				<div class="slide">
					<img src="https://dev.oxypay.in/groupga/wp-content/uploads/2023/08/slider2-2000x1200.jpg" alt="" class="img-responsive"/>
					<h1>slide 5</h1>
				</div>
			</div>


		</section>

	</div>
{% endblock %}
