{% extends "base.twig" %}
{% block content %}
	<section class="page-heading-bg">
		<div class="page-heading-bg-in">
			<div class="container-sm">
				<h1>{{blog_post.title}}</h1>
				<div class="filter-category">
					<strong>FILTER BY CATEGORY</strong>
					<ul>
						<li class="{% if news_catg_current==''%}active{% endif %}">
							<a href="{{site.link}}/news">All news</a>
						</li>

						{% for category in news_categories %}
							<li class="{% if category.slug == news_catg_current %}active{% endif %}">
								<a href="{{site.link}}/news/article/{{category.slug}}">{{category.name}}</a>
							</li>
						{% endfor %}

					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="news-list-section white-bg">
		<div class="container">
			<div class="news-list-row">
				{% for post in posts %}

					<div class="news-list-box">
						<div class="news-list-box-img">
							<a href="{{post.link}}">
								{% if post.get_field('post_thumbnail_image') %}
									<picture>
										<img typeof="foaf:Image" src="{{ TimberImage(post.get_field('post_thumbnail_image')).src('news-thumb') }}" alt="{{post.get_field('post_thumbnail_image').alt}}" title="{{post.title}}">
									</picture>

								{% elseif post.thumbnail %}
									<picture>
										<img typeof="foaf:Image" src="{{ TimberImage(post.thumbnail).src('news-thumb') }}" alt="{{post.thumbnaill.alt}}" title="{{post.title}}">
									</picture>

								{% else %}
									<img src="{{site.link}}/wp-content/uploads/2023/08/placeholder-e1691206229752.png" alt=""/>
								{% endif %}
							</a>
						</div>
						<div class="news-list-box-content">
							<h4>
								<a href="{{post.link}}">{{post.title}}</a>
							</h4>
							<div class="tags">
								{{ post.terms('category') | join(', ') }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 5, end_size: 0}) } %}

		</div>
	</section>
{% endblock %}