{% extends "base.twig" %}

{% block content %}

	<section class="splash-section">
             <div class="splash-logo" id="splashLogo">
                <img src="{{theme.link}}/assets/img/stamp for animation.svg" alt="" />
             </div>
        </section>
      

	<div class="home-page-container">

		{% include "partial/content-home-hero.twig"%}

		{% include "partial/content-flexible-content.twig"%}

		{% include "partial/content-get-in-touch.twig" %}
	</div>
	
{% endblock %}