{% extends "base.twig" %}

{% block content %}
	<div class="contact-page-template">

		{#% include "partial/content-page-hero.twig"%#}

		<section class="contact-us-page" style="background-image: url({{theme.link}}/assets/img/dummy/contact-img.jpg);">
			<div class="contact-us-page-in">
			<div class="contact-us-page-in-in">
				<h1>{{post.title|upper}}</h1>
				<div class="desc--box">
						{{post.content}}
					</div>
				<div class="contact-us-page-content">
					<ul>
						<li><a href="mailto:{{contact_post.get_field('email')}}" class="email-icon">{{contact_post.get_field('email')}}</a></li>
						<li><a href="tel:{{contact_post.get_field('telephone')}}" class="phone-icon">{{contact_post.get_field('telephone')}}</a></li>


					</ul>
				</div></div>
			</div>
		</section>


		{% include "partial/content-flexible-content.twig"%}

	</div>
{% endblock %}
