{% extends "base.twig" %}

{% block content %}

	<div class="project-page-container">

		{% include "partial/content-project-category-filter.twig"%}

		{% include "partial/content-flexible-content.twig"%}

	</div>

{% endblock %}
