{% extends "base.twig" %}

{% block content %}


	{% include "partial/content-page-hero.twig"%}

	{% include "partial/content-post-content.twig"%}

	{# {% include "partial/content-flexible-content.twig"%} #}

	{% include "partial/content-back-to-button.twig" with { url_title:'<strong>Back to</strong> news', url_link:'news'}%}


{% endblock %}
