{% extends "base.twig" %}

{% block content %}
	<div class="single-project-page-template">


		{% include "partial/content-project-category-filter.twig"%}


		{% include "partial/content-flexible-content.twig"%}

		{# {% include "partial/content-back-to-button.twig" with { url_title:'<strong>Back to</strong> Projects', url_link:'projects'}%} #}


	</div>

{% endblock %}
