/**
 * ----------------------
 * Blooberry Design
 * Helpers - Global mixins
 * ----------------------
 */

// Reset <li> elements
@mixin li-reset {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

// Remove text from elements
@mixin rm-text {
  text-align: left;
  text-indent: -9999px;
}

// Background images
@mixin bg-img($size) {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: $size;
}

// IE 9+ only
@mixin ie($property, $value) {
  @media screen and (min-width: 0\0) and (min-resolution: +72dpi) {
    #{$property}: #{$value};
  }
}

@mixin shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@mixin ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}
