.latest-update-post{
    padding: 0 0 3rem 0;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(mobile_portrait){
        padding: 0 0 1rem 0;
    }
    article{
        width: 50%;
        @include breakpoint(mobile){
            width: 100%;
        }
        &:first-child{
            padding-right: 1rem;
            @include breakpoint(mobile){
                padding-right:0rem;
            }
        }
        &:last-child{
            padding-left: 1rem;
            @include breakpoint(mobile_portrait){
                padding-left: 0rem;
                margin-top: 0rem;
            }
        }
        a{
            display: block;
            position: relative;
            picture{
                width: 100%;
                height: 400px;
                overflow: hidden;
                display: block;
                border-radius: 5px;
                @include breakpoint(ipad){
                    height: 225px;
                }
                @include breakpoint(mobile){
                    height: auto;
                }
                @include breakpoint(mobile_portrait){
                    border-radius: 5px 5px 0 0;
                }
                img{
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
            .latest-update-post-box-in{
                position: absolute;
                width: 100%;
                padding: 1rem;
                left: 0px;
                bottom: 0px;
                background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);
                @include breakpoint(mobile){
                    position: relative;
                }
                @include breakpoint(mobile_portrait){
                    background: $primary-color;
                }
                h4{
                    margin: 0px;
                    padding: 0px;
                    color: $white;
                    font-size: 1.5rem;
                    @include breakpoint(mobile_portrait){
                        font-size: 1.3rem;
                    }
                }
                span{
                    display: block;
                    color: $white;
                    margin-top: 10px;
                    @include breakpoint(mobile_portrait){
                        font-size: 14px;
                    }
                }
            }
           
        }
    }
}