.important-info{
    background: #fff;
    padding: 1rem 0;
    strong{
        color: $black;
        width: 15%;
        font-size: 14px;
    }
    p{
        margin: 0px;
        color: $black;
        font-size: 12px;
        line-height: 1rem;
    }
}

.site-welcome{
    margin-bottom: 2rem;
    h2{
        margin-bottom: 1.5rem;
    }
}
.site-hd-section{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    @include breakpoint(mobile_portrait){
      margin-bottom: 1rem;
      flex-wrap: wrap;
    }
    h3{
      @include breakpoint(mobile_portrait){
       width: 100%;
      }
    }
    .btn-primary{
        margin-left: auto;
        @include breakpoint(mobile_portrait){
         margin-left: 0;
         margin-top: 1rem;
        }
    }

}

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat&family=Oswald:wght@300&display=swap');



body {
  background: #fff;
}

.snow {
  font-size: 3em;
}

@keyframes fall {
  0% {
    top: -20%;
  }
  100% {
    top: 100%;
  }
}

.flake {
  position: fixed;
  top: -20%;
  animation: fall 10s linear infinite;
}

.flake:nth-last-of-type(0) {
  left: 0%;
  animation-delay: 0s;
  color: #71cdff;
}

.flake:nth-last-of-type(1) {
  left: 0%;
  animation-delay: 0s;
  color: #fb027f;
}

.flake:nth-last-of-type(2) {
  left: 10%;
  animation-delay: 3s;
  color: #ff99ad;
}

.flake:nth-last-of-type(3) {
  left: 20%;
  animation-delay: 5s;
  color: #40e0d0;
}

.flake:nth-last-of-type(4) {
  left: 30%;
  animation-delay: 2s;
  color: #8e1fce;
}

.flake:nth-last-of-type(5) {
  left: 40%;
  animation-delay: 1s;
  color: #b6fcd5;
}

.flake:nth-last-of-type(6) {
  left: 50%;
  animation-delay: 4s;
  color: #d49ee6;
}

.flake:nth-last-of-type(7) {
  left: 60%;
  animation-delay: 3s;
  color: #ff809f;
}

.flake:nth-last-of-type(8) {
  left: 70%;
  animation-delay: 2s;
  color: #db9bb8;
}

.flake:nth-last-of-type(9) {
  left: 80%;
  animation-delay: 0s;
  color: #930dc0;
}

.flake:nth-last-of-type(10) {
  left: 90%;
  animation-delay: 6s;
  color: #003366;
}

.flake:nth-last-of-type(11) {
  left: 3%;
  animation-delay: 6s;
  color: #fdd1a5;
}

/*# sourceMappingURL=global.css.map */


.update-post{
  padding: 2rem 0 1rem 0;
  @include breakpoint(mobile_portrait){
    padding: 1.5rem 0 0;
 }
  ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
      a{
        border: 1px $secondary-color solid;
        border-radius: 5px;
        color: $secondary-color;
        display: block;
        margin: 0 10px;
        padding: 10px 20px;
        text-transform: capitalize;
        text-align: center;
        font-size: 14px;

      }
      &.current-cat{
        a{
          border: 1px $primary-color solid;
          color: $primary-color;
        }
      }
    }
  }
}
.mobile-post-row{
  h2{
    margin: 0 0 1rem 0;
    padding: 0px;
    font-size: 1.3rem;
    color: $primary-color;
  }
}
.mobile-figure-row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  figure{
    width: 50%;
    padding: 8px;
    img{
      width: 100%;
    }
    a{
      background-color: #fff;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
      padding: 5px;
      border-radius: 5px;
      figcaption{
        font-size: 15px;
        margin-top: 5px;
      }
    }
  }
}