.wallpapershow {
    ul {
        @extend %ul-inline;
        margin-left: -1rem;
        margin-right: -1rem;

        li {
            padding: 1rem;

            a {
                display: block;
                position: relative;

                .wallpaper-img-block {
                    picture {
                        display: block;
                        width: 100%;
						

                        img {
                            width: 100%;
                            height: 100%;
                            display: block;
                            border-radius: 4px;
							    object-fit: cover;
                        }
                    }
                }

                h4 {
                    margin: 0px;
                    padding: 1rem 0;

                }
            }
        }
    }
    .figure-row{
        display: flex;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
        figure{
            padding: 1rem;
            margin: 0px;

            a {
                display: block;
                position: relative;

                picture {
                        display: block;
                        width: 100%;
						

                        img {
                            width: 100%;
                            height: 100%;
                            display: block;
                            border-radius: 4px;
							object-fit: cover;
                        }
                    }
               

                figcaption {
                    margin: 0px;
                    padding: 1rem 0;

                }
            }  
        }
    }
    &.wallpapershow-1 {
        .figure-row{
            figure{
                width: 16.6%;
                @include breakpoint(ipad_portrait){
                    width: 33.33%;
                }
                @include breakpoint(mobile_landscape){
                    width: 33.33%;
                }
                @include breakpoint(mobile_portrait){
                    width: 50%;
                } 
            }
        }
        ul {
            li {
                width: 16.6%;
                @include breakpoint(ipad_portrait){
                    width: 33.33%;
                }
                @include breakpoint(mobile_landscape){
                    width: 33.33%;
                }
                @include breakpoint(mobile_portrait){
                    width: 33.33%;
                }
            }
        }
    }

    &.wallpapershow-2 {
        ul {
            li {
                width: 25%;
                @include breakpoint(ipad_portrait){
                    width: 33.33%;
                }
                @include breakpoint(mobile_landscape){
                    width: 50%;
                }
                @include breakpoint(mobile_portrait){
                    width: 100%;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
        .figure-row{
            figure{
                width: 25%;
                @include breakpoint(ipad_portrait){
                    width: 33.33%;
                }
                @include breakpoint(mobile_landscape){
                    width: 50%;
                }
                @include breakpoint(mobile_portrait){
                    width: 100%;
                }
            }
        }
    }
    &.wallpapershow-3 {
        ul {
            li {
                width: 33.33%;
                @include breakpoint(ipad_portrait){
                    width: 33.33%;
                }
                @include breakpoint(mobile_landscape){
                    width: 50%;
                }
                @include breakpoint(mobile_portrait){
                    width: 50%;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
        .figure-row{
            figure{
                width: 33.33%;
                @include breakpoint(ipad_portrait){
                    width: 33.33%;
                }
                @include breakpoint(mobile_landscape){
                    width: 50%;
                }
                @include breakpoint(mobile_portrait){
                    width: 50%;
                }
            }
        }
    }
}

.wallpapershow-section {
    position: relative;
}

.other-page-section{
    margin: 2rem 0;
    .pagelist{
        .wpb-page-list{
           display: flex;
            margin-left: -1rem;
            margin-right: -1rem;
            flex-wrap: wrap;
            a{
                width: 25%;
                padding: 1rem;
             @include breakpoint(ipad_portrait){
                 width: 33.33%;
             }
             @include breakpoint(mobile_landscape){
                 width: 50%;
             }
             @include breakpoint(mobile_portrait){
                 width: 50%;
             }

                 div:first-child{
                     display: block;
                     width: 100%;
                     height: 250px;
                     background-color: #f1f1f1;
                     border-radius: 4px;
                     img{
                         width: 100%;
                         height: 100%;
                         display: block;
                         border-radius: 4px;
                         object-fit: cover;
                     }
                 }
                 
                 div:last-child{
                     div{
                         height: auto; 
                         background-color: transparent;
                         h4{
                             margin: 0px;
                             padding: 1rem 0;
                         }
                     }
                 }

            }
        }
    }
}

.home-page-section{
      margin:0;
    .pagelist{
        .wpb-page-list{
           display: flex;
           flex-wrap: wrap;
            margin-left: -1rem;
            margin-right: -1rem;
                a{
                   width: 25%;
                   padding: 1rem;
                @include breakpoint(ipad_portrait){
                    width: 33.33%;
                }
                @include breakpoint(mobile_landscape){
                    width: 50%;
                }
                @include breakpoint(mobile_portrait){
                    width: 50%;
                }

                    div:first-child{
                        display: block;
                        width: 100%;
                        height: 250px;
                        background-color: #f1f1f1;
                        border-radius: 4px;
                        img{
                            width: 100%;
                            height: 100%;
                            display: block;
                            border-radius: 4px;
                            object-fit: cover;
                        }
                    }
                    
                    div:last-child{
                        div{
                            height: auto; 
                            background-color: transparent;
                            h4{
                                margin: 0px;
                                padding: 1rem 0;
                            }
                        }
                    }

               }
        }
    }
}
.download-link{
    position: absolute;
    width:100% ;
    height: auto;
    left: 0;
    top: 10px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
    a{

    }
}
.acf--img,
.main--img
{
    margin-bottom: 10px;
    position: relative;
    img{
        width: 100%;
        height: auto;
        display: block;
    }
}

.details-page-info{
    h1{
        margin-bottom: 20px;
        font-size: 30px;
    }
}

.featured_post{
    ul{
        margin: 0;
        padding: 0px;
        list-style: none;
        li{
            margin: 0 0 10px;
            padding: 0px;
            position: relative;
            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
}
.tag-link-position-1{
    font-size: 15pt !important;
}

figure{
    margin: 0px;
    a{
        display: block;
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

.custom-full-img{
    figure{
        figcaption{
            display: block;
            margin-top: 1rem;
            margin-bottom: 3rem;
            
        }
    }
}
.acf--img-section{
    display: flex;
    flex-wrap: wrap;
    .acf--img{
        &:nth-child(2),
        &:nth-child(3){
            width: 50%;
            @include breakpoint(mobile_portrait){
                width: 100%;
            }
        }
        &:nth-child(2){
            padding-right: 10px;
            @include breakpoint(mobile_portrait){
                padding-right: 0px;
            }
        }
        &:nth-child(3){
            padding-left: 10px;
            @include breakpoint(mobile_portrait){
                padding-left: 0px;
            }
        }
    }
}