.btn-set--left {
    display: flex;
    justify-content: left;
}

.btn-set--center {
    display: flex;
    justify-content: center;
}

.btn-set--right {
    display: flex;
    justify-content: right;
    @include breakpoint(mobile_portrait){
        justify-content: start;
    }
}
.primary-btn,
.secondary-btn,
.primary-outline-btn,
.white-outline-btn,
.secondary-outline-btn {
    min-width: 150px;
    @include breakpoint(ipad_portrait) {
        min-width: auto;
    }
    @include breakpoint(mobile) {
        min-width: auto;
    }
}
.primary-btn {
    background-color: $primary-color;
    color: $white;
    border: 1px $primary-color solid;
    padding: 0.7rem 2.5rem;
    font-size: $btn-font-size-base;
    display: block;
    @include border-radius(100px);
    text-align: center;

    &:hover {
        background-color: $secondary-color;
        color: $white;
        border: 1px $secondary-color solid;
    }
}

.secondary-btn {
    background-color: $secondary-color;
    color: $white;
    border: 1px $secondary-color solid;
    padding: 0.7rem 2.5rem;
    font-size: $btn-font-size-base;
    display: block;
    @include border-radius(100px);
    text-align: center;
    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}

.primary-outline-btn {
    background-color: transparent;
    color: $white;
    border: 1px $primary-color solid;
    padding: 0.7rem 2.5rem;
    font-size: $btn-font-size-base;
    display: block;
    @include border-radius(100px);
    text-align: center;
    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}

.white-outline-btn {
    background-color: transparent;
    color: $white;
    border: 1px $white solid;
    padding: 0.7rem 2.5rem;
    font-size: $btn-font-size-base;
    display: block;
    @include border-radius(100px);
    text-align: center;
    &:hover {
        background-color: $white;
        color: $primary-color;
        border: 1px $white solid;
    }
}

.secondary-outline-btn {
    background-color: transparent;
    color: $secondary-color;
    border: 1px $secondary-color solid;
    padding: 0.7rem 2.5rem;
    font-size: $btn-font-size-base;
    display: block;
    @include border-radius(100px);
    text-align: center;
    &:hover {
        background-color: $secondary-color;
        color: $white;
        border: 1px $secondary-color solid;
    }
}

.wpcf7-submit {
    background-color: $secondary-color;
    color: $white;
    border: 1px $secondary-color solid;
    padding: 0.7rem 2.5rem;
    font-size: $btn-font-size-base;
    display: block;
    @include border-radius(100px);
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: $white;
        color: $primary-color;
        border: 1px $white solid;
    }
}
.contact{
    .wpcf7-submit {
        background-color: $primary-color;
        border: 1px $primary-color solid;  
        &:hover {
            background-color: $white;
            color: $primary-color;
            border: 1px $white solid;
        }
    } 
}
.input-submit {
    .wpcf7-spinner {
        display: none;
    }
}
