// This list is main colors

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$black:    #000 !default;
$white:    #fff !default;

$primary-color: #5c254f ;
$secondary-color: #72854a ; 
$drak-gray: #555864;
$light-green: #e1e3d6;
$light-gray: #f2ece8;
$light-purple-color: #df96cd ;
$author-color: #b8cb92;


