.input-field {
    @include margin(0, 0, 2rem, 0);
    @include breakpoint(ipad_portrait){
        @include margin(1.2rem, 0, 0, 0);
    }
    label {
        @include size-color($font-size-base, $white);
        @include margin(0px, 0, 10px, 0);
        font-weight: 100;
        font-family: $primaryfontfaimly;
        a{
            color: $white;
            text-decoration: underline;
            &:hover{
                color: $light-purple-color;
            }
        }
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    textarea {
        @include border(0px, $black, solid);
        @include padding(10px, 10px, 10px, 0px);
        @include width(100%);
        border-bottom: 1px $white solid;
        @include size-color($font-size-base, $white);
        background: transparent;
        -webkit-appearance: none;
        border-radius: 0;
        font-family: $primaryfontfaimly;
        font-weight: 200;
        &:disabled {
            opacity: 0.5;
        }
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-style: normal;
            @include size-color($font-size-base, $white);
            font-family: $primaryfontfaimly;
        font-weight: 200;
            opacity: 1;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            font-style: normal;
            @include size-color($font-size-base, $white);
            font-family: $primaryfontfaimly;
        font-weight: 200;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            font-style: normal;
            @include size-color($font-size-base, $white);
            font-family: $primaryfontfaimly;
            font-weight: 200;
            opacity: 1;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            font-style: normal;
            @include size-color($font-size-base, $white);
            font-family: $primaryfontfaimly;
        font-weight: 200;
            opacity: 1;
        }
    }
    textarea {
        @include height(126px);
    }
}
