a,
button {
  cursor: pointer;
}

// Base Font faimly

$primaryfontfaimly: 'Archivo', sans-serif;
$secondaryfontfaimly: 'Raleway', sans-serif;

// Base font size

$font-size-base: 17px;
$font-size-base-m: 1.1rem;



// Main font size

$mainMenuFont: 1.2rem;
$mainMenuFontMob: 1.1rem;
$mainMenuSubFont: 1rem;
// Footer font size

$footerTxtFont: 1rem;


// Main line height
$line-height: 1.8rem;

// Main padding
$main-pd: 6rem;
$main-pd-sm: 3rem;

@include breakpoint(mobile){
  $main-pd: 3rem;
}

// Set Image Path
$assetPath: "../img";
$assetIconsPath: "../img/icons";
$fontsPath: "../webfonts";

// Button Font Size

$btn-font-size-base: 14px;

%main-padding {
  padding-top: $main-pd;
    padding-bottom: $main-pd;
    @include breakpoint(mobile) {
        padding-top: $main-pd-sm;
        padding-bottom: $main-pd-sm;
    }
}

%main-padding-b {
    padding-bottom: $main-pd;
    @include breakpoint(mobile) {
        padding-bottom: $main-pd-sm;
    }
}

%main-padding-top {
  padding-top: 4rem;
    @include breakpoint(mobile) {
      padding-top: 4rem;
    }
}

%main-padding-btm {
  padding-bottom: 4rem;
    @include breakpoint(mobile) {
      padding-bottom: 4rem;
    }
}

%font-size{
  font-size: 17px;
  @include breakpoint(mobile){
    font-size: 18px;
  }
}
%sub-hero-size{
  font-size: 1.9rem;
  line-height: 2.3rem;
  letter-spacing: 0.5px;

  @include breakpoint(mobile){
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
}
%sub-hd-size{
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
  font-weight: 300;
  @include breakpoint(mobile){
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
}

%base-line-height{
  line-height: 1.4rem;
}