/**
* ----------------------
* Un.titled
* Atoms - Loader
* ----------------------
*/

/**
* Config
*/
@keyframes loaderAnimation {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

:root {
  --loaderColour: #{$green};
}

/**
* Styling
*/
.a-loader {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);
  align-self: center;
  grid-column: span 2;

  &__cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--loaderColour);
      animation: loaderAnimation 2.4s infinite linear both;
      transform-origin: 100% 100%;
    }
  }

  &__cube-2 {
    transform: scale(1.1) rotateZ(90deg);

    &::before {
      animation-delay: 0.3s;
    }
  }

  &__cube-3 {
    transform: scale(1.1) rotateZ(180deg);

    &::before {
      animation-delay: 0.6s;
    }
  }

  &__cube-4 {
    transform: scale(1.1) rotateZ(270deg);

    &::before {
      animation-delay: 0.9s;
    }
  }
}
