.back-to-section {
    padding: 3rem 0;
    @include breakpoint(mobile){
        padding: 2rem 0;
    }
    .back-to-inner {
        display: flex;
        align-items: center;
        justify-content: center; 
        a {
            color: $secondary-color;
            font-size: $back-btn-font;
            padding-left: 60px;
            background: url("#{$assetPath}/orange arrow left corner.svg") no-repeat left center;
            background-size: 2rem;
            font-family: Korb;
            @include breakpoint(ipad_portrait){
                font-size: $back-btn-font-i-p;
            }
            @include breakpoint(mobile){
                font-size: $back-btn-font-m-p;
            }
        }
    }
    &:hover {
        background: $secondary-color;
        .back-to-inner {
            a {
                color: $white;
            }
        }
    }
}
