.blog-card-outer {
    position: relative;
    margin-bottom: $main-pd;
    overflow: hidden;
    @include breakpoint(ipad_portrait) {
        margin-bottom: $ip-por-main-pd;
    }
    @include breakpoint(mobile) {
        margin-bottom: $mob-por-main-pd;
    }

    &:last-child {
        margin-bottom: 0px;
    }

    .blog-cards {
        display: flex;
        position: relative;
        @include breakpoint(mobile) {
            flex-wrap: wrap;
        }
        
        .blog-card-img {
            width: 50%;
            @include breakpoint(mobile) {
                width: 100%;
            }

            a {
                display: block;
                img {
                    display: block;
                    width: 100%;
                    height: auto;

                    @include breakpoint(ipad_portrait) {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            img {
                display: block;
                width: 100%;
                height: auto;
                @include breakpoint(ipad_portrait) {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .blog-card-content {
            width: 50%;
            @include breakpoint(mobile) {
                width: 100%;
            }
            h2 {
                @include m-p-0;
                color: $secondary-color;
                @include breakpoint(mobile) {
                    margin-top: 1.5rem;
                }
            }
            .blog-card-txt {
                margin: 1.5rem 0;
                @include breakpoint(ipad_portrait) {
                    margin: 1rem 0;
                }
                @include breakpoint(mobile) {
                    margin: 1rem 0;
                }
                p {
                    &:last-child {
                        margin: 0px;
                    }
                }
            }
        }
    }
    &.blog-card-outer-left {
        .blog-cards {
            flex-direction: row-reverse;

            .blog-card-content {
                padding-right: 7%;
                @include breakpoint(mobile) {
                    padding-right: 0%;
                }
            }
        }
    }
    &.blog-card-outer-right {
        .blog-card-content {
            padding-left: 7%;
            @include breakpoint(mobile) {
                padding-left: 0%;
            }
        }
    }
}
