.case-studies-section {
    overflow: hidden;
    h2 {
        margin: 0px;
        padding: 0px;
        color: $secondary-color;
    }
    .line-hd {
        margin-bottom: 3rem;
        &::before {
            width: 34%;
        }
    }
    .case-studies-row {
        display: flex;
        @include breakpoint(ipad_portrait) {
            display: block;
        }
        @include breakpoint(mobile) {
            display: block;
         }


        .case-studies-col {
            width: 50%;
            padding: 0 15px;
            @include breakpoint(ipad_portrait) {
                width: 480px;
                padding: 0px;
                margin: auto;
            }
            @include breakpoint(mobile) {
                width: auto;
                max-width: 480px;
                padding: 0px;
                margin: auto;
            }
            ul {
                @include ul;

                li {
                    width: 100%;
                    padding-bottom: 15px;
                    padding-top: 15px;

                    .case-studies-box {
                        position: relative;
                        width: 100%;
                        background-color: transparent;
                        min-height: 270px;
                        @include breakpoint(ipad_portrait) {
                            min-height: 261px;
                        }
                        
                        @include breakpoint(mobile) {
                            min-height: 261px;
                        }
                        .case-studies-img {
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: auto;
                                display: block;
                            }
                        }
                        .case-studies-content {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: $drak-overly;
                            left: 0px;
                            top: 0px;
                            a {
                                display: block;
                                padding: 2.5rem;
                                width: 100%;
                                height: 100%;
                                position: relative;
                                @include breakpoint(ipad_portrait) {
                                    padding: 1rem;
                                 }
                                @include breakpoint(mobile) {
                                   padding: 1rem;
                                }
                                .north-east-white-arrow {
                                    display: none;
                                }

                                h4 {
                                    margin: 0px;
                                    padding: 1.5rem;
                                    color: $white;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0px;
                                    @include breakpoint(ipad_portrait) {
                                        padding: 1rem;
                                     }
                                    @include breakpoint(mobile) {
                                        padding: 1rem;
                                     }
                                }
                            }
                        }
                        &:hover {
                            .case-studies-content {
                                background: transparent;
                                a {
                                    .north-east-white-arrow {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                    &.view-all-card {
                        .case-studies-box {
                            background-color: $primary-color;
                            min-height: 270px;
                            @include breakpoint(ipad_portrait) {
                                min-height: 363px;
                            }
                            
                            @include breakpoint(mobile) {
                                min-height: 261px;
                            }
                            .case-studies-content {
                                background: transparent;
                                a {
                                    .north-east-white-arrow {
                                        display: block;
                                    }
                                    h5 {
                                        margin: 0px;
                                        padding: 1.5rem;
                                        color: $white;
                                        position: absolute;
                                        bottom: 0;
                                        left: 0px;
                                        font-weight: 400;
                                        font-size: 1.1rem;
                                        color: $white;
                                        @include breakpoint(ipad_portrait) {
                                            padding: 1rem;
                                         }
                                        @include breakpoint(mobile) {
                                            padding: 1rem;
                                         }
                                    }
                                }
                            }
                            &:hover {
                                background-color: $secondary-color;
                            }
                        }
                    }
                }
            }
        }
        .case-studies-col-left {
            ul {
                li {
                    &:nth-child(2n + 1) {
                        .case-studies-box {
                            width: 70%;
                            margin-left: auto;
                            @include breakpoint(ipad_portrait) {
                                width: 100%;
                                margin-left: 0;
                            }
                            @include breakpoint(mobile) {
                                width: 100%;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
        .case-studies-col-right {
            padding-top: 7rem;
            @include breakpoint(ipad_portrait) {
                padding-top: 0rem;
            }
            @include breakpoint(mobile) {
                padding-top: 0rem;
            }
            ul {
                li {
                    &:nth-child(2n + 2) {
                        .case-studies-box {
                            width: 70%;
                            @include breakpoint(ipad_portrait) {
                                width: 100%;
                            }
                            @include breakpoint(mobile) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
