.client-logo-section {
    h2 {
        margin: 0px;
        padding: 0 0 0 113px;
        color: $white;
        @include breakpoint(mobile_landscape) {
            padding-left: 0px;
         }
        @include breakpoint(mobile_portrait) {
           padding-left: 0px;
        }
    }
    .client-logo-row {
        margin-top: 2rem;
        ul {
            @include ul;
            display: flex;
            flex-wrap: wrap;
            li {
                width: 25%;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 198px;
                @include breakpoint(ipad_portrait){
                    min-height: 113px;
                }
                @include breakpoint(mobile_landscape) {
                    width: 25%;
                    min-height: 112px;
                 }
                @include breakpoint(mobile_portrait) {
                    width: 50%;
                    min-height: 112px;
                 }
                img {
                    height: 111px;
                    width: auto;
                    @include breakpoint(ipad_landscape){
                        height: 70px;
                    }
                    @include breakpoint(ipad_portrait){
                        height: 55px;
                    }
                    @include breakpoint(mobile_landscape) {
                        height: 58px;
                        width: auto;
                        max-width: 100%;
                     }
                    @include breakpoint(mobile_portrait) {
                        height: 58px;
                        width: auto;
                        max-width: 100%;
                     }
                }
            }
        }
    }
}
