.get-touch-section {
    h2 {
        margin: 0px;
        padding: 0;
        text-align: center;
        color: $white;
    }
    .get-touch-btns {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        @include breakpoint(mobile_landscape) {
            flex-wrap: wrap;
         }
        @include breakpoint(mobile_portrait) {
           flex-wrap: wrap;
        }
        a {
            width: 35%;
            font-family: "HelveticaNeueLTPro-Md";
            font-size: 1.4rem;
            text-align: center;
            @include breakpoint(ipad_portrait){
                width: 50%;
            }
            @include breakpoint(mobile_landscape) {
                width: 51%;
             }
            @include breakpoint(mobile_portrait) {
                width: 300px;
             }
            &:nth-child(1) {
                margin-right: 30px;
                @include breakpoint(ipad_portrait){
                    margin-right: 15px;
                }
                @include breakpoint(mobile_landscape) {
                    margin-right: 0px;
                    margin-bottom: 2rem;
                 }
                @include breakpoint(mobile_portrait) {
                    margin-right: 0px;
                    margin-bottom: 1.5rem;
                 }
            }
            &:nth-child(2) {
                margin-left: 30px;
                @include breakpoint(ipad_portrait){
                    margin-left: 15px;
                }
                @include breakpoint(mobile_landscape) {
                    margin-left: 0px;
                 }
                @include breakpoint(mobile_portrait) {
                    margin-left: 0px;
                 }
            }
        }
    }
}
