.img-gallery {
    h2 {
        margin: 0px;
        padding: 0 0 4rem 0;
        color: $secondary-color;
        @include breakpoint(mobile_landscape) {
            padding: 0 0 2rem 0;
        }
        @include breakpoint(mobile_portrait) {
            padding: 0 0 2rem 0;
        }
    }
    ul {
        @include ul;
        display: flex;
        flex-wrap: wrap;
        li {
            width: 31%;
            margin-right: 2%;
            margin-bottom: 2%;
            overflow: hidden;
            @include breakpoint(mobile_landscape) {
                
            }
            @include breakpoint(mobile_portrait) {
                width: 47%;
                margin-right: 3%;
                margin-bottom: 3%;
            }
            &:last-child {
                margin-right: 0px;
            }
            a {
                display: block;
                
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    transition: transform 1s;
                }
                &:hover{ 
                    img{
                        -ms-transform: $scaleEffect; /* IE 9 */
                        -webkit-transform:$scaleEffect; /* Safari 3-8 */
                        transform: $scaleEffect;
                    }
                }

            }
        }
    }
}
