.img-text-card-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: $main-pd;
    @include breakpoint(ipad_portrait) {
        margin-bottom: $ip-por-main-pd;
        flex-wrap: wrap;
    }
    @include breakpoint(mobile) {
        margin-bottom: $mob-por-main-pd;
        
    }
    @include breakpoint(mobile) {
        flex-wrap: wrap;
    }
    &:last-child {
        margin-bottom: 0;
    }

    .img-text-card-img {
        width: 50%;
        @include breakpoint(ipad_portrait) {
            width: 100%;
        }
        @include breakpoint(mobile) {
            width: 100%;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .img-text-card-content {
        width: 50%;
        padding-right: 2rem;
        @include breakpoint(ipad_portrait) {
            padding-right: 0rem;
            width: 100%;
            margin-top: 2rem;
        }
        @include breakpoint(mobile) {
            padding-right: 0rem;
            width: 100%;
            margin-top: 2rem;
        }
        h3 {
            margin: 0px;
            padding: 0;
            color: $secondary-color;
            text-transform: capitalize;
        }
        .img-text-card-txt {
            margin: 2rem 0 0 0;
            @include breakpoint(mobile_landscape) {
                margin: 1rem 0 0 0;
            }
            @include breakpoint(mobile_portrait) {
                margin: 1rem 0 0 0;
            }
            p {
                &:last-child {
                    margin: 0px;
                }
            }
        }
    }
    &.img-text-card-left {
        flex-direction: row-reverse;
        @include breakpoint(ipad_portrait) {
            flex-direction: column;
        }
        @include breakpoint(mobile) {
            flex-direction: column;
        }
        .img-text-card-img {
            padding-left: 3%;
            @include breakpoint(ipad_portrait) {
                padding-left: 0;
            }
            @include breakpoint(mobile) {
                padding-left: 0;
            }
        }
    }
    &.img-text-card-right {
        .img-text-card-img {
            padding-right: 3%;
            @include breakpoint(mobile) {
                padding-right: 0;
            }
            @include breakpoint(ipad_portrait) {
                padding-right: 0;
            }
        }
        .img-text-card-content {
            padding-right: 0rem;
            padding-left: 2rem;
            @include breakpoint(ipad_portrait) {
                padding-left: 0;
            }
            @include breakpoint(mobile) {
                padding-left: 0;
            }
        }
    }
}



.ul-col {
    margin: 2rem 0 0 0;
    padding: 0;
    ul {
        @include ul;
        li {
            position: relative;
            margin: 0 0 15px 0;
            padding: 0 15px 0 35px;
            
            &::after {
                width: $liDots;
                height: $liDots;
                position: absolute;
                left: 0px;
                top: 5px;
                content: "";
                border-radius: 50px;
                background: $primary-color;
            }
        }
    }
    &.ul-col-2 {
        .ul-column-wrapper {
            display: flex;
            flex-wrap: wrap;
            ul {
                width: 50%;
                @include breakpoint(mobile_portrait) {
                    width: 100%;
                }
                li {
                }
            }
        }
    }
}
.text-block,
.page-content-txt {
    ul {
        @include ul;
        li {
            position: relative;
            margin: 0 0 15px 0;
            padding: 0 15px 0 35px;
            &::after {
                width: $liDots;
                height: $liDots;
                position: absolute;
                left: 0px;
                top: 5px;
                content: "";
                border-radius: 50px;
                background: $primary-color;
            }
        }
    }
}

@include breakpoint(mobile) {
    br{
        display: none;
    }
}
