.manufacture-resources-section {
    h2 {
        margin: 0px;
        padding: 0;
        color: $secondary-color;
    }
    .man-res-row {
        margin: 4rem 0 0 0;
        @include breakpoint(mobile_landscape) {
            padding: 0 ;
            margin: 2rem 0 0 0;
        }
        @include breakpoint(mobile_portrait) {
            padding: 0 ;
            margin: 2rem 0 0 0;
        }
        ul {
            @include ul;
            display: flex;
            @include breakpoint(mobile_portrait) {
                flex-wrap: wrap;
            }
            li {
                width: 33%;
                @include breakpoint(mobile_portrait) {
                    width: 100%;
                    margin-top: 1rem;
                }

                a {
                    display: block;
                    text-align: center;
                    padding: 1.5rem;
                    i {
                        display: inline-block;
                        width: 90px;
                        margin-right: 87px;
                        @include breakpoint(mobile_landscape) {
                            width: 70px;
                        }
                        @include breakpoint(mobile_portrait) {
                           margin-right: 0;
                        }
                        img {
                            width: 100%;
                            height: auto;
                            display: block;
                        }
                    }
                    span {
                        display: block;
                        font-size: 1rem;
                        padding: 1.2rem 0 0 0;
                        text-align: right;
                        color: $secondary-color;
                        text-transform: uppercase;
                        @include breakpoint(mobile_portrait) {
                            text-align: center;
                         }
                    }
                    &:hover{
                        background: $secondary-color;
                        span{
                            color: $white; 
                        }
                    }
                }
            }
        }
    }
}
