.more-info-section {
    position: relative;
    overflow: hidden;
    color: $white;
   
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }
    .more-info-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img{
            width: auto;
            height: 100%;
            object-fit: cover;
        }
    }
    .more-info-inner {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        z-index: 2;
        padding: $main-pd 0;
        @include breakpoint(ipad_portrait){
            padding: $ip-por-main-pd 0;
        }
        @include breakpoint(mobile_landscape) {
            padding: $mob-lnd-main-pd 0;
        }
        @include breakpoint(mobile_portrait){
            padding: $mob-por-main-pd 0;
        }
        .more-info-box {
            padding: 5rem 3.5rem;
            background-image: url("#{$assetPath}/white arrow right corner.svg");
            background-repeat: no-repeat;
            background-position: calc(100% - 2rem) 2rem;
            background-size: 2rem;
            @include breakpoint(mobile){
                padding: 5rem 1.5rem;
            }
            &:hover{
                background-image: url("#{$assetPath}/white arrow right corner.svg");
                background-color: $secondary-color;  
            }
            h2 {
                margin: 0px;
                padding: 0px;
                color: $white;
                text-align: center;
                a {
                    color: $white;
                    text-align: center;
                    display: block;
                }
            }
        }
    }
}
