.page-hero-section {
    margin: 0px;
    width: 100%;
    position: relative;
    min-height: 53.75rem;
    overflow: hidden;
    @include breakpoint(mobile_landscape) {
        min-height: 15.625rem;
    }
    @include breakpoint(mobile_portrait) {
        min-height: 15.625rem;
    }

    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        content: "";
        background: $drak-overly;
    }

    .page-hero-img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top center ;
        }
    }

    .page-hero-content {
        position: relative;
        z-index: 2;
        padding: 16rem 0 7rem 0;
        @include breakpoint(ipad_landscape){
            padding: 11rem 0 7rem 0;   
        }
        @include breakpoint(ipad_portrait){
            padding: 11rem 0 7rem 0;   
        }
        @include breakpoint(mobile_landscape) {
            padding: 5rem 0 4rem;
        }
        @include breakpoint(mobile_portrait) {
            padding: 5rem 0 4rem;
        }
    }

    &.inner-page-hero{
        .page-hero-content {
            @include breakpoint(ipad_portrait){
                padding: 16rem 0 7rem 0;   
            }
            @include breakpoint(mobile_landscape) {
                padding: 5rem 0 6rem;
            }
            @include breakpoint(mobile_portrait) {
                padding: 5rem 0 6rem;
            }
        }
    }

    .page-hero-content-top {
        h1 {
            color: $white;
            font-size: $h1;
            font-family: Korb;
            margin: 0px;
            padding: 0px;
            font-weight: 400;
            text-transform: lowercase;
            @include breakpoint(ipad_landscape) {
                font-size: $ip-lnd-h1;
            }
            @include breakpoint(ipad_portrait) {
                font-size: $ip-por-h1;
            }
            @include breakpoint(mobile_landscape) {
                font-size: $mob-lnd-h1;
            }
            @include breakpoint(mobile_portrait) {
                font-size: $mob-por-h1;
            }
        }

        ul {
            @include ul;

            li {
                margin: 0px;
                padding: 0 0 0 5rem;
                color: $white;
                font-size: $h1;
                font-family: Korb;
                position: relative;
                text-transform: lowercase;
                @include breakpoint(ipad_landscape) {
                    font-size: $ip-lnd-h1;
                }
                @include breakpoint(ipad_portrait) {
                    font-size: $ip-por-h1;
                    margin: 0 0 1.2rem 0
                }
                @include breakpoint(mobile_landscape) {
                    font-size: $mob-lnd-h1;
                    padding: 0 0 0 2.5rem;
                    margin: 0 0 1.2rem 0
                }
                @include breakpoint(mobile_portrait) {
                    font-size: $mob-por-h1;
                    padding: 0 0 0 2.5rem;
                    margin: 0 0 1.2rem 0
                }

                &::before {
                    width: $heroDots;
                    height: $heroDots;
                    border-radius: 50px;
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0px;
                    top: 35%;
                    background-color: $primary-color;
                    @include breakpoint(ipad_portrait) {
                        width: $ipad-heroDots;
                        height: $ipad-heroDots;
                    }
                    @include breakpoint(mobile_landscape) {
                        width: $mobile-heroDots;
                        height: $mobile-heroDots;
                        top: 31%;
                    }
                    @include breakpoint(mobile_portrait) {
                        width: $mobile-heroDots;
                        height: $mobile-heroDots;
                        top: 31%;
                    }
                }
            }
        }
    }

    .page-hero-content-btm {
        margin-top: 8rem;
        position: relative;
        @include breakpoint(ipad_portrait) {
            margin-top: 3rem;
        }
        @include breakpoint(mobile_landscape) {
            margin-top: 1rem;
        }
        @include breakpoint(mobile_portrait) {
            margin-top: 1rem;
        }
        .aside-right {
            @include breakpoint(mobile_landscape) {
                padding-left: 0;
            }
        }

        

        strong {
            color: $white;
            font-size: $hd-subhd;
            font-weight: 400;
            font-family: "HelveticaNeueLTPro-Md";
            line-height: 3.7rem;
            @include breakpoint(ipad_portrait) {
                font-size: $ip-por-hd-subhd;
                line-height: 2.8rem;
            }
            @include breakpoint(mobile_landscape) {
                font-size: $mob-lnd-hd-subhd;
                line-height: 2rem;
            }
            @include breakpoint(mobile_portrait) {
                font-size: $mob-por-hd-subhd;
                line-height: 2rem;
            }
        }

        &.no-line {
            &::before {
                display: none;
            }
        }
    }
    &.inner-page-hero{
        @include breakpoint(ipad_landscape){
            min-height: 49.75rem;
        }
    }
}


