.pagination-block {
    .pagination {
        @include ul;
        display: flex;
        justify-content: end;
        li {
            margin: 0 0 0 20px;
            padding: 0px;
            a,
            button {
                color: $secondary-color;
                font-size: 1.1rem;
                display: block;
                font-family: "HelveticaNeueLTPro-Md";
            }
            span {
                color: $primary-color;
                font-size: 1.1rem;
                display: block;
                font-family: "HelveticaNeueLTPro-Md";
            }
        }
    }
}
