.page-content-section {
    overflow: hidden;
    h2 {
        margin: 0px;
        padding: 0;
    }
    .page-content-txt {
        width: 70%;
        margin: 4rem auto auto auto;
        @include breakpoint(mobile){
            width: 100%;
            margin: 2rem auto auto auto;
        }
        p {
            &:last-child {
                margin: 0px;
            }
        }
    }
}
