.products-section {
    padding-top: $main-pd;
    @include breakpoint(ipad_portrait) {
        padding-top: $ip-por-main-pd;
    }
    @include breakpoint(mobile_landscape) {
        padding-top: $mob-lnd-main-pd;
    }
    @include breakpoint(mobile_portrait) {
        padding-top: $mob-por-main-pd;
    }
}

.products-card-row {
    display: flex;
    flex-wrap: wrap;
    .products-card {
        width: 25%;
        margin-bottom: 12.5%;
        position: relative;
        @include breakpoint(ipad_portrait) {
            width: 47%;
            margin-bottom: 13.5%;
        }
        @include breakpoint(mobile_landscape) {
            width: 47%;
            margin-bottom: 6.5%;
        }
        @include breakpoint(mobile_portrait) {
            width: 100%;
        }

        &:nth-child(3n + 2) {
            margin-left: 12.5%;
            margin-right: 12.5%;
            @include breakpoint(ipad_portrait) {
                margin-left: 0%;
                margin-right: 0%;
            }
            @include breakpoint(mobile_landscape) {
                margin-left: 0%;
                margin-right: 0%;
            }
            @include breakpoint(mobile_portrait) {
                margin-left: 0%;
                margin-right: 0%;
            }
        }
        &:nth-child(2n + 2) {
            @include breakpoint(ipad_portrait) {
                margin-left: 6%;
            }
            @include breakpoint(mobile_landscape) {
                margin-left: 6%;
            }
        }
        a {
            display: block;
            .products-card-img {
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
            h5 {
                margin: 0px;
                padding: 1.5rem 4rem 1.5rem 1.5rem;
                color: #fff;
                position: absolute;
                width: 100%;
                left: 20px;
                bottom: -41px;
                min-height: 106px;
                background: rgba(77, 80, 91, 0.9) url("#{$assetPath}/white arrow right corner.svg") no-repeat
                    calc(100% - 1.5rem) center;
                background-size: 2rem;
                @include breakpoint(mobile_landscape) {
                    left: 0px;
                    bottom: 0px;
                }
                @include breakpoint(mobile_portrait) {
                    left: 0px;
                    bottom: 0px;
                }
            }
            &:hover {
                h5 {
                    background: $primary-color url("#{$assetPath}/white arrow right corner.svg") no-repeat
                        calc(100% - 1.5rem) center;
                    background-size: 2rem;
                }
            }
        }
    }
}
