.quotes-section {
    padding-bottom: $main-pd;
    
    @include breakpoint(ipad_portrait) {
        padding-bottom: $ip-por-main-pd;
    }
    @include breakpoint(mobile_landscape) {
        padding-bottom: $mob-lnd-main-pd;
    }
    @include breakpoint(mobile_portrait) {
        padding-bottom: $mob-por-main-pd;
    }
    h2 {
        margin: 0px;
        padding: 0;
        color: $primary-color;
        text-align: center;
    }
}
