.view-product-section {
    position: relative;
    overflow: hidden;
    color: $white;
    padding: $main-pd 0;
    @include breakpoint(ipad_portrait){
        padding: 3rem 0;
    }
    @include breakpoint(mobile_landscape) {
        padding: 3rem 0;
    }
    @include breakpoint(mobile_portrait) {
        padding: 3rem 0;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $drak-overly;
    }
    .view-product-inner {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        z-index: 2;
        h2 {
            margin: 0px;
            padding: 0px;
            color: $white;
            text-align: center;
            @include breakpoint(ipad_portrait){
                text-align: left;
            }
            @include breakpoint(mobile_landscape) {
                text-align: left;
            }
            @include breakpoint(mobile_portrait) {
                text-align: left;
            }
        }
        .view-product-text {
            margin: 3rem 0;
            @include breakpoint(ipad_portrait){
                margin: 2rem 0;
            }
            @include breakpoint(mobile_landscape) {
                margin: 2rem 0;
            }
            @include breakpoint(mobile_portrait) {
                margin: 2rem 0;
            }
            p {
                &:last-child {
                    margin: 0px;
                }
            }
        }
    }
    .view-product-img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
       
        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
    .btn-left{
        @include breakpoint(ipad_portrait) {
            justify-content: flex-end;
            text-align: right;
        }
        @include breakpoint(mobile_landscape) {
            justify-content: flex-end;
            text-align: right;
        }
        @include breakpoint(mobile_portrait) {
            justify-content: flex-end;
            text-align: right;
        }
    }
    .aside-right{
        @include breakpoint(ipad_portrait) {
            padding-left: 0;
        }
        @include breakpoint(mobile_landscape) {
            padding-left: 0;
        }
    }
}
