.what-we-do-card-row {
    display: flex;
    flex-wrap: wrap;
    .what-we-do-card {
        width: 50%;
        padding-top: 5%;
        @include breakpoint(mobile_landscape) {
            width: 100%;
            margin-bottom: 1rem;
        }
        @include breakpoint(mobile_portrait) {
            width: 100%;
            margin-bottom: 1rem;
        }
        &:nth-child(2n + 1) {
            padding-right: 5%;
            @include breakpoint(mobile_landscape) {
                padding-right: 0%;
            }
            @include breakpoint(mobile_portrait) {
                padding-right: 0%;
            }
        }
        &:nth-child(2n + 2) {
            padding-left: 5%;
            @include breakpoint(mobile_landscape) {
                padding-left: 0%;
            }
            @include breakpoint(mobile_portrait) {
                padding-left: 0%;
            }
        }
        &:nth-child(1),
        &:nth-child(2) {
            padding-top: 0px;
            @include breakpoint(mobile_landscape) {
                padding-top: 5%;
            }
            @include breakpoint(mobile_portrait) {
                padding-top: 5%;
            }
        }
        &:nth-child(1){
            @include breakpoint(mobile_landscape) {
                padding-top: 0%;
            }
            @include breakpoint(mobile_portrait) {
                padding-top: 0%;
            }
        }
        a {
            display: block;
            h2 {
                @include m-p-0;
                color: $secondary-color;
                background: url("#{$assetPath}/orange arrow right corner.svg") no-repeat calc(100% - 1rem) center;
                background-size: 2rem;
                padding: 1rem 4rem 1rem 1rem;
                margin-bottom: 1rem;
               
                @include breakpoint(mobile) {
                    background-size: 1.3rem;
                    padding: 0.4rem 4rem 0.4rem 1rem;
                    margin-bottom: 0.6rem;
                }
            }

            &:hover {
                h2 {
                    background: $secondary-color url("#{$assetPath}/orange arrow right corner.svg") no-repeat
                        calc(100% - 1rem) center;
                    color: $white;
                    background-size: 2rem;
                    @include breakpoint(ipad_portrait) {
                        color: $secondary-color;
                        background: $white url("#{$assetPath}/orange arrow right corner.svg") no-repeat calc(100% - 1rem) center;
                        background-size: 2rem;
                    }
                    @include breakpoint(mobile) {
                        color: $secondary-color;
                        background: $white url("#{$assetPath}/orange arrow right corner.svg") no-repeat calc(100% - 1rem) center;
                        background-size: 1.3rem;
                    }
                }
            }
        }
        .what-we-do-content {
            padding: 0 0 0 1rem;
            @include breakpoint(mobile) {
                line-height: 1.5rem;
            }
            a {
                display: none;
            }
        }
    }
}
