html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $primaryfontfaimly;
    font-weight: 400;
    @include background($white);
    @include padding(0px, 0, 0, 0);
    margin: 0px;
    color: $gray-color;
    @extend %body-font-size;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

p {
    @extend %font-size-base;

}

a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.0s;
    -moz-transition: all 0.0s;
    transition: all 0.0s;
    color: $secondary-color;
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

input {
    -webkit-appearance: none;
    opacity: 1
}

button,
a {
    -webkit-transition: all 0.0s;
    -moz-transition: all 0.0s;
    transition: all 0.0s;
}

.clear {
    clear: both;
}

@media screen and (max-width: 992px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

.container-fluid {
    max-width: 100%;
    width: calc(100% - 6rem);
    padding: 0 1rem;
    margin: auto;

    @include breakpoint(ipad_portrait) {
        width: calc(100% - 4rem);
        padding: 0;
    }

    @include breakpoint(mobile_landscape) {
        width: calc(100% - 4rem);
        padding: 0;
    }

    @include breakpoint(mobile_portrait) {
        width: calc(100% - 4rem);
        padding: 0;
    }
}

.container-lg {
    max-width: 1500px;
    width: calc(100% - 6rem);
    margin: 0 auto;

    @include breakpoint(ipad_landscape) {
        width: calc(100% - 4rem);
    }

    @include breakpoint(ipad_portrait) {
        width: calc(100% - 4rem);
    }

    @include breakpoint(mobile_landscape) {
        width: calc(100% - 8rem);
    }

    @include breakpoint(mobile_portrait) {
        width: calc(100% - 4rem);
    }
}


.container {
    max-width: 1400px;
    width: calc(100% - 14rem);
    margin: 0 auto;

    @include breakpoint(ipad_landscape) {
        width: calc(100% - 12rem);
    }

    @include breakpoint(ipad_portrait) {
        width: calc(100% - 8rem);
    }

    @include breakpoint(mobile_landscape) {
        width: calc(100% - 8rem);
    }

    @include breakpoint(mobile_portrait) {
        width: calc(100% - 4rem);
    }
}

.container-sm {
    max-width: 1000px;
    width: calc(100% - 14rem);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(ipad_landscape) {
        width: calc(100% - 12rem);
    }

    @include breakpoint(ipad_portrait) {
        width: calc(100% - 4rem);
    }

    @include breakpoint(mobile_landscape) {
        width: calc(100% - 8rem);
    }

    @include breakpoint(mobile_portrait) {
        width: calc(100% - 4rem);
    }
}

.white-bg {
    background: $white;

    h2 {
        color: $secondary-color;
    }
}

.primary-bg {
    background: $primary-color
}

.secondary-bg {
    background: $secondary-color;
    color: $white;

    h2 {
        color: $white;
    }
}

.gray-bg {
    background: $gray-color;
    color: $white;

    h2 {
        color: $white;
    }
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
}


.desc {


    p {
        &:first-child {
            margin: 0px;
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }

    ul {
        margin: 1rem 0;
        padding: 0px;
        list-style: none;

        li {
            position: relative;
            margin: 0 0 0.5rem 0;
            padding: 0 0 0 1.5rem;

            &::before {
                width: 8px;
                height: 8px;
                position: absolute;
                left: 0px;
                top: 39%;
                background: $primary-color;
                content: "";
            }
        }
    }
}

.no-margin-15 {
    margin-bottom: -15px !important;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-top-3 {
    margin-top: 3rem;
}

.margin-top-4 {
    margin-top: 4rem;
}

