.cntctfrm_field_wrap label {
	font-size: $font-size-base;
	margin: 0 0 8px 0;
	display: block;
}
.cntctfrm_field_wrap {
	margin-bottom: 20px;
}
.cntctfrm_field_wrap input,
.cntctfrm_field_wrap textarea {
	padding: 10px;
	border-radius: 4px;
	max-width: 100% !important;
	border: 1px #333 solid;
}
.cntctfrm_submit_wrap input {
	background: $primary-color;
	border: 0;
	width: 100%;
	border-radius: 4px;
	padding: 15px 10px;
	font-size: 15px;
}
.cntctfrm_submit_wrap input:hover {
	background: $secondary-color;
	color: $primary-color;
}
.cntctfrm_one_column.cntctfrm_width_default {
	max-width: 100%;
	width: 100%;
}

.contact-form-box{
    width: 50%;
    background: #ffffff59;
    padding: 25px;
    border-radius: 40px;
	@include breakpoint(mobile) {
		width: 100%;
		margin-bottom: 2.5rem;
        padding: 1rem;
	}
}
.contact-info {
	width: 40%;
    margin-left: auto;
    @include breakpoint(mobile) {
		width: 100%;
	}
	h2 {
		margin-bottom: 25px;
	}
}

.social-media ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	li {
		display: block;
		padding: 20px 0;
		a {
			display: block;
			text-decoration: none;
			font-size: 22px;
			font-weight: 500;
			i {
				width: 50px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 15px;
			}
		}
		&.facebook-link a {
			color: #4a69b0;
		}
		&.instagram-link a {
			color: #7a4595;
		}
		&.youtube-link a {
			color: #e83f3b;
		}
		&.mail-link a {
			color: #fcce18;
		}
	}
}
.contact-page {
	padding: 30px 0;
	.cntctfrm_one_column.cntctfrm_width_default {
		max-width: 100%;
		width: 100% ;
	}
	.contact-form input[type="email"],
	.contact-form input[type="tel"],
	.contact-form input[type="text"],
	.contact-form input[type="url"] {
		width: 100%;
	}
}