

<section class="hero--section inner-hero--section">
<div class="page-title--img">
		
    <picture>
			<source media="(min-width:320px) and (max-width:567px)"
				srcset="{{ TimberImage(post.get_field('hero_image')).src('page-hero') }}">
			<source media="(min-width:768px) and (max-width:991px)"
				srcset="{{ TimberImage(post.get_field('hero_image')).src('page-hero') }}">
			<img src="{{ site.theme.link }}/assets/img/transparent-hero-img.png" alt="img" />
		</picture>
	</div>
	<div class="hero-text">
		<div class="container-sm">
			<div class="hero-text--inner"><h1>{{post.title}}</h1></div>
		</div>
	</div>
</section>

<div class="services--list list-t-b-pd bg--bg">
  <div class="container-sm container-bg-pd-lr">
    {% for post in getServices() %}

    {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}

    {% endfor %}

    <div class="container-sm container-sm-pd-lr"> {% include 'partial/pagination.twig' with { pagination:
        posts.pagination({show_all: false, mid_size: 3, end_size:
        2}) } %}
    </div>
    </div>
</div>