{% if post.get_field('content_row_group').title or post.get_field('content_row_group').content %}
<section class="main-padding text-img--section" data-aos="fade">
	<div class="container custom-row">
		<div class="text-img--left">
			<h2>{{post.get_field('content_row_group').title}}
			</h2>
			<div class="desc--box">
				{{post.get_field('content_row_group').content}}
			</div>
		</div>
		{% if post.get_field('content_row_group').image %}
		<div class="text-img--right">
			<picture>
				<source media="(min-width:320px) and (max--width:767px)" srcset="{{ TimberImage(post.get_field('content_row_group').image).src('hero-slider-mobile') }}">
				<source media="(min-width:768px) and (max--width:991px)" srcset="{{ TimberImage(post.get_field('content_row_group').image).src('hero-slider-ipad') }}">
				<img src="{{ TimberImage(post.get_field('content_row_group').image).src('hero-slider') }}" alt="{{ post.get_field('content_row_group').image.alt }}">
			</picture>
		</div>
		{% endif %}
	</div>
</section>
{% endif %}