{% if contact_post.get_field('social_media_cta_row') %}
<div class="footer-social-media">
  <ul>
    {% for social in contact_post.get_field('social_media_cta_row') %}
    <li><a href="{{social.cta.url}}" {% if social.cta.target %} target="{{social.cta.target}}" {% endif %} title="{{social.icon.label}}"><i class="{{social.icon.value}}-blue-icon"></i></a></li>
    {% endfor %}
    {# <li><a href="#"><i class="twitter-blue-icon"></i></a></li>
    <li><a href="#"><i class="youtube-blue-icon"></i></a></li> #}
  </ul>
</div>
{% endif %}