{% if post.get_field('hero_image') or post.thumbnail %}

<section class="hero--section hero--section-product inner-hero--section">
<div class="page-title--img">
		{% if post.get_field('hero_image') %}
		<picture>
			<source media="(min-width:320px) and (max-width:567px)"
				srcset="{{ TimberImage(post.get_field('hero_image')).src('page-hero') }}">
			<source media="(min-width:768px) and (max-width:991px)"
				srcset="{{ TimberImage(post.get_field('hero_image')).src('page-hero') }}">
			<img src="{{ TimberImage(post.get_field('hero_image')).src('page-hero') }}"
				alt="{{ post.get_field('page-hero-img').alt }}">
		</picture>
		{% elseif post.thumbnail %}
		<picture>
			<source media="(min-width:320px) and (max-width:567px)"
				srcset="{{ TimberImage(post.get_field('hero_image')).src('page-hero') }}">
			<source media="(min-width:768px) and (max-width:991px)"
				srcset="{{ TimberImage(post.get_field('hero_image')).src('page-hero') }}">
			<img src="{{ site.theme.link }}/assets/img/transparent-hero-img.png" alt="img" />
		</picture>
		{% endif %}
	</div>
	<div class="hero-text">
		<div class="container-sm">
			<div class="hero-text--inner"><h1> {% if post.get_field('hero_title_icon')%}
						<span class="hero-icon-title"><img
								src="{{ TimberImage(post.get_field('hero_title_icon')).src('src') }}"
								alt="{{ post.get_field('hero_title_icon').alt }}"></span>
						{% endif %}
						{{post.get_field('hero_title')?post.get_field('hero_title'):(post.title?post.title:title)}}
					</h1></div>
					<div class="hero-img--inner">
					<picture>
			<source media="(min-width:320px) and (max-width:567px)"
				srcset="{{ TimberImage(post.thumbnail).src('page-hero') }}">
			<source media="(min-width:768px) and (max-width:991px)"
				srcset="{{ TimberImage(post.thumbnail).src('page-hero') }}">
			<img class="yyyy" src="{{ TimberImage(post.thumbnail).src('page-hero') }}" alt="{{ post.thumbnail.alt }}">
		</picture></div>
		</div>
	</div>
</section>

<div id="scroll-to-main"></div>
{% endif %}