<ul>
    <li><a href="mailto:{{contact_post.meta('email')}}"><i class="email-blue-icon"></i></a></li>
    <li><a href="tel:{{contact_post.meta('telephone')}}"><i class="telephone-blue-icon"></i></a></li>
</ul>