{% if post.get_field('service_badges_list') %}
<section class="home-section--3">
	<div class="container custom-row">
		{% for service in post.get_field('service_badges_list') %}
		{% set service_item = service.service_item %}
		<div class="home-section-box--3 white-card">
			<a href="{{service_item.link}}">
				<i>
				<img src="{{ TimberImage(service_item.service_icon).src('src') }}" alt="{{ service_item.service_icon.alt }}"/></i>
				<h3>{{service_item.service_title}}</h3>
				<div class="desc--box">{{service_item.servcice_excerpt}}</div>

				<div class="arrow-right"></div>
			</a>
		</div>
		{% endfor %}
	</div>
</section>
{% endif %}