{% if post.content %}
<section class="top-sm-text-block main-pd-btm" data-aos="fade">
    <div class="container-sm container-bg-pd-lr">
    <div class="desc--box">{{post.content}}</div>
    
    {% if post.get_field('page_download_file') %}
    <div class="download-file">
        <p><a download="{{post.get_field('page_download_file').title}}" href="{{post.get_field('page_download_file').url}}">
					<i>
					<img class="no-hover-icon" src="{{theme.link}}/assets/img/gridfix download green.svg" alt="download file">
					<img class="hover-icon" src="{{theme.link}}/assets/img/gridfix download grey.svg" alt="download file">
					</i>
				</a>
		</p>
    </div>
    {% endif %}
    </div>
</section>
{% endif %}