<section class="main-padding get-in-touch--section">
	<div class="container-sm container-sm-pd-lr"   data-aos="fade">
		<div class="hd-text-center">
			<h2 class="title">{{contact_post.contact_heading}}</h2>
			<div class="desc--box">
				<p>{{contact_post.contact_heading_copy}}</p>
			</div>
		</div>

		<div class="get-in-touch custom-row">
			<div class="get-in-touch-left">
				<div class="get-in-touch-icons">
					<ul>
						<li>
							<a href="tel:{{contact_post.meta('telephone')}}">
								<span><i class="telephone-white-icon"></i></span>{{contact_post.meta('telephone')}}
							</a>
						</li>
						<li>
							<a href="mailto:{{contact_post.meta('email')}}">
								<span><i class="email-white-icon"></i></span>{{contact_post.meta('email')}}
							</a>
						</li>
						<li>
							<a href="{{contact_post.meta('map_cta').url}}" title="{{contact_post.meta('map_cta').title}}" target="_blank">
								<span><i class="map-white-icon"></i></span>Find us on Google
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="get-in-touch-right">
				<div class="get-in-touch-block">
					<div class="get-in-touch--form">
						{{ function('do_shortcode', '[contact-form-7 id="'~ contact_post.contact_form.ID~'"
						title="Contact form 1"]') }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>