@use '../helper/breakpoint' as *;
@use '../helper/font-mixins' as *;
.comments-area{
    margin: 40px 0;
    .comment-respond{
        .comment-form{
            background-color: #f1f1f1;
            padding: 20px;
            p{
                label{
                    display: block;
                    margin-bottom: 20px;
                    font-size: 15px;
                }
                textarea,   
                input[type="text"],
                input[type="email"],
                input[type="password"],
                input[type="number"],
                input[type="date"],
                input[type="url"],
                textarea{
                   border: 1px #000 solid;
                   padding: 10px;
                   width: 100%;
                   color: #000;
                   @include font-size-sm;
                   fo
                    &:disabled {
                       opacity: 0.5;
                      }
                    &::-webkit-input-placeholder {
                        /* Chrome/Opera/Safari */
                        font-style: normal;
                        color: #000;
                        @include font-size-sm;
                    }
                    &::-moz-placeholder {
                        /* Firefox 19+ */
                        font-style: normal;
                        color: #000;
                        @include font-size-sm;
                    }
                    &:-ms-input-placeholder {
                        /* IE 10+ */
                        font-style: normal;
                        color: #000;
                        @include font-size-sm;
                    }
                    &:-moz-placeholder {
                        /* Firefox 18- */
                        font-style: normal;
                        color: #000;
                        @include font-size-sm;
                    }
                }
                &.comment-form-cookies-consent{
                    display: flex;
                    align-items: center;
                    label{
                        margin: 0 0 0 10px;
                    }
                }
                &.form-submit{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    input[type="submit"]{
                      
                    }
                }
            }
        }
    }
    .comment-list{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            margin: 0px;
            padding: 0px;
            list-style: none;
            margin-bottom: 20px;
           .reply{
            margin: 5px 0 40px 0;
            text-align: right;
           }
            .comment-top{
                display: flex;
                align-items: center;
                .comment-author{
                    display: flex;
                    align-items: center;
                    .says{
                        margin-left: 5px;
                        font-size: 14px;
                    }
                    img{
                        margin-right: 10px;
                    }
                }
                .comment-metadata{
                    display: block;
                    font-size: 12px;
                    margin-left: auto;

                }
            }
            .comment-content{
                position: relative;
                background: #f1f1f1;
                padding: 15px;
                margin-top: 20px;
                p{
                    &:first-child{
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                }
                &:after {
                    bottom: 100%;
                    left: 20px;
                    border: solid transparent;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(241, 241, 241, 0);
                    border-bottom-color: #f1f1f1;
                    border-width: 10px;
                    margin-left: -10px;
                }
            }
           
            
        }
    }
}

.submit{
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: 0px;
    cursor: pointer;
}