.wp-block-gallery,
.media-gallery{
    margin-left: -8px;
    flex-flow: row wrap;
    display: flex;
    width: 100%;
    max-width: 100%;
    .wp-block-image,
    .media-gallery-item{
        flex: auto;
        height: 350px;
        min-width: 150px;
        overflow: hidden;
        border-radius: 5px;
        margin: 0 0 8px 8px;
        background-color: #333;
        color: white;
        position: relative;
        @media screen and (max-width: 991px) {
            height: 250px;  
        }
        @media screen and (max-width: 567px) {
          height: auto;  
        }
        &:nth-child(4n+1) {
            width: 20%;
            @media screen and (max-width: 991px) {
                width: calc(50% - 8px);
            }
            @media screen and (max-width: 567px) {
                width: 100%;
            }
        }
        &:nth-child(4n+2) {
            width: 30%;
            @media screen and (max-width: 991px) {
                width: calc(50% - 8px);
            }
            @media screen and (max-width: 567px) {
                width: 100%;
            }
        }
        &:nth-child(4n+3) {
            width: 15%;
            @media screen and (max-width: 991px) {
                width: calc(50% - 8px);
            }
            @media screen and (max-width: 567px) {
                width: 100%;
            }
        }
        &:nth-child(4n+4) {
            width: 35%;
            @media screen and (max-width: 991px) {
                width: calc(50% - 8px);
            }
            @media screen and (max-width: 567px) {
                width: 100%;
            }
        }
        h3{
            position: absolute;
            left: 0px;
            bottom: 0px;
            margin: 0px;
            padding: 10px;
            width: 100%;
            font-size: 18px;
           font-weight: 500;
           background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.88) 100%);
           text-transform: capitalize;

        }
        
        a[data-fancybox="gallery"] {
            width: 100%;
            height: 100%;
            display: block;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                filter: brightness(100%);
            }
            &:hover{
                img{
                    filter: brightness(60%);
                }
            }
        }
      
     
    }
}


.wp-block-gallery.has-nested-images figure.wp-block-image figcaption{
    position: absolute !important;
            left: 0;
            bottom: 0;
            width: 100%;
            margin: 0;
            padding: 10px;
}



.load-more-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    button{
        padding: 14px 35px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    }
}

#loading-message{
    background-image: url("loading.gif");
    width: 81px;
    height: 81px;
    background-size: cover;
    text-indent: -9999px;
}

#backToTop {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 150px;
    right: 20px;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

#backToTop:hover {
    background: #0056b3;
}