@use "../helper/font-mixins" as *;
@use "../helper/breakpoint" as *;

.header-site {
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    z-index: 99;

    .custom-row {
        justify-content: space-between;
        /* Distribute the items */
        align-items: center;
    }

    .logo {
        a {
            color: #ffffff;
            font-weight: 700;
            display: block;
            @include font-size-lg;
        }
    }

    .main-search {
        width: 44%;

        @include breakpoint(1400px, 1599px) {
            width: 38%;
        }

        @include breakpoint(1300px, 1399px) {
            width: 32%;
        }

        @include breakpoint(1200px, 1299px) {
            width: 26%;
        }

        .wp-block-search__inside-wrapper {
            border: 0px;
            background: #dddddd;
            border-radius: 12px;

            .wp-block-search__input {
                background: transparent;
                font-size: 14px;
                padding: 15px;
                border-color: transparent;
            }

            .wp-block-search__button.has-icon {
                line-height: 0;
                background: transparent;
                border: 0;
            }
        }
    }

    .main-menu {
        display: flex;
        align-items: center;

        @include breakpoint(320px, 1199px) {
            display: none;
        }

        nav {
            margin-right: 15px;

            ul {
                display: flex;
                list-style: none;
                margin: 0px;
                padding: 0px;

                li {
                    padding: 0px 10px;

                    &:last-child {
                        padding-right: 0px;
                    }

                    a {
                        display: block;
                        @include font-size-sm;
                        color: #ffffff;
                        padding: 0px;
                        @include breakpoint(320px, 1199px) {
                            color: #000;
                        }
                    }
                    &.menu-item-has-children {
                        position: relative;
                        a {
                            background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                            background-position: center right;
                            background-repeat: no-repeat;
                            padding-right: 23px;
                            background-size: 16px;
                            @include breakpoint(320px, 1199px) {
                                background-image: none;
                                padding-right: 0px;
                            }
                        }

                        ul {
                            position: absolute;
                            top: 0px;
                            width: 237px;
                            display: none;
                            padding: 36px 0 0 0;
                            left: 0px;
                            z-index: 9;
                            @include breakpoint(320px, 1199px) {
                                position: static;
                                display: block;
                                padding: 15px 0 0 0;
                                margin: 0px;
                                width: 100%;
                            }

                            li {
                                background: #fff;
                                padding: 10px 16px;
                                box-shadow: 0 6px 7px rgba(0, 0, 0, 0.4);
                                @include breakpoint(320px, 1199px) {
                                    box-shadow: none;
                                    padding: 5px 16px;
                                }

                                a {
                                    font-size: 16px;
                                    background-image: none;
                                    color: #000;
                                }
                            }
                        }
                        &:hover {
                            ul {
                                display: block;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

.menu-show {
    .main-menu {
        position: fixed;
        z-index: 999;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .header-site .main-menu nav ul {
        display: block;
        margin-bottom: 20px;

        li {
            padding: 15px 0px;
            text-align: center;
            @include breakpoint(320px, 1199px) {
                padding: 5px 0px;
            }

            a {
                font-size: 20px;
            }
        }
    }
}

.headerfixed {
    .header-site {
        background-color: #fff;
        .logo a {
            color: #000;
        }
        nav {
            ul {
                li {
                    a {
                        color: #000;
                    }

                    &.menu-item-has-children {
                        a {
                            background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                            @include breakpoint(320px, 1199px) {
                                background-image: none;
                                padding-right: 0px;
                            }
                        }

                        ul {
                            li {
                                a {
                                    background-image: none;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
