@use "../helper/breakpoint" as *;
.related-posts{
    margin-top: 40px;

    

    h3{
        margin: 0 0 20px;
    }
    ul{
        margin: 0 -15px;
        padding: 0px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li{
            margin: 0px;
            padding: 15px;
            width: 33.33%;
           
            @include breakpoint(320px, 991px) {
                width:100%;
                padding:10px 15px;
            }
            a{
                display: flex;
                text-decoration: none;
                background-color: #f1f1f1;
                padding: 10px;
                border-radius: 10px;
                .related-thumb{
                    width: 100px;
                    height: 100px;
                    overflow: hidden;
                   
                    @include breakpoint(991px, 1024px) {
                        width: 70px;
                        height: 70px;
                    }
                   
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .related-content{
                    width: calc(100% - 100px);
                    padding-left: 10px;
                    @include breakpoint(991px, 1024px) {
                        width: calc(100% - 70px);
                    }
                    
                    h4{
                        margin: 0px;
                        font-weight: 600;
                    }
                    span{
                        color: #000;
                        font-size: 13px
                    }
                }
            }
        }
    }
    &.related-pages{
        ul{
            li{
                a{
                    @extend h4;
                    font-weight: 500;
                }
            }
        }
    }
}

.siderbar-search{
    @include breakpoint(320px, 991px) {
        display: none;
    }  
}