@use "../helper/breakpoint" as *;
.single-page-row {
  padding: 30px 0;
 
  .site-details-left {
    width: 100%;
    
    article {
      figure,
      .uploaded-img-box {
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
    .uploaded-img-box {
      margin-bottom: 25px;
      h4 {
        margin: 10px 0;
        padding: 0px;
      }
    }
    .uploaded-img-box {
      margin-bottom: 25px;
      h4 {
        margin: 10px 0;
        padding: 0px;
      }
      .uploaded-img {
        position: relative;
        .download-btn {
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }
    }
    .gallery-img{
      ul {
        display:flex;
        list-style:none;
        margin:0 -8px;
        padding:0px;
        flex-wrap: wrap;
        @include breakpoint(320px, 567px) {
          display: block;
          margin:0;
        }
        li{
          width:33.33%;
          padding: 27px 8px;
          @include breakpoint(320px, 567px) {
            padding: 15px 0 0 0;
          }
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(9),
          &:nth-child(10),
          &:nth-child(17),
          &:nth-child(18),
          &:nth-child(37),
          &:nth-child(38),
          &:nth-child(39),
          &:nth-child(40)
          {
            width: 50%;
            @include breakpoint(320px, 567px) {
              width: 100%;
            }
          }
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8),
          &:nth-child(11),
          &:nth-child(12),
          &:nth-child(13),
          &:nth-child(14),
          &:nth-child(15),
          &:nth-child(16),
          &:nth-child(19),
          &:nth-child(20),
          &:nth-child(21),
          &:nth-child(22),
          &:nth-child(23),
          &:nth-child(24){
            width: 33.33%;
            @include breakpoint(568px, 1400px) {
              width: 50%;
            }
            @include breakpoint(320px, 567px) {
              width: 100%;
            }
          }
          .gallery-image-box{
            position: relative;
            width: 100%;
            height: 100%;
          }
          .example-image-link{
            width: 100%;
            height: 100%;
            display: flex;
            align-content: center;
            justify-content: center;
            img{
              width:100%;
              height:auto;
              display:block

            }
          }
          .gallery-caption{
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            background: rgba(0,0,0,0.5);
            padding: 10px;
            color: #fff;
            @include breakpoint(320px, 567px) {
              position: relative;
            }
          }
         
         
          h3{
            font-weight: 500;
            font-size: 20px;
            text-transform: capitalize;
            margin: 0px 0 10px 0;
            @include breakpoint(329px, 991px) {
              font-size: 18px;
            }
          }
        }
      }
    } 
  }
  .site-details-right {
    width: 350px;
    @include breakpoint(992px, 1200px) {
      width: 250px;
    }
    @include breakpoint(320px, 991px) {
      width: 100%;
      margin-bottom: 20px;
    }
    h2 {
      margin: 0px;
      margin-bottom: 1rem;
    }
    .popular-posts {
      @include breakpoint(320px, 991px) {
        display: none;
      }
    }
  }
}


.lb-closeContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999999;
}