@use "../helper/breakpoint" as *;
@use "../helper/font-mixins" as *;
.social-media {
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;

    li {
      margin: 0px;
      padding: 0 10px 0 0;

      &:last-child {
        padding-right: 0px;
      }

      a {
        display: block;

        svg {
          width: 50px;
          height: 50px;
          padding: 5px;
          display: block;
          border-radius: 30px;
          fill: #fff;
        }
      }

      &.fb {
        a {
          svg {
            background: linear-gradient(115deg, #62cff4, #2c67f2);
          }
          span {
            color: #2c67f2;
          }
          &:hover {
            svg {
              background: linear-gradient(115deg, #2c67f2, #62cff4);
            }
          }
        }
      }
      &.insta {
        a {
          svg {
            background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
          }
          span {
            color: #ee2a7b;
          }
        }
        &:hover {
          a {
            svg {
              background: linear-gradient(115deg, #6228d7, #ee2a7b, #f9ce34);
            }
          }
        }
      }
      &.email {
        a {
          svg {
            background: linear-gradient(115deg, #f9ce34, #ee2a7b);
          }
          span {
            color: #ee2a7b;
          }
        }
        &:hover {
          a {
            svg {
              background: linear-gradient(115deg, #6228d7, #ee2a7b, #f9ce34);
            }
          }
        }
      }
    }
  }
}

.home-catogory-list {
  padding: 1rem 0;
  h2 {
    margin: 0px;
    padding: 0px;
  }
  .home-catogory-row {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    li {
      margin: 0px;
      padding: 0 10px 10px 0;
      font-size: 0px;
      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        li {
          margin: 0px;
          padding: 0 10px 10px 0;

          &:last-child {
            padding-right: 0px;
          }

          a {
            display: block;
            padding: 8px 20px;
            border-width: 1px;
            border-radius: 20px;
            border-style: solid;
            @include font-size-sm;
          }
        }
      }
    }
  }
}

.hamburger {
  position: relative;
  z-index: 9999;
  display: none;
  @include breakpoint(320px, 1199px) {
    display: block;
  }
}
.hamburger .line {
  width: 45px;
  height: 5px;
  display: block;
  margin: 8px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */

#hamburgerClick.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburgerClick.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburgerClick.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

.cntctfrm_ltr .cntctfrm_column {
  width: 100%;
}
.cntctfrm_field_wrap {
  margin-bottom: 20px;
}

.cntctfrm_one_column.cntctfrm_width_default,
.cntctfrm_contact_form.cntctfrm_width_default input[type="text"],
.cntctfrm_contact_form.cntctfrm_width_default input[type="file"],
.cntctfrm_contact_form.cntctfrm_width_default input[type="email"],
.cntctfrm_contact_form.cntctfrm_width_default select,
.cntctfrm_contact_form.cntctfrm_width_default textarea,
.widget .cntctfrm_contact_form.cntctfrm_width_default input[type="text"],
.widget .cntctfrm_contact_form.cntctfrm_width_default input[type="file"],
.widget .cntctfrm_contact_form.cntctfrm_width_default input[type="email"],
.widget .cntctfrm_contact_form.cntctfrm_width_default select,
.widget .cntctfrm_contact_form.cntctfrm_width_default textarea {
  max-width: 100%;
  padding: 16px;
  font-size: 18px;
}
.cntctfrm_contact_submit {
  font-size: 18px;
  border: 0px;
  padding: 6px 20px;
}

#block-16 {
  .sti-container {
    border-radius: 10px;
    padding: 10px;
    .sti.sti-shortcode {
      margin: 0px;
    }
  }
}

.not-found-search-form {
  background: #f3f3f3;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  form {
    display: flex;
    label {
      width: calc(100% - 63px);

      input {
        width: 100%;
        border: 2px #000 solid;
        font-size: 16px;
        padding: 1.1rem;
      }
    }
    .searchsubmit {
      width: calc(63px);
      color: #fff;
      padding: 12px;
      font-size: 1.3rem;
      cursor: pointer;
      font-weight: 400;
      border: 0px;
    }
  }
}

.siderbar-search,
.siderbar-social {
  margin-bottom: 30px;
}
.siderbar-search {
  .searchform {
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 5px;
    .searchsubmit {
      display: none;
    }
    .search-field {
      width: 100%;
      font-size: 15px;
      padding: 10px;
    }
  }
}

#secondary {
  position: sticky;
  top: 133px;
}

.download-info {
  position: absolute;
  right: 15px;
  top: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  li {
    margin: 0 0 0 5px;
    padding: 6px;
    border-radius: 5px;
    background-color: rgba($color: #000000, $alpha: 0.8);
    color: #fff;
    a {
      display: block;
      width: 30px !important;
      height: 30px !important;
    }
    &.download-icon {
      a {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 14.64C9.84667 14.64 9.70476 14.6148 9.57429 14.5643C9.44381 14.5138 9.31667 14.4262 9.19286 14.3014L5.45 10.56C5.31095 10.421 5.23857 10.2571 5.23286 10.0686C5.22714 9.88001 5.29952 9.70715 5.45 9.55001C5.60809 9.39191 5.7781 9.31143 5.96 9.30858C6.14286 9.30572 6.31286 9.38334 6.47 9.54143L9.28571 12.3571V0.714295C9.28571 0.511438 9.35381 0.341438 9.49 0.204296C9.62619 0.0671529 9.79619 -0.000942528 10 9.85219e-06C10.2038 0.000962233 10.3738 0.0690576 10.51 0.204296C10.6462 0.339534 10.7143 0.509533 10.7143 0.714295V12.3571L13.53 9.54143C13.669 9.40239 13.8343 9.32953 14.0257 9.32286C14.2171 9.3162 14.3914 9.39191 14.5486 9.55001C14.701 9.70715 14.7786 9.87572 14.7814 10.0557C14.7843 10.2357 14.7071 10.4038 14.55 10.56L10.8071 14.3029C10.6833 14.4267 10.5562 14.5138 10.4257 14.5643C10.2962 14.6148 10.1543 14.64 10 14.64ZM2.30857 20C1.65048 20 1.10143 19.78 0.661428 19.34C0.221428 18.9 0.000952381 18.3505 0 17.6914V14.9443C0 14.7414 0.0680954 14.5719 0.204286 14.4357C0.340476 14.2995 0.510476 14.231 0.714286 14.23C0.918095 14.2291 1.0881 14.2976 1.22429 14.4357C1.36048 14.5738 1.42857 14.7433 1.42857 14.9443V17.6914C1.42857 17.9114 1.52 18.1133 1.70286 18.2971C1.88571 18.481 2.08714 18.5724 2.30714 18.5714H17.6929C17.9119 18.5714 18.1133 18.48 18.2971 18.2971C18.481 18.1143 18.5724 17.9124 18.5714 17.6914V14.9443C18.5714 14.7414 18.6395 14.5719 18.7757 14.4357C18.9119 14.2995 19.0819 14.231 19.2857 14.23C19.4895 14.2291 19.6595 14.2976 19.7957 14.4357C19.9319 14.5738 20 14.7433 20 14.9443V17.6914C20 18.3495 19.78 18.8986 19.34 19.3386C18.9 19.7786 18.3505 19.999 17.6914 20H2.30857Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
    &.love-icon{
      padding-right: 10px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      span{
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.35789 8.77661C1.94169 8.35877 1.61194 7.86139 1.38784 7.31346C1.16375 6.76553 1.0498 6.178 1.05263 5.58512C1.05263 4.386 1.52396 3.236 2.36294 2.3881C3.20192 1.5402 4.33982 1.06385 5.52632 1.06385C7.18947 1.06385 8.64211 1.97874 9.41053 3.34044H10.5895C10.9801 2.64795 11.5454 2.07245 12.2277 1.67255C12.91 1.27264 13.6849 1.06261 14.4737 1.06385C15.6602 1.06385 16.7981 1.5402 17.6371 2.3881C18.476 3.236 18.9474 4.386 18.9474 5.58512C18.9474 6.8298 18.4211 7.97873 17.6421 8.77661L10 16.4894L2.35789 8.77661ZM18.3789 9.53192C19.3789 8.51065 20 7.12767 20 5.58512C20 4.10386 19.4178 2.68327 18.3814 1.63586C17.345 0.588448 15.9394 1.92042e-05 14.4737 1.92042e-05C12.6316 1.92042e-05 11 0.904274 10 2.30853C9.48958 1.59204 8.81748 1.00887 8.03945 0.607389C7.26142 0.205911 6.39989 -0.00230245 5.52632 1.92042e-05C4.06065 1.92042e-05 2.65501 0.588448 1.61862 1.63586C0.582235 2.68327 0 4.10386 0 5.58512C0 7.12767 0.621053 8.51065 1.62105 9.53192L10 18L18.3789 9.53192Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 30px;
       
      }
    }
    &.facebook-icon{
      a{
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7H10.5L10 9H6V18H4V9H0V7H4V5.128C4 3.345 4.186 2.698 4.534 2.046C4.87526 1.40199 5.40199 0.87526 6.046 0.534C6.698 0.186 7.345 0 9.128 0C9.65067 0 10.108 0.0500001 10.5 0.15V2H9.128C7.804 2 7.401 2.078 6.989 2.298C6.69327 2.45251 6.45208 2.69405 6.298 2.99C6.078 3.401 6 3.804 6 5.128V7Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    &.twitter-icon{
      a{
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 15.5C2.765 16.521 4.814 17 7 17C13.48 17 18.762 11.863 18.992 5.438L21 1.5L17.646 2C16.9152 1.35552 15.9744 0.999939 15 1C12.428 1 10.5 3.517 11.12 5.98C7.568 6.21 4.349 4.021 2.487 1.105C1.251 5.302 2.397 10.356 5.5 13.471C5.5 14.647 2.5 15.349 1 15.5Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
    &.whatsapp-icon{
      a{
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 2.91005C16.0831 1.98416 14.991 1.25002 13.7875 0.750416C12.584 0.250812 11.2931 -0.00426317 9.99 5.38951e-05C4.53 5.38951e-05 0.0800002 4.45005 0.0800002 9.91005C0.0800002 11.6601 0.54 13.3601 1.4 14.8601L0 20.0001L5.25 18.6201C6.7 19.4101 8.33 19.8301 9.99 19.8301C15.45 19.8301 19.9 15.3801 19.9 9.92005C19.9 7.27005 18.87 4.78005 17 2.91005ZM9.99 18.1501C8.51 18.1501 7.06 17.7501 5.79 17.0001L5.49 16.8201L2.37 17.6401L3.2 14.6001L3 14.2901C2.17755 12.9771 1.74092 11.4593 1.74 9.91005C1.74 5.37005 5.44 1.67005 9.98 1.67005C12.18 1.67005 14.25 2.53005 15.8 4.09005C16.5676 4.85392 17.1759 5.7626 17.5896 6.76338C18.0033 7.76417 18.2142 8.83714 18.21 9.92005C18.23 14.4601 14.53 18.1501 9.99 18.1501ZM14.51 11.9901C14.26 11.8701 13.04 11.2701 12.82 11.1801C12.59 11.1001 12.43 11.0601 12.26 11.3001C12.09 11.5501 11.62 12.1101 11.48 12.2701C11.34 12.4401 11.19 12.4601 10.94 12.3301C10.69 12.2101 9.89 11.9401 8.95 11.1001C8.21 10.4401 7.72 9.63005 7.57 9.38005C7.43 9.13005 7.55 9.00005 7.68 8.87005C7.79 8.76005 7.93 8.58005 8.05 8.44005C8.17 8.30005 8.22 8.19005 8.3 8.03005C8.38 7.86005 8.34 7.72005 8.28 7.60005C8.22 7.48005 7.72 6.26005 7.52 5.76005C7.32 5.28005 7.11 5.34005 6.96 5.33005H6.48C6.31 5.33005 6.05 5.39005 5.82 5.64005C5.6 5.89005 4.96 6.49005 4.96 7.71005C4.96 8.93005 5.85 10.1101 5.97 10.2701C6.09 10.4401 7.72 12.9401 10.2 14.0101C10.79 14.2701 11.25 14.4201 11.61 14.5301C12.2 14.7201 12.74 14.6901 13.17 14.6301C13.65 14.5601 14.64 14.0301 14.84 13.4501C15.05 12.8701 15.05 12.3801 14.98 12.2701C14.91 12.1601 14.76 12.1101 14.51 11.9901Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
}
.media-gallery-item{
  &:hover{
    .download-info{
      display: flex;
    }
  }
}