@use '../helper/breakpoint' as *;
@use '../helper/font-mixins' as *;
.wp-block-column{
    .wp-block-categories{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            margin: 0 0 15px;
            padding: 0px;
            width: 100%;
            background-size: cover !important;
            a{
                display: flex;
                align-items: flex-end;
                padding: 10px;
                background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
                min-height: 100px;
                color: #fff;
                @include font-size-md;
                &:hover{
                    background: linear-gradient(to bottom,  rgba(53,53,53,0) 0%,rgba(1,1,1,0.65) 50%,rgba(0,0,0,0.65) 51%);

                }
                
            }
            @for $i from 1 through 27 {
                &:nth-child(#{$i}) {
                  background: url('../images/categories/#{$i}.jpg') no-repeat right center;
                }
            }
        }
    }
}