{% extends "base.twig" %}

{% block content %}

<div class="details-sections blog-details page-default-details">

		<section class="inner-page-hero page-title-section">

			<div class="container-fluid">

				<div class="page-hero-left">
					<h1>404</h1>
				</div>
			</div>

		</section>


	</div>

<div class="details-sections blog-details page-default-details">
    <section class="main-heading--section white-bg">
        <div class="container-sm container-sm-pd-lr">
                    <h1>page not found</h1>
                    <div class="desc--box">
                <p>Sorry, we couldn't find what you're looking for.</p>

            </div>
        </div>
    </section>
</div>
{% endblock %}