{% block html_head_container %}
{% include 'partial/html-header.twig' %}
{% endblock %}

<body class="{{body_class}}" data-template="base.twig" id="body">
	<div id="mainContainer">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<section class="main-header" id="top-header-nav">

			<header>
				<div class="container-fluid custom-row"> 
					<div class="logo">
						<a href="{{site.link}}"><img src="{{ site.theme.link }}/assets/img/splicecom white logo.svg"
								alt="logo" /></a>
					</div>
					<button class="nav__toggle" id="navToggle">
						<span></span>
					</button>
					<div class="top-hdr-right">
						<div class="nav_menu">
							<div class="nav_menu_inner">
								<nav id="nav-main" class="nav-main">
{{ function('do_shortcode', '[maxmegamenu location=max_mega_menu_1]') }}
									{# {% include "menu.twig" with {'items': menu.get_items} %} #}

								</nav>

								<div class="login-btn"><a href="https://iris.splicecom.com/" class="primary-btn">PARTNER
										LOGIN</a></div>
							</div>
						</div>

					</div>
				</div>

				{# <div class="custom-menu-wrapper"> 
					{{ function('do_shortcode', '[maxmegamenu location=max_mega_menu_1]') }}
				</div> #}

			</header>

		</section>

		<section class="main-container">
			<div id="content" role="main" class="content-wrapper">
				{% block content %}
				Sorry, no content
				{% endblock %}
			</div>
		</section>

		{% block footer %}
		<section class="main-footer">
			{% include 'partial/footer.twig' %}
		</section>
		{{ function('wp_footer') }}
		{% endblock %}
		{% include 'partial/content-whatsupbox.twig' %}
		{% include 'partial/footer-script.twig' %}
	</div>
</body>

</html>