{% for post in posts %}
	{% if is_search_page %}
		{% include ['tease-search.twig', 'tease.twig'] %}
	{% else %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endif %}
{% endfor %}
