{% extends "base.twig" %}

{% block content %}
	{% include "partial/content-page-hero.twig" with {post:blog_post}%}
	<section class="news-press-box-section">
		<div class="custom-row">
			{% for post in posts %}
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			{% endfor %}
			<div class="loadmoreprojects_wrapper"></div>
		</div>

		{% include 'partial/pagination.twig' with {posts:posts, post_args :{post_type:'post'} ,pagination: posts.pagination({show_all: false, mid_size: 3,
		end_size: 2}) } %}
	</section>

	{% include "partial/content-flexible-content.twig" with {post:blog_post} %}

	{% include "partial/content-get-in-touch.twig"%}

{% endblock %}
