{% extends "base.twig" %}

{% block content %}

<div class="sectors-page-container">
	
    {% include "partial/content-sectors-listing.twig"%}

	{% include "partial/content-copy-main.twig"%}

	{% include "partial/content-flexible-content.twig"%}

	{% include "partial/content-get-in-touch.twig"%}
</div>
{% endblock %}