{% extends "base.twig" %} {% block content %}
<div class="contact-page-template">
	{% include "partial/content-page-hero.twig"%}

	<section class="contact-top-section primary-gradient-bg common-white-txt-section common-section-top-pd">
		<div class="container-sm">
			<div class="common-content-block">
				{#
				<h2>WHY SPLICECOM?</h2>
				#}
				<div class="desc--box">
					<p>
						Lets talk about your business, and how we can bring the best commuincation solution to you.Drop us a line, give us a call or submit the form and a member of our team will get back to you.
					</p>
				</div>
			</div>
		</div>
		<div class="card--3 common-section-top-pd">
			<div class="custom-row">
				<div class="cards">
					<div class="cards--inner">
						<a href="#">
							<i><img src="{{ site.theme.link }}/assets/img/iconset/drak phone icon.svg" alt="" /></i>
							<h2>+44 (0) 1923 287700</h2>
						</a>
					</div>
				</div>
				<div class="cards">
					<div class="cards--inner">
						<a href="#">
							<i><img src="{{ site.theme.link }}/assets/img/iconset/white email icon.svg" alt="" /></i>
							<h2>info@splicecom.com</h2>
						</a>
					</div>
				</div>
				<div class="cards">
					<div class="cards--inner">
						<a href="#">
							<i><img src="{{ site.theme.link }}/assets/img/iconset/white call icon.svg" alt="" /></i>
							<h2>WhatsApp chat</h2>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="contact-section">
		<div class="container-sm">
			<div class="get-in-touch-block">
				<div class="get-in-touch--form">
					{{ function('do_shortcode', '[contact-form-7 id="'~ contact_post.contact_form.ID~'" title="Contact form 1"]') }}
				</div>
			</div>
		</div>
	</section>

    <section class="find-us-section common-section-pd">
      <div class="container-sm">
         <div class="custom-row">
           <div class="find-us-left">
              <h2><i><img src="{{ site.theme.link }}/assets/img/iconset/orange map icon splicecom.svg" alt="" /></i> <span>FIND US</span></h2>
               <div class="address-txt">
                 SpliceCom<br>
                The Hall Business Centre<br>
                Chorleywood<br>
                Hertfordshire, WD3 5EX
               </div>
           
           </div>
           <div class="find-us-right">
            <img src="{{ site.theme.link }}/assets/img/demo-img/map.jpg" alt="" />
           </div>
         </div>
      </div>
    </section>



	{% include "partial/content-flexible-content.twig"%}
</div>
{% endblock %}
