{% extends "base.twig" %}

{% block content %}

<div class="products-page-container">
	{% include ["partial/content-case-studies-listing.twig"]%}

	{% include "partial/content-copy-main.twig"%}

	{% include "partial/content-flexible-content.twig"%}

	{% include "partial/content-get-in-touch.twig"%}
</div>
{% endblock %}