{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base.twig" %}

{% block content %}


	<div class="details-sections blog-details page-default-details">

		<section class="inner-page-hero page-title-section">

			<div class="container-fluid">

				<div class="page-hero-left">
					<h1>{{post.get_field('hero_title')?post.get_field('hero_title'):(post.title?post.title:title)}}</h1>
				</div>
			</div>

		</section>

		<section class="sectors-box-section common-section-pd">
			<div class="container-md">
				<div class="custom-row">
					{% for post in posts %}
						{% include ['tease-search.twig', 'tease.twig'] %}
					{% endfor %}
					<div class="loadmoreprojects_wrapper"></div>

				</div>
				{% include 'partial/pagination.twig' with {posts:posts,post_args:{
					s:search_key,
					is_search_page:true,
				}, pagination: posts.pagination({show_all: false, mid_size: 3, end_size:
    2}) } %}
			</div>
		</section>


	</div>

{% endblock %}
