{% extends "base.twig" %}

{% block content %}
<div class="single-page single-{{post.post_type}}-details">
    {% include ["partial/content-single-"~post.post_type~"-content.twig","partial/content-single-content.twig"]%}
    {# {% include "partial/content-flexible-content.twig"%} #}
</div>
{% include "partial/content-get-in-touch.twig"%}
{% endblock %}