{% if loop.index %2 == 0 %}
<div class="cards tease-item">
    <div class="cards--inner">
        <div class="tags">{{ post.terms('category') | join(', ') }}</div>
        <h5><a href="{{post.link}}">{{post.title}}</a></h5>
        <div class="btn-set--center"><a href="{{post.link}}" class="arrow-right"></a></div>
    </div>
</div>
{% else %}
<div class="cards tease-item">
    <div class="cards--inner">
        <div class="tags">{{ post.terms('category') | join(', ') }}</div>
        <h5><a href="{{post.link}}">{{post.title}}</a></h5>
        <div class="btn-set--center"><a href="{{post.link}}" class="arrow-right"></a></div>
    </div>
</div>
{% endif %}