{% set currentgroup = post.get_field('listing_content_group') %}
{% set dark = loop.index % 8 %}
{% if dark == 1 or dark ==3 or dark ==6 or dark ==0 %}
	{% set boxClass = "light-dark-card" %}
	{% set service_icon = currentgroup.listing_content_icon_white %}
{% else %}
	{% set boxClass = "light-orange-card" %}
	{% set service_icon = currentgroup.listing_content_icon_black %}
{% endif %}

<div class="cards {{boxClass}} tease-item">
	<div class="cards--inner">
		{% if service_icon %}
			<i><img src="{{service_icon}}" alt="{{post.title}}"/></i>
		{% endif %}
		<h4>
			<a href="{{post.link}}">{{currentgroup.listing_content_title? currentgroup.listing_content_title: post.title}}</a>
		</h4>
		<div class="desc--box">
			{{currentgroup.listing_content_copy?currentgroup.listing_content_copy:post.preview.read_more(false)}}
		</div>

		<div class="absolute-arrow">
			<a href="{{post.link}}" class="arrow-right"></a>
		</div>
	</div>
</div>
