<div class="img-txt-card-list teaser-{{post.post_type}} tease-item">
    <div class="img-txt-card-content">
        <h5>
            {% if post.post_type == 'sectors' and post.sector_external_cta %}
            <a href="{{post.sector_external_cta.url}}" target="{{post.sector_external_cta.target}}" class="title-cta"
                title="{{post.sector_external_cta.title}}">{{post.title}}</a>
            {% else %}
            <a href="{{post.link}}" class="title-cta">{{post.title}}</a>
            {% endif %}
        </h5>
        <div class="desc--box">
            {{post.preview.read_more(false)}}

        </div>
        <div class="btn-set--right">
            {% if post.post_type == 'sectors' and post.sector_external_cta %}
            <a href="{{post.sector_external_cta.url}}" target="{{post.sector_external_cta.target}}" class=""
                title="{{post.sector_external_cta.title}}">Read more >></a>
            {% else %}
            <a href="{{post.link}}" class="">Read more >></a>
            {% endif %}
        </div>
    </div>
</div>