<div class="img-txt-card teaser-{{post.post_type}} tease-item">
    <div class="img-txt-card-img">
        {% if post.post_type == 'sectors' and post.sector_external_cta %}
        <a href="{{post.sector_external_cta.url}}" target="{{post.sector_external_cta.target}}" class="title-cta"
            title="{{post.sector_external_cta.title}}">
            <img src="{{ TimberImage(post.thumbnail).src('medium') }}" alt="{{ post.thumbnail.alt }}" />
        </a>
        {% else %}
        <a href="{{post.link}}" class="title-cta"> <img src="{{ TimberImage(post.thumbnail).src('medium') }}"
                alt="{{ post.thumbnail.alt }}" />
        </a>
        {% endif %}
    </div>
    <div class="img-txt-card-content">
        <h5>
            {% if post.post_type == 'sectors' and post.sector_external_cta %}
            <a href="{{post.sector_external_cta.url}}" target="{{post.sector_external_cta.target}}" class="title-cta"
                title="{{post.sector_external_cta.title}}">{{post.title}}</a>
            {% else %}
            <a href="{{post.link}}" class="title-cta">{{post.title}}</a>
            {% endif %}
        </h5>
        <div class="desc--box">
            {{post.preview.read_more(false)}}

        </div>
        <div class="btn-set--right">
            {% if post.post_type == 'sectors' and post.sector_external_cta %}
            <a href="{{post.sector_external_cta.url}}" target="{{post.sector_external_cta.target}}" class="arrow-right"
                title="{{post.sector_external_cta.title}}"></a>
            {% else %}
            <a href="{{post.link}}" class="arrow-right"></a>
            {% endif %}
        </div>
    </div>
</div>