<div class="blog-card-outer blog-card-outer-right " data-aos="fade">
    <div class="container-sm container-sm-pd-lr">
        <div class="blog-cards">
            <img src="{{ TimberImage(post.thumbnail).src('medium') }}" alt="{{ post.thumbnail.alt }}"/></i>

            <div class="blog-card-content">
                <h2>{{post.title}}</h2>
                <div class="desc--box">
                    {{post.preview.read_more(false)}}
                </div>
                <div class="btn-set--left">
                    <a href="{{post.link}}" class="secondary-outline--btn">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>