{% extends "base.twig" %}

{% block content %}
	<div class="details-sections blog-details page-default-details">
	<section class="inner-page-hero inner-details-page-hero page-title-section">
   <div class="container-sm ">
		   <div class="page-hero-center">
					<h2>{{post.title}}</h2>
			</div>
	</div>
</section>
	

		{% include "partial/content-post-content.twig"%}

		{% include "partial/content-flexible-content.twig"%}

		{% include "partial/content-get-in-touch.twig" with {post:contact_post,hide_title:true}%}


	</div>

{% endblock %}
