/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
a,
button {
  cursor: pointer;
}

.main-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.about .full-card {
  padding-bottom: 6rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .about .full-card {
    padding-bottom: 3rem;
  }
}

.individuals-organisations-section .ind-org-section-content, .get-in-touch-section .get-in-touch-section-content, .discover-more-in-book-section .discover-more-in-book-section-content, .single-article-section .single-article-section-content, .expertise-section .expertise-section-content, .help-section .help-section-content, .testimonials-section .testimonials-slider {
  padding-top: 4rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .individuals-organisations-section .ind-org-section-content, .get-in-touch-section .get-in-touch-section-content, .discover-more-in-book-section .discover-more-in-book-section-content, .single-article-section .single-article-section-content, .expertise-section .expertise-section-content, .help-section .help-section-content, .testimonials-section .testimonials-slider {
    padding-top: 4rem;
  }
}

.book-list-section .book-card .book-card-body h4, .page-template-template-page .text-section .desc--box p, .articles-list-section .articles-list-section-content .articles-list h5, .single-expertise .expertise-section .expertise-section-content .expertise-card h3, body {
  font-size: 17px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .book-list-section .book-card .book-card-body h4, .page-template-template-page .text-section .desc--box p, .articles-list-section .articles-list-section-content .articles-list h5, .single-expertise .expertise-section .expertise-section-content .expertise-card h3, body {
    font-size: 18px;
  }
}

.home-hero-section .home-hero-outer .home-hero-container .home-hero-content .desc--box p {
  font-size: 1.9rem;
  line-height: 2.3rem;
  letter-spacing: 0.5px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-hero-section .home-hero-outer .home-hero-container .home-hero-content .desc--box p {
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
}

.page-template-template-page h3, .contact .get-in-touch-section .section-hd h2, .text-section .desc--box p, .welcome-text-section .welcome-text-right .desc--box p {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
  font-weight: 300;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-template-template-page h3, .contact .get-in-touch-section .section-hd h2, .text-section .desc--box p, .welcome-text-section .welcome-text-right .desc--box p {
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
}

.page-template-template-page .text-section .desc--box p, .desc--box ul li, p {
  line-height: 1.4rem;
}

.btn-set--left {
  display: flex;
  justify-content: left;
}

.btn-set--center {
  display: flex;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  justify-content: right;
}
@media (min-width: 320px) and (max-width: 567px) {
  .btn-set--right {
    justify-content: start;
  }
}

.primary-btn,
.secondary-btn,
.primary-outline-btn,
.white-outline-btn,
.secondary-outline-btn {
  min-width: 150px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .primary-btn,
.secondary-btn,
.primary-outline-btn,
.white-outline-btn,
.secondary-outline-btn {
    min-width: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .primary-btn,
.secondary-btn,
.primary-outline-btn,
.white-outline-btn,
.secondary-outline-btn {
    min-width: auto;
  }
}

.primary-btn {
  background-color: #5c254f;
  color: #fff;
  border: 1px #5c254f solid;
  padding: 0.7rem 2.5rem;
  font-size: 14px;
  display: block;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
}
.primary-btn:hover {
  background-color: #72854a;
  color: #fff;
  border: 1px #72854a solid;
}

.secondary-btn {
  background-color: #72854a;
  color: #fff;
  border: 1px #72854a solid;
  padding: 0.7rem 2.5rem;
  font-size: 14px;
  display: block;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
}
.secondary-btn:hover {
  background-color: #5c254f;
  color: #fff;
  border: 1px #5c254f solid;
}

.primary-outline-btn {
  background-color: transparent;
  color: #fff;
  border: 1px #5c254f solid;
  padding: 0.7rem 2.5rem;
  font-size: 14px;
  display: block;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
}
.primary-outline-btn:hover {
  background-color: #5c254f;
  color: #fff;
  border: 1px #5c254f solid;
}

.white-outline-btn {
  background-color: transparent;
  color: #fff;
  border: 1px #fff solid;
  padding: 0.7rem 2.5rem;
  font-size: 14px;
  display: block;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
}
.white-outline-btn:hover {
  background-color: #fff;
  color: #5c254f;
  border: 1px #fff solid;
}

.secondary-outline-btn {
  background-color: transparent;
  color: #72854a;
  border: 1px #72854a solid;
  padding: 0.7rem 2.5rem;
  font-size: 14px;
  display: block;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
}
.secondary-outline-btn:hover {
  background-color: #72854a;
  color: #fff;
  border: 1px #72854a solid;
}

.wpcf7-submit {
  background-color: #72854a;
  color: #fff;
  border: 1px #72854a solid;
  padding: 0.7rem 2.5rem;
  font-size: 14px;
  display: block;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
}
.wpcf7-submit:hover {
  background-color: #fff;
  color: #5c254f;
  border: 1px #fff solid;
}

.contact .wpcf7-submit {
  background-color: #5c254f;
  border: 1px #5c254f solid;
}
.contact .wpcf7-submit:hover {
  background-color: #fff;
  color: #5c254f;
  border: 1px #fff solid;
}

.input-submit .wpcf7-spinner {
  display: none;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Archivo", sans-serif;
  font-weight: 200;
  background: #fff;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0px;
  color: #555864;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #72854a;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

.container-lg {
  max-width: calc(100%);
  width: calc(100% - 6rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .container-lg {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container-lg {
    width: calc(100% - 3rem);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container-lg {
    width: calc(100% - 2rem);
  }
}

.container {
  max-width: calc(100%);
  width: calc(100% - 30rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1500px) and (max-width: 1700px) {
  .container {
    width: calc(100% - 12rem);
  }
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .container {
    width: calc(100% - 12rem);
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .container {
    width: calc(100% - 6rem);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: calc(100% - 3rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container {
    width: calc(100% - 2rem);
  }
}

.container-sm {
  max-width: 990px;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .container-sm {
    max-width: 940px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-sm {
    width: calc(100% - 10rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-sm {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-sm {
    width: calc(100% - 6rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-sm {
    width: calc(100% - 2rem);
  }
}

.white-bg {
  background: #fff;
}

.primary-bg {
  color: #fff;
  background: #5c254f;
}

.secondary-bg {
  background: #72854a;
  color: #fff;
}

.drak-gray-bg {
  background: #555864;
  color: #fff;
}

.light-green-bg {
  background: #e1e3d6;
}

.light-gray-bg {
  background: #f2ece8;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.hide-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hide-desktop {
    display: block;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
  .hide-mobile {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hide-mobile {
    display: none;
  }
}

.desc--box p:first-child {
  margin-top: 0px;
}
.desc--box p:last-child {
  margin: 0px;
}
.desc--box ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.desc--box ul li {
  position: relative;
  margin: 0 0 0.8rem 0;
  padding: 0 0 0 1.6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .desc--box ul li br {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .desc--box ul li br {
    display: none;
  }
}
.desc--box ul li::before {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0px;
  top: 6px;
  background: #5c254f;
  content: "";
  border-radius: 50px;
}

.main-container {
  min-height: 90vh;
}

.back-btn-box {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.back-btn-box .back-btn {
  font-size: 2rem;
}

.section-hd h2 {
  margin: 0;
  padding: 0px;
  text-align: center;
  font-weight: 500;
}
.section-hd .desc--box {
  max-width: 800px;
  padding: 1rem 0 0 0;
  margin: auto;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-hd .desc--box {
    max-width: 650px;
  }
}

.hide-in-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hide-in-desktop {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .hide-in-mobile {
    display: none;
  }
}

/*Helpers Scss Files */
.input-field {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 2rem;
  margin-left: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .input-field {
    margin-top: 1.2rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
.input-field label {
  font-size: 17px;
  color: #fff;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-weight: 100;
  font-family: "Archivo", sans-serif;
}
.input-field label a {
  color: #fff;
  text-decoration: underline;
}
.input-field label a:hover {
  color: #df96cd;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea {
  border-width: 0px;
  border-color: #000;
  border-style: solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 100%;
  border-bottom: 1px #fff solid;
  font-size: 17px;
  color: #fff;
  background: transparent;
  -webkit-appearance: none;
  border-radius: 0;
  font-family: "Archivo", sans-serif;
  font-weight: 200;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled {
  opacity: 0.5;
}
.input-field input[type=text]::-webkit-input-placeholder,
.input-field input[type=email]::-webkit-input-placeholder,
.input-field input[type=password]::-webkit-input-placeholder,
.input-field input[type=number]::-webkit-input-placeholder,
.input-field input[type=date]::-webkit-input-placeholder,
.input-field textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 17px;
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-weight: 200;
  opacity: 1;
}
.input-field input[type=text]::-moz-placeholder,
.input-field input[type=email]::-moz-placeholder,
.input-field input[type=password]::-moz-placeholder,
.input-field input[type=number]::-moz-placeholder,
.input-field input[type=date]::-moz-placeholder,
.input-field textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-size: 17px;
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-weight: 200;
  opacity: 1;
}
.input-field input[type=text]:-ms-input-placeholder,
.input-field input[type=email]:-ms-input-placeholder,
.input-field input[type=password]:-ms-input-placeholder,
.input-field input[type=number]:-ms-input-placeholder,
.input-field input[type=date]:-ms-input-placeholder,
.input-field textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-size: 17px;
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-weight: 200;
  opacity: 1;
}
.input-field input[type=text]:-moz-placeholder,
.input-field input[type=email]:-moz-placeholder,
.input-field input[type=password]:-moz-placeholder,
.input-field input[type=number]:-moz-placeholder,
.input-field input[type=date]:-moz-placeholder,
.input-field textarea:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-size: 17px;
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-weight: 200;
  opacity: 1;
}
.input-field textarea {
  height: 126px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

.selectbox {
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  width: 100%;
  font-size: 18px;
  color: #fff;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 3rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  h1 {
    font-size: 2.9rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 2.4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 2.1rem;
  }
}

h2 {
  font-size: 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.8rem;
}

h4, h3, h2, h1, body {
  letter-spacing: 0.8px;
}

h1 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

h3 {
  font-family: "Raleway", sans-serif;
}

h4 {
  font-family: "Raleway", sans-serif;
}

h5 {
  font-family: "Raleway", sans-serif;
}

/*Layout Scss Files */
.main-header {
  background-color: white;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
.main-header header {
  position: relative;
  padding: 2rem 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header header {
    padding: 1rem 0;
  }
}
.main-header .custom-row {
  align-items: center;
  position: relative;
  z-index: 2;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .custom-row {
    align-items: center;
  }
}
.main-header .logo a {
  display: block;
  padding: 0;
  z-index: 3;
}
.main-header .logo a img {
  display: block;
  width: 280px;
  position: relative;
  z-index: 2;
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .main-header .logo a img {
    width: 250px;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .main-header .logo a img {
    width: 220px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-header .logo a img {
    width: 220px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .logo a img {
    width: 130px;
  }
}
.main-header .top-hdr-right {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .top-hdr-right {
    margin-left: 0;
    display: none;
  }
}
.main-header .nav_menu_inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main-header .nav_menu {
  width: 100%;
}
.main-header .nav-main ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.main-header .nav-main ul li {
  margin: 0 3rem 0 0;
  padding: 0px;
}
.main-header .nav-main ul li .sub-menu-toggle {
  width: 0px;
  height: 0px;
  border: 0px;
  padding: 0px;
  background: transparent;
  display: none;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-header .nav-main ul li {
    margin: 0 1.5rem 0 0;
  }
}
.main-header .nav-main ul li a {
  display: block;
  font-size: 1.2rem;
  color: #555864;
  padding-bottom: 0.1rem;
  font-weight: 400;
}
.main-header .nav-main ul li a:hover {
  color: #5c254f;
}
.main-header .nav-main ul li ul {
  display: none;
}
.main-header .nav-main ul li ul:empty {
  display: none;
}
.main-header .nav-main ul li.menu-item-has-children {
  position: relative;
}
.main-header .nav-main ul li.menu-item-has-children ul {
  width: 200px;
  display: none;
  position: absolute;
  left: 0px;
  padding-top: 17px;
}
.main-header .nav-main ul li.menu-item-has-children ul li {
  margin: 0px;
  padding: 8px 27px;
  background: #72854a;
}
.main-header .nav-main ul li.menu-item-has-children ul li:first-child {
  padding-top: 25px;
}
.main-header .nav-main ul li.menu-item-has-children ul li:last-child {
  padding-bottom: 25px;
}
.main-header .nav-main ul li.menu-item-has-children ul li a {
  padding: 0px;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
}
.main-header .nav-main ul li.menu-item-has-children ul li a:hover {
  text-decoration: underline;
}
.main-header .nav-main ul li.menu-item-has-children:hover ul {
  display: block;
}
.main-header .nav-main ul li.current-menu-ancestor a, .main-header .nav-main ul li.current-menu-item a {
  color: #5c254f;
}
.main-header .nav-main ul li.current-menu-ancestor ul li a, .main-header .nav-main ul li.current-menu-item ul li a {
  color: #fff;
}
.sm-header .main-header header {
  padding: 1rem 0;
}
.sm-header .main-header header::after {
  position: absolute;
  width: 100%;
  content: "";
  height: 100%;
  background-color: white;
  left: 0px;
  top: 0px;
  mix-blend-mode: multiply;
}
@media (min-width: 320px) and (max-width: 991px) {
  .sm-header .main-header header::after {
    background-color: #72854a;
    mix-blend-mode: color;
  }
}

.header-social-media {
  position: relative;
  top: -5px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .header-social-media {
    top: 0;
  }
}
.header-social-media ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  list-style: none;
}
@media (min-width: 320px) and (max-width: 991px) {
  .header-social-media ul {
    justify-content: start;
  }
}
.header-social-media ul li {
  margin: 0 0 0 1rem;
  padding: 0px;
}
.header-social-media ul li:first-child {
  margin-left: 0px;
}
.header-social-media ul li a {
  display: flex !important;
  background: #72854a;
  padding: 5px !important;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.header-social-media ul li a i {
  display: block;
  height: 75%;
  width: 75%;
  margin: auto;
}
.header-social-media ul li a .email-white-icon {
  background: url("../img/icons/email white.svg") no-repeat center center;
}
.header-social-media ul li a .telephone-white-icon {
  background: url("../img/icons/phone white.svg") no-repeat center center;
}
.header-social-media ul li a .linkedin-white-icon {
  background: url("../img/icons/linkedin white.svg") no-repeat center center;
}
.header-social-media ul li a:hover {
  background: #5c254f;
}
@media (min-width: 320px) and (max-width: 991px) {
  .header-social-media ul li a:hover {
    background: #5c254f;
  }
}
.header-social-media ul li a:hover .email-white-icon {
  background: url("../img/icons/email white.svg") no-repeat center center;
}
.header-social-media ul li a:hover .telephone-white-icon {
  background: url("../img/icons/phone white.svg") no-repeat center center;
}
.header-social-media ul li a:hover .linkedin-white-icon {
  background: url("../img/icons/linkedin white.svg") no-repeat center center;
}

.nav__toggle {
  display: none;
}
@media (min-width: 320px) and (max-width: 991px) {
  .nav__toggle {
    display: block;
  }
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 35px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: auto;
  top: 0px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
}
.nav__toggle span {
  height: 3px;
  width: 35px;
}
.nav__toggle span::before,
.nav__toggle span::after {
  height: 3px;
  width: 35px;
  right: 0px;
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  text-align: right;
  cursor: pointer;
  border-radius: 0px;
  background-color: #555864;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.2s;
  outline: 0;
}
.nav__toggle span {
  top: 15px;
}
.nav__toggle span::before {
  top: -10px;
}
.nav__toggle span::after {
  bottom: -10px;
}

.menu-slide {
  overflow: hidden;
  height: 100%;
}
.menu-slide .main-header .nav-main ul li a {
  color: #fff;
}
.menu-slide .main-header .nav-main ul li.menu-item-has-children ul li {
  background: transparent;
}
.menu-slide .main-header .nav-main ul li.current-menu-ancestor ul li a,
.menu-slide .main-header .nav-main ul li.current-menu-item ul li a {
  color: #fff;
}
@media (min-width: 320px) and (max-width: 991px) {
  .menu-slide .header-social-media.hide-mobile {
    display: none;
  }
}
.menu-slide .main-header {
  height: 100vh;
  background-color: #555864;
}
.menu-slide .main-header header {
  background: #fff;
}
.menu-slide .main-header .top-hdr-right {
  display: block;
  position: absolute;
  width: 100%;
  height: calc(100vh - 89px);
  left: 0px;
  top: 49px;
  padding: 0;
}
.menu-slide .main-header .top-hdr-right .nav_menu {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner {
  justify-content: center;
  width: auto;
  margin: auto;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul {
  display: block;
  text-align: center;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li {
  margin: 1.5rem 0;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li a {
  font-size: 1.6rem;
  font-weight: 200;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.menu-item-has-children .sub-menu-toggle {
  background: url("../img/icons/menu-close.svg") no-repeat center center;
  height: 15px;
  border: 0px;
  padding: 0px;
  cursor: pointer;
  width: 10px;
  margin: 0 0 0 5px;
  display: inline;
  position: absolute;
  top: 6px;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.menu-item-has-children a {
  display: inline-flex;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.menu-item-has-children ul {
  display: none;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.menu-item-has-children ul li {
  margin: 0px;
  padding: 10px 0;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.menu-item-has-children ul li:first-child {
  padding: 0px;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.menu-item-has-children ul li a {
  padding: 0.2rem 0 0.2rem 0rem;
  font-size: 1.2rem;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.submenu-expanded .sub-menu-toggle {
  background: url("../img/icons/menu-open.svg") no-repeat center center;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.submenu-expanded ul {
  display: block;
  position: relative;
  width: auto;
  left: 0;
  top: 0;
  padding: 0px;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.submenu-expanded ul li a {
  font-size: 1rem;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main .header-social-media.hide-desktop {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main .header-social-media.hide-desktop ul {
  display: flex;
  justify-content: center;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main .header-social-media.hide-desktop ul li {
  margin-right: 1rem;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main .header-social-media.hide-desktop ul li:last-child {
  margin-right: 0rem;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main .header-social-media.hide-desktop ul li a {
  border: 0 !important;
}
.menu-slide .main-header .nav-main ul li.current-menu-ancestor a,
.menu-slide .main-header .nav-main ul li.current-menu-item a {
  color: #72854a;
  font-weight: 300 !important;
}
.menu-slide .main-header .nav-main ul li.current-menu-ancestor ul li.current-menu-item a,
.menu-slide .main-header .nav-main ul li.current-menu-item ul li.current-menu-item a {
  color: #72854a;
  font-weight: 300 !important;
}
.menu-slide .nav__toggle span {
  background-color: transparent;
}
.menu-slide .nav__toggle span::before, .menu-slide .nav__toggle span::after {
  top: 0;
  background-color: #555864;
}
.menu-slide .nav__toggle span::before {
  transform: rotate(45deg);
}
.menu-slide .nav__toggle span::after {
  transform: rotate(-45deg);
}
.menu-slide .nav__toggle:hover span {
  background-color: transparent;
}
.menu-slide .nav__toggle:hover span::before, .menu-slide .nav__toggle:hover span::after {
  background-color: #555864;
}
.menu-slide .header-social-media.hide-mobile {
  display: none;
}

.main-footer {
  background: #fff;
  padding: 2rem 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .custom-row {
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .custom-row {
    justify-content: center;
  }
}
.main-footer ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer ul {
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer ul {
    justify-content: center;
  }
}
.main-footer ul li {
  margin: 0px;
  padding: 0 10px;
  border-right: 2px #5c254f solid;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer ul li {
    padding: 0 5px;
  }
}
.main-footer ul li:last-child {
  border-right: 0px;
}
.main-footer ul li a {
  font-size: 15px;
  color: #555864;
  display: block;
}
.main-footer ul li a:hover {
  color: #5c254f;
}
.main-footer .footer-left {
  width: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .footer-left {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-left ul {
    flex-wrap: wrap;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-left ul li {
    border-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-left ul li:nth-child(2) {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
}
.main-footer .footer-right {
  width: auto;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .footer-right {
    margin-left: 0;
    margin-top: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right {
    margin-left: 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .main-footer .footer-right {
    margin-top: 1rem;
  }
}
.main-footer .footer-right ul {
  justify-content: end;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right ul li:first-child {
    border-left: 2px #5c254f solid;
  }
}
@media (min-width: 320px) and (max-width: 767px) and (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-right ul li:first-child {
    border-left: 0px #5c254f solid;
  }
}
@media (min-width: 320px) and (max-width: 767px) and (min-width: 568px) and (max-width: 767px) {
  .main-footer .footer-right ul li:first-child {
    border-left: 0px #5c254f solid;
  }
}

/*Components Scss Files */
.testimonials-section .testimonials-slider .slick-list {
  width: 100%;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .testimonials-slider .slick-list {
    width: 90%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .testimonials-section .testimonials-slider .slick-list {
    width: 90%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .testimonials-section .testimonials-slider .slick-list {
    width: 75%;
  }
}
.testimonials-section .testimonials-slider .testimonials-slider-item {
  background: #f2ece8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding: 2.5rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-slider .testimonials-slider-item {
    padding: 1.5rem;
  }
}
.testimonials-section .testimonials-slider .testimonials-slider-item .quotes {
  position: relative;
  padding: 40px 26px;
  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-slider .testimonials-slider-item .quotes {
    font-size: 1.3rem;
    padding: 40px 0px;
  }
}
.testimonials-section .testimonials-slider .testimonials-slider-item .quotes p {
  line-height: 2rem;
  font-weight: 400;
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-slider .testimonials-slider-item .quotes p {
    line-height: 1.7rem;
  }
}
.testimonials-section .testimonials-slider .testimonials-slider-item .quotes::before, .testimonials-section .testimonials-slider .testimonials-slider-item .quotes::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
}
.testimonials-section .testimonials-slider .testimonials-slider-item .quotes::before {
  left: 0px;
  top: 0px;
  background: url("../img/icons/left-quote-icon.svg") no-repeat center center;
  background-size: 100%;
}
.testimonials-section .testimonials-slider .testimonials-slider-item .quotes::after {
  right: 0px;
  bottom: 0px;
  background: url("../img/icons/right-quote-icon.svg") no-repeat center center;
  background-size: 100%;
}
.testimonials-section .testimonials-slider .slick-arrow {
  position: absolute;
  top: 50%;
  text-indent: -9999px;
  width: 35px;
  height: 35px;
  border: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-slider .slick-arrow {
    width: 28px;
    height: 28px;
  }
}
.testimonials-section .testimonials-slider .slick-arrow.slick-next {
  right: -60px;
  background: url("../img/icons/arrow-right.svg") no-repeat center center;
  background-size: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .testimonials-slider .slick-arrow.slick-next {
    right: -35px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .testimonials-section .testimonials-slider .slick-arrow.slick-next {
    right: -25px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .testimonials-section .testimonials-slider .slick-arrow.slick-next {
    right: 0px;
  }
}
.testimonials-section .testimonials-slider .slick-arrow.slick-prev {
  left: -60px;
  background: url("../img/icons/arrow-left.svg") no-repeat center center;
  background-size: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .testimonials-slider .slick-arrow.slick-prev {
    left: -35px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .testimonials-section .testimonials-slider .slick-arrow.slick-prev {
    left: -25px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .testimonials-section .testimonials-slider .slick-arrow.slick-prev {
    left: 0px;
  }
}

.help-section {
  position: relative;
  overflow: hidden;
}
.help-section::before, .help-section::after {
  content: "";
  position: absolute;
  width: 38rem;
  height: 38rem;
}
@media (min-width: 1300px) and (max-width: 1700px) {
  .help-section::before, .help-section::after {
    width: 30rem;
    height: 30rem;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .help-section::before, .help-section::after {
    width: 20rem;
    height: 20rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .help-section::before, .help-section::after {
    width: 20rem;
    height: 20rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .help-section::before, .help-section::after {
    width: 14rem;
    height: 14rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .help-section::before, .help-section::after {
    width: 14rem;
    height: 14rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .help-section::before, .help-section::after {
    display: none;
  }
}
.help-section::before {
  left: -8rem;
  top: 6rem;
  background: url("../img/icons/inspiring-transformations-icon service pages.png") no-repeat center center;
  background-size: 100%;
}
.help-section::after {
  right: -8rem;
  bottom: 6rem;
  background: url("../img/icons/inspiring-transformations-icon service pages.png") no-repeat center center;
  background-size: 100%;
}
.help-section .help-section-content {
  padding-left: 14rem;
  padding-right: 14rem;
  position: relative;
  z-index: 1;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .help-section .help-section-content {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .help-section .help-section-content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .help-section .help-section-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .help-section .help-section-content {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.help-section .help-section-content .help-card {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  margin-bottom: 2rem;
  align-items: flex-start;
}
@media (min-width: 320px) and (max-width: 567px) {
  .help-section .help-section-content .help-card {
    flex-wrap: wrap;
  }
}
.help-section .help-section-content .help-card .help-card-icon {
  width: 25%;
  padding-top: 3rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .help-section .help-section-content .help-card .help-card-icon {
    width: 31%;
    padding-top: 0px;
  }
}
.help-section .help-section-content .help-card .help-card-icon img {
  width: 100%;
  display: block;
}
.help-section .help-section-content .help-card .help-card-body {
  width: 75%;
  padding-left: 10%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .help-section .help-section-content .help-card .help-card-body {
    width: 100%;
    padding-left: 0;
    padding-top: 1.5rem;
  }
}
.help-section .help-section-content .help-card .help-card-body h3 {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.7px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .help-section .help-section-content .help-card .help-card-body h3 {
    font-size: 1.3rem;
  }
}
.help-section .help-section-content .help-card .help-card-body .desc--box {
  margin: 1rem 0;
  min-height: 160px;
}

@media (min-width: 992px) and (max-width: 1024px) {
  .expertise-section {
    padding-bottom: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .expertise-section {
    padding-bottom: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .expertise-section .expertise-section-content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.expertise-section .expertise-section-content .custom-row {
  justify-content: center;
}
.expertise-section .expertise-section-content .expertise-card {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding: 3rem 1.5rem 4rem 1.5rem;
  width: 23%;
  margin-right: 2.5%;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .expertise-section .expertise-section-content .expertise-card {
    width: 37%;
    margin-bottom: 4rem;
    margin-right: 4%;
  }
  .expertise-section .expertise-section-content .expertise-card:nth-child(2n+2) {
    margin-right: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .expertise-section .expertise-section-content .expertise-card {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 3rem;
  }
  .expertise-section .expertise-section-content .expertise-card:nth-child(2n+2) {
    margin-right: 0px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .expertise-section .expertise-section-content .expertise-card {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 3rem;
  }
  .expertise-section .expertise-section-content .expertise-card:nth-child(2n+2) {
    margin-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .expertise-section .expertise-section-content .expertise-card {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 3rem;
  }
}
.expertise-section .expertise-section-content .expertise-card .expertise-card-icon {
  width: 100%;
  margin: 0 0 2rem 0;
  display: flex;
  height: 110px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .expertise-section .expertise-section-content .expertise-card .expertise-card-icon {
    height: 90px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .expertise-section .expertise-section-content .expertise-card .expertise-card-icon {
    height: 85px;
  }
}
.expertise-section .expertise-section-content .expertise-card .expertise-card-icon img {
  width: auto;
  display: block;
  height: 100%;
}
.expertise-section .expertise-section-content .expertise-card h3 {
  margin: 0 0 1.2rem 0;
  padding: 0px;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}
.expertise-section .expertise-section-content .expertise-card .desc--box {
  text-align: center;
}
.expertise-section .expertise-section-content .expertise-card:last-child {
  margin-right: 0px;
}
.expertise-section .expertise-section-content .expertise-card .btn-set--center {
  position: absolute;
  bottom: -17px;
  width: 100%;
  left: 0;
}

@media (min-width: 992px) and (max-width: 1024px) {
  .single-expertise .expertise-section {
    padding-bottom: 6rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .single-expertise .expertise-section .expertise-section-content .custom-row {
    justify-content: flex-start;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .single-expertise .expertise-section .expertise-section-content .expertise-card {
    width: 28%;
    margin-right: 2.5%;
    margin-bottom: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .single-article-section .single-article-section-content {
    padding-top: 2rem;
  }
}
.single-article-section .single-article-section-content .primary-btn:hover {
  background: #fff;
  color: #5c254f;
}

@media (min-width: 768px) and (max-width: 991px) {
  .articles-list-section .container-sm {
    width: calc(100% - 11rem);
  }
}
.articles-list-section .articles-list-section-content .articles-list {
  border-bottom: 1px #fff solid;
  padding: 1rem 0 2.2rem;
}
.articles-list-section .articles-list-section-content .articles-list .article-content {
  margin: 0 0 0.4rem 0;
}
.articles-list-section .articles-list-section-content .articles-list .article-content p {
  margin-bottom: 0px;
}
.articles-list-section .articles-list-section-content .articles-list h5 {
  margin: 0 0 0.4rem 0;
  padding: 0px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
.articles-list-section .articles-list-section-content .articles-list span {
  display: block;
  width: 100%;
  color: #b8cb92;
  font-style: italic;
  font-weight: 200;
  font-size: 16px;
}

.inner-banner-section {
  position: relative;
  height: 490px;
  overflow: hidden;
}
@media (min-width: 1500px) and (max-width: 1700px) {
  .inner-banner-section {
    height: 440px;
  }
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .inner-banner-section {
    height: 420px;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .inner-banner-section {
    height: 380px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .inner-banner-section {
    height: 320px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .inner-banner-section {
    height: 275px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .inner-banner-section {
    height: 210px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .inner-banner-section {
    height: auto;
  }
}
.inner-banner-section .inner-banner-img {
  width: 65%;
  margin-left: auto;
  background-attachment: initial;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .inner-banner-section .inner-banner-img {
    width: 100%;
  }
}
.inner-banner-section .inner-banner-img picture {
  width: 100%;
}
.inner-banner-section .inner-banner-img picture img {
  width: 100%;
  display: block;
}
.inner-banner-section .inner-banner-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 567px) {
  .inner-banner-section .inner-banner-content {
    position: relative;
    padding: 2rem 0;
  }
}
.inner-banner-section .inner-banner-content h1 {
  margin: 0px;
  padding: 0px;
  color: #fff;
}
.inner-banner-section .inner-banner-content .container-sm {
  position: relative;
  z-index: 1;
}
.inner-banner-section .inner-banner-content::after {
  position: absolute;
  content: "";
  width: 55%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: -moz-linear-gradient(left, #5c254f 72%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, #5c254f 72%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, #5c254f 72%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#5c254f", endColorstr="#00ffffff",GradientType=1 );
}
@media (min-width: 320px) and (max-width: 567px) {
  .inner-banner-section .inner-banner-content::after {
    background: #5c254f;
    width: 100%;
  }
}
.inner-banner-section.inner-banner-sm-section {
  padding: 2rem 0;
}
.inner-banner-section.inner-banner-sm-section .inner-banner-sm {
  align-items: center;
  height: 100%;
  flex-direction: row-reverse;
}
.inner-banner-section.inner-banner-sm-section .inner-banner-sm .inner-banner-sm-img {
  width: 50%;
  display: flex;
  align-items: center;
  height: 100%;
}
@media (min-width: 1300px) and (max-width: 99000000000px) {
  .inner-banner-section.inner-banner-sm-section .inner-banner-sm .inner-banner-sm-img {
    width: 62%;
  }
}
.inner-banner-section.inner-banner-sm-section .inner-banner-sm .inner-banner-sm-img picture {
  width: 100%;
  height: 100%;
}
.inner-banner-section.inner-banner-sm-section .inner-banner-sm .inner-banner-sm-img img {
  display: block;
  width: auto;
  height: 100%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .inner-banner-section.inner-banner-sm-section .inner-banner-sm .inner-banner-sm-img img {
    height: auto;
    width: 100%;
  }
}
.inner-banner-section.inner-banner-sm-section .inner-banner-sm .inner-banner-sm-hd {
  width: 50%;
  padding-right: 2rem;
}
@media (min-width: 1300px) and (max-width: 99000000000px) {
  .inner-banner-section.inner-banner-sm-section .inner-banner-sm .inner-banner-sm-hd {
    width: 38%;
  }
}

.home-hero-section {
  position: relative;
}
.home-hero-section .home-hero-outer {
  padding: 0px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .home-hero-section .home-hero-outer {
    position: relative;
    background: #5c254f;
  }
}
.home-hero-section .home-hero-outer .home-hero-container {
  position: relative;
}
.home-hero-section .home-hero-outer .home-hero-container::after {
  width: 66%;
  content: "";
  position: absolute;
  height: 100%;
  background: #5c254f;
  mix-blend-mode: multiply;
  left: -18%;
  top: 0;
  border-radius: 0px 30px 30px 0;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .home-hero-section .home-hero-outer .home-hero-container::after {
    width: 72%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-hero-section .home-hero-outer .home-hero-container::after {
    width: 85%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .home-hero-section .home-hero-outer .home-hero-container::after {
    display: none;
  }
}
.home-hero-section .home-hero-outer .home-hero-container .home-hero-content {
  position: relative;
  z-index: 1;
  padding: 3rem 3rem 3rem 6rem;
  width: 50%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .home-hero-section .home-hero-outer .home-hero-container .home-hero-content {
    width: 60%;
    padding: 3rem 3rem 3rem 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-hero-section .home-hero-outer .home-hero-container .home-hero-content {
    width: 68%;
    padding: 3rem 3rem 3rem 2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .home-hero-section .home-hero-outer .home-hero-container .home-hero-content {
    padding: 3rem 3rem 3rem 0rem;
    width: 56%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .home-hero-section .home-hero-outer .home-hero-container .home-hero-content {
    width: 100%;
    padding: 2rem 1rem 3rem 1rem;
  }
}
.home-hero-section .home-hero-outer .home-hero-container .home-hero-content h1 {
  margin: 0 0 1rem;
  padding: 0;
  color: #fff;
}
.home-hero-section .home-hero-outer .home-hero-container .home-hero-content .desc--box {
  margin-bottom: 3.5rem;
  color: #fff;
}
.home-hero-section .home-hero-img {
  width: 64%;
  margin-left: auto;
  overflow: hidden;
  border-radius: 30px 0px 0px 30px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .home-hero-section .home-hero-img {
    width: 100%;
    border-radius: 0px;
  }
}
.home-hero-section .home-hero-img picture {
  margin: 0px;
  padding: 0px;
}
.home-hero-section .home-hero-img picture img {
  width: 100%;
  display: block;
}
@media (min-width: 1500px) and (max-width: 1700px) {
  .home-hero-section .home-hero-img picture img {
    width: auto;
    height: 630px;
  }
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .home-hero-section .home-hero-img picture img {
    width: auto;
    height: 630px;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .home-hero-section .home-hero-img picture img {
    width: auto;
    height: 630px;
    margin-left: -20%;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .home-hero-section .home-hero-img picture img {
    width: auto;
    height: 630px;
    margin-left: -40%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-hero-section .home-hero-img picture img {
    width: auto;
    height: 630px;
    margin-left: -51%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .home-hero-section .home-hero-img picture img {
    width: auto;
    display: block;
    height: 422px;
    margin-left: -39%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .home-hero-section .home-hero-img picture img {
    border-radius: 0px;
    width: 100%;
    margin-left: 0;
  }
}

.welcome-text-section .container {
  padding-left: 6rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .welcome-text-section .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .welcome-text-section .container {
    padding-left: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .welcome-text-section .container {
    padding-left: 0rem;
  }
}
.welcome-text-section .welcome-text-left {
  width: 314px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .welcome-text-section .welcome-text-left {
    width: 293px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .welcome-text-section .welcome-text-left {
    width: 259px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .welcome-text-section .welcome-text-left {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .welcome-text-section .welcome-text-left {
    width: 247px;
  }
}
.welcome-text-section .welcome-text-left h1 {
  margin: 0px;
  padding: 0px;
}
.welcome-text-section .welcome-text-right {
  width: calc(100% - 392px);
  padding-left: 4rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .welcome-text-section .welcome-text-right {
    width: calc(100% - 293px);
    padding-left: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .welcome-text-section .welcome-text-right {
    width: calc(100% - 259px);
    padding-left: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .welcome-text-section .welcome-text-right {
    width: 100%;
    margin-top: 2rem;
    padding-left: 0rem;
  }
}
.welcome-text-section .welcome-text-right .desc--box {
  margin-bottom: 4rem;
}
.welcome-text-section .welcome-text-right .btn-set--right {
  padding-right: 4rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .welcome-text-section .welcome-text-right .btn-set--right {
    padding-right: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .welcome-text-section .welcome-text-right .btn-set--right {
    padding-right: 0rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .text-section .container-sm {
    width: calc(100% - 11rem);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .text-section .desc--box p br {
    display: none;
  }
}

.contact .get-in-touch-section .section-hd h2 {
  font-family: "Archivo", sans-serif;
  font-weight: 200;
}

.page-template-template-page .text-section strong {
  color: #5c254f;
  display: block;
}
.page-template-template-page .text-section .desc--box p {
  font-weight: 300;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-template-template-page .text-section .desc--box p br {
    display: none;
  }
}

.discover-more-in-book-section .discover-more-in-book-section-content {
  position: relative;
}
@media (min-width: 568px) and (max-width: 767px) {
  .discover-more-in-book-section .discover-more-in-book-section-content {
    padding-bottom: 3rem;
    padding-top: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .discover-more-in-book-section .discover-more-in-book-section-content {
    padding-bottom: 5rem;
    padding-top: 2rem;
  }
}
.discover-more-in-book-section .discover-more-in-book-section-content .btn-set--right {
  position: absolute;
  right: 0;
  bottom: 4rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .discover-more-in-book-section .discover-more-in-book-section-content .btn-set--right {
    bottom: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .discover-more-in-book-section .discover-more-in-book-section-content .btn-set--right {
    right: inherit;
    left: 0px;
  }
}
.discover-more-in-book-section .discover-more-in-book-section-content .discover-more-in-book-img {
  width: 75%;
  margin: 0 0 0 3rem;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .discover-more-in-book-section .discover-more-in-book-section-content .discover-more-in-book-img {
    width: 70%;
    margin: 0 0 0 2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .discover-more-in-book-section .discover-more-in-book-section-content .discover-more-in-book-img {
    width: 60%;
    margin: 0 0 0 13%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .discover-more-in-book-section .discover-more-in-book-section-content .discover-more-in-book-img {
    width: 96%;
    margin: 0 0 0 -4%;
  }
}
.discover-more-in-book-section .discover-more-in-book-section-content .discover-more-in-book-img img {
  width: 100%;
  display: block;
}

.get-in-touch-section {
  border-top: 5px #fff solid;
}
.get-in-touch-section .section-hd h2 {
  text-align: left;
}
@media (min-width: 320px) and (max-width: 767px) {
  .get-in-touch-section .get-in-touch-section-content {
    padding-top: 2rem;
  }
}

.wpcf7 .wpcf7-submit:disabled {
  cursor: pointer !important;
}

.input-field-set {
  display: flex;
  margin-top: 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .input-field-set {
    display: block;
  }
}
.input-field-set .input-field {
  margin-top: 9px;
}
.input-field-set .input-submit-box {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .input-field-set .input-submit-box {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.wpcf7-acceptance span {
  margin-right: 0;
  position: relative;
}

.wpcf7-acceptance .wpcf7-list-item {
  margin: 0;
}
.wpcf7-acceptance input {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.wpcf7-acceptance input::after,
.wpcf7-acceptance input:checked::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.wpcf7-acceptance input::before {
  content: "";
  background: #5c254f;
  width: 26px;
  height: 26px;
  position: absolute;
  left: -3px;
  top: -3px;
}

.wpcf7-acceptance input::after {
  background: url("../img/icons/checkinput.svg") no-repeat center center;
}

.wpcf7-acceptance input:checked::after {
  background: url("../img/icons/checkedinput.svg") no-repeat center center;
}

.contact .get-in-touch-section {
  border-top: 0px;
}
.contact .wpcf7-acceptance input::before {
  content: "";
  background: #72854a;
}

.input-field-set label {
  position: relative;
  padding: 0 0 0 29px;
  display: block;
  align-items: center;
}
.input-field-set .wpcf7-form-control-wrap {
  position: absolute;
  left: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact .get-in-touch-section .get-in-touch-section-content {
    padding-top: 1.5rem;
  }
}

.full-card .full-card-inner {
  position: relative;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .full-card .full-card-inner {
    padding: 0 4.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .full-card .full-card-inner {
    padding: 0 4.5rem;
  }
}
.full-card .full-card-inner .full-card-img {
  width: 45%;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  left: 0px;
  top: 0px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .full-card .full-card-inner .full-card-img {
    width: 100%;
    height: auto;
    position: relative;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .full-card .full-card-inner .full-card-img {
    width: 100%;
    height: auto;
    position: relative;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-card .full-card-inner .full-card-img {
    width: 100%;
    height: auto;
    position: relative;
  }
}
.full-card .full-card-inner .full-card-img figure img {
  width: 100%;
  display: block;
  border-radius: 0 15px 15px 0;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .full-card .full-card-inner .full-card-img figure img {
    border-radius: 15px 15px 0 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .full-card .full-card-inner .full-card-img figure img {
    border-radius: 15px 15px 0 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-card .full-card-inner .full-card-img figure img {
    border-radius: 0;
  }
}
.full-card .full-card-inner .full-card-content {
  width: 100%;
  position: relative;
  padding-right: 10%;
  min-height: 700px;
  display: flex;
  align-items: center;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .full-card .full-card-inner .full-card-content {
    padding-right: 0;
    min-height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .full-card .full-card-inner .full-card-content {
    padding-right: 0px;
    min-height: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-card .full-card-inner .full-card-content {
    padding-right: 0px;
    min-height: 100%;
  }
}
.full-card .full-card-inner .full-card-content::after {
  position: absolute;
  content: "";
  width: 75%;
  height: 100%;
  right: 0px;
  top: 0px;
  background: #8b8b8b;
  border-radius: 15px 0 0 15px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .full-card .full-card-inner .full-card-content::after {
    width: 100%;
    height: 100%;
    border-radius: 0 0 15px 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .full-card .full-card-inner .full-card-content::after {
    width: 100%;
    height: 100%;
    border-radius: 0 0 15px 15px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-card .full-card-inner .full-card-content::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
.full-card .full-card-inner .full-card-content .full-card-content-inner {
  width: 60%;
  margin-left: auto;
  position: relative;
  z-index: 1;
  padding: 4rem 3rem 4rem 15rem;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .full-card .full-card-inner .full-card-content .full-card-content-inner {
    padding: 4rem 3rem 4rem 12rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .full-card .full-card-inner .full-card-content .full-card-content-inner {
    width: 100%;
    padding: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .full-card .full-card-inner .full-card-content .full-card-content-inner {
    width: 100%;
    padding: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-card .full-card-inner .full-card-content .full-card-content-inner {
    width: 100%;
    padding: 2rem;
  }
}
.full-card .full-card-inner .full-card-content .full-card-content-inner h2 {
  margin: 0 0 2rem 0;
  padding: 0px;
  font-weight: 500;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .full-card .full-card-inner .full-card-content .full-card-content-inner .desc--box p {
    margin: 1.5rem 0;
  }
}
.full-card .full-card-inner.full-card-right .full-card-img {
  left: inherit;
  right: 0px;
}
.full-card .full-card-inner.full-card-right .full-card-img figure img {
  border-radius: 15px 0px 0 15px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .full-card .full-card-inner.full-card-right .full-card-img figure img {
    border-radius: 15px 15px 0 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .full-card .full-card-inner.full-card-right .full-card-img figure img {
    border-radius: 15px 15px 0 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-card .full-card-inner.full-card-right .full-card-img figure img {
    border-radius: 0;
  }
}
.full-card .full-card-inner.full-card-right .full-card-content {
  padding-right: 0%;
  padding-left: 10%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .full-card .full-card-inner.full-card-right .full-card-content {
    padding-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .full-card .full-card-inner.full-card-right .full-card-content {
    padding-left: 0%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-card .full-card-inner.full-card-right .full-card-content {
    padding-left: 0%;
  }
}
.full-card .full-card-inner.full-card-right .full-card-content::after {
  left: 0px;
  right: inherit;
  top: 0px;
  background: #8b8b8b;
  border-radius: 0 15px 15px 0;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .full-card .full-card-inner.full-card-right .full-card-content::after {
    border-radius: 0 0 15px 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .full-card .full-card-inner.full-card-right .full-card-content::after {
    border-radius: 0 0 15px 15px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-card .full-card-inner.full-card-right .full-card-content::after {
    border-radius: 0;
  }
}
.full-card .full-card-inner.full-card-right .full-card-content .full-card-content-inner {
  margin-left: 0;
  padding: 4rem 15rem 4rem 4rem;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .full-card .full-card-inner.full-card-right .full-card-content .full-card-content-inner {
    padding: 4rem 12rem 4rem 3rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .full-card .full-card-inner.full-card-right .full-card-content .full-card-content-inner {
    width: 100%;
    padding: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .full-card .full-card-inner.full-card-right .full-card-content .full-card-content-inner {
    width: 100%;
    padding: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-card .full-card-inner.full-card-right .full-card-content .full-card-content-inner {
    width: 100%;
    padding: 2rem;
  }
}
.full-card .full-card-inner.full-card-bg-gray .full-card-content::after {
  background: #f2ece8;
}
.full-card .full-card-inner.full-card-bg-primary {
  color: #fff;
}
.full-card .full-card-inner.full-card-bg-primary .full-card-content::after {
  background: #5c254f;
}
.full-card .full-card-inner.full-card-bg-secondary {
  color: #fff;
}
.full-card .full-card-inner.full-card-bg-secondary .full-card-content::after {
  background: #72854a;
}
.full-card .full-card-inner.full-card-bg-light-green .full-card-content::after {
  background: #e1e3d6;
}
.full-card .full-card-inner.full-card-bg-drak-gray {
  color: #fff;
}
.full-card .full-card-inner.full-card-bg-drak-gray .full-card-content::after {
  background: #555864;
}

figure {
  margin: 0px;
  padding: 0px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .about .full-card {
    padding-bottom: 0;
  }
}

.individuals-organisations-section .container {
  width: calc(100% - 50rem);
}
@media (min-width: 1599px) and (max-width: 1800px) {
  .individuals-organisations-section .container {
    width: calc(100% - 30rem);
  }
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .individuals-organisations-section .container {
    width: calc(100% - 18rem);
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .individuals-organisations-section .container {
    width: calc(100% - 6rem);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .individuals-organisations-section .container {
    width: calc(100% - 3rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .individuals-organisations-section .container {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .individuals-organisations-section .container {
    width: calc(100% - 2rem);
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .individuals-organisations-section .ind-org-section-content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .individuals-organisations-section .ind-org-section-content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.individuals-organisations-section .ind-org-section-content .individuals-box,
.individuals-organisations-section .ind-org-section-content .organisations-box {
  width: 48%;
  background: #f2ece8;
  padding: 3rem 2rem;
  border-radius: 7px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .individuals-organisations-section .ind-org-section-content .individuals-box,
.individuals-organisations-section .ind-org-section-content .organisations-box {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .individuals-organisations-section .ind-org-section-content .individuals-box,
.individuals-organisations-section .ind-org-section-content .organisations-box {
    width: 100%;
  }
}
.individuals-organisations-section .ind-org-section-content .individuals-box h3,
.individuals-organisations-section .ind-org-section-content .organisations-box h3 {
  margin: 0 0 1.6rem;
  padding: 0px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.individuals-organisations-section .ind-org-section-content .organisations-box {
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .individuals-organisations-section .ind-org-section-content .organisations-box {
    margin-left: 0;
    margin-top: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .individuals-organisations-section .ind-org-section-content .organisations-box {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.book-list-section .book-list-section-content {
  padding: 0 4rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .book-list-section .book-list-section-content {
    padding: 0 5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .book-list-section .book-list-section-content {
    padding: 0 3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .book-list-section .book-list-section-content {
    padding: 0rem;
  }
}
.book-list-section .book-card {
  width: 43%;
  display: flex;
  margin-bottom: 6rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .book-list-section .book-card {
    width: 47%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .book-list-section .book-card {
    width: 100%;
    margin-bottom: 4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .book-list-section .book-card {
    width: 100%;
    margin-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .book-list-section .book-card {
    width: 100%;
    margin-bottom: 3rem;
  }
}
.book-list-section .book-card:nth-child(2n+2) {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 567px) {
  .book-list-section .book-card:nth-child(2n+2) {
    margin-left: 0;
  }
}
.book-list-section .book-card .book-card-img {
  width: 30%;
}
.book-list-section .book-card .book-card-img img {
  width: 100%;
  display: block;
}
.book-list-section .book-card .book-card-body {
  width: 70%;
  padding-left: 2.5rem;
  margin-left: auto;
  position: relative;
  padding-bottom: 3rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .book-list-section .book-card .book-card-body {
    padding-left: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .book-list-section .book-card .book-card-body {
    padding-left: 1rem;
  }
}
.book-list-section .book-card .book-card-body h4 {
  margin: 0 0 1rem 0;
  padding: 0px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
@media (min-width: 568px) and (max-width: 767px) {
  .book-list-section .book-card .book-card-body h4 {
    font-size: 19px;
  }
}
.book-list-section .book-card .book-card-body span {
  display: block;
  width: 100%;
  color: #b8cb92;
  font-style: italic;
  font-weight: 200;
  font-size: 16px;
}
.book-list-section .book-card .book-card-body .btn-set--right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.sub-page-banner {
  padding: 2rem 0;
}
.sub-page-banner .sub-page-banner-left {
  display: flex;
  align-items: center;
}
.sub-page-banner .sub-page-banner-left h1 {
  color: #fff;
  padding: 2rem 0;
}
@media (min-width: 320px) and (max-width: 567px) {
  .sub-page-banner .sub-page-banner-left h1 {
    margin: 0;
  }
}
.sub-page-banner .sub-page-banner-right {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 567px) {
  .sub-page-banner .sub-page-banner-right {
    margin-left: auto;
  }
}
.sub-page-banner .sub-page-banner-right .sub-page-img img {
  width: auto;
  height: 382px;
  display: block;
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .sub-page-banner .sub-page-banner-right .sub-page-img img {
    height: 320px;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .sub-page-banner .sub-page-banner-right .sub-page-img img {
    height: 300px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .sub-page-banner .sub-page-banner-right .sub-page-img img {
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sub-page-banner .sub-page-banner-right .sub-page-img img {
    height: 250px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .sub-page-banner .sub-page-banner-right .sub-page-img img {
    height: 200px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .sub-page-banner .sub-page-banner-right .sub-page-img img {
    height: auto;
    width: 75%;
  }
}

.single-expertise .sub-page-banner {
  padding: 2rem 0;
}
.single-expertise .sub-page-banner .sub-page-banner-right .sub-page-img {
  display: flex;
  height: 100%;
  align-items: center;
}
.single-expertise .sub-page-banner .sub-page-banner-right .sub-page-img img {
  width: auto;
  height: 246px;
  display: block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .single-expertise .sub-page-banner .sub-page-banner-right .sub-page-img img {
    height: 180px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .single-expertise .sub-page-banner .sub-page-banner-right .sub-page-img img {
    height: 150px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .single-expertise .sub-page-banner .sub-page-banner-right .sub-page-img img {
    height: 100px;
  }
}

.page-template-template-page h3 {
  font-family: "Archivo", sans-serif;
  margin-top: 0px;
}

/*# sourceMappingURL=global.css.map */
