$footer-font: 14px;

.main-footer {
    background: $secondary-color;
    padding: 0;

    @include breakpoint(mobile) {
        padding: 1rem 0;

    }

    .custom-row {
        align-items: center;
    }

    .footer-social-media {
        width: 50%;

        @include breakpoint(mobile) {
            width: 100%;
        }

        ul {
            display: flex;
            margin: 0px;
            padding: 0px;
            list-style: none;
            justify-content: center;

            @include breakpoint(mobile) {
                justify-content: center;
                margin-top: 1.5rem;
            }

            li {
                margin: 0 2rem 0 0;

                &:last-child {
                    margin-right: 0px;
                }

                padding: 0px;

                a {
                    display: block;
                    width: 60px;
                    height: 60px;
                    background-position: center bottom;

                    &.facebook-icon {
                        background:url("#{$assetIconsPath}/facebook yellow cml.svg") no-repeat center center;
                        background-size: 100%;

                        &:hover {
                            background:url("#{$assetIconsPath}/facebook blue cml.svg") no-repeat center center;
                            background-size: 100%;
                        }
                    }

                    &.linkedin-icon {
                        background:url("#{$assetIconsPath}/linkedin yellow cml.svg") no-repeat center center;
                        background-size: 100%;

                        &:hover {
                            background:url("#{$assetIconsPath}/linkedin blue cml.svg") no-repeat center center;
                            background-size: 100%;
                        }
                    }

                    &.twitter-icon {
                        background:url("#{$assetIconsPath}/twitter yellow cml.svg") no-repeat center center;
                        background-size: 100%;

                        &:hover {
                            background:url("#{$assetIconsPath}/twitter blue cml.svg") no-repeat center center;
                            background-size: 100%;
                        }
                    }
                }
            }
        }
    }

    .footer-logo {
        width: 25%;
        text-align: center;

        @include breakpoint(mobile) {
            width: 100%;

        }

        .logo-img {
            width: 187px;
            display: block;
            background: #fff;
            padding: 0 10px;

            @include breakpoint(mobile) {
                padding: 10px;
                width: 150px;
                margin: auto;
            }

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }

    .footer-info {
        width: 25%;
        text-align: right;

        @include breakpoint(mobile) {
            width: 100%;
            text-align: center;
            margin-top: 1.5rem;
        }

        .copy-right {
            color: $white;
            font-size: $footerTxtFont;
            margin: 10px 0 0 0;
            font-weight: 300;

            a {
                color: $white;
                font-size: $footerTxtFont;
                font-weight: 300;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        ul {
            @include ul;

            li {
                margin: 0px;
                padding: 0px;

                a {
                    display: block;
                    color: $white;
                    font-size: $footerTxtFont;
                    font-weight: 300;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}