.main-header {
  background-color: transparent;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
 
  .header-desktop {
    display: block;

    @include breakpoint(mobile_nav) {
      display: none;
    }
  }

  .header-responsive {
    display: none;

    @include breakpoint(mobile_nav) {
      display: block;
    }
  }

  header {
    position: relative;

    .header-top {
      background-color: $white;
      padding: 0.5rem 0;

      @include breakpoint(mobile_nav) {
        display: none;
      }
    }

    .header-btm {
      background-color: $secondary-color;
    }
  }

  .custom-row {
    align-items: center;
    position: relative;
    z-index: 2;

    @include breakpoint(mobile_nav) {
      align-items: center;
    }
  }

  .container-fluid {
    @include breakpoint(mobile_portrait) {
      width: calc(100% - 1rem);
    }
  }

  .logo {
    width: 195px;
    position: absolute;
    background: #fff;
    padding: 0 10px 10px 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    
    @include breakpoint(desktop_sm){
      width: 165px;
    }
    @include breakpoint(ipad_landscape){
      width: 165px;
    }
    a {
      padding: 0;
      z-index: 3;
      display: block;

      img {
        display: block;
        width: 100%;
        position: relative;
        z-index: 2;

      }
    }
  }

}

.header-contact-info {
  ul {
    @include ul;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;

    li {
      margin: 0 1rem;

      &:last-child {
        margin-right: 0px;
      }

      a {
        display: flex;
        @extend %pt16;
        color: $drak-gray;
        align-items: center;
        font-family: $secondaryfontfaimly;
        font-weight: 400;
        @include breakpoint(ipad_landscape){
          font-size: 1.4169rem;
        }
        i {
          width: 35px;
          height: 35px;
          margin-right: 14px;

          &.number-icon {
            background:url("#{$assetIconsPath}/phone yellow cml.svg") no-repeat center center;
            background-size: 100%;
          }

          &.email-icon {
            background:url("#{$assetIconsPath}/email yellow cml.svg") no-repeat center center;
            background-size: 100%;
          }
        }

        &:hover {
          color: $secondary-color;

          i {

            &.number-icon {
              background:url("#{$assetIconsPath}/phone blue cml.svg") no-repeat center center;
              background-size: 100%;
            }

            &.email-icon {
              background:url("#{$assetIconsPath}/email blue cml.svg") no-repeat center center;
              background-size: 100%;
            }
          }
        }

      }
    }
  }
}

.nav-desktop {
  display: flex;
  justify-content: end;

  @include breakpoint(mobile_nav) {
    display: none;
  }

}

.nav-responsive {
  display: none;
}

.header-responsive {
  position: relative;
  .custom-row {
    padding: 10px 0;
  }

  .logo-mobile {
    width: 100px;
    background: $white;
    padding: 5px;
    position: absolute;
    top: 0px;
    left: 0px;

    a {
      display: block;

      img {
        width: 100%;
        display: block;
      }
    }
  }
}

.nav_menu {
  
  .nav_menu_inner {
    display: flex;
    align-items: center;

    @include breakpoint(mobile_nav) {
      display: block;
    }
  }

  nav {
    margin-top: 0px;
    margin-right: 15px;
  }
}

.sm-header {
  .main-header {
    .logo {
      width: 152px;
    bottom: -10px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }

  .nav__toggle {
    span {
      background-color: $white;

      &::before,
      &::after {
        background-color: $white;
      }


    }

    &:hover {
      span {
        background-color: $white;

        &::before,
        &::after {
          background-color: $white;
        }
      }
    }
  }

}


.nav__toggle {
  display: none;

  @include breakpoint(mobile_nav) {
    display: block;
  }
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 25px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;

  @include breakpoint(mobile_nav) {
    margin-left: auto;
    top: 0px;
  }

  span {
    width: 25px;
  }

  span::before,
  span::after {
    width: 30px;
  }

  span,
  span::before,
  span::after {
    text-align: right;
    cursor: pointer;
    border-radius: 0px;
    height: 2px;
    background-color: $white;
    position: absolute;
    display: block;
    content: "";
    transition: all 0.2s;
    outline: 0;
    right: 0px;
  }

  span {
    // left: 3px;
    top: 15px;

    &::before {
      top: -10px;
    }

    &::after {
      bottom: -10px;
    }
  }
}

.menu-slide {
  overflow: hidden;
  height: 100%;

  .nav-responsive {
    display: block;
    background: $primary-color;
    position: absolute;
    width: 100%;
    top: 51px;
    left: 0px;
    padding-top: 2rem;
    .nav-responsive-inner{
      width: 100%;
      overflow: auto;
      height: 100%;
    }

    .mobile-header-menu {
      padding-bottom: 2rem;
      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        text-align: center;

        li {
          margin: 0px;
          padding: 0.7rem 1rem;

          &.menu-item-has-children {
            position: relative;

            a {
              font-size: 22px;
              color: $secondary-color;
              font-family: $secondaryfontfaimly;
            }

            .sub-menu-toggle {
              background: url("#{$assetIconsPath}/menu-close.svg") no-repeat center center;
              height: 15px;
              border: 0px;
              padding: 0px;
              cursor: pointer;
              width: 10px;
              margin: 0 0 0 15px;
              display: inline;
              position: absolute;
              top: 18px;
            }
          }

          a {
            color: $white;
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 300;
          }

          ul {
            display: none;
            margin-top: 10px;
            margin-bottom: 20px;

            li {
              padding: 0.4rem 0;

              a {
                font-size: 17px !important;
                text-transform: capitalize;
              }

              .sub-menu-toggle {
                display: none !important;
              }
            }
          }

          &.submenu-expanded {

            .sub-menu-toggle {
              background: url("#{$assetIconsPath}/menu-open.svg") no-repeat center center;
            }

            ul {
              display: block;


              li {
                padding: 5px 0;

                ul {
                  li {
                    padding: 0.4rem 0;
                  }
                }
              }
            }
          }

        }
      }
    }
    .mobile-header-social-media{
      background: $secondary-color;
      padding:1rem 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
      ul {
        @include ul;
    
        li {
          margin: 0 0 1rem 0;
          display: block;
          &:last-child{
            margin-bottom: 0px;
          }
          a {
            display: flex;
            @extend %pt16;
            color: $white;
            align-items: center;
           
    
            i {
              width: 35px;
              height: 35px;
              margin-right: 14px;
    
              &.number-icon {
                background:url("#{$assetIconsPath}/phone yellow cml.svg") no-repeat center center;
                background-size: 100%;
              }
    
              &.email-icon {
                background:url("#{$assetIconsPath}/email yellow cml.svg") no-repeat center center;
                background-size: 100%;
              }
            }
    
            &:hover {
              color: $secondary-color;
    
              i {
    
                &.number-icon {
                  background:url("#{$assetIconsPath}/phone blue cml.svg") no-repeat center center;
                  background-size: 100%;
                }
    
                &.email-icon {
                  background:url("#{$assetIconsPath}/email blue cml.svg") no-repeat center center;
                  background-size: 100%;
                }
              }
            }
    
          }
        }
      }
    }
  }

  #mega-menu-wrap-max_mega_menu_1 .mega-menu-toggle,
  .header-social-media {
    display: none;
  }


  .nav__toggle {
    span {
      background-color: transparent;

      &::before,
      &::after {
        top: 0;
        background-color: $white;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      span {
        background-color: transparent;

        &::before,
        &::after {
          background-color: $white;
        }
      }
    }
  }


}
.nav-height-scroll{
  height: calc(100vh - 51px);
}
.menu-slide .nav-responsive .mobile-header-menu ul li.current_page_item {
  a {
    color: $secondary-color;
    font-weight: 700;
  }

  ul {
    a {
      color: $drak-gray;
      font-weight: 300;
    }
  }
}

.menu-slide .nav-responsive .mobile-header-menu ul li.current_page_ancestor {
  a {
    color: $secondary-color;
    font-weight: 700;
  }

  ul {
    a {
      color: $drak-gray;
      font-weight: 300;
    }

    .current-menu-item a {
      color: $secondary-color;
      font-weight: 700;
    }
  }
}