{% if post.get_field('hero_image') %}
	<section class="page-hero-image-section">
	{% if post.get_field('hero_image') %}
		<div class="page-hero-image" style="background-image:url({{ TimberImage(post.get_field('hero_image')).src('sub-page-hero') }});"></div>
	{% elseif post.thumbnail %}
		<div class="page-hero-image" style="background-image:url({{ TimberImage(post.thumbnail).src('banner-image') }});"></div>
	{% endif %}
		
		<div class="page-hero-content-outer">
			<div class="container-lg">
				<div class="page-hero-content-in">
					<div class="custom-row">
						<div class="page-hero-icon" data-aos="fade-right">
							<img src="{{ TimberImage(post.post_thumbnail_image_copy).src('src') }}" alt="{{ post.post_thumbnail_image_copy.alt }}"/>
						</div>
						<div class="page-hero-content" data-aos="fade-left">
							<h1>{{post.get_field('hero_title')?post.get_field('hero_title'):(post.title?post.title:title)}}</h1>
							<div class="desc--box">
								{{post.content}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="curve-img">
			<img src="{{theme.link}}/assets/img/icons/curve-7.svg" alt=""/>
		</div>
	</section>
{% endif %}
