{% if post.home_hero_list %}
<section class="home-page-slider-section">
	<div class="home-page-slider"> {% for slide in post.get_field('home_hero_list') %} {% set last_slide =slide %} {% if slide.hero_image %}
		 <div class="home-page-slider-item">
                            {% if slide.hero_image %}  
								<div class="home-page-slider-item-img desktop-home-page-slider-item-img" style="background-image:url({{ TimberImage(slide.hero_image).src('hero-slider') }});"></div>
								
							 {% endif %} 
                            <div class="home-page-slider-item-content">
                               <div class="container-lg">
							    <div class="home-page-slider-in" data-aos="fade-right">
                                <h1>{{slide.hero_content}}</h1>
                               </div>
							   </div>
                            </div>
                        </div>
		
		
	{% endif %}
	 {% endfor %} 
	 </div>
	 <div class="curve-img">
	     <img src="{{theme.link}}/assets/img/icons/curve-8.svg" alt="" />
	 </div>
</section>
<div id="scroll-to-main"></div> {% endif %}