{% if post.content %}
	{% set param = { 'next_text':'‹ previous article', 'prev_text':'next article ›'} %}
	<section class="page-content-section">
	
		<div class="container">
		 <div class="custom-row">
		<div class="page-sub-content-inner">
		    <div class="section-heading">
							<h2>Don’t just take our word for it …</h2>
						</div>
			<div class="desc--box">
				{{post.content}}
			</div>
		</div>
		</div>
	</div>	

		{% if post.post_type =='post'%}
			<div class="news-post-pager">
				{{ function('the_post_navigation',param) }}
			</div>
		{% endif %}

	</section>
{% endif %}
