{% if post.home_copy %}
	<section class="introduction-section">
		<div class="container">
			<div class="custom-row">
				<div class="introduction-hd">
					<div class="section-heading">
						<h2 data-aos="fade-up">{{post.get_field('home_video').home_video_title}}</h2>
					</div>
				</div>
				<div class="introduction-content">
					<div class="introduction-video" data-aos="fade-up">
						<div class="video-inner">
						{% if post.get_field('home_video').video_type =='mp4' %}
							{% if post.get_field('home_video').video_poster %}
							{% set shortcodeitem =post.get_field('home_video').home_video_embed_copy|replace({'video width': 'video poster="'~post.get_field('home_video').video_poster~'" width'}) %}
							{% else %}
							{% set shortcodeitem =post.get_field('home_video').home_video_embed_copy %}
							{% endif %}
							{{ function('do_shortcode',shortcodeitem) }}
						{% else %}
							{% set shortcodeitem =post.get_field('home_video').home_video_embed %}
							{{shortcodeitem}}
						{% endif %}
						</div>
					</div>
					<div class="desc--box" data-aos="fade-up">
						{{post.home_copy}}
					</div>
				</div>


			</div>
		</div>
	</section>
{% endif %}