<ul>
    <li><a href="mailto:{{contact_post.meta('email')}}"><i class="email-white-icon"></i></a></li>
    <li><a href="tel:{{contact_post.meta('telephone')}}"><i class="telephone-white-icon"></i></a></li>
    {# <li><a  href="{{contact_post.meta('linkedin')}}" target="_blank"><i class="linkedin-white-icon"></i></a></li> #}
</ul>