{% if post.service_content %}
	<section class="page-sub-content-section">
		<div class="container">
			<div class="custom-row">
				<div class="page-sub-content-in">
					<div class="section-heading">
						<h2>{{post.service_content_title}}</h2>
					</div>
					<div class="desc--box">
						{{post.service_content}}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
