<div class="find-out-section-content">
    
	<h2>Let’s talk …</h2>
	<div class="mail-phone-info">
		<ul>
		<li><a href="mailto:{{contact_post.get_field('email')}}">{{contact_post.get_field('email')}}</a></li>
			<li><a href="tel:{{contact_post.get_field('telephone')}}">{{contact_post.get_field('telephone')}}</a></li>
			
		</ul>
	</div>
</div>
<div class="line"></div>
<div class="get-in-touch-section-content">
<h2>Or, leave us your details and we’ll contact you …</h2>
	<div class="get-in-touch-form">
		{{ function('do_shortcode', '[contact-form-7 id="5" title="Contact form 1"]') }}
	</div>
</div>
