{% if post.get_field('post_thumbnail_image') %}
	<div class="page-featured-img">
		<div class="container-sm">
			<img typeof="foaf:Image" src="{{ TimberImage(post.get_field('post_thumbnail_image')).src('src') }}" alt="{{post.get_field('post_thumbnail_image').alt}}" title="{{post.title}}">
		</div>
	</div>
{% elseif post.thumbnail %}
	<div class="page-featured-img">
		<div class="container-sm">
			<img typeof="foaf:Image" src="{{ TimberImage(post.thumbnail).src('src') }}" alt="{{post.thumbnaill.alt}}" title="{{post.title}}">
		</div>
	</div>
{% endif %}
