<footer>
	<div class="container-lg">
		<div class="custom-row">
			<div class="footer-left">
				<div class="site-footer-logo">
					<img src="{{theme.link}}/assets/img/fourmost logo.svg"/>
				</div>

			</div>
			<div class="footer-center">
				<div class="footer-social-media">
					<ul class="social-media-icon">
						<li>
							<a class="linkedin" href="{{contact_post.get_field('linkedin')}}"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-right">
				{% include "menu.twig" with {'items': footer_menu_1.get_items} %}
				<p class="copy-right">Website created by
					<a href="https://blooberrycreative.co.uk/" target="_blank">Blooberry Creative</a>
				</p>
			</div>
		</div>


	</div>
</footer>
