{% if posts.pagination.pages is not empty %}
    <div class="pagination-block">
  
        <ul class="pagination">

            {# First #}
            {# {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
                <li class="first btn" title="First">
                    <a href="{{ posts.pagination.pages|first.link }}"><<</a>
                </li>
            {% else %}
                <li class="first btn disabled" title="First">
                    <button disabled><<</button>
                </li>
            {% endif %} #}

            {# Previous #}
            {% if posts.pagination.prev %}
                <li class="prev btn" title="Previous">
                    <a href="{{ posts.pagination.prev.link }}">< previous</a>
                </li>
            {% else %}
                <li class="prev btn disabled" title="Previous" style="display: none;">
                    <button disabled>< previous</button>
                </li>
            {% endif %}

            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li>
                        <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="current">
                        <span class="{{ page.class }}">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if posts.pagination.next %}
                <li class="next btn" title="Next">
                    <a href="{{ posts.pagination.next.link }}">Next ></a>
                </li>
            {% else %}
                <li class="next btn" title="Next" style="display: none;">
                    <button disabled>></button>
                </li>
            {% endif %}

            {# Last #}
            {# {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
                <li class="last btn" title="Last">
                    <a href="{{ posts.pagination.pages|last.link }}">>></a>
                </li>
            {% else %}
                <li class="last btn disabled" title="Last">
                    <button disabled>>></button>
                </li>
            {% endif %} #}

        </ul>
    </div>
{% endif %}
