{% block html_head_container %}
	{% include 'partial/html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig" id="body">
{{ function('wp_body_open') }}
<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
<div id="mainContainer">

	<section class="main-header">
		<header class="container-fluid">
			<div class="custom-row">
				<div class="logo">
					<a href="{{site.link}}">
						<img src="{{site.url}}/wp-content/uploads/2024/09/Glorious-Gardens-vector-RGB.svg" alt="logo">
					</a>
				</div>
				<button id="navclick" class="nav__toggle">
					<span></span>
				</button>
				<div class="nav-right" id="navbar">
					<div class="nav-right-in">
						{% include "menu.twig" with {'items': menu.get_items} %}
						<ul class="info-link">
							<li>
								<a href="mailto:{{contact_post.email}}" class="phone-icon"></a>
							</li>
							<li>
								<a href="tel:{{contact_post.telephone}}" class="email-icon"></a>
							</li>
							<li>
                                <a href="{{contact_post.instagram}}" class="install-icon"></a>
                            </li>
						</ul>
					</div>

				</div>
			</div>
		</header>
	</section>


	<section class="mid-container">
		<div id="content" role="main" class="content-wrapper">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</div>
	</section>

	{% block footer %}
		<section class="main-footer">

			{% include 'partial/footer.twig' %}
		</section>
		{{ function('wp_footer') }}

	{% endblock %}
</div></body></html>
