{% extends "base.twig" %}

{% block content %}
	{% include "partial/content-page-hero.twig"%}
	
	{% include "partial/content-contact-detail.twig"%}

	{% include "partial/content-flexible-content.twig"%}

{% endblock %}
