{% extends "base.twig" %}

{% block content %}
	{% if post.hero_image or post.hero_video %}
		{% include "partial/content-page-hero.twig"%}
	{% elseif post.content %}
		{% include "partial/content-post-content.twig" %}
	{% else %}
		{% include 'partial/content-page-header-default.twig' %}
	{% endif %}

	{% include "partial/content-flexible-content.twig"%}

		{% include "partial/content-get-in-touch.twig"%}


{% endblock %}
