{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base.twig" %}

{% block content %}

	<section class="case-studies-details-section search-page">
		<div class="container-sm">
			<h2 class="line">{{title}}</h2>
			<div class="case-studies-details-content-box">
				<div class="case-studies-details-content">
					<div class="desc">
						{% for post in posts %}
							<div class="search-row">
								<h4>{{post.title}}</h4>
								<div class="desc-excerpt">
									{{post.excerpt.read_more(0)}}
								</div>
								<div class="btn-set--right">
									<a href="{{post.link}}" class="primary-btn">
										READ MORE<i>&gt;</i>
									</a>
								</div>
							</div>
						{% endfor %}
					</div>

					{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

				</div>
			</div>
		</div>
	</section>
{% endblock %}
