{% extends "base.twig" %}

{% block content %}

	{% if post.project_hero %}
	<section class="page-hero-section">
		<div class="page-hero">
			<div class="page-hero-item">
				<div class="page-hero-item-img dsadasd">
					

							<picture>
                                <source media="(min-width: 768px) and (max-width: 991px)" srcset="{{get_image(post.project_hero.image).src('page_hero_img')}}">
                                <source media="(min-width: 568px) and (max-width: 767px)" srcset="{{get_image(post.project_hero.image).src('page_hero_img')}}">
                                <source media="(min-width: 320px) and (max-width: 567px)" srcset="{{get_image(post.project_hero.image).src('page_hero_img_mobile')}}">
                                <img src="{{get_image(post.project_hero.image).src('page_hero_img')}}" alt="tbi">
                            </picture>

				</div>
				<div class="page-hero-item-content">
					<div class="container">
						<div class="page-hero-item-txt">
							{% if post.project_hero.hero_title %}
							<h1>{{post.project_hero.hero_title}}</h1>
							{% endif %}
							{% if post.project_hero.hero_title_copy %}
							<h3>{{post.project_hero.hero_title_copy}}</h3>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="page-hero-shap">
			<div class="page-hero-shap-in"></div>
		</div>
	</section>
	{% endif %}

	<section class="about-project" data-aos="fade-up">
		<div class="container-sm">
			<h4>{{post.about_project.heading}}</h4>
			<div class="desc">
				{{post.about_project.content}}
			</div>
		</div>
	</section>

	<section class="section-divider" data-aos="fade-up">
		<div class="section-divider-in">
			<span><img src="{{theme.link}}/assets/img/logo page divider.svg" alt=""></span>
		</div>
	</section>

	{% if post.meta('post_flexible_content') %}
	<section class="post-flexible-content-section project-galley-section" data-aos="fade-up">
	{% for content_row in post.meta('post_flexible_content') %}
		{% set template_path =  "partial/content/post/block-"~content_row.acf_fc_layout|replace({"_": "-"})|raw ~".twig" %}
		{% include [template_path, "partial/content-block-404.twig"] %}
	{% endfor %}
	</section>
	{% endif %}
	
	{% include "partial/content/post/testimonial.twig"%}

	{% include "partial/content-flexible-content.twig"%}

	<section class="section-back" data-aos="fade-up">
		<div class="btn-set--center">
			<a href="{{site.link}}/projects" class="secondary-btn">
				<span>Back to projects</span>
				<i></i>
			</a>
		</div>
	</section>

	<section class="section-divider" data-aos="fade-up">
		<div class="section-divider-in">
			<span><img src="{{theme.link}}/assets/img/logo page divider.svg" alt=""></span>
		</div>
	</section>



	{% include "partial/content-get-in-touch.twig"%}

{% endblock %}
