.main-header {
    background-color: rgba(255, 255, 255, 0);
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    header{
        position: relative;
        padding: 1.2rem 0;
    }

    @include breakpoint(mobile_nav) {
        background-color: $primary-color;
    }

    .custom-row{
        align-items: end;
        position: relative;
        z-index: 2;
    }
    
    .logo {
        a {
            display: block;
            padding: 0;
            z-index: 3;

            img {
                display: block;
                width: 200px;
                position: relative;
                z-index: 2;

                @include breakpoint(mobile_nav) {
                    width: 85px;
                }

                @include breakpoint(ipad_portrait) {
                    width: 105px;
                }
            }
        }
    }

    .top-hdr-right {
        margin-left: auto;
    }
    
    .nav_menu_inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav_menu {
        width: 100%;
    }

    .nav-main {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;

            li {
                margin: 0 3rem 0 0;
                padding: 0px;

                ul{
                    display: none;
                }

                a {
                    display: block;
                    font-size: 1.1rem;
                    color: $white;
                    padding-bottom: 0.4rem;
                    border-bottom: 4px transparent solid;

                    @include breakpoint(mobile_nav) {
                        font-size: 1.3rem;
                    }

                    @include breakpoint(mobile_landscape) {
                        font-size: 1.2rem;
                    }

                    &:hover {
                        color: $white;
                        border-bottom: 4px $secondary-color solid;
                    }

                }

                &.current-menu-item {
                    a {
                        color: $secondary-color;

                        @include breakpoint(mobile_nav) {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}

.sm-header {
    .main-header {
       header{
        &::after{
            position: absolute;
            width: 100%;
            content: '';
            height: 100%;
            background-color: rgb(0 78 108 / 89%);
            left: 0px;
            top: 0px;
            mix-blend-mode: multiply;
        }
       }
    }
}

.header-social-media {
    ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        list-style: none;

        @include breakpoint(mobile_nav) {
            justify-content: center;
        }

        li {
            margin: 0 0 0 1.5rem;
            padding: 0px;

            &:first-child {
                margin-left: 0px;
            }

            a {
                display: flex;
                background: #fff;
                padding: 5px;
                border-radius: 5px;
                width: 41px;
                height: 41px;
                align-items: center;
                justify-content: center;
                i{
                    display: block;
                    height: 25px;
                    width: 100%;
                }

                &.email-icon {
                    i{
                        background: url("#{$assetPath}/email blue.svg") no-repeat center center;
                    }
                  
                }

                &.telephone-icon {
                    i{
                        background: url("#{$assetPath}/phone blue.svg") no-repeat center center;
                    }
                }

                &:hover{
                    &.email-icon {
                        i{
                            background: url("#{$assetPath}/email white.svg") no-repeat center center;
                        }
                      
                    }
    
                    &.telephone-icon {
                        i{
                            background: url("#{$assetPath}/phone white.svg") no-repeat center center;
                        }
                    }
                }


            }
        }
    }
}

.nav__toggle {
    display: none;

    @include breakpoint(mobile_nav) {
        display: block;
    }
}

.nav__toggle {
    position: relative;
    height: 30px;
    width: 30px;
    z-index: 10;
    transition: all 0.2s;
    margin-left: 30px;
    top: 6px;
    outline: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    outline: 0;

    span,
    span::before,
    span::after {
        text-align: center;
        cursor: pointer;
        border-radius: 0px;
        height: 2px;
        width: 30px;
        background-color: $white;
        position: absolute;
        display: block;
        content: "";
        transition: all 0.2s;
        outline: 0;
    }

    span {
        // left: 3px;
        top: 15px;

        &::before {
            top: -10px;
        }

        &::after {
            bottom: -10px;
        }
    }
}

.menu-slide {
    overflow: hidden;
    height: 100%;

    .main-header {
        .nav_menu_inner {
            display: block;
        }

        .nav-main {
            ul {
                display: block;
                text-align: center;

                li {
                    margin: 1.5rem 0;

                    @include breakpoint(mobile_landscape) {
                        margin: 1rem 0;
                    }

                    &::first-child {
                        @include breakpoint(mobile_landscape) {
                            margin-top: 0;
                        }
                    }
                }
            }

            .header-social-media {
                ul {
                    display: flex;
                    justify-content: center;

                    li {
                        margin: 0 1rem;
                    }
                }
            }
        }
    }

    .nav__toggle {
        span {
            background-color: transparent;

            &::before,
            &::after {
                top: 0;
                background-color: $white;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }

        &:hover {
            span {
                background-color: transparent;

                &::before,
                &::after {
                    background-color: $white;
                }
            }
        }
    }
}