.details-sections{
    padding:10rem 0 0 0;
    @include breakpoint(mobile){
        padding: 5rem 0 0;
    }
    h1{
        color: $primary-color;
        font-size: 2.5rem;
        @include breakpoint(mobile){
            font-size: 1.9rem;
        }
    }
    h2{
        color: $secondary-color;
        font-size: 1.8rem;
        @include breakpoint(mobile){
            font-size: 1.5rem;
        }
    }
}