/**
 * ----------------------
 * Un.titled
 * Config - Typography
 * ----------------------
 */

/**
 * Font family
 */
$font-body: 'Helvetica';

/**
 * Font Scale
 * Set a ratio from mobile up to container width.
 * All units must be of the same type.
 * https://www.modularscale.com/
 */
$modularscale: (
  base: 1em,
  ratio: 1.618,
  20em: (
    ratio: 1.25,
  ),
  115.5em: (
    ratio: 1.618,
  ),
);

/**
 * Font Size
 */
$font-base-size: 100%; //Set document root size to base font size

/**
 * Line height
 */
$line-body: 1.5;

/**
 * Custom fonts
 */
$font-dir: '../font';

// @font-face {
//   font-family: 'Monserrat';
//   src: url('#{$font-dir}/font.woff2') format('woff2'), url('#{$font-dir}/font.woff') format('woff');
//   font-weight: $weight-regular;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Monserrat';
//   src: url('#{$font-dir}/font-italic.woff2') format('woff2'), url('#{$font-dir}/font-italic.woff') format('woff');
//   font-weight: $weight-regular;
//   font-style: italic;
// }
