.our-journey-page {
    @extend %main-padding-btm;
    padding-top: 12rem;
    @include breakpoint(ipad_portrait){
        padding-top: 10rem;
    }
    @include breakpoint(ipad_portrait){
        padding-top: 8rem;
    }
    @include breakpoint(mobile){
        padding-top: 8rem;
    }

    h1 {
        margin: 0 0 6rem;
        padding: 0px;
        color: $white;
        @include breakpoint(mobile) {
            margin: 0 0 4rem;
        }
    }
}

.journey-gradient-bg {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#09212a+76,92aaa1+99 */
    background: rgb(9, 33, 42);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(9, 33, 42, 1) 76%, rgba(146, 170, 161, 1) 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(9, 33, 42, 1) 76%, rgba(146, 170, 161, 1) 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(9, 33, 42, 1) 76%, rgba(146, 170, 161, 1) 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09212a', endColorstr='#92aaa1', GradientType=0);
    /* IE6-9 */

}

.our-journey-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.our-journey-box {
    position: relative;
    padding-bottom: 6rem;

    .progress-top-btm {
        position: absolute;
        width: 8px;
        height: 100%;
        background-color: $light-gray;
        top: 0px;
        left: 50%;
        @include breakpoint(mobile_portrait){
            display: none;
        }

        &::after {
            content: '';
            width: 45px;
            height: 45px;
            position: absolute;
            top: 0px;
            right: -18px;
            border: 8px $light-gray solid;
            background: $primary-color;
        }
    }

    .big-year-text {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        text-align: center;
        font-size: 300px;
        color: rgb(173, 173, 173);
        opacity: 0.3;
        font-weight: 700;

       
    
        @include breakpoint(desktop_sm) {
            font-size: 279px;
        }
       
        @include breakpoint(ipad_landscape) {
            font-size: 220px;
        }
    
        @include breakpoint(ipad_portrait) {
            font-size: 200px;
        }
        @include breakpoint(mobile_landscape) {
            font-size: 180px;
        }
        @include breakpoint(mobile_portrait) {
            font-size: 126px;
            top: 22%;
        }
    }

    .our-journey-box-in {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;

        .our-journey-box-left {
            width: 50%;
            color: $white;
            padding-right: 12%;
            text-align: right;
            position: relative;
            @include breakpoint(mobile_portrait){
                width: 100%;
                padding-right: 0;
                text-align: left;
            }

            h2 {
                margin: 0px;
                padding: 0px;
                font-size: 3.5rem;
                @include breakpoint(mobile_portrait) {
                    font-size: 2.5rem;
                }
            }

            .desc--box {
                margin-top: 2rem;
            }
        }

        .our-journey-box-right {
            width: 50%;
            margin-left: auto;
            position: relative;
            padding-left: 12%;

            @include breakpoint(mobile_portrait){
                width: 100%;
                padding-left: 0;
                margin-left: 0;
                margin-top: 4rem;
            }

            &::after {
                content: '';
                width: 50%;
                height: 8px;
                position: absolute;
                top: 50%;
                left: 0;
                background: $light-gray;
                @include breakpoint(mobile_portrait){
                    display: none;
                }
            }

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }

    &.row-reverse {
        .our-journey-box-in {
            flex-direction: row-reverse;

            .our-journey-box-left {
                padding-left: 12%;
                padding-right: 0;
                text-align: left;
                @include breakpoint(mobile_portrait){
                    padding-left: 0%;
                }
            }

            .our-journey-box-right {
                margin-left: 0;
                padding-right: 12%;
                padding-left: 0;
                @include breakpoint(mobile_portrait){
                    padding-right: 0%;
                }

                &::after {
                    left: inherit;
                    right: 0;
                }

                .image-behind-border {
                    padding-left: 50px;
                    padding-right: 0;

                    &::after {
                        right: inherit;
                        left: 0;
                    }
                }

            }
        }

    }


}

.continued {
    text-align: center;
    color: $white;
    font-size: 3rem;
    font-family: $secondaryfontfaimly;
    font-weight: 700;
    display: block;
    margin-top: 2rem;
    @include breakpoint(mobile_landscape) {
        font-size: 2.5rem;
    }
    @include breakpoint(mobile_portrait) {
        font-size: 2rem;
    }
}
.our-journey-container{
    .our-journey-box{
        @include breakpoint(mobile_landscape) {
            opacity: 1 !important;
        }
        
    }
}
