{% if content.field_cta %}
{{ content.field_cta }}
{% endif %}

{% if content.field_bottom_image %}
<div class="bottom-image">
	{{ content.field_bottom_image }}
</div>
{% endif %}

{% if content.field_bottom_copy %}
<div class="white">
	<div class="row">
		<div class="large-6 large-centered columns">
			{{ content.field_bottom_copy }}
		</div>
	</div>
</div>
{% endif %}