{% set title = node.getTitle() %}

{% if teaser %}

<div class="teaser teaser--product">

	{% if content.field_red_icon %}
	<a href="{{url}}" title="{{title}}" class="thumb">{{content.field_red_icon}}</a>
	{% endif %}

	<h3><a href="{{url}}" title="{{title}}">{{title}}</a></h3>

</div>

{% else %}

{% if content.field_image[0] is not empty %}
<div class="intro product">

	<div class="banner big">
		{{content.field_image}}
	</div>

	{% if content.field_icon %}
	<div class="row">
		<div class="large-12 columns row-tag">
			<div class="tag">
				{{content.field_icon}}
			</div>
		</div>
	</div>
	{% endif %}

</div>
<div class="red contact-info product-cat">
	<div class="row">
		<div class="large-9 large-centered columns">
	
			<div class="cat-content matchheight">
				<h1>{{title}}</h1>

				{% if content.body %}
				{{content.body}}
				{% endif %}

				{% if content.field_brochure %}
				{{content.field_brochure}}
				{% endif %}
			</div>

		</div>
	</div>
</div>

{% else %}

<div class="intro trade">
	<div class="row">
		<div class="large-8 large-centered columns">
			<h1>{{title}}</h1>
		</div>
	</div>
</div>

{% if content.body %}
<div class="white">
	<div class="row">
		<div class="large-6 large-centered columns">
			{{content.body}}
		</div>
	</div>
</div>
{% endif %}

{% endif %}


{% if content.field_range_title %}
<div class="dk-grey top">
	<div class="row">
		<div class="large-8 large-centered columns">
			<div class="product-box product-title">
				<h2>{{content.field_range_title}}</h2>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% if content.product_eva_listing %}
{{content.product_eva_listing}}
{% endif %}
{% endif %}