{% if content_row.gallery_images_list %}
	{% set parent_loop = loop.index %}
	<section class="previous-projects-section light-bg gallery-section-row-{{parent_loop}}">
		<div class="container">
			<div class="section-heading">
				<h2 data-aos="fade-up">{{content_row.gallery_title}}</h2>
			</div>
			<div class="previous-projects-section-content" data-aos="fade-up">
				<div class="thumb-3-slider">
					{% for gallery in content_row.gallery_images_list %}
						<div class="thumb-3-slider-item">
							<div class="thumb-3-slider-item-in">
								<div class="thumb-3-slider-image">
									<img src="{{ TimberImage(gallery.image).src('previous-projects-thumb') }}" alt="gallery.image.alt"/>
								</div>
								<div class="thumb-3-slider-content">
									<h4>{{gallery.title}}</h4>
									<span>{{gallery.subtitle}}</span>
									<div class="short-line"></div>
									<div class="desc--box">
										{{gallery.content}}
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endif %}
