{% if content_row.image %}
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{ TimberImage(content_row.image).src('book-cover') }}">
		<div class="parallax-window-in">
			<div class="parallax-testimonials-section-content" data-aos="fade-up">
				<strong>{{content_row.content}}</strong>
				<i>{{content_row.testimonial_author}}</i>
			</div>
		</div>

	</div>
{% endif %}
