{% if content_row.image and content_row.content %} 
<section class="image-card-section who-we-are-section">
	<div class="container-md">
				<div class="image-text-flex-row">
					<div class="image-card-50">
					  <img src="{{ TimberImage(content_row.image).src('hero-slider') }}" />
					</div>
					<div class="content-card-50">
						<div class="section-hd">
						<h2>{{content_row.title}}</h2> 
						</div>
						<div class="desc--box"> {{content_row.content}} </div>
						{% if content_row.cta %}
							<div class="btn-set--left"> 
							<a href="{{content_row.cta.url}}" target="{{content_row.cta.target}}" class="primary-outline-btn">{{content_row.cta.title}}</a> 
							</div> 
						{% endif %} 
					</div>
				</div>
			</div>
		
</section> 
{% endif %}