{% if content_row.show_services %}
<section class="other-services-section gradient-bg">
    <div class="container">
        <div class="section-heading" >
            <h2 data-aos="fade-up">{{content_row.services_title}}</h2>
        </div>
        <div class="other-services-section-content">
            <div class="custom-row">
                {% for service_item in getServices(post.id) %}

                <div class="card-4" data-aos="fade-up">
                    <div class="services-box">
                      <a href="{{service_item.link}}">
                    <h2 class="stitle">
                      {{service_item.service_title?service_item.service_title|upper:service_item.title|upper}}
                    </h2>
                        <div class="custom-row">
                            <div class="services-icon">
                               
                                    <img class="icon-show" src="{{ TimberImage(service_item.post_thumbnail_image).src('services-img') }}" alt="{{ service_item.post_thumbnail_image.alt }}"/>
                                    <img class="hover-icon-show" src="{{ TimberImage(service_item.post_thumbnail_image_hover).src('services-img') }}" alt="{{ service_item.post_thumbnail_image_hover.alt }}"/>
                               
                            </div>
                            <div class="services-content">
                                <div class="desc--box">
                                    {{service_item.preview.length(50).read_more(false)}}
                                </div>
                                <div class="primary-read-more">
                                    read more
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}