{% if content_row.image %}

{# <section class="e-with-fixed-bg">
	  <div class="bg-wrap">
		 <div class="bg" style="background-image: url({{ TimberImage(content_row.image).src('book-cover') }});"></div>
	  </div>
</section> #}

<div class="parallax-window" data-parallax="scroll" data-image-src="{{ TimberImage(content_row.image).src('book-cover') }}"></div>

{% endif %}