{% set color_bg_class = ' secondary-bg'%}
{% if content_row.tag_cloud_row %} {% set parent_loop = loop.index %}
<section class="tagcloud-section{{color_bg_class}}">
  <div class="container">
   <div class="custom-row">
   	{% for tag in content_row.tag_cloud_row %}
     {% set child_loop = loop.index %}
      {% if child_loop %7 == 1 %}
       	<h1>{{tag.tag_title}}</h1> 
      {% elseif child_loop %7 ==2 %}
       	<h2>{{tag.tag_title}}</h2> 
      {% elseif child_loop %7 ==3 %}
        <h3>{{tag.tag_title}}</h3> 
      {% elseif child_loop %7 ==4 %}
        <h2>{{tag.tag_title}}</h2> 
      {% elseif child_loop %7 ==5 %}
        <h1>{{tag.tag_title}}</h1> 
      {% elseif child_loop %7 ==6 %}
        <h1>{{tag.tag_title}}</h1>
      {% elseif child_loop %7 ==0 %}
        <h1>{{tag.tag_title}}</h1> 
      {% endif %}
    {% endfor %}

     {# <h1>trust</h1> <h2>commitment</h2> <h3>intergity</h3> <h2>passion</h2> <h1>quality</h1> <h1>innovation</h1>  <h2>partnership</h2>
	  <h1>trust</h1> <h2>commitment</h2> <h3>intergity</h3> <h2>passion</h2> <h1>quality</h1> <h1>innovation</h1>  <h2>partnership</h2> #}
   </div>
  </div>
</section>
{% endif %}
