{% if content_row.gallery_video_list %}
{% set parent_loop = loop.index %}
<section class="video-slider-section gradient-bg">
	<div class="container-md">
		<div class="section-heading">
			<h2 data-aos="fade-up">{{content_row.gallery_title}}</h2>
		</div>
		<div class="thumb-2-slider-section-content">
			<div class="thumb-2-slider">

				{% for gallery in content_row.gallery_video_list %}

				<div class="thumb-2-slider-item">
					<div class="thumb-2-slider-video">
						<div class="video-inner">
							{% set videoYoutube =gallery.video %}
							{% set videoMp4 =gallery.video_copy %}

							{% if gallery.image %}
							{% set videoMp4 =videoMp4|replace({'video width': 'video
							poster="'~ TimberImage(gallery.image).src('src')~'" width'}) %}
							{% set videoYoutube = videoYoutube |replace({'video width': 'video
							poster="'~ TimberImage(gallery.image).src('src')~'" width'}) %}
							{% endif %}
							{% if gallery.video_type =='mp4' %}
							{{ function('do_shortcode',videoMp4) }}
							{% else %}
							{{videoYoutube}}
							{% endif %}
						</div>
					</div>
					<div class="thumb-2-slider-content">
						<span>{{gallery.video_title}}</span>
					</div>
				</div>
				{% endfor %}

			</div>

		</div>
	</div>
</section>

{% endif %}