{% if content_row.image and content_row.content %} {% if content_row.background_color !='' and content_row.background_color %} {% set color_bg_class = ' '~content_row.background_color~'-bg' %} {% else %} {% set color_bg_class = ' primary-bg'%} {% endif %} {% if content_row.image_position =='left' %} {% set image_position_class = ' image-text-section-content-left' %} {% else %} {% set image_position_class = ' reverse' %} {% endif %} {# {% if content_row.image_top_spacing and content_row.image_top_spacing.show_padding %} #}


<section class="article-with-image-section{{color_bg_class}}">
   <div class="container">
      <div class="article-left-right-block {{image_position_class}}">
							<div class="article-lr-image" data-aos="fade-up">
								<img src="{{ TimberImage(content_row.image).src('hero-slider') }}" alt="" />
							</div>
							<div class="article-lr-content" data-aos="fade-up">
								<h2>{{content_row.title}}</h2> 
								<div class="desc--box"> {{content_row.content}} </div>
								 {% if content_row.cta %}
								<div class="btn-set--left"> 
								<a href="{{content_row.cta.url}}" target="{{content_row.cta.target}}" class="primary-outline-btn">{{content_row.cta.title}}</a> 
								</div> 
							{% endif %} 
							</div>
						</div>
   </div>
</section>


{% endif %}