{% extends "base.twig" %}

{% block content %}
	{% include "partial/content-page-hero.twig"%}
	<section class="contact-hero-section">
		<div class="contact-hero">
			<div class="contact-hero-item">

				<div class="contact-hero-item-content">
					<div class="container">
						<div class="contact-hero-item-txt">
							<h1>{{post.title}}</h1>
							{{post.content}}
							<ul class="contact-icons">
								<li>
									<a href="tel:{{post.telephone}}">
										<i class="phone-email">
											<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M9.53027 4.28003C11.9003 4.28003 13.8303 6.21003 13.8303 8.58003" stroke="white" stroke-width="0.94" stroke-linecap="round" stroke-linejoin="round"></path>
												<path d="M9.53027 1.43005C13.4703 1.43005 16.6703 4.63005 16.6703 8.57005" stroke="white" stroke-width="0.94" stroke-linecap="round" stroke-linejoin="round"></path>
												<path d="M2.26011 2.00002C0.0601052 4.20002 1.3701 9.09002 5.1901 12.92C9.0101 16.74 13.9001 18.06 16.1101 15.85C16.7801 15.18 17.0801 13.66 17.0801 13.66C17.1301 13.41 16.9801 13.13 16.7601 13.04L12.7601 11.44C12.5301 11.35 12.1901 11.42 12.0101 11.61L10.8501 12.77C10.6301 12.99 10.3101 13.05 10.0601 12.93C10.0401 12.92 10.0201 12.91 10.0001 12.9C10.0001 12.9 9.9801 12.9 9.9801 12.89C9.1001 12.41 8.17011 11.71 7.29011 10.83C6.41011 9.95002 5.7101 9.02002 5.2301 8.14002C5.2301 8.14002 5.23011 8.13002 5.22011 8.12002C5.21011 8.10002 5.2001 8.08002 5.1901 8.06002C5.0801 7.81002 5.13011 7.49002 5.35011 7.27002L6.51011 6.11002C6.70011 5.93002 6.77011 5.59002 6.68011 5.36002L5.0801 1.36002C4.9901 1.13002 4.7101 0.990016 4.4601 1.04002C4.4601 1.04002 2.94011 1.34002 2.27011 2.01002L2.26011 2.00002Z" stroke="white" stroke-width="0.94" stroke-miterlimit="10"></path>
											</svg>
										</i>
										<span>{{post.telephone}}</span>
									</a>
								</li>
								<li>
									<a href="mailto:{{post.email}}">
										<i class="chat-email">
											<svg width="20" height="15" viewbox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M18.2 1.12H1.92C1.4119 1.12 1 1.53189 1 2.04V12.84C1 13.3481 1.4119 13.76 1.92 13.76H18.2C18.7081 13.76 19.12 13.3481 19.12 12.84V2.04C19.12 1.53189 18.7081 1.12 18.2 1.12Z" stroke="white" stroke-width="0.78" stroke-linecap="round" stroke-linejoin="round"></path>
												<path d="M1.66008 13.1199C1.29008 13.4699 1.41008 13.7599 1.92008 13.7599H18.2001C18.7101 13.7599 18.8201 13.4699 18.4601 13.1199L12.5301 7.43994L10.7301 9.16994C10.3601 9.51994 9.77008 9.51994 9.40008 9.16994L7.60008 7.43994L1.67008 13.1199H1.66008Z" stroke="white" stroke-width="0.78" stroke-linecap="round" stroke-linejoin="round"></path>
												<path d="M18.1999 1.12C18.7099 1.12 18.8198 1.41 18.4598 1.76L10.7298 9.17C10.3598 9.52 9.76985 9.52 9.39985 9.17L1.66985 1.76C1.29985 1.41 1.41985 1.12 1.92985 1.12H18.2098H18.1999Z" stroke="white" stroke-width="0.78" stroke-linecap="round" stroke-linejoin="round"></path>
											</svg>
										</i>
										<span>{{post.email}}</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="contact-hero-shap">
			<div class="contact-hero-shap-in"></div>
		</div>
	</section>
	
	{% include "partial/content-flexible-content.twig"%}

{% endblock %}
