{% block content %}

	<div class="projects-box" data-aos="fade-up">
		<div class="projects-box-in">
			<a href="{{post.link}}">

			{% if post.thumbnail %}
				<div class="projects-img">
		
					<picture>
						<source media="(min-width: 768px) and (max-width: 991px)" srcset="{{ post.thumbnail.src('project_box_img') }}">
						<source media="(min-width: 568px) and (max-width: 767px)" srcset="{{ post.thumbnail.src('project_box_img') }}">
						<source media="(min-width: 320px) and (max-width: 567px)" srcset="{{ post.thumbnail.src('project_box_img') }}">
						<img src="{{ post.thumbnail.src('project_box_img') }}" alt="{{ post.title }}">
					</picture>
				</div>
			{% endif %}

				<div class="projects-content">
					<div class="projects-content-in">
						<h3>{{post.title}}</h3>
						<strong>{{post.location}}</strong>
					</div>
				</div>
			</a>
		</div>
	</div>

{% endblock %}
