<div class="categories-box">
	<div class="categories-box-in">
		{% if post.thumbnail %}
			<div class="categories-img">
				<picture>
					<source media="(min-width: 768px) and (max-width: 991px)" srcset="{{ post.thumbnail.src('medium') }}">
					<source media="(min-width: 568px) and (max-width: 767px)" srcset="{{ post.thumbnail.src('medium') }}">
					<source media="(min-width: 320px) and (max-width: 567px)" srcset="{{ post.thumbnail.src('medium') }}">
					<img src="{{ post.thumbnail.src('large') }}" alt="{{ post.title }}">
				</picture>
			</div>
		{% endif %}

		<div class="categories-content">
			<div class="categories-content-in">
				<h3>{{ post.title }}</h3>
				<div class="btn-set--center">
					<a href="{{post.link}}" class="primary-btn">READ MORE<i>&gt;</i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
