.btn-set--left {
    display: flex;
    justify-content: left;
    padding-left: 10px;
}

.btn-set--center {
    display: flex;
    justify-content: center;
}

.btn-set--right {
    display: flex;
    justify-content: right;

    @include breakpoint(mobile) {
        justify-content: left;
        padding-left: 10px;
    }
}

.primary-btn {
    background-color: $primary-color;
    color: $white;
    border: 1px $primary-color solid;
    padding: 0.5rem 2rem;
    font-size: $btn-font-size-base;
    display: block;

    &:hover {
        background-color: $secondary-color;
        color: $white;
        border: 1px $secondary-color solid;
    }
}

.secondary-btn {
    background-color: $secondary-color;
    color: $white;
    border: 1px $secondary-color solid;
    padding: 0.5rem 2rem;
    font-size: $btn-font-size-base;
    display: block;

    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}

.primary-outline--btn {
    background-color: transparent;
    color: $white;
    border: 0px $primary-color solid;
    padding: 0.7rem 1.7rem;
    font-size: $btn-font-size-base;
    display: block;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        border: 1px $primary-color solid;
        background-color: transparent;
        z-index: -1;
    }
    &:hover {
        color: $white;
        &::after {
            background-color: $primary-color;
        }
    }
}

.secondary-outline--btn {
    background-color: transparent;
    color: $white;
    border: 0px $secondary-color solid;
    padding: 0.5rem 1.7rem 0.5rem 1.7rem;
    font-size: $btn-font-size-base;
    display: block;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        border: 1px $secondary-color solid;
        background-color: transparent;
        z-index: -1;
    }
    &:hover {
        color: $white;
        &::after {
            background-color: $secondary-color;
        }
    }
}
