<div class="news-three-img">
	<div class="news-img news-img-size">
		<img typeof="foaf:Image" src="{{ TimberImage(content_row.image).src('news-details-three') }}" alt="" title="{{post.title}}">
	</div>
	<div class="news-img news-img-size">
		<img typeof="foaf:Image" src="{{ TimberImage(content_row.image_copy).src('news-details-three') }}" alt="" title="{{post.title}}">
	</div>
    <div class="news-img news-img-size">
		<img typeof="foaf:Image" src="{{ TimberImage(content_row.image_copy2).src('news-details-three') }}" alt="" title="{{post.title}}">
	</div>
</div>
