<div class="news-dual-img">
	<div class="news-img news-img-size">
		<img typeof="foaf:Image" src="{{ TimberImage(content_row.image).src('news-details-two') }}" alt="" title="{{post.title}}">
	</div>
	<div class="news-img news-img-size">
		<img typeof="foaf:Image" src="{{ TimberImage(content_row.image_copy).src('news-details-two') }}" alt="" title="{{post.title}}">
	</div>
</div>
