{% extends "base.twig" %}

{% block content %}

<div class="details-sections blog-details page-default-details">
                <div class="page-title">
                    <div class="line-hd white-line-hd line-left">
                        <div class="container-sm">
                            <h1>page not found</h1>
                        </div>
                    </div>
                </div>

			<div class="blog-block-text text-block main-pd-btm">
				<div class="container-sm">
				<p>Sorry, we couldn't find what you're looking for.</p>
				</div>
			</div>
    </div>
{% endblock %}