{% block html_head_container %}

{% include 'partial/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig" id="body">
	    <div id="mainContainer">
			<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

			<div class="main-header">
				<header class="header" >
						<div class="container-lg">
							<div class="custom-row">
								<div class="logo">
									<a href="{{site.url}}" rel="home">{{site.name}}</a>
								</div>
								<div class="hdr-right">
									<button class="nav__toggle" id="navToggle"> 
									  <span></span> 
									</button>
									<div class="nav_menu">
										<nav id="nav-main" class="nav-main" role="navigation">
											{% include "menu.twig" with {'items': menu.get_items} %}
										</nav><!-- #nav -->
									</div>
								</div>
							</div>
						</div>
					</header>
				</div>

				<div class="main-container">
					<section id="content" role="main" class="content-wrapper">
							{% block content %}
								Sorry, no content
							{% endblock %}
					</section>
				</div>

			{% block footer %}
				<div class="main-footer">

					{% include 'partial/footer.twig' %}
				</div>
				{{ function('wp_footer') }}
			{% endblock %}
		</div>
	</body>
</html>
