{% extends "base.twig" %}

{% block content %}
	{% include "partial/block-page-hero.twig" with {post:blog_post}%}

    <div class="white-bg main-padding blogs-section">

    	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	    {% endfor %}

        {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

    </div>

    {% include "partial/block-get-in-touch.twig" with {post:blog_post} %}
{% endblock %}
