{% extends "base.twig" %}

{% block content %}

    {% include "partial/block-page-hero.twig"%}

    {% if getProducts() %}
    <div class="products-section white-bg">
        <div class="container">
            <div class="products-card-row">

                {% for product in getProducts() %}

                <div class="products-card">
                    <div class="products-card-inner">
                        <a href="{{product.path}}">
                            <div class="products-card-img">
                                <picture>
                                    <img src="{{ TimberImage(product.thumbnail).src('product-thumb') }}" alt="" />
                                </picture>  
                            </div>
                            <h5>{{product.title}}</h5>
                        </a>
                        
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
    {% endif %}
    
    {% include "partial/block-flexible-content.twig"%}

    {% include "partial/block-get-in-touch.twig"%}

    {% include "partial/block-back-to-button.twig" with {url_title:'back to services',url_link:'what-we-do'}%}

{% endblock %}