{% extends "base.twig" %}

{% block content %}
	<div class="details-sections blog-details page-default-details">
                <div class="page-title" data-aos="fade">
                    <div class="line-hd white-line-hd line-left">
                        <div class="container-sm">
                            <h1><span class="trailing-line trailing-line--right trailing-line--primary">{{post.title}}</span></h1>
                        </div>
                    </div>
                </div>

				{% include "partial/block-featured-image.twig"%}

				{% include "partial/block-post-content.twig"%}
                
                {% include "partial/block-flexible-content.twig"%}

                {% include "partial/block-get-in-touch.twig"%}


    </div>

{% endblock %}
