{% extends "base.twig" %}

{% block content %}

{% include "partial/block-page-hero.twig"%}

{% include "partial/block-case-studies.twig"%}

{% include "partial/block-flexible-content.twig"%}
        
{% include "partial/block-get-in-touch.twig"%}

{% endblock %}