{% extends "base.twig" %}

{% block content %}
	<div class="home-page-container">
        {% include "partial/block-home-hero.twig"%}

        {% include "partial/block-home-services.twig"%}

        {% include "partial/block-home-product.twig"%}

        {% include "partial/block-home-case-studies.twig"%}

        {% include "partial/block-sectors-logo.twig"%}

        {% include "partial/block-get-in-touch.twig"%}
    </div>

{% endblock %}