{% extends "base.twig" %}

{% block content %}

<div class="how-we-do-it-section">
    <div class="how-we-do-it-hd" data-aos="fade">
        <div class="container-sm">
            <div class="downarrow scroll-next" data-aos="zoom-out" data-aos-delay="500" data-aos-offset="-1000">
                <img src="{{theme.link}}/assets/img/white arrow down.svg" alt="" />
            </div>
            <h1>{{post.title}}</h1>
            <div class="block-content">
                {{post.content}}
            </div>
        </div>
        
    </div>

    {% if post.get_field('how_we_do_it_steps')%}
        <div class="how-we-do-it-content">
            {% for step in post.get_field('how_we_do_it_steps')%}

            {% if (loop.index+1)%2 == 0 %}
            <div class="how-we-do-it-card-row how-we-do-it-card-row-left" data-aos="fade-up">
                <div class="container">
                    <div class="how-we-do-it-card">
                        <div class="how-we-do-it-card-img trailing-line trailing-line--right trailing-line--primary">
                            <img src="{{ TimberImage(step.icon).src('icon') }}" alt="" />
                        </div>
                        <div class="how-we-do-it-card-content">
                            <span class="row-number">{{loop.index}}</span>
                            <h2>{{step.title}}</h2> 
                            <div class="text-block">
                               {{step.content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="how-we-do-it-card-row how-we-do-it-card-row-right" data-aos="fade-up">
                <div class="container">
                    <div class="how-we-do-it-card">
                        <div class="how-we-do-it-card-img trailing-line trailing-line--left trailing-line--primary">
                            <img src="{{ TimberImage(step.icon).src('icon') }}" alt="" />
                        </div>
                        <div class="how-we-do-it-card-content">
                            <span class="row-number">{{loop.index}}</span>
                            <h2>{{step.title}}</h2> 
                            <div class="text-block">
                                {{step.content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% endfor %}
          
        </div>
    {% endif %}

    {% include "partial/block-get-in-touch.twig"%}
                
</div>
{% endblock %}