{% extends "base.twig" %}

{% block content %}
    {% include "partial/block-page-hero.twig"%}

    {% include "partial/block-sectors.twig"%}

    {% include "partial/block-flexible-content.twig"%}

    {% include "partial/block-get-in-touch.twig"%}

    {% include "partial/block-back-to-button.twig" with {url_title:'back to home',url_link:''}%}


{% endblock %}