{% extends "base.twig" %}

{% block content %}
<div class="contact-section">
    <div class="contact--hd">
        <div class="container-sm">
            <h1>{{post.get_field('page_heading')}}</h1>
            <div class="block-content"  data-aos="fade">
               <div class="trailing-line trailing-line--right trailing-line--primary"> {{post.content}}</div>
            </div>
        </div>
    </div>
    <div class="contact--content">
        <div class="container-sm">
            <div class="contact-content-inner">
                <div class="contact-btn">
                <a href="tel:{{post.get_field('contact_telephone')}}" >{{post.get_field('contact_telephone')}}</a>
                <a href="mailto:{{post.get_field('contact_email')}}" >{{post.get_field('contact_email')}}</a>
                </div> 
                <div class="contact-social-media">
                <ul>
                {% for social in post.get_field('social_networks') %}
                    <li>
                        <a href="{{social.social_link}}">
                            <img src="{{ TimberImage(social.social_icon).src('src') }}" alt="" />
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}