{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base.twig" %}

{% block content %}

<div class="details-sections blog-details page-default-details">
                <div class="page-title">
                    <div class="line-hd white-line-hd line-left">
                        <div class="container-sm">
                            <h1>Search</h1>
                        </div>
                    </div>
                </div>

        <div class="content-wrapper">
          {% for post in posts %}
            {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
          {% endfor %}

          {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
        </div>               

        {% include "partial/block-get-in-touch.twig" with {post:blog_post}%}

    </div>
  
{% endblock %}
