{% extends "base.twig" %}

{% block content %}
	<div class="details-sections">
        <div class="page-title" data-aos="fade">
            <div class="line-hd white-line-hd line-left">
                <div class="container-sm">
                    <h1><span class="trailing-line trailing-line--right trailing-line--primary">{{post.title}}</span></h1>
                </div>
            </div>
        </div>

        {% if post.thumbnail %}
            <div class="page-featured-img" >
                <div class="container-sm">
                <div class="downarrow scroll-next" data-aos="zoom-out" data-aos-delay="500" data-aos-offset="-1000">
                  <img src="{{theme.link}}/assets/img/black arrow down.svg" alt="" />
                 </div>
                    <img src="{{ TimberImage(post.thumbnail).src('featured') }}" alt="" />
                </div>
            </div>
        {% endif %}

    {% include "partial/block-flexible-content.twig"%}

    {% include "partial/block-get-in-touch.twig"%}


    {% include "partial/block-back-to-button.twig" with {url_title:'back to products',url_link:'products'}%}
                    
	</div>


{% endblock %}
