{% if (loop.index+1)%2==0 %}
<div class="blog-card-outer blog-card-outer-left" data-aos="fade-up">
    <div class="container">
        <div class="blog-cards">
            <div class="blog-card-img trailing-line trailing-line--left trailing-line--primary">
            <a href="{{post.link}}">
            {% if post.thumbnail.src %}
                <picture>
                    <img src="{{ TimberImage(post.thumbnail).src('block-image-thumb') }}" alt="" />
                </picture>
            {% else %}
                {# <picture>
                    <img src="{{theme.link}}/assets/img/blog-img-1.jpg" alt="">
                </picture> #}
            {% endif %}
            </a>
            </div>
            <div class="blog-card-content">
                <h2><a href="{{post.link}}">{{post.title}}</a></h2>
                <div class="blog-card-txt">
                    {{post.preview.read_more('')}}
                </div>
                <div class="btn-right">
                    <a href="{{post.link}}" class="round-primary-btn">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="blog-card-outer blog-card-outer-right" data-aos="fade-up">
    <div class="container">
        <div class="blog-cards">
            <div class="blog-card-img trailing-line trailing-line--right trailing-line--primary">
            <a href="{{post.link}}">
                {% if post.thumbnail.src %}
                <picture>
                    <img src="{{ TimberImage(post.thumbnail).src('block-image-thumb') }}" alt="" />
                </picture>
            {% else %}
                {# <picture>
                    <img src="{{theme.link}}/assets/img/blog-img-1.jpg" alt="">
                </picture> #}
            {% endif %}
            </a>

            </div>
            <div class="blog-card-content">
                <h2><a href="{{post.link}}">{{post.title}}</a></h2>
                <div class="blog-card-txt">
                    {{post.preview.read_more('')}}
                </div>
                <div class="btn-right">
                    <a href="{{post.link}}" class="round-primary-btn">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
