{% if getChildPage(post.ID) %}
<div class="what-we-do-section main-padding">
    <div class="container">
        <div class="what-we-do-card-row">
            {% for child in getChildPage(post.ID) %}
            <div class="what-we-do-card" data-aos="fade-up">
                    <a href="{{child.path}}"><h2>{{child.title}}</h2></a>
                    <div class="what-we-do-content">
                        {{child.preview}}
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}       