{% if content_row.download_list %}
        <div class="manufacture-resources-section gray-bg main-padding">
            <div class="container" data-aos="fade-up">
            {% if content_row.download_list %}
                <h2>{{content_row.download_heading}}</h2>
                {% endif %}
                <div class="man-res-row">
                    <ul>
                     {% for download in content_row.download_list %}
                        <li>
                            <a href="{{download.upload_file.url}}"  download="{{download.upload_title}}">
                                <i>
                                    <img src="{{theme.link}}/assets/img/download.svg" alt="">
                                </i>
                                <span>{{download.upload_title}}</span>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
{% endif %}