{% if post.get_field('content_copy_title') or post.get_field('content_copy_body') %}
<div class="page-content-section gray-bg main-padding" data-aos="fade">
    {% if post.get_field('content_copy_title') %}
    <div class="line-hd gray-line-hd line-right" >
        <div class="container">
            <h2><span class="trailing-line trailing-line--left trailing-line--primary">{{post.get_field('content_copy_title')}}</span></h2>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="page-content-txt">
            {% if post.get_field('content_copy_subtitle') %}
                <strong class="subtitle">{{post.get_field('content_copy_subtitle')}}</strong>
            {% endif %}
            {{post.get_field('content_copy_body')}}
        </div>
    </div>
</div>
{% endif %}