{% if content_row.testimonial_content %}
<div class="quotes-section white-bg">
    <div class="container" data-aos="fade-up">
        <h2>
           {{content_row.testimonial_content}}
        </h2>
    </div>
</div>
{% endif %}