<div class="page-hero-section">
    <div class="page-hero-img">
        <picture>
         <source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.get_field('hero_image')).src('src') }}">
         <source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(post.get_field('hero_image')).src('src') }}">
         <img src="{{ TimberImage(post.get_field('hero_image')).src('src') }}" alt="{{ post.get_field('hero_image').alt }}">
      </picture>
    </div>
    <div class="page-hero-content">
        <div class="page-hero-content-top">
            <div class="container-sm">
                <h1>{{post.get_field('hero_title')?post.get_field('hero_title'):(post.title?post.title:title)}}</h1>
                
            </div>
        </div>
        <div class="page-hero-content-btm" data-aos="fade">
            <div class="container">
                <div class="aside-right">
                    <div class="trailing-line trailing-line--right trailing-line--primary">
                    <strong>{{post.get_field('hero_content')}}</strong>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="page-arrow">
       <div class="container-lg">
          <div class="downarrow scroll-next" data-aos="zoom-out" data-aos-delay="500" data-aos-offset="-1000">
                    <img src="{{theme.link}}/assets/img/white arrow down.svg" alt="" />
            </div>
     </div>
    </div>
  
</div>