{% for content_row in post.meta('content_row_layout') %}
     {% if content_row.acf_fc_layout == 'full_image' %} 
          {% include "partial/block-full-image.twig"  %}
     {% elseif content_row.acf_fc_layout == 'copy_content' %} 
          {% include "partial/block-copy-content.twig" %}	 
     {% elseif content_row.acf_fc_layout == 'testimonials' %} 
          {% include "partial/block-testimonial.twig"  %}
     {% elseif content_row.acf_fc_layout == 'downloads' %} 
          {% include "partial/block-download-resource.twig" %}
     {% elseif content_row.acf_fc_layout == 'content_with_image' %} 
          {% include "partial/block-content-with-image.twig"  %}
     {% elseif content_row.acf_fc_layout == 'image_overlay' %} 
          {% include "partial/block-image-overlay.twig" %}     
     {% elseif content_row.acf_fc_layout == 'image_gallery' %} 
          {% include "partial/block-gallery.twig"  %}
     {% endif %} 
{% endfor %}