{% if content_row.bg_image %}
<div class="more-info-section" >
    <div class="more-info-img">
        <picture>
            <source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(content_row.bg_image).src('product-bg') }}">
            <source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(content_row.bg_image).src('product-bg') }}">
            <img src="{{ TimberImage(content_row.bg_image).src('product-bg') }}" alt="">
        </picture>
    </div>
    <div class="more-info-inner">
        <div class="container-sm" data-aos="fade-up">
            <div class="oringe-bg more-info-box">
                <h2>
                    <a href="{{content_row.cta_link}}">{{content_row.overlay_content}}</a>
                </h2>
            </div>
        </div>
    </div>
</div>
{% endif %}
