{% if post.get_field('sectors_group')%}
<div class="client-logo-section main-padding dark-bg" >
        <div class="container" data-aos="fade-up">
            <h2>{{post.get_field('sectors_group_sector_heading')}}</h2>

            {% if post.get_field('sectors_group_logos') %}
                <div class="client-logo-row">
                    <ul>

                    {% for logo in post.get_field('sectors_group_logos') %}
                        <li>
                            <img src="{{ TimberImage(logo.logo).src('src') }}" alt="" />
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
</div>
{% endif %}