{% if content_row.copy_content_title or content_row.copy_content_text %}

<div class="page-content gray-bg main-padding">
    <div class="container-sm">
        {% if content_row.copy_content_title %}
            <h3>{{content_row.copy_content_title}}</h3>
        {% endif %}
        <div class="page-content-txt">
            {{content_row.copy_content_text}}
        </div>
        
    </div>
</div>

{% endif %}

