{% if post.get_field('finish_product_group_title') or  post.get_field('finish_product_group_image') %}
<div class="view-product-section" >
    <div class="view-product-img">
        <picture>
            <source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.get_field('finish_product_group_image')).src('product-bg') }}">
            <source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(post.get_field('finish_product_group_image')).src('product-bg') }}">
            <img src="{{ TimberImage(post.get_field('finish_product_group_image')).src('product-bg') }}" alt="">
        </picture>
    </div>
    <div class="view-product-inner">
        <div class="container-sm" data-aos="fade-up">
            <h2>{{post.get_field('finish_product_group_title')}}</h2>
            <div class="aside-right">
                <div class="view-product-text">
               <p> {{post.get_field('finish_product_group_content')}}</p>
                </div>
                <div class="btn-left">
                    <a href="{{post.get_field('finish_product_group_cta_link')}}" class="round-primary-btn">{{post.get_field('finish_product_group_cta_title')}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}