   
       {% if getSectors() %}
<div class="sectors-section main-pd-top white-bg">
        <div class="container">
            <div class="products-card-row">
                {% for sector in getSectors() %}

                <div class="products-card" data-aos="fade-up">
                    <div class="products-card-inner">
                        <a href="{{sector.path}}">
                            <div class="products-card-img">
                                <picture>
                                    <img src="{{ TimberImage(sector.thumbnail).src('product-thumb') }}" alt="" />
                                </picture>
                            </div>
                            <h5>{{sector.title}}</h5>
                        </a>

                    </div>
                </div>

                {% endfor %}
               
            </div>
        </div>

    </div>
        {% endif %}
