 
                <div class="img-text-card-section white-bg main-padding">
                    <div class="container">
                        <div class="img-text-card-row img-text-card-left">
                            <div class="img-text-card-img">
                                <img src="{{theme.link}}/assets/img/blog-img-1.jpg" alt="">
                            </div>
                            <div class="img-text-card-content">
                                <h2>Taking responsibility for …</h2>
                                <div class="ul-col ul-col-2">
                                    <ul>
                                        <li>Project scope</li>
                                        <li>Focus groups / staff engagemen</li>
                                        <li>Concept design</li>
                                        <li>
                                            Ergonomics and 
                                            human factors
                                        </li>
                                        <li>
                                            Inclusive and 
                                            accessible design
                                        </li>
                                        <li>3D design</li>
                                        <li>
                                            Technology 
                                            integration
                                        </li>
                                        <li>Soft modelling</li>
                                        <li>
                                            Prototypes and 
                                            mock-ups
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="img-text-card-row img-text-card-right">
                            <div class="img-text-card-img">
                                <img src="{{theme.link}}/assets/img/blog-img-1.jpg" alt="">
                            </div>
                            <div class="img-text-card-content">
                                <h2>Title text</h2>
                                <div class="img-text-card-txt">
                                    <p>
                                        It’s about an integrated and user-centred approach 
                                        which delivers the best technology and people 
                                        solutions into a customer-specific design for your 
                                        project. We will:
                                    </p>
                                </div>
                                <div class="ul-col">
                                    <ul>
                                        <li>
                                            Get it right on both sides of the counter, 
                                        addressing ergonomics, safety and accessibility 
                                        right from the start.
                                        </li>
                                        <li>
                                            Look to future-proof your investment with design 
                                        solutions which will accommodate changes in 
                                        technology and customer interactions.
                                        </li>
                                        <li>Be compliant with industry standards.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
