<footer>
    <div class="container-lg">
        <div class="footer-logo">
            ideas
        </div>
        <div class="custom-row">
            <div class="footer-left">
                
                <div class="footer-address">
                    {{contact_post.get_field('contact_address')}}
                </div>
                <div class="social-media">
                    <ul>
                        {% for social in contact_post.get_field('social_networks') %}
                                <li>
                                    <a href="{{social.social_link}}">
                                        <img src="{{ TimberImage(social.social_icon).src('src') }}" alt="" />
                                    </a>
                                </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="copy-right">
                    Website created by Blooberry Creative
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-menu">
                <ul>
                <li>
			<div class="accessibility-menu dropup pull-right">
				<a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accessibility</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<button class="dropdown-item accessibility-btn-text">Bigger Text</button>
						<button class="dropdown-item accessibility-btn-contrast">High Contrast</button>
						<a class="btn btn-accessibility" href="{{site.link}}/accessibility">Accessibility</a>
				</div>
			</div>
			</li>
            </ul>

                    {% include "menu.twig" with {'items': footer_menu_1.get_items} %}
                </div>
                <div class="footer-menu">
                    {% include "menu.twig" with {'items': footer_menu_2.get_items} %}
                </div>
            </div>
        </div>
    </div>
</footer>


