/**
 * ----------------------
 * Blooberry Design
 * Atoms - Back button
 * ----------------------
 */

.a-back {
  padding: $bump * 1.5 0;
  background-color: $c-grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
