/**
 * ----------------------
 * Blooberry Design
 * Atoms - Content block
 * ----------------------
 */

/**
 * Styling
 */
// @include media('<sm') {
.a-contact-block {
  margin-bottom: $bump;

  &:last-child {
    margin-bottom: 0;
  }
}
// }
