/**
 * ----------------------
 * Blooberry Design
 * Atoms - Newsletter wrapper
 * ----------------------
 */

// Config
@mixin tilted($angle, $color, $position: 'top', $pseudo: 'before') {
  position: relative;
  background-color: $color;

  &::#{$pseudo} {
    content: '';
    padding-top: 105px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

    @include media('<sm') {
      padding-top: 35px;
    }

    @include media('<xs') {
      padding-top: 40px;
    }

    @if ($position == 'top') {
      bottom: 100%;
      background-image: linear-gradient($angle, $color calc(50% - 1px), transparent 50%);
    } @else {
      top: 100%;
      background-image: linear-gradient($angle, transparent calc(50% - 1px), $color 50%);
    }
  }
}

// Styles
.a-newsletter-wrapper {
  background-color: $c-white;
  padding: $bump * 1.5;
  position: relative;

  @include media('<sm') {
    padding: $bump/2 0;
  }

  &--page {
    background-color: $c-white;
    padding: $bump * 4 $bump * 1.5 $bump * 2;
    overflow: hidden;

    @include media('<xlg') {
      padding: $bump * 2 $bump * 1.5 $bump;
    }

    @include media('<sm') {
      padding: $bump 0 $bump/2;
    }

    &__stripe {
      background-color: $c-grey;
      position: absolute;
      top: -50px;
      left: -100vw;
      height: $bump * 10;
      width: 300vw;
      display: block;
      z-index: 0;
      transform: rotate(2deg);

      @include media('<xlg') {
        height: $bump * 7;
      }
    }

    .grid {
      z-index: 1;
    }
  }
}
