/**
 * ----------------------
 * Blooberry Design
 * Atoms - Titles
 * ----------------------
 */

.a-title {
  position: relative;

  &::after {
    content: '';
    background-color: $c-blue;
    position: absolute;
    display: block;
  }

  &--left {
    &::after {
      height: 100%;
      width: 4px;
      left: -$bump/2;
      top: 0;
    }
  }

  &--bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-align-last: center;

    &::after {
      position: relative;
      width: 125px;
      max-width: 100%;
      height: 4px;
      margin-top: $bump/3;
    }
  }

  &--white {
    color: $c-white !important;

    &::after {
      background-color: $c-white;
    }
  }

  &--center {
    text-align: center;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
