.btn-set--left {
    display: flex;
    justify-content: flex-start;
}

.btn-set--center {
    display: flex;
    justify-content: center;
}

.btn-set--right {
    display: flex;
    justify-content: flex-end;
    @include breakpoint(mobile) {
        justify-content: center;
    }
}
.primary-btn,
.secondary-btn
{
   @extend %button-font-size;
   border-radius: 100px;
   padding: 10px 50px 10px 30px;
   position: relative;
   border: 0px;
   font-family: $primaryfontfaimly;
   font-weight: 300;
   &::after{
    content: ">";
    position: absolute;
    right: 25px;
    top: 9px;
    font-size: 1.7rem;
   
   }
}
.primary-btn{ 
   color: $white;
   background-color: $secondary-color;
   &:hover{
    background-color: $green-color;
    color: $white;
   } 
}
.secondary-btn{ 
    color: $white;
    background-color: $primary-color;
    &:hover{
     background-color: $green-color;
    } 
 }