%h1{
    font-size: 6rem;
    line-height: 7rem;
    font-family: $secondaryfontfaimly;
    @include breakpoint(ipad_landscape){
        font-size: 4.5rem;
        line-height: 5.5rem;
    }
    @include breakpoint(ipad_portrait){
        font-size: 4rem;
        line-height: 5rem;
    }
    @include breakpoint(mobile){
        font-size: 3rem;
        line-height: 4rem;
    }
}
%h2{
    font-size: 3.7rem;
    line-height: 4.5rem;
    font-family: $secondaryfontfaimly;
    @include breakpoint(ipad_landscape){
        font-size: 3.1rem;
        line-height: 4rem;
    }
    @include breakpoint(ipad_portrait){
        font-size: 3rem;
        line-height: 4rem;
    }
    @include breakpoint(mobile){
        font-size: 2.2rem;
        line-height: 3.2rem;
    }
}
%h3{
    font-size: 3.1rem;
    font-weight: 500;
    @include breakpoint(ipad_landscape){
        font-size: 2.6rem;
    }
    @include breakpoint(ipad_portrait){
        font-size: 2.5rem;
    }
    @include breakpoint(mobile_landscape){
        font-size: 2.3rem;
    }
    @include breakpoint(mobile_portrait){
        font-size: 1.8rem;
    }
}

%h4{
    font-size: 2rem;

    @include breakpoint(mobile){
        font-size: 1.6rem;
    }
}


h1{
    @extend %h1;
    color: $green-color
}
h2{
    @extend %h2;
    color: $green-color
}

h3{
    @extend %h3;
    color: $green-color
}

h4{
    @extend %h4;
    color: $green-color
}

.hd{
    position: relative;
    margin: 0px;
    padding: 0 0 2rem 0;
    color: $green-color;
    font-weight: 500;
    &::after{
        content: '';
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: 4px;
        width: 160px;
        background-color: $green-color;
    }
}
