a,
button {
  cursor: pointer;
}

// Base Font faimly

$primaryfontfaimly: "Red Hat Display", sans-serif;
$secondaryfontfaimly: "Playfair Display", serif;

// Base font size

%font-size-base {
  font-size: 1.4rem;
  @include breakpoint(mobile){
    font-size: 1.1rem;
  }
}



%button-font-size {
  font-size: 1.4rem;
  
}

%mainMenuFont {
  font-size: 1.4rem;
}



// Main line height
$line-height: 1.9rem;

// Main padding
$main-pd: 5rem;

%main-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include breakpoint(ipad_landscape) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  @include breakpoint(ipad_portrait) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include breakpoint(mobile) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
%main-padding-top {
  padding-top: 6rem;

  @include breakpoint(ipad_landscape) {
    padding-top: 5rem;
  }

  @include breakpoint(ipad_portrait) {
    padding-top: 4rem;
  }

  @include breakpoint(mobile) {
    padding-top: 3rem;
  }
}
%main-padding-btm {
  padding-bottom: 6rem;

  @include breakpoint(ipad_landscape) {
    padding-bottom: 5rem;
  }

  @include breakpoint(ipad_portrait) {
    padding-bottom: 4rem;
  }

  @include breakpoint(mobile) {
    padding-bottom: 3rem;
  }
}

// Set Image Path
$assetPath: "../img";
$assetIconPath: "../img/icon";
$fontsPath: "../webfonts";

// Button Font Size