.author-details-page{
    background-color: $primary-color;
    padding: 1rem;
    margin-top: 1rem;
}
.author-section{
    display: flex;
    align-items: center;
    color: $white;
    text-transform: capitalize; 
    .hero-author{
        display: flex;
        align-items: center;
        span{
            width: 25px;
            height: 25px;
            border-radius: 100px;
            overflow: hidden;
            margin-right: 10px;

            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
    .hero-post-time{
       margin-left: 15px;
       display: flex;
       align-items: center;
       i{
        margin-right: 5px;
        svg{
            fill: rgb(255, 255, 255);
        }
       }
    }
}