.wallpaper-full-view {
    width: 100%;
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(ipad) {
        width: 100%;
        padding: 0rem;
    }

    @include breakpoint(mobile) {
        width: 100%;
        padding: 0rem;
    }

    .wallpaper-full-img {
        width: 100%;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

}

.details-page-info {
    max-width: calc(100%);
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(mobile) {
        padding: 0;
    }

    .details-page-left {
        width: calc(100% - 400px);
        padding-right: 2rem;

        @include breakpoint(mobile) {
            width: 100%;
            padding: 0 0 2rem 0;
        }
    }

    .sidebar {
        width: 400px;
        background: #fff;
        padding: 16px;

        .sidebar-sty {
            position: sticky;
            top: 0;

            @include breakpoint(mobile) {
                position: relative;
            }
        }

        .tagsshow {
            margin-top: 1.5rem;
        }

        @include breakpoint(mobile) {
            width: 100%;
        }

        h2 {
            margin: 0 0 1rem 0;
            padding: 0px;
            font-size: 1.1rem;
        }

        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;

            li {
                margin: 0 0 10px 0;
                padding: 0px;

                a {
                    display: block;
                    font-size: 1rem;
                }
            }
        }
    }
}

.postcontent {
    width: 100%;
    padding: 4rem 0;
    text-align: center;

    @include breakpoint(ipad) {
        width: 100%;
        padding: 2rem 0;
    }

    @include breakpoint(mobile) {
        width: 100%;
        padding: 2rem 0;
    }
}

.details-page-info {
    padding-bottom: 2rem;
}

.related-wallpaper {
    width: 100%;


    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
        @include breakpoint(mobile_landscape) {
            margin: 0 ;
            padding: 0 10px;
        }
        @include breakpoint(mobile_portrait) {
            margin: 0 ;
            padding: 0 10px;
        }

        li {
            width: 25%;
            padding: 1rem;

            @include breakpoint(ipad) {
                width: 33.33%;
            }

            @include breakpoint(mobile_landscape) {
                width: 33.33%;
                padding: 1rem 0.5rem;
            }

            @include breakpoint(mobile_portrait) {
                width: 50%;
                padding: 1rem 0.5rem;
            }

            a {
                float: left;
                width: 100%;
                &:first-child{
                    height: 280px;
                    @include breakpoint(ipad) {
                        height: 180px;
                    }
                    @include breakpoint(mobile_landscape) {
                        height: 115px;
                    }
                    @include breakpoint(mobile_portrait) {
                        height: 115px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        border-radius: 4px;
                        object-fit: cover;
                    }
                }
               
            }

            a.wpp-post-title {
                display: block;
                font-size: 1rem;
                margin-top: 1rem;
            }

        }
    }
}

.adsense-header {
    text-align: center;
    margin-bottom: 20px;
}

blockquote {
    padding: 0px;
    margin: 0;
}

.margin-tp-btm {
    margin-bottom: 30px;
}

.download-link {
    a {
        &.btn-primary {
            color: #fff !important;
        }
    }
}