html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $primaryfontfaimly;
    font-weight: 400;
    background: $white;
    padding: 0px;
    margin: 0px;
    font-size: $font-size-base;
    color: $gray-color;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

p {
    line-height: $line-height;
}

a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: $secondary-color;
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

input {
    -webkit-appearance: none;
    opacity: 1;
}

button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}

.container-fluid {
    max-width: calc(100%);
    width: calc(100% - 3rem);
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: calc(100%);
    width: calc(100% - 4rem);
    margin-left: auto;
    margin-right: auto;
}

.main-padding {
    padding-top: $main-pd;
    padding-bottom: $main-pd;
}

.white-bg {
    background: $white;
}

.primary-bg {
    background: $primary-color;
}

.secondary-bg {
    background: $secondary-color;
}

.gray-bg {
    background: $gray-bg;
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
}

.hide-desktop {
    display: none;

    @include breakpoint(mobile_portrait) {
        display: block;
    }
}

.hide-mobile {
    @include breakpoint(mobile_landscape) {
        display: block;
    }

    @include breakpoint(mobile_portrait) {
        display: none;
    }
}

.desc--box {
    p {
        &:last-child {
            margin: 0px;
        }
    }

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            position: relative;
            margin: 0 0 0.6rem 0;
            padding: 0 0 0 1.5rem;

            br {
                @include breakpoint(ipad_portrait) {
                    display: none;
                }

                @include breakpoint(mobile) {
                    display: none;
                }
            }

            &::before {
                width: 8px;
                height: 8px;
                position: absolute;
                left: 0px;
                top: 9px;
                background: $secondary-color;
                content: "";
                border-radius: 50px;
            }
        }
    }
}

.main-container {
    min-height: 90vh;
}
