.main-footer {
  @include gradient3;
  padding: 1.5rem 0;

  .custom-row {
    align-items: center;
  }

  .footer-left {
    width: auto;
    &.hide-mobile {
      @include breakpoint(ipad_portrait) {
        display: block !important;
      }
      @include breakpoint(mobile) {
        display: block;
      }
    }
    @include breakpoint(ipad_portrait) {
      width: 100%;
    }
    @include breakpoint(mobile) {
      width: 100%;
    }
    .footer-logo {
      width: 250px;
      @include breakpoint(ipad_portrait) {
        width: 200px;
        margin: auto;
      }
      @include breakpoint(mobile) {
        width: 200px;
        margin: auto;
      }
      a {
        display: block;
        img {
          display: block;
          width: 100%;
        }
      }
    }
    @include breakpoint(ipad_portrait) {
      width: 100%;
      text-align: center;
    }

    @include breakpoint(mobile) {
      width: 100%;
      text-align: center;
    }
  }

  .footer-mid {
    width: auto;
    margin-left: 4rem;
    margin-right: 4rem;
    @include breakpoint(ipad_portrait) {
      width: 100%;
      margin: 2rem 0;
    }
    @include breakpoint(mobile) {
      width: 100%;
      margin: 2rem 0;
    }
    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      min-height: 16px;
      @include breakpoint(ipad_portrait) {
        justify-content: center;
      }
      @include breakpoint(mobile) {
        justify-content: center;
      }
      li {
        margin: 0px;
        padding:0 1rem 0 0rem;
        border-left: 2px $white solid;
        line-height: 0.4rem;
        &:first-child {
          border: 0px;
        }
        &:last-child {
          padding-right: 0px;
          padding-left: 1rem;
        }
        a {
          color: $white;
          display: flex;
          font-size: 1rem;
          align-items: center;
          height: 100%;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
    p {
      color: $white;
      font-size: 1rem;
      margin: 0.5rem 0 0 0;
      text-align: center;
      display: block;

      a {
        color: $white;
        font-size: 1rem;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  .footer-social-media {
    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include breakpoint(ipad_portrait) {
        justify-content: center;
      }
      @include breakpoint(mobile) {
        justify-content: center;
      }
      li {
        margin: 0 0 0 1.5rem;
        padding: 0px;
        @include breakpoint(ipad_portrait) {
          margin: 0 1rem;
        }
        @include breakpoint(mobile) {
          margin: 0 1rem;
        }
        a {
          display: block;
          width: 55px;
          height: 55px;
          border-radius: 100px;
          @include gradient;

          i {
            display: block;
            width: 100%;
            height: 100%;
          }

          &:hover {
            background: $light-orange;
            i{
              &.facebook-white-icon{
                background: url("#{$assetPathIcons}/drak facebook icon.svg") no-repeat center center; 
                background-size: 100%;
              }
              &.twitter-white-icon{
                background: url("#{$assetPathIcons}/drak twitter icon.svg") no-repeat center center; 
                background-size: 100%;
              }
              &.linkedin-white-icon{
                background: url("#{$assetPathIcons}/drak linkedin icon.svg") no-repeat center center; 
                background-size: 100%;
              }
              &.youtube-white-icon{
                background: url("#{$assetPathIcons}/drak youtube icon.svg") no-repeat center center; 
                background-size: 100%;
            }
            }
          }
        }
      }
    }
  }

  .footer-right {
    width: auto;
    @include breakpoint(ipad_portrait) {
      width: 100%;
    }
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
}

.hide-mobile {
  @include breakpoint(ipad_portrait) {
    display: none !important;
  }
}
.hide-desktop {
  @include breakpoint(ipad_portrait) {
    display: block !important;
  }
}
