.main-header {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;

  header {
    position: relative;
    padding: 2rem 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .custom-row {
    align-items: end;
    position: relative;
    z-index: 2;
  }

  .logo {
    width: 275px;
    opacity: 0;

    @media (min-width: 1300px) and (max-width: 1480px) {
      width: 221px;
    }
    a {
      display: block;
      padding: 0;
      z-index: 3;

      img {
        display: block;
        width: 100%;
        position: relative;
        z-index: 2;
      }
    }
  }

  .top-hdr-right {
    margin-left: auto;
  }

  .nav_menu_inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav_menu {
    width: 100%;
  }

  .nav-main {
    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      li {
        margin: 0 3rem 0 0;
        padding: 0px;
        @media (min-width: 1300px) and (max-width: 1480px) {
          margin: 0 1.5rem 0 0;
        }

        a {
          display: block;
          font-size: $mainMenuFont;
          color: $white;
          text-transform: uppercase;

          &:hover {
            color: $primary-color;
          }
        }

        ul {
          display: none;
        }
        ul:empty {
          display: none;
        }

        &.menu-item-has-children {
          position: relative;

          ul {
            width: 250px;
            display: none;
            position: absolute;
            left: 0px;
            padding-top: 22px;
            li {
              margin: 0px;
              padding: 5px 27px;
              background-color: $secondary-color;
              &:first-child {
                padding-top: 25px;
              }
              &:last-child {
                padding-bottom: 25px;
              }
              a {
                padding: 0px;
                font-size: 1.1rem;
              }
            }
          }
          &:hover {
            ul {
              display: block;
            }
          }
        }
        &.current-menu-ancestor,
        &.current-menu-item {
          a {
            color: $primary-color;
            font-family: "MuseoSans-500";
          }
          ul {
            li {
              a {
                font-weight: 400;
              }
              &.current-menu-item {
                a {
                  color: $primary-color;
                  font-family: "MuseoSans-500";
                }
              }
            }
          }
        }
      }
    }
  }
}

.sm-header {
  .main-header {
    header {
      padding: 1rem 0;
      &::after {
        position: absolute;
        width: 100%;
        content: "";
        height: 100%;
        background-color: $secondary-color;
        left: 0px;
        top: 0px;
        mix-blend-mode: multiply;
      }
    }
  }
}

.nav__toggle {
  display: none;

  @include breakpoint(mobile_nav) {
    display: block;
  }
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 30px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;

  span,
  span::before,
  span::after {
    text-align: center;
    cursor: pointer;
    border-radius: 0px;
    height: 2px;
    width: 30px;
    background-color: $white;
    position: absolute;
    display: block;
    content: "";
    transition: all 0.2s;
    outline: 0;
  }

  span {
    // left: 3px;
    top: 15px;

    &::before {
      top: -10px;
    }

    &::after {
      bottom: -10px;
    }
  }
}

.menu-slide {
  overflow: hidden;
  height: 100%;

  .main-header {
    .nav_menu_inner {
      display: block;
    }

    .nav-main {
      ul {
        display: block;
        text-align: center;

        li {
          margin: 1.5rem 0;

          @include breakpoint(mobile_landscape) {
            margin: 1rem 0;
          }

          &:first-child {
            @include breakpoint(mobile_landscape) {
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  .nav__toggle {
    span {
      background-color: transparent;

      &::before,
      &::after {
        top: 0;
        background-color: $white;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      span {
        background-color: transparent;

        &::before,
        &::after {
          background-color: $white;
        }
      }
    }
  }
}

.login-btn {
  .primary-btn {
    font-size: $mainMenuFont;
    text-transform: uppercase;
    padding: 0.4rem 1.5rem;
    font-family: "MuseoSans-300";
  }
}
