.mobile-login-btn {
  display: none;

  .primary-btn {
    font-size: 0.9rem;
    padding: 0.3rem 2.1rem 0.3rem 0.5rem;

    &::after {
      content: "";
      width: 16px;
      height: 13px;
      background: url("#{$assetPathIcons}/white arrow.svg") no-repeat center center;
      position: absolute;
      right: 0.7rem;
      top: 7px;
    }
  }

  @include breakpoint(mobile_nav) {
    display: block;
    margin-left: auto;
    margin-top: 0px;
  }
}

.main-header {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;

  header {
    position: relative;
    padding: 1.5rem 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    @include breakpoint(mobile_nav) {
      padding: 1rem 0;
    }
  }

  .custom-row {
    align-items: flex-start;
    position: relative;
    z-index: 2;
    @include breakpoint(mobile_nav) {
      align-items: center;
    }
  }
  .container-fluid{
    @include breakpoint(mobile_portrait) {
      width: calc(100% - 1rem);
    }
  }
  .logo {
    width: 275px;

    @media (min-width: 1300px) and (max-width: 1480px) {
      width: 221px;
    }

    
    @media (min-width: 991px) and (max-width: 1299px) {
      width: 200px;
    }
    @include breakpoint(ipad_portrait) {
      width: 190px;
    }

    @include breakpoint(mobile_landscape) {
      width: 150px;
    }

    @include breakpoint(mobile_portrait) {
      width: 140px;
    }

    a {
      display: block;
      padding: 0;
      z-index: 3;

      img {
        display: block;
        width: 100%;
        position: relative;
        z-index: 2;
      }
    }
  }

  .top-hdr-right {
    margin-left: auto;

    @include breakpoint(mobile_nav) {
      display: none;
      margin-left: 0;
    }
  }
}

.nav_menu {
  .nav_menu_inner {
    display: flex;
    align-items: flex-start;
    margin-top: 23px;
    @media (min-width: 1300px) and (max-width: 1480px) {
      margin-top: 13px;
    }
    @include breakpoint(mobile_nav) {
      display: block;
    }
  }

  nav {
    margin-top: 0px;
    margin-right: 15px;
  }
}

.sm-header {
  .main-header {
    header {
      &::after {
        position: absolute;
        width: 100%;
        content: "";
        height: 100%;
        background-color: rgba(39, 44, 60, 0.98);
        left: 0px;
        top: 0px;
        
      }

    }
  }
 
}

.menu-slide{
  .sm-header {
    .main-header {
      header {
        &::after {
          background-color: transparent;
        }
      }
    }
  }
}

.nav__toggle {
  display: none;

  @include breakpoint(mobile_nav) {
    display: block;
  }
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 25px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
  @include breakpoint(mobile_nav) {
    margin-left: 10px;
    top: 0px;
  }
  span {
    width: 25px;
  }

  span::before,
  span::after {
    width: 30px;
  }

  span,
  span::before,
  span::after {
    text-align: right;
    cursor: pointer;
    border-radius: 0px;
    height: 2px;
    background-color: $white;
    position: absolute;
    display: block;
    content: "";
    transition: all 0.2s;
    outline: 0;
    right: 0px;
  }

  span {
    // left: 3px;
    top: 15px;

    &::before {
      top: -10px;
    }

    &::after {
      bottom: -10px;
    }
  }
}

.menu-slide {
  overflow: hidden;
  height: 100%;

  .mobile-login-btn{
    .primary-btn{
      background: $secondary-color;
    }
  }

  #msgboxxWidget {
    display: none;
  }

  #mega-menu-wrap-max_mega_menu_1 .mega-menu-toggle {
    display: none;
  }

  .main-header {
    height: 100vh;
    @include gradient;

    .top-hdr-right {
      display: block;
      position: absolute;
      width: 100%;
      height: calc(100vh - 89px);
      left: 0px;
      top: 48px;
      padding: 0;

      .login-btn {
        display: none;
      }

      .nav_menu {
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        overflow: auto;

        .nav_menu_inner {
          justify-content: center;
          width: auto;
          margin: auto;
          .nav-responsive {
            ul {
              margin: 0px;
              padding: 0px;
              list-style: none;
              text-align: center;

              li {
                margin: 0px;
                padding: 0.7rem 1rem;
                &.menu-item-has-children {
                  position: relative;
                  a {
                    font-size: 22px;
                  }
                  .sub-menu-toggle {
                    background: url("#{$assetPath}/menu-close.svg") no-repeat center center;
                    height: 15px;
                    border: 0px;
                    padding: 0px;
                    cursor: pointer;
                    width: 10px;
                    margin: 0 0 0 5px;
                    display: inline;
                    position: absolute;
                    top: 18px;
                  }
                }
                a {
                  color: $white;
                  font-size: 22px;
                }
                ul {
                  display: none;
                  margin-top: 10px;
                  li {
                    padding: 0.4rem 0;
                    a {
                      font-size: 19px !important;
                    }
                    .sub-menu-toggle {
                      display: none !important;
                    }
                  }
                }
                &.submenu-expanded {
                  .sub-menu-toggle {
                    background: url("#{$assetPath}/menu-open.svg") no-repeat center center;
                  }
                  ul {
                    display: block;
                    li {
                      padding: 0px;
                      ul {
                        li {
                          padding: 0.4rem 0;
                        }
                      }
                    }
                  }
                }
                &.current-menu-ancestor{
                  a {
                    font-family: "MuseoSans-500";
                  }
                  ul{
                    li{
                      &.current-menu-item {
                        a{
                          font-family: "MuseoSans-500";
                        }
                        ul{
                          li{
                            a{
                              font-family: "MuseoSans-300";
                            }
                          }
                        }
                      }
                      a{
                        font-family: "MuseoSans-300";
                      }
                    }
                  }
                }
                &.current-menu-item {
                  a {
                    font-family: "MuseoSans-500";
                  }
                  ul {
                    li {
                      a {
                        font-family: "MuseoSans-300";
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .nav__toggle {
    span {
      background-color: transparent;

      &::before,
      &::after {
        top: 0;
        background-color: $white;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      span {
        background-color: transparent;

        &::before,
        &::after {
          background-color: $white;
        }
      }
    }
  }
}

.login-btn {
  .primary-btn {
    font-size: $mainMenuFont;
    text-transform: uppercase;
    padding: 0.4rem 2.9rem 0.4rem 1.5rem;
    font-family: "MuseoSans-300";
    &::after{
      top: 9px;
  }
  }
}
