.project-details {
    position: relative;

    &::before {
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        content: "";
        background-color: $primary-color;
        height: 51%;
        @include breakpoint(mobile_landscape){
            height: 40%;
        }
        @include breakpoint(mobile_portrait){
            height: 30%;
        }
    }

    h1 {
        margin: 0px;
        padding: 0px;
        color: $white;
        font-size: $h2;
    }

    .container-sm {
        position: relative;
        z-index: 1;
    }
}

.details-img,
.details-content {
    margin-top: 4rem;
    @include breakpoint(mobile){
        margin-top: 2rem;
    }
}

.details-content {
    padding: 0 3rem 4rem;
    @include breakpoint(mobile_portrait){
        padding: 0;
    }
    
}

.single-case_study{
    .project-details{
        padding-top: 11rem;
        @include breakpoint(mobile){
            padding-top: 8rem;
            padding-bottom: 3rem;
        }
    }
  
}
.page-template-template-page-php{
    .page-default-details{
        padding-top: 8rem;

    }
}
.error404{
    .page-default-details{
        padding-top: 8rem;
        height: 80vh;
    }  
}