@charset "UTF-8";
/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
a,
button {
  cursor: pointer;
}

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#009c9f+0,3dae80+44,489148+100 */
.btn-set--left {
  display: flex;
  justify-content: left;
  padding-left: 10px;
}

.btn-set--center {
  display: flex;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  justify-content: right;
}
@media (min-width: 320px) and (max-width: 767px) {
  .btn-set--right {
    justify-content: left;
    padding-left: 10px;
  }
}

.primary-btn {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#009c9f+0,3dae80+44,489148+100 */
  background: #009c9f;
  /* Old browsers */
  background: -moz-linear-gradient(left, #009c9f 0%, #3dae80 44%, #489148 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #009c9f 0%, #3dae80 44%, #489148 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #009c9f 0%, #3dae80 44%, #489148 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#009c9f", endColorstr="#489148",GradientType=1 );
  /* IE6-9 */
  color: #fff;
  border: 0px #004e6c solid;
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
  font-size: 1.1rem;
  display: block;
}
.primary-btn:hover {
  background: #004e6c;
  color: #fff;
}

.secondary-btn {
  background: #009c9f;
  color: #fff;
  border: 0px #009c9f solid;
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
  font-size: 1.1rem;
  display: block;
}
.secondary-btn:hover {
  background: #004e6c;
  color: #fff;
  border: 1px #004e6c solid;
}

.white-btn {
  background: #fff;
  color: #004e6c;
  border: 0px #fff solid;
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
  font-size: 1.1rem;
  display: block;
}
.white-btn:hover {
  background: #004e6c;
  color: #fff;
  border: 0px #004e6c solid;
}

.primary-outline--btn {
  background: transparent;
  color: #fff;
  border: 0px #004e6c solid;
  padding: 0.6rem 1.5rem;
  font-size: 1.1rem;
  display: block;
  position: relative;
}
.primary-outline--btn:hover {
  color: #fff;
}
.primary-outline--btn:hover::after {
  background: #004e6c;
}

.secondary-outline--btn {
  background: transparent;
  color: #fff;
  border: 0px #009c9f solid;
  padding: 0.6rem 1.5rem;
  font-size: 1.1rem;
  display: block;
  position: relative;
}
.secondary-outline--btn:hover {
  color: #fff;
}
.secondary-outline--btn:hover::after {
  background: #009c9f;
}

.arrow--btn {
  width: 25px;
  height: 25px;
}
.arrow--btn a {
  background: url("../img/arrow blue right.svg") no-repeat center center;
  display: block;
  width: 100%;
  height: 100%;
  background-size: 100%;
}
.arrow--btn a:hover {
  background: url("../img/arrow cyan right.svg") no-repeat center center;
  background-size: 100%;
}

.wpcf7-submit {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#009c9f+0,3dae80+44,489148+100 */
  background: #009c9f;
  /* Old browsers */
  background: -moz-linear-gradient(left, #009c9f 0%, #3dae80 44%, #489148 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #009c9f 0%, #3dae80 44%, #489148 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #009c9f 0%, #3dae80 44%, #489148 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#009c9f", endColorstr="#489148",GradientType=1 );
  /* IE6-9 */
  color: #fff;
  border: 0px #004e6c solid;
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
  font-size: 1.1rem;
  display: block;
}
.wpcf7-submit:hover {
  background: #004e6c;
  color: #fff;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #fff;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0px;
  font-size: 1.3rem;
  color: #33424d;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

p {
  line-height: 1.8rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  p {
    line-height: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  p {
    line-height: 1.5rem;
  }
}

strong {
  font-weight: 600;
}

a,
a:focus,
a:active,
a:hover,
a:focus-visible {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #009c9f;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus,
a:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

.container-fluid {
  max-width: calc(100%);
  width: calc(100% - 6rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1300px) and (max-width: 1600px) {
  .container-fluid {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container-fluid {
    width: calc(100% - 3rem);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container-fluid {
    width: calc(100% - 2rem);
  }
}

.container-lg {
  max-width: calc(100%);
  width: calc(100% - 6rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .container-lg {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container-lg {
    width: calc(100% - 3rem);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container-lg {
    width: calc(100% - 2rem);
  }
}

.container {
  max-width: calc(100%);
  width: calc(100% - 30rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1300px) and (max-width: 1600px) {
  .container {
    width: calc(100% - 12rem);
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .container {
    width: calc(100% - 10rem);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: calc(100% - 3rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container {
    width: calc(100% - 3rem);
  }
}

.container-sm {
  max-width: 1100px;
  width: calc(100% - 16rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .container-sm {
    width: calc(100% - 20rem);
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .container-sm {
    width: calc(100% - 16rem);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container-sm {
    width: calc(100% - 6rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-sm {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-sm {
    width: calc(100% - 3rem);
  }
}

.main-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.white-bg {
  background: #fff;
}

.primary-bg {
  background: #004e6c;
}

.secondary-bg {
  background: #009c9f;
}

.gray-bg {
  background: #e4e8ef;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.hide-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hide-desktop {
    display: block;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
  .hide-mobile {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hide-mobile {
    display: none;
  }
}

.desc--box p:last-child {
  margin: 0px;
}
.desc--box ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.desc--box ul li {
  position: relative;
  margin: 0 0 0.6rem 0;
  padding: 0 0 0 1.8rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .desc--box ul li br {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .desc--box ul li br {
    display: none;
  }
}
.desc--box ul li::before {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 9px;
  background: #489148;
  content: "";
}

.main-container {
  min-height: 90vh;
}

.fancybox__caption {
  padding: 0px;
  margin-top: -25px;
  z-index: 21;
}

.fancybox__content::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #e4e8ef;
  height: 31px;
}

.container-pd-lr {
  padding-left: 3rem;
  padding-right: 3rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-pd-lr {
    padding-left: inherit;
    padding-right: inherit;
  }
}

.container-bg-pd-lr {
  padding-left: 10rem;
  padding-right: 10rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-bg-pd-lr {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-bg-pd-lr {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-bg-pd-lr {
    padding-left: inherit;
    padding-right: inherit;
  }
}

.container-sm-pd-lr {
  padding-left: 5rem;
  padding-right: 5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-sm-pd-lr {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-sm-pd-lr {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-sm-pd-lr {
    padding-left: inherit;
    padding-right: inherit;
  }
}

.back-btn-box {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.back-btn-box .back-btn {
  font-size: 2rem;
}

.pd-l-f {
  padding-left: 5rem;
  padding-right: 5rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .pd-l-f {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.opp-top-mrgn {
  margin-top: -11%;
}

.list-t-b-pd {
  padding: 2rem 0 8rem 0;
}

@media (min-width: 568px) and (max-width: 767px) {
  .container-sm.container-sm-pd-lr {
    padding-left: 0;
    padding-right: 0;
  }
}

/*Helpers Scss Files */
.input-field {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 2rem;
  margin-left: 0;
}
.input-field label {
  font-size: 16px;
  color: #000;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea {
  border-width: 0px;
  border-color: #000;
  border-style: solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 100%;
  border-bottom: 1px #33424d solid;
  font-size: 1.1rem;
  color: #33424d;
  background: transparent;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  -webkit-appearance: none;
  border-radius: 0;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled {
  opacity: 0.5;
}
.input-field input[type=text]::-webkit-input-placeholder,
.input-field input[type=email]::-webkit-input-placeholder,
.input-field input[type=password]::-webkit-input-placeholder,
.input-field input[type=number]::-webkit-input-placeholder,
.input-field input[type=date]::-webkit-input-placeholder,
.input-field textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 1.1rem;
  color: #33424d;
  font-weight: 400;
  opacity: 0.7;
}
.input-field input[type=text]::-moz-placeholder,
.input-field input[type=email]::-moz-placeholder,
.input-field input[type=password]::-moz-placeholder,
.input-field input[type=number]::-moz-placeholder,
.input-field input[type=date]::-moz-placeholder,
.input-field textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-size: 1.1rem;
  color: #33424d;
  font-weight: 400;
  opacity: 0.7;
}
.input-field input[type=text]:-ms-input-placeholder,
.input-field input[type=email]:-ms-input-placeholder,
.input-field input[type=password]:-ms-input-placeholder,
.input-field input[type=number]:-ms-input-placeholder,
.input-field input[type=date]:-ms-input-placeholder,
.input-field textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-size: 1.1rem;
  color: #33424d;
  font-weight: 400;
  opacity: 0.7;
}
.input-field input[type=text]:-moz-placeholder,
.input-field input[type=email]:-moz-placeholder,
.input-field input[type=password]:-moz-placeholder,
.input-field input[type=number]:-moz-placeholder,
.input-field input[type=date]:-moz-placeholder,
.input-field textarea:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-size: 1.1rem;
  color: #33424d;
  font-weight: 400;
  opacity: 0.7;
}
.input-field textarea {
  height: 126px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

.selectbox {
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  width: 100%;
  font-size: 18px;
  color: #fff;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow-right {
  background: url("../img/arrow blue right.svg") no-repeat center center;
  display: block;
  width: 25px;
  height: 25px;
  background-size: 100%;
}

h1 {
  font-size: 3.8rem;
  line-height: 4rem;
  font-weight: 800;
  color: #004e6c;
}
@media (min-width: 991px) and (max-width: 1380px) {
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 2.6rem;
    line-height: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  h1 {
    line-height: 2.3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  h1 {
    line-height: 2.2rem;
  }
}

h2 {
  font-size: 2.1rem;
  font-weight: 800;
  color: #004e6c;
}
@media (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 1.7rem;
  }
}

h3 {
  font-size: 1.8rem;
  font-weight: 800;
  color: #004e6c;
}
@media (min-width: 320px) and (max-width: 767px) {
  h3 {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #004e6c;
}
@media (min-width: 320px) and (max-width: 767px) {
  h4 {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h4 {
    font-size: 1.3rem;
  }
}

h5 {
  font-size: 1.3rem;
  font-weight: 800;
  color: #004e6c;
}

.hd-text-center {
  text-align: center;
}

.hd-text-left {
  text-align: left;
}

.hd-text-right {
  text-align: right;
}

.title {
  position: relative;
  display: inline-flex;
  padding: 0px;
  padding-top: 1.6rem;
  margin: 0px;
  color: #004e6c;
}
.title::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 117px;
  height: 5px;
  background-color: #3dae80;
}

.title ~ .desc--box {
  margin-top: 1.6rem;
}

.email-blue-icon {
  background: url("../img/email blue.svg") no-repeat center center;
}

.telephone-blue-icon {
  background: url("../img/phone blue.svg") no-repeat center center;
}

.linkedin-blue-icon {
  background: url("../img/linkedin blue.svg") no-repeat center center;
}

.twitter-blue-icon {
  background: url("../img/twitter blue.svg") no-repeat center center;
}

.youtube-blue-icon {
  background: url("../img/youtube blue.svg") no-repeat center center;
}

.map-blue-icon {
  background: url("../img/map blue.svg") no-repeat center center;
}

.email-white-icon {
  background: url("../img/email white.svg") no-repeat center center;
}

.telephone-white-icon {
  background: url("../img/phone white.svg") no-repeat center center;
}

.linkedin-white-icon {
  background: url("../img/linkedin white.svg") no-repeat center center;
}

.twitter-white-icon {
  background: url("../img/twitter white.svg") no-repeat center center;
}

.youtube-white-icon {
  background: url("../img/youtube white.svg") no-repeat center center;
}

.map-white-icon {
  background: url("../img/map white.svg") no-repeat center center;
}

.email-teal-icon {
  background: url("../img/email teal.svg") no-repeat center center;
}

.telephone-teal-icon {
  background: url("../img/phone teal.svg") no-repeat center center;
}

.linkedin-teal-icon {
  background: url("../img/linkedin teal.svg") no-repeat center center;
}

.twitter-teal-icon {
  background: url("../img/twitter teal.svg") no-repeat center center;
}

.youtube-teal-icon {
  background: url("../img/youtube teal.svg") no-repeat center center;
}

.map-teal-icon {
  background: url("../img/map teal.svg") no-repeat center center;
}

/*Layout Scss Files */
.main-header {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
.main-header header {
  position: relative;
  padding: 2rem 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header header {
    padding: 1rem 0;
  }
}
.main-header .custom-row {
  align-items: baseline;
  position: relative;
  z-index: 2;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .custom-row {
    align-items: center;
  }
}
.main-header .logo a {
  display: block;
  padding: 0;
  z-index: 3;
}
.main-header .logo a img {
  display: block;
  width: 200px;
  position: relative;
  z-index: 2;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .logo a img {
    width: 130px;
  }
}
.main-header .top-hdr-right {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .top-hdr-right {
    margin-left: 0;
    display: none;
  }
}
.main-header .nav_menu_inner {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.main-header .nav_menu {
  width: 100%;
}
.main-header .nav-main ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.main-header .nav-main ul li {
  margin: 0 3rem 0 0;
  padding: 0px;
}
.main-header .nav-main ul li .sub-menu-toggle {
  width: 0px;
  height: 0px;
  border: 0px;
  padding: 0px;
  background: transparent;
  display: none;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-header .nav-main ul li {
    margin: 0 1.5rem 0 0;
  }
}
.main-header .nav-main ul li a {
  display: block;
  font-size: 1.2rem;
  color: #fff;
  padding-bottom: 0.1rem;
  border-bottom: 4px transparent solid;
}
.main-header .nav-main ul li a:hover {
  color: #fff;
  border-bottom: 4px #3dae80 solid;
}
.main-header .nav-main ul li ul {
  display: none;
}
.main-header .nav-main ul li ul:empty {
  display: none;
}
.main-header .nav-main ul li.menu-item-has-children {
  position: relative;
}
.main-header .nav-main ul li.menu-item-has-children ul {
  width: 260px;
  display: none;
  position: absolute;
  left: 0px;
  padding-top: 17px;
}
.main-header .nav-main ul li.menu-item-has-children ul li {
  margin: 0px;
  padding: 5px 27px;
  background-color: #3dae80;
}
.main-header .nav-main ul li.menu-item-has-children ul li:first-child {
  padding-top: 25px;
}
.main-header .nav-main ul li.menu-item-has-children ul li:last-child {
  padding-bottom: 25px;
}
.main-header .nav-main ul li.menu-item-has-children ul li a {
  padding: 0px;
  border-bottom: 4px transparent solid;
  font-size: 1.1rem;
}
.main-header .nav-main ul li.menu-item-has-children ul li a:hover {
  font-weight: 600;
}
.main-header .nav-main ul li.menu-item-has-children:hover a {
  border-bottom: 4px #3dae80 solid;
}
.main-header .nav-main ul li.menu-item-has-children:hover ul {
  display: block;
}
.main-header .nav-main ul li.menu-item-has-children:hover ul li a {
  border-bottom: 4px transparent solid;
}
.main-header .nav-main ul li.current-menu-ancestor a, .main-header .nav-main ul li.current-menu-item a {
  font-weight: 600;
  color: #3dae80;
  border-bottom: 4px #3dae80 solid;
}
.main-header .nav-main ul li.current-menu-ancestor ul li a, .main-header .nav-main ul li.current-menu-item ul li a {
  font-weight: 400;
  color: #fff;
  border-bottom: 4px transparent solid;
}
.main-header .nav-main ul li.current-menu-ancestor ul li a:hover, .main-header .nav-main ul li.current-menu-item ul li a:hover {
  font-weight: 600;
}
.main-header .nav-main ul li.current-menu-ancestor ul li.current-menu-item a, .main-header .nav-main ul li.current-menu-item ul li.current-menu-item a {
  font-weight: 600;
}

.sm-header .main-header header {
  padding: 1rem 0;
}
.sm-header .main-header header::after {
  position: absolute;
  width: 100%;
  content: "";
  height: 100%;
  background-color: rgba(0, 78, 108, 0.89);
  left: 0px;
  top: 0px;
  mix-blend-mode: multiply;
}
@media (min-width: 320px) and (max-width: 991px) {
  .sm-header .main-header header::after {
    background-color: #009c9f;
    mix-blend-mode: color;
  }
}

.header-social-media {
  position: relative;
  top: -5px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .header-social-media {
    top: 0;
  }
}
.header-social-media ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  list-style: none;
}
@media (min-width: 320px) and (max-width: 991px) {
  .header-social-media ul {
    justify-content: start;
  }
}
.header-social-media ul li {
  margin: 0 0 0 1.5rem;
  padding: 0px;
}
.header-social-media ul li:first-child {
  margin-left: 0px;
}
.header-social-media ul li a {
  display: flex;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  width: 41px;
  height: 41px;
  align-items: center;
  justify-content: center;
}
.header-social-media ul li a i {
  display: block;
  height: 100%;
  width: 100%;
}
.header-social-media ul li a:hover {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#009c9f+0,3dae80+44,489148+100 */
  background: #009c9f;
  /* Old browsers */
  background: -moz-linear-gradient(left, #009c9f 0%, #3dae80 44%, #489148 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #009c9f 0%, #3dae80 44%, #489148 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #009c9f 0%, #3dae80 44%, #489148 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#009c9f", endColorstr="#489148",GradientType=1 );
  /* IE6-9 */
}
@media (min-width: 320px) and (max-width: 991px) {
  .header-social-media ul li a:hover {
    background: #004e6c;
  }
}
.header-social-media ul li a:hover .email-blue-icon {
  background: url("../img/email white.svg") no-repeat center center;
}
.header-social-media ul li a:hover .telephone-blue-icon {
  background: url("../img/phone white.svg") no-repeat center center;
}

.nav__toggle {
  display: none;
}
@media (min-width: 320px) and (max-width: 991px) {
  .nav__toggle {
    display: block;
  }
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: auto;
  top: 0px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
}
.nav__toggle span {
  height: 3px;
  width: 28px;
}
.nav__toggle span::before,
.nav__toggle span::after {
  height: 3px;
  width: 35px;
  right: 0px;
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  text-align: right;
  cursor: pointer;
  border-radius: 0px;
  background-color: #fff;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.2s;
  outline: 0;
}
.nav__toggle span {
  top: 15px;
}
.nav__toggle span::before {
  top: -10px;
}
.nav__toggle span::after {
  bottom: -10px;
}

.menu-slide {
  overflow: hidden;
  height: 100%;
}
.menu-slide .main-header .nav-main ul li.menu-item-has-children ul li {
  background: transparent;
}
.menu-slide .main-header .nav-main ul li.current-menu-ancestor a,
.menu-slide .main-header .nav-main ul li.current-menu-item a {
  border-bottom: 4px transparent solid;
  color: #fff;
}
.menu-slide .main-header .nav-main ul li.current-menu-ancestor ul li a,
.menu-slide .main-header .nav-main ul li.current-menu-item ul li a {
  color: #fff;
}
.menu-slide .main-header .nav-main ul li.current-menu-ancestor ul li.current-menu-item a,
.menu-slide .main-header .nav-main ul li.current-menu-item ul li.current-menu-item a {
  color: #fff;
}
.menu-slide .main-header .nav-main ul li.menu-item-has-children:hover a {
  border-bottom: 4px transparent solid;
}
.menu-slide .main-header .nav-main ul li a:hover {
  border-bottom: 4px transparent solid;
}
@media (min-width: 320px) and (max-width: 991px) {
  .menu-slide .header-social-media.hide-mobile {
    display: none;
  }
}
.menu-slide .main-header {
  height: 100vh;
  background-color: #009c9f;
}
.menu-slide .main-header .top-hdr-right {
  display: block;
  position: absolute;
  width: 100%;
  height: calc(100vh - 89px);
  left: 0px;
  top: 49px;
  padding: 0;
}
.menu-slide .main-header .top-hdr-right .nav_menu {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner {
  justify-content: center;
  width: auto;
  margin: auto;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul {
  display: block;
  text-align: center;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li {
  margin: 0.5rem 0;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li a {
  font-size: 1.4rem;
  font-weight: 300;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.current-menu-ancestor a {
  font-weight: 500;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.current-menu-ancestor ul li.current-menu-item a {
  font-weight: 500;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.current-menu-ancestor ul li.current-menu-item ul li a {
  font-weight: 500;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.current-menu-ancestor ul li a {
  font-weight: 300;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.current-menu-item a {
  font-weight: 500;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.current-menu-item ul li a {
  font-weight: 300;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.menu-item-has-children .sub-menu-toggle {
  background: url("../img/menu-close.svg") no-repeat center center;
  height: 15px;
  border: 0px;
  padding: 0px;
  cursor: pointer;
  width: 10px;
  margin: 0 0 0 5px;
  display: inline;
  position: absolute;
  top: 12px;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.menu-item-has-children a {
  display: inline-flex;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.menu-item-has-children ul {
  display: none;
  margin-bottom: 2rem;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.menu-item-has-children ul li {
  margin: 0px;
  padding: 0px;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.menu-item-has-children ul li:first-child {
  padding: 0px;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.menu-item-has-children ul li a {
  padding: 0.2rem 0 0.2rem 0rem;
  font-size: 1.2rem;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.submenu-expanded .sub-menu-toggle {
  background: url("../img/menu-open.svg") no-repeat center center;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.submenu-expanded ul {
  display: block;
  position: relative;
  width: auto;
  left: 0;
  top: 0;
  padding: 0px;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main .header-social-media.hide-desktop {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main .header-social-media.hide-desktop ul {
  display: flex;
  justify-content: center;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main .header-social-media.hide-desktop ul li:first-child {
  margin-right: 1rem;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main .header-social-media.hide-desktop ul li a {
  border: 0 !important;
}
.menu-slide .nav__toggle span {
  background-color: transparent;
}
.menu-slide .nav__toggle span::before, .menu-slide .nav__toggle span::after {
  top: 0;
  background-color: #fff;
}
.menu-slide .nav__toggle span::before {
  transform: rotate(45deg);
}
.menu-slide .nav__toggle span::after {
  transform: rotate(-45deg);
}
.menu-slide .nav__toggle:hover span {
  background-color: transparent;
}
.menu-slide .nav__toggle:hover span::before, .menu-slide .nav__toggle:hover span::after {
  background-color: #fff;
}
.menu-slide .header-social-media.hide-mobile {
  display: none;
}

.main-footer {
  background-color: #e4e8ef;
  padding: 0.8rem 0;
}
.main-footer .custom-row {
  align-items: center;
}
.main-footer .footer-left {
  width: 30%;
}
.main-footer .footer-left .footer-logo {
  width: 200px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-left .footer-logo {
    margin: auto;
  }
}
.main-footer .footer-left .footer-logo a {
  display: block;
}
.main-footer .footer-left .footer-logo a img {
  display: block;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .footer-left {
    width: 100%;
    margin-top: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-left {
    width: 100%;
    text-align: center;
  }
}
.main-footer .footer-mid {
  width: 40%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-footer .footer-mid {
    width: 35%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-mid {
    width: 100%;
    padding: 2rem 0;
  }
}
.main-footer .footer-social-media ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .footer-social-media ul {
    justify-content: flex-start;
  }
}
.main-footer .footer-social-media ul li {
  margin: 0 1rem;
  padding: 0px;
}
.main-footer .footer-social-media ul li a {
  display: block;
}
.main-footer .footer-social-media ul li a i {
  display: block;
  background-size: 100%;
}
.main-footer .footer-social-media ul li a i.linkedin-blue-icon {
  width: 40px;
  height: 42px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-social-media ul li a i.linkedin-blue-icon {
    width: 28px;
    height: 28px;
  }
}
.main-footer .footer-social-media ul li a i.linkedin-blue-icon:hover {
  background: url("../img/linkedin teal.svg") no-repeat center center;
}
.main-footer .footer-social-media ul li a i.twitter-blue-icon {
  width: 51px;
  height: 30px;
  margin-top: 9px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-social-media ul li a i.twitter-blue-icon {
    width: 37px;
    height: 30px;
  }
}
.main-footer .footer-social-media ul li a i.twitter-blue-icon:hover {
  background: url("../img/twitter teal.svg") no-repeat center center;
  background-size: 100%;
}
.main-footer .footer-social-media ul li a i.youtube-blue-icon {
  width: 55px;
  height: 30px;
  margin-top: 9px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-social-media ul li a i.youtube-blue-icon {
    width: 40px;
    height: 30px;
  }
}
.main-footer .footer-social-media ul li a i.youtube-blue-icon:hover {
  background: url("../img/youtube teal.svg") no-repeat center center;
  background-size: 100%;
}
.main-footer .footer-right {
  width: 30%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-footer .footer-right {
    width: 35%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .footer-right {
    width: 60%;
    margin-top: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right {
    width: 100%;
  }
}
.main-footer .footer-right ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  min-height: 16px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right ul {
    justify-content: center;
  }
}
.main-footer .footer-right ul li {
  margin: 0px;
  padding: 0 1rem;
  border-left: 2px #009c9f solid;
  line-height: 0.4rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-right ul li {
    padding: 0 0.7rem;
  }
}
.main-footer .footer-right ul li:first-child {
  border: 0px;
}
.main-footer .footer-right ul li:last-child {
  padding-right: 0px;
}
.main-footer .footer-right ul li a {
  color: #004e6c;
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  height: 100%;
}
.main-footer .footer-right ul li a:hover {
  color: #009c9f;
}
.main-footer .footer-right p {
  color: #004e6c;
  font-size: 0.9rem;
  margin: 0.5rem 0 0 0;
  text-align: right;
  display: block;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right p {
    text-align: center;
  }
}
.main-footer .footer-right p a {
  color: #004e6c;
  font-size: 0.9rem;
}
.main-footer .footer-right p a:hover {
  color: #009c9f;
}

@media (min-width: 768px) and (max-width: 991px) {
  .hide-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hide-desktop {
    display: block !important;
  }
}

/*Components Scss Files */
.hero--section {
  position: relative;
  overflow: hidden;
  background: #004e6c;
}
.hero--section::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
  top: 0;
  border: 0px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#cc000000", endColorstr="#00000000",GradientType=0 );
  /* IE6-9 */
}
.hero--section img {
  width: 100%;
  display: block;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero--section img {
    max-width: inherit;
  }
}
.hero--section::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: -1px;
  border: 0px;
  background: url("../img/hero-curve.svg") no-repeat right bottom;
  background-size: 100%;
}
.hero--section .hero-text {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 2;
  display: flex;
  align-items: center;
}
.hero--section .hero-text--inner {
  width: 50%;
  margin-top: -5%;
  margin-left: 7%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero--section .hero-text--inner {
    margin-left: 4%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero--section .hero-text--inner {
    width: 80%;
    margin-left: 4%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .hero--section .hero-text--inner {
    width: 80%;
    margin-top: 0%;
    margin-left: 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero--section .hero-text--inner {
    width: 100%;
    margin-top: 0%;
    margin-left: 0px;
  }
}
.hero--section .hero-text--inner h1 {
  margin: 0 0 0rem 0;
  padding: 0px;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.hero--section .hero-text--inner h1 span {
  width: 153px;
  margin-right: 2.5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero--section .hero-text--inner h1 span {
    margin-right: 1.5rem;
    width: auto;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .hero--section .hero-text--inner h1 span {
    margin-right: 1.5rem;
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero--section .hero-text--inner h1 span {
    margin-right: 1rem;
    width: auto;
  }
}
.hero--section .hero-text--inner h1 span img {
  display: block;
  width: 153px;
  height: auto;
  max-width: inherit;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero--section .hero-text--inner h1 span img {
    width: 104px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .hero--section .hero-text--inner h1 span img {
    width: 80px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero--section .hero-text--inner h1 span img {
    width: 80px;
  }
}
.hero--section .hero-text--inner .desc--box {
  margin: 0 0 2.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 568px) and (max-width: 767px) {
  .hero--section .hero-text--inner .desc--box {
    font-size: 1.2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero--section .hero-text--inner .desc--box {
    font-size: 1.2rem;
  }
}
.hero--section .hero-text--inner .desc--box p {
  color: #fff;
  line-height: 2rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .hero--section .hero-text--inner .desc--box p {
    line-height: 1.3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero--section .hero-text--inner .desc--box p {
    line-height: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero--section.home-hero--section {
    min-height: 660px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .hero--section.home-hero--section {
    min-height: 500px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero--section.home-hero--section {
    min-height: 500px;
  }
}
.hero--section.home-hero--section .hero-text--inner h1 {
  margin-bottom: 2.5rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .hero--section.home-hero--section .hero-text--inner h1 {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero--section.home-hero--section .hero-text--inner h1 {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .hero--section.home-hero--section .hero-text--inner .desc--box p {
    line-height: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero--section.home-hero--section .hero-text--inner .desc--box p {
    line-height: 1.5rem;
  }
}
.hero--section.home-hero--section .btn-set--left {
  padding-left: 0px;
}
.hero--section.hero--section-product {
  height: 800px;
}
@media (min-width: 1300px) and (max-width: 1500px) {
  .hero--section.hero--section-product {
    height: 700px;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .hero--section.hero--section-product {
    height: 650px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero--section.hero--section-product {
    height: 550px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero--section.hero--section-product {
    height: 450px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .hero--section.hero--section-product {
    height: 450px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero--section.hero--section-product {
    height: 280px;
  }
}
.hero--section.inner-hero--section {
  min-height: 600px;
  max-height: 800px;
}
@media (min-width: 1300px) and (max-width: 1500px) {
  .hero--section.inner-hero--section {
    min-height: 490px;
    max-height: 700px;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .hero--section.inner-hero--section {
    min-height: 450px;
    max-height: 650px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero--section.inner-hero--section {
    min-height: 380px;
    max-height: 550px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero--section.inner-hero--section {
    min-height: 300px;
    max-height: 450px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .hero--section.inner-hero--section {
    min-height: 250px;
    max-height: 364px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero--section.inner-hero--section {
    min-height: 250px;
    max-height: 364px;
  }
}
.hero--section.inner-hero--section .page-title--img img {
  max-width: inherit;
}
@media (min-width: 1500px) and (max-width: 1680px) {
  .hero--section.inner-hero--section .page-title--img img {
    width: 100%;
  }
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .hero--section.inner-hero--section .page-title--img img {
    width: auto;
    height: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .hero--section.inner-hero--section .page-title--img img {
    width: auto;
    height: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero--section.inner-hero--section .page-title--img img {
    max-width: inherit;
    width: auto;
    height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero--section.inner-hero--section .page-title--img img {
    width: auto;
    height: 100%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .hero--section.inner-hero--section .page-title--img img {
    width: auto;
    height: 100%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero--section.inner-hero--section .page-title--img img {
    width: 100%;
  }
}
.hero--section.inner-hero--section .hero-text {
  align-items: inherit;
}
.hero--section.inner-hero--section .hero-text .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (min-width: 568px) and (max-width: 767px) {
  .hero--section.inner-hero--section .hero-text .container {
    padding-right: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero--section.inner-hero--section .hero-text .container {
    flex-wrap: wrap;
  }
}
.hero--section.inner-hero--section .hero-text .container .hero-img--inner {
  width: 46%;
  margin-right: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero--section.inner-hero--section .hero-text .container .hero-img--inner {
    width: 80%;
    max-width: inherit;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero--section.inner-hero--section .hero-text .container .hero-img--inner {
    margin-right: 0%;
  }
  .hero--section.inner-hero--section .hero-text .container .hero-img--inner img {
    width: 100%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .hero--section.inner-hero--section .hero-text .container .hero-img--inner {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero--section.inner-hero--section .hero-text .container .hero-img--inner {
    display: none;
  }
}

.single-product .hero--section {
  background-color: #009c9f;
}

.contact .hero--section::after {
  background: url("../img/contact-hero-curve.svg") no-repeat right bottom;
  background-size: 100%;
}

.contact-info-icons {
  margin: 0px;
  padding: 0;
}
.contact-info-icons ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.contact-info-icons ul li {
  margin: 0 0 1rem 0;
  padding: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-info-icons ul li {
    margin: 0 0 0.7rem 0;
  }
}
.contact-info-icons ul li:last-child {
  margin-bottom: 0px;
}
.contact-info-icons ul li a {
  display: flex;
  align-items: center;
  color: #009c9f;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-info-icons ul li a {
    font-size: 1.2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-info-icons ul li a {
    font-size: 1rem;
  }
}
.contact-info-icons ul li a i {
  margin-right: 1rem;
}
.contact-info-icons ul li a i svg {
  width: 40px;
  stroke: #009c9f;
  stroke-width: 5px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-info-icons ul li a i svg {
    width: 30px;
  }
}
.contact-info-icons ul li a:hover {
  color: #fff;
}
.contact-info-icons ul li a:hover i svg {
  stroke: #fff;
}
.contact-info-icons ul li:first-child a i svg {
  margin-top: 8px;
}
.contact-info-icons ul li:last-child a i svg {
  margin-top: 11px;
}

.home-section--3 {
  margin-top: -12%;
  position: relative;
  z-index: 3;
  padding-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-section--3 {
    margin-top: -88px;
    padding-bottom: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-section--3 {
    margin-top: 0px;
    padding: 3rem 0 0;
  }
}
.home-section--3 .home-section-box--3 {
  width: 33.33%;
  padding: 0 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-section--3 .home-section-box--3 {
    width: 68%;
    margin: auto auto 3rem auto;
    padding: 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .home-section--3 .home-section-box--3 {
    width: 78%;
    margin: auto auto 3rem auto;
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .home-section--3 .home-section-box--3 {
    width: 100%;
    margin: auto auto 3rem auto;
    padding: 0;
  }
}
.home-section--3 .home-section-box--3 .arrow-right {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}

@media (min-width: 568px) and (max-width: 767px) {
  .text-img--section .container {
    width: calc(100% - 6rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-img--section .custom-row {
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .text-img--section .custom-row {
    flex-direction: column-reverse;
  }
}
.text-img--section .text-img--left {
  width: 57%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-img--section .text-img--left {
    margin: auto;
    width: calc(100% - 12rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .text-img--section .text-img--left {
    width: 100%;
  }
}
.text-img--section .text-img--left h2 {
  margin: 0px;
  padding: 0px;
}
.text-img--section .text-img--right {
  width: 43%;
  padding-left: 4%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-img--section .text-img--right {
    margin: auto;
    padding-left: 0%;
    margin-bottom: 2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .text-img--section .text-img--right {
    padding-left: 1%;
    padding-top: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .text-img--section .text-img--right {
    width: 300px;
    padding-left: 0%;
    margin: auto;
    margin-bottom: 2rem;
  }
}
.text-img--section .text-img--right img {
  max-width: 100%;
  display: block;
}

@media (min-width: 768px) and (max-width: 991px) {
  .video-ifram {
    text-align: center;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .video-ifram {
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .video-ifram {
    text-align: center;
  }
}
.video-ifram img {
  max-width: 100%;
  display: block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .video-ifram iframe {
    width: 577px !important;
    height: 392px !important;
    margin: auto;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .video-ifram iframe {
    width: 375px !important;
    height: 264px !important;
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .video-ifram iframe {
    width: 300px !important;
    height: 229px !important;
    margin: auto;
  }
}

.top-sm-text-block .container-sm {
  text-align: center;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .top-sm-text-block .container-sm {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .top-sm-text-block .container-sm {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .top-sm-text-block .container-sm {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.top-sm-text-block .desc--box {
  font-size: 1.7rem;
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .top-sm-text-block .desc--box {
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .top-sm-text-block .desc--box {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .top-sm-text-block .desc--box {
    font-size: 1.3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .top-sm-text-block .desc--box {
    font-size: 1.3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .top-sm-text-block .desc--box {
    font-size: 1.3rem;
  }
}
.top-sm-text-block .desc--box p {
  line-height: 2.3rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .top-sm-text-block .desc--box p {
    line-height: 2.2rem !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .top-sm-text-block .desc--box p {
    line-height: 1.9rem !important;
  }
}

.privacy-policy .top-sm-text-block .container-sm,
.environmental-policy .top-sm-text-block .container-sm {
  text-align: left;
}
.privacy-policy .top-sm-text-block .container-sm .desc--box,
.environmental-policy .top-sm-text-block .container-sm .desc--box {
  font-size: 1.3rem;
}

.our-services--section .title {
  color: #fff;
}
.our-services--section .title::after {
  background-color: #fff;
  margin: auto;
}
.our-services--section .sevices-box-list.custom-row {
  justify-content: center;
}

.service-single-box {
  width: 33.33%;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .service-single-box {
    width: 500px;
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .service-single-box {
    width: 100%;
    padding: 2rem 0;
  }
}
.service-single-box.white-card a {
  position: relative;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .service-single-box.white-card a i {
    height: 108px;
    margin: auto auto 0rem auto;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .service-single-box.white-card a h4 {
    margin-top: 0.6rem;
    min-height: auto;
  }
}
.service-single-box .arrow-right {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
}

.our-services--section .title,
.block_accordion .title,
.value-section--3 .title,
.video--section .title,
.contact-section .title {
  margin-bottom: 3rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .our-services--section .title,
.block_accordion .title,
.value-section--3 .title,
.video--section .title,
.contact-section .title {
    margin-bottom: 2rem;
  }
}

.get-in-touch,
.download--row {
  margin-top: 3rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .get-in-touch,
.download--row {
    margin-top: 2rem;
  }
}

.video--section .title::after,
.value-section--3 .title::after,
.support-view-content .title::after,
.product-slider--section .title::after,
.download--section .title::after,
.top-sm-text-block .title::after {
  margin: auto;
}

.video--section .title,
.contact-section .title {
  color: #fff;
}
.video--section .title::after,
.contact-section .title::after {
  background-color: #fff;
}

.video--section .title::after {
  width: 78px;
}

.tag-content-row {
  position: relative;
  margin-top: 12rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .tag-content-row {
    padding-top: 3rem;
  }
}
.tag-content-row::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  border-color: transparent transparent #e4e8ef;
  border-style: solid;
  border-width: 0 0 155px 98.8vw;
  top: -155px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .tag-content-row::after {
    border-width: 0 0 70px 98.8vw;
    top: -69px;
  }
}

.bg--bg {
  position: relative;
  overflow: hidden;
}
.bg--bg::after, .bg--bg::before {
  width: 25rem;
  height: 25rem;
  content: "";
  position: absolute;
}
@media (min-width: 1601px) and (max-width: 30000px) {
  .bg--bg::after, .bg--bg::before {
    width: 39rem;
    height: 39rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bg--bg::after, .bg--bg::before {
    width: 12rem;
    height: 12rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .bg--bg::after, .bg--bg::before {
    width: 9rem;
    height: 9rem;
  }
}
.bg--bg::after {
  left: -15%;
  top: 2rem;
  background: url("../img/services logo stamp.svg") no-repeat center center;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .bg--bg::after {
    left: -27%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .bg--bg::after {
    display: none;
  }
}
.bg--bg::before {
  right: -15%;
  bottom: 2rem;
  background: url("../img/services logo stamp.svg") no-repeat center center;
  transform: rotate(180deg);
}
@media (min-width: 992px) and (max-width: 1024px) {
  .bg--bg::before {
    right: -27%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .bg--bg::before {
    display: none;
  }
}

.back-to-section {
  padding: 4rem 0;
}
.back-to-section .back-to-inner {
  text-align: center;
}
.back-to-section .back-to-inner a {
  color: #004e6c;
  font-size: 1.5rem;
  display: inline-block;
  font-weight: 800;
  background: url("../img/arrow blue left.svg") no-repeat left center;
  padding-left: 2rem;
  background-size: 20px;
}
.back-to-section .back-to-inner a:hover {
  color: #3dae80;
  background: url("../img/arrow green2 left.svg") no-repeat left center;
  background-size: 20px;
}

.top-sm-text-block {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.top-sm-text-block ~ .tag-content-row {
  margin-top: 10rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .top-sm-text-block ~ .tag-content-row {
    margin-top: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .top-sm-text-block ~ .tag-content-row {
    margin-top: 6rem;
  }
}

.top-sm-text-block ~ .value-section--3 {
  padding-top: 0px;
}

.services--list .container-sm,
.product--list .container-sm,
.sectors--list .container-sm {
  padding: 0 8rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .services--list .container-sm,
.product--list .container-sm,
.sectors--list .container-sm {
    padding: 0 4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .services--list .container-sm,
.product--list .container-sm,
.sectors--list .container-sm {
    padding: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .services--list .container-sm,
.product--list .container-sm,
.sectors--list .container-sm {
    padding: 0;
  }
}

.home .top-sm-text-block {
  padding-top: 0rem;
  padding-bottom: 5rem;
}

.single-product .top-sm-text-block {
  padding-bottom: 6rem;
}

.support .top-sm-text-block {
  padding-bottom: 0rem;
}

.about .top-sm-text-block {
  padding-bottom: 6rem;
}

.hero-img--inner-mobile {
  display: none;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero-img--inner-mobile {
    display: block;
    margin-top: -106px;
    position: relative;
    z-index: 1;
    padding: 0 1rem;
  }
}
.hero-img--inner-mobile img {
  max-width: inherit;
  width: 100%;
}

.single-service .video--section {
  background-color: #004e6c;
}

.review--section {
  position: relative;
}
.review--section .reivew-author {
  text-align: right;
  color: #fff;
  margin-top: 1rem;
}
.review--section .review--box {
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
  font-style: italic;
}
@media (min-width: 320px) and (max-width: 567px) {
  .review--section .review--box {
    font-size: 1.1rem;
  }
}
.review--section .review--box p {
  padding: 0px 6px;
  margin: 0px;
  line-height: 1.8rem;
  position: relative;
}
@media (min-width: 320px) and (max-width: 567px) {
  .review--section .review--box p {
    line-height: 1.4rem;
  }
}
.review--section .review--box p::before {
  position: absolute;
  left: -5px;
  top: 0px;
  content: "“";
  font-size: 1rem;
}
.review--section .review--box p::after {
  position: absolute;
  bottom: 0px;
  content: "”";
  font-size: 1rem;
}

.get-in-touch .get-in-touch-left {
  width: 35%;
  padding-top: 17px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .get-in-touch .get-in-touch-left {
    width: 40%;
    padding-top: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .get-in-touch .get-in-touch-left {
    width: 100%;
    padding-top: 0rem;
  }
}
.get-in-touch .get-in-touch-right {
  width: 65%;
  padding-left: 2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .get-in-touch .get-in-touch-right {
    width: 60%;
    padding-top: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .get-in-touch .get-in-touch-right {
    width: 100%;
    padding-left: 0rem;
    padding-top: 3rem;
  }
}

.get-in-touch--section h2.title::after {
  margin: auto;
}

.get-in-touch-icons ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}
.get-in-touch-icons ul li {
  margin: 0 0 2rem 0;
  padding: 0px;
}
.get-in-touch-icons ul li a {
  display: flex;
  font-size: 1.3rem;
  color: #004e6c;
  align-items: center;
  font-weight: 600;
}
.get-in-touch-icons ul li a span {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#009c9f+0,3dae80+44,489148+100 */
  background: #009c9f;
  /* Old browsers */
  background: -moz-linear-gradient(left, #009c9f 0%, #3dae80 44%, #489148 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #009c9f 0%, #3dae80 44%, #489148 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #009c9f 0%, #3dae80 44%, #489148 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#009c9f", endColorstr="#489148",GradientType=1 );
  /* IE6-9 */
  width: 50px;
  height: 50px;
  min-width: 50px;
  padding: 5px;
  margin-right: 1.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-in-touch-icons ul li a span i {
  width: 80%;
  height: 80%;
  display: block;
}
.get-in-touch-icons ul li a:hover span {
  background: #004e6c;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  color: #ffb900;
  font-weight: 300;
  font-size: 1rem;
}

.wpcf7 form.sent .wpcf7-response-output {
  color: #46b450;
  font-weight: 300;
  font-size: 1rem;
}

.wpcf7-not-valid-tip {
  font-weight: 300;
  font-size: 1rem;
}

.wpcf7-list-item {
  margin: 0;
}

.input-field label {
  color: #33424d;
  font-size: 1rem;
}
.input-field label a {
  color: #009c9f;
  font-size: 1rem;
}
.input-field label a:hover {
  color: #004e6c;
  font-weight: 500;
}

.wpcf7 .wpcf7-submit:disabled {
  cursor: pointer !important;
}

.input-field-set {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .input-field-set {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .input-field-set {
    display: block;
  }
}
.input-field-set .input-field {
  margin: 0;
}
.input-field-set .input-submit-box {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .input-field-set .input-submit-box {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.wpcf7-acceptance span {
  margin-right: 21px;
}

.wpcf7-acceptance {
  position: relative;
}

.wpcf7-acceptance input::after,
.wpcf7-acceptance input:checked::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.wpcf7-acceptance input::before {
  content: "";
  background: #fff;
  width: 26px;
  height: 26px;
  position: absolute;
  left: -3px;
  top: -3px;
}

.wpcf7-acceptance input::after {
  background: url("../img/checkinput.svg") no-repeat center center;
}

.wpcf7-acceptance input:checked::after {
  background: url("../img/checkedinput.svg") no-repeat center center;
}

.contact-section {
  background: #009c9f;
  padding: 6rem 0;
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section {
    padding: 3rem 0;
  }
}
.contact-section .get-in-touch {
  margin-top: 0px;
}
.contact-section .get-in-touch .get-in-touch-left {
  padding-top: 0px;
}
.contact-section .get-in-touch-block {
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.contact-section .get-in-touch-icons ul li {
  margin-bottom: 3rem;
}
.contact-section .get-in-touch-icons ul li:last-child {
  margin-bottom: 0px;
}
.contact-section .get-in-touch-icons ul li a {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section .get-in-touch-icons ul li a {
    font-size: 1.4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section .get-in-touch-icons ul li a {
    font-size: 1.4rem;
  }
}
.contact-section .get-in-touch-icons ul li a span {
  background: transparent;
  width: 60px;
  height: 60px;
  padding: 0px;
  margin-right: 1.5rem;
  border-radius: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section .get-in-touch-icons ul li a span {
    width: 40px;
    min-width: 40px;
    height: 40px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-section .get-in-touch-icons ul li a span {
    width: 40px;
    min-width: 40px;
    height: 40px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-section .get-in-touch-icons ul li a span {
    width: 40px;
    height: 40px;
  }
}
.contact-section .get-in-touch-icons ul li a span i {
  width: 100%;
  height: 100%;
  display: block;
}
.contact-section .get-in-touch-icons ul li a span i.map-white-icon {
  background-size: 126%;
}
.contact-section .get-in-touch-icons ul li a:hover {
  opacity: 0.5;
}
.contact-section .get-in-touch-icons ul li a:hover span {
  background: transparent;
}

.wpcf7-spinner {
  display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact .get-in-touch-left {
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact .get-in-touch-right {
    width: 60%;
    padding-left: 2rem;
    padding-top: 0rem;
  }
}

.input-field-set .input-field label {
  padding-left: 32px;
  display: block;
  position: relative;
}
.input-field-set .input-field label .acceptance-terms {
  position: absolute;
  left: 0px;
}

.post-row {
  margin-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row {
    margin-bottom: 3rem;
  }
}
.post-row:last-child {
  margin-bottom: 0;
}
.post-row .post-row--img {
  width: 45%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-row--img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .post-row--img {
    width: 100%;
  }
}
.post-row .post-row--img img {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 15px;
}
.post-row .post-row-content {
  width: 55%;
  padding-left: 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-row-content {
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .post-row-content {
    padding-left: 0rem;
    margin-bottom: 2rem;
    width: 100%;
  }
}
.post-row .post-row-content h4 {
  margin: 0 0 1rem 0;
  color: #004e6c;
}
.post-row.post-row--primary .custom-row {
  flex-direction: row-reverse;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row.post-row--primary .custom-row {
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row.post-row--primary .custom-row {
    flex-direction: column-reverse;
  }
}
.post-row.post-row--primary .post-row-content {
  padding-right: 3rem;
  padding-left: 0rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row.post-row--primary .post-row-content {
    padding-right: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row.post-row--primary .post-row-content {
    padding-right: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .custom-row {
    flex-direction: column-reverse;
    padding: 0 8rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .post-row .custom-row {
    padding: 0 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .custom-row {
    flex-direction: column-reverse;
  }
}

.product-slider--section {
  position: relative;
  z-index: 2;
  padding-bottom: 6rem;
}
.product-slider--section .container-sm {
  position: relative;
  z-index: 9;
}
.product-slider--section .title {
  text-align: center;
}
.product-slider--section::after {
  content: "";
  width: 100%;
  height: 491px;
  background-color: #e4e8ef;
  position: absolute;
  left: 0;
  bottom: 0px;
  transform: skewY(348deg) scale(1, 1);
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-slider--section::after {
    height: 400px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .product-slider--section::after {
    transform: skewY(352deg) scale(1, 1);
    height: 286px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-slider--section::after {
    transform: skewY(352deg) scale(1, 1);
    height: 286px;
  }
}
.product-slider--section .product-details-content {
  margin-top: 1rem;
}

.product-sliider-slick img {
  width: 100%;
}
.product-sliider-slick .slick-list {
  margin: 0 10rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-sliider-slick .slick-list {
    margin: 0 6rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .product-sliider-slick .slick-list {
    margin: 0 4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-sliider-slick .slick-list {
    margin: 0rem;
  }
}
.product-sliider-slick .slick-arrow {
  border: 0px;
  position: absolute;
  text-indent: -9999px;
  top: 60%;
  width: 51px;
  height: 51px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-sliider-slick .slick-arrow {
    width: 35px;
    height: 35px;
    z-index: 2;
    top: 70%;
  }
}
.product-sliider-slick .slick-arrow.slick-prev {
  left: 0px;
  background: url("../img/arrow blue left.svg") no-repeat center center;
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-sliider-slick .slick-arrow.slick-prev {
    background-size: 100%;
  }
}
.product-sliider-slick .slick-arrow.slick-next {
  right: 0px;
  background: url("../img/arrow blue right.svg") no-repeat center center;
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-sliider-slick .slick-arrow.slick-next {
    background-size: 100%;
  }
}
.product-sliider-slick .product--img {
  min-height: 490px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-sliider-slick .product--img {
    min-height: 373px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .product-sliider-slick .product--img {
    min-height: 100px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-sliider-slick .product--img {
    min-height: 222px;
  }
}
.product-sliider-slick .product-content {
  text-align: center;
}
.product-sliider-slick .product-content .product-button {
  display: inline-block;
}
.product-sliider-slick .product-content h4 {
  margin: 0.5rem 0 2rem 0;
  padding: 0px;
  color: #004e6c;
  font-weight: 600;
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-sliider-slick .product-content h4 {
    margin: 1rem 0 2rem 0;
  }
}

.pagination-block {
  margin-top: 1.5rem;
}
.pagination-block .pagination {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: end;
}
.pagination-block .pagination li {
  margin: 0 0 0 20px;
  padding: 0px;
}
.pagination-block .pagination li a,
.pagination-block .pagination li button {
  color: #004e6c;
  font-size: 1.2rem;
  display: block;
  font-weight: 500;
}
.pagination-block .pagination li span {
  color: #009c9f;
  font-size: 1.2rem;
  display: block;
  font-weight: 500;
}

.pagination {
  display: flex;
  justify-content: end;
  margin-top: 1.5rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .pagination {
    padding-right: 6rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pagination {
    padding-right: 2rem;
  }
}
.pagination a,
.pagination span {
  color: #004e6c;
  font-size: 1.2rem;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0 10px;
}
.pagination .current {
  color: #009c9f;
}
.pagination .current,
.pagination .dots {
  position: relative;
  z-index: 9;
}

.static-content-solutions-row {
  position: relative;
}
.static-content-solutions-row .full-view-intro--img {
  width: 100%;
  overflow: hidden;
}
.static-content-solutions-row .full-view-intro--img img {
  width: 100%;
  height: auto;
  display: block;
  max-width: inherit;
}
@media (min-width: 768px) and (max-width: 991px) {
  .static-content-solutions-row .full-view-intro--img img {
    width: 124%;
  }
}
.static-content-solutions-row .full-view-intro-content {
  width: 50%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .static-content-solutions-row .full-view-intro-content {
    width: 58%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .static-content-solutions-row .full-view-intro-content {
    width: 67%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .static-content-solutions-row .full-view-intro-content {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .static-content-solutions-row .full-view-intro-content {
    width: 100%;
  }
}
.static-content-solutions-row .full-view-intro-content h2.title::after {
  background-color: #fff;
}
.static-content-solutions-row .full-view-intro-content .desc--box {
  margin: 1.5rem 0;
  min-height: 100px;
}
.static-content-solutions-row .full-view-intro--content {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 6rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .static-content-solutions-row .full-view-intro--content {
    padding-bottom: 4rem;
  }
}

.service-list-cards:last-child {
  margin-bottom: 0rem;
}
.service-list-cards .service-list-cards--img {
  width: 22%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .service-list-cards .service-list-cards--img {
    width: 100px;
  }
}
.service-list-cards .service-list-cards--content {
  width: 78%;
}

.product-list-cards:last-child {
  margin-bottom: 0rem;
}
.product-list-cards .product-list-cards--img {
  width: 35%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .product-list-cards .product-list-cards--img {
    width: 200px;
  }
}
.product-list-cards .product-list-cards--content {
  width: 65%;
}

.sector-list-cards:last-child {
  margin-bottom: 0rem;
}
.sector-list-cards .sector-list-cards--img {
  width: 35%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .sector-list-cards .sector-list-cards--img {
    width: 200px;
  }
}
.sector-list-cards .sector-list-cards--img img {
  border-radius: 15px;
}
.sector-list-cards .sector-list-cards--content {
  width: 65%;
}

.list-cards--img {
  margin-top: 1.6rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .list-cards--img {
    margin-top: 0rem;
  }
}
.list-cards--img img {
  display: block;
  width: 100%;
  height: auto;
}

.list-cards--content {
  padding-left: 4.5rem;
  padding-right: 4rem;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .list-cards--content {
    padding-left: 2rem;
    padding-right: 3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .list-cards--content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .list-cards--content {
    padding-left: 0rem;
    padding-right: 3rem;
    width: 100% !important;
    margin-top: 2rem;
  }
}
.list-cards--content .arrow--btn {
  position: absolute;
  right: 0;
  bottom: 0;
}
.list-cards--content .desc--box {
  margin-top: 1.2rem;
}

.service-list-cards,
.product-list-cards,
.sector-list-cards {
  margin-bottom: 9rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .service-list-cards,
.product-list-cards,
.sector-list-cards {
    margin-bottom: 5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .service-list-cards,
.product-list-cards,
.sector-list-cards {
    margin-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .service-list-cards,
.product-list-cards,
.sector-list-cards {
    margin-bottom: 3rem;
  }
}

.white-card a {
  display: block;
  background-color: #fff;
  padding: 2rem 1.5rem 4rem 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
}
.white-card a:hover {
  background-color: #c5e2d7;
}
@media (min-width: 768px) and (max-width: 991px) {
  .white-card a {
    padding: 2rem 1rem 4rem 1rem;
  }
}
.white-card a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 120px;
  margin: auto auto 2rem auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .white-card a i {
    width: 50%;
    height: 87px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .white-card a i {
    height: auto;
    width: 100px;
    margin: auto auto 0rem auto;
  }
}
.white-card a i img {
  display: block;
  width: auto;
  height: 100%;
}
.white-card a h3 {
  color: #004e6c;
  margin-bottom: 1rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .white-card a h3 {
    min-height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.white-card a h4 {
  color: #004e6c;
  margin-bottom: 1rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .white-card a h4 {
    min-height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.white-card a .desc--box {
  color: #33424d;
}

.service-list-cards .title a,
.product-list-cards .title a,
.sector-list-cards .title a {
  color: #004e6c;
}
.service-list-cards:hover .title,
.product-list-cards:hover .title,
.sector-list-cards:hover .title {
  color: #009c9f;
}
.service-list-cards:hover .title a,
.product-list-cards:hover .title a,
.sector-list-cards:hover .title a {
  color: #009c9f;
}
.service-list-cards:hover .arrow--btn a,
.product-list-cards:hover .arrow--btn a,
.sector-list-cards:hover .arrow--btn a {
  background: url("../img/arrow cyan right.svg") no-repeat center center;
  background-size: 100%;
}

.support--section {
  position: relative;
}
.support--section .support-view--img {
  width: 100%;
  overflow: hidden;
}
.support--section .support-view--img img {
  width: 100%;
  height: auto;
  display: block;
  max-width: inherit;
}
.support--section .support-view-content {
  width: 27rem;
  margin-left: auto;
  background: #fff;
  border-radius: 15px;
  padding: 3rem;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .support--section .support-view-content {
    margin: auto;
    width: 86%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .support--section .support-view-content {
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 95%;
    padding: 2rem 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .support--section .support-view-content {
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 2rem 1rem;
  }
}
.support--section .support-view-content .desc--box {
  margin: 1.5rem 0;
  min-height: 100px;
}
.support--section .support-view--content {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .support--section .support-view--content {
    position: relative;
    top: -96px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .support--section .support-view--content {
    position: relative;
    top: -66px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .support--section .support-view--content {
    position: relative;
    top: -66px;
  }
}

.value-section--3 {
  padding-top: 6rem;
}
.value-section--3 .value-section-box--3 {
  width: 33.33%;
  padding: 0 0.5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .value-section--3 .value-section-box--3 {
    width: 500px;
    margin: auto;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .value-section--3 .value-section-box--3 {
    width: 420px;
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .value-section--3 .value-section-box--3 {
    width: 100%;
  }
}
.value-section--3 .value-section-box--3 .value-section-box {
  display: block;
  padding: 0rem 1.5rem 4rem 1.5rem;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .value-section--3 .value-section-box--3 .value-section-box {
    padding: 0rem 0rem 4rem 0rem;
  }
}
.value-section--3 .value-section-box--3 .value-section-box i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 120px;
  margin: auto auto 2rem auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .value-section--3 .value-section-box--3 .value-section-box i {
    width: 120px;
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .value-section--3 .value-section-box--3 .value-section-box i {
    width: 120px;
    height: auto;
  }
}
.value-section--3 .value-section-box--3 .value-section-box i img {
  display: block;
  width: auto;
  height: 100%;
}
.value-section--3 .value-section-box--3 .value-section-box h4 {
  font-size: 1.5rem;
  color: #004e6c;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .value-section--3 .value-section-box--3 .value-section-box h4 {
    font-size: 1.3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .value-section--3 .value-section-box--3 .value-section-box h4 {
    font-size: 1.3rem;
  }
}
.value-section--3 .value-section-box--3 .value-section-box .desc--box {
  color: #33424d;
}

.block_accordion {
  padding: 6rem 0;
}
@media (min-width: 320px) and (max-width: 567px) {
  .block_accordion {
    padding: 3rem 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .block_accordion {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .block_accordion {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.block_accordion h2.title::after {
  margin: auto;
}
.block_accordion .container_accordion {
  max-width: 850px;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}
.block_accordion .desc--box br {
  display: none;
}
.block_accordion .desc--box ul {
  margin-bottom: 1rem;
}
.block_accordion .a__box {
  margin-bottom: 2.5rem;
}
.block_accordion .a__box:last-child {
  margin-bottom: 0px;
}
.block_accordion .a__box h1,
.block_accordion .a__box h2,
.block_accordion .a__box h3,
.block_accordion .a__box h4,
.block_accordion .a__box h5 {
  margin: 1.1rem 0;
  font-size: 1.5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .block_accordion .a__box h1,
.block_accordion .a__box h2,
.block_accordion .a__box h3,
.block_accordion .a__box h4,
.block_accordion .a__box h5 {
    font-size: 1.3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .block_accordion .a__box h1,
.block_accordion .a__box h2,
.block_accordion .a__box h3,
.block_accordion .a__box h4,
.block_accordion .a__box h5 {
    font-size: 1.2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .block_accordion .a__box h1,
.block_accordion .a__box h2,
.block_accordion .a__box h3,
.block_accordion .a__box h4,
.block_accordion .a__box h5 {
    font-size: 1.2rem;
  }
}
.block_accordion .a__box .a_b__top {
  border-bottom: 3px #009c9f solid;
  padding: 1.1rem 0;
  outline: none !important;
}
.block_accordion .a__box .a_b__top h5 {
  color: #004e6c;
  font-size: 1.5rem;
  margin: 0px;
  padding: 0 3rem 0 0;
  cursor: pointer;
  background: url("../img/arrow blue right.svg") no-repeat right center;
  background-size: 22px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .block_accordion .a__box .a_b__top h5 {
    font-size: 1.3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .block_accordion .a__box .a_b__top h5 {
    font-size: 1.2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .block_accordion .a__box .a_b__top h5 {
    font-size: 1.2rem;
  }
}
.block_accordion .a__box .collapse {
  height: 0;
  overflow: hidden;
  -moz-transition: height 1s ease;
  -webkit-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}
.block_accordion .a__box .collapse .a_b__btm {
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.block_accordion .a__box.accordion-active .a_b__top h5 {
  background: url("../img/blue arrow down.svg") no-repeat right center;
  background-size: 24px;
}
.block_accordion .a__box.accordion-active .collapse {
  height: auto;
  -moz-transition: height 1s ease;
  -webkit-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}

.download--section {
  background: #e4e8ef;
  position: relative;
  padding: 2rem 0 6rem 0;
  margin-top: 6rem;
}
.download--section::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  border-color: transparent transparent #e4e8ef;
  border-style: solid;
  border-width: 0 0 155px 98.8vw;
  top: -155px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .download--section::after {
    border-width: 0 0 70px 98.8vw;
    top: -69px;
  }
}
.download--section .download--row ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.download--section .download--row ul li {
  width: 33.33%;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .download--section .download--row ul li {
    width: 500px;
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .download--section .download--row ul li {
    width: 100%;
    padding: 2rem 0;
  }
}
.download--section .download-item {
  display: block;
  background-color: #fff;
  padding: 2rem 2rem 2rem 2rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.download--section .download-item h4 {
  font-size: 1.5rem;
  color: #004e6c;
  font-weight: 600;
  margin: 0 0 1rem 0;
  padding: 0px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .download--section .download-item h4 {
    line-height: 1.6rem;
  }
}
.download--section .download-item .desc--box {
  color: #33424d;
  min-height: 108px;
  margin-bottom: 2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .download--section .download-item .desc--box {
    min-height: 50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .download--section .download-item .desc--box {
    min-height: 50px;
  }
}
.download--section .download-item .primary-btn {
  display: flex;
  align-items: center;
}
.download--section .download-item .primary-btn i {
  background: url("../img/support download icon.svg") no-repeat center center;
  width: 20px;
  height: 20px;
  margin-left: 0.6rem;
}

@media (min-width: 320px) and (max-width: 1550px) {
  body {
    font-size: 1.1rem;
  }

  .top-sm-text-block .desc--box p {
    line-height: 1.7rem;
  }

  .privacy-policy .top-sm-text-block .container-sm .desc--box,
.environmental-policy .top-sm-text-block .container-sm .desc--box {
    font-size: 1.1rem;
  }
}
@media (min-width: 1600px) and (max-width: 30000px) {
  .top-sm-text-block {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
}

/*# sourceMappingURL=global.css.map */
