.about_ace{
    background-color: $OxfordBlue;
    padding: 40px 0 100px 0;
    margin-top: -2px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    @include breakpoint(mobile_portrait) {
        padding: 43px 0 30px 0;
    }
    @include breakpoint(mobile_landscape) {
        padding: 43px 0 30px 0;
    }
    &::after{
        content: '';
        position: absolute;
        left: 0px;
        width: 100%;
        height:40%;
        bottom: 45px;
        z-index: -1;
        background: $purple;
        -webkit-transform: skew(0deg, -4deg);
        -ms-transform: skew(0deg, -4deg);
        transform: skew(0deg, -4deg);
        @include breakpoint(mobile_portrait) {
            display: none;
        }
        @include breakpoint(mobile_landscape) {
            display: none;
        }
    }
    &::before{
        content: '';
        position: absolute;
        left: 0px;
        width: 100%;
        height:260px;
        bottom: 0;
        z-index: -2;
        background: $lightGray;
    }
    
    .about_ace_top{
        text-align: center;
        margin-bottom: 40px;
        i{
            width: 120px;
            margin: auto auto 15px auto;
            display: inline-block;
            img{
                width: 100%;
                display: block;
            }
        }
        h2{
            margin: 0 0 15px;
            padding: 0px;
            text-align: center;
            color: $white;
            font-family: 'Montserrat', sans-serif;
            font-size: $font-size-h2;
            font-weight: 600;
        }
        .a_a_t__txt{
            margin: 0;
            padding: 0 10%;
            p{
                color: $white; 
                &:last-child{
                    margin: 0px;
                }
            }
        }
    }
}