.ace_findmore_box{
    background-color: $white;
    padding: 15px;
    display: flex;
    align-items: center;
    @include breakpoint(mobile_portrait) {
        display: block;
    }
    @include breakpoint(mobile_landscape) {
        align-items: flex-start;
    }
    @include breakpoint(iPad) {
        align-items: flex-start;
    }
    .ace_findmore_img{
        width: 50%;
        @include breakpoint(mobile_portrait) {
            width: 100%;
        }
        img{
            width: 100%;
            display: block;
        }
    }
    .ace_findmore_content{
        width: 50%;
        margin-left: auto;
        padding: 0 0 0 30px;
        @include breakpoint(mobile_portrait) {
            padding: 25px 0 0 0px;
            width: 100%;
        }
        h2{
            margin: 0;
            padding: 0px;
            color: $cyan-color;
            font-family: 'Montserrat', sans-serif;
            font-size: $font-size-h2;
            font-weight: 600;
        }
        .a_f_c__txt{
            margin:20px 0 30px;
            padding: 0;
            p{
                color: $cyan-color; 
                &:last-child{
                    margin: 0px;
                }
            }
        }

    }
}