.breadcrumbs{
    border-bottom: 1px $lightGray-border solid;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        align-items: center;
        @include breakpoint(mobile){
            flex-wrap: wrap;
        }
        
        li{
            margin: 0px;
            padding: 0 10px;
            color: $drak-color;
            font-size: $font-size-sm;
            line-height: 16px;
            border-right: 1px $lightGray-border solid;
            @include breakpoint(mobile_portrait){
                padding-bottom: 10px;
            }
            a{
                display: block;
                color: $cyan-color;
                font-size: $font-size-sm;
                img{
                    display: block;
                    width: 15px;
                }
            }
            strong{
                font-weight: normal;
            }
            &:last-child{
                border-right: 0px $lightGray-border solid;
            }

            
        }
    }
}
