.cart_top_block {
    display: flex;
    justify-content: flex-end;
    padding: 15px 0;
    align-items: center;
    @include breakpoint(mobile){
        display: block ;
    }
    @include breakpoint(iPad){
        display: block ;
    }
    .pro_checkout_btn {
        margin: 0 0 0 15px;
        @include breakpoint(mobile){
            margin: 15px 0;
        }
        @include breakpoint(iPad){
            margin: 15px 0;
        }
        a{
            @include breakpoint(mobile){
                display: block ;
                text-align: center;
            } 
            @include breakpoint(iPad){
                display: block ;
                text-align: center;
            }  
        }
    }
    .pro_checkout_paypal_btn {
        a {
            border: 1px $OxfordBlue-color solid;
            display: flex;
            color: $OxfordBlue-color;
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            padding: 8px 30px;
            img {
                width: 92px;
                height: auto;
                margin-left: 14px;
            }
        }
    }
}
.cart_tol {
    background: #f8f8f4;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    @include breakpoint(mobile){
        display: block;
    }
    table.shop_table {
        border: 0px;
        .woocommerce-shipping-totals {
            th,
            td{
                border-top: 0px !important;
            }
            
        }
    }
    .card_info_left {
        width: 20%;
        margin-bottom: 24px;
        @include breakpoint(mobile){
            display: none;
        }
        ul {
            margin: 0px;
            padding: 0px;
            display: flex;
            list-style: none;
            li {
                margin: 0px;
                width: 50px;
                img {
                    width: 100%;
                }
            }
        }
    }
    .card_info_right {
        width: 336px;
        margin-left: auto;
        @include breakpoint(mobile){
            width: 100%;
            margin-left: 0;
        }
        .cart_totals  {
            width: 100% !important;
        }
    }
}


.checkout-button {
    background: $purple-bg;
    border: 1px $purple-bg solid;
    padding: 10px 30px;
    color: $white;
    font-size: $font-size-base;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;

    i {
        background: url("#{$assetPath}/goto-cart-icon.svg") no-repeat right center;
        background-size: 22px;
        width: 22px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }

    &:hover {
        background: $white;
        color: $purple-bg;
        i {
            background: url("#{$assetPath}/w-goto-cart-icon.svg") no-repeat right center;
            background-size: 22px;
        }
    }
}

.cartpage {
    table.shop_table td {
        padding: 10px 10px;
    }
    .woocommerce-cart-form {
        table {
            thead {
                th {
                    background-color: $lightGray;
                }
            }
            .product-thumbnail {
                width: 80px;
                padding: 5px;
                @include breakpoint(mobile){
                    width: auto;
                }
                img {
                    width: 100%;
                    border: 1px $OxfordBlue solid;
                    @include breakpoint(mobile){
                        width: 80px;
                    }
                }
            }
            .product-quantity {
                width: 150px;
                @include breakpoint(mobile){
                    width: auto;
                }
            }
            .product-name {
                a {
                    display: block;
                    color: $OxfordBlue-color;
                    font-size: $font-size-base;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                }
            }
        }
    }
}
#add_payment_method table.cart td,
#add_payment_method table.cart th,
.woocommerce-cart table.cart td,
.woocommerce-cart table.cart th,
.woocommerce-checkout table.cart td,
.woocommerce-checkout table.cart th {
    vertical-align: top;
}
.cart-collaterals {
    h2 {
        display: none;
    }
    .order-total {
        font-size: 18px;
    }
}

.woocommerce a.button.alt {
    background-color: $purple-bg;
    border: 1px $purple-bg solid;
    padding: 10px 30px;
    color: $white;
    font-size: $font-size-base;
    cursor: pointer;
    border-radius: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background: $purple-bg url("#{$assetPath}/goto-cart-icon.svg") no-repeat 95% center;
    background-size: 23px;
    &:hover {
        background: $white;
        color: $purple-bg;
        background: $white url("#{$assetPath}/w-goto-cart-icon.svg") no-repeat 95% center;
        background-size: 23px;
    }
}
.woocommerce table.cart .product-thumbnail, .woocommerce-page #content table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail {
    @include breakpoint(iPad){
        display: table-cell !important;
    }
    @include breakpoint(mobile){
        display: block !important;
    }
}
.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
    @include breakpoint(mobile){
        text-align: left !important;
    }
    @include breakpoint(iPad){
        display: table-cell !important;
        text-align: left !important;
    }
}
.woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before{
    @include breakpoint(iPad){
        display: none !important;
    }
}
.woocommerce table.shop_table_responsive thead, .woocommerce-page table.shop_table_responsive thead {
    @include breakpoint(iPad){
        display: block !important;
    }
}
.cartpage .woocommerce-cart-form table thead th.product-name{
    @include breakpoint(iPad){
        width: 44%;
    }
}
.woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before{
    @include breakpoint(mobile){
        margin-right: 10px;
    }
}
.cartpage .woocommerce-cart-form table .product-quantity::before{
    @include breakpoint(mobile){
        margin-top: 5px;
    }
}
.cartpage .woocommerce-cart-form table .product-thumbnail::before{
    @include breakpoint(mobile){
        display: none;
    }
}