#customer_details {
    .woocommerce-billing-fields__field-wrapper,
    .woocommerce-shipping-fields__field-wrapper
    {
        display: flex;
        flex-wrap: wrap;
    }
    .col-12{
        @include breakpoint(mobile){
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    h3 {
        margin: 0 0 15px 0;
        padding: 0px;
        display: block;
        color: $OxfordBlue-color;
        font-size: 22px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        border-bottom: 0;
        label {
            margin-bottom: 0px;
        }
    }
    .form-row {
        width: 50%;
        @include breakpoint(mobile){
            width: 100%;
        }
        @include breakpoint(iPad){
            width: 100%;
        }
        .woocommerce-input-wrapper {
            width: 100%;
        }
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
        display: block;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        font-weight: 400;
        border-radius: 0px !important;
        /* text-overflow: ellipsis; */
        /* white-space: nowrap; */
    }
    
    .woocommerce-shipping-fields {
        margin: 35px 0 0 0;
    }
}
.woocommerce button.button.alt {
    background-color: $purple-bg;
    border: 1px $purple-bg solid;
    padding: 10px 30px;
    color: $white;
    font-size: $font-size-base;
    cursor: pointer;
    border-radius: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
        background: $white;
        color: $purple-bg;
    }
}
