.feedback_box {
    padding: 40px 100px;
    background: $cyan-bg;
    position: relative;
    z-index: 9;
    color: $white;
    margin: 40px 0 0 0;
    text-align: center;
    @include breakpoint(mobile_portrait) {
        padding: 10px 15px 30px 15px;
        width: 100%;
        margin: auto auto auto auto;
    }
    @include breakpoint(mobile_landscape) {
        padding: 10px 15px 30px 15px;
        width: 100%;
        margin: auto auto auto auto;
    }
    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: inherit;
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: right left;
        -webkit-transform: skew(0deg, 4deg);
        -ms-transform: skew(0deg, 4deg);
        transform: skew(0deg, 4deg);
        @include breakpoint(mobile_landscape) {
            -webkit-transform: skew(0deg, 3deg);
            -ms-transform: skew(0deg, 3deg);
            transform: skew(0deg, 3deg);
        }
    }
    p{
        margin: 0 0 25px;
        padding: 0px;
        text-align: center;
        font-style: italic;
        color: $white;
        font-size: $font-size-md;
    }
    strong{
        display: block;
        margin: 0 0 5px;
    }
    span{
        display: block;
        margin: 0px;
    }
}
