.green_heading {
    position: relative;
    min-height: 250px;
    &::after {
        position: absolute;
        width: 100%;
        content: "";
        left: 0px;
        bottom:-15px;
        height: 133px;
        background: url("#{$assetPath}/green-white-bg.svg") no-repeat left bottom scroll;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        @include breakpoint(mobile_landscape) {
            bottom:15px;
        }
    }
    .green_heading__out {
        background-color: $lemon;
        position: relative;
        z-index: 2;
    }

    .green_heading__inner {
        padding: 40px 20% 0 ;
        text-align: center;
        @include breakpoint(mobile_portrait) {
            padding: 40px 10%;
        }
        h1 {
            color: $OxfordBlue-color;
            font-size: $font-size-h1;
            font-family: 'Montserrat', sans-serif; 
            font-weight: 600;
            margin: 0px;
            padding: 0px;
        }
        .p_h_txt {
            margin-top: 20px;
            p {
                color: $OxfordBlue-color;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}
