.woocommerce-MyAccount-navigation {
    padding: 10px;
    background-color: $lightGray;
    @include breakpoint(iPad){
        float: left !important;
        width: 30% !important;
    }
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
            margin: 0px;
            padding: 10px 0;
            border-bottom: 1px $lightGray-border solid;
            &:last-child {
                border-bottom: 0px;
            }
            a {
                display: block;
                color: $OxfordBlue-color;
                font-size: $font-size-base;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                padding: 0px;
                background-size: 15px;
                &:hover {
                    color: $purple;
                }
            }
            &.is-active {
                a {
                    color: $purple;
                    font-weight: 600;
                }
            }
        }
    }
}
.woocommerce-account .woocommerce-MyAccount-content{
    @include breakpoint(iPad){
        float: right !important;
        width: 67% !important;
    }
    @include breakpoint(mobile){
        padding-top: 25px;
    }
}
.woocommerce-MyAccount-orders {
    thead {
        th {
            background: #c8cac3;
        }
    }
}
.woocommerce-account {
    mark {
        background: #fff;
        color: $OxfordBlue;
        font-weight: 600;
    }
    .woocommerce a.button {
        background: $cyan-bg;
        border: 1px $cyan-bg solid;
        padding: 4px 10px;
        color: $white;
        font-size: 13px;
        display: block;
        cursor: pointer;
        text-align: center;
        border-radius: 0;

        &:hover {
            background: $white;
            color: $cyan-bg;
        }
    }
}

.woocommerce-order-details,
.woocommerce-customer-details {
    h2 {
        margin: 0 0 15px 0;
        padding: 0px;
        display: block;
        color: $OxfordBlue-color;
        font-size: 22px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        border-bottom: 0;
    }
}
.woocommerce-order-details {
    thead {
        th {
            background: #c8cac3;
        }
    }
}
.woocommerce-customer-details {
    .woocommerce-columns {
        display: flex;
        @include breakpoint(mobile_portrait){
            flex-wrap: wrap;
        }
        .col-12 {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 10px;
            background: $light;
            @include breakpoint(mobile_portrait){
                flex: 0 0 100%;
                max-width: 100%;
            }
            &:nth-child(2) {
                border-left: 15px $white solid;
                @include breakpoint(mobile_portrait){
                    border-left: 0px $white solid;
                }
            }
            address {
                border: 0px;
                padding: 0px;
            }
        }
    }
}
.woocommerce-pagination--without-numbers {
    text-align: right;
    .woocommerce-button {
        background: $purple-bg;
        border: 1px $purple-bg solid;
        padding: 4px 10px;
        color: $white;
        font-size: 14px;
        display: inline-block;
        cursor: pointer;
        text-align: center;
        border-radius: 0;
        width: 80px;
        font-weight: 500;

        &:hover {
            background: $white;
            color: $purple-bg;
        }
    }
}

.edit-account {
    .woocommerce-Button {
        float: right;
    }
    fieldset {
        border: 0px solid #c0c0c0;
        margin: 34px 0 0;
        legend {
            margin: 0;
            padding: 0px;
            display: block;
            color: $OxfordBlue-color;
            font-size: 22px;
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            border-bottom: 0;
        }
        .form-row {
            display: block;
        }
    }
}
.woocommerce-Addresses {
    display: flex;
    @include breakpoint(mobile_portrait){
        flex-wrap: wrap;
    }
    h3 {
        margin: 0 0 10px;
        padding: 0px;
        display: block;
        color: $OxfordBlue-color;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        border-bottom: 0;
    }
    .col-12 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 10px;
        background: $light;
        @include breakpoint(mobile_portrait){
            flex: 0 0 100%;
            max-width: 100%;
        }
        &:nth-child(2) {
            border-left: 15px $white solid;
            @include breakpoint(mobile_portrait){
                border-left: 0px $white solid;
            }
        }
    }
}

a.edit {
    width: 16px;
    height: 16px;
    background: url("#{$assetPath}/edit-icon.svg") no-repeat center center;
    background-size: 100%;
    text-indent: -9999px;
}
.woocommerce-Button {
    background: $purple-bg;
    border: 1px $purple-bg solid;
    padding: 4px 10px;
    color: $white;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 0;
    font-weight: 500;

    &:hover {
        background: $white;
        color: $purple-bg;
    }
}

.woocommerce-order-received {
    .product__Page::after {
        display: none;
    }
}

.woocommerce-columns--addresses {
    .col-1 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 10px;
        background: $light;
        address {
            border: 0px;
            padding: 0px;
        }
    }
    .col-2 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 10px;
        background: $light;

        border-left: 15px $white solid;
        address {
            border: 0px;
            padding: 0px;
        }
    }
}
.woocommerce-thankyou-order-received {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    color: $cyan-color;
}
.woocommerce-MyAccount-content {
    .woocommerce-Button {
        display: none;
    }
}
.woocommerce-account {
    .product__Page::after {
        display: none;
    }
    .top_blue__bg {
        min-height: 400px;
    }
}
.woocommerce-account{
    .woocommerce{
      .woocommerce-orders-table{
          .woocommerce-orders-table__cell-order-actions{
              text-align: right;
            a.button{
                display: inline-block;
                margin-right: 5px;
                &:last-child{
                    margin-right: 0px;
                }
            }
          }
        
      }
    }
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
    padding: 10px;
}
#customer_details .select2-container .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__rendered
{
    padding: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 100%;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: auto;
    margin: 0;
}

.woocommerce-address-fields{
    .woocommerce-input-wrapper {
        width: 100%;
    }
    button.button{
        @include background($purple);
        @include size-color($btn-font-size-base, $white);
        @include border(1px, $purple, solid);
        border-radius: 0px;
        @include padding(10px, 20px, 10px, 20px);
        font-weight: 500;
    
        &:hover {
            @include background($OxfordBlue);
            @include size-color($btn-font-size-base, $white);
            border-radius: 0px;
            @include border(1px, $OxfordBlue, solid);
    
        }  
    }
}