.new_catalogue_block{
    background-color: $lemon-bg;
    padding: 60px 0;
    .new_catalogue__inner{
        padding: 0 18%;
        text-align: center;
        @include breakpoint(mobile_portrait) {
            padding: 0 5%;
        } 
        i{
            width: 100px;
            margin: auto auto 25px auto;
            display: block;
            img{
                display: block;
                width: 100%;

            }
        }
        h2{
            margin:0 0 25px 0;
            padding: 0px;
            display: block;
            text-align: center;
            color: $OxfordBlue-color;
            font-size: $font-size-md;
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
        }
        .n_c_txt{
            margin-bottom: 25px;
            p{
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }
}
.catalogue-download-wraper{
    text-align: right;
    padding: 20px 0 35px;
    a{
        display: inline-block;
        i{
            background: url("#{$assetPath}/download.svg") no-repeat right center;
            background-size: 100%;
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-left: 10px;
        }
    }
}
