.page_heading{
    position: relative;
    z-index: 1;
    .page_heading__inner{
        padding: 40px 20% 0;
        text-align: center;
        @include breakpoint(mobile_portrait) {
            
            padding: 40px 10%;
        }
        
        h1{
            color: $white;
            font-size: $font-size-h1;
            font-family: 'Montserrat', sans-serif; 
            font-weight: 600;
            margin: 0px;
            padding: 0px;
        }
        .p_h_txt{
            margin-top: 20px;
            p{
                color: $white;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
            p:empty{ display: none;}
        }
    }
}
// .hero_slider{
//     height: 436px;
//     overflow: hidden;
//     @include breakpoint(mobile){
//         height: auto;   
//     }
//     @include breakpoint(iPad){
//         height: auto;   
//     }
//     @include breakpoint(iPad_landscape){
//         height: auto;   
//     }
//     img{
//         display: block;
//     }
    
// }