.product__details {
    h1.entry-title {
        margin: 0 0 25px 0;
        padding: 0px;
        display: block;
        color: $OxfordBlue-color;
        font-size: $font-size-md;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        border-bottom: 0;
    }

    .product-sub-heading {
        strong {
            display: block;
            color: $OxfordBlue-color;
            font-size: $font-size-base;
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
        }
    }

    .product-sdescription {
        margin-top: 5px;

        p {
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    .product-features {
        margin-top: 25px;

        ul {
            margin: 5px 0 0 16px;
            padding: 0px;

            li {
                margin: 0px;
                padding: 0;
            }
        }
    }



    .product_options_table {
        .pro_code {
            width: 15%;
            padding-right: 5px;
        }

        .pro_des {
            width: 40%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .pro_price {
            width: 10%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .pro_qty {
            width: 15%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .pro_addcart {
            width: 20%;
            padding-left: 5px;
        }

        .p_o_t_hd {
            background-color: $OxfordBlue-color;

            ul {
                margin: 0px;
                padding: 0px;
                list-style: none;
                display: flex;

                li {
                    margin: 0px;
                    padding: 7px 10px;
                    color: $white;
                }
            }
        }

        .p_o_t__row {
            border-bottom: 1px $lightGray-border solid;
           &:last-child{
               border-bottom: 0px;
           }
            ul {
                margin: 0px;
                padding: 0px;
                list-style: none;
                display: flex;

                li {
                    margin: 0px;
                    padding: 2px 10px;
                    color: $OxfordBlue-color;

                    &.pro_des,
                    &.pro_code,
                    &.pro_price {
                        padding-top: 6px;
                        padding-bottom: 6px;
                    }

                    &.pro_des,
                    &.pro_addcart,
                    &.pro_qty {
                        background-color: $lightGray;
                    }
                }
            }
        }
    }
}

.pro_addcart {
    button {
        background: $cyan-bg;
        border: 1px $cyan-bg solid;
        padding: 4px 10px;
        color: $white;
        font-size: 13px;
        display: block;
        cursor: pointer;
        margin-top: 5px;

        &:hover {
            background: $white;
            color: $cyan-bg;
        }
    }
}

.pro_qty_box {
    display: flex;

    span {
        width: 20px;
        background: $lightGray;
        font-size: 22px;
        line-height: 25px;
        color: $OxfordBlue-color;
        text-align: center;
        display: block;
    }

    input {
        width: 50%;
    }
}

.pro_checkout_btn {
    margin-top: 25px;

    button {
        border: 0px;
        padding: 0px;
    }

    a {
        background: $purple-bg;
        border: 1px $purple-bg solid;
        padding: 10px 30px;
        color: $white;
        font-size: $font-size-base;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        @include breakpoint(mobile){
            display: block;
            text-align: center;
        }
        @include breakpoint(iPad){
            font-size: 14px;
        }
        i {
            background: url("#{$assetPath}/goto-cart-icon.svg") no-repeat right center;
            background-size: 22px;
            width: 22px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }

        &:hover {
            background: $white;
            color: $purple-bg;
            i{
                background: url("#{$assetPath}/w-goto-cart-icon.svg") no-repeat right center;
                background-size: 22px;
            }
        }
        &.xoo-el-login-tgr{
            i{
                background: url("#{$assetPath}/login-button-icon.svg") no-repeat right center;
                background-size: 22px; 
            }
            &:hover {
              
                i{
                    background: url("#{$assetPath}/p-login-button-icon.svg") no-repeat right center;
                    background-size: 22px;
                }
            }
        }
    }
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
    float: right;
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    float: left;
    margin-top: 0px;
}

.product_options {
    float: left;
    width: 100%;
}

.product_options__row {
    width: 60%;
    @include breakpoint(iPad){
        width: 100%;
    }
    @include breakpoint(iPad_landscape){
        width: 70%;
    }
    @include breakpoint(mobile){
        width: 100%;
    }
    .product_options_table {
        .pro_des {
            width: 85%;
            // @include text_limit;
            // @include breakpoint(iPad){
            //     white-space: inherit;
            // }
            // @include breakpoint(iPad_landscape){
            //     white-space: inherit;
            // }
        }
        .pro_code{
            width: 21%;
        }
    }
}
.woocommerce div.product form.cart{
    margin-bottom: 0px;
}
.p_o_t_btm{
    ul{
        li{
            &.pro_code{
                background-color: #f8f8f4;
            }
        }
    }
}
.logged-in {
    .product_options__row {
        width: 100%;

        .product_options_table {
            .pro_des {
                width: 43%;
                
            }
            .pro_code{
                width: 12%;
            }
        }

        .woocommerce div.product form.cart {
            margin-bottom: 0;
        }

       
    }
}
.cartpage,
.product_options_table
{
    .qib-button-wrapper {
        white-space: normal;
        margin: 0;
        margin-top: 5px;
        display: flex !important;
    
        label {
            display: none;
        }
    
        .quantity input.input-text.qty.text {
            height: auto;
            padding: 2px 6px;
            text-align: center;
            background: #ffffff;
            border: 0px solid #efefef;
            font-size: 14px;
            line-height: 15px;
            box-shadow: none;
        }
    
        button.qib-button,
        div.quantity.wqpmb_quantity {
            height: 27px;
           
        }
        div.quantity.wqpmb_quantity {
            width: 60px;
            border: 1px solid #c8cac3;
        }
        button.qib-button {
            padding: 0px 5px;
            height: auto;
            background: #c8cac3;
            border: 0 solid #efefef;
            cursor: pointer;
            font-size: 18px;
            line-height: 20px;
            width: 24px;
            min-height: 24px;
            color: black;
            min-height: 24px;
        }
    }
}

.product__details{
    padding-bottom: 35px;
    display: block;
    float: left;
    width: 100%;
}
.widget_product_categories{
    margin-bottom: 0px !important;
}
.woocommerce div.product form.cart .qib-button-wrapper div.quantity{
    width: 40px;
}
.woocommerce .quantity .qty{
    width: 100%;
}

.single-product{
    .custom-row{
      @include breakpoint(iPad){
          flex-wrap: wrap;
      }  
      @include breakpoint(mobile_landscape){
        flex-wrap: wrap;
    } 
    }
    .product_sidebar{
        @include breakpoint(mobile_landscape){
            width: 100%;
            margin-bottom: 25px;
         }  
        @include breakpoint(iPad){
           width: 100%;
           margin-bottom: 25px;
        }  
    }
    .page_right {
        @include breakpoint(mobile_landscape){
            width: 100%;
         } 
        @include breakpoint(iPad){
            width: 100%;
         } 
    }
}


@media (min-width: 320px) and (max-width: 767px) {
    .product__details .product_options_table .p_o_t_hd {
        display: none;
    }
    .product__details .product_options_table .p_o_t__row ul{
        display: block;
    }
    .product__details .product_options_table .p_o_t__row ul li::before{
        content: attr(data-title) ": ";
        font-weight: 700;
        float: left;
        margin-right: 10px;
    }
    .product__details .product_options_table .p_o_t__row ul li {
        padding: 12px 10px !important;
        width: 100% !important;
        float: left;
    }
    .product__details .product_options_table .p_o_t__row ul li.pro_addcart{ background: #fff; padding-left: 0px !important; padding-right: 0px !important;}
    .product__details .product_options_table .p_o_t__row ul li.pro_addcart button{ width: 100%;}
    .product__details .product_options_table .p_o_t__row ul li.pro_addcart::before{ display: none;}
    .product__details .product_options_table .p_o_t__row ul li.pro_qty::before{ margin-top: 5px;}
  }


  .p_o_t__row{
    background-color:#f8f8f4 ;
    &:nth-child(2n+2){
        background-color: #E5E7DC;
    }
  }
  .p_o_t_btm ul li.pro_code,
  .product__details .product_options_table .p_o_t__row ul li.pro_des, 
  .product__details .product_options_table .p_o_t__row ul li.pro_addcart, 
  .product__details .product_options_table .p_o_t__row ul li.pro_qty
  {
    background-color:transparent;
  }