.product_sidebar {
    width: 23%;
    @include breakpoint(mobile_portrait) {
        width: 100%;
    } 
    @include breakpoint(mobile_landscape) {
        width: 35%;
    }
    @include breakpoint(iPad) {
        width: 35%;
    }
    h3.widget-title {
        color: $drak-color;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        position: relative;
        margin: 15px 0;
        padding: 0 0 10px 0;
        &::after {
            content: "";
            position: absolute;
            width: 35px;
            height: 1px;
            left: 0px;
            bottom: 0px;
            background-color: $lightGray-bg;
        }
    }
    .product_sidebar__list {
        padding: 10px;
        background-color: $lightGray;
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            li {
                margin: 0px;
                padding: 10px 0;
                border-bottom: 1px $lightGray-border solid;
                &:last-child{
                    border-bottom: 0px;
                }
                a {
                    display: block;
                    color: $OxfordBlue-color;
                    font-size: $font-size-base;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 500;
                    padding: 0px;
                    background: transparent;
                    &:hover {
                        color: $purple;
                        background: transparent;
                    }
                    &.active {
                        color: $purple;
                        font-weight: 600;  
                    }
                }
                &.current-cat{
                    a{
                        color: $purple;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
