.page_right {
    width: 72%;
    margin-left: auto;
    @include breakpoint(mobile_portrait) {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    } 
    @include breakpoint(mobile_landscape) {
        width: 61%;
    }
    @include breakpoint(iPad) {
        width: 61%;
    }
    h1.page-title {
        color: $drak-color;
        font-size: $font-size-h2;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        position: relative;
        margin: 0;
        padding: 0 0 20px 0;
      
    }
    .woocommerce-result-count,
    .woocommerce-ordering
    {
        display: none;
    }
}
.post-type-archive-product{
    .page_right{
        h1{
            display: none;
        }
    } 
}
.product_list {
    width: 100%;
   
    &:first-child{
        min-height: 744px;
    }
    .custom-row {
        flex-wrap: wrap;
    }
}

.product__boxs {
    width: 31%;
    margin: 0 3% 7% 0 !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    &:nth-child(3n + 3) {
        margin-right: 0px !important;
        @include breakpoint(mobile_landscape) {
            margin: 0 3% 7% 0 !important;
        }
        @include breakpoint(iPad) {
            margin: 0 3% 7% 0 !important;
        }
    }
    &:nth-child(2n + 2) {
       
        @include breakpoint(mobile_landscape) {
            margin-right: 0px !important;
        }
        @include breakpoint(iPad) {
            margin-right: 0px !important;
        }
    }
    @include breakpoint(mobile_portrait) {
        width: 100%;
        margin: 0 0 15px 0 !important;
    } 
    @include breakpoint(mobile_landscape) {
        width: 48%;
    }
    @include breakpoint(iPad) {
        width: 48%;
    }
    h2 {
        margin: 10px 0 0;
        padding: 0px;
        color: $OxfordBlue-color;
        font-size: $font-size-base;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        min-height: 50px;
        display: block;
       
            :hover {
                color: $cyan-color;
            }
     
    }
    .product__img {
        border: 1px $lightGray-border solid;
        a {
            display: block;
            img {
                width: 100%;
            }
        }
    }

    .button-color {
        @include padding(5px, 10px, 5px, 10px);
        font-weight: 500;
        font-size: 13px;
        &:hover {
            @include background($OxfordBlue);
            @include border(1px, $OxfordBlue, solid);
            font-size: 13px;
        }
    }
}
