.site_info__block {
    background:$lemon url("#{$assetPath}/green-bg.svg") no-repeat center bottom ;
    padding: 40px 0 100px 0;
    background-size: 100%;
    position: relative;
    min-height: 298px;
    @include breakpoint(mobile_portrait){
        padding: 40px 0 60px 0;   
    }
    @include breakpoint(mobile_landscape){
        padding: 40px 0 52px 0;   
        min-height: 253px;
    }
    h1 {
        margin: 0 0 25px;
        padding: 0 150px;
        text-align: center;
        color: $OxfordBlue;
        font-family: 'Montserrat', sans-serif;
        font-size: $font-size-h1;
        font-weight: 600;
        @include breakpoint(mobile) {
            padding: 0px;
        }
        @include breakpoint(iPad) {
            padding: 0 10%;
        }
    }
    .button-color{
        i{
            background: url("#{$assetPath}/login-arrow-icon.svg") no-repeat center center;
            background-size: 100%;
            display: inline-block;
            width: 18px;
            height: 18px;
            vertical-align: middle;
            margin-left: 10px;
        }
    }
    .wrapper {
        position: relative;
        z-index: 2;
    }
    .curve_img {
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: 0;
        height: 150px;
        display: none;

        background: url("#{$assetPath}/green-bg.svg") no-repeat center bottom scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
