{% if post.get_field('hero_image') %}

<section class="main-pg-hd-section top-level-hero">
	<div class="container-sm">
		<div class="inner-banner-sm-hd">
			<h1>{{post.get_field('hero_title')?post.get_field('hero_title'):(post.title?post.title:title)}}</h1>
		</div>
		<div class="inner-banner-sm-img">
			{% if post.get_field('hero_image') %}
			<picture>
				<img src="{{ TimberImage(post.get_field('hero_image')).src('page-hero') }}" alt="{{ post.get_field('hero_image').alt }}" />
			</picture>
			{% elseif post.thumbnail %}
			<picture>
				<img src="{{ TimberImage(post.thumbnail).src('page-hero') }}" alt="{{ post.thumbnail.alt }}" />
			</picture>
			{% endif %}
		</div>
	</div>
</section>
<div id="scroll-to-main"></div>
{% endif %}
