<section class="find-out-section get-in-touch-footer light-gray-bg">
	<div class="container-sm">
		<div class="section-hd">
			<h2>{{contact_post.get_field('contact_heading')}}</h2>
		</div>
		<div class="find-out-section-content">
			<div class="btn-set--left">
				<a href="tel:{{contact_post.get_field('telephone')}}">{{contact_post.get_field('telephone')}}</a>
				<a href="mailto:{{contact_post.get_field('email')}}">{{contact_post.get_field('email')}}</a>
			</div>
		</div>
		<div class="get-in-touch-section-content">
				<div class="get-in-touch-form">
					{{ function('do_shortcode', '[contact-form-7 id="5" title="Contact form 1"]') }}
				</div>
		</div>
	</div>
</section>
