{% if post.get_field('hero_image') %}
<section class="page-hero-image-section full-bg-hero">
	   <div class="page-hero-image">
	  {% if post.get_field('hero_image') %}
				<picture>
					<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.get_field('hero_image')).src('banner-image-mobile') }}" />
					<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(post.get_field('hero_image')).src('banner-image-ipad') }}" />
					<img src="{{ TimberImage(post.get_field('hero_image')).src('sub-page-hero') }}" alt="{{ post.get_field('banner-image').alt }}" />
				</picture>
				{% elseif post.thumbnail %}
				<picture>
					<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.thumbnail).src('banner-image-mobile') }}" />
					<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(post.thumbnail).src('banner-image-ipad') }}" />
					<img src="{{ TimberImage(post.thumbnail).src('banner-image') }}" alt="{{ post.thumbnail.alt }}" />
				</picture>
				{% endif %}
	   
	   </div>
	   <div class="page-hero-content-outer">
	      <div class="container">
		     <div class="page-hero-content-in">
			   <div class="page-hero-content">
			     <h1>{{post.get_field('hero_title')?post.get_field('hero_title'):(post.title?post.title:title)}}</h1>
			   </div>
			 </div>
		  </div>
	   </div>
	</section>
{% endif %}
