{% if post.home_hero_list %}
<section class="home-page-slider-section">
	<div class="home-page-slider"> {% for slide in post.get_field('home_hero_list') %} {% set last_slide =slide %} {% if slide.hero_image %}
		<div class="home-page-slider-item">
			<div class="home-page-slider-row">
				<div class="home-page-slider-img"> {% if slide.hero_image %}
					<picture>
						<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(slide.hero_image_mobile ? slide.hero_image_mobile:slide.hero_image).src('hero-slider-mobile') }}" />
						<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(slide.hero_image_ipad?slide.hero_image_ipad:slide.hero_image).src('hero-slider-ipad') }}" /> <img src="{{ TimberImage(slide.hero_image).src('hero-slider') }}" alt="{{ slide.hero_image.alt }}" /> </picture> {# width= 1308 and height =1000 #} {% endif %} 
				</div>
				<div class="home-page-slider-content-outer">
					<div class="container">
						<div class="home-page-slider-content-in">
							<div class="home-page-slider-content">
								<h1>{{slide.hero_content}}</h1>
								<div class="btn-set--left"> <a href="{{slide.hero_cta.url}}" class="secondary-outline-btn" target="{{slide.hero_cta.target}}">{{slide.hero_cta.title}}</a> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>{% endif %} {% endfor %} </div>
</section>
<div id="scroll-to-main"></div> {% endif %}