<footer>
	<div class="container-lg">
	<div class="custom-row">
							<div class="footer-left">
								<div class="site-footer-logo">
									<img src="https://dev.oxypay.in/GUUD/wp-content/themes/guud-2023/assets/img/icons/guud property logo white-01-01.svg" />
								</div>
								<div class="footer-social-media">
									<ul class="social-media-icon">
                                       <li><a class="facebook" href="{{contact_post.get_field('facebook')}}"></a></li>
									   <li><a class="instagram" href="{{contact_post.get_field('instagram')}}"></a></li>
									   <li><a class="linkedin" href="{{contact_post.get_field('linkedin')}}"></a></li>
									   <li><a class="twitter" href="{{contact_post.get_field('twitter')}}"></a></li>
									</ul>
								</div>
							</div>
							<div class="footer-center">
								{% if contact_post.get_field('footer_certified_logos') %}
								<ul class="property-logos">
								{% for item in contact_post.get_field('footer_certified_logos')  %}
									<li>
									<a href="{{item.certified_logo_cta.url}}" title="{{item.certified_logo_cta.title}}" target="{{item.certified_logo_cta.target}}">
										<img src="{{ TimberImage(item.certified_logo).src('src') }}" alt="{{ item.certified_logo.alt }}"/>
									</a>
					                </li>
								{% endfor %}
								</ul>
								{% endif %}
							</div>
							<div class="footer-right">
								{% include "menu.twig" with {'items': footer_menu_1.get_items} %}
								<p class="copy-right">Website created by
					<a href="https://blooberrycreative.co.uk/" target="_blank">Blooberry Creative</a>
				</p>
							</div>
						</div>


	</div>
</footer>
