{% set colorArray = [] %}
{% for content_row in post.meta('flexible-post-content') %}
	{% set template_path =  "partial/post/block-"~content_row.acf_fc_layout|replace({"_": "-"})|raw ~".twig" %}
	{% include [template_path, "partial/content/block-404.twig"] %}
{% endfor %}