.block_accordion {
  padding: $main-pd 0;
  @include breakpoint(ipad_portrait){
    padding: 4rem 0;
  }
  @include breakpoint(mobile) {
    padding: $main-pd-mob-p 0;
}
  h2 {
    color: $secondary-color;
    text-align: center;
  }
  .desc-box {
    text-align: center;
  }

  .a__box {
    margin-bottom: 1.5rem;
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin: 1rem 0;
      font-size: 1.3rem;
      color: $secondary-color;
      font-family: "MuseoSans-500";
      @include breakpoint(ipad_portrait) {
        font-size: 1.2rem;
      }
      @include breakpoint(mobile_landscape) {
        font-size: 1.2rem;
      }
      @include breakpoint(mobile_portrait) {
        font-size: 1.2rem;
      }
    }

    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      li {
          position: relative;
          margin: 0 0 0.6rem 0;
          padding: 0 0 0 1.5rem;
          br {
              @include breakpoint(ipad_portrait) {
                  display: none;
              }
              @include breakpoint(mobile) {
                  display: none;
              }
          }
          &::before {
              width: 12px;
              height: 12px;
              position: absolute;
              left: 0px;
              top: 6px;
              background: $primary-color;
              content: "";
          }
      }
  }

    .a_b__top {
      border-bottom: 3px $primary-color solid;
      padding: 1.1rem 0;
      outline: none !important;
      h5 {
        font-family: "MuseoSans-500";
        margin: 0px;
        padding: 0 25px 0 0;
        font-size: 1.3rem;
        color: $secondary-color;
        cursor: pointer;
        background: url("#{$assetPathIcons}/orange arrow.svg") no-repeat right center;
        background-size: 22px;

        @include breakpoint(ipad_portrait) {
          font-size: 1.2rem;
        }
        @include breakpoint(mobile_landscape) {
          font-size: 1.2rem;
        }
        @include breakpoint(mobile_portrait) {
          font-size: 1.2rem;
        }
      }
    }
    .collapse {
      background-color: $white;
      padding: 1.5rem;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
      display: none;
      p{
        img{
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
    &.accordion-active {
      .a_b__top {
        h5 {
          background: url("#{$assetPathIcons}/orange arrow down.svg") no-repeat right center;
          background-size: 16px;
        }
      }

      .collapse {
        display: block;
      }
    }
  }
}
