.cards {
    .cards--inner {
        display: block;
        background-color: $white;
        padding: 2rem 1.5rem 4rem 1.5rem;
        box-shadow: -2px 7px 6px rgb(0 0 0 / 50%);
        color: $white;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        position: relative;
    }
}

.card--3 {
    
    @include breakpoint(mobile) {
        margin-top: $main-pd-mob-p;
    }
    .custom-row {
        align-items: flex-start;
        z-index: 1;
        position: relative;
        @include breakpoint(mobile_landscape) {
            display: block;
        }
        @include breakpoint(mobile_portrait) {
            display: block;
        }
    }
    .desc--box {
        margin-bottom: 2rem;
    }
    .absolute-arrow {
        position: absolute;
        bottom: 1.5rem;
        right: 2rem;
    }
    .cards {
        width: 33.33%;
        @include breakpoint(mobile_landscape) {
            width: 450px;
            margin: auto;
        }
        @include breakpoint(mobile_portrait) {
            width: 88%;
            margin: auto;
        }
        .cards--inner {
            border-radius: 0px;
            padding: 2rem;
            cursor: pointer;
            @include breakpoint(big_screen) {
                padding: 5rem;
            }
            @include breakpoint(ipad_landscape) {
                padding:2rem 1.5rem;
            }
            @include breakpoint(ipad_portrait) {
                padding:2rem 0.8rem;
            }
            i {
                width: 100px;
                display: block;
                @include breakpoint(scrn-3){
                    width: 90px;
                  }
                @include breakpoint(scrn-4){
                    width: 85px;
                }
                @include breakpoint(ipad_portrait) {
                    width: 76px;
                }
                @include breakpoint(mobile) {
                    width: 66px;
                }
                img {
                    width: 100%;
                    display: block;
                    filter: gray; /* IE6-9 */
                    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
                    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
                }
            }
            h2{
                @include breakpoint(ipad_landscape) {
                    font-size: 1.5rem;
                }
                @include breakpoint(ipad_portrait) {
                    font-size: 1.1rem;
                }
            }
        }
        &:nth-child(1) {
            z-index: 2;
            .cards--inner {
                background-color: $light-orange;
                color: $secondary-color;
                i{
                    img{
                        &.white-icon{
                            display: none;
                        }
                    }
                }
                h2 {
                    color: $secondary-color;
                    letter-spacing: $letter-spacing;
                    font-family: 'MuseoSans-700';
                    a {
                        color: $secondary-color;
                    }
                }
                .arrow-right {
                    background: url("#{$assetPathIcons}/dark arrow.svg") no-repeat center center;
                    display: block;
                    width: 35px;
                    height: 35px;
                    background-size: 100%;
                }
            }
            @media (min-width: 1025px) and (max-width: 2500000000px) {
                &:hover {
                    .cards--inner {
                        background-color: $primary-color;
                        color: $white;
                        i{
                            img{
                                &.black-icon{
                                    display: none;
                                }
                                &.white-icon{
                                    display: block;
                                }
                            }
                        }
                        h2 {
                            color: $white;
                            font-family: 'MuseoSans-500';
                            a {
                                color: $white;
                            }
                        }
                        .arrow-right {
                            background: url("#{$assetPathIcons}/white arrow.svg") no-repeat center center;
                            display: block;
                            width: 35px;
                            height: 35px;
                            background-size: 100%;
                        }
                        .desc--box ul li::before {
                            background: $white;
                        }
                    }
                }
            }
           
        }
        &:nth-child(2) {
            margin-top: 5rem;
            z-index: 1;
            @include breakpoint(mobile_landscape) {
                margin-top: 0rem;
            }
            @include breakpoint(mobile_portrait) {
                margin-top: 0rem;
            }
            .cards--inner {
                background-color: $gray-color;
                i{
                    img{
                        &.black-icon{
                            display: none;
                        }
                        
                    }
                }
                h2 {
                    font-family: "MuseoSans-500";
                    color: $white;
                    a {
                        color: $white;
                    }
                }
            }
            @media (min-width: 1025px) and (max-width: 2500000000px) {
                &:hover {
                    .cards--inner {
                        background-color: $secondary-color;
                    }
                }
            }
           
        }
        &:nth-child(3) {
            margin-top: 10rem;
            @include breakpoint(mobile_landscape) {
                margin-top: 0rem;
            }
            @include breakpoint(mobile_portrait) {
                margin-top: 0rem;
            }
            .cards--inner {
                background-color: $secondary-color;
                i{
                    img{
                        &.black-icon{
                            display: none;
                        }
                        
                    }
                }
                h2 {
                    font-family: "MuseoSans-500";
                    color: $white;
                    a {
                        color: $white;
                    }
                }
            }
            @media (min-width: 1025px) and (max-width: 2500000000px) {
                &:hover {
                    .cards--inner {
                        background-color: $primary-color;
                        .desc--box ul li::before {
                            background: $white;
                        }
                    }
                }
            }
        
        }
    }
}

.img-txt-card {
    width: 50%;
    display: flex;
    align-items: flex-start;
    padding: 3rem 2rem;
    @include breakpoint(ipad_landscape) {
        width: 100%;
        padding: 1.5rem 2rem;
    }
    @include breakpoint(ipad_portrait) {
        width: 100%;
        padding: 1.5rem 2rem;
    }
    @include breakpoint(mobile_landscape) {
        width: 100%;
        padding: 1.5rem 2rem;
    }
    @include breakpoint(mobile_portrait) {
        width: 100%;
        flex-wrap: wrap;
        padding: 0 0 3rem 0;
    }
    &:last-child {
        @include breakpoint(mobile_portrait) {
            padding: 0;
        }
    }
    .img-txt-card-img {
        width: 35%;
        @include breakpoint(ipad_landscape) {
            width: 25%;
        }
        @include breakpoint(ipad_portrait) {
            width: 30%;
        }
        @include breakpoint(mobile_portrait) {
            width: 100%;
        }
        img {
            width: 100%;
            display: block;
        }
    }
    .img-txt-card-content {
        width: 65%;
        padding-left: 2rem;
        position: relative;
        padding-bottom: 2.5rem;
        height: 100%;
        @include breakpoint(ipad_landscape) {
            width: calc(100% - 25%);
        }
        @include breakpoint(ipad_portrait) {
            width: calc(100% - 30%);
        }
        @include breakpoint(ipad_portrait) {
            padding-left: 1rem;
        }
        @include breakpoint(mobile_portrait) {
            width: 100%;
            padding-left: 0px;
            padding-top: 2rem;
            height: auto;
        }
        h5 {
            color: $secondary-color;
            margin: 0px;
            text-transform: uppercase;
            a {
                color: $secondary-color;
                // &:hover{
                //     color: $primary-color;
                // }
            }
        }
        .desc--box {
            margin: 0.5rem 0;
        }
        .btn-set--right {
            position: absolute;
            right: 0px;
            bottom: 0px;
        }

        .arrow-right {
            background: url("#{$assetPathIcons}/dark arrow.svg") no-repeat center center;
            display: block;
            width: 35px;
            height: 35px;
            background-size: 100%;
            // &:hover{
            //     background: url("#{$assetPathIcons}/orange arrow.svg") no-repeat center center;
            //     background-size: 100%;
            // }
        }
    }
    &:hover {
        .img-txt-card-content {
            h5 {
                a {
                    color: $primary-color;
                }
            }

            .arrow-right {
                background: url("#{$assetPathIcons}/orange arrow.svg") no-repeat center center;
                display: block;
                width: 35px;
                height: 35px;
                background-size: 100%;
            }
        }
    }
}
