.get-in-touch {
  .get-in-touch-left {
    width: 35%;
    @include breakpoint(ipad_landscape){
      width: 40%;
    }
    @include breakpoint(ipad_portrait){
      width: 43%;
    }
    @include breakpoint(mobile){
      width: 100%;
    }
  }
  .get-in-touch-right {
    width: 65%;
    padding-left: 2rem;
    @include breakpoint(ipad_landscape){
      width: 60%;
    }
    @include breakpoint(ipad_portrait){
      padding-left: 0rem;
      margin-left: auto;
      width: 55%;
    }
    @include breakpoint(mobile){
      padding-left: 0rem;
      margin-top: $main-pd-mob-p;
      width: 100%;
    }
  }
}

.get-in-touch--section {
  h2.title {
    &::after {
      margin: auto;
    }
  }
}
.get-in-touch-icons {
  ul {
    margin: 0;
    padding: 0px;
    list-style: none;
    li {
      margin: 0 0 2rem 0;
      padding: 0px;
      a {
        display: flex;
        font-size: 1.6rem;
        color: $secondary-color;
        align-items: center;
        font-weight: 600;
        @include breakpoint(scrn-3){
          font-size: 1.4rem;
      }
        @include breakpoint(scrn-4){
          font-size: 1.4rem;
      }
        @include breakpoint(ipad_portrait){
          font-size: 1.3rem;
        }
        @include breakpoint(mobile_portrait) {
          font-size: 1.4rem;
        }
        span {
          @include gradient;
          width: 70px;
          min-width: 70px;
          height: 70px;
          padding: 5px;
          margin-right: 1.5rem;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include breakpoint(scrn-3){
            margin-right: 1rem;
        }
          @include breakpoint(scrn-4){
            margin-right: 1rem;
        }
        
        @include breakpoint(scrn-3){
          width: 60px;
          min-width: 60px;
          height: 60px;
        }
        @include breakpoint(scrn-4){
          width: 60px;
          min-width: 60px;
          height: 60px;
        }
          @include breakpoint(ipad_landscape){
            width: 50px;
            min-width: 50px;
            height: 50px;
          }
          @include breakpoint(ipad_portrait){
            width: 50px;
            min-width: 50px;
            height: 50px;
            margin-right: 0.8rem;
          }
          @include breakpoint(mobile){
            width: 50px;
            min-width: 50px;
            height: 50px;
          }
          i {
            width: 100%;
            height: 100%;
            display: block;
           
          }
        }
        &:hover {
          span {
            background: $secondary-color;
          }
        }
      }
    }
  }
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  color: #ffb900;
  font-weight: 300;
  font-size: 1rem;
}
.wpcf7 form.sent .wpcf7-response-output {
  color: #46b450;
  font-weight: 300;
  font-size: 1rem;
}
.wpcf7-not-valid-tip {
  font-weight: 300;
  font-size: 1rem;
}
.wpcf7-list-item {
  margin: 0;
}
.input-field {
  label {
    color: $secondary-color;
    font-size: 1rem;
    a {
      color:  $primary-color;
      font-size: 1rem;
      &:hover {
        color: $secondary-color;
        font-weight: 500;
      }
    }
  }
}
.wpcf7 .wpcf7-submit:disabled {
  cursor: pointer !important;
}
.input-field-set {
  display: flex;
  margin-top: 2rem;
  @include breakpoint(mobile_portrait) {
    display: block;
  }
  .input-field {
    margin-top: 9px;
  }
  .input-submit-box {
    margin-left: auto;
    @include breakpoint(mobile_portrait) {
      margin-left: 0;
      margin-top: 2rem;
    }
  }
}
.wpcf7-acceptance {
  span {
    margin-right: 21px;
  }
}
.wpcf7-acceptance {
  position: relative;
  input{
    border: 0px;
    background: transparent;
    -webkit-appearance: checkbox;
  }
}
.wpcf7-acceptance input::after,
.wpcf7-acceptance input:checked::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 0;
  z-index: 2;
}
.wpcf7-acceptance input::before {
  content: '';
  background: $light-gray;
  width: 26px;
  height: 26px;
  position: absolute;
  left: -3px;
  top: -3px;
  z-index: 1;
}
.wpcf7-acceptance input::after {
  background: url('#{$assetPath}/checkinput.svg') no-repeat center center;
  background-size: 100%;
}
.wpcf7-acceptance input:checked::after {
  background: url('#{$assetPath}/checkedinput.svg') no-repeat center center;
  background-size: 100%;
}
.contact{
  .card--3 .cards{
      .cards--inner{
        @include breakpoint(scrn-4) {
          padding: 3rem 1rem;
        }
        @media (min-width: 1025px) and (max-width: 1200px) {
          padding: 3rem 1rem;
        }
        @include breakpoint(ipad_landscape) {
         padding: 3rem 1rem;
        }
        @include breakpoint(ipad_portrait) {
          padding: 2rem 1rem;
        }
        a{
          display: block;
          text-align: center;
          i{
            margin: auto;
            width: 140px;
            @include breakpoint(ipad_portrait) {
              width: 100px;
            }
            @include breakpoint(mobile) {
              width: 100px;
            }
          }
          h2{
            margin-top: 0px;
            font-family: 'MuseoSans-500';
            text-transform: capitalize;
            white-space: nowrap;
            @media (min-width: 1025px) and (max-width: 1200px) {
              font-size: 1.6rem;
            }
            @include breakpoint(ipad_landscape) {
              font-size: 1.6rem;
            }
            @include breakpoint(ipad_portrait) {
              font-size: 1.3rem;
            }
          }
        }
      }
    }

}
.wpcf7-spinner{
  display: none;
}
.contact-section {
  background: $light-gray;
  padding: $main-pd 0;
  @include breakpoint(ipad_portrait){
    padding: 4rem 0;
  }
  @include breakpoint(mobile){
    padding: $main-pd-mob-p 0;
  }
  .get-in-touch-block{
    max-width: 700px;
    margin: auto;
  }
  .get-in-touch {
    margin-top: 0px;
    .get-in-touch-left {
      padding-top: 0px;
    }
  }
 
  .get-in-touch-icons {
    ul {
      li {
        a {
          font-size: 1.8rem;
          color: $white;
          font-weight: 500;
          span {
            background: transparent;
            width: 60px;
            height: 60px;
            padding: 0px;
            margin-right: 1.5rem;
            border-radius: 60px;
            i {
              width: 100%;
              height: 100%;
              display: block;
            }
          }
          &:hover {
            span {
              background: transparent;
            }
          }
        }
      }
    }
  }
}

.contact-top-section{
  .card--3.common-section-top-pd{
    @include breakpoint(mobile){
      padding-top: 0px;
    }
  }
}
.input-field-set {
  .input-field {
    margin-bottom: 0px;
      label {
          padding-left: 32px;
          display: block;
          align-items: center;
          position: relative;
          .acceptance-terms {
              position: absolute;
              left: 0px;
              top: -2px;
          }
      }
  }
}