.hero--section {
  position: relative;
  overflow: hidden;
  background: $primary-color;
  &.home-hero--section{
    background: #1d2336;
    padding: 14rem 0 9rem 0;
    @include breakpoint(scrn-3){
      padding: 10rem 0 5rem 0;
    }
    @include breakpoint(scrn-4){
      padding: 11rem 0 6rem 0;
    }
    @include breakpoint(ipad_landscape){
      padding: 9rem 0 6rem 0;
    }
    @include breakpoint(ipad_portrait){
      padding: 9rem 0 6rem 0;
    }
    @include breakpoint(mobile_landscape){
      padding: 7rem 0 4rem 0;
    }
    @include breakpoint(mobile_portrait){
      padding: 9rem 0 4rem 0;
    }
    .container-fluid{
      position: relative;
      display: flex;
      align-items: center;
      @include breakpoint(mobile_portrait){
        flex-wrap: wrap;
      }
    }
  }

  img {
    width: 100%;
    display: block;
  }

  .hero-text {
    width: 100%;
    height: 100%;
  }

  .hero-text--inner {
    width: 731px;
    margin-top: 0;
    margin-left: 6rem;
    @media (min-width: 1501px) and (max-width: 1700px) {
      margin-left: 3rem;
    }
    @media (min-width: 1400px) and (max-width: 1500px) {
      width: 667px;
      margin-left: 1rem;
    }
    @include breakpoint(scrn-3){
      width: 680px;
      margin-left: 1rem;
    }
    @include breakpoint(scrn-4){
      margin-left: 2rem;
    }
    @include breakpoint(ipad_landscape){
      margin-left: 2rem;
    }
    @include breakpoint(ipad_portrait){
      width: 47%;
      margin-left: 1rem;
    }
    @include breakpoint(mobile_landscape){
      width: 41%;
      margin-left: 1rem;
    }
    @include breakpoint(mobile_portrait){
      width: 100%;
      margin-left: 0px;
    }

    h1 {
      margin: 0 0 0rem 0;
      padding: 0px;
      color: $white;
      font-family: "MuseoSans-700";
    }
    .desc--box {
      margin: 1rem 0 3rem 0;
      font-size: $h1;
      font-family: "MuseoSans-500";
      line-height: 4rem;
      @media (min-width: 1501px) and (max-width: 1700px) {
        font-size: 3.2rem;
        width: 711px;
      }
      @media (min-width: 1400px) and (max-width: 1500px) {
        font-size: 3.1rem;
      }
      @include breakpoint(scrn-3){
        font-size: 3rem;
        line-height: 3.3rem;
      }
      @include breakpoint(scrn-4){
        font-size: $h1-laptop-p;
        line-height: 3.2rem;
      }
      @include breakpoint(ipad_landscape){
        line-height: 2.7rem;
        font-size: $h1-ipad-l;
      }
      @include breakpoint(ipad_portrait){
        font-size: $h1-ipad-p;
        line-height: 2.5rem;
      }
      @include breakpoint(mobile_landscape){
        font-size: $h1-mob-l;
        line-height: 2rem;
      }
      @include breakpoint(mobile_portrait){
        font-size: $h1-mob-p;
        line-height: 2rem;
      }

      p {
        color: $white;
      }
      span {
        color: $primary-color;
      }
    }
  }
  .home-banner-right{
    width: 53%;
    position: relative;
    right: -4rem;
    margin-left: auto;
    @include breakpoint(ipad_landscape){
      width: 84%;
      right: -1rem;
    }
    @include breakpoint(ipad_portrait){
      width: 68%;
      right: -1rem;
    }
    @include breakpoint(mobile_landscape){
      width: 60%;
      position: relative;
      right: -22px;
      margin-left: auto;
    }
    @include breakpoint(mobile_portrait){
      width: 100%;
      margin-top: 3rem;
      right: -15px;
    }
    img{
      width: 100%;
      display: block;
      max-width: inherit;
    }
  }
}

.contact-info-icons {
  margin: 0px;
  padding: 0;
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    li {
      margin: 0 0 1rem 0;
      padding: 0px;
      @include breakpoint(mobile) {
        margin: 0 0 0.7rem 0;
      }
      &:last-child {
        margin-bottom: 0px;
      }
      a {
        display: flex;
        align-items: center;
        color: $secondary-color;
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        @include breakpoint(mobile_landscape) {
          font-size: 1.2rem;
        }
        @include breakpoint(mobile_portrait) {
          font-size: 1rem;
        }
        i {
          margin-right: 1rem;
          svg {
            width: 40px;
            stroke: $secondary-color;
            stroke-width: 5px;
            @include breakpoint(mobile) {
              width: 30px;
            }
          }
        }
        &:hover {
          color: $white;
          i {
            svg {
              stroke: $white;
            }
          }
        }
      }
      &:first-child {
        a {
          i {
            svg {
              margin-top: 8px;
            }
          }
        }
      }
      &:last-child {
        a {
          i {
            svg {
              margin-top: 11px;
            }
          }
        }
      }
    }
  }
}
