.inner-page-hero {
  position: relative;
  @include gradient2;
  height: 550px;

  @include breakpoint(scrn-1){
    height: 463px;
  }
  @include breakpoint(scrn-2){
    height: 400px;
  }
  @include breakpoint(scrn-3){
    height: 400px;
  }
  @include breakpoint(scrn-4){
    height: 400px;
  }
  
  @include breakpoint(ipad_landscape) {
    height: 318px;
  }
  @include breakpoint(ipad_portrait) {
    height: 253px;
  }
  @include breakpoint(mobile_landscape) {
    height: 240px;
  }
  @include breakpoint(mobile_portrait) {
    height: 310px;
    padding-top: 6.6rem
  }
  .container-fluid,
  .container-sm {
    height: 100%;
    display: flex;
    align-items: flex-end;
    @include breakpoint(mobile_portrait) {
      display: block;
    }
  }
  &.inner-details-page-hero {
    .container {
      align-items: center;
      justify-content: center;
    }
  }
  h1 {
    margin: 0;
    padding: 5rem 0 0 0;
    color: $white;
    font-family: "MuseoSans-500";
    @include breakpoint(mobile_portrait) {
      padding: 0;
    }
  }
  h2 {
    margin: 0;
    padding: 0px;
    color: $white;
    font-family: "MuseoSans-500";
    text-align: center;
  }
  .page-hero-center {
    text-align: center;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 12%;
    display: flex;
    padding-left: 0;
    width: 100%;
    justify-content: center;
  }
  .page-hero-left {
    width: 26%;
    margin-left: $mainhdleftpd;
    height: 100%;
    display: flex;
    align-items: center;
    @include breakpoint(scrn-1){
      width: 29%;
      margin-left: 7rem;
    }
    @include breakpoint(scrn-2){
      width: 29%;
      margin-left: 6rem;
    }
    @include breakpoint(scrn-3){
      width: 32%;
      margin-left: 3rem;
    }
    @include breakpoint(scrn-4){
      width: 33%;
      margin-left: 4rem;
    }
    @include breakpoint(ipad_landscape) {
      margin-left: 2rem;
      width:auto;
    }
    @include breakpoint(ipad_portrait) {
      margin-left: 1rem;
      width: auto;
    }
    @include breakpoint(mobile_landscape) {
      margin-left: 0rem;
      width: auto;
    }
    @include breakpoint(mobile_portrait) {
      margin-left: 0px;
      margin-bottom: 2rem;
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .page-hero-right {
    width: 57%;
    position: relative;
    background: url("#{$assetPath}/round-bg-img2.png") no-repeat center bottom;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: 95%;
    height: 100%;

    @include breakpoint(ipad_landscape) {
      margin-left: auto;
      width: 64%;
    }
    @include breakpoint(ipad_portrait) {
      margin-left: auto;
      width: 64%;
    }
    @include breakpoint(mobile_landscape) {
      width: 58%;
      margin-left: auto;
    }
    @include breakpoint(mobile_portrait) {
      width: 100%;
      height: auto;
      min-height: 134px;
    }
    

    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   background-color: $gray-color;
    //   height: 150%;
    //   left: 0px;
    //   bottom: -83%;
    //   right: 0;
    //   border-radius: 150%;
    //   margin: auto;
    // }
    img {
      width: 100%;
      height: auto;
      display: block;
      position: relative;
      z-index: 1;
      max-width: inherit;
    }
  }
}

.case_study-template-default,
.post-template-default {
  .inner-page-hero {
    @include breakpoint(mobile_landscape) {
      height: 200px;
      .page-hero-center{
        padding-bottom: 6%;
      }
    }
    @include breakpoint(mobile_portrait) {
      height: auto;
    }
    .container-fluid {
      max-width: 980px;
      width: calc(100% - 12rem);
      margin-left: auto;
      margin-right: auto;
      @include breakpoint(big_screen) {
        max-width: 1180px;
      }
      @include breakpoint(mobile) {
        width: calc(100% - 2rem);
      }
      @include breakpoint(mobile_landscape) {
        width: calc(100% - 4rem);
      }
    }
    .page-hero-left {
      width: 100%;
      margin-left: 0;
      @include breakpoint(mobile) {
        padding-top: 6rem;
        padding-bottom: 3rem;
      }
    }
    .page-hero-right {
      display: none;
    }
  }
}

.services,
.single-services,
.contact
{
  .inner-page-hero .page-hero-right img {
    margin-bottom: -1rem;
  }
}



  .inner-page-hero .page-hero-right img {
    @include breakpoint(mobile_portrait) {
      margin-bottom: 0px;
      margin-top: -2rem;
    }
  }
