#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-item > a.mega-menu-link {
    font-size: $mainMenuFont;
    text-transform: uppercase;
    padding: 0px 10px;
    @media (min-width: 1500px) and (max-width: 1599px) {
        padding: 0px 10px;
    }
    @media (min-width: 1400px) and (max-width: 1499px) {
        padding: 0px 10px;
    }
    @media (min-width: 1300px) and (max-width: 1399px) {
        padding: 0px 9px;
    }
    @media (min-width: 1279px) and (max-width: 1299px) {
        padding: 0px 4px;
    }
    @media (min-width: 1231px) and (max-width: 1278px) {
        padding: 0px;
    }
}
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    li.mega-menu-item-has-children
    > a.mega-menu-link
    > span.mega-indicator {
    display: none;
}
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    > li.mega-menu-item
    li.mega-menu-item
    > a.mega-menu-link {
    font-size: $mainMenuSubFont;
}
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-item {
    margin: 0 10px;
    @media (min-width: 1600px) and (max-width: 1700px) {
        margin: 0 5px;
    }
    @media (min-width: 1500px) and (max-width: 1599px) {
        margin: 0 5px;
    }
    @media (min-width: 1400px) and (max-width: 1499px) {
        margin: 0px;
    }
    @media (min-width: 1300px) and (max-width: 1399px) {
        margin: 0px;
    }
}
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    > li.mega-menu-item
    > a.mega-menu-link {
    font-size: $mainMenuSubFont;
}

@media only screen and (min-width: 769px) {
    #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1[data-effect=fade_up] li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu, 
    #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1[data-effect=fade_up] li.mega-menu-item.mega-menu-flyout ul.mega-sub-menu{
        min-height: 253px;
    }
    #mega-menu-wrap-max_mega_menu_1 {
        background: transparent;
    }
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1
        > li.mega-menu-megamenu
        > ul.mega-sub-menu
        li.mega-menu-columns-1-of-7 {
        width: 300px;
        padding:0 15px;
    }
    #mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-item > a.mega-menu-link:hover {
        background: transparent;
        color: $primary-color;
        font-family: "MuseoSans-500";
    }
}
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item, 
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item{
    padding: 0px 15px 0 15px;
}
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu{
    left: inherit;
}
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-item.mega-current-menu-item
    > a.mega-menu-link,
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-item.mega-current-menu-ancestor
    > a.mega-menu-link,
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-item.mega-toggle-on > a.mega-menu-link,
#mega-menu-wrap-max_mega_menu_1.mega-keyboard-navigation > li.mega-menu-item > a.mega-menu-link:focus {
    background: transparent;
    color: $primary-color;
    font-family: "MuseoSans-500";
}
@media only screen and (max-width: 768px) {
    #mega-menu-wrap-max_mega_menu_1.mega-keyboard-navigation > li.mega-menu-item > a.mega-menu-link:focus {
        background: transparent;
        color: $primary-color;
    }
}
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 li.mega-menu-item.mega-current-menu-item a {
    color: $secondary-color;
}
#mega-menu-wrap-max_mega_menu_1 #mega-menu-max_mega_menu_1 > li.mega-menu-megamenu > ul.mega-sub-menu {
    &::after {
        content: "";
        width: 10000%;
        height: 100%;
        background: $primary-color;
        top: 0px;
        left: 0;
        position: absolute;
        z-index: -1;
        display: block;
    }
    &::before {
        content: "";
        width: 10000%;
        height: 100%;
        background: $primary-color;
        top: 0px;
        right: 0;
        position: absolute;
        z-index: -1;
        display: block;
    }
}

@media only screen and (min-width: 769px) {
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="fade"]
        li.mega-menu-item
        > ul.mega-sub-menu {
        opacity: 0;
        transition: opacity 200ms ease-in, visibility 200ms ease-in;
    }
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="fade"].mega-no-js
        li.mega-menu-item:hover
        > ul.mega-sub-menu,
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="fade"].mega-no-js
        li.mega-menu-item:focus
        > ul.mega-sub-menu,
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="fade"]
        li.mega-menu-item.mega-toggle-on
        > ul.mega-sub-menu,
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="fade"]
        li.mega-menu-item.mega-menu-megamenu.mega-toggle-on
        ul.mega-sub-menu {
        opacity: 1;
    }
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="fade_up"]
        li.mega-menu-item.mega-menu-megamenu
        > ul.mega-sub-menu,
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="fade_up"]
        li.mega-menu-item.mega-menu-flyout
        ul.mega-sub-menu {
        opacity: 0;
        transform: translate(0, 10px);
        transition: opacity 200ms ease-in, transform 200ms ease-in, visibility 200ms ease-in;
    }
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="fade_up"].mega-no-js
        li.mega-menu-item:hover
        > ul.mega-sub-menu,
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="fade_up"].mega-no-js
        li.mega-menu-item:focus
        > ul.mega-sub-menu,
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="fade_up"]
        li.mega-menu-item.mega-toggle-on
        > ul.mega-sub-menu,
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="fade_up"]
        li.mega-menu-item.mega-menu-megamenu.mega-toggle-on
        ul.mega-sub-menu {
        opacity: 1;
        margin-top: 24px;
        transform: translate(0, 0);
        padding: 45px 0;
    }
    .mega-sub-menu {
        .mega-sub-menu {
            margin-top: 0px !important;
            padding: 0 !important;
        }
    }
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="slide_up"]
        li.mega-menu-item.mega-menu-megamenu
        > ul.mega-sub-menu,
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="slide_up"]
        li.mega-menu-item.mega-menu-flyout
        ul.mega-sub-menu {
        transform: translate(0, 10px);
        transition: transform 200ms ease-in, visibility 200ms ease-in;
    }
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="slide_up"].mega-no-js
        li.mega-menu-item:hover
        > ul.mega-sub-menu,
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="slide_up"].mega-no-js
        li.mega-menu-item:focus
        > ul.mega-sub-menu,
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="slide_up"]
        li.mega-menu-item.mega-toggle-on
        > ul.mega-sub-menu,
    #mega-menu-wrap-max_mega_menu_1
        #mega-menu-max_mega_menu_1[data-effect="slide_up"]
        li.mega-menu-item.mega-menu-megamenu.mega-toggle-on
        ul.mega-sub-menu {
        transform: translate(0, 0);
    }
}
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    > li.mega-menu-item
    > a.mega-menu-link:hover,
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    li.mega-menu-column
    > ul.mega-sub-menu
    > li.mega-menu-item
    > a.mega-menu-link:hover,
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    > li.mega-menu-item
    > a.mega-menu-link:focus,
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    li.mega-menu-column
    > ul.mega-sub-menu
    > li.mega-menu-item
    > a.mega-menu-link:focus,
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    > li.mega-menu-item
    li.mega-menu-item
    > a.mega-menu-link:hover,
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    li.mega-menu-column
    > ul.mega-sub-menu
    > li.mega-menu-item
    li.mega-menu-item
    > a.mega-menu-link:hover,
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    > li.mega-menu-item
    li.mega-menu-item
    > a.mega-menu-link:focus,
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    li.mega-menu-column
    > ul.mega-sub-menu
    > li.mega-menu-item
    li.mega-menu-item
    > a.mega-menu-link:focus {
    color: #fff;
    font-family: "MuseoSans-500";
}

#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    > li.mega-menu-item.mega-current-menu-item
    > a.mega-menu-link,
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    li.mega-menu-column
    > ul.mega-sub-menu
    > li.mega-menu-item.mega-current-menu-item
    > a.mega-menu-link,
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    > li.mega-menu-item.mega-current-menu-item
    > a.mega-menu-link,
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    li.mega-menu-column
    > ul.mega-sub-menu
    > li.mega-menu-item.mega-current-menu-item
    > a.mega-menu-link,
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    > li.mega-menu-item
    li.mega-menu-item.mega-current-menu-item
    > a.mega-menu-link,
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    li.mega-menu-column
    > ul.mega-sub-menu
    > li.mega-menu-item
    li.mega-menu-item.mega-current-menu-item
    > a.mega-menu-link,
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    > li.mega-menu-item
    li.mega-menu-item.mega-current-menu-item
    > a.mega-menu-link,
#mega-menu-wrap-max_mega_menu_1
    #mega-menu-max_mega_menu_1
    > li.mega-menu-megamenu
    > ul.mega-sub-menu
    li.mega-menu-column
    > ul.mega-sub-menu
    > li.mega-menu-item
    li.mega-menu-item.mega-current-menu-item
    > a.mega-menu-link {
    color: #fff;
    font-family: "MuseoSans-500";
}
