.pagination-block {
    margin-top: 1.5rem;
    .pagination {
        @include ul;
        display: flex;
        justify-content: end;
        li {
            margin: 0 0 0 20px;
            padding: 0px;
            a,
            button {
                color:$primary-color ;
                font-size: 1.2rem;
                display: block;
                font-weight: 500;
            }
            span {
                color: $secondary-color;
                font-size: 1.2rem;
                display: block;  
                font-weight: 500;
            }
        }
    }
}


.pagination {
    display: flex;
    justify-content: end;
    margin-top: 1.5rem;
    @include breakpoint(ipad_landscape){
     padding-right: 6rem;
    }
    @include breakpoint(ipad_portrait){
        padding-right: 2rem;
       }
        a,
        span {
            color:$primary-color ;
            font-size: 1.2rem;
            display: block;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500; padding: 0 10px;
        }
        .current{
            color:$secondary-color;
        }
       .current,
       .dots
       {
           position: relative;
           z-index: 9;
       }
   
}