.tag-content-row {
    background-color: $light-gray;
    padding: $main-pd 0;
    @include breakpoint(ipad_portrait){
        padding: 4rem 0;
      }
    @include breakpoint(mobile) {
        padding: $main-pd-mob-p 0;
    }
}
.post-row {
    position: relative;
    color: $secondary-color;
    margin-top: $main-pd;
    @include breakpoint(ipad_portrait){
        margin-top: 4rem;
      }
    @include breakpoint(mobile) {
        margin-top: 4rem;
    }
    &:first-child {
        margin-top: 0px;
    }
    .custom-row{
        @include breakpoint(ipad_portrait) {
            flex-direction: column-reverse;
            padding: 0px 6rem;
        
        }
        @include breakpoint(mobile) {
            flex-direction: column-reverse;
        }
        @include breakpoint(mobile_landscape) {
            padding: 0px 2.5rem;
        }
        @include breakpoint(mobile_portrait) {
            padding: 0px 1.5rem;
        }
    }
    h2 {
        margin: 0px;
        padding: 0px;
        color: $secondary-color;
    }
    .post-row--img {
        width: 35%;
        @include breakpoint(ipad_portrait) {
            width: 100%;
        }
        @include breakpoint(mobile) {
            width: 100%;
        }
        img {
            display: block;
            width: 100%;
        }
    }
    .post-row-content {
        width: 65%;
        padding: 0 10% 0 5rem;
        @include breakpoint(ipad_portrait) {
            padding: 0rem 0rem 2rem 0rem;
            width: 100%;
        }
       
        @include breakpoint(mobile) {
            padding: 0rem 0rem 2rem 0rem;
            width: 100%;
        }
        .desc--box {
            margin-top: 2rem;
            strong ~ ul {
                margin-top: 1.5rem;
            }
        }
    }

    &.post-row--secondary {
        .custom-row {
            flex-direction: row-reverse;
            @include breakpoint(ipad_portrait) {
                flex-direction: column-reverse;
            }
            @include breakpoint(mobile) {
                flex-direction: column-reverse;
            }
        }
        .post-row-content {
            padding: 0 5rem 0 10%;
            @include breakpoint(ipad_portrait) {
                padding: 0rem 0rem 2rem 0rem;
                width: 100%;
            }
            @include breakpoint(mobile) {
                padding: 0rem 0rem 2rem 0rem;
                width: 100%;
            }
        }
    }
}
