.video-ifram {
  padding: 0 3rem;

 
  @include breakpoint(ipad_portrait) {
    text-align: center;
    padding: 0 0;
  }
  @include breakpoint(mobile_landscape) {
    text-align: center;
    padding: 0 0;
  }
  @include breakpoint(mobile_portrait) {
    text-align: center;
    padding: 0 0;
  }
  img {
    max-width: 100%;
    display: block;
  }
  
  iframe {
    @include breakpoint(ipad_portrait) {
      width: 577px !important;
      height: 392px !important;
      margin: auto;
    }
    @include breakpoint(mobile_landscape) {
      width: 375px !important;
      height: 264px !important;
      margin: auto;
    }
    @include breakpoint(mobile_portrait) {
      width: 300px !important;
      height: 229px !important;
      margin: auto;
    }
  }
}

.back-to-section {
  padding: 4rem 0;
  .back-to-inner {
    text-align: center;
    a {
      color: $primary-color;
      font-size: 1.5rem;
      display: inline-block;
      font-weight: 800;
      background: url("#{$assetPath}/arrow blue left.svg") no-repeat left center;
      padding-left: 2rem;
      background-size: 20px;
    }
  }
}

.common-content-block {
  .desc--box {
    padding-left: 8rem;
    padding-right: 3rem;
    p{
      br{
        display: none;
      }
    }
    @include breakpoint(ipad_portrait) {
      padding-left: 3rem;
      padding-right: 2rem;
    }
    @include breakpoint(mobile_landscape) {
      padding-left: 0rem;
      padding-right: 0rem;
    }
    @include breakpoint(mobile_portrait) {
      padding-left: 0rem;
      padding-right: 0rem;
    }
  }
}

.splicecom-section {
  position: relative;
  padding-top: $main-pd;
  @include breakpoint(ipad_portrait){
    padding-top: 4rem;
  }
  @include breakpoint(mobile) {
    padding-top: $main-pd-mob-p;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    left: 0px;
    bottom: 0px;
    background: $white;
    @include breakpoint(scrn-4){
      height: 26%;
    }
  }
}
.contact-top-section {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    left: 0px;
    bottom: 0px;
    background: $light-gray;
    @include breakpoint(scrn-4) {
      height: 28%;
    }
    @include breakpoint(ipad_landscape) {
      height: 28%;
    }
    @include breakpoint(ipad_portrait) {
      height: 28%;
    }
  }
}
.related-section {
  position: relative;
  padding-top: $main-pd;
  @include breakpoint(ipad_portrait){
    padding-top: 4rem;
  }
  @include breakpoint(mobile) {
    padding-top: $main-pd-mob-p;
  }
  .card--3 {
    margin-top: $main-pd;
    @include breakpoint(ipad_portrait){
      margin-top: 4rem;
    }
    @include breakpoint(mobile) {
      margin-top: $main-pd-mob-p;
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 40%;
    left: 0px;
    bottom: 0px;
    background: $light-gray;
  }
}

.video--section,
.get-in-touch--section,
.features-table-section {
  .common-content-block {
    margin-bottom: $aftretitle;
  }
}

.partners-img {
  @include breakpoint(ipad_portrait){
    margin-top: 4rem;
  }
  @include breakpoint(mobile) {
    margin-top: $main-pd-mob-p;
  }
  img {
    width: 100%;
    display: block;
  }
}

.find-us-section {
  .custom-row {
    flex-direction: row-reverse;
    @include breakpoint(ipad_portrait) {
      flex-direction: row;
    }
    @include breakpoint(mobile) {
      flex-direction: row;
    }
    .find-us-left {
      width: 30%;
      margin-left: auto;
      @include breakpoint(ipad_portrait) {
        width: 100%;
      }
      @include breakpoint(mobile) {
        width: 100%;
      }
      h2 {
        display: flex;
        align-items: flex-start;
        color: $secondary-color;
        margin: 0px;
        padding: 0px;
        text-transform: uppercase;
        i {
          min-width: 66px;
          width: 66px;
          margin-right: 2rem;
          @include breakpoint(ipad_portrait) {
            min-width: 47px;
            width: 47px;
            margin-right: 1rem;
          }
          @include breakpoint(mobile) {
            min-width: 40px;
            width: 40px;
            margin-right: 1rem;
          }
          a{
            display: block;
            img {
              width: 100%;
              display: block;
            }
          }
         
        }
      }
      .address-txt {
        padding-left: 100px;
        line-height: $desc_lineheight;
        @include breakpoint(ipad_portrait) {
          padding-left: 60px;
        }
        @include breakpoint(mobile) {
          padding-left: 60px;
        }
      }
    }
    .find-us-right {
      width: 65%;
      @include breakpoint(ipad_portrait) {
        width: 100%;
        margin-top: 4rem;
      }
      @include breakpoint(mobile) {
        width: 100%;
        margin-top: $main-pd-mob-p;
      }
      img {
        display: block;
        width: 100%;
        max-width: inherit;
      }
    }
  }
}

.loadmore {
  text-align: center;
  padding-top:$main-pd;
  @include breakpoint(ipad_portrait){
    padding-top: 4rem;
  }
  @include breakpoint(mobile) {
    padding-top:$main-pd-mob-p;
  }
  .primary-btn {
    display: inline-flex;
    padding: 0.5rem 1rem 0.5rem 1rem;
    &::after {
      display: none;
    }
  }
}

.page-top-content {
  color: $white;
  img {
    box-shadow: -2px 7px 6px rgb(0 0 0 / 50%);
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .details_featured_img {
    position: relative;
    top: -3rem;
    @include breakpoint(mobile) {
      top: 0px;
      padding-top: $main-pd-mob-p;
    }
  }
}

.partners-img {
  position: relative;
  overflow: hidden;
  img {
    position: relative;
    z-index: 1;
  }
  &::after {
    content: "";
    position: absolute;
    width: 80%;
    background-color: $gray-color;
    height: 150%;
    left: 0px;
    bottom: -83%;
    right: 0;
    border-radius: 150%;
    margin: auto;
  }
}

.partners{
  .splicecom-section{
    .card--3{
      margin-top: 2rem;
    }
  }
}
.sectors-box-section.common-section-pd{
  padding-top: 3rem;
  padding-bottom: 0rem;
  .custom-row{
    @include breakpoint(ipad_landscape) {
      padding: 0 6rem;
    }
    @include breakpoint(ipad_portrait) {
      padding: 0 3rem;
    }
  }
}