.features-table-section {
    font-family: "MuseoSans-300";
    .container-sm{
        @include breakpoint(ipad_portrait) {
            width: 91%;
          }
    }
    
    tbody tr:nth-child(odd) {
        background: $light-orange;
    }
    td,
    th {
        border-top: 1px $gray-color solid;
        border-left: 1px $gray-color solid;
        text-align: center;
    }
    tbody tr td:first-child{
        text-align: left;
        @media (min-width: 320px) and (max-width: 767px){
            .td-content{
                width:100% ;
            }
        }
    }
    table {
        border-bottom: 1px $gray-color solid;
        border-right: 1px $gray-color solid;
    }
    i {
        width: 25px;
        display: block;
        margin: auto;
        
        img {
            display: block;
            width: 100%;
            &.cross-icon{
                width: 80%;
            }
        }
    }
    span {
        display: block;
    }
    i ~ span {
        margin-top: 0.5rem;
    }
    th {
        background-color: $secondary-color;
        color: $white;
        padding: 1rem;
        font-family: "MuseoSans-300";
        font-weight: 300;
        &:empty {
            background-color: transparent;
            border: 0px;
        }
    }
    td {
        padding: 0.8rem 1rem;
    }
    @media (min-width: 320px) and (max-width: 767px)  {
        table {
            border: 0px $gray-color solid;
        }
       
        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        .features-table-section td,
        .features-table-section th {
            text-align: left;
        }

        tr {
            margin: 0 0 1rem 0;
        }

        tr:nth-child(odd) {
            background: #ccc;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            position: relative;
            text-align: left;
            display: flex;
            padding: 0px;
            align-items: center;
        }
        i {
            margin: 0;
        }
        tr{
            border: 1px $gray-color solid;
        }
        td{
            border-top: 1px $gray-color solid;
        }
       

        td:before {
            top: 0;
            left: 6px;
            width: 45%;
            padding: 10px;
            text-align: left;
            border-right: 1px $gray-color solid;
            
        }
        .td-content{
            width: 65%;
            padding: 10px;
        }
        td:nth-of-type(1):before {
            display: none;
        }

        /*
            Label the data
        You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
            */
        td:nth-of-type(1):before {
            content: "";
        }
        td:nth-of-type(2):before {
            content: "Splicecom Micro Cloud for Small Enterprise";
        }
        td:nth-of-type(3):before {
            content: "Splicecom Cloud for Med-Large Enterprise";
        }
        td:nth-of-type(4):before {
            content: "Splicecom Partner / Customer Cloud";
        }
    }
}
