.testimonials-section {
    position: relative;
    padding: $main-pd 0;
    @include breakpoint(ipad_portrait){
        padding: 4rem 0;
      }
    @include breakpoint(mobile) {
        padding:$main-pd-mob-p 0;
    }
    h2{
        text-align: center;
        margin: 0px;
        margin-bottom: $aftretitle;
        @include breakpoint(mobile_landscape){
            margin-bottom: 2rem;
          }
    }
    .testimonials-auther{
        text-align: right;
        display: block;
        margin-top: 1rem;
    }
    .testimonials-txt{
        color: $primary-color;
        font-size: $testimonialtext;
        font-family: 'MuseoSans-500';
        text-align: center;
        @include breakpoint(scrn-3){
            font-size: 1.8rem;
          }
        @include breakpoint(scrn-4){
            font-size: 1.8rem;
        }
        p{
            margin: 0px;
        }
        @include breakpoint(ipad_portrait) {
            font-size: $testimonialtext-ipad;
        }
        @include breakpoint(mobile) {
            font-size: $testimonialtext-mob;
        }
       
    }

   .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin: 2rem 0 0 0;
        padding: 0px;
        li{
            margin: 0 0 0 10px;
            padding: 0px;
            button {
                background: $white;
                cursor: pointer;
                border: 1px $primary-color solid;
                border-radius: 80px;
                text-indent: -9999px;
                display: block;
                width: 14px;
                padding:0;
                height: 14px;
            }
            &.slick-active button {
                background:$primary-color;
            }
        }
    }
    .slick-slide{
        position: relative;
        padding: 0rem 7rem 1.3rem 7rem;
        @include breakpoint(ipad_portrait) {
            padding: 0rem 4rem 1.3rem 4rem;
        }
        @include breakpoint(mobile_landscape) {
            padding: 0rem 4rem 1.3rem 4rem;
        }
        @include breakpoint(mobile_portrait) {
            padding: 0rem 3rem 1.3rem 3rem;
        }
        &::before{
            content: "";
            position: absolute;
            left: 0px;
            font-size: 5rem;
            top: 0px;
            background: url("#{$assetPathIcons}/testimonial quotes left.svg") no-repeat right center;
            width: 61px;
            height: 51px;
            @include breakpoint(ipad_portrait) {
                width: 45px;
                height: 37px;
                background-size: 100%;
            }
            @include breakpoint(mobile) {
                width: 39px;
                height: 32px;
                background-size: 100%;
            }
        }
        &::after{
            content: "";
            position: absolute;
            right: 0px;
            font-size: 5rem;
            bottom: 0px;
            background: url("#{$assetPathIcons}/testimonial quotes right.svg") no-repeat right center;
            width: 61px;
            height: 51px;
            @include breakpoint(ipad_portrait) {
                width: 45px;
                height: 37px;
                background-size: 100%;
            }
            @include breakpoint(mobile) {
                width: 39px;
                height: 32px;
                background-size: 100%;
            }
        }
    }
}
