.text-img--section {
  .container {
    @include breakpoint(mobile_landscape) {
      width: calc(100% - 6rem);
    }
  }
  .custom-row {
    @include breakpoint(ipad_portrait) {
      flex-direction: column-reverse;
    }
    @include breakpoint(mobile_portrait) {
      flex-direction: column-reverse;
    }
  }
  .text-img--left {
    width: 57%;
    @include breakpoint(ipad_portrait) {
      margin: auto;
      width: calc(100% - 12rem);
    }

    @include breakpoint(mobile_portrait) {
      width: 100%;
    }
    h2 {
      margin: 0px;
      padding: 0px;
    }
  }
  .text-img--right {
    width: 43%;
    padding-left: 4%;
    @include breakpoint(ipad_portrait) {
      margin: auto;
      padding-left: 0%;
      margin-bottom: 2rem;
    }
    @include breakpoint(mobile_landscape) {
      padding-left: 1%;
      padding-top: 4rem;
    }
    @include breakpoint(mobile_portrait) {
      width: 300px;
      padding-left: 0%;
      margin: auto;
      margin-bottom: 2rem;
    }
    img {
      max-width: 100%;
      display: block;
    }
  }
}
