.why-splicecom-section {
    @include breakpoint(mobile_portrait) {
        padding-top: $main-pd-mob-p;
    }

    .cards {
        width: 25%;
        @include breakpoint(ipad_landscape) {
            width: 33.33%;
        }
        @include breakpoint(ipad_portrait) {
            width: 50%;
        }

        @include breakpoint(mobile_landscape) {
            width: 50%;
        }

        @include breakpoint(mobile_portrait) {
            width: 88%;
            margin: auto;
        }

        .desc--box {
            margin-bottom: 2rem;
        }

        .cards--inner {
            border-radius: 0px;
            padding: 2rem;
            cursor: pointer;

            @include breakpoint(big_screen) {
                padding: 3rem 5rem;
            }

            @include breakpoint(ipad_portrait) {
                box-shadow: -2px 7px 6px rgb(0 0 0 / 0%);
                border-top: 1px $secondary-color solid;
            }

            .absolute-arrow {
                position: absolute;
                bottom: 1.5rem;
                right: 2rem;
            }
            h4 {
                @include breakpoint(mobile_portrait) {
                    font-size: 1.3rem;
                }
            }
            i {
                width: 100px;
                display: block;
                @include breakpoint(scrn-3){
                    width: 90px;
                  }
                @include breakpoint(scrn-4){
                    width: 85px;
                }
                @include breakpoint(ipad_portrait) {
                    width: 76px;
                }
                @include breakpoint(mobile) {
                    width: 66px;
                }

                img {
                    width: 100%;
                    display: block;
                }
            }
        }

        &.light-orange-card {
            z-index: 2;

            .cards--inner {
                background-color: $light-gray;
                color: $secondary-color;

                i {
                    img {
                        &.white-icon {
                            display: none;
                        }
                    }
                }

                h4 {
                    

                    a {
                        color: $secondary-color;
                    }
                }

                .arrow-right {
                    background: url("#{$assetPathIcons}/dark arrow.svg") no-repeat center center;
                    background-size: 100%;
                    width: 35px;
                    height: 35px;
                }
            }

            @media (min-width: 1025px) and (max-width: 2500000000px) {
                &:hover {
                    .cards--inner {
                        background-color: $gray-color;
                        color: $white;
    
                        i {
                            img {
                                &.white-icon {
                                    display: block;
                                }
    
                                &.black-icon {
                                    display: none;
                                }
                            }
                        }
    
                        h4 {
                           
    
                            a {
                                color: $white;
                            }
                        }
    
                        .arrow-right {
                            background: url("#{$assetPathIcons}/white arrow.svg") no-repeat center center;
                            background-size: 100%;
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
              }

           
        }

        &.light-dark-card {
            z-index: 1;

            .cards--inner {
                background-color: $gray-color;

                i {
                    img {
                        &.black-icon {
                            display: none;
                        }
                    }
                }

                h4 {
                    font-family: 'MuseoSans-500';
                    @include breakpoint(ipad_portrait) {
                        font-family: 'MuseoSans-700';
                    }
                      a {
                        color: $white;
                    }
                }
            }
            @media (min-width: 1025px) and (max-width: 2500000000px) {
                &:hover {
                    .cards--inner {
                        background-color: $secondary-color;
                    }
                }
                
            }

            
        }
        @include breakpoint(ipad_portrait) {
            &:nth-child(2n + 2) {
                .cards--inner {
                    border-left: 1px $secondary-color solid;
                }
            }
        }
        
    }
}

.pagination-block:empty {
    margin-top: 0;
}
