.main-footer {
    background: $white;
    padding: 2rem 0;
    .custom-row {
        @include breakpoint(ipad_portrait) {
            justify-content: center;
        }
        @include breakpoint(mobile) {
            justify-content: center;
        }
    }
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        @include breakpoint(ipad_portrait) {
            justify-content: center;
        }
        @include breakpoint(mobile) {
            justify-content: center;
        }
        li {
            margin: 0px;
            padding: 0 10px;
            border-right: 2px $primary-color solid;
            @include breakpoint(mobile){
                padding: 0 5px;
            }
            &:last-child {
                border-right: 0px;
            }
            a {
                font-size: 15px;
                color: $drak-gray;
                display: block;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    .footer-left {
        width: auto;
        @include breakpoint(ipad_portrait) {
            width: 100%;
        }
        ul{
            @include breakpoint(mobile_portrait){
                flex-wrap: wrap;
            }
            li{
                @include breakpoint(mobile_portrait){
                    border-right: 0px;
                }
                &:nth-child(2){
                    @include breakpoint(mobile_portrait){
                        width: 100%;
                        text-align: center;
                        margin: 10px 0;
                    }
                }
            }
        }
    }
    .footer-right {
        width: auto;
        margin-left: auto;
        @include breakpoint(ipad_portrait) {
            margin-left: 0;
            margin-top: 1rem;
        }
        @include breakpoint(mobile) {
            margin-left: 0;
        }
        @include breakpoint(mobile_landscape){
           margin-top: 1rem;
        }
        ul {
            justify-content: end;
            @include breakpoint(mobile) {
                li {
                   
                    &:first-child {
                        border-left: 2px $primary-color solid;
                        @include breakpoint(mobile_portrait){
                            border-left: 0px $primary-color solid;
                        }
                        @include breakpoint(mobile_landscape){
                            border-left: 0px $primary-color solid;
                         }
                    }
                }
            }
        }
    }
}
