.main-header {
    background-color: rgb(255, 255, 255);
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    header {
        position: relative;
        padding: 2rem 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        @include breakpoint(mobile_nav) {
            padding: 1rem 0;
        }
    }

    .custom-row {
        align-items: center;
        position: relative;
        z-index: 2;
        @include breakpoint(mobile_nav) {
            align-items: center;
        }
    }

    .logo {
        a {
            display: block;
            padding: 0;
            z-index: 3;

            img {
                display: block;
                width: 280px; 
                position: relative;
                z-index: 2;
                @include breakpoint(desktop-md){
                    width: 250px;   
                }
                @include breakpoint(desktop-sm){
                    width: 220px;   
                }
                @include breakpoint(ipad_landscape){
                    width: 220px;   
                }
                @include breakpoint(mobile_nav) {
                    width: 130px;
                }
            }
        }
    }

    .top-hdr-right {
        margin-left: auto;
        @include breakpoint(mobile_nav) {
            margin-left: 0;
            display: none;
        }
    }

    .nav_menu_inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav_menu {
        width: 100%;
    }

    .nav-main {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;

            li {
                margin: 0 3rem 0 0;
                padding: 0px;
                .sub-menu-toggle {
                    width: 0px;
                    height: 0px;
                    border: 0px;
                    padding: 0px;
                    background: transparent;
                    display: none;
                }
                @include breakpoint(ipad_landscape) {
                    margin: 0 1.5rem 0 0;
                }

                a {
                    display: block;
                    font-size: $mainMenuFont;
                    color: $drak-gray;
                    padding-bottom: 0.1rem;
                    font-weight: 400;

                    &:hover {
                        color: $primary-color;
                    }
                }

                ul {
                    display: none;
                }
                ul:empty {
                    display: none;
                }

                &.menu-item-has-children {
                    position: relative;

                    ul {
                        width: 200px;
                        display: none;
                        position: absolute;
                        left: 0px;
                        padding-top: 17px;

                        li {
                            margin: 0px;
                            padding: 8px 27px;
                            background: $secondary-color;
                            &:first-child {
                                padding-top: 25px;
                            }
                            &:last-child {
                                padding-bottom: 25px;
                            }
                            a {
                                padding: 0px;
                                color: $white;
                                font-size: $mainMenuSubFont;
                                text-transform: uppercase;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    &:hover {
                        a {
                        }

                        ul {
                            display: block;
                            li {
                                a {
                                }
                            }
                        }
                    }
                }
                &.current-menu-ancestor,
                &.current-menu-item {
                    a {
                        color: $primary-color;
                    }
                    ul {
                        li {
                            a {
                                color: $white;

                                &:hover {
                                }
                            }
                            &.current-menu-item {
                                a {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.sm-header {
    .main-header {
        header {
            padding: 1rem 0;
            &::after {
                position: absolute;
                width: 100%;
                content: "";
                height: 100%;
                background-color: rgba(255, 255, 255, 1);
                left: 0px;
                top: 0px;
                mix-blend-mode: multiply;
                @include breakpoint(mobile_nav) {
                    background-color: $secondary-color;
                    mix-blend-mode: color;
                }
            }
        }
    }
}

.header-social-media {
    position: relative;
    top: -5px;
    @include breakpoint(mobile_nav) {
        top: 0;
    }
    ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        list-style: none;

        @include breakpoint(mobile_nav) {
            justify-content: start;
        }

        li {
            margin: 0 0 0 1rem;
            padding: 0px;

            &:first-child {
                margin-left: 0px;
            }

            a {
                display: flex !important;
                background: $secondary-color;
                padding: 5px !important;
                border-radius: 100px;
                width: 50px;
                height: 50px;
                align-items: center;
                justify-content: center;
                i {
                    display: block;
                    height: 75%;
                    width: 75%;
                    margin: auto;
                }
                .email-white-icon {
                    background: url("#{$assetIconsPath}/email white.svg") no-repeat center center;
                }
                .telephone-white-icon {
                    background: url("#{$assetIconsPath}/phone white.svg") no-repeat center center;
                }
                .linkedin-white-icon {
                    background: url("#{$assetIconsPath}/linkedin white.svg") no-repeat center center;
                }

                &:hover {
                    background: $primary-color;
                    @include breakpoint(mobile_nav) {
                        background: $primary-color;
                    }
                    .email-white-icon {
                        background: url("#{$assetIconsPath}/email white.svg") no-repeat center center;
                    }
                    .telephone-white-icon {
                        background: url("#{$assetIconsPath}/phone white.svg") no-repeat center center;
                    }
                    .linkedin-white-icon {
                        background: url("#{$assetIconsPath}/linkedin white.svg") no-repeat center center;
                    }
                }
            }
        }
    }
}

.nav__toggle {
    display: none;

    @include breakpoint(mobile_nav) {
        display: block;
    }
}

.nav__toggle {
    position: relative;
    height: 30px;
    width: 35px;
    z-index: 10;
    transition: all 0.2s;
    margin-left: auto;
    top: 0px;
    outline: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    outline: 0;
    span {
        height: 3px;
        width: 35px;
    }
    span::before,
    span::after {
        height: 3px;
        width: 35px;
        right: 0px;
    }
    span,
    span::before,
    span::after {
        text-align: right;
        cursor: pointer;
        border-radius: 0px;
        background-color: $drak-gray;
        position: absolute;
        display: block;
        content: "";
        transition: all 0.2s;
        outline: 0;
    }

    span {
        // left: 3px;
        top: 15px;

        &::before {
            top: -10px;
        }

        &::after {
            bottom: -10px;
        }
    }
}

.menu-slide {
    overflow: hidden;
    height: 100%;
    .main-header .nav-main ul li a {
        color: $white;
    }
    .main-header .nav-main ul li.menu-item-has-children ul li {
        background: transparent;
    }
    
    .main-header .nav-main ul li.current-menu-ancestor ul li a,
    .main-header .nav-main ul li.current-menu-item ul li a {
        color: $white;
    }
   

    .header-social-media.hide-mobile {
        @include breakpoint(mobile_nav) {
            display: none;
        }
    }
    .main-header {
        height: 100vh;
        background-color: $drak-gray;
        header {
            background: $white;
        }
        .top-hdr-right {
            display: block;
            position: absolute;
            width: 100%;
            height: calc(100vh - 89px);
            left: 0px;
            top: 49px;
            padding: 0;

            .nav_menu {
                padding: 0;
                width: 100%;
                height: 100%;
                display: flex;
                overflow: auto;
            }
            .nav_menu_inner {
                justify-content: center;
                width: auto;
                margin: auto;
                .nav-main {
                    ul {
                        display: block;
                        text-align: center;
                        li {
                            margin: 1.5rem 0;
                            a {
                                font-size: 1.6rem;
                                font-weight: 200;
                            }
                           
                            
                        }
                        li.menu-item-has-children {
                            .sub-menu-toggle {
                                background: url("#{$assetIconsPath}/menu-close.svg") no-repeat center center;
                                height: 15px;
                                border: 0px;
                                padding: 0px;
                                cursor: pointer;
                                width: 10px;
                                margin: 0 0 0 5px;
                                display: inline;
                                position: absolute;
                                top: 6px;
                            }
                            a {
                                display: inline-flex;
                            }
                            ul {
                                display: none;
                                margin-top: 1rem;
                                margin-bottom: 2rem;
                                li {
                                    margin: 0px;
                                    padding: 10px 0;
                                    &:first-child {
                                        padding: 0px;
                                    }
                                    a {
                                        padding: 0.2rem 0 0.2rem 0rem;
                                        font-size: 1.2rem;
                                    }
                                }
                            }
                        }
                        li.submenu-expanded {
                            .sub-menu-toggle {
                                background: url("#{$assetIconsPath}/menu-open.svg") no-repeat center center;
                            }
                            ul {
                                display: block;
                                position: relative;
                                width: auto;
                                left: 0;
                                top: 0;
                                padding: 0px;
                                li{
                                    a{
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                    .header-social-media.hide-desktop {
                        display: block;
                        margin-top: 30px;
                        margin-bottom: 50px;
                        ul {
                            display: flex;
                            justify-content: center;

                            li {
                                margin-right: 1rem;
                                &:last-child {
                                    margin-right: 0rem;
                                }
                                a {
                                    border: 0 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .main-header .nav-main ul li.current-menu-ancestor a,
    .main-header .nav-main ul li.current-menu-item a {
        color: $secondary-color;
        font-weight: 300 !important;
    }
    .main-header .nav-main ul li.current-menu-ancestor ul li.current-menu-item a,
    .main-header .nav-main ul li.current-menu-item ul li.current-menu-item a {
        color: $secondary-color;
        font-weight: 300 !important;
    }
    .nav__toggle {
        span {
            background-color: transparent;

            &::before,
            &::after {
                top: 0;
                background-color: $drak-gray;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }

        &:hover {
            span {
                background-color: transparent;

                &::before,
                &::after {
                    background-color: $drak-gray;
                }
            }
        }
    }

    .header-social-media.hide-mobile {
        display: none;
    }
}
