.main-footer {
    background-color: $light-gray;
    padding: 0.8rem 0;
    .custom-row {
        align-items: center;
    }

    .footer-left {
        width: 30%;
        .footer-logo {
            width: 200px;
            @include breakpoint(mobile) {
                margin: auto;
            }
            a {
                display: block;
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
        @include breakpoint(ipad_portrait) {
            width: 100%;
            margin-top: 0;
        }

        @include breakpoint(mobile) {
            width: 100%;
            text-align: center;
        }
    }

    .footer-mid {
        width: 40%;
        @include breakpoint(ipad_landscape) {
            width: 35%;
        }
        @include breakpoint(mobile) {
            width: 100%;
            padding: 2rem 0;
        }
    }
    .footer-social-media {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            @include breakpoint(ipad_portrait) {
                justify-content: flex-start;
            }
            li {
                margin: 0 1rem;
                padding: 0px;
                a {
                    display: block;

                    i {
                        display: block;
                        background-size: 100%;
                        &.linkedin-blue-icon {
                            width: 40px;
                            height: 42px;
                            @include breakpoint(mobile) {
                                width: 28px;
                                height: 28px;
                            }
                            &:hover {
                                background: url("#{$assetPath}/linkedin teal.svg") no-repeat center center;
                            }
                        }
                        &.twitter-blue-icon {
                            width: 51px;
                            height: 30px;
                            margin-top: 9px;
                            @include breakpoint(mobile) {
                                width: 37px;
                                height: 30px;
                            }
                            &:hover {
                                background: url("#{$assetPath}/twitter teal.svg") no-repeat center center;
                                background-size: 100%;
                            }
                        }
                        &.youtube-blue-icon {
                            width: 55px;
                            height: 30px;
                            margin-top: 9px;
                            @include breakpoint(mobile) {
                                width: 40px;
                                height: 30px;
                            }
                            &:hover {
                                background: url("#{$assetPath}/youtube teal.svg") no-repeat center center;
                                background-size: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-right {
        width: 30%;
        @include breakpoint(ipad_landscape) {
            width: 35%;
        }
        @include breakpoint(ipad_portrait) {
            width: 60%;
            margin-top: 0;
        }
        @include breakpoint(mobile) {
            width: 100%;
        }

        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            justify-content: flex-end;
            min-height: 16px;
            @include breakpoint(mobile) {
                justify-content: center;
            }

            li {
                margin: 0px;
                padding: 0 1rem;
                border-left: 2px $secondary-color solid;
                line-height: 0.4rem;
                @include breakpoint(mobile_portrait) {
                    padding: 0 0.7rem;
                }
                &:first-child {
                    border: 0px;
                }
                &:last-child {
                    padding-right: 0px;
                }
                a {
                    color: $primary-color;
                    display: flex;
                    font-size: 0.9rem;
                    align-items: center;
                    height: 100%;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
        p {
            color: $primary-color;
            font-size: 0.9rem;
            margin: 0.5rem 0 0 0;
            text-align: right;
            display: block;
            @include breakpoint(mobile) {
                text-align: center;
            }

            a {
                color: $primary-color;
                font-size: 0.9rem;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}

.hide-mobile {
    @include breakpoint(ipad_portrait) {
        display: none !important;
    }
}
.hide-desktop {
    @include breakpoint(ipad_portrait) {
        display: block !important;
    }
}
