.main-footer{
    background: $white;
    padding: 2rem 0;
    .custom-row{
        align-items: center;
        @include breakpoint(mobile_portrait) {
          flex-direction: column-reverse
        }
    }
    .footer-left{
        display: flex;
        align-items: center;
        .footer-social-media{
            ul{
              margin: 0px;
              padding: 0px;
              list-style: none;
              display: flex;
              align-items: center;
              li{
                margin: 0 1rem 0 0;
                padding: 0px;
                &:last-child{
                  margin-right: 0px;
                }
                a{
                  display: block;
                  width: 35px;
                  height: 35px;
                  &.facebook-icon{
                    background:url("#{$assetIconsPath}/facebook-drak.svg") no-repeat center center;
                    background-size: 55%;
                  }
                  &.instagram-icon{
                    background:url("#{$assetIconsPath}/instagram hanks gallery.svg") no-repeat center center;
                    background-size: 100%;
                  }
                  &:hover{
                    &.facebook-icon{
                      background:url("#{$assetIconsPath}/facebook-light.svg") no-repeat center center;
                      background-size: 55%;
                    }
                    &.instagram-icon{
                      background:url("#{$assetIconsPath}/instagram hanks gallery grey.svg") no-repeat center center;
                      background-size: 100%;
                    }
                  }
                }
              }
            }
          }
          .footer-links{
            margin-left: 1rem;
            ul{
                margin: 0px;
                padding: 0px;
                list-style: none;
                display: flex;
                align-items: center;
                li{
                    margin: 0px;
                    padding: 0xp;
                    a{
                        color: $primary-color;
                        font-size: 1rem;
                        display: block;
                        text-transform: uppercase;
                        &:hover{
                            color: $secondary-color;
                        }
                    }
                }
            }
          }
    }
    .footer-right{
        margin-left: auto;
        @include breakpoint(mobile_portrait) {
          margin-left: 0;
        }
        .footer-logo{
            width: 200px;
            @include breakpoint(mobile_portrait) {
              margin: 0 auto 1rem auto;
            }
            img{
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}