.main-header {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: $white;
  padding: 2rem 0;
  z-index: 999;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);

  @include breakpoint(desktop_sm) {
    padding: 1rem 0;
  }

  @include breakpoint(ipad) {
    padding: 1.2rem 0;
  }

  @include breakpoint(mobile) {
    padding: 1rem 0;
  }

  header {
    display: flex;
    align-items: center;
  }

  .header-logo {
    width: 300px;

    @include breakpoint(ipad) {
      width: 240px;
    }

    @include breakpoint(mobile) {
      width: 200px;
    }

    a {
      display: block;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  .header-right {
    margin-left: auto;
    display: flex;
    align-items: center;

    @include breakpoint(mobile_nav) {
      display: none;
    }

    .header-nav {
      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        align-items: center;

        li {
          margin: 0 2.5rem 0 0;
          padding: 0px;

          @include breakpoint(desktop_sm) {
            margin-right: 1rem;
          }
          @media (min-width: 1100px) and (max-width: 1280px) {
            margin-right: 2.5rem;
          }
          @include breakpoint(ipad_landscape) {
            margin-right: 1rem;
          }

          a {
            display: inline-block;
            color: $primary-color;
            font-size: 1.1rem;
            text-transform: uppercase;
            position: relative;
            border-bottom: 4px $white solid;
            padding-bottom: 5px;
            padding-top: 8px;
            font-weight: 400;

            &:hover {
              color: $secondary-color;
            }
          }

          &.menu-item-has-children {
            position: relative;

            .sub-menu-toggle {
              padding-right: 9px;
              background: url("#{$assetIconsPath}/arrow-icon-menu-close.svg") no-repeat center center;
              border: 0;
              height: 15px;
              background-size: 26px;
            }
           

            ul {
              position: absolute;
              width: 250px;
              left: 0px;
              top: 28px;
              display: none;
              padding-top: 27px;

              li {
                padding: 1rem 1.5rem;
                margin: 0px;
                background: $primary-color;

                &:first-child {
                  padding-top: 2rem;
                }

                &:last-child {
                  padding-bottom: 2rem;
                }

                a {
                  text-transform: capitalize;
                  color: $white;
                  display: inline;
                  border-color: transparent;
                  font-family: $secondaryfontfaimly;
                }
              }
            }

            &.submenu-expanded {
              a {
                border-color: $primary-color;
              }

              ul {
               

                li {
                  a {
                    border-color: transparent;

                    &:hover {
                      color: $secondary-color;
                    }
                  }

                  &.current_page_item {
                    a {
                      color: $secondary-color;
                      border-color: $secondary-color;
                    }
                  }
                }
              }
            }
          }

          &.current-menu-ancestor {
            a {
              border-color: $primary-color;
              font-weight: 700;
            }

            ul {
              li {
                a {
                  border-color: transparent;
                  font-weight: 500;
                }
              }
            }
          }

          &.current_page_item {
            a {
              border-color: $primary-color;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
 
  .header-social {
    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      display: flex;
      align-items: center;

      li {
        margin: 0 1rem 0 0;
        padding: 0px;

        &:last-child {
          margin-right: 0px;
        }

        a {
          display: block;
          width: 35px;
          height: 35px;

          &.facebook-icon {
            background:url("#{$assetIconsPath}/facebook-drak.svg") no-repeat center center;
            background-size: 55%;
          }

          &.instagram-icon {
            background:url("#{$assetIconsPath}/instagram hanks gallery.svg") no-repeat center center;
            background-size: 100%;
          }

          &:hover {
            &.facebook-icon {
              background:url("#{$assetIconsPath}/facebook-light.svg") no-repeat center center;
              background-size: 55%;
            }

            &.instagram-icon {
              background:url("#{$assetIconsPath}/instagram hanks gallery grey.svg") no-repeat center center;
              background-size: 100%;
            }
          }
        }
      }
    }
  }

}

.mobile-menu {
  display: none;

}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 25px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
  display: none;

  @include breakpoint(mobile_nav) {
    margin-left: auto;
    display: block;
    top: 0px;
  }

  span {
    width: 30px;
  }

  span::before,
  span::after {
    width: 35px;
  }

  span,
  span::before,
  span::after {
    text-align: right;
    cursor: pointer;
    border-radius: 0px;
    height: 4px;
    background-color: $primary-color;
    position: absolute;
    display: block;
    content: "";
    transition: all 0.2s;
    outline: 0;
    right: 0px;
  }

  span {
    top: 15px;

    &::before {
      top: -10px;
    }

    &::after {
      bottom: -10px;
    }
  }
}

.menu-slide {
  @include breakpoint(mobile_nav) {
    .main-header {
      .nav__toggle {
        span {
          background-color: transparent;

          &::before,
          &::after {
            top: 0;
            background-color: $primary-color;
          }

          &::before {
            transform: rotate(45deg);
          }

          &::after {
            transform: rotate(-45deg);
          }
        }

        &:hover {
          span {
            background-color: transparent;

            &::before,
            &::after {
              background-color: $primary-color;
            }
          }
        }
      }
    }

    .mobile-menu {
      display: block;
      position: absolute;
      width: 100%;
      height: calc(100vh - 61px);
      top: 61px;
      left: 0px;
      padding: 0;

      @include breakpoint(ipad) {
        height: calc(100vh - 74px);
        top: 74px;
      }

      .mobile-menu-inner {
        padding: 2rem 0 3rem;
        width: 100%;
        height: 100%;
        display: flex;
        overflow: auto;
        background-color: $primary-color;
        overflow-x: hidden;

        .mobile-menu-box {
          justify-content: center;
          width: auto;
          margin: auto;
        }
      }

      .header-nav {
        ul {
          margin: 0px;
          padding: 0px;
          list-style: none;
          text-align: center;

          li {
            margin: 0px;
            padding: 0 0 1rem 0;
            @include breakpoint(ipad){
              padding: 0 0 2.6rem 0;
            }
            @include breakpoint(mobile){
              padding: 0 0 2rem 0;
            }

            a {
              color: $white;
              font-size: 1.3rem;
              text-transform: uppercase;
              font-weight: 500;
              padding-bottom: 5px;
              border-bottom: 3px transparent solid;
              
              @include breakpoint(ipad){
                font-size: 1.5rem;
              }
            }

            &.menu-item-has-children {
              position: relative;

              .sub-menu-toggle {
                background: url("#{$assetIconsPath}/submenu-arrow-close.svg") no-repeat center center;
                background-size: 100%;
                width: 10px;
                height: 15px;
                border: 0px;
                padding: 0px;
                right: -22px;
                cursor: pointer;
                margin: 0 0 0 15px;
                display: inline;
                position: absolute;
                top: 8px;
                @include breakpoint(ipad){
                  right: -22px;
                  top: 10px;
                }
              }
            }

            ul {
              margin: 1.5rem 0;
              display: none;

              li {
                
                @include breakpoint(mobile){
                  padding: 0 0 0.7rem 0;
                }
                @include breakpoint(ipad){
                  padding: 0 0 1rem 0;
                }
                &:last-child {
                  padding-bottom: 0px;
                }

                a {
                  text-transform: capitalize;
                  font-size: 1.3rem;
                  font-family: $secondaryfontfaimly;
                  font-weight: 500;
                  
                }
                &.current_page_item {
                  a {
                    color: $secondary-color !important;
                    border-color: $secondary-color !important;
                  }
                }
              }
            }

            &.submenu-expanded {
              .sub-menu-toggle {
                background: url("#{$assetIconsPath}/submenu-arrow-open.svg") no-repeat center center;
                background-size: 100%;
                width: 16px;
                height: 15px;
                top: 8px;
                @include breakpoint(ipad){
                  top: 10px;
                }
              }

              ul {
                display: block;
              }
            }

            &.current-menu-ancestor {
              a {
                border-color: $secondary-color;
                color: $secondary-color;
                font-weight: 700;
              }
  
              ul {
                li {
                  a {
                    border-color: transparent;
                    color: $white;
                  }
                }
              }
            }
  
            &.current_page_item {
              a {
                border-color: $secondary-color;
                color: $secondary-color;
                font-weight: 700;
              }
            }
          }
        }
      }

      .header-social {
        margin-top: 2rem;
        margin-bottom: 2rem;

        ul {
          margin: 0px;
          padding: 15px 0;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          background-color: $white;
          &::after{
            content: '';
            position: absolute;
            left: -70vh;
            top: 0px;
            background: $white;
            width: 100vh;
            height: 100%;
          }
          &::before{
            content: '';
            position: absolute;
            right: -70vh;
            top: 0px;
            background: $white;
            width: 100vh;
            height: 100%;
          }

          li {
            margin: 0 1rem 0 0;
            padding: 0px;
            position: relative;
            z-index: 1;

            &:last-child {
              margin-right: 0px;
            }

            a {
              display: block;
              width: 35px;
              height: 35px;

              &.facebook-icon {
                background:url("#{$assetIconsPath}/facebook-drak.svg") no-repeat center center;
                background-size: 55%;
              }

              &.instagram-icon {
                background:url("#{$assetIconsPath}/instagram hanks gallery.svg") no-repeat center center;
                background-size: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.main-header .header-right .header-nav ul li.menu-item-has-children.submenu-expanded{
  ul{
    display: block;
  }
  .sub-menu-toggle{
    background: url(../img/icons/arrow-icon-menu-open.svg) no-repeat center center;
    border: 0;
    height: 15px;
    background-size: 26px;
  }
}