html {
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background: #fff;
    padding-top: 0px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin: 0px;
    font-size: 1.2rem;
    color: #576270;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  .container-type-table{
     
  }