/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
a,
button {
  cursor: pointer;
}

h1 {
  font-size: 38px;
}
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 20px;
  }
}

.btn-set--left {
  display: flex;
  justify-content: left;
  padding-left: 10px;
}

.btn-set--center {
  display: flex;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  justify-content: right;
}
@media (min-width: 320px) and (max-width: 767px) {
  .btn-set--right {
    justify-content: left;
    padding-left: 10px;
  }
}

.primary-btn {
  background-color: #576270;
  color: #fff;
  border: 1px #576270 solid;
  padding: 0.5rem 2rem;
  font-size: 12px;
  display: block;
}
.primary-btn:hover {
  background-color: #95bf32;
  color: #fff;
  border: 1px #95bf32 solid;
}

.secondary-btn {
  background-color: #95bf32;
  color: #fff;
  border: 1px #95bf32 solid;
  padding: 0.5rem 2rem;
  font-size: 12px;
  display: block;
}
.secondary-btn:hover {
  background-color: #576270;
  color: #fff;
  border: 1px #576270 solid;
}

.primary-outline--btn {
  background-color: transparent;
  color: #fff;
  border: 0px #576270 solid;
  padding: 0.7rem 1.7rem;
  font-size: 12px;
  display: block;
  position: relative;
}
.primary-outline--btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border: 1px #576270 solid;
  background-color: transparent;
  z-index: -1;
}
.primary-outline--btn:hover {
  color: #fff;
}
.primary-outline--btn:hover::after {
  background-color: #576270;
}

.secondary-outline--btn {
  background-color: transparent;
  color: #fff;
  border: 0px #95bf32 solid;
  padding: 0.5rem 1.7rem 0.5rem 1.7rem;
  font-size: 12px;
  display: block;
  position: relative;
}
.secondary-outline--btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border: 1px #95bf32 solid;
  background-color: transparent;
  z-index: -1;
}
.secondary-outline--btn:hover {
  color: #fff;
}
.secondary-outline--btn:hover::after {
  background-color: #95bf32;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #fff;
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  color: #576270;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

p {
  line-height: 1.6rem;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #95bf32;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

.container-fluid {
  max-width: calc(100%);
  width: calc(100% - 3rem);
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: calc(100%);
  width: calc(100% - 4rem);
  margin-left: auto;
  margin-right: auto;
}

.main-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.white-bg {
  background: #fff;
}

.primary-bg {
  background: #576270;
}

.secondary-bg {
  background: #95bf32;
}

.gray-bg {
  background: #dadbde;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.hide-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hide-desktop {
    display: block;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
  .hide-mobile {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hide-mobile {
    display: none;
  }
}

.desc--box p:last-child {
  margin: 0px;
}
.desc--box ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.desc--box ul li {
  position: relative;
  margin: 0 0 0.6rem 0;
  padding: 0 0 0 1.5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .desc--box ul li br {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .desc--box ul li br {
    display: none;
  }
}
.desc--box ul li::before {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0px;
  top: 9px;
  background: #95bf32;
  content: "";
  border-radius: 50px;
}

.main-container {
  min-height: 90vh;
}

/*Helpers Scss Files */
.input-field {
  margin: 2rem 0 0 0;
}
.input-field label {
  font-size: 16px;
  color: #000;
  margin: 0 0 10px 0;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea {
  border: 0px;
  padding: 5px;
  width: 100%;
  border-bottom: 1px #576270 solid;
  font-size: 1.22rem;
  color: #576270;
  background: transparent;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  -webkit-appearance: none;
  border-radius: 0;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled {
  opacity: 0.5;
}
.input-field textarea {
  height: 100px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

.selectbox {
  border: 1px #fff solid;
  width: 100%;
  font-size: 18px;
  color: #fff;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Layout Scss Files */
/*Components Scss Files */
.ul-table {
  display: flex;
  align-items: flex-start;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.ul-table.ul-table-hd li {
  font-weight: 500;
  text-transform: uppercase;
}
.ul-table.ul-table-content {
  border: 1px #c7c7c7 solid;
  border-radius: 3px;
  margin-bottom: 10px;
}
.ul-table li {
  padding: 5px;
}
.ul-table .item1 {
  width: 6%;
}
.ul-table .item2 {
  width: 6%;
}
.ul-table .item3 {
  width: 10%;
}
.ul-table .item4 {
  width: 4%;
}
.ul-table .item5 {
  width: 15%;
}
.ul-table .item6 {
  width: 4%;
}
.ul-table .item7 {
  width: 5%;
}
.ul-table .item8 {
  width: 5%;
}
.ul-table .item9 {
  width: 7%;
}
.ul-table .item10 {
  width: 5%;
}
.ul-table .item11 {
  width: 5%;
}
.ul-table .item12 {
  width: 5%;
}
.ul-table .item13 {
  width: 5%;
}
.ul-table .item14 {
  width: 5%;
}
.ul-table .item15 {
  width: 5%;
}
.ul-table .item16 {
  width: 5%;
}
.ul-table .item17 {
  width: 5%;
}
.ul-table .item18 {
  width: 5%;
}
.ul-table .item19 {
  width: 5%;
}
.ul-table .item20 {
  width: 5%;
}
.ul-table .item21 {
  width: 5%;
}
.ul-table .item22 {
  width: 5%;
}
.ul-table .item23 {
  width: 6%;
}
.ul-table .item14,
.ul-table .item15,
.ul-table .item16,
.ul-table .item17,
.ul-table .item18,
.ul-table .item19,
.ul-table .item20,
.ul-table .item21,
.ul-table .item22 {
  display: none;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.table-row {
  position: relative;
  max-width: 1600px;
  padding: 0 30px;
  margin: 0 auto;
  background: #fff;
  font-size: 0px;
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 16px;
  color: #000;
  padding: 10px;
  min-width: 110px;
}

.teleporter,
.teleportera {
  display: flex;
  width: 70%;
}

.receiver,
.receivera {
  display: flex;
  background: #026af1;
}
.receiver li,
.receivera li {
  display: none;
}
.receiver li:nth-child(1), .receiver li:nth-child(2), .receiver li:nth-child(3), .receiver li:last-child,
.receivera li:nth-child(1),
.receivera li:nth-child(2),
.receivera li:nth-child(3),
.receivera li:last-child {
  display: block;
}

.slider-content {
  display: flex;
  overflow: hidden;
}
.slider-content .slider-item {
  width: 0;
  opacity: 0;
}
.slider-content .slider-item:nth-child(1), .slider-content .slider-item:nth-child(2), .slider-content .slider-item:nth-child(3), .slider-content .slider-item:nth-child(4) {
  width: 25%;
  opacity: 1;
}

.items-slider {
  position: relative;
  display: flex;
  align-items: center;
}
.items-slider .slider-item {
  opacity: 0;
  width: 0;
}
.items-slider .slider-item.slider-item1 {
  opacity: 1;
  width: auto;
}
.items-slider .slider-item.hide-item {
  opacity: 0;
  width: 0;
}
.items-slider .slider-item.show-item {
  opacity: 1;
  width: auto;
  transition: all 1s;
  -webkit-transition: all 1s;
}

/*# sourceMappingURL=global.css.map */
