{% for item in items %}
{% if item.content['#file_uri_raw'] %}
<a href="{{ file_url( item.content['#file_uri_raw']) }}" class="button alt" title="{{item.content['#description']}}">{{item.content['#description']}}</a>
{% endif %}
{% endfor %}
