{% extends "base.twig" %} {% block content %}

<section class="page-not-found-page">
	<section class="hero--section inner-hero--section">
		
		<div class="hero-text">
			<div class="container-sm">
				<div class="hero-text--inner"><h1>Page not found</h1></div>
            </div>
		</div>
	</section>
	<div class="container-sm">
        <div class="desc--box">
			<p>Sorry, we couldn't find what you're looking for.</p>
		</div>
	</div>
</section>
{% endblock %}
