{% extends "base.twig" %}

{% block content %}

<div class="vimal-page-container">
	{% include "partial/content-home-hero.twig"%}


	{% include "partial/content-copy-main.twig"%}

	{% include "partial/content-flexible-content.twig"%}

	{# {% include "partial/content-get-in-touch.twig"%} #}


    HMTL AHERE
</div>
{% endblock %}