{% extends "base.twig" %} {% block content %}
<div class="contact-page-template">
	<section class="hero--section inner-hero--section">
	<div class="page-title--img">
		
    <picture>
			<source media="(min-width:320px) and (max-width:567px)"
				srcset="{{ TimberImage(post.get_field('hero_image')).src('page-hero') }}">
			<source media="(min-width:768px) and (max-width:991px)"
				srcset="{{ TimberImage(post.get_field('hero_image')).src('page-hero') }}">
			<img src="{{ site.theme.link }}/assets/img/transparent-hero-img.png" alt="img" />
		</picture>
	</div>
		<div class="hero-text">
			<div class="container-sm">
				<div class="hero-text--inner">
					<h1>{{post.title}}</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="contact-section">
		<div class="container">
			<div class="get-in-touch custom-row">
				<div class="get-in-touch-left">
					<h2 class="title">Get in touch</h2>
					<div class="get-in-touch-icons">
						<ul>
							<li>
								<a href="#">
									<span><i class="telephone-white-icon"></i></span>01494 792602
								</a>
							</li>
							<li>
								<a href="mailto:{{post.email}}">
									<span><i class="email-white-icon"></i></span>info@isatec.co.uk
								</a>
							</li>
							<li>
								<a href="{{post.map_cta.url}}" title="{{post.map_cta.title}}" {% if post.map_cta.target %} target="{{post.map_cta.target}}" {% endif %}>
									<span><i class="map-white-icon"></i></span>Find us on Google
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="get-in-touch-right">
					<h2 class="title">{{post.hero_title}}</h2>
					<div class="get-in-touch-block">
						<div class="get-in-touch--form">
							{{ function('do_shortcode', '[contact-form-7 id="'~ contact_post.contact_form.ID~'" title="Contact form 1"]') }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include "partial/content-flexible-content.twig"%}
</div>
{% endblock %}
