{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base.twig" %}

{% block content %}

<div class="details-sections blog-details page-default-details">
  

  {# <section class="main-heading--section white-bg">
	<div class="container-sm container-sm-pd-lr">
				<h1>Search</h1>
	</div>
</section> #}
{% include "partial/content-page-hero.twig"%}


  <div class="search-content--list gray-bg main-padding">
    {% for post in posts %}
    {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
    {% endfor %}

 <div class="container-sm container-sm-pd-lr">  {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size:
    2}) } %}
  </div></div>

</div>

{% endblock %}