{% extends "base.twig" %}

{% block content %}
<div class="single-page single-{{post.post_type}}-details">
    {% include ["partial/content-"~post.post_type~"-hero.twig", "partial/content-page-hero.twig"]%}
    {% include "partial/content-post-content.twig"%}
    {% include "partial/content-flexible-content.twig"%}
</div>
{% include "partial/content-get-in-touch.twig"%}
{% endblock %}