
        <div class="service-list-cards custom-row" data-aos="fade">
            
            <div class="list-cards--img service-list-cards--img"> <img src="{{ TimberImage(post.service_icon).src('medium') }}" alt="{{ post.service_icon.alt }}"/></div>

            <div class="list-cards--content service-list-cards--content">
                <h2 class="title">{{post.service_title}}</h2>
                <div class="desc--box">
                    {{post.servcice_excerpt}}
                </div>
                <div class="arrow--btn">
                    <a href="{{post.link}}" ></a>
                </div>
            </div>
        </div>
    