<div class="product-list-cards custom-row" data-aos="fade">
            
            <div class="list-cards--img product-list-cards--img"> <img src="{{ TimberImage(post.thumbnail).src('medium') }}" alt="{{ post.thumbnail.alt }}"/></div>

            <div class="list-cards--content product-list-cards--content">
                <h2 class="title">{{post.title}}</h2>
                <div class="desc--box">
                    {{post.preview.read_more(false)}}
                </div>
                <div class="arrow--btn">
                    <a href="{{post.link}}" ></a>
                </div>
            </div>
        </div>
    