{% extends "base.twig" %}

{% block content %}
	<div class="details-sections blog-details page-default-details">
	
		{% include "partial/content-page-hero.twig"%}


		 {# <section class="main-heading--section white-bg">
			<div class="container-sm container-sm-pd-lr">
						<h1>{{post.title}}</h1>
			</div>
		</section> #}

		{% include "partial/content-post-content.twig"%}

		{% include "partial/content-flexible-content.twig"%}

		{% include "partial/content-get-in-touch.twig" with {post:contact_post,hide_title:true}%}


	</div>

{% endblock %}
