.contact-section-content{
    background-color: $secondary-color;
    border-radius: 20px;
    padding: 2rem 1rem 2rem 4rem;
    
    width: 100%;
    position: relative;
    z-index: 1;
    @include breakpoint(ipad_landscape){
        padding: 1rem 1rem 1rem 2rem;
    }
    @include breakpoint(ipad_portrait){
        width: 100%;
        padding: 3rem;
        border-radius: 20px 20px 0 0;
    }
    @include breakpoint(mobile){
        width: 100%;
        padding: 2rem;
        border-radius: 20px 20px 0 0;
    }
    @include breakpoint(mobile_portrait){
        padding: 1rem;
    }
    ul{
        @include ul;
        li{
            margin: 10px 0;
            padding: 0px;
            @include breakpoint(ipad_portrait){
                margin: 20px 0;
            }
            a{
                color: $white;
                padding:10px 0 10px 70px;
                font-size: 1.8rem;
                display: block;
                font-weight: 300;
                min-height: 53px;
                @include breakpoint(ipad_landscape){
                    padding:10px 0 10px 60px;
                    font-size: 1.5rem;
                }
                @include breakpoint(mobile_portrait){
                    font-size: 1.4rem;
                    padding:10px 0 10px 50px;
                }
                &.tel-icon{
                    background: url("#{$assetIconPath}/phone red white circle.svg") no-repeat left center;
                    background-size: 50px;
                    @include breakpoint(ipad_landscape){
                        background-size: 40px;
                    }
                    @include breakpoint(mobile_portrait){
                        background-size: 40px;
                    }
                }
                &.mail-icon{
                    background: url("#{$assetIconPath}/email red white circle.svg") no-repeat left center;
                    background-size: 50px;
                    @include breakpoint(ipad_landscape){
                        background-size: 40px;
                    }
                    @include breakpoint(mobile_portrait){
                        background-size: 40px;
                    }
                }
                &.insta-icon{
                    background: url("#{$assetIconPath}/insta red white circle.svg") no-repeat left center;
                    background-size: 50px;
                    @include breakpoint(ipad_landscape){
                        background-size: 40px;
                    }
                    @include breakpoint(mobile_portrait){
                        background-size: 40px;
                    }
                }
                &:hover{ 
                    color: #fea5b4;
                    &.tel-icon{
                        background: url("#{$assetIconPath}/phone green white circle.svg") no-repeat left center;
                        background-size: 50px;
                        @include breakpoint(ipad_landscape){
                            background-size: 40px;
                        }
                        @include breakpoint(mobile_portrait){
                            background-size: 40px;
                        }
                    }
                    &.mail-icon{
                        background: url("#{$assetIconPath}/email green white circle.svg") no-repeat left center;
                        background-size: 50px;
                        @include breakpoint(ipad_landscape){
                            background-size: 40px;
                        }
                        @include breakpoint(mobile_portrait){
                            background-size: 40px;
                        }
                    }
                    &.insta-icon{
                        background: url("#{$assetIconPath}/insta green white circle.svg") no-repeat left center;
                        background-size: 50px;
                        @include breakpoint(ipad_landscape){
                            background-size: 40px;
                        }
                        @include breakpoint(mobile_portrait){
                            background-size: 40px;
                        }
                    }
                }
            }
        }
    }
}
.contact-section{
    @extend %main-padding;
    position: relative;
    .contact-section-left{
        width: 45%;
        @include breakpoint(ipad_portrait){
            width: 100%;
        }
        @include breakpoint(mobile){
            width: 100%;
        }
        h2{
            color: $green-color;
        }
        .contact-section-content{
            width: 115%;
            margin-top: 4rem;
            @include breakpoint(ipad_portrait){
                width: 100%;
            }
            @include breakpoint(mobile){
                width: 100%;
            }
        }
       
    }
    .contact-section-right{
        width: 55%;
        margin-left: auto;
        @include breakpoint(ipad_portrait){
            width: 100%;
        }
        @include breakpoint(mobile){
            width: 100%;
        }
        img{
            border-radius: 20px;
            width: 100%;
            height: auto;
            display: block;
            @include breakpoint(ipad_portrait){
                border-radius: 0 0 20px 20px;
            }
            @include breakpoint(mobile){
                border-radius: 0 0 20px 20px;
            }
        }
    }
}



.contact-page{
    @extend %main-padding;
    .left-col{
        width: 45%;
        @include breakpoint(ipad_portrait){
            width: 100%;
        }
        @include breakpoint(mobile){
            width: 100%;
        }
        .desc{
            margin-top: 3rem;
        }
    }
    .right-col{
        width: 45%;
        margin-left: auto;
        @include breakpoint(ipad_portrait){
            width: 100%;
            margin-left: 0;
            margin-top: 3rem;
        }
        @include breakpoint(mobile){
            width: 100%;
            margin-left: 0;
            margin-top: 3rem;
        }
        .contact-section-content{
            height: 100%;
            display: flex;
            align-items: center;
            @include breakpoint(ipad_portrait){
                border-radius: 20px;
            }
            @include breakpoint(mobile){
                border-radius: 20px;
            }
        }
    }
}