.our-work-section {
    @extend %main-padding;
    overflow: hidden;

    .btn-set--right {
        @extend %main-padding-top;
    }
}

.categories-links {
    span {
        color: $green-color;
        font-size: 1.6rem
    }

    ul {
        @include ul;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2rem;

        li {
            padding: 0px;
            margin-right: 50px;
            &:last-child{
                margin-right: 0px;
            }

            a {
                color: $drak-color;
                display: block;

                &:hover,
                &.active {
                    color: $green-color;
                }
            }
        }
    }
}

.gallery-container {
    @extend %main-padding-top;
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;

    @include breakpoint(mobile) {
        margin-left: 0px;
        margin-right: 0px;
    }

    .gallery-box {
        text-align: center;
        padding: 5px;
        width: 33.33%;
        height: 500px;
        overflow: hidden;

        @include breakpoint(ipad_landscape) {
            height: 300px;
        }

        @include breakpoint(ipad_portrait) {
            height: 300px;
        }

        @include breakpoint(mobile_landscape) {
            width: 50%;
            height: 300px;
        }

        @include breakpoint(mobile_portrait) {
            width: 100%;
            height: 300px;
        }

        a {
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-position: center;
            transition: transform .2s;

            &:hover {
                transform: scale(1.1);
            }
        }


    }
}

.fancybox__backdrop {
    background: rgba($color: #000000, $alpha: 0.7);
}


.our-work-page {
    @extend %main-padding-top;
    overflow: hidden;
}




.is-horizontal .fancybox__nav .f-button.is-next {
    @include breakpoint(mobile_portrait) {
        right: 0 !important;
        top: 50% !important;
    }
}

.is-horizontal .fancybox__nav .f-button.is-prev {
    @include breakpoint(mobile_portrait) {
        left: 0 !important;
        top: 50% !important;
    }
}

.is-compact .fancybox__content>.f-button.is-close-btn {
    background-color: $green-color;
    border-radius: 0;
    color: $white;
    top:0rem;
    right: 0rem;
    padding: 5px;
    opacity: 1 !important;
    width: 40px;
    height: 40px;

    @include breakpoint(mobile) {
        width: 30px;
        height: 30px;
        top: -3rem;
    }

    svg {
        width: 100%;
        height: 100%
    }
}


.fancybox__backdrop {
    background: rgba($color: #000000, $alpha: 0.7);


}

.f-button:hover:not([disabled]) {
    background-color: transparent;
}

.fancybox__nav {
    button {
        svg {
            color: $white;
            width: 50px;
            height: 50px;

            @include breakpoint(mobile) {
                width: 30px;
                height: 30px;
            }
        }
    }
}