
.hero-section{
    @extend %main-padding-top;
    position: relative;
    
    
   

    .hero-section-left{
        width: 45%;
        @include breakpoint(ipad_portrait){
            width: 100%;
        }
        @include breakpoint(mobile){
            width: 100%;
        }
        h1{
            margin: 0 0 3rem 0;
            padding: 0px;
            @include breakpoint(mobile){
                margin-bottom: 2rem;
            }
        }
        .desc{
            @include breakpoint(mobile){
                margin-bottom: 2rem;
            }
        }
    }
    .hero-section-right{
        width: 45%;
        margin-left: auto;
        @include breakpoint(ipad_portrait){
            width: 100%;
            margin-left: 0;
            margin-top: 3rem;
        }
        @include breakpoint(mobile){
            width: 100%;
            margin-left: 0;
            margin-top: 3rem;
        }
        .desc{
            margin-bottom: 4rem; 
        }
        .hero-section-img{
            margin-bottom: -4rem;
            img{
                border-radius: 20px;
                width: 100%;
                height: auto;
                display: block;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.shap-one{
    width:440px;
    overflow: hidden;
    position: absolute;
       bottom:0;
       right: 0;
       @include breakpoint(mobile_portrait){
        width:230px;
    }
    img{
        width: 100%;
        height: auto;
        display: block;
    }
}

