.home-service-section {
    @extend %main-padding;
    .home-service-box-out{
        @extend %main-padding-top;
    }
    h2{
        color: $green-color;
    }
    .home-service-box{
        background-color: $white;
        border-radius: 20px;
        padding:0 4rem 4rem 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        position: relative;
        @include breakpoint(desktop1){
            padding:0 2rem 4rem 0;
          }
          @include breakpoint(desktop2){
            padding:0 2rem 4rem 0;
          }
        @include breakpoint(ipad_landscape){
           padding: 0 0 4rem 0;
           }
        @include breakpoint(ipad_portrait){
            padding:2rem 0 4rem 0;
        }
        @include breakpoint(mobile){
            padding:0 0 4rem 0;
        }
        .btn-set--right{
            position: absolute;
            bottom: -20px;
            right: 4rem;
            @include breakpoint(mobile){
                right: 1rem;
            }
        }
        ul{
            @include ul;
            display: flex;
            flex-wrap: wrap;
            li{
               width: 33.33%;
               display: flex;
               align-items: center;
               padding: 4rem 0 2rem 4rem;
              @include breakpoint(desktop1){
                padding: 4rem 0 2rem 2rem;
              }
              @include breakpoint(desktop2){
                padding: 4rem 0 2rem 2rem;
              }
               @include breakpoint(ipad_landscape){
                width: 50%;
                padding: 3rem;
               }
               @include breakpoint(ipad_portrait){
                width: 100%;
                padding: 3rem;
               }
               @include breakpoint(mobile_landscape){
                width: 100%;
                padding: 2rem;
               }
               @include breakpoint(mobile_portrait){
                    width: 100%;
                    padding: 2rem 1rem;
               }
               .home-service-icon{
                width: 130px;
                height: 130px;
                background: url("#{$assetIconPath}/green circle.svg") no-repeat center center;
                background-size: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                @include breakpoint(mobile){
                    width: 80px;
                }
                img{
                    width: 50%;
                    height: 50%;;
                    display: block;
                }
               }
               .home-service-content{
                width: calc(100% - 130px);
                padding-left: 20px;
                @include breakpoint(mobile){
                    width: calc(100% - 80px);
                    padding-left: 15px;
                }
                h4{
                    margin: 0px;
                    padding: 0px;
                    font-weight: 400;
                    color: $green-color;
                }
                .desc{
                    margin-top: 1rem;
                }
               }
            }
        }
    }
}

