.page-hero-section{
    position: relative;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    min-height: 350px;
    @include breakpoint(ipad_landscape){
        min-height: 250px;
    }
    @include breakpoint(ipad_portrait){
        min-height: 250px;
    }
    @include breakpoint(mobile){
       background-color: $primary-color;
       min-height: 150px;
       display: block;
       padding: 0px;
     }
    &::after{
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 60%;
        height: 100%;
        background: linear-gradient(to right,  #d9e1cb 85%,rgba(255,255,255,0) 100%);
        @include breakpoint(mobile){
           display: none;
        }
    }
    .page-hero-image{
        position: absolute;
        top: 0px;
        right: 0px;
        width: 62%;
        height: 100%;
        background-size: cover;
        background-position: center;
        @include breakpoint(mobile){
            position: relative;
            width: 100%;
            min-height: 200px;
        }
    }
    .container{
        position: relative;
        z-index: 1;
    }
    h1{
        margin: 0px;
        color: $green-color;
        font-weight: 500;
        @include breakpoint(mobile){
            padding: 2rem 0;
        }
    }
}
