.parallax-image-section {
    min-height: 650px;
    background-color: transparent;
    @include breakpoint(ipad_landscape){
        min-height: 450px;
    }
    @include breakpoint(ipad_portrait){
        min-height: 450px;
    }
    @include breakpoint(mobile){
        min-height: 350px;
    }
}
