.post-section{
    @extend %main-padding;
    .post-box{
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: row-reverse;
        margin-bottom: 5rem;
        @include breakpoint(ipad_portrait){
            flex-wrap: wrap;
            margin-bottom: 3rem;
            padding: 0 3rem;
        }
        @include breakpoint(mobile){
            flex-wrap: wrap;
            margin-bottom: 3rem;
        }
        &:last-child{
            margin-bottom: 0px;
        }
        .post-img{
            width: 50%;
            @include breakpoint(ipad_portrait){
                width: 100%;
            }
            @include breakpoint(mobile){
                width: 100%;
            }
            img{
                width: 100%;
                height: auto;
                display: block;
                border-radius: 20px;
            }
        }
        .post-content{
            width: 50%;
            padding: 2rem 0 2rem 4rem;
            @include breakpoint(ipad_portrait){
                width: 100%;
                padding: 0rem 0 2rem 0rem;
            }
            @include breakpoint(mobile){
                width: 100%;
                padding: 0rem 0 2rem 0rem;
            }
            h4{
                margin: 0 0 2rem 0;
                font-weight: 400;
            }
        }

        &.row-reverse{
            flex-direction: row;
            .post-content{
                padding: 2rem 4rem 2rem 0rem;
                @include breakpoint(ipad_portrait){
                    padding: 0rem 0 2rem 0rem; 
                }
                @include breakpoint(mobile){
                    padding: 0rem 0 2rem 0rem; 
                }
            }
        }
    }
}