.services-list-section{
    @extend %main-padding-btm;
    h4{
        display: flex;
        align-items: center;
        font-weight: 400;
        color: $green-color;
        margin: 0 0 2rem 0;
        font-size: 1.8rem;
        i{
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            @include breakpoint(ipad_landscape){
                width: 60px;
                height: 60px;
            }
            @include breakpoint(ipad_portrait){
                width: 60px;
                height: 60px;
            }
            @include breakpoint(mobile){
                width: 60px;
                height: 60px;
            }
            img{
                width: 100%;
                height: 100%;
                display: block;
            }
        } 
    }
    .services-list-box{
        width: 45%;
        @extend %main-padding-top;
        @include breakpoint(ipad_portrait){
            width: 100%;
        }
        @include breakpoint(mobile_landscape){
            width: 100%;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
        }
        &:nth-child(2n+2){
            margin-left: auto;
            @include breakpoint(ipad_portrait){
                margin-left: 0;
            }
            @include breakpoint(mobile_landscape){
                margin-left: 0;
            }
            @include breakpoint(mobile_portrait){
                margin-left: 0;
            }
        }
        .services-list-content{
            width: 50%;
            @include breakpoint(ipad_landscape){
                width: 100%;
            }
            @include breakpoint(mobile_portrait){
                width: 100%;
            }
           
        }
        .services-list-img{
            width: 45%;
            margin-left: auto;
            @include breakpoint(ipad_landscape){
                width: 100%;
                margin-left: 0;
                margin-top: 2rem;
            }
            @include breakpoint(mobile_portrait){
                width: 100%;
                margin-left: 0;
                margin-top: 2rem;
            }
            img{
                width: 100%;
                height: auto;
                display: block;
                border-radius: 20px;
            }
        }
    }
}