.testimonials-section {
    @extend %main-padding;
    background-size: cover;
    background-position: center;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }
    .container{
        position: relative;
        z-index: 1;
        color: $white;
        background: url("#{$assetIconPath}/white rose testimonial.svg") no-repeat center bottom;
        background-size: 120px;
        padding-bottom: 150px;
        @include breakpoint(ipad_portrait){
            padding-bottom: 100px;
        }
    }
    .slick-list{
        text-align: center;
        margin: auto;
        width: 70%;
        font-weight: 300;
        font-size: 2.3rem;
        line-height: 2.8rem;
        @include breakpoint(ipad_portrait){
            font-size: 2rem;
            line-height: 2.5rem;
            width: 100%;
        }
        @include breakpoint(mobile_landscape){
            font-size: 1.7rem;
            line-height: 2.3rem;
            width: 100%;
        }
        @include breakpoint(mobile_portrait){
            font-size: 1.7rem;
            line-height: 2.3rem;
            width: 90%;
        }
    }
    .slick-arrow{
        top: 35%;
        position: absolute;
        width: 70px;
        height: 50px;
        border: 0px;
        cursor: pointer;
        text-indent: -9999px;
        @include breakpoint(ipad_portrait){
            width: 40px;
            height: 30px;
        }
        @include breakpoint(mobile_landscape){
            width: 40px;
            height: 30px;
        }
        @include breakpoint(mobile_portrait){
            width: 30px;
            height: 30px;
        }
        &.slick-prev{
            left: 0px;
            background: url("#{$assetIconPath}/slider-white-arrow-left.svg") no-repeat center center;
            background-size: 100%;
            @include breakpoint(mobile_landscape){
                left: -50px;
            }
            @include breakpoint(ipad_portrait){
                left: -50px;
            }
            @include breakpoint(mobile_portrait){
                left: -25px;
            }
        }
        &.slick-next{
            right: 0px;
            background: url("#{$assetIconPath}/slider-white-arrow-right.svg") no-repeat center center;
            background-size: 100%;
            @include breakpoint(mobile_landscape){
                right: -50px;
            }
            @include breakpoint(ipad_portrait){
                right: -50px;
            }
            @include breakpoint(mobile_portrait){
                right: -25px;
            }
        }
        &.slick-disabled{
            opacity: 0.5;
        }
    }
}