.why-choose-us-section{
  position: relative;
    .why-choose-us-section-img{
        width: 50%;
        position: absolute;
        height: 100%;
        left: 0px;
        top: 0px;
        background-size: cover;
        background-position: center;
        @include breakpoint(ipad_portrait){
            position: relative;
            width: 100%;
            min-height: 300px;
        }
        @include breakpoint(mobile){
            position: relative;
            width: 100%;
            min-height: 300px;
        }
    }
    .why-choose-us-section-content{
      width: 100%;
      .why-choose-us-content{
        width: 50%;
        margin-left: auto;
        padding: 6rem 0 6rem 2rem;
        @include breakpoint(ipad_portrait){
            padding: 3rem 0;
            margin-left: 0;
            width: 100%;
        }
        @include breakpoint(mobile){
            padding: 3rem 0;
            margin-left: 0;
            width: 100%;
        }
        h2{
            margin-left: 4rem;
            @include breakpoint(ipad_portrait){
                margin-left: 0px
            }
            @include breakpoint(mobile){
                margin-left: 0px
            }
        }
        ul{
            @include ul;
            display: flex;
            flex-wrap: wrap;
            li{
               width: 50%;
               padding: 4rem 0 0 3rem;
               @include breakpoint(mobile){
                    width: 100%;
                    padding: 3rem 0 0 0;
               }
               @include breakpoint(ipad_portrait){
                &:nth-child(2n+ 1){
                    padding-left: 0px;
                   }
               }
              
               h4{
                margin: 0px;
                padding: 0px;
                font-weight: 400;
                color: $white;
            }
            .desc{
                margin-top: 1rem;
            }
               
            }
        }
      }
    }
}