%h1 {
    font-size: (4.6rem);

    @include breakpoint(desktop_md) {
        line-height: 5rem;
        font-size: 4rem;
    } 

    @include breakpoint(desktop_sm) {
        line-height: 4.5rem;
        font-size: 3.5rem;
    }

    @include breakpoint(ipad_landscape) {
        line-height: 4.5rem;
        font-size: 3.5rem;
    }
    @include breakpoint(ipad_portrait) {
        line-height: 4rem;
        font-size: 3rem;
    }
    @include breakpoint(mobile) {
        font-size: (2.5rem);
        line-height: 3.5rem;
    }

}

%h2 {
    font-size: (2.2rem);
    line-height: 2.6rem;
    @include breakpoint(ipad) {
        font-size: (2rem);
        line-height: 2.4rem;
    }
    @include breakpoint(mobile) {
        font-size: (1.8rem);
        line-height: 2.2rem;
    }
}

%h3 {
    font-size: (1.5rem);
    line-height: 1.7rem;
    @include breakpoint(mobile) {
        font-size: (1.3rem);
        line-height: 1.5rem;
    }
}

%h4 {
    font-size: (1.3rem);
    font-size: (1.5rem);
    @include breakpoint(mobile) {
        font-size: (1rem);
        font-size: (1.2rem);
    }
}

%h5 {
    font-size: (0.8rem);
}

%letter-spacing-scss {
    letter-spacing: 0.8px;
}

h1 {
    @extend %h1;
    font-family: $secondaryfontfaimly;
    font-weight: 700;
}

h2 {
    @extend %h2;
    font-family: $secondaryfontfaimly;
    font-weight: 700;
}

h3 {
    @extend %h3;
    font-family: $secondaryfontfaimly;
    font-weight: 700;
}

h4 {
    @extend %h4;
    font-family: $secondaryfontfaimly;
    font-weight: 700;
}

h5 {
    @extend %h5;
    font-family: $secondaryfontfaimly;
    font-weight: 700;
}

.heading {
    h2 {
        position: relative;
        margin: 0px;
        padding: 0 0 1rem 0;
        text-transform: uppercase;

        &::after {
            content: '';
            width: $afterLine_width;
            height: $afterLine_height;
            background: $primary-color;
            position: absolute;
            bottom: 0;
        }
    }

    .desc--box {
        margin-top: 1.5rem;
    }
}

.heading-left {
    text-align: left;

    h2 {
        &::after {
            content: '';
            left: 0;
        }
    }
}

.heading-center {
    text-align: center;

    h2 {
        &::after {
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    .desc--box {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

.heading-right {
    text-align: right;

    h2 {
        &::after {
            right: 0;
        }
    }
}

%slider-hd {
    line-height: 5.5rem;
    font-size: 5rem;

    @include breakpoint(desktop_lg) {
        line-height: 4.5rem;
        font-size: 4rem;
    } 

    @include breakpoint(desktop_md) {
        line-height: 4.5rem;
        font-size: 4rem;
    } 

    @include breakpoint(desktop_sm) {
        line-height: 4.5rem;
        font-size: 4rem;
    }
   
    @include breakpoint(ipad_landscape) {
        line-height: 4.5rem;
        font-size: 4rem;
    }

    @include breakpoint(ipad_portrait) {
        line-height: 4rem;
        font-size: 3.5rem;
    }
    @include breakpoint(mobile_landscape) {
        line-height: 3rem;
        font-size: 2.5rem;
    }

    @include breakpoint(mobile_portrait) {
        line-height: 2.5rem;
        font-size: 2rem;
    }
}

.primary-bg{
    color: $secondary-color;
    .heading h2::after{
        background: $white;
    }
    .desc--box ul li::before{
        background: $light-gray;  
    }
    .vacancies-section-in strong{
        color: $secondary-color;
    }
    .primary-outline-btn{
        border-color:$white ;
    }
}