.email-white-icon{
    background: url("#{$assetIconsPath}/Email white.svg") no-repeat 0 center;
    
}
.telephone-white-icon{
    background: url("#{$assetIconsPath}/Phone white.svg") no-repeat 0 center;
   
}
.location-white-icon{
    background: url("#{$assetIconsPath}/Location white.svg") no-repeat 12px center;
   
}
.email-green-icon{
    background: url("#{$assetIconsPath}/Email green.svg") no-repeat 0 center;
    
}
.telephone-green-icon{
    background: url("#{$assetIconsPath}/Phone green.svg") no-repeat 0 center;
   
}
.location-green-icon{
    background: url("#{$assetIconsPath}/Location green.svg") no-repeat 12px center;
   
}

.facebook-white-icon{
    background: url("#{$assetIconsPath}/Facebook white.svg") no-repeat;
    &:hover{
        background: url("#{$assetIconsPath}/Facebook green.svg") no-repeat;
    }
   
}
.twitter-white-icon{
    background: url("#{$assetIconsPath}/Twitter white.svg") no-repeat;
    &:hover{
        background: url("#{$assetIconsPath}/Twitter green.svg") no-repeat;
    }
   
}
.linkedin-white-icon{
    background: url("#{$assetIconsPath}/Linkedin white.svg") no-repeat;
    &:hover{
        background: url("#{$assetIconsPath}/Linkedin green.svg") no-repeat;
    }
   
}
.youtube-white-icon{
    background: url("#{$assetIconsPath}/Youtube white.svg") no-repeat;
    &:hover{
        background: url("#{$assetIconsPath}/Youtube green.svg") no-repeat;
    }
   
}

.instagram-white-icon{
    background: url("#{$assetIconsPath}/instagram_white.svg") no-repeat;
    &:hover{
        background: url("#{$assetIconsPath}/instagram_green.svg") no-repeat;
    }
   
}