.input-field {
    @include margin(0, 0, 2rem, 0);

    @include breakpoint(ipad_portrait) {
        @include margin(1.2rem, 0, 0, 0);
    }

    label {
        @include size-color($font-size-base, $secondary-color);
        @include margin(0px, 0, 10px, 0);
        font-weight: 100;

        a {
            color: $white;
            text-decoration: underline;

            &:hover {
                color: $primary-color;
            }
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    textarea,
    select {
        border: 0;
        border-bottom: 2px $primary-color solid;
        @include padding(15px, 10px, 15px, 0px);
        @include width(100%);
        @include size-color($font-size-base, $secondary-color);
        background: $white;
        -webkit-appearance: none;
        border-radius: 0px;
        font-family: $primaryfontfaimly;
        font-weight: 300;

        &:disabled {
            opacity: 0.5;
        }

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-style: normal;
            @include size-color($font-size-base, $primary-color);
            font-family: $primaryfontfaimly;
            font-weight: 300;
            opacity: 1;
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            font-style: normal;
            @include size-color($font-size-base, $primary-color);
            font-family: $primaryfontfaimly;
            font-weight: 300;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            font-style: normal;
            @include size-color($font-size-base, $primary-color);
            font-family: $primaryfontfaimly;
            font-weight: 300;
            opacity: 1;
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            font-style: normal;
            @include size-color($font-size-base, $primary-color);
            font-family: $primaryfontfaimly;
            font-weight: 300;
            opacity: 1;
        }
    }

    textarea {
        @include height(126px);
    }
   
}

.input-field select{
    color: $primary-color;
}