ul.social-media-icon {
    margin: 0;
    padding: 0px;
    list-style: none;
    display: flex;

    li {
        margin: 0 1rem 0 0;
        padding: 0;

        @include breakpoint(mobile_portrait) {
            margin: 0 0.6rem 0 0;
        }

        &:last-child {
            margin-right: 0px;
        }

        a {
            display: block;
            padding: 0;
            width: 55px;
            height: 55px;
        }

        a.facebook {
            background: url("#{$assetIconsPath}/guud property facebook white-01.svg") no-repeat center center;
            background-size: 100%;

            &:hover {
                background: url("#{$assetIconsPath}/guud property facebook grey-01-01.svg") no-repeat center center;
                background-size: 100%;
            }
        }

        a.instagram {
            background: url("#{$assetIconsPath}/guud property instagram white-01.svg") no-repeat center center;
            background-size: 100%;

            &:hover {
                background: url("#{$assetIconsPath}/guud property instagram grey-01-01.svg") no-repeat center center;
                background-size: 100%;
            }
        }

        a.linkedin {
            background: url("#{$assetIconsPath}/guud property linkedin white-01.svg") no-repeat center center;
            background-size: 100%;

            &:hover {
                background: url("#{$assetIconsPath}/guud property linkedin grey-01-01.svg") no-repeat center center;
                background-size: 100%;
            }
        }

        a.twitter {
            background: url("#{$assetIconsPath}/guud property twitter white-01.svg") no-repeat center center;
            background-size: 100%;

            &:hover {
                background: url("#{$assetIconsPath}/guud property twitter grey-01-01.svg") no-repeat center center;
                background-size: 100%;
            }
        }
    }
}

.header-social-media,
.mobile-header-social-media {
    ul {
        @include ul;
        display: flex;

        li {
            margin: 0px;
            padding: 0 20px;
            border-left: 1px $white solid;

            &:last-child {
                padding-right: 0px;
            }

            a {
                display: block;

                i {
                    width: 30px;
                    height: 30px;
                    display: block;
                }

            }
        }
    }
}

.sm-header,
.drop-down-open {

    .header-social-media,
    .mobile-header-social-media {
        ul {
            li {
                border-left: 1px $primary-color solid;

                a {
                    &:hover {

                        .email-green-icon {
                            background: url("#{$assetIconsPath}/Email drak.svg") no-repeat 0 center;

                        }

                        .telephone-green-icon {
                            background: url("#{$assetIconsPath}/Phone drak.svg") no-repeat 0 center;

                        }
                    }
                }

            }
        }
    }
}

.menu-slide {
    .main-header {
        .logohide {
            display: block;
        }

        .logoshow {
            display: none;
        }
    }

    .header-social-media,
    .mobile-header-social-media {
        ul {
            margin-top: 2rem !important;

            li {
                border-left: 0px $white solid;
                border-right: 1px $secondary-color solid;
                padding-top: 0 !important;
                padding-bottom: 0 !important;

                &:last-child {
                    border-right: 0px $secondary-color solid;
                }
            }
        }
    }
}

.mobile-header-social-media {
    ul {
        justify-content: center;

        li {
            a {

                i {
                    &.email-green-icon {
                        background: url("#{$assetIconsPath}/Email drak.svg") no-repeat center center;
                    }

                    &.telephone-green-icon {
                        background: url("#{$assetIconsPath}/Phone drak.svg") no-repeat center center;
                    }
                }

            }
        }
    }
}