a,
button {
  cursor: pointer;
}

// Base Font faimly

$primaryfontfaimly: 'Roboto', sans-serif;
$secondaryfontfaimly: 'Poppins', sans-serif;

// Base font size

$font-size-base: 1rem;
$font-size-base-m: 1.1rem;



// Main font size

$mainMenuFont: 1.1rem;
$mainMenuFontMob: 1.1rem;
$mainMenuSubFont: 1rem;
// Footer font size

$footerTxtFont: 1rem;

$afterLine_width: 150px;
$afterLine_height: 4px;

// Main line height
$line-height: 1.8rem;

// Main padding
$main-pd: 6rem;
$main-pd-md: 4.5rem;
$main-pd-sm: 3rem;

@include breakpoint(mobile){
  $main-pd: 3rem;
}

$box-border: 25px;

$column-space: 4rem;

// Set Image Path
$assetPath: "../img";
$assetIconsPath: "../img/icons";
$fontsPath: "../webfonts";

// Button Font Size

$btn-font-size-base: 1.1rem;

%main-padding {
    padding-top: $main-pd;
    padding-bottom: $main-pd;
    @include breakpoint(ipad_portrait) {
      padding-top: $main-pd-md;
      padding-bottom: $main-pd-md;
    }
    @include breakpoint(mobile) {
        padding-top: $main-pd-sm;
        padding-bottom: $main-pd-sm;
    }
}


%main-padding-top {
  padding-top: $main-pd;
  
  @include breakpoint(ipad_portrait) {
    padding-top: $main-pd-md;
  }
    @include breakpoint(mobile) {
      padding-top: $main-pd-sm;
    }
}

%main-padding-btm {
  padding-bottom: $main-pd;
  @include breakpoint(ipad_portrait) {
    padding-bottom: $main-pd-md;
  }
    @include breakpoint(mobile) {
      padding-bottom: $main-pd-md;
    }
}

%font-size{
  font-size: 18px;
  @include breakpoint(mobile){
    font-size: 16px;
  }
}

%sub-hero-size{
  font-size: 2.8rem;

  @include breakpoint(mobile){
    font-size: 1.8rem;
  }
}
%sub-hd-size{
  font-size: 1.5rem;
  @include breakpoint(mobile){
    font-size: 1.4rem;
  }
}

%base-line-height{
  line-height: 1.6rem;
}
.uppercase{
  text-transform: uppercase;
}
%below-hd{
  margin-top: 4rem !important;
  @include breakpoint(ipad_portrait) {
    margin-top: 3rem !important;
  }
  @include breakpoint(mobile) {
    margin-top: 3rem !important;
  }
}

%hdr-bg{
  background: linear-gradient(to bottom,  rgba(9,33,42,1) 0%,rgba(9,33,42,0.9) 25%,rgba(9,33,42,0.9) 26%,rgba(9,33,42,0.8) 50%,rgba(9,33,42,0.5) 75%,rgba(255,255,255,0) 100%);

}