h1 {
    font-size: $h1;
    font-weight: 500;
    @include breakpoint(mobile){
        font-size: $h1_m;
    }
    @include breakpoint(ipad_portrait){
        font-size: $h1_ip;
    }
}

h2 {
    font-size: $h2;
    font-weight: 500;
    @include breakpoint(mobile){
        font-size: $h2_m;
    }
    @include breakpoint(ipad_portrait){
        font-size: $h2_ip;
    }

}

h3 {
    font-size: $h3;
    font-weight: 500;
    @include breakpoint(mobile){
        font-size: $h3_m;
     }
     @include breakpoint(ipad_portrait){
        font-size: $h3_ip;
    }

}

h4 {
    font-size: $h4;
    font-weight: 300;

}
