.input-field {
    @include margin(25px, 0, 0, 0);
    label {
        @include size-color(16px, $black);
        @include margin(0px, 0, 10px, 0);
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    textarea {
        @include border(0px, $black, solid);
        @include padding(10px, 10px, 10px, 0px);
        @include width(100%);
        border-bottom: 1px $gray-color solid;
        @include size-color(1.22rem, $gray-color);
        background: transparent;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        &:disabled {
            opacity: 0.5;
        }
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-style: normal;
            @include size-color(1.22rem, $gray-color);
            font-weight: 400;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            font-style: normal;
            @include size-color(1.22rem, $gray-color);
            font-weight: 400;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            font-style: normal;
            @include size-color(1.22rem, $gray-color);
            font-weight: 400;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            font-style: normal;
            @include size-color(1.22rem, $gray-color);
            font-weight: 400;
        }
    }
    textarea {
        @include height(126px);
    }
}
