a,
button {
  cursor: pointer;
}

// Base Font faimly

$primaryfontfaimly: 'Red Hat Display', sans-serif;
$secondaryfontfaimly: "MuseoSlab-700";

// Base font size

$font-size-base: 1.22rem;
$font-size-base-m: 1rem;

// Main font size

$mainMenuFont: 1.2rem;
$mainMenuFontMob: 1.4rem;
$mainMenuSubFont: 1rem;
// Footer font size

$footerTxtFont: 1rem;

// Main h1 font size
$h1: 3rem;
$h1_il: 2.5rem;
$h1_ip: 2rem;
$h1_m: 2rem;

// Main h2 font size

$h2: 2.2rem;
$h2_ip: 2rem;
$h2_m: 1.8rem;
// Main h3 font size

$h3: 1.7rem;
$h3_ip: 1.5rem;
$h3_m: 1.4rem;
// Main h3 font size

$h4: 1.5rem;

// Main line height
$line-height: 1.9rem;

// Main padding
$main-pd: 5rem;

// Set Image Path
$assetPath: "../img";
$fontsPath: "../webfonts";

// Button Font Size

$btn-font-size-base: 1rem;

.mrg-top-3 {
  margin-top: 3rem;
}
