// Global Breakpoint

@mixin breakpoint($media) {
  @if $media==big_screen {
    @media (min-width: 1600px) and (max-width: 30000px) {
      @content;
    }
  } 
  @else if $media==inner_hd__img {
    @media (min-width: 1099px) and (max-width: 300000px) {
      @content;
    }
  } 
  @else if $media==ipad_landscape {
    @media (min-width: 992px) and (max-width: 1024px) {
      @content;
    }
  } @else if $media==ipad_portrait {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $media==ipad {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  } @else if $media==mobile_landscape {
    @media (min-width: 568px) and (max-width: 767px) {
      @content;
    }
  } @else if $media==mobile_portrait {
    @media (min-width: 320px) and (max-width: 567px) {
      @content;
    }
  } @else if $media==mobile {
    @media (min-width: 320px) and (max-width: 767px) {
      @content;
    }
  } @else if $media==mobile_nav {
    @media (min-width: 320px) and (max-width: 1130px) {
      @content;
    }
  }
}
