.btn-set--left {
    display: flex;
    justify-content: left;
}

.btn-set--center {
    display: flex;
    justify-content: center;
}

.btn-set--right {
    display: flex;
    justify-content: right;
    @include breakpoint(mobile) {
        justify-content: center;
    }
}

.primary-btn {
    background-color: transparent;
    color: $white;
    border: 1px $white solid;
    padding: 0.5rem 2rem;
    display: block;
    font-size: $btn-font-size-base;

    &:hover {
        background-color: $white;
        color: $secondary-color;
        border: 1px $secondary-color solid;
    }
}

.secondary-btn {
    background-color: transparent;
    color: $primary-color;
    border: 1px $primary-color solid;
    padding: 0.5rem 2rem;
    font-size: $btn-font-size-base;
    display: block;

    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}

.wpcf7-submit{
    background:$secondary-color url("#{$assetPath}/right-arrow.svg") no-repeat calc(100% - 10px) center ;
    color: $white;
    border: 1px $white solid;
    padding: 0.5rem 2rem;
    display: block;
    font-size: $btn-font-size-base;
    cursor: pointer !important;


    &:hover {
        background: $white url("#{$assetPath}/pink-right-arrow.svg") no-repeat calc(100% - 10px) center ;
        color: $secondary-color;
        border: 1px $secondary-color solid;
        cursor: pointer !important;
    }
}

.call-now-section{
    .request-form-pop{
        .wpcf7-submit{
            background:$primary-color url("#{$assetPath}/right-arrow.svg") no-repeat calc(100% - 10px) center ;
            color: $white;
            border: 1px $white solid;
            padding: 0.5rem 2rem;
            display: block;
            font-size: $btn-font-size-base;
            cursor: pointer !important;
        
        
            &:hover {
                background: $white url("#{$assetPath}/pink-right-arrow.svg") no-repeat calc(100% - 10px) center ;
                color: $secondary-color;
                border: 1px $secondary-color solid;
                cursor: pointer !important;
            }
        }
       
    }
}