@charset "UTF-8";
/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
@import url("//hello.myfonts.net/count/2eb7ff");
a,
button {
  cursor: pointer;
}

.mrg-top-3 {
  margin-top: 3rem;
}

@font-face {
  font-family: "MuseoSlab-1000Italic";
  src: url("../webfonts/2EB7FF_0_0.eot");
  src: url("../webfonts/2EB7FF_0_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_0_0.woff2") format("woff2"), url("../webfonts/2EB7FF_0_0.woff") format("woff"), url("../webfonts/2EB7FF_0_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSlab-100";
  src: url("../webfonts/2EB7FF_1_0.eot");
  src: url("../webfonts/2EB7FF_1_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_1_0.woff2") format("woff2"), url("../webfonts/2EB7FF_1_0.woff") format("woff"), url("../webfonts/2EB7FF_1_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSlab-700";
  src: url("../webfonts/2EB7FF_2_0.eot");
  src: url("../webfonts/2EB7FF_2_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_2_0.woff2") format("woff2"), url("../webfonts/2EB7FF_2_0.woff") format("woff"), url("../webfonts/2EB7FF_2_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSlab-900";
  src: url("../webfonts/2EB7FF_3_0.eot");
  src: url("../webfonts/2EB7FF_3_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_3_0.woff2") format("woff2"), url("../webfonts/2EB7FF_3_0.woff") format("woff"), url("../webfonts/2EB7FF_3_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSlab-300";
  src: url("../webfonts/2EB7FF_4_0.eot");
  src: url("../webfonts/2EB7FF_4_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_4_0.woff2") format("woff2"), url("../webfonts/2EB7FF_4_0.woff") format("woff"), url("../webfonts/2EB7FF_4_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSlab-1000";
  src: url("../webfonts/2EB7FF_5_0.eot");
  src: url("../webfonts/2EB7FF_5_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_5_0.woff2") format("woff2"), url("../webfonts/2EB7FF_5_0.woff") format("woff"), url("../webfonts/2EB7FF_5_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSlab-500";
  src: url("../webfonts/2EB7FF_6_0.eot");
  src: url("../webfonts/2EB7FF_6_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_6_0.woff2") format("woff2"), url("../webfonts/2EB7FF_6_0.woff") format("woff"), url("../webfonts/2EB7FF_6_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSlab-300Italic";
  src: url("../webfonts/2EB7FF_7_0.eot");
  src: url("../webfonts/2EB7FF_7_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_7_0.woff2") format("woff2"), url("../webfonts/2EB7FF_7_0.woff") format("woff"), url("../webfonts/2EB7FF_7_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSlab-700Italic";
  src: url("../webfonts/2EB7FF_8_0.eot");
  src: url("../webfonts/2EB7FF_8_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_8_0.woff2") format("woff2"), url("../webfonts/2EB7FF_8_0.woff") format("woff"), url("../webfonts/2EB7FF_8_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSlab-500Italic";
  src: url("../webfonts/2EB7FF_9_0.eot");
  src: url("../webfonts/2EB7FF_9_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_9_0.woff2") format("woff2"), url("../webfonts/2EB7FF_9_0.woff") format("woff"), url("../webfonts/2EB7FF_9_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSlab-900Italic";
  src: url("../webfonts/2EB7FF_A_0.eot");
  src: url("../webfonts/2EB7FF_A_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_A_0.woff2") format("woff2"), url("../webfonts/2EB7FF_A_0.woff") format("woff"), url("../webfonts/2EB7FF_A_0.ttf") format("truetype");
}
@font-face {
  font-family: "MuseoSlab-100Italic";
  src: url("../webfonts/2EB7FF_B_0.eot");
  src: url("../webfonts/2EB7FF_B_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_B_0.woff2") format("woff2"), url("../webfonts/2EB7FF_B_0.woff") format("woff"), url("../webfonts/2EB7FF_B_0.ttf") format("truetype");
}
@font-face {
  font-family: "HAPPYCLOUDBlack-Regular";
  src: url("../webfonts/2EB7FF_C_0.eot");
  src: url("../webfonts/2EB7FF_C_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_C_0.woff2") format("woff2"), url("../webfonts/2EB7FF_C_0.woff") format("woff"), url("../webfonts/2EB7FF_C_0.ttf") format("truetype");
}
@font-face {
  font-family: "HAPPYCLOUD-Regular";
  src: url("../webfonts/2EB7FF_D_0.eot");
  src: url("../webfonts/2EB7FF_D_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_D_0.woff2") format("woff2"), url("../webfonts/2EB7FF_D_0.woff") format("woff"), url("../webfonts/2EB7FF_D_0.ttf") format("truetype");
}
@font-face {
  font-family: "HAPPYCLOUDHeavy-Regular";
  src: url("../webfonts/2EB7FF_E_0.eot");
  src: url("../webfonts/2EB7FF_E_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_E_0.woff2") format("woff2"), url("../webfonts/2EB7FF_E_0.woff") format("woff"), url("../webfonts/2EB7FF_E_0.ttf") format("truetype");
}
@font-face {
  font-family: "HAPPYCLOUD-Bold";
  src: url("../webfonts/2EB7FF_F_0.eot");
  src: url("../webfonts/2EB7FF_F_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_F_0.woff2") format("woff2"), url("../webfonts/2EB7FF_F_0.woff") format("woff"), url("../webfonts/2EB7FF_F_0.ttf") format("truetype");
}
@font-face {
  font-family: "HAPPYCLOUDLight-Regular";
  src: url("../webfonts/2EB7FF_10_0.eot");
  src: url("../webfonts/2EB7FF_10_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/2EB7FF_10_0.woff2") format("woff2"), url("../webfonts/2EB7FF_10_0.woff") format("woff"), url("../webfonts/2EB7FF_10_0.ttf") format("truetype");
}
.btn-set--left {
  display: flex;
  justify-content: left;
}

.btn-set--center {
  display: flex;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  justify-content: right;
}
@media (min-width: 320px) and (max-width: 767px) {
  .btn-set--right {
    justify-content: center;
  }
}

.primary-btn {
  background-color: transparent;
  color: #fff;
  border: 1px #fff solid;
  padding: 0.5rem 2rem;
  display: block;
  font-size: 1rem;
}
.primary-btn:hover {
  background-color: #fff;
  color: #7b2f5c;
  border: 1px #7b2f5c solid;
}

.secondary-btn {
  background-color: transparent;
  color: #4d515a;
  border: 1px #4d515a solid;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  display: block;
}
.secondary-btn:hover {
  background-color: #4d515a;
  color: #fff;
  border: 1px #4d515a solid;
}

.wpcf7-submit {
  background: #7b2f5c url("../img/right-arrow.svg") no-repeat calc(100% - 10px) center;
  color: #fff;
  border: 1px #fff solid;
  padding: 0.5rem 2rem;
  display: block;
  font-size: 1rem;
  cursor: pointer !important;
}
.wpcf7-submit:hover {
  background: #fff url("../img/pink-right-arrow.svg") no-repeat calc(100% - 10px) center;
  color: #7b2f5c;
  border: 1px #7b2f5c solid;
  cursor: pointer !important;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background: #fff;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0px;
  font-size: 1rem;
  color: #4d515a;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

p {
  line-height: 1.7rem;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #7b2f5c;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

.container-fluid {
  max-width: 100%;
  width: calc(100% - 6rem);
  padding: 0 1rem;
  margin: auto;
}

.container-lg {
  max-width: 100%;
  width: calc(100% - 4rem);
  margin: auto;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-lg {
    width: calc(100% - 3rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-lg {
    width: calc(100% - 2rem);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container-lg {
    width: calc(100% - 2rem);
  }
}

.gallery-container {
  max-width: 100%;
  width: calc(100% - 6rem);
  padding: 2.5rem 1rem 0;
  margin: auto;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .gallery-container {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .gallery-container {
    width: calc(100% - 3rem);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .gallery-container {
    max-width: 100%;
    width: calc(100% - 1rem);
    margin: auto;
  }
}

.container {
  max-width: 100%;
  width: calc(100% - 12rem);
  margin: auto;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: calc(100% - 2rem);
  }
}

@media (min-width: 1600px) and (max-width: 30000px) {
  .post-row--content .container {
    max-width: 1380px;
    margin: auto;
    width: auto;
  }
}

.container-sm {
  max-width: 100%;
  width: calc(100% - 24rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1600px) and (max-width: 30000px) {
  .container-sm {
    max-width: 1100px;
    margin: auto;
    width: auto;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-sm {
    width: calc(100% - 12rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-sm {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container-sm {
    width: calc(100% - 2rem);
  }
}

.main-review-section .container-sm {
  padding-left: 5rem;
  padding-right: 5rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-review-section .container-sm {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.section-tp-bt-pd {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.content-box-lt-pd {
  padding-left: 10%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .content-box-lt-pd {
    padding-left: 0%;
  }
}

.light-orange--bg {
  background-color: #9d7e6f;
}

.white--bg {
  background-color: #fff;
}

.gray--bg {
  background-color: #e9e2df;
}

.purple--bg {
  background-color: #7b2f5c;
}

.dark--bg {
  background-color: #4d515a;
}

@media (min-width: 320px) and (max-width: 567px) {
  .desc--box p br {
    display: none;
  }
}
.desc--box p:last-child {
  margin: 0px;
}

.fancybox__caption {
  padding: 0px;
  z-index: 21;
  background-color: #9d7e6f;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: #fff;
}

.hide-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hide-desktop {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

.mobile-landscape-show {
  display: none;
}
@media (min-width: 568px) and (max-width: 767px) {
  .mobile-landscape-show {
    display: block;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
  .mobile-landscape-hide {
    display: none !important;
  }
}

/*Helpers Scss Files */
.input-field {
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.input-field label {
  font-size: 16px;
  color: #000;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea {
  border-width: 0px;
  border-color: #000;
  border-style: solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 100%;
  border-bottom: 1px #fff solid;
  font-size: 15px;
  color: #fff;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  -webkit-appearance: none;
  border-radius: 0;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled {
  opacity: 0.5;
}
.input-field input[type=text]::-webkit-input-placeholder,
.input-field input[type=email]::-webkit-input-placeholder,
.input-field input[type=password]::-webkit-input-placeholder,
.input-field input[type=number]::-webkit-input-placeholder,
.input-field input[type=date]::-webkit-input-placeholder,
.input-field textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 15px;
  color: #fff;
}
.input-field input[type=text]::-moz-placeholder,
.input-field input[type=email]::-moz-placeholder,
.input-field input[type=password]::-moz-placeholder,
.input-field input[type=number]::-moz-placeholder,
.input-field input[type=date]::-moz-placeholder,
.input-field textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-size: 15px;
  color: #fff;
}
.input-field input[type=text]:-ms-input-placeholder,
.input-field input[type=email]:-ms-input-placeholder,
.input-field input[type=password]:-ms-input-placeholder,
.input-field input[type=number]:-ms-input-placeholder,
.input-field input[type=date]:-ms-input-placeholder,
.input-field textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-size: 15px;
  color: #fff;
}
.input-field input[type=text]:-moz-placeholder,
.input-field input[type=email]:-moz-placeholder,
.input-field input[type=password]:-moz-placeholder,
.input-field input[type=number]:-moz-placeholder,
.input-field input[type=date]:-moz-placeholder,
.input-field textarea:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-size: 15px;
  color: #fff;
}
.input-field textarea {
  height: 126px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

.selectbox {
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  width: 100%;
  font-size: 18px;
  color: #fff;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 3rem;
  font-family: "MuseoSlab-300";
  font-weight: 300;
}
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 2.5rem;
  }
}
h1:empty {
  display: none;
}

h2 {
  font-size: 2.2rem;
  font-family: "MuseoSlab-300";
  font-weight: 300;
}
@media (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 2rem;
  }
}
h2:empty {
  display: none;
}

h3 {
  font-size: 1.7rem;
  font-family: "MuseoSlab-300";
  font-weight: 300;
}
@media (min-width: 320px) and (max-width: 767px) {
  h3 {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: 1.5rem;
  }
}
h3:empty {
  display: none;
}

h4 {
  font-size: 1.5rem;
  font-family: "MuseoSlab-300";
  font-weight: 300;
}

.text-section h2 {
  margin: 0 0 1.5rem;
  padding: 0px;
  color: #9d7e6f;
}

.page-title-content--box h1 {
  margin: 0;
  padding: 0px;
  position: relative;
  z-index: 1;
}
.page-title-content--box h1 img {
  width: 330px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .page-title-content--box h1 img {
    width: 220px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-title-content--box h1 img {
    width: 145px;
  }
}

.inner-page-hero h1 {
  text-transform: uppercase;
}

.post-row--text h3 {
  margin: 0 0 1.5rem;
  padding: 0px;
  color: #fff;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media (min-width: 320px) and (max-width: 567px) {
  .post-row--text h3 {
    text-overflow: inherit;
    overflow: hidden;
    white-space: inherit;
  }
}
.post-row--text h3 img {
  width: 270px;
}

.tile-section h3 {
  margin-top: 0px;
}

.commercial-project-section h3 {
  margin: 0 0 4rem;
  padding: 0px;
  color: #fff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .commercial-project-section h3 {
    margin: 0 0 2rem;
  }
}

.flooring-types h3 {
  margin: 0 0 3rem;
  padding: 0px;
}

.gallery-section h3,
.tile-gallery h3 {
  margin: 0;
  padding: 0px;
}

.flooring-types--content h4 {
  margin: 0;
  padding: 0px;
}

.brands-logo h3 {
  margin: 0 0 3rem;
  padding: 0px;
}

.contact-section h1 {
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-size: 2.2rem;
}

/*Layout Scss Files */
.main-header {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
.main-header .custom-row {
  align-items: flex-start;
}
.main-header .logo {
  width: auto;
}
.main-header .logo a {
  display: block;
}
.main-header .logo img {
  display: block;
  width: 230px;
}
@media (min-width: 320px) and (max-width: 1130px) {
  .main-header .logo img {
    width: 145px;
  }
}
.main-header .hdr-right {
  margin-left: auto;
  padding-top: 19px;
}
@media (min-width: 320px) and (max-width: 1130px) {
  .main-header .hdr-right {
    padding-top: 0px;
  }
}
.main-header .hdr-right .nav__toggle {
  display: none;
}
@media (min-width: 320px) and (max-width: 1130px) {
  .main-header .hdr-right .nav__toggle {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 1130px) {
  .nav_menu {
    display: none;
  }
}
.nav_menu .nav_menu_inner {
  display: flex;
  align-items: flex-start;
}
@media (min-width: 320px) and (max-width: 1130px) {
  .nav_menu .nav_menu_inner {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .nav_menu .nav_menu_inner {
    display: flex;
    height: 100%;
    align-items: center;
  }
}
.nav_menu nav {
  margin-top: 4px;
}
.nav_menu nav ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  align-items: flex-start;
}
.nav_menu nav ul li {
  margin: 0 20px;
  padding: 0;
  position: relative;
}
@media (min-width: 1100px) and (max-width: 1230px) {
  .nav_menu nav ul li {
    margin: 0 10px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .nav_menu nav ul li {
    margin: 0 12px;
  }
}
.nav_menu nav ul li.menu-item-28 {
  width: 80px;
}
@media (min-width: 320px) and (max-width: 1130px) {
  .nav_menu nav ul li.menu-item-28 {
    width: auto;
  }
}
.nav_menu nav ul li.menu-item-159 {
  width: 130px;
}
@media (min-width: 320px) and (max-width: 1130px) {
  .nav_menu nav ul li.menu-item-159 {
    width: auto;
  }
}
.nav_menu nav ul li .sub-menu-toggle {
  width: 0px;
  height: 0px;
  border: 0px;
  padding: 0px;
  background: transparent;
  display: none;
}
.nav_menu nav ul li a {
  color: #4d515a;
  font-size: 1.1rem;
  padding: 0;
  display: inline-flex;
}
@media (min-width: 320px) and (max-width: 1130px) {
  .nav_menu nav ul li a {
    font-size: 1.3rem;
  }
}
.nav_menu nav ul li a:hover {
  color: #4d515a;
  font-weight: 400;
}
.nav_menu nav ul li.current-menu-item a, .nav_menu nav ul li.current_page_ancestor a {
  font-weight: 400;
  color: #4d515a;
}
.nav_menu nav ul li.menu-item-has-children ul {
  text-align: left;
  display: none;
  width: 203px;
  padding-top: 13px;
}
.nav_menu nav ul li.menu-item-has-children ul ul:empty {
  display: none;
}
.nav_menu nav ul li.menu-item-has-children ul li {
  display: block;
  margin: 0px;
  padding: 3px 0px 3px 0px;
}
.nav_menu nav ul li.menu-item-has-children ul li a {
  padding: 0px 0px 0px 0px;
  font-size: 1rem;
  color: #4d515a;
  border-bottom: 0px #4d515a solid;
  text-transform: capitalize;
  font-weight: 300;
}
.nav_menu nav ul li.menu-item-has-children ul li.current-menu-item a {
  font-weight: 400;
}
.nav_menu nav ul li.menu-item-has-children:hover a {
  color: #4d515a;
  border-bottom: 1px #7b2f5c solid;
  padding-bottom: 10px;
}
.nav_menu nav ul li.menu-item-has-children:hover ul {
  display: block;
}
.nav_menu nav ul li.menu-item-has-children:hover ul li a {
  border-bottom: 0px;
  color: #4d515a;
  padding-bottom: 0px;
  font-size: 1rem;
  font-weight: 300;
}
.nav_menu nav ul li.menu-item-has-children:hover ul li a:hover {
  color: #7b2f5c;
  font-weight: 400;
}
.nav_menu nav ul li.menu-item-has-children:hover ul li.current-menu-item a, .nav_menu nav ul li.menu-item-has-children:hover ul li.current_page_ancestor a {
  color: #4d515a;
  font-weight: 400;
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 30px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  text-align: center;
  cursor: pointer;
  border-radius: 0px;
  height: 2px;
  width: 30px;
  background-color: #4d515a;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.2s;
  outline: 0;
}
.nav__toggle span {
  top: 15px;
}
.nav__toggle span::before {
  top: -10px;
}
.nav__toggle span::after {
  bottom: -10px;
}

.header-social-media {
  margin-top: 7px;
}
.header-social-media ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  list-style: none;
}
.header-social-media ul li {
  margin: 0 0 0 20px;
  padding: 0px;
}
.header-social-media ul li a {
  display: block;
}
.header-social-media ul li a svg {
  fill: #4d515a;
  width: 20px;
}
.header-social-media ul li a:hover svg {
  fill: #7b2f5c;
}

.menu-slide {
  overflow: hidden;
  height: 100%;
}
.menu-slide .nav__toggle span {
  background-color: transparent;
}
.menu-slide .nav__toggle span::before, .menu-slide .nav__toggle span::after {
  top: 0;
  background-color: #4d515a;
}
.menu-slide .nav__toggle span::before {
  transform: rotate(45deg);
}
.menu-slide .nav__toggle span::after {
  transform: rotate(-45deg);
}
.menu-slide .nav__toggle:hover span {
  background-color: transparent;
}
.menu-slide .nav__toggle:hover span::before, .menu-slide .nav__toggle:hover span::after {
  background-color: #4d515a;
}
.menu-slide .nav_menu {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  height: 87vh;
  overflow: auto;
  padding: 0;
  top: 70px;
}
@media (min-width: 320px) and (max-width: 1130px) {
  .menu-slide .nav_menu {
    display: flex;
    align-items: self-start;
    justify-content: center;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .nav_menu {
    height: calc(100vh - 84px);
    top: 50px;
  }
}
.menu-slide .nav_menu nav {
  display: flex;
  align-items: self-start;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 320px) and (max-width: 1130px) {
  .menu-slide .nav_menu nav {
    display: block;
  }
}
.menu-slide .nav_menu nav ul {
  display: block;
}
@media (min-width: 320px) and (max-width: 1130px) {
  .menu-slide .nav_menu nav ul {
    width: 100%;
  }
}
.menu-slide .nav_menu nav ul li {
  padding: 10px 0;
}
@media (min-width: 320px) and (max-width: 1130px) {
  .menu-slide .nav_menu nav ul li {
    padding: 7px 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .nav_menu nav ul li {
    padding: 5px 0;
  }
}
.menu-slide .nav_menu nav ul li.menu-item-45 {
  width: auto;
}
.menu-slide .nav_menu nav ul li.menu-item-44 {
  width: auto;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children .sub-menu-toggle {
  background: url("../img/menu-close.svg") no-repeat center center;
  height: 15px;
  border: 0px;
  padding: 0px;
  cursor: pointer;
  width: 24px;
  margin: 10px 0 0 15px;
  display: inline;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children ul {
  display: none;
  width: 100%;
  padding: 0;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children ul li {
  position: relative;
  padding: 4px 10px 4px 0px;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children ul li span.submenu-arrow {
  display: none;
}
@media (min-width: 320px) and (max-width: 1130px) {
  .menu-slide .nav_menu nav ul li.menu-item-has-children ul li:first-child {
    margin-top: 0.5rem;
  }
  .menu-slide .nav_menu nav ul li.menu-item-has-children ul li:last-child {
    margin-bottom: 0;
  }
}
.menu-slide .nav_menu nav ul li.menu-item-has-children:hover a {
  border-bottom: 0px transparent solid;
  padding-bottom: 0;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children.submenu-expanded .sub-menu-toggle {
  background: url("../img/menu-open.svg") no-repeat center center;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children.submenu-expanded ul {
  display: block;
}
.menu-slide .nav_menu nav .header-social-media {
  width: 100%;
}
.menu-slide .nav_menu nav .header-social-media ul {
  text-align: left;
  display: flex;
}
.menu-slide .nav_menu nav .header-social-media ul li {
  margin: 0 0 0 20px;
  padding: 0px;
}
.menu-slide .nav_menu nav .header-social-media ul li a {
  display: block;
}
.menu-slide .main-header {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.nav_menu nav ul li ul li ul {
  display: none !important;
}

.main-footer .footer-left {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-left {
    width: 100%;
    text-align: center;
  }
}
.main-footer p {
  margin: 0px;
  font-size: 0.8rem;
}
.main-footer .footer-right {
  width: 50%;
  text-align: right;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-right {
    width: 100%;
    text-align: center;
  }
}
.main-footer .footer-top {
  background: #fff;
  padding: 4rem 0 1.5rem 0;
}
@media (min-width: 568px) and (max-width: 767px) {
  .main-footer .footer-top {
    padding: 1rem 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-top {
    padding: 2rem 0 2rem 0;
  }
}
.main-footer .footer-link ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-link ul {
    justify-content: center;
  }
}
.main-footer .footer-link ul li {
  margin: 0 0 0 15px;
  padding: 0px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-link ul li {
    margin: 0 8px;
  }
}
.main-footer .footer-link ul li a {
  color: #fff;
  display: block;
}
.main-footer .footer-link ul li a:hover {
  color: #9d7e6f;
}
.main-footer .footer-btm {
  background: #4d515a;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 0;
}
.main-footer .footer-btm .custom-row {
  align-items: center;
}
.main-footer .footer-btm p a {
  color: #fff;
  font-weight: 400;
}
.main-footer .footer-logo--img {
  width: 172px;
}
.main-footer .footer-social-media strong {
  font-weight: 300;
  margin-bottom: 15px;
  display: block;
}
.main-footer .footer-social-media ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: end;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-social-media ul {
    justify-content: center;
  }
}
.main-footer .footer-social-media ul li {
  margin: 0 0 0 20px;
  padding: 0px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-social-media ul li {
    margin: 0 10px;
  }
}
.main-footer .footer-social-media ul li a {
  display: block;
}
.main-footer .footer-social-media ul li a svg {
  fill: #4d515a;
  width: 20px;
}
.main-footer .footer-social-media ul li a:hover svg {
  fill: #7b2f5c;
}

/*Components Scss Files */
.text-section {
  padding-top: 6rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .text-section {
    padding-top: 4rem;
  }
}
.text-section .container-sm {
  padding-left: 5rem;
  padding-right: 5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-section .container-sm {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .text-section .container-sm {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.post-row {
  position: relative;
  margin-top: 4rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .post-row {
    padding: 0 5rem;
  }
}
.post-row:nth-child(1) {
  margin-top: 0rem;
}
.post-row .container {
  position: relative;
  height: 100%;
}
.post-row .custom-row {
  height: 100%;
  align-items: center;
}
.post-row .post-row--img {
  width: 50%;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-row--img {
    overflow: hidden;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .post-row--img {
    width: 100%;
    padding: 0 1rem;
  }
}
.post-row .post-row--img img {
  width: 100%;
  display: block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-row--img img {
    width: 150%;
    display: block;
    max-width: 150% !important;
  }
}
.post-row .post-row--content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .post-row--content {
    position: relative;
  }
}
.post-row .post-row--content .desc--box {
  padding-left: 2rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .post-row .post-row--content .desc--box {
    padding-left: 0;
  }
  .post-row .post-row--content .desc--box br {
    display: none;
  }
}
.post-row .post-row--text {
  width: 55%;
  padding: 4rem;
}
@media (min-width: 1600px) and (max-width: 30000px) {
  .post-row .post-row--text {
    min-height: 360px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .post-row .post-row--text {
    padding: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-row--text {
    padding: 2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .post-row .post-row--text {
    padding: 2rem 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .post-row--text {
    width: 100%;
    padding: 3rem 2rem;
  }
}
.post-row .post-row--text .desc--box p {
  color: #fff;
}
.post-row.post-row--left .post-row--text {
  padding-right: 6rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .post-row.post-row--left .post-row--text {
    padding-right: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row.post-row--left .post-row--text {
    padding-right: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row.post-row--left .post-row--text {
    padding-right: 2rem;
  }
}
.post-row.post-row--right .post-row--img {
  margin-left: 0;
}
.post-row.post-row--right .post-row--text {
  margin-left: auto;
  padding-left: 6rem;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .post-row.post-row--right .post-row--text {
    padding-left: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row.post-row--right .post-row--text {
    padding-left: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row.post-row--right .post-row--text {
    padding-left: 2rem;
  }
}
.post-row .post-row-text-bg-1 {
  background: #9d7e6f;
  mix-blend-mode: multiply;
}
.post-row .post-row-text-bg-2 {
  background: #4d515a;
  mix-blend-mode: multiply;
}

.post-row--text.post-row-text-bg-2 h3 {
  text-transform: capitalize;
}

.post-row .post-row-text-bg-1:hover {
  background: #7b2f5c;
}

.page-title-section {
  position: relative;
  background-color: #d1d2d4;
  min-height: 592px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .page-title-section {
    min-height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-title-section {
    min-height: 300px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-title-section {
    min-height: 300px;
  }
}
.page-title-section .btn-set--left {
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .page-title-section .page-title--img {
    overflow: hidden;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-title-section .page-title--img {
    overflow: hidden;
  }
}
.page-title-section .page-title--img img {
  display: block;
  width: 100%;
  max-width: auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-title-section .page-title--img img {
    width: 150%;
    max-width: 150% !important;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-title-section .page-title--img img {
    width: 100%;
    max-width: 100% !important;
  }
}
.page-title-section .page-title-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-title-section .page-title-content {
    position: relative;
  }
}
.page-title-section .page-title-content .container {
  height: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-title-section .page-title-content .container {
    padding: 0px;
    width: 100%;
  }
}
.page-title-section .page-title-content .page-title-content--flex {
  width: 60%;
  height: 100%;
  display: flex;
  margin-left: -11%;
  align-items: center;
  padding-top: 2vh;
}
@media (min-width: 1600px) and (max-width: 30000px) {
  .page-title-section .page-title-content .page-title-content--flex {
    padding-top: 2vh;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .page-title-section .page-title-content .page-title-content--flex {
    width: 78%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-title-section .page-title-content .page-title-content--flex {
    width: 80%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-title-section .page-title-content .page-title-content--flex {
    width: 100%;
    padding-top: 0px;
    margin-left: 0px;
  }
}
.page-title-section .page-title-content .page-title-content--flex .page-title-content--box {
  padding: 4rem 2rem 4rem 12rem;
  color: #fff;
  width: 100%;
  position: relative;
}
@media (min-width: 1600px) and (max-width: 30000px) {
  .page-title-section .page-title-content .page-title-content--flex .page-title-content--box {
    padding: 4rem 2rem 4rem 14rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .page-title-section .page-title-content .page-title-content--flex .page-title-content--box {
    padding-left: 7rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-title-section .page-title-content .page-title-content--flex .page-title-content--box {
    padding-left: 7rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-title-section .page-title-content .page-title-content--flex .page-title-content--box {
    padding: 2rem;
  }
}
.page-title-section .page-title-content .page-title-content--flex .page-title-content--box .btn-set--left {
  margin-top: 2.5rem;
}
.page-title-section .page-title-content .page-title-content--flex .page-title-content--box::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  mix-blend-mode: multiply;
  position: absolute;
}
.page-title-section .page-title-content .page-title-content--flex .page-title-content--box.page-title-content-bg-1 {
  background: transparent;
}
.page-title-section .page-title-content .page-title-content--flex .page-title-content--box.page-title-content-bg-1::after {
  background: #7b2f5c;
}
.page-title-section .page-title-content .page-title-content--flex .page-title-content--box.page-title-content-bg-2 {
  background: transparent;
}
.page-title-section .page-title-content .page-title-content--flex .page-title-content--box.page-title-content-bg-2::after {
  background: #4d515a;
}

.inner-page-hero.page-title-section {
  min-height: 100px;
}
@media (min-width: 1099px) and (max-width: 300000px) {
  .inner-page-hero.page-title-section {
    max-height: 600px;
    overflow: hidden;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .inner-page-hero.page-title-section {
    min-height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .inner-page-hero.page-title-section .page-title--img img {
    width: 125%;
    max-width: 125% !important;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .inner-page-hero.page-title-section .page-title--img img {
    width: 100%;
    max-width: 100% !important;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .inner-page-hero.page-title-section .page-title-content {
    position: absolute;
  }
}
@media (min-width: 1099px) and (max-width: 300000px) {
  .inner-page-hero.page-title-section .page-title-content .page-title-content--flex {
    padding-top: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .inner-page-hero.page-title-section .page-title-content .page-title-content--flex {
    padding-top: 84px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .inner-page-hero.page-title-section .page-title-content .page-title-content--flex {
    padding-top: 84px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .inner-page-hero.page-title-section .page-title-content .page-title-content--flex {
    margin-left: 0;
    padding-top: 64px;
    width: 75%;
  }
}

.services .page-title-section .page-title-content .page-title-content--flex .page-title-content--box.page-title-content-bg-2,
.single-service .page-title-section .page-title-content .page-title-content--flex .page-title-content--box.page-title-content-bg-2 {
  background: transparent;
}
.services .page-title-section .page-title-content .page-title-content--flex .page-title-content--box.page-title-content-bg-2::after,
.single-service .page-title-section .page-title-content .page-title-content--flex .page-title-content--box.page-title-content-bg-2::after {
  background: #9d7e6f;
}

@media (min-width: 1099px) and (max-width: 300000px) {
  .hero-slider-section.page-title-section {
    max-height: 850px;
    overflow: hidden;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-slider-section.page-title-section .page-title--img img {
    width: 120%;
    max-width: 120% !important;
  }
}
@media (min-width: 1099px) and (max-width: 300000px) {
  .hero-slider-section.page-title-section .page-title-content .page-title-content--flex {
    padding-top: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero-slider-section.page-title-section .page-title-content .page-title-content--flex {
    padding-top: 74px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-slider-section.page-title-section .page-title-content .page-title-content--flex {
    padding-top: 74px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-slider-section.page-title-section .page-title-content .page-title-content--flex .page-title-content--box {
    padding-top: 2rem;
    padding-top: 3rem;
  }
}

.inner-page-hero.page-title-section .page-title-content .page-title-content--flex .page-title-content--box {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  min-height: 240px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .inner-page-hero.page-title-section .page-title-content .page-title-content--flex .page-title-content--box {
    min-height: 148px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .inner-page-hero.page-title-section .page-title-content .page-title-content--flex .page-title-content--box {
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 90px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .inner-page-hero.page-title-section .page-title-content .page-title-content--flex .page-title-content--box {
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 106px;
  }
}

.sm-post--row {
  align-items: center;
  margin-top: 3rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .sm-post--row {
    padding: 0 5rem;
  }
}
.sm-post--row:first-child {
  margin-top: 0px;
}
.sm-post--row .sm-post-row--img {
  width: 50%;
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  .sm-post--row .sm-post-row--img {
    width: 100%;
  }
}
.sm-post--row .sm-post-row--img::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
}
.sm-post--row .sm-post-row--img .sm-post-row-img--below img {
  width: 100%;
  display: block;
}
.sm-post--row .sm-post-row--img .sm-post-row-img--above {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.sm-post--row .sm-post-row--img .sm-post-row-img--above img {
  width: 60%;
}
.sm-post--row .sm-post-row--content {
  width: 50%;
  padding: 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .sm-post--row .sm-post-row--content {
    width: 100%;
    padding: 1rem 0;
  }
}
.sm-post--row .sm-post-row--content h4 {
  margin: 0 0 1rem;
}
.sm-post--row.sm-post-row--left .sm-post-row--content {
  padding-right: 0px;
}
.sm-post--row.sm-post-row--right {
  flex-direction: row-reverse;
}
@media (min-width: 320px) and (max-width: 767px) {
  .sm-post--row.sm-post-row--right {
    flex-direction: column;
  }
}
.sm-post--row.sm-post-row--right .sm-post-row--content {
  padding-left: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .sm-post--row.sm-post-row--right .sm-post-row--content {
    padding-left: 1rem;
  }
}

.review--box {
  font-size: 1.7rem;
  font-family: "MuseoSlab-300";
  font-weight: 300;
  color: #fff;
}
@media (min-width: 568px) and (max-width: 767px) {
  .review--box {
    font-size: 1.3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .review--box {
    font-size: 1.4rem;
  }
}
.review--box p {
  padding: 0px 6px;
  margin: 0px;
  line-height: 1.8rem;
  position: relative;
}
.review--box p::before {
  position: absolute;
  left: -5px;
  top: 0px;
  content: "“";
  font-size: 2rem;
}
.review--box p::after {
  position: absolute;
  bottom: 0px;
  content: "”";
  font-size: 2rem;
}

.commercial-project-section .commercial-project-content img {
  width: 100%;
  display: block;
}
@media (min-width: 568px) and (max-width: 767px) {
  .commercial-project-section .commercial-project-content iframe {
    width: 500px !important;
    margin: 0 auto;
    height: 275px !important;
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .commercial-project-section .commercial-project-content iframe {
    width: 280px !important;
    margin: 0 auto;
    height: auto !important;
    display: block;
  }
}

.brands-logo .brands-logo--box {
  width: 33%;
  padding: 1rem;
}
.brands-logo .brands-logo--box .brands-logo--img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands-logo .brands-logo--box .brands-logo--img img {
  max-width: 80%;
  display: block;
}

.tile-gallery-sm {
  margin-top: 3rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .tile-gallery-sm {
    padding: 0 5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .tile-gallery-sm {
    margin-top: 1rem;
  }
}
.tile-gallery-sm .tile-gallery-sm--box {
  width: 17%;
  margin-right: 3%;
  margin-bottom: 4%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .tile-gallery-sm .tile-gallery-sm--box {
    width: 47%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .tile-gallery-sm .tile-gallery-sm--box:nth-child(2n+2) {
    margin-right: 0rem;
  }
}
.tile-gallery-sm .tile-gallery-sm--box:nth-child(5n+5) {
  margin-right: 0rem;
}
.tile-gallery-sm .tile-gallery-sm--box a {
  display: block;
}
.tile-gallery-sm .tile-gallery-sm--box a .tile-gallery--img {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.tile-gallery-sm .tile-gallery-sm--box a .tile-gallery--img img {
  width: 100%;
  display: block;
  transition: transform 0.2s;
}
.tile-gallery-sm .tile-gallery-sm--box a h5 {
  font-weight: 300;
  color: #4d515a;
  font-size: 1rem;
  margin: 0.7rem 0 0;
}
.tile-gallery-sm .tile-gallery-sm--box a:hover h5 {
  color: #7b2f5c;
}
.tile-gallery-sm .tile-gallery-sm--box a:hover .tile-gallery--img img {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

.project-gallery h3 {
  padding-left: 4rem;
}
.project-gallery .project-gallery--box {
  width: 33%;
  padding: 0.4rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .project-gallery .project-gallery--box {
    width: 50%;
  }
}
.project-gallery .project-gallery--box a {
  display: block;
  transition: transform 0.5s;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.project-gallery .project-gallery--box a img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.5s;
}
.project-gallery .project-gallery--box a:hover img {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

.full-gallery--row .full-gallery--box {
  width: 33.33%;
  padding: 3px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .full-gallery--row .full-gallery--box {
    width: 50%;
  }
}
.full-gallery--row .full-gallery--box .full-gallery--img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.full-gallery--row .full-gallery--box .full-gallery--img a {
  display: block;
}
.full-gallery--row .full-gallery--box .full-gallery--img a img {
  width: 100%;
  display: block;
  transition: transform 0.2s;
}
.full-gallery--row .full-gallery--box .full-gallery--img a:hover img {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.project-list-section .project-list--box {
  width: 33%;
  padding: 0.4rem;
  margin: 1rem 0;
}
@media (min-width: 568px) and (max-width: 767px) {
  .project-list-section .project-list--box {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .project-list-section .project-list--box {
    width: 100%;
  }
}
.project-list-section .project-list--box a {
  display: block;
}
.project-list-section .project-list--box a .project-list--imgs {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
}
.project-list-section .project-list--box a .project-list--imgs img {
  width: 100%;
  display: block;
  transition: transform 0.2s;
}
.project-list-section .project-list--box a h4 {
  margin: 0.8rem 0 0 0;
  padding: 0px;
  color: #4d515a;
}
.project-list-section .project-list--box a:hover h4 {
  color: #7b2f5c;
}
.project-list-section .project-list--box a:hover .project-list--imgs img {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

.single-flooring-types .tile-gallery-sm {
  border-bottom: 1px #4d515a solid;
  padding-bottom: 3.5rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .single-flooring-types .tile-gallery-sm {
    padding-bottom: 1.5rem;
  }
}

.flooring-types .flooring-types--row .flooring-types--box {
  width: 50%;
  padding: 0.2rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .flooring-types .flooring-types--row .flooring-types--box {
    width: 100%;
    padding: 0.2rem 0.2rem 1rem 0.2rem;
  }
}
.flooring-types .flooring-types--row .flooring-types--box a {
  display: block;
  position: relative;
}
.flooring-types .flooring-types--row .flooring-types--box a .flooring-types--img img {
  width: 100%;
  display: block;
}
.flooring-types .flooring-types--row .flooring-types--box a .flooring-types--content {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.flooring-types .flooring-types--row .flooring-types--box a .flooring-types--content h4 {
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .flooring-types .flooring-types--row .flooring-types--box a .flooring-types--content h4 {
    text-align: center;
  }
}
.flooring-types .flooring-types--row .flooring-types--box a .flooring-types--content h4 i {
  opacity: 0;
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 0.7rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .flooring-types .flooring-types--row .flooring-types--box a .flooring-types--content h4 i {
    display: none;
  }
}
.flooring-types .flooring-types--row .flooring-types--box a:hover .flooring-types--content {
  background: #7b2f5c;
}
.flooring-types .flooring-types--row .flooring-types--box a:hover .flooring-types--content h4 i {
  opacity: 1;
  background: url("../img/right-arrow.svg") no-repeat center center;
  background-size: 25px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .flooring-types .flooring-types--row .flooring-types--box a:hover .flooring-types--content h4 i {
    display: none;
  }
}

.pagination-block {
  margin-top: 1.5rem;
}
.pagination-block .pagination {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: end;
}
@media (min-width: 320px) and (max-width: 567px) {
  .pagination-block .pagination {
    justify-content: start;
  }
}
.pagination-block .pagination li {
  margin: 0 0 0 20px;
  padding: 0px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .pagination-block .pagination li {
    margin: 0 20px 0 0px;
  }
}
.pagination-block .pagination li a,
.pagination-block .pagination li button {
  color: #4d515a;
  font-size: 1.2rem;
  display: block;
  font-family: "MuseoSlab-500";
  font-weight: 500;
}
.pagination-block .pagination li span {
  color: #7b2f5c;
  font-size: 1.2rem;
  display: block;
  font-family: "MuseoSlab-500";
  font-weight: 500;
}

/*Page Scss Files */
.project-details {
  position: relative;
}
.project-details::before {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  content: "";
  background-color: #4d515a;
  height: 51%;
}
@media (min-width: 568px) and (max-width: 767px) {
  .project-details::before {
    height: 40%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .project-details::before {
    height: 30%;
  }
}
.project-details h1 {
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-size: 2.2rem;
}
.project-details .container-sm {
  position: relative;
  z-index: 1;
}

.details-img,
.details-content {
  margin-top: 4rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .details-img,
.details-content {
    margin-top: 2rem;
  }
}

.details-content {
  padding: 0 3rem 4rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .details-content {
    padding: 0;
  }
}

.single-case_study .project-details {
  padding-top: 11rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .single-case_study .project-details {
    padding-top: 8rem;
    padding-bottom: 3rem;
  }
}

.page-template-template-page-php .page-default-details {
  padding-top: 8rem;
}

.error404 .page-default-details {
  padding-top: 8rem;
  height: 80vh;
}

.contact-section {
  padding-top: 13rem;
  padding-bottom: 5rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section {
    padding-top: 8rem;
    padding-bottom: 3rem;
  }
}
.contact-section .desc--box {
  color: #fff;
}
.contact-section .custom-row {
  padding-top: 5rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .custom-row {
    flex-direction: column;
    padding-top: 3rem;
  }
}
.contact-section h5 {
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-size: 1.1rem;
}
.contact-section .contact-left,
.contact-section .contact-right {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-left,
.contact-section .contact-right {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-info {
    margin-bottom: 3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-section .contact-info {
    display: flex;
    flex-wrap: wrap;
  }
}
.contact-section ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-section ul {
    width: 50%;
  }
  .contact-section ul:nth-child(2) {
    margin-left: auto;
    width: 44%;
  }
}
.contact-section ul li {
  color: #fff;
  margin-bottom: 15px;
}
.contact-section ul li svg {
  fill: #fff;
  width: 26px;
}
.contact-section ul li span {
  width: 88%;
  margin-left: auto;
  word-break: break-all;
}
.contact-section ul li a {
  color: #fff;
  display: flex;
  align-items: flex-start;
}
.contact-section ul li a span {
  font-weight: 400;
  font-size: 1.1rem;
}
.contact-section ul li.li-flex {
  display: flex;
  align-items: flex-start;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  color: #ffb900;
  font-weight: 300;
  font-size: 1rem;
}

.wpcf7 form.sent .wpcf7-response-output {
  color: #46b450;
  font-weight: 300;
  font-size: 1rem;
}

.wpcf7-not-valid-tip {
  font-weight: 300;
  font-size: 1rem;
}

.li-mrgn-top-25 {
  margin-top: 2.5rem;
}

.input-submit {
  margin-top: 1.5rem;
}

.wpcf7-list-item {
  margin: 0;
}

.input-field label {
  color: #fff;
  font-size: 1rem;
}
.input-field label a {
  color: #fff;
  font-size: 1rem;
  text-decoration: underline;
}

.wpcf7-acceptance span {
  margin-right: 21px;
}

.wpcf7-acceptance {
  position: relative;
}

.wpcf7-acceptance input::after,
.wpcf7-acceptance input:checked::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: -2px;
}

.wpcf7-acceptance input::before {
  content: "";
  background: #7b2f5c;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.wpcf7-acceptance input::after {
  background: url("../img/new-checkinput.svg") no-repeat center center;
}

.wpcf7-acceptance input:checked::after {
  background: url("../img/new-checkedinput.svg") no-repeat center center;
}

.wpcf7 .wpcf7-submit:disabled {
  cursor: pointer !important;
}

/*# sourceMappingURL=global.css.map */
