.art-section{
    background: $primary-color;
    margin-left: $main-body-space;
    margin-right: $main-body-space;
    @include breakpoint(ipad_portrait) {
        margin-left: 0rem;
        margin-right: 0rem;
    }
    @include breakpoint(mobile) {
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .custom-row{
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    .art-box{
        width: 50%;
        @extend %main-padding-top;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @include breakpoint(ipad_portrait) {
            width: 100%;
            margin-bottom: 3rem;
        }
        @include breakpoint(mobile) {
            width: 100%;
            margin-bottom: 3rem;
        }
        &:last-child{
            @include breakpoint(ipad_portrait) {
                margin-bottom: 0rem;
            }
            @include breakpoint(mobile) {
                margin-bottom: 0rem;
            }  
        }
        .art-box-img{
            width: 100%;
            height:auto;  
             overflow: hidden;
             cursor: pointer;
            img{
                display: block;
                width: 100%;
                height: auto;
                transition: transform .3s ease-in-out;
            }
        }
        .art-box-content{
            position: relative;
            padding: 2rem 0 6rem 0;
            h3{
                margin: 0px;
                padding: 0px;
            }
            .desc--box{
                margin-top: 1rem;
            }
            .left-bottom-btn{
                display: flex;
            }
        }
        &:hover{
            .art-box-img{
                img{
                    transition: transform .3s ease-in-out;
                    transform: scale(1.05);
                }
            }
        }
    }
}