.visit{
    .small-post-section ~ .small-post-section{
        padding-top: 0px;
    }
}
.news-details-page{
    @extend .main-padding;
}

.meet-the-artist-row{
  .small-post-section-row{
    align-items: inherit;
    .small-post-section-row-content{
        padding-right: 5%;
        .small-post-section-top-box{
            width: 100%;
            min-height: 749px;
            @include breakpoint(ipad_portrait){
                min-height: 300px;
            }
            @include breakpoint(mobile){
                min-height: 300px;
            }
        }
        .desc--box-review-out{
            width: 100%;
            padding-bottom: 3rem;
            margin-top: 3rem;
        }
        .desc--box-review{
            font-size: 27px;
            font-family: $secondaryfontfaimly;
            position: relative;
            padding: 13px 3rem 13px 5rem;
            @include breakpoint(mobile_portrait){
                padding: 0px 3rem 0px 3rem;
                font-size: 1.2rem;
            }
         
            &::before,
            &::after
            {
                height: 55px;
                width: 55px;
                @include breakpoint(mobile_portrait){
                    height: 35px;
                    width: 35px;
                }
            }
           &::after{
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            background: url("#{$assetIconsPath}/new-testimonials-icon.svg") no-repeat top left;
            background-size: 100%;
           }
           &::before{
            content: '';
            position: absolute;
            bottom: 0px;
            right: 0px;
            background: url("#{$assetIconsPath}/new-testimonials-icon.svg") no-repeat top left;
            background-size: 100%;
            transform: rotate(180deg);
           }
          }
    }
    .small-post-section-row-img{
        @include breakpoint(ipad_portrait){
            margin-top: 0rem;
        }
        @include breakpoint(mobile){
            margin-top: 0rem;
        }
    }
  }
 
}
.meet-the-artistimg-mob{
    margin-top: 3rem;
    margin-bottom: 6rem;
    @include breakpoint(ipad){
        margin-bottom: 0rem;
    }
    @include breakpoint(mobile){
        margin-bottom: 0rem;
    }
    img{
        width: 100%;
        display: block;
        height: auto;
    }
}
.collection-btn{
    border-bottom: 4px $primary-color solid;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    a{
        background: $white url("#{$assetIconsPath}/Primary btn arrow.svg") no-repeat calc(100% - 1rem) center;
        background-size: 13px;
        padding-right: 3rem;
        color: $primary-color;
        &:hover{
            background: $white url("#{$assetIconsPath}/Secondary btn arrow.svg") no-repeat calc(100% - 1rem) center;
            background-size: 13px;
            padding-right: 3rem;
            color: $secondary-color;
        }
    }
}