.grid-wrapper {
    margin-left: -4px;
    margin-right: -4px;
}

.grid-item {
    padding: 2px 4px;
    cursor: pointer;

    figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: auto;
        // transition: transform .3s ease-in-out;
    }

    &:hover {
        img {
            // transition: transform .3s ease-in-out;
            // transform: scale(1.05);
        }
    }
}

.grid-item {
    width: 33.33% !important;
}

// .fancybox__slide.has-image>.fancybox__content{
//     height: auto !important;
//     width: 100% !important;
//     max-width: 900px;
//     padding-left: 1rem;
//     padding-right: 1rem;
// }

// :where(figure) {
//     margin: 0 !important;
// }
// .fancybox-image {
//     height: auto;
//     object-fit: cover !important;

// }

.fb-caption-overlay {
    background: $white;
    position: relative;
    bottom: 0px;
    left: 0px;
    word-wrap: break-word;
    width: 100%;
    min-height: 117px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 170px;
    padding-left: 50px;

   

    @include breakpoint(mobile) {
        padding: 1rem 7rem 1rem 1rem;
        position: relative !important;
    }

    h4 {
        font-family: $primaryfontfaimly;
        font-size: 20px;
        font-weight: 400;
        color: $secondary-color;
        margin: 0 0 10px 0px;

        @include breakpoint(ipad_portrait) {
            font-size: 18px;
        }

        @include breakpoint(mobile) {
            font-size: 18px;
        }
    }

    .badge-box {
        width: 140px;
        height: 140px;
        border-radius: 100px;
        padding: 1rem;
        font-size: 22px;
        text-align: center;
        color: #fff;
        display: flex;
        border: 2px #fff solid;
        background: $primary-color;
        position: absolute;
        justify-content: center;
        top: -63px;
        right: 15px;
        align-items: center;
        font-family: $secondaryfontfaimly;

        @include breakpoint(mobile) {
            width: 100px;
            height: 100px;
            font-size: 16px;
               padding: 0;
            top: -48px;
        }

        &.sold-out-badge {
            background: #d50075;
        }

        &.available-badge {
            background: $primary-color;
        }

    }
}
.fancybox__slide.has-image>.fancybox__content{
    @include breakpoint(mobile){
        height: auto !important;

    }
}
.is-horizontal .fancybox__nav .f-button.is-next{
    @include breakpoint(mobile_portrait){
        right: 0 !important;
        top: 44% !important;
    }
}
.is-horizontal .fancybox__nav .f-button.is-prev{
    @include breakpoint(mobile_portrait){
        left: 0 !important;
        top: 44% !important;
    }
}
.fancybox__content>.f-button.is-close-btn {
    background-color: #fff;
    border-radius: 0;
    color: #000;
    top: 0;
    right: 1rem;
    opacity: 1 !important;
}

.fancybox__backdrop{
    background: rgb(73 81 99 / 93%);
}