.hero-slider-section {
    position: relative;
    @include breakpoint(mobile_portrait) {
        background: $primary-color;
     }
     .slick-dots{
        position: absolute;
        bottom: 2rem;
        left: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0px;
        padding: 0px;
        justify-content: center;
        @include breakpoint(mobile_portrait){
            bottom: inherit;
            top: 58%;
        }
        li{
            margin: 0 1rem 0 0;
            &:last-child{
                margin-right: 0px;
            }
            button{
                width: 20px;
                height: 20px;
                background: $secondary-color;
                border-radius: 100px;
                border: 0px;
                padding: 0px;
                text-indent: -9999px;
            }
            &.slick-active{
                button{
                    background: $white;   
                }
            }
        }
     }
   

    .hero-slider-item-img {
        padding: 0 $main-body-space;
        @include breakpoint(mobile_portrait){
            padding: 0px;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .hero-slider-item-content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0;
        display: flex;
        align-items: center;
        @include breakpoint(mobile_portrait) {
            position: relative;
         }
       
        .hero-slider-item-content-inner{
            @extend %bg-hd;
            width: 100%;
            text-align: center;
            padding: 2rem 0;
            @include breakpoint(mobile_portrait) {
                background: transparent;
             }
        }
       

        h1 {
            margin: 0px;
            padding: 0px;
            color: $white;
            @extend %h1;
            @include breakpoint(ipad_portrait){
               padding: 0 2rem;
               line-height: 3.5rem;
            }
            @include breakpoint(mobile_portrait){
                line-height: 2.5rem;
             }

        }
        .btn-set--left{
            margin-top: 3rem;
            @include breakpoint(ipad_landscape){
                margin-top: 2rem;
            }
            @include breakpoint(mobile_portrait) {
                margin-top: 1rem;
            }
            a{
                margin-right: 2rem;
                min-width: 182px;
                @include breakpoint(mobile_portrait){
                    min-width: 50px;
                    margin-right: 1rem;
                }
                &:last-child{
                    margin-right: 0;
                }
               
            }
        }
    }
}