.page-hd-section {
    position: relative;
    padding: 0 $main-body-space;
    @include breakpoint(mobile){
        padding: 0px;
    }

    .page-hd-section-img {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .page-hd-section-in {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        .page-heading-hd{
            @extend %bg-hd;
            padding: 2rem 2rem 2rem 15%;
            min-width: 41%;
            @include breakpoint(mobile_portrait){
                padding: 1rem 1rem 1rem 2rem; 
                min-width: 150px;
            }
            h1 {
                margin: 0px;
                padding: 0px;
                color: $white;
                @extend %h1;
    
            }
        }
       
    }
}