.simple-info-section{
    .simple-info-section-in {
        padding: 0 3rem;
        @include breakpoint(ipad_portrait){
            padding: 0rem;
        }
        @include breakpoint(mobile){
            padding: 0rem;
        }
    }
    .custom-row{
        @include breakpoint(ipad_portrait){
            flex-direction: column-reverse;
        }
        @include breakpoint(mobile){
            flex-direction: column-reverse;
        }
    }
    .desc--box{
        width: 50%;
        @include breakpoint(ipad_portrait){
            width: 100%;
        }
        @include breakpoint(mobile){
            width: 100%;
        }
    }
    .tags{
        margin-left: auto;
        font-family: $secondaryfontfaimly;
        color: $secondary-color;
        @extend %pt41;
        font-weight: 700;
        margin-top: -16px;
        width: 38%;
        @include breakpoint(ipad_portrait){
            font-size: 2rem;
            width: 100%;
            margin-left: 0;
            margin-bottom: 2rem;
         }
        @include breakpoint(mobile){
           font-size: 1.6rem;
           width: 100%;
            margin-left: 0;
            margin-bottom: 2rem;
            width: 100%;
        }
        span{
            display: block;
          
        }
     
    }
}