.testimonials-section {
    @extend %main-padding;

    .testimonials-section-content {
        margin: auto;

        p {
            font-weight: 500;
            font-family: $primaryfontfaimly;
            color: $white;
            font-size: 1.5rem;
            text-align: left;
            display: inline-block;
            padding-left: 117px;
            background: url("#{$assetIconsPath}/new-testimonials-icon.svg") no-repeat top left;
            background-size: 73px;
            padding-top: 13px;
            margin: 0px;
            line-height:2.1rem;

            @include breakpoint(ipad) {
                background-size: 55px;
                padding-top: 19px;
                padding-left: 85px;
            }

            @include breakpoint(ipad_portrait) {
                font-size: 1.3rem;
                line-height: 1.7rem;
            }

            @include breakpoint(mobile) {
                background-size: 36px;
                font-size: 1.2rem;
                line-height: 1.5rem;
                padding-left: 53px;
                padding-top: 13px;
            }

            @include breakpoint(mobile) {
                padding-left: 58px;
                padding-top: 0;
            }

            br{
                display: none;
            }
         
        }

        i {
            display: block;
            text-align: right;
            font-size: 1.2rem;
            margin-top: 1rem;
            font-style: normal;
            color: $white;
            font-family: $secondaryfontfaimly;
            @include breakpoint(ipad_portrait) {
                font-size: 14px;
            }
            @include breakpoint(mobile) {
                font-size: 14px;
            }
        }
    }
}