.page-not-foumd {
    min-height: 600px;

    .blog-block-text {
        text-align: center;
    }

    h3 {
        text-align: center;
        text-transform: capitalize;
        font-size: 3rem;
    }
}

.page-title {


    h1 {
        margin: 0px;
        padding: 0px;
        color: $primary-color;
        font-size: 3.2rem;
    }
}

.single-service {
    .full-bg-hero .page-hero-content-outer .page-hero-content h1::after {
        background: transparent;
    }
}

.privacy-policy {

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-bottom: 0px;
    }

  

    h3 {
        color: $primary-color;
    }
}