@charset "UTF-8";
/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
a,
button {
  cursor: pointer;
}

.mrg-top-3 {
  margin-top: 3rem;
}

.btn-set--left {
  display: flex;
  justify-content: left;
}

.btn-set--center {
  display: flex;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  justify-content: right;
}
@media (min-width: 320px) and (max-width: 767px) {
  .btn-set--right {
    justify-content: center;
  }
}

.primary-btn {
  background-color: transparent;
  color: #fff;
  border: 1px #fff solid;
  padding: 0.5rem 2rem;
  display: block;
  font-size: 1rem;
}
.primary-btn:hover {
  background-color: #fff;
  color: #d56652;
  border: 1px #d56652 solid;
}

.secondary-btn {
  background-color: transparent;
  color: #005c79;
  border: 1px #005c79 solid;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  display: block;
}
.secondary-btn:hover {
  background-color: #005c79;
  color: #fff;
  border: 1px #005c79 solid;
}

.wpcf7-submit {
  background: #fff url("../img/send-btn-new.svg") no-repeat center top;
  background-color: #fff;
  color: #fff;
  border: 0px #fff solid;
  padding: 1.5rem 2rem 0.8rem 2rem;
  display: block;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}
.wpcf7-submit:hover {
  background: #fff url("../img/send-btn-new-hover.svg") no-repeat center top;
  background-color: #fff;
  color: #fff;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  background: #fff;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0px;
  font-size: 1.22rem;
  color: #5a5d69;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

p {
  line-height: 1.9rem;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #d56652;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

.container-fluid {
  max-width: 100%;
  width: calc(100% - 6rem);
  padding: 0 1rem;
  margin: auto;
}

.container-lg {
  max-width: 1600px;
  width: calc(100% - 6rem);
  margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-lg {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-lg {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container-lg {
    width: calc(100% - 2rem);
  }
}

.container {
  max-width: 1300px;
  width: calc(100% - 14rem);
  margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container {
    width: calc(100% - 6rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: calc(100% - 2rem);
  }
}

.container-sm {
  max-width: 1100px;
  width: calc(100% - 22rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-sm {
    width: calc(100% - 12rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-sm {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container-sm {
    width: calc(100% - 2rem);
  }
}

.white-bg {
  background: #fff;
}

.primary-bg {
  background: #005c79;
}

.secondary-bg {
  background: #d56652;
}
.secondary-bg h2 {
  color: #fff;
  margin: 0px;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.section-tp-bt-pd {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-tp-bt-pd {
    padding: 3rem 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .section-tp-bt-pd {
    padding: 2.5rem 0;
  }
}

.section-tp-t-pd {
  padding-top: 5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-tp-t-pd {
    padding-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .section-tp-t-pd {
    padding-top: 2.5rem;
  }
}

.section-tp-b-pd {
  padding-bottom: 5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-tp-b-pd {
    padding-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .section-tp-b-pd {
    padding-bottom: 2.5rem;
  }
}

.section-tp-t-2-pd {
  padding-top: 2.5rem;
}

.section--mrgn {
  margin-top: -2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section--mrgn {
    margin-top: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .section--mrgn {
    margin-top: 0rem;
  }
}

.content-box-lt-pd {
  padding-left: 10%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .content-box-lt-pd {
    padding-left: 0%;
  }
}

.desc--box p:last-child {
  margin: 0px;
}
.desc--box ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.desc--box ul li {
  position: relative;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 1.5rem;
}
.desc--box ul li::before {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0px;
  top: 39%;
  background: #005c79;
  content: "";
  border-radius: 50px;
}

.fancybox__caption {
  padding: 0px;
  margin-top: -25px;
  z-index: 21;
}

.fancybox__content::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #9d7e6f;
  height: 31px;
}

.curve-bg {
  position: relative;
  min-height: 600px;
}
.curve-bg .white-bg-curve {
  position: absolute;
  width: 100%;
  height: auto;
  top: -2px;
  left: 0px;
}
.curve-bg .white-bg-curve svg {
  width: 100%;
}

.curve-section {
  position: relative;
}
.curve-section svg {
  width: 100%;
  display: block;
}

@media (min-width: 992px) and (max-width: 1024px) {
  .main-pd-top-il {
    padding-top: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-pd-top-il {
    padding-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-pd-top-il {
    padding-top: 2.5rem;
  }
}

/*Helpers Scss Files */
.input-field {
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.input-field label {
  font-size: 16px;
  color: #000;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea {
  border-width: 0px;
  border-color: #000;
  border-style: solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 100%;
  border-bottom: 1px #5a5d69 solid;
  font-size: 1.22rem;
  color: #5a5d69;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled {
  opacity: 0.5;
}
.input-field input[type=text]::-webkit-input-placeholder,
.input-field input[type=email]::-webkit-input-placeholder,
.input-field input[type=password]::-webkit-input-placeholder,
.input-field input[type=number]::-webkit-input-placeholder,
.input-field input[type=date]::-webkit-input-placeholder,
.input-field textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 1.22rem;
  color: #5a5d69;
  font-weight: 400;
}
.input-field input[type=text]::-moz-placeholder,
.input-field input[type=email]::-moz-placeholder,
.input-field input[type=password]::-moz-placeholder,
.input-field input[type=number]::-moz-placeholder,
.input-field input[type=date]::-moz-placeholder,
.input-field textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-size: 1.22rem;
  color: #5a5d69;
  font-weight: 400;
}
.input-field input[type=text]:-ms-input-placeholder,
.input-field input[type=email]:-ms-input-placeholder,
.input-field input[type=password]:-ms-input-placeholder,
.input-field input[type=number]:-ms-input-placeholder,
.input-field input[type=date]:-ms-input-placeholder,
.input-field textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-size: 1.22rem;
  color: #5a5d69;
  font-weight: 400;
}
.input-field input[type=text]:-moz-placeholder,
.input-field input[type=email]:-moz-placeholder,
.input-field input[type=password]:-moz-placeholder,
.input-field input[type=number]:-moz-placeholder,
.input-field input[type=date]:-moz-placeholder,
.input-field textarea:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-size: 1.22rem;
  color: #5a5d69;
  font-weight: 400;
}
.input-field textarea {
  height: 126px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

.selectbox {
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  width: 100%;
  font-size: 18px;
  color: #fff;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2.2rem;
  font-weight: 500;
}
@media (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.7rem;
  font-weight: 500;
}
@media (min-width: 320px) and (max-width: 767px) {
  h3 {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

/*Layout Scss Files */
.main-header {
  background-color: rgba(255, 255, 255, 0);
  padding: 2rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-header {
    padding: 1rem 0;
    background-color: white;
  }
}
.main-header .custom-row {
  align-items: flex-start;
}
.main-header .logo {
  width: auto;
}
.main-header .logo a {
  display: block;
}
.main-header .logo img {
  display: block;
  width: 230px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-header .logo img {
    width: 190px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-header .logo img {
    width: 160px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-header .logo img {
    width: 100px;
  }
}
.main-header .hdr-right {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-header .hdr-right {
    padding-top: 0px;
  }
}
.main-header .hdr-right .nav__toggle {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-header .hdr-right .nav__toggle {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav_menu {
    display: none;
  }
}
.nav_menu .nav_menu__inner {
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .nav_menu .nav_menu__inner {
    display: block;
  }
}
.nav_menu nav {
  margin-top: 4px;
}
.nav_menu nav ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  align-items: flex-start;
}
.nav_menu nav ul li {
  margin: 0 20px;
  padding: 0;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .nav_menu nav ul li {
    margin: 0 12px;
  }
}
.nav_menu nav ul li a {
  color: #5a5d69;
  font-size: 1.2rem;
  padding: 0;
  display: inline-flex;
  font-weight: 500;
}
@media (min-width: 320px) and (max-width: 767px) {
  .nav_menu nav ul li a {
    font-size: 1.4rem;
  }
}
.nav_menu nav ul li a.current {
  color: #005c79;
}
.nav_menu nav ul li a:hover {
  color: #005c79;
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 30px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  text-align: center;
  cursor: pointer;
  border-radius: 0px;
  height: 2px;
  width: 30px;
  background-color: #5a5d69;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.2s;
  outline: 0;
}
.nav__toggle span {
  top: 15px;
}
.nav__toggle span::before {
  top: -10px;
}
.nav__toggle span::after {
  bottom: -10px;
}

.menu-slide {
  overflow: hidden;
  height: 100%;
}
.menu-slide .nav__toggle span {
  background-color: transparent;
}
.menu-slide .nav__toggle span::before, .menu-slide .nav__toggle span::after {
  top: 0;
  background-color: #5a5d69;
}
.menu-slide .nav__toggle span::before {
  transform: rotate(45deg);
}
.menu-slide .nav__toggle span::after {
  transform: rotate(-45deg);
}
.menu-slide .nav__toggle:hover span {
  background-color: transparent;
}
.menu-slide .nav__toggle:hover span::before, .menu-slide .nav__toggle:hover span::after {
  background-color: #5a5d69;
}
.menu-slide .nav_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  height: 87vh;
  overflow: auto;
  padding: 0;
  top: 70px;
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .nav_menu {
    height: calc(100vh - 107px);
  }
}
.menu-slide .nav_menu nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-slide .nav_menu nav ul {
  display: block;
}
.menu-slide .nav_menu nav ul li {
  padding: 10px 0;
}
.menu-slide .nav_menu nav ul li.menu-item-45 {
  width: auto;
}
.menu-slide .nav_menu nav ul li.menu-item-44 {
  width: auto;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children ul {
  display: block;
  width: 100%;
  padding: 0;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children ul li {
  position: relative;
  padding: 7px 10px 7px 25px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .menu-slide .nav_menu nav ul li.menu-item-has-children ul li:first-child {
    margin-top: 1rem;
  }
  .menu-slide .nav_menu nav ul li.menu-item-has-children ul li:last-child {
    margin-bottom: 0.7rem;
  }
}
.menu-slide .nav_menu nav ul li.menu-item-has-children ul li::before {
  content: "";
  width: 15px;
  height: 4px;
  background-color: #005c79;
  left: 0px;
  top: 48%;
  display: none;
  position: absolute;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children:hover a {
  border-bottom: 0px transparent solid;
  padding-bottom: 0;
}
.menu-slide .nav_menu nav ul li.menu-item-has-children:hover ul {
  display: block;
}
.menu-slide .main-header {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.header-social-media {
  margin-top: 7px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header-social-media {
    margin: 0;
    padding: 2rem 0;
    text-align: center;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .header-social-media {
    padding: 1rem 0 0;
  }
}
.header-social-media ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  list-style: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header-social-media ul {
    justify-content: center;
  }
}
.header-social-media ul li {
  margin: 0 0 0 34px;
  padding: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header-social-media ul li {
    margin: 0 1rem;
  }
}
.header-social-media ul li a {
  display: block;
}
.header-social-media ul li a svg {
  fill: #d56652;
  width: 40px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .header-social-media ul li a svg {
    width: 30px;
  }
}
.header-social-media ul li a:hover svg {
  fill: #005c79;
}

.nav_menu nav ul li ul li ul {
  display: none !important;
}

.sm-header .main-header {
  padding: 1rem 0;
  background-color: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
.sm-header .main-header .logo img {
  width: 160px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .sm-header .main-header .logo img {
    width: 100px;
  }
}

.main-footer {
  color: #5a5d69;
  padding: 1rem 0;
}
.main-footer .custom-row {
  align-items: center;
}
.main-footer .footer-left,
.main-footer .footer-mid,
.main-footer .footer-right {
  width: 33.3333%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-left,
.main-footer .footer-mid,
.main-footer .footer-right {
    width: 100%;
    text-align: center;
  }
}
.main-footer .footer-mid {
  text-align: center;
}
.main-footer p {
  margin: 0px;
  font-size: 0.9rem;
}
.main-footer p a {
  color: #5a5d69;
}
.main-footer p a:hover {
  color: #d56652;
}
.main-footer .footer-right {
  text-align: right;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right {
    text-align: center;
  }
}
.main-footer .footer-left ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-left ul {
    justify-content: center;
  }
}
.main-footer .footer-left ul li {
  margin: 0 0 0 15px;
  padding: 0px;
}
.main-footer .footer-left ul li a {
  color: #5a5d69;
  display: block;
  font-size: 0.9rem;
}
.main-footer .footer-left ul li a:hover {
  color: #d56652;
}

/*Components Scss Files */
.text-section {
  padding-top: 6rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .text-section {
    padding-top: 5rem;
  }
}
.text-section .container-sm {
  padding-left: 5rem;
  padding-right: 5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-section .container-sm {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .text-section .container-sm {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.post-row {
  position: relative;
  margin-top: 5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row {
    margin-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row {
    margin-top: 2.5rem;
  }
}
.post-row .custom-row {
  height: 100%;
  align-items: center;
}
.post-row .post-row--img {
  width: 55%;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-row--img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .post-row--img {
    width: 100%;
  }
}
.post-row .post-row--img img {
  width: 100%;
  display: block;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .post-row .post-row--img img {
    width: 130%;
    display: block;
    max-width: 130% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-row--img img {
    width: 100%;
    display: block;
    max-width: 100% !important;
  }
}
.post-row .post-row--content {
  width: 45%;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-row--content {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .post-row--content {
    width: 100%;
  }
}
.post-row .post-row--content .desc--box p {
  color: #fff;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-row--content .desc--box p br {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .post-row--content .desc--box p br {
    display: none;
  }
}
.post-row .post-row--content .post-row-content--inner {
  background: #005c79d6;
  /* mix-blend-mode: multiply; */
  padding: 2rem 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-row--content .post-row-content--inner {
    padding: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .post-row--content .post-row-content--inner {
    padding: 2rem;
  }
}
.post-row .post-row--content .post-row-content--inner h3 {
  margin: 0 0 0.7rem 0;
  padding: 0px;
  color: #fff;
}
.post-row.post-row--left .post-row--content .post-row-content--inner {
  margin-left: -2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row.post-row--left .post-row--content .post-row-content--inner {
    margin-left: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row.post-row--left .post-row--content .post-row-content--inner {
    margin-left: 0rem;
  }
}
.post-row.post-row--right {
  flex-direction: row-reverse;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row.post-row--right {
    flex-direction: column;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row.post-row--right {
    flex-direction: column;
  }
}
.post-row.post-row--right .post-row--content .post-row-content--inner {
  margin-right: -2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row.post-row--right .post-row--content .post-row-content--inner {
    margin-right: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row.post-row--right .post-row--content .post-row-content--inner {
    margin-right: 0rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row.custom-row {
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row.custom-row {
    flex-direction: column-reverse;
  }
}

.hero-section {
  position: relative;
}
.hero-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  left: 0px;
  top: 0px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+70,ffffff+100&1+70,0+100 */
  background: -moz-linear-gradient(top, white 70%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 70%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 70%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#00ffffff",GradientType=0 );
  /* IE6-9 */
}
@media (min-width: 1401px) and (max-width: 1500px) {
  .hero-section::before {
    height: 199px;
  }
}
@media (min-width: 1301px) and (max-width: 1400px) {
  .hero-section::before {
    height: 199px;
  }
}
@media (min-width: 1251px) and (max-width: 1300px) {
  .hero-section::before {
    height: 199px;
  }
}
@media (min-width: 1200px) and (max-width: 1250px) {
  .hero-section::before {
    height: 199px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero-section::before {
    height: 180px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-section::before {
    height: 175px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section::before {
    display: none;
  }
}
.hero-section .page-title--img {
  overflow: hidden;
}
.hero-section .page-title--img img {
  width: 100%;
  display: block;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero-section .page-title--img img {
    width: 130%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-section .page-title--img img {
    width: 130%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero-section .page-title--img img {
    width: 180%;
  }
}
.hero-section .hero-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 0px;
  display: flex;
  align-items: flex-end;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .hero-content {
    position: relative;
    background: #005c79;
    display: block;
  }
}
.hero-section .hero-content::after {
  position: absolute;
  width: 100%;
  height: 50%;
  content: "";
  left: 0px;
  bottom: 0px;
  background: url("../img/Vector 2.svg") no-repeat center top;
  background-size: 100%;
  mix-blend-mode: multiply;
}
@media (min-width: 1501px) and (max-width: 1650px) {
  .hero-section .hero-content::after {
    height: 54%;
  }
}
@media (min-width: 1401px) and (max-width: 1500px) {
  .hero-section .hero-content::after {
    height: 62%;
  }
}
@media (min-width: 1301px) and (max-width: 1400px) {
  .hero-section .hero-content::after {
    height: 67%;
  }
}
@media (min-width: 1251px) and (max-width: 1300px) {
  .hero-section .hero-content::after {
    height: 67%;
  }
}
@media (min-width: 1200px) and (max-width: 1250px) {
  .hero-section .hero-content::after {
    height: 69%;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero-section .hero-content::after {
    height: 57%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-content::after {
    height: 56%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .hero-content::after {
    display: none;
  }
}
.hero-section .hero-content .container {
  position: relative;
  z-index: 2;
}
.hero-section .hero-content h1 {
  color: #fff;
  max-width: 900px;
  margin: 0px 0 6rem;
  padding: 0px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .hero-section .hero-content h1 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-content h1 {
    margin-bottom: 3rem;
    font-size: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .hero-content h1 {
    max-width: 100%;
    margin: 0px;
    padding: 2rem 1rem;
  }
}

.simple-col-2 {
  align-items: center;
  margin-top: 5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .simple-col-2 {
    margin-top: 3rem;
    align-items: flex-start;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .simple-col-2 {
    margin-top: 2.5rem;
  }
}
.simple-col-2:first-child {
  margin-top: 0px;
}
.simple-col-2 .simple-col-img {
  width: 50%;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .simple-col-2 .simple-col-img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .simple-col-2 .simple-col-img {
    width: 100%;
  }
}
.simple-col-2 .simple-col-img img {
  width: 100%;
  display: block;
}
.simple-col-2 .simple-col-content {
  width: 50%;
  padding: 0rem 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .simple-col-2 .simple-col-content {
    width: 100%;
    padding: 0 0 2rem 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .simple-col-2 .simple-col-content {
    width: 100%;
    padding: 0 0 1rem 0;
  }
}
.simple-col-2 .simple-col-content h3 {
  margin: 0 0 1rem;
  color: #d56652;
}
.simple-col-2 .simple-col-content .desc--box .gmail_default {
  margin: 10px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .simple-col-2 .simple-col-content .desc--box p:first-child {
    margin-top: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .simple-col-2 .simple-col-content .desc--box p:first-child {
    margin-top: 0px;
  }
}
.simple-col-2.simple-col-2--left {
  flex-direction: row-reverse;
}
@media (min-width: 768px) and (max-width: 991px) {
  .simple-col-2.simple-col-2--left {
    flex-direction: column;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .simple-col-2.simple-col-2--left {
    flex-direction: column;
  }
}
.simple-col-2.simple-col-2--left .simple-col-content {
  padding-left: 0px;
}
.simple-col-2.simple-col-2--right .simple-col-content {
  padding-right: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .simple-col-2.simple-col-2--right .simple-col-content {
    padding-left: 0rem;
    margin-top: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .simple-col-2.simple-col-2--right .simple-col-content {
    padding-left: 0rem;
    margin-top: 0rem;
  }
}
.simple-col-2:last-child .simple-col-img {
  margin-bottom: 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .simple-col-2.custom-row {
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .simple-col-2.custom-row {
    flex-direction: column-reverse;
  }
}
.simple-col-2:first-child .simple-col-content h3 {
  margin-top: 3rem;
}
@media (min-width: 1025px) and (max-width: 1599px) {
  .simple-col-2:first-child .simple-col-content h3 {
    margin-top: 5rem;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .simple-col-2:first-child .simple-col-content h3 {
    margin-top: 0rem;
  }
}

.brands-logo .brands-logo--box {
  width: 33%;
  padding: 0 1rem;
}
.brands-logo .brands-logo--box .brands-logo--img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands-logo .brands-logo--box .brands-logo--img img {
  max-width: 45%;
  display: block;
}
@media (min-width: 320px) and (max-width: 567px) {
  .brands-logo .brands-logo--box .brands-logo--img img {
    max-width: 100%;
  }
}

.back-btn-box a {
  color: #005c79;
  font-size: 1.8rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .back-btn-box a {
    font-size: 1.3rem;
  }
}
.back-btn-box a:hover {
  color: #d56652;
}

.review-section h2 {
  margin: 0px;
  padding: 0px;
  color: #fff;
}

.review--box {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 4rem 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .review--box {
    padding: 2rem 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .review--box {
    padding: 2rem 0;
  }
}
.review--box::after {
  position: absolute;
  content: "";
  width: 600px;
  height: 1px;
  left: 0px;
  margin: auto;
  right: 0px;
  bottom: 0px;
  background: #d56652;
}
@media (min-width: 320px) and (max-width: 767px) {
  .review--box::after {
    width: 100%;
  }
}
.review--box:last-child {
  padding-bottom: 0px;
}
.review--box:last-child::after {
  display: none;
}
.review--box p {
  padding: 0px 6px;
  margin: 0px;
  line-height: 2rem;
  font-weight: 500;
  position: relative;
}
.review--box p::before {
  content: "“";
  font-size: 2rem;
}
.review--box p::after {
  content: "”";
  font-size: 2rem;
}

.get-touch-section .container-sm {
  position: relative;
  z-index: 1;
}

.get-touch-top h2 {
  margin: 0 0 1rem 0;
  padding: 0px;
  color: #005c79;
}
.get-touch-top .desc--box {
  padding: 2rem 0 0 12rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .get-touch-top .desc--box {
    padding: 1rem 0 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .get-touch-top .desc--box {
    padding: 1rem 0 2rem;
  }
}

.get-touch-btm {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.get-touch-btm .custom-row {
  align-items: center;
  flex-direction: row-reverse;
}
@media (min-width: 320px) and (max-width: 767px) {
  .get-touch-btm .custom-row {
    flex-direction: column-reverse;
  }
}

.get-touch-form-block .contact-info {
  width: 45%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .get-touch-form-block .contact-info {
    margin-bottom: 3rem;
    width: 100%;
  }
}
.get-touch-form-block .contact-info ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.get-touch-form-block .contact-info ul li {
  color: #fff;
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
  display: flex;
}
.get-touch-form-block .contact-info ul li:last-child {
  margin-bottom: 0rem;
}
.get-touch-form-block .contact-info ul li i {
  width: 45px;
}
.get-touch-form-block .contact-info ul li svg {
  fill: #fff;
  width: 40px;
}
.get-touch-form-block .contact-info ul li a {
  color: #fff;
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.get-touch-form-block .contact-info ul li a:hover {
  color: #ffbeb2;
}
.get-touch-form-block .contact-info ul li span {
  width: calc(100% - 45px);
  margin-left: auto;
  word-break: break-all;
  padding-left: 1rem;
}
.get-touch-form-block .contact-info ul li span a {
  display: block;
}
.get-touch-form-block .contact-info ul li.li-flex {
  display: flex;
  align-items: flex-start;
}
.get-touch-form-block .get-touch-form-box {
  width: 50%;
  background: #fff;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
  min-height: 300px;
  position: relative;
  margin-left: 5%;
  padding: 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .get-touch-form-block .get-touch-form-box {
    margin-left: 0%;
    width: 100%;
  }
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  color: #ffb900;
  font-weight: 300;
  font-size: 1rem;
}

.wpcf7 form.sent .wpcf7-response-output {
  color: #46b450;
  font-weight: 300;
  font-size: 1rem;
}

.wpcf7-not-valid-tip {
  font-weight: 300;
  font-size: 1rem;
}

.li-mrgn-top-25 {
  margin-top: 2.5rem;
}

.input-submit {
  margin-top: 1.5rem;
}

.wpcf7-list-item {
  margin: 0;
}

.input-field label {
  display: flex;
}
.input-field label .top-m {
  margin-top: -3px;
  color: #5a5d69;
  font-size: 1.22rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .input-field label .top-m {
    margin-left: 10px;
  }
}
.input-field label a {
  color: #005c79;
  font-size: 1.22rem;
  text-decoration: none;
}
.input-field label a:hover {
  color: #d56652;
}

.wpcf7-acceptance span {
  margin-right: 21px;
}

.wpcf7-acceptance {
  position: relative;
}

.wpcf7-acceptance input::after,
.wpcf7-acceptance input:checked::after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: -2px;
}

.wpcf7-acceptance input::before {
  content: "";
  background: #fff;
  width: 26px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.wpcf7-acceptance input::after {
  background: url("../img/check.svg") no-repeat center center;
}

.wpcf7-acceptance input:checked::after {
  background: url("../img/checked.svg") no-repeat center center;
}

.details-sections {
  padding: 10rem 0 0 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .details-sections {
    padding: 5rem 0 0;
  }
}
.details-sections h1 {
  color: #005c79;
  font-size: 2.5rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .details-sections h1 {
    font-size: 1.9rem;
  }
}
.details-sections h2 {
  color: #d56652;
  font-size: 1.8rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .details-sections h2 {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=global.css.map */
