{% if post.content %}
	{% set param = { 'next_text':'‹ previous article', 'prev_text':'next article ›'} %}

	<section class="news-details-page  details-page">
		<div class="container-md">
			<div class="white-bg details-page-padding">
				<div class="heading heading-left">
					<h2>{{post.title}}</h2>
				</div>
				{% include "partial/content-featured-image.twig"%}
				<div class="post--content">
					{{post.content}}
					{% include "partial/content-post-flexible-content.twig"%}

				</div>
			</div>

		</div>
	</section>
{% endif %}
