{% if post.home_hero_list %}
	<section class="hero-slider-section">
		<div class="hero-page-slider">
			{% for slide in post.get_field('home_hero_list') %}
				{% set last_slide =slide %}
				{% if slide.hero_image %}
					<div class="hero-slider-item">
						<div class="hero-slider-item-img">
							{% if slide.hero_image %}
								<picture>
								<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(slide.hero_image).src('hero-slider-mobile') }}"/>
									<img src="{{ TimberImage(slide.hero_image).src('hero-slider') }}" alt="{{ slide.hero_image.alt }}"/>
								</picture>
							{% endif %}
						</div>
						<div class="hero-slider-item-content">
							<div class="container">
								<div class="hero-slider-txt-container">
									<h1>
										<span>{{slide.hero_title}}</span>
										{{slide.hero_content}}</h1>

									<div class="btn-set--left">
										{% if slide.hero_cta%}
										<a href="{{slide.hero_cta.url}}" class="primary-btn" target="{{slide.hero_cta.target}}">{{slide.hero_cta.title}}</a>
										{% endif %}
										{% if slide.hero_cta_copy%}
										<a href="{{slide.hero_cta_copy.url}}" class="white-btn" target="{{slide.hero_cta_copy.target}}">{{slide.hero_cta_copy.title}}</a>
										{% endif %}
									</div>
								</div>

							</div>
						</div>

					</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>


	<div id="scroll-to-main"></div>
{% endif %}
