<ul>
    <li><a href="mailto:{{contact_post.meta('email')}}"><i class="email-icon"></i> 01494 863200</a></li>
    <li><a href="tel:{{contact_post.meta('telephone')}}"><i class="number-icon"></i> sales@cmltd.co.uk</a></li>
    {# <li><a  href="{{contact_post.meta('linkedin')}}" target="_blank"><i class="linkedin-white-icon"></i></a></li> #}
</ul>