<section class="products-list subproducts white-bg main-padding">
	<div class="container-md">
		<div class="heading heading-center" data-aos="fade-up">
			<h2>{{content_row.services_title?content_row.services_title:'OUR '~post.title~' TYPES'}}</h2>
			<div class="desc--box"></div>
		</div>
		<div class="custom-row parent-type-{{post.id}}">
			{% for product_item in getProducts(post.id) %}

				<div class="quality-products-box" data-aos="fade-up">
					<div class="quality-products-img">
						<img src="{{ TimberImage(product_item.thumbnail).src('post-row-img') }}" alt="">
					</div>
					<div class="quality-products-btn">
						<a href="{{product_item.link}}" class="white-btn-arrow">{{product_item.service_title?product_item.service_title|upper:product_item.title|upper}}</a>
					</div>
				</div>


			{% endfor %}
		</div>
	</div>
</section>

{% include "partial/content-back-to-button.twig" with { url_title:'<strong>Back to</strong> products', url_link:'products'}%}
