{% if ((post.get_field('hero_image') or post.thumbnail) and post.get_field('show_page_hero')) %}

	<section class="page-hd-section">
		<div class="page-hd-section-img">
			{% if post.get_field('hero_image') %}
				<picture>
					<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.get_field('hero_image')).src('banner-image-mobile') }}"/>
					<source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(post.get_field('hero_image')).src('banner-image-mobile-landscape') }}"/>
					<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(post.get_field('hero_image')).src('banner-image-ipad') }}"/>
					<img src="{{ TimberImage(post.get_field('hero_image')).src('banner-image') }}" alt="{{ post.get_field('banner-image').alt }}"/>
				</picture>
			{% elseif post.thumbnail %}
				<picture>
					<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.thumbnail).src('banner-image-mobile') }}"/>
					<source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(post.thumbnail).src('banner-image-mobile-landscape') }}"/>
					<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(post.thumbnail).src('banner-image-ipad') }}"/>
					<img src="{{ TimberImage(post.thumbnail).src('banner-image') }}" alt="{{ post.thumbnail.alt }}"/>
				</picture>
			{% endif %}

		</div>
		<div class="page-hd-section-in">
			<div class="container-md">
				<div class="page-heading-hd">
					<h1>{{post.get_field('hero_title')?post.get_field('hero_title'):(post.title?post.title:title)}}</h1>
				</div>
			</div>
		</div>
	</section>
{% else %}

	
{% endif %}
