<section class="page-hd-section">
	<div class="page-hd-section-img">
		<picture>
			<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.service_hero_banner).src('banner-image-mobile') }}">
			<source media="(min-width:568px) and (max-width:991px)" srcset="{{ TimberImage(post.service_hero_banner).src('banner-image-ipad') }}">
			<img src="{{ TimberImage(post.service_hero_banner).src('banner-image') }}" alt="">
		</picture>
	</div>
	<div class="page-hd-section-in">
		<div class="container-md">
			<div class="page-heading-hd">
				<h1>{{post.title}}</h1>
			</div>
		</div>
	</div>
</section>


