
<footer>
	<div class="container-lg">
		<div class="custom-row">
			<div class="footer-logo">
				<div class="logo-img"><img src="{{ site.theme.link }}/assets/img/Logo_cml construction limited.svg" alt=""/></div>
			</div>
			<div class="footer-social-media">
				<ul>
					{% if contact_post.get_field('facebook') %}
						<li>
							<a class="facebook-icon" href="{{contact_post.get_field('facebook')}}"></a>
						</li>
					{% endif %}
					{% if contact_post.get_field('instagram') %}
						<li>
							<a class="youtube-icon" href="{{contact_post.get_field('instagram')}}"></a>
						</li>
					{% endif %}
					{% if contact_post.get_field('linkedin') %}
						<li>
							<a class="linkedin-icon" href="{{contact_post.get_field('linkedin')}}"></a>
						</li>
					{% endif %}
					{% if contact_post.get_field('twitter') %}
						<li>
							<a class="twitter-icon" href="{{contact_post.get_field('twitter')}}"></a>
						</li>
					{% endif %}

				</ul>
			</div>
			
			<div class="footer-info">
				{% include "menu.twig" with {'items': footer_menu_1.get_items} %}
				<p class="copy-right">Website created by
					<a href="https://blooberrycreative.co.uk/" target="_blank">Blooberry Creative</a>
				</p>
			</div>
		</div>
	</div>
</footer>
