/**
 * ----------------------
 * Blooberry Design
 * Base - Main
 * ----------------------
 */

/**
 * Styles
 */
html {
  font-size: $font-base-size;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include font-smoothing(true);
  @include font-body;
  // font-family: $font-body;
  line-height: $line-body;
  letter-spacing: normal;
  display: flex;
  flex-direction: column;
  @include ms-respond(font-size, 0);
  // font-family: 'MuseoSans-500';
  background-color: var(--bg);

  // [lang='ru-RU'] & {
  //   font-family: $font-body-cy, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  // }
}

@include media('<lg') {
  .col-0 {
    width: 0;
  }
}

.grid {
  width: 100%;
}
