// Global Breakpoint

@mixin breakpoint($media) {
  @if $media==iPad_landscape {
    @media (min-width: 992px) and (max-width: 1024px) {
      @content;
    }
  }


  @else if $media==iPad {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }


  @else if $media==mobile_landscape {
    @media (min-width: 568px) and (max-width: 767px) {
      @content;
    }
  }

  @else if $media==mobile_portrait {
    @media (min-width: 320px) and (max-width: 567px) { 
      @content;
    }
  }
  

  @else if $media==mobile {
    @media (min-width: 320px) and (max-width: 767px) {
      @content;
    }
  }

  @else if $media==menu-des {
    @media (min-width: 320px) and (max-width: 991px) {
      @content;
    }
  }


}