
button, input[type="submit"], input[type="reset"], input[type="button"]{
   @include padding(10px, 20px, 10px, 20px);
   color: $white;
   border: 0px;
   cursor: pointer;
   font-size: 16px;
   font-weight: 500;
}

