// This list is main colors

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$black:    #000000 !default;
$white:    #ffffff !default;
$drakblue:    #12114a !default;




// Main Theme Colors

$site_theme:  $purple !default;
$site_theme_txt:  $site_theme !default;
$header_link:  $black !default;


$site_footer_bg:  $drakblue !default;

$light_bg:  #f1f1f1 !default;




