h1{
    font-size: 3rem;
    @include breakpoint(iPad){
        font-size: 2.5rem;
    }
    @include breakpoint(mobile){
        font-size: 2rem;
    }
}

h2{
    font-size: 2.3rem;
    @include breakpoint(iPad){
        font-size: 2rem;
    }
    @include breakpoint(mobile){
        font-size: 1.8rem;
    }
}

h3{
    font-size: 2rem;
    @include breakpoint(mobile){
        font-size: 1.5rem;
    }
}

h4{
    font-size: 1.5rem;
    @include breakpoint(mobile){
        font-size: 1.2rem;
    }
}

h5{
    font-size: 1.4rem;
    @include breakpoint(mobile){
        font-size: 1.2rem;
    }
}

h6{
    font-size: 1.1rem;
}