.block_accordion {
    padding: $main-pd 0;
    @include breakpoint(mobile_portrait) {
        padding: $main-pd-sm 0;
    }
    @include breakpoint(ipad_portrait) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    @include breakpoint(mobile_landscape) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    h2.title::after {
        margin: auto;
    }
    .container_accordion {
        max-width: 850px;
        width: calc(100% - 2rem);
        margin-left: auto;
        margin-right: auto;
    }
    .desc--box {
        br {
            display: none;
        }
        ul {
            margin-bottom: 1rem;
        }
    }
    .a__box {
        margin-bottom: 2.5rem;
        &:last-child {
            margin-bottom: 0px;
        }
        h1,
        h2,
        h3,
        h4,
        h5 {
            margin: 1.1rem 0;
            font-size: 1.5rem;
            @include breakpoint(ipad_portrait) {
                font-size: 1.3rem;
            }
            @include breakpoint(mobile_landscape) {
                font-size: 1.2rem;
            }
            @include breakpoint(mobile_portrait) {
                font-size: 1.2rem;
            }
        }

        .a_b__top {
            border-bottom: 3px $secondary-color solid;
            padding: 1.1rem 0;
            outline: none !important;
            h5 {
                color: $primary-color;
                font-size: 1.5rem;
                margin: 0px;
                padding: 0 3rem 0 0;
                cursor: pointer;
                background: url("#{$assetPath}/arrow blue right.svg") no-repeat right center;
                background-size: 22px;
                @include breakpoint(ipad_portrait) {
                    font-size: 1.3rem;
                }
                @include breakpoint(mobile_landscape) {
                    font-size: 1.2rem;
                }
                @include breakpoint(mobile_portrait) {
                    font-size: 1.2rem;
                }
            }
        }
        .collapse {
            height: 0;
            overflow: hidden;
            -moz-transition: height 1s ease;
            -webkit-transition: height 1s ease;
            -o-transition: height 1s ease;
            transition: height 1s ease;

            .a_b__btm {
                background-color: $white;
                padding: 1.5rem;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
            }
        }
        &.accordion-active {
            .a_b__top {
                h5 {
                    background: url("#{$assetPath}/blue arrow down.svg") no-repeat right center;
                    background-size: 24px;
                }
            }

            .collapse {
                height: auto;
                -moz-transition: height 1s ease;
                -webkit-transition: height 1s ease;
                -o-transition: height 1s ease;
                transition: height 1s ease;
            }
        }
    }
}
