.service-list-cards {
    &:last-child {
        margin-bottom: 0rem;
    }

    .service-list-cards--img {
        width: 22%;

        @include breakpoint(mobile_portrait) {
            width: 100px;
        }
    }

    .service-list-cards--content {
        width: 78%;
    }
}

.product-list-cards {
    &:last-child {
        margin-bottom: 0rem;
    }

    .product-list-cards--img {
        width: 35%;

        @include breakpoint(mobile_portrait) {
            width: 200px;
        }
    }

    .product-list-cards--content {
        width: 65%;
    }
}

.sector-list-cards {
    &:last-child {
        margin-bottom: 0rem;
    }

    .sector-list-cards--img {
        width: 35%;

        @include breakpoint(mobile_portrait) {
            width: 200px;
        }

        img {
            border-radius: 15px;
        }
    }

    .sector-list-cards--content {
        width: 65%;
    }
}

.list-cards--img {
    margin-top: 1.6rem;

    @include breakpoint(mobile_portrait) {
        margin-top: 0rem;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.list-cards--content {
    padding-left: 4.5rem;
    padding-right: 4rem;
    position: relative;
    @include breakpoint(ipad_portrait) {
        padding-left: 2rem;
        padding-right: 3rem;
    }
    @include breakpoint(mobile_landscape) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include breakpoint(mobile_portrait) {
        padding-left: 0rem;
        padding-right: 3rem;
        width: 100% !important;
        margin-top: 2rem;
    }

    .arrow--btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .desc--box {
        margin-top: 1.2rem;
    }
}

.service-list-cards,
.product-list-cards,
.sector-list-cards {
    margin-bottom: 9rem;
    @include breakpoint(ipad_portrait) {
        margin-bottom: 5rem;
    }
    @include breakpoint(mobile_landscape) {
        margin-bottom: $main-pd-sm;
    }
    @include breakpoint(mobile_portrait) {
        margin-bottom: $main-pd-sm;
    }
}

.white-card {
    a {
        display: block;
        background-color: $white;
        padding: 2rem 1.5rem 4rem 1.5rem;
        box-shadow: 0 0 10px rgb(0 0 0 / 30%);
        color: $white;
        text-align: center;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: relative;
        &:hover {
            background-color: $light-cyan;
        }
        @include breakpoint(ipad_portrait) {
            padding: 2rem 1rem 4rem 1rem;
        }

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            height: 120px;
            margin: auto auto 2rem auto;
            @include breakpoint(ipad_portrait) {
                width: 50%;
                height: 87px;
              
            }
            @include breakpoint(mobile) {
                height: auto;
                width: 100px;
                margin: auto auto 0rem auto;
            }

            img {
                display: block;
                width: auto;
                height: 100%;
            }
        }

        h3 {
            color: $primary-color;
            margin-bottom: 1rem;

            @include breakpoint(ipad_landscape) {
                min-height: 85px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        h4 {
            color: $primary-color;
            margin-bottom: 1rem;

            @include breakpoint(ipad_landscape) {
                min-height: 85px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .desc--box {
            color: $gray-color;
        }
    }
}

.service-list-cards,
.product-list-cards,
.sector-list-cards {
    .title {
        a {
            color: $primary-color;
        }
    }
    &:hover {
        .title {
            color: $secondary-color;
            a {
                color: $secondary-color;
            }
        }
        .arrow--btn {
            a {
                background: url("#{$assetPath}/arrow cyan right.svg") no-repeat center center;
                background-size: 100%;
            }
        }
    }
}


