.download--section {
    background: $light-gray;
    position: relative;
    padding: 2rem 0 $main-pd 0;
    margin-top: 6rem;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        border-color: transparent transparent $light-gray;
        border-style: solid;
        border-width: 0 0 155px 98.8vw;
        top: -155px;
        @include breakpoint(mobile) {
            border-width: 0 0 70px 98.8vw;
            top: -69px;
        }
    }

    .download--row {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            li {
                width: 33.33%;
                padding: 1rem;
                @include breakpoint(ipad_portrait) {
                    width: 500px;
                    margin: auto;
                }
                @include breakpoint(mobile) {
                    width: 100%;
                    padding: 2rem 0;
                }
            }
        }
    }
    .download-item {
        display: block;
        background-color: $white;
        padding: 2rem 2rem 2rem 2rem;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        color: $white;
        width: 100%;
        height: 100%;
        border-radius: 10px;

        h4 {
            font-size: 1.5rem;
            color: $primary-color;
            font-weight: 600;
            margin: 0 0 1rem 0;
            padding: 0px;
            @include breakpoint(ipad_landscape) {
               line-height: 1.6rem;
            }  
        }
        .desc--box {
            color: $gray-color;
            min-height: 108px;
            margin-bottom: 2rem;
            @include breakpoint(ipad_portrait) {
                min-height: 50px;
            }
            @include breakpoint(mobile) {
                min-height: 50px;
            }
        }
        .primary-btn {
            display: flex;
            align-items: center;
            i {
                background: url("#{$assetPath}/support download icon.svg") no-repeat center center;
                width: 20px;
                height: 20px;
                margin-left: 0.6rem;
            }
        }
    }
}
