.get-in-touch {
    .get-in-touch-left {
        width: 35%;
        padding-top: 17px;
        @include breakpoint(ipad_portrait) {
            width: 40%;
            padding-top: 0rem;
        }

        @include breakpoint(mobile) {
            width: 100%;
            padding-top: 0rem;
        }
    }
    .get-in-touch-right {
        width: 65%;
        padding-left: 2rem;
        @include breakpoint(ipad_portrait) {
            width: 60%;
            padding-top: 0rem;
        }
        @include breakpoint(mobile) {
            width: 100%;
            padding-left: 0rem;
            padding-top: 3rem;
        }
    }
}

.get-in-touch--section {
    h2.title {
        &::after {
            margin: auto;
        }
    }
}
.get-in-touch-icons {
    ul {
        margin: 0;
        padding: 0px;
        list-style: none;
        li {
            margin: 0 0 2rem 0;
            padding: 0px;
            a {
                display: flex;
                font-size: 1.3rem;
                color: $primary-color;
                align-items: center;
                font-weight: 600;
                span {
                    @include gradient;
                    width: 50px;
                    height: 50px;
                    min-width: 50px;
                    padding: 5px;
                    margin-right: 1.5rem;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        width: 80%;
                        height: 80%;
                        display: block;
                    }
                }
                &:hover {
                    span {
                        background: $primary-color;
                    }
                }
            }
        }
    }
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    color: #ffb900;
    font-weight: 300;
    font-size: 1rem;
}
.wpcf7 form.sent .wpcf7-response-output {
    color: #46b450;
    font-weight: 300;
    font-size: 1rem;
}
.wpcf7-not-valid-tip {
    font-weight: 300;
    font-size: 1rem;
}
.wpcf7-list-item {
    margin: 0;
}
.input-field {
    label {
        color: $gray-color;
        font-size: 1rem;
        a {
            color: $secondary-color;
            font-size: 1rem;
            &:hover {
                color: $primary-color;
                font-weight: 500;
            }
        }
    }
}
.wpcf7 .wpcf7-submit:disabled {
    cursor: pointer !important;
}
.input-field-set {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    @include breakpoint(ipad_portrait) {
        display: block;
    }
    @include breakpoint(mobile) {
        display: block;
    }
    .input-field {
        margin: 0;
    }
    .input-submit-box {
        margin-left: auto;
        @include breakpoint(mobile) {
            margin-left: 0;
            margin-top: 2rem;
        }
    }
}
.wpcf7-acceptance {
    span {
        margin-right: 21px;
    }
}
.wpcf7-acceptance {
    position: relative;
}
.wpcf7-acceptance input::after,
.wpcf7-acceptance input:checked::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.wpcf7-acceptance input::before {
    content: "";
    background: $white;
    width: 26px;
    height: 26px;
    position: absolute;
    left: -3px;
    top: -3px;
}
.wpcf7-acceptance input::after {
    background: url("#{$assetPath}/checkinput.svg") no-repeat center center;
}
.wpcf7-acceptance input:checked::after {
    background: url("#{$assetPath}/checkedinput.svg") no-repeat center center;
}

.contact-section {
    background: $secondary-color;
    padding: $main-pd 0;
    @include breakpoint(mobile_portrait) {
        padding: $main-pd-sm 0;
    }
    .get-in-touch {
        margin-top: 0px;
        .get-in-touch-left {
            padding-top: 0px;
        }
    }
    .get-in-touch-block {
        background-color: $white;
        padding: 2rem;
        border-radius: 15px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }
    .get-in-touch-icons {
        ul {
            li {
                margin-bottom: 3rem;
                &:last-child {
                    margin-bottom: 0px;
                }

                a {
                    font-size: 1.8rem;
                    color: $white;
                    font-weight: 500;
                    @include breakpoint(ipad_portrait) {
                        font-size: 1.4rem;
                    }
                    @include breakpoint(mobile_portrait) {
                        font-size: 1.4rem;
                    }
                    span {
                        background: transparent;
                        width: 60px;
                        height: 60px;
                        padding: 0px;
                        margin-right: 1.5rem;
                        border-radius: 0px;
                        @include breakpoint(ipad_portrait) {
                            width: 40px;
                            min-width: 40px;
                            height: 40px;
                        }
                        @include breakpoint(mobile_landscape) {
                            width: 40px;
                            min-width: 40px;
                            height: 40px;
                        }
                        @include breakpoint(mobile_portrait) {
                            width: 40px;
                            height: 40px;
                        }
                        i {
                            width: 100%;
                            height: 100%;
                            display: block;
                            &.map-white-icon {
                                background-size: 126%;
                            }
                        }
                    }
                    &:hover {
                        opacity: 0.5;
                        span {
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
}
.wpcf7-spinner {
    display: none;
}
.contact {
    .get-in-touch-left {
        @include breakpoint(ipad_portrait) {
            width: 40%;
        }
    }
    .get-in-touch-right {
        @include breakpoint(ipad_portrait) {
            width: 60%;
            padding-left: 2rem;
            padding-top: 0rem;
        }
    }
}

.input-field-set {
    .input-field {
        label {
            padding-left: 32px;
            display: block;
            position: relative;
            .acceptance-terms {
                position: absolute;
                left: 0px;
            }
        }
    }
}
