.hero--section {
    position: relative;
    overflow: hidden;
    background: $primary-color;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 50%;
        top: 0;
        border: 0px;
        @include gradient2;
    }

    img {
        width: 100%;
        display: block;
        @include breakpoint(ipad_landscape) {
           max-width: inherit;
        }
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        bottom: -1px;
        border: 0px;
        background: url("#{$assetPath}/hero-curve.svg") no-repeat right bottom;
        background-size: 100%;
    }

    .hero-text {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100%;
        top: 0px;
        z-index: 2;
        display: flex;
        align-items: center;
    }

    .hero-text--inner {
        width: 50%;
        margin-top: -5%;
        margin-left: 7%;
        @include breakpoint(ipad_landscape) {
            margin-left: 4%;
        }
        @include breakpoint(ipad_portrait) {
            width: 80%;
            margin-left: 4%;
        }
        @include breakpoint(mobile_landscape) {
            width: 80%;
            margin-top: 0%;
            margin-left: 0;
        }
        @include breakpoint(mobile_portrait) {
            width: 100%;
            margin-top: 0%;
            margin-left: 0px;
        }
        h1 {
            margin: 0 0 0rem 0;
            padding: 0px;
            color: $white;
            display: flex;
            align-items: center;
            font-family: $primaryfontfaimly;
            span {
                width: 153px;
                margin-right: 2.5rem;
                @include breakpoint(ipad_portrait) {
                    margin-right: 1.5rem;
                    width: auto;
                }
                @include breakpoint(mobile_landscape) {
                    margin-right: 1.5rem;
                    width: auto;
                }
                @include breakpoint(mobile_portrait) {
                    margin-right: 1rem;
                    width: auto;
                }
                img {
                    display: block;
                    width: 153px;
                    height: auto;
                    max-width: inherit;
                    @include breakpoint(ipad_portrait) {
                        width: 104px;
                    }
                    @include breakpoint(mobile_landscape) {
                        width: 80px;
                    }
                    @include breakpoint(mobile_portrait) {
                        width: 80px;
                    }
                }
            }
        }
        .desc--box {
            margin: 0 0 2.5rem 0;
            font-size: 1.5rem;
            font-weight: 600;
            @include breakpoint(mobile_landscape) {
                font-size: 1.2rem;
            }
            @include breakpoint(mobile_portrait) {
                font-size: 1.2rem;
            }
            p {
                color: $white;
                line-height: 2rem;
                @include breakpoint(mobile_landscape) {
                    line-height: 1.3rem;
                }
                @include breakpoint(mobile_portrait) {
                    line-height: 1.4rem;
                }
            }
        }
    }

    &.home-hero--section {
        @include breakpoint(ipad_portrait) {
            min-height: 660px;
        }
        @include breakpoint(mobile_landscape) {
            min-height: 500px;
        }
        @include breakpoint(mobile_portrait) {
            min-height: 500px;
        }
        .hero-text--inner {
          
            h1{
                margin-bottom: 2.5rem;
                @include breakpoint(mobile_landscape) {
                    margin-bottom: 1.5rem;
                }
                @include breakpoint(mobile_portrait) {
                    margin-bottom: 1.5rem;
                }
            }
            .desc--box{
                p{
                    @include breakpoint(mobile_landscape) {
                        line-height: 1.5rem ;
                    }
                    @include breakpoint(mobile_portrait) {
                        line-height: 1.5rem;
                    }
                }
               
            } 
        }

        .btn-set--left {
            padding-left: 0px;
        }
    }
    &.hero--section-product {
        height: 800px;
        @media (min-width: 1300px) and (max-width: 1500px) {
            height: 700px;
        }
        @media (min-width: 1025px) and (max-width: 1299px) {
            height: 650px;
        }
        @include breakpoint(ipad_landscape) {
            height: 550px;
        }
        @include breakpoint(ipad_portrait) {
            height: 450px;
        }
        @include breakpoint(mobile_landscape) {
            height: 450px;
        }
        @include breakpoint(mobile_portrait) {
            height: 280px;
        }
    }
    &.inner-hero--section {
        min-height: 600px;
        max-height: 800px;
        // height: 600px;
        @media (min-width: 1300px) and (max-width: 1500px) {
            min-height: 490px;
            max-height: 700px;
        }
        @media (min-width: 1025px) and (max-width: 1299px) {
            min-height: 450px;
            max-height: 650px;
        }
        @include breakpoint(ipad_landscape) {
            min-height: 380px;
            max-height: 550px;
        }
        @include breakpoint(ipad_portrait) {
            min-height: 300px;
            max-height: 450px;
        }
        @include breakpoint(mobile_landscape) {
            min-height: 250px;
            max-height: 364px;
        }
        @include breakpoint(mobile_portrait) {
            min-height: 250px;
            max-height: 364px;
        }

        .page-title--img {
            img {
                max-width: inherit;
                @media (min-width: 1500px) and (max-width: 1680px) {
                    width: 100%;
                }
                @media (min-width: 1300px) and (max-width: 1499px) {
                    width: auto;
                    height: 100%;
                }
                @media (min-width: 1025px) and (max-width: 1299px) {
                    width: auto;
                    height: 100%;
                }
                @include breakpoint(ipad_landscape) {
                    max-width: inherit;
                    width: auto;
                    height: 100%;
                }
                @include breakpoint(ipad_portrait) {
                    width: auto;
                    height: 100%;
                }
                @include breakpoint(mobile_landscape) {
                    width: auto;
                    height: 100%;
                }
                @include breakpoint(mobile_portrait) {
                    width: 100%;
                }
            }
        }
        .hero-text {
            align-items: inherit;
            .container {
                position: relative;
                display: flex;
                align-items: center;
                @include breakpoint(mobile_landscape) {
                    padding-right: 0rem;
                }
                @include breakpoint(mobile_portrait) {
                    flex-wrap: wrap;
                }
                .hero-img--inner {
                    width: 46%;
                    margin-right: 0;
                    @include breakpoint(ipad_portrait) {
                        width: 80%;
                        max-width: inherit;
                    }
                    @include breakpoint(ipad_landscape) {
                        margin-right: 0%;
                        img {
                            width: 100%;
                        }
                    }
                    @include breakpoint(mobile_landscape) {
                        width: 100%;
                    }
                    @include breakpoint(mobile_portrait) {
                        display: none;
                    }
                }
            }
        }
        
    }
}


.single-product {
    .hero--section {
        background-color: $secondary-color;
    }
}

.contact {
    .hero--section::after {
        background: url("#{$assetPath}/contact-hero-curve.svg") no-repeat right bottom;
        background-size: 100%;
    }
}

.contact-info-icons {
    margin: 0px;
    padding: 0;
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
            margin: 0 0 1rem 0;
            padding: 0px;
            @include breakpoint(mobile) {
                margin: 0 0 0.7rem 0;
            }
            &:last-child {
                margin-bottom: 0px;
            }
            a {
                display: flex;
                align-items: center;
                color: $secondary-color;
                font-size: 1.5rem;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                @include breakpoint(mobile_landscape) {
                    font-size: 1.2rem;
                }
                @include breakpoint(mobile_portrait) {
                    font-size: 1rem;
                }
                i {
                    margin-right: 1rem;
                    svg {
                        width: 40px;
                        stroke: $secondary-color;
                        stroke-width: 5px;
                        @include breakpoint(mobile) {
                            width: 30px;
                        }
                    }
                }
                &:hover {
                    color: $white;
                    i {
                        svg {
                            stroke: $white;
                        }
                    }
                }
            }
            &:first-child {
                a {
                    i {
                        svg {
                            margin-top: 8px;
                        }
                    }
                }
            }
            &:last-child {
                a {
                    i {
                        svg {
                            margin-top: 11px;
                        }
                    }
                }
            }
        }
    }
}
