.home-section--3 {
    margin-top: -12%;
    position: relative;
    z-index: 3;
    padding-bottom: $main-pd;

   
    @include breakpoint(ipad_portrait) {
        margin-top: -88px;
        padding-bottom: 0px;
    }
    @include breakpoint(mobile) {
        margin-top: 0px;
        padding: $main-pd-sm 0 0;
    }
    .home-section-box--3 {
        width: 33.33%;
        padding: 0 1rem;
        @include breakpoint(ipad_portrait) {
            width: 68%;
            margin: auto auto 3rem auto;
            padding: 0;
        }
        @include breakpoint(mobile_landscape) {
            width: 78%;
            margin: auto auto 3rem auto;
            padding: 0;
        }
        @include breakpoint(mobile_portrait) {
            width: 100%;
            margin: auto auto 3rem auto;
            padding: 0;
        }
        .arrow-right {
            position: absolute;
            right: 1.5rem;
            bottom: 1.5rem;
        }
    }
}
