.product-slider--section {
    position: relative;
    z-index: 2;
    padding-bottom: $main-pd;
    .container-sm {
        position: relative;
        z-index: 9;
    }
    .title {
        text-align: center;
    }
    &::after {
        content: "";
        width: 100%;
        height: 491px;
        background-color: $light-gray;
        position: absolute;
        left: 0;
        bottom: 0px;
        transform: skewY(348deg) scale(1, 1);
        @include breakpoint(ipad_portrait) {
            height: 400px;
        }
        @include breakpoint(mobile_landscape) {
            transform: skewY(352deg) scale(1, 1);
            height: 286px;
        }
        @include breakpoint(mobile_portrait) {
            transform: skewY(352deg) scale(1, 1);
            height: 286px;
        }
    }
    .product-details-content {
        margin-top: 1rem;
    }
}
.product-sliider-slick {
    img {
        width: 100%;
    }
    .slick-list {
        margin: 0 10rem;
        @include breakpoint(ipad_portrait) {
            margin: 0 6rem;
        }
        @include breakpoint(mobile_landscape) {
            margin: 0 4rem;
        }
        @include breakpoint(mobile_portrait) {
            margin: 0rem;
        }
    }
    .slick-arrow {
        border: 0px;
        position: absolute;
        text-indent: -9999px;
        top: 60%;
        width: 51px;
        height: 51px;

        @include breakpoint(mobile_portrait) {
            width: 35px;
            height: 35px;
            z-index: 2;
            top: 70%;
        }
        &.slick-prev {
            left: 0px;
            background: url("#{$assetPath}/arrow blue left.svg") no-repeat center center;
            @include breakpoint(mobile_portrait) {
                background-size: 100%;
            }
        }
        &.slick-next {
            right: 0px;
            background: url("#{$assetPath}/arrow blue right.svg") no-repeat center center;
            @include breakpoint(mobile_portrait) {
                background-size: 100%;
            }
        }
    }
    .product--img {
        min-height: 490px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(ipad_portrait) {
            min-height: 373px;
        }
        @include breakpoint(mobile_landscape) {
            min-height: 100px;
        }
        @include breakpoint(mobile_portrait) {
            min-height: 222px;
        }
    }
    .product-content {
        text-align: center;
        .product-button {
            display: inline-block;
        }
        h4 {
            margin: 0.5rem 0 2rem 0;
            padding: 0px;
            color: $primary-color;
            font-weight: 600;
            @include breakpoint(mobile_portrait) {
                margin: 1rem 0 2rem 0;
            }
        }
    }
}
