
.post-row {
    margin-bottom: $main-pd;
    @include breakpoint(ipad_portrait) {
        margin-bottom: 3rem;
    }
    &:last-child {
        margin-bottom: 0;
    }

    .post-row--img {
        width: 45%;
        @include breakpoint(ipad_portrait) {
            width: 100%;
        }
        @include breakpoint(mobile) {
            width: 100%;
        }
        img {
            width: 100%;
            display: block;
            height: auto;
            border-radius: 15px;
        }
    }
    .post-row-content {
        width: 55%;
        padding-left: 3rem;
        @include breakpoint(ipad_portrait) {
            width: 100%;
            margin-bottom: 2rem;
            padding-left: 0rem;
        }
        @include breakpoint(mobile) {
            padding-left: 0rem;
            margin-bottom: 2rem;
            width: 100%;
        }
        h4 {
            margin: 0 0 1rem 0;
            color: $primary-color;
        }
    }
    &.post-row--primary {
        .custom-row {
            flex-direction: row-reverse;
            @include breakpoint(ipad_portrait) {
                flex-direction: column-reverse;
            }
            @include breakpoint(mobile) {
                flex-direction: column-reverse;
            }
        }
        .post-row-content {
            padding-right: 3rem;
            padding-left: 0rem;
            @include breakpoint(ipad_portrait) {
                padding-right: 0rem;
            }
            @include breakpoint(mobile) {
                padding-right: 0rem;
            }
        }
    }
    .custom-row {
        @include breakpoint(ipad_portrait) {
            flex-direction: column-reverse;
            padding: 0 8rem;
        }
        @include breakpoint(mobile_landscape) {
            padding: 0 4rem;
        }
        @include breakpoint(mobile) {
            flex-direction: column-reverse;
        }
    }
}
