.review--section {
    position: relative;
    .reivew-author {
        text-align: right;
        color: $white;
        margin-top: 1rem;
    }
    .review--box {
        font-size: 1.3rem;
        font-weight: 400;
        color: #fff;
        font-style: italic;
        @include breakpoint(mobile_portrait) {
            font-size: 1.1rem;
        }
        p {
            padding: 0px 6px;
            margin: 0px;
            line-height: 1.8rem;
            position: relative;
            @include breakpoint(mobile_portrait) {
                line-height: 1.4rem;
            }
            &::before {
                position: absolute;
                left: -5px;
                top: 0px;
                content: "“";
                font-size: 1rem;
            }
            &::after {
                position: absolute;
                bottom: 0px;
                content: "”";
                font-size: 1rem;
            }
        }
    }
}
