.video-ifram {
    @include breakpoint(ipad_portrait) {
        text-align: center;
    }
    @include breakpoint(mobile_landscape) {
        text-align: center;
    }
    @include breakpoint(mobile_portrait) {
        text-align: center;
    }
    img {
        max-width: 100%;
        display: block;
    }
    iframe {
        @include breakpoint(ipad_portrait) {
            width: 577px !important;
            height: 392px !important;
            margin: auto;
        }
        @include breakpoint(mobile_landscape) {
            width: 375px !important;
            height: 264px !important;
            margin: auto;
        }
        @include breakpoint(mobile_portrait) {
            width: 300px !important;
            height: 229px !important;
            margin: auto;
        }
    }
}
.top-sm-text-block {
    .container-sm {
        text-align: center;
        @include breakpoint(ipad_landscape) {
            padding-left: 5rem;
            padding-right: 5rem;
        }
        @include breakpoint(ipad_portrait) {
            padding-left: 5rem;
            padding-right: 5rem;
        }
        @include breakpoint(mobile_landscape) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
    .desc--box {
        font-size: 1.7rem;
        @include breakpoint(laptop) {
            font-size: 1.4rem;
        }
        @include breakpoint(ipad_landscape) {
            font-size: 1.4rem;
        }
        @include breakpoint(ipad_portrait) {
            font-size: 1.3rem;
        }
        @include breakpoint(mobile_landscape) {
            font-size: 1.3rem;
        }
        @include breakpoint(mobile_portrait) {
            font-size: 1.3rem;
        }
        p {
            line-height: 2.3rem;
            @include breakpoint(ipad_landscape) {
                line-height: 2.2rem !important;
            }
            @include breakpoint(ipad_portrait) {
                line-height: 1.9rem !important;
            }
        }
    }
}
.privacy-policy,
.environmental-policy {
    .top-sm-text-block {
        .container-sm {
            text-align: left;
            .desc--box {
                font-size: 1.3rem;
            }
        }
    }
}

.our-services--section {
    .title {
        color: $white;
        &::after {
            background-color: $white;
            margin: auto;
        }
    }
    .sevices-box-list.custom-row {
        justify-content: center;
    }

}
.service-single-box {
    width: 33.33%;
    padding: 1rem;
    @include breakpoint(ipad_portrait) {
        width: 500px;
        margin: auto;
    }
    @include breakpoint(mobile) {
        width: 100%;
        padding: 2rem 0;
    }
    &.white-card{
        a {
            position: relative;
            i{
                @include breakpoint(ipad_landscape) {
                    height: 108px;
                    margin: auto auto 0rem auto;
                }   
            }
            h4{
                @include breakpoint(ipad_landscape) {
                   margin-top: 0.6rem;
                   min-height: auto;
                }  
            }
        }
    }
   
    .arrow-right {
        position: absolute;
        right: 1.5rem;
        bottom: 1.5rem;
    }
}
.our-services--section,
.block_accordion,
.value-section--3,
.video--section,
.contact-section {
    .title {
        margin-bottom: 3rem;
        @include breakpoint(mobile_portrait) {
            margin-bottom: 2rem;
        }
    }
}
.get-in-touch,
.download--row {
    margin-top: 3rem;
    @include breakpoint(mobile_portrait) {
        margin-top: 2rem;
    }
}
.video--section,
.value-section--3,
.support-view-content,
.product-slider--section,
.download--section,
.top-sm-text-block {
    .title {
        &::after {
            margin: auto;
        }
    }
}

.video--section,
.contact-section {
    .title {
        color: $white;
        &::after {
            background-color: $white;
        }
    }
}
.video--section {
    .title {
        
        &::after {
            width: 78px;
        }
    }
}
.tag-content-row {
    position: relative;
    margin-top: 12rem;
    @include breakpoint(ipad_portrait) {
        padding-top: 3rem;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        border-color: transparent transparent $light-gray;
        border-style: solid;
        border-width: 0 0 155px 98.8vw;
        top: -155px;
        @include breakpoint(mobile) {
            border-width: 0 0 70px 98.8vw;
            top: -69px;
        }
    }
}

.bg--bg {
    position: relative;
    overflow: hidden;
    &::after,
    &::before {
        width: 25rem;
        height: 25rem;
        content: "";
        position: absolute;
        @include breakpoint(big_screen) {
            width: 39rem;
            height: 39rem;
        }

        @include breakpoint(ipad_portrait) {
            width: 12rem;
            height: 12rem;
        }
        @include breakpoint(mobile_landscape) {
            width: 9rem;
            height: 9rem;
        }
    }
    &::after {
        left: -15%;
        top: 2rem;
        background: url("#{$assetPath}/services logo stamp.svg") no-repeat center center;
        @include breakpoint(ipad_landscape) {
            left: -27%;
        }
        @include breakpoint(mobile_portrait) {
            display: none;
        }
    }
    &::before {
        right: -15%;
        bottom: 2rem;
        background: url("#{$assetPath}/services logo stamp.svg") no-repeat center center;
        transform: rotate(180deg);
        @include breakpoint(ipad_landscape) {
            right: -27%;
        }
        @include breakpoint(mobile_portrait) {
            display: none;
        }
    }
}

.back-to-section {
    padding: 4rem 0;
    .back-to-inner {
        text-align: center;
        a {
            color: $primary-color;
            font-size: 1.5rem;
            display: inline-block;
            font-weight: 800;
            background: url("#{$assetPath}/arrow blue left.svg") no-repeat left center;
            padding-left: 2rem;
            background-size: 20px;
            &:hover {
                color: $green2;
                background: url("#{$assetPath}/arrow green2 left.svg") no-repeat left center;
                background-size: 20px;
            }
        }
    }
}

.top-sm-text-block {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.top-sm-text-block ~ .tag-content-row {
    margin-top: 10rem;
    @include breakpoint(mobile_landscape) {
        margin-top: 4rem;
    }
    @include breakpoint(mobile_portrait) {
        margin-top: 6rem;
    }
}

.top-sm-text-block ~ .value-section--3 {
    padding-top: 0px;
}

.services--list,
.product--list,
.sectors--list {
    .container-sm {
        padding: 0 8rem;
        @include breakpoint(ipad_portrait) {
            padding: 0 4rem;
        }
        @include breakpoint(mobile_landscape) {
            padding: 0rem;
        }
        @include breakpoint(mobile_portrait) {
            padding: 0;
        }
    }
}

.home {
    .top-sm-text-block {
        padding-top: 0rem;
        padding-bottom: 5rem;
    }
}
.single-product {
    .top-sm-text-block {
        padding-bottom: 6rem;
    }
}

.support {
    .top-sm-text-block {
        padding-bottom: 0rem;
    }
}

.about {
    .top-sm-text-block {
        padding-bottom: 6rem;
    }
}

.hero-img--inner-mobile {
    display: none;
    @include breakpoint(mobile_portrait) {
        display: block;
        margin-top: -106px;
        position: relative;
        z-index: 1;
        padding: 0 1rem;
    }
    img {
        max-width: inherit;
        width: 100%;
    }
}

.single-service {
    .video--section {
        background-color: $primary-color;
    }
}
