.static-content-solutions-row {
    position: relative;
    .full-view-intro--img {
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            display: block;
            max-width: inherit;
            @include breakpoint(ipad_portrait) {
                width: 124%;
            }
        }
    }
    .full-view-intro-content {
        width: 50%;
        @include breakpoint(ipad_landscape) {
            width: 58%;
        }
        @include breakpoint(ipad_portrait) {
            width: 67%;
        }
        @include breakpoint(mobile_landscape) {
            width: 100%;
        }
        @include breakpoint(mobile_portrait) {
            width: 100%;
        }
        h2.title {
            &::after {
                background-color: $white;
            }
        }
        .desc--box {
            margin: 1.5rem 0;
            min-height: 100px;
        }
    }
    .full-view-intro--content {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        display: flex;
        align-items: flex-end;
        padding-bottom: $main-pd;
        @include breakpoint(mobile_landscape) {
            padding-bottom: 4rem;
        }
    }
}
