.support--section {
    position: relative;
    .support-view--img {
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            display: block;
            max-width: inherit;
        }
    }
    .support-view-content {
        width: 27rem;
        margin-left: auto;
        background: $white;
        border-radius: 15px;
        padding: 3rem;
        text-align: center;
        @include breakpoint(ipad_portrait) {
           margin: auto;
           width: 86%;
           box-shadow: 0 0 10px rgb(0 0 0 / 30%);
         }

        @include breakpoint(mobile_landscape) {
            margin: auto;
           box-shadow: 0 0 10px rgb(0 0 0 / 30%);
           width: 95%;
           padding: 2rem 1.5rem;
        }
        @include breakpoint(mobile_portrait) {
            margin: auto;
           box-shadow: 0 0 10px rgb(0 0 0 / 30%);
           width:100%;
           padding: 2rem 1rem;
        }
        .desc--box {
            margin: 1.5rem 0;
            min-height: 100px;
        }
    }
    .support-view--content {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        @include breakpoint(ipad_portrait) {
            position: relative;
            top: -96px;
        } 
        @include breakpoint(mobile_landscape) {
            position: relative;
            top: -66px;
        } 
        @include breakpoint(mobile_portrait) {
            position: relative;
            top: -66px;
        }
    }
}
