.value-section--3 {
    padding-top: $main-pd;
    .value-section-box--3 {
        width: 33.33%;
        padding: 0 0.5rem;
        @include breakpoint(ipad_portrait) {
            width: 500px;
            margin: auto;
        }
        @include breakpoint(mobile_landscape) {
            width: 420px;
            margin: auto;
        }
        @include breakpoint(mobile_portrait) {
            width: 100%;
        }
        .value-section-box {
            display: block;
            padding: 0rem 1.5rem 4rem 1.5rem;
            text-align: center;
            width: 100%;
            height: 100%;
            border-radius: 10px;
           
            @include breakpoint(mobile_portrait) {
                padding: 0rem 0rem 4rem 0rem;
            }
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40%;
                height: 120px;
                margin: auto auto 2rem auto;
                @include breakpoint(ipad_portrait) {
                    width: 120px;
                    height: auto;
                }
                @include breakpoint(mobile) {
                    width: 120px;
                    height: auto;
                }
                img {
                    display: block;
                    width: auto;
                    height: 100%;
                }
            }

            h4 {
                font-size: $h4;
                color: $primary-color;
                font-weight: 600;
                margin-bottom: 1rem;
                @include breakpoint(ipad_portrait) {
                    font-size: $h4_ip;
                }
                @include breakpoint(mobile) {
                    font-size: $h4_m;
                }
            }
            .desc--box {
                color: $gray-color;
            }
        }
    }
}
