{% if content_row.heading and content_row.images %}
	<section class="take-look-inside-section aos-init aos-animate" data-aos="fade-up">
		<div class="container-sm">
			<h2 class="line">{{content_row.heading}}</h2>
		</div>
		<section class="img-galley-section aos-init aos-animate" data-aos="fade-up">
			<div class="img-galley-row">

				{% for gallery in content_row.images %}
					{% set image = get_image(gallery.image) %}
					<div class="img-galley-box">
						<a data-fancybox="gallery" data-src="{{ image.src('src')}}" class="fancybox">
							<img src="{{image.src('gallery_thumb')}}" alt="">
						</a>
					</div>
				{% endfor %}

			</div>
		</section>
	</section>

{% elseif content_row.images %}

	<section class="img-galley-section aos-init" data-aos="fade-up">
		<div class="img-galley-row">
			{% for gallery in content_row.images %}
				{% set image = get_image(gallery.image) %}

				<div class="img-galley-box">
					<a data-fancybox="gallery" data-src="{{ image.src('src')}}" class="fancybox">
						<img src="{{image.src('gallery_thumb')}}" alt="">
					</a>
				</div>
			{% endfor %}

		</div>
	</section>
{% endif %}
