{% if content_row.service_row %}
	<section class="what-we-do-section" data-aos="fade-up">
		<div class="container-sm">
			<h2 class="line">
				{{content_row.heading}}</h2>
			<div class="what-we-do-list">
				<ul>
					{% for workdo in content_row.service_row %}
						<li>
							<h3>{{workdo.title}}</h3>
							<div class="desc">
								{{workdo.content}}
							</div>
						</li>
					{% endfor %}
				</ul>
				{% if content_row.discover_more_cta %}
					<div class="btn-set--right">
						<a href="{{content_row.discover_more_cta.url}}" class="primary-btn">
							{{content_row.discover_more_cta.title}}<i>&gt;</i>
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
