{% if content_row.review_content %}
	<section class="review-section primary-bg aos-init" data-aos="fade-up">
		<div class="container-sm">
			<div class="review-txt">
				"{{content_row.review_content}}"
			</div>

			<div class="review-info">
				<strong>{{content_row.review_author}}</strong>
				{% if content_row.review_author_role %}
					<span>{{content_row.review_author_role}}</span>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
