{% if content_row.case_studies_list %}
	<section class="case-studies-section" data-aos="fade-up">
		<div class="container-sm">
			<h2 class="line">{{content_row.heading}}</h2>
			<div class="case-studies-row">

				{% for item in content_row.case_studies_list %}
					{% set case_study = get_post(item.case_study) %}
					<div class="case-studies-box">
						<div class="case-studies-box-in">
							<div class="case-studies-img">
								<picture>
									<source media="(min-width: 768px) and (max-width: 991px)" srcset="{{get_image(case_study.thumbnail).src('case_study_thumb')}}">
									<source media="(min-width: 568px) and (max-width: 767px)" srcset="{{get_image(case_study.thumbnail).src('case_study_thumb')}}">
									<source media="(min-width: 320px) and (max-width: 567px)" srcset="{{get_image(case_study.thumbnail).src('case_study_thumb')}}">
									<img src="{{get_image(case_study.thumbnail).src('case_study_thumb')}}" alt="{{case_study.title}}">
								</picture>
							</div>
							<div class="case-studies-content">
								<h3>
									<a href="{{case_study.link}}">{{case_study.title}}</a>
								</h3>
							</div>
						</div>

					</div>

				{% endfor %}
			</div>
			<div class="btn-set--right">
				<a href="{{site.link}}/case-studies/" class="primary-btn">
					SEE ALL<i>&gt;</i>
				</a>
			</div>
		</div>
	</section>
{% endif %}
