{% if content_row.service_row %}
	<section class="post-section shap-box">
		<div class="shap3">
			<img src="{{theme.link}}/assets/img/shap-1.svg" alt="">
		</div>
		<div class="shap4">
			<img src="{{theme.link}}/assets/img/shap-3.svg" alt="">
		</div>
		<div class="shap5">
			<img src="{{theme.link}}/assets/img/shap-4.svg" alt="">
		</div>
		<div class="container-sm">

			{% for service_single in content_row.service_row %}
				{% if (loop.index+1)%2 ==0 %}
					<div class="post-box aos-init" data-aos="fade-up">
						<div class="custom-row">
							<div class="post-box-img">
								<picture>
									<source media="(min-width: 768px) and (max-width: 991px)" srcset="{{get_image(service_single.image).src('service_single_img')}}">
									<source media="(min-width: 568px) and (max-width: 767px)" srcset="{{get_image(service_single.image).src('service_single_img')}}">
									<source media="(min-width: 320px) and (max-width: 567px)" srcset="{{get_image(service_single.image).src('service_single_img')}}">
									<img src="{{get_image(service_single.image).src('service_single_img')}}" alt="{{service_single.title}}">
								</picture>
							</div>
							<div class="post-box-content">
								<h3>
									{{service_single.title}}</h3>
								<div class="desc">
									{{service_single.content}}
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<div class="post-box post-row-reverse aos-init" data-aos="fade-up">
						<div class="custom-row">
							<div class="post-box-img">
								<picture>
									<source media="(min-width: 768px) and (max-width: 991px)" srcset="{{get_image(service_single.image).src('service_single_img')}}">
									<source media="(min-width: 568px) and (max-width: 767px)" srcset="{{get_image(service_single.image).src('service_single_img')}}">
									<source media="(min-width: 320px) and (max-width: 567px)" srcset="{{get_image(service_single.image).src('service_single_img')}}">
									<img src="{{get_image(service_single.image).src('service_single_img')}}" alt="{{service_single.title}}">
								</picture>
							</div>
							<div class="post-box-content">
								<h3>
									{{service_single.title}}</h3>
								<div class="desc">
									{{service_single.content}}
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}

		</div>
	</section>
{% endif %}
