{% if content_row.copy_content_title or content_row.copy_content_text %}
	<section class="page-text-section primary-bg" data-aos="fade-up">
		<div class="container-sm">
			<div class="page-text-section-in">

				{% if content_row.copy_content_title %}
					<h2>{{content_row.copy_content_title}}</h2>
				{% endif %}
				<div class="desc">
					{{content_row.copy_content_text}}

				</div>
			</div>
		</div>
	</section>
{% endif %}
