{% if content_row.show_services %}
	<section class="who-we-work-with-section" data-aos="fade-up">
		<div class="container-sm">
			<h2 class="line">
				{{content_row.services_title}}</h2>
		</div>
		<div class="who-we-work-row">
			<ul>
				{% for child in content_row.who_we_work_list %}
					{% set currentItem = get_post(child.item) %}
					<li>
					
                              <picture >
									<source media="(min-width: 768px) and (max-width: 991px)" srcset="{{get_image(currentItem.thumbnail).src('who_we_work_ipad')}}">
									<source media="(min-width: 568px) and (max-width: 767px)" srcset="{{get_image(currentItem.thumbnail).src('who_we_work_landscape')}}">
									<source media="(min-width: 320px) and (max-width: 567px)" srcset="{{get_image(currentItem.thumbnail).src('who_we_work_mobile')}}">
									<img src="{{get_image(currentItem.thumbnail).src('who_we_work')}}" alt=""/>
                             </picture>
						<div class="who-we-work-row-content">
							<h3>
								<a href="{{currentItem.path}}">{{currentItem.title}}</a> 
							</h3>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
{% endif %}
