{% if post.get_field('services_repeater') %}
<div class="white-bg main-padding home-blogs-section">
   {% for service in post.get_field('services_repeater') %}
   {% if (loop.index+1) %2 ==0 %}
   <div class="blog-card-outer blog-card-outer-left" data-aos="fade" >
      <div class="container">
         <div class="blog-cards">
            <div class="blog-card-img trailing-line trailing-line--left trailing-line--primary">
                  <img src="{{ TimberImage(service.service_image).src('block-image-thumb') }}" alt="">
               </picture>
            </div>
            <div class="blog-card-content">
               <h2>{{service.service_title}}</h2>
               <div class="blog-card-txt">
                  {{service.service_content}}
               </div>
               <div class="btn-right">
                  <a href="{{service.service_cta}}" class="round-primary-btn">{{service.service_cta_title}}</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% else %}
   <div class="blog-card-outer blog-card-outer-right" data-aos="fade">
      <div class="container">
         <div class="blog-cards">
            <div class="blog-card-img trailing-line trailing-line--right trailing-line--primary">
               <picture>
                  <img src="{{ TimberImage(service.service_image).src('block-image-thumb') }}" alt="">
               </picture>
            </div>
            <div class="blog-card-content">
               <h2>{{service.service_title}}</h2>
               <div class="blog-card-txt">
                  {{service.service_content}}
               </div>
               <div class="btn-right">
                  <a href="{{service.service_cta}}" class="round-primary-btn">{{service.service_cta_title}}</a>
               </div> 
            </div>
         </div>
      </div>
   </div>
   {% endif %}
   {% endfor %}
</div>
{% endif %}