{% if content_row.why_with_us_items %}

	<section class="why-brands-section gray-bg" data-aos="fade-up">
		<div class="container-sm">
			{% if content_row.heading %}
				<h2 class="line">{{content_row.heading}}</h2>
			{% endif %}
			<div class="why-brands-row">
				<ul>

					{% for why_with_us_item in content_row.why_with_us_items %}
						<li>
							<h3>{{why_with_us_item.title}}
							</h3>
							<div class="desc">
								{{why_with_us_item.description}}
							</div>
						</li>
					{% endfor %}

				</ul>
			</div>
		</div>
	</section>
{% endif %}
