{% if content_row.content %}
	<section class="the-big-idea-section shap-box" data-aos="fade-up">
		<div class="shap1">
			<img src="{{theme.link}}/assets/img/shap-1.svg" alt="Flowers"></div>
		<div class="shap2">
			<img src="{{theme.link}}/assets/img/shap-3.svg" alt="Flowers"></div>
		<div class="container-sm">
			<div class="custom-row">
				<div class="the-big-idea-section-left">
					<h2 class="line">
						{{content_row.title}}</h2>
					<div class="desc">
						{{content_row.content}}
					</div>
					{% if content_row.cta_style == 'style2' %}
						<div class="btn-set--left margin-top-3">
							<a href="{{content_row.cta.url}}" class="secondary-bg-btn">{{content_row.cta.title}}</a>
						</div>
					{% elseif content_row.cta %}
						<div class="btn-set--left">
							<a id="arrowLink" href="{{content_row.cta.url}}" class="primary-btn">{{content_row.cta.title}}<i>&gt;</i>
							</a>
						</div>
					{% endif %}
				</div>
				<div class="the-big-idea-section-right">
					<div class="the-big-idea-section-img-top">
						<img src="{{ get_image(content_row.image).src('book_now') }}" alt=""/>
					</div>
					<div class="the-big-idea-section-img-btm">
						<img src="{{ get_image(content_row.image_copy).src('book_now') }}" alt=""/>
					</div>
				</div>
			</div>

		</div>
	</section>
{% endif %}
