{% if content_row.heading %}
	<section class="parallax-image-section" data-parallax="scroll" data-image-src="{{theme.link}}/assets/img/gray-bg.jpg">
		<div class="container">
			<div class="custom-row">
				<div class="parallax-image-section-left">
					<img src="{{get_image(content_row.image).src}}" alt=""/>
				</div>
				<div class="parallax-image-section-right">
					<h1>{{content_row.heading}}
						<span>{{content_row.heading_copy}}</span>
					</h1>
				</div>
			</div>
		</div>
	</section>
{% endif %}
