{% if content_row.content_with_image_row %}
	<section class="post-section content-with-image-alternate shap-box">
		

		<div class="shap6">
                    <img src="{{theme.link}}/assets/img/shap-2.svg" alt="" />
                </div>
                <div class="shap7">
                    <img src="{{theme.link}}/assets/img/shap-4.svg" alt="" />
                </div>
		<div class="container-sm">

			{% for service_single in content_row.content_with_image_row %}
				{% if (loop.index+1)%2 ==0 %}
					<div class="post-box">
						<div class="custom-row">
							<div class="post-box-img aos-init"  data-aos="fade-right">
								<picture>
									<source media="(min-width: 768px) and (max-width: 991px)" srcset="{{get_image(service_single.image).src('service_single_img')}}">
									<source media="(min-width: 568px) and (max-width: 767px)" srcset="{{get_image(service_single.image).src('service_single_img')}}">
									<source media="(min-width: 320px) and (max-width: 567px)" srcset="{{get_image(service_single.image).src('service_single_img')}}">
									<img src="{{get_image(service_single.image).src('service_single_img')}}" alt="{{service_single.title}}">
								</picture>
							</div>
							<div class="post-box-content aos-init"  data-aos="fade-left">
								<h3>
									{{service_single.title}}</h3>
								<div class="desc">
									{{service_single.content}}
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<div class="post-box post-row-reverse " >
						<div class="custom-row">
							<div class="post-box-img aos-init" data-aos="fade-left">
								<picture>
									<source media="(min-width: 768px) and (max-width: 991px)" srcset="{{get_image(service_single.image).src('service_single_img')}}">
									<source media="(min-width: 568px) and (max-width: 767px)" srcset="{{get_image(service_single.image).src('service_single_img')}}">
									<source media="(min-width: 320px) and (max-width: 567px)" srcset="{{get_image(service_single.image).src('service_single_img')}}">
									<img src="{{get_image(service_single.image).src('service_single_img')}}" alt="{{service_single.title}}">
								</picture>
							</div>
							<div class="post-box-content aos-init" data-aos="fade-right">
								<h3>
									{{service_single.title}}</h3>
								<div class="desc">
									{{service_single.content}}
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}

		</div>
	</section>
{% endif %}
