@use '../helper/breakpoint'as *;
.banner{
    padding: 0;
    position: relative;
    height: 100%;
    overflow: hidden;
    .container{
        position: relative;
        z-index: 1;
        padding-top: 9rem;
        padding-bottom: 4rem;
        color: #fff;
        text-align: center;
        max-width: 1000px;
        @include breakpoint(568px, 767px) {
            padding-top: 5rem;
          }
        @include breakpoint(320px, 567px) {
            padding-top: 5rem;
        }
    }
    figure{
        height: 100%;
    }
    .main-header-img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        img{
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}