@use '../helper/font-mixins'as *;
@use '../helper/breakpoint'as *;

.header-site {
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    z-index: 99;

    .custom-row {
        justify-content: space-between;
        /* Distribute the items */
        align-items: center;
    }

    .logo {
        a {

            color: #ffffff;
            font-weight: 700;
            display: block;
            @include font-size-lg;
        }

    }

    .main-search {
        width: 44%;

        @include breakpoint(1400px, 1599px) {
            width: 38%;
        }

        @include breakpoint(1300px, 1399px) {
            width: 32%;
        }

        @include breakpoint(1200px, 1299px) {
            width: 26%;
        }

        .wp-block-search__inside-wrapper {
            border: 0px;
            background: #dddddd;
            border-radius: 12px;

            .wp-block-search__input {
                background: transparent;
                font-size: 14px;
                padding: 15px;
            }

            .wp-block-search__button.has-icon {
                line-height: 0;
                background: transparent;
                border: 0;
            }
        }
    }

    .main-menu {
        display: flex;
        align-items: center;

        @include breakpoint(320px, 1024px) {
            display: none;
        }

        nav {
            margin-right: 15px;

            ul {
                display: flex;
                list-style: none;
                margin: 0px;
                padding: 0px;

                li {
                    padding: 0px 10px;

                    &:last-child {
                        padding-right: 0px;
                        display: none;
                    }

                    a {
                        display: block;
                        @include font-size-sm;
                        color: #ffffff;
                        padding: 0px;
                        @include breakpoint(320px, 1024px) {
                            color: #000;  
                        }
                    }
                }
            }
        }

    }
}


.menu-show {
    .main-menu {
        position: fixed;
        z-index: 999;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .header-site .main-menu nav ul {
        display: block;
        margin-bottom: 20px;

        li {
            padding: 15px 0px;
            text-align: center;

            a {
                font-size: 20px;
            }
        }
    }
}

.headerfixed{
    .header-site{
       background-color: #fff; 
       .logo a,
       .main-menu nav ul li a{
        color: #000;
       }
    }
}