@use "../helper/breakpoint" as *;
@use "../helper/font-mixins" as *;
.paging-navigation {
    margin-bottom: 30px;
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            margin: 0px;
            padding: 0 10px;
            a,
            span {
                display: block;

                font-weight: 500;
                color: #999;
                text-decoration: none;
                padding: 5px 10px;
                background-color: #000;
                color: #ffff;
                @include font-size-sm;
                &.current {
                    font-weight: 600;
                }
            }
        }
    }
}

.page-navigation {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 30px;
    @include font-size-md;
}
