@use '../helper/breakpoint'as *;
.post-row{
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
  flex-wrap: wrap;
  .post-box{
    padding: 8px;
    width: 33.33%;
    @include breakpoint(768px, 991px) {
      width: 50%;
    }
    @include breakpoint(568px, 767px) {
      width: 50%;
    }
    @include breakpoint(320px, 567px) {
      width: 100%;
    }
    .post-box-img{
      width: 100%;
      height: 342px;
      position: relative;
      border-radius: 11px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
      .post-box-info{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        padding: 10px;
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);

        .post-date{
          color: #fff;
        }
        .download-btn{
          margin-left: auto;
        }
      }
    }
    .post-box-content{
      padding: 10px;
      h4{
        margin: 0px;
        padding: 0px;
      }
    }
  }
}

.download-btn{
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}