@use '../helper/breakpoint'as *;
.single-page-row{
    padding: 30px 0;
    .site-details-left{
        width: calc(100% - 250px);
        padding-right: 20px;
        @include breakpoint(568px, 767px) {
            width: 100%;
            padding-right: 0px;
          }
          @include breakpoint(320px, 567px) {
            width: 100%;
            padding-right: 0px;
          }
        article{
           figure,
           .uploaded-img-box{
               img{
                   width: 100%;
                   height: auto;
                   display: block;
               }
           }
        }
        .uploaded-img-box{
            margin-bottom: 25px;
            h4{
                margin: 10px 0;
                padding: 0px;
            }
        }
        .gallery-img{
            ul{
                margin: 0 -8px;
                padding: 0px;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                li{
                    width: 33.33%;
                    padding:15px 8px;
                    @include breakpoint(768px, 991px) {
                        width: 50%;
                      }
                    @include breakpoint(320px, 767px) {
                        width: 50%;
                      }
                    h5{
                        margin: 10px 0;
                        padding: 0px;
                    }
                    img{
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
            }
        }
       }
       .site-details-right{
           width: 250px;
           @include breakpoint(568px, 767px) {
            width: 100%;
            padding-top: 2px;
          }
          @include breakpoint(320px, 567px) {
            width: 100%;
            padding-top: 20px;
          }
          h2 {
            margin: 0px;
            font-size: 1.5rem;
            margin-bottom: 1rem;
          }
       }
}
