@use '../helper/breakpoint' as *;
@use '../helper/font-mixins' as *;
.social-media{
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    
        li {
          margin: 0px;
          padding: 0 10px 0 0;
    
          &:last-child {
            padding-right: 0px;
          }
    
          a {
            display: block;
    
            svg {
              width: 50px;
              height: 50px;
              padding: 5px;
              display: block;
              border-radius: 30px;
              fill: #fff;
            }
          }
    
          &.fb{
            a{
              svg{
                background: linear-gradient(115deg, #62cff4, #2c67f2)
              }
              span{
                  color: #2c67f2;
              }
              &:hover{
                svg{
                  background: linear-gradient(115deg, #2c67f2, #62cff4)
                }
              }
            }
          }
          &.insta{
            a{
              svg{
                background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
              }
              span{
                  color: #ee2a7b;
              }
            }
            &:hover{
              a{
                svg{
                  background: linear-gradient(115deg, #6228d7, #ee2a7b, #f9ce34);
                }
              }
            }
          }
          &.email{
            a{
              svg{
                background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
              }
              span{
                  color: #ee2a7b;
              }
            }
            &:hover{
              a{
                svg{
                  background: linear-gradient(115deg, #6228d7, #ee2a7b, #f9ce34);
                }
              }
            }
          }
        }
      }
}



.hamburger{
    position: relative;
    z-index: 9999;
    display: none;
    @include breakpoint(320px, 1024px) {
      display: block;
    }
}
.hamburger .line {
    width: 45px;
    height: 5px;
    display: block;
    margin: 8px auto;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    
  }
  
  .hamburger:hover {
    cursor: pointer;
  }
  
  /* ONE */
  
  #hamburgerClick.is-active .line:nth-child(2) {
    opacity: 0;
  }
  
  #hamburgerClick.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  #hamburgerClick.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }

  .catogory-list{
    padding: 22px 0 15px 0;
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    
        li {
          margin: 0px;
          padding: 0 10px 10px 0;
    
          &:last-child {
            padding-right: 0px;
          }
    
          a {
            display: block;
            padding: 8px 20px;
            border-width: 1px;
            border-radius: 20px;
            border-style: solid;
            @include font-size-sm;
          }
        }
    }
  }

  .popular-posts{
    

    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      li {
        a {
          &.wpp-post-title {
            @include font-size-sm;
          }
          &:nth-child(1) {
            width: 50px;
            margin-right: 15px;
            float: left;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }

  .wpforms-container input.wpforms-field-medium, .wpforms-container select.wpforms-field-medium, .wpforms-container .wpforms-field-row.wpforms-field-medium, .wp-core-ui div.wpforms-container input.wpforms-field-medium, .wp-core-ui div.wpforms-container select.wpforms-field-medium, .wp-core-ui div.wpforms-container .wpforms-field-row.wpforms-field-medium{
		max-width: 100%;
	}

#block-16{
      .sti-container{
        border-radius: 10px;
        padding: 10px;
        .sti.sti-shortcode{
          margin: 0px;
        }
      }
}

.not-found-search-form{
  background: #f3f3f3;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  form{
      display: flex;
      label{
          width: calc(100% - 63px);
        
          
          input{
              width: 100%;
              border: 2px #000 solid;
              font-size: 16px;
              padding: 1.1rem;
          }
      }
      .searchsubmit{
          width: calc(63px);
          color: #fff;
          padding: 12px;
          font-size: 1.3rem;
          cursor: pointer;
          font-weight: 400;
          border: 0px;
         
      }
  }
}