{%
    set classes = [
      'row',
      'terms-accordion-list',
      dom_id ? 'js-view-dom-id-' ~ dom_id,
    ]
  %}

   {% if rows %}
  <div{{ attributes.addClass(classes) }}>
    <div class="large-8 large-centered columns">
  
      {{ title_prefix }}
      {{ title }}
      {{ title_suffix }}
    
      {{ header }}

      {% if rows -%}
      <div class="view-content">
        {{ rows }}
      </div>
      {% elseif empty -%}
      <div class="view-empty">
        {{ empty }}
      </div>
      {% endif %}
  
  
    </div>
  </div>
  {% else %}
  <style>
  .block-views-blockterms-and-conditions-listing{display:none}
  </style>
  {% endif %}