{%
    set classes = [
      'row',
      'white',
      'fault-finding-list',
      dom_id ? 'js-view-dom-id-' ~ dom_id,
    ]
  %}
<div{{attributes.addClass(classes)}}>
	<div class="large-8 large-centered columns">

		{% for row in rows %}

			<div class="text-list-box">
				<h3>{{ row.columns.title.content}}</h3>
				<div class="desc">
					{{ row.columns.body.content }}
				</div>
				<div class="sm-btn-set btn-set-right btn-download">
					{{ row.columns.field_download.content }}
				</div>
			</div>
		{% endfor %}

	</div>
</div>
