{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div class="row">
  <div class="large-10 large-centered columns">

    <div{{ attributes.addClass(classes) }}>
      <div class="row">
        <div class="large-4 columns push-8">

          <h3 class="downloads-filter-title">Filter downloads</h3>

          {% if exposed -%}
          {{ exposed }}
          {% endif %}

        </div>
        <div class="large-8 columns pull-4">

          <div id="js-title" class="category-title">

          </div>

          {% if header %}
          <h2 class="category-title"> {{ header }}</h2>
          {% endif %}


          {% if rows -%}
          {{ rows }}
          {% elseif empty -%}
          {{ empty }}
          {% endif %}
          {% if pager -%}
          {{ pager }}

          {% endif %}

        </div>
      </div>
    </div>

  </div>
</div>
{{ attach_library('jstar/downloads') }}