{%
set classes = [
  'row',
dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}
<div class="panel-pane pane-views-panes pane-products-listing">
  <div class="white">
    <div{{ attributes.addClass(classes) }}>
      <div class="large-12 columns">

        {% if rows -%}
        {{ rows }}
        {% elseif empty -%}
        {{ empty }}
        {% endif %}

      </div>
  </div>
</div>
</div>