{#
/**
* @file
* Theme override for displaying a view as a table.
*
* Available variables:
* - attributes: Remaining HTML attributes for the element.
* - class: HTML classes that can be used to style contextually through CSS.
* - title : The title of this group of rows.
* - header: The table header columns.
* - attributes: Remaining HTML attributes for the element.
* - content: HTML classes to apply to each header cell, indexed by
* the header's key.
* - default_classes: A flag indicating whether default classes should be
* used.
* - caption_needed: Is the caption tag needed.
* - caption: The caption for this table.
* - accessibility_description: Extended description for the table details.
* - accessibility_summary: Summary for the table details.
* - rows: Table row items. Rows are keyed by row number.
* - attributes: HTML classes to apply to each row.
* - columns: Row column items. Columns are keyed by column number.
* - attributes: HTML classes to apply to each column.
* - content: The column content.
* - default_classes: A flag indicating whether default classes should be
* used.
* - responsive: A flag indicating whether table is responsive.
* - sticky: A flag indicating whether table header is sticky.
* - summary_element: A render array with table summary information (if any).
*
* @see template_preprocess_views_view_table()
*/
#}

{% for row in rows %}
<div class="content-node-bottom">
	{% for key, column in row.columns %}
	{% for content in column.content %}

	{% if key =='field_cta' %}
	{{ content.field_output -}}
	{% endif %}

	{% if key =='field_bottom_image' %}
	<div class="bottom-image">
		{{ content.field_output -}}
		<aside></aside>
	</div>
	{% endif %}

	{% if key =='field_image' %}
	<div class="bottom-image hide-mob">
		{{ content.field_output -}}
	</div>
	{% endif %}

	{% if key =='field_bottom_copy' %}
	<div class="white">
		<div class="row">
			<div class="large-6 large-centered columns">
				{{ content.field_output -}}
			</div>
		</div>
	</div>
	{% endif %}


	{% endfor %}

	{% endfor %}
</div>

{% endfor %}