.articles-list-section{
    .container-sm {
        @include breakpoint(ipad_portrait){
            width: calc(100% - 11rem);
        }
        
    }
    .articles-list-section-content{
        .articles-list{
            border-bottom: 1px $white solid;
            padding: 1rem 0 2.2rem;
            .article-content{
                margin: 0 0 0.4rem 0;
                p{
                    margin-bottom: 0px;
                }
            }
            h5{
                margin: 0 0 0.4rem 0;
                padding: 0px;
                font-weight: 400;
                @extend %font-size;
                font-family: $secondaryfontfaimly;
            }
            span{
                display: block;
                width: 100%;
                color: $author-color;
                font-style: italic;
                font-weight: 200;
                font-size: 16px;
            }
        }
    }
}