.get-in-touch-section {
    border-top: 5px $white solid;
    .section-hd h2 {
        text-align: left;
    }
    
    .get-in-touch-section-content {
        @extend %main-padding-top;
        @include breakpoint(mobile) {
            padding-top: 2rem;
        }
    }
}

.wpcf7 .wpcf7-submit:disabled {
    cursor: pointer !important;
}
.input-field-set {
    display: flex;
    margin-top: 2rem;
    @include breakpoint(mobile) {
        display: block;
    }
    .input-field {
        margin-top: 9px;
    }
    .input-submit-box {
        margin-left: auto;
        @include breakpoint(mobile) {
            margin-left: 0;
            margin-top: 2rem;
        }
    }
}
.wpcf7-acceptance {
    span {
        margin-right: 0;
        position: relative;
    }
}
.wpcf7-acceptance {
    .wpcf7-list-item{
        margin: 0;
    }
   input{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
   }
}
.wpcf7-acceptance input::after,
.wpcf7-acceptance input:checked::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.wpcf7-acceptance input::before {
    content: "";
    background: $primary-color;
    width: 26px;
    height: 26px;
    position: absolute;
    left: -3px;
    top: -3px;
}
.wpcf7-acceptance input::after {
    background: url("#{$assetIconsPath}/checkinput.svg") no-repeat center center;
}
.wpcf7-acceptance input:checked::after {
    background: url("#{$assetIconsPath}/checkedinput.svg") no-repeat center center;
}
.contact{
    .get-in-touch-section {
        border-top: 0px;
    } 
    .wpcf7-acceptance input::before {
        content: "";
        background: $secondary-color;
    }
}
.input-field-set{
    label{
        position: relative;
        padding: 0 0 0 29px;
        display: block;
        align-items: center;
    }
    .wpcf7-form-control-wrap{
        position: absolute;
        left: 0;
    }
}


.contact{
    .get-in-touch-section {
        .get-in-touch-section-content {
            @include breakpoint(ipad_portrait){
                padding-top: 1.5rem;
            }
        }
    } 
}