.individuals-organisations-section{
    .container{
        width: calc(100% - 50rem);
        @media (min-width: 1599px) and (max-width: 1800px) {
            width: calc(100% - 30rem);
          }
          @include breakpoint(desktop-md) {
            width: calc(100% - 18rem);
        }
        @include breakpoint(desktop-sm) {
            width: calc(100% - 6rem);
        }
        @include breakpoint(ipad) {
            width: calc(100% - 3rem);
        }
        @include breakpoint(mobile_landscape) {
            width: calc(100% - 4rem);
        }
        @include breakpoint(mobile_portrait) {
            width: calc(100% - 2rem);
        }
    }
    .ind-org-section-content{
        @extend %main-padding-top;
        @include breakpoint(ipad_landscape){
            padding-left: 3rem;
            padding-right: 3rem;
         }
        @include breakpoint(ipad_portrait){
           padding-left: 3rem;
           padding-right: 3rem;
        }
        .individuals-box,
        .organisations-box
        {
            width: 48%;
            background: $light-gray;
            padding: 3rem 2rem;
            border-radius: 7px;
            @include breakpoint(ipad_portrait){
                width: 100%;
            }
            @include breakpoint(mobile){
                width: 100%;
            }
            h3{
                margin: 0 0 1.6rem;
                padding: 0px;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 1.3rem;
            }
        }
        .organisations-box{
            margin-left: auto;
            @include breakpoint(ipad_portrait){
                margin-left: 0;
                margin-top: 2rem;
            }
            @include breakpoint(mobile){
                margin-left: 0;
                margin-top: 2rem;
            }
        }
    }
}