.inner-banner-section {
    position: relative;
    height: 490px;
    overflow: hidden;
    @include breakpoint(desktop){
        height: 440px;
    }
    @include breakpoint(desktop-md){
        height: 420px;
    }
    @include breakpoint(desktop-sm){
        height: 380px;
    }
    @include breakpoint(ipad_landscape){
        height: 320px;
    }
    @include breakpoint(ipad_portrait){
        height: 275px;
    }
    @include breakpoint(mobile_landscape){
        height: 210px;
    }
    @include breakpoint(mobile_portrait){
        height: auto;
    }
    .inner-banner-img {
        width: 65%;
        margin-left: auto;
        
        background-attachment: initial;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        @include breakpoint(mobile_portrait){
            width: 100%;
        }
        picture{
            width: 100%;
            img{
                width: 100%;
                display: block;
            }
        }
    }
    .inner-banner-content {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        display: flex;
        align-items: center;
        @include breakpoint(mobile_portrait) {
            position: relative;
            padding: 2rem 0;
        }
        h1 {
            margin: 0px;
            padding: 0px;
            color: $white;
        }
        .container-sm {
            position: relative;
            z-index: 1;
        }
        &::after {
            position: absolute;
            content: "";
            width: 55%;
            height: 100%;
            left: 0px;
            top: 0px;
            background: -moz-linear-gradient(left, rgba(92, 37, 79, 1) 72%, rgba(255, 255, 255, 0) 100%);
            background: -webkit-linear-gradient(left, rgba(92, 37, 79, 1) 72%, rgba(255, 255, 255, 0) 100%);
            background: linear-gradient(to right, rgba(92, 37, 79, 1) 72%, rgba(255, 255, 255, 0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c254f', endColorstr='#00ffffff',GradientType=1 );
            @include breakpoint(mobile_portrait) {
                background: $primary-color;
                width: 100%;
            }
        }
    }

    &.inner-banner-sm-section{
        padding: 2rem 0;
        .inner-banner-sm{
            align-items: center;
            height: 100%;
            flex-direction: row-reverse;
            .inner-banner-sm-img{
                width: 50%;
                display: flex;
                align-items: center;
                height: 100%;
               
                @media (min-width: 1300px) and (max-width: 99000000000px) {
                    width: 62%;
                  }
                  picture{
                    width: 100%;
                    height: 100%;
                  }
                img{
                    display: block;
                    width: auto;
                    height: 100%;
                    @include breakpoint(mobile_portrait){
                        height:auto;
                        width: 100%;
                    }
                }
            }
            .inner-banner-sm-hd{
                width: 50%;
                padding-right: 2rem;
                @media (min-width: 1300px) and (max-width: 99000000000px) {
                    width: 38%;
                  }

            }
        }
    }
 
}
