.single-article-section{
    .single-article-section-content{
        @extend %main-padding-top;
        @include breakpoint(mobile){
          padding-top: 2rem;
        }
        .primary-btn{
            &:hover{
                background: $white;
                color: $primary-color;
            }
        }
    }
}