.sub-page-banner {
    padding: 2rem 0;
    .sub-page-banner-left {
        display: flex;
        align-items: center;
        h1 {
            color: $white;
            padding: 2rem 0;
            @include breakpoint(mobile_portrait) {
                margin: 0;
            }
        }
    }
    .sub-page-banner-right {
        margin-left: auto;
        @include breakpoint(mobile_portrait) {
            margin-left: auto;
        }
        .sub-page-img {
            img {
                width: auto;
                height: 382px;
                display: block;
                @include breakpoint(desktop-md) {
                    height: 320px;
                }
                @include breakpoint(desktop-sm) {
                    height: 300px;
                }
                @include breakpoint(ipad_landscape) {
                    height: 300px;
                }
                @include breakpoint(ipad_portrait) {
                    height: 250px;
                }
                @include breakpoint(mobile_landscape) {
                    height: 200px;
                }
                @include breakpoint(mobile_portrait) {
                    height: auto;
                    width: 75%;
                }
            }
        }
    }
}
.single-expertise {
    .sub-page-banner {
        padding: 2rem 0;
        .sub-page-banner-right {
            .sub-page-img {
                display: flex;
                height: 100%;
                align-items: center;
                img {
                    width: auto;
                    height: 246px;
                    display: block;
                    @include breakpoint(ipad_portrait) {
                        height: 180px;
                    }
                    @include breakpoint(mobile_landscape) {
                        height: 150px;
                    }
                
                    @include breakpoint(mobile_portrait) {
                        height: 100px;
                    }
                }
            }
        }
    }
}
