.testimonials-section{
    
    .testimonials-slider{
        @extend %main-padding-top;
        .slick-list{
            width: 100%;
            margin: auto;
            @include breakpoint(ipad_portrait) {
                width: 90%;
            }
            @include breakpoint(mobile_landscape){
                width: 90%;
            }
            @include breakpoint(mobile_portrait){
                width: 75%;
            }
        }
        .testimonials-slider-item{
            background: $light-gray;
            @include border-radius(10px);
            padding: 2.5rem;
            @include breakpoint(mobile){
                padding: 1.5rem; 
            }
            .quotes{
                position: relative;
               padding: 40px 26px;
               font-family: $secondaryfontfaimly;
               font-size: 1.7rem;
               @include breakpoint(mobile){
                font-size: 1.3rem;
                padding: 40px 0px; 
               }
               p{
                line-height: 2rem;
                font-weight: 400;
                @include breakpoint(mobile){
                    line-height: 1.7rem;
                   }
               }
                &::before,&::after{ 
                    content: '';
                    position: absolute;
                    width: 40px;
                    height: 40px;
                }
                &::before{
                    left: 0px;
                    top: 0px;
                    background: url("#{$assetIconsPath}/left-quote-icon.svg") no-repeat center center;
                    background-size: 100%;
                }
                &::after{
                    right: 0px;
                    bottom: 0px;
                    background: url("#{$assetIconsPath}/right-quote-icon.svg") no-repeat center center;
                    background-size: 100%;
                }
            }
        } 
        .slick-arrow {
            position: absolute;
            top: 50%;
            text-indent: -9999px;
            width: 35px;
            height: 35px;
            border: 0px;
            @include breakpoint(mobile){
                width: 28px;
                height: 28px;
            }
    
            &.slick-next {
                right: -60px;
                background: url("#{$assetIconsPath}/arrow-right.svg") no-repeat center center;
                background-size: 100%;
                @include breakpoint(ipad_portrait) {
                    right: -35px;
                }
                @include breakpoint(mobile_landscape){
                    right: -25px;
                }
                @include breakpoint(mobile_portrait) {
                    right: 0px;
                }
                
            }
            &.slick-prev {
                left: -60px;
                background: url("#{$assetIconsPath}/arrow-left.svg") no-repeat center center;
                background-size: 100%;
                @include breakpoint(ipad_portrait) {
                    left: -35px;
                }
                @include breakpoint(mobile_landscape){
                    left: -25px;
                }
                @include breakpoint(mobile_portrait) {
                    left: 0px;
                }
            }
        }
    }
    
}