.main-footer{
    padding: 2rem 0;
    background: $white;
    .custom-row{
        align-items: center;
    }
    .footer-left{
        @include breakpoint(mobile_portrait){
            width: 100%;
        }
      .footer-logo{
        width: 230px;
        @include breakpoint(ipad_portrait){
            width: 170px;
         }
        @include breakpoint(mobile_landscape){
            width: 156px;
         }
        @include breakpoint(mobile_portrait){
           margin: auto;
           width: 156px;
        }
        img{
            @include image;
        }
      }
    }
    .footer-right{
        margin-left: auto;
        @include breakpoint(mobile_portrait){
            width: 100%;
            margin-left: 0;
            margin-top: 1rem;
        }
        .footer-links{
            @include ul;
            li{
                margin: 3px 0;
                color: $secondary-color;
                font-size: 1rem;
                text-align: right;
                @include breakpoint(mobile_portrait){
                    text-align: center;
                }
                a{
                    color: $secondary-color;
                    font-size: 1rem; 
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}