.main-header {

  background-color: $white;
  box-shadow: 0 0 12px rgb(0 0 0 / 20%);
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;

  .main-header-in {
    position: relative;
    background: $white;
    z-index: 2;
    padding: 1rem 0;
  }

  .custom-row {
    align-items: center;
    position: relative;
  }

  .logo {
    width: 200px;
    position: relative;
    z-index: 99;
     @include breakpoint(mobile_nav){
      width: 130px;
     }
    a {
      display: block;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

  }

  .toggle-outer {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-social-media {
    margin-left: auto;
    z-index: 3;
    position: relative;
    @include breakpoint(mobile_nav){
      display: none
     }
    ul {
      @include ul;
      display: flex;
      align-items: center;

      li {
        margin: 0 0 0 1rem;
        width: 50px;
        height: 50px;

        a {
          display: flex;
          width: 100%;
          background-color: $primary-color;
          border-radius: 100px;
          height: 100%;
          align-items: center;
          justify-content: center;

          svg {
            width: 30px;
            height: 30px;

            path {
              stroke: $white;
            }

          }

          &.phone {
            svg {
              width: 25px;
              height: 25px;

              path {
                stroke: $white;
              }

            }
          }

          &:hover {
            background-color: $secondary-color;
          }
        }
      }
    }
  }

}



.nav__toggle {
  position: relative;
  height: 30px;
  width: 50px;
  z-index: 10;
  transition: all 0.2s;
  top: 0;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;

  @include breakpoint(mobile_nav) {
    margin-left: auto;
    top: 0px;
  }


  span,
  span::before,
  span::after {
    width: 50px;
  }

  span,
  span::before,
  span::after {
    text-align: right;
    cursor: pointer;
    border-radius: 0px;
    height: 4px;
    background-color: $secondary-color;
    position: absolute;
    display: block;
    content: "";
    transition: all 0.2s;
    outline: 0;
    right: 0px;
  }

  span {
    // left: 3px;
    top: 15px;

    &::before {
      top: -13px;
    }

    &::after {
      bottom: -13px;
    }
  }
}

.nav-box {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  background: $secondary-color;
  z-index: 1;
  padding-top: 10rem;
  padding-bottom: 4rem;
  display: none;
  @include breakpoint(mobile_nav){
    position: fixed;
    height: 100%;
    left: 0px;
    top: 0px
  }
  ul {
    @include ul;
    width: 300px;
    margin: auto;

    li {
      margin: 0;
      padding: 0px;
      text-align: center;

      a {
        color: $white;
        display: inline-block;
        @extend %mainMenuFont;
        padding: 1rem 0 8px 0;
        border-bottom: 2px $secondary-color solid;
        &:hover{
          font-weight: 600;
          border-bottom: 2px $primary-color solid;
        }
      }
    &.current_page_item,
    &.current_page_parent{
      a {
        font-weight: 600;
        border-bottom: 2px $primary-color solid;
      }
    }
    
      
    }
  }
}

.menu-slide {

  .nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }

  .nav__toggle {
    span {
      background-color: transparent;

      &::before,
      &::after {
        top: 0;
        background-color: $secondary-color;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      span {
        background-color: transparent;

        &::before,
        &::after {
          background-color: $secondary-color;
        }
      }
    }
  }
}