/**
 * ----------------------
 * Blooberry Design
 * Config - Vars
 * ----------------------
 */

:root {
  --header-top: #{$c-blue};
  --header-bottom: #{$c-lt-blue};
  --header-border: #{$c-yellow};
  --accent: #{$c-lt-blue};
  --footer-top: #{$c-lt-blue};
  --footer-bottom: #{$c-blue};
}
