/**
 * ----------------------
 * Blooberry Design
 * Templates - Accessibility
 * ----------------------
 */

body {
  &[data-access-text='true'] {
    .m-banner__inner {
      .col-sm-5,
      .col-lg-5 {
        width: 100%;
      }
    }
    .m-eup-world__inner {
      position: relative;
      padding: $bump 0;
    }
  }
  &[data-access-contrast='true'] {
    .m-banner__inner {
      background-color: rgba(0, 0, 0, 0.6);
    }
    .m-banner__inner,
    .m-banner__inner h1 {
      color: $c-black;
    }
    .m-banner--home-content {
      background-color: $c-white;
    }
  }
}
