{% block html_head_container %}
	{% include 'partial/html-header.twig' %}
{% endblock %}

<body class=" {{body_class}}" data-template="base.twig" id="body">
	<div id="mainContainer" class="">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

		<section class="main-header" id="top-header-nav">

		<div class="container-lg">
                <header>
                    <div class="header-logo">
                       <a  href="{{site.link}}">
							<img src="{{ site.theme.link }}/assets/img/hanks gallery logo grey.svg" alt="logo"/>
							</a>
                    </div>
					<button class="nav__toggle" id="navToggle">
							<span></span>
					</button>
                    <div class="header-right">
                        <div class="header-nav">{% include "menu.twig" with {'items': menu.get_items} %}</div>
                        <div class="header-social">{% include "partial/content-social.twig" %}</div>
                    </div>
                </header>
				
				   <div class="mobile-menu">
						<div class="mobile-menu-inner">
						 <div class="mobile-menu-box">
								<div class="header-nav">{% include "menu.twig" with {'items': menu.get_items} %}</div>
								<div class="header-social">{% include "partial/content-social.twig" %}</div>
						</div></div>
				    </div>
            </div>

	
		</section>

		

		<section class="main-container">
			<div id="content" role="main" class="content-wrapper">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
		</section>

		{% block footer %}
			<section class="main-footer">
				{% include 'partial/footer.twig' %}
			</section>
			{{ function('wp_footer') }}
		{% endblock %}
	</div>
</body></html>