{% extends "base.twig" %}

{% block content %}

	<section class="hero-slider-section">
		<div class="hero-page-slider">
			<div class="hero-slider-item">
				<div class="hero-slider-item-img">
					<picture>
						<img src="{{theme.link}}/assets/img/dummy/cml-construction-limited-hero-image.jpg" alt="dining area image with table, chairs and olive tree">
					</picture>
				</div>
				<div class="hero-slider-item-content">
					<div class="container">
						<div class="hero-slider-txt-container">
							<h1>
								<span>TRUSTED SUPPLIER OF</span>BULK AGGREGATES</h1>
							<div class="btn-set--left">
								<a href="#" class="primary-btn">ABOUT US</a>
								<a href="#" class="white-btn">VIEW ALL PRODUCTS</a>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="hero-slider-item">
				<div class="hero-slider-item-img">
					<picture>
						<img src="{{theme.link}}/assets/img/dummy/cml-construction-limited-hero-image.jpg" alt="dining area image with table, chairs and olive tree">
					</picture>
				</div>
				<div class="hero-slider-item-content">
					<div class="container">
						<div class="hero-slider-txt-container">
							<h1>
								<span>TRUSTED SUPPLIER OF</span>BULK AGGREGATES</h1>
							<div class="btn-set--left">
								<a href="#" class="primary-btn">ABOUT US</a>
								<a href="#" class="white-btn">VIEW ALL PRODUCTS</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="quality-products-section" data-aos="fade-up">
		<div class="quality-products-txt">
			<div class="container">
				<div class="quality-products-txt-box">
					<div class="heading heading-left">
						<h2>QUALITY PRODUCTS</h2>
					</div>
					<div class="desc--box">
						<strong>Supplying you with quality aggregates & sports turf materials</strong>
						<p>Construction Materials Limited (CML) is an independent Bulk Aggregate supplier which
													                                    supplies to a range of markets. We offer a full range of quality aggregates and
													                                    sports turf materials, from fine turf top dressings and high grade silica sands to
													                                    general aggregates and landscaping materials</p>
						<p>Construction Materials Limited (CML) is an independent Bulk Aggregate supplier which
													                                    supplies to a range of markets. We offer a full range of quality aggregates and
													                                    sports turf materials, from fine turf top dressings and high grade silica sands to
													                                    general aggregates and landscaping materials</p>
					</div>
					<div class="btn-set--left">
						<a href="#" class="white-btn-arrow">VIEW ALL PRODUCTS</a>
					</div>
				</div>
			</div>
		</div>
		<div class="quality-products-row">
			<div class="custom-row">
				<div class="quality-products-box">
					<div class="quality-products-img">
						<img src="{{theme.link}}/assets/img/dummy/quality-products-section-img.jpg" alt=""/>
					</div>
					<div class="quality-products-btn">
						<a href="#" class="white-btn-arrow">Sports turf</a>
					</div>
				</div>
				<div class="quality-products-box">
					<div class="quality-products-img">
						<img src="{{theme.link}}/assets/img/dummy/quality-products-section-img-2.jpg" alt=""/>
					</div>
					<div class="quality-products-btn">
						<a href="#" class="white-btn-arrow">Sports turf</a>
					</div>
				</div>
				<div class="quality-products-box">
					<div class="quality-products-img">
						<img src="{{theme.link}}/assets/img/dummy/quality-products-section-img-2.jpg" alt=""/>
					</div>
					<div class="quality-products-btn">
						<a href="#" class="white-btn-arrow">Sports turf</a>
					</div>
				</div>
				<div class="quality-products-box">
					<div class="quality-products-img">
						<img src="{{theme.link}}/assets/img/dummy/quality-products-section-img.jpg" alt=""/>
					</div>
					<div class="quality-products-btn">
						<a href="#" class="white-btn-arrow">Sports turf</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="why-choose-section white-bg main-padding" data-aos="fade-up">
		<div class="container-md">
			<div class="heading heading-center">
				<h2>WHY CHOOSE CML?</h2>
				<div class="desc--box">
					<p>Ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
											                                explicabo. Nemo
											                                enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
											                                consequuntur
											                                magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam.</p>
				</div>
			</div>
			<div class="why-choose-row">
				<div class="why-choose-item">
					<div class="why-choose-item-icon">
						<img src="{{theme.link}}/assets/img/icons/premium service cml.svg" alt=""/>
					</div>
					<div class="why-choose-item-content">
						<h6>QUALITY PRODUCTS</h6>
						<div class="desc--box">
							<p>Sed ut perspiciatis unde omnis iste natus error siciatis</p>
						</div>
					</div>
				</div>
				<div class="why-choose-item">
					<div class="why-choose-item-icon">
						<img src="{{theme.link}}/assets/img/icons/premium service cml.svg" alt=""/>
					</div>
					<div class="why-choose-item-content">
						<h6>QUALITY PRODUCTS</h6>
						<div class="desc--box">
							<p>Sed ut perspiciatis unde omnis iste natus error siciatis</p>
						</div>
					</div>
				</div>
				<div class="why-choose-item">
					<div class="why-choose-item-icon">
						<img src="{{theme.link}}/assets/img/icons/premium service cml.svg" alt=""/>
					</div>
					<div class="why-choose-item-content">
						<h6>QUALITY PRODUCTS</h6>
						<div class="desc--box">
							<p>Sed ut perspiciatis unde omnis iste natus error siciatis</p>
						</div>
					</div>
				</div>
				<div class="why-choose-item">
					<div class="why-choose-item-icon">
						<img src="{{theme.link}}/assets/img/icons/premium service cml.svg" alt=""/>
					</div>
					<div class="why-choose-item-content">
						<h6>QUALITY PRODUCTS</h6>
						<div class="desc--box">
							<p>Sed ut perspiciatis unde omnis iste natus error siciatis</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="img-text-overly-section main-padding" data-aos="fade-up" style="background-image: url(assets/img/dummy/cml-construction-limited-hero-image.jpg);">
		<div class="container-md">
			<div class="custom-row">
				<div class="img-text-overly-section-left">
					<div class="heading heading-left">
						<h2>WHY CHOOSE CML?</h2>
					</div>
					<div class="desc--box">
						<ul>
							<li>Ipsa quae ab illo inventore veritatis et quasi.</li>
							<li>Small vehicle with a hydraulic crane suitable for small plant removals</li>
							<li>Nemo enim ipsam voluptatem quia voluptas. Ipsa quae ab illo inventore veritatis
															                                        et quasi.</li>
							<li>Nemo enim ipsam voluptatem quia voluptas</li>
						</ul>

					</div>
				</div>
				<div class="img-text-overly-section-right">
					<div class="left-bottom-btn">
						<a href="#" class="white-btn-arrow">DISCUSS DELIVERY REQUIREMENTS</a>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section class="latest-news-section main-padding white-bg" data-aos="fade-up">
		<div class="container-md">
			<div class="heading heading-center">
				<h2>LATEST NEWS FROM CML</h2>
			</div>
			<div class="latest-news-slider">
				<div class="latest-news-slider-item">
					<div class="latest-news-slider-item-img">
						<img src="{{theme.link}}/assets/img/dummy/latest-news.jpg" alt=""/>
					</div>
					<div class="latest-news-slider-item-btn">
						<a href="#">BTME AWARDS 2019</a>
					</div>
				</div>
				<div class="latest-news-slider-item">
					<div class="latest-news-slider-item-img">
						<img src="{{theme.link}}/assets/img/dummy/latest-news.jpg" alt=""/>
					</div>
					<div class="latest-news-slider-item-btn">
						<a href="#">BTME AWARDS 2019</a>
					</div>
				</div>
				<div class="latest-news-slider-item">
					<div class="latest-news-slider-item-img">
						<img src="{{theme.link}}/assets/img/dummy/latest-news.jpg" alt=""/>
					</div>
					<div class="latest-news-slider-item-btn">
						<a href="#">BTME AWARDS 2019</a>
					</div>
				</div>
				<div class="latest-news-slider-item">
					<div class="latest-news-slider-item-img">
						<img src="{{theme.link}}/assets/img/dummy/latest-news.jpg" alt=""/>
					</div>
					<div class="latest-news-slider-item-btn">
						<a href="#">BTME AWARDS 2019</a>
					</div>
				</div>
				<div class="latest-news-slider-item">
					<div class="latest-news-slider-item-img">
						<img src="{{theme.link}}/assets/img/dummy/latest-news.jpg" alt=""/>
					</div>
					<div class="latest-news-slider-item-btn">
						<a href="#">BTME AWARDS 2019</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="small-post-section secondary-bg main-padding" data-aos="fade-up">
		<div class="container-md">
			<div class="small-post-section-row">
				<div class="small-post-section-row-content">
					<div class="heading heading-left">
						<h2>DO YOU WORK IN THE FILM INDUSTRY?</h2>
					</div>
					<div class="desc--box">
						<h3>We provide materials to the film, media and advertising industries. Check out CML
													                                    4Films.
						</h3>
						<ul>
							<li>Ipsa quae ab illo inventore veritatis et quasi.</li>
							<li>Small vehicle with a hydraulic crane suitable for small plant removals</li>
							<li>Nemo enim ipsam voluptatem quia voluptas. Ipsa quae ab illo inventore veritatis
															                                        et quasi.</li>
							<li>Nemo enim ipsam voluptatem quia voluptas</li>
						</ul>
					</div>
					<div class="btn-set--left">
						<a href="#" class="white-btn-arrow">VISIT CML 4FILMS WEBSITE</a>
					</div>
				</div>
				<div class="small-post-section-row-img">
					<picture>
						<img src="{{theme.link}}/assets/img/dummy/demo-img-1.jpg" alt=""/>
					</picture>
				</div>
			</div>
		</div>
	</section>

	<section class="get-touch-section white-bg main-padding" data-aos="fade-up">
		<div class="container-sm">
			<div class="heading heading-center">
				<h2>GET IN TOUCH TO DISCUSS YOUR REQUIREMENTS</h2>
			</div>
			<div class="get-touch-row">
				<ul>
					<li><a href="#"><i class="number-icon"></i>01494 863200</a></li>
					<li><a href="#"><i class="email-icon"></i>sales@cmltd.co.uk</a></li>
				</ul>
			</div>
		</div>
	</section>

{% endblock %}
