{% extends "base.twig" %}

{% block content %}
	<div class="products-page-container">
		{% include "partial/content-page-hero.twig"%}
		{% include "partial/content-flexible-content.twig"%}
		{% include "partial/content-get-in-touch.twig"%}

	</div>
{% endblock %}
