{% extends "base.twig" %}

{% block content %}
	<section class="contact-page-template" style="background-image: url({{ TimberImage(post.get_field('hero_image')).src('contact-banner-img') }});">
        <div class="contact-page-bg">
		   <div class="contact-page-bg-inner">
		      <div class="container-sm" data-aos="fade-up">
			     <h1>{{post.title}}</h1>
				 <div class="desc--box">
						{{post.content}}
					</div>
					<div class="contact-page-info">

						<ul>
							<li><a href="mailto:{{contact_post.get_field('email')}}" ><i class="email-icon"></i> <span>{{contact_post.get_field('email')}}</span></a></li>
							<li><a href="tel:{{contact_post.get_field('telephone')}}" class="telephone-icon"><i class="telephone-icon"></i> <span>{{contact_post.get_field('telephone')}}</span></a></li>
							<li><a class="location-icon-box"target="{{contact_post.get_field('gmap_link').target}}"href="{{contact_post.get_field('gmap_link').url}}"><i class="location-icon"></i> <span>{{contact_post.get_field('gmap_link').title}}</span></a></li>
						</ul>

					</div>
			  </div>
		   </div>
		</div>
	</section>
{% endblock %}