{% extends "base.twig" %}

{% block content %}
	<div class="single-collection-page-template">

		{% include "partial/content-page-hero.twig"%}

		{% include "partial/content-flexible-content.twig"%}

		{% include "partial/content-next-collection-cta.twig" with {post:post}%}

		{% include "partial/content-get-in-touch.twig"%}


	</div>

{% endblock %}
