<div class="blog-card-outer blog-card-outer-right ">
    <div class="container-sm container-sm-pd-lr">
        <div class="blog-cards">
            <div class="blog-card-content">
                <h3>{{post.title}}</h3>
                <div class="desc--box">
                    <p>{{post.preview.read_more(false)}}</p>
                </div>
                <div class="btn-set--left">
                    <a href="{{post.link}}" class="secondary-btn">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>