{% extends "base.twig" %}

{% block content %}

	<div class="page-not-foumd">

		<section class="sub-page-banner secondary-bg">
			<div class="container-sm">
				<div class="custom-row">
					<div class="sub-page-banner-left">
						<h1>page not found</h1>
					</div>
					<div
						class="sub-page-banner-right">{# <div class="sub-page-img">
																												<img src="assets/img/icons/coaching-white.svg" alt=""/>
																											</div> #}
					</div>
				</div>
			</div>
		</section>

		{% include "partial/content-post-content.twig"%}

		<div class="blog-block-text text-block main-pd-btm aos-init aos-animate">
			<div class="container-sm container-sm-pd-lr">
				<p>Sorry, we couldn't find what you're looking for.</p>

			</div>
		</div>

	</div>
{% endblock %}
