{% extends "base.twig" %}

{% block content %}
	{% include "partial/content-page-hero.twig" with {post:blog_post}%}


	<section class="news-list-section light-gray-bg">
		<div class="container-md">
			<div class="section-hd">
				<h2>{{blog_post.get_field('news_title')}}</h2>
			</div>

			<div class="news-list-section-content">
				<div class="custom-row">
					{% for post in posts %}
						<div class="news-box">
							<div class="news-box-image">
								<a href="{{post.link}}">
								{% if post.get_field('post_thumbnail_image') %}
								<img typeof="foaf:Image" src="{{ TimberImage(post.get_field('post_thumbnail_image')).src('download-thumb') }}" alt="{{post.get_field('post_thumbnail_image').alt}}" title="{{post.title}}">
								{% elseif post.thumbnail %}
								<img typeof="foaf:Image" src="{{ TimberImage(post.thumbnail).src('download-thumb') }}" alt="{{post.thumbnaill.alt}}" title="{{post.title}}">
								{% endif %}
								</a>
							</div>
							<div class="news-box-content">
								<h5>
									<a href="{{post.link}}">{{post.title}}</a>
								</h5>
								<div class="latest-news-date">{{post.post_date|date('jS F Y')}}</div>
								<div class="desc--box">{{post.preview.length(10).read_more(false)}}</div>
								<div class="learn-more">
									<a class="secondary-btn" href="{{post.link}}">Learn more</a>
								</div>
							</div>

						</div>
					{% endfor %}
				</div>

				{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 5, end_size: 0}) } %}

			</div>
		</div>
	</section>

	{% include "partial/content-flexible-content.twig" with {post:blog_post}%}

	{% include "partial/content-get-in-touch.twig" %}


{% endblock %}
