{% extends "base.twig" %}

{% block content %}
	<div class="main-page">

		{% include "partial/content-toplevel-page-hero.twig"%}

		{% include "partial/content-post-content.twig"%}

		{% include "partial/content-flexible-content.twig"%}

		{% include "partial/content-get-in-touch.twig" with {post:contact_post,hide_title:true}%}

	</div>

{% endblock %}
