{% extends "base.twig" %}
{% block content %}
	<section class="details-sections event-details-page light-gray-bg">
		<div class="container-sm">
			<div class="details-block event-details">
				<div class="event-owner-info">
					<h3>{{post.title}}</h3>
				</div>
				<div class="event-type-icon">
					<img typeof="foaf:Image" src="{{ TimberImage(post.get_field('listing_icon')).src('event-thumb') }}" alt="{{post.get_field('listing_icon').alt}}">
				</div>

				<div class="event-date-location">
					<span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{post.get_field('event_date')}}">{{post.get_field('event_date')|date('jS F Y')|upper}}&nbsp;&nbsp;{{post.get_field('event_time')|upper}}</span>

					<span class="location-display-single">{{post.get_field('event_location')}}</span>
				</div>
				<div class="event-detail">
					<div class="desc--box">
						{{post.content}}
					</div>
				</div>
				
				{% if post.get_field('event_cost') %}
					<div class="event-cost clearfix">
						<div class="field-label"><p>Cost:&nbsp;{{post.get_field('event_cost')}}</p></div>
					</div>
				{% endif %}

				{% if post.get_field('booking_url') %}
					<div class="btn-set--left">
						<a class="secondary-btn" href="{{post.get_field('booking_url').url}}" target="_blank">Book now</a>
					</div>
				{% endif %}
			</div>
		</div>

		{% include "partial/content-back-to-button.twig" with { url_title:'Back to main events page', url_link:'goings-on/events'}%}
		{% include "partial/content-get-in-touch.twig" %}
	</section>
{% endblock %}
