{% extends "base.twig" %}

{% block content %}
	<div class="details-sections workspace-details">

		{% include "partial/content-page-hero.twig" %}

		<section class="text-section white-bg main-padding">
			<div class="container-sm">
				<div class="desc--box">
					{{post.content}}
				</div>
			</div>
		</section>
		{% include "partial/content-flexible-content.twig" %}

		{% include "partial/content-get-in-touch.twig" %}

	</div>
{% endblock %}
