{% extends "base.twig" %}

{% block content %}
	<section class="details-sections news-details-page light-gray-bg">
        <div class="container-sm">
		   <div class="details-block news-details">
		       <h3>{{post.title}}</h3>
			   <div class="full-news-img">
			     {% include "partial/content-featured-image.twig"%}
			   </div>
			   <div class="full-details-content">
			     {% include "partial/content-post-content.twig"%}
			   </div>
		   </div>
		</div>
	</section>
	

	

	{% include "partial/content-flexible-content.twig"%}

	{% include "partial/content-back-to-button.twig" with { url_title:'Back to main news page', url_link:'goings-on/news'}%}

</div>{% endblock %}