{% extends "base.twig" %}

{% block content %}
	<div class="details-sections blog-details page-default-details">

		<section class="sub-page-banner secondary-bg">
			<div class="container-sm">
				<div class="custom-row">
					<div class="sub-page-banner-left">
						<h1>{{post.title}}</h1>
					</div>
					
				</div>
			</div>
		</section>
		{% include "partial/content-post-content.twig"%}

		{% include "partial/content-flexible-content.twig"%}

		{% include "partial/content-get-in-touch.twig" with {post:contact_post,hide_title:true}%}


	</div>

{% endblock %}