.main-footer {
    background-color: $white;
    padding: 2rem 0;
    font-size: 1rem;

    .footer-logo {
        width: 250px;

        @include breakpoint(mobile_portrait) {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        a {
            display: block;

            @include breakpoint(mobile_portrait) {
                width: 313px;
            }

            img {
                width: 100%;
                height: auto;
                display: block;

                @include breakpoint(mobile) {
                    width: 200px;
                }
            }
        }
    }

    .footer-right {
        margin-left: auto;

        @include breakpoint(mobile_portrait) {
            margin-left: 0;
            margin-top: 2rem;
            width: 100%;
            ;
        }

        .custom-row {
            align-items: center;

            @include breakpoint(mobile_portrait) {
                justify-content: center;
            }
        }

        .footer-icons {
            ul {
                @include ul;
                display: flex;

                li {
                    margin: 0 2rem 0 0;
                    padding: 0px;

                    @include breakpoint(mobile_portrait) {
                        margin: 0 1rem 0 0;
                    }

                    a {
                        width: 70px;
                        height: 70px;
                        display: block;
                        border-radius: 100px;

                        @include breakpoint(mobile_portrait) {
                            width: 55px;
                            height: 55px;
                        }

                        &.linked-icon {
                            background: url("#{$assetPath}/Linkedin teal.svg") no-repeat center center;
                            background-size: 100%;
                        }

                        &:hover {
                            &.linked-icon {
                                background: url("#{$assetPath}/Linkedin grey.svg") no-repeat center center;
                                background-size: 100%;
                            }
                        }
                    }
                }
            }
        }

        .footer-text {
            .footer-text-top {
                a {
                    color: $secondary-color;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }

            .footer-text-btm {
                margin-top: 5px;

                a {
                    color: $primary-color;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}