.main-header {
  padding: 1.5rem 0;
  background-color: rgba(255, 255, 255, 1);
  // box-shadow: 0 0 12px rgb(0 0 0 / 20%);
  position: sticky;
  top: 0;
  z-index: 2;

  @include breakpoint(mobile_nav) {
    padding: 1rem 0;
  }

  .custom-row {
    align-items: center;
  }

  .logo {
    img {
      width: 280px;

      @include breakpoint(desktop3) {
        width: 230px;
      }

      @include breakpoint(ipad_portrait) {
        width: 200px;
      }

      @include breakpoint(mobile_nav) {
        width: 150px;
      }

    }
  }

  .nav-right {
    margin-left: auto;

    @include breakpoint(mobile_nav) {
      display: none;
    }

    ul {
      @include ul;
      display: flex;

      li {
        margin: 0 0 0 60px;
        padding: 0px;

        &:first-child {
          margin-left: 0px;
        }

        a {
          display: block;
          color: $secondary-color;
          @extend %mainMenuFont;
          font-weight: 600;

          &.active,
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}

.nav__toggle {
  display: none;

  @include breakpoint(mobile_nav) {
    display: block;
  }
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 25px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;

  @include breakpoint(mobile_nav) {
    margin-left: auto;
    top: 0px;
  }


  span,
  span::before,
  span::after {
    width: 30px;
  }

  span,
  span::before,
  span::after {
    text-align: right;
    cursor: pointer;
    border-radius: 0px;
    height: 3px;
    background-color: $secondary-color;
    position: absolute;
    display: block;
    content: "";
    transition: all 0.2s;
    outline: 0;
    right: 0px;
  }

  span {
    // left: 3px;
    top: 15px;

    &::before {
      top: -10px;
    }

    &::after {
      bottom: -10px;
    }
  }
}

.menu-slide {
  .nav-right {
    display: block;
    position: fixed;
    height: 100%;
    background: $primary-color;
    left: 0;
    top: 0;
    width: 240px;

    ul {
      display: block;
      padding: 2.5rem 1.5rem 1.5rem 1.5rem;

      li {
        margin: 0px;
        padding: 0px;
        border-bottom: 1px solid $secondary-color;

        a {
          margin: 0px;
          padding: 20px 0;
          font-size: 22px;

          &.active,
          &.hover {
            color: $white;
          }
        }
      }
    }
  }

  .nav__toggle {
    span {
      background-color: transparent;

      &::before,
      &::after {
        top: 0;
        background-color: $secondary-color;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      span {
        background-color: transparent;

        &::before,
        &::after {
          background-color: $secondary-color;
        }
      }
    }
  }
}