.hero--section {
    position: relative;
    overflow: hidden;
    background: $primary-color;
    min-height: 650px;
    img {
        width: 100%;
        display: block;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        bottom: -1px;
        border: 0px;
        background: url("#{$assetPath}/hero-curve.svg") no-repeat right bottom;
        background-size: 100%;
    }

    .hero-text {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100%;
        top: 0px;
        z-index: 2;
        display: flex;
        align-items: center;
    }

    .hero-text--inner {
        width: 50%;
        h1 {
            margin: 0 0 2rem 0;
            padding: 0px;
            color: $white;
            font-family: $primaryfontfaimly;
            font-weight: 600;
        }
        .desc--box{
            p{
                color: $white; 
                margin-bottom: 1rem; 
            }
        }
       
    }
}

.contact-info-icons {
    margin: 0px;
    padding: 0;
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
            margin: 0 0 1rem 0;
            padding: 0px;
            @include breakpoint(mobile) {
                margin: 0 0 0.7rem 0;
            }
            &:last-child {
                margin-bottom: 0px;
            }
            a {
                display: flex;
                align-items: center;
                color: $secondary-color;
                font-size: 1.5rem;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                @include breakpoint(mobile_landscape) {
                    font-size: 1.2rem;
                }
                @include breakpoint(mobile_portrait) {
                    font-size: 1rem;
                }
                i {
                    margin-right: 1rem;
                    svg {
                        width: 40px;
                        stroke: $secondary-color;
                        stroke-width: 5px;
                        @include breakpoint(mobile) {
                            width: 30px;
                        }
                    }
                }
                &:hover {
                    color: $white;
                    i {
                        svg {
                            stroke: $white;
                        }
                    }
                }
            }
            &:first-child {
                a {
                    i {
                        svg {
                            margin-top: 8px;
                        }
                    }
                }
            }
            &:last-child {
                a {
                    i {
                        svg {
                            margin-top: 11px;
                        }
                    }
                }
            }
        }
    }
}
