.home-section--3{
    margin-top: -93px;
    position: relative;
    z-index: 3;
    @include breakpoint(ipad_portrait){
        margin-top: -68px;
    }
    @include breakpoint(mobile){
        margin-top: 0px;
        padding:  $main-pd-sm 0 0;
    }
    .home-section-box--3{
        width: 33.33%;
        padding: 0 0.5rem;
        @include breakpoint(mobile_portrait){
            width: 250px;
            margin: auto auto 1rem auto;
        }
        a{
            display: block;
            background-color: $secondary-color;
            padding: 2rem 1rem 2.5rem 1rem;
            color: $white;
            text-align: center;
            width: 100%;
            height: 100%;
            i{
                display: block;
                width: 75%;
                margin: auto auto 2rem auto;
                @include breakpoint(ipad_portrait){
                    width: 58%;
                }
                img{
                    display: block;
                    width: 100%;
                }
            }
            .badge-description{
                font-size: 1.5rem;
                @include breakpoint(ipad_portrait){
                    font-size: 1.2rem;
                }
                @include breakpoint(mobile){
                    font-size: 1.2rem;
                }
            }

            
        }
        &:nth-child(2){
            a{
                background-color: $primary-color;
            }
        }
    }
}