.location--section{
    .location-map{
        img{
            max-width: 100%;
            display: block;
        }
    }
    .search{
        margin-bottom: 3rem;
        width: 40%;
        @include breakpoint(ipad_portrait){
            width: 70%;
        }
        @include breakpoint(mobile){
            width: 100%;
        }

        form{
            display: flex;
            align-items: center;
            .input-wrapper{
                margin: 0;
                width: calc(100% - 53px);
            }
        }
        input[type="text"]{
            background: $white;
            padding: 0.5rem;
            border: 0px;
            @include size-color(1rem, $gray-color);
            width: calc(100% - 100px);
            -webkit-appearance: none;
            border-radius: 0;
        }
        button{
         
            
        }
    }
}