.post-row{
    position: relative;
    h2{
        margin: 0px;
        padding: 0px;
    }
    .desc--box{
        margin: 2rem 0;
        @media (min-width: 320px) and (max-width: 1380px) {
           
           p{
               br{
                   display: none;
               }
           }
        }
        @include breakpoint(mobile){
            margin-bottom:0;
         }

    }
    .btn-set--right{
        @include breakpoint(mobile){
            margin-top: 2rem;
        }
    }
    .post-row--img{
        width: 50%;
        overflow: hidden;

        @include breakpoint(ipad_portrait){
            width: 100%;
        }
        @include breakpoint(mobile){
            width: 100%;
        }
        
        img{
            width: 100%;
            display: block;
            @include breakpoint(ipad_landscape){
                width: 145%;
            }
        }
    }
    .post-row--content{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 1;
        left: 0px;
        top: 0;
        @include breakpoint(ipad_portrait){
            position: relative;
        }
        @include breakpoint(mobile){
           position: relative;
        }
    }
    .post-row-content{
        width: 50%;
        padding: 3rem;
        @include breakpoint(ipad_portrait){
            width: 100%;
            padding: 3rem 2rem;
        }
        @include breakpoint(mobile){
            width: 100%;
            padding: 3rem 0;
         }
    }
    &.post-row--primary{
        background-color: $primary-color;
        .post-row--img{
            margin-left: auto;
            @include breakpoint(ipad_portrait){
                margin-left: 0;
            }
            @include breakpoint(mobile){
                margin-left: 0;
             }
        }
        .post-row-content{
            color: $white;
            padding-left: 0px;
            @include breakpoint(ipad_portrait){
                padding-left: 2rem;
            }
            .desc--box {
                ul {
                    li {
                        &::before {
                            background: $white;
                        }
                    }
                }
            }
        }

    }
    &.post-row--secondary{
        background-color: $secondary-color;
        .post-row-content{
            margin-left: auto;
            color: $white;
            padding-right: 0px;
            @include breakpoint(ipad_portrait){
                padding-right: 2rem;
            }
            .desc--box {
                ul {
                    li {
                        &::before {
                            background: $white;
                        }
                    }
                }
            }
        }

    }
}