.product-specifications--section{
    .container-sm{
        padding-left: 10rem;
        @include breakpoint(ipad_landscape){
            padding-left: 9rem;
        }
        @include breakpoint(ipad_portrait){
            padding-left: 0rem;
        }
        @include breakpoint(mobile_landscape){
            padding-left: 3rem;
            padding-right: 0rem;
        } 
        @include breakpoint(mobile_portrait){
            padding-left: 0rem;
            padding-right: 0rem;
        }
    }
    h2{
        margin: 0px;
        padding: 0px;
    }
    ul{
        margin: 3rem 0 0 0;
        padding: 0px;
        list-style: none;
        
        li{
            width: 33.33%;
            padding: 0 1rem;
            @include breakpoint(mobile_landscape){
                padding: 0 0.5rem;
            } 
            @include breakpoint(mobile_portrait){
                width: 100%;
                margin-bottom: 3rem;
            }
            &:last-child{
                @include breakpoint(mobile_portrait){
                    margin-bottom: 0rem;
                }  
            }
            a{
                display: block;
                color: $primary-color;
                i{
                    width: 130px;
                    display: block;
                    margin: 0 0 1.5rem 0;
                    @include breakpoint(ipad_portrait){
                        margin: auto auto 1.5rem auto;
                        width: 110px;
                    }
                    @include breakpoint(mobile_landscape){
                        width: 80px;
                    } 
                    @include breakpoint(mobile_portrait){
                        width: 100px;
                        margin-left: auto;
                        margin-right: auto;
                    } 
                    img{
                        width: 100%;
                        display: block;
                    }
                    .hover-icon{ display: none;}
                }
                span{
                    display: block;
                    font-weight: 600;
                    @include breakpoint(mobile_portrait){
                       text-align: center;
                    } 
                }

                &:hover{
                    i{
                        .no-hover-icon{
                            display: none;
                        }
                        .hover-icon{ display: block;}
                    }
                }
            }
        }
    }
}