.video-ifram {
    @include breakpoint(ipad_portrait){
        text-align: center;
    }
    @include breakpoint(mobile_landscape){
        text-align: center;
    }
    @include breakpoint(mobile_portrait){
        text-align: center;
    }
    img {
        max-width: 100%;
        display: block;
    }
    iframe{
        @include breakpoint(ipad_portrait){
            width: 577px !important;
            height: 392px !important;
            margin: auto;
        }
        @include breakpoint(mobile_landscape){
            width: 375px !important;
            height: 264px !important;
            margin: auto;
        }
        @include breakpoint(mobile_portrait){
            width: 300px !important;
            height: 229px !important;
            margin: auto;
        }
    
    }
}
.main-heading--section {
    padding: 15rem 0 5rem;
    @media (min-width: 991px) and (max-width: 1380px) {
        padding: 13rem 0 5rem;
    }
    @include breakpoint(ipad_portrait){
        padding: 9rem 0 5rem;
    }
    @include breakpoint(mobile){
        padding: 7rem 0 3rem;
    }
    h1{
        margin: 0px;
        padding: 0px;
    }
    .desc--box{
       
        p:first-child{
            margin-top: 2rem;
        }
       
    }
    .desc--box:empty{
        margin-top: 0rem;
    }
}
.product-details--section {
    .container-sm-pd-lr{
        max-width: 976px;
    }
    .product-details-top {
        ul{
            li{
                border-bottom: 1px $primary-color solid;
                padding: 15px 0;
               
           
            }
        }
      
       
        font-weight: 600;
    }
}
.product-details-content {
    padding-top: 1.5rem;
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li {
            margin: 0px;
            padding: 15px 0;
            font-size: 1.2rem;
            @include breakpoint(mobile_portrait){
                font-size: 1.1rem;
            }
            &:nth-child(1) {
                width: 25%;
                @include breakpoint(ipad_portrait){
                    width: 23%;
                 } 
                 @include breakpoint(mobile_landscape){
                    width: 28%;
                } 
                @include breakpoint(mobile_portrait){
                    width: 31%;
                }
            }
            &:nth-child(2) {
                width: 43.5%;
                padding-left:10px ;
                padding-right:10px ;
                @include breakpoint(ipad_portrait){
                    width:41.5%;
                 }
                 @include breakpoint(mobile_landscape){
                    width: 41.5%;
                } 
                @include breakpoint(mobile_portrait){
                    width:39%;
                }
            }
            &:nth-child(3)
            {
                width: 31.5%;
                margin-left: auto;
                @include breakpoint(ipad_portrait){
                    width:35.5%;
                 }
                 @include breakpoint(mobile_landscape){
                    width: 30.5%;
                } 
                @include breakpoint(mobile_portrait){
                    width:30%;
                }
            }
           
        }
    }
}

.simple-block-section{
    h2{
        margin: 0 0 3rem 0;
        padding: 0px;
    }
    img{
        max-width: 100%;
        display: block;
    }
}

.contact-bg{
    background: $white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 5rem;
    @include breakpoint(mobile_landscape){
        padding: 2.5rem;
    }
    @include breakpoint(mobile_portrait){
        padding: 1.5rem;
    }
    
}
.contact-section{
    margin-top: -164px;
    position: relative;
    z-index: 5;
    padding-bottom: 6rem;
    @include breakpoint(ipad_landscape){
        margin-top: -57px;  
    }
    @include breakpoint(ipad_portrait){
        margin-top: 0; 
        padding-top: 5rem;
        padding-bottom: 5rem; 
    }
    @include breakpoint(mobile){
        margin-top: 0px;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.blog-card-outer{
    margin-bottom: $main-pd;
    @include breakpoint(mobile){
        margin-bottom: $main-pd-sm;
    }
    .desc--box{
        margin: 2rem 0;
    }
    .blog-cards{
        border-bottom: 1px $primary-color solid;
        padding-bottom: 2rem;
    }
    &:last-child{
        margin-bottom: 0;
    }
    h2{
        margin: 0px;
        padding: 0px;

    }

    .btn-set--left{
        position: relative;
        z-index: 1;
        .secondary-outline--btn {

            &::after{
                background-color: $secondary-color;
            }
            &:hover{
                &::after{
                    background-color: $primary-color;
                    border: 1px $primary-color solid;
                }  
            }
          }   
            
    }
}