/**
 * ----------------------
 * Blooberry Design
 * Config - Typography
 * ----------------------
 */

/**
 * Font family
 */

// TODO
// https://fonts.google.com/specimen/Montserrat  300, 500, 700

// @font-face {
//   font-family: 'MuseoSansRounded-700';
//   src: url('../font/3ACF19_0_0.eot');
//   src: url('../font/3ACF19_0_0.eot?#iefix') format('embedded-opentype'), url('../font/3ACF19_0_0.woff2') format('woff2'),
//     url('../font/3ACF19_0_0.woff') format('woff'), url('../font/3ACF19_0_0.ttf') format('truetype');
//   font-display: swap;
// }

// @font-face {
//   font-family: 'MuseoSans-700';
//   src: url('../font/3AFBE8_0_0.eot');
//   src: url('../font/3AFBE8_0_0.eot?#iefix') format('embedded-opentype'), url('../font/3AFBE8_0_0.woff2') format('woff2'),
//     url('../font/3AFBE8_0_0.woff') format('woff'), url('../font/3AFBE8_0_0.ttf') format('truetype');
//   font-display: swap;
// }

// @font-face {
//   font-family: 'MuseoSans-500';
//   src: url('../font/3AFBE8_1_0.eot');
//   src: url('../font/3AFBE8_1_0.eot?#iefix') format('embedded-opentype'), url('../font/3AFBE8_1_0.woff2') format('woff2'),
//     url('../font/3AFBE8_1_0.woff') format('woff'), url('../font/3AFBE8_1_0.ttf') format('truetype');
//   font-display: swap;
// }

// @import url('//hello.myfonts.net/count/3e8720');

// @font-face {
//   font-family: 'MuseoSansCyrl-700';
//   src: url('../font/MuseoSansCyrl700.woff2') format('woff2'), url('../font/MuseoSansCyrl700.woff') format('woff');
// }

// @font-face {
//   font-family: 'MuseoSansCyrl-500';
//   src: url('../font/MuseoSansCyrl500.woff2') format('woff2'), url('../font/MuseoSansCyrl500.woff') format('woff');
// }

// $font-body: 'MuseoSans-500';
// $font-body-cy: 'MuseoSansCyrl-500';
// $font-bold: 'MuseoSans-700';
// $font-bold-cy: 'MuseoSansCyrl-700';
// $font-title: 'MuseoSansRounded-700';
$font-body: 'Montserrat';
$font-body-cy: 'Montserrat';
$font-bold: 'Montserrat';
$font-bold-cy: 'Montserrat';
$font-title: 'Montserrat';

/**
 * Font Scale
 * Set a ratio from mobile up to container width.
 * All units must be of the same type.
 * https://www.modularscale.com/
 */
$modularscale: (
  base: 1em,
  ratio: 1.618,
  20em: (
    ratio: 1.2,
  ),
  115.5em: (
    ratio: 1.2,
  ),
);

/**
 * Font Size
 */
$font-base-size: 18px; //Set document root size to base font size

/**
 * Line height
 */
$line-body: 1.5;
