.main-footer {
    background-color: $white;
    padding: 1.5rem 0;
    font-size: 1rem;
    .custom-row{
        align-items: center;
    }


    .footer-logo {
        width: 200px;
        @include breakpoint(mobile) {
            text-align: center;
            margin: auto auto 1rem auto;
        }
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .footer-right {
        margin-left: auto;
        text-align: right;

        @include breakpoint(mobile) {
            width: 100%;
            text-align: center;
            margin-left: 0;
        }

        .footer-text {
            color: $drak-color;

            .footer-text-top {
                a {
                    color: $drak-color;
                    text-transform: capitalize;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }

            .footer-text-btm {
                margin-top: 5px;

                a {
                    color: $drak-color;
                    font-weight: 500;


                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}