.location_block {
  background: $map_bg;
  padding: $d_pd 0;

  .location_map_box {
    position: relative;

    &::after {
      content: '';
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0px;
    }

    .locatio_pin {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0px;
      z-index: 2;

      .locatio_pin__inner {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        .l_p__inner {
          @include width(300px);

          @include breakpoint(mobile-portrait) {
            margin: 60px auto 60px auto;
          }

          margin: auto;
          position: relative;

          &::after {
            content: '';
            @include background($blueLight);
            mix-blend-mode: multiply;
            position: absolute;
            @include width(100%);
            @include height(100%);
            top: 0;
            left: 0px;
            z-index: 1;
          }
          .l_p {
            position: relative;
            z-index: 2;
            padding: 15px;
            text-align: center;
            i {
              @include width(60px);
              margin: auto auto 15px auto;
              display: block;

              img {
                @include width(100%);
              }
            }

            strong {
              display: block;
              font-weight: 100;
              font-family: 'PontiacRegular';
              @include font-color(24px, $white);
            }
          }
        }
      }
    }
  }
}
