/* Error: Undefined variable.
 *   ,
 * 7 |     font-size: $font-size-base;
 *   |                ^^^^^^^^^^^^^^^
 *   '
 *   scss\base\_default.scss 7:16  @import
 *   scss\global.scss 19:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 7 \2502      font-size: $font-size-base;\d\a   \2502                 ^^^^^^^^^^^^^^^\a   \2575 \a   scss\\base\\_default.scss 7:16  @import\a   scss\\global.scss 19:9         root stylesheet";
}
