.btn-set--left {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.btn-set--center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-set--right {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;

}

.primary-btn,
.secondary-btn,
.primary-outline-btn,
.secondary-outline-btn,
.white-btn,
.wpcf7-submit,
.white-outline-btn,
.white-btn-arrow,
.primary-btn-arrow,
.secondary-btn-arrow,
.secondary-btn-out-line-arrow
{
    padding: 0.8rem 1.7rem;
    font-size: $btn-font-size-base;
    display: block;
    @include border-radius(0);
    text-align: center;
    font-family: $secondaryfontfaimly;
    font-weight: 400;
    text-transform: lowercase;
    min-width: 150px;

    @include breakpoint(mobile_portrait) {
        padding: 0.6rem 1rem;
    }
}


.primary-btn {
    background-color: $primary-color;
    color: $white;
    border: 1px $primary-color solid;

    &:hover {
        background-color: $secondary-color;
        color: $white;
        border: 1px $secondary-color solid;
    }
}

.secondary-btn {
    background-color: $secondary-color;
    color: $white;
    border: 1px $secondary-color solid;

    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}

.white-btn {
    background-color: $white;
    color: $secondary-color;
    border: 0px $secondary-color solid;

    &:focus {
        color: $primary-color;
    }

    &:hover {
        background-color: $primary-color;
        border: 0px $primary-color solid;
    }
}

.primary-outline-btn {
    background-color: transparent;
    color: $secondary-color;
    border: 1px $primary-color solid;

    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}


.white-outline-btn {
    background-color: transparent;
    color: $white;
    border: 1px $white solid;

    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}



.secondary-outline-btn {
    background-color: transparent;
    color: $secondary-color;
    border: 1px $secondary-color solid;

    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}

.wpcf7-submit {
    color: $secondary-color;
    border: 1px $primary-color solid;
    padding: 0.8rem 3rem 1rem 1.7rem ;
    background: $primary-color url("#{$assetIconsPath}/arrow-white.svg") no-repeat calc(100% - 1rem) center;
    background-size: 13px;
    &:hover {
        background: $white url("#{$assetIconsPath}/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
        background-size: 13px;
        border: 1px $white solid;
        color: $primary-color;
    }
}

.input-submit {
    .wpcf7-spinner {
        display: none;
    }
}


.primary-btn-arrow {
    background: $white url("#{$assetIconsPath}/Primary btn arrow.svg") no-repeat calc(100% - 1rem) center;
    background-size: 13px;
    padding: 0.8rem 3rem 1rem 1.7rem ;
    color: $primary-color;
    border: 1px $primary-color solid;
    
    &:hover{
        background: $primary-color url("#{$assetIconsPath}/button-white-arrow.svg") no-repeat calc(100% - 1rem) center;
        background-size: 13px;
        color: $white;
    }
}

.secondary-btn-arrow {
    background: $white url("#{$assetIconsPath}/Secondary btn arrow.svg") no-repeat calc(100% - 1rem) center;
    background-size: 13px;
    padding: 0.8rem 3rem 1rem 1.7rem ;
    color: $secondary-color;
    border: 1px $secondary-color solid;
}

.white-btn-arrow {
    background: $primary-color url("#{$assetIconsPath}/White btn arrow.svg") no-repeat calc(100% - 1rem) center;
    background-size: 13px;
    padding: 0.8rem 3rem 1rem 1.7rem ;
    color: $white;
    border: 1px $white solid;
}

.primary-bg{
    .white-btn-arrow {
      &:hover{
        background: $white url("#{$assetIconsPath}/Primary btn arrow.svg") no-repeat calc(100% - 1rem) center;
        background-size: 13px;
        padding-right: 3rem;
        color: $primary-color;
        border: 1px $white solid;
      }
    }  
}