.card-box-1{
    width: 8.333333%;
}
.card-box-2{
    width: 16.666667%;
}
.card-box-3{
    width: 25%;
}
.card-box-4{
    width: 33.333333%;
}
.card-box-5{
    width: 41.666667%;
}
.card-box-6{
    width: 50%;
}
.card-box-7{
    width: 58.333333%;
}
.card-box-8{
    width: 66.666667%;
}
.card-box-9{
    width: 75%;
}
.card-box-10{
    width: 83.333333%;
}
.card-box-11{
    width: 91.666667%;
}
.card-box-12{
    width: 100%;
}
