h1 {
    font-family: $secondaryfontfaimly;
    font-weight: 700;
}

h2 {
    font-family: $secondaryfontfaimly;
    font-weight: 700;
}

h3 {
    font-family: $secondaryfontfaimly;
    font-weight: 700;
}

h4 {
    font-family: $secondaryfontfaimly;
    font-weight: 700;
}

h5 {
    font-family: $secondaryfontfaimly;
    font-weight: 700;
}

.heading {
    h2 {
        position: relative;
        margin: 0px;
        padding: 0 0 2rem 0;
        @extend %h2;
        text-transform: lowercase;
         color: $primary-color;
        
        &::after {
            content: '';
            width: $afterLine_width;
            height: $afterLine_height;
            background: $primary-color;
            position: absolute;
            bottom: 0px;
            left: 0px;
        }
        &::before {
            content: '';
            width: 100vh;
            height: $afterLine_height;
            background: $primary-color;
            position: absolute;
            bottom: 0px;
            left: -100vh;
        }
    }

    .desc--box {
        margin-top: 1.5rem;
    }
}
.primary-bg{
    .heading {
        h2 {
             color: $white;
            &::after {
                background: $white;
                left: 0px;
            }
            &::before {
                background: $white;
            }
        }
    }
}

.aos-animate{
    h2 {
        
        &::after {
            animation: 1s slide-right;
        }
        &::before {
            animation: 1s slide-right;
        }
    }
}

@keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }