a,
button {
  cursor: pointer;
}

// Base Font faimly

$primaryfontfaimly: 'Be Vietnam Pro', sans-serif;
$secondaryfontfaimly: 'Playfair Display', serif;

$main-body-space:2rem;
// Set Image Path
$assetPath: "../img";
$assetIconsPath: "../img/icons";
$fontsPath: "../webfonts";

// Button Font Size

$btn-font-size-base: 1.1669rem;
$afterLine_width: 137px;
$afterLine_height:4px;
$main-padding-desktop: 6rem;

%font-size {
  font-size: 1.1rem;
}

%base-line-height {
  line-height: 1.6rem;
}

%btn-font-size-base{
  font-size: 1.1rem;;
}

%main-padding {
  padding-top: $main-padding-desktop;
  padding-bottom: $main-padding-desktop;

  @include breakpoint(ipad_portrait) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  @include breakpoint(mobile) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

%main-padding-top {
  padding-top: $main-padding-desktop;
  @include breakpoint(ipad_portrait) {
    padding-top: 4rem;
  }
  @include breakpoint(mobile) {
    padding-top: 3rem;
  }
}

%main-padding-btm {
  padding-bottom: $main-padding-desktop;
  @include breakpoint(ipad_portrait) {
    padding-bottom: 4rem;
  }
  @include breakpoint(mobile) {
    padding-bottom: 3rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

%below-hd {
  margin-top: 4rem !important;
}

%h1{
  font-size: 5.5rem;
 
  @include breakpoint(desktop_md){
    font-size: 4.5rem;
  }

  @include breakpoint(desktop_sm){
    font-size: 3.5rem;
  }
  @include breakpoint(ipad_landscape){
    font-size: 3.5rem;
  }
  @include breakpoint(ipad_portrait){
    font-size: 3.4rem;
  }
  @include breakpoint(mobile){
    font-size: 2.5rem;
  }

}

%h2{
  font-size: 2.3rem;

  @include breakpoint(desktop_sm){
    font-size: 2.3rem;
  }
  @include breakpoint(ipad_landscape){
    font-size: 2.2rem;
  }
  @include breakpoint(ipad_portrait){
    font-size: 2.2rem;
  }
  @include breakpoint(mobile){
    font-size: 1.7rem;
    line-height: 2rem;
  }

}
%bg-hd{
  background: rgba(0, 0, 0, 0.7);
}

%h3{
  font-size: 2.1669rem;
}

%h4{
  font-size: 1.6669rem;
}

%pt26{
  font-size: 2.1669rem;
}

%pt20{
  font-size: 1.6669rem;
}
%pt41{
  font-size: 3.4169rem;
}
%pt16{
  font-size: 1.1rem;
}

