.product_options__row {
    h3 {
        margin: 0;
        padding: 7px 25px 7px 10px;
        display: block;
        color: $cyan-color;
        font-size: $font-size-base;
        border: 1px $cyan-border solid;
        cursor: pointer;
        background: url("#{$assetPath}/accordion-arrow-up-icon.svg") no-repeat calc(100% - 10px) center;
        background-size: 15px;
        &.collapsed {
            background: url("#{$assetPath}/accordion-arrow-down-icon.svg") no-repeat calc(100% - 10px) center;
            background-size: 15px;
        }
    }
}
