.top_blue__bg {
    // background: url("#{$assetPath}/top-blue-bg_new.svg") no-repeat center top scroll;
    // -webkit-background-size: 100%;
    // -moz-background-size: 100%;
    // -o-background-size: 100%;
    // background-size: 100%;
    min-height: 600px;
    position: relative;
    padding-bottom: 40px;
    
    &::before {
        position: absolute;
        content: "";
        left: 0px;
        top: 0px;
        width: 100%;
        height: 350px;
        z-index: 1;
        background: url("#{$assetPath}/top-blue-bg-new.svg") no-repeat center bottom scroll;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        @include breakpoint(mobile_portrait) {
            -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }
        @include breakpoint(mobile_landscape) {
            -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }
    }
    &::after {
        position: absolute;
        content: "";
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: url("#{$assetPath}/drak-btm-bg.svg") no-repeat center 75% scroll;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
    }
}
.product__Page {
    &::after {
        height: 500px;
        background: url("#{$assetPath}/drak-btm-bg.svg") no-repeat center top scroll;

        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        display: none;
    }
}
.single-product{
    .product__Page {
        &::after {
            height: 290px;
            background: url("#{$assetPath}/drak-btm-bg.svg") no-repeat center top scroll;
    
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
            display: block;
        }
    } 
}