.button {
    @include padding(10px, 20px, 10px, 20px);
    @include display-inline(inline-block, middle);
    @include border-radius(10px);
}

.button-outline {
    @include background(none);
    @include size-color($btn-font-size-base, $black);
    @include border(1px, $purple, solid);
    @include padding(10px, 20px, 10px, 20px);

    &:hover {
        @include background($purple);
        @include size-color($btn-font-size-base, $white);
        @include border(1px, $black, solid);

    }
}

.button-color {

    @include background($purple);
    @include size-color($btn-font-size-base, $white);
    @include border(1px, $purple, solid);
    @include padding(10px, 20px, 10px, 20px);
    font-weight: 500;

    &:hover {
        @include background($OxfordBlue);
        @include size-color($btn-font-size-base, $white);
        @include border(1px, $OxfordBlue, solid);

    }
}



.input-field{
    input[type="submit"]{
        @include background($purple);
        @include size-color($btn-font-size-base, $white);
        @include border(1px, $purple, solid);
        @include padding(10px, 20px, 10px, 20px);
        font-weight: 500;
        border-radius: 0px;
        text-transform: uppercase;
    
        &:hover {
            @include background($OxfordBlue);
            @include size-color($btn-font-size-base, $white);
            @include border(1px, $OxfordBlue, solid);
    
        }
    }
}
.woocommerce-message a.button{
    @include background($purple);
    @include size-color($btn-font-size-base, $white);
    @include border(1px, $purple, solid);
    @include padding(10px, 20px, 10px, 20px);
    font-weight: 500;

    &:hover {
        @include background($OxfordBlue);
        @include size-color($btn-font-size-base, $white);
        @include border(1px, $OxfordBlue, solid);

    }  
}