// This list is main colors
$white:    #ffffff !default;
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #5C17B9 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #00838f !default;
$drak:    #29383d !default;
$lemon:   #CDD923 !default;
$black:   #000 !default;
$OxfordBlue: #29383D !default;
$lightGray: #E5E7DC !default;
$light: #F8F8F4 !default;









// This list is Fonts colors

$blue-color:    #007bff !default;
$drak-color:    #29383D !default;
$OxfordBlue-color: #29383D !default;
$cyan-color:    #00838F  !default;
$lemon-color:    #CDD923  !default;

// This list is Borders colors

$blue-border:    #007bff !default;
$lightGray-border:    #c4c4c4 !default;
$cyan-border:    #00838F  !default;
$purple-border:  #5C17B9 !default;

// This list is Background colors

$blue-bg:    #007bff !default;
$lightGray-bg:    #c4c4c4 !default;
$lemon-bg:    #CDD923 !default;
$cyan-bg:    #00838F  !default;
$purple-bg:  #5C17B9 !default;