$font-size-base: 15px;

$font-size-lg: 37px;
$font-size-md:28px;
$font-size-h2: 26px;
$font-size-sm: 14px;
$btn-font-size-base: 15px; 
$font-size-h1: 28px;
$font-size-h2: 26px;
$font-size-h3: 22px;

// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;