.input-field {
    @include margin(25px, 0, 0, 0);
    position: relative;
    label {
        @include size-color(15px, $OxfordBlue-color);
        @include margin(0px, 0, 0px, 0);
        @include padding(8px, 0px, 10px, 0px);
        // position: absolute;
        // top: -25px;
        // left: 0;
        // z-index: 2;
        // -webkit-transition: all 0.3s;
        // -moz-transition: all 0.3s;
        // transition: all 0.3s;
        width: 100%;
       
    }
    br{
        display: none;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    textarea {
        @include border(0px, $black, solid);
        @include padding(10px, 0px, 10px, 0px);
        @include width(100%);
        font-weight: 400;
        border-radius: 0px !important;
        @include size-color(18px, $OxfordBlue-color);
        border-bottom: 2px $OxfordBlue-color solid;
        &:disabled {
            opacity: 0.5;
        }
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-style: normal;
            @include size-color(15px, $black);
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            font-style: normal;
            @include size-color(15px, $black);
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            font-style: normal;
            @include size-color(15px, $black);
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            font-style: normal;
            @include size-color(15px, $black);
        }
    }
    textarea {
        @include border(0px, $black, solid);
        @include padding(10px, 0px, 10px, 0px);
        @include height(50px);
        border-bottom: 2px $OxfordBlue-color solid;
        resize: none;
    }
}

.input-field:active,
.input-field:hover {
    label {
        top: -25px;
        background-color: transparent;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    textarea{
        border-bottom: 2px $purple-border solid; 
    }
}
.xoo-aff-input-group {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    textarea {
        @include border(1px, $lightGray-border, solid !important);
        @include padding(10px, 25px, 10px, 10px);
        @include width(100%);
        height: auto !important;
        border-radius: 0px !important;
        line-height: normal !important;
        @include size-color(15px, $black);
        &:disabled {
            opacity: 0.5;
        }
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-style: normal;
            @include size-color(15px, $black);
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            font-style: normal;
            @include size-color(15px, $black);
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            font-style: normal;
            @include size-color(15px, $black);
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            font-style: normal;
            @include size-color(15px, $black);
        }
    }
}
.xoo_el_reg_lname_cont,
.xoo_el_reg_fname_cont,
.xoo-el-username_cont {
    input[type="text"] {
        background: url("#{$assetPath}/user.svg") no-repeat 96% center;
        background-size: 15px;
    }
}
.xoo_el_reg_email_cont{
    input[type="email"] {
        background: url("#{$assetPath}/email-icon.svg") no-repeat 96% center;
        background-size: 15px;
    }
}
.xoo-aff-cont-password,
.xoo-el-password_cont {
    input[type="password"] {
        background: url("#{$assetPath}/lock-icon.svg") no-repeat 96% center;
        background-size: 15px;
    }
}
