.main_nav {
    background-color: $OxfordBlue;
    padding: 5px 0;
    @include breakpoint(mobile) {
        display: none;
    }
    &.menu-show{
        @include breakpoint(mobile) {
            display: block;
        }  
    }
    nav {
        ul {
            padding: 0px;
            margin: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            @include breakpoint(mobile) {
                display: block;
            }
            li {
                padding: 0px;
                margin: 0 20px;
                position: relative;
                @include breakpoint(mobile) {
                    text-align: center;
                }
                a {
                    display: block;
                    color: $white;
                    font-size: $font-size-base;
                    text-align: center;
                    font-weight: 500;
                    padding: 10px 0;
                    text-transform: uppercase;
                    @include breakpoint(mobile) {
                        display: inline-block;
                    }
                    &:hover{
                        color: $lemon-color;
                    }
                }
                &.menu-item-has-children {
                    @include breakpoint(mobile) {
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 13px;
                            width: 12px;
                            height: 12px;
                            display: block;
                            right: 0;
                            background: url("#{$assetPath}/plus-icon.svg") no-repeat right center;
                            background-size: 100%;
                            
                        }
                    }
                    
                    a {
                        position: relative;
                        @include breakpoint(mobile) {
                            position: inherit;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            top: 15px;
                            width: 9px;
                            height: 9px;
                            display: block;
                            right: -13px;
                            background: url("#{$assetPath}/plus-icon.svg") no-repeat right center;
                            background-size: 100%;
                            @include breakpoint(mobile) {
                                display: none;
                            }
                        }
                    }
                    .sub-menu {
                        li {
                            a {
                                &::after {
                                    display: none !important;
                                }
                            }
                        }
                    }
                }
                .sub-menu {
                    position: absolute;
                    width: 250px;
                    background-color: $OxfordBlue;
                    padding: 10px;
                    left: 0px;
                    display: none;
                    z-index: 3;
                    @include breakpoint(mobile) {
                        position: relative;
                    }
                   
                    li {
                        padding: 10px;
                        margin: 0px;
                        a {
                            text-align: left;
                            padding: 0px;
                            @include breakpoint(mobile) {
                                font-size: 14px;
                            }
                          }
                    }
                }
                &.current-menu-item{
                    a{
                        color: $lemon-color;
                    }
                    .sub-menu {
                        li{
                            a{
                                color: $white;  
                            }
                        }
                    }

                }
                &:hover{
                    .sub-menu {
                        display: block;
                        z-index: 3;
                        @include breakpoint(mobile) {
                            display: none;
                        }
                    }
                }
                &.submenu_show{
                    @include breakpoint(mobile) {
                        &::after {
                            height: 2px;
                            top: 17px;
                            
                        }
                    }
                    
                    .sub-menu {
                        @include breakpoint(mobile) {
                            display: block;
                            width: 100%;
                        } 
                    }
                     
                }
            }
        }
    }
}

