.pagination{
    display: flex;
    justify-content: center;
    padding:30px 0 0 0;
    span,
    a{
        padding: 3px 10px;
        font-weight: 400;
        margin: 0 2px;
        border-radius: 4px;
        color: $purple;
        background: $white;
        border: 1px $purple solid;
        cursor: pointer;
        &:hover{ 
         color: $white;
         background: $purple;
         border: 1px $purple solid;  
       }
    }
   
    .current{
        color: $white;
        background: $purple;
        border: 1px $purple solid;
    }
}

.item_show{
    margin-top: 5px;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    @include breakpoint(mobile){
        text-align: right;
        display: block;
    }
    .back-row-showing-count{
        margin-right: 15px;
        font-family: 'Montserrat', sans-serif;
        @include breakpoint(mobile){
            margin-right: 0px;
            margin-bottom: 15px;
        }
        p{
            margin: 0px;
        }
    }
    .button-outline{
        @include padding(5px, 10px, 5px, 10px);
        color: $purple;
        font-weight: 600;
        font-size: 13px;
        &:hover {
            @include background($OxfordBlue);
            @include border(1px, $OxfordBlue, solid);
            color: $white;
            font-size: 13px;
        }
    }
}