.login__pop{
    max-width: 400px;
    height: auto;
    .xoo-el-header{
        @include breakpoint(mobile_portrait) {
           display: none;
        } 
    }
    .pop_logo{
        width: 200px;
        margin: auto;
        @include breakpoint(mobile_portrait) {
            width: 150px;
        }
        img{
            width: 100%;
        }
    }
    .xoo-aff-group {
        margin-bottom: 13px;
        width: 100%;
        
    }
    .xoo-el-section {
        padding-left: 0;
    }
    .xoo-el-main {
        padding: 40px 52px;
        @include breakpoint(mobile_portrait) {
            padding: 15px;
        }
    }
    .button-color{
        width: 100%;
        margin-top: 20px;
        i{
            background: url("#{$assetPath}/login-button-icon.svg") no-repeat center center;
            background-size: 100%;
            display: inline-block;
            width: 18px;
            height: 18px;
            vertical-align: middle;
            margin-left: 10px;
        }
    }
    .xoo-el-form-container {
        padding-bottom: 0px;
    }
    .xoo-aff-input-group .xoo-aff-input-icon{
        display: none;
    }
    span.xoo-el-close:hover {
        color: $cyan-color;
    }
    .xoo-aff-group label {
        font-weight: 500;
        display: block;
        font-size: 12px;
        margin-bottom: 0;
        color: $OxfordBlue-color !important;
    }
    

    .xoo-aff-group input[type="text"]:focus, 
    .xoo-aff-group input[type="password"]:focus, 
    .xoo-aff-group input[type="email"]:focus, 
    .xoo-aff-group input[type="number"]:focus, 
    .xoo-aff-group select:focus, 
    .xoo-aff-group select + .select2:focus {
        background-color: #fff;
        color: $black;
        @include border(1px, $purple-border, solid !important);
    }
}
.login-ul{
    float: left;
    width: 100%;
  ul{
      margin: 0;
      padding: 0px;
      list-style: none;
      display: flex;
li{
    margin: 0px;
    padding: 0 10px;
    border-right: 1px $OxfordBlue-color solid;
    line-height: 11px;
    a{
        display: block;
        font-size: 12px;
        color:$OxfordBlue-color !important;
        font-weight: 600;
        &:hover{
            color:$cyan-color !important;
        }
    }
    &:first-child{ padding-left: 0px;}
    &:last-child{ border-right: 0px;}
}
  }  
}