.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0rem #fff !important;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none \9;
}

select::-ms-expand {
    display: none;
}

.selectbox {
    @include border(1px, $white, solid);
    @include width(100%);
    @include size-color(18px, $white);
    background: url("#{$assetPath}/selectbox-arrow.svg") no-repeat right center;
}