.pagination-block {
    margin-top: 1.5rem;
    .pagination {
        @include ul;
        display: flex;
        justify-content: end;
        @include breakpoint(mobile_portrait){
            justify-content: start;
        }
        li {
            margin: 0 0 0 20px;
            padding: 0px;
            @include breakpoint(mobile_portrait){
                margin: 0 20px 0 0px;
            }
            a,
            button {
                color:$primary-color ;
                font-size: 1.2rem;
                display: block;
                font-family: "MuseoSlab-500";
                font-weight: 500;
            }
            span {
                color: $secondary-color;
                font-size: 1.2rem;
                display: block;  font-family: "MuseoSlab-500";
                font-weight: 500;
            }
        }
    }
}
