.text-section {
    padding-top: 6rem;
    @include breakpoint(mobile){
        padding-top: $main-pd;
    }
    .container-sm {
        padding-left: 5rem;
        padding-right: 5rem;
        @include breakpoint(ipad_portrait){
            padding-left: 3rem;
            padding-right: 3rem;
        }
        @include breakpoint(mobile){
            padding-left: 0rem;
            padding-right: 0rem;
        }
    }
}