$footer-font: 16px;

.main-footer {
    background: $primary-color;
    padding: 2rem 0;

    .footer-info {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint(ipad_portrait) {
            width: 50%;
            margin-bottom: 2rem;
        }

        @include breakpoint(mobile_landscape) {
            width: 50%;
            margin-bottom: 2rem;
        }

        @include breakpoint(mobile_portrait) {
            width: 100%;
        }

        ul.contact-info-icon {
            @include breakpoint(mobile_portrait) {
                display: block;
            }

            li {
                @include breakpoint(mobile_portrait) {
                    margin-bottom: 2rem;
                }

                a {
                    font-size: $footer-font;
                    color: $white;
                    padding: 3px 0 3px 35px;
                    font-family: $primaryfontfaimly;
                    font-weight: 300;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    .footer-social-media {
        width: 25%;
        border-left: 1px $white solid;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint(ipad_portrait) {
            width: 50%;
            margin-bottom: 2rem;
        }

        @include breakpoint(mobile_landscape) {
            width: 50%;
            margin-bottom: 2rem;
        }

        @include breakpoint(mobile_portrait) {
            width: 100%;
            border-left: 0px $white solid;
        }

        ul.social-media-icon {
            margin-top: 1rem;
            justify-content: center;

            @include breakpoint(mobile_portrait) {}

            li {
                a {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        span {
            display: block;
            font-size: $footer-font;
            color: $white;
            text-align: center;
            margin-left: -32px;

            @include breakpoint(mobile_portrait) {
                text-align: left;
                margin-left: 0;
            }
        }
    }

    .footer-certified {
        width: 25%;
        border-left: 1px $white solid;
        padding: 0 1rem;

        @include breakpoint(ipad_portrait) {
            width: 50%;
            border-left: 0px $white solid;
        }

        @include breakpoint(mobile_landscape) {
            width: 50%;
            border-left: 0px $white solid;
        }

        @include breakpoint(mobile_portrait) {
            width: 100%;
            border-left: 0px $white solid;
            padding: 2rem 0 0 0;
            justify-content: center;
        }

        span {
            display: block;
            font-size: $footer-font;
            color: $white;
        }

        ul {
            margin: 1rem 0 0 0;
            padding: 0px;
            list-style: none;
            display: flex;
            align-items: flex-start;
            justify-content: center;

            li {
                margin: 0 0 0 2rem;
                padding: 0;
                width: 95px;
                display: flex;

                @include breakpoint(mobile_portrait) {
                    margin: 0 0 0 1rem;
                }

                &:first-child {
                    margin-left: 0px;
                }

                a {
                    display: block;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
    }

    .footer-link {
        width: 25%;
        border-left: 1px $white solid;
        padding: 0 0rem 0 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpoint(ipad_portrait) {
            width: 50%;
        }

        @include breakpoint(mobile_landscape) {
            width: 50%;
        }

        @include breakpoint(mobile_portrait) {
            width: 100%;
            border-left: 0px $white solid;
            padding: 2rem 0 0 0;
            justify-content: center;
        }

        .copy-right {
            margin: 10px 0 0 0;
            padding: 0;
            font-size: $footer-font;
            color: $white;
            @include breakpoint(mobile_portrait){
                text-align: center;
            }

            a {
                color: $white;

                &:hover {
                    color: $secondary-color;
                }
            }
        }

        ul {
            margin: 0;
            padding: 0px;
            list-style: none;
            align-items: center;

            @include breakpoint(mobile_portrait) {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            li {
                margin: 0 0 10px 0;
                padding: 0;
                font-size: $footer-font;
                color: $white;

                @include breakpoint(mobile_portrait) {
                    margin: 0 10px 0 10px;
                }

                &:last-child {
                    margin-bottom: 0px;
                }

                a {
                    font-size: $footer-font;
                    color: $white;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}