.main-header {
    background-color: rgb(255, 255, 255);
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;

    header {
        position: relative;
        padding: 2rem 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;

        @include breakpoint(mobile_nav) {
            padding: 1rem 0;
        }
    }

    .custom-row {
        align-items: center;
        position: relative;
        z-index: 2;

        @include breakpoint(mobile_nav) {
            align-items: center;
        }
    }

    .logo {
        a {
            display: block;
            padding: 0;
            z-index: 3;

            img {
                display: block;
                width: 280px;
                position: relative;
                z-index: 2;

                @include breakpoint(desktop-md) {
                    width: 250px;
                }

                @include breakpoint(desktop-sm) {
                    width: 220px;
                }

                @include breakpoint(ipad_landscape) {
                    width: 220px;
                }

                @include breakpoint(mobile_nav) {
                    width: 130px;
                }
            }
        }
    }

    .top-hdr-right {
        margin-left: auto;

        @include breakpoint(mobile_nav) {
            margin-left: 0;
            display: none;
        }
    }

    .nav_menu_inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav_menu {
        width: 100%;
    }

    .nav-main {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;

            li {
                margin: 0 3rem 0 0;
                padding: 0px;

                .sub-menu-toggle {
                    width: 0px;
                    height: 0px;
                    border: 0px;
                    padding: 0px;
                    background: transparent;
                    display: none;
                }

                @include breakpoint(ipad_landscape) {
                    margin: 0 1.5rem 0 0;
                }

                a {
                    display: block;
                    font-size: $mainMenuFont;
                    color: $drak-gray;
                    padding-bottom: 0.1rem;
                    font-weight: 700;
                    font-family: $secondaryfontfaimly;
                    border-bottom: 5px $white solid;

                    &:hover {
                        color: $secondary-color;
                    }
                }

                ul {
                    display: none;
                }

                ul:empty {
                    display: none;
                }

                &.menu-item-has-children {
                    position: relative;

                    ul {
                        width: 200px;
                        display: none;
                        position: absolute;
                        left: 0px;
                        padding-top: 0;

                        li {
                            margin: 0px;
                            padding: 8px 27px;
                            background: $secondary-color;

                            &:first-child {
                                padding-top: 25px;
                            }

                            &:last-child {
                                padding-bottom: 25px;
                            }

                            a {
                                padding: 0px;
                                color: $white;
                                font-size: $mainMenuSubFont;

                                &:hover {
                                    color: $primary-color;

                                }
                            }
                        }
                    }

                    &:hover {
                        a {
                            border-bottom: 5px $secondary-color solid;
                            @media (min-width: 991px) and (max-width: 10000000000000000px) {
                                color: $secondary-color;
                            }
                            
                        }

                        ul {
                            display: block;

                            li {
                                a {
                                    border-bottom: 0px $secondary-color solid;
                                    color: $white;

                                    &:hover {
                                        color: $primary-color;
                                    }
                                }
                            }
                        }
                    }
                }

                &.current-menu-ancestor,
                &.current-menu-item {
                    a {
                        color: $secondary-color;
                        border-bottom: 5px $secondary-color solid;

                    }

                    ul {
                        li {
                            a {
                                color: $white;
                                border-bottom: 0px $secondary-color solid;

                                &:hover {
                                    border-bottom: 0px $secondary-color solid;
                                }
                            }

                            &.current-menu-item {
                                a {
                                    color: $primary-color;
                                    border-bottom: 0px $secondary-color solid;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.sm-header {
    .main-header {
        header {
            padding: 1rem 0;

            &::after {
                position: absolute;
                width: 100%;
                content: "";
                height: 100%;
                background-color: rgba(255, 255, 255, 1);
                left: 0px;
                top: 0px;
                mix-blend-mode: multiply;

                @include breakpoint(mobile_nav) {
                    background-color: $secondary-color;
                    mix-blend-mode: color;
                }
            }
        }
    }
}

.header-contact-btn {
    @media (min-width: 992px) and (max-width: 100000000000000000000000000px) {
      margin-bottom: 6px;
    }
   
    .primary-btn {
        font-weight: 600;
        font-family: $secondaryfontfaimly;
        font-size: $mainMenuFont;
    }
}

.nav__toggle {
    display: none;

    @include breakpoint(mobile_nav) {
        display: block;
    }
}

.nav__toggle {
    position: relative;
    height: 30px;
    width: 35px;
    z-index: 10;
    transition: all 0.2s;
    margin-left: auto;
    top: 0px;
    outline: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    outline: 0;

    span {
        height: 3px;
        width: 35px;
    }

    span::before,
    span::after {
        height: 3px;
        width: 35px;
        right: 0px;
    }

    span,
    span::before,
    span::after {
        text-align: right;
        cursor: pointer;
        border-radius: 0px;
        background-color: $secondary-color;
        position: absolute;
        display: block;
        content: "";
        transition: all 0.2s;
        outline: 0;
    }

    span {
        // left: 3px;
        top: 15px;

        &::before {
            top: -10px;
        }

        &::after {
            bottom: -10px;
        }
    }
}

.menu-slide {
    overflow: hidden;
    height: 100%;

    .logo {
        opacity: 0;
    }

    .main-header .nav-main ul li a {
        color: $white;
    }

    .main-header .nav-main ul li.menu-item-has-children ul li {
        background: transparent;
    }

    .main-header .nav-main ul li.current-menu-ancestor ul li a,
    .main-header .nav-main ul li.current-menu-item ul li a {
        color: $white;
    }

    .header-contact-btn {
        .primary-btn {
            &:hover{
                background: $primary-color;
            }
        }
    }

    .main-header {
        height: 100vh;
        background: $secondary-color;

        .top-hdr-right {
            display: block;
            position: absolute;
            width: 100%;
            height: calc(100vh - 89px);
            left: 0px;
            top: 49px;
            padding: 0;

            .nav_menu {
                padding: 0;
                width: 100%;
                height: 100%;
                display: flex;
                overflow: auto;
            }

            .nav_menu_inner {
                justify-content: center;
                width: auto;
                margin: auto;
                display: block;

                .nav-main {
                    ul {
                        display: block;
                        text-align: left;

                        li {
                            margin: 1.5rem 0;

                            a {
                                font-size: 1.6rem;
                                font-weight: 200;
                                border-bottom: 0px;
                            }
                        }

                        li.menu-item-has-children {
                            .sub-menu-toggle {
                                background: url("#{$assetIconsPath}/menu-close.svg") no-repeat center center;
                                height: 15px;
                                border: 0px;
                                padding: 0px;
                                cursor: pointer;
                                width: 10px;
                                margin: 0 0 0 10px;
                                display: inline;
                                position: absolute;
                                top: 9px;
                            }

                            a {
                                display: inline-flex;
                                &:hover{
                                    color: $white;
                                }
                            }

                            ul {
                                display: none;
                                margin-top: 1rem;
                                margin-bottom: 2rem;

                                li {
                                    margin: 0px;
                                    padding: 4px 0;

                                    &:first-child {
                                        padding-top: 0px;
                                    }

                                    a {
                                        padding: 0.2rem 0 0.2rem 0rem;
                                        font-size: 1.2rem;
                                    }
                                }
                            }
                        }

                        li.submenu-expanded {
                            .sub-menu-toggle {
                                background: url("#{$assetIconsPath}/menu-open.svg") no-repeat center center;
                            }

                            ul {
                                display: block;
                                position: relative;
                                width: auto;
                                left: 0;
                                top: 0;
                                padding: 0px;

                                li {
                                    a {
                                        font-size: 1.2rem;
                                    }
                                }
                            }
                        }
                    }

                    .header-social-media.hide-desktop {
                        display: block;
                        margin-top: 30px;
                        margin-bottom: 50px;

                        ul {
                            display: flex;
                            justify-content: center;

                            li {
                                margin-right: 1rem;

                                &:last-child {
                                    margin-right: 0rem;
                                }

                                a {
                                    border: 0 !important;
                                }
                            }
                        }
                    }
                }
               
            }
        }
    }
    
    .main-header .nav-main ul li.current-menu-ancestor a,
    .main-header .nav-main ul li.current-menu-item a {
        color: $primary-color;
        font-weight: 300 !important;
        &:hover{
            color: $primary-color;
        }
    }

    .main-header .nav-main ul li.current-menu-ancestor ul li.current-menu-item a,
    .main-header .nav-main ul li.current-menu-item ul li.current-menu-item a {
        color: $primary-color;
        font-weight: 300 !important;
        &:hover{
            color: $primary-color;
        }
    }

    .nav__toggle {
        span {
            background-color: transparent;

            &::before,
            &::after {
                top: 0;
                background-color: $white;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }

        &:hover {
            span {
                background-color: transparent;

                &::before,
                &::after {
                    background-color: $white;
                }
            }
        }
    }

    .header-social-media.hide-mobile {
        display: none;
    }
}


@include breakpoint(ipad_portrait){
    .menu-slide{
        .main-header{
            .top-hdr-right{
                .nav_menu{
                    position: relative;
                    
                }
                .nav_menu_inner{
                    position: absolute;
                    left: 35%;
                    top: 30%;
                }
            }
        }
    } 
    
    .menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li a{
        font-size: 2rem;
    }
    .menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.submenu-expanded ul li a{
        font-size: 1.5rem;
    } 
    .menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li.menu-item-has-children .sub-menu-toggle{
        top: 16px;
    }
    .header-contact-btn .primary-btn{
        font-size: 1.7rem; 
    }
    
}

@include breakpoint(mobile_landscape){
    .menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li{
        &:first-child{
            margin-top: 0px;
        }
    }
    .menu-slide .main-header .top-hdr-right .nav_menu_inner nav{
        width: 195px;
    }
    .menu-slide .main-header .top-hdr-right .nav_menu{
        padding-bottom: 2rem;
    }
}