<div class="full-bgimg-block">
	<div class="full-bgimg">
		{{ content.field_image }}
	</div>
	<div class="large-9 large-centered columns">
		<div class="full-bgimg-content">
			<h3>{{ content.title}}</h3>
			<div class="desc">
				{{ content.field_body }}
			</div>
		</div>
	</div>
</div>
