<div class="img-txt-block">
	<div class="img-txt-block--img">
		{{ content.field_image }}
	</div>
	<div class="img-txt-block--content">
		<h3>{{ content.title}}</h3>
		<div class="desc">
			{{ content.field_body }}
		</div>
	</div>
</div>
