.btn-set--left {
    display: flex;
    justify-content: left;
    padding-left: 10px;
}

.btn-set--center {
    display: flex;
    justify-content: center;
}

.btn-set--right {
    display: flex;
    justify-content: right;

    @include breakpoint(mobile) {
        justify-content: left;
        padding-left: 10px;
    }
}

.primary-btn {
    background-color: $primary-color;
    color: $white;
    border: 1px $primary-color solid;
    padding: 0.5rem 2rem;
    font-size: $btn-font-size-base;
    display: block;

    &:hover {
        background-color: $secondary-color;
        color: $white;
        border: 1px $secondary-color solid;
    }
}

.secondary-btn {
    background-color: $secondary-color;
    color: $white;
    border: 1px $secondary-color solid;
    padding: 0.5rem 2rem;
    font-size: $btn-font-size-base;
    display: block;

    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}

.primary-outline--btn {
    background-color: transparent;
    color: $white;
    border: 0px $primary-color solid;
    padding: 0.7rem 1.7rem;
    font-size: $btn-font-size-base;
    display: block;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        border: 1px $primary-color solid;
        background-color: transparent;
        transform: $skewX;
        z-index: -1;
    }
    &:hover {
        color: $white;
        &::after {
            background-color: $primary-color;
        }
    }
}

.secondary-outline--btn {
    background-color: transparent;
    background: transparent url("#{$assetPath}/chevron_right_white.svg") no-repeat calc(100% - 0.7rem) center;
    color: $white;
    border: 0px $secondary-color solid;
    padding: 0.5rem 2.3rem 0.7rem 1.7rem;
    font-size: $btn-font-size-base;
    display: block;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        border: 1px $secondary-color solid;
        background-color: transparent;
        transform: $skewX;
        z-index: -1;
    }
    &:hover {
        color: $white;
        &::after {
            background-color: $secondary-color;
        }
    }
}


.wpcf7-submit {
    background-color: transparent;
    // background: $secondary-color url("#{$assetPath}/chevron_right_white.svg") no-repeat calc(100% - 0.7rem) center;
    
    color: $white;
    border: 0px $secondary-color solid;
    padding: 0.7rem 2.3rem;
    font-size: $btn-font-size-base;
    display: block;
    z-index: 2;
    position: relative;
    cursor: pointer;
   
}

.green-buy--btn {
    padding: 0.6rem 2rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    color: $white;

    i {
        width: 32px;
        margin-right: 10px;
        @include breakpoint(common-ipad-desktop){
            width: 24px;
        }
        img {
            width: 100%;
            display: block;
        }
    }

    &.skew-shap {
        &::after {
            background-color: $secondary-color;
        }
    }

    &:hover {
        color: $white;
    }

    &.skew-shap {
        &:hover {
            &::after {
                background-color: $primary-color;
            }
        }
    }
}

.input-submit{
    position: relative;
    display: inline-block;
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background-color: $secondary-color;
        transform: $skewX;
        z-index: 1;
    }
    &:hover{
        &::after{
            background-color: $primary-color;
        }
    }
    .wpcf7-spinner{
        display: none;
    }
}