a,
button {
  cursor: pointer;
}

// Base Font faimly

$primaryfontfaimly: 'Lato', sans-serif;
$secondaryfontfaimly: 'Montserrat', sans-serif;

// Base font size

$font-size-base: 1.2rem;
$font-size-base-m: 2rem;

// Main font size

$mainMenuFont: 1.2rem;
$mainMenuFontMob: 1.4rem;
$mainMenuSubFont: 1rem;
// Footer font size

$footerTxtFont: 1rem;

// Main h1 font size
$h1: 3.5rem;
$h1_il: 3rem;
$h1_ip: 2.6rem;
$h1_m: 2rem;

// Main h2 font size

$h2: 1.8rem;
$h2_ip: 1.7rem;
$h2_m: 1.5rem;
// Main h3 font size

$h3: 1.7rem;
$h3_ip: 1.5rem;
$h3_m: 1.4rem;
// Main h3 font size

$h4: 1.5rem;

// Main line height
$line-height: 1.6rem;

// Main padding
$main-pd: 6rem;
$main-pd-sm: 3rem;

@include breakpoint(mobile){
  $main-pd: 3rem;
}

// Set Image Path
$assetPath: "../img";
$fontsPath: "../webfonts";

// Button Font Size

$btn-font-size-base: $font-size-base;


$skewX: skewX(330deg) scale(1, 1);