.call-now-section{
    .container-sm{
        position: relative;
    }
    h3{
        color: $white;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
    .call-now-info{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        @include breakpoint(mobile_portrait){
            display: block;
            text-align: center;
        }
        a, button{
            border: 1px $white solid;
            background: transparent;
            padding: 10px 10px;
            color: $white;
            font-size: 1.3rem;
            margin: 0 1rem;
            min-width: 300px;
            text-align: center;
            font-weight: 300;
            @include breakpoint(mobile_portrait){
                width: 253px;
                min-width: 253px;
                margin: 0;
                font-size: 1.1rem;
                display: inline-block;
            }
            &:hover{
                background: $white;
                color: $secondary-color;
            }
        }
        button{
            @include breakpoint(mobile_portrait){
                margin-top: 1rem;
            }
        }
    }
    .request-form-pop{
        background: $primary-color;
        position: absolute;
        width: 50%;
        top: -7rem;
        right: 0px;
        padding: 2rem 3rem;
        display: none;
        .request-form-pop-close{
            background: transparent;
            border: 0;
            width: 35px;
            height: 30px;
            position: absolute;
            right: 1rem;
            top: 1rem;
            cursor: pointer;
            &:focus,
            &:focus-visible{
                outline: 0;
            }
            svg{
                display: block;
                stroke: #fff;
                width: 100%;
                &:focus,
            &:focus-visible{
                outline: 0;
            }
            }
        }
        @include breakpoint(mobile_landscape){
            padding: 1rem 1.5rem;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
            top: 5rem;
            padding: 1rem 1.5rem;
        }
        .input-submit{
            display: flex;
            justify-content: end;
        }
       
    }
}

.show__pop{
    .call-now-section{
      
       
        .request-form-pop{
            display: block;
          
           
        }
    }
}