.flooring-types {
    .flooring-types--row {
        .flooring-types--box {
            width: 50%;
            padding: 0.2rem;
           
            @include breakpoint(mobile_portrait){
                width: 100%;
                padding: 0.2rem 0.2rem 1rem 0.2rem;
            }
            a {
                display: block;
                position: relative;

                .flooring-types--img {
                    img {
                        width: 100%;
                        display: block;
                    }
                }
                .flooring-types--content {
                    background: rgba(0, 0, 0, 0.6);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2rem;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    transition: all 0.5s;
                    h4 {
                        color: $white;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        @include breakpoint(mobile) {
                            text-align: center;
                        }
                        i{
                            opacity: 0;
                            width: 25px;
                            height: 25px;
                            margin-top: 5px;
                            margin-left: 0.7rem;
                            @include breakpoint(mobile) {
                                display: none;
                            }
                        }
                    }
                }

                &:hover {
                    .flooring-types--content {
                        background: $secondary-color;
                        h4{
                            i{
                               opacity: 1;
                                background: url("#{$assetPath}/right-arrow.svg") no-repeat center center;
                                background-size: 25px;
                                @include breakpoint(mobile) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
