.page-title-section {
    position: relative;
    background-color: #d1d2d4;
    min-height: 592px;

    
    @include breakpoint(ipad_landscape) {
        min-height: 300px;
    }
    @include breakpoint(ipad_portrait) {
        min-height: 300px;
    }
    @include breakpoint(mobile) {
        min-height: 300px;
    }

    .btn-set--left {
        position: relative;
        z-index: 1;
    }
    .page-title--img {
        @include breakpoint(ipad) {
            overflow: hidden;
        }
        @include breakpoint(mobile) {
            overflow: hidden;
        }
        img {
            display: block;
            width: 100%;
            max-width: auto;
            @include breakpoint(mobile) {
                width: 150%;
                max-width: 150% !important;
            }
            @include breakpoint(mobile_landscape) {
                width: 100%;
                max-width: 100% !important;
            }
        }
    }

    .page-title-content {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        @include breakpoint(mobile) {
            position: relative;
        }

        .container {
            height: 100%;
            @include breakpoint(mobile) {
                padding: 0px;
                width: 100%;
            }
        }

        .page-title-content--flex {
            width: 60%;
            height: 100%;
            display: flex;
            margin-left: -11%;
            align-items: center;
            padding-top: 2vh;

            @include breakpoint(big_screen) {
                padding-top: 2vh;
            }
            @include breakpoint(ipad_landscape) {
                width: 78%;
            }
            @include breakpoint(ipad_portrait) {
                width: 80%;
            }
            @include breakpoint(mobile) {
                width: 100%;
                padding-top: 0px;
                margin-left: 0px;
            }
            .page-title-content--box {
                padding: 4rem 2rem 4rem 12rem;
                color: $white;
                width: 100%;
                position: relative;
                @include breakpoint(big_screen) {
                    padding: 4rem 2rem 4rem 14rem;
                }
                @include breakpoint(ipad_landscape) {
                    padding-left: 7rem;
                }
                @include breakpoint(ipad_portrait) {
                    padding-left: 7rem;
                }
                @include breakpoint(mobile) {
                    padding: 2rem;
                }
                .btn-set--left {
                    margin-top: 2.5rem;
                }
                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    left: 0px;
                    top: 0px;
                    mix-blend-mode: multiply;
                    position: absolute;
                }

                &.page-title-content-bg-1 {
                    background: transparent;
                    &::after {
                        background: $secondary-color;
                    }
                }

                &.page-title-content-bg-2 {
                    background: transparent;
                    &::after {
                        background: $primary-color;
                    }
                }
            }
        }
    }
}

// .hero-slider-section.page-title-section {
//     @include breakpoint(big_screen) {
//         height: 75vh;
//         overflow: hidden;
//     }
//     .page-title--img {
//         @include breakpoint(mobile_landscape) {
//             height: 75vh;
//         }
//     }
// }

.inner-page-hero.page-title-section {
    min-height:100px;
    // @include breakpoint(inner_hd__img){
    //     max-height: 600px;
    //     overflow: hidden;
    // }
 
    @include breakpoint(mobile_landscape) {
        min-height: 200px;
    }
    .page-title--img img {
        @include breakpoint(ipad_portrait) {
            width: 100%;
            max-width: 100% !important;
        }
        @include breakpoint(mobile_landscape) {
            width: 100%;
            max-width: 100% !important;
        }
    }
    .page-title-content {
        
        @include breakpoint(mobile_landscape) {
            position: absolute;
        }
        
        .page-title-content--flex {
            @include breakpoint(inner_hd__img){
                padding-top: 100px;
            }
            @include breakpoint(ipad_landscape) {
                padding-top: 84px;
            }
            @include breakpoint(ipad_portrait) {
                padding-top: 84px;
            }
            @include breakpoint(mobile_landscape) {
                margin-left: 0;
                padding-top: 64px;
                width: 75%;
            }
        }
    }
}

.services,
.single-service {
    .page-title-section .page-title-content .page-title-content--flex .page-title-content--box.page-title-content-bg-2 {
        background: transparent;
        &::after {
            background: $light-orange;
        }
    }
}

.hero-slider-section.page-title-section{
    // @include breakpoint(inner_hd__img){
    //     max-height: 850px;
    //     overflow: hidden;
    // }
    .page-title--img{
        img{
            @include breakpoint(ipad_portrait) {
                width: 120%;
                max-width: 120% !important;
            } 
        }
    } 
    .page-title-content{
        .page-title-content--flex{
            @include breakpoint(inner_hd__img){
                padding-top: 100px;
            }
            @include breakpoint(ipad_landscape) {
                padding-top: 74px;
            }
            @include breakpoint(ipad_portrait) {
                padding-top: 74px;
            }
            .page-title-content--box{
                @include breakpoint(ipad) {
                    padding-top: 2rem;
                    padding-top: 3rem;
                }   
            }
        }
    }
}
.inner-page-hero.page-title-section .page-title-content .page-title-content--flex .page-title-content--box {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    min-height: 240px;

    @include breakpoint(ipad) {
        min-height: 148px;
    }
    @include breakpoint(mobile_landscape) {
        padding-top: 1rem;
        padding-bottom: 1rem;
        min-height: 90px;
    }
    @include breakpoint(mobile_portrait) {
        padding-top: 2rem;
        padding-bottom: 2rem;
        min-height: 106px;
    }
}
