.post-row {
    position: relative;
    margin-top: 4rem;
    @include breakpoint(mobile_landscape) {
        padding: 0 5rem;
    }

    &:nth-child(1) {
        margin-top: 0rem;
    }

    .container {
        position: relative;
        height: 100%;
    }

    .custom-row {
        height: 100%;
        align-items: center;
    }

    .post-row--img {
        width: 50%;
        margin-left: auto;
        @include breakpoint(ipad_portrait) {
            overflow: hidden;
        }
        @include breakpoint(mobile) {
            width: 100%;
            padding: 0 1rem;
        }

        img {
            width: 100%;
            display: block;
            @include breakpoint(ipad_portrait) {
                width: 150%;
                display: block;
                max-width: 150% !important;
            }
        }
    }

    .post-row--content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        @include breakpoint(mobile) {
            position: relative;
        }
        .desc--box {
            padding-left: 2rem;
            @include breakpoint(mobile_portrait) {
                padding-left: 0;
                br{
                    display: none;
                }
            }
        }
    }

    .post-row--text {
        width: 55%;
        padding: 4rem;

        @include breakpoint(big_screen) {
            min-height: 360px;
        }
        @include breakpoint(ipad_landscape) {
            padding: 2rem;
        }
        @include breakpoint(ipad_portrait) {
            padding: 2rem;
        }
        @include breakpoint(mobile_landscape) {
            padding: 2rem 2rem;
        }
        @include breakpoint(mobile) {
            width: 100%;
            padding: 3rem 2rem;
        }

        .desc--box {
            p {
                color: $white;
                a{
                    color: $white;
                    font-weight: 600;
                }  
            }
        }
    }

    &.post-row--left {
        .post-row--text {
            padding-right: 6rem;
            @include breakpoint(ipad_landscape) {
                padding-right: 4rem;
            }
            @include breakpoint(ipad_portrait) {
                padding-right: 4rem;
            }
            @include breakpoint(mobile) {
                padding-right: 2rem;
            }
        }
    }

    &.post-row--right {
        .post-row--img {
            margin-left: 0;
        }

        .post-row--text {
            margin-left: auto;
            padding-left: 6rem;
            @include breakpoint(ipad_landscape) {
                padding-left: 4rem;
            }
            @include breakpoint(ipad_portrait) {
                padding-left: 4rem;
            }
            @include breakpoint(mobile) {
                padding-left: 2rem;
            }
        }
    }

    .post-row-text-bg-1 {
        background: $light-orange;
        mix-blend-mode: multiply;
    }

    .post-row-text-bg-2 {
        background: $primary-color;
        mix-blend-mode: multiply;
    }
}

.post-row--text.post-row-text-bg-2 h3 {
    text-transform: inherit;
}
.post-row .post-row-text-bg-1:hover {
    background: $secondary-color;
}
