.commercial-project-section {
    .commercial-project-content {
        img {
            width: 100%;
            display: block;
        }
        iframe{
            @include breakpoint(mobile_landscape){
                width: 500px !important;
                margin: 0 auto;
                height: 275px !important;
                display: block;
            }
            @include breakpoint(mobile_portrait){
                width: 280px !important;
                margin: 0 auto;
                height: auto !important;
                display: block;
            }
        }
    }
}

.brands-logo {
    .brands-logo--box {
        width: 33%;
        padding: 1rem;

        .brands-logo--img {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 80%;
                display: block;
            }
        }
    }
}

.tile-gallery-sm {
    margin-top: 3rem;
    @include breakpoint(mobile_landscape){
        padding: 0 5rem;
    }
    @include breakpoint(mobile_portrait){
        margin-top: 1rem;
    }

    .tile-gallery-sm--box {
        width: 17%;
        margin-right: 3%;
        margin-bottom: 4%;
        @include breakpoint(mobile_portrait){
            width: 47%; 
        }
        &:nth-child(2n + 2) {
            @include breakpoint(mobile_portrait){
                margin-right: 0rem;
            }
        }
        &:nth-child(5n + 5) {
            margin-right: 0rem;
        }

        a {
            display: block;

            .tile-gallery--img {
                height: 100%;
                overflow: hidden;
                width: 100%;
                img {
                    width: 100%;
                    display: block;
                    transition: transform 0.2s;
                }
            }
            h5 {
                font-weight: 300;
                color: $primary-color;
                font-size: 1rem;
                margin: 0.7rem 0 0;
            }
            &:hover {
                h5 {
                    color: $secondary-color;
                }
                .tile-gallery--img {
                  
                    img {
                        -ms-transform: scale(1.1); /* IE 9 */
                        -webkit-transform: scale(1.1); /* Safari 3-8 */
                        transform: scale(1.1); 
                    }
                }
            }
        }
    }
}

.project-gallery {
    h3 {
        padding-left: 4rem;
    }

    .project-gallery--box {
        width: 33%;
        padding: 0.4rem;
        @include breakpoint(mobile_portrait) {
            width: 50%;
        }

        a {
            display: block;
            transition: transform 0.5s;
            overflow: hidden;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                display: block;
                transition: transform 0.5s;
            }
            &:hover{
                img {
                    -ms-transform: scale(1.1); /* IE 9 */
                    -webkit-transform: scale(1.1); /* Safari 3-8 */
                    transform: scale(1.1); 
                }  
            }
        }
    }
}

.full-gallery--row {
    .full-gallery--box {
        width: 33.33%;
        padding: 3px;
        @include breakpoint(mobile_portrait) {
            width: 50%;
        }

        .full-gallery--img {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            a {
                display: block;

                img {
                    width: 100%;
                    display: block;
                    transition: transform 0.2s;
                }

                &:hover {
                    img {
                        -ms-transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.project-list-section {
    .project-list--box {
        width: 33%;
        padding: 0.4rem;
        margin: 1rem 0;
        @include breakpoint(mobile_landscape) {
            width: 50%;
        }
        @include breakpoint(mobile_portrait) {
            width: 100%;
        }

        a {
            display: block;

            .project-list--imgs {
                overflow: hidden;
                width: 100%;
                height: 100%;
                display: block;

                img {
                    width: 100%;
                    display: block;
                    transition: transform 0.2s;
                    
                }
            }

            h4 {
                margin: 0.8rem 0 0 0;
                padding: 0px;
                color: $primary-color;
            }
            &:hover {
                h4 {
                    color: $secondary-color;
                }
                .project-list--imgs {
                    img{
                        -ms-transform: scale(1.1); /* IE 9 */
                        -webkit-transform: scale(1.1); /* Safari 3-8 */
                        transform: scale(1.1); 
                    }
                }
            }
        }
    }
}
.single-flooring-types {
    .tile-gallery-sm {
        border-bottom: 1px $primary-color solid;
        padding-bottom: 3.5rem;
        @include breakpoint(mobile_portrait){
            padding-bottom: 1.5rem;
        }
    }
}
