.page-left {
  width: calc(100% - 400px);
  padding-right: 4rem;
  @include breakpoint(iPad_landscape) {
    width: calc(100% - 200px);
    padding-right: 2rem;
  }
  @include breakpoint(iPad) {
    width: calc(100% - 200px);
    padding-right: 2rem;
  }
  @include breakpoint(mobile) {
    width: 100%;
    padding: 0;
  }
  figure {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .post-thumbnail {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  #rank-math-toc {
    padding: 2rem;
    margin-bottom: 2rem;

    h2 {
      color: $white;
      margin: 0 0 10px 0;
    }
    nav {
      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
          margin: 0px;
          padding: 6px 0 6px 55px;
          position: relative;
          &::after{
            content: "\27B3";
            width: 10px;
            height: 10px;
            position: absolute;
            top: -13px;
            left: 0;
            color: #ffffff;
            font-size: 44px;
            
          }
          a {
            color: $white;
            text-decoration: underline;
            display: block;
          }
          ul {
            margin: 10px;
            li {
              ul {
                margin: 10px;
              }
              li {
                ul {
                  margin: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.page-right {
  width: 400px;
  @include breakpoint(iPad_landscape) {
    width: 200px;
  }
  @include breakpoint(iPad) {
    width: 200px;
  }
  @include breakpoint(mobile) {
   display: none;
  }

  .post-list-sidebar {
    h2 {
      margin: 0px;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      li {
        a {
          &.wpp-post-title {
            font-size: $font-size-base;
            color: $site_theme;
          }
          &:nth-child(1) {
            width: 100px;
            margin-right: 15px;
            float: left;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}

.details-page {
  .site-welcome {
    margin-bottom: 0px;
    border-radius: 5px 5px 0 0;
  }
  .hero-box-other {
    background: $site_theme;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 2rem;
    border-radius: 0 0 5px 5px;
    .hero-post-time {
      margin-left: 3rem;
    }
  }
}

.uploaded-img {
  position: relative;
  a.download-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $site_theme;
    @include padding(10px, 20px, 10px, 20px);
    color: $white;
    border: 0px;
  }
}

.details-page-left h3{
  font-size:1.5rem;
}
.gallery-img{
  ul {
    display:flex;
    list-style:none;
    margin:0 -8px;
    padding:0px;
    flex-wrap: wrap;
    li{
      width:33.33%;
      padding: 27px 8px;
      @include breakpoint(mobile_landscape){
        width: 50%;
    }
    @include breakpoint(mobile_portrait){
        width: 100%;
    }
      h5{
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 20px;
        text-transform: capitalize;
        margin: 17px 0 10px 0;
      }
    }
  }
} 

.gallery-img img{
  width:100%;
  height:auto;
  display:block

}

.popular-posts{
  h2{
    font-size: 22px;
  }
  ul{
    margin:0px;
    padding:0px;
    list-style:none;
    li{
      margin:10px 0;
      padding:0px;
      .post-stats{
        display: flex;
        align-items: center;
        .wpp-views{
          padding-right: 5px;
        }
        .wpp-author {
          display: flex;
          padding-left: 5px;
        }
      }
      a{
        display:block;
        margin:0px;
        padding:0px;
        font-size: 14px;
        &.wpp-post-title{
          font-size: 18px;
          font-weight: 500;
        }
      } 
     }
  }
}

.widget_block{
  margin-bottom: 20px;
  &:last-child{
    margin-bottom: 0px;
  }
}