.not-found{
    padding: 2rem 0;
    .not-found-img{
        background-image: url("data:image/svg+xml,%3Csvg width='217' height='94' viewBox='0 0 217 94' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M66.75 63L61.25 63.125L60.125 90.125L31.875 92.625L33.375 63.75L0 64.5L9.25 9.625H32.875L26 47.875L34.25 47.625L36.625 0.25H63.75L61.875 46.625L66.75 46.375V63ZM148.188 48.25C148.188 51.9167 147.771 55.5625 146.938 59.1875C146.146 62.8125 144.979 66.2917 143.438 69.625C141.896 72.9583 140 76.0625 137.75 78.9375C135.542 81.8125 133 84.3125 130.125 86.4375C127.25 88.5625 124.083 90.2292 120.625 91.4375C117.208 92.6458 113.521 93.25 109.562 93.25C105.562 93.25 101.833 92.6458 98.375 91.4375C94.9167 90.2292 91.75 88.5625 88.875 86.4375C86.0417 84.3125 83.5 81.8125 81.25 78.9375C79 76.0625 77.1042 72.9583 75.5625 69.625C74.0208 66.2917 72.8333 62.8125 72 59.1875C71.2083 55.5208 70.8125 51.875 70.8125 48.25C70.8125 44.625 71.2083 40.9792 72 37.3125C72.8333 33.6458 74.0208 30.1458 75.5625 26.8125C77.1042 23.4792 79 20.375 81.25 17.5C83.5 14.5833 86.0417 12.0625 88.875 9.9375C91.75 7.8125 94.9167 6.14583 98.375 4.9375C101.875 3.72917 105.604 3.125 109.562 3.125C113.521 3.125 117.208 3.72917 120.625 4.9375C124.083 6.14583 127.25 7.8125 130.125 9.9375C133 12.0625 135.542 14.5833 137.75 17.5C140 20.375 141.896 23.4792 143.438 26.8125C144.979 30.1458 146.146 33.6458 146.938 37.3125C147.771 40.9792 148.188 44.625 148.188 48.25ZM121.812 50.125C121.812 48.2917 121.562 46.25 121.062 44C120.562 41.75 119.792 39.6458 118.75 37.6875C117.708 35.7292 116.375 34.0833 114.75 32.75C113.125 31.4167 111.188 30.75 108.938 30.75C106.646 30.75 104.688 31.4167 103.062 32.75C101.438 34.0833 100.083 35.7292 99 37.6875C97.9583 39.6458 97.1875 41.75 96.6875 44C96.1875 46.25 95.9375 48.2917 95.9375 50.125C95.9375 51.9583 96.1875 54 96.6875 56.25C97.1875 58.5 97.9583 60.6042 99 62.5625C100.083 64.5208 101.438 66.1667 103.062 67.5C104.688 68.8333 106.646 69.5 108.938 69.5C111.188 69.5 113.125 68.8333 114.75 67.5C116.375 66.1667 117.708 64.5208 118.75 62.5625C119.792 60.6042 120.562 58.5 121.062 56.25C121.562 54 121.812 51.9583 121.812 50.125ZM216.75 63L211.25 63.125L210.125 90.125L181.875 92.625L183.375 63.75L150 64.5L159.25 9.625H182.875L176 47.875L184.25 47.625L186.625 0.25H213.75L211.875 46.625L216.75 46.375V63Z' fill='black'/%3E%3C/svg%3E%0A");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 300px;
        margin:3rem 0;
        height: 129px;
        @include breakpoint(mobile_portrait){
            width: 130px;
            height: 57px;
        }
    }
    .not-found-search-form{
        background: $light_bg;
        padding: 2rem;
        form{
            display: flex;
            label{
                width: calc(100% - 63px);
                
                input{
                    width: 100%;
                    font-size: 16px;
                    padding: 1.1rem;
                }
            }
            .searchsubmit{
                width: calc(63px);
                color: $white;
                padding: 1rem;
                font-size: 1.3rem;
                cursor: pointer;
                font-family: $fontFamily;
                font-weight: 400;
                border: 0px;
                

            }
        }
    }
}