@use '../helper/font-mixins' as *;
@use '../helper/breakpoint' as *;
body {
    font-family: "Poppins", serif;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    position: relative;
    @include font-size-sm; 
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
*, *::before, *::after {
    box-sizing: border-box;
}

a{
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    color: #000;
}


input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}

.container{
    max-width: 1600px;
    padding: 0 2rem;
    margin: 0 auto;
    @include breakpoint(320px, 767px) {
        padding: 0 1rem;
    }
}
.custom-row{
    display: flex;
    flex-wrap: wrap;
}
.hide-mobile{
    @include breakpoint(320px, 767px) {
        display: none;
    }
}

.txt-center{
    text-align: center;
}

.font-size-sm{
    @include font-size-md;
}
.min-height{
    min-height: 50vh;
}