/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
a,
button {
  cursor: pointer;
}

body {
  font-size: 19px;
}

.about-us-info, .transformations-col-section, .tagcloud-section, .welcome-text-section, .testimonials-section, .video-section, .sm-image-text-section, .main-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .about-us-info, .transformations-col-section, .tagcloud-section, .welcome-text-section, .testimonials-section, .video-section, .sm-image-text-section, .main-padding {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-us-info, .transformations-col-section, .tagcloud-section, .welcome-text-section, .testimonials-section, .video-section, .sm-image-text-section, .main-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.sm-image-text-section .sm-image-text-section-content {
  padding-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .sm-image-text-section .sm-image-text-section-content {
    padding-bottom: 4.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sm-image-text-section .sm-image-text-section-content {
    padding-bottom: 3rem;
  }
}

.desc--box ul li, p {
  line-height: 1.7rem;
}

.transformations-col-section .transformations-col-row .transformations-col, .welcome-text-section .welcome-text-section-left-pd, .video-section .video-section-content {
  margin-top: 3rem !important;
}

.contact-us-page::after, .home-page-slider-section .slider-img::after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.68) 0%, rgba(255, 255, 255, 0) 100%);
}

.contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content::before, .transformations-col-section .transformations-col-row .transformations-col:hover .transformations-col-img, .transformations-col-section .transformations-col-row .transformations-col, .home-page-slider-section .home-page-content .home-page-content-in .home-page-content-box::before, .sm-image-text-section .sm-image-text-sec-content .sm-image-text-sec-content-in, .sm-image-text-section .sm-image-text-sec-img img, .sm-image-text-section .sm-image-text-sec-img {
  -webkit-border-radius: 0 0 60px 0;
  -moz-border-radius: 0 0 60px 0;
  -ms-border-radius: 0 0 60px 0;
  border-radius: 0 0 60px 0;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}

.contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content::after, .page-feature-img::after, .home-page-slider-section .home-page-content .home-page-content-in .home-page-content-box::after {
  background: transparent;
  border-top: 30px #7aa836 solid;
  border-right: 30px #7aa836 solid;
  position: absolute;
  width: 300px;
  height: 300px;
  right: -30px;
  top: -30px;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content::after, .page-feature-img::after, .home-page-slider-section .home-page-content .home-page-content-in .home-page-content-box::after {
    border-top: 20px #7aa836 solid;
    border-right: 20px #7aa836 solid;
    height: 200px;
    width: 200px;
    right: -20px;
    top: -20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content::after, .page-feature-img::after, .home-page-slider-section .home-page-content .home-page-content-in .home-page-content-box::after {
    border-top: 20px #7aa836 solid;
    border-right: 20px #7aa836 solid;
    height: 200px;
    width: 200px;
    right: -20px;
    top: -20px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content::after, .page-feature-img::after, .home-page-slider-section .home-page-content .home-page-content-in .home-page-content-box::after {
    border-top: 20px #7aa836 solid;
    border-right: 20px #7aa836 solid;
    height: 150px;
    width: 150px;
    right: -20px;
    top: -20px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content::after, .page-feature-img::after, .home-page-slider-section .home-page-content .home-page-content-in .home-page-content-box::after {
    border-top: 20px #7aa836 solid;
    border-right: 20px #7aa836 solid;
    height: 200px;
    width: 200px;
    right: -20px;
    top: -20px;
  }
}

.btn-set--left {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.btn-set--center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.primary-btn,
.secondary-btn,
.primary-outline-btn,
.secondary-outline-btn,
.white-btn,
.wpcf7-submit,
.white-outline-btn {
  padding: 1rem 1.2rem;
  font-size: 0.9rem;
  display: block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  text-align: center;
  color: #1c232a;
  font-weight: 600;
}

.primary-btn {
  background-color: #7aa836;
  color: #fff;
  border: 1px #7aa836 solid;
}
.primary-btn:hover {
  background-color: #1c232a;
  color: #fff;
  border: 1px #1c232a solid;
}

.secondary-btn {
  background-color: #1c232a;
  color: #fff;
  border: 1px #1c232a solid;
}
.secondary-btn:hover {
  background-color: #7aa836;
  color: #fff;
  border: 1px #7aa836 solid;
}

.white-btn {
  background-color: #fff;
  color: #7aa836;
  border: 0px #1c232a solid;
}
.white-btn:focus {
  color: #7aa836;
}
.white-btn:hover {
  background-color: #7aa836;
  color: #fff;
  border: 0px #7aa836 solid;
}

.primary-outline-btn {
  color: #1c232a;
  border: 1px #7aa836 solid;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.primary-outline-btn i {
  background: url("../img/icons/arrow-right-green.svg") no-repeat center center;
  background-size: 14px;
  width: 14px;
  height: 17px;
  margin-left: 10px;
}
.primary-outline-btn:hover {
  color: #fff;
  border: 1px #7aa836 solid;
  background-color: #7aa836;
}
.primary-outline-btn:hover i {
  background: url("../img/icons/arrow-right-white.svg") no-repeat center center;
  background-size: 14px;
  background-color: transparent;
  width: 14px;
  height: 17px;
}

.secondary-outline-btn {
  color: #1c232a;
  border: 1px #1c232a solid;
  background-color: transparent;
}
.secondary-outline-btn i {
  background: url("../img/icons/arrow-right-green.svg") no-repeat center center;
  background-size: 14px;
  width: 14px;
  height: 17px;
  margin-left: 10px;
}
.secondary-outline-btn:hover {
  background-color: #fff;
  color: #fff;
  border: 1px #1c232a solid;
}
.secondary-outline-btn:hover i {
  background: url("../img/icons/arrow-right-green.svg") no-repeat center center;
  background-size: 14px;
  width: 14px;
  height: 17px;
}

.wpcf7-submit {
  background-color: #7aa836;
  color: #fff;
  border: 1px #7aa836 solid;
}
.wpcf7-submit:hover {
  background-color: #1c232a;
  color: #fff;
  border: 1px #1c232a solid;
}

.input-submit .wpcf7-spinner {
  display: none;
}

.secondary-bg .primary-outline-btn {
  color: #fff;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  background: #fff;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0px;
  color: #1c232a;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.content-wrapper section {
  overflow: hidden;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

strong {
  font-weight: 900;
}

.container-lg {
  max-width: 100%;
  width: calc(100% - 6rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .container-lg {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-lg {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-lg {
    width: calc(100% - 3rem);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container-lg {
    width: calc(100% - 2rem);
  }
}

.header-container-lg {
  max-width: 100%;
  width: calc(100% - 3rem);
  margin-left: auto;
  margin-right: 0;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .header-container-lg {
    width: calc(100% - 2rem);
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .header-container-lg {
    width: calc(100% - 2rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-container-lg {
    width: calc(100% - 3rem);
    margin-right: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header-container-lg {
    width: calc(100% - 2rem);
    margin-right: auto;
  }
}

.container {
  max-width: 1400px;
  width: calc(100% - 14rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .container {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container {
    width: calc(100% - 3rem);
  }
}

.container-md {
  max-width: 1200px;
  width: calc(100% - 24rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .container-md {
    width: calc(100% - 12rem);
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-md {
    width: calc(100% - 12rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-md {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-md {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-md {
    width: calc(100% - 3rem);
  }
}

.container-sm {
  max-width: 1040px;
  width: calc(100% - 10rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-sm {
    width: calc(100% - 5rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-sm {
    width: calc(100% - 6rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-sm {
    width: calc(100% - 3rem);
  }
}

.white-bg {
  background: #fff;
}

.primary-bg {
  color: #fff;
  background: #7aa836;
}

.secondary-bg {
  background: #1c232a;
  color: #fff;
}

.light-gray-bg {
  background: #e9e5e0;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.hide-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hide-desktop {
    display: block;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
  .hide-mobile {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hide-mobile {
    display: none;
  }
}

.desc--box p a {
  color: #1c232a;
  text-decoration: none;
}
.desc--box p a:hover {
  text-decoration: underline;
  color: #7aa836;
}
.desc--box p:first-child {
  margin-top: 0px;
}
.desc--box p:last-child {
  margin: 0px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .desc--box p br {
    display: none;
  }
}
.desc--box ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.desc--box ul li {
  position: relative;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 1.4rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .desc--box ul li br {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .desc--box ul li br {
    display: none;
  }
}
.desc--box ul li::before {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0px;
  top: 6px;
  background: transparent;
  border: 1px #7aa836 solid;
  content: "";
  border-radius: 0px;
}
.desc--box ul ~ p:last-child {
  margin-top: 1.5rem;
}
.desc--box table tr td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.desc--box table tr td:nth-child(1) {
  width: 150px;
  padding-right: 15px;
}

.no-margin-right-auto {
  margin-right: 0px;
}

.main-container {
  min-height: 90vh;
  padding-top: 7rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main-container {
    padding-top: 6rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .main-container {
    padding-top: 5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-container {
    padding-top: 5rem;
  }
}

.home .main-container {
  padding-top: 0rem;
}

.back-btn-box {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.back-btn-box .back-btn {
  font-size: 1.5rem;
  color: #7aa836;
  text-transform: lowercase;
  position: relative;
  font-weight: 400;
  padding: 0 0 1rem 0;
}
.back-btn-box .back-btn strong {
  display: inline-block;
  font-weight: 400;
}
.back-btn-box .back-btn::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100px;
  height: 5px;
  background: #7aa836;
}
.back-btn-box .back-btn:hover {
  color: #7aa836;
}

.hide-in-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hide-in-desktop {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .hide-in-mobile {
    display: none;
  }
}

h1.text-center {
  text-align: center;
  color: #7aa836;
  margin: 0px;
}

.hd-center {
  text-align: center;
}

.hd-right {
  text-align: center;
}

.hd-left {
  text-align: center;
}

.page-heading {
  text-align: center;
}
.page-heading h1 {
  color: #1c232a;
  margin: 0px;
  padding: 7rem 0;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .page-heading h1 {
    padding: 5rem 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-heading h1 {
    padding: 5rem 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-heading h1 {
    padding: 4rem 0;
  }
}

/*Helpers Scss Files */
.card-box-1 {
  width: 8.333333%;
}

.card-box-2 {
  width: 16.666667%;
}

.card-box-3 {
  width: 25%;
}

.card-box-4 {
  width: 33.333333%;
}

.card-box-5 {
  width: 41.666667%;
}

.card-box-6 {
  width: 50%;
}

.card-box-7 {
  width: 58.333333%;
}

.card-box-8 {
  width: 66.666667%;
}

.card-box-9 {
  width: 75%;
}

.card-box-10 {
  width: 83.333333%;
}

.card-box-11 {
  width: 91.666667%;
}

.card-box-12 {
  width: 100%;
}

.who-we-are-section {
  padding-top: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .who-we-are-section {
    padding-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .who-we-are-section {
    padding-top: 3rem;
  }
}

.image-text-flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .image-text-flex-row {
    padding-left: 20%;
    padding-right: 20%;
    flex-direction: column-reverse;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row {
    padding-left: 13%;
    padding-right: 13%;
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row {
    padding-left: 6%;
    padding-right: 6%;
    flex-direction: column-reverse;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .image-text-flex-row {
    padding-left: 6%;
    padding-right: 6%;
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row {
    margin-bottom: 4rem;
    flex-direction: column-reverse;
  }
}
.image-text-flex-row:last-child {
  margin-bottom: 0px;
}
.image-text-flex-row .image-card-50 {
  width: 63%;
  background-size: cover;
  background-position: center;
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .image-text-flex-row .image-card-50 {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row .image-card-50 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row .image-card-50 {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row .image-card-50 {
    width: 100%;
  }
}
.image-text-flex-row .image-card-50 img {
  width: 100%;
  display: block;
  height: auto;
}
.image-text-flex-row .content-card-50 {
  width: 37%;
  padding-left: 3%;
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .image-text-flex-row .content-card-50 {
    width: 100%;
    padding-left: 0%;
    margin-bottom: 3rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row .content-card-50 {
    width: 100%;
    padding-left: 0%;
    margin-bottom: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row .content-card-50 {
    width: 100%;
    padding-left: 0%;
    margin-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row .content-card-50 {
    width: 100%;
    padding-left: 0%;
    margin-bottom: 3rem;
  }
}
.image-text-flex-row .content-card-50 .section-hd {
  margin: 0px;
}
.image-text-flex-row .content-card-50 .desc--box {
  margin: 2rem 0;
  min-height: 250px;
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 95px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 95px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 95px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 84px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 95px;
  }
}
.image-text-flex-row .image-card img {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 30px;
}
.image-text-flex-row .content-card-inner {
  position: relative;
  height: 100%;
}
.image-text-flex-row .content-card-inner.download-btn-yes {
  padding-bottom: 5rem;
}
.image-text-flex-row .content-card-inner h2 {
  margin: 0px;
  padding: 0px;
}
.image-text-flex-row .content-card-inner .desc--box {
  margin-top: 1rem;
}
.image-text-flex-row .content-card-inner .btn-set--left {
  position: absolute;
  bottom: 0px;
  left: 0;
}
.image-text-flex-row.image-text-flex-row-right {
  flex-direction: row-reverse;
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .image-text-flex-row.image-text-flex-row-right {
    flex-direction: row-reverse;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row.image-text-flex-row-right {
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row.image-text-flex-row-right {
    flex-direction: row-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row.image-text-flex-row-right {
    flex-direction: row-reverse;
  }
}
.image-text-flex-row.image-text-flex-row-right .content-card-50 {
  padding-right: 5%;
  padding-left: 0px;
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .image-text-flex-row.image-text-flex-row-right .content-card-50 {
    padding-right: 0%;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row.image-text-flex-row-right .content-card-50 {
    padding-right: 0%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row.image-text-flex-row-right .content-card-50 {
    padding-right: 0%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row.image-text-flex-row-right .content-card-50 {
    padding-right: 0%;
  }
}

.input-field {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 2rem;
  margin-left: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .input-field {
    margin-top: 1.2rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
.input-field label {
  font-size: 1rem;
  color: #1c232a;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-weight: 100;
}
.input-field label a {
  color: #fff;
  text-decoration: underline;
}
.input-field label a:hover {
  color: #7aa836;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea,
.input-field select {
  border-width: 1px;
  border-color: #1c232a;
  border-style: solid;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 100%;
  font-size: 1rem;
  color: #1c232a;
  background: #fff;
  -webkit-appearance: none;
  border-radius: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled,
.input-field select:disabled {
  opacity: 0.5;
}
.input-field input[type=text]::-webkit-input-placeholder,
.input-field input[type=email]::-webkit-input-placeholder,
.input-field input[type=password]::-webkit-input-placeholder,
.input-field input[type=number]::-webkit-input-placeholder,
.input-field input[type=date]::-webkit-input-placeholder,
.input-field textarea::-webkit-input-placeholder,
.input-field select::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 1rem;
  color: #1c232a;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  opacity: 1;
  text-transform: lowercase;
}
.input-field input[type=text]::-moz-placeholder,
.input-field input[type=email]::-moz-placeholder,
.input-field input[type=password]::-moz-placeholder,
.input-field input[type=number]::-moz-placeholder,
.input-field input[type=date]::-moz-placeholder,
.input-field textarea::-moz-placeholder,
.input-field select::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-size: 1rem;
  color: #1c232a;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  opacity: 1;
  text-transform: lowercase;
}
.input-field input[type=text]:-ms-input-placeholder,
.input-field input[type=email]:-ms-input-placeholder,
.input-field input[type=password]:-ms-input-placeholder,
.input-field input[type=number]:-ms-input-placeholder,
.input-field input[type=date]:-ms-input-placeholder,
.input-field textarea:-ms-input-placeholder,
.input-field select:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-size: 1rem;
  color: #1c232a;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  opacity: 1;
  text-transform: lowercase;
}
.input-field input[type=text]:-moz-placeholder,
.input-field input[type=email]:-moz-placeholder,
.input-field input[type=password]:-moz-placeholder,
.input-field input[type=number]:-moz-placeholder,
.input-field input[type=date]:-moz-placeholder,
.input-field textarea:-moz-placeholder,
.input-field select:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-size: 1rem;
  color: #1c232a;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  opacity: 1;
  text-transform: lowercase;
}
.input-field textarea {
  height: 126px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

select {
  width: 100%;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  h1 {
    font-size: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  h1 {
    font-size: 2.5rem;
  }
}

.video-section h2, h2 {
  font-size: 3rem;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .video-section h2, h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .video-section h2, h2 {
    font-size: 2.2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .video-section h2, h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 2.2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  h3 {
    font-size: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  h3 {
    font-size: 1.7rem;
  }
}

h4 {
  font-size: 1.8rem;
  font-weight: 600;
}
@media (min-width: 568px) and (max-width: 767px) {
  h4 {
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  h4 {
    font-size: 1.3rem;
  }
}

h5 {
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 568px) and (max-width: 767px) {
  h5 {
    font-size: 1.2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  h5 {
    font-size: 1rem;
  }
}

ul.social-media-icon {
  margin: 0;
  padding: 0px;
  list-style: none;
  display: flex;
}
ul.social-media-icon li {
  margin: 0 1rem 0 0;
  padding: 0;
}
@media (min-width: 320px) and (max-width: 567px) {
  ul.social-media-icon li {
    margin: 0 0.6rem 0 0;
  }
}
ul.social-media-icon li:last-child {
  margin-right: 0px;
}
ul.social-media-icon li a {
  display: block;
  padding: 0;
  width: 55px;
  height: 55px;
}
ul.social-media-icon li a.facebook {
  background: url("../img/icons/guud property facebook white-01.svg") no-repeat center center;
  background-size: 100%;
}
ul.social-media-icon li a.facebook:hover {
  background: url("../img/icons/guud property facebook grey-01-01.svg") no-repeat center center;
  background-size: 100%;
}
ul.social-media-icon li a.instagram {
  background: url("../img/icons/guud property instagram white-01.svg") no-repeat center center;
  background-size: 100%;
}
ul.social-media-icon li a.instagram:hover {
  background: url("../img/icons/guud property instagram grey-01-01.svg") no-repeat center center;
  background-size: 100%;
}
ul.social-media-icon li a.linkedin {
  background: url("../img/icons/guud property linkedin white-01.svg") no-repeat center center;
  background-size: 100%;
}
ul.social-media-icon li a.linkedin:hover {
  background: url("../img/icons/guud property linkedin grey-01-01.svg") no-repeat center center;
  background-size: 100%;
}
ul.social-media-icon li a.twitter {
  background: url("../img/icons/guud property twitter white-01.svg") no-repeat center center;
  background-size: 100%;
}
ul.social-media-icon li a.twitter:hover {
  background: url("../img/icons/guud property twitter grey-01-01.svg") no-repeat center center;
  background-size: 100%;
}

.email-white-icon {
  background: url("../img/icons/envelope white.svg") no-repeat center center;
}
.email-white-icon:hover {
  background: url("../img/icons/envelope black.svg") no-repeat center center;
}

.telephone-white-icon {
  background: url("../img/icons/phone white.svg") no-repeat center center;
}
.telephone-white-icon:hover {
  background: url("../img/icons/phone black.svg") no-repeat center center;
}

/*Layout Scss Files */
.main-header {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
.main-header header {
  position: relative;
  padding: 1rem 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header header {
    padding: 1rem 0;
  }
}
.main-header .custom-row {
  align-items: center;
  position: relative;
  z-index: 2;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-header .custom-row {
    align-items: flex-end;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .custom-row {
    align-items: center;
  }
}
.main-header .logo a {
  display: block;
  padding: 0;
  z-index: 3;
}
.main-header .logo a img {
  display: block;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 240px;
}
.main-header .logo a img.logohide {
  display: block;
}
.main-header .logo a img.logoshow {
  display: none;
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .main-header .logo a img {
    width: 230px;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .main-header .logo a img {
    width: 210px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-header .logo a img {
    width: 200px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .logo a img {
    width: 130px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main-header .logo a img {
    width: 180px;
  }
}
.main-header .top-hdr-right {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .top-hdr-right {
    margin-left: 0;
    display: none;
  }
}
.main-header .nav_menu_inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
}
.main-header .nav_menu {
  width: 100%;
}
.main-header .nav-main {
  margin-right: 3rem;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .nav-main {
    margin-right: 0;
  }
}
.main-header .nav-main ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.main-header .nav-main ul li {
  margin: 0 2rem;
  padding: 0px;
}
.main-header .nav-main ul li .sub-menu-toggle {
  width: 0px;
  height: 0px;
  border: 0px;
  padding: 0px;
  background: transparent;
  display: none;
}
.main-header .nav-main ul li:first-child {
  margin-left: 1rem;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .main-header .nav-main ul li {
    margin: 0 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-header .nav-main ul li {
    margin: 0 1rem;
  }
}
.main-header .nav-main ul li a {
  display: block;
  font-size: 1.3rem;
  color: #1c232a;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 5px transparent solid;
  border-top: 5px transparent solid;
}
.main-header .nav-main ul li a:hover {
  color: #7aa836;
}
.main-header .nav-main ul li.current-menu-item a {
  border-bottom: 5px #7aa836 solid;
  color: #7aa836;
}
.main-header .nav-main ul li ul:empty {
  display: none;
}

.nav__toggle {
  display: none;
}
@media (min-width: 320px) and (max-width: 991px) {
  .nav__toggle {
    display: block;
  }
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 35px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: auto;
  top: 0px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
}
.nav__toggle span {
  height: 3px;
  width: 40px;
}
.nav__toggle span::before,
.nav__toggle span::after {
  height: 3px;
  width: 25px;
  right: 0px;
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  text-align: right;
  cursor: pointer;
  border-radius: 0px;
  background-color: #1c232a;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.2s;
  outline: 0;
}
.nav__toggle span {
  top: 15px;
}
.nav__toggle span::before {
  top: -10px;
}
.nav__toggle span::after {
  bottom: -10px;
  width: 25px;
}

.menu-slide {
  overflow: hidden;
  height: 100%;
}
.menu-slide .logo {
  opacity: 0;
}
.menu-slide .main-header .nav-main ul li a {
  color: #fff;
}
.menu-slide .main-header .nav-main ul li.menu-item-has-children ul li {
  background: transparent;
}
.menu-slide .main-header .nav-main ul li.current-menu-ancestor ul li a,
.menu-slide .main-header .nav-main ul li.current-menu-item ul li a {
  color: #fff;
}
.menu-slide .main-header {
  height: 100vh;
  background: #7aa836;
}
.menu-slide .main-header .top-hdr-right {
  display: block;
  position: absolute;
  width: 100%;
  height: calc(100vh - 89px);
  left: 0px;
  top: 49px;
  padding: 0;
}
.menu-slide .main-header .top-hdr-right .nav_menu {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner {
  justify-content: center;
  width: auto;
  margin: auto;
  display: block;
  border: 0px;
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul {
  display: block;
  text-align: left;
}
@media (min-width: 320px) and (max-width: 991px) {
  .menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul {
    text-align: center;
  }
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li {
  margin: 1.5rem 0;
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li {
    margin: 0.5rem 0;
  }
}
.menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li a {
  font-size: 1.6rem;
  font-weight: 200;
  border-bottom: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li a {
    font-size: 2.2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li a {
    font-size: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .menu-slide .main-header .top-hdr-right .nav_menu_inner .nav-main ul li a {
    font-size: 2rem;
  }
}
.menu-slide .main-header .nav-main ul li.current-menu-ancestor a,
.menu-slide .main-header .nav-main ul li.current-menu-item a {
  color: #1c232a;
  font-weight: 500 !important;
}
.menu-slide .main-header .nav-main ul li.current-menu-ancestor a:hover,
.menu-slide .main-header .nav-main ul li.current-menu-item a:hover {
  color: #1c232a;
}
.menu-slide .main-header .nav-main ul li.current-menu-ancestor ul li.current-menu-item a,
.menu-slide .main-header .nav-main ul li.current-menu-item ul li.current-menu-item a {
  color: #1c232a;
  font-weight: 500 !important;
}
.menu-slide .main-header .nav-main ul li.current-menu-ancestor ul li.current-menu-item a:hover,
.menu-slide .main-header .nav-main ul li.current-menu-item ul li.current-menu-item a:hover {
  color: #1c232a;
}
.menu-slide .main-header .nav-main ul li.current-menu-ancestor ul li a,
.menu-slide .main-header .nav-main ul li.current-menu-item ul li a {
  color: #fff;
  font-weight: 300 !important;
}
.menu-slide .main-header .nav-main ul li.current-menu-ancestor ul li a:hover,
.menu-slide .main-header .nav-main ul li.current-menu-item ul li a:hover {
  color: #1c232a;
}
.menu-slide .nav__toggle span {
  background-color: transparent;
  width: 35px;
}
.menu-slide .nav__toggle span::before, .menu-slide .nav__toggle span::after {
  top: 0;
  background-color: #fff;
}
.menu-slide .nav__toggle span::before {
  transform: rotate(45deg);
  width: 35px;
}
.menu-slide .nav__toggle span::after {
  transform: rotate(-45deg);
  width: 35px;
}
.menu-slide .nav__toggle:hover span {
  background-color: transparent;
  width: 35px;
}
.menu-slide .nav__toggle:hover span::before, .menu-slide .nav__toggle:hover span::after {
  background-color: #fff;
}
.menu-slide .nav__toggle:hover span::after {
  width: 35px;
}
.menu-slide .header-social-media.hide-mobile {
  display: none;
}

.sm-header.menu-slide .nav__toggle span {
  background-color: transparent !important;
}

.sm-header.menu-slide .nav__toggle span::before, .sm-header.menu-slide .nav__toggle span::after {
  background-color: #fff !important;
}

@media (min-width: 568px) and (max-width: 767px) {
  .header-social-media {
    margin-bottom: 50px;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .header-social-media {
    margin-left: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .header-social-media {
    margin-left: 20px;
  }
}
.header-social-media ul {
  display: flex;
  justify-content: start;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 320px) and (max-width: 991px) {
  .header-social-media ul {
    justify-content: center;
    border-top: 1px #fff solid;
    border-bottom: 1px #fff solid;
  }
}
.header-social-media ul li {
  padding: 0;
  margin: 0;
}
@media (min-width: 320px) and (max-width: 991px) {
  .header-social-media ul li {
    width: 50%;
  }
}
.header-social-media ul li a {
  border: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7aa836;
  width: 64px;
  height: 55px;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 991px) {
  .header-social-media ul li a {
    margin: auto;
  }
}
.header-social-media ul li a i {
  display: block;
}
.header-social-media ul li a i.email-white-icon {
  width: 39px;
  height: 28px;
}
.header-social-media ul li a i.telephone-white-icon {
  width: 34px;
  height: 30px;
}
.header-social-media ul li:last-child {
  border-left: 1px #fff solid;
}

@media (min-width: 320px) and (max-width: 991px) {
  .sm-header .nav__toggle span,
  .sm-header .nav__toggle span::before,
  .sm-header .nav__toggle span::after {
    background-color: #1c232a;
  }
  .sm-header .main-header header .nav-main ul li a {
    color: #fff;
  }
}

.home .main-header {
  position: fixed;
}
.home .main-header header {
  background-color: transparent;
  padding: 2rem 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
}
@media (min-width: 320px) and (max-width: 991px) {
  .home .main-header header {
    padding: 1rem 0;
  }
}
.home .main-header .logo a img {
  width: 290px;
}
.home .main-header .logo a img.logohide {
  display: none;
}
.home .main-header .logo a img.logoshow {
  display: block;
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .home .main-header .logo a img {
    width: 240px;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .home .main-header .logo a img {
    width: 210px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .home .main-header .logo a img {
    width: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .home .main-header .logo a img {
    width: 180px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .home .main-header .logo a img {
    width: 180px;
  }
}
.home .main-header .nav-main ul li a {
  color: #fff;
}
.home .main-header .nav-main ul li a:hover {
  color: #7aa836;
}
.home .sm-header .main-header {
  position: fixed;
}
.home .sm-header .main-header header {
  background-color: white;
  padding: 1rem 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.home .sm-header .main-header .logo a img {
  width: 250px;
}
.home .sm-header .main-header .logo a img.logohide {
  display: block;
}
.home .sm-header .main-header .logo a img.logoshow {
  display: none;
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .home .sm-header .main-header .logo a img {
    width: 230px;
  }
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .home .sm-header .main-header .logo a img {
    width: 210px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .home .sm-header .main-header .logo a img {
    width: 200px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .home .sm-header .main-header .logo a img {
    width: 130px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .home .sm-header .main-header .logo a img {
    width: 180px;
  }
}
.home .sm-header .main-header .nav-main ul li a {
  color: #1c232a;
}
.home .sm-header .main-header .nav-main ul li a:hover {
  color: #7aa836;
}

@media (min-width: 320px) and (max-width: 991px) {
  .home .nav__toggle span, .home .nav__toggle span::before, .home .nav__toggle span::after {
    background-color: #fff;
  }
  .home .sm-header .nav__toggle span::before, .home .sm-header .nav__toggle span::after {
    background-color: #1c232a;
  }
  .home .sm-header .nav__toggle span {
    background-color: #1c232a;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .home.menu-slide .sm-header .nav__toggle span {
    background-color: transparent;
  }
  .home.menu-slide .sm-header .nav__toggle span::before, .home.menu-slide .sm-header .nav__toggle span::after {
    background-color: #fff;
  }
  .home.menu-slide .sm-header .nav__toggle span {
    background-color: transparent;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .menu-slide .sm-header .main-header header,
  .menu-slide .main-header header {
    background-color: transparent;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
  }
  .menu-slide.home .sm-header .main-header .nav-main ul li a {
    color: #fff;
  }
}

.main-footer {
  background: #fff;
  padding: 1rem 0;
  border-top: 5px #1c232a solid;
  border-bottom: 5px #1c232a solid;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer {
    border-top: 3px #1c232a solid;
    border-bottom: 3px #1c232a solid;
  }
}
.main-footer .custom-row {
  align-items: center;
}
.main-footer .footer-left {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-left {
    width: 100%;
    padding-right: 0rem;
  }
}
.main-footer .footer-left .site-footer-logo {
  width: 250px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-left .site-footer-logo {
    margin: auto;
  }
}
.main-footer .footer-left .site-footer-logo img {
  width: 100%;
  height: auto;
  display: block;
}
.main-footer .footer-right {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right {
    width: 100%;
  }
}
.main-footer .footer-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: end;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right ul {
    justify-content: center;
    text-align: center;
    position: relative;
    padding-top: 1rem;
    margin-top: 0.5rem;
    text-align: center;
  }
}
.main-footer .footer-right ul li {
  margin: 0;
  border-right: 1px #7aa836 solid;
  padding: 0 15px;
  font-size: 15px;
  color: #1c232a;
}
.main-footer .footer-right ul li:last-child {
  margin-bottom: 0px;
  border-right: 0px;
}
.main-footer .footer-right ul li a {
  font-size: 15px;
  color: #1c232a;
  text-transform: uppercase;
}
.main-footer .footer-right ul li a:hover {
  color: #7aa836;
}
.main-footer .footer-right p {
  font-size: 15px;
  color: #1c232a;
  margin-top: 1rem;
  text-align: right;
  margin-bottom: 0;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .main-footer .footer-right p {
    margin-top: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .footer-right p {
    margin-top: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-right p {
    text-align: center;
  }
}
.main-footer .footer-right p a {
  font-weight: 500;
  color: #7aa836;
}
.main-footer .footer-right p a:hover {
  color: #1c232a;
}

/*Components Scss Files */
:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.splash-section {
  background: #1c232a;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9;
  display: none;
}
.splash-section .splash-logo {
  width: 300px;
  display: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .splash-section .splash-logo {
    width: 250px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .splash-section .splash-logo {
    width: 150px;
  }
}
.splash-section .splash-logo img {
  width: 100%;
  height: auto;
  display: block;
}

.preloader-show .splash-section {
  display: flex;
}

.show__img {
  display: block !important;
}

.preloader-img {
  display: block !important;
}
.preloader-img img {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.5s linear;
  animation: load8 1.5s linear;
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .sm-image-text-section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .sm-image-text-section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.sm-image-text-section .sm-image-text-section-content {
  display: flex;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .sm-image-text-section .sm-image-text-section-content {
    flex-wrap: wrap;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sm-image-text-section .sm-image-text-section-content {
    flex-wrap: wrap;
  }
}
.sm-image-text-section .sm-image-text-section-content:last-child {
  padding-bottom: 0;
}
.sm-image-text-section .sm-image-text-sec-img {
  width: 45%;
  margin-top: 5rem;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .sm-image-text-section .sm-image-text-sec-img {
    height: 400px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sm-image-text-section .sm-image-text-sec-img {
    height: 300px;
  }
}
.sm-image-text-section .sm-image-text-sec-img picture {
  display: none;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .sm-image-text-section .sm-image-text-sec-img {
    width: 80%;
    margin-left: 0;
    padding-top: 0rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .sm-image-text-section .sm-image-text-sec-img {
    width: 80%;
    margin-left: 0;
    padding-top: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .sm-image-text-section .sm-image-text-sec-img {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0rem;
  }
}
.sm-image-text-section .sm-image-text-sec-img img {
  width: 100%;
  height: 100%;
}
.sm-image-text-section .sm-image-text-sec-content {
  width: 62%;
  margin-left: -7rem;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .sm-image-text-section .sm-image-text-sec-content {
    width: 100%;
    padding: 0rem 0rem 0rem 0rem;
    margin-left: 4rem;
    margin-top: -4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .sm-image-text-section .sm-image-text-sec-content {
    width: 100%;
    padding: 0rem 0rem 0rem 0rem;
    margin-left: 4rem;
    margin-top: -4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .sm-image-text-section .sm-image-text-sec-content {
    width: 100%;
    padding: 0rem 0rem 0rem 0rem;
    margin-left: 0rem;
    margin-top: -4rem;
  }
}
.sm-image-text-section .sm-image-text-sec-content .sm-image-text-sec-content-in {
  padding: 2rem 6rem 5rem 12rem;
  border: 1px #7aa836 solid;
  margin-bottom: 5rem;
  display: flex;
  min-height: 500px;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .sm-image-text-section .sm-image-text-sec-content .sm-image-text-sec-content-in {
    padding: 4rem 4rem 4rem 4rem;
    min-height: 100px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .sm-image-text-section .sm-image-text-sec-content .sm-image-text-sec-content-in {
    padding: 4rem 2rem 2rem 2rem;
    min-height: 100px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .sm-image-text-section .sm-image-text-sec-content .sm-image-text-sec-content-in {
    padding: 4rem 2rem 2rem 2rem;
    min-height: 100px;
  }
}
.sm-image-text-section .sm-image-text-sec-content .desc--box {
  margin-top: 1rem;
}
.sm-image-text-section .sm-image-text-sec-content .btn-set--left {
  margin-top: 1.5rem;
}
.sm-image-text-section .secondary-post-row {
  flex-direction: row-reverse;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .sm-image-text-section .secondary-post-row {
    flex-direction: row;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .sm-image-text-section .secondary-post-row {
    flex-direction: row;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .sm-image-text-section .secondary-post-row {
    flex-direction: row;
  }
}
.sm-image-text-section .secondary-post-row .btn-set--right {
  padding-right: 12rem;
}
.sm-image-text-section .secondary-post-row .sm-image-text-sec-content {
  margin-left: 0rem;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .sm-image-text-section .secondary-post-row .sm-image-text-sec-content {
    margin-left: 4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .sm-image-text-section .secondary-post-row .sm-image-text-sec-content {
    margin-left: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .sm-image-text-section .secondary-post-row .sm-image-text-sec-content {
    margin-left: 0rem;
  }
}
.sm-image-text-section .secondary-post-row .sm-image-text-sec-content .sm-image-text-sec-content-in {
  padding: 2rem 12rem 5rem 6rem;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .sm-image-text-section .secondary-post-row .sm-image-text-sec-content .sm-image-text-sec-content-in {
    padding: 4rem 4rem 4rem 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sm-image-text-section .secondary-post-row .sm-image-text-sec-content .sm-image-text-sec-content-in {
    padding: 4rem 2rem 2rem 2rem;
  }
}
.sm-image-text-section .secondary-post-row .sm-image-text-sec-img {
  margin-left: -7rem;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .sm-image-text-section .secondary-post-row .sm-image-text-sec-img {
    margin-left: 0rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .sm-image-text-section .secondary-post-row .sm-image-text-sec-img {
    margin-left: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .sm-image-text-section .secondary-post-row .sm-image-text-sec-img {
    margin-left: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sm-image-text-section.secondary-bg ~ .sm-image-text-section.secondary-bg {
    padding: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sm-image-text-section.secondary-bg ~ .sm-image-text-section.secondary-bg {
    padding: 0px;
  }
}

.video-section h2 {
  margin: 0;
  padding: 0px;
  color: #1c232a;
  text-align: center;
}
.video-section .video-section-content {
  margin: auto auto auto auto;
}
.video-section .video-section-content iframe {
  border: 8px #6e3153 solid;
  width: 100% !important;
  height: 480px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .video-section .video-section-content iframe {
    height: 360px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .video-section .video-section-content iframe {
    height: 345px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .video-section .video-section-content iframe {
    height: 218px;
  }
}

.testimonials-section .testimonials-section-content {
  margin: auto;
}
.testimonials-section .testimonials-section-content strong {
  font-weight: 600;
  color: #fff;
  font-size: 1.6rem;
  text-align: left;
  display: inline-block;
  font-style: italic;
  padding-left: 80px;
  padding-right: 70px;
  position: relative;
  padding-bottom: 2rem;
  line-height: 2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .testimonials-section-content strong {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .testimonials-section .testimonials-section-content strong {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .testimonials-section .testimonials-section-content strong {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-left: 45px;
    padding-right: 0px;
  }
}
.testimonials-section .testimonials-section-content strong::after, .testimonials-section .testimonials-section-content strong::before {
  content: "";
  width: 55px;
  height: 55px;
  position: absolute;
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .testimonials-section-content strong::after, .testimonials-section .testimonials-section-content strong::before {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .testimonials-section .testimonials-section-content strong::after, .testimonials-section .testimonials-section-content strong::before {
    width: 30px;
    height: 30px;
  }
}
.testimonials-section .testimonials-section-content strong::after {
  background: url("../img/icons/Quotation mark top.svg") no-repeat top left;
  background-size: 100%;
  left: 0px;
  top: 0px;
}
.testimonials-section .testimonials-section-content strong::before {
  background: url("../img/icons/Quotation mark btm.svg") no-repeat top left;
  background-size: 100%;
  right: 0px;
  bottom: 0px;
}
.testimonials-section .testimonials-section-content i {
  display: block;
  text-align: right;
  font-size: 1.3rem;
  margin-top: 2rem;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .testimonials-section-content i {
    font-size: 1.2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .testimonials-section .testimonials-section-content i {
    font-size: 1.2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .testimonials-section .testimonials-section-content i {
    font-size: 1rem;
  }
}

.photo-gallery-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .photo-gallery-row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.photo-gallery-row .photo-gallery-box {
  height: 500px;
  overflow: hidden;
  margin: 5px;
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .photo-gallery-row .photo-gallery-box {
    height: 350px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .photo-gallery-row .photo-gallery-box {
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .photo-gallery-row .photo-gallery-box {
    height: 250px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .photo-gallery-row .photo-gallery-box {
    height: 220px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .photo-gallery-row .photo-gallery-box {
    background-image: none !important;
    height: auto;
  }
}
.photo-gallery-row .photo-gallery-box:nth-child(1), .photo-gallery-row .photo-gallery-box:nth-child(3), .photo-gallery-row .photo-gallery-box:nth-child(4), .photo-gallery-row .photo-gallery-box:nth-child(5), .photo-gallery-row .photo-gallery-box:nth-child(7), .photo-gallery-row .photo-gallery-box:nth-child(8), .photo-gallery-row .photo-gallery-box:nth-child(9), .photo-gallery-row .photo-gallery-box:nth-child(10), .photo-gallery-row .photo-gallery-box:nth-child(11), .photo-gallery-row .photo-gallery-box:nth-child(13), .photo-gallery-row .photo-gallery-box:nth-child(14), .photo-gallery-row .photo-gallery-box:nth-child(15), .photo-gallery-row .photo-gallery-box:nth-child(17), .photo-gallery-row .photo-gallery-box:nth-child(18), .photo-gallery-row .photo-gallery-box:nth-child(19), .photo-gallery-row .photo-gallery-box:nth-child(20), .photo-gallery-row .photo-gallery-box:nth-child(21), .photo-gallery-row .photo-gallery-box:nth-child(23), .photo-gallery-row .photo-gallery-box:nth-child(24), .photo-gallery-row .photo-gallery-box:nth-child(25), .photo-gallery-row .photo-gallery-box:nth-child(27), .photo-gallery-row .photo-gallery-box:nth-child(28), .photo-gallery-row .photo-gallery-box:nth-child(30), .photo-gallery-row .photo-gallery-box:nth-child(31), .photo-gallery-row .photo-gallery-box:nth-child(32), .photo-gallery-row .photo-gallery-box:nth-child(33), .photo-gallery-row .photo-gallery-box:nth-child(36), .photo-gallery-row .photo-gallery-box:nth-child(37), .photo-gallery-row .photo-gallery-box:nth-child(38), .photo-gallery-row .photo-gallery-box:nth-child(39), .photo-gallery-row .photo-gallery-box:nth-child(41), .photo-gallery-row .photo-gallery-box:nth-child(42), .photo-gallery-row .photo-gallery-box:nth-child(44), .photo-gallery-row .photo-gallery-box:nth-child(45), .photo-gallery-row .photo-gallery-box:nth-child(46), .photo-gallery-row .photo-gallery-box:nth-child(47), .photo-gallery-row .photo-gallery-box:nth-child(50), .photo-gallery-row .photo-gallery-box:nth-child(51), .photo-gallery-row .photo-gallery-box:nth-child(52), .photo-gallery-row .photo-gallery-box:nth-child(53), .photo-gallery-row .photo-gallery-box:nth-child(55), .photo-gallery-row .photo-gallery-box:nth-child(56), .photo-gallery-row .photo-gallery-box:nth-child(58), .photo-gallery-row .photo-gallery-box:nth-child(59), .photo-gallery-row .photo-gallery-box:nth-child(60), .photo-gallery-row .photo-gallery-box:nth-child(62), .photo-gallery-row .photo-gallery-box:nth-child(63), .photo-gallery-row .photo-gallery-box:nth-child(65), .photo-gallery-row .photo-gallery-box:nth-child(66), .photo-gallery-row .photo-gallery-box:nth-child(67), .photo-gallery-row .photo-gallery-box:nth-child(69), .photo-gallery-row .photo-gallery-box:nth-child(70), .photo-gallery-row .photo-gallery-box:nth-child(72), .photo-gallery-row .photo-gallery-box:nth-child(74), .photo-gallery-row .photo-gallery-box:nth-child(75), .photo-gallery-row .photo-gallery-box:nth-child(76), .photo-gallery-row .photo-gallery-box:nth-child(77), .photo-gallery-row .photo-gallery-box:nth-child(80) {
  width: calc(33.33% - 10px);
}
@media (min-width: 320px) and (max-width: 567px) {
  .photo-gallery-row .photo-gallery-box:nth-child(1), .photo-gallery-row .photo-gallery-box:nth-child(3), .photo-gallery-row .photo-gallery-box:nth-child(4), .photo-gallery-row .photo-gallery-box:nth-child(5), .photo-gallery-row .photo-gallery-box:nth-child(7), .photo-gallery-row .photo-gallery-box:nth-child(8), .photo-gallery-row .photo-gallery-box:nth-child(9), .photo-gallery-row .photo-gallery-box:nth-child(10), .photo-gallery-row .photo-gallery-box:nth-child(11), .photo-gallery-row .photo-gallery-box:nth-child(13), .photo-gallery-row .photo-gallery-box:nth-child(14), .photo-gallery-row .photo-gallery-box:nth-child(15), .photo-gallery-row .photo-gallery-box:nth-child(17), .photo-gallery-row .photo-gallery-box:nth-child(18), .photo-gallery-row .photo-gallery-box:nth-child(19), .photo-gallery-row .photo-gallery-box:nth-child(20), .photo-gallery-row .photo-gallery-box:nth-child(21), .photo-gallery-row .photo-gallery-box:nth-child(23), .photo-gallery-row .photo-gallery-box:nth-child(24), .photo-gallery-row .photo-gallery-box:nth-child(25), .photo-gallery-row .photo-gallery-box:nth-child(27), .photo-gallery-row .photo-gallery-box:nth-child(28), .photo-gallery-row .photo-gallery-box:nth-child(30), .photo-gallery-row .photo-gallery-box:nth-child(31), .photo-gallery-row .photo-gallery-box:nth-child(32), .photo-gallery-row .photo-gallery-box:nth-child(33), .photo-gallery-row .photo-gallery-box:nth-child(36), .photo-gallery-row .photo-gallery-box:nth-child(37), .photo-gallery-row .photo-gallery-box:nth-child(38), .photo-gallery-row .photo-gallery-box:nth-child(39), .photo-gallery-row .photo-gallery-box:nth-child(41), .photo-gallery-row .photo-gallery-box:nth-child(42), .photo-gallery-row .photo-gallery-box:nth-child(44), .photo-gallery-row .photo-gallery-box:nth-child(45), .photo-gallery-row .photo-gallery-box:nth-child(46), .photo-gallery-row .photo-gallery-box:nth-child(47), .photo-gallery-row .photo-gallery-box:nth-child(50), .photo-gallery-row .photo-gallery-box:nth-child(51), .photo-gallery-row .photo-gallery-box:nth-child(52), .photo-gallery-row .photo-gallery-box:nth-child(53), .photo-gallery-row .photo-gallery-box:nth-child(55), .photo-gallery-row .photo-gallery-box:nth-child(56), .photo-gallery-row .photo-gallery-box:nth-child(58), .photo-gallery-row .photo-gallery-box:nth-child(59), .photo-gallery-row .photo-gallery-box:nth-child(60), .photo-gallery-row .photo-gallery-box:nth-child(62), .photo-gallery-row .photo-gallery-box:nth-child(63), .photo-gallery-row .photo-gallery-box:nth-child(65), .photo-gallery-row .photo-gallery-box:nth-child(66), .photo-gallery-row .photo-gallery-box:nth-child(67), .photo-gallery-row .photo-gallery-box:nth-child(69), .photo-gallery-row .photo-gallery-box:nth-child(70), .photo-gallery-row .photo-gallery-box:nth-child(72), .photo-gallery-row .photo-gallery-box:nth-child(74), .photo-gallery-row .photo-gallery-box:nth-child(75), .photo-gallery-row .photo-gallery-box:nth-child(76), .photo-gallery-row .photo-gallery-box:nth-child(77), .photo-gallery-row .photo-gallery-box:nth-child(80) {
    width: calc(50% - 10px);
  }
}
.photo-gallery-row .photo-gallery-box:nth-child(2), .photo-gallery-row .photo-gallery-box:nth-child(6), .photo-gallery-row .photo-gallery-box:nth-child(12), .photo-gallery-row .photo-gallery-box:nth-child(16), .photo-gallery-row .photo-gallery-box:nth-child(22), .photo-gallery-row .photo-gallery-box:nth-child(26), .photo-gallery-row .photo-gallery-box:nth-child(29), .photo-gallery-row .photo-gallery-box:nth-child(34), .photo-gallery-row .photo-gallery-box:nth-child(35), .photo-gallery-row .photo-gallery-box:nth-child(40), .photo-gallery-row .photo-gallery-box:nth-child(43), .photo-gallery-row .photo-gallery-box:nth-child(48), .photo-gallery-row .photo-gallery-box:nth-child(49), .photo-gallery-row .photo-gallery-box:nth-child(54), .photo-gallery-row .photo-gallery-box:nth-child(57), .photo-gallery-row .photo-gallery-box:nth-child(61), .photo-gallery-row .photo-gallery-box:nth-child(64), .photo-gallery-row .photo-gallery-box:nth-child(68), .photo-gallery-row .photo-gallery-box:nth-child(71), .photo-gallery-row .photo-gallery-box:nth-child(73), .photo-gallery-row .photo-gallery-box:nth-child(78), .photo-gallery-row .photo-gallery-box:nth-child(79) {
  width: calc(66.66% - 10px);
}
@media (min-width: 320px) and (max-width: 567px) {
  .photo-gallery-row .photo-gallery-box:nth-child(2), .photo-gallery-row .photo-gallery-box:nth-child(6), .photo-gallery-row .photo-gallery-box:nth-child(12), .photo-gallery-row .photo-gallery-box:nth-child(16), .photo-gallery-row .photo-gallery-box:nth-child(22), .photo-gallery-row .photo-gallery-box:nth-child(26), .photo-gallery-row .photo-gallery-box:nth-child(29), .photo-gallery-row .photo-gallery-box:nth-child(34), .photo-gallery-row .photo-gallery-box:nth-child(35), .photo-gallery-row .photo-gallery-box:nth-child(40), .photo-gallery-row .photo-gallery-box:nth-child(43), .photo-gallery-row .photo-gallery-box:nth-child(48), .photo-gallery-row .photo-gallery-box:nth-child(49), .photo-gallery-row .photo-gallery-box:nth-child(54), .photo-gallery-row .photo-gallery-box:nth-child(57), .photo-gallery-row .photo-gallery-box:nth-child(61), .photo-gallery-row .photo-gallery-box:nth-child(64), .photo-gallery-row .photo-gallery-box:nth-child(68), .photo-gallery-row .photo-gallery-box:nth-child(71), .photo-gallery-row .photo-gallery-box:nth-child(73), .photo-gallery-row .photo-gallery-box:nth-child(78), .photo-gallery-row .photo-gallery-box:nth-child(79) {
    width: calc(50% - 10px);
  }
}
.photo-gallery-row .photo-gallery-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: 0.5s all ease-in-out;
}
.photo-gallery-row .photo-gallery-box a img {
  height: 100%;
  opacity: 0;
  width: 100%;
  display: block;
}
@media (min-width: 320px) and (max-width: 567px) {
  .photo-gallery-row .photo-gallery-box a img {
    opacity: 1;
  }
}
.photo-gallery-row .photo-gallery-box a:hover {
  transform: scale(1.1);
}

.fancybox__slide.has-image > .fancybox__content {
  background: #fff;
  padding: 1rem 1rem 2rem 1rem;
  width: 100% !important;
  height: 700px !important;
}
@media (min-width: 1024px) and (max-width: 1250) {
  .fancybox__slide.has-image > .fancybox__content {
    height: 650px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .fancybox__slide.has-image > .fancybox__content {
    height: 500px !important;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .fancybox__slide.has-image > .fancybox__content {
    height: 380px !important;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .fancybox__slide.has-image > .fancybox__content {
    height: 390px !important;
  }
}

.fancybox__carousel {
  width: 1200px;
  margin: auto;
}
@media (min-width: 320px) and (max-width: 1260px) {
  .fancybox__carousel {
    width: 100%;
  }
}

.fancybox__viewport {
  width: 85%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}
@media (min-width: 320px) and (max-width: 990px) {
  .fancybox__viewport {
    width: 75%;
  }
}

.fb-caption-overlay {
  background: #fff;
  position: relative;
  bottom: 0px;
  left: 0px;
  word-wrap: break-word;
  width: 100%;
  padding: 2rem 2rem 0rem 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .fb-caption-overlay {
    padding: 1rem 1rem 0 1rem;
    position: relative !important;
  }
}
.fb-caption-overlay h4 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #1c232a;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .fb-caption-overlay h4 {
    font-size: 18px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .fb-caption-overlay h4 {
    font-size: 18px;
  }
}

@media (min-width: 320px) and (max-width: 567px) {
  .is-horizontal .fancybox__nav .f-button.is-next {
    right: 0 !important;
    top: 44% !important;
  }
}

@media (min-width: 320px) and (max-width: 567px) {
  .is-horizontal .fancybox__nav .f-button.is-prev {
    left: 0 !important;
    top: 44% !important;
  }
}

.is-compact .fancybox__content > .f-button.is-close-btn {
  background-color: #fff;
  border-radius: 0;
  color: #7aa836;
  top: 0rem;
  right: 0rem;
  opacity: 1 !important;
  width: 45px;
  height: 45px;
}
.is-compact .fancybox__content > .f-button.is-close-btn svg {
  width: 30px;
  height: 30px;
}

.fancybox-image {
  object-fit: cover;
}

.fancybox__backdrop {
  background-color: #1c232a;
  opacity: 0.9;
}

.f-button:hover:not([disabled]) {
  background-color: transparent;
}

.fancybox__nav button svg {
  color: #7aa836;
  width: 50px;
  height: 50px;
}

.pagination-block ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.pagination-block ul li {
  margin: 0;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.pagination-block ul li a,
.pagination-block ul li button,
.pagination-block ul li span.page-number {
  margin: 0 0 0 1rem;
}
.pagination-block ul li a {
  display: block;
  color: #1c232a;
}
.pagination-block ul li.current {
  color: #7aa836;
}
.pagination-block ul li.current span.dots {
  display: none;
}

.news-post-pager {
  border-top: 1px #7aa836 solid;
  margin-top: 2rem;
  padding: 1rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .news-post-pager {
    padding: 1rem 0;
  }
}
.news-post-pager h2 {
  display: none;
}
.news-post-pager .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-post-pager .nav-links .nav-previous {
  margin-right: 1.5rem;
}
.news-post-pager .nav-links .nav-next {
  margin-left: 1.5rem;
}
.news-post-pager .nav-links a {
  color: #1c232a;
}
.news-post-pager .nav-links a:hover {
  color: #7aa836;
}

.home-page-slider-section {
  position: relative;
  padding: 0px;
  background-color: #fff;
  border-bottom: 50px #e9e5e0 solid;
}
.home-page-slider-section .arrow-go-btm {
  position: absolute;
  left: calc(50% - 25px);
  bottom: 20px;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px #fff solid;
  border-radius: 50px;
  cursor: pointer;
}
.home-page-slider-section .arrow-go-btm img {
  width: 100%;
  display: block;
  margin-top: 1px;
}
.home-page-slider-section .slick-list {
  overflow: visible !important;
}
.home-page-slider-section .slick-arrow {
  display: none !important;
}
.home-page-slider-section .slick-dots {
  position: absolute;
  bottom: -50px;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 2rem 0 0 0;
  padding: 0px;
  display: none !important;
}
.home-page-slider-section .slick-dots li {
  margin: 0 0 0 10px;
  padding: 0px;
}
.home-page-slider-section .slick-dots li button {
  background: #7aa836;
  cursor: pointer;
  border: 1px #fff solid;
  border-radius: 80px;
  text-indent: -9999px;
  display: block;
  width: 16px;
  padding: 0;
  height: 16px;
}
.home-page-slider-section .slick-dots li.slick-active button {
  background: #7aa836;
}
.home-page-slider-section .slider-img {
  width: 100%;
}
.home-page-slider-section .slider-img img {
  width: 100%;
  height: auto;
  display: block;
}
.home-page-slider-section .slider-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  left: 0px;
  top: 0px;
}
.home-page-slider-section .home-page-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
}
.home-page-slider-section .home-page-content .home-page-content-in {
  width: calc(100% - 10rem);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .home-page-slider-section .home-page-content .home-page-content-in {
    width: 90%;
    margin: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .home-page-slider-section .home-page-content .home-page-content-in {
    width: 90%;
    margin: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-page-slider-section .home-page-content .home-page-content-in {
    width: 90%;
    margin: 0px;
  }
}
.home-page-slider-section .home-page-content .home-page-content-in .home-page-content-box {
  padding: 4rem 8rem 4rem 20rem;
  margin-left: -10rem;
  position: relative;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .home-page-slider-section .home-page-content .home-page-content-in .home-page-content-box {
    margin-left: 0;
    padding: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .home-page-slider-section .home-page-content .home-page-content-in .home-page-content-box {
    margin-left: 0;
    padding: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-page-slider-section .home-page-content .home-page-content-in .home-page-content-box {
    margin-left: 0;
    padding: 2rem;
  }
}
.home-page-slider-section .home-page-content .home-page-content-in .home-page-content-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(28, 35, 42, 0.7098039216);
  mix-blend-mode: multiply;
}
.home-page-slider-section .home-page-content .home-page-content-in .home-page-content-box .home-page-content-box-in {
  position: relative;
  z-index: 1;
}
.home-page-slider-section .home-page-content .home-page-content-in .home-page-content-box::after {
  content: "";
}
.home-page-slider-section .home-page-content .home-page-content-in .home-page-content-box h1 {
  margin: 0px;
  padding: 0px;
  color: #fff;
}
.home-page-slider-section .home-page-content .home-page-content-in .home-page-content-box h1.primary-color-h1 {
  color: #7aa836;
}

.welcome-text-section {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .welcome-text-section {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .welcome-text-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.welcome-text-section .container-sm {
  padding-left: 4rem;
  padding-right: 4rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .welcome-text-section .container-sm {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .welcome-text-section .container-sm {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.welcome-text-section .container-md {
  padding-left: 8rem;
  padding-right: 8rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .welcome-text-section .container-md {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .welcome-text-section .container-md {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.welcome-text-section h2 {
  margin: 0px;
}
.welcome-text-section .desc--box {
  margin-bottom: 3rem;
}
.welcome-text-section .welcome-text-section-left-pd {
  padding-left: 5rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .welcome-text-section .welcome-text-section-left-pd {
    padding-left: 0rem;
  }
}

.page-hero-image-section {
  position: relative;
  padding: 0px;
  background-color: #fff;
}
.page-hero-image-section .page-hero-content-outer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-image-section .page-hero-content-outer {
    position: relative;
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-hero-image-section .page-hero-content-outer {
    position: relative;
    display: block;
  }
}
.page-hero-image-section .page-hero-content-outer .page-hero-content {
  width: 582px;
}
@media (min-width: 1025px) and (max-width: 1299px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content {
    width: 525px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content {
    width: 450px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content {
    width: 100%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content {
    width: 100%;
  }
}
.page-hero-image-section .page-hero-content-outer .page-hero-content h1 {
  background: #fff;
  padding: 2rem 1rem 2rem 0;
  margin: 0px;
  position: relative;
  min-height: 170px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content h1 {
    padding: 2rem 0rem 2rem 0rem;
    min-height: 50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content h1 {
    padding: 2rem 0rem 2rem 0rem;
    min-height: 50px;
    font-size: 2.3rem;
  }
}
.page-hero-image-section .page-hero-content-outer .page-hero-content .btn-set--left {
  margin-top: 3rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content .btn-set--left {
    margin-top: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-hero-image-section .page-hero-content-outer .page-hero-content .btn-set--left {
    margin-top: 2rem;
  }
}
.page-hero-image-section .page-hero-image {
  width: 60%;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-image-section .page-hero-image {
    width: 100%;
    margin-left: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-hero-image-section .page-hero-image {
    width: 100%;
    margin-left: 0;
  }
}
.page-hero-image-section .page-hero-image img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 768px) and (max-width: 991px) {
  .full-bg-hero .page-hero-content-outer {
    background: #7aa836;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-bg-hero .page-hero-content-outer {
    background: #7aa836;
  }
}
.full-bg-hero .page-hero-content-outer .page-hero-content h1 {
  background: #7aa836;
  color: #fff;
}
.full-bg-hero .page-hero-content-outer .page-hero-content h1::after {
  background: transparent;
}
.full-bg-hero .page-hero-content-outer .page-hero-content h1::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 106vh;
  background: #7aa836;
  left: -106vh;
  top: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .full-bg-hero .page-hero-content-outer .page-hero-content h1::before {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-bg-hero .page-hero-content-outer .page-hero-content h1::before {
    display: none;
  }
}

.tagcloud-section .custom-row {
  justify-content: center;
}
.tagcloud-section h1, .tagcloud-section h2, .tagcloud-section h3, .tagcloud-section h4, .tagcloud-section h5, .tagcloud-section h6 {
  margin: 1rem 4rem;
  padding: 0px;
  color: #fff;
}
@media (min-width: 320px) and (max-width: 567px) {
  .tagcloud-section h1, .tagcloud-section h2, .tagcloud-section h3, .tagcloud-section h4, .tagcloud-section h5, .tagcloud-section h6 {
    margin: 1rem;
  }
}
.tagcloud-section .white-text {
  color: #fff;
}
.tagcloud-section .green-text {
  color: #7aa836;
}
.tagcloud-section .extra-large-text {
  font-size: 6rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .tagcloud-section .extra-large-text {
    font-size: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .tagcloud-section .extra-large-text {
    font-size: 3rem;
  }
}
.tagcloud-section .large-text {
  font-size: 4rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .tagcloud-section .large-text {
    font-size: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .tagcloud-section .large-text {
    font-size: 2.5rem;
  }
}
.tagcloud-section .mid-text {
  font-size: 2.7rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .tagcloud-section .mid-text {
    font-size: 1.5rem;
  }
}
.tagcloud-section .small-text {
  font-size: 2.3rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .tagcloud-section .small-text {
    font-size: 1.2rem;
  }
}

.transformations-col-section h3 {
  margin: 0px;
}
.transformations-col-section .transformations-col-row {
  display: flex;
  margin-left: -2rem;
  margin-right: -2rem;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .transformations-col-section .transformations-col-row {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .transformations-col-section .transformations-col-row {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.transformations-col-section .transformations-col-row .transformations-col {
  margin: 0 2rem;
  position: relative;
  overflow: hidden;
}
.transformations-col-section .transformations-col-row .transformations-col h4 {
  position: absolute;
  top: 4rem;
  left: 0;
  margin: 0px;
  padding: 1rem 1rem 1rem 2rem;
  color: #fff;
  z-index: 4;
  text-transform: uppercase;
  background-color: #1c232a;
  opacity: 0.9;
  min-width: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 567px) {
  .transformations-col-section .transformations-col-row .transformations-col h4 {
    top: 2rem;
  }
}
.transformations-col-section .transformations-col-row .transformations-col h4 .arrow-h4 {
  background: url("../img/icons/arrow right green.svg") no-repeat;
  width: 55px;
  height: 55px;
  margin-left: 5px;
  background-size: 100%;
}
.transformations-col-section .transformations-col-row .transformations-col .transformations-col-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.transformations-col-section .transformations-col-row .transformations-col .transformations-col-img img {
  width: 100%;
  height: auto;
  display: block;
  transition: 0.5s all ease-in-out;
}
.transformations-col-section .transformations-col-row .transformations-col:hover h4 {
  background: #7aa836;
  color: #fff;
}
.transformations-col-section .transformations-col-row .transformations-col:hover h4 .arrow-h4 {
  background: url("../img/icons/arrow right white.svg") no-repeat;
  width: 55px;
  height: 55px;
  background-size: 100%;
}
.transformations-col-section .transformations-col-row .transformations-col:hover .transformations-col-img img {
  transform: scale(1.1);
}
.transformations-col-section .transformations-col-row.transformations-col-2 .transformations-col {
  width: calc(50% - 4rem);
}
@media (min-width: 768px) and (max-width: 1200px) {
  .transformations-col-section .transformations-col-row.transformations-col-2 .transformations-col {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .transformations-col-section .transformations-col-row.transformations-col-2 .transformations-col {
    width: 100%;
  }
}
.transformations-col-section .transformations-col-row.transformations-col-3 .transformations-col {
  width: calc(33.33% - 4rem);
}
@media (min-width: 768px) and (max-width: 1200px) {
  .transformations-col-section .transformations-col-row.transformations-col-3 .transformations-col {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .transformations-col-section .transformations-col-row.transformations-col-3 .transformations-col {
    width: 100%;
  }
}
.transformations-col-section .transformations-col-row.transformations-col-4 .transformations-col {
  width: calc(25% - 4rem);
}
@media (min-width: 768px) and (max-width: 1200px) {
  .transformations-col-section .transformations-col-row.transformations-col-4 .transformations-col {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .transformations-col-section .transformations-col-row.transformations-col-4 .transformations-col {
    width: 100%;
  }
}

.parallax-image-section {
  position: relative;
  min-height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .parallax-image-section {
    min-height: 500px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .parallax-image-section {
    min-height: 450px;
  }
}
.parallax-image-section .container-md {
  position: relative;
  z-index: 2;
}
.parallax-image-section h1 {
  text-shadow: 0px 3px 11px rgba(0, 0, 0, 0.8);
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
@media (min-width: 320px) and (max-width: 767px) {
  .parallax-image-section h1 {
    line-height: 2.5rem;
    font-size: 2rem;
  }
}
.parallax-image-section h1 strong {
  font-weight: 800;
}
.parallax-image-section p {
  line-height: inherit;
  margin: 0px;
}

.page-feature-img {
  position: relative;
}
.page-feature-img::after {
  content: "";
}
.page-feature-img img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-link {
  position: relative;
  background: #1c232a;
  padding: 2rem 2rem;
  margin-bottom: 4rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .gallery-link {
    padding: 3rem 2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .gallery-link {
    padding: 2rem 1rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .gallery-link {
    padding: 1rem 0.5rem;
    margin-bottom: 3rem;
  }
}
.gallery-link::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  right: -15px;
  top: -15px;
  background: transparent;
  border-top: 15px #7aa836 solid;
  border-right: 15px #7aa836 solid;
}
@media (min-width: 568px) and (max-width: 767px) {
  .gallery-link::after {
    width: 133px;
    height: 133px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .gallery-link::after {
    width: 155px;
    height: 155px;
  }
}
.gallery-link ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-link ul li {
  margin: 0px;
  padding: 2rem 2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .gallery-link ul li {
    padding: 2rem 2rem 2rem 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .gallery-link ul li {
    padding: 1rem;
  }
}
.gallery-link ul li a {
  display: block;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 600;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .gallery-link ul li a {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .gallery-link ul li a {
    font-size: 1.3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .gallery-link ul li a {
    font-size: 1.2rem;
  }
}
.gallery-link ul li a.active {
  color: #7aa836;
}
.gallery-link ul li a:hover {
  color: #7aa836;
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-us-info {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .about-us-info {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.about-us-info .about-us-info-left {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .about-us-info .about-us-info-left {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-us-info .about-us-info-left {
    width: 100%;
  }
}
.about-us-info .about-us-info-left h2 {
  margin: 0px;
  color: #7aa836;
}
.about-us-info .about-us-info-right {
  width: 50%;
  padding-left: 5%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .about-us-info .about-us-info-right {
    width: 100%;
    padding-left: 0%;
    padding-top: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-us-info .about-us-info-right {
    width: 100%;
    padding-left: 0%;
    padding-top: 2rem;
  }
}
.about-us-info .about-us-info-right .desc--box {
  margin-bottom: 3rem;
}

.contact-us-page {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 900px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contact-us-page {
    min-height: 610px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-us-page {
    min-height: 570px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-us-page {
    min-height: 570px;
  }
}
.contact-us-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  left: 0px;
  top: 0px;
}
.contact-us-page .contact-us-page-in .contact-us-page-in-in h1 {
  color: #fff;
  text-align: center;
  padding: 7rem 0;
  margin: 0;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in h1 {
    padding: 5rem 0 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in h1 {
    padding: 5rem 0 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in h1 {
    padding: 4rem 0 0;
  }
}
.contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content {
  padding: 5rem 8rem 5rem 30rem;
  margin-left: -15rem;
  position: relative;
  width: calc(90% + 15rem);
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content {
    padding: 4rem 4rem 4rem 6rem;
    margin-left: 0rem;
    width: 90%;
    margin-top: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content {
    padding: 4rem 4rem 4rem 6rem;
    margin-left: 0rem;
    width: 90%;
    margin-top: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content {
    padding: 4rem 2em 4rem 3rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content {
    padding: 4rem 2rem 4rem 2rem;
    margin-left: 0rem;
    width: 90%;
    margin-top: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content {
    padding: 4rem 2rem 4rem 2rem;
    margin-left: 0rem;
    width: 90%;
    margin-top: 6rem;
  }
}
.contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(28, 35, 42, 0.7098039216);
  mix-blend-mode: multiply;
}
.contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content::after {
  content: "";
  z-index: 1;
}
.contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: relative;
  z-index: 1;
}
.contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li {
  margin: 0px;
}
.contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li:first-child {
  margin-bottom: 2rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li:first-child {
    margin-bottom: 1rem;
  }
}
.contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li a {
  display: block;
  font-size: 3rem;
  padding: 1rem 0 1rem 90px;
  color: #fff;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li a {
    font-size: 2.2rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li a {
    font-size: 2.2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li a {
    font-size: 2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li a {
    font-size: 1.6rem;
    padding: 1rem 0 1rem 60px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li a {
    word-wrap: break-word;
    font-size: 1.5rem;
    padding: 1rem 0 1rem 60px;
  }
}
.contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li a.email-icon {
  background: url("../img/icons/envelope white.svg") no-repeat left center;
  background-size: 60px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li a.email-icon {
    background-size: 40px;
  }
}
.contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li a.phone-icon {
  background: url("../img/icons/phone white.svg") no-repeat left center;
  background-size: 60px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li a.phone-icon {
    background-size: 40px;
  }
}
.contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li a:hover {
  color: #7aa836;
}
.contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li a:hover.email-icon {
  background: url("../img/icons/envelope green.svg") no-repeat left center;
  background-size: 60px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li a:hover.email-icon {
    background-size: 40px;
  }
}
.contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li a:hover.phone-icon {
  background: url("../img/icons/phone green.svg") no-repeat left center;
  background-size: 60px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-us-page .contact-us-page-in .contact-us-page-in-in .contact-us-page-content ul li a:hover.phone-icon {
    background-size: 40px;
  }
}

.page-not-foumd .blog-block-text {
  text-align: center;
}
.page-not-foumd h1 {
  text-align: center;
}

.page-title {
  text-align: center;
}
.page-title h1 {
  margin: 0px;
  padding: 0px;
  color: #7aa836;
}

.single-service .full-bg-hero .page-hero-content-outer .page-hero-content h1::after {
  background: transparent;
}

.privacy-policy h1, .privacy-policy h2, .privacy-policy h3, .privacy-policy h4, .privacy-policy h5 {
  margin-bottom: 0px;
}
.privacy-policy h2 {
  font-size: 2.2rem;
}
.privacy-policy h3 {
  font-size: 2rem;
}

/*# sourceMappingURL=global.css.map */
