.news-press-box-section {
    .cards {
        width: 33.33%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(mobile_landscape) {
            width: 50%;
            padding: 0px;
        }
        @include breakpoint(mobile_portrait) {
            width: 100%;
        }
        .cards--inner {
            box-shadow: -2px 7px 6px rgb(0 0 0 / 0%);
            text-align: center;
            padding: 3rem;
            @include breakpoint(ipad_portrait) {
                padding: 2rem 1.5rem;
            }
            @include breakpoint(mobile_landscape) {
                padding: 2rem 1.5rem;
            }
            .tags {
                text-transform: uppercase;
            }
            .arrow-right {
                display: block;
                width: 35px;
                height: 35px;
            }
            h5 {
                text-transform: uppercase;
            }
        }

        &.light-orange-card {
            .cards--inner {
                background-color: $primary-color;
                color: $white;
                .arrow-right {
                    background: url("#{$assetPathIcons}/white arrow.svg") no-repeat center center;
                    background-size: 100%;
                }
                h5 {
                    color: $white;
                    a {
                        display: block;
                        color: $white;
                    }
                }
                @media (min-width: 1025px) and (max-width: 2500000000px) {
                    &:hover {
                        background-color: $gray-color;
                        h5 {
                            color: $white;
                            a {
                                display: block;
                                color: $white;
                            }
                        }
                        .arrow-right {
                            background: url("#{$assetPathIcons}/white arrow.svg") no-repeat center center;
                            background-size: 100%;
                        }
                    }
                }
            
            }
        }

        &.light-white-card {
            .cards--inner {
                background-color: $light-gray;
                color: $secondary-color;
                .arrow-right {
                    background: url("#{$assetPathIcons}/orange arrow.svg") no-repeat center center;
                    background-size: 100%;
                }
                h5 {
                    color: $secondary-color;
                    a {
                        display: block;
                        color: $secondary-color;
                    }
                }
                @media (min-width: 1025px) and (max-width: 2500000000px) {
                    &:hover {
                        background-color: $gray-color;
                        color: $white;
                        h5 {
                            color: $white;
                            a {
                                display: block;
                                color: $white;
                            }
                        }
                        .arrow-right {
                            background: url("#{$assetPathIcons}/white arrow.svg") no-repeat center center;
                            background-size: 100%;
                        }
                    }
                }
                
            }
        }
    }
}
