%h1{
    font-size: 5.7rem;
    font-weight: 500;
    @include breakpoint(ipad_landscape){
        font-size: 4rem;
    }
    @include breakpoint(ipad_portrait){
        font-size: 3.5rem;
    }
    @include breakpoint(mobile_landscape){
        font-size: 3rem;
    }
    @include breakpoint(mobile_portrait){
        font-size: 2.8rem;
    }
}
%h2{
    font-size: 4rem;
    font-weight: 500;
    @include breakpoint(ipad_landscape){
        font-size: 3rem;
    }
    @include breakpoint(ipad_portrait){
        font-size: 2.8rem;
    }
    @include breakpoint(mobile_landscape){
        font-size: 2.5rem;
    }
    @include breakpoint(mobile_portrait){
        font-size: 2.1rem;
    }
   
}
%h3{
    font-size: 3.3rem;
    font-weight: 500;
    @include breakpoint(ipad_landscape){
        font-size: 2.6rem;
    }
    @include breakpoint(ipad_portrait){
        font-size: 2.5rem;
    }
    @include breakpoint(mobile_landscape){
        font-size: 2.3rem;
    }
    @include breakpoint(mobile_portrait){
        font-size: 1.8rem;
    }
}

%h4{
    font-size: 1.9rem;
    @include breakpoint(ipad_landscape){
        font-size: 1.6rem;
    }
    @include breakpoint(ipad_portrait){
        font-size: 1.4rem;
    }
    @include breakpoint(mobile_landscape){
        font-size: 1.36rem;
    }
    @include breakpoint(mobile_portrait){
        font-size: 1.3rem;
    }
}


h1{
    @extend %h1;
}
h2{
    @extend %h2;
}

h3{
    @extend %h3;
}

h4{
    @extend %h4;
}


