a,
button {
  cursor: pointer;
}

// Base Font faimly

$primaryfontfaimly: "Jost", sans-serif;


// Base font size

%font-size-base {
  font-size: 1.5rem;
  @include breakpoint(ipad_landscape){
    font-size: 1.2rem;
  }
  @include breakpoint(ipad_portrait){
    font-size: 1.2rem;
  }
  
  @include breakpoint(mobile){
    font-size: 1.2rem;
  }
}



%button-font-size {
  font-size: 1.3rem;
  @include breakpoint(mobile){
    font-size: 1rem;
  }
}

%mainMenuFont {
  font-size: 1.4rem;
}

// Main font size



// Footer font size

$footerTxtFont: 1rem;



// Main line height
$line-height: 1.9rem;

// Main padding
$main-pd: 5rem;

%main-padding {
  padding-top: 7rem;
  padding-bottom: 7rem;

  @include breakpoint(ipad_landscape) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  @include breakpoint(ipad_portrait) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include breakpoint(mobile) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

// Set Image Path
$assetPath: "../img";
$assetIconPath: "../img/icon";
$fontsPath: "../webfonts";

// Button Font Size