{% if content_row.testimonials_slider_list %}
<section class="testimonials-section common-drak-txt-section">
    <div class="container-sm">
        <h2>{{content_row.testimonial_heading??'OUR CLIENTS TRUST IN WHAT WE DO'}}</h2>
        <div class="testimonials-slider">

            {% for testimonial in content_row.testimonials_slider_list %}

            <div class="testimonials-item">
                <div class="testimonials-txt">
                    {{testimonial.content}}
                </div>
                <span class="testimonials-auther">{{testimonial.author}}</span>
            </div>

            {% endfor %}

        </div>
    </div>
</section>
{% endif %}