{% if content_row.content_box_with_images_rows %}

<section class="tag-content-row">
	{% for content_box_row in content_row.content_box_with_images_rows %}
	{% if loop.index%2 ==1 %}

	<div class="post-row post-row--primary">
		<div class="custom-row">
			<div class="post-row--img">
				<img src="{{ site.theme.link }}/assets/img/demo-img/splicecom-placement-holder.jpg" alt="" />
			</div>
			<div class="post-row-content">
				<h2>{{content_box_row.title}}</h2>
				<div class="desc--box">
					{{content_box_row.content}}
				</div>
			</div>
		</div>
	</div>
	{% else %}

	<div class="post-row post-row--secondary">
		<div class="custom-row">
			<div class="post-row--img">
				<img src="{{ site.theme.link }}/assets/img/demo-img/splicecom-placement-holder.jpg" alt="" />
			</div>
			<div class="post-row-content">
				<h2>{{content_box_row.title}}</h2>
				<div class="desc--box">
					{{content_box_row.content}}
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	{% endfor %}

</section>
{% endif %}