{% if content_row.icons_with_text_heading or content_row.icons_with_text_rows %}
<section class="splicecom-section primary-gradient-bg common-white-txt-section">
	<div class="container-sm">
		<div class="common-content-block">
			<h2>{{content_row.icons_with_text_heading}}</h2>
			<div class="desc--box">
				{{content_row.icons_with_text_heading_copy}}
			</div>
			<div class="common-content-btn-block btn-set--right">
				{% if content_row.get_started_cta %}
				<a href="{{content_row.get_started_cta.url}}" target="{{content_row.get_started_cta.target}}" class="secondary-btn">{{content_row.get_started_cta.title}}</a>
				{% endif %}

			</div>
		</div>
	</div>

	{% if content_row.icons_with_text_rows %}

	<div class="card--3">
		<div class="custom-row">
			{% for content_box_row in content_row.icons_with_text_rows %}
			<div class="cards">
				<div class="cards--inner">
					<i><img src="{{ TimberImage(content_box_row.icon).src('src')}}" alt="{{ TimberImage(content_box_row.icon).alt}}"/></i>
					{% if content_box_row.title %}
					<h2>{{content_box_row.title}}</h2>
					{% endif %}
					<div class="desc--box">
						{{content_box_row.copy_text}}
					</div>
					<div class="absolute-arrow">
						{% if content_box_row.cta_link %}
						<a href="{{content_box_row.cta_link.url}}" target="{{content_box_row.cta_link.target}}" class="arrow-right" title="{{content_box_row.cta_link.title}}"></a>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	{% endif %}
</section>
{% endif %}