{% set accordion_id = loop.index %}
{% if content_row.accordion_block_accordion_content %}
<section id="section-accordion-{{accordion_id}}" class="block_accordion">
    <div class="container_accordion">
        <h2>{{content_row.accordion_block_accordion_title}}</h2>
        {% if content_row.accordion_block_accordion_title_copy %}
        <div class="desc-box">{{content_row.accordion_block_accordion_title_copy}}</div>
        {% endif %}
        <div id="accordion-{{accordion_id}}" class="accordion">
            {% for content_box_row in content_row.accordion_block_accordion_content %}
            {% set auid = accordion_id~"_" ~loop.index %}
            <div class="a__box cb-{{loop.index}}">
                <div class="a_b__top" id="heading-{{auid}}" tabindex="0">
                    <h5 class="collapsed" data-toggle="collapse" data-target="#collapse-{{auid}}" aria-expanded="true"
                        aria-controls="collapse-{{auid}}">
                        {{content_box_row.accordion_block_accordion_content_row_title}}
                    </h5>
                </div>
                <div id="collapse-{{auid}}" class="collapse" aria-labelledby="heading-{{auid}}"
                    data-parent-no="#accordion-{{accordion_id}}">
                    <div class="a_b__btm ">
                        {{content_box_row.accordion_block_accordion_content_row_copy}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}