{% if content_row.testimonial_content %}
<section class="main-padding primary-bg review--section" data-aos="fade">
    <div class="container-sm container-sm-pd-lr">
        <div class="review--box">
            <p>
                {{content_row.testimonial_content}}
            </p>
        </div>
        {% if content_row.testimonial_author %}
        <div class="reivew-author">
            {{content_row.testimonial_author}}
        </div>
        {% endif %}
    </div>
</section>
{% endif %}