{% if content_row.show_our_services %}
<section class="our-services--section" data-aos="fade">
    <div class="container-sm container-sm-pd-lr">
        {% if content_row.our_services_heading %}
        <h2>{{content_row.our_services_heading}}</h2>
        {% endif %}

        <div class="sevices-box-list">
            {% for service_item in getServices(post.id) %}

            <div class="service-single-box">
                <a href="{{service_item.link}}">
                    <i>
                    <img src="{{ TimberImage(service_item.service_icon).src('src') }}" alt="{{ service_item.service_icon.alt }}"/></i>
                    <div class="badge-description">{{service_item.service_title}}</div>
                    <div class="badge-description-2">{{service_item.servcice_excerpt}}</div>
                </a>
            </div>

            {% endfor %}
        </div>
    </div>
</section>
{% endif %}