
{% if content_row.download_list %}
<section class="main-padding product-specifications--section" data-aos="fade">
	<div class="container-sm container-sm-pd-lr">
		{% if content_row.download_heading %}
		<h2>{{content_row.download_heading}}</h2>
		{% endif %}

		{% if content_row.download_heading %}
		<div class="download-text">{{content_row.download_heading_copy}}</h3>
		{% endif %}

		<ul class="custom-row">
			{% for download in content_row.download_list %}
			<li>
				<div class="download-single-box">
					<h3>{{download.upload_title}}</h3>
					{% if download.upload_title_copy %}
					<p>{{download.upload_title_copy}}</p>
					{% endif %}
				<a download="{{download.upload_title}}" href="{{download.upload_file.url}}">
					<i>
					<img class="no-hover-icon" src="{{ site.theme.link }}/assets/img/gridfix download green.svg" alt="" />
					<img class="hover-icon" src="{{ site.theme.link }}/assets/img/gridfix download grey.svg" alt="" />
					</i>
				</a>
			</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
{% endif %}