{% if content_row.show_product_features %}
	<section class="features-table-section common-section-pd">
		<div class="container-sm">
			<div class="common-content-block">
				<h2>{{post.get_field('product_features_heading')}}</h2>
			</div>

			<div class="features-table">
				<table role="table" cellspacing="0">
					<thead role="rowgroup">
						{% for content_head_row in post.get_field('product_feature_headings') %}
							<tr role="row head">
								<th role="columnheader"></th>
								<th role="columnheader">{{content_head_row.feature_heading_1}}</th>
								<th role="columnheader">{{content_head_row.feature_heading_2}}</th>
								<th role="columnheader">{{content_head_row.feature_heading_3}}</th>
							</tr>
						{% endfor %}

					</thead>
					<tbody role="rowgroup">

						{% for content_box_row in post.get_field('product_feature_rows') %}
							<tr role="row">
								<td role="cell">
									<div class="td-content">
										<span>{{content_box_row.feature_name}}</span>
									</div>
								</td>
								{% for content_box_column in content_box_row %}
									{% if loop.index !=1 %}
										<td role="cell {{loop.index}}">
											<div class="td-content">
												{% if content_box_column.tickbox %}
													<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt=""/></i>
												{% endif %}
												{% if content_box_column.feature_text %}
													<span>{{content_box_column.feature_text}}</span>
												{% endif %}
											</div>
										</td>
									{% endif %}
								{% endfor %}
							</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</section>
{% endif %}
