{% set caseStudies = getCaseStudies() %}

<section class="sectors-box-section common-section-pd">
	<div class="container-md">
		<div class="custom-row">
			{% for post in caseStudies %}
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			{% endfor %}
			<div class="loadmoreprojects_wrapper"></div>
		</div>
		{% include 'partial/pagination.twig' with { 
         posts: caseStudies, 
         post_args :{post_type:'case_study'} ,
         pagination:
         caseStudies.pagination({show_all: false, mid_size: 3, end_size:
         2})} %}
	</div>
</section>
