<div class="back-to-section gray-bg">
    <div class="container-sm" data-aos="fade-up">
        <div class="back-to-inner">
            <a href="{{ content_row.cta.url}}" target="{{content_row.cta.target}}">{{content_row.cta.title}}</a>
        </div>
    </div>
</div>
