{% if content_row.related_product_list %}

	<section class="related-section primary-gradient-bg common-white-txt-section">
		<div class="container-sm">
			<div class="common-content-block">
				<h2>{{content_row.product_heading}}</h2>
			</div>
		</div>

		<div class="card--3">
			<div class="custom-row">
				{% for related_product in content_row.related_product_list %}
					{% set currentTitle = related_product.meta('listing_content_title')??related_product.title %}

					<div class="cards">
						<div class="cards--inner">
							{% if loop.index ==1 %}
								<i><img src="{{ related_product.meta('listing_content_icon_black')}}" alt="{{related_product.title}}"/></i>
							{% else %}
								<i><img src="{{ related_product.meta('listing_content_icon_white')}}" alt="{{related_product.title}}"/></i>
							{% endif %}
							<h2>
								<a href="{{related_product.link}}">{{currentTitle}}11</a>
								<div class="desc--box">
									{{ related_product.meta('listing_content_copy')}}
								</div>
								<div class="absolute-arrow">
									<a href="{{related_product.link}}" target="" class="arrow-right" title="{{related_product.title}}"></a>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>
			</div>
		</section>
	{% endif %}
