{% set services = getServices() %}
<section class="why-splicecom-section">
	
		<div class="custom-row">
			{% for post in services %}
				{% include ['tease-services.twig', 'tease.twig'] %}
			{% endfor %}
			<div class="loadmoreprojects_wrapper"></div>

		</div>
		{% include 'partial/pagination.twig' with { 
         posts : services,
		 post_args :{post_type:'services'},
         pagination: services.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	
</section>
