

{% if content_row.copy_content_title or content_row.copy_content_text %}
<section class="top-content-section common-section-pd">
	<div class="container-sm">
		<div class="common-content-block">
		{% if content_row.copy_content_title %}
			<h2>{{content_row.copy_content_title}}</h2>
			{% endif %}
			<div class="desc--box">
				{{content_row.copy_content_text}}
			</div>
		</div>
	</div>
</section>
{% endif %}