{% if content_row.show_product_slider %}
<section class="product-slider--section" data-aos="fade">
    <div class="container-sm">
    <div class="title-hd">
                        <h2 class="blue-hd">{{content_row.heading}}</h2>
                       <div class="desc--box pd-l-f">  {{content_row.content}}</div>
                    </div>
        <div class="product-details-content ">
            <div class="product-details-btm product-sliider-slick">
                {% for product in getProducts() %}
                    <div class="product-slide-single">
                        <div class="product--img">
                            {% if product.get_field('hero_image') %}
                                <picture>
                                    <source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(product.get_field('hero_image')).src('page-hero') }}">
                                    <source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(product.get_field('hero_image')).src('page-hero') }}">
                                    <img src="{{ TimberImage(product.get_field('hero_image')).src('page-hero') }}" alt="{{ product.get_field('hero_image').alt }}">
                                </picture>
                            {% elseif product.thumbnail %}
                                <picture>
                                    <source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(product.thumbnail).src('page-hero') }}">
                                    <source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(product.thumbnail).src('page-hero') }}">
                                    <img src="{{ TimberImage(product.thumbnail).src('page-hero') }}" alt="{{ product.thumbnail.alt }}">
                                </picture>
                            {% endif %}
                        </div>
                        <div class="product-title">
                            <h3>{{product.get_field('hero_title')?product.get_field('hero_title'):(product.title?product.title:title)}}</h3>
                        </div>
                        <div class="product-button">
                            <a href="{{product.link}}" class="secondary-outline--btn">Find out more</a>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}