{% if content_row.title %}
<section class="partners-section secondary-gradient-bg common-section-top-pd" >
	<div class="container-sm">
		<div class="common-content-block">
			<h2>{{content_row.title}}</h2>
			<div class="desc--box">
				{{content_row.content}}
			</div>
			<div class="common-content-btn-block btn-set--right">
				{% if content_row.trusted_partner_cta %}
				<a href="{{content_row.trusted_partner_cta.url}}" target="{{content_row.trusted_partner_cta.target}}" class="primary-btn">{{content_row.trusted_partner_cta.title}}</a>
				{% endif %}
			</div>
		</div>
		<div class="partners-img">
			<img src="{{ TimberImage(content_row.image).src('src')}}" alt="{{ TimberImage(content_row.image).alt}}"/>
		</div>
	</div>
</section>
{% endif %}