{% if content_row.youtube_url %}
<section class="common-section-pd primary-gradient-bg video--section" data-aos="fade">
	<div class="container-sm">
		<div class="common-content-block">
			{% if content_row.youtube_url %}
			<h2>{{content_row.youtube_video_heading}}</h2>
			{% endif %}
			<div class="desc--box">
				{{content_row.youtube_video_heading_copy}}
			</div>
		</div>
		<div class="video-ifram">
			<iframe width="100%" height="550" title="{{content_row.youtube_video_heading}}" src="{{content_row.youtube_url}}?rel=0"></iframe>
			<!-- <img src="{{ site.theme.link }}/assets/img/video-img.jpg" alt="" /> -->
		</div>
	</div>
</section>
{% endif %}