<section class="main-padding" data-aos="fade">
    <div class="container-sm container-sm-pd-lr">
        {% set template_path = "partial/content/block-"~content_row.acf_fc_layout|replace({"_": "-"})|raw ~".twig" %}
        <div class="title-hd">
            <h2 class="blue-hd">Template not found - 404</h2>
            <div class="desc--box pd-l-f"><strong>"{{template_path}}"</strong> is missing.</div>
        </div>
    </div>
</section>