
<section class="features-table-section common-section-top-pd" >
	<div class="container-sm">
		<div class="common-content-block">
			<h2>OUR TRUSTED PARTNERS</h2>
		</div>

		<div class="features-table">
			<table role="table" cellspacing="0">
				<thead role="rowgroup">
					<tr role="row">
						<th role="columnheader"></th>
						<th role="columnheader">Splicecom Micro Cloud for Small Enterprise</th>
						<th role="columnheader">Splicecom Cloud for Med-Large Enterprise</th>
						<th role="columnheader">Splicecom Partner / Customer Cloud</th>
					</tr>
				</thead>
				<tbody role="rowgroup">
					<tr role="row">
						<td role="cell">
							<div class="td-content"><span>UK Datacentres</span></div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i>
							</div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i>
							</div>
						</td>
						<td role="cell">
							<div class="td-content"><span>Partner/Customer</span></div>
						</td>
					</tr>
					<tr role="row">
						<td role="cell">
							<div class="td-content"><span>S Upgrades/Security patches applied</span></div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i> <span>(limited to 3 remote gateways if utilising VPNs)</span>
							</div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i> <span>(limited to 3 remote gateways if utilising VPNs)</span>
							</div>
						</td>
						<td role="cell">
							<div class="td-content"><span>Partner/Customer</span></div>
						</td>
					</tr>
					<tr role="row">
						<td role="cell">
							<div class="td-content"><span>S Upgrades/Security patches applied</span></div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i> <span>(limited to 3 remote gateways if utilising VPNs)</span>
							</div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i> <span>(limited to 3 remote gateways if utilising VPNs)</span>
							</div>
						</td>
						<td role="cell">
							<div class="td-content"><span>Partner/Customer</span></div>
						</td>
					</tr>
					<tr role="row">
						<td role="cell">
							<div class="td-content"><span>UK Datacentres</span></div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i>
							</div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i>
							</div>
						</td>
						<td role="cell">
							<div class="td-content"><span>Partner/Customer</span></div>
						</td>
					</tr>
					<tr role="row">
						<td role="cell">
							<div class="td-content"><span>UK Datacentres</span></div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i>
							</div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i>
							</div>
						</td>
						<td role="cell">
							<div class="td-content"><span>Partner/Customer</span></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
