@media (min-width: 1025px) and (max-width: 1370px) {
    .heading_hero_bg__inner,
    .block_job_list__inner, 
    .page_job__details__inner, 
    .event_i_c__inner,
    .container-txt-sm, 
    .block_alternative_text__inner,
    .page_article_detail .container-sm,
    .block-article-image-and-text .container-sm,
    .block_our_work_txt .container-sm
    {
        max-width: 980px;
        padding: 0 $lpd;
    } 
    





}