.pagination{
    display: flex;
    justify-content: flex-end;
    padding:30px 0 0 0;
    span,
    a{
        padding: 3px 10px;
        font-weight: 400;
        margin: 0 2px;
        border-radius: 4px;
        color: $green;
        background: $white;
        border: 1px $green solid;
        cursor: pointer;
        &:hover{ 
         color: $white;
         background: $green;
         border: 1px $green solid;  
       }
    }
   
    .current{
        color: $white;
        background: $green;
        border: 1px $green solid;
    }
}
.sub_chilterns_boxs{
    .pagination{
        justify-content: center; 
        
    } 
}