// Style For Font Weight.

$font-weight-light: 300 !default;
$font-weight-normal: 300 !default;
$font-weight-400: 400 !default;
$font-weight-500: 500 !default;
$font-weight-600: 600 !default;
$font-weight-bold: 700 !default;

a,
button {
  cursor: pointer;
}

$d_pd: 60px;
$l_pd: 10%;
$lpd: 50px;
$body_margin_top: 77px;

$assetPath: "../img";

.clear {
  clear: both;
}

button,
select {
  text-transform: none;
}
.custom-row {
  display: flex;
  @include breakpoint(small) {
    flex-wrap: wrap;
  }
}

.hide_mobile{
  display: block !important;
  @include breakpoint(small) {
    display: none !important;
  }
  
}

.hide_desktop{
  display: none !important;
  @include breakpoint(small) {
    display: block !important;
  }
  
}
