{%
    set classes = [
      'row',
      'white',
      'technical-info-list',
      dom_id ? 'js-view-dom-id-' ~ dom_id,
    ]
  %}
  <div{{ attributes.addClass(classes) }}>
    <div class="large-8 large-centered columns">
  
      {% if rows -%}
      <div class="view-content">
        {{ rows }}
      </div>
      {% elseif empty -%}
      <div class="view-empty">
        {{ empty }}
      </div>
      {% endif %}
  
  
    </div>
  </div>