{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="row">
	{% if title %}
		<h3>{{ title }}</h3>
	{% endif %}
	<div class="large-9 large-centered columns">
		{% for row in rows %}
			{%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}

			<div{{row.attributes.addClass(row_classes)}}>
				<div class="pdf-download-box">
					<div class="pdf-download-img">
						<img src="/{{ directory }}/images/demo-pdf.jpg" alt="">
					</div>
					<div class="pdf-download-content">
						<h3>
							{{ row.columns.field_additional_copy_title.content }}</h3>
						<div class="desc">
							{{ row.columns.field_additional_copy.content }}
						</div>
						<div class="sm-btn-set btn-set-right">
							{{ row.columns.field_download.content }}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

</div>
