{% set classes = [
'row',
dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}


<div class="grey models">
  <div{{attributes.addClass(classes)}}>
    <div class="large-8 large-centered columns">

      {% if rows -%}
      {{ rows }}
      {% elseif empty -%}
      {{ empty }}
      {% endif %}

    </div>
</div>
</div>