html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $primaryfontfaimly;
    font-weight: 300;
    @include background($white);
    @include padding(0px, 0, 0, 0);
    margin: 0px;
    color: $body-gray;
    @extend %font-size;
    overflow-x: hidden;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

p {
    @extend %base-line-height;

}

a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;

}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

input {
    -webkit-appearance: none;
    opacity: 1;
}

button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}

strong {
    font-weight: 900;
}

.container-lg {
    max-width: calc(100%);
    width: calc(100% - 6rem);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(desktop-sm) {
        width: calc(100% - 4rem);
    }

    @include breakpoint(ipad_landscape) {
        width: calc(100% - 4rem);
    }

    @include breakpoint(ipad_portrait) {
        width: calc(100% - 3rem);
    }

    @include breakpoint(mobile) {
        width: calc(100% - 2rem);
    }
}

.container {
    max-width: 1400px;
    width: calc(100% - 14rem);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(desktop-sm) {
        width: calc(100% - 8rem);
    }

    @include breakpoint(ipad_landscape) {
        width: calc(100% - 8rem);
    }

    @include breakpoint(ipad_portrait) {
        width: calc(100% - 4rem);
    }

    @include breakpoint(mobile_landscape) {
        width: calc(100% - 4rem);
    }

    @include breakpoint(mobile_portrait) {
        width: calc(100% - 3rem);
    }
}

.container-md {
    max-width: 1200px;
    width: calc(100% - 24rem);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(desktop-sm) {
        width: calc(100% - 12rem);
    }

    @include breakpoint(ipad_landscape) {
        width: calc(100% - 12rem);
    }

    @include breakpoint(ipad_portrait) {
        width: calc(100% - 8rem);
    }

    @include breakpoint(mobile_landscape) {
        width: calc(100% - 4rem);
    }

    @include breakpoint(mobile_portrait) {
        width: calc(100% - 3rem);
    }
}

.container-sm {
    max-width: 1040px;
    width: calc(100% - 10rem);
    margin-left: auto;
    margin-right: auto;


    @include breakpoint(ipad_portrait) {
        width: calc(100% - 10rem);
    }

    @include breakpoint(mobile_landscape) {
        width: calc(100% - 6rem);
    }

    @include breakpoint(mobile_portrait) {
        width: calc(100% - 3rem);
    }
}

.main-padding {
    @extend %main-padding;
}

.white-bg {
    background: $white;
}

.primary-bg {
    color: $white;
    background: $primary-color;

}

.secondary-bg {
    background: $secondary-color;
    color: $white;
}

.drak-gray-bg {
    background: $drak-gray;
    color: $white;
}

.light-gray-bg {
    background: $light-gray;
}

.body-gray-bg {
    background: $body-gray;
    color: $white;
}


.custom-row {
    display: flex;
    flex-wrap: wrap;
}

.hide-desktop {
    display: none;

    @include breakpoint(mobile_portrait) {
        display: block;
    }
}

.hide-mobile {
    @include breakpoint(mobile_landscape) {
        display: block;
    }

    @include breakpoint(mobile_portrait) {
        display: none;
    }
}

.desc--box {
    p {
        a {
            color: $secondary-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: $primary-color;
            }
        }

        &:first-child {
            margin-top: 0px;
        }

        &:last-child {
            margin: 0px;
        }

        @media (min-width: 320px) and (max-width: 991px) {
            br {
                display: none;
            }
        }
    }

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            position: relative;
            margin: 0 0 0.5rem 0;
            padding: 0 0 0 1.4rem;
            @extend %base-line-height;

            br {
                @include breakpoint(ipad_portrait) {
                    display: none;
                }

                @include breakpoint(mobile) {
                    display: none;
                }
            }

            &::before {
                width: 10px;
                height: 10px;
                position: absolute;
                left: 0px;
                top: 6px;
                background: $primary-color;
                content: "";
                border-radius: 0px;
            }
        }
    }

    ul~p:last-child {
        margin-top: 1.5rem;
    }

    table tr td {
        padding-top: 5px;
        padding-bottom: 5px;

        &:nth-child(1) {
            width: 150px;
            padding-right: 15px;
        }
    }


}

.main-container {
    min-height: 90vh;
}


.back-btn-box {
    padding-top: 3rem;
    padding-bottom: 3rem;

    .back-btn {
        font-size: 1.5rem;
        color: $primary-color;
        font-family: $secondaryfontfaimly;
        text-transform: lowercase;
        position: relative;
        font-weight: 400;
        padding: 0 0 1rem 0;

        strong {
            display: inline-block;
            font-weight: 400;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100px;
            height: 5px;
            background: $primary-color;
        }

        &:hover {
            color: $primary-color;
        }
    }
}



.hide-in-desktop {
    display: none;
   
    @include breakpoint(mobile) {
        display: block;
    }
}

.hide-in-mobile {
    @include breakpoint(mobile) {
        display: none;
    }

}

h1.text-center {
    text-align: center;
    color: $primary-color;
    margin: 0px;

}