.main-footer {
    color: $gray-color;
    padding: 1rem 0;
    .custom-row {
        align-items: center;
    }
    .footer-left,
    .footer-mid,
    .footer-right {
        width: 33.3333%;
        @include breakpoint(mobile) {
            width: 100%;
            text-align: center;
        }
    }
    .footer-mid{
        text-align: center;
    }
     p {
        margin: 0px;
        font-size: 0.9rem;
        a {
            color: $gray-color;
            &:hover {
                color: $secondary-color;
            }
        }
    }
    .footer-right {
        text-align: right;
        @include breakpoint(mobile) {
            text-align: center;
        }
    }
    .footer-left {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            align-items: center;
            @include breakpoint(mobile) {
                justify-content: center;
            }
            li {
                margin: 0 0 0 15px;
                padding: 0px;
                a {
                    color: $gray-color;
                    display: block;
                    font-size: 0.9rem;
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}
