.main-header {
    background-color: rgba(255, 255, 255, 0);
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    @include breakpoint(mobile_nav) {
        padding: 1rem 0;
        background-color: rgba(255, 255, 255, 1);
    }

    .custom-row {
        align-items: flex-start;
    }
    .logo {
        width: auto;
        a {
            display: block;
        }
        img {
            display: block;
            width: 230px;
            @include breakpoint(ipad_landscape) {
                width: 190px;
            }
            @include breakpoint(ipad_portrait) {
                width: 160px;
            }
            @include breakpoint(mobile_nav) {
                width: 100px;
            }
        }
    }
    .hdr-right {
        margin-left: auto;
        @include breakpoint(mobile_nav) {
            padding-top: 0px;
        }
        .nav__toggle {
            display: none;
            @include breakpoint(mobile_nav) {
                display: block;
            }
        }
    }
}
.nav_menu {
    
    @include breakpoint(mobile_nav) {
        display: none;
    }
    .nav_menu__inner{
        display: flex;
        align-items: center;  
        @include breakpoint(mobile_nav) {
            display: block;
        }
    }
    nav {
        margin-top: 4px;
        ul {
            @include ul;
            display: flex;
            align-items: flex-start;
            li {
                margin: 0 20px;
                padding: 0;
                position: relative;
                @include breakpoint(ipad_landscape) {
                    margin: 0 12px;
                }

                a {
                    color: $gray-color;
                    font-size: $mainMenuFont;
                    padding: 0;
                    display: inline-flex;
                    font-weight: 500;
                    @include breakpoint(mobile_nav) {
                        font-size: $mainMenuFontMob;
                    }
                &.current{
                    color: $primary-color; 
                }    
                    &:hover {
                        color: $primary-color;
                    }
                }
               
                
            }
        }
    }
}

.nav__toggle {
    position: relative;
    height: 30px;
    width: 30px;
    z-index: 10;
    transition: all 0.2s;
    margin-left: 30px;
    top: 6px;
    outline: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    outline: 0;
    span,
    span::before,
    span::after {
        text-align: center;
        cursor: pointer;
        border-radius: 0px;
        height: 2px;
        width: 30px;
        background-color: $gray-color;
        position: absolute;
        display: block;
        content: "";
        transition: all 0.2s;
        outline: 0;
    }

    span {
        // left: 3px;
        top: 15px;

        &::before {
            top: -10px;
        }
        &::after {
            bottom: -10px;
        }
    }
}

.menu-slide {
    overflow: hidden;
    height: 100%;
    .nav__toggle {
        span {
            background-color: transparent;

            &::before,
            &::after {
                top: 0;
                background-color: $gray-color;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
        &:hover {
            span {
                background-color: transparent;

                &::before,
                &::after {
                    background-color: $gray-color;
                }
            }
        }
    }
    .nav_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        left: 0;
        height: 87vh;
        overflow: auto;
        padding: 0;
        top: 70px;
        @include breakpoint(mobile_landscape) {
            height: calc(100vh - 107px);
        }
        nav {
            display: flex;
            align-items: center;
            justify-content: center;
           
            ul {
                display: block;
                li {
                    padding: 10px 0;
                    &.menu-item-45 {
                        width: auto;
                    }
                    &.menu-item-44 {
                        width: auto;
                    }

                    &.menu-item-has-children {
                        ul {
                            display: block;
                            width: 100%;
                            padding: 0;

                            li {
                                position: relative;
                                padding: 7px 10px 7px 25px;
                                @include breakpoint(mobile_nav) {
                                    &:first-child {
                                        margin-top: 1rem;
                                    }
                                    &:last-child {
                                        margin-bottom: 0.7rem;
                                    }
                                }
                                &::before {
                                    content: "";
                                    width: 15px;
                                    height: 4px;
                                    background-color: $primary-color;
                                    left: 0px;
                                    top: 48%;
                                    display: none;
                                    position: absolute;
                                }
                            }
                        }
                        &:hover {
                            a {
                                border-bottom: 0px transparent solid;
                                padding-bottom: 0;
                            }
                            ul {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    .main-header {
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
    }
}
.header-social-media {
    margin-top: 7px;
    @include breakpoint(mobile_nav) {
        margin: 0;
        padding: 2rem 0;
        text-align: center;
    }
    @include breakpoint(mobile_landscape) {
        padding: 1rem 0 0;
    }
    ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        list-style: none;
        @include breakpoint(mobile_nav) {
            justify-content: center;
        }
        li {
            margin: 0 0 0 34px;
            padding: 0px;
            @include breakpoint(mobile_nav) {
                margin: 0 1rem;
            }
            a {
                display: block;
                svg {
                    fill: $secondary-color;
                    width: 40px;
                    @include breakpoint(mobile_nav) {
                        width: 30px;
                    }
                }

                &:hover {
                    svg {
                        fill: $primary-color;
                    }
                }
            }
        }
    }
}

.nav_menu nav ul li ul li ul {
    display: none !important;
}

.sm-header {
    .main-header {
        padding: 1rem 0;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 0 12px rgb(0 0 0 / 20%);
        .logo {
            img {
                width: 160px;
                @include breakpoint(mobile_nav) {
                    width: 100px;
                }
            }
        }
    }
}
