body {
  font-family: "Poppins", serif;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  position: relative;
  font-size: 16px;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: #000;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

.container {
  max-width: 1600px;
  padding: 0 2rem;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    padding: 0 1rem;
  }
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

.pd-top-btm {
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  font-weight: 600;
  font-size: 48px;
}
@media (min-width: 568px) and (max-width: 991px) {
  h1 {
    font-size: 34px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-weight: 600;
  font-size: 40px;
}
@media (min-width: 568px) and (max-width: 991px) {
  h2 {
    font-size: 30px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-weight: 600;
  font-size: 32px;
}
@media (min-width: 568px) and (max-width: 991px) {
  h3 {
    font-size: 25px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  h3 {
    font-size: 22px;
  }
}

h4 {
  font-weight: 600;
  font-size: 24px;
}
@media (min-width: 320px) and (max-width: 567px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  font-weight: 600;
  font-size: 16px;
}

.header-site {
  padding: 15px 0px;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.header-site .custom-row {
  justify-content: space-between;
  /* Distribute the items */
  align-items: center;
}
.header-site .logo a {
  color: #ffffff;
  font-weight: 700;
  display: block;
  font-size: 32px;
}
@media (min-width: 568px) and (max-width: 991px) {
  .header-site .logo a {
    font-size: 25px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .header-site .logo a {
    font-size: 22px;
  }
}
.header-site .main-search {
  width: 44%;
}
@media (min-width: 1400px) and (max-width: 1599px) {
  .header-site .main-search {
    width: 38%;
  }
}
@media (min-width: 1300px) and (max-width: 1399px) {
  .header-site .main-search {
    width: 32%;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .header-site .main-search {
    width: 26%;
  }
}
.header-site .main-search .wp-block-search__inside-wrapper {
  border: 0px;
  background: #dddddd;
  border-radius: 12px;
}
.header-site .main-search .wp-block-search__inside-wrapper .wp-block-search__input {
  background: transparent;
  font-size: 14px;
  padding: 15px;
}
.header-site .main-search .wp-block-search__inside-wrapper .wp-block-search__button.has-icon {
  line-height: 0;
  background: transparent;
  border: 0;
}
.header-site .main-menu {
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .header-site .main-menu {
    display: none;
  }
}
.header-site .main-menu nav {
  margin-right: 15px;
}
.header-site .main-menu nav ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.header-site .main-menu nav ul li {
  padding: 0px 10px;
}
.header-site .main-menu nav ul li:last-child {
  padding-right: 0px;
  display: none;
}
.header-site .main-menu nav ul li a {
  display: block;
  font-size: 16px;
  color: #ffffff;
  padding: 0px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .header-site .main-menu nav ul li a {
    color: #000;
  }
}

.menu-show .main-menu {
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menu-show .header-site .main-menu nav ul {
  display: block;
  margin-bottom: 20px;
}
.menu-show .header-site .main-menu nav ul li {
  padding: 15px 0px;
  text-align: center;
}
.menu-show .header-site .main-menu nav ul li a {
  font-size: 20px;
}

.headerfixed .header-site {
  background-color: #fff;
}
.headerfixed .header-site .logo a,
.headerfixed .header-site .main-menu nav ul li a {
  color: #000;
}

.social-media ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media ul li {
  margin: 0px;
  padding: 0 10px 0 0;
}
.social-media ul li:last-child {
  padding-right: 0px;
}
.social-media ul li a {
  display: block;
}
.social-media ul li a svg {
  width: 50px;
  height: 50px;
  padding: 5px;
  display: block;
  border-radius: 30px;
  fill: #fff;
}
.social-media ul li.fb a svg {
  background: linear-gradient(115deg, #62cff4, #2c67f2);
}
.social-media ul li.fb a span {
  color: #2c67f2;
}
.social-media ul li.fb a:hover svg {
  background: linear-gradient(115deg, #2c67f2, #62cff4);
}
.social-media ul li.insta a svg {
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
}
.social-media ul li.insta a span {
  color: #ee2a7b;
}
.social-media ul li.insta:hover a svg {
  background: linear-gradient(115deg, #6228d7, #ee2a7b, #f9ce34);
}
.social-media ul li.email a svg {
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
}
.social-media ul li.email a span {
  color: #ee2a7b;
}
.social-media ul li.email:hover a svg {
  background: linear-gradient(115deg, #6228d7, #ee2a7b, #f9ce34);
}

.hamburger {
  position: relative;
  z-index: 9999;
  display: none;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .hamburger {
    display: block;
  }
}

.hamburger .line {
  width: 45px;
  height: 5px;
  display: block;
  margin: 8px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */
#hamburgerClick.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburgerClick.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburgerClick.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

.catogory-list {
  padding: 22px 0 15px 0;
}
.catogory-list ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.catogory-list ul li {
  margin: 0px;
  padding: 0 10px 10px 0;
}
.catogory-list ul li:last-child {
  padding-right: 0px;
}
.catogory-list ul li a {
  display: block;
  padding: 8px 20px;
  border-width: 1px;
  border-radius: 20px;
  border-style: solid;
  font-size: 16px;
}

.popular-posts ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.popular-posts ul li a.wpp-post-title {
  font-size: 16px;
}
.popular-posts ul li a:nth-child(1) {
  width: 50px;
  margin-right: 15px;
  float: left;
}
.popular-posts ul li a:nth-child(1) img {
  width: 100%;
  height: auto;
}

.wpforms-container input.wpforms-field-medium, .wpforms-container select.wpforms-field-medium, .wpforms-container .wpforms-field-row.wpforms-field-medium, .wp-core-ui div.wpforms-container input.wpforms-field-medium, .wp-core-ui div.wpforms-container select.wpforms-field-medium, .wp-core-ui div.wpforms-container .wpforms-field-row.wpforms-field-medium {
  max-width: 100%;
}

.banner {
  padding: 0;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.banner .container {
  position: relative;
  z-index: 1;
  padding-top: 9rem;
  padding-bottom: 4rem;
  color: #fff;
  text-align: center;
  max-width: 1000px;
}
@media (min-width: 568px) and (max-width: 767px) {
  .banner .container {
    padding-top: 5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .banner .container {
    padding-top: 5rem;
  }
}
.banner figure {
  height: 100%;
}
.banner .main-header-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.banner .main-header-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.banner .main-header-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}

.post-row {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
  flex-wrap: wrap;
}
.post-row .post-box {
  padding: 8px;
  width: 33.33%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-box {
    width: 50%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .post-row .post-box {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .post-row .post-box {
    width: 100%;
  }
}
.post-row .post-box .post-box-img {
  width: 100%;
  height: 342px;
  position: relative;
  border-radius: 11px;
  overflow: hidden;
}
.post-row .post-box .post-box-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.post-row .post-box .post-box-img .post-box-info {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}
.post-row .post-box .post-box-img .post-box-info .post-date {
  color: #fff;
}
.post-row .post-box .post-box-img .post-box-info .download-btn {
  margin-left: auto;
}
.post-row .post-box .post-box-content {
  padding: 10px;
}
.post-row .post-box .post-box-content h4 {
  margin: 0px;
  padding: 0px;
}

.download-btn {
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.site-footer {
  background-color: #2B2A33;
  padding: 1rem 0;
  text-align: center;
}
.site-footer .footer-info {
  color: #fff;
}

.single-page-row {
  padding: 30px 0;
}
.single-page-row .site-details-left {
  width: calc(100% - 250px);
  padding-right: 20px;
}
@media (min-width: 568px) and (max-width: 767px) {
  .single-page-row .site-details-left {
    width: 100%;
    padding-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .single-page-row .site-details-left {
    width: 100%;
    padding-right: 0px;
  }
}
.single-page-row .site-details-left article figure img,
.single-page-row .site-details-left article .uploaded-img-box img {
  width: 100%;
  height: auto;
  display: block;
}
.single-page-row .site-details-left .uploaded-img-box {
  margin-bottom: 25px;
}
.single-page-row .site-details-left .uploaded-img-box h4 {
  margin: 10px 0;
  padding: 0px;
}
.single-page-row .site-details-left .gallery-img ul {
  margin: 0 -8px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.single-page-row .site-details-left .gallery-img ul li {
  width: 33.33%;
  padding: 15px 8px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .single-page-row .site-details-left .gallery-img ul li {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .single-page-row .site-details-left .gallery-img ul li {
    width: 50%;
  }
}
.single-page-row .site-details-left .gallery-img ul li h5 {
  margin: 10px 0;
  padding: 0px;
}
.single-page-row .site-details-left .gallery-img ul li img {
  width: 100%;
  height: auto;
  display: block;
}
.single-page-row .site-details-right {
  width: 250px;
}
@media (min-width: 568px) and (max-width: 767px) {
  .single-page-row .site-details-right {
    width: 100%;
    padding-top: 2px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .single-page-row .site-details-right {
    width: 100%;
    padding-top: 20px;
  }
}
.single-page-row .site-details-right h2 {
  margin: 0px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.comments-area {
  margin: 40px 0;
}
.comments-area .comment-respond .comment-form {
  background-color: #f1f1f1;
  padding: 20px;
}
.comments-area .comment-respond .comment-form p label {
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
}
.comments-area .comment-respond .comment-form p textarea,
.comments-area .comment-respond .comment-form p input[type=text],
.comments-area .comment-respond .comment-form p input[type=email],
.comments-area .comment-respond .comment-form p input[type=password],
.comments-area .comment-respond .comment-form p input[type=number],
.comments-area .comment-respond .comment-form p input[type=date],
.comments-area .comment-respond .comment-form p input[type=url],
.comments-area .comment-respond .comment-form p textarea {
  border: 1px #000 solid;
  padding: 10px;
  width: 100%;
  color: #000;
  font-size: 16px;
}
fo .comments-area .comment-respond .comment-form p textarea:disabled,
fo .comments-area .comment-respond .comment-form p input[type=text]:disabled,
fo .comments-area .comment-respond .comment-form p input[type=email]:disabled,
fo .comments-area .comment-respond .comment-form p input[type=password]:disabled,
fo .comments-area .comment-respond .comment-form p input[type=number]:disabled,
fo .comments-area .comment-respond .comment-form p input[type=date]:disabled,
fo .comments-area .comment-respond .comment-form p input[type=url]:disabled,
fo .comments-area .comment-respond .comment-form p textarea:disabled {
  opacity: 0.5;
}
.comments-area .comment-respond .comment-form p textarea::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=text]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=email]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=password]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=number]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=date]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=url]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  color: #000;
  font-size: 16px;
}
.comments-area .comment-respond .comment-form p textarea::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=text]::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=email]::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=password]::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=number]::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=date]::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=url]::-moz-placeholder,
.comments-area .comment-respond .comment-form p textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  color: #000;
  font-size: 16px;
}
.comments-area .comment-respond .comment-form p textarea:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=text]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=email]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=password]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=number]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=date]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=url]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  color: #000;
  font-size: 16px;
}
.comments-area .comment-respond .comment-form p textarea:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=text]:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=email]:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=password]:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=number]:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=date]:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=url]:-moz-placeholder,
.comments-area .comment-respond .comment-form p textarea:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  color: #000;
  font-size: 16px;
}
.comments-area .comment-respond .comment-form p.comment-form-cookies-consent {
  display: flex;
  align-items: center;
}
.comments-area .comment-respond .comment-form p.comment-form-cookies-consent label {
  margin: 0 0 0 10px;
}
.comments-area .comment-respond .comment-form p.form-submit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.comments-area .comment-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.comments-area .comment-list li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-bottom: 20px;
}
.comments-area .comment-list li .reply {
  margin: 5px 0 40px 0;
  text-align: right;
}
.comments-area .comment-list li .comment-top {
  display: flex;
  align-items: center;
}
.comments-area .comment-list li .comment-top .comment-author {
  display: flex;
  align-items: center;
}
.comments-area .comment-list li .comment-top .comment-author .says {
  margin-left: 5px;
  font-size: 14px;
}
.comments-area .comment-list li .comment-top .comment-author img {
  margin-right: 10px;
}
.comments-area .comment-list li .comment-top .comment-metadata {
  display: block;
  font-size: 12px;
  margin-left: auto;
}
.comments-area .comment-list li .comment-content {
  position: relative;
  background: #f1f1f1;
  padding: 15px;
  margin-top: 20px;
}
.comments-area .comment-list li .comment-content p:first-child {
  margin-top: 0px;
  margin-bottom: 0px;
}
.comments-area .comment-list li .comment-content:after {
  bottom: 100%;
  left: 20px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(241, 241, 241, 0);
  border-bottom-color: #f1f1f1;
  border-width: 10px;
  margin-left: -10px;
}

.submit {
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: 0px;
  cursor: pointer;
}

.paging-navigation {
  margin-bottom: 30px;
}
.paging-navigation ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paging-navigation ul li {
  margin: 0px;
  padding: 0 10px;
}
.paging-navigation ul li a,
.paging-navigation ul li span {
  display: block;
  font-weight: 500;
  color: #999;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #000;
  color: white;
  font-size: 16px;
}
.paging-navigation ul li a.current,
.paging-navigation ul li span.current {
  font-weight: 600;
}

.page-navigation {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 30px;
  font-size: 24px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .page-navigation {
    font-size: 18px;
  }
}

.wp-block-column .wp-block-categories {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.wp-block-column .wp-block-categories li {
  margin: 0 0 15px;
  padding: 0px;
  width: 100%;
  background-size: cover !important;
}
.wp-block-column .wp-block-categories li a {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  min-height: 100px;
  color: #fff;
  font-size: 24px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .wp-block-column .wp-block-categories li a {
    font-size: 18px;
  }
}
.wp-block-column .wp-block-categories li a:hover {
  background: linear-gradient(to bottom, rgba(53, 53, 53, 0) 0%, rgba(1, 1, 1, 0.65) 50%, rgba(0, 0, 0, 0.65) 51%);
}
.wp-block-column .wp-block-categories li:nth-child(1) {
  background: url("../images/categories/1.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(2) {
  background: url("../images/categories/2.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(3) {
  background: url("../images/categories/3.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(4) {
  background: url("../images/categories/4.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(5) {
  background: url("../images/categories/5.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(6) {
  background: url("../images/categories/6.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(7) {
  background: url("../images/categories/7.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(8) {
  background: url("../images/categories/8.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(9) {
  background: url("../images/categories/9.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(10) {
  background: url("../images/categories/10.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(11) {
  background: url("../images/categories/11.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(12) {
  background: url("../images/categories/12.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(13) {
  background: url("../images/categories/13.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(14) {
  background: url("../images/categories/14.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(15) {
  background: url("../images/categories/15.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(16) {
  background: url("../images/categories/16.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(17) {
  background: url("../images/categories/17.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(18) {
  background: url("../images/categories/18.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(19) {
  background: url("../images/categories/19.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(20) {
  background: url("../images/categories/20.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(21) {
  background: url("../images/categories/21.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(22) {
  background: url("../images/categories/22.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(23) {
  background: url("../images/categories/23.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(24) {
  background: url("../images/categories/24.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(25) {
  background: url("../images/categories/25.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(26) {
  background: url("../images/categories/26.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(27) {
  background: url("../images/categories/27.jpg") no-repeat right center;
}

/*# sourceMappingURL=global.css.map */
