/*
Theme Name: freewallpapertwo
Author: Aleksandra Laczek
Author URI: http://webtuts.pl/themes/
Description: Personal blogging theme inspired by Flat UI. Featuring responsive design, post format support and color options built into theme customizer. Simple, clean, vibrant. You can visit live demo at http://webtuts.pl/test/story/
Version: 1.0.1
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl.html
*/

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #333;
  text-decoration: none;
}

a {
  color: #20c997;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}
.wp-block-gallery.has-nested-images figure.wp-block-image:has(figcaption)::before {
  display: none;
}

.wp-block-image .download-btn {
  text-align: center;
  padding: 7px 15px;

  height: auto !important;
  width: auto !important;
}



.wp-block-image {
  padding: 5px !important;
  width: 33.33% !important;
}

@media screen and (max-width: 991px) {
  .wp-block-image {
    width: 50% !important;
  }
}
@media screen and (max-width: 567px) {
  .wp-block-image {
    width: 100% !important;
  }
}
