.hero-section{
    display: flex;
    @include breakpoint(iPad){
        flex-wrap: wrap;
     }
    @include breakpoint(mobile){
       flex-wrap: wrap;
    }
    .hero-section-left{
        width: 50%;
        padding-right: 8px;
        @include breakpoint(iPad) {
            width: 100%;
            padding-right: 0px;
        }
        @include breakpoint(mobile){
            width: 100%;
            padding-right: 0px;
            
        }
        .hero-box{
            height: 600px;
            @include breakpoint(iPad){
                height: 400px;
             }
            @include breakpoint(mobile){
                height: 300px;
            }
        }
    }
    .hero-section-right{
        width: 50%;
        padding-left: 8px;
        @include breakpoint(iPad) {
            width: 100%;
            padding-left: 0px;
            padding-top: 16px;
        }
        @include breakpoint(mobile){
            width: 100%;
            padding-left: 0px;
            padding-top: 16px;
        }
        .hero-section-right-top{
            padding-bottom: 16px;
            .hero-box{
                height: 300px;
                @include breakpoint(iPad){
                    height: 400px;
                 }
             
            }
        }
        .hero-section-right-btm{
            display: flex;
            .hero-box{
                height: 284px;
                width: calc(50%);
               
                &:nth-child(1){
                   margin-right: 8px;
                }
                &:nth-child(2){
                    margin-left: 8px;
                }
            }
            @include breakpoint(mobile_portrait) {
                .hero-box-other{
                    flex-wrap: wrap;
                    .hero-author,
                    .hero-post-time
                    {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.hero-box{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    .hero-box-img{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        transition: transform 2s;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .hero-box-content{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
        background-image: linear-gradient(180deg, transparent, black);
        display: flex;
        a{
            display: flex;
            padding: 1rem;
            width: 100%;
            height: 100%;
            align-items: end;
        }
        h2, h3, h4, h5{
            margin: 0px;
            color: $white;
            padding: 0px;
        }
        .hero-box-content-in{
            width: 100%;
        }
    }
    &:hover{
        .hero-box-img{
            transform: scale(1.1); 
        }  
    }
}
.hero-box-txt{
    margin-top: 8px;
    font-size: 15px;
    color: $white;
    p{
        margin: 0px;
    }
}

.hero-box-other{
    display: flex;
    font-size: 13px;
    color: $white;
    width: 100%;
    margin-top: 8px;
    .hero-author{
        display: flex;
        margin: 5px 0;
        align-items: center;
        text-transform: capitalize;
       
        span{
            width: 30px;
            height: 30px;
            overflow: hidden;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 100px;
                opacity: 1 !important;
                
            }
        }
    }
    .hero-post-time{
       margin-left: auto;
       display: flex;
       align-items: center;
       i{
        margin-right: 5px;
        svg{
            fill: rgb(255, 255, 255);
        }
       }
    }
}