.paging-navigation{
    margin-bottom: 30px;
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            margin: 0px;
            padding: 0 10px;
            a,
            span{
                display: block;
                font-size: $font-size-base;
                font-weight: 500;
                color: $header_link;
                text-decoration: none;
                padding: 5px 10px;
                background-color: $black;
                color: $white;
                &.current{
                    font-weight: 600;
                }
            }
        }
    }
}