.post-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;

    .post-box {
        padding: 0 10px;
        margin-bottom: 15px;

        .post-box-img {
            display: block;
            position: relative;
            height: 300px;
            overflow: hidden;
            border-radius: 5px;
            .post-admin-time{
                position: absolute;
                bottom: 0px;
                left: 0px;
                padding: 5px 10px;
                background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);

                color: $white;
                font-size: 12px;
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
        }

        .post-box-content {
            h2, h3,  h4 {
                margin: 16px 0;
                font-size: 20px;
                padding: 0px;
            }

            .post-box-content-txt {
                padding-top: 5px;
            }
        }
    }
}

.sce-section-left{
    .post-row{
        .post-box{
            width: 33.33%;
            @include breakpoint(mobile_landscape){
                width: 50%;
            }
            @include breakpoint(mobile_portrait){
                width: 100%;
            }
        }
    }
}

.most-watch-row{
    .post-row{
        .post-box{
            width: 25%;
            @include breakpoint(mobile_landscape){
                width: 50%;
            }
            @include breakpoint(mobile_portrait){
                width: 100%;
            }
        }
    }
}

.page-left{
    .post-row{
        .post-box{
            width: 33.33%;
            @include breakpoint(mobile_landscape){
                width: 50%;
            }
            @include breakpoint(mobile_portrait){
                width: 100%;
            }
        }
    }  
}