.related-posts{
    h3{
        margin: 0 0 20px;
    }
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            margin: 0px;
            padding: 0 0 10px 0;
            a{
                display: flex;
                text-decoration: none;
                .related-thumb{
                    width: 100px;
                    height: 100px;
                    overflow: hidden;
                    @include breakpoint(iPad_landscape){
                        width: 70px;
                        height: 70px;
                    }
                   
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .related-content{
                    width: calc(100% - 100px);
                    padding-left: 10px;
                    @include breakpoint(iPad_landscape){
                        width: calc(100% - 70px);
                    }
                    h4{
                        margin: 0px;
                        font-weight: 600;
                    }
                    span{
                        color: #000;
                        font-size: 13px
                    }
                }
            }
        }
    }
    &.related-pages{
        ul{
            li{
                a{
                    @extend h4;
                    font-weight: 500;
                }
            }
        }
    }
}