.search-pop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0000008f;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 99999;
    padding: 1rem;
    display: none;
    .search-pop-in{
        max-width: 800px;
        margin:4rem auto auto auto;
        background: $white;
        padding: 2rem;
        position: relative;
        #searchClose{
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: transparent;
            padding: 0px;
            cursor: pointer;
        }
        strong{
            display: block;
            margin-bottom: 1rem;
            font-size: 1.6rem;
        }
        form{
            display: flex;
            align-items: center;
            label{
               display: none;
                
            }
            input{
                width: 100%;
                font-size: 16px;
                padding: 1.1rem;
            }
            .search-submit{
                width: calc(150px);
                background: $site_theme;
                color: $white;
                padding: 1rem;
                font-size: 1.3rem;
                cursor: pointer;
                font-family: $fontFamily;
                font-weight: 400;
                border: 0px;
                @include breakpoint(mobile_portrait){
                    width: 103px;
                }

            }
        }
    }
}
.pop{
    .search-pop{
      display: block;
    }
}