<section class="sub-page-banner secondary-bg">
	<div class="container-sm">
		<div class="custom-row">
			<div class="sub-page-banner-left">
				<h1>{{post.get_field('hero_title')?post.get_field('hero_title'):(post.title?post.title:title)}}</h1>
			</div>
			<div class="sub-page-banner-right">
				{% if post.get_field('expertise_icon_white') %}

					<div class="sub-page-img">
						<img src="{{ TimberImage(post.get_field('expertise_icon_white')).src('expertise-icon')}}" alt=""/>
					</div>
				{% endif %}

			</div>
		</div>
	</div>
</section>
