{% if post.content %}
	<section class="info-image-text-section drak-gray-bg">
	{% if post.thumbnail %}
	  <div class="container custom-row">
       <div class="info-image-text-image"><img src="{{ TimberImage(post.thumbnail).src('page-hero') }}" alt="" /></div>
    {% endif %}
		<div class="info-image-text-content">
				<div class="desc--box">
					{{post.content}}
				</div>
		</div>
      </div>
	</section>
{% endif %}

{% if post.get_field('content_row_group').title or post.get_field('content_row_group').content %}
	<section class="center-text-section white-bg">
		<div class="container-sm">
				<div class="custom-row">
				<div class="center-text-section-content">
					<div class="desc--box">{{post.get_field('content_row_group').content}}</div>
						{% if post.get_field('content_row_group').cta %}
							<div class="btn-set--center">
								<a href="{{post.get_field('content_row_group').cta.url}}" class="secondary-btn">{{post.get_field('content_row_group').cta.title}}</a>
							</div>
						{% endif %}
					</div>
					</div>
				</div>
		</div>
	</section>


{% endif %}
