{% if post.get_field('hero_image') %}
<section class="hero-section inner-sub-hero-section">
	<div class="container-lg custom-row">
		<div class="hero-image-section">
			<div class="hero-image-item">
				{% if post.get_field('hero_image') %}
				<picture>
					<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.get_field('hero_image')).src('sub-page-hero-mobile') }}" />
					<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(post.get_field('hero_image')).src('sub-page-hero-ipad') }}" />
					<img src="{{ TimberImage(post.get_field('hero_image')).src('sub-page-hero') }}" alt="{{ post.get_field('hero_image').alt }}" />
				</picture>
				{% elseif post.thumbnail %}
				<picture>
					<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.thumbnail).src('sub-page-hero-mobile') }}" />
					<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(post.thumbnail).src('sub-page-hero-ipad') }}" />
					<img src="{{ TimberImage(post.thumbnail).src('sub-page-hero') }}" alt="{{ post.thumbnail.alt }}" />
				</picture>
				{% endif %}
			</div>
		</div>
		<div class="hero-content-section">
			<h1>{{post.get_field('hero_title')?post.get_field('hero_title'):(post.title?post.title:title)}}</h1>
		</div>
	</div>
</section>
{% endif %}
