{% if post.content %}
	{% set param = { 'next_text':'‹ previous article', 'prev_text':'next article ›'} %}
	<section class="text-section white-bg main-padding">
		<div class="container-sm">
			<div class="desc--box">
				{{post.content}}
			</div>
		</div>

		{% if post.post_type =='post'%}
			<div class="news-post-pager">
				{{ function('the_post_navigation',param) }}
			</div>
		{% endif %}

	</section>
{% endif %}
