{% if post.home_hero_list %}
	<section class="hero-section home-hero-section">
		<div class="container-lg custom-row">
			<div class="hero-image-section">
				<div class="hero-image-slider">
					{% for slide in post.get_field('home_hero_list') %}
						{% set last_slide =slide %}
						{% if slide.hero_image %}
							<div class="hero-image-item">
								{% if slide.hero_image %}
									<picture>
										<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(slide.hero_image_mobile ? slide.hero_image_mobile:slide.hero_image).src('hero-slider-mobile') }}">
										<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(slide.hero_image_ipad?slide.hero_image_ipad:slide.hero_image).src('hero-slider-ipad') }}">
										<img src="{{ TimberImage(slide.hero_image).src('hero-slider') }}" alt="{{ slide.hero_image.alt }}">
									</picture>
									{# width= 1308 and height =1000 #}

								{% endif %}
							</div>
						{% endif %}

					{% endfor %}


				</div>
			</div>
			<div class="hero-content-section">
				<h1>{{post.hero_content}}</h1>
				<div class="btn-set--left ">
					<a href="{{post.hero_cta.url}}" class="secondary-btn" target="{{post.hero_cta.target}}">{{post.hero_cta.title}}</a>
				</div>
			</div>
		</div>
	</section>
	<div id="scroll-to-main"></div>
{% endif %}