<section class="find-out-section get-in-touch-footer secondary-bg">
	<div class="container-sm">
		<div class="section-hd">
			<h2>{{contact_post.get_field('contact_heading')}}</h2>
		</div>
		<div class="find-out-section-content">
			<div class="btn-set--center">
				<a href="tel:{{contact_post.get_field('telephone')}}" class="white-btn">{{contact_post.get_field('telephone')}}</a>
				<a href="mailto:{{contact_post.get_field('email')}}" class="white-btn">{{contact_post.get_field('email')}}</a>
			</div>
		</div>
	</div>
</section>
