<footer>
	<div class="container-lg">
		<div class="custom-row">
			<div class="footer-info">
				<ul class="contact-info-icon">
					<li>
						<a href="tel:{{contact_post.meta('telephone')}}">{{contact_post.meta('telephone')}}</a>
					</li>
					<li>
						<a href="mailto:{{contact_post.meta('email')}}">{{contact_post.meta('email')}}</a>
					</li>
				</ul>
			</div>
			<div class="footer-social-media">
			<div>
				<span>{{contact_post.get_field('social_media_heading')}}</span>
				<ul class="social-media-icon">
					<li>
						<a class="facebook" href="{{contact_post.get_field('facebook')}}"></a>
					</li>
					<li>
						<a class="instagram" href="{{contact_post.get_field('instagram')}}"></a>
					</li>
					<li>
						<a class="linkedin" href="{{contact_post.get_field('linkedin')}}"></a>
					</li>
					<li>
						<a class="twitter" href="{{contact_post.get_field('twitter')}}"></a>
					</li>
					{# <li>
						<a class="youtube" href="{{contact_post.get_field('youtube')}}"></a>
					</li> #}
				</ul>
				</div>
			</div>
			{% if contact_post.get_field('footer_certified_logos') %}
			<div class="footer-certified">
				<ul>
					{% for item in contact_post.get_field('footer_certified_logos')  %}
					<li>
						<a href="{{item.certified_logo_cta.url}}" title="{{item.certified_logo_cta.title}}" target="{{item.certified_logo_cta.target}}">
							<img src="{{ TimberImage(item.certified_logo).src('src') }}" alt="{{ item.certified_logo.alt }}"/>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			<div class="footer-link">
			<div>
				{% include "menu.twig" with {'items': footer_menu_1.get_items} %}
				<p class="copy-right">Website created by
					<a href="https://blooberrycreative.co.uk/" target="_blank">Blooberry Creative</a>
				</p>
				</div>
			</div>
		</div>
	</div>
</footer>
