.map_marker {
    &__map {
        width: 100%;
        height: 620px;
        position: relative;
        .leaflet-pane {
            .leaflet-popup-pane {
                .leaflet-popup {
                    .leaflet-popup-content {
                        font-size: 1rem;
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;

                        img {
                          min-width: 230px;
                          width: 100%;
                          height: auto;
                          display: block;
                          margin-bottom: 1.25rem;
                        }

                        h3 {
                          font-size: 1.15rem;
                          margin-bottom: 1rem;
                          color: var(--c-teal);
                        }
                      
                        p {
                          margin: 0 0 1rem;
                        }
                      
                        button {
                          align-self: flex-end;
                          font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

    .more-info {
        font-size: 18px;
        padding: $d_pd 0;
    
        &__title {
            color: #222222;
            font-family: "PontiacBold";
        }
    
        &__separator {
            display: block;
    
            &:after {
                content: "";
                display: block;
                margin: 15px 0;
                background-color: #cbcbcb;
                height: 1px;
            }
        }
    
        &__link {
            color: #3f7d8b;
        }
    }
}