$footer-font: 14px;

.main-footer {
    background: $secondary-color;
    padding: 2rem 0;


    .footer-left {
        width: 25%;
        padding-right: 3rem;
        padding-top: 10px;
        @include breakpoint(ipad_landscape) {
            padding-top: 23px;
        }

        @include breakpoint(ipad_portrait) {
            padding-right: 1.5rem;
            padding-top: 20px;
        }

        @include breakpoint(mobile) {
            width: 100%;
            padding-right: 0rem;
        }
    }

    .footer-center {
        width: 50%;
        padding: 0 3rem;
        border-left: 1px $white solid;
        border-right: 1px $white solid;
        display: flex;
        align-items: center;

        @include breakpoint(ipad_portrait) {
            padding: 0 1.5rem;
        }

        @include breakpoint(mobile) {
            display: none;
        }
    }

    .footer-right {
        width: 25%;
        padding-left: 3rem;
        padding-top: 1.3rem;
        @include breakpoint(ipad_portrait) {
            padding-top: 1.3rem;
        }
        @include breakpoint(ipad_portrait) {
            padding-left: 1.5rem;
        }

        @include breakpoint(mobile) {
            width: 100%;
            padding-left: 0rem;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            align-items: center;
            text-align: right;

            @include breakpoint(mobile) {
                justify-content: center;
                text-align: center;
                position: relative;
                padding-top: 1rem;
                margin-top: 0.5rem;
                 text-align: center;

                &::before {
                    content: '';
                    width: 100px;
                    height: 1px;
                    background: $white;
                    margin: auto;
                    position: absolute;
                    left: 0;
                    right: 0px;
                    top: 0;
                }
            }

            li {
                margin: 0 0 4px 0;
                padding: 0;
                font-size: $footer-font;
                color: $white;

                &:last-child {
                    margin-bottom: 0px;

                }

                a {
                    font-size: $footer-font;
                    color: $white;

                    &:hover {
                        color: $drak-gray;
                    }
                }


            }
        }

        p {
            font-size: $footer-font;
            color: $white;
            margin-top: 2rem;
            text-align: right;
            @include breakpoint(ipad_landscape) {
                margin-top: 1rem;
            }
            @include breakpoint(ipad_portrait) {
                margin-top: 1rem;
            }
            @include breakpoint(mobile){
                text-align: center;
            }

            a {
                font-weight: 500;
                color: $white;

                &:hover {
                    color: $drak-gray;
                }

            }
        }
    }

    .site-footer-logo {
        width: 60%;
        margin-bottom: 1.5rem;

        @include breakpoint(ipad_portrait) {
            width: 90%;
        }

        @include breakpoint(mobile) {
            margin-left: auto;
            margin-right: auto;
            width: 200px;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    .footer-social-media {
        ul.social-media-icon {
           
            @include breakpoint(mobile) {
                justify-content: center;
            }

            li {
                a {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .property-logos {
        margin: 0;
        padding: 0px;
        list-style: none;
        @include display-flex(flex, center, center, flex-wrap);

        li {
            margin: 0px;
            padding: 0 2rem;
            width: 28%;
            @include breakpoint(ipad_air) {
                padding: 0 0.5rem;
                width: 34%;
            }
            @include breakpoint(ipad_landscape) {
                padding: 0 0.5rem;
                width: 34%;
            }

            @include breakpoint(ipad_portrait) {
                padding: 0 0.5rem;
                width: 33%;
            }

            a {
                display: block;

            }

            img {
                width: 100%;
                display: block;
                border: 2px $white solid;
                border-radius: 5px;
            }
        }
    }



}
.contact{
    .social-media-icon{
        margin-left: -15px;
    }
}