body {
    font-family: "HelveticaNeueLTPro-Lt";
    font-weight: 300;
    @include background($white);
    @include padding(0px, 0, 0, 0);
    margin: 0px;
    font-size: $font-size-base;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #333;
    text-decoration: none;
}



input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}

.container{
    max-width: 1280px;
    padding: 0 15px;
    margin: auto;
}

.custom-row{
    display: flex;
}

