<div class="news-three-img">
	<div class="news-img-1">
		<img typeof="foaf:Image" src="{{ TimberImage(content_row.image).src('src') }}" alt="" title="{{post.title}}">
	</div>
	<div class="news-img-2">
		<img typeof="foaf:Image" src="{{ TimberImage(content_row.image_copy).src('src') }}" alt="" title="{{post.title}}">
	</div>
    <div class="news-img-3">
		<img typeof="foaf:Image" src="{{ TimberImage(content_row.image_copy2).src('src') }}" alt="" title="{{post.title}}">
	</div>
</div>
