{% if content_row.image_gallery %}
	<section class="project-galley-section gallery-{{content_row.image_style}}" data-aos="fade-up">
		<div class="project-galley-row">
			{% for img in content_row.image_gallery %}
            {% set gallery_image = get_image(img.image)%}
				<div class="project-galley-box">
					<a href="{{gallery_image.src('src')}}" class="fancy-box" style="background-image: url({{gallery_image.src('gallery_thumb')}});"></a>
				</div>
			{% endfor %}
		</div>
	</section>

{% endif %}
