{% if content_row.image_gallery %}
	<div class="project-galley-row gallery-image-x1">
		{% for img in content_row.image_gallery %}
			{% set gallery_image = get_image(img.image)%}
			<div class="project-galley-box">
				<a href="{{gallery_image.src('src')}}" data-fancybox="gallery-all" style="background-image: url({{gallery_image.src('gallery_thumb')}});"></a>
			</div>
		{% endfor %}
	</div>
{% endif %}
