{% if post.get_field('hero_image') or post.thumbnail %}
<section class="inner-page-hero inner-details-page-hero page-title-section">
   <div class="container-fluid ">
		   <div class="page-hero-center">
				<h2>{{post.get_field('hero_title')?post.get_field('hero_title'):(post.title?post.title:title)}}</h2>
			</div>
	</div>
</section>

<div id="scroll-to-main"></div>
{% endif %}
