<section class="main-heading--section white-bg">
    <div class="container-sm container-sm-pd-lr">
        <h1>{{post.title}}</h1>
    </div>
</section>

<div class="product-content--list main-padding">
    {% for post in getServices() %}

    {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}

    {% endfor %}

    <div class="container-sm container-sm-pd-lr"> {% include 'partial/pagination.twig' with { pagination:
        posts.pagination({show_all: false, mid_size: 3, end_size:
        2}) } %}
    </div>
</div>