{% set problem_group = post.meta('case_study_problem_group') %}
{% set solution_group = post.meta('case_study_solution_group') %}
{% set result_group = post.meta('case_study_result_group') %}
<section class="inner-page-hero inner-details-page-hero page-title-section">
	<div class="container-fluid ">
		<div class="page-hero-center">
			<h2>{{post.get_field('hero_title')?post.get_field('hero_title'):(post.title?post.title:title)}}</h2>
		</div>
	</div>
</section>

<div id="scroll-to-main"></div>

<div class="primary-gradient-bg common-section-btm-pd page-top-content">
	<div class="container-sm details-sm-pd-lr">
		<div class="details_featured_img">
			<img src="{{ TimberImage(post.thumbnail).src('page-hero') }}" alt=""/>
		</div>

		<div class="simple-content-box">

			{% if problem_group.case_study_problem_group_heading %}
				<h5>{{problem_group.case_study_problem_group_heading}}</h5>
			{% endif %}

			{% if problem_group.case_study_problem_group_content %}
				<div class="desc--box">
					{{problem_group.case_study_problem_group_content}}
				</div>
			{% endif %}
		</div>
	</div>
</div>


<div class="simple-content-section common-section-top-pd">
	<div class="container-sm details-sm-pd-lr">
		<div class="simple-content-box">
			{% if solution_group.case_study_solution_group_heading %}
				<h5>{{solution_group.case_study_solution_group_heading}}</h5>
			{% endif %}

				{% if solution_group.case_study_solution_group_content %}
				<div class="desc--box">
					{{solution_group.case_study_solution_group_content}}
				</div>
			{% endif %}
			{# <div class="simple-content-img">
				<img src="{{ site.theme.link }}/assets/img/demo-img/gray-img.svg" alt=""/>
			</div> #}
		</div>

		<div class="simple-content-box">
			{% if result_group.case_study_result_group_heading %}
				<h5>{{result_group.case_study_result_group_heading}}</h5>
			{% endif %}

				{% if result_group.case_study_result_group_content %}
				<div class="desc--box">
					{{result_group.case_study_result_group_content}}
				</div>
			{% endif %}
		</div>
	</div>
</div>


{% include "partial/content-back-to-button.twig" with {url_link:'/case-studies/',url_title : 'BACK TO CASE STUDIES' }%}
