<section class="common-section-pd gray-bg get-in-touch--section" data-aos="fade">
	<div class="container-sm container-sm-pd-lr">
		<div class="common-content-block">
			<h2 class="blue-hd">{{contact_post.contact_heading}}</h2>
			<div class="desc--box">{{contact_post.contact_heading_copy}}</div>
		
		</div>

		<div class="get-in-touch custom-row">
			<div class="get-in-touch-left">
				<div class="get-in-touch-icons">
					<ul>
						<li>
							<a href="tel:{{contact_post.telephone}}">
								<span><i class="telephone-white-icon"></i></span>{{contact_post.telephone}}
								</a>
						</li>
						<li>
							<a href="mailto:{{contact_post.email}}">
								<span><i class="email-white-icon"></i></span>{{contact_post.email}}
							</a>
						</li>
						<li>
							<a href="#">
								<span><i class="map-white-icon"></i></span>WhatsApp chat

							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="get-in-touch-right">
				<div class="get-in-touch-block">
					<div class="get-in-touch--form">
						{{ function('do_shortcode', '[contact-form-7 id="'~ contact_post.contact_form.ID~'" title="Contact form 1"]') }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
