{% if post.show_related_product %}

	<section class="related-section primary-gradient-bg common-white-txt-section">
		<div class="container-sm">
			<div class="common-content-block">
				<h2>{{post.get_field('related_product_heading')}}</h2>
			</div>
		</div>

		<div class="card--3">
			<div class="custom-row">
				{% for related_product_raw in post.get_field('related_product_listing') %}
					{% set related_product = related_product_raw.related_product_item %}
					{% set listing_content_group = related_product.get_field('listing_content_group') %}
					{% set currentTitle = listing_content_group.listing_content_title??related_product.title %}
					<div class="cards card-{{loop.index}}">
						<div class="cards--inner">
                            {% if loop.index ==1 %}
							<i><img src="{{listing_content_group.listing_content_icon_black}}" alt=""/></i>
                            {% else %}
							<i><img src="{{listing_content_group.listing_content_icon_white}}" alt=""/></i>
                            {% endif %}
							<h2>
								<a href="{{related_product.link}}">{{currentTitle}}</a>
							</h2>
							<div class="desc--box">
								{{listing_content_group.listing_content_copy}}
							</div>
							<div class="absolute-arrow">
								<a href="{{related_product.link}}" target="" class="arrow-right" title="{{currentTitle}}"></a>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</section>
{% endif %}
