{% if post.get_field('service_badges_list') %}
<section class="home-section--3">
	<div class="container-sm custom-row">
		{% for service in post.get_field('service_badges_list') %}
		{% set service_item = service.service_item %}
		<div class="home-section-box--3">
			<a href="{{service_item.link}}">
				<i>
				<img src="{{ TimberImage(service_item.service_icon).src('src') }}" alt="{{ service_item.service_icon.alt }}"/></i>
				<div class="badge-description">{{service_item.service_title}}</div>
				<div class="badge-description-2">{{service_item.servcice_excerpt}}</div>
			</a>
		</div>
		{% endfor %}
	</div>
</section>
{% endif %}