{% if post.get_field('hero_image') or post.thumbnail %}
<section class="inner-page-hero page-title-section">
	
		<div class="container-fluid">
			
				<div class="page-hero-left">
					<h1>{{post.get_field('hero_title')?post.get_field('hero_title'):(post.title?post.title:title)}}</h1>
				</div>
				<div class="page-hero-right">
					<picture>
						<img class="a" src="{{ TimberImage(post.get_field('hero_image')).src('page-hero-right') }}" alt="{{ post.get_field('hero_image').alt }}" />
					</picture>
				</div>
			
		</div>
	
</section>

<div id="scroll-to-main"></div>
{% endif %}
