<section class="inner-page-hero inner-details-page-hero page-title-section">
	<div class="container-fluid ">
		<div class="page-hero-center">
			<h2>{{post.get_field('hero_title')?post.get_field('hero_title'):(post.title?post.title:title)}}</h2>
		</div>
	</div>
</section>

<div id="scroll-to-main"></div>

<div class="primary-gradient-bg common-section-btm-pd page-top-content" data-aos="fade">
	<div class="container-sm details-sm-pd-lr">
		<div class="details_featured_img">
			<img src="{{ TimberImage(post.thumbnail).src('page-hero') }}" alt=""/>
		</div>
		{{post.content}}
	</div>
</div>

{% if post.additional_post_content or post.additional_post_content_title or post.additional_post_content_image %}
	<div class="simple-content-section common-section-top-pd">
		<div class="container-sm details-sm-pd-lr">
			<div class="simple-content-box">
				{% if post.additional_post_content_title %}
					<h5>{{post.additional_post_content_title}}</h5>
				{% endif %}

				{% if post.additional_post_content %}
					<div class="desc--box">
						{{post.additional_post_content}}
					</div>
				{% endif %}

				{% if post.additional_post_content_image %}
					<div class="simple-content-img">
                        <img src="{{ TimberImage(post.additional_post_content_image).src('src') }}" alt=""/>
					</div>
				{% endif %}

			</div>
		</div>
	</div>
{% endif %}

{% include "partial/content-back-to-button.twig" with {url_link:'/news-press/',url_title : 'BACK TO NEWS & PRESS' }%}
