<section class="inner-page-hero inner-details-page-hero page-title-section">
  <div class="container-fluid ">
    <div class="page-hero-center">
      <h2>{{post.get_field('hero_title')?post.get_field('hero_title'):(post.title?post.title:title)}}</h2>
    </div>
  </div>
  <div class="primary-gradient-bg common-section-btm-pd page-top-content" data-aos="fade">
    <div class="container-sm details-sm-pd-lr">
      <div class="details_featured_img">
        <img src="{{ TimberImage(post.thumbnail).src('page-hero') }}" alt="" />
      </div>
  
      {{post.content}}
    </div>
  </div>
  
</section>

