{% if post.hero_image %}
<section class="hero--section home-hero--section">
<div class="hero-main-img">
	<picture>
		<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.hero_image).src('hero-slider-mobile') }}">
		<source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(post.hero_image).src('hero-slider-mobile-landscape') }}">
		<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(post.hero_image).src('hero-slider-ipad') }}">
		<img src="{{ TimberImage(post.hero_image).src('hero-slider') }}" alt="{{ post.hero_image.alt }}">
	</picture>
<div>	
	<div class="hero-text">
		<div class="container-fluid">
			<div class="hero-text--inner">
			{# data-aos="fade" #}
				{# <h1>{{post.hero_heading}}</h1> #}
				<h1>SPLICECOM.</h1>
				<div class="desc--box" >
				 {# <p>{{post.hero_sub_heading}}</p> #}
				 <p>Providing <span>voice service </span>
<span>solutions</span> that best match 
your <span> business requirements</span></p>
				</div>
				{% if post.hero_cta %}
				<div class="btn-set--left">
					<a href="{{post.hero_cta.url}}" class="primary-btn">{{post.hero_cta.title}}</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
<div id="scroll-to-main"></div>
{% endif %}