<ul>
    <li><a  class="email-icon" href="mailto:{{contact_post.meta('email')}}"><i></i></a></li>
    <li><a class="telephone-icon" href="tel:{{contact_post.meta('telephone')}}"><i></i></a></li>
</ul>