{% if post.content %}
<div class="primary-gradient-bg common-section-btm-pd page-top-content" data-aos="fade">
    <div class="container-sm container-sm-pd-lr">
        <div class="details_featured_img">
          <img src="{{ TimberImage(post.thumbnail).src('page-hero') }}" alt="" />
        </div>
      
    {{post.content}}
    {% if post.get_field('page_download_file') %}
    <div class="download-file">
        <p><a download="{{post.get_field('page_download_file').title}}" href="{{post.get_field('page_download_file').url}}">
					<i>
					<img class="no-hover-icon" src="{{theme.link}}/assets/img/gridfix download green.svg" alt="download file">
					<img class="hover-icon" src="{{theme.link}}/assets/img/gridfix download grey.svg" alt="download file">
					</i>
				</a>
		</p>
    </div>
    {% endif %}
    </div>
</div>
{% endif %}