
		{% if contact_post.social_media_cta_row %}
        <div class="footer-social-media">
			<ul>
                {% for social_media in contact_post.get_field('social_media_cta_row') %}

				<li>
                    <a href="{{social_media.cta.url}}" target="{{social_media.cta.target}}" title="{{social_media.cta.title}}">
                        <i class="{{social_media.social_icon}}-white-icon social-icons"></i>
                    </a>
				</li>
				{% endfor %}
			</ul>
		</div>
        {% endif %}