{% if post.content %}
<div class="blog-block-text text-block main-pd-btm details-pages" data-aos="fade">
    <div class="container-sm details-sm-pd-lr">
    {{post.content}}
    </div>
</div>
{% endif %}