<footer class="container-fluid custom-row">
	<div class="footer-left hide-mobile">
		<div class="footer-logo">
			<a href="{{site.link}}"><img src="{{ site.theme.link }}/assets/img/splicecom white logo.svg" alt="" /></a>
		</div>
	</div>
	<div class="footer-mid">
		{% include "menu.twig" with {'items': footer_menu_1.get_items} %}
		<p>
			Website created by
			<a href="https://blooberrycreative.co.uk/" target="_blank">Blooberry Creative</a>
		</p>
	</div>

	<div class="footer-right">
		{% include "partial/content-social-media.twig" %}
	</div>
</footer>