<script>
  var misha_loadmore_params = {};
  misha_loadmore_params.max_page = '10';
  misha_loadmore_params.current_page = 1;


  jQuery(document).ready(function ($) { // use jQuery code inside this to avoid "$ is not defined" error
    loadButton();
    function loadButton() {
      $('.misha_loadmore').each(function () {
        let total_item = $(this).attr('data-total-post');
        let shown_item = jQuery('.misha_loadmore').parents('.container-md,.news-press-box-section, .why-splicecom-section').find('.tease-item').length;
        console.log(total_item, '__', shown_item);

        if (shown_item >= total_item) {
          $(this).remove();
        }
      });
    }

    $('.misha_loadmore').on('click', function (e) {
      e.preventDefault();

      var button = $(this),
        data = {
          'action': 'loadmore',
          'post_args': JSON.parse(button.attr('data-post_args')),
          'page': misha_loadmore_params.current_page
        };

      $.ajax({
        // you can also use $.post here
        url: '{{ site.link }}/wp-admin/admin-ajax.php', // AJAX handler
        data: data,
        type: 'POST',
        beforeSend: function (xhr) {
          button.text('LOADING...');
        },
        success: function (data) {

          if (data) {

            $('.loadmoreprojects_wrapper').before(data); // insert new posts
            misha_loadmore_params.current_page++;

            if (misha_loadmore_params.current_page == misha_loadmore_params.max_page) {
              button.remove(); // if last page, remove the button
            } 
            loadButton()

            button.text('LOAD MORE');
          } else {
            button.remove(); // if no data, remove the button as well
          }
        },

        error: function () {
          console.log("Something went wrong!!!");
          button.text('LOAD MORE');
        }
      });

      return false;
    });
  });
</script>