{% if posts.pagination.pages is not empty %}
	<div class="loadmore">
		<button class="primary-btn misha_loadmore" data-total-post="{{posts.found_posts}}" data-post_args='{{post_args|json_encode}}'>LOAD MORE</button>

		<div class="pagination-block">

			<ul class="pagination">

				{% if posts.pagination.prev %}
					<li class="prev btn" title="Previous">
						<a href="{{ posts.pagination.prev.link }}"><</a></li><liclass="prevbtndisabled"title="Previous"style="display:none;"><buttondisabled><</button></li><li><ahref="{{page.link}}"class="{{page.class}}">{{page.title}}</a></li><liclass="current"><spanclass="{{page.class}}">{{page.title}}</span></li><liclass="nextbtn"title="Next"><ahref="{{posts.pagination.next.link}}">>
							{% else %}
						{% endif %}
						{# Pages #}
						{% for page in posts.pagination.pages %}
							{% if page.link %}
								{% else %}
							{% endif %}
						{% endfor %}
						{# Next #}
						{% if posts.pagination.next %}
						</a>
					</li>
				{% else %}
					<li class="next btn" title="Next" style="display: none;">
						<button disabled>></button>
					</li>
				{% endif %}


			</ul>
		</div>
	</div>

{% endif %}
