<section class="splicecom-section primary-gradient-bg common-white-txt-section" >
	<div class="container-sm">
		<div class="common-content-block">
			<h2>WHY SPLICECOM?</h2>
			<div class="desc--box">
				<p>
					Utent vendandit dolest lita autem nias abor autat quam, cum, non nus commodi cor re volorit istius quae mi, nullorro exerum vid et pari dem consequi vel imusam fuga. Ullatur res ut dis pliti comnis quat faccus ducimo te
					ipiduci lluptur, quam eatus.
				</p>
			</div>
			<div class="common-content-btn-block btn-set--right">
				<a href="#" class="secondary-btn">GET STARTED</a>
			</div>
		</div>
	</div>
	<div class="card--3">
		<div class="custom-row">
			<div class="cards">
				<div class="cards--inner">
					<i><img src="{{ site.theme.link }}/assets/img/select voice icon.svg" alt="" /></i>
					<h2>SELECT VOICE SYSTEM</h2>
					<div class="desc--box">
						<ul>
							<li>Utent vendandit dolest lita autem nias</li>
							<li>Ducimo te ipiduci lluptur, quam eatus</li>
							<li>Utent vendandit dolest lita autem nias</li>
							<li>Utent vendandit dolest lita autem nias</li>
						</ul>
					</div>
					<div class="absolute-arrow">
						<a href="#" class="arrow-right"></a>
					</div>
				</div>
			</div>
			<div class="cards">
				<div class="cards--inner">
					<i><img src="{{ site.theme.link }}/assets/img/business management icon.svg" alt="" /></i>
					<h2>SELECT VOICE SYSTEM</h2>
					<div class="desc--box">
						<ul>
							<li>Utent vendandit dolest lita autem nias</li>
							<li>Ducimo te ipiduci lluptur, quam eatus</li>
							<li>Utent vendandit dolest lita autem nias</li>
							<li>Utent vendandit dolest lita autem nias</li>
						</ul>
					</div>
					<div class="absolute-arrow">
						<a href="#" class="arrow-right"></a>
					</div>
				</div>
			</div>
			<div class="cards">
				<div class="cards--inner">
					<i><img src="{{ site.theme.link }}/assets/img/teams integration icon.svg" alt="" /></i>
					<h2>SELECT VOICE SYSTEM</h2>
					<div class="desc--box">
						<ul>
							<li>Utent vendandit dolest lita autem nias</li>
							<li>Ducimo te ipiduci lluptur, quam eatus</li>
							<li>Utent vendandit dolest lita autem nias</li>
							<li>Utent vendandit dolest lita autem nias</li>
						</ul>
					</div>
					<div class="absolute-arrow">
						<a href="#" class="arrow-right"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="testimonials-section common-drak-txt-section" >
	<div class="container-sm">
		<h2>OUR CLIENTS TRUST IN WHAT WE DO</h2>
		<div class="testimonials-slider">
			<div class="testimonials-item">
				<div class="testimonials-txt">Splicecom … turyutent vendandit dolest lita autem nias abor autat quam, cum, non nus commodi cor re volorit istius quae mi, nul cor re volorit istius quae mi, null.</div>
				<span class="testimonials-auther">Name, Business</span>
			</div>
			<div class="testimonials-item">
				<div class="testimonials-txt">Splicecom … turyutent vendandit dolest lita autem nias abor autat quam, cum, non nus commodi cor re volorit istius quae mi, nul cor re volorit istius quae mi, null.</div>
				<span class="testimonials-auther">Name, Business</span>
			</div>
		</div>
	</div>
</section>

<section class="partners-section secondary-gradient-bg common-section-top-pd" >
	<div class="container-sm">
		<div class="common-content-block">
			<h2>OUR TRUSTED PARTNERS</h2>
			<div class="desc--box">
				<p>
					Sold exclusively through channel partners, no direct sales, no trade distribution, Splicecom services and products are available through monthly subscription, outright purchase, or a blend of the two. Click fnd out more
					to view our partners or register to become a partner.
				</p>
			</div>
			<div class="common-content-btn-block btn-set--right">
				<a href="#" class="primary-btn">SEE PARTNERS PAGE</a>
			</div>
		</div>
		<div class="partners-img">
			<img src="{{ site.theme.link }}/assets/img/demo-img/splicecom-our-trusted-partners.png" alt="" />
		</div>
	</div>
</section>

<section class="inner-page-txt-section primary-gradient-bg common-section-pd">
	<div class="container-sm">
		<div class="common-content-block">
			<h2>A PHONE SYSTEM SERVICE FOR YOUR BUSINESS</h2>
			<div class="desc--box">
				<p>
					The Splicecom SelectVoice 1000 (SV1000) is a highly versatile phone system that covers a wide range of deployment types to meet the needs of your business. Whether its a service provided by our own Select Voice Cloud,
					Reseller or You provisioned cloud, on premise virtual server or a hybrid, all benefit from common SV1000 firmware
				</p>
				<ul>
					<li>The Splicecom SelectVoice 1000</li>
					<li>Meet the needs of your business</li>
					<li>The Splicecom SelectVoice 1000</li>
					<li>all benefit from common SV1000 firmware</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="features-table-section common-section-top-pd" >
	<div class="container-sm">
		<div class="common-content-block">
			<h2>OUR TRUSTED PARTNERS</h2>
		</div>

		<div class="features-table">
			<table role="table" cellspacing="0">
				<thead role="rowgroup">
					<tr role="row">
						<th role="columnheader"></th>
						<th role="columnheader">Splicecom Micro Cloud for Small Enterprise</th>
						<th role="columnheader">Splicecom Cloud for Med-Large Enterprise</th>
						<th role="columnheader">Splicecom Partner / Customer Cloud</th>
					</tr>
				</thead>
				<tbody role="rowgroup">
					<tr role="row">
						<td role="cell">
							<div class="td-content"><span>UK Datacentres</span></div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i>
							</div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i>
							</div>
						</td>
						<td role="cell">
							<div class="td-content"><span>Partner/Customer</span></div>
						</td>
					</tr>
					<tr role="row">
						<td role="cell">
							<div class="td-content"><span>S Upgrades/Security patches applied</span></div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i> <span>(limited to 3 remote gateways if utilising VPNs)</span>
							</div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i> <span>(limited to 3 remote gateways if utilising VPNs)</span>
							</div>
						</td>
						<td role="cell">
							<div class="td-content"><span>Partner/Customer</span></div>
						</td>
					</tr>
					<tr role="row">
						<td role="cell">
							<div class="td-content"><span>S Upgrades/Security patches applied</span></div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i> <span>(limited to 3 remote gateways if utilising VPNs)</span>
							</div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i> <span>(limited to 3 remote gateways if utilising VPNs)</span>
							</div>
						</td>
						<td role="cell">
							<div class="td-content"><span>Partner/Customer</span></div>
						</td>
					</tr>
					<tr role="row">
						<td role="cell">
							<div class="td-content"><span>UK Datacentres</span></div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i>
							</div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i>
							</div>
						</td>
						<td role="cell">
							<div class="td-content"><span>Partner/Customer</span></div>
						</td>
					</tr>
					<tr role="row">
						<td role="cell">
							<div class="td-content"><span>UK Datacentres</span></div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i>
							</div>
						</td>
						<td role="cell">
							<div class="td-content">
								<i><img src="{{ site.theme.link }}/assets/img/iconset/tick.svg" alt="" /></i>
							</div>
						</td>
						<td role="cell">
							<div class="td-content"><span>Partner/Customer</span></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>


<section class="news-press-box-section">
 <div class="custom-row">
   <div class="cards">
    <div class="cards--inner">
	<div class="tags">NEWS</div>
	 <h3>MIGRATIONS TO CLOUD ACCOUNT FOR 10% OF SPLICECOM SALES</h3>
	 <div class="btn-set--center"><a href="#" class="arrow-right"></a></div>
	</div>
   </div>

   <div class="cards">
    <div class="cards--inner">
	<div class="tags">NEWS</div>
	 <h3>SWITCHSHOP STRIKE GOLD WITH SPLICECOM</h3>
	 <div class="btn-set--center"><a href="#" class="arrow-right"></a></div>
	</div>
   </div>

   <div class="cards">
    <div class="cards--inner">
	<div class="tags">NEWS</div>
	 <h3>GENERATE AML TEST PAYMENT MESSAGES</h3>
	 <div class="btn-set--center"><a href="#" class="arrow-right"></a></div>
	</div>
   </div>

   <div class="cards">
    <div class="cards--inner">
	<div class="tags">NEWS</div>
	 <h3>MIGRATIONS TO CLOUD ACCOUNT FOR 10% OF SPLICECOM SALES</h3>
	 <div class="btn-set--center"><a href="#" class="arrow-right"></a></div>
	</div>
   </div>

   <div class="cards">
    <div class="cards--inner">
	<div class="tags">NEWS</div>
	 <h3>MIGRATIONS TO CLOUD ACCOUNT FOR 10% OF SPLICECOM SALES</h3>
	 <div class="btn-set--center"><a href="#" class="arrow-right"></a></div>
	</div>
   </div>

   <div class="cards">
    <div class="cards--inner">
	<div class="tags">NEWS</div>
	 <h3>MIGRATIONS TO CLOUD ACCOUNT FOR 10% OF SPLICECOM SALES</h3>
	 <div class="btn-set--center"><a href="#" class="arrow-right"></a></div>
	</div>
   </div>
 </div>
</section>

<section class="sectors-box-section common-section-pd">
   <div class="container-md">
   <div class="custom-row">
       <div class="img-txt-card">
	      <div class="img-txt-card-img">
		     <img src="{{ site.theme.link }}/assets/img/demo-img/sectors healthcare splicecom.png" alt="" />
		  </div>
		  <div class="img-txt-card-content">
		    <h3>AUTOMOTIVE</h3>
            <div class="desc--box">
			 <p>Utent vendandit dolest lita 
				autem nias, ducimo te ipiduci 
				lluptur, quam eatusllatur res ut 
				dis pliti comnis
			 </p>
			</div>
			<div class="btn-set--right"><a href="#" class="arrow-right"></a></div>
		  </div>
	   </div>

	   <div class="img-txt-card">
	      <div class="img-txt-card-img">
		     <img src="{{ site.theme.link }}/assets/img/demo-img/sectors healthcare splicecom.png" alt="" />
		  </div>
		  <div class="img-txt-card-content">
		    <h3>AUTOMOTIVE</h3>
            <div class="desc--box">
			 <p>Utent vendandit dolest lita 
				autem nias, ducimo te ipiduci 
				lluptur, quam eatusllatur res ut 
				dis pliti comnis
			 </p>
			</div>
			<div class="btn-set--right"><a href="#" class="arrow-right"></a></div>
		  </div>
	   </div>

	   <div class="img-txt-card">
	      <div class="img-txt-card-img">
		     <img src="{{ site.theme.link }}/assets/img/demo-img/sectors healthcare splicecom.png" alt="" />
		  </div>
		  <div class="img-txt-card-content">
		    <h3>AUTOMOTIVE</h3>
            <div class="desc--box">
			 <p>Utent vendandit dolest lita 
				autem nias, ducimo te ipiduci 
				lluptur, quam eatusllatur res ut 
				dis pliti comnis
			 </p>
			</div>
			<div class="btn-set--right"><a href="#" class="arrow-right"></a></div>
		  </div>
	   </div>

	   <div class="img-txt-card">
	      <div class="img-txt-card-img">
		     <img src="{{ site.theme.link }}/assets/img/demo-img/sectors healthcare splicecom.png" alt="" />
		  </div>
		  <div class="img-txt-card-content">
		    <h3>AUTOMOTIVE</h3>
            <div class="desc--box">
			 <p>Utent vendandit dolest lita 
				autem nias, ducimo te ipiduci 
				lluptur, quam eatusllatur res ut 
				dis pliti comnis
			 </p>
			</div>
			<div class="btn-set--right"><a href="#" class="arrow-right"></a></div>
		  </div>
	   </div>
	    </div>
   </div>
</section>