{% if content_row.testimonial_list %}
	<section data-aos="fade-up" class="testimonials-section" style="background-image:url({{ get_image(content_row.background_image).src('src') }}) ;">
		<div class="container">
			<div class="testimonials-slider">
				{% for review in content_row.testimonial_list %}
					<div class="slider-item">
						{{review.review_content}}
						{% if review.review_author %}
							<span>{{review.review_author}}
								{{review.review_author_role}}</span>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

{% endif %}
