{% if content_row.item_list %}
	<section class="why-choose-us-section drak-bg" data-aos="fade-up">
		<div class="why-choose-us-section-img" style="background-image:url({{ get_image(content_row.image).src('src') }}) ;"></div>
		<div class="why-choose-us-section-content">
			<div class="container-out">
				<div class="why-choose-us-content">
					<h2 class="hd">{{content_row.heading}}</h2>
					<ul>
						{% for item_row in content_row.item_list %}
							<li>
								<h4>{{item_row.title}}</h4>
								<div class="desc">
									{{item_row.content}}
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</section>
{% endif %}
