{% if content_row.item_list %}
	<section class="post-section">
		<div class="container-sm">
			{% for item_row in content_row.item_list %}
                {% if (loop.index is odd) %}
				<div class="post-box">
					<div class="post-content">
						<h4>{{item_row.title}}</h4>
						<div class="desc">
							{{item_row.content}}
						</div>
					</div>
					<div class="post-img">
						<img src="{{ get_image(item_row.image).src('src') }}" alt="">
					</div>
				</div>
                {% else %}
				<div class="post-box row-reverse">
					<div class="post-content">
						<h4>{{item_row.title}}</h4>
						<div class="desc">
							{{item_row.content}}
						</div>
					</div>
					<div class="post-img">
						<img src="{{ get_image(item_row.image).src('src') }}" alt="">
					</div>
				</div>
                {% endif %}
			{% endfor %}
		</div>
	</section>
{% endif %}
