{% if content_row.copy_content_title %}
	<section class="light-bg hero-section">
		<div class="shap-one">
			<img src="{{theme.link}}/assets/img/icon/shap.png" alt="">
		</div>

		<div class="container">
			<div class="custom-row">
				<div class="hero-section-left">
					<h1>{{content_row.copy_content_title}}
					</h1>
					<div class="desc hide-desktop">
						{{content_row.copy_content_text}}
					</div>
                    {% if content_row.cta.url %}
					<div class="btn-set--left">
						<a href="{{content_row.cta.url}}" class="primary-btn">Find out more</a>
					</div>
                    {% endif %}
				</div>
				<div class="hero-section-right">
					<div class="desc hide-mobile">
						{{content_row.copy_content_text}}
					</div>
					<div class="hero-section-img">
						<picture>
							<img src="{{get_image(content_row.image).src('home-hero')}}" alt="{{site.name}}">
						</picture>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
