 {% if content_row.image %}
<section class="contact-section primary-bg" data-aos="fade-up">
	<div class="shap-one">
		<img src="{{theme.link}}/assets/img/icon/shap.png" alt="">
	</div>
	<div class="container">
		<div class="custom-row">
			<div class="contact-section-left">
				<h2 class="hd">{{content_row.heading}}</h2>
				<div class="contact-section-content">
					<ul class="contact-icons">
						<li>
							<a class="tel-icon" href="tel:{{content_row.telephone}}">{{content_row.telephone}}</a>
						</li>
						<li>
							<a class="mail-icon" href="mailto:{{content_row.email}}">{{content_row.email}}</a>
						</li>
						<li>
							<a class="insta-icon" href="{{content_row.instagram}}">{{content_row.instagram}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="contact-section-right">
				<picture>
					<source media="(min-width: 1301px) and (max-width: 1700px)" srcset="{{ get_image(content_row.image).src('contact-laptop') }}">
					<source media="(min-width: 992px) and (max-width: 1300px)" srcset="{{ get_image(content_row.image).src('contact-ipad-land') }}">
					<img src="{{ get_image(content_row.image).src('src') }}" alt="{{site.name}}">
				</picture>
			</div>
		</div>
	</div>
</section>
{% endif %}
