 {% if content_row.page_link_items %}
 <section class="two-link-section" data-aos="fade-up">
                <div class="custom-row">
                {% for pageLink in content_row.page_link_items %}
                    <div class="two-link-box">
                        <div class="two-link-img">
                         <picture>
							<img src="{{get_image(pageLink.image).src('get_in_image')}}" alt="{{site.name}}" />
						</picture>
                          
                        </div>
                        <div class="two-link-txt">
                            <h2><a href="{{pageLink.cta.url}}">{{pageLink.cta.title}}</a></h2>
                        </div>
                    </div>
                {% endfor %}
                    
                </div>
            </section>
            {% endif %}