{% if content_row.services_list %}
	<section class="services-list-section" data-aos="fade-up">
		<div class="container">
			<div class="custom-row">
				{% for item_row in content_row.services_list %}
					<div class="services-list-box">
						<h4>
							<i><img src="{{ get_image(item_row.icon).src('src') }}" alt="{{item_row.title}}"/></i>
							<span>{{item_row.title}}</span>
						</h4>
						<div class="custom-row">
							<div class="services-list-content">

								<div class="desc">
									{{item_row.content}}
								</div>
							</div>
							<div class="services-list-img"><img src="{{ get_image(item_row.image).src('src') }}" alt="{{item_row.title}}"/>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
