{% if content_row.gallery_category_row %}

	<section class="our-work-page white-bg" data-aos="fade-up">
		<div class="container">
			<div class="categories-links filter-section">
				<span>Categories</span>
				<ul class="categories-filter-ul">
					<li>
						<a href="#" data-filter="*" class="active">See all</a>
					</li>
					{% for category_row in content_row.gallery_category_row %}
						<li>
							<a href="#{{category_row.category|sanitize}}" data-filter=".{{category_row.category|sanitize}}">{{category_row.category}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="gallery-container categories-row">
			{% for category_row in content_row.gallery_category_row %}
				{% for gallery in category_row.images %}
					{% set image = get_image(gallery.image) %}
                    {% if image %}
					<div class="gallery-box categories-box {{category_row.category|sanitize}}">
						<a data-fancybox="gallery" data-src="{{ image.src('src')}}" class="fancybox" style="background-image: url({{image.src('gallery_img')}});"></a>
					</div>
                    {% endif %}
				{% endfor %}
			{% endfor %}
		</div>

		<div class="please-wait-result" style="min-height:200px;text-align:center">
			<h4>Gallery is loading, Please wait...</h4>
		</div>

        <div class="no-result" style="text-align:center; display:none">
			<h4>No image found</h4>
		</div>
        
	</section>
{% endif %}
