{% if content_row.services_list %}
	<section class="home-service-section" data-aos="fade-up">
		<div class="container">
			<h2 class="hd">{{content_row.heading}}</h2>
		</div>
		<div class="container-out">
			<div class="home-service-box-out">
				<div class="home-service-box">
					<ul>

						{% for service in content_row.services_list %}

							<li>
								<div class="home-service-icon">
									<img src="{{get_image(service.icon).src('src')}}" alt="icon">
								</div>
								<div class="home-service-content">
									<h4>{{service.title}}</h4>
									<div class="desc">
										{{service.content}}
									</div>
								</div>
							</li>
						{% endfor %}

					</ul>
					{% if content_row.find_more_cta.url %}
						<div class="btn-set--right">
							<a href="{{content_row.find_more_cta.url}}" class="primary-btn">Find out more</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endif %}
