.contact {
    .get-in-touch-section {
        @extend %main-padding;
        
    }
    .page-hero-image-section{
        .page-hero-image
        {
            position: relative;
        }
        .page-hero-content-outer,
        .page-hero-image
        {
            z-index: 2; 
        }
        &::after{
            width: 100%;
            height: 40%;
            content: "";
            left: 0px;
            position: absolute;
            bottom: 0px;
            background: $secondary-color;
            z-index: 1;
        }
    }
}

.contact-left {
    width: 35%;
    @include breakpoint(ipad_landscape){
        width: 100%;
    }
    @include breakpoint(ipad_portrait){
        width: 100%;
    }
    @include breakpoint(mobile_landscape){
        width: 100%;
    }
    @include breakpoint(mobile_portrait){
        width: 100%;
    }
    .desc--text{
        p{
            font-size: 1.6rem;
            font-family: $secondaryfontfaimly;
            font-weight: 400;
            line-height: 2rem;
            margin: 0px;
        }
        
    }
}

.contact-right {
    width: 55%;
    margin-left: auto;
    @include breakpoint(ipad_landscape){
        width: 100%;
        margin-left: 0;
        margin-top: 2rem;
    }
    @include breakpoint(ipad_portrait){
        width: 100%;
        margin-left: 0;
        margin-top: 2rem;
    }
    @include breakpoint(mobile_landscape){
        width: 100%;
        margin-left: 0;
        margin-top: 2rem;
    }
    @include breakpoint(mobile_portrait){
        width: 100%;
        margin-left: 0;
        margin-top: 2rem;
    }

    .input-field label {
        color: $white;
    a {
            color: $white;
        }
    }

    .form-custom-row .custom-row .input-field-set {
        width: 100%;
    }

    .form-custom-row .custom-row .input-submit-box {
        margin-left: 0;
        margin-top: 1.5rem;
    }
}

.contact-left-info-icon {
    border-top: 1px $white solid;
    border-bottom: 1px $white solid;
    margin: 3rem 0;
    padding: 3rem 0;

    ul.contact-info-icon {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            margin: 0 0 2rem;
            padding: 0;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                display: block;
                color: $white;
                font-size: 1.6rem;
                font-family: $secondaryfontfaimly;
                font-weight: 400;
                padding: 5px 0 5px 52px;
                @include breakpoint(mobile_portrait) {
                    font-size: 1.3rem;
                }

                &:hover {
                    color: $primary-color;
                }
            }

            a[href^="tel:"] {
                background: url("#{$assetIconsPath}/guud property phone white-01.svg") no-repeat 4px center;
                background-size: 37px 40px;
                @include breakpoint(mobile_portrait) {
                    background-size: 33px 40px;
                }

                &:hover {
                    background: url("#{$assetIconsPath}/guud property phone green-01.svg") no-repeat 4px center;
                    background-size: 37px 40px;
                    @include breakpoint(mobile_portrait) {
                        background-size: 33px 40px;
                    }
                }
            }

            a[href^="mailto:"] {
                background: url("#{$assetIconsPath}/guud property envelope white-01.svg") no-repeat left center;
                background-size: 50px 36px;
                @include breakpoint(mobile_portrait) {
                    background-size: 39px 36px;
                }

                &:hover {
                    background: url("#{$assetIconsPath}/guud property envelope green-01.svg") no-repeat left center;
                    background-size: 50px 36px;
                    @include breakpoint(mobile_portrait) {
                        background-size: 39px 36px;
                    }
                }
            }
        }
    }
}

.contact-social-media-icon {
    strong {
        font-family: $secondaryfontfaimly;
        font-weight: 400;
        font-size: 1.6rem;
        color: $white;
        display: block;
        margin-bottom: 1rem;
    }
}

.contact{
    .get-in-touch-section{
        .container-md {
            @include breakpoint(ipad_landscape){
                width: calc(100% - 23rem);
            } 
           
        }
    }
   
}