.page-not-foumd{
   .blog-block-text{
    text-align: center;
   }
}
.page-title{
    text-align: center;
    h1{
        margin: 0px;
        padding: 0px;
        color: $primary-color;
    }
}

.single-service{
    .full-bg-hero .page-hero-content-outer .page-hero-content h1::after {
        background: transparent;
    }
}