.about-text-image-section {
    .custom-row {
        .about-text-content {
            width: 43%;

            @include breakpoint(desktop_md) {
                width: 48%;
            }

            @include breakpoint(ipad_portrait) {
                width: 100%;
            }

            @include breakpoint(mobile) {
                width: 100%;
            }

            h2 {
                margin-top: 0px;

                @include breakpoint(desktop_md) {
                    margin-bottom: 1rem;
                }
            }

            .btn {
                display: flex;
                justify-content: start;
                margin-top: 2rem;
            }
        }

        .about-image-content {
            width: 47%;
            margin-left: auto;

            @include breakpoint(ipad_portrait) {
                width: 100%;
                margin-left: 0;
                margin-top: $column-space;
            }

            @include breakpoint(mobile) {
                width: 100%;
                margin-left: 0;
                margin-top: $column-space;
            }

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        &.row-reverse {
            flex-direction: row-reverse;

            .about-text-content {
                margin-left: auto;
            }

            .about-image-content {
                margin-left: 0;
            }
        }
    }
}

.image-behind-border {
    position: relative;
    padding-top: 50px;
    padding-right: 50px;

    img {
        position: relative;
        z-index: 2;
    }

    &::after {
        position: absolute;
        width: 90%;
        height: 90%;
        content: '';
        background: transparent;
        top: 0;
        right: 0px;
        border: $box-border $primary-color solid;
    }
}


.single-service,
.sustainability {
    .about-text-image-section {
        background: $secondary-color;
    }
}