.about-page-content {
    @extend %main-padding-btm;
}

.about-post-box {
    display: flex;
    flex-wrap: wrap;
    @extend %main-padding-top;

    @include breakpoint(ipad_landscape) {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    @include breakpoint(ipad_portrait) {
        padding-left: 5rem;
        padding-right: 5rem;
    }


    .about-post-content {
        width: 40%;
        position: relative;
        padding-bottom: 8rem;

        @include breakpoint(ipad_portrait) {
            width: 100%;
        }

        @include breakpoint(mobile_portrait) {
            width: 100%;
        }

        .desc--box {
            margin-top: 1.5rem;
        }

        .bottom-right-btn {
            bottom: 3rem;

            a {
                display: inline-block;
            }
        }
    }

    .about-post-img {
        width: 50%;
        margin-left: auto;

        @include breakpoint(ipad_portrait) {
            width: 100%;
            margin-left: 0;
        }

        @include breakpoint(mobile_portrait) {
            width: 100%;
            margin-left: 0;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

.about-page-content {
    .container-sm {
        @include breakpoint(ipad) {
            padding-left: 3rem;
            padding-right: 3rem;
        }

        @include breakpoint(mobile_landscape) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}