.accordion {
    width: 100%;
}

.accordion-item {
    margin-bottom: 5px;

    .accordion-header {
        background: $light-gray;
        display: flex;
        align-items: center;
        padding: 1rem 1rem 1rem 2rem;
        width: 100%;
        cursor: pointer;

        i {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                display: block;
                max-width: 100%;
                max-height: 100%;
                width: auto;
            }
        }

        h5 {
            margin: 0px;
            padding: 0 1rem;
            width: calc(100% - 100px);
            color: $secondary-color;
            font-size: 1.2rem;
            font-weight: 500;
        }

        .accordion-item-icon {
            margin-left: auto;
            width: 50px;
            height: 40px;
            background: url("#{$assetIconsPath}/expand_more_drak.svg") no-repeat center center;
        }
    }

    .accordion-body {
        overflow: hidden;
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
        max-height: 0px;
    }

    &.accordion-item-active {
        .accordion-header {
            background: $primary-color;

            .accordion-item-icon {
                background: url("#{$assetIconsPath}/close-drak-icon.svg") no-repeat center center;
            }
        }

        .accordion-body {
            max-height: 9000000000000px;
            padding-bottom: 4rem;
        }
    }
}

.sub-accordion-item {
    .sub-accordion-header {
        background: transparent;
        display: flex;
        align-items: center;
        padding: 1rem 0;
        width: 100%;
        cursor: pointer;
        border-bottom: 1px $primary-color solid;

        h6 {
            margin: 0px;
            padding: 0 1rem 0 0;
            width: calc(100% - 50px);
            color: $secondary-color;
            font-size: 1.1rem;
            font-weight: 500;
        }

        .sub-accordion-item-icon {
            width: 35px;
            height: 35px;
            background: url("#{$assetIconsPath}/chevron_right_drak.svg") no-repeat center center;
            background-size: 100%;
        }
    }

    .sub-accordion-body {
        overflow: hidden;
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
        max-height: 0px;

        .sub-accordion-content {
            padding: 2rem;
            background: $light-gray;
            border-bottom: 1px $primary-color solid;
        }


    }

    &.sub-accordion-item-active {
        .sub-accordion-header {
            background: transparent;

            h6 {
                color: $primary-color;
            }

            .sub-accordion-item-icon {
                width: 35px;
                height: 35px;
                background: url("#{$assetIconsPath}/expand_more_drak.svg") no-repeat center center;
                background-size: 100%;
            }
        }

        .sub-accordion-body {
            max-height: 9000000000000px;
        }
    }
}



/* Add styles for the active accordion item */
.accordion-item.active .accordion-content {
    max-height: 1000px;
    /* Choose a large enough value to accommodate your content */
}