.apprenticeships-section {
    position: relative;

    .heading {
        p {
            line-height: inherit;
        }

        strong {
            display: block;
            margin-top: 3rem;
            @extend %h4;
            font-family: $secondaryfontfaimly;
        }
    }

    .apprenticeships-section-content {
        ul {
            @include ul;
            display: flex;
            flex-wrap: wrap;

            li {
                width: 20%;
                padding: 4rem 1rem 0rem;

                @include breakpoint(ipad) {
                    width: 33.33%;
                }

                @include breakpoint(mobile_landscape) {
                    width: 50%;
                }

                @include breakpoint(mobile_portrait) {
                    width: 100%;
                }

                a {
                    display: block;
                    text-align: center;

                    .apprenticeships-icon {
                        width: 100%;
                        height: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                            width: auto;
                            height: auto;
                        }
                    }

                    h3 {
                        color: $secondary-color;
                    }
                }

            }
        }
    }
}

.apprenticeships-pop {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #09212ad9;
    display: none;
    align-items: center;
    padding: 2rem;

    @include breakpoint(ipad) {
        position: fixed;
        z-index: 9999;
    }

    @include breakpoint(mobile_landscape) {
        position: fixed;
        z-index: 9999;
    }

    @include breakpoint(mobile_portrait) {
        position: fixed;
        z-index: 9999;
    }

    .apprenticeships-details-pop {
        background: $white;
        max-width: 1038px;
        margin: auto;
        position: relative;
        padding: 4rem 3rem;

        @include breakpoint(mobile_landscape) {
            padding: 4rem 2rem 2rem 2rem;
        }

        @include breakpoint(mobile_portrait) {
            padding: 1.5rem;
        }

        .close_pop_btn {
            background: transparent;
            padding: 0px;
            border: 0;
            position: absolute;
            right: 1rem;
            top: 1rem;
            width: 30px;
            height: 30px;

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        .apprenticeships-details-left {
            width: 250px;

            @include breakpoint(mobile_portrait) {
                width: 100%;
            }

            .pop-apprenticeships-img {
                width: 100%;
                height: 150px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }
            }

            .apprenticeships-name {
                text-align: center;
            }
        }

        .apprenticeships-details-right {
            width: calc(100% - 250px);
            padding-left: 4rem;

            @include breakpoint(mobile_landscape) {
                padding-left: 2rem;
            }

            @include breakpoint(mobile_portrait) {
                width: 100%;
                padding-left: 0rem;
                padding-top: 1rem;
            }

            .apprenticeships-desc {
                margin-bottom: 3rem;
            }
        }
    }
}

.work-for-us {
    &.apprenticeshipspopshow {
        overflow: auto;

        .apprenticeships-pop {
            display: flex;
            overflow: auto;

            @include breakpoint(mobile) {}
        }
    }
}
