.filter-category {
    margin-top: 3rem;
    color: $white;

    strong {
        display: block;
        border-bottom: 4px solid $primary-color;
        padding-bottom: 1rem;
        font-size: 18px;
        font-family: $secondaryfontfaimly;
        font-weight: 700
    }

    ul {
        @include ul;
        display: flex;
        flex-wrap: wrap;

        li {
            margin-right: 2rem;
            margin-top: 1rem;

            &:last-child {
                margin-right: 0px;
            }

            a {
                display: block;
                font-size: $font-size-base;
                color: $white;
                font-family: $secondaryfontfaimly;

                &:hover {
                    color: $primary-color;
                }

                &.active {
                    color: $primary-color;
                    font-weight: 500;
                }
            }

            &.active {
                a {
                    color: $primary-color;
                    font-weight: 500;
                }
            }
        }
    }
}

.vacancies-section-in {
    padding: 3rem 0;
    border-bottom: 4px $primary-color solid;

    h4 {
        margin-top: 0px;
    }

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

    .desc--box {
        p {
            margin: 1.8rem 0;

            strong~br {
                display: none;
            }

        }

        p~ul {
            margin-top: -1rem;
        }
    }

    strong {
        display: block;
        font-weight: 400;
        font-style: italic;
        color: $primary-color;
        margin-bottom: 0.5rem;
    }

    .btn-set--right {
        margin-top: 2rem;
    }
}

.secondary-bg {
    .primary-outline-btn {
        color: $white;
    }
}

.accreditations-logos {
    @include breakpoint(ipad_landscape) {
        padding-top: 2.5rem;
    }

    @include breakpoint(ipad_portrait) {
        padding-top: 2.5rem;
    }

    ul {
        @include ul;
        display: flex;
        flex-wrap: wrap;

        li {
            width: 25%;
            padding: 2rem;

            @include breakpoint(ipad_portrait) {
                width: 33.33%;
                padding: 1rem 2rem;
            }

            @include breakpoint(mobile_landscape) {
                width: 50%;
                padding: 2rem 0;
            }

            @include breakpoint(mobile_portrait) {
                width: 100%;
                padding: 2rem 0;
            }

            .logo-box-height {
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                @include breakpoint(ipad_landscape) {
                    height: 120px;
                }

                @include breakpoint(ipad_portrait) {
                    height: 150px;
                }

                @include breakpoint(mobile_landscape) {
                    height: 145px;
                }

                @include breakpoint(mobile_portrait) {
                    height: auto;
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }
            }

        }
    }
}

.news-full-img {
    width: 100%;
    margin-bottom: 2.5rem;

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.news-img-row {
    display: flex;
    flex-wrap: wrap;
}

.news-img-size {
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.news-img-50 {
    width: 50%;
    padding-right: 1rem;
}

.news-details-page {
    padding: 3rem 0;

    strong {
        font-family: $secondaryfontfaimly;
    }
}

.tags-in-details {
    position: relative;
    margin: 0 0 3rem 0;
    padding: 0 0 1rem 0;

    .tags {
        color: $primary-color;
    }

    &::after {
        content: '';
        width: $afterLine_width;
        height: $afterLine_height;
        background: $primary-color;
        position: absolute;
        bottom: 0;
    }
}

.details {

    h2,
    h3,
    h4,
    h5 {
        margin: 1.5rem 0;
    }

    .desc--box {
        margin: 1.5rem 0;
    }
}

.contact-page {
    .contact-page-info {
        margin-top: 2rem;

        ul {
            @include ul;

            li {
                margin: 3rem 0;
                padding: 0px;

                @include breakpoint(mobile_portrait) {
                    margin: 1.5rem 0;
                }

                a {
                    display: block;
                    @extend %h2;
                    color: $white;
                    padding-left: 100px;
                    font-weight: 700;
                    font-family: $secondaryfontfaimly;

                    @include breakpoint(mobile_landscape) {
                        padding-left: 70px;
                    }

                    @include breakpoint(mobile_portrait) {
                        padding-left: 56px;
                        font-size: 20px;
                    }

                    &.email-green-icon {
                        background-size: 52px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        background-position: 0 18px;

                        @include breakpoint(mobile_landscape) {
                            background-position: 0 9px;
                        }

                        @include breakpoint(mobile_portrait) {
                            background-size: 40px;
                            background-position: 0 12px;
                        }
                    }

                    &.telephone-green-icon {
                        background-size: 52px;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        background-position: 0 12px;

                        @include breakpoint(mobile_landscape) {
                            padding-top: 14px;
                            padding-bottom: 14px;
                        }

                        @include breakpoint(mobile_portrait) {
                            background-size: 40px;
                        }
                    }

                    &.location-green-icon {
                        background-position: 0 0;

                        @include breakpoint(mobile_portrait) {
                            background-position: 6px 0;
                            background-size: 33px;
                        }
                    }

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .desc--box {
        margin-top: 2rem;
    }
}

.service-template-default {
    .two-section {
        @include breakpoint(ipad_portrait) {
            margin-top: 3rem;
        }

        @include breakpoint(mobile) {
            margin-top: 3rem;
        }

    }
}
.post-row ~ .parallax-image-section{
    @include breakpoint(ipad_portrait) {
        margin-top: 3rem;
    } 
    @include breakpoint(mobile) {
        margin-top: 3rem;
    } 
}

.news-dual-img {
    display: flex;
    flex-wrap: wrap;

    .news-img {
        width: 48%;
        

        @include breakpoint(mobile_portrait) {
            width: 100%;
        }

        &:first-child {
            margin-right: 2%;

            @include breakpoint(mobile_portrait) {
                margin-right: 0%;
            }
        }

        &:last-child {
            margin-left: 2%;

            @include breakpoint(mobile_portrait) {
                margin-left: 0%;
                margin-top: 1rem;
            }
        }
    }

}

.news-three-img {
    display: flex;
    flex-wrap: wrap;

    .news-img {
        width: 30.33%;
        margin-left: 4%;
       
        @include breakpoint(mobile_portrait) {
            width: 100%;
            margin-top: 1rem;
            margin-left: 0%;
        }

        &:first-child {
            margin-left: 0px;
        }
    }

}
.image-caption{
    padding-top: 5px;
    em{
        font-style: normal;
        font-weight: 500;
    }
}
.single-project .single-project-page-template .photo-gallery-section{
    padding-top:6rem;
    @media (min-width: 320px) and (max-width: 767px) {
      padding-top:4rem;
    }
}