.contact-us-section {
    @extend %main-padding;

    .contact-us-row {
        display: flex;

        @include breakpoint(ipad_portrait) {
            flex-wrap: wrap;
        }

        @include breakpoint(mobile) {
            flex-wrap: wrap;
        }
    }

    .contact-us-section-text {
        width: 40%;
        border: $box-border $primary-color solid;
        background: $white;
        padding: 2rem 5rem 2rem 2rem;
        display: flex;
        margin-bottom: 50px;
        flex-wrap: wrap;
        align-items: center;

        @include breakpoint(desktop_sm) {
            padding: 2rem 3rem 2rem 2rem;
        }

        @include breakpoint(ipad_landscape) {
            padding: 2rem 2.5rem 2rem 1rem;
        }

        @include breakpoint(ipad_portrait) {
            width: 100%;
            border: 0px;
            padding: 0rem;
            margin-bottom: 0px;
            background: transparent;
        }

        @include breakpoint(mobile) {
            width: 100%;
            border: 0px;
            padding: 0rem;
            margin-bottom: 0px;
            background: transparent;
        }

        .contact-us-section-text-in {
            h2 {
                margin: 0 0 2rem 0;
                padding-bottom: 1rem;
                position: relative;
                text-transform: uppercase;

                &::after {
                    content: '';
                    width: $afterLine_width;
                    height: $afterLine_height;
                    background: $primary-color;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }

    }

    .contact-us-section-info {
        width: 60%;
        position: relative;
        height: 100%;

        @include breakpoint(ipad_portrait) {
            width: 100%;
            border: 0px;
            padding: 0rem;
            margin-top: $column-space;
        }

        @include breakpoint(mobile) {
            width: 100%;
            border: 0px;
            padding: 0rem;
            margin-top: $column-space;
        }

        .contact-us-section-info-in {
            margin-top: 50px;
            margin-left: -50px;
            width: calc(100% + 50px);
            background: $white;
            border: 1px $secondary-color solid;
            padding: 2rem;

            @include breakpoint(ipad_portrait) {
                width: 100%;
                margin-left: 0;
                margin-top: 0;
                padding: 0 2rem;
            }

            @include breakpoint(mobile_landscape) {
                width: 100%;
                margin-left: 0;
                margin-top: 0;
                padding: 0 2rem;
            }

            @include breakpoint(mobile_portrait) {
                width: 100%;
                margin-left: 0;
                margin-top: 0;
                padding: 0 1rem;
            }

            ul {
                @include ul;

                li {
                    margin: 1.5rem 0;
                    padding: 0px;

                    @include breakpoint(mobile_portrait) {
                        margin: 0.5rem 0;
                    }

                    a {
                        display: block;
                        @extend %h2;
                        color: $secondary-color;
                        padding-left: 75px;
                        font-weight: 700;
                        font-family: $secondaryfontfaimly;

                        @include breakpoint(desktop_sm) {
                            font-size: 2rem;
                        }

                        @include breakpoint(ipad_landscape) {
                            font-size: 1.9rem;
                        }

                        @include breakpoint(mobile_landscape) {
                            font-size: 24px;
                            padding-left: 50px;
                        }

                        @include breakpoint(mobile_portrait) {
                            font-size: 18px;
                            padding-left: 40px;
                        }

                        &.email-green-icon {
                            background-size: 52px;
                            padding-top: 10px;
                            padding-bottom: 10px;

                            @include breakpoint(mobile) {
                                background-size: 30px;
                            }
                        }

                        &.telephone-green-icon {
                            background-size: 52px;
                            padding-top: 10px;
                            padding-bottom: 10px;

                            @include breakpoint(mobile) {
                                background-size: 30px;
                            }
                        }

                        &.location-green-icon {
                            background-size: 44px;
                            padding-top: 10px;
                            padding-bottom: 10px;

                            @include breakpoint(mobile) {
                                background-size: 25px;
                                background-position: 0;
                            }
                        }

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}