.contact-form-page {
    h2 {
        margin-bottom: 4rem;
    }
}

.form-custom-row {
    .custom-row {
        display: block;
    }
}

.last-btn-set {
    display: flex;
    flex-wrap: wrap;

    .input-submit-box {
        margin-left: auto;
    }
}

.wpcf7 .wpcf7-submit:disabled {
    cursor: pointer !important;
}

.input-field-set {
    display: flex;

    @include breakpoint(mobile) {
        display: block;
    }

    .input-field {
        margin-top: 9px;
    }

    .input-submit-box {
        margin-left: auto;

        @include breakpoint(mobile) {
            margin-left: 0;
            margin-top: 2rem;
        }
    }
}

.wpcf7-acceptance {
    span {
        margin-right: 0;
        position: relative;
    }
}

.wpcf7-acceptance {
    .wpcf7-list-item {
        margin: 0;
    }

    input {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
}

.input-field-set {
    @include breakpoint(mobile) {
        max-width: 341px;
    }
}

.wpcf7-acceptance input::after,
.wpcf7-acceptance input:checked::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    @include breakpoint(mobile) {
        right: 0px;
        left: inherit;
    }
}

.wpcf7-acceptance input::before {
    content: "";
    background: $white;
    width: 26px;
    height: 26px;
    position: absolute;
    left: -3px;
    top: -3px;

    @include breakpoint(mobile) {
        right: -3px;
        left: inherit;
    }
}

.wpcf7-acceptance input::after {
    background: url("#{$assetIconsPath}/checkinput.svg") no-repeat center center;
}

.wpcf7-acceptance input:checked::after {
    background: url("#{$assetIconsPath}/checkedinput.svg") no-repeat center center;
}

.input-field-set {
    label {
        position: relative;
        padding: 0 29px 0 0px;
        display: block;
        align-items: center;

        a {
            color: $primary-color;

            &:hover {
                color: $drak-gray;
            }
        }
    }

    .wpcf7-form-control-wrap {
        position: absolute;
        right: 0;
    }
}

@include breakpoint(ipad_portrait) {

    .recaptcha iframe {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

@include breakpoint(mobile_portrait) {

    .recaptcha iframe {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}