.help-you-section {
    .help-you-row {
        @include ul;
        display: flex;
        flex-wrap: wrap;

        @include breakpoint(ipad_landscape) {
            padding: 0 5rem;
        }

        li {
            text-align: center;
            padding-top: 4rem;
            padding-left: 3rem;
            padding-right: 3rem;
            position: relative;
            padding-bottom: 2.5rem;

            h3 {
                margin: 20px 0 0 0;
                padding: 0px;
                color: $secondary-color;
            }

            .desc--box {
                margin-top: 10px;
                color: $secondary-color;
                font-weight: 500;
            }

            .help-you-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 130px;
                height: 130px;
                margin: auto;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    display: block;
                    height: auto;
                }
            }
        }

        &.help-you-row-column-4 {
            li {
                width: 25%;

                @include breakpoint(ipad_landscape) {
                    width: 50%;
                }

                @include breakpoint(ipad_portrait) {
                    width: 50%;
                }

                @include breakpoint(mobile_landscape) {
                    width: 50%;
                }

                @include breakpoint(mobile_portrait) {
                    width: 100%;
                }
            }
        }

        &.help-you-row-column-3 {
            li {
                width: 33.33%;

                @include breakpoint(ipad_portrait) {
                    width: 50%;
                }

                @include breakpoint(mobile_landscape) {
                    width: 50%;
                }

                @include breakpoint(mobile_portrait) {
                    width: 100%;
                }
            }
        }

        &.help-you-row-column-2 {
            li {
                width: 50%;

                @include breakpoint(mobile_portrait) {
                    width: 100%;
                }
            }
        }
    }
}
