.hero-slider-section {
    position: relative;
    &::after {
        position: absolute;
        width: 100%;
        content: "";
        height: 150px;
        left: 0px;
        top: 0px;
        @extend %hdr-bg;
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 1;
        border: 0px;
        padding: 0px;
        text-indent: -9999px;
        width: 50px;
        height: 50px;
        @include breakpoint(mobile){
            width: 40px;
            height: 40px;
            bottom: 4rem;
            top: inherit;
        }
        @include breakpoint(mobile_landscape){
            bottom: 1.5rem;
        }

        &.slick-prev {
            left: 50px;
            background: url("#{$assetIconsPath}/Arrow white Left.svg") no-repeat right center;

            @include breakpoint(ipad) {
                left: 1rem;
            }

            @include breakpoint(mobile) {
                left: 36%;
            }
        }

        &.slick-next {
            right: 50px;
            background: url("#{$assetIconsPath}/Arrow white Right.svg") no-repeat right center;

            @include breakpoint(ipad) {
                right: 1rem;
            }

            @include breakpoint(mobile) {
                right: 36%
            }
        }
    }

    .hero-slider-item-img {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .hero-slider-item-content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 12rem;
        @extend .dfd;

        @include breakpoint(desktop_md) {
            padding: 0 8rem;
        } 

        @include breakpoint(desktop_sm) {
            padding: 0 8rem;
        }

        @include breakpoint(ipad) {
            padding: 0 2rem;
        }

        @include breakpoint(mobile_landscape) {
            padding: 3rem 2rem 1rem 2rem;
        }
        @include breakpoint(mobile_portrait) {
            padding: 2rem 1rem;
        }

        .hero-slider-item-content-in {
            max-width: 1400px;
            width: 100%;
            margin: auto;
            text-align: right;
            padding: 0 0 0 20%;
            min-height: 435px;

            @include breakpoint(desktop_md) {
                max-width: 94%;
                padding: 0 0 0 0%;
            } 

            @include breakpoint(desktop_sm) {
                max-width: 94%;
                padding: 0 0 0 0%;
            }

            @include breakpoint(ipad_landscape) {
                max-width: 776px;
                padding: 0 0 0 0%;
            }

            @include breakpoint(ipad_portrait) {
                max-width: 579px;
                padding: 0 0 0 0%;
            }
            @include breakpoint(mobile) {
                padding: 0 0 0 0%;
            }

            span {
                color: $white;
                font-family: $secondaryfontfaimly;
                font-weight: 400;
                font-size: 27px;
                position: relative;
                padding-bottom: 2rem;
                margin-bottom: 2rem;
                display: block;
              
                @include breakpoint(mobile) {
                    font-size: 18px;
                    padding-bottom: 1.2rem;
                    margin-bottom: 1.2rem;
                }

                &::after {
                    content: '';
                    width: $afterLine_width;
                    height: $afterLine_height;
                    background: $primary-color;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }

            h1 {
                margin: 0px;
                padding: 0px;
                color: $white;
                @extend %slider-hd;
                text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
                min-height: 158px;
            }

            .btn {
                margin-top: 5rem;
                @media (min-width: 992px) and (max-width: 1100px) {
                    margin-top: 3rem;
                }
                @include breakpoint(mobile) {
                    margin-top: 2rem;
                }
                a {
                    display: inline-block;
                }
            }
        }
    }
}