.member-list-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3px;
  margin-right: -3px;
  margin-top: 4rem;
  padding-top: 2px;
  padding-bottom: 2px;
}

.member-box {
  position: relative;
  padding: 3px;
  width: 33.33%;
  @include breakpoint(ipad_portrait){
    width: 50%;
  }
  @include breakpoint(mobile_landscape){
    width: 50%;
  }
  @include breakpoint(mobile_portrait){
    width: 100%;
  }

  .member-box-img {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .member-box-content {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;

    .member-box-content-in {
      text-align: center;
      width: 100%;

      .desc--box {
        min-height: 150px;
        margin-top: 1rem;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 400;
      }

      h3 {
        position: relative;
        margin: 0px;
        padding: 1rem 0 0rem 0;

        &::after {
          content: '';
          width: $afterLine_width;
          height: $afterLine_height;
          background: $primary-color;
          position: absolute;
          top: 0;
          left: 0px;
          right: 0;
          margin: auto;
        }

      }
    }

  }

  &:hover {
    .member-box-content {
      opacity: 1;
    }
  }
}

.member-details-pop {
  display: flex;
  flex-wrap: wrap;

  .member-details-left {
    width: 250px;
    @include breakpoint(mobile_portrait){
      width: 100%;
    }

    .pop-member-img {
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    span {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 400;
    }

    h3 {
      position: relative;
      margin: 2rem 0 0 0;
      padding: 1rem 0 0rem 0;
      color: $secondary-color;
      text-align: center;

      &::after {
        content: '';
        width: $afterLine_width;
        height: $afterLine_height;
        background: $primary-color;
        position: absolute;
        top: 0;
        left: 0px;
        right: 0;
        margin: auto;
      }

    }
  }

  .member-details-right {
    width: calc(100% - 250px);
    padding-left: 4rem;
    @include breakpoint(mobile_portrait){
      width: 100%;
      padding-left: 0px;
      margin-top: 3rem;
    }
  }
}