.news-list-row {
    display: flex;
    flex-wrap: wrap;

    .news-list-box {
        width: 50%;
        padding: 3rem 2rem 1rem 2rem;

        @include breakpoint(mobile_portrait){
            width: 100%;
            padding: 2rem 0 1rem; 
        }

        .news-list-box-img {
            width: 100%;
            overflow: hidden;
            a {
                display: block;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    transition: all 0.3s;
                }
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
        }

        .news-list-box-content {
            padding-top: 1rem;

            h4 {
                position: relative;
                margin: 0 0 1rem 0;
                padding: 0 0 1rem 0;

                &::after {
                    content: '';
                    width: $afterLine_width;
                    height: $afterLine_height;
                    background: $primary-color;
                    position: absolute;
                    bottom: 0;
                }

                a {
                    display: block;
                    color: $secondary-color;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
            .tags{
                color: $primary-color;
            }
        }
    }
}