.our-promise-section{
    @include breakpoint(ipad_portrait){
        .container-sm{
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
    .our-promise-section-in{
        position: relative;
        padding-top: 6rem;
        padding-bottom: 3rem;
        padding-right: 4rem;
        background: url("#{$assetIconsPath}/border-shap.svg") no-repeat center right;
        background-size: auto 100%;
        @include breakpoint(ipad_portrait){
            padding-top: 3rem;
            padding-right: 3rem;
        }
        @include breakpoint(mobile_landscape){
            background: transparent;
            padding-right: 0rem;
            padding-top: 0rem;
            padding-bottom: 2rem;
        }
        @include breakpoint(mobile_portrait){
            background: transparent;
            padding-right: 0rem;
            padding-top: 0rem;
            padding-bottom: 2rem;
        }
        .bottom-btn-left{
            display: flex;
            margin-top: 2rem;
        }
    }
}