.page-heading-bg {
    background-color: $secondary-color;
    padding: 12rem 0 4rem 0;

    @include breakpoint(ipad_portrait) {
        padding: 10rem 0 4rem 0;
    }

    @include breakpoint(ipad_portrait) {
        padding: 8rem 0 4rem 0;
    }

    @include breakpoint(mobile) {
        padding: 8rem 0 4rem 0;
    }

    .page-heading-bg-in {
        h1 {
            margin: 0px;
            padding: 0px;
            color: $white;
            text-transform: uppercase;
            text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);

            @media (min-width: 1370px) and (max-width: 50000000000px) {

                line-height: 5.2rem;

            }
        }
    }

}