.parallax-image-section {
    position: relative;
    min-height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    text-align: center;

    @include breakpoint(desktop_sm) {
        min-height: 500px;
    }

    @include breakpoint(ipad) {
        min-height: 500px;
    }

    @include breakpoint(mobile) {
        min-height: 450px;
    }

    .container-md {
        position: relative;
        z-index: 2;
    }

    h1 {
        text-shadow: 0px 3px 11px rgba(0, 0, 0, 0.8);
        font-family: $primaryfontfaimly;
        font-weight: 500;
        @extend %slider-hd;

        @media (min-width: 320px) and (max-width: 767px) {
            line-height: 2.5rem;
            font-size: 2rem;
        }

        strong {
            font-weight: 800;
        }
    }

    p {
        line-height: inherit;
        margin: 0px;
    }
}