.photo-gallery-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2px;
    margin-right: -2px;

    .photo-gallery-box {
        width: 25%;
        padding: 2px;
        @include breakpoint(mobile_portrait){
            width: 50%;
        }

        a {
            display: block;
            width: 100%;
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                height: auto;     
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
}