.post-row {
   display: flex;
   @include breakpoint(ipad_portrait){
      flex-wrap: wrap;
      padding:3rem 8rem 0;
      align-items: inherit;
      flex-direction: column-reverse;
    }
   @include breakpoint(mobile_landscape){
      flex-wrap: wrap;
      padding:3rem 6rem 0;
      align-items: inherit;
      flex-direction: column-reverse;
    }
   @include breakpoint(mobile_portrait){
     flex-wrap: wrap;
     padding:3rem 2rem 0;
     align-items: inherit;
     flex-direction: column-reverse;
   }
   

   .post-row-img {
      width: 50%;
      &.show-img{
         display: none;
         background-size: cover;
      }
      @include breakpoint(desktop_sm){
         &.hide-img{
            display: none;
         }
         &.show-img{
            display: block;
         }
      }
      @include breakpoint(ipad_landscape){
         &.hide-img{
            display: none;
         }
         &.show-img{
            display: block;
         }
      }
      @include breakpoint(ipad_portrait){
         width: 100%;
      }
      @include breakpoint(mobile){
         width: 100%;
      }

      img {
         width: 100%;
         height: auto;
         display: block;
      }
   }

   .post-row-content {
      width: 50%;
      padding: 4rem 14% 4rem 4rem;
      display: flex;
      align-items: center;
      @include breakpoint(ipad_portrait){
         width: 100%;
         padding:0 0 3rem 0;
      }
      @include breakpoint(mobile){
         width: 100%;
         padding: 0rem 0 2rem 0;
      }

      h3 {
         margin: 0 0 1.4rem 0;
         

        @include breakpoint(ipad) {
         margin: 0 0 1rem 0;
        }
        @include breakpoint(mobile) {
         margin: 0 0 1rem 0;
        }
      }

      .btn-set--left {
         margin-top: 2rem;
      }
   }

   &.secondary-post-row {
      flex-direction: row-reverse;
      @include breakpoint(ipad_portrait){
         flex-direction: column-reverse;
      }
      @include breakpoint(mobile){
         flex-direction: column-reverse;
      }
      .post-row-content {
         padding: 4rem 4rem 4rem 14%;
         @include breakpoint(ipad_portrait){
            padding:0 0 3rem 0;
         }
         @include breakpoint(mobile){
            padding:0 0 2rem 0;
         }
      }
   }

}

