.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3px;
  margin-right: -3px;
  padding-top: 2px;
  padding-bottom: 2px;

  .projects-list-box {
    position: relative;
    padding: 3px;


    .projects-list-img {
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .projects-list-content {
      position: absolute;
      width: calc(100% - 6px);
      height: calc(100% - 6px);
      top: 3px;
      left: 3px;
      right: 3px;
      bottom: 3px;
      padding: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
      opacity: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;

      .projects-list-content-in {
        text-align: center;


        h3 {
          position: relative;
          margin: 0px;
          padding: 1rem 0 0rem 0;

          a {
            color: $white;
          }

          &::after {
            content: '';
            width: $afterLine_width;
            height: $afterLine_height;
            background: $primary-color;
            position: absolute;
            top: 0;
            left: 0px;
            right: 0;
            margin: auto;
          }

        }

        .desc--box {
          margin-top: 1rem;
          margin-bottom: 2rem;
        }
      }

    }

    &:hover {
      .projects-list-content {
        opacity: 1;
      }
    }
  }

  &.projects-list-2 {
    .projects-list-box {
      width: 50%;

      @include breakpoint(mobile_portrait) {
        width: 100%;
      }
    }
  }

  &.projects-list-3 {
    .projects-list-box {
      width: 33.33%;

      @include breakpoint(ipad_portrait) {
        width: 50%;
      }

      @include breakpoint(mobile_landscape) {
        width: 50%;
      }

      @include breakpoint(mobile_portrait) {
        width: 100%;
      }
    }
  }

  &.projects-list-4 {
    .projects-list-box {
      width: 25%;

      @include breakpoint(ipad_portrait) {
        width: 50%;
      }

      @include breakpoint(mobile_landscape) {
        width: 50%;
      }

      @include breakpoint(mobile_portrait) {
        width: 100%;
      }
    }
  }
}