.read-bio-pop {
    display: none;

    .read-bio-pop-content {
        position: relative;
    }

    .close_pop_btn {
        background: transparent;
        padding: 0px;
        border: 0;
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 30px;
        height: 30px;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        /* Transparent black overlay */
        z-index: 999;
    }

    .read-bio-pop-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        z-index: 1000;
        max-width: 1000px;
        width: 100%;

        @include breakpoint(mobile) {
            height: 100%;
            overflow: auto;
        }

        .read-bio-pop-content {
            background: $white;
            padding: 4rem 3rem;

            @include breakpoint(mobile) {
                padding: 4rem 1rem 1rem 1rem;
            }
        }
    }
}

.popshow {
    overflow: hidden;

    .read-bio-pop {
        display: block;
    }
}