.searvice-details-heading {
    position: relative;

    &::after {
        position: absolute;
        width: 100%;
        content: "";
        height: 150px;
        left: 0px;
        top: 0px;
        @extend %hdr-bg;
    }

    .searvice-main-details-img {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .searvice-details-heading-in {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        @extend .pg-hd-overly-bg;

        @include breakpoint(mobile_landscape) {
            padding-top: 2rem;
        }

        @include breakpoint(mobile_portrait) {
            padding-top: 2rem;
        }

        h1 {
            color: $white;
            margin: 0px;
            padding: 0px;
            text-transform: uppercase;
            text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
            @media (min-width: 1370px) and (max-width: 50000000000px) {
              line-height: 5.2rem;
             }
        }

        .searvice-icon-hd {
            display: flex;
            align-items: center;

            @include breakpoint(mobile_portrait) {
                flex-wrap: wrap;
                align-items: flex-end;
            }

            i {
                width: 120px;
                margin-right: 2rem;

                @include breakpoint(desktop_md) {
                    width: 100px;
                    height: 100px;
                }

                @include breakpoint(desktop_sm) {
                    width: 80px;
                }

                @include breakpoint(ipad_landscape) {
                    width: 70px;
                    height: 70px;
                }

                @include breakpoint(ipad_portrait) {
                    width: 70px;
                    height: 70px;
                    margin-right: 1rem;
                }

                @include breakpoint(ipad_portrait) {
                    width: 60px;
                    height: 60px;
                }

                @include breakpoint(mobile_landscape) {
                    width: 70px;
                    height: 70px;
                    margin-right: 0;
                    margin-bottom: 1.5rem;
                }

                @include breakpoint(mobile_portrait) {
                    width: 50px;
                    height: 50px;
                    margin-right: 0;
                    margin-bottom: 1.5rem;
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }
            }
        }
    }
}

.searvice-details-heading .searvice-details-heading-in .searvice-icon-hd {
    i~h1 {
        width: calc(100% - 120px);

        @include breakpoint(mobile_portrait) {
            width: calc(100% - 90px);
        }

        @include breakpoint(mobile_portrait) {
            width: 100%;
        }
    }
}