.services-list-box {
    width: 46%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;

    @include breakpoint(ipad_portrait) {
        width: 100%;
        padding-left: 2rem;
    }

    @include breakpoint(mobile_landscape) {
        width: 100%;
    }

    @include breakpoint(mobile_portrait) {
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 3rem;
    }

    &:nth-child(2n+2) {
        margin-left: 8%;

        @include breakpoint(ipad_portrait) {
            margin-left: 0%;
        }

        @include breakpoint(mobile_landscape) {
            margin-left: 0%;
        }

        @include breakpoint(mobile_portrait) {
            margin-left: 0%;
        }
    }

    .services-list-icon-box {
        width: 150px;
        margin-left: 3rem;

        @include breakpoint(mobile_portrait) {
            margin-left: 0rem;
        }

        .services-list-icon {
            height: 150px;

            @include breakpoint(mobile_portrait) {
                height: 120px;
            }

            img {
                display: block;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
        }

    }

    .services-list-content {
        width: calc(100% - 150px - 3rem);
        position: relative;
        padding-bottom: 5rem;

        @include breakpoint(mobile_portrait) {
            width: calc(100%);
            margin-top: 1.5rem;
        }

        h2 {
            position: relative;
            margin: 0 0 1.5rem 0;
            padding: 0 0 1rem 0;

            &::after {
                content: '';
                width: $afterLine_width;
                height: $afterLine_height;
                background: $primary-color;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .bottom-btn-right {
            position: absolute;
            bottom: 0px;
            right: 0;
        }
    }
}