.simple-info-section {
   text-align: center;

   .simple-info-section-in {
      padding-left: 6rem;
      padding-right: 6rem;

      @include breakpoint(ipad_portrait) {
         padding-left: 0rem;
         padding-right: 0rem;
      }

      @include breakpoint(mobile) {
         padding-left: 0rem;
         padding-right: 0rem;
      }

      .desc--box {
         margin-top: 2rem;
      }

      h2 {
         position: relative;
         margin: 0px;
         padding: 0 0 1rem 0;

         &::after {
            content: '';
            width: $afterLine_width;
            height: $afterLine_height;
            background: $primary-color;
            position: absolute;
            bottom: 0;
         }
      }

      &.simple-info-section-in-left {
         text-align: left;

         h2 {
            &::after {
               left: 0;
               margin: auto;
            }
         }
      }

      &.simple-info-section-in-center {
         text-align: center;

         h2 {
            &::after {
               left: 0;
               right: 0;
               margin: auto;
            }
         }
      }

      &.simple-info-section-in-right {
         text-align: right;

         h2 {
            &::after {
               right: 0;
               margin: auto;
            }
         }
      }
   }
}