.small-post-row {
    display: flex;
    margin-bottom: 4rem;

    @include breakpoint(ipad_portrait) {
        padding-left: 4rem;
        padding-right: 4rem;
        flex-wrap: wrap;
    }

    @include breakpoint(mobile) {
        flex-wrap: wrap;
    }

    @include breakpoint(mobile_landscape) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &:last-child {
        margin-bottom: 0px;
    }

    .small-post-row-content {
        width: 50%;
        padding: 3rem 4rem;

        @include breakpoint(ipad_portrait) {
            width: 100%;
            padding: 0 0 3rem 0;
        }

        @include breakpoint(mobile) {
            width: 100%;
            padding: 0 0 3rem 0;
        }

        h4 {
            margin: 0px;
        }

        .desc--box {
            margin-top: 1rem;
        }
    }

    .small-post-row-img {
        width: 50%;
        background-size: cover;
        height: 450px;
        background-position: center;
        background-repeat: no-repeat;

        &.show-img {
            display: none;
            background-size: cover;
        }

        @include breakpoint(desktop_sm) {
            &.hide-img {
                display: none;
            }

            &.show-img {
                display: block;
            }
        }

        @include breakpoint(ipad_landscape) {
            &.hide-img {
                display: none;
            }

            &.show-img {
                display: block;
            }
        }

        @include breakpoint(ipad_portrait) {
            width: 100%;
        }

        @include breakpoint(mobile) {
            width: 100%;
            height: 300px;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &.row-reverse {
        flex-direction: row-reverse;
    }
}