.testimonials-section {
    @extend %main-padding;

    .testimonials-section-content {
        margin: auto;

        strong {
            font-weight: 500;
            font-family: $secondaryfontfaimly;
            color: $secondary-color;
            font-size: 1.5rem;
            text-align: left;
            display: inline-block;
            line-height: 2.1rem;
            padding-left: 117px;
            background: url("#{$assetIconsPath}/testimonials-icon-green.svg") no-repeat top left;
            background-size: 85px;
            padding-top: 35px;

            @include breakpoint(ipad) {
                background-size: 55px;
                padding-top: 19px;
                padding-left: 85px;
            }

            @include breakpoint(ipad_portrait) {
                font-size: 1.3rem;
                line-height: 1.7rem;
            }

            @include breakpoint(mobile) {
                background-size: 36px;
                font-size: 1.3rem;
                line-height: 1.5rem;
                padding-left: 53px;
                padding-top: 13px;
            }

            @include breakpoint(mobile_portrait) {
                padding-left: 58px;
                padding-top: 0;
            }
        }

        i {
            display: block;
            text-align: right;
            font-size: 16px;
            margin-top: 1rem;
            font-style: normal;
            font-weight: 400;
            color: $primary-color;
        }
    }
}