.video-section {
    .video-ifram {
        margin-top: 4rem;
        text-align: center;

        @include breakpoint(ipad_portrait) {
            text-align: center;
        }

        @include breakpoint(mobile_landscape) {
            text-align: center;
        }

        @include breakpoint(mobile_portrait) {
            text-align: center;
        }

        img {
            max-width: 100%;
            display: block;
        }

        iframe {
            text-align: center;

            @include breakpoint(ipad_portrait) {
                width: 577px !important;
                height: 392px !important;
                margin: auto;
            }

            @include breakpoint(mobile_landscape) {
                width: 375px !important;
                height: 264px !important;
                margin: auto;
            }

            @include breakpoint(mobile_portrait) {
                width: 300px !important;
                height: 229px !important;
                margin: auto;
            }

        }
    }
}