.why-choose-us-section {
    .why-choose-us-content {
        ul {
            @include ul;
            display: flex;
            flex-wrap: wrap;

            li {
                padding: 0 3rem;
                margin-top: 4rem;
                width: 25%;
                text-align: center;
                color: $secondary-color;

                .why-choose-img {
                    margin-bottom: 1rem;
                    height: 150px;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        width: auto;
                        height: auto;
                    }
                }

                h4 {
                    margin: 0 0 1rem 0;
                    padding: 0px;
                    font-size: 24px;
                }
            }
        }
    }
}