.wider-team-section {
    .heading {
        h2 {
            color: $secondary-color;

            &::after {
                background: $white;
            }
        }
    }

    .wider-team-slider {
        margin-top: 4rem;

        .slick-arrow {
            position: absolute;
            top: 30%;
            z-index: 1;
            border: 0px;
            padding: 0px;
            text-indent: -9999px;
            width: 50px;
            height: 50px;

            @include breakpoint(mobile_portrait) {
                top: 43%;
            }

            &.slick-prev {
                left: -50px;
                background: url("#{$assetIconsPath}/Arrow white Left.svg") no-repeat right center;

                @include breakpoint(mobile_portrait) {
                    left: -10px;
                }
            }

            &.slick-next {
                right: -50px;
                background: url("#{$assetIconsPath}/Arrow white Right.svg") no-repeat right center;

                @include breakpoint(mobile_portrait) {
                    right: 0px;
                }
            }
        }

        .slick-list {
            padding: 0px !important;

            @include breakpoint(mobile_portrait) {
                width: 85%;
                margin: auto;
            }
        }

        .wider-team-slider-item {
            -webkit-transform: scale(.8);
            transform: scale(.8);
            -webkit-transition: .3s;
            transition: .3s;

            .wider-team-slider-img {
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }

            .wider-team-slider-content {
                background: #fff;
                padding: 1rem 0.5rem;
                display: none;
                color: $secondary-color;
                text-align: center;

                @include breakpoint(mobile_portrait) {
                    display: block;
                }

                strong {
                    display: block;

                    @include breakpoint(mobile_portrait) {
                        font-size: 1.4rem;
                    }
                }

                span {
                    @include breakpoint(mobile_portrait) {
                        font-size: 1.4rem;
                    }
                }

            }
        }

        .slick-center {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s;
            transition: .3s;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

            @include breakpoint(mobile_portrait) {
                -webkit-transform: scale(.8);
                transform: scale(.8);
            }

            .wider-team-slider-content {
                display: block;

            }
        }
    }

}