.main-footer {
    background-color: $drak-color;
    padding: 1.5rem 0;
    font-size: 1rem;
    .custom-row{
        align-items: center;
    }
    .footer-social-media-icon {
        width: 33.33%;

        @include breakpoint(mobile) {
            width: 100%;
            margin: 2rem 0;
        }

        ul {
            @include ul;
            display: flex;

            @include breakpoint(mobile) {
                justify-content: center;
            }

            li {
                margin: 0 0 0 1rem;
                padding: 0px;

                &:first-child {
                    margin: 0px;
                }

                a {
                    width: 50px;
                    height: 50px;
                    display: block;

                    &.insta-icon {
                        background: url("#{$assetIconPath}/insta white-01.svg") no-repeat center center;
                    }

                    &.phone-icon {
                        background: url("#{$assetIconPath}/phone white.svg") no-repeat center center;
                    }

                    &.email-icon {
                        background: url("#{$assetIconPath}/email white.svg") no-repeat center center;
                    }

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    .footer-logo {
        width: 33.33%;
        text-align: center;

        @include breakpoint(mobile) {
            width: 100%;
        }

        a {
            display: block;
            width: 200px;
            margin: auto;

            @include breakpoint(ipad_portrait) {
                width: 170px;
            }

            @include breakpoint(mobile) {
                width: 170px;
            }

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }

    .footer-right {
        margin-left: auto;
        width: 33.33%;
        text-align: right;

        @include breakpoint(mobile) {
            width: 100%;
            text-align: center;
            margin-left: 0;
        }

        .footer-text {
            color: $white;

            .footer-text-top {
                a {
                    color: $white;
                    text-transform: capitalize;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }

            .footer-text-btm {
                margin-top: 5px;

                a {
                    color: $white;
                    font-weight: 500;


                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}