.main-header {
  padding: 2rem 0;
  background-color: $light-color;
  // box-shadow: 0 0 12px rgb(0 0 0 / 20%);
  position: sticky;
  top: 0;
  z-index: 2;

  @include breakpoint(mobile_nav) {
    padding: 1rem 0;
  }

  .custom-row {
    align-items: center;
  }

  .logo {
    width: 223px;

    @include breakpoint(ipad_landscape) {
      width: 170px;
    }

    @include breakpoint(mobile_nav) {
      width: 110px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .nav-right {
    margin-left: auto;


    @include breakpoint(mobile_nav) {
      display: none;
    }

    .nav-right-in {
      display: flex;
      align-items: center;
    }

    ul.text-link {
      @include ul;
      display: flex;

      li {
        margin: 0 0 0 3rem;
        padding: 0px;

        &:first-child {
          margin-left: 0px;
        }

        a {
          display: block;
          color: $drak-color;
          @extend %mainMenuFont;
          font-weight: 500;
          text-transform: uppercase;
          @extend %font-size-base;

          &.active,
          &:hover {
            color: $secondary-color;
          }
        }

        &.current-menu-item {
          a {
            color: $secondary-color;
          }
        }
      }
    }

    ul.info-link {
      @include ul;
      display: flex;
      margin-left: 4rem;

      li {
        margin: 0 0 0 1rem;
        padding: 0px;

        a {
          width: 50px;
          height: 50px;
          display: block;

          &.phone-icon {
            background: url("#{$assetIconPath}/phone blue.svg") no-repeat center center;
          }

          &.email-icon {
            background: url("#{$assetIconPath}/email blue.svg") no-repeat center center;
          }

          &:hover {
            &.phone-icon {
              background: url("#{$assetIconPath}/phone red.svg") no-repeat center center;
            }

            &.email-icon {
              background: url("#{$assetIconPath}/email red.svg") no-repeat center center;
            }
          }
        }
      }
    }
  }
}

.nav__toggle {
  display: none;

  @include breakpoint(mobile_nav) {
    display: block;
  }
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 25px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;

  @include breakpoint(mobile_nav) {
    margin-left: auto;
    top: 0px;
  }


  span,
  span::before,
  span::after {
    width: 30px;
  }

  span,
  span::before,
  span::after {
    text-align: right;
    cursor: pointer;
    border-radius: 0px;
    height: 2px;
    background-color: $secondary-color;
    position: absolute;
    display: block;
    content: "";
    transition: all 0.2s;
    outline: 0;
    right: 0px;
  }

  span {
    // left: 3px;
    top: 15px;

    &::before {
      top: -10px;
    }

    &::after {
      bottom: -10px;
    }
  }
}

.menu-slide {
  .logo {
    position: relative;
    z-index: 9;
    margin: auto;
    width: 150px;
    text-align: center;
    margin-top: 2rem;
  }

  .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    background: $light-color;
    left: 0;
    top: 0;
    width: 100%;
    @include breakpoint(mobile_landscape){
     padding-top: 6rem;
    }
    .nav-right-in {
      display: block;

      .text-link {
        display: block;

        li {
          margin: 10px 0;
          padding: 0px;
          @include breakpoint(mobile_nav){
            margin: 25px 0;
          }
          @include breakpoint(mobile_landscape){
            margin: 10px 0;
          }

          a {
            text-align: center;
            font-size: 2rem;
            @include breakpoint(mobile_landscape){
              font-size: 1.8rem;
             }
          }
        }
      }

      .info-link {
        margin: 2rem 0 0;
        justify-content: center;
        @include breakpoint(mobile_landscape){
          margin: 1rem 0 0;
         }
        li {
          padding: 0px;
          margin: 0 5px;

          a {
            width: 60px;
            height: 60px;
          }
        }
      }
    }

  }

  .nav__toggle {
    position: absolute;
    top: 45px;
    right: 28px;

    span {
      background-color: transparent;

      &::before,
      &::after {
        top: 0;
        background-color: $drak-color;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      span {
        background-color: transparent;

        &::before,
        &::after {
          background-color: $drak-color;
        }
      }
    }
  }
}