/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
a,
button {
  cursor: pointer;
}

.filter-projects-section .filter-ul ul li a, p {
  font-size: 1.4rem;
  line-height: 1.7rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .filter-projects-section .filter-ul ul li a, p {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .filter-projects-section .filter-ul ul li a, p {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .filter-projects-section .filter-ul ul li a, p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .filter-projects-section .filter-ul ul li a, p {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
}

body {
  font-size: 1.4rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  body {
    font-size: 1.2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  body {
    font-size: 1.1rem;
  }
}

.secondary-btn, .primary-btn {
  font-size: 1.4rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .secondary-btn, .primary-btn {
    font-size: 1.2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .secondary-btn, .primary-btn {
    font-size: 1.1rem;
  }
}

.nav-box ul li a {
  font-size: 1.7rem;
}

.client-section, .about-project, .there-for-you-section, .what-we-do-section, .let-chat-section .let-chat-section-in, .filter-projects-section, .home-services-section, .welcome-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .client-section, .about-project, .there-for-you-section, .what-we-do-section, .let-chat-section .let-chat-section-in, .filter-projects-section, .home-services-section, .welcome-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .client-section, .about-project, .there-for-you-section, .what-we-do-section, .let-chat-section .let-chat-section-in, .filter-projects-section, .home-services-section, .welcome-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.services .let-chat-section, .let-chat-section, .our-trusted-section, .project-galley-section {
  padding-top: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .services .let-chat-section, .let-chat-section, .our-trusted-section, .project-galley-section {
    padding-top: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .services .let-chat-section, .let-chat-section, .our-trusted-section, .project-galley-section {
    padding-top: 4rem;
  }
}

.section-back, .home-projects-section {
  padding-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-back, .home-projects-section {
    padding-bottom: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .section-back, .home-projects-section {
    padding-bottom: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .client-section, .there-for-you-section, .what-we-do-section, .let-chat-section .let-chat-section-in, .let-chat-section .let-chat-img-mob, .our-trusted-section, .home-projects-section, .home-services-section, .welcome-section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .client-section, .there-for-you-section, .what-we-do-section, .let-chat-section .let-chat-section-in, .let-chat-section .let-chat-img-mob, .our-trusted-section, .home-projects-section, .home-services-section, .welcome-section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.btn-set--left {
  display: flex;
  justify-content: left;
}

.btn-set--center {
  display: flex;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  justify-content: flex-end;
}

.primary-btn {
  color: #3b3c41;
  background-color: #fff;
  position: relative;
  padding: 8px 12px 8px 20px;
  border: 0px;
  font-family: "Jost", sans-serif;
}
.primary-btn::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -30px;
  width: 30px;
  height: 100%;
  background-color: #fff;
  clip-path: polygon(0 0, 0% 100%, 64% 100%);
}
.primary-btn:hover {
  background-color: #EE7601;
  color: #fff;
}
.primary-btn:hover::after {
  background-color: #EE7601;
}

.btn {
  display: inline-block;
  border-right: 0;
  position: relative;
  padding: 2px 14px 2px 2px;
  background: #EE7601;
  clip-path: polygon(0 0, 0% 100%, 45% 100%);
}
.btn .btn-in {
  clip-path: polygon(0 0, 0% 100%, 45% 100%);
  background: #fff;
  padding-right: 3rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.secondary-btn {
  background: transparent;
  border: 0px;
  font-family: "Jost", sans-serif;
  padding: 0px;
  display: flex;
}
.secondary-btn span {
  background: #fff;
  padding: 8px 15px 8px 25px;
  border: 1px #EE7601 solid;
  border-right: 0px;
  position: relative;
  z-index: 1;
  margin-right: -1px;
}
.secondary-btn span::after {
  content: "";
  position: absolute;
  top: -1px;
  right: 0px;
  width: 1px;
  height: 4px;
  background: #EE7601;
  transform: rotate(139deg);
}
.secondary-btn i {
  border-right: 0;
  position: relative;
  width: 30px;
  background: #EE7601;
  clip-path: polygon(0 0, 0% 100%, 100% 99%);
}
.secondary-btn i::after {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  right: 2px;
  bottom: 1px;
  background: #fff;
  clip-path: polygon(0 0, 0% 100%, 100% 99%);
}
.secondary-btn:hover span {
  background: #EE7601;
  color: #fff;
}
.secondary-btn:hover i::after {
  background: #EE7601;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  background: #fff;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0px;
  color: #3b3c41;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
  color: #3b3c41;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
}

.clear {
  clear: both;
}

@media screen and (max-width: 992px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
.container-fluid {
  max-width: 100%;
  width: calc(100% - 6rem);
  padding: 0 1rem;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    width: calc(100% - 4rem);
    padding: 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-fluid {
    width: calc(100% - 4rem);
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-fluid {
    width: calc(100% - 4rem);
    padding: 0;
  }
}

.container-lg {
  max-width: 1500px;
  width: calc(100% - 6rem);
  margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-lg {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-lg {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-lg {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-lg {
    width: calc(100% - 4rem);
  }
}

.container {
  max-width: 1400px;
  width: calc(100% - 14rem);
  margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: calc(100% - 12rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container {
    width: calc(100% - 4rem);
  }
}

.container-sm {
  max-width: 1000px;
  width: calc(100% - 14rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-sm {
    width: calc(100% - 12rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-sm {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-sm {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-sm {
    width: calc(100% - 4rem);
  }
}

.white-bg {
  background: #fff;
}
.white-bg h2 {
  color: #3b3c41;
}

.primary-bg {
  background: #EE7601;
}

.secondary-bg {
  background: #3b3c41;
  color: #fff;
}
.secondary-bg h2 {
  color: #fff;
}

.gray-bg {
  background: #3b3c41;
  color: #fff;
}
.gray-bg h2 {
  color: #fff;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.desc p:first-child {
  margin: 0px;
}
.desc p:last-child {
  margin-bottom: 0px;
}
.desc ul {
  margin: 1rem 0;
  padding: 0px;
  list-style: none;
}
.desc ul li {
  position: relative;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 1.5rem;
}
.desc ul li::before {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0px;
  top: 39%;
  background: #EE7601;
  content: "";
}

.no-margin-15 {
  margin-bottom: -15px !important;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

/*Helpers Scss Files */
.input-field {
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.input-field label {
  font-size: 16px;
  color: #000;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea {
  border-width: 0px;
  border-color: #000;
  border-style: solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 100%;
  border-bottom: 1px #3b3c41 solid;
  font-size: 1.22rem;
  color: #3b3c41;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled {
  opacity: 0.5;
}
.input-field input[type=text]::-webkit-input-placeholder,
.input-field input[type=email]::-webkit-input-placeholder,
.input-field input[type=password]::-webkit-input-placeholder,
.input-field input[type=number]::-webkit-input-placeholder,
.input-field input[type=date]::-webkit-input-placeholder,
.input-field textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 1.22rem;
  color: #3b3c41;
  font-weight: 400;
}
.input-field input[type=text]::-moz-placeholder,
.input-field input[type=email]::-moz-placeholder,
.input-field input[type=password]::-moz-placeholder,
.input-field input[type=number]::-moz-placeholder,
.input-field input[type=date]::-moz-placeholder,
.input-field textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-size: 1.22rem;
  color: #3b3c41;
  font-weight: 400;
}
.input-field input[type=text]:-ms-input-placeholder,
.input-field input[type=email]:-ms-input-placeholder,
.input-field input[type=password]:-ms-input-placeholder,
.input-field input[type=number]:-ms-input-placeholder,
.input-field input[type=date]:-ms-input-placeholder,
.input-field textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-size: 1.22rem;
  color: #3b3c41;
  font-weight: 400;
}
.input-field input[type=text]:-moz-placeholder,
.input-field input[type=email]:-moz-placeholder,
.input-field input[type=password]:-moz-placeholder,
.input-field input[type=number]:-moz-placeholder,
.input-field input[type=date]:-moz-placeholder,
.input-field textarea:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-size: 1.22rem;
  color: #3b3c41;
  font-weight: 400;
}
.input-field textarea {
  height: 126px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

.selectbox {
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  width: 100%;
  font-size: 18px;
  color: #fff;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contact-hero-section .contact-hero-item-content .contact-hero-item-txt h1, .page-hero-section .page-hero-item-content .page-hero-item-txt h1, .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 {
  font-size: 8rem;
  line-height: 8rem;
  font-weight: 600;
}
@media (min-width: 1300px) and (max-width: 1599px) {
  .contact-hero-section .contact-hero-item-content .contact-hero-item-txt h1, .page-hero-section .page-hero-item-content .page-hero-item-txt h1, .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .contact-hero-section .contact-hero-item-content .contact-hero-item-txt h1, .page-hero-section .page-hero-item-content .page-hero-item-txt h1, .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 {
    font-size: 6rem;
    line-height: 6rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .contact-hero-section .contact-hero-item-content .contact-hero-item-txt h1, .page-hero-section .page-hero-item-content .page-hero-item-txt h1, .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-hero-section .contact-hero-item-content .contact-hero-item-txt h1, .page-hero-section .page-hero-item-content .page-hero-item-txt h1, .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-hero-section .contact-hero-item-content .contact-hero-item-txt h1, .page-hero-section .page-hero-item-content .page-hero-item-txt h1, .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-hero-section .contact-hero-item-content .contact-hero-item-txt h1, .page-hero-section .page-hero-item-content .page-hero-item-txt h1, .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}

h2 {
  font-size: 5rem;
  font-weight: 500;
  line-height: 5.7rem;
  color: #3b3c41;
}
@media (min-width: 1300px) and (max-width: 1599px) {
  h2 {
    font-size: 4rem;
    line-height: 4.7rem;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  h2 {
    font-size: 4rem;
    line-height: 4.7rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    font-size: 3.3rem;
    line-height: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 3.3rem;
    line-height: 4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.1rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  h2 {
    font-size: 2.2rem;
    line-height: 2.7rem;
  }
}

h3 {
  font-size: 2.7rem;
  font-weight: 500;
}
@media (min-width: 992px) and (max-width: 1199px) {
  h3 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: 1.8rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  h3 {
    font-size: 1.6rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  h3 {
    font-size: 1.4rem;
  }
}

h4 {
  font-size: 2rem;
  font-weight: 500;
}
@media (min-width: 992px) and (max-width: 1199px) {
  h4 {
    font-size: 1.9rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h4 {
    font-size: 1.7rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  h4 {
    font-size: 1.6rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  h4 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1300px) and (max-width: 1599px) {
  .single .contact-hero-section .contact-hero-item-content .contact-hero-item-txt h1, .contact-hero-section .contact-hero-item-content .contact-hero-item-txt .single h1, .single .page-hero-section .page-hero-item-content .page-hero-item-txt h1, .page-hero-section .page-hero-item-content .page-hero-item-txt .single h1, .single .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1, .hero-slider-section .hero-slider-item-content .hero-slider-item-txt .single h1 {
    font-size: 4.5rem;
    line-height: 5rem;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .single .contact-hero-section .contact-hero-item-content .contact-hero-item-txt h1, .contact-hero-section .contact-hero-item-content .contact-hero-item-txt .single h1, .single .page-hero-section .page-hero-item-content .page-hero-item-txt h1, .page-hero-section .page-hero-item-content .page-hero-item-txt .single h1, .single .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1, .hero-slider-section .hero-slider-item-content .hero-slider-item-txt .single h1 {
    font-size: 4rem;
    line-height: 5.5rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .single .contact-hero-section .contact-hero-item-content .contact-hero-item-txt h1, .contact-hero-section .contact-hero-item-content .contact-hero-item-txt .single h1, .single .page-hero-section .page-hero-item-content .page-hero-item-txt h1, .page-hero-section .page-hero-item-content .page-hero-item-txt .single h1, .single .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1, .hero-slider-section .hero-slider-item-content .hero-slider-item-txt .single h1 {
    font-size: 3.5rem;
    line-height: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .single .contact-hero-section .contact-hero-item-content .contact-hero-item-txt h1, .contact-hero-section .contact-hero-item-content .contact-hero-item-txt .single h1, .single .page-hero-section .page-hero-item-content .page-hero-item-txt h1, .page-hero-section .page-hero-item-content .page-hero-item-txt .single h1, .single .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1, .hero-slider-section .hero-slider-item-content .hero-slider-item-txt .single h1 {
    font-size: 3.5rem;
    line-height: 5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .single .contact-hero-section .contact-hero-item-content .contact-hero-item-txt h1, .contact-hero-section .contact-hero-item-content .contact-hero-item-txt .single h1, .single .page-hero-section .page-hero-item-content .page-hero-item-txt h1, .page-hero-section .page-hero-item-content .page-hero-item-txt .single h1, .single .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1, .hero-slider-section .hero-slider-item-content .hero-slider-item-txt .single h1 {
    font-size: 2.4rem;
    line-height: 3.1rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .single .contact-hero-section .contact-hero-item-content .contact-hero-item-txt h1, .contact-hero-section .contact-hero-item-content .contact-hero-item-txt .single h1, .single .page-hero-section .page-hero-item-content .page-hero-item-txt h1, .page-hero-section .page-hero-item-content .page-hero-item-txt .single h1, .single .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1, .hero-slider-section .hero-slider-item-content .hero-slider-item-txt .single h1 {
    font-size: 2.4rem;
    line-height: 3.1rem;
  }
}

/*Layout Scss Files */
.main-header {
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
}
.main-header .main-header-in {
  position: relative;
  background: #fff;
  z-index: 2;
  padding: 1rem 0;
}
.main-header .custom-row {
  align-items: center;
  position: relative;
}
.main-header .logo {
  width: 200px;
  position: relative;
  z-index: 99;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .logo {
    width: 130px;
  }
}
.main-header .logo a {
  display: block;
}
.main-header .logo a img {
  width: 100%;
  height: auto;
  display: block;
}
.main-header .toggle-outer {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header .header-social-media {
  margin-left: auto;
  z-index: 3;
  position: relative;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .header-social-media {
    display: none;
  }
}
.main-header .header-social-media ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
.main-header .header-social-media ul li {
  margin: 0 0 0 1rem;
  width: 50px;
  height: 50px;
}
.main-header .header-social-media ul li a {
  display: flex;
  width: 100%;
  background-color: #EE7601;
  border-radius: 100px;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.main-header .header-social-media ul li a svg {
  width: 30px;
  height: 30px;
}
.main-header .header-social-media ul li a svg path {
  stroke: #fff;
}
.main-header .header-social-media ul li a.phone svg {
  width: 25px;
  height: 25px;
}
.main-header .header-social-media ul li a.phone svg path {
  stroke: #fff;
}
.main-header .header-social-media ul li a:hover {
  background-color: #3b3c41;
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 50px;
  z-index: 10;
  transition: all 0.2s;
  top: 0;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
}
@media (min-width: 320px) and (max-width: 991px) {
  .nav__toggle {
    margin-left: auto;
    top: 0px;
  }
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  width: 50px;
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  text-align: right;
  cursor: pointer;
  border-radius: 0px;
  height: 4px;
  background-color: #3b3c41;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.2s;
  outline: 0;
  right: 0px;
}
.nav__toggle span {
  top: 15px;
}
.nav__toggle span::before {
  top: -13px;
}
.nav__toggle span::after {
  bottom: -13px;
}

.nav-box {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  background: #3b3c41;
  z-index: 1;
  padding-top: 10rem;
  padding-bottom: 4rem;
  display: none;
}
@media (min-width: 320px) and (max-width: 991px) {
  .nav-box {
    position: fixed;
    height: 100%;
    left: 0px;
    top: 0px;
  }
}
.nav-box ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 300px;
  margin: auto;
}
.nav-box ul li {
  margin: 0;
  padding: 0px;
  text-align: center;
}
.nav-box ul li a {
  color: #fff;
  display: inline-block;
  padding: 1rem 0 8px 0;
  border-bottom: 2px #3b3c41 solid;
}
.nav-box ul li a:hover {
  font-weight: 600;
  border-bottom: 2px #EE7601 solid;
}
.nav-box ul li.current_page_item a, .nav-box ul li.current_page_parent a {
  font-weight: 600;
  border-bottom: 2px #EE7601 solid;
}

.menu-slide .nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.menu-slide .nav__toggle span {
  background-color: transparent;
}
.menu-slide .nav__toggle span::before, .menu-slide .nav__toggle span::after {
  top: 0;
  background-color: #3b3c41;
}
.menu-slide .nav__toggle span::before {
  transform: rotate(45deg);
}
.menu-slide .nav__toggle span::after {
  transform: rotate(-45deg);
}
.menu-slide .nav__toggle:hover span {
  background-color: transparent;
}
.menu-slide .nav__toggle:hover span::before, .menu-slide .nav__toggle:hover span::after {
  background-color: #3b3c41;
}

.main-footer {
  padding: 2rem 0;
  background: #fff;
}
.main-footer .custom-row {
  align-items: center;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-left {
    width: 100%;
  }
}
.main-footer .footer-left .footer-logo {
  width: 230px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .footer-left .footer-logo {
    width: 170px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .main-footer .footer-left .footer-logo {
    width: 156px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-left .footer-logo {
    margin: auto;
    width: 156px;
  }
}
.main-footer .footer-left .footer-logo img {
  width: 100%;
  height: auto;
  display: block;
}
.main-footer .footer-right {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-right {
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
  }
}
.main-footer .footer-right .footer-links {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.main-footer .footer-right .footer-links li {
  margin: 3px 0;
  color: #3b3c41;
  font-size: 1rem;
  text-align: right;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-right .footer-links li {
    text-align: center;
  }
}
.main-footer .footer-right .footer-links li a {
  color: #3b3c41;
  font-size: 1rem;
}
.main-footer .footer-right .footer-links li a:hover {
  color: #EE7601;
}

/*Components Scss Files */
.hero-slider-section {
  position: relative;
}
.hero-slider-section .overly-logo {
  position: absolute;
  width: 30%;
  height: 104%;
  right: 4rem;
  bottom: -100px;
  z-index: 9;
  display: flex;
  align-items: end;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-slider-section .overly-logo {
    right: 2rem;
    bottom: -47px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-slider-section .overly-logo {
    right: 2rem;
    bottom: -47px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-slider-section .overly-logo {
    display: none;
  }
}
.hero-slider-section .overly-logo img {
  width: auto;
  height: 100%;
  display: block;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-slider-section .overly-logo img {
    height: 73%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-slider-section .overly-logo img {
    height: 73%;
  }
}
.hero-slider-section .hero-shap {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 180px;
  z-index: 3;
  clip-path: polygon(0 100%, 100% 30%, 100% 100%);
  background-color: #fff;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-slider-section .hero-shap {
    height: 130px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-slider-section .hero-shap {
    height: 110px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-slider-section .hero-shap {
    height: 80px;
  }
}
.hero-slider-section .hero-shap .hero-shap-in {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 499%;
  height: 180px;
  z-index: 3;
  clip-path: polygon(0 0, 100% 30%, 100% 100%);
  background-color: #EE7601;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-slider-section .hero-shap .hero-shap-in {
    height: 130px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-slider-section .hero-shap .hero-shap-in {
    height: 110px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-slider-section .hero-shap .hero-shap-in {
    height: 80px;
  }
}
.hero-slider-section .hero-slider-item-img img {
  width: 100%;
  height: auto;
  display: block;
}
.hero-slider-section .hero-slider-item-content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.hero-slider-section .hero-slider-item-content .hero-slider-item-txt {
  padding: 0 5rem 0 12rem;
}
@media (min-width: 1300px) and (max-width: 1599px) {
  .hero-slider-section .hero-slider-item-content .hero-slider-item-txt {
    padding: 0 0 0 3rem;
  }
}
@media (min-width: 1600px) and (max-width: 1700px) {
  .hero-slider-section .hero-slider-item-content .hero-slider-item-txt {
    padding: 0 0 0 3rem;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .hero-slider-section .hero-slider-item-content .hero-slider-item-txt {
    padding: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-slider-section .hero-slider-item-content .hero-slider-item-txt {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-slider-section .hero-slider-item-content .hero-slider-item-txt {
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-slider-section .hero-slider-item-content .hero-slider-item-txt {
    padding: 0;
  }
}
.hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 {
  margin: 0 0 2rem;
  color: #fff;
  font-weight: 600;
}
@media (min-width: 1300px) and (max-width: 1599px) {
  .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 {
    margin: 0 0 1rem;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 {
    margin: 0 0 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 {
    margin: 0 0 1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 {
    margin: 0 0 1rem;
  }
}
.hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 span {
  display: block;
  font-weight: 400;
  font-size: 5rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 span {
    font-size: 4.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 span {
    font-size: 4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 span {
    font-size: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 span {
    font-size: 2.5rem;
  }
}
.hero-slider-section .hero-slider-item-content .hero-slider-item-txt h1 strong {
  color: #EE7601;
  display: block;
  font-weight: 600;
}
.hero-slider-section .slick-dots {
  position: absolute;
  bottom: 120px;
  left: 16rem;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
@media (min-width: 1600px) and (max-width: 1700px) {
  .hero-slider-section .slick-dots {
    left: 7rem;
    bottom: 60px;
  }
}
@media (min-width: 1300px) and (max-width: 1599px) {
  .hero-slider-section .slick-dots {
    left: 7rem;
    bottom: 60px;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .hero-slider-section .slick-dots {
    left: 4rem;
    bottom: 60px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-slider-section .slick-dots {
    left: 4rem;
    bottom: 90px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-slider-section .slick-dots {
    bottom: 47px;
    left: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-slider-section .slick-dots {
    left: 2rem;
    bottom: 45px;
  }
}
.hero-slider-section .slick-dots li {
  margin-right: 10px;
}
.hero-slider-section .slick-dots li button {
  background: transparent;
  border: 1px #fff solid;
  cursor: pointer;
  padding: 0px;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
}
.hero-slider-section .slick-dots li.slick-active button {
  background: #fff;
}

.parallax-image-section {
  min-height: 650px;
  background-color: transparent;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .parallax-image-section {
    min-height: 450px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .parallax-image-section {
    min-height: 450px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .parallax-image-section {
    min-height: 350px;
  }
}

.welcome-section .welcome-section-left {
  width: 53%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .welcome-section .welcome-section-left {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .welcome-section .welcome-section-left {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .welcome-section .welcome-section-left {
    width: 100%;
  }
}
.welcome-section .welcome-section-left h2 {
  margin: 0px;
}
.welcome-section .welcome-section-right {
  width: 40%;
  margin-left: auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .welcome-section .welcome-section-right {
    width: 100%;
    margin-left: auto;
    margin-top: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .welcome-section .welcome-section-right {
    width: 100%;
    margin-left: auto;
    margin-top: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .welcome-section .welcome-section-right {
    width: 100%;
    margin-left: auto;
    margin-top: 2rem;
  }
}

.section-divider {
  width: 100%;
  text-align: center;
  padding: 4rem 0;
}
@media (min-width: 320px) and (max-width: 567px) {
  .section-divider {
    padding: 2rem 0;
  }
}
.section-divider .section-divider-in {
  max-width: 800px;
  margin: auto;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .section-divider .section-divider-in {
    max-width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-divider .section-divider-in {
    max-width: 80%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .section-divider .section-divider-in {
    max-width: 80%;
  }
}
.section-divider .section-divider-in::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0px;
  background: #B8B6B9;
}
.section-divider .section-divider-in span {
  width: 80px;
  background: #fff;
  margin: auto;
  padding: 0rem;
  display: flex;
  position: relative;
  z-index: 2;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.section-divider .section-divider-in span img {
  width: 50px;
  height: auto;
  display: block;
}
@media (min-width: 320px) and (max-width: 767px) {
  .section-divider .section-divider-in span img {
    width: 35px;
  }
}

.section-hd {
  margin-bottom: 4rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .section-hd {
    margin-bottom: 2rem;
  }
}
.section-hd h2 {
  margin: 0px;
  padding: 0px;
}

.home-services-section .home-services-row ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -3rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .home-services-section .home-services-row ul {
    margin: 0 -1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-services-section .home-services-row ul {
    margin: 0px;
  }
}
.home-services-section .home-services-row ul li {
  width: 33.33%;
  padding: 0 3rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .home-services-section .home-services-row ul li {
    padding: 0 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-services-section .home-services-row ul li {
    width: 100%;
    margin-top: 3rem;
  }
  .home-services-section .home-services-row ul li:first-child {
    margin-top: 0px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .home-services-section .home-services-row ul li {
    width: 100%;
    margin-top: 3rem;
    padding: 0px;
  }
  .home-services-section .home-services-row ul li:first-child {
    margin-top: 0px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .home-services-section .home-services-row ul li {
    width: 100%;
    margin-top: 3rem;
    padding: 0px;
  }
  .home-services-section .home-services-row ul li:first-child {
    margin-top: 0px;
  }
}
.home-services-section .home-services-row ul li h3 {
  margin: 0px;
  padding: 0px;
  color: #3b3c41;
  font-size: 2.4rem;
}
@media (min-width: 1600px) and (max-width: 1799px) {
  .home-services-section .home-services-row ul li h3 {
    font-size: 2.6rem;
  }
}
@media (min-width: 1300px) and (max-width: 1599px) {
  .home-services-section .home-services-row ul li h3 {
    font-size: 2.4rem;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .home-services-section .home-services-row ul li h3 {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .home-services-section .home-services-row ul li h3 {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .home-services-section .home-services-row ul li h3 {
    font-size: 1.7rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .home-services-section .home-services-row ul li h3 {
    font-size: 1.6rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .home-services-section .home-services-row ul li h3 {
    font-size: 1.4rem;
  }
}
.home-services-section .home-services-row ul li .home-services-icon {
  width: 140px;
  margin-top: 1.5rem;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .home-services-section .home-services-row ul li .home-services-icon {
    width: 95px;
    height: 95px;
    margin-top: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-services-section .home-services-row ul li .home-services-icon {
    width: 70px;
    height: 70px;
    margin-top: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-services-section .home-services-row ul li .home-services-icon {
    width: 70px;
    height: 70px;
    margin-top: 1rem;
  }
}
.home-services-section .home-services-row ul li .home-services-icon img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.home-services-section .home-services-row ul li .desc {
  margin-top: 1.5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-services-section .home-services-row ul li .desc {
    margin-top: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-services-section .home-services-row ul li .desc {
    margin-top: 1rem;
  }
}

.home-projects-section {
  padding-top: 12rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-projects-section {
    padding-top: 8rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-projects-section {
    padding-top: 6rem;
  }
}
.home-projects-section .projects-row .projects-box {
  padding: 0 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-projects-section .projects-row .projects-box {
    padding: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-projects-section .projects-row .projects-box {
    padding: 1rem;
  }
}
.home-projects-section .projects-row .projects-box:nth-child(2n+2) {
  margin-top: 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-projects-section .projects-row .projects-box:nth-child(2n+2) {
    margin-top: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .home-projects-section .projects-row .projects-box:nth-child(2n+2) {
    margin-top: 0rem;
  }
}

.pr-font-size, .projects-row .projects-box .projects-box-in .projects-content h3, .projects-row .projects-box .projects-box-in .projects-content span {
  line-height: 2.4rem;
  font-size: 2.1rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pr-font-size, .projects-row .projects-box .projects-box-in .projects-content h3, .projects-row .projects-box .projects-box-in .projects-content span {
    line-height: 2rem;
    font-size: 1.7rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pr-font-size, .projects-row .projects-box .projects-box-in .projects-content h3, .projects-row .projects-box .projects-box-in .projects-content span {
    line-height: 2rem;
    font-size: 1.8rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .pr-font-size, .projects-row .projects-box .projects-box-in .projects-content h3, .projects-row .projects-box .projects-box-in .projects-content span {
    line-height: 1.7rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .pr-font-size, .projects-row .projects-box .projects-box-in .projects-content h3, .projects-row .projects-box .projects-box-in .projects-content span {
    line-height: 1.4rem;
    font-size: 1.2rem;
  }
}

.projects-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.projects-row .projects-box {
  width: 50%;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .projects-row .projects-box {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .projects-row .projects-box {
    width: 100%;
  }
}
.projects-row .projects-box .projects-box-in {
  position: relative;
}
.projects-row .projects-box .projects-box-in .projects-img {
  height: 100%;
  width: 100%;
}
.projects-row .projects-box .projects-box-in .projects-img img {
  width: 100%;
  height: auto;
  display: block;
}
.projects-row .projects-box .projects-box-in .projects-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
}
.projects-row .projects-box .projects-box-in .projects-content .projects-content-in {
  width: 100%;
}
.projects-row .projects-box .projects-box-in .projects-content span {
  display: block;
  color: #fff;
  text-align: center;
  font-weight: 400;
}
.projects-row .projects-box .projects-box-in .projects-content h3 {
  position: relative;
  margin: 0px;
  padding: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.projects-row .projects-box .projects-box-in .projects-content h3 i {
  height: 2px;
  background: #fff;
  width: 20%;
}
.projects-row .projects-box .projects-box-in .projects-content h3 b {
  padding: 0 1.5rem;
  font-weight: 400;
  max-width: 60%;
}
.projects-row .projects-box .projects-box-in .projects-content h3 span {
  display: block;
}
.projects-row .projects-box .projects-box-in .projects-content h3::after {
  left: 0px;
}
.projects-row .projects-box .projects-box-in .projects-content h3::before {
  right: 0px;
}
.projects-row .projects-box .projects-box-in .projects-content strong {
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .projects-row .projects-box .projects-box-in .projects-content strong {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .projects-row .projects-box .projects-box-in .projects-content strong {
    font-size: 1.4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .projects-row .projects-box .projects-box-in .projects-content strong {
    font-size: 1.1rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .projects-row .projects-box .projects-box-in .projects-content strong {
    font-size: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 1299px) {
  .projects-row .projects-box .projects-box-in .projects-img.hover-show ~ .projects-content {
    display: flex;
  }
}
@media (min-width: 1299px) and (max-width: 900000000000000000000000000000000000000000px) {
  .projects-row .projects-box .projects-box-in:hover .projects-content {
    display: flex;
  }
}

.filter-projects-section h2 {
  margin-top: 0px;
}
.filter-projects-section h3 {
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}
.filter-projects-section .filter-ul {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.filter-projects-section .filter-ul ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.filter-projects-section .filter-ul ul li {
  margin: 0 4rem 0 0;
  padding: 10px 0;
}
.filter-projects-section .filter-ul ul li a {
  display: block;
  color: #3b3c41;
}
.filter-projects-section .filter-ul ul li a.active, .filter-projects-section .filter-ul ul li a:hover {
  color: #EE7601;
}

.our-trusted-section .section-hd {
  margin-bottom: 2rem;
}
.our-trusted-section .trusted-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2rem;
  padding-top: 1rem;
}
.our-trusted-section .trusted-row .trusted-box {
  width: 33.33%;
  padding: 2rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .our-trusted-section .trusted-row .trusted-box {
    padding: 2rem 0rem 2rem 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .our-trusted-section .trusted-row .trusted-box {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .our-trusted-section .trusted-row .trusted-box {
    width: 100%;
  }
}
.our-trusted-section .trusted-row .trusted-box h4 {
  margin: 0px;
  padding: 0px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .our-trusted-section .trusted-row .trusted-box h4 {
    line-height: 2rem;
  }
}
.our-trusted-section .trusted-row .trusted-box .desc {
  margin-top: 1rem;
}
.our-trusted-section .trusted-row .trusted-box ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  margin-top: 1rem;
}
.our-trusted-section .trusted-row .trusted-box ul li {
  margin: 0.4rem 0 0 0;
  padding: 0px;
}
.our-trusted-section .trusted-row .trusted-box ul li a {
  display: block;
  color: #EE7601;
  word-break: break-all;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .our-trusted-section .trusted-row .trusted-box ul li a {
    font-size: 18px;
  }
}
.our-trusted-section .trusted-row .trusted-box ul li a:hover {
  color: #3b3c41;
}

.let-chat-section {
  background: #fff;
  padding-bottom: 150px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .let-chat-section {
    padding-bottom: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .let-chat-section {
    padding-bottom: 0px;
  }
}
.let-chat-section .let-chat-img-mob {
  display: none;
}
.let-chat-section .let-chat-img-mob img {
  width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .let-chat-section .let-chat-img-mob {
    display: block;
    margin-top: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .let-chat-section .let-chat-img-mob {
    display: block;
    margin-top: 4rem;
  }
}
.let-chat-section .let-chat-section-in {
  background: #3b3c41;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .let-chat-section .let-chat-section-in {
    padding-bottom: 7rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .let-chat-section .let-chat-section-in {
    padding-bottom: 7rem;
  }
}
.let-chat-section .let-chat-section-in .chat-shap {
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 180px;
  z-index: 3;
  clip-path: polygon(0 100%, 100% 30%, 100% 100%);
  background-color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .let-chat-section .let-chat-section-in .chat-shap {
    height: 110px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .let-chat-section .let-chat-section-in .chat-shap {
    height: 80px;
  }
}
.let-chat-section .let-chat-section-in .chat-shap .chat-shap-in {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 499%;
  height: 180px;
  z-index: 3;
  clip-path: polygon(0 0, 100% 30%, 100% 100%);
  background-color: #EE7601;
}
@media (min-width: 768px) and (max-width: 991px) {
  .let-chat-section .let-chat-section-in .chat-shap .chat-shap-in {
    height: 110px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .let-chat-section .let-chat-section-in .chat-shap .chat-shap-in {
    height: 80px;
  }
}
.let-chat-section .let-chat-section-in .let-chat-left {
  width: 45%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .let-chat-section .let-chat-section-in .let-chat-left {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .let-chat-section .let-chat-section-in .let-chat-left {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .let-chat-section .let-chat-section-in .let-chat-left {
    width: 100%;
  }
}
.let-chat-section .let-chat-section-in .let-chat-left h2 {
  margin: 0 0 4rem;
  padding: 0px;
  color: #fff;
}
.let-chat-section .let-chat-section-in .let-chat-right {
  width: 45%;
  margin-left: auto;
  position: relative;
  z-index: 4;
}
@media (min-width: 768px) and (max-width: 991px) {
  .let-chat-section .let-chat-section-in .let-chat-right {
    width: 100%;
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .let-chat-section .let-chat-section-in .let-chat-right {
    width: 100%;
    display: none;
  }
}
.let-chat-section .let-chat-section-in .let-chat-right .let-chat-img {
  margin-bottom: -190px;
}
.let-chat-section .let-chat-section-in .let-chat-right .let-chat-img img {
  width: 100%;
  height: auto;
  display: block;
}

ul.contact-icons {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.contact-icons li {
  margin: 2rem 0 0 0;
}
ul.contact-icons li a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
ul.contact-icons li a i {
  width: 90px;
  height: 90px;
  background-color: #EE7601;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) and (max-width: 1199px) {
  ul.contact-icons li a i {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  ul.contact-icons li a i {
    width: 75px;
    height: 75px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  ul.contact-icons li a i {
    width: 70px;
    height: 70px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  ul.contact-icons li a i {
    width: 40px;
    height: 40px;
  }
}
ul.contact-icons li a i svg {
  width: 60%;
  height: 60%;
}
ul.contact-icons li a i svg path {
  stroke: #fff;
}
ul.contact-icons li a span {
  width: calc(100% - 90px);
  padding-left: 2rem;
  color: #fff;
  font-size: 2rem;
  word-wrap: break-word;
}
@media (min-width: 992px) and (max-width: 1199px) {
  ul.contact-icons li a span {
    font-size: 1.7rem;
    width: calc(100% - 50px);
    padding-left: 1.5rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  ul.contact-icons li a span {
    font-size: 1.7rem;
    width: calc(100% - 70px);
    padding-left: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  ul.contact-icons li a span {
    font-size: 1.1rem;
    width: calc(100% - 40px);
    padding-left: 1rem;
  }
}
ul.contact-icons li a:hover span {
  color: #EE7601;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .let-chat-section-in .container {
    width: calc(100% - 5rem);
  }
}

.page-hero-section {
  position: relative;
}
.page-hero-section .page-hero-shap {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 180px;
  z-index: 3;
  clip-path: polygon(0 100%, 100% 30%, 100% 100%);
  background-color: #fff;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .page-hero-section .page-hero-shap {
    height: 130px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-section .page-hero-shap {
    height: 110px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-hero-section .page-hero-shap {
    height: 80px;
  }
}
.page-hero-section .page-hero-shap::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  left: 0px;
  bottom: 0px;
}
.page-hero-section .page-hero-shap .page-hero-shap-in {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 499%;
  height: 180px;
  z-index: 3;
  clip-path: polygon(0 0, 100% 30%, 100% 100%);
  background-color: #EE7601;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .page-hero-section .page-hero-shap .page-hero-shap-in {
    height: 130px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-section .page-hero-shap .page-hero-shap-in {
    height: 110px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-hero-section .page-hero-shap .page-hero-shap-in {
    height: 80px;
  }
}
.page-hero-section .page-hero-item-img img {
  width: 100%;
  height: auto;
  display: block;
}
.page-hero-section .page-hero-item-content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.page-hero-section .page-hero-item-content .page-hero-item-txt {
  width: 100%;
  padding: 0 5rem 0 12rem;
}
@media (min-width: 1300px) and (max-width: 1599px) {
  .page-hero-section .page-hero-item-content .page-hero-item-txt {
    padding: 0 0 0 3rem;
  }
}
@media (min-width: 1600px) and (max-width: 1700px) {
  .page-hero-section .page-hero-item-content .page-hero-item-txt {
    padding: 0 0 0 3rem;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .page-hero-section .page-hero-item-content .page-hero-item-txt {
    padding: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .page-hero-section .page-hero-item-content .page-hero-item-txt {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-section .page-hero-item-content .page-hero-item-txt {
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-hero-section .page-hero-item-content .page-hero-item-txt {
    padding: 0;
  }
}
.page-hero-section .page-hero-item-content .page-hero-item-txt h1 {
  margin: 0 0 3rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .page-hero-section .page-hero-item-content .page-hero-item-txt h1 {
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .page-hero-section .page-hero-item-content .page-hero-item-txt h1 {
    margin-bottom: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-hero-section .page-hero-item-content .page-hero-item-txt h1 {
    margin-bottom: 1rem;
  }
}
.page-hero-section .page-hero-item-content .page-hero-item-txt h1 strong {
  font-weight: 600;
}
.page-hero-section .page-hero-item-content .page-hero-item-txt h3 {
  color: #fff;
  margin: 0px;
}

.contact-hero-section {
  position: relative;
  background: #3b3c41;
  min-height: 850px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .contact-hero-section {
    min-height: 700px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-hero-section {
    min-height: 700px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .contact-hero-section {
    min-height: 500px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-hero-section {
    min-height: 500px;
  }
}
.contact-hero-section .contact-hero-shap {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 180px;
  z-index: 3;
  clip-path: polygon(0 100%, 100% 30%, 100% 100%);
  background-color: #fff;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .contact-hero-section .contact-hero-shap {
    height: 130px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-hero-section .contact-hero-shap {
    height: 110px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-hero-section .contact-hero-shap {
    height: 80px;
  }
}
.contact-hero-section .contact-hero-shap::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  left: 0px;
  bottom: 0px;
}
.contact-hero-section .contact-hero-shap .contact-hero-shap-in {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 499%;
  height: 180px;
  z-index: 3;
  clip-path: polygon(0 0, 100% 30%, 100% 100%);
  background-color: #EE7601;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .contact-hero-section .contact-hero-shap .contact-hero-shap-in {
    height: 130px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-hero-section .contact-hero-shap .contact-hero-shap-in {
    height: 110px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-hero-section .contact-hero-shap .contact-hero-shap-in {
    height: 80px;
  }
}
.contact-hero-section .contact-hero-item-content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.contact-hero-section .contact-hero-item-content .contact-hero-item-txt {
  width: 100%;
}
.contact-hero-section .contact-hero-item-content .contact-hero-item-txt h1 {
  margin: 0 0 3rem;
  color: #fff;
  text-transform: uppercase;
}
.contact-hero-section .contact-hero-item-content .contact-hero-item-txt p {
  color: #fff;
  margin: 0 0 7rem;
}

.single-post .page-hero-item-content .page-hero-item-txt h1 {
  font-size: 6rem;
  line-height: 6rem;
}
@media (min-width: 1300px) and (max-width: 1599px) {
  .single-post .page-hero-item-content .page-hero-item-txt h1 {
    font-size: 4.5rem !important;
    line-height: 4.5rem !important;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .single-post .page-hero-item-content .page-hero-item-txt h1 {
    font-size: 4rem !important;
    line-height: 4rem !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .single-post .page-hero-item-content .page-hero-item-txt h1 {
    font-size: 3.5rem !important;
    line-height: 3.5rem !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .single-post .page-hero-item-content .page-hero-item-txt h1 {
    font-size: 3rem !important;
    line-height: 3rem !important;
  }
}

.what-we-do-section .what-we-do-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .what-we-do-section .what-we-do-box {
    margin-top: 5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .what-we-do-section .what-we-do-box {
    margin-top: 5rem;
  }
}
.what-we-do-section .what-we-do-box:nth-child(1) {
  margin-top: 0px;
}
.what-we-do-section .what-we-do-box .what-we-do-box-content {
  width: 45%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .what-we-do-section .what-we-do-box .what-we-do-box-content {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .what-we-do-section .what-we-do-box .what-we-do-box-content {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .what-we-do-section .what-we-do-box .what-we-do-box-content {
    width: 100%;
  }
}
.what-we-do-section .what-we-do-box .what-we-do-box-content .what-we-do-hd {
  display: flex;
  align-items: center;
}
.what-we-do-section .what-we-do-box .what-we-do-box-content .what-we-do-hd i {
  width: 140px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .what-we-do-section .what-we-do-box .what-we-do-box-content .what-we-do-hd i {
    width: 95px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .what-we-do-section .what-we-do-box .what-we-do-box-content .what-we-do-hd i {
    width: 70px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .what-we-do-section .what-we-do-box .what-we-do-box-content .what-we-do-hd i {
    width: 70px;
  }
}
.what-we-do-section .what-we-do-box .what-we-do-box-content .what-we-do-hd i img {
  width: 100%;
  height: auto;
  display: block;
}
.what-we-do-section .what-we-do-box .what-we-do-box-content .what-we-do-hd h3 {
  width: calc(100% - 150px);
  padding-left: 2rem;
  margin: 0px;
  text-transform: uppercase;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .what-we-do-section .what-we-do-box .what-we-do-box-content .what-we-do-hd h3 {
    width: calc(100% - 90px);
    padding-left: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .what-we-do-section .what-we-do-box .what-we-do-box-content .what-we-do-hd h3 {
    width: calc(100% - 70px);
    padding-left: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .what-we-do-section .what-we-do-box .what-we-do-box-content .what-we-do-hd h3 {
    width: calc(100% - 70px);
    padding-left: 1rem;
  }
}
.what-we-do-section .what-we-do-box .what-we-do-box-content .desc {
  margin-top: 2rem;
}
.what-we-do-section .what-we-do-box .what-we-do-box-img {
  width: 45%;
  margin-left: auto;
  padding-top: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .what-we-do-section .what-we-do-box .what-we-do-box-img {
    width: 100%;
    padding-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .what-we-do-section .what-we-do-box .what-we-do-box-img {
    width: 100%;
    padding-top: 1.5rem;
  }
}
.what-we-do-section .what-we-do-box .what-we-do-box-img img {
  width: 100%;
  height: auto;
  display: block;
}
.what-we-do-section .what-we-do-box.row-reverse {
  flex-direction: row-reverse;
}
.what-we-do-section .what-we-do-box.row-reverse .what-we-do-box-img {
  margin-left: 0;
}
.what-we-do-section .what-we-do-box.row-reverse .what-we-do-box-content {
  margin-left: auto;
}

.there-for-you-section .there-for-you-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 7rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .there-for-you-section .there-for-you-box {
    align-items: start;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .there-for-you-section .there-for-you-box {
    margin-top: 5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .there-for-you-section .there-for-you-box {
    margin-top: 5rem;
  }
}
.there-for-you-section .there-for-you-box:nth-child(1) {
  margin-top: 0px;
}
.there-for-you-section .there-for-you-box .there-for-you-box-content {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .there-for-you-section .there-for-you-box .there-for-you-box-content {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .there-for-you-section .there-for-you-box .there-for-you-box-content {
    width: 100%;
  }
}
.there-for-you-section .there-for-you-box .there-for-you-box-content h4 {
  margin: 0px;
  text-transform: uppercase;
}
.there-for-you-section .there-for-you-box .there-for-you-box-content .desc {
  margin-top: 2rem;
}
.there-for-you-section .there-for-you-box .there-for-you-box-img {
  width: 45%;
  margin-left: auto;
  padding-top: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .there-for-you-section .there-for-you-box .there-for-you-box-img {
    width: 100%;
    padding-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .there-for-you-section .there-for-you-box .there-for-you-box-img {
    width: 100%;
    padding-top: 3rem;
  }
}
.there-for-you-section .there-for-you-box .there-for-you-box-img img {
  width: 100%;
  height: auto;
  display: block;
}
.there-for-you-section .there-for-you-box.row-reverse {
  flex-direction: row-reverse;
}
.there-for-you-section .there-for-you-box.row-reverse .there-for-you-box-img {
  margin-left: 0;
}
.there-for-you-section .there-for-you-box.row-reverse .there-for-you-box-content {
  margin-left: auto;
}

.page-not-foumd {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-not-foumd .blog-block-text {
  text-align: center;
}
.page-not-foumd h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-not-foumd h1 {
    font-size: 1.6rem;
  }
}

.privacy-policy h1,
.privacy-policy h2,
.privacy-policy h3,
.privacy-policy h4,
.privacy-policy h5 {
  margin-bottom: 0px;
}
.privacy-policy h2 {
  font-size: 2.2rem;
}
.privacy-policy h3 {
  font-size: 2rem;
}

.project-galley-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3px;
}
.project-galley-row .project-galley-box {
  padding: 6px;
  overflow: hidden;
}
.project-galley-row .project-galley-box a {
  display: block;
  background-size: cover;
  width: 100%;
  height: 500px;
  transition: transform 0.3s ease;
  background-position: center;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .project-galley-row .project-galley-box a {
    height: 280px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .project-galley-row .project-galley-box a {
    height: 280px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .project-galley-row .project-galley-box a {
    height: 217px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .project-galley-row .project-galley-box a {
    height: 300px;
  }
}
.project-galley-row .project-galley-box a:hover {
  transform: scale(1.1);
}
.project-galley-row.gallery-image-x1 .project-galley-box {
  width: 100%;
}
.project-galley-row.gallery-image-x2 .project-galley-box {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .project-galley-row.gallery-image-x2 .project-galley-box {
    width: 100%;
  }
}
.project-galley-row.gallery-image-x3 .project-galley-box {
  width: 33.33%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .project-galley-row.gallery-image-x3 .project-galley-box {
    width: 100%;
  }
}

.client-section h4 {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.client-section .client-txt {
  color: #EE7601;
  margin-top: 2rem;
  font-style: italic;
  text-align: center;
  font-size: 1.7rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .client-section .client-txt {
    font-size: 1.6rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .client-section .client-txt {
    font-size: 1.4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .client-section .client-txt {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=global.css.map */
