/**
* ----------------------
* Blooberry Design
* Organisms - Header
* ----------------------
*/

/*
* Config
*/
:root {
  --headerHeight: 167px;
}

/*
* Styles
*/

.header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 5;
  transition: 0.1s $easing;
  border-bottom: 5px solid $c-yellow;
  border-bottom: 5px solid var(--header-border);

  [data-scrolled='true'] & {
    transform: translateY(-167px);
    transform: translateY(calc(#{var(--headerHeight)} * -1));

    @include media('<sm') {
      transform: translateY(0);
    }
  }
}
.o-header {
  .logged-in & {
    top: 32px;
  }

  @include media('<sm') {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    background-color: $c-blue;
    background-color: var(--header-bottom);
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: transform 0.1s $easing;

    @include ie {
      z-index: 9999;
      height: 200px;
      width: 200px;
    }

    [data-scrolled='true'] & {
      transform: translateY(167px);
      transform: translateY(var(--headerHeight));

      @include media('<sm') {
        transform: translateY(0);
      }
    }

    @include media('<sm') {
      z-index: 3;
      width: 120px;

      .grid {
        width: 100%;
        margin: 0;
      }

      .col-sm-12 {
        width: 100%;
      }
    }

    @include media('<320px') {
      width: 100px;
    }

    &-link {
      @include link-reset;
      width: 250px;
      background-color: $c-white;
      display: block;
      margin-left: 15px;
      box-shadow: 0 2px 5px 0 transparentize($c-primary, 0.6);
      border-radius: 0 0 $bump/3 $bump/3;

      [data-scrolled='true'] & {
        width: 130px;

        @include media('<md') {
          width: 90px;
        }

        @include media('<sm') {
          width: 100%;
        }

        @include media('<345px') {
          width: 90px;
        }
      }

      @include media('<md') {
        width: 200px;
      }

      @include media('<sm') {
        width: 100%;
      }

      @include media('<345px') {
        width: 90px;
      }

      @include media('<320px') {
        padding-top: 20px;
      }

      img {
        width: 100%;
        height: auto;
        transition: 0.2s $easing;
      }

      &:hover {
        img {
          opacity: 0.6;
        }
      }
    }
  }

  &__top {
    background-color: $c-blue;
    background-color: var(--header-bottom);

    @include media('<sm') {
      .grid,
      .col-sm-12 {
        position: unset;
        height: 100%;
      }
      .col-sm-12 {
        padding-right: $bump/2;
      }
    }
  }

  &__bottom {
    // background-color: $c-lt-blue;
    // background-color: var(--header-bottom);
    background-color: $c-white;

    @include media('<sm') {
      display: flex;
      align-items: center;
    }
  }

  a {
    color: $c-white;
  }
}
