/**
 * ----------------------
 * Blooberry Design
 * Organisms - Teasers
 * ----------------------
 */

.o-teaser {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-bottom: 4px solid $c-lt-blue;
  @include shadow;

  @include ie {
    margin: 0 $bump/2;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__thumb {
    @include link-reset;

    &:hover {
      opacity: 0.7;
    }
  }

  &__content {
    padding: $bump;
    background-color: $c-white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @include media('<md') {
      padding: $bump/1.5;
    }

    @include media('<sm') {
      padding: $bump;
    }

    @include media('<xs') {
      padding: $bump/1.5;
    }

    h3 {
      a {
        @include link-reset;
        color: $c-blue;

        &:hover {
          color: $c-lt-blue;
        }
      }
    }

    a {
      margin-top: auto;
    }

    @include ie {
      & > * {
        width: 100%;
      }
    }
  }
}
