{% if post.hero_image or post.hero_video %}
	{% set hero_image = get_image(post.hero_image) %}
	<section class="hero-section">
		<div class="hero-img-video">
			<!--<picture>
				 <source media="(min-width: 768px) and (max-width: 991px)" srcset="assets/img/banner-ipad.jpg">
												                            <source media="(min-width: 568px) and (max-width: 767px)" srcset="assets/img/banner-mob2.jpg">
												                            <source media="(min-width: 320px) and (max-width: 567px)" srcset="assets/img/banner-mob.jpg"> 
				<img src="{{hero_image.src('full')}}" alt="{{site.name}}">
			</picture>-->
			<picture>
				    <source media="(min-width:992px) and (max-width:1200px)" srcset="{{get_image(post.hero_image).src('page_hero_ipad_land')}}"/>
					<source media="(min-width:768px) and (max-width:991px)" srcset="{{get_image(post.hero_image).src('page_hero_ipad')}}"/>
					<source media="(min-width:567px) and (max-width:767px)" srcset="{{get_image(post.hero_image).src('page_hero_mobile_land')}}"/>
					<source media="(min-width:320px) and (max-width:567px)" srcset="{{get_image(post.hero_image).src('page_hero_mobile')}}"/>
					<img src="{{get_image(post.hero_image).src('page_hero_desktop')}}" alt="tbi" />
				</picture>
		</div>
		<div class="hero-section-content">
			<div class="container">
				<div class="splace-logo">
					<img src="{{theme.link}}/assets/img/TBI_RGB.png" alt=""/>
				</div>
				<div class="hero-section-text">
					<h1 class="hero-title">
						{% if post.hero_title_top %}
							<span class="hero-title-top">{{post.hero_title_top}}</span>
						{% endif %}

						{% if post.hero_title %}
							<strong class="hero-title-orange">{{post.hero_title}}</strong>
						{% endif %}
						{{post.hero_title_copy}}
					</h1>
					{% if post.hero_content %}
						<p class="hero-content-desc">
							{{post.hero_content}}
						</p>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="top-btm">
			<button><img src="{{theme.link}}/assets/img/icons/white-bottom-arrow.svg" alt="Flowers"></button>
		</div>
	</section>
{% endif %}
