	<section class="book-now-section secondary-bg aos-init" data-aos="fade-up">
		<div class="container-sm">
			<div class="custom-row">
				<div class="book-now-section-img">
					<picture>
						<img src="{{theme.link}}/assets/img/dummy/book-now-img.jpg" alt="Flowers">
					</picture>
				</div>
				<div class="book-now-section-right">
					<h3>The tbi studio is now open  and taking bookings</h3>
					<div class="white-bg-btn">
						book now</div>
					<div class="simple-link margin-top-2">
						<a href="#">Or find out more here &gt;</a>
					</div>
				</div>
			</div>
		</div>
	</section>
