<section class="case-studies-details-section">
	<div class="container-sm">
		<h2 class="line">{{post.title}}</h2>
		<div class="case-studies-details-content-box">
			<div class="case-studies-details-content">
				<div class="desc">{{post.content}}</div>
			</div>
		</div>
	</div>
</section>
