<div class="container-sm filter-section">
	<h2>categories</h2>
	<div class="categories-filter-ul">
		<ul>
			<li>
				<a class="{% if not current_category_id %}active{% endif %}" href="{{site.link}}/case-studies">see all</a>
			</li>
			{% for cat in categories %}
				<li>
                    
					<a class="{% if cat.ID == current_category_id %}active{% endif %}" href="{{ site.link }}/case-studies/?cat={{ cat.ID }}">{{ cat.name }}</a>
				</li>
			{% endfor %}

		</ul>
	</div>
</div>
