{% if post.hero_image or post.hero_video %}
	<section class="hero-section">
		<div class="hero-img-video">
		
				

				<picture>
				    <source media="(min-width:992px) and (max-width:1200px)" srcset="{{get_image(post.hero_image).src('page_hero_ipad_land')}}"/>
					<source media="(min-width:768px) and (max-width:991px)" srcset="{{get_image(post.hero_image).src('page_hero_ipad')}}"/>
					<source media="(min-width:567px) and (max-width:767px)" srcset="{{get_image(post.hero_image).src('page_hero_mobile_land')}}"/>
					<source media="(min-width:320px) and (max-width:567px)" srcset="{{get_image(post.hero_image).src('page_hero_mobile')}}"/>
					<img src="{{get_image(post.hero_image).src('page_hero_desktop')}}" alt="tbi" />
				</picture>
		
		</div>
		<div class="hero-section-content">
			<div class="container">
				<div class="hero-section-text">
					<h1 class="hero-title">
						{% if post.hero_title_top %}
							<span class="hero-title-top">{{post.hero_title_top}}</span>
						{% endif %}

						{% if post.hero_title %}
							<strong class="hero-title-orange">{{post.hero_title}}</strong>
						{% endif %}
						{{post.hero_title_copy}}
					</h1>
					{% if post.hero_content %}
						<p class="hero-content-desc">
							{{post.hero_content}}
						</p>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="top-btm">
			<button>
				<img src="{{theme.link}}/assets/img/icons/white-bottom-arrow.svg" alt="tbi">
			</button>
		</div>
	</section>
{% endif %}
