<div class="container">
	<div class="custom-row">
		<div class="footer-logo">
			<a href="{{site.link}}">
			<img src="{{theme.link}}/assets/img/TBI_RGB.png" alt="TBI"/>
			</a>
		</div>
		
		<div class="footer-get-touch">
			<h4>get in touch</h4>
			<ul>
				<li>
					<a href="mailto:{{contact_post.email}}">{{contact_post.email}}</a>
					<a href="tel:{{contact_post.telephone}}">
						{{contact_post.telephone}}</a>
				</li>
				<li>{{contact_post.contact_address_copy|nl2br}}</li>
			</ul>
		</div>
		<div class="footer-connect hide-desktop">
			<h4>{{contact_post.social_media_heading}}</h4>

			<div class="connect-icom">
				<ul>
					<li><a href="{{contact_post.instagram}}" class="instagram-icom"></a></li>
					<li><a href="{{contact_post.twitter}}" class="x-icon"></a></li>
					<li><a href="{{contact_post.linkedin}}" class="linkedIn-icom"></a></li>
				</ul>
			</div>
			<div class="website-by">
				website by
				<a href="https://blooberrycreative.co.uk/" target="_blank">@blooberrycreative</a>
			</div>
		</div>
		<div class="footer-quick-links ">
			<h4>quick links</h4>
			{% include "menu.twig" with {'items': footer_menu_1.get_items} %}
		</div>
		<div class="footer-connect hide-mobile">
			<h4>{{contact_post.social_media_heading}}</h4>

			<div class="connect-icom">
				<ul>
					<li><a href="{{contact_post.instagram}}" class="instagram-icom"></a></li>
					<li><a href="{{contact_post.twitter}}" class="x-icon"></a></li>
					<li><a href="{{contact_post.linkedin}}" class="linkedIn-icom"></a></li>
				</ul>
			</div>
			<div class="website-by">
				website by
				<a href="https://blooberrycreative.co.uk/" target="_blank">@blooberrycreative</a>
			</div>
		</div>
	</div>
</div>
