/**
 * ----------------------
 * Blooberry Design
 * Config - Vars
 * ----------------------
 */

$c-primary: #333433;
$c-secondary: #1b4178;
$c-blue: #1b4178;
$c-white: #ffffff;
$c-grey: #e3e6f1;
$c-lt-blue: #007cbf;
$c-yellow: #f0b72f;
$c-green: #005f77;
// $c-natplat: #00a4b6;
$c-natplat: #00818f;
$c-black: #000;
$c-lt-grey: #f2f2f2;

// general purpose variable, should really be renamed but I don't know wtf to call it
$bump: 30px;

$easing: cubic-bezier(0.3, 0.65, 0.72, 0.63);

:root {
  --header-top: #{$c-blue};
  --header-bottom: #{$c-lt-blue};
  --header-border: #{$c-yellow};
  --accent: #{$c-lt-blue};
  --button-main: #{$c-lt-blue};
  --button-main-hover: #{$c-blue};
  --nav-accent: #{$c-yellow};
  --white: #fff;
  --lt-grey: #{$c-lt-grey};
  --text: #{$c-primary};
  --secondary: #{$c-secondary};
}
