$footer-font: 17px;

.main-footer {
    background: $white;
    padding: 1rem 0;
    border-top: 2px $primary-color solid;

    .custom-row{
        align-items: center;
    }
    .footer-left {
        width: 25%;
        padding-right: 3rem;

        @include breakpoint(ipad_portrait) {
            padding-right: 1.5rem;
        }

        @include breakpoint(mobile_portrait) {
            width: 100%;
            padding-right: 0rem;
        }
    }

    .footer-center {
        width: 47%;
        padding: 0 3rem;
        border-left: 1px $white solid;
        border-right: 1px $white solid;
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(ipad_landscape) {
            padding: 0 2rem;
            width: 44%;
        }

        @include breakpoint(ipad_portrait) {
            padding: 0 1.5rem;
        }

        @include breakpoint(mobile_portrait) {
            width: 100%;
            padding: 1rem 0;
        }
    }

    .footer-right {
        width: 28%;
        padding-left: 3rem;
        @include breakpoint(ipad_landscape) {
            padding-left: 2rem;
            width: 31%;
        }
        @include breakpoint(ipad_portrait) {
            padding-left: 1.5rem;
        }
        @include breakpoint(mobile_landscape) {
            width: 26%;
            padding-left: 1rem;
        }
        @include breakpoint(mobile_portrait) {
            width: 100%;
            padding-left: 0rem;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            align-items: center;
            

            @include breakpoint(mobile) {
                justify-content: center;
                text-align: center;
                position: relative;
                padding-top: 1rem;
                margin-top: 0.5rem;

                &::before {
                    content: '';
                    width: 100px;
                    height: 1px;
                    background: $white;
                    margin: auto;
                    position: absolute;
                    left: 0;
                    right: 0px;
                    top: 0;
                }
            }

            li {
                margin: 0 0 4px 0;
                padding: 0;
                font-size: $footer-font;
                color: $text-color;
                text-align: right;
                &:last-child {
                    margin-bottom: 0px;

                }

                a {
                    font-size: $footer-font;
                    color: $text-color;

                    &:hover {
                        color: $primary-color;
                    }
                }


            }
        }

        p {
            font-size: $footer-font;
            color: $text-color;
            margin: 0px;
            text-align: right;
            @include breakpoint(mobile){
                text-align: center;
            }

            a {
                font-weight: 500;
                color: $text-color;

                &:hover {
                    color: $primary-color;
                }

            }
        }
    }

    .site-footer-logo {
        width: 60%;
        @include breakpoint(ipad_landscape) {
            width: 90%;
        }
        @include breakpoint(ipad_portrait) {
            width: 90%;
        }

        @include breakpoint(mobile) {
            margin-left: auto;
            margin-right: auto;
            width: 200px;
        }

        img {
            display: block;
            width: 100%;
        }
    }

    .footer-social-media {
        ul.social-media-icon {
            @include breakpoint(mobile) {
                justify-content: center;
            }

            li {
                a {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .property-logos {
        margin: 0;
        padding: 0px;
        list-style: none;
        @include display-flex(flex, center, center, flex-wrap);

        li {
            margin: 0px;
            padding: 0 2rem;
            width: 28%;
            @include breakpoint(ipad_air) {
                padding: 0 0.5rem;
                width: 34%;
            }
            @include breakpoint(ipad_landscape) {
                padding: 0 0.5rem;
                width: 34%;
            }

            @include breakpoint(ipad_portrait) {
                padding: 0 0.5rem;
                width: 33%;
            }

            a {
                display: block;

            }

            img {
                width: 100%;
                display: block;
                border: 2px $white solid;
                border-radius: 5px;
            }
        }
    }



}