.main-header {
    background-color: rgb(255, 255, 255, 0);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;

    header {
        padding: 1rem 0;

        @include breakpoint(mobile_nav) {
            padding: 1rem 0;
        }

        &::after {
            position: absolute;
            width: 100%;
            content: "";
            height: 100%;
            background-color: rgba(255, 255, 255, 1);
            left: 0px;
            top: 0px;
            opacity: 0;
            -webkit-transition: all 0.6s;
            -moz-transition: all 0.6s;
            transition: all 0.6s;

        }
    }

    .custom-row {
        align-items: center;
        z-index: 2;

        @include breakpoint(mobile_nav) {
            align-items: center;
        }
    }

    .logo {
        a {

            padding: 0;
            z-index: 3;

            &.logo-white {
                display: block;
            }

            &.logo-drak {
                display: none;
            }

            img {
                display: block;
                width: 290px;
                position: relative;
                z-index: 2;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;

                @include breakpoint(desktop-md) {
                    width: 240px;
                }

                @include breakpoint(desktop-sm) {
                    width: 210px;
                }

                @include breakpoint(ipad_landscape) {
                    width: 200px;
                }

                @include breakpoint(mobile_nav) {
                    width: 160px;
                }
            }
        }
    }

    .top-hdr-right {
        margin-left: auto;
        display: flex;
        align-items: center;

        .let-talk-btn {
            display: flex;
            align-items: center;
            justify-content: center;

            @include breakpoint(mobile_portrait) {
                // display: none;
            }

            i {
                margin-left: 10px;
                background: url("#{$assetIconsPath}/white arrow right.svg") no-repeat center center;
                width: 8px;
                height: 15px;
            }
        }

        .main-nav {
            margin-left: 4rem;

            @include breakpoint(mobile_portrait) {
                margin-left: 2rem;
            }

            .nav-main {
                display: none;

                ul {
                    margin: 1rem 24px 24px 25px;
                    padding: 0px;
                    list-style: none;

                    li {
                        margin: 0px;
                        padding: 0.6rem 0;
                        border-bottom: 2px $secondary-color solid;

                        &:last-child {
                            border-bottom: 0;
                        }

                        a {
                            text-transform: uppercase;
                            font-size: $mainMenuFont;
                            color: $text-color;
                            display: block;

                            &:hover {
                                color: $primary-color;
                            }
                        }

                        &.current-menu-item {
                            a {
                                color: $primary-color;
                                font-family: 500;
                            }
                        }
                    }
                }
            }
        }
    }


}

.let-talk-hdr {
    position: relative;
    z-index: 2;
}


.nav__toggle {
    position: relative;
    height: 24px;
    width: 35px;
    z-index: 10;
    transition: all 0.2s;
    margin-left: 0rem;
    top: 0px;
    outline: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    outline: 0;

    span,
    span::before,
    span::after {
        height: 3px;
        right: 0px;
        background-color:#fff;
    }

    span,
    span::before,
    span::after {
        text-align: right;
        cursor: pointer;
        border-radius: 0px;
        background-color: $secondary-color;
        position: absolute;
        display: block;
        content: "";
        transition: all 0.2s;
        outline: 0;
    }

    span {
        width: 35px;
        bottom: 0;

        &::before {
            top: -22px;
            width: 15px;
        }

        &::after {
            top: -11px;
            width: 25px;
        }
    }

    &:hover {
        span {

            &::before,
            &::after {
                width: 35px;
            }
        }
    }
}


.sm-header {
    .main-header {
        .logo {
            a {
                &.logo-white {
                    display: none;
                }

                &.logo-drak {
                    display: block;
                }

            }
        }

        header {
            &::after {
                opacity: 1;

            }
        }
    }
    span,
    span::before,
    span::after {
        background-color: #0086c0;
    }
}

.menu-slide {
    .nav__toggle {
        top: -13px;

        span {
            background-color: transparent;
            width: 35px;

            &::before,
            &::after {
                top: 0;
                background-color: #0086c0;
            }

            &::before {
                transform: rotate(45deg);
                width: 35px;
            }

            &::after {
                transform: rotate(-45deg);
                width: 35px;
            }
        }

        &:hover {
            span {
                background-color: transparent;
                width: 35px;

                &::after {
                    width: 35px;
                }
            }
        }
    }

    .main-header .top-hdr-right .main-nav .nav-main {
        display: block;
        background: $white;
        position: absolute;
        top: 0px;
        right: 0px;
        padding-top: 3rem;
        width: 250px;
        z-index: 1;
    }
}