.page-not-foumd {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    .blog-block-text {
        text-align: center;
    }

    h1 {
        text-align: center;
        text-transform: capitalize;
        font-size: 3rem;
        @include breakpoint(mobile){
            font-size: 1.6rem
        }
    }
}

.about-project{
    @extend %main-padding;
}
.privacy-policy {

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-bottom: 0px;
    }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 2rem;
    }
}

.project-galley-row{
   display: flex;
   flex-wrap: wrap;
   padding: 0 3px;
   .project-galley-box{
    padding: 6px;
    overflow: hidden;
    a{
        display: block;
        background-size: cover;
        width: 100%;
        height: 500px;
        transition: transform 0.3s ease;
        background-position: center;
        @include breakpoint(ipad_landscape){
            height: 280px;
        }
        @include breakpoint(ipad_portrait){
            height: 280px;
        }
        @include breakpoint(mobile_landscape){
            height: 217px;
        }
        @include breakpoint(mobile_portrait){
            height: 300px;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
    
   
   }
   &.gallery-image-x1{
    .project-galley-box{
        width: 100%;
    }
   }
   &.gallery-image-x2{
    .project-galley-box{
        width: 50%;
        @include breakpoint(mobile_portrait){
            width: 100%;
        }
    }
   }
   &.gallery-image-x3{
    .project-galley-box{
        width: 33.33%;
        @include breakpoint(mobile_portrait){
            width: 100%;
        }
    }
   }
}

.client-section{
    @extend %main-padding;
    @extend %sm-l-f-pd;
    h4{
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .client-txt{
        color: $primary-color;
        margin-top: 2rem;
        font-style: italic;
        text-align: center;
        font-size: 1.7rem;
        @include breakpoint(ipad_portrait){
            font-size: 1.6rem; 
        }
        @include breakpoint(mobile_landscape){
            font-size: 1.4rem; 
        }
        @include breakpoint(mobile_portrait){
            font-size: 1.3rem; 
        }
    }
}

.section-back{
    @extend %main-padding-btm;
}

.services{
    .let-chat-section{
        @extend %main-padding-top;
    }
}