/**
 * ----------------------
 * Blooberry Design
 * Atoms - Back to EUPATI header button
 * ----------------------
 */

.a-back-eupati {
  // height: calc(100% + 30px);
  // @include link-reset;
  position: relative;
  padding: 17px $bump/2 $bump/2;
  display: none;
  background-color: $c-yellow;
  background-color: var(--nav-accent);
  color: $c-blue;
  margin-left: $bump/2;
  transition: none;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  line-height: 1;
  border-bottom: 0;

  .o-header & {
    color: $c-blue;
  }

  // &::after,
  // &::before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   left: 0;
  //   width: 100%;
  //   height: 17px;
  //   background-color: $c-yellow;
  //   background-color: var(--nav-accent);
  //   transition: none;
  // }

  // &::before {
  //   top: -17px;
  // }

  // &::after {
  //   bottom: -16px;
  // }

  &:hover {
    background-color: $c-lt-blue;
    background-color: var(--header-bottom);

    .o-header & {
      color: $c-white;
    }

    &::after,
    &::before {
      background-color: inherit;
    }
  }

  &--mob {
    display: none;
    visibility: hidden;
    padding: 16px 30px 12px;
    margin: $bump/2 $bump/2 0;
    text-align: center;
    text-align-last: center;
    line-height: 1;

    &::after,
    &::before {
      display: none;
    }

    @include media('<sm') {
      border-radius: $bump;
      margin-top: $bump;
    }
  }
}
