/**
 * ----------------------
 * Blooberry Design
 * Atoms - Back to top button
 * ----------------------
 */

.a-back-top {
  @include font-bold;
  padding: $bump / 2 0;
  background-color: $c-yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $c-blue;

  span {
    line-height: 1;
    font-size: 2em;
    margin-left: $bump/3;
    position: relative;
    // top: 6px;
  }

  &:hover {
    background-color: $c-blue;
    color: $c-white;
  }
}
