/**
 * ----------------------
 * Blooberry Design
 * Atoms - Menus
 * ----------------------
 */

.a-menu {
  @include li-reset;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  a {
    margin: 0 $bump / 1.5 0 0;
    display: block;
    line-height: 1;
  }

  &--align-right {
    justify-content: flex-end;

    a {
      margin: 0 0 0 $bump / 1.5;
    }
  }

  /**
   * Dropdowns
   */
  &__top,
  &__main {
    align-items: stretch;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &:hover > ul {
        display: block;
        white-space: nowrap;
      }

      @include media('<sm') {
        flex-direction: column;
      }

      a {
        margin-left: $bump;

        @include media('<md') {
          margin-left: $bump/2;
        }

        @include media('<sm') {
          margin-left: 0;
        }
      }
    }

    ul {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      background-color: $c-blue;
      text-align: left;
      overflow: hidden;
      margin: 0;
      border-top: 5px solid $c-yellow;
      border-top: 5px solid var(--header-border);
      display: none;

      // li {
      //   display: flex;
      //   align-items: stretch;
      // }

      a {
        padding: $bump/2 $bump * 2 0 $bump/2;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        white-space: nowrap;
        width: 100%;

        &::after {
          display: block;
          content: '';
          height: 1px;
          background-color: $c-yellow;
          background-color: var(--nav-accent);
          width: 155%;
          margin-top: 13px;
          position: relative;
          bottom: -1px;
          transition: 0.1s $easing;
          align-self: center;
          left: 22px;

          @include media('<sm') {
            width: 100%;
            left: 0;
          }
        }

        &:hover {
          background-color: $c-yellow;
          background-color: var(--nav-accent);
          color: $c-blue;

          &::after {
            width: 200%;
          }
        }
      }

      .current-page-ancestor,
      .current-menu-item {
        & > a {
          background-color: $c-yellow;
          background-color: var(--nav-accent);
          color: $c-blue;

          &::after {
            width: 200%;
          }
        }
      }

      li:last-child {
        a {
          padding-bottom: $bump/2;

          &::after {
            display: none;
          }
        }
      }
    }
  }

  /**
   * Top menu
   */
  &__top {
    @include media('<sm') {
      flex-direction: column;
      margin-top: $bump / 2;

      li {
        width: 100%;
      }
    }

    & > li {
      padding: $bump/2 0;
    }

    ul {
      border-top: 7px solid $c-yellow;
      border-color: var(--nav-accent);
      // top: 6px;

      @include media('<sm') {
        // top: 0;
        margin: 0;
        position: relative;

        li {
          a {
            padding-bottom: 0;
          }
        }
      }

      a[target='_blank'] {
        @include bg-img(17px);
        background-position: calc(100% - 20px) center;
        background-image: url('../icon/icon-login.svg');

        &:hover {
          background-position: calc(100% - 15px) center;
          background-image: url('../icon/icon-login--dark.svg');
        }
      }
    }

    a {
      @include link-reset;

      @include media('<sm') {
        margin: 0;
        padding: $bump/2 0;
        display: block;
        text-align: center;
        text-align-last: center;
      }

      &:hover {
        color: $c-yellow;
        color: var(--nav-accent);
      }
    }

    .current-page-ancestor,
    .current-menu-item,
    .sfHover {
      & > a {
        color: $c-yellow;
        color: var(--nav-accent);
      }
    }
  }

  /**
   * Main menu
   */
  &__main {
    @include media('<sm') {
      flex-direction: column;
      align-items: flex-end;

      & > li:last-child a {
        margin-bottom: 0;
      }

      li {
        width: 100%;
      }
    }

    & > li > a {
      @include link-reset;
      border-bottom: 3px solid transparent;
      padding: 8px 0 3px;
      display: block;
      color: $c-blue;

      @include media('<sm') {
        margin: 0 0 $bump/2;
        display: block;
        text-align: center;
        text-align-last: center;
        padding: 15px 0 10px;
        color: $c-white;
      }

      &:hover {
        border-bottom-color: $c-yellow;
        border-bottom-color: var(--nav-accent);
      }
    }

    .current-page-ancestor,
    .current-menu-item,
    & > li:hover {
      & > a {
        border-bottom-color: $c-yellow;
        border-bottom-color: var(--nav-accent);
      }
    }

    ul {
      // top: 41px;

      @include media('<sm') {
        position: relative;
        // top: -$bump/2;
        margin: 0;
      }

      a {
        border: 0;

        @include media('<sm') {
          align-items: center;
          padding: $bump/2 $bump/2 0;
          margin: 0;
        }

        &::after {
          width: 135%;

          @include media('<sm') {
            left: 0;
            width: 105%;
            margin-top: 13px;
          }
        }
      }
    }

    .nav-blue > a,
    .nav-green > a {
      margin: $bump/2 0 $bump/2 $bump/1.5;
      border: 0;
      padding: 16px 30px 12px;
      border-radius: $bump;
      color: $c-white;

      @include media('<lg') {
        margin-left: $bump/2;
      }

      @include media('<md') {
        margin: $bump/2 0 0;
      }

      &:hover {
        background-color: $c-yellow;
        color: $c-blue;
        border-color: $c-yellow;
      }
    }

    .nav-blue > a {
      background-color: $c-blue;

      @include media('<sm') {
        margin-left: 0;
      }
    }

    .nav-green > a {
      background-color: $c-green;
      color: $c-white;

      &:hover {
        background-color: $c-yellow;
        color: $c-black;
      }

      @include media('<md') {
        margin-top: 0;
      }
    }
  }

  /**
   * Top footer menu
   */
  &__footer-top {
    margin-top: $bump/1.5;
    justify-content: center;

    @include media('<tab') {
      margin-bottom: $bump/4;
    }

    @include media('<xs') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $bump/4;
      margin-bottom: $bump/1.5;
      margin-top: 0;
    }

    li {
      margin-right: $bump/1.5;

      @include media('<tab') {
        margin: 0 $bump/4;
      }

      @include media('<xs') {
        margin: 0;
        text-align: left;
        text-align-last: left;

        &:first-child {
          grid-column: 1 / 3;
        }
      }
    }

    a {
      @include link-ext;
      margin-right: 0;

      &::after {
        visibility: visible;
      }

      @include media('<tab') {
        margin: 0 $bump/4 $bump/3;
      }

      @include media('<xs') {
        display: inline-block;
      }
    }
  }

  /**
   * Social links
   */
  &__social {
    @include media('<xs') {
      justify-content: space-between;
    }

    a {
      @include link-reset;
      @include rm-text;
      display: block;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      @include bg-img(20px);
      border: 1px solid $c-white;

      &[href*='facebook.com'] {
        background-image: url('../icon/icon-social-fb.svg');
        background-size: 12px;

        @include media('<xs') {
          background-size: 8px;
        }
      }
      &[href*='twitter.com'] {
        background-image: url('../icon/icon-social-tw.svg');
      }
      &[href*='linkedin.com'] {
        background-image: url('../icon/icon-social-in.svg');
      }
      &[href*='instagram.com'] {
        background-image: url('../icon/icon-social-ig.svg');
      }
      &[href*='pinterest.com'] {
        background-image: url('../icon/icon-social-pi.svg');
      }
      &[href*='youtube.com'] {
        background-image: url('../icon/icon-social-yt.svg');
      }

      @include media('<lg') {
        margin: 0 7.5px;
      }

      @include media('<xs') {
        height: $bump;
        width: $bump;
        background-size: 15px;
      }

      &:hover {
        opacity: 0.6;
      }

      &::after {
        visibility: hidden;
      }
    }
  }

  /**
   * Footer menu
   */
  &__footer {
    @include media('<tab') {
      margin-top: $bump/2;
      justify-content: center;

      a {
        margin: 0 $bump/4 $bump/3;
      }
    }

    @include media('<sm') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: left;
      text-align-last: left;
      gap: 10px;

      a {
        margin: 0;
        white-space: nowrap;
        display: inline-block;
        font-size: 0.8em;
      }
    }
  }
}
