{% if post.testimonial.review_text %}
	<section class="client-section">
		<div class="container-sm">
			<h4>{{post.testimonial.heading}}</h4>
			<div class="client-txt">
				“{{post.testimonial.review_text}}”
			</div>
		</div>
	</section>
{% endif %}
