/**
 * ----------------------
 * Un.titled
 * Config - Layout
 * ----------------------
 */

/**
 * Page
 */
$container-width: 100rem;

/**
 * Breakpoints
 */
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xlg: 1600px,
);
