{% if content_row.content %}
	<section class="vacancies-section main-padding primary-bg general-application-row" data-aos="fade-up">
		<div class="container-sm">
			<div class="heading heading-left">
				<h2>{{content_row.title}}</h2>
			</div>
			<div class="vacancies-section-in">
				<div class="desc--box">
					{{content_row.content}}
				</div>
				<div class="btn-set--right">
					<a href="mailto:{{content_row.contact_email}}" class="primary-outline-btn">email us to apply</a>
				</div>
			</div>
		</div>
	</section>
{% endif %}
