.btn-set--left {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.btn-set--center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-set--right {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;

}

.primary-btn,
.secondary-btn,
.primary-outline-btn,
.secondary-outline-btn,
.white-btn,
.wpcf7-submit,
.white-outline-btn,
.white-btn-arrow,
.primary-btn-arrow,
.secondary-btn-arrow,
.secondary-btn-out-line-arrow
{
    padding: 0.8rem 1.7rem;
    font-size: $btn-font-size-base;
    display: block;
    @include border-radius(0);
    text-align: center;
    font-family: $secondaryfontfaimly;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 150px;

    @include breakpoint(mobile_portrait) {
        padding: 0.6rem 1rem;
    }
}


.primary-btn {
    background-color: $primary-color;
    color: $secondary-color;
    border: 1px $primary-color solid;

    &:hover {
        background-color: $secondary-color;
        color: $white;
        border: 1px $secondary-color solid;
    }
}

.secondary-btn {
    background-color: $secondary-color;
    color: $white;
    border: 1px $secondary-color solid;

    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}

.white-btn {
    background-color: $white;
    color: $secondary-color;
    border: 0px $secondary-color solid;

    &:focus {
        color: $primary-color;
    }

    &:hover {
        background-color: $primary-color;
        border: 0px $primary-color solid;
    }
}

.primary-outline-btn {
    background-color: transparent;
    color: $secondary-color;
    border: 1px $primary-color solid;

    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}


.white-outline-btn {
    background-color: transparent;
    color: $white;
    border: 1px $white solid;

    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}



.secondary-outline-btn {
    background-color: transparent;
    color: $secondary-color;
    border: 1px $secondary-color solid;

    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}

.wpcf7-submit {
    color: $secondary-color;
    border: 1px $primary-color solid;
    padding-right: 3rem;
    background: $primary-color url("#{$assetIconsPath}/arrow-white.svg") no-repeat calc(100% - 1rem) center;
    background-size: 13px;
    &:hover {
        background: $white url("#{$assetIconsPath}/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
        background-size: 13px;
        border: 1px $white solid;
        color: $primary-color;
    }
}

.input-submit {
    .wpcf7-spinner {
        display: none;
    }
}


.primary-btn-arrow {
    background: $primary-color url("#{$assetIconsPath}/arrow-secondary.svg") no-repeat calc(100% - 1rem) center;
    background-size: 13px;
    padding-right: 3rem;

    &:hover {
        background: $secondary-color url("#{$assetIconsPath}/arrow-secondary.svg") no-repeat calc(100% - 1rem) center;
        background-size: 13px;
    }
}

.secondary-btn-arrow {
    background: $secondary-color url("#{$assetIconsPath}/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
    background-size: 13px;
    padding-right: 3rem;
    color: $white;

    &:hover {
        background: $primary-color url("#{$assetIconsPath}/arrow-secondary.svg") no-repeat calc(100% - 1rem) center;
        background-size: 13px;
    }
}

.secondary-btn-out-line-arrow {
    background:transparent url("#{$assetIconsPath}/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
    background-size: 13px;
    padding-right: 3rem;
    border: 1px $secondary-color solid;
    color: $secondary-color;

    &:hover {
        background: $secondary-color url("#{$assetIconsPath}/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
        background-size: 13px;
        color: $white;
    }
}

.white-btn-arrow {
    background: $white url("#{$assetIconsPath}/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
    background-size: 13px;
    padding-right: 3rem;
    color: $secondary-color;

    &:hover {
        background: $secondary-color url("#{$assetIconsPath}/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
        background-size: 13px;
        color: $white;
    }
}