// This list is main colors

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$black:    #000 !default;
$white:    #fff !default;

$primary-color: #efbb16;
$secondary-color: #253e73; 
$light-gray: #ebeef0;
$drak-gray: #26313f;
$body-gray: #29292b;

