%h1 {
    font-size: (4.6rem);

    @include breakpoint(desktop_md) {
        line-height: 5rem;
        font-size: 4rem;
    }

    @include breakpoint(desktop_sm) {
        line-height: 4.5rem;
        font-size: 3.5rem;
    }

    @include breakpoint(ipad_landscape) {
        line-height: 4.5rem;
        font-size: 3.5rem;
    }

    @include breakpoint(ipad_portrait) {
        line-height: 4.5rem;
        font-size: 3.5rem;
    }

    @include breakpoint(mobile) {
        font-size: (2.5rem);
        line-height: 3.5rem;
    }

}

%h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    @include breakpoint(ipad_portrait) {
        font-size: (2.2rem);
        line-height: 3rem;
    }
    @include breakpoint(mobile) {
        font-size: (2rem);
        line-height: 2.3rem;
    }
}

%h3 {
    @extend %pt25;
}

%h4 {
    @extend %pt20;
}

%h5 {
    font-size: (0.8rem);
}

%letter-spacing-scss {
    letter-spacing: 0.8px;
}

h1 {
    @extend %h1;
    font-family: $secondaryfontfaimly;
    font-weight: 700;
}

h2 {
    @extend %h2;
    font-family: $secondaryfontfaimly;
    font-weight: 700;
}

h3 {
    @extend %h3;
    font-family: $secondaryfontfaimly;
    font-weight: 700;
}

h4 {
    @extend %h4;
    font-family: $secondaryfontfaimly;
    font-weight: 700;
}

h5 {
    @extend %h5;
    font-family: $secondaryfontfaimly;
    font-weight: 700;
}
.heading-secondary{
    position: relative;
    font-family: $secondaryfontfaimly;
    font-weight: 400;
        margin: 0px;
        padding: 0 0 1rem 0;
        text-transform: uppercase;
        @extend %pt19;

        &::after {
            content: '';
            width: $afterLine_width;
            height: $afterLine_height;
            background: $primary-color;
            position: absolute;
            bottom: 0;
            left: 0;
        } 
}

.heading {
    h2 {
        position: relative;
        margin: 0px;
        padding: 0 0 1rem 0;
        text-transform: uppercase;
        color: $secondary-color;
        
        &::after {
            content: '';
            width: $afterLine_width;
            height: $afterLine_height;
            background: $white;
            position: absolute;
            bottom: 0;
        }
    }

    .desc--box {
        margin-top: 1.5rem;
    }
}

.heading-left {
    text-align: left;

    h2 {
        &::after {
            content: '';
            left: 0;
        }
    }
}

.heading-center {
    text-align: center;

    h2 {
        &::after {
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    .desc--box {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

.heading-right {
    text-align: right;

    h2 {
        &::after {
            right: 0;
        }
    }
}


.img-text-overly-section,
.white-bg,
.product-details-section ,
.light-gray-bg
{
    .heading {
        h2 {
            color: $secondary-color;
            &::after {
                background: $primary-color;
            }
        }
    }
}
.img-text-overly-section
{
    .heading {
        h2 {
            color: $white;
        }
    }  
}
.secondary-bg
{
    .heading {
        h2 {
            color: $white;
            &::after {
                background: $primary-color;
            }
        }
    }
}