a,
button {
  cursor: pointer;
}

// Base Font faimly

$primaryfontfaimly: 'Roboto', sans-serif;
$secondaryfontfaimly: 'Roboto Condensed', sans-serif;

// Base font size

$font-size-base: 1.4169rem;
$font-size-base-m: 1.5831rem;




// Main font size

$mainMenuFont: 1.1rem;
$mainMenuFontMob: 1.1rem;
$mainMenuSubFont: 1rem;
// Footer font size

$footerTxtFont: 1rem;

$afterLine_width: 150px;
$afterLine_height: 4px;

// Main line height
$line-height: 1.8rem;

// Main padding
$main-pd: 6rem;
$main-pd-md: 4.5rem;
$main-pd-sm: 3rem;

@include breakpoint(mobile){
  $main-pd: 3rem;
}

$box-border: 25px;

$column-space: 4rem;

// Set Image Path
$assetPath: "../img";
$assetIconsPath: "../img/icons";
$fontsPath: "../webfonts";

// Button Font Size

$btn-font-size-base: 1.1rem;

%main-padding {
    padding-top: $main-pd;
    padding-bottom: $main-pd;
    @include breakpoint(ipad_portrait) {
      padding-top: $main-pd-md;
      padding-bottom: $main-pd-md;
    }
    @include breakpoint(mobile) {
        padding-top: $main-pd-sm;
        padding-bottom: $main-pd-sm;
    }
}


%main-padding-top {
  padding-top: $main-pd;
  @include breakpoint(ipad_portrait) {
    padding-top: $main-pd-md;
  }
    @include breakpoint(mobile) {
      padding-top: $main-pd-sm;
    }
}

%main-padding-btm {
  padding-bottom: $main-pd;
  @include breakpoint(ipad_portrait) {
    padding-bottom: $main-pd-md;
  }
    @include breakpoint(mobile) {
      padding-bottom: $main-pd-md;
    }
}

%font-size{
  font-size: 18px;
  @include breakpoint(mobile){
    font-size: 16px;
  }
}
%body-font-size{
   font-size: 1.2rem;
}


%base-line-height{
  line-height: 1.6rem;
}
.uppercase{
  text-transform: uppercase;
}
%below-hd{
  margin-top: 4rem !important;
  @include breakpoint(ipad_portrait) {
    margin-top: 3rem !important;
  }
  @include breakpoint(mobile) {
    margin-top: 3rem !important;
  }
}

%pt16{
  font-size: 1.3331rem;
  @media (min-width: 1025px) and (max-width: 1600px) {
    font-size: 1rem;
  }
}

%pt17{
  font-size: 1.4169rem;
  @include breakpoint(desktop_sm){
    font-size: 1.2rem;
  }
  @include breakpoint(ipad_landscape){
    font-size: 1.2rem;
  }
  @include breakpoint(ipad_portrait){
    font-size: 1.2rem;
  }
  @include breakpoint(mobile_landscape) {
    font-size: 1.2rem;
  }
  @include breakpoint(mobile_portrait) {
    font-size: 1.2rem;
  }
}

%pt19{
  font-size: 1.5831rem;
}

%pt20{
  font-size: 1.6669rem;
}

%pt25{
  font-size: 2.0831rem;
}

%pt30{
  font-size: 2.5rem;
  line-height: 3rem;

  @include breakpoint(ipad) {
    font-size: (2rem);
    line-height: 2.5rem;
  }

  @include breakpoint(mobile_landscape) {
      font-size: (1.6rem);
      line-height: 2.2rem;
  }

  @include breakpoint(mobile_portrait) {
    font-size: (1.4rem);
    line-height: 2.1rem;
  }
}
%pt46{
  font-size: 3.8331rem;
  @include breakpoint(ipad_portrait) {
    font-size: 3rem;
  }
  @include breakpoint(mobile_landscape) {
    font-size: 2.8rem;
  }
  @include breakpoint(mobile_portrait) {
    font-size: 2.4rem;
  }
}
%pt70{
  font-size: 6.0831rem;
  @include breakpoint(desktop_lg){
    font-size: 5rem;
  }
  @include breakpoint(desktop_md){
    font-size: 5rem;
  }
  @include breakpoint(desktop_sm){
    font-size: 4rem;
  }
  @include breakpoint(ipad_landscape){
    font-size: 4rem;
  }
  @include breakpoint(ipad_portrait){
    font-size: 4rem;
  }
  @include breakpoint(mobile_landscape) {
    font-size: 2.8rem;
  }
  @include breakpoint(mobile_portrait) {
    font-size: 2.4rem;
  }
  
}