html {
    -webkit-text-size-adjust: 100%;
}
html, body {
    overflow-x:hidden 
  } 
body {
    font-family: $primaryfontfaimly;
    font-weight: 300;
    @include background($white);
    @include padding(0px, 0, 0, 0);
    margin: 0px;
    color: $drak-gray;
    @extend %body-font-size;
    overflow-x: hidden;

}
.content-wrapper section{
    overflow: hidden;
}
.grecaptcha-badge{
    display: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

p {
    @extend %base-line-height;

}

a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;

}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

input {
    -webkit-appearance: none;
    opacity: 1;
}

button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}

strong {
    font-weight: 900;
}

.container-lg {
    max-width: calc(100%);
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoint(big_screen) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @include breakpoint(mobile_landscape) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include breakpoint(mobile_portrait) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

.container {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 4rem;

    @include breakpoint(big_screen) {
        max-width: 1500px;
    }

    @include breakpoint(desktop_sm) {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    @include breakpoint(ipad_landscape) {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    @include breakpoint(ipad_portrait) {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    @include breakpoint(mobile_landscape) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include breakpoint(mobile_portrait) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


.container-md {
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoint(big_screen) {
        max-width: 1300px;
    }

    @include breakpoint(desktop_sm) {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    @include breakpoint(ipad_landscape) {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    @include breakpoint(ipad_portrait) {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    @include breakpoint(mobile_landscape) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @include breakpoint(mobile_portrait) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}


.container-sm {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoint(big_screen) {
        max-width: 1100px;
    }

    @include breakpoint(desktop_sm) {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    @include breakpoint(ipad) {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    @include breakpoint(mobile_landscape) {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    @include breakpoint(mobile_portrait) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}



.main-padding {
    @extend %main-padding;
}

.main-padding-top {
    @extend %main-padding-top;
}

.main-padding-bottom {
    @extend %main-padding-btm;
}

.white-bg {
    background: $white;
}

.primary-bg {
    color: $white;
    background: $primary-color;

}

.secondary-bg {
    background: $secondary-color;
    color: $white;
}

.light-gray-bg {
    background: $light-gray;
    color: $secondary-color;
}

.drak-gray-bg {
    background: $drak-gray;
    color: $white;
}


.home-overly-bg {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.95+100 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    }

.hd-overly-bg {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+1,000000+99&0+42,0.65+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 1%, rgba(0,0,0,0) 42%, rgba(0,0,0,0.64) 99%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 1%,rgba(0,0,0,0) 42%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 1%,rgba(0,0,0,0) 42%,rgba(0,0,0,0.64) 99%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.contact-hd-overly-bg {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+1,000000+47&0+1,0.65+47 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 47%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 47%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 47%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
 }
.pg-hd-overly-bg {
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,000000+100&0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
.parlx-bg{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+24,7db9e8+100&0.7+24,0+100 */
background: -moz-linear-gradient(left,  rgba(0,0,0,0.7) 24%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 24%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,0,0,0.7) 24%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */

}




.body-gray-bg {
    background: $body-gray;
    color: $white;
}


.custom-row {
    display: flex;
    flex-wrap: wrap;
}

.hide-desktop {
    display: none;

    @include breakpoint(mobile) {
        display: block;
    }
}

.hide-mobile {

    @include breakpoint(mobile) {
        display: none;
    }
}

.desc--box {
    p {
        a {
            color: $secondary-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: $primary-color;
            }
        }

        &:first-child {
            margin-top: 0px;
        }

        &:last-child {
            margin: 0px;
        }

        @media (min-width: 320px) and (max-width: 991px) {
            br {
                display: none;
            }
        }
    }

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            position: relative;
            margin: 0 0 1.1rem 0;
            padding: 0 0 0 1.2rem;
            line-height: 1.4rem;
            @extend %body-font-size;
            font-weight: 400;

            br {
                @include breakpoint(ipad_portrait) {
                    display: none;
                }

                @include breakpoint(mobile) {
                    display: none;
                }
            }

            &::before {
                width: 10px;
                height: 10px;
                position: absolute;
                left: 0px;
                top: 6px;
                background: $primary-color;
                content: "";
                border-radius: 100px;
            }
        }
    }

    ul~p:last-child {
        margin-top: 1.5rem;
    }

    table tr td {
        padding-top: 5px;
        padding-bottom: 5px;

        &:nth-child(1) {
            width: 150px;
            padding-right: 15px;
        }
    }


}

.main-container {
    min-height: 90vh;
}


.back-btn-box {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $secondary-color;

    .back-btn {
        color: $white;
        @extend %pt25;
        position: relative;
        font-family: $secondaryfontfaimly;
        padding: 0 0 0 30px;
        font-weight: 500;
        background: url("#{$assetIconsPath}/arrow-primary-left.svg") no-repeat center left;
        background-size: 18px;

        strong {
            font-weight: 500;
        }

        &:hover {
            color: $primary-color;
        }
    }
}



.hide-in-desktop {
    display: none;

    @include breakpoint(mobile) {
        display: block;
    }
}

.hide-in-mobile {
    @include breakpoint(mobile) {
        display: none;
    }

}

h1.text-center {
    text-align: center;
    color: $primary-color;
    margin: 0px;

}


.left-bottom-btn {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.right-bottom-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.spacer-row {
    background: $white;
    height: 4px;
    width: 100%;
}