html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $primaryfontfaimly;
    font-weight: 400;
    @include background($white);
    @include padding(0px, 0, 0, 0);
    margin: 0px;
    font-size: $font-size-base;
    color: $gray-color;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

p {
    line-height: $line-height;
}

a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: $secondary-color;
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
input{
    -webkit-appearance: none;
    opacity: 1,
}
button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}

.container-fluid {
    max-width: calc(100%);
    width: calc(100% - 6rem);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(desktop){
        width: calc(100% - 4rem);
    }

    @include breakpoint(ipad){
        width: calc(100% - 3rem);
    }

    @include breakpoint(mobile){
        width: calc(100% - 2rem);
    }

}

.container-lg {
    max-width: calc(100%);
    width: calc(100% - 6rem);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(desktop-sm){
        width: calc(100% - 4rem);
    }

    @include breakpoint(ipad){
        width: calc(100% - 3rem);
    }

    @include breakpoint(mobile){
        width: calc(100% - 2rem);
    }
    
}

.container {
    max-width: calc(100%);
    width: calc(100% - 30rem);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(desktop){
        width: calc(100% - 12rem);
    }

    @include breakpoint(desktop-sm){
        width: calc(100% - 10rem);
    }

    @include breakpoint(ipad){
        width: calc(100% - 3rem);
    }
    @include breakpoint(mobile_landscape){
        width: calc(100% - 4rem);
    }
    @include breakpoint(mobile_portrait){
        width: calc(100% - 2rem);
    }
   
}
.container-sm {
    max-width: 1100px;
    width: calc(100% - 16rem);
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(desktop-sm){
        width: calc(100% - 16rem);
    }
    @include breakpoint(ipad){
        width: calc(100% - 6rem);
    }
    @include breakpoint(mobile_landscape){
        width: calc(100% - 4rem);
    }
    @include breakpoint(mobile_portrait){
        width: calc(100% - 2rem);
    }

}

.main-padding{
    padding-top: $main-pd;
    padding-bottom: $main-pd;
    @include breakpoint(mobile){
        padding-top: $main-pd-sm;
        padding-bottom: $main-pd-sm;
       
    }
}

.white-bg {
    background: $white;
}
.primary-bg {
    background: $primary-color;
}
.secondary-bg {
    background: $secondary-color;
}
.gray-bg {
    background: $gray-bg;
}
.custom-row {
    display: flex;
    flex-wrap: wrap;
}
.hide-desktop{
    display: none;
    
    @include breakpoint(mobile_portrait){
        display: block;
    }
}

.hide-mobile{
    @include breakpoint(mobile_landscape){
        display: block;
    }
    @include breakpoint(mobile_portrait){
        display: none;
    }
}




.desc--box {
    p {
        &:last-child {
            margin: 0px;
        }
    }
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
            position: relative;
            margin: 0 0 0.6rem 0;
            padding: 0 0 0 1.5rem;
            br{
                @include breakpoint(ipad_portrait){
                    display: none;
                }
                @include breakpoint(mobile){
                    display: none;
                }
            }
            &::before {
                width: 8px;
                height: 8px;
                position: absolute;
                left: 0px;
                top: 9px;
                background: $secondary-color;
                content: "";
                border-radius: 50px;
            }
        }
    }
}
.main-container{
    min-height: 90vh;
}
.fancybox__caption {
    padding: 0px;
    margin-top: -25px;
    z-index: 21;
}
.fancybox__content {
    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background-color: $light-gray;
        height: 31px;
    }
}

.container-pd-lr{
    padding-left: 3rem;
    padding-right: 3rem;
    @include breakpoint(mobile_portrait){
        padding-left: inherit;
        padding-right: inherit;
    }
}

.container-sm-pd-lr{
    padding-left: 5rem;
    padding-right: 5rem;
    @include breakpoint(ipad_portrait){
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @include breakpoint(mobile_landscape){
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    @include breakpoint(mobile_portrait){
        padding-left: inherit;
        padding-right: inherit;
    }
}
.back-btn-box{
    padding-top: 2rem;
    padding-bottom: 2rem;
    .back-btn{
        font-size: 2rem;
    }

}