.home-page-slider-section {
    position: relative;
    
    .home-page-slider-item{
        &::after{
            content: '';
            @extend %hd-bg;
        }
    }
    .slick-dots{
        display: none;
    }
    
    .home-page-slider-in {
        max-width: 880px;
        padding: 14rem 0 0 0;
        margin-left: 12%;
        @include breakpoint(desktop){
            padding: 9rem 0 0 0;
            margin-left: 9%;
        }
        @include breakpoint(desktop-md){
            max-width: 700px;
            padding: 11rem 0 0 0;
            margin-left: 7%;
        }
        @include breakpoint(desktop-sm){
            max-width: 500px;
            padding: 10rem 0 0 0;
            margin-left: 1rem;
        }
        @include breakpoint(ipad_landscape){
            max-width: 500px;
            padding: 8rem 0 0 0;
            margin-left: 1rem;
        }
        @include breakpoint(ipad_portrait){
            max-width: 500px;
            padding: 10rem 0 0 0;
            margin-left: 5rem;
        }
        @include breakpoint(mobile_landscape){
            max-width: 400px;
            padding: 0rem 0 2rem 0;
            margin-left: 5rem;
        }
        @include breakpoint(mobile_portrait){
            max-width: inherit;
            padding: 0rem 0 0 0;
            margin-left: 1rem;
        }
    }


    .home-page-slider-item {

        .home-page-slider-item-img {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 1100px;
            @include breakpoint(desktop){
                height: 996px;
            }
            @include breakpoint(desktop-md){
                height: 900px;
            }
            @include breakpoint(desktop-sm){
                height: 700px;
            }
            @include breakpoint(ipad_landscape){
                height: 700px;
            }
            @include breakpoint(ipad_portrait){
                height: 563px;
            }
            @include breakpoint(mobile_landscape){
                height: 459px;
            }
            @include breakpoint(mobile_portrait){
                height: 550px;
            }

            img {
                display: block;
                width: 100%;
            }
        }

        .home-page-slider-item-content {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            top: 0px;
            left: 0px;
            display: flex;
            align-items: start;
            @include breakpoint(mobile){
                align-items: center;
            }

            h1 {
                margin: 0px;
                padding: 0;
                font-family: $primaryfontfaimly;
                font-weight: 700;
                color: $white;
                

                strong {
                    color: $primary-color;
                }
            }
        }
    }
}