.how-we-work-section {
    @extend .main-padding;

    .container-sm {
        @include breakpoint(ipad_portrait) {
            padding: 0 4rem;
        }

        @include breakpoint(mobile_landscape) {
            padding: 0 4rem;
        }
    }

    .how-we-work-box {
        width: 48%;
        margin-right: 2%;
        margin-bottom: 4%;

        @include breakpoint(ipad_portrait) {
            width: 100%;
            margin-right: 0%;
            padding: 1rem 0;
        }

        @include breakpoint(mobile) {
            width: 100%;
            margin-right: 0%;
            padding: 1rem 0;
        }

        &:nth-child(2n+2) {
            margin-left: 2%;
            margin-right: 0;

            @include breakpoint(ipad_portrait) {
                margin-left: 0%;
                margin-right: 0;
            }

            @include breakpoint(mobile) {
                margin-left: 0%;
                margin-right: 0;
            }
        }

    }
}