.introduction-section {
    background: transparent;
    position: relative;
    margin-top: -650px;
    padding: 0 0 70px 0;
    z-index: 3;

    @include breakpoint(desktop-md) {
        margin-top: -537px;
    }

    @include breakpoint(desktop-sm) {
        margin-top: -376px;
    }

    @include breakpoint(ipad_landscape) {
        margin-top: -376px;
    }

    @include breakpoint(ipad_portrait) {
        margin-top: 0;
        padding: 40px 0 70px 0;
    }

    @include breakpoint(mobile) {
        margin-top: 0;
        padding: 40px 0 40px 0;
    }

    .container {
        @include breakpoint(ipad_portrait) {
            padding: 0 6.5rem;
        }

    }

    .custom-row {
        justify-content: flex-end;

        @include breakpoint(ipad_portrait) {
            display: block;
        }

        @include breakpoint(mobile_landscape) {
            padding: 0 4rem;
        }

        @include breakpoint(mobile) {
            justify-content: start;
        }
    }

    .section-heading h2 {
        color: $white;
        z-index: 2;

        @include breakpoint(ipad_portrait) {
            color: $text-color;
        }

        @include breakpoint(mobile) {
            color: $text-color;
        }

        &::after {
            width: 115%;

            @include breakpoint(mobile) {
                width: 250px;
            }

            @include breakpoint(ipad_portrait) {
                width: 450px;
            }
        }
    }

    .introduction-hd {
        width: 35%;
        padding-top: 13%;

        @include breakpoint(desktop-sm) {
            width: 40%;
        }

        @include breakpoint(ipad_portrait) {
            width: 100%;
            padding-top: 0%;
        }

        @include breakpoint(mobile) {
            width: 100%;
            padding-top: 0%;
        }
    }

    .introduction-content {
        width: 55%;
        position: relative;
        z-index: 1;

        @include breakpoint(ipad_portrait) {
            width: 100%;
        }

        @include breakpoint(mobile) {
            width: 100%;
        }

        .introduction-video {
            overflow: hidden;
            position: relative;
            width: 100%;

            &::after {
                padding-top: 56.25%;
                display: block;
                content: '';
            }
            &.slider-video-mp4{
                &::after {
                    padding-top: 0%;
                }
            }
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        .desc--box {
            text-align: right;
            margin-top: 2rem;
            padding-left: 30%;

            @include breakpoint(ipad_landscape) {
                padding-left: 7%;
            }

            @include breakpoint(ipad_portrait) {
                padding-left: 0px;
                text-align: left;
            }

            @include breakpoint(mobile) {
                margin-top: 2rem;
                text-align: left;
                padding-left: 0%;
            }
        }
    }
}