.let-talk-pop {
  position: fixed;
  width: 780px;
  background: $white;
  padding: 3rem;
  top: 0;
  right: 0px;
  z-index: 11;
  display: none;

  @include breakpoint(mobile_landscape) {
    width: 90%;
  }
  @include breakpoint(mobile_portrait) {
    width: 100%;
    padding: 3rem 2rem;
  }

  .pop-close-btn {
    background-color: transparent;
    padding: 0px;
    border: 0px;
    cursor: pointer;
    position: absolute;
    right: 27px;
    top: 26px;
    width: 47px;
    height: 30px;
    background: url("#{$assetIconsPath}/close-icon-black.svg") no-repeat center center;
    background-size: 100%;
  }

  h2 {
    color: $secondary-color;
    margin: 0 0 2rem 0;
    font-family: $secondaryfontfaimly;
  }

  .let-talk-pop-in {
    position: relative;

  }
}

.pop-show {
  position: relative;
  overflow-y: hidden;

  .let-talk-pop {
    display: block;
    height: 100%;
    overflow: auto;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
  }
}

.get-in-touch-form {
  .input-field {
    P {
      padding: 0px;
      margin: 0px;
    }
  }

  .input-field-set {
    margin-left: auto;

    @include breakpoint(mobile_landscape) {
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }
}