.page-hero-image-section {
    position: relative;

    .page-hero-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 6rem;
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        height: 100%;

        img {
            display: block;
            width: 100%;
        }

    }

    .page-hero-content-outer {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        min-height: 900px;
        padding-bottom: 6rem;

        @media (min-width: 2100px) and (max-width: 258000000px) {
            min-height: 1100px;
        }

        @include breakpoint(desktop) {
            min-height: 770px;
        }

        @include breakpoint(desktop-md) {
            min-height: 647px;
        }

        @include breakpoint(desktop-sm) {
            min-height: 600px;
        }

        @include breakpoint(ipad_landscape) {
            min-height: 570px;
        }

        @include breakpoint(ipad_portrait) {
            align-items: flex-start;
            padding-top: 7rem;
            padding-bottom: 5rem;
            min-height: 500px;
        }

        @include breakpoint(mobile_landscape) {
            align-items: flex-start;
            padding-top: 6rem;
            padding-bottom: 5rem;
            min-height: 460px;
        }

        @include breakpoint(mobile_portrait) {
            align-items: flex-start;
            padding-top: 5rem;
            padding-bottom: 8rem;
            min-height: 467px;
        }

        .container-lg {
            position: relative;
            z-index: 2;
        }

        &::after {
            content: '';
            @extend %hd-bg;
        }

        .page-hero-content-in {
            max-width: 890px;
            padding: 0;
            margin-left: 12%;

            @include breakpoint(desktop) {
                max-width: 776px;
                margin-left: 9%;
            }

            @include breakpoint(desktop-md) {
                max-width: 745px;
                margin-left: 7%;
            }

            @include breakpoint(desktop-sm) {
                max-width: 597px;
                margin-left: 4%;
            }

            @include breakpoint(ipad_landscape) {
                max-width: 635px;
                margin-left: 6%;
            }

            @include breakpoint(ipad_portrait) {
                max-width: 586px;
                margin-left: 2%;
            }

            @include breakpoint(mobile_landscape) {
                max-width: 77%;
                margin-left: 0%;
            }

            @include breakpoint(mobile_portrait) {
                max-width: 100%;
                margin-left: 2%;
            }

            .custom-row {
                @include breakpoint(mobile_portrait) {
                    display: block;
                }
            }

            .page-hero-icon {
                width: 100px;
                padding-top: 1rem;

                @include breakpoint(ipad_portrait) {
                    width: 60px;
                }

                @include breakpoint(mobile_landscape) {
                    width: 60px;
                    padding-top: 0rem;
                }

                @include breakpoint(mobile_portrait) {
                    width: 70px;
                }

                img {
                    width: 100%;
                    display: block;

                }
            }

            .page-hero-content {
                width: calc(100% - 100px);
                padding-left: 3rem;

                @include breakpoint(ipad_landscape) {
                    padding-left: 2rem;
                }

                @include breakpoint(mobile_landscape) {
                    width: calc(100% - 60px);
                    padding-left: 1rem;
                }

                @include breakpoint(ipad_portrait) {
                    padding-left: 1rem;
                }

                @include breakpoint(mobile_portrait) {
                    width: 100%;
                    padding-top: 1rem;
                    padding-left: 0px;
                }

                h1 {
                    margin: 0px;
                    padding: 0;
                    font-family: $primaryfontfaimly;
                    font-weight: 700;
                    color: $white;
                }

                .desc--box {
                    margin-top: 1rem;
                    color: $white;

                    p {
                        @extend %hero-text;
                    }
                }
            }

        }

    }

}

.curve-img {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
    bottom: -1px;
    z-index: 2;

    img {
        width: 100%;
        display: block;
        height: auto;
    }
}