.page-sub-content-section {
    // background:url("#{$assetIconsPath}/curve-2.svg") no-repeat top center;
    position: relative;
    background: transparent;
    margin-top: -70px;
    padding: 0 0 70px 0;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    z-index: 2;

    @include breakpoint(ipad_portrait) {
        margin-top: 0;
        padding: 70px 0;
    }

    @include breakpoint(mobile) {
        margin-top: 0;
        padding: 40px 0 40px 0;
    }

    .container {
        @include breakpoint(ipad_portrait) {
            padding: 0 4rem;
        }

    }

    .custom-row {
        justify-content: flex-end;
    }


    .page-sub-content-in {
        width: 45%;
        z-index: 1;

        @include breakpoint(desktop-sm) {
            width: 48%;
        }

        @include breakpoint(ipad_landscape) {
            width: 48%;
        }

        @include breakpoint(ipad_portrait) {
            width: 100%;
        }

        @include breakpoint(mobile_landscape) {
            padding: 0 4rem;
        }

        @include breakpoint(mobile) {
            width: 100%;
        }

        .section-heading {
            margin-bottom: 2rem;
        }

        .desc--box {
            margin-top: 0rem;
        }
    }
}