.parallax-window {
    min-height: 750px;
    background: transparent;
    position: relative;

    @include breakpoint(ipad_landscape) {
        min-height: 557px;
    }

    @include breakpoint(ipad_portrait) {
        min-height: 400px;
    }

    @include breakpoint(mobile_landscape) {
        min-height: 350px;
    }

    @include breakpoint(mobile_portrait) {
        min-height: 490px;
    }

    .parallax-window-in {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 6rem;

        @include breakpoint(ipad_portrait) {
            padding-right: 2rem;
        }

        @include breakpoint(mobile_landscape) {
            padding-right: 1rem;
        }

        @include breakpoint(mobile_portrait) {
            padding-right: 1rem;
        }
    }
}