.video-slider-section{
    @extend .main-padding;
    .container-md{
        @include breakpoint(ipad_portrait){
            padding: 0 2rem;
            width: calc(100% - 1rem);
        }
        @include breakpoint(mobile_landscape){
            padding: 0 4rem;
        }
    }
}
.previous-projects-section{
    @extend .main-padding;
    
    .section-heading h2{
        color: $drak-blue;
    }
    .slick-slider {
        margin: 0 -1rem;
    }
    .container{
        @include breakpoint(ipad_portrait){
            padding: 0 4rem;
        }
        @include breakpoint(mobile_landscape){
            padding: 0 4rem;
        }
    }
}
.short-content-section{
    @extend .main-padding;  
}
.article-with-image-section{
    @extend .main-padding;
    background: $white;
}
.article-with-image-section ~ .article-with-image-section{
    padding-top: 0px;
}
.other-services-section{
    @extend .main-padding;
    
    
        .container{
            @include breakpoint(ipad_landscape) {
               width: calc(100% - 3rem);
            }
            @include breakpoint(ipad_portrait){
                padding: 0 4rem;
            }
            @include breakpoint(mobile_landscape){
                padding: 0 4rem;
            }
        }
        .custom-row{
            margin-left: -1rem;
            margin-right: -1rem;
            @include breakpoint(ipad_portrait){
                margin-left: 0rem;
                margin-right: 0rem;
            }
            @include breakpoint(mobile_landscape){
                margin-left: 0rem;
                margin-right: 0rem;
            }
            @include breakpoint(mobile_portrait){
                margin-left: 0rem;
                margin-right: 0rem;
            }
        }
    
    .services-box{
        padding: 2rem 2rem 0.7rem 2rem;
        @include breakpoint(ipad_landscape) {
            padding: 2rem 1rem 0.7rem 1rem;
         }
        @include breakpoint(ipad_portrait){
            padding: 2rem 1rem 0.7rem 3rem;
        }
        .custom-row{
            margin-left: 0px;
            margin-right: 0px;
        }
        a{
            .services-icon{
                padding-right: 2rem;
                @include breakpoint(ipad_landscape) {
                    padding-right: 1rem;
                 }
            }
        }
        .services-content{
            padding-left: 0px;
            @include breakpoint(ipad_portrait){
                padding-left: 1.5rem;
            }
        }
    }
}

.short-content-section{
    h2{
        font-family: $primaryfontfaimly;
        color: $drak-blue;
        font-weight: 600;
        font-size: 4rem;
        margin: 0 0 2rem 0;
        padding: 0px;
        @include breakpoint(ipad_portrait){
            font-size: 3.5rem;
        }
        @include breakpoint(mobile_landscape) {
            font-size: 2.7rem;
        }
        @include breakpoint(mobile_portrait) {
            font-size: 2.3rem;
        }
        strong{
            color: $primary-color; 
        }
    }
}