.services-box {
    background: $white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 2rem 1rem 1rem 3rem;
    width: 100%;

    @include breakpoint(mobile_portrait) {
        padding: 1rem 1rem 1rem 1rem;
    }

    a {
        h2 {
            margin: 0 0 2rem 0;
            padding: 0px;
            font-size: 1.8rem;
            font-family: $primaryfontfaimly;
            color: $text-color;

            @include breakpoint(ipad_portrait) {
                font-size: 1.4rem;
            }

            @include breakpoint(mobile) {
                font-size: 1.3rem;
            }

        }

        .services-icon {
            width: 35%;
            padding-right: 1rem;

            img {
                width: 100%;
                display: block;

                &.hover-icon-show {
                    display: none;
                }
            }
        }

        .services-content {
            width: 65%;
            padding-left: 2rem;
            position: relative;
            padding-bottom: 2rem;
            min-height: 192px;
            color: $text-color;

            @include breakpoint(mobile) {
                padding-left: 0px;
                min-height: 60px;
            }

            .primary-read-more {
                position: absolute;
                right: 0px;
                bottom: 0px;
                color: $text-color;
                font-size: 17px;
                background: url("#{$assetIconsPath}/orange arrow right.svg") no-repeat right 11px;
                background-size: 7px 13px;
                padding-right: 0.9rem;
                font-family: $secondaryfontfaimly;
                font-weight: 500;
            }
        }

        &:hover {
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

            .services-icon {

                img {
                    &.icon-show {
                        display: none;
                    }

                    &.hover-icon-show {
                        display: block;
                    }
                }


            }

            .services-content {
                .primary-read-more {

                    color: $primary-color;

                }
            }

        }
    }



}