.simple-content-section {
    @extend .main-padding;

    h2 {
        margin: 0px;
        padding: 0px;

        span {
            color: $primary-color;
        }
    }

    h2~.desc--box {
        margin-top: 1.5rem;
    }
}