.testimonials-section {
    @extend %main-padding;

    .testimonials-section-content {
        margin: auto;

        strong {
            font-family: $secondaryfontfaimly;
            color: $text-color;
            font-size: 1.5rem;
            text-align: left;
            display: inline-block;
            line-height: 2.1rem;
            padding-left: 90px;
            background: url("#{$assetIconsPath}/quotation-mark-icon.svg") no-repeat top left;
            background-size: 63px;

            @include breakpoint(mobile) {
                background-size: 36px;
                font-size: 1.3rem;
                line-height: 1.5rem;
                padding-left: 53px;
            }
        }

        i {
            display: block;
            text-align: left;
            font-size: 16px;
            margin-top: 1rem;
            font-style: normal;
            font-weight: 400;
            color: $drak-secondary;
            padding-left: 90px;
        }
    }
}

.parallax-testimonials-section-content {
    color: $white;
    max-width: 508px;

    @include breakpoint(mobile_portrait) {
        max-width: 90%;
    }

    strong {
        font-family: $secondaryfontfaimly;
        color: $white;
        font-size: 1.8rem;
        text-align: left;
        display: inline-block;
        padding-left: 90px;
        background: url("#{$assetIconsPath}/quotation-mark-icon.svg") no-repeat top left;
        background-size: 50px;

        @include breakpoint(ipad_landscape) {
            font-size: 1.4rem;
        }

        @include breakpoint(ipad_portrait) {
            font-size: 1.4rem;
        }

        

        P {
            line-height: 2.2rem;
            margin: 0px;

            @include breakpoint(ipad_landscape) {
                line-height: 1.9rem;
            }

            @include breakpoint(ipad_portrait) {
                line-height: 1.9rem;
            }
            @include breakpoint(mobile) {
                line-height: 1.5rem;
            }
        }

        br {
            display: none;
        }

        @include breakpoint(mobile) {
            background-size: 36px;
            padding-left: 53px;
            font-size: 1.1rem;
            line-height: 1.2rem;
        }
    }

    i {
        display: block;
        text-align: left;
        margin-top: 1rem;
        font-style: normal;
        font-weight: 400;
        color: $white;
        padding-left: 90px;

        @include breakpoint(mobile) {
            padding-left: 56px;
        }
    }
}