.slick-slider {

    .slick-arrow {
        position: absolute;
        top: 35%;
        z-index: 1;
        border: 0px;
        text-indent: -9999px;
        width: 25px;
        height: 50px;

        &.slick-prev {
            left: -50px;
            background: url("#{$assetIconsPath}/slider-left.svg") no-repeat center center;
            background-size: 100%;

            @include breakpoint(ipad_landscape) {
                left: -25px;
            }

            @include breakpoint(ipad_portrait) {
                left: -25px;
            }

            @include breakpoint(mobile_portrait) {
                left: 0;
            }
        }

        &.slick-next {
            right: -50px;
            background: url("#{$assetIconsPath}/slider-right.svg") no-repeat center center;
            background-size: 100%;

            @include breakpoint(ipad_landscape) {
                right: -25px;
            }

            @include breakpoint(ipad_portrait) {
                right: -25px;
            }

            @include breakpoint(mobile_portrait) {
                right: 0px;
            }
        }
    }
}

.thumb-2-slider-section-content,
.thumb-3-slider-section-content {
    .slick-slider {
        .slick-list {
            @include breakpoint(mobile_portrait) {
                width: 90%;
                margin: auto;
            }

        }
    }
}

.thumb-2-slider {
    .thumb-2-slider-item {
        padding: 0 1rem;

        .thumb-2-slider-content {
            color: $white;
            text-align: center;
            margin-top: 1rem;
        }
    }

    .thumb-2-slider-video {
        img {
            width: 100%;
            display: block;
        }
    }
}

.thumb-3-slider {
    .thumb-3-slider-item {
        padding: 0 1rem;

        .thumb-3-slider-item-in {
            position: relative;
            overflow: hidden;

            .thumb-3-slider-image {
                img {
                    width: 100%;
                    display: block;
                }
            }

            .thumb-3-slider-content {
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.7);
                padding: 2.5rem;
                color: $white;
                top: 0;
                left: 0px;
                opacity: 0;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;

                @include breakpoint(desktop-md) {
                    padding: 1.5rem;
                }

                @include breakpoint(mobile_portrait) {
                    position: relative;
                    opacity: 1;
                    padding: 1rem;
                }

                h4 {
                    margin: 0 0 7px 0;
                    padding: 0px;
                    color: $white;
                    font-size: 1.4rem;
                    font-weight: 400;
                }

                span {
                    display: block;
                    font-style: italic;
                    margin: 0 0 10px 0;
                }

                .short-line {
                    &::after {
                        background-color: $white;

                    }
                }

                .desc--box {
                    padding-top: 1rem;

                    @include breakpoint(desktop-md) {
                        height: 148px;
                        overflow: hidden;
                    }
                }
            }

            &:hover {
                .thumb-3-slider-content {
                    opacity: 1;
                }
            }
        }


    }
}


.short-line {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 3px;
        left: 0px;
        bottom: 0;
        background-color: $white;

    }
}

.thumb-2-slider-video {
    overflow: hidden;
    position: relative;
    width: 100%;

    &::after {
        padding-top: 56.25%;
        display: block;
        content: '';
    }
    &.slider-video-mp4{
        &::after {
            padding-top: 0;
            display: block;
            content: '';
        }
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.single-service {
    .slick-slider {

        .slick-arrow {
            top: 0;
            height: 100%;

        }
    }
}