/*For Hero Slider SCSS CSS Start */

.hero-slider {
  .heroSlider_item {
    @include breakpoint(mobile-portrait) {
      min-height: 193px;
    }

    .heroSlider_text {
      padding: 136px 0 120px 0;
      @include breakpoint(mobile-landscape) {
        padding: 23px 0 120px 0;
        display: none;
      }

      @include breakpoint(mobile-portrait) {
        padding: 33px 0 0px 0;
        position: absolute;
        width: 61%;
        margin: auto;
        top: 0px;
        display: none;
      }

      .heroSlider_text_in {
        padding: 40px 35px 40px 35px;

        @include breakpoint(mobile-portrait) {
          background: rgba(0, 0, 0, 0.6);
          width: 100%;
          padding: 15px;
        }

        .slider_logo {
          width: 70%;
          margin: auto;

          @include breakpoint(mobile-portrait) {
            display: block;
          }

          img {
            max-width: 100%;
            height: auto;
            margin: auto;
          }
        }
      }
    }
  }

  &::after {
    content: '';
    background: url('#{$assetPath}/hd_bg.svg') no-repeat center top;
    position: absolute;
    width: 100%;
    height: 126px;
    background-size: cover;
    bottom: 0;
    left: 0px;
    z-index: 1;

    @include breakpoint(mobile-portrait) {
      height: 68px;
    }
  }
}

.click_arrow_btm {
  display: none;
}

/*For Hero Slider SCSS CSS END */

/*For SM TEXT SCSS CSS START */

.txt-sm-block {
  padding: 0 0 $d_pd 0;
}

/*For SM TEXT SCSS CSS END */

/*For HEADING HERO SCSS CSS START */

.heading_hero {
  padding: 113px 0 205px 0;
  @include breakpoint(mobile-portrait) {
    padding: 81px 0 169px 0;
    min-height: 345px;
  }
  &::after {
    content: '';
    background: url('#{$assetPath}/hd_bg.svg') no-repeat center top;
    position: absolute;
    width: 100%;
    height: 126px;
    background-size: cover;
    bottom: 0;
    left: 0px;
    z-index: 1;
    @include breakpoint(mobile-portrait) {
      height: 68px;
    }
  }
}

/*For HEADING HERO SCSS CSS END */

/*For EVENT LIST SCSS CSS START */

.green_back_btn {
  padding: 40px 0 80px 0;
}

/*For EVENT LIST SCSS CSS END */

// For FULL IMAGE GALLERY SCSS CSS START

.full_image_gallery {
  .f_i_g__hd {
    background: $full_img_gallry;
  }
}

// For FULL IMAGE GALLERY SCSS CSS END

// For EVENT LIST SCSS CSS START
.block_event_lists {
  background: $eventblockbg;
}

// For EVENT LIST SCSS CSS START

.watch-video-section {
  background: $cyanDark;
}


p:empty {
  display: none;
}
