{% if content_row.image_1 %}
<section class="see-our-gallery-section" data-aos="fade-up">
                <h2><a href="{{content_row.cta.url}}">SEE OUR GALLERY</a></h2>
                <div class="custom-row">
                    <div class="see-our-gallery-box">
                        <picture>
                            <source media="(min-width: 768px) and (max-width: 1100px)" srcset="{{get_image(content_row.image_1).src('ipad_gallery_thumbnail')}}">
                            <img src="{{get_image(content_row.image_1).src('thumbnail')}}" alt="{{site.name}}">
                        </picture>
                    </div>
                    <div class="see-our-gallery-box">
                        <picture>
                        <source media="(min-width: 768px) and (max-width: 1100px)" srcset="{{get_image(content_row.image_2).src('ipad_gallery_thumbnail')}}">
                            <img src="{{get_image(content_row.image_2).src('thumbnail')}}" alt="{{site.name}}">
                        </picture>
                    </div>
                    <div class="see-our-gallery-box">
                        <picture>
                        <source media="(min-width: 768px) and (max-width: 1100px)" srcset="{{get_image(content_row.image_3).src('ipad_gallery_thumbnail')}}">
                            <img src="{{get_image(content_row.image_3).src('thumbnail')}}" alt="{{site.name}}">
                        </picture>
                    </div>
                    <div class="see-our-gallery-box">
                        <picture>
                        <source media="(min-width: 768px) and (max-width: 1100px)" srcset="{{get_image(content_row.image_4).src('ipad_gallery_thumbnail')}}">
                            <img src="{{get_image(content_row.image_4).src('thumbnail')}}" alt="{{site.name}}">
                        </picture>
                    </div>
                </div>
</section>
{% endif %}