 {% if content_row.testimonial_list %}
    <section class="testimonials-section light-bg " data-aos="fade-up">
        <div class="container">
            {% for review in content_row.testimonial_list %}
            <div class="custom-row">
                <div class="testimonials-left hide-mobile">
                    <picture>
                        <img src="{{ get_image(review.image).src('src') }}" alt="{{site.name}}">
                    </picture>
                </div>
                <div class="testimonials-right">
                    {{review.review_content}}
                    <span>{{review.review_author}} {{review.review_author_role}}</span>
                </div>
                <div class="testimonials-left hide-desktop">
                    <picture>
                        <img src="{{ get_image(review.image).src('src') }}" alt="{{site.name}}">
                    </picture>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endif %}