 {% if content_row.location_hours %}
 <section class="open-time-section light-bg" data-aos="fade-up">
                <div class="container">
                    <div class="custom-row">
                        {% for locationObj in content_row.location_hours %}
                        {% set openingDetail = get_post(locationObj).meta('opening_hours') %}
                        <div class="open-time-box">
                            <h4>{{locationObj.post_title}}</h4>
                            <span class="open-status">OPENING HOURS</span>
                            <ul>
                                <li>
                                    <span class="day-name">MONDAY</span>
                                    <span class="time-name">{{openingDetail.day_1}}</span>
                                </li>
                                <li>
                                    <span class="day-name">TUESDAY</span>
                                    <span class="time-name">{{openingDetail.day_2}}</span>
                                </li>
                                <li>
                                    <span class="day-name">WEDNESDAY</span>
                                    <span class="time-name">{{openingDetail.day_3}}</span>
                                </li>
                                <li>
                                    <span class="day-name">THURSDAY</span>
                                    <span class="time-name">{{openingDetail.day_4}}</span>
                                </li>
                                <li>
                                    <span class="day-name">FRIDAY</span>
                                    <span class="time-name">{{openingDetail.day_5}}</span>
                                </li>
                                <li>
                                    <span class="day-name">SATURDAY</span>
                                    <span class="time-name">{{openingDetail.day_6}}</span>
                                </li>
                                <li>
                                    <span class="day-name">SUNDAY</span>
                                    <span class="time-name">{{openingDetail.day_7}}</span>
                                </li>
                            </ul>
                        </div>
                        {% endfor %}
                       
                    </div>
                </div>
            </section>
{% endif %}