 {% if content_row.images %}

<section class="gallery-section">
                <div class="gallery-container">

                			{% for gallery in content_row.images %}
				{% set image = get_image(gallery.image) %}

                    <div class="gallery-box">
        
                        <a data-fancybox="gallery" data-src="{{ image.src('src')}}" class="fancybox" style="background-image: url({{image.src('gallery_img')}});"></a>
                    </div>
                    			{% endfor %}

                    
                  </div>
               </section>{% endif %}
