{% if content_row.copy_content_title or content_row.copy_content_text %}
	<section class="about-section primary-bg" data-aos="fade-up">
		<div class="container-sm">
			<div class="custom-row">
				<div class="about-section-text">
				{% if content_row.copy_content_title %}
					<h3>{{content_row.copy_content_title}}</h3>
				{% endif %}
				
					<div class="desc">
						{{content_row.copy_content_text}}
					</div>

				</div>

			</div>
		</div>
	</section>

{% endif %}
