.main-footer{
    padding: 2rem 0;
    text-align: center;
    strong{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 14px;
    }
}
.footer-top-keywords{
    margin: 2rem 0;
    background: #efefef;
    padding: 2rem;
    color: #000;
    font-size: 1rem;
    strong{
        font-size: 1.2rem;
    }
}