{% if content_row.download_list %}
<section class="download--section" data-aos="fade">
	<div class="container-sm">
		<div class="hd-text-center">
			{% if content_row.download_heading %}
			<h2 class="title">{{content_row.download_heading}}</h2>
			{% endif %} {% if content_row.download_heading %}
			<div class="desc--box container-bg-pd-lr">{{content_row.download_heading_copy}}</div>
			{% endif %}
		</div>
	</div>

	<div class="container">
	 <div class="download--row">
		<ul class="custom-row">
			{% for download in content_row.download_list %}
			<li>
				<div class="download-item">
					<h4>{{download.upload_title}}</h4>
					{% if download.upload_title_copy %}
					<div class="desc--box">{{download.upload_title_copy}}</div>
					{% endif %}
					<div class="btn-set--right">
						<a class="primary-btn" download="{{download.upload_title}}" href="{{download.upload_file.url}}"> Download <i></i> </a>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
		</div>
	</div>
</section>
{% endif %}
