{% if content_row.youtube_url %}
<section class="main-padding secondary-bg video--section" data-aos="fade">
	<div class="container-sm container-sm-pd-lr">
		{% if content_row.youtube_url %}
		<div class="hd-text-center">
            <h2 class="title">{{content_row.youtube_video_heading}}</h2>
		   </div>
		{% endif %}
		<div class="video-ifram">
			<iframe width="100%" height="550" title="{{content_row.youtube_video_heading}}" src="{{content_row.youtube_url}}?rel=0"></iframe>
			<!-- <img src="{{ site.theme.link }}/assets/img/video-img.jpg" alt="" /> -->
		</div>
	</div>
</section>
{% endif %}