{% if content_row.show_our_services %}
<section class="our-services--section secondary-bg main-padding" data-aos="fade">
    <div class="container">
        {% if content_row.our_services_heading %}
         <div class="hd-text-center">
        <h2 class="title">{{content_row.our_services_heading}}</h2>
        </div>
       
        {% endif %}

        <div class="sevices-box-list custom-row">
            {% for service_item in getServices(post.id) %}

            <div class="service-single-box white-card">
                <a href="{{service_item.link}}">
                    <i><img src="{{ TimberImage(service_item.service_icon).src('src') }}" alt="{{ service_item.service_icon.alt }}"/></i>
                    <h4>{{service_item.service_title}}</h4>
                    <div class="desc--box">{{service_item.servcice_excerpt}}</div>
                    <div class="arrow-right"></div>

                </a>
            </div>

            {% endfor %}
        </div>
    </div>
</section>
{% endif %}