{% if content_row.icons_with_text_rows %}
<section class="value-section--3">
	<div class="container-sm">
	       <div class="hd-text-center">
            <h2 class="title">{{content_row.icons_with_text_heading}}</h2>
		   </div>
		   <div class="value-section--row custom-row">
        {% for content_box_row in content_row.icons_with_text_rows %}
		<div class="value-section-box--3">
		<div class="value-section-box">
				<i><img src="{{ TimberImage(content_box_row.icon).src('src') }}" alt="{{ content_box_row.icon.alt }}"/></i>
				<h4>{{content_box_row.title}}</h4>
				<div class="desc--box">{{content_box_row.copy_text}}</div>
		</div>
		</div>
		{% endfor %}
		</div>
	</div>
</section>
{% endif %}