<section class="back-to-section">
    <div class="container-sm">
        <div class="back-to-inner" data-aos="fade">
            <a href="{{ content_row.cta.url}}" {% if content_row.cta.target %} target="{{content_row.cta.target}}" {% endif %}>{{content_row.cta.title}}</a>
        </div>
    </div>
</section>
