{% if content_row.copy_content_title or content_row.copy_content_text %}
<section class="top-sm-text-block main-pd-btm" data-aos="fade">
	<div class="container-sm container-sm-pd-lr">
		{% if content_row.copy_content_title %}
		<h2 class="copy-content-title">{{content_row.copy_content_title}}</h2>
		{% endif %}
		<div class="desc--box">
			{{content_row.copy_content_text}}
		</div>
	</div>
</section>
{% endif %}