{% if content_row.content_box_with_images_rows %}
<section class="tag-content-row main-padding gray-bg">
	{% for content_box_row in content_row.content_box_with_images_rows %}
	{% if loop.index%2 ==0 %}
	<div class="post-row post-row--secondary" data-aos="fade">
		
		<div class="post-row--content">
			<div class="container custom-row">
			<div class="post-row--img">
						{% if content_box_row.image %}
						<picture>
							<source media="(min-width:320px) and (max--width:567px)" srcset="{{ TimberImage(content_box_row.image).src('block-static-thumb-mobile')}}">
							<img src="{{ TimberImage(content_box_row.image).src('block-static-thumb')}}" alt="{{ TimberImage(content_box_row.image).alt}}">
						</picture>
						{% endif %}
					</div>
				<div class="post-row-content">
					<h4>{{content_box_row.title}}</h4>
					<div class="desc--box">
						{{content_box_row.content}}
					</div>

					{% if content_box_row.cta_link%}
					<div class="btn-set--right"><a href="{{content_box_row.cta_link.url}}" class="secondary-outline--btn">{{content_box_row.cta_link.title}}</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% else %}
		<div class="post-row post-row--primary" data-aos="fade">
			
			<div class="post-row--content">
				<div class="container custom-row">
				<div class="post-row--img">
				{% if content_box_row.image %}
				<picture>
					<source media="(min-width:320px) and (max--width:567px)" srcset="{{ TimberImage(content_box_row.image).src('block-static-thumb-mobile')}}">
				<img src="{{ TimberImage(content_box_row.image).src('block-static-thumb')}}" alt="{{ TimberImage(content_box_row.image).alt}}">
				</picture>
				{% endif %}
			</div>
					<div class="post-row-content">
						<h4>{{content_box_row.title}}</h4>
						<div class="desc--box">
							{{content_box_row.content}}
						</div>
						{% if content_box_row.cta_link%}
						<div class="btn-set--right"><a href="{{content_box_row.cta_link.url}}" class="secondary-outline--btn">{{content_box_row.cta_link.title}}</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
</section>
{% endif %}
