{% if content_row.static_content_solutions_rows %}
<section class="static-content-solutions-row">
	{% for content_box_row in content_row.static_content_solutions_rows %}
	{% if loop.index%2 ==0 %}

	
	<div class="full-view-intro">
		
		<div class="full-view-intro--content">
			<div class="container-sm">
				<div class="full-view-intro-content">
					<h2 class="title">{{content_box_row.title}}</h2>
					<div class="desc--box">
						{{content_box_row.content}}
					</div>

					{% if content_box_row.cta_link%}
					<div class="btn-set--right"><a href="{{content_box_row.cta_link.url}}" class="secondary-outline--btn">{{content_box_row.cta_link.title}}</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% else %}


		<div class="full-view-intro opp-top-mrgn">
			<div class="full-view-intro--img">
				{% if content_box_row.image %}
				<picture>
					<source media="(min-width:320px) and (max--width:567px)" srcset="{{ TimberImage(content_box_row.image).src('block-static-thumb-mobile')}}">
				<img src="{{ TimberImage(content_box_row.image).src('full-view-intro')}}" alt="{{ TimberImage(content_box_row.image).alt}}">
				</picture>
				{% endif %}
			</div>
			<div class="full-view-intro--content">
				<div class="container-sm container-sm-pd-lr">
					<div class="full-view-intro-content">
					
				     <h2 class="title">{{content_box_row.title}}</h2>
		            
					
						<div class="desc--box">
							{{content_box_row.content}}
						</div>
						{% if content_box_row.cta_link%}
						<div class="btn-set--left"><a href="{{content_box_row.cta_link.url}}" class="white-btn">{{content_box_row.cta_link.title}}</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
</section>
{% endif %}