{% if content_row.static_content_box_rows %}
<section class="support--section">
	{% for content_box_row in content_row.static_content_box_rows %}
	{% if loop.index%2 ==1 %}
	<div class="support-section--row">
		<div class="support-view--img">
		{% if content_box_row.image %}
				<picture>
					<source media="(min-width:320px) and (max--width:567px)" srcset="{{ TimberImage(content_box_row.image).src('full-view-support')}}">
					<img src="{{ TimberImage(content_box_row.image).src('full-view-support')}}" alt="{{ TimberImage(content_box_row.image).alt}}">
				</picture>
				{% endif %}
		</div>
		<div class="support-view--content">
		<div class="container custom-row">
				<div class="support-view-content">
					<h3 class="title">{{content_box_row.title}}</h3>
					<div class="desc--box">
						{{content_box_row.content}}
					</div>

					{% if content_box_row.cta_link%}
					<div class="btn-set--center"><a href="{{content_box_row.cta_link.url}}" class="primary-btn">{{content_box_row.cta_link.title}}</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
    </div>

		{% else %}

<div class="support-section--row">
		<div class="support-view--img">
		{% if content_box_row.image %}
				<picture>
					<source media="(min-width:320px) and (max--width:567px)" srcset="{{ TimberImage(content_box_row.image).src('block-static-thumb-mobile')}}">
					<img src="{{ TimberImage(content_box_row.image).src('block-static-thumb')}}" alt="{{ TimberImage(content_box_row.image).alt}}">
				</picture>
				{% endif %}
		</div>
		<div class="support-view--content">
		<div class="container custom-row">
				<div class="support-view-content">
					<h3 class="title">{{content_box_row.title}}</h3>
					<div class="desc--box">
						{{content_box_row.content}}
					</div>

					{% if content_box_row.cta_link%}
					<div class="btn-set--center"><a href="{{content_box_row.cta_link.url}}" class="primary-btn">{{content_box_row.cta_link.title}}</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
    </div>

{% endif %}
			{% endfor %}
</section>
{% endif %}