{% if content_row.image_gallery_rows %}
<div class="blog-details-gallery img-gallery main-pd-btm">
    <div class="container">
     {% if content_row.image_gallery_title %}
    <h2>{{content_row.image_gallery_title}}</h2>
     {% endif %}
        <ul>
            {% for gallery in content_row.image_gallery_rows %}
             {% if gallery.image %}
            <li data-aos="fade-up">
            <a data-fancybox="gallery"  data-src="{{ TimberImage(gallery.image).src('src')}}" class="fancybox">
            <img src="{{ TimberImage(gallery.image).src('thumbnail')}}" alt="" />
           
            </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}