{% if content_row.case_studies_list %}

	<section class="home-projects-section">
		<div class="container">
			<div class="section-hd" data-aos="fade-up">
				<h2>{{content_row.heading}}</h2>
			</div>
			<div class="projects-row">
				{% for item in content_row.case_studies_list %}
					{% set project = get_post(item.case_study) %}
					{% set service_image = project.thumbnail %}

					<div class="projects-box" data-aos="fade-up">
						<div class="projects-box-in">
							<a href="{{project.link}}">
								<div class="projects-img">
									<picture>
										<source media="(min-width: 768px) and (max-width: 991px)" srcset="{{service_image.src('project_box_img')}}">
										<source media="(min-width: 568px) and (max-width: 767px)" srcset="{{service_image.src('project_box_img')}}">
										<source media="(min-width: 320px) and (max-width: 567px)" srcset="{{service_image.src('project_box_img')}}">
										<img src="{{service_image.src('project_box_img')}}" alt="{{project.title}}">
									</picture>
								</div>
								<div class="projects-content">
									<div class="projects-content-in">
									
										<h3>{{project.title}}</h3>
										<strong>{{project.location}}</strong>
									</div>
								</div>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="btn-set--right margin-top-4">
				<a href="{{site.link}}/projects/" class="secondary-btn">
					<span>See all projects
					</span>
					<i></i>
				</a>
			</div>
		</div>
	</section>
{% endif %}
