{% if content_row.service_row %}

	<section class="home-services-section" data-aos="fade-up">
		<div class="container">
			<div class="section-hd">
				<h2>{{content_row.heading}}</h2>
			</div>
			<div class="home-services-row">
				<ul>
					{% for workdo in content_row.service_row %}
						<li>
							<a href="javascript:void()">
								<h3>{{workdo.title}}</h3>
								<div class="home-services-icon">
									<img src="{{workdo.icon}}" alt="{{workdo.title}}"/>
								</div>
								<div class="desc">
									{{workdo.content}}
								</div>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			{% if content_row.discover_more_cta %}
				<div class="btn-set--right margin-top-3">
					<a href="{{content_row.discover_more_cta.url}}" class="secondary-btn">
						<span>{{content_row.discover_more_cta.title}}</span>
						<i></i>
					</a>
				</div>
			{% endif %}
		</div>
	</section>
{% endif %}
