{% if content_row.case_study %}
{% set case_study = get_post(content_row.case_study) %}
{% set case_study_image = get_image(case_study.thumbnail) %}
	<section class="branding-case-study-section aos-init aos-animate" data-aos="fade-up">
		<div class="container-sm">
			<h2 class="line">{{content_row.heading}}</h2>
			<div class="branding-case-study-row">
				<div class="custom-row">
					<div class="branding-case-study-img">
						<picture>
							<source media="(min-width: 768px) and (max-width: 991px)" srcset="{{case_study_image.src('large')}}">
							<source media="(min-width: 568px) and (max-width: 767px)" srcset="{{case_study_image.src('large')}}">
							<source media="(min-width: 320px) and (max-width: 567px)" srcset="{{case_study_image.src('large')}}">
							<img src="{{case_study_image.src('large')}}" alt="{{case_study.title}}">
						</picture>
					</div>
					<div class="branding-case-study-content">
						<h3>{{case_study.post_title}}</h3>
						<div class="desc">
							{{case_study.excerpt.read_more(0)}}
						</div>
						<div class="btn-set--right">
							<a href="{{case_study.link}}" class="primary-btn">
								READ MORE<i>&gt;</i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
