{% if content_row.content_row %}
	<section class="there-for-you-section">
		<div class="container">
			<div class="section-hd">
				<h2>{{content_row.heading}}</h2>
			</div>
			<div class="there-for-you-row">

				{% for service in content_row.content_row %}

                {% set service_image = get_image(service.image) %}
					{% if (loop.index+1) %2 ==0 %}
						<div class="there-for-you-box row-reverse" data-aos="fade-up">
							<div class="there-for-you-box-content">
								<h4>{{service.title}}</h4>
								<div class="desc">
									{{service.content}}
								</div>
								 {% if service.cta %}
								<div class="btn-set--left margin-top-4">
									<a href="{{service.cta.url}}" class="secondary-btn">
										<span>{{service.cta.title}}</span>
										<i></i>
									</a>
								</div>
                                {% endif %}
							</div>
							<div class="there-for-you-box-img">
								<picture>
									<source media="(min-width: 768px) and (max-width: 991px)" srcset="{{service_image.src('service_image')}}">
									<source media="(min-width: 568px) and (max-width: 767px)" srcset="{{service_image.src('service_image')}}">
									<source media="(min-width: 320px) and (max-width: 567px)" srcset="{{service_image.src('service_image')}}">
									<img src="{{service_image.src('service_image')}}" alt="{{service.title}}">
								</picture>
							</div>

						</div>
					{% else %}
						<div class="there-for-you-box" data-aos="fade-up">
							<div class="there-for-you-box-content">
								<h4>{{service.title}}</h4>
								<div class="desc">
									{{service.content}}
								</div>

                                {% if service.cta %}
								<div class="btn-set--left margin-top-4">
									<a href="{{service.cta.url}}" class="secondary-btn">
										<span>{{service.cta.title}}</span>
										<i></i>
									</a>
								</div>
                                {% endif %}
							</div>
							<div class="there-for-you-box-img">
								<picture>
									<source media="(min-width: 768px) and (max-width: 991px)" srcset="{{service_image.src('service_image')}}">
									<source media="(min-width: 568px) and (max-width: 767px)" srcset="{{service_image.src('service_image')}}">
									<source media="(min-width: 320px) and (max-width: 567px)" srcset="{{service_image.src('service_image')}}">
									<img src="{{service_image.src('service_image')}}" alt="{{service.title}}">
								</picture>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
