{% if content_row.why_with_us_items %}

	<section class="home-services-section aos-init aos-animate" data-aos="fade-up">
		<div class="container">

			{% if content_row.heading %}
				<div class="section-hd">
					<h2>{{content_row.heading}}</h2>
				</div>
			{% endif %}

			<div class="home-services-row">
				<ul>

					{% for why_with_us_item in content_row.why_with_us_items %}
						<li>
							<h3>{{why_with_us_item.title}}
							</h3>
							<div class="home-services-icon"><img src="{{why_with_us_item.icon}}" alt="{{why_with_us_item.title}}">
							</div>
							<div class="desc">
								{{why_with_us_item.description}}
							</div>
						</li>
					{% endfor %}

				</ul>
			</div>


		</div>
	</section>

{% endif %}
