{% if content_row.service_row %}

	<section class="what-we-do-section">
		<div class="container">
			<div class="section-hd" data-aos="fade-up">
				<h2>{{content_row.heading}}</h2>
			</div>
			<div class="what-we-do-row">

				{% for service_single in content_row.service_row %}
					{% set service_image = get_image(service_single.image) %}
					{% if (loop.index+1)%2 ==0 %}
						<div class="what-we-do-box" data-aos="fade-up">
							<div class="what-we-do-box-content">
								<div class="what-we-do-hd">
									<i><img src="{{service_single.image_copy}}" alt="{{service_single.title}}"></i>
									<h4>{{service_single.title}}</h4>
								</div>
								<div class="desc">
									{{service_single.content}}
								</div>
							</div>
							<div class="what-we-do-box-img">
								<picture>
									<source media="(min-width: 768px) and (max-width: 991px)" srcset="{{service_image.src('service_image')}}">
									<source media="(min-width: 568px) and (max-width: 767px)" srcset="{{service_image.src('service_image')}}">
									<source media="(min-width: 320px) and (max-width: 567px)" srcset="{{service_image.src('service_image')}}">
									<img src="{{service_image.src('service_image')}}" alt="Flowers">
								</picture>
							</div>
						</div>
					{% else %}

						<div class="what-we-do-box row-reverse" data-aos="fade-up">
							<div class="what-we-do-box-content">
								<div class="what-we-do-hd">
									<i><img src="{{service_single.image_copy}}" alt="{{service_single.title}}"></i>
									<h4>{{service_single.title}}</h4>
								</div>
								<div class="desc">
									{{service_single.content}}
								</div>
							</div>
							<div class="what-we-do-box-img">
								<picture>
									<source media="(min-width: 768px) and (max-width: 991px)" srcset="{{service_image.src('gallery_thumb')}}">
									<source media="(min-width: 568px) and (max-width: 767px)" srcset="{{service_image.src('gallery_thumb')}}">
									<source media="(min-width: 320px) and (max-width: 567px)" srcset="{{service_image.src('gallery_thumb')}}">
									<img src="{{service_image.src('gallery_thumb')}}" alt="{{service_single.title}}">
								</picture>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
