{% if content_row.show_services %}
	<section class="who-we-work-with-section" data-aos="fade-up">
		<div class="container-sm">
			<h2 class="line">
				{{content_row.services_title}}</h2>
		</div>
		<div class="who-we-work-row">
			<ul>
				{% for child in content_row.who_we_work_list %}
					{% set currentItem = get_post(child.item) %}
					<li>
						<img src="{{get_image(currentItem.thumbnail).src('medium')}}" alt=""/>

						<div class="who-we-work-row-content">
							<h3>
								<a href="{{currentItem.path}}">{{currentItem.title}}</a>
							</h3>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
{% endif %}
