{% if post.get_field('featured_case_studies_group_case_studies')%}
<div class="case-studies-section main-padding gray-bg">
   {% if post.get_field('featured_case_studies_group_heading') %}
   <div class="line-hd white-line-hd line-left">
      <div class="container-sm" data-aos="fade-up">
         <h2><span class="trailing-line trailing-line--left trailing-line--primary">{{post.get_field('featured_case_studies_group_heading')}}</span></h2>
      </div>
   </div>
   {% endif %}
   {% set home_case_studies = getHomeCaseStudies(post.ID)%}
   <div class="container-sm">
      <div class="case-studies-row">
         {% if home_case_studies.list_left %}
         <div class="case-studies-col case-studies-col-left">
            <ul>
            {% for case_study in home_case_studies.list_left %}
            {% if (loop.index+1)%2 ==0 %}
            <li data-aos="fade-up">
               <div class="case-studies-box">
                  <div class="case-studies-img">
                     <picture>
                        <source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb1') }}">
                        <source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}">
                        <source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}">
                        <img src="{{ TimberImage(case_study.thumbnail).src('case-study-thumb1') }}" alt="">
                     </picture>
                  </div>
                  <div class="case-studies-content">
                     <a href="{{case_study.path}}">
                        <div class="north-east-white-arrow"></div>
                        <h4>{{case_study.title}}</h4>
                     </a>
                  </div>
               </div>
            </li>
            {% else %}
            <li data-aos="fade-up">
               <div class="case-studies-box">
                  <div class="case-studies-img">
                     <picture>
                        <source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb1') }}">
                        <source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}">
                        <source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}">
                        <img src="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}" alt="">
                     </picture>
                  </div>
                  <div class="case-studies-content">
                     <a href="{{case_study.path}}">
                        <div class="north-east-white-arrow"></div>
                        <h4>{{case_study.title}}</h4>
                     </a>
                  </div>
               </div>
            </li>
            {% endif %}   
            {% endfor %}
            </ul>
         </div>
         {% endif %}
         {% if home_case_studies.list_right %}
         <div class="case-studies-col case-studies-col-right">
            <ul>
               {% for case_study in home_case_studies.list_right %}
                    {% if (loop.index+1)%2 ==0 %}
                    <li data-aos="fade-up">
                        <div class="case-studies-box">
                            <div class="case-studies-img">
                                <picture>
                                <source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb1') }}">
                                <source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}">
                                <source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}">
                                <img src="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}" alt="" />
                                </picture>
                            </div>
                            <div class="case-studies-content">
                                <a href="{{case_study.path}}">
                                <div class="north-east-white-arrow"></div>
                                <h4>{{case_study.title}}</h4>
                                </a>
                            </div>
                        </div>
                    </li>
                    {% else %}
                    <li data-aos="fade-up">
                        <div class="case-studies-box">
                            <div class="case-studies-img">
                                <picture>
                                <source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb1') }}">
                                <source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}">
                                <source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}">
                                <img src="{{ TimberImage(case_study.thumbnail).src('case-study-thumb1') }}" alt="">
                                </picture>
                            </div>
                            <div class="case-studies-content">
                                <a href="{{case_study.path}}">
                                <div class="north-east-white-arrow"></div>
                                <h4>{{case_study.title}}</h4>
                                </a>
                            </div>
                        </div>
                    </li>
                    {% endif %}   
               {% endfor %}
               <li class="view-all-card" data-aos="fade-up">
                  <div class="case-studies-box">
                     <div class="case-studies-content">
                        <a href="{{site.link}}/case-studies/">
                           <div class="north-east-white-arrow"></div>
                           <h5>VIEW ALL CASE STUDIES</h5>
                        </a>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
         {% endif %}
      </div>
   </div>
</div>
{% endif %}