{% if content_row.content_with_image_rows %}
    <div class="img-text-card-section white-bg main-padding">
            <div class="container">
               {% for block_row in content_row.content_with_image_rows %}
                    {% if (loop.index+1)%2 ==0 %}
                    <div class="img-text-card-row img-text-card-left" data-aos="fade-up">
                        <div class="img-text-card-img">
                            <img src="{{ TimberImage(block_row.image).src('block-image-thumb') }}" alt="">
                        </div>
                        <div class="img-text-card-content">
                            <h3>{{block_row.title}}</h3>
                            <div class="img-text-card-txt ul-col {% if block_row.content_layout=='two-col' %} ul-col-2 {% endif %}">
                               {{block_row.content}}
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="img-text-card-row img-text-card-right" data-aos="fade-up">
                        <div class="img-text-card-img">
                            <img src="{{ TimberImage(block_row.image).src('block-image-thumb') }}" alt="">
                        </div>
                        <div class="img-text-card-content">
                            <h3>{{block_row.title}}</h3>
                            <div class="img-text-card-txt ul-col {% if block_row.content_layout=='two-col' %} ul-col-2 {% endif %}">
                                {{block_row.content}}
                            </div>
                        </div>
                    </div>
                    {% endif %}
               {% endfor %} 
            </div>
    </div>
{% endif %}
