{% if content_row.image %}
<section class="book-now-section secondary-bg aos-init aos-animate" data-aos="fade-up">
	<div class="container-sm">
		<div class="custom-row">
			<div class="book-now-section-img">
				<picture>
					
					<img src="{{get_image(content_row.image).src('src')}}" alt="">
				</picture>
			</div>
			<div class="book-now-section-right">
				<h3>{{content_row.heading}}</h3>
				<div class="white-bg-btn">
					<a href="{{content_row.book_now_cta.url}}">book now</a>
                    </div>
				<div class="simple-link margin-top-2">
					<a href="{{content_row.find_more_cta.url}}">Or find out more here &gt;</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}