{% set case_studies =getCaseStudies() %}
{% if case_studies.list_left or case_studies.list_right %}
<div class="case-studies-section main-padding gray-bg" >
    
    <div class="container-sm">
        
        <div class="case-studies-row">
           
            <div class="case-studies-col case-studies-col-left">
                <ul>
                    {% for case_study in case_studies.list_left %}

                            {% if (loop.index+1)%2 ==0 %}
                            <li data-aos="fade-up">
                                <div class="case-studies-box">
                                    <div class="case-studies-img">
                                        <picture>
                                            <source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb1') }}">
                                            <source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}">
                                            <source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}">
                                            <img src="{{ TimberImage(case_study.thumbnail).src('case-study-thumb1') }}" alt="">
                                        </picture>
                                    </div>
                                    <div class="case-studies-content">
                                        <a href="{{case_study.path}}">
                                            <div class="north-east-white-arrow"></div>
                                            <h4>{{case_study.title}}</h4>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            {% else %}

                            <li data-aos="fade-up">
                                <div class="case-studies-box">
                                    <div class="case-studies-img">
                                        <picture>
                                            <source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb1') }}">
                                            <source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}">
                                            <source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}">
                                            <img src="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}" alt="">
                                        </picture>
                                    </div>
                                    <div class="case-studies-content">
                                        <a href="{{case_study.path}}">
                                            <div class="north-east-white-arrow"></div>
                                            <h4>{{case_study.title}}</h4>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            {% endif %}   
                    {% endfor %}
                   
                </ul>
            </div>
            <div class="case-studies-col case-studies-col-right">
                <ul>
                    {% for case_study in case_studies.list_right %}

                        {% if (loop.index+1)%2 ==0 %}
                    <li data-aos="fade-up">
                        <div class="case-studies-box">
                            <div class="case-studies-img">
                                <picture>
                                    <source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb1') }}">
                                    <source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}">
                                    <source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}">
                                    <img src="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}" alt="" />
                                </picture>
                            </div>
                            <div class="case-studies-content">
                                <a href="{{case_study.path}}">
                                    <div class="north-east-white-arrow"></div>
                                    <h4>{{case_study.title}}</h4>
                                </a>
                            </div>
                        </div>
                    </li>
                      {% else %}

                    <li data-aos="fade-up">
                        <div class="case-studies-box">
                            <div class="case-studies-img">
                                <picture>
                                    <source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb1') }}">
                                    <source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}">
                                    <source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(case_study.thumbnail).src('case-study-thumb2') }}">
                                    <img src="{{ TimberImage(case_study.thumbnail).src('case-study-thumb1') }}" alt="">
                                </picture>
                            </div>
                            <div class="case-studies-content">
                                <a href="{{case_study.path}}">
                                    <div class="north-east-white-arrow"></div>
                                    <h4>{{case_study.title}}</h4>
                                </a>
                            </div>
                        </div>
                    </li>

                     {% endif %}   

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}