{% if content_row.testimonial_list %}
	<section class="client-section">
		<div class="container-sm">
			<h4>{{content_row.heading}}</h4>

			<div class="testimonials-list">
				{% for review in content_row.testimonial_list %}
					<div class="testimonials-list-single">
						<div class="client-txt">“{{review.review_content}}”</div>
						{# <div class="review-info">
							<strong>{{review.review_author}}</strong>
							{% if review.review_author_role %}
								<span>{{review.review_author_role}}</span>
							{% endif %}
						</div> #}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
