{% if content_row.our_trusted_items  %}
	<section class="our-trusted-section" data-aos="fade-up">
		<div class="container">
			<div class="section-hd">
				<h2>{{content_row.heading}}</h2>
			</div>
			<div class="sub-text">
				<div class="desc">
					{{content_row.content}}
				</div>
			</div>
			<div class="trusted-row">
				{% for item in content_row.our_trusted_items %}
					<div class="trusted-box">
						<h4>{{item.title}}</h4>
						<div class="desc">
							{{item.description}}
						</div>
						<div class="contact-info">
							<ul>
								{% if item.email %}
									<li>
										<a href="mailto:{{item.email}}">{{item.email}}</a>
									</li>
								{% endif %}
								{% if item.telephone %}
									<li>
										<a href="tel:{{item.telephone}}">{{item.telephone}}</a>
									</li>
								{% endif %}
							</ul>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
