{% if content_row.copy_content_title or content_row.copy_content_text %}
	<section class="welcome-section" data-aos="fade-up">
		<div class="container">
			<div class="custom-row">
				<div class="welcome-section-left">
					{% if content_row.copy_content_title %}
						<h2>{{content_row.copy_content_title}}</h2>
					{% endif %}
				</div>
				<div class="welcome-section-right">
					<div class="desc">
						{{content_row.copy_content_text}}</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section-divider" data-aos="fade-up">
		<div class="section-divider-in">
			<span><img src="{{theme.link}}/assets/img/logo page divider.svg" alt=""/></span>
		</div>
	</section>
{% endif %}
