{% if content_row.full_image %}
<div class="full-img-section">
    <picture>
        <source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(content_row.full_image).src('src') }}">
        <source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(content_row.full_image).src('src') }}">
        <img src="{{ TimberImage(content_row.full_image).src('src') }}" alt="">
    </picture>
</div>
{% endif %}