html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $primaryfontfaimly;
    font-weight: 300;
    @include background($white);
    @include padding(0px, 0, 0, 0);
    margin: 0px;
    font-size: $font-size-base;
    color: $primary-color;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

p {
    line-height: $line-height;
}

a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: $secondary-color;
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
input{
    -webkit-appearance: none;
    opacity: 1,
}

button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}

.container-fluid {
    max-width: 100%;
    width: calc(100% - 6rem);
    padding: 0 1rem;
    margin: auto;
}

.container-lg {
    max-width: 100%;
    width: calc(100% - 4rem);
    margin: auto;
    @include breakpoint(ipad_landscape){
        width: calc(100% - 3rem);
    }
    @include breakpoint(ipad_portrait){
        width: calc(100% - 2rem);
    }
    @include breakpoint(mobile){
        width: calc(100% - 2rem);
    }
}

.gallery-container {
    max-width: 100%;
    width: calc(100% - 6rem);
    padding: 2.5rem 1rem 0;
    margin: auto;

    @include breakpoint(ipad_landscape){
        width: calc(100% - 4rem);
    }

    @include breakpoint(ipad_portrait){
        width: calc(100% - 3rem);
    }
    
    @include breakpoint(mobile){
        max-width: 100%;
        width: calc(100% - 1rem);
        margin: auto;
    }
}

.container {
    max-width: 100%;
    width: calc(100% - 12rem);
    margin: auto;
    @include breakpoint(ipad_landscape){
        width: calc(100% - 8rem);
    }
    
    @include breakpoint(ipad_portrait){
        width: calc(100% - 4rem);
    }

    @include breakpoint(mobile){
        width: calc(100% - 2rem);
    }
}
.post-row--content{
    .container {
        @include breakpoint(big_screen) {
            max-width: 1380px;
            margin: auto;
            width: auto;
        }
       
    } 
}

.container-sm {
    max-width: 100%;
    width: calc(100% - 24rem);
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(big_screen) {
        max-width: 1100px;
        margin: auto;
        width: auto;
    }
    @include breakpoint(ipad_landscape){
        width: calc(100% - 12rem);
    }
    
    @include breakpoint(ipad_portrait){
        width: calc(100% - 4rem);
    }

    @include breakpoint(mobile){
        width: calc(100% - 2rem);
    }
    
}
.main-review-section{
    .container-sm {
        padding-left: 5rem;
        padding-right: 5rem;
        @include breakpoint(mobile){
            padding-left: 0rem;
            padding-right: 0rem;
        }
    }  
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
}

.section-tp-bt-pd {
    padding-top: $main-pd;
    padding-bottom: $main-pd;
}

.content-box-lt-pd {
    padding-left: 10%;
    @include breakpoint(mobile){
        padding-left: 0%;
    }
}

.light-orange--bg {
    background-color: $light-orange;
}

.white--bg {
    background-color: $white;
}

.gray--bg {
    background-color: $gray-color;
}

.purple--bg {
    background-color: $secondary-color;
}

.dark--bg {
    background-color: $primary-color;
}

.desc--box {
    p {
        @include breakpoint(mobile_portrait){
            br{
                display: none;
            }
        }
        &:last-child {
            margin: 0px;
        }
    }
}
.fancybox__caption{
    padding: 0px;
    z-index: 21;
    background-color: $light-orange;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: #fff;
}

.hide-desktop{
    display: none;
    @include breakpoint(mobile) {
        display: block;
    }
}
.hide-mobile{
    @include breakpoint(mobile) {
        display: none;
    }  
}

.mobile-landscape-show{
    display: none;
    @include breakpoint(mobile_landscape){
        display: block;
    }
}
.mobile-landscape-hide{
    @include breakpoint(mobile_landscape){
        display: none !important;
    }
}