%left-space {
    padding-left: 9%;

    @include breakpoint(desktop3) {
        padding-left: 3%;
    }

    @include breakpoint(ipad_landscape) {
        padding-left: 3%;
    }

    @include breakpoint(ipad_portrait) {
        padding-left: 0;
    }

    @include breakpoint(mobile_portrait) {
        padding-left: 0;
    }
}

%box-width {
    width: 28%;
}

%font-size {
    font-size: 1rem;

    @include breakpoint(mobile) {
        font-size: 0.8rem;
    }
}



.main-footer {
    background-color: $white;
    padding: 3rem 0;
    font-size: 1rem;
    font-weight: 400;

    .custom-row {
        @include breakpoint(ipad_portrait) {
            align-items: self-start;
        }
    }

    .container {
        @include breakpoint(desktop3) {
            width: calc(100% - 3rem);
        }

        @include breakpoint(ipad_landscape) {
            width: calc(100% - 3rem);
        }

        @include breakpoint(ipad_portrait) {
            width: calc(100% - 15rem);
        }

        @include breakpoint(mobile_landscape) {
            width: calc(100% - 7rem);
        }

        @include breakpoint(mobile_portrait) {
            width: calc(100% - 2rem);
        }
    }

    h4 {
        margin: 0 0 1rem 0;
        color: $primary-color;
        font-weight: 800;
        font-size: 1.7rem;

        @include breakpoint(ipad_portrait) {
            font-size: 1.4rem;
        }

        @include breakpoint(mobile) {
            font-size: 1.3rem;
        }
    }

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    .footer-logo {
        width: 157px;
        margin-top: 17px;

        @include breakpoint(desktop3) {
            width: 15%;
        }

        @include breakpoint(ipad_landscape) {
            width: 15%;
        }

        @include breakpoint(ipad_portrait) {
            width: 45%;
            margin-top: 17px;
        }

        @include breakpoint(mobile) {
            width: 45%;
            margin-top: 17px;
        }

        img {
            width: 100%;
            height: auto;
            display: block;

            @include breakpoint(ipad_portrait) {
                width: 110px;
            }

            @include breakpoint(mobile) {
                width: 110px;
            }
        }
    }

    .footer-get-touch {
        @extend %box-width;
        @extend %left-space;

        @include breakpoint(ipad_portrait) {
            width: 45%;
            margin-left: auto;

        }

        @include breakpoint(mobile) {
            width: 49%;
            margin-left: auto;

        }



        ul {
            li {
                color: $text-color;
                @extend %font-size;

                &:last-child {
                    margin-top: 1.6rem;
                }


                a {
                    display: block;
                    color: $text-color;
                    @extend %font-size;
                    margin-bottom: 8px;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    .footer-quick-links {
        @extend %box-width;
        @extend %left-space;

        @include breakpoint(ipad_portrait) {
            width: 45%;
            margin-top: 3rem;
            margin-left: auto;

        }

        @include breakpoint(mobile) {
            width: 49%;
            margin-top: 3rem;
            margin-left: auto;

        }


        ul {
            li {
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0px;
                }

                a {
                    display: block;
                    color: $text-color;
                    @extend %font-size;
                    text-transform: uppercase;

                    &:hover {
                        color: $secondary-color;
                    }
                }

                &.menu-item-has-children {
                    #subMenu {
                        display: inline-block;
                    }

                    .sub-menu-toggle {
                        background: url("#{$assetIconsPath}/arrow-right-gray.svg") no-repeat center center;
                        height: 14px;
                        border: 0px;
                        padding: 0px;
                        cursor: pointer;
                        width: 13px;
                        margin: 0;
                        margin-left: 4px;
                        display: inline-block;
                        vertical-align: middle;
                        @-moz-document url-prefix() {
                            margin-top:-2px;
                        }
                    }

                    ul {
                        display: none;
                    }

                    &.menu-item-has-children.submenu-expanded {
                        .sub-menu-toggle {
                            background: url("#{$assetIconsPath}/arrow-bottom-gray.svg") no-repeat center center;
                            width: 17px;
                        }

                        ul {
                            display: block;
                            padding: 10px 0 10px 10px;

                            li {
                                a {
                                    text-transform: lowercase
                                }
                            }
                        }
                    }

                }

            }
        }
    }

    .footer-connect {
        @extend %box-width;
        @extend %left-space;

        @include breakpoint(ipad_portrait) {
            width: 45%;
            margin-left: 0;
            margin-top: 3rem;
            padding-left: 0px;
        }

        @include breakpoint(mobile) {
            width: 45%;
            margin-left: 0;
            margin-top: 3rem;
            padding-left: 0px;
        }



        .website-by {
            margin-top: 43px;
            @extend %font-size;

            a {
                display: block;
                margin-top: 3px;
                @extend %font-size;
                color: $primary-color;

                &:hover {
                    color: $secondary-color;
                }
            }
        }

        .connect-icom {

            ul {
                display: flex;

                li {
                    margin-right: 1rem;

                    &:last-child {
                        margin-right: 0px;
                    }

                    a {
                        width: 45px;
                        height: 45px;
                        display: block;
                        border: 1px $primary-color solid;
                        border-radius: 100px;

                        @include breakpoint(mobile) {
                            width: 40px;
                            height: 40px;
                        }

                        &.instagram-icom {
                            background: url("#{$assetIconsPath}/Insta teal.svg") no-repeat center center;
                            background-size: 56%;
                        }

                        &.x-icon {
                            background: url("#{$assetIconsPath}/X teal.svg") no-repeat center center;
                            background-size: 56%;
                        }

                        &.linkedIn-icom {
                            background: url("#{$assetIconsPath}/Linkedin teal.svg") no-repeat center center;
                            background-size: 56%;
                        }

                        &:hover {
                            border-color: $secondary-color;

                            &.instagram-icom {
                                background: url("#{$assetIconsPath}/Insta orange.svg") no-repeat center center;
                                background-size: 56%;
                            }

                            &.x-icon {
                                background: url("#{$assetIconsPath}/X orange.svg") no-repeat center center;
                                background-size: 56%;
                            }

                            &.linkedIn-icom {
                                background: url("#{$assetIconsPath}/Linkedin orange.svg") no-repeat center center;
                                background-size: 56%;
                            }
                        }
                    }
                }
            }
        }
    }

}