.main-header {
  padding: 1.5rem 0;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;

  &.show-header {
    display: block;
  }

  @include breakpoint(mobile_nav) {
    padding: 1rem 0;
  }

  .custom-row {
    align-items: center;
  }

  .logo {
    width: 96px;

    

    @include breakpoint(mobile_nav) {
      width: 55px;
    }

    a {
      display: block;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }

  .nav-right {
    margin-left: auto;

    @include breakpoint(mobile_nav) {
      display: none;
    }
  }
}

.nav-right {
  ul {
    @include ul;
    display: flex;

    li {
      margin: 0;
      padding: 0 20px 0 40px;

      @include breakpoint(ipad_landscape) {
        padding: 0 0 0 40px;
      }

      &:first-child {
        margin-left: 0px;
      }

      a {
        display: block;
        color: $white;
        @extend %mainMenuFont;
        font-weight: 600;

        &:hover {
          color: $primary-color;
          @include breakpoint(mobile_nav){
            color: $white ;
          }
        }
      }


      &.menu-item-has-children {
        position: relative;
        padding-right: 20px;

        .sub-menu-toggle {
          background: url("#{$assetIconsPath}/arrow-right-white.svg") no-repeat center center;
          height: 15px;
          border: 0px;
          padding: 0px;
          cursor: pointer;
          width: 10px;
          margin: 0;
          display: inline;
          position: absolute;
          top: 6px;
          right: 0;
        }
      }

      &.current_page_item {
        a {
          color: $primary-color;
        }

        ul li a {
          color: $gray-color;
        }
      }

      &.current_page_parent {

        a.link-has-childern,
        a.link-no-childern {
          color: $primary-color;
        }

        .sub-menu-toggle {
          background: url("#{$assetIconsPath}/arrow-right-teal.svg") no-repeat center center !important;
        }

        ul li {
          a.link-no-childern {
            color: $gray-color;

            &:hover {
              color: $white;
            }
          }
        }

        ul li.current-menu-item a {
          color: $white;
        }
      }

      ul {
        position: absolute;
        top: 18px;
        left: 26px;
        width: 240px;
        display: none;
        padding: 54px 0 0 0;

        li {
          margin: 0px;
          padding: 0.5rem 1.6rem;
          background: $primary-color;

          &:first-child {
            padding-top: 35px;
          }

          &:last-child {
            padding-bottom: 35px;
          }

          a {
            display: block;
            color: $gray-color;
            @extend %mainSubMenuFont;

            &:hover {
              color: $white;
            }
          }
        }
      }

      &.submenu-expanded {
        .sub-menu-toggle {
          background: url("#{$assetIconsPath}/arrow-bottom-white.svg") no-repeat center center;
          width: 21px;
          right: -7px;

        }

        ul {
          display: block;
        }
      }

      &.menu-item-has-children.submenu-expanded {
        .sub-menu-toggle {
          background: url("#{$assetIconsPath}/arrow-bottom-teal.svg") no-repeat center center !important;
          width: 21px;
          right: -7px;

        }

      }

      &:hover {
        &.menu-item-has-children {

          .sub-menu-toggle {
            background: url("#{$assetIconsPath}/arrow-right-teal.svg") no-repeat center center;

          }
        }
      }

    }
  }
}

.single-post,
.privacy-policy,
.header-scroll {
  .main-header {
    background-color: $white;
    padding: 12px 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    .logo{
      @include breakpoint(desktop3) {
        width: 70px;
      }
    }
  }

  .nav-right {
    ul {
      li {
        a {
          color: $gray-color;

          &:hover {
            color: $primary-color;
          }
        }

        ul {
          li {
            a {
              &:hover {
                color: $white;
              }
            }
          }
        }

        &.menu-item-has-children {
          .sub-menu-toggle {
            background: url("#{$assetIconsPath}/arrow-right-gray.svg") no-repeat center center;
          }

        }

        &.current_page_item {
          a {
            color: $primary-color;
          }

          ul li a {
            color: $gray-color;

          }
        }

        &.submenu-expanded {
          .sub-menu-toggle {
            background: url("#{$assetIconsPath}/arrow-bottom-teal.svg") no-repeat center center;
            width: 21px;
            right: -7px;

          }

        }

        &.menu-item-has-children.submenu-expanded {
          .sub-menu-toggle {
            background: url("#{$assetIconsPath}/arrow-bottom-teal.svg") no-repeat center center !important;
            width: 21px;
            right: -7px;

          }

        }

        &:hover {
          &.menu-item-has-children {

            .sub-menu-toggle {
              background: url("#{$assetIconsPath}/arrow-right-teal.svg") no-repeat center center;

            }
          }
        }
      }
    }
  }
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 40px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 25px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
  display: none;

  @include breakpoint(mobile_nav) {
    margin-left: auto;
    top: 0px;
    display: block;
  }

  span,
  span::before,
  span::after {
    text-align: right;
    cursor: pointer;
    border-radius: 0px;
    height: 3px;
    background-color: $white;
    position: absolute;
    display: block;
    content: "";
    transition: all 0.2s;
    outline: 0;
    right: 0px;
  }

  span {
    top: 15px;
    width: 30px;

    &::before {
      top: -10px;
      width: 40px;
    }

    &::after {
      bottom: -10px;
      width: 20px;
    }
  }
}

.menu-slide {
  .nav__toggle {
    span {
      background-color: transparent;
      width: 40px;

      &::before,
      &::after {
        top: 0;
        width: 40px;
        background-color: $white;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &:hover {
      span {
        background-color: transparent;

        &::before,
        &::after {
          background-color: $white;
        }
      }
    }
  }

  .nav-right {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: $primary-color;
    overflow: auto;
    left: 0px;
    top: 0px;
    padding: 0px;

    .nav-right-in {
      padding: 2rem 0 3rem;
      width: 100%;
      height: 100%;
      display: flex;
      overflow: auto;
      background: $primary-color;

      .nav-right-in-in {
        width: auto;
        margin: auto;

        ul {
          display: block;
          padding: 0;
          text-align: center;
          width: 100%;

          li {
            padding: 0;
            margin: 2rem 0;

            .sub-menu-toggle {
              right: -32px;
              @include breakpoint(ipad_portrait){
                top: 13px;
              }
            }

            a {
              font-size: 1.5rem;
              font-weight: 700;
              @include breakpoint(ipad_portrait){
                font-size: 2rem;
              }
            }

            ul {
              display: none;
              position: relative;
              padding: 0px;
              margin: 0px;
              top: 0px;
              left: 0px;

              li {
                margin: 1rem 0;

                a {
                  color: $white;
                  font-size: 1.2rem;
                  font-weight: 600;
                  @include breakpoint(ipad_portrait){
                    font-size: 1.5rem;
                  }
                }
              }
            }

            &:hover.menu-item-has-children .sub-menu-toggle {
              background: url("#{$assetIconsPath}/arrow-right-white.svg") no-repeat center center;
              
            }

            &.submenu-expanded {
              .sub-menu-toggle {
                background: url("#{$assetIconsPath}/arrow-bottom-white.svg") no-repeat center center !important;
                width: 20px;
              }

              ul {
                display: block;
              }
            }

            &.current_page_item {
              a {
                color: $gray-color;
              }

              .sub-menu-toggle {}

              ul {
                li {
                  a {
                    color: $white;
                  }
                }
              }
            }

            &.current_page_ancestor {
              a {
                color: $gray-color;
              }

              .sub-menu-toggle {
                background: url("#{$assetIconsPath}/arrow-right-gray.svg") no-repeat center center !important;
                @include breakpoint(ipad_portrait){
                  top: 13px;
                }
              }

              &.submenu-expanded {
                .sub-menu-toggle {
                  background: url("#{$assetIconsPath}/arrow-bottom-gray.svg") no-repeat center center !important;
                }
              }

              ul {
                li {
                  a {
                    color: $white;
                  }

                  &.current_page_item {
                    a {
                      color: $gray-color;
                    }
                  }
                }
              }
            }
          }
        }
      }

    }
  }

  &.header-scroll {
    .nav-right {
      .nav-right-in {
        ul {
          li {
            a {
              color: $white;
            }

            &:hover.menu-item-has-children .sub-menu-toggle {
              background: url("#{$assetIconsPath}/arrow-right-white.svg") no-repeat center center;
            }

            &.menu-item-has-children .sub-menu-toggle {
              background: url("#{$assetIconsPath}/arrow-right-white.svg") no-repeat center center;
            }

            &.current_page_item {
              a {
                color: $gray-color;
              }

              ul {
                li {
                  a {
                    color: $white;
                  }
                }
              }
            }

            &.current_page_ancestor {
              a {
                color: $gray-color;
              }

              ul {
                li {
                  a {
                    color: $white;
                  }

                  &.current_page_item {
                    a {
                      color: $gray-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.single-post,
.privacy-policy,
.header-scroll {
  .nav__toggle {
    span {
      background-color: $gray-color;

      &::before {
        background-color: $gray-color;
      }

      &::after {
        background-color: $gray-color;
      }
    }
  }

  &.menu-slide {
    .nav__toggle {
      span {
        background-color: transparent;

        &::before,
        &::after {
          background-color: $white;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      &:hover {
        span {
          background-color: transparent;

          &::before,
          &::after {
            background-color: $white;
          }
        }
      }
    }
  }
}