{% extends "base.twig" %}

{% block content %}

	<div class="page-not-foumd">

		<section class="page-heading-bg">
			<div class="page-heading-bg-in">
				<div class="container-sm">
					<h1>page not found</h1>
				</div>
			</div>
		</section>

		{% include "partial/content-post-content.twig"%}

		<div class="blog-block-text text-block main-pd-btm aos-init aos-animate">
			<div class="container-sm container-sm-pd-lr">
				<p>Sorry, we couldn't find what you're looking for.</p>

			</div>
		</div>

	</div>
{% endblock %}
