{% block html_head_container %}
	{% include 'partial/html-header.twig' %}
{% endblock %}

<body class=" {{body_class}}" data-template="base.twig" id="body">
	<div id="mainContainer" class="">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

		<section class="main-header" id="top-header-nav">

			<header class="header-desktop">
				<div class="header-top">
				<div class="container-lg">
					<div class="header-contact-info">{% include "partial/content-social.twig" %}</div>
				</div>
				</div>
				<div class="header-btm">
				<div class="container-lg">
				    <div class="logo">
							<a  href="{{site.link}}">
							<img src="{{ site.theme.link }}/assets/img/Logo_cml construction limited.svg" alt="logo"/>
							</a>
						</div>
					<nav id="nav-main" class="nav-main nav-desktop">
									{# {% include "menu.twig" with {'items': menu.get_items} %} #}
									{{ function('do_shortcode', '[maxmegamenu location=primary]') }}
									</nav>
				</div>
				</div>
			</header>

			<header class="header-responsive">
			    <div class="container-lg secondary-bg">
					<div class="custom-row">
					<div class="logo-mobile">
									<a  href="{{site.link}}">
									<img src="{{ site.theme.link }}/assets/img/Logo_cml construction limited.svg" alt="logo"/>
									</a>
						</div>
						<button class="nav__toggle" id="navToggle">
							<span></span>
						</button>
					</div>
				</div>
				<nav id="nav" class="nav-main nav-responsive">
					<div class="nav-responsive-inner">
				
										<div class="mobile-header-menu">{% include "menu.twig" with {'items': menu.get_items} %}</div>
										<div class="mobile-header-social-media">{% include "partial/content-social.twig" %}</div>
					
					</div>
				</nav>
			</header>
		</section>

		

		<section class="main-container">
			<div id="content" role="main" class="content-wrapper">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
		</section>

		{% block footer %}
			<section class="main-footer">
				{% include 'partial/footer.twig' %}
			</section>
			{{ function('wp_footer') }}
		{% endblock %}
	</div>
</body></html>