{% extends "base.twig" %}
{% block content %}
	<section class="page-hd-section">
		<div class="page-hd-section-img">
			{% if blog_post.get_field('hero_image') %}
				<picture>
					<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(blog_post.get_field('hero_image')).src('banner-image-mobile') }}">
					<source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(blog_post.get_field('hero_image')).src('banner-image-mobile-landscape') }}">
					<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(blog_post.get_field('hero_image')).src('banner-image-ipad') }}">
					<img src="{{ TimberImage(blog_post.get_field('hero_image')).src('banner-image') }}" alt="">
				</picture>
			{% elseif blog_post.thumbnail %}
				<picture>
					<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(blog_post.thumbnail).src('banner-image-mobile') }}">
					<source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(blog_post.thumbnail).src('banner-image-mobile-landscape') }}">
					<source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(blog_post.thumbnail).src('banner-image-ipad') }}">
					<img src="{{ TimberImage(blog_post.thumbnail).src('banner-image') }}" alt="">
				</picture>
			{% endif %}


		</div>
		<div class="page-hd-section-in">
			<div class="container-md">
				<div class="page-heading-hd">
					<h1>{{blog_post.title}}</h1>
				</div>
			</div>
		</div>
	</section>


	<section class="news-list-section white-bg main-padding">
		<div class="container-md">
			<div class="news-list-row">
				{% for post in posts %}

					<div class="latest-news-slider-item" data-aos="fade-up">
						<div class="latest-news-slider-item-img">
							{% if post.get_field('post_thumbnail_image') %}
								<picture>
									<img typeof="foaf:Image" src="{{ TimberImage(post.get_field('post_thumbnail_image')).src('project-list-thumb') }}" alt="{{post.get_field('post_thumbnail_image').alt}}" title="{{post.title}}">
								</picture>

							{% elseif post.thumbnail %}
								<picture>
									<img typeof="foaf:Image" src="{{ TimberImage(post.thumbnail).src('project-list-thumb') }}" alt="{{post.thumbnaill.alt}}" title="{{post.title}}">
								</picture>

							{% else %}
								<img src="{{site.link}}/wp-content/uploads/2023/08/placeholder-e1691206229752.png" alt=""/>
							{% endif %}
						</div>
						<div class="latest-news-slider-item-btn">
							<a href="{{post.link}}">{{post.title}}</a>
						</div>
					</div>

				{% endfor %}
			</div>
			{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 5, end_size: 0}) } %}

		</div>
	</section>

	{% include "partial/content-get-in-touch.twig"%}

{% endblock %}
