{% extends "base.twig" %}

{% block content %}

	<div class="project-page-container">

		<section class="page-heading-bg">
			<div class="page-heading-bg-in">
				<div class="container-sm">
					<h1>{{post.title}}</h1>
					<div class="filter-category">
						<strong>FILTER BY CATEGORY</strong>
						<ul>
							<li class="{% if project_catg_current==''%}active{% endif %}">
								<a href="{{site.link}}/projects">All projects</a>
							</li>
							{% for category in project_categories %}
								<li class="{% if category.slug == project_catg_current %}active{% endif %}">
									<a href="?pcatg={{category.slug}}">{{category.name}}</a>
								</li>
							{% endfor %}

						</ul>
					</div>
				</div>
			</div>
		</section>

		<section class="project-page-list white-bg">
			<section class="projects-list projects-list-3">

				{% for project in getProjects() %}
					<div class="projects-list-box" data-aos="fade-up">
						<div class="projects-list-img">
							{% if project.thumbnail %}
								<img src="{{ TimberImage(project.thumbnail).src('project-list-thumb') }}" alt=""/>
							{% else %}
								<img src="{{site.link}}/wp-content/uploads/2023/08/placeholder-e1691206229752.png" alt=""/>
							{% endif %}
						</div>
						<div class="projects-list-content">
							<div class="projects-list-content-in">
								<h3><a href="{{project.link}}">{{project.title}}</a></h3>
								<div class="desc--box">{{ project.preview.read_more(false) }}</div>
								<div class="projects-list-btn">
									<a href="{{project.link}}" class="learn-more-white">see project</a>
								</div>

							</div>
						</div>
					</div>
				{% endfor %}

			</section>
		</section>
		{% include "partial/content-flexible-content.twig"%}
	</div>

{% endblock %}
