{% extends "base.twig" %}

{% block content %}
	<div class="contact-page-template">
      <section class="contact-page-top">
		<div class="contact-page-section-img desktop-view">
			{% if post.get_field('hero_image') %}
				<picture>
					<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.get_field('hero_image')).src('contact-banner-img-mobile') }}"/>
					<img src="{{ TimberImage(post.get_field('hero_image')).src('contact-banner-img') }}" alt="{{ post.get_field('contact-banner-img').alt }}"/>
				</picture>
			{% elseif post.thumbnail %}
				<picture>
					<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.thumbnail).src('contact-banner-img-mobile') }}"/>
					<img src="{{ TimberImage(post.thumbnail).src('contact-banner-img') }}" alt="{{ post.thumbnail.alt }}"/>
				</picture>
			{% endif %}

		</div>


       {% if post.get_field('hero_image') %}
		<div class="contact-page-section-img respnsive-view" style="background-image: url({{ TimberImage(post.get_field('hero_image')).src('contact-banner-img') }});"></div>
       {% elseif post.thumbnail %}
		<div class="contact-page-section-img respnsive-view" style="background-image: url({{ TimberImage(post.thumbnail).src('contact-banner-img') }});"></div>
	   {% endif %}	
		<div class="contact-page-section-content">
		<div class="container-md">
				<div class="">
					<div class="heading heading-left">
						<h1>{{post.contact_copy_title}}</h1>
					</div>
					<div class="desc--box">
						{{post.content}}
					</div>
					<div class="contact-page-info">

						<ul>
							<li><a href="mailto:{{contact_post.get_field('email')}}" ><i class="email-icon"></i> <span>{{contact_post.get_field('email')}}</span></a></li>
							<li><a href="tel:{{contact_post.get_field('telephone')}}" class="telephone-icon"><i class="telephone-icon"></i> <span>{{contact_post.get_field('telephone')}}</span></a></li>
							<li><a class="location-icon"target="{{contact_post.get_field('gmap_link').target}}"href="{{contact_post.get_field('gmap_link').url}}"><i class="location-icon"></i> <span>{{contact_post.get_field('gmap_link').title}}</span></a></li>
						</ul>

					</div>

					<div class="contact-form-bg">
                     {{ function('do_shortcode', '[contact-form-7 id="bd48398" title="Contact us"]') }}

					</div>
				</div>
		</div>
			
			</section>

		</section>
	</div>
{% endblock %}