{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base.twig" %}

{% block content %}

	<div class="details-sections blog-details page-default-details">

	<section class="sub-page-banner secondary-bg">
			<div class="container-sm">
				<div class="custom-row">
					<div class="sub-page-banner-left">
						<h1>Search</h1>
					</div>
					
				</div>
			</div>
		</section>

		<div class="search-content--list light-gray-bg main-padding">
			{% for post in posts %}
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			{% endfor %}

			<div class="container-sm container-sm-pd-lr">
				{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size:
    2}) } %}
			</div>
		</div>

	</div>

{% endblock %}
