{% extends "base.twig" %}

{% block content %}
	<div class="single-service-page-template">

		{% include "partial/content-service-hero.twig"%}

		{# {% include "partial/content-post-content.twig"%} #}

		{% include "partial/content-flexible-content.twig"%}

		{# {% include "partial/content-back-to-button.twig" with { url_title:'<strong>Back to</strong> Services', url_link:'projects'}%} #}


	</div>

{% endblock %}
