{% extends "base.twig" %}

{% block content %}
	<div class="single-service-page-template">

		{% include "partial/content-page-hero.twig"%}

		{% if post.content %}
			<section class="simple-info-section main-padding light-gray-bg">
				<div class="container-sm" data-aos="fade-up">
					<div class="simple-info-section-in simple-info-section-in-center">
						<div class="desc--box">
							{{post.content}}
						</div>
					</div>
				</div>
			</section>
		{% endif %}


		{% include "partial/content-products-by-type.twig" with {post:post}%}

		{% include "partial/content-flexible-content.twig"%}

		{% include "partial/content-get-in-touch.twig"%}


	</div>

{% endblock %}
