{% extends "base.twig" %}

{% block content %}


	{% include "partial/content-page-hero.twig"%}


	{% if post.post_type == 'post'%}
		{% include "partial/content-post-content.twig"%}
		{% include "partial/content-back-to-button.twig" with { url_title:'<strong>Back to</strong> news', url_link:'news'}%}

	{% else %}
		{% include "partial/content-flexible-content.twig"%}
	{% endif %}


	{% include "partial/content-get-in-touch.twig"%}


{% endblock %}
