{% extends "base.twig" %}

{% block content %}
	<div class="single-project-page-template">

		{% set product_detail_group =post.get_field('product_detail_group') %}

		<section class="product-details-section">
			<div class="container-md">
				<div class="heading heading-left">
					<h2>{{post.title}}</h2>
				</div>
				<div class="product-details-section-content">
					<div class="product-details-section-content-left">
						<div class="product-details-description btm-border">
							<h4>DESCRIPTION</h4>
							<div class="desc--box">
								{{product_detail_group.product_copy}}
							</div>
						</div>
						<div class="product-details-usage btm-border">
							<h4>USAGE</h4>
							<div class="desc--box">
								{{product_detail_group.product_copy2}}
							</div>
						</div>
						<div class="product-details-features">
							<h4>FEATURES</h4>
							<div class="desc--box">
								{{product_detail_group.product_copy3}}
							</div>
						</div>
					</div>
					<div class="product-details-section-content-right">
						<div
							class="product-slider">
							{# Image size width = 575px and height 422px #}

							{% for image in post.get_field('images_row') %}
								<div class="product-slider-item">
									<img src="{{ TimberImage(image.image).src('post-row-img') }}" alt=""/>
								</div>
							{% endfor %}
							

						</div>
						<div
							class="product-slider-nav">
							{# Image size width = 200px and height 138px #}
							{% for image in post.get_field('images_row')%}
								<div class="product-slider-nav-item">
									<img src="{{ TimberImage(image.image).src('post-row-img') }}" alt=""/>
								</div>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</section>

		{% include "partial/content-flexible-content.twig"%}

		{% set parent_item = post.get_field('parent_product_type') %}
		{% include "partial/content-back-to-button.twig" with { url_title:'<strong>Back to</strong> '~parent_item.title|lower, url_link_full:parent_item.link}%}

		{% include "partial/content-get-in-touch.twig"%}
	</div>

{% endblock %}
