/*
 * ----------------------
 * Blooberry Design
 * Helpers - Size
 * ----------------------
 */

/**
 * Size
 * Easily convert fixed size values to relative ones.
 * Enables units to scale with root font size.
 * @param {string} $size
 * @param {string} $unit [rem]
 * @param {number} $base-font-size [100%]
 * @return {number}
 */
@function size($size, $unit: 'rem', $base-font-size: $font-base-size) {
  $input-size: $size / ($size * 0 + 1);
  $base-size-value: $base-font-size / ($base-font-size * 0 + 1);
  $base-size: ($base-size-value / 100) * 16;

  @return #{$input-size / $base-size}#{$unit};
}
