.contact-page-template {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-left: $main-body-space $white solid;
    border-right: $main-body-space $white solid;
    padding: 6rem 0;

    @media (min-height: 1000px) and (max-height: 99999999999px) {
        height: 90vh;
      }
      @include breakpoint(mobile_portrait){
        border-left: 0 $white solid;
        border-right: 0 solid;
        padding: 3rem 0;
      }

    .contact-page-bg {
        margin-left: -$main-body-space;
        width: calc(100% + 4rem);
        height: 100%;
        display: flex;
        align-items: center;

        .contact-page-bg-inner {
            @extend %bg-hd;
            padding: 2rem 0;
            color: $white;
            width: 100%;

            h1 {
                margin: 0px;
                padding: 0px;
                color: $white;
                @extend %h1;
                text-transform: capitalize;
            }

        }
    }

    .desc--box {
        margin: 1rem 0 3rem 0;
    }

    .contact-page-info {
        position: relative;
        padding-top: 1rem;

        &::after {
            content: '';
            width: 500px;
            height: $afterLine_height;
            background: $white;
            position: absolute;
            top: 0px;
            left: 0px;
        }

        ul {
            @include ul;

            li {
                margin: 2.5rem 0;
                @include breakpoint(mobile_portrait){
                    margin: 1.5rem 0;
                }

                a {
                    display: flex;
                    font-size: 2.2rem;
                    color: $white;
                    align-items: center;
                    font-family: $secondaryfontfaimly;
                    @include breakpoint(ipad_landscape){
                        font-size: 1.9rem;
                    }
                    @include breakpoint(mobile_portrait){
                        font-size: 1.3rem;
                    }
                    &.location-icon-box{
                        align-items: flex-start;
                    }
                    i {

                        width: 50px;
                        height: 38px;

                        @include breakpoint(mobile_portrait) {
                            width: 40px;
                            height: 40px;
                        }


                        &.telephone-icon {
                            background:url("#{$assetIconsPath}/phone hanks gallery.svg") no-repeat center center;
                            background-size: 100%;
                        }

                        &.email-icon {
                            background:url("#{$assetIconsPath}/email hanks gallery.svg") no-repeat center center;
                            background-size: 100%;
                        }

                        &.location-icon {
                            background:url("#{$assetIconsPath}/pin hanks gallery.svg") no-repeat -8px center;
                           margin-top: 10px;
                            background-size: 152%;
                            width: 42px;
                            height: 50px;
                            
                        }
                    }

                    span {
                        width: calc(100% - 50px);
                        padding-left: 30px;

                        @include breakpoint(mobile_portrait) {
                            width: calc(100% - 40px);
                            padding-left: 12px;
                        }
                    }
                  &:hover{
                    opacity: 0.6;
                  }

                }
            }
        }
    }
}