.contact-us-page {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 900px;
    position: relative;

    @include breakpoint(ipad) {
        min-height: 610px;
    }

    @include breakpoint(mobile_landscape) {
        min-height: 570px;
    }

    @include breakpoint(mobile_portrait) {
        min-height: 570px;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 60%;
        left: 0px;
        top: 0px;
        @extend %img-gradient-bg;
    }

    .contact-us-page-in {

        .contact-us-page-in-in {
            h1 {
                color: $white;
                text-align: center;
                padding: 7rem 0;
                margin: 0;
                position: relative;
                z-index: 1;

                @include breakpoint(ipad) {
                    padding: 5rem 0 0;
                }

                @include breakpoint(mobile_landscape) {
                    padding: 5rem 0 0;
                }

                @include breakpoint(mobile_portrait) {
                    padding: 4rem 0 0;
                }
            }

            .contact-us-page-content {
                padding: 5rem 8rem 5rem 30rem;
                margin-left: -15rem;
                position: relative;
                width: calc(90% + 15rem);

                @media (min-width: 1025px) and (max-width: 1200px) {
                    padding: 4rem 4rem 4rem 6rem;
                    margin-left: 0rem;
                    width: calc(90%);
                    margin-top: 4rem;
                }
                @include breakpoint(ipad) {
                    padding: 4rem 4rem 4rem 6rem;
                    margin-left: 0rem;
                    width: calc(90%);
                    margin-top: 4rem;
                }
                @include breakpoint(ipad_portrait){
                    padding: 4rem 2em 4rem 3rem;
                  }

                @include breakpoint(mobile_landscape) {
                    padding: 4rem 2rem 4rem 2rem;
                    margin-left: 0rem;
                    width: calc(90%);
                    margin-top: 4rem;
                }

                @include breakpoint(mobile_portrait) {
                    padding: 4rem 2rem 4rem 2rem;
                    margin-left: 0rem;
                    width: calc(90%);
                    margin-top: 6rem;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    background:$hd-bg-color;
                    mix-blend-mode: multiply;
                    @extend %right-btm-conr;
                }

                &::after {
                    content: '';
                    @extend %primary-color-haf-brdr;
                    z-index: 1;
                }

                ul {
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    position: relative;
                    z-index: 1;

                    li {
                        margin: 0px;

                        &:first-child {
                            margin-bottom: 2rem;
                            @include breakpoint(mobile_portrait) {
                                margin-bottom: 1rem;
                            }
                        }

                        a {
                            display: block;
                            font-size: 3rem;
                            padding: 1rem 0 1rem 90px;
                            color: $white;
                            -webkit-transition: all 0.0s;
                            -moz-transition: all 0.0s;
                            transition: all 0.0s;
                            @media (min-width: 1025px) and (max-width: 1200px) {
                                font-size: 2.2rem;
                              }
                            @include breakpoint(ipad_landscape){
                                font-size: 2.2rem;
                              }
                            @include breakpoint(ipad_portrait){
                                font-size: 2rem;
                              }
                            @include breakpoint(mobile_landscape){
                                font-size: 1.6rem;
                                padding: 1rem 0 1rem 60px;
                              }

                            @include breakpoint(mobile_portrait) {
                                word-wrap: break-word;
                                font-size: 1.5rem;
                                padding: 1rem 0 1rem 60px;
                            }

                            &.email-icon {
                                background: url("#{$assetIconsPath}/envelope white.svg") no-repeat left center;
                                background-size: 60px;

                                @include breakpoint(mobile) {
                                    background-size: 40px;
                                }
                            }

                            &.phone-icon {
                                background: url("#{$assetIconsPath}/phone white.svg") no-repeat left center;
                                background-size: 60px;

                                @include breakpoint(mobile) {
                                    background-size: 40px;
                                }
                            }

                            &:hover {
                                color: $primary-color;

                                &.email-icon {
                                    background: url("#{$assetIconsPath}/envelope green.svg") no-repeat left center;
                                    background-size: 60px;

                                    @include breakpoint(mobile) {
                                        background-size: 40px;
                                    }
                                }

                                &.phone-icon {
                                    background: url("#{$assetIconsPath}/phone green.svg") no-repeat left center;
                                    background-size: 60px;

                                    @include breakpoint(mobile) {
                                        background-size: 40px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}