.details-sections {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .details-block {
        background: $white;
        border-radius: 30px;
        padding: 4rem;

        @include breakpoint(mobile_landscape){
            padding: 3rem;
        }
        
        @include breakpoint(mobile_portrait){
            padding: 2rem;
        }

        .text-section {
            padding: 0px;
        }

        h3 {
            margin: 0px;
            padding: 0px;
        }
    }
}

.event-details {
    .event-owner-info {
        h3 {
            margin: 0px;
            padding: 0;
            font-weight: 700;
            color: $secondary-color;
        }
    }

    .event-type-icon {
        margin-top: 1.5rem;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 30px;
        }
    }

    .event-date-location {
        margin-top: 1.5rem;
        border-bottom: 1px $primary-color solid;
        border-top: 1px $primary-color solid;
        padding: 1.5rem 0;

        span {
            display: block;
        }

        .date-display-single {
            color: $primary-color;
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 0.6rem;
        }

    }

    .event-detail {
        margin: 2rem 0;
    }
}

.page-featured-img {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.full-details-content,
.full-news-img {
    .container-sm {
        max-width: 100%;
        width: 100%;
    }
}

.full-news-img {
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}
.news-details{
    h3{
        color: $secondary-color;
    }
    
}

.page-template-information-page{
    .details-sections{
        padding: 0px;
        .text-section {
            h2, h3{
                color: $secondary-color;
            }
        }
      
    }
}