.page-not-foumd {
    .blog-block-text {
        text-align: center;
    }

    h1 {
        text-align: center;
    }
}

.page-title {
    text-align: center;

    h1 {
        margin: 0px;
        padding: 0px;
        color: $primary-color;
    }
}

.single-service {
    .full-bg-hero .page-hero-content-outer .page-hero-content h1::after {
        background: transparent;
    }
}

.privacy-policy{
    h1, h2, h3, h4,  h5{
        margin-bottom: 0px;
    }
    h2{
        font-size: 2.2rem;
    }
    h3{
        font-size: 2rem;
    }
}