.page_article_detail {
  padding: $d_pd 0px 0;

  .container-sm {
    padding: 0 120px;

    @include breakpoint(small) {
      padding: 0 15px;
    }
  }

  .p_a_d__top {
    h4 {
      margin: 0 0 10px 0;
      padding: 0;
      color: $tealDark;
      font-family: 'PontiacBold';
    }

    .work_full__img {
      padding-top: 40px;
    }
  }

  .article_sub__box {
    padding-top: 40px;

    h5 {
      margin: 0 0 0px 0;
      padding: 0;
      color: $tealDark;
      font-family: 'PontiacBold';
    }

    .a_s_b_txt {
      padding: 20px 0 0px 0;
    }
  }
}
