.page_job__details {
  padding: 116px 0 60px 0;
  @include breakpoint(small) {
    padding: 60px 0 30px 0;
  }

  &__inner {
    h1 {
      margin: 0px;
      padding: 0 0 15px 0;
      color: $tealDark;
      @include align_center;
      font-family: 'PontiacRegular';
      font-size: 34px;
    }

    h5 {
      margin: 0px;
      padding: 0 0 15px 0;
      color: $tealDark;
      font-weight: 600;
      font-family: 'Roboto', sans-serif;
    }
    .job_des__txt,
    .j_a__txt {
      p:last-child {
        margin-bottom: 0px;
      }
    }
    .j_d_c__top {
      padding-top: 30px;
    }
    .job__des {
      padding-top: 3px;
    }
    .job_d__download {
      padding-top: 40px;
    }
    .job__apply {
      padding-top: 44px;
    }

    .j_d_d__box {
      display: flex;
      @include breakpoint(mobile-portrait) {
        flex-wrap: wrap;
      }

      .download_btn {
        margin-right: 15px;
        @include breakpoint(mobile-portrait) {
          margin-right: 0px;
          margin-top: 15px;
        }
      }
    }

    .j_d_c__top {
      ul {
        @include ul(0, 0, none);

        li {
          padding: 0 0 10px 0;
          margin: 0px;
          display: block;

          strong {
            @include font-color(18px, $tealDark);
            display: block;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.email_link__green {
  a {
    color: $green;
    text-decoration: underline;
  }
}
