{% if content_row.youtube_url %}
	<section class="dark--bg section-tp-bt-pd" data-aos="fade">
		<div class="container-sm">
			<div class="commercial-project-section">
				<h3>{{content_row.youtube_video_heading}}</h3>
				<div class="commercial-project-content">
					<iframe width="100%" height="550" title="{{content_row.youtube_video_heading}}" src="{{content_row.youtube_url}}?rel=0"></iframe>
				</div>
			</div>
		</div>
	</section>
{% endif %}
