{% if content_row.project_image_rows %}
{% set parent_loop = loop.index %}
	<section class="full-gallery" data-aos="fade">
		<div class="full-gallery--row custom-row">

			{% for gallery in content_row.project_image_rows %}
				{% if gallery.image %}
					<div class="full-gallery--box">
						<div class="full-gallery--img">
							<a data-fancybox-ocf="gallery" data-fancybox-group="gallery-project-{{parent_loop}}" data-src="{{ TimberImage(gallery.image).src('src')}}"  data-title="{{ TimberImage(gallery.image).caption?TimberImage(gallery.image).caption:TimberImage(gallery.image).title}}" class="fancybox">
								<img src="{{ TimberImage(gallery.image).src('gallery-thumb')}}" alt="" width="100%"/>
							</a>

						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>
{% endif %}
