{% if content_row.ocf_range_with_swatch_rows %}
{% set parent_loop = loop.index %}

	<section class="white--bg section-tp-bt-pd" data-aos="fade">
		<div class="container-sm">
			<div class="tile-gallery">
				{% if content_row.ocf_range_heading %}
					<h3>{{content_row.ocf_range_heading}}</h3>
				{% endif %}
				{% for ocf_range in content_row.ocf_range_with_swatch_rows %}
					 {% set parent_loop2 = parent_loop ~'-'~loop.index %}

					<div class="sm-post--row custom-row sm-post-row--left">
						{% if ocf_range.image %}
							<div class="sm-post-row--img">
								<div class="sm-post-row-img--below">
									<picture>
										<source media="(min-width:320px) and (max--width:767px)" srcset="{{ TimberImage(ocf_range.image).src('ocf-range-thumb')}}">
										<img src="{{ TimberImage(ocf_range.image).src('ocf-range-thumb')}}" alt="{{ TimberImage(ocf_range.image).alt}}">
									</picture>
								</div>
								<div class="sm-post-row-img--above">
                                    {% if loop.index%2 ==1 %}
									<img src="{{theme.link}}/assets/img/OCF Premium white out.svg" alt="">
                                    {% else %}
                                     <img src="{{theme.link}}/assets/img/OCF essential white out.svg" alt="">
                                    {% endif %}
								</div>
							</div>
						{% endif %}
						<div class="sm-post-row--content">
							{% if ocf_range.title %}
								<h4>{{ocf_range.title}}</h4>
							{% endif %}
							<div class="desc--box">
								{{ocf_range.content}}
							</div>
						</div>
					</div>
					{% if ocf_range.swatch_rows %}
						<div class="tile-gallery-sm custom-row">
							{% for swatch_row in ocf_range.swatch_rows %}
								<div class="tile-gallery-sm--box">
									<a data-fancybox-ocf="gallery" data-fancybox-group="gallery-swatch-{{parent_loop2}}" data-src="{{ TimberImage(swatch_row.swatch_image).src('src')}}" data-title="{{ swatch_row.swatch_title}}" class="fancybox">
										<div class="tile-gallery--img">
											<img src="{{ TimberImage(swatch_row.swatch_image).src('thumbnail')}}" alt="{{ TimberImage(swatch_row.swatch_image).alt }}">
										</div>
										<h5>{{swatch_row.swatch_title}}</h5>
									</a>
								</div>
							{% endfor %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
