{% if content_row.ocf_range_rows %}
	<section class="white--bg section-tp-bt-pd tile-section" data-aos="fade">
		<div class="container-sm">

			{% if content_row.ocf_range_heading %}
				<h3>{{content_row.ocf_range_heading}}</h3>
			{% endif %}
			{% for ocf_range in content_row.ocf_range_rows %}
				{% if loop.index %2== 1 %}
					<div class="sm-post--row custom-row sm-post-row--left">
						{% if ocf_range.image %}
							<div class="sm-post-row--img">
								<div class="sm-post-row-img--below">
									<picture>
										<source media="(min-width:320px) and (max--width:767px)" srcset="{{ TimberImage(ocf_range.image).src('ocf-range-thumb')}}">
										<img src="{{ TimberImage(ocf_range.image).src('ocf-range-thumb')}}" alt="{{ TimberImage(ocf_range.image).alt}}">
									</picture>
								</div>
								<div class="sm-post-row-img--above">
									<img src="{{theme.link}}/assets/img/OCF Premium white out.svg" alt="">
								</div>
							</div>
						{% endif %}
						<div class="sm-post-row--content">
							{% if ocf_range.title %}
								<h4>{{ocf_range.title}}</h4>
							{% endif %}
							<div class="desc--box">
								{{ocf_range.content}}
							</div>
						</div>
					</div>
				{% else %}
					<div class="sm-post--row custom-row sm-post-row--right">
						<div class="sm-post-row--img">
							<div class="sm-post-row-img--below">
								<picture>
									<source media="(min-width:320px) and (max--width:767px)" srcset="{{ TimberImage(ocf_range.image).src('ocf-range-thumb')}}">
									<img src="{{ TimberImage(ocf_range.image).src('ocf-range-thumb')}}" alt="{{ TimberImage(ocf_range.image).alt}}">
								</picture>
							</div>
							<div class="sm-post-row-img--above">
								<img src="{{theme.link}}/assets/img/OCF essential white out.svg" alt="">
							</div>
						</div>
						<div class="sm-post-row--content">
							{% if ocf_range.title %}
								<h4>{{ocf_range.title}}</h4>
							{% endif %}

							<div class="desc--box">
								{{ocf_range.content}}

							</div>
						</div>
					</div>
				{% endif %}

			{% endfor %}
			{% if content_row.ocf_range_cta.url %}
				<div class="btn-set--right mrg-top-3">
					<div class="btn">
						<a href="{{content_row.ocf_range_cta.url}}" class="secondary-btn">see all of our LVT range</a>
					</div>
				</div>
			{% endif %}
		</div>
	</section>
{% endif %}
