{% if content_row.image_brands_rows %}
	<section class="white--bg section-tp-bt-pd" data-aos="fade">
		<div class="container-sm">
			<div class="brands-logo">
				{% if content_row.brands_heading %}
					<h3>{{content_row.brands_heading}}</h3>
				{% endif %}
				<div class="brands-logo--row custom-row">
					{% for brand in content_row.image_brands_rows %}
						{% if brand.image %}
							<div class="brands-logo--box">
								<div class="brands-logo--img">
									<img src="{{ TimberImage(brand.image).src('src')}}" alt=""/>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endif %}
