{% if content_row.image_gallery_rows %}
{% set parent_loop = loop.index %}
	<section class="gray--bg section-tp-bt-pd" data-aos="fade">
		<div class="gallery-section">
			<div class="container-sm">
				{% if content_row.image_gallery_title %}
					<h3>{{content_row.image_gallery_title}}</h3>
				{% endif %}
			</div>
			<div class="gallery-container">
				<div class="project-gallery">

					<div class="project-gallery--row custom-row">

						{% for gallery in content_row.image_gallery_rows %}
							{% if gallery.image %}
								<div class="project-gallery--box">
									<a data-fancybox-ocf="gallery" data-fancybox-group="gallery-{{parent_loop}}" data-src="{{ TimberImage(gallery.image).src('src')}}" data-title="{{ TimberImage(gallery.image).caption?TimberImage(gallery.image).caption:TimberImage(gallery.image).title}}" class="fancybox">
										<img src="{{ TimberImage(gallery.image).src('gallery-thumb')}}" alt="{{ TimberImage(gallery.image).alt}}"/>
									</a>
								</div>

							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

		</div>
	</section>
{% endif %}
