{% if content_row.testimonial_content %}
<section class="purple--bg section-tp-bt-pd main-review-section" data-aos="fade">
    <div class="container-sm">
        <div class="review--box">
            <p>
                {{content_row.testimonial_content}}
            </p>
        </div>
        {# <div class="btn-set--right mrg-top-3">
            <div class="btn">
                <a href="{{site.link}}/reviews" class="primary-btn">see all reviews</a>
            </div>
        </div> #}
    </div>
</section>
{% endif %}