{% if content_row.static_content_box_rows %}

	<section class="section-tp-bt-pd" data-aos="fade">
		{% for content_box_row in content_row.static_content_box_rows %}

			{% if loop.index%2 ==1 %}
				<div class="post-row post-row--right">
				 <div class="desktop-post-row--img" style="background-image: url({{ TimberImage(content_box_row.image).src('services-thumb')}});"></div>
					<div class="mobile-post-row--img">
						{% if content_box_row.image %}
							<picture>
								<source media="(min-width:320px) and (max--width:767px)" srcset="{{ TimberImage(content_box_row.image).src('services-thumb')}}">
								<img src="{{ TimberImage(content_box_row.image).src('services-thumb')}}" alt="{{ TimberImage(content_box_row.image).alt}}">
							</picture>
						{% endif %}
					</div>
					<div class="post-row--content">
						<div class="container">
							<div class="custom-row">
								<div class="post-row--text post-row-text-bg-2">
									<h3>{{content_box_row.title}}</h3>
									<div class="desc--box">
										{{content_box_row.content}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% else %}

				<div class="post-row post-row--left">
					 <div class="desktop-post-row--img" style="background-image: url({{ TimberImage(content_box_row.image).src('services-thumb')}});"></div>
					<div class="mobile-post-row--img">
						{% if content_box_row.image %}
							<picture>
								<source media="(min-width:320px) and (max--width:767px)" srcset="{{ TimberImage(content_box_row.image).src('services-thumb')}}">
								<img src="{{ TimberImage(content_box_row.image).src('services-thumb')}}" alt="{{ TimberImage(content_box_row.image).alt}}">
							</picture>
						{% endif %}
					</div>
					
					<div class="post-row--content">
						<div class="container">
							<div class="custom-row">
								<div class="post-row--text post-row-text-bg-2">
									<h3>{{content_box_row.title}}</h3>
									<div class="desc--box">
										{{content_box_row.content}}

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}

	</section>
{% endif %}
