{% if content_row.copy_content_title or content_row.copy_content_text %}
	<section class="gray--bg text-section section-tp-bt-pd" data-aos="fade">
		<div class="container-sm">
			{% if content_row.copy_content_title %}
				<h2>{{content_row.copy_content_title}}</h2>
			{% endif %}
			<div class="content-box content-box-lt-pd">
				{{content_row.copy_content_text}}
			</div>
		</div>
	</section>
{% endif %}
