{% set flooring_types =getFlooringTypes() %}
{% if flooring_types %}
	<section class="gray--bg section-tp-bt-pd" data-aos="fade">
		<div class="container-sm">
			<div class="flooring-types">
				<h3>{{content_row.flooring_types_heading}}</h3>
				<div class="flooring-types--row custom-row">
					{% for flooring_type in flooring_types %}

						<div class="flooring-types--box">
							<a href="{{flooring_type.path}}">
								<div class="flooring-types--img">
									{% if flooring_type.get_field('listing_thumb_image')%}
										<picture>
											<source media="(min-width:320px) and (max--width:767px)" srcset="{{ TimberImage(flooring_type.get_field('listing_thumb_image')).src('flooring-type-thumb')}}">
											<img src="{{ TimberImage(flooring_type.get_field('listing_thumb_image')).src('flooring-type-thumb')}}" alt="{{ TimberImage(flooring_type.get_field('listing_thumb_image')).alt}}">
										</picture>
									{% else %}

										<picture>
											<source media="(min-width:320px) and (max--width:767px)" srcset="{{ TimberImage(flooring_type.thumbnail).src('flooring-type-thumb')}}">
											<img src="{{ TimberImage(flooring_type.thumbnail).src('flooring-type-thumb')}}" alt="{{ TimberImage(flooring_type.thumbnail).alt}}">
										</picture>
									{% endif %}
								</div>
								<div class="flooring-types--content">
									<h4>{{flooring_type.get_field('listing_title')?flooring_type.get_field('listing_title'):flooring_type.title}} <i></i></h4>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endif %}
