html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $primaryfontfaimly;
    font-weight: 500;
    @include background($white);
    @include padding(0px, 0, 0, 0);
    margin: 0px;
    font-size: $font-size-base;
    color: $gray-color;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

p {
    line-height: $line-height;
}

a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: $secondary-color;
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
input{
    -webkit-appearance: none;
    opacity: 1
}
button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}

.container-fluid {
    max-width: 100%;
    width: calc(100% - 6rem);
    padding: 0 1rem;
    margin: auto;
}

.container-lg {
    max-width: 1600px;
    width: calc(100% - 6rem);
    margin: 0 auto;
    @include breakpoint(ipad_landscape) {
        width: calc(100% - 4rem);
    }

    @include breakpoint(ipad_portrait) {
        width: calc(100% - 4rem);
    }

    @include breakpoint(mobile) {
        width: calc(100% - 2rem);
    }
}

.container {
    max-width: 1300px;
    width: calc(100% - 14rem);
    margin: 0 auto;
    @include breakpoint(ipad_landscape) {
        width: calc(100% - 6rem);
    }

    @include breakpoint(ipad_portrait) {
        width: calc(100% - 4rem);
    }

    @include breakpoint(mobile) {
        width: calc(100% - 2rem);
    }
}
.container-sm {
    max-width: 1100px;
    width: calc(100% - 22rem);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(ipad_landscape) {
        width: calc(100% - 12rem);
    }

    @include breakpoint(ipad_portrait) {
        width: calc(100% - 4rem);
    }

    @include breakpoint(mobile) {
        width: calc(100% - 2rem);
    }
}

.white-bg {
    background: $white;
}
.primary-bg {
    background: $primary-color;
}
.secondary-bg {
    background: $secondary-color;
    h2 {
        color: $white;
        margin: 0px;
    }
}
.custom-row {
    display: flex;
    flex-wrap: wrap;
}

.section-tp-bt-pd {
    padding-top: $main-pd;
    padding-bottom: $main-pd;
    @include breakpoint(ipad_portrait ){
        padding: 3rem 0;
    }
    @include breakpoint(mobile){
        padding: 2.5rem 0;
    }
}
.section-tp-t-pd {
    padding-top: $main-pd;
    @include breakpoint(ipad_portrait ){
        padding-top: 3rem;
    }
    @include breakpoint(mobile){
        padding-top: 2.5rem;
    }
}
.section-tp-b-pd {
    padding-bottom: $main-pd;
    @include breakpoint(ipad_portrait ){
        padding-bottom: 3rem;
    }
    @include breakpoint(mobile){
        padding-bottom: 2.5rem;
    }
}
.section-tp-t-2-pd{
    padding-top: 2.5rem;
}
.section--mrgn {
    margin-top: -2rem;
    @include breakpoint(ipad_portrait) {
        margin-top: 0rem;
    }
    @include breakpoint(mobile) {
        margin-top: 0rem;
    }
}
.content-box-lt-pd {
    padding-left: 10%;
    @include breakpoint(mobile) {
        padding-left: 0%;
    }
}

.desc--box {
    p {
        &:last-child {
            margin: 0px;
        }
    }
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
            position: relative;
            margin: 0 0 0.5rem 0;
            padding: 0 0 0 1.5rem;
            &::before {
                width: 8px;
                height: 8px;
                position: absolute;
                left: 0px;
                top: 39%;
                background: $primary-color;
                content: "";
                border-radius: 50px;
            }
        }
    }
}
.fancybox__caption {
    padding: 0px;
    margin-top: -25px;
    z-index: 21;
}
.fancybox__content {
    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background-color: $light-orange;
        height: 31px;
    }
}
.curve-bg {
    position: relative;

    min-height: 600px;
    .white-bg-curve {
        position: absolute;
        width: 100%;
        height: auto;
        top: -2px;
        left: 0px;
        svg {
            width: 100%;
        }
    }
}
.curve-section{
    position: relative;
    svg{
        width: 100%;
        display: block;
    }
}
.main-pd-top-il{
    @include breakpoint(ipad_landscape ){
        padding-top: $main-pd;
    }
    @include breakpoint(ipad_portrait ){
        padding-top: 3rem;
    }
    @include breakpoint(mobile ){
        padding-top: 2.5rem;
    }
}