.north-east-white-arrow {
    background: url("#{$assetPath}/white arrow right corner.svg") no-repeat right center;
    width: 2.3rem;
    height: 2.3rem;
    background-size: 100%;
    right: 1.8rem;
    position: absolute;
    top: 1.8rem;
    @include breakpoint(mobile_landscape) {
        width: 1.5rem;
        height: 1.5rem;
        top: 1rem;
        right: 1rem;
    }
}

.downarrow {
    position: absolute;
    width: 2rem;
    margin: 0 0 0 -230px;
    @include breakpoint(mobile_landscape) {
        width: 2rem;
    }
    @include breakpoint(mobile_portrait) {
        width: 2rem;
    }

    img {
        width: 100%;
    }
}

.page-arrow {
    position: absolute;
    bottom: 6rem;
    width: 100%;
    .container-lg {
        position: relative;
        z-index: 2;
    }
    .downarrow {
        position: initial;
        margin: 0px;
    }
}
.home-page-arrow {
    position: relative;
    bottom: initial;
    top: 3rem;
    @include breakpoint(mobile_landscape) {
        top: 0rem;
        left: 8px;
        margin: 2rem 0;
    }
    @include breakpoint(mobile_portrait) {
        top: 0rem;
        left: 8px;
        margin: 2rem 0;
    }
    .downarrow {
        top: 0;
        margin: 0;
        z-index: 1;
        bottom: 5.125rem;
        left: 0; 
        cursor: pointer;
    }
}
.inner-page-hero {
    .page-arrow {
        cursor: pointer;
        @include breakpoint(mobile_landscape) {
            bottom: 31px;
        }
        @include breakpoint(mobile_portrait) {
            bottom: 31px;
        }
    }
}
