// Global Breakpoint

@mixin breakpoint($media) {
  @if $media==laptop {
    @media (min-width: 1280px) and (max-width: 1500px) {
      @content;
    }
  }@else if $media==small_laptop {
    @media (min-width: 1025px) and (max-width: 1279px) {
      @content;
    }
  } 
  
  @else if $media==ipad_landscape {
    @media (min-width: 992px) and (max-width: 1024px) {
      @content; 
    }
  } @else if $media==ipad_portrait {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $media==ipad {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  } @else if $media==mobile_landscape {
    @media (min-width: 568px) and (max-width: 767px) {
      @content;
    }
  } @else if $media==mobile_portrait {
    @media (min-width: 320px) and (max-width: 567px) {
      @content;
    }
  } @else if $media==mobile {
    @media (min-width: 320px) and (max-width: 767px) {
      @content;
    }
  } @else if $media==mobile_nav {
    @media (min-width: 320px) and (max-width: 1024px) {
      @content;
    }
  }
}
