.round-primary-btn {
    background-color: $primary-color;
    color: $white;
    border-radius: 40px;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    @include breakpoint(ipad_portrait) {
        padding: 0.7rem 1.5rem;
    }
    @include breakpoint(mobile) {
        padding: 0.7rem 1.5rem;
        font-size: 1rem;
    }
    &:hover {
        background-color: $secondary-color;
        color: $white;
    }
}
.round-secondary-btn {
    background-color: $secondary-color;
    color: $white;
    border-radius: 40px;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    @include breakpoint(ipad_portrait) {
        padding: 0.7rem 1.5rem;
    }
    @include breakpoint(mobile) {
        padding: 0.7rem 1.5rem;
        font-size: 1rem;
    }
    &:hover {
        background-color: $white;
        color: $secondary-color;
    }
}

.btn-right {
    display: block;
    text-align: right;
}
.contact-btn a {
    background-color: $secondary-color;
    color: $white;
    border-radius: 80px;
    padding: 1.3rem 3rem;
    font-size: 1.7rem;
    display: inline-flex;
    font-family: "HelveticaNeueLTPro-Md";
    width: 80%;
    justify-content: center;
    @include breakpoint(ipad_portrait){
        width: 100%;
    }
    @include breakpoint(mobile_portrait) {
        width: 100%;
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
    }

    &:hover {
        background-color: $white;
        color: $secondary-color;
    }
}
