@import url("//hello.myfonts.net/count/31f7df");
@font-face {
    font-family: Korb;
    src: url("#{$fontsPath}/31176A_0_0.eot");
    src: url("#{$fontsPath}/31176A_0_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/31176A_0_0.woff2") format("woff2"), url("#{$fontsPath}/31176A_0_0.woff") format("woff"),
        url("#{$fontsPath}/31176A_0_0.ttf") format("truetype");
}

/* @import must be at top of file, otherwise CSS will not work */

@font-face {
    font-family: "HelveticaNeueLTPro-Lt";
    src: url("#{$fontsPath}/31F7DF_0_0.eot");
    src: url("#{$fontsPath}/31F7DF_0_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/31F7DF_0_0.woff2") format("woff2"), url("#{$fontsPath}/31F7DF_0_0.woff") format("woff"),
        url("#{$fontsPath}/31F7DF_0_0.ttf") format("truetype");
}

@font-face {
    font-family: "HelveticaNeueLTPro-Md";
    src: url("#{$fontsPath}/31F7DF_1_0.eot");
    src: url("#{$fontsPath}/31F7DF_1_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/31F7DF_1_0.woff2") format("woff2"), url("#{$fontsPath}/31F7DF_1_0.woff") format("woff"),
        url("#{$fontsPath}/31F7DF_1_0.ttf") format("truetype");
}

@font-face {
    font-family: "HelveticaNeueLTStd-Bd";
    src: url("#{$fontsPath}/31F7DF_2_0.eot");
    src: url("#{$fontsPath}/31F7DF_2_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/31F7DF_2_0.woff2") format("woff2"), url("#{$fontsPath}/31F7DF_2_0.woff") format("woff"),
        url("#{$fontsPath}/31F7DF_2_0.ttf") format("truetype");
}

@font-face {
    font-family: "HelveticaNeueLTStd-Roman";
    src: url("#{$fontsPath}/31F7DF_3_0.eot");
    src: url("#{$fontsPath}/31F7DF_3_0.eot?#iefix") format("embedded-opentype"),
        url("#{$fontsPath}/31F7DF_3_0.woff2") format("woff2"), url("#{$fontsPath}/31F7DF_3_0.woff") format("woff"),
        url("#{$fontsPath}/31F7DF_3_0.ttf") format("truetype");
}
.page-title h1{
    font-size: 3.4rem;
    font-family: Korb;
    font-weight: 400; 
    @include breakpoint(mobile_landscape) {
        font-size: 2.6rem;
    }
    @include breakpoint(mobile_portrait) {
        font-size: 2.6rem;
    }
}
.view-product-inner h2,
.case-studies-section h2,
.client-logo-section h2,
.get-touch-section h2,
.page-content-section h2,
.quotes-section h2,
.manufacture-resources-section h2,
.blog-details-gallery h2,
.more-info-box h2,
.more-info-box h2 a,
.blog-card-content h2,
.what-we-do-card a h2,
.img-text-card-content h2,
.img-text-card-row .img-text-card-content h3
{
    font-size: $h2;
    font-family: Korb;
    font-weight: 400;
    @include breakpoint(ipad_landscape){
        font-size: $ip-lnd-h2;
    }
    @include breakpoint(ipad_portrait){
        font-size: $ip-por-h2;
    }
    @include breakpoint(mobile_landscape) {
        font-size: $mob-lnd-h2;
    }
    @include breakpoint(mobile_portrait) {
        font-size: $mob-por-h2;
    }
}
.how-we-do-it-card-content h2
{
    font-size: 2.9rem;
    font-family: "HelveticaNeueLTPro-Md";
    font-weight: 400;
    @include breakpoint(mobile_landscape) {
        font-size: 2rem;
    }
    @include breakpoint(mobile_portrait) {
        font-size: 2rem;
    }
}

.case-studies-content h4,
.subtitle,
.products-card h5,
.page-content h3
{
    font-family: "HelveticaNeueLTPro-Md";
    font-weight: 500;
    font-size: 1.3rem;
    @include breakpoint(mobile){
        font-size: 1.2rem;
    }
}

.blog-card-content h2,
.what-we-do-card a h2,
.img-text-card-content h2 {
    text-transform: lowercase;
}


