.scroll-next {
    animation: pulse-grow 1.5s infinite;

    @keyframes pulse-grow {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
}

.trailing-line {
    position: relative;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 30px;
        right: 100%;
        width: 0;
        height: 3px;
        transform: translateX(-40px);
        background: transparent;
        @include breakpoint(mobile){
            display: none;
        }
    }

    .aos-animate & {
        &:before {
            width: 100vw;
            transition: 6s;
        }
    }

    &--left {
        &:before {
            right: auto;
            left: 100%;
            transform: translateX(40px);
        }

        &.trailing-line--small {
            &:before {
                transform: translateX(20px);
            }
        }
    }
    &--primary {
        &:before {
            background: $primary-color;
        }
    }
    &--white {
        &:before {
            background: $white;
        }
    }

    &--small {
        &:before {
            bottom: 6px;
            transform: translateX(-20px);
        }
    }
}
.blog-cards {
    .trailing-line--left:before,
    .trailing-line--right:before {
        transform: translateX(0px);
        top: 50%;
    }
}

.how-we-do-it-card {
    .trailing-line--left:before,
    .trailing-line--right:before {
        transform: translateX(0px);
    }
}
.contact--hd {
    .trailing-line--left:before,
    .trailing-line--right:before {
        transform: translateX(-40px);
        background: $white;
    }
}