.input-field {
    @include margin(25px, 0, 0, 0);
    label {
        @include size-color(16px, $black);
        @include margin(0px, 0, 10px, 0);
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    textarea {
        @include border(1px, $black, solid);
        @include padding(10px, 10px, 10px, 10px);
        @include width(100%);
        @include size-color(15px, $black);
        &:disabled {
            opacity: 0.5;
        }
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-style: normal;
            @include size-color(15px, $black);
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            font-style: normal;
            @include size-color(15px, $black);
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            font-style: normal;
            @include size-color(15px, $black);
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            font-style: normal;
            @include size-color(15px, $black);
        }
    }
    textarea {
        @include border(1px, $black, solid);
        @include padding(10px, 10px, 10px, 10px);
        @include height(126px);
    }
}
