a,
button {
  cursor: pointer;
}

// Base font size 
$font-size-base: 1.2rem;
$font-size-base-m: 1.2rem;
// Main font size 
$mainMenuFont: 1.3rem;

// Footer font size 

$footerTxtFont: 1rem;

// Logo font size 
$logoFont: 4rem;
$logoFontM: 2.6rem;

// Footer Logo font size 
$footerLogoFont: 3.3rem;
$footerLogoFontM: 3rem;

// Main h1 font size 
$h1: 8rem;
$ip-lnd-h1: 7rem;
$ip-por-h1: 6rem;
$mob-lnd-h1: 3.5rem;
$mob-por-h1: 3rem;

// Main h2 font size 
$h2: 2.4rem;
$ip-lnd-h2: 2.4rem;
$ip-por-h2: 2.4rem;
$mob-lnd-h2: 2.1rem;
$mob-por-h2: 2rem;

// Main line height 
$line-height : 1.7rem;

// Border  line height 
$border-line-height : 4px;

// Main padding
$main-pd: 6rem;
$ip-lnd-main-pd: 4rem;
$ip-por-main-pd: 3rem;
$mob-lnd-main-pd: 3rem;
$mob-por-main-pd: 3rem;

// Set Image Path 
$assetPath: "../img";
$fontsPath: "../webfonts";

//Hero section dots
$heroDots: 3rem;
$ipad-heroDots: 2.4rem;
$mobile-heroDots: 1.4rem;

//Ul li dots
$liDots: 0.813rem;
$ipad-liDots: 0.813rem;
$mobile-liDots: 0.813rem;

// Hero Subheading font size 
$hd-subhd: 3rem;
$ip-lnd-hd-subhd: 2.8rem;
$ip-por-hd-subhd: 2.2rem;
$mob-lnd-hd-subhd: 1.5rem;
$mob-por-hd-subhd: 1.4rem;


// Back Button font size 
$back-btn-font: 3rem;
$back-btn-font-i-l: 2.8rem;
$back-btn-font-i-p: 2.4rem;
$back-btn-font-m-l: 1.5rem;
$back-btn-font-m-p: 1.5rem;

// Overlay

$drak-overly: rgba(0, 0, 0, 0.8);

$scaleEffect: scale(1.1);