{% if post.home_hero_list %}


	<section class="home-page-slider-section">
		<div class="home-page-slider hero-page-slider">

			{% for slide in post.get_field('home_hero_list') %}
				{% set last_slide =slide %}
				{% if slide.hero_image %}

					<div class="home-page-slider-items">
						<div class="slider-img">
							
                            {% if slide.hero_image %}
								<picture>
									<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(slide.hero_image_mobile ? slide.hero_image_mobile:slide.hero_image).src('hero-slider-mobile') }}"/>
									<source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(slide.hero_image_ipad?slide.hero_image_ipad:slide.hero_image).src('hero-slider-mobile-landscape') }}"/>
									<source media="(min-width:768px) and (max-width:992px)" srcset="{{ TimberImage(slide.hero_image_ipad?slide.hero_image_ipad:slide.hero_image).src('hero-slider-ipad') }}"/>
									<source media="(min-width:992px) and (max-width:1100px)" srcset="{{ TimberImage(slide.hero_image_ipad?slide.hero_image_ipad:slide.hero_image).src('hero-slider-desktop') }}"/>
									<source media="(min-width:1101px) and (max-width:1500px)" srcset="{{ TimberImage(slide.hero_image_ipad?slide.hero_image_ipad:slide.hero_image).src('hero-slider-desktop') }}"/>
									<img src="{{ TimberImage(slide.hero_image).src('hero-slider') }}" alt="{{ slide.hero_image.alt }}"/>
								</picture>
								{# width= 1308 and height =1000 #}
							{% endif %}

						</div>
						<div class="home-page-content">
							<div class="home-page-content-in">
								<div class="home-page-content-box">
								<div class="home-page-content-box-in">
									<h1>{{slide.hero_title}}</h1>
									<h1 class="primary-color-h1">{{slide.hero_content}}</h1>
								</div></div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}


		</div>
		<div class="arrow-go-btm"><a href="#scroll-to-main"><img src="{{theme.link}}/assets/img/icons/arrow down white.svg"></a></div>
	</section>


	<div id="scroll-to-main"></div>
{% endif %}
