{% if post.content or post.title %}
	{% set param = { 'next_text':'‹ previous article', 'prev_text':'next article ›'} %}

	<section class="news-details-page white-bg details">
		<div class="container-sm">
			<div class="padding-in-page">
				{% if post.terms('category') | join(', ') %}<div class="tags-in-details">
				
					<div class="tags">
						{{ post.terms('category') | join(', ') }}
					</div>
					
				</div>{% endif %}
				{% if post.get_field('show_top_featured_image')%}
				{% include "partial/content-featured-image.twig"%}
				{% endif %}
				<div class="post--content">
				    {{post.content}}
					{% include "partial/content-post-flexible-content.twig"%}
				</div>
				
			</div>
		</div>
	</section>
{% endif %}
