{% if content.row1 %}
<section class="contact-us-section light-green-bg" data-aos="fade-up">
	<div class="container-md">
		<div class="contact-us-row">
			<div class="contact-us-section-text">
				<div class="contact-us-section-text-in">
					<h2>{{contact_post.get_field('contact_heading')}}</h2>
					<div class="desc--box">
					{{contact_post.get_field('contact_content')}}
					</div>
				</div>
			</div>
			<div class="contact-us-section-info">
				<div class="contact-us-section-info-in">
					<ul>
						<li><a href="mailto:{{contact_post.get_field('email')}}" class="email-green-icon">{{contact_post.get_field('email')}}</a></li>
						<li><a href="tel:{{contact_post.get_field('telephone')}}" class="telephone-green-icon">{{contact_post.get_field('telephone')}}</a></li>
						<li><a class="location-green-icon" target="{{contact_post.get_field('gmap_link').target}}" href="{{contact_post.get_field('gmap_link').url}}">FIND US ON GOOGLE</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}