<section class="white--bg section-tp-t-pd" >
	<div class="back-btn-box">
	<div class="container-lg">
	<div class="btn-set--center">
			{% if url_link_full %}
				<a class="back-btn" href="{{url_link_full}}">{{url_title}}</a>
			{% else %}
				<a class="back-btn" href="{{ site.link }}/{{url_link}}">{{url_title}}</a>
			{% endif %}
		</div>
	</div>
		
	</div>
</section>
