{% if ((post.get_field('hero_image') or post.thumbnail) and post.get_field('show_page_hero')) %}

	<section class="page-heading">
		<div class="container-md">
			<h1 class="page-heading-h1">{{post.title|upper}}</h1>
			<div class="page-feature-img">

				{% if post.get_field('hero_image') %}
					<picture>
						<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.get_field('hero_image')).src('banner-image-mobile') }}"/>
						<img src="{{ TimberImage(post.get_field('hero_image')).src('banner-image') }}" alt="{{ post.get_field('banner-image').alt }}"/>
					</picture>
				{% elseif post.thumbnail %}
					<picture>
						<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.thumbnail).src('banner-image-mobile') }}"/>
						<img src="{{ TimberImage(post.thumbnail).src('banner-image') }}" alt="{{ post.thumbnail.alt }}"/>
					</picture>
				{% endif %}

			</div>
		</div>
	</section>
{% endif %}
