{% if post.get_field('override_featured_image') %}
		<div class="news-full-img">
			<img typeof="foaf:Image" src="{{ TimberImage(post.get_field('override_featured_image')).src('news-details-one') }}" alt="{{post.get_field('post_thumbnail_image').alt}}" title="{{post.title}}">
		</div>
{% elseif post.thumbnail %}
		<div class="news-full-img">
			<img typeof="foaf:Image" src="{{ TimberImage(post.thumbnail).src('news-details-one') }}" alt="{{post.thumbnaill.alt}}" title="{{post.title}}">
		</div>
{% endif %}
