<section class="searvice-details-heading">
	<div class="searvice-main-details-img">
		<picture>
			<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(post.service_hero_banner).src('banner-image-mobile') }}">
			<source media="(min-width:568px) and (max-width:991px)" srcset="{{ TimberImage(post.service_hero_banner).src('banner-image-ipad') }}">
			<source media="(min-width:992px) and (max-width:1024px)" srcset="{{ TimberImage(post.service_hero_banner).src('banner-image-ipad-landscape') }}">
			<source media="(min-width:1025px) and (max-width:1700px)" srcset="{{ TimberImage(post.service_hero_banner).src('banner-image-sm-desktop') }}">
			<img src="{{ TimberImage(post.service_hero_banner).src('banner-image') }}" alt="">
		</picture>
	</div>
	<div class="searvice-details-heading-in">
		<div class="container-sm">
			<div class="searvice-icon-hd">
				<i><img src="{{ TimberImage(post.post_thumbnail_image_white).src('src') }}" alt=""/></i>
				<h1>{{post.title}}</h1>
			</div>
		</div>
	</div>
</section>
