<section class="page-heading">
	<div class="container-sm">
		<h1 class="page-heading-h1">{{post.title}}</h1>
		<div class="gallery-link">
			<ul>
				<li class="{% if project_catg_current == '' %}active{% endif %}">
					<a data-href="{{site.link}}/our-work" data-filter="all" class="work-filter {% if project_catg_current == '' %}active{% endif %}">All projects</a>
				</li>

				{% for category in getProjects() %}
					<li class="{% if category.slug == project_catg_current %}active{% endif %}">
						<a data-href="{{site.link}}/our-work/?pcatg={{category.slug}}" data-filter=".category-{{category.slug}}" class=" filter work-filter {% if project_catg_current == category.slug  %}active{% endif %}">{{category.name}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
