{% if tests %}
	<footer>
		<div class="container-lg">
			<div class="custom-row">
				<div class="footer-logo hide-desktop">
					<div class="logo-img"><img src="{{ TimberImage(contact_post.get_field('footer_logo')).src('src') }}" alt=""/></div>
				</div>
				<div class="footer-social-media">
					<ul class="social-media-icon">
						{% if contact_post.get_field('facebook') %}
							<li>
								<a class="facebook-white-icon" target="_blank" href="{{contact_post.get_field('facebook')}}"></a>
							</li>
						{% endif %}
						{% if contact_post.get_field('youtube') %}
							<li>
								<a class="youtube-white-icon" target="_blank" href="{{contact_post.get_field('youtube')}}"></a>
							</li>
						{% endif %}

						{% if contact_post.get_field('instagram') %}
							<li>
								<a class="instagram-white-icon" target="_blank" href="{{contact_post.get_field('instagram')}}"></a>
							</li>
						{% endif %}

						{% if contact_post.get_field('linkedin') %}
							<li>
								<a class="linkedin-white-icon" target="_blank" href="{{contact_post.get_field('linkedin')}}"></a>
							</li>
						{% endif %}
						{% if contact_post.get_field('twitter') %}
							<li>
								<a class="twitter-white-icon" target="_blank" href="{{contact_post.get_field('twitter')}}"></a>
							</li>
						{% endif %}

					</ul>
				</div>
				<div class="footer-logo hide-mobile">
					<div class="logo-img"><img src="{{ TimberImage(contact_post.get_field('footer_logo')).src('src') }}" alt=""/></div>
				</div>
				<div class="footer-info">
					{% include "menu.twig" with {'items': footer_menu_1.get_items} %}
					<p class="copy-right">Website created by
						<a href="https://blooberrycreative.co.uk/" target="_blank">Blooberry Creative</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
{% endif %}

<footer>
	<div class="container-lg">
		<div class="custom-row">
			<div class="footer-left">
				<div class="site-footer-logo">
					<img src="{{theme.link}}/assets/img/r and j logo colour.svg">
				</div>

			</div>
			<div class="footer-right">
				{% include "menu.twig" with {'items': footer_menu_1.get_items} %}

				<p class="copy-right simple-txt">WEBSITE CREATED BY:
					<a href="https://blooberrycreative.co.uk/">blooberrycreative.co.uk</a>
				</p>
			</div>
		</div>
	</div>
</footer>
