{% extends "base.twig" %}

{% block content %}

	<div class="home-page-container">

		{% include "partial/content-home-hero.twig"%}

		{% include "partial/content-home-main.twig"%}

		{% include "partial/content-flexible-content.twig"%}

		{% include "partial/content-get-in-touch.twig" %}
	</div>
{% endblock %}