{% if content_row.image and content_row.content %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = ' '~content_row.background_color~'-bg' %}
	{% else %}
		{% set color_bg_class = ' secondary-bg'%}
	{% endif %}
	{% if content_row.image_position =='left' %}
		{% set image_position_class = ' primary-post-row' %}
	{% else %}
		{% set image_position_class = ' secondary-post-row' %}
	{% endif %}


	<section class="sm-image-text-section {{color_bg_class}} " >
		<div class="container" data-aos="fade-up">
			<div class="sm-image-text-section-content {{image_position_class}}">
				<div class="sm-image-text-sec-img" style="background-image: url({{ TimberImage(content_row.image).src('post-row-img') }});">
					<picture>
						<source media="(min-width: 320px) and (max-width: 767px)" srcset="{{ TimberImage(content_row.image).src('post-row-img-mobile') }}">
						<source media="(min-width: 768px) and (max-width: 1200px)" srcset="{{ TimberImage(content_row.image).src('post-row-img-ipad') }}">
						<img src="{{ TimberImage(content_row.image).src('post-row-img') }}" alt="">
					</picture>
				</div>
				<div class="sm-image-text-sec-content">
					<div class="sm-image-text-sec-content-in">
					<div class="sm-image-text-sec-content-in-in">
						<h3>{{content_row.title}}</h3>
						<div class="desc--box">
							{{content_row.content}}
						</div>
					</div></div>

					{% if content_row.cta %}
						<div class="btn-set--right">
							<a href="{{content_row.cta.url}}" target="{{content_row.cta.target}}" class="primary-outline-btn">{{content_row.cta.title}} <i></i></a>
						</div>
					{% endif %}


				</div>
			</div>

		</div>

	</section>


{% endif %}
