{% if content_row.content %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' white-bg'%}
	{% endif %}

	<section class="welcome-text-section" data-aos="fade-up">
		<div class="container-sm">
			<h2>{{content_row.title}}</h2>
			<div class="welcome-text-section-left-pd">
				<div class="desc--box">
					{{content_row.content}}
				</div>
				{% if content_row.cta %}

					<div class="btn-set--left">
						<a href="{{content_row.cta.url}}" target="{{content_row.cta.target}}" tabindex="0" class="primary-outline-btn">{{content_row.cta.title}}<i></i></a>
					</div>
				{% endif %}

			</div>

		</div>
	</section>
{% endif %}
