{% if content_row.content %}
	<section class="about-us-info">
		<div class="container-sm">
			<div class="custom-row">
				<div class="about-us-info-left">
					<h2>{{content_row.title}}</h2>
				</div>
				<div class="about-us-info-right">
					<div class="desc--box">
						{{content_row.content}}
					</div>
					{% if content_row.cta %}

						<div class="btn-set--right">
							<a href="{{content_row.cta.url}}" target="{{content_row.cta.target}}" tabindex="0" class="primary-outline-btn">{{content_row.cta.title}}<i></i></a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endif %}
