{% if content_row.review_content %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = '  primary-bg'%}
	{% endif %}

	<section class="testimonials-section{{color_bg_class}}" data-aos="fade-up">
		<div class="container-sm">
			<div class="testimonials-section-content">
				<strong>{{content_row.review_content}}</strong>
				{% if content_row.review_author %}
				<i>{{content_row.review_author}}</i>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}