
{% if content_row.project_gallery_by_category %}

	<section class="project-gallery-grid">

		<div class="photo-gallery-row main-padding-top">

			{% for gallery_category_row in content_row.project_gallery_by_category %}

				{% for gallery_row in gallery_category_row.project_gallery_row %}
					<div class="photo-gallery-box mix category-{{gallery_category_row.work_category_term.slug}}" data-aos1="fade-up" >
						<a data-fancybox="gallery" data-src="{{ TimberImage(gallery_row.image).src('src') }}" data-caption="{{gallery_row.caption}}" class="fancebox" style="background-image: url({{ TimberImage(gallery_row.image).src('gallery-img-size') }});">

							<picture>
								<source media="(min-width: 320px) and (max-width: 767px)" srcset="{{ TimberImage(gallery_row.image).src('same-size') }}">
								<img src="{{ TimberImage(gallery_row.image).src('gallery-img-size') }}" alt="">
							</picture>
							<figcaption style="display: none;">
								<div class="fb-caption-overlay">
									<h4>{{gallery_row.caption}}</h4>
								</div>
							</figcaption>
						</a>

					</div>
				{% endfor %}


			{% endfor %}
		</div>
	</section>
	
	
	<style>
	.photo-gallery-row .mix{
	display: none;
}
</style>
	<script src='https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js'></script>
	<script>
		jQuery(document).ready(function ($) {

function getSelectorFromHash() {
return $('.gallery-link li.active .work-filter').attr('data-filter');
}
var mixer = jQuery('.photo-gallery-row').mixItUp({

selectors: { 
filter: '.gallery-link li a',
target: '.photo-gallery-box'
},
load: {
filter: getSelectorFromHash(),
sort: 'random'
},
animation: {
animateResizeContainer: true,
effects: 'fade scale'
}

});

// jQuery('a.work-filter').on('click', function () {
// let fdata = jQuery(this).attr('data-filter');
// mixer.filter(fdata);
// });
});
	</script>
{% endif %}


