{% if content_row.image %}
	<section class="parallax-image-section" data-parallax="scroll" data-image-src="{{ TimberImage(content_row.image).src('paralax-img') }}">
		<div class="container-md">
			<h1>{{content_row.paralax_content}}</h1>
		</div>
	</section>
{% endif %}
