{% if content_row.tags_row_items %}
	<section class="tagcloud-section secondary-bg" data-aos="fade-up">
		<div class="custom-row">
			{% for tags in content_row.tags_row_items %}
				<h2 class="{{tags.tag_heading_size}} {{tags.tag_heading_color}}" data-aos="zoom-in">
					{{tags.tag_heading}}
				</h2>
			{% endfor %}
		</div>
		{# <div class="custom-row">
			<h2 class="large-text green-text" data-aos="zoom-in">
				commitment
			</h2>

			<h1 class="extra-large-text white-text" data-aos="zoom-in">
				trust
			</h1>

			<h2 class="large-text green-text" data-aos="zoom-in">
				respect
			</h2>

			<h2 class="large-text green-text" data-aos="zoom-in">
				intergity
			</h2>

			<h1 class="extra-large-text white-text" data-aos="zoom-in">
				quality
			</h1>

			<h1 class="extra-large-text white-text" data-aos="zoom-in">
				innovation
			</h1>

			<h4 class="small-text green-text" data-aos="zoom-in">
				partnership
			</h4>

			<h3 class="mid-text green-text" data-aos="zoom-in">
				excellence
			</h3>

			<h1 class="extra-large-text white-text" data-aos="zoom-in">
				loyalty
			</h1>

			<h2 class="large-text green-text" data-aos="zoom-in">
				reliability
			</h2>
		</div> #}

	</section>
{% endif %}
