{% if content_row.projects_row %}
	<section class="transformations-col-section light-gray-bg">
		<div class="container">
			<div class="section-hd hd-center" data-aos="fade-up">
				<h3>{{content_row.heading}}</h3>
			</div>
			<div class="transformations-col-row transformations-col-3">
				{% for item in content_row.projects_row %}
					<div class="transformations-col" data-aos="fade-up">
						<a href="{{site.link}}/our-work/?pcatg={{item.project.slug}}">
							<h4>{{item.project.title}}
								<i class="arrow-h4"></i>
							</h4>
							<div class="transformations-col-img">
								<picture>
									<source media="(min-width: 320px) and (max-width: 767px)" srcset="{{ TimberImage(item.project.thumbnail).src('transformations-block-mobile') }}">
									<source media="(min-width: 768px) and (max-width: 1200px)" srcset="{{ TimberImage(item.project.thumbnail).src('transformations-block-ipad') }}">
									<img src="{{ TimberImage(item.project.thumbnail).src('transformations-block-desktop') }}" alt="{{item.project.title}}">
								</picture>
							</div>
						</a>

					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
