{% if content_row.copy_content_title or content_row.copy_content_text %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' white-bg'%}
	{% endif %}

	<section class="welcome-text-section" data-aos="fade-up">
		<div class="container-md">
			{% if content_row.copy_content_title %}
				<h2>{{content_row.copy_content_title}}</h2>
			{% endif %}
			<div class="welcome-text-section-left-pd">
				<div class="desc--box">
					{{content_row.copy_content_text}}
				</div>
			</div>

		</div>
	</section>
{% endif %}
