.page_event__details {
  padding: $d_pd 0;
  background: $light-gray-color;
}

.event_info__content {
  padding-top: 50px;
}

.event__info {
  padding: 50px 70px;
  @include background($blueLight);
  margin-left: 7%;
  margin-right: 7%;
  @include breakpoint(iPad-landscape) {
    padding: 50px 35px;
  }
  @include breakpoint(iPad) {
    padding: 45px;
  }
  @include breakpoint(mobile-landscape) {
    padding: 30px;
  }
  @include breakpoint(mobile-landscape-sm) {
    margin-left: 0%;
    margin-right: 0%;
  }
  @include breakpoint(mobile-portrait) {
    margin-left: 0%;
    margin-right: 0%;
    padding: 30px 30px;
  }

  .e_i__inner {
    ul {
      @include ul(0, 0, none);
      display: flex;

      @include breakpoint(iPad) {
        flex-wrap: wrap;
      }
      @include breakpoint(mobile-landscape) {
        flex-wrap: wrap;
      }
      @include breakpoint(mobile-portrait) {
        display: block;
      }

      li {
        width: 25%;
        border-right: 1px $white solid;
        padding: 0 15px;
        display: flex;
        align-items: center;
        @include breakpoint(iPad-landscape) {
          padding: 0 5px;
        }
        @include breakpoint(iPad) {
          width: 50%;
          padding: 0 15px;
          margin: 10px 0;
        }
        @include breakpoint(mobile-landscape) {
          width: 50%;
          padding: 0 15px;
          margin: 10px 0;
        }
        @include breakpoint(mobile-portrait) {
          width: 100%;
          padding: 25px 0px;
          border-right: 0px $white solid;
        }
        &:nth-child(2n + 2) {
          @include breakpoint(iPad) {
            border-right: 0px $white solid;
          }
          @include breakpoint(mobile-landscape) {
            border-right: 0px $white solid;
          }
        }
        &:last-child {
          border-right: 0px $white solid;
        }
      }

      .e_i__icon {
        width: 70px;
        height: 70px;
        border: 0px $white solid;
        border-radius: 100px;
        display: flex;
        padding: 11px;
        align-items: center;

        img {
          width: 100%;
          margin: auto;
          display: block;
          height: auto;
          max-width: 96%;
        }
      }

      .e_i__content {
        width: 66%;
        padding: 0 0 0 15px;
        @include breakpoint(iPad-landscape) {
          padding: 0 0 0 5px;
        }

        strong {
          display: block;
          @include font-color(16px, $white);
          font-weight: 500;
        }

        span {
          display: block;
          @include font-color(16px, $white);
        }
      }
    }
  }
}

.addl_info__block {
  border-top: 1px $input-border solid;
  padding-top: 50px;
  margin-top: 50px;

  h2 {
    @include no_p_m;
    color: $tealDark;
  }

  .a_i_b__inner {
    padding: 30px 0 0;

    h5 {
      @include no_p_m;
      color: $tealDark;
    }

    .a_i__txt {
      padding: 15px 0 0;
    }
  }
}

.addl_form {
  .addl_input_box {
    margin-top: 0px;
    border-bottom: 2px solid #bbb;
    padding: 20px 10px;
    label{
      margin:0px;
    }
  }

  .addl_input_box:empty {
    margin-top: 0px;
  }

  .addl_input {
    color: #3f7d8b;
    font-weight: 500;
    a{
      color: #3f7d8b; 
    }
    @include width(70%);

    @include breakpoint(mobile-portrait) {
      @include width(100%);
    }

    .checkBoxright {
      display: inline-block;
      margin: 0 10px 0 0;
    }

    .checkBoxright input[type='checkbox'].css-checkbox + label.css-label {
      padding-right: 46px;
    }
  }
}
