.page_news__list {
  padding: 116px 0 60px 0;
  @include breakpoint(mobile-landscape) {
    padding: 40px 0 30px 0;
  }
  @include breakpoint(mobile-portrait) {
    padding: 40px 0 30px 0;
  }
  h1 {
    margin: 0px;
    padding: 0 0 15px 0;
    color: $tealDark;
    @include align_center;
    @extend %heading-font;
  }

  .news__left {
    width: 23%;
    @include breakpoint(mobile-portrait) {
      width: 100%;
    }
    .chilternsaonb-widgets {
      padding-top: 40px;
    }

    h3 {
      margin: 0px;
      padding: 0 0 15px 0;
      color: $tealDark;
      @extend %heading-font;
    }

    .see_all_news {
      @include display(block);

      a {
        @include font-color(14px, $green);
        @include display(block);
        font-weight: 500;
        padding: 20px 0 0;

        &:hover,
        &.active {
          @include font-color(14px, $tealDark);
        }
      }
    }

    ul {
      @include ul(0, 0, none);

      li {
        margin: 0px;
        padding: 0px;

        a {
          @include font-color(14px, $green);
          @include display(block);
          font-weight: 500;
          padding: 10px 0;
          border-bottom: 1px $input-border solid;

          &:hover,
          &.active {
            @include font-color(14px, $tealDark);
          }
        }
        span.post-date {
          display: none;
        }
      }

      &.year-archive{
        li{
          a{
            &.collapsed{
              background: url('#{$assetPath}/arrow-close.svg') no-repeat center right;
              background-size: 16px;
            }
            background: url('#{$assetPath}/arrow-open.svg') no-repeat center right;
            background-size: 16px;
            padding-right: 30px;
          }
          ul{
            li{
              a{
                background: transparent;
              }
            }
          }
        }
      }
    }
  }

  .news__right {
    width: 77%;
    padding-left: 50px;
    @include breakpoint(mobile-portrait) {
      width: 100%;
      padding-left: 0px;
      padding-top: 25px;
    }

    .news_list__box {
      padding-top: 40px;
      .col-sm-4 {
        @include breakpoint(mobile-landscape) {
          width: 50%;
        }
      }
      .col-sm-8 {
        @include breakpoint(mobile-landscape) {
          width: 50%;
          padding-left: 0px;
        }
      }

      .news__content {
        border-bottom: 1px $input-border solid;
        padding-bottom: 40px;

        h3 {
          margin: 0px;
          padding: 0;
          color: $tealDark;
          display: block;
          @extend %heading-font;
          @include text-short;
          @include breakpoint(mobile-portrait) {
            margin: 17px 0 0;
          }
          a {
            @include text-short;
            color: $tealDark;
            display: block;
            @extend %heading-font;
          }
        }

        h5 {
          margin: 0px;
          padding: 10px 0 0 0;
          display: block;
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          @include font-color(18px, $tealDark);
        }

        .n_c__txt {
          padding: 10px 0 0 0;
        }

        .button_green {
          a {
            border: 1px $green solid;
          }
        }
      }
     
    }
  }
}

.widget_search {
  .input-group {
    padding-top: 10px;
    input {
      background: transparent;
      border: 1px $input-border solid;
      padding: 5px;
      width: 100%;
    }
    .input-group-append {
      display: none;
    }
    .search-submit {
      background: transparent;
      border: 0px;
    }
  }
}
.wp-calendar-table {
  width: 100%;
  tr {
    th {
      font-size: 15px;
      text-align: center;
      color: $green;
    }
    td {
      border: 1px $input-border solid;
      font-size: 15px;
      text-align: center;
    }
  }
}
