.page_walk{
    padding:$d_pd 0;
    background: $light-gray-color;
    &__inner{
        
        .block_details_route{
            margin-top: 50px;
        }
    }
  .walk_full__img{
      padding: 50px 15% 0 15%;
  } 

}