.page_content_us{
    padding:$d_pd 0;
    background: $light-gray-color;
    .page_content_us__inner{
       
        .p_c_i__txt{
            padding: 0 5%;
            @include align_center;
        }
        .contact__btm{
            padding:15px 0 0;
            @include breakpoint(iPad){
                padding:15px $l_pd 0;
            }
            @include breakpoint(mobile-landscape){
                padding:15px 8% 0;
            }
            .contact_left{
                width: 70%;
                float: left;
                @include breakpoint(iPad){
                    width: 100%; 
                    float: none;
                }
                @include breakpoint(small){
                    width: 100%; 
                    float: none;
                }
                input-field,
                .recaptcha 
                {
                    float: left;
                    width: 100%;
                }
                .recaptcha {
                    @include align_right;
                    margin: 25px 0;
                    .wpcf7-form-control-wrap{
                        float: right;
                    }
                }
                .button_green {
                    button,
                    input[type="submit"]
                    {
                        border: 1px $green solid;
                    }
                }
            }  
            .contact_right{
                width: 30%;
                float: right;
                padding: 50px 0 0 15px;
                @include breakpoint(iPad){
                    width: 100%; 
                    float: none;
                    display: flex;
                    padding: 50px 0 0 0px;
                }
                @include breakpoint(small){
                    width: 100%; 
                    float: none;
                    padding: 50px 0 0 0px;
                }
                @include breakpoint(mobile-landscape){
                    width: 100%; 
                    float: none;
                    display: flex;
                    padding: 50px 0 0 0px;
                }
                p:nth-child(2){
                    @include breakpoint(iPad){
                        margin-left: 35px;
                    }
                    @include breakpoint(mobile-landscape){
                        margin-left: 35px;
                    }
                }
                
            } 
        }
       
    }
}
.checkBoxright-section{
    br{
        display: none;
    }
}

.checkBoxright-section .wpcf7-form-control-wrap,
.volu_opp__form .recaptcha .wpcf7-form-control-wrap
{ float: right;}
.volu_opp__form .recaptcha{ margin: 25px 0; float: left; width: 100%;}
.input-field .checkBoxright-section label{ font-weight: 400; margin-top: 9px;
    display: inline-block;}
 
.wpcf7-response-output{ float: left; width: 100%;}  