.big-block-2 {
  position: relative;
  margin-top: -8px;
  &:after {
    content: '';
    position: absolute;
    @include width(50%);
    @include height(100%);
    left: 0px;
    @include background($green);
    top: 0px;
    z-index: 1;
    @include breakpoint(iPad) {
      width: 100%;
    }
    @include breakpoint(mobile-landscape) {
      width: 100%;
    }
    @include breakpoint(mobile-portrait) {
      display: none;
    }
  }

  .container {
    position: relative;
    z-index: 2;
    max-width: 100%;
    @include breakpoint(mobile-landscape) {
      padding: 0px;
    }
    .row {
      @include breakpoint(mobile-landscape) {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    .col-md-6 {
      max-width: 583px;
      padding: 50px 70px;
      min-height: 418px;
      margin: auto;
      @include breakpoint(iPad) {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        min-height: 337px;
      }
      @include breakpoint(mobile-landscape) {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        min-height: 337px;
      }
      @include breakpoint(mobile-portrait) {
        padding: 30px;
      }
    }
    .col-md-6:first-child {
      @include breakpoint(mobile-portrait) {
        @include background($green);
      }
    }
    .home_map_block {
      padding: 0px !important;
      max-width: 100%;
      margin: 0 !important;
      &::after {
        content: '';
        @include background(rgba(0, 0, 0, 0.6));
        mix-blend-mode: multiply;
        position: absolute;
        @include width(100%);
        @include height(100%);
        top: 0;
        left: 0px;
        z-index: 1;
      }
      .map_home_img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        background-size: cover;
        background-position: center;
      }
    }
  }

  .big-block-2-text {
    display: flex;
    align-items: center;
    display: flex;
    width: 100%;
    @include breakpoint(mobile-portrait) {
      display: block;
    }

    .big_blk_in {
      width: 100%;

      h2 {
        @include no_p_m;
        color: $white;
        @include text-short;
      }

      .b_b_txt {
        padding: 20px 0 20px 0;
        color: $white;
      }
      .button_green a {
        text-transform: unset;
      }
    }
  }

  .home_map {
    background-size: cover;
    background-position: center;
    position: relative;
    align-items: center;

    .home_map_txt {
      @include width(100%);
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      height: 100%;
      @include breakpoint(iPad) {
        padding: 52px 0;
      }
      @include breakpoint(mobile-landscape) {
        padding: 52px 0;
      }

      .home_map_in {
        max-width: 300px;
        @include breakpoint(mobile-portrait) {
          margin: 60px auto 60px auto;
        }
        margin: auto;
        position: relative;

        &::after {
          content: '';
          @include background($blueLight);
          mix-blend-mode: multiply;
          position: absolute;
          @include width(100%);
          @include height(100%);
          top: 0;
          left: 0px;
          z-index: 1;
          @include transition;
        }
        &:hover {
          &::after {
            @include background($green);
          }
        }

        .home_map_in_txt {
          position: relative;
          z-index: 2;
          @include align_center;
          padding: 40px;
          display: block;

          i {
            @include width(60px);
            margin: auto auto 15px auto;
            display: block;

            img {
              @include width(100%);
            }
          }

          a {
            @include font-color(24px, $white);
            strong {
              display: block;
              font-weight: 100;
              font-family: 'PontiacRegular';
              @include font-color(24px, $white);
            }
            &:hover {
              strong {
                @include font-color(24px, $white);
              }
            }
          }
        }
      }
    }
  }
}

.map_right_img {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50vw;
  right: 0px;
  min-width: 1px;
  max-width: none;
  height: 100%;
  min-height: 100%;
  max-height: none;
  margin: 0;
  z-index: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  @include breakpoint(mobile-portrait) {
    width: 100%;
  }

  &::after {
    content: '';
    @include background(rgba(0, 0, 0, 0.6));
    mix-blend-mode: multiply;
    position: absolute;
    @include width(100%);
    @include height(100%);
    top: 0;
    left: 0px;
    z-index: 1;
  }
}
