.block_accordion {
  padding: $d_pd 0;

  h2 {
    @include no_p_m;
    font-weight: 100;
    @include font-color(24px, $tealDark);
    font-family: 'PontiacRegular';
  }
  .accordion {
    padding-top: 15px;
  }
  .a__box {
    border-top: 1px $gray-555 solid;

    .a_b__top {
      padding: 0;

      h5 {
        @include no_p_m;
        padding: 15px 20px;
        cursor: pointer;
        font-weight: 500;
        @include font-color(18px, $green);

        background: url('#{$assetPath}/arrow-open.svg') no-repeat center right;
        &.collapsed {
          background: url('#{$assetPath}/arrow-close.svg') no-repeat center right;
        }
      }
    }

    .a_b__btm {
      padding: 15px 20px;
    }

    &:last-child {
      border-bottom: 1px $gray-555 solid;
    }
  }
}
