.block_long_text {
  padding: $d_pd 0;
  &.padding-top-remove{padding-top:0px ;}
  &.padding-bottom-remove{  padding-bottom:0px ;}

  h3 {
    color: $tealDark;
    font-family: 'PontiacBold';
    @include breakpoint(mobile-portrait) {
      padding: 0px;
    }
  }
  .b_l_t__img {
    img {
      @include width(100%);
    }
  }
  .b_l_t__txt {
    padding: 15px 0 30px 0;
    @include breakpoint(mobile-landscape) {
      padding: 5px 0px;
    }
    @include breakpoint(mobile-portrait) {
      padding: 5px 0px;
    }
  }
  .download_btn {
    @include breakpoint(mobile-portrait) {
      padding: 0px;
    }
  }
  .no-bottom-padding{padding-bottom: 0px;}
}
