.block_job_list {
  background: $white;
  padding: $d_pd 0;

  .block_job_list__inner {
    h2 {
      margin: 0px;
      padding: 0;
      color: $tealDark;
      @include align_center;
    }

    .job_list__box {
      .j_l__box {
        padding-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px $input-border solid;
        &:last-child {
          padding-bottom: 0px;
          border-bottom: 0px $input-border solid;
        }
        h3 {
          margin: 0px;
          padding: 0;
          color: $tealDark;
          display: block;
          // font-family: 'PontiacBold';
          a {
            color: $tealDark;
            display: block;
          }
        }

        strong {
          margin: 0px;
          padding: 15px 0 0 0;
          display: block;
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          @include font-color(17px, $tealDark);
        }

        .j_l__txt {
          padding: 15px 0 0 0;
        }
        .button_green {
          a {
            border: 1px $green solid;
          }
        }
      }
    }
  }
}
