.block_apply_volu_opp {
  padding: $d_pd 0;
  &__inner {
    h3 {
      @include no_p_m;
      color: $tealDark;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
    }
    .recaptcha {
      @include align_right;
      margin: 25px 0;
      img {
        max-width: 100%;
        width: auto;
      }
    }
    .button_green {
      button,
      input {
        border: 1px $green solid;
      }
    }
  }
}
