.block_icon_txt_boxs {
  padding: 30px 0 $d_pd;
  background: url('#{$assetPath}/texture_bg.jpg') repeat center center;
  .icon_txt_box {
    padding: $d_pd;
    margin-top: 30px;
    @include breakpoint(iPad) {
      padding: 30px;
    }
    @include breakpoint(mobile-landscape) {
      padding: 30px;
    }
    @include breakpoint(mobile-portrait) {
      padding: 25px 15px;
    }

    .i_t_b__icon {
      width: 90px;
      height: 90px;
      border: 1px $white solid;
      border-radius: 100px;
      text-align: center;
      .i_t_b_i__in {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: center;
      }
      img {
        width: auto;
        height: auto;
        max-width: 68%;
        max-height: auto;
      }
    }
    h3 {
      margin: 0 0 0px 0;
      padding: 20px 0 0 0;
      color: $white;
    }
    .i_t_b_txt {
      padding: 20px 0 0 0;
      color: $white;
      p {
        margin: 0;
      }
    }
    .w_b__btn {
      @include align_left;
      padding: 20px 0 0 0;
      a {
        min-width: 80px;
      }
    }
  }
}

.box_bg_purpal {
  background: $purple;
}

.box_bg_blue {
  background: $blueLight;
}

.box_bg_pink {
  background: $pink;
}

.box_bg_drak_cyan {
  background: $cyanDark;
}

.box_bg_purple {
  background: $purple;
}
