.block_steps_boxs {
  padding: $d_pd 0;
  background: url('#{$assetPath}/texture_bg.jpg') repeat center center;

  h2 {
    @include no_p_m;
    text-align: center;
    color: $tealDark;
    padding-bottom: 50px;
  }

  .steps__box {
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0px;
    }

    .steps_box__inner {
      display: flex;
      align-items: center;
      @include breakpoint(mobile-portrait) {
        flex-wrap: wrap;
      }
    }

    .s_b__img {
      width: 60%;
      @include breakpoint(mobile-portrait) {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }

    &.without-step-content{
      .s_b__img{
        width: 100%;
      }
    }
    .s_b__content {
      width: 40%;
      padding: 25px 40px;
      &.with-no-image{
        width: 100%; 
      }
      @include breakpoint(iPad) {
        padding: 20px;
      }
      @include breakpoint(mobile-landscape) {
        padding: 20px;
      }
      @include breakpoint(mobile-portrait) {
        width: 100%;
        padding: 15px;
      }

      h3 {
        margin: 0 0 0px 0;
        padding: 0px 0 0 0;
        color: $white;
      }

      .s_b_c__txt {
        margin: 15px 0;
        color: $white;
        word-break: break-word;
        a{
          color: $white; 
          text-decoration: underline;
          &:hover{
            font-weight: bold;
          }
        }
        @include breakpoint(mobile-landscape) {
          margin: 10px 0;
        }
      }

      .w_b__btn {
        @include align_left;
        padding: 8px 0 0 0;

        a {
          min-width: 80px;
          background: $white;
          color: $blueLight;
          &:hover {
            background: $green;
            color: $white;
          }
        }
      }
    }
  }
  .steps_box__noimg {
    .s_b__content {
      width: 100%;
    }
  }

  .steps_box__right {
    .s_b__img {
      order: 2;
    }
  }
}
