/**
* Map container
*/
.block-map {
  background-color: var(--c-white);
  margin: 3rem 0;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaflet-container a.leaflet-popup-close-button {
  width: 30px !important;
  height: 30px !important;
  font-size: 20px !important;
  top: 6px !important;
  right: 4px !important;
}

@media (min-width: 1024px) {
  .leaflet-popup-close-button,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-marker-icon {
    &:focus {
      outline: 2px dashed black !important;
    }
  }
}

.leaflet-popup-close-button {
  color: $black;
}

@media (max-width: 768px) {
  body.locked {
    overflow: hidden;
  }

  .leaflet-top {
    top: auto !important;
    bottom: 70px !important;
  }

  .os-api-branding.logo {
    left: 11px !important;
    bottom: 30px !important;
  }

  .leaflet-tooltip-pane {
    display: none !important;
    visibility: hidden !important;
  }
}
