.full_image_gallery {
    .f_i_g__hd {
        background: $pink;
        padding: $d_pd 0;
        h2 {
            margin: 0px;
            padding: 0 15px;
            color: $white;
            @include align_center;
        }
    }
    .img_g__box {
        @include width(16.666667%);
        @include breakpoint(iPad ) {
            @include width(25%);
        }
        @include breakpoint(small ) {
            @include width(33%);
        }
        a {
            display: block;
            overflow: hidden;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            img {
                @include width(100%);
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                transition: all 0.5s;
            }
            &:hover{
                img {
                    transform: scale(1.1);
                }  
            }
        }
    }
}
