.full-img-content-section {
  position: relative;
  overflow: hidden;
  @include breakpoint(small) {
  }
  .full_back_img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
   
  } 

  .full_img_content {
    background: rgba(0, 0, 0, 40%);
    padding: 60px;
    @include align_center;
    position: relative;
    z-index: 1;
    @include breakpoint(mobile-portrait){
      padding: 30px;
  }
    h2 {
      @include no_p_m;
      color: $white;
    }
    .f_i_txt {
      padding: 20px 0;
      color: $white;
    }
  }
}
