.thumbs-section-boxs {
  padding: $d_pd 0;
  background: url('#{$assetPath}/texture_bg.jpg') repeat center center;
  h2 {
    @include no_p_m;
    text-align: center;
    color: $tealDark;
  }
  .thumbs-section-row {
    padding: 10px 0 0 0;
    .col-md-4 {
      @include breakpoint(iPad) {
        width: 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }
      @include breakpoint(mobile-landscape) {
        width: 50%;
      }
    }
  }
  .thumbs_section_box {
    margin: 30px 0 0 0;
    .th_se_box_img {
      img {
        max-width: 100%;
        @include breakpoint(iPad) {
          max-width: inherit;
          width: 100%;
        }
        @include breakpoint(mobile-landscape) {
          max-width: inherit;
          width: 100%;
        }
      }
    }
    .th_se_box_content {
      padding: 30px;
      min-height: 242px;
      @include breakpoint(small) {
        padding: 20px 15px;
      }
      @include breakpoint(iPad) {
        padding: 20px 15px;
      }
      h3 {
        @include no_p_m;
        color: $white;
        a {
          color: $white;
          display: block;
          line-height: initial;
        }
      }
      .th_se_box_txt {
        margin: 12px 0 24px 0;
        color: $white;

        p {
          margin: 0px;
        }
      }
      &.thumbs_box_bg1 {
        background: $blueLight;
      }
      &.thumbs_box_bg2 {
        background: $cyanDark;
      }
      &.thumbs_box_bg3 {
        background: $pink;
      }
      &.thumbs_box_bg4 {
        background: $green;
      }
      &.thumbs_box_bg5 {
        background: $purple;
      }
      &.thumbs_box_bg6 {
        background: $dark-text-color;
      }
    }
  }
}

.add-your-event {
  padding-top: 60px;
  .a_y_e__box {
    max-width: 812px;
    margin: auto;
    background: $white;
    padding: 50px 70px;

    @include breakpoint(mobile-portrait) {
      padding: 20px;
    }
    h3 {
      @include no_p_m;
      font-weight: normal;
      font-family: 'Roboto', sans-serif;
      color: $tealDark;
    }
    .a_y_e_b__txt {
      padding: 20px 0;
    }
    .button_green {
      a {
        border: 1px $green solid;
      }
    }
  }
}
