.contact-section {
    background-color: $primary-color;
    padding: 16rem 0 10rem;
    @include breakpoint(ipad_landscape){
        padding: 11rem 0 10rem 0;   
    }
    @include breakpoint(ipad_portrait){
        padding: 11rem 0 10rem 0;   
    }
    @include breakpoint(mobile_landscape) {
        padding: 5rem 0 4rem;
    }
    @include breakpoint(mobile_portrait) {
        padding: 5rem 0 4rem;
    }

    .contact--hd {
        position: relative;
        
        .container-sm {
            position: relative;
            .downarrow {
                top: 163px;
            }
        }
        h1 {
            color: $white;
            font-size: $h1;
            font-family: Korb;
            margin: 0;
            padding: 0px;
            font-weight: 400;
            text-transform: lowercase;
            @include breakpoint(ipad_landscape) {
                font-size: $ip-lnd-h1;
            }
            @include breakpoint(ipad_portrait) {
                font-size: $ip-por-h1;
            }
            @include breakpoint(mobile_landscape) {
                font-size: $mob-lnd-h1;
            }
            @include breakpoint(mobile_portrait) {
                font-size: $mob-por-h1;
            }
        }
        .block-content {
            color: $white;
            font-size: $hd-subhd;
            max-width: 100%;
            margin-left: 15%;
            font-weight: 400;
            font-family: "HelveticaNeueLTPro-Md";
            margin-top: 6rem;

            @include breakpoint(ipad_portrait) {
                font-size: $ip-por-hd-subhd;
            }
            @include breakpoint(mobile_landscape) {
                font-size: $mob-lnd-hd-subhd;
                margin-left: 0;
                margin-top: 3rem;
            }
            @include breakpoint(mobile_portrait) {
                font-size: $mob-por-hd-subhd;
                margin-left: 0;
                margin-top: 3rem;
            }

            p {
                line-height: 3.7rem;
                @include breakpoint(ipad_portrait) {
                    line-height: 2.8rem;
                }
                @include breakpoint(mobile_landscape) {
                    line-height: 2rem;
                }
                @include breakpoint(mobile_portrait) {
                    line-height: 2rem;
                }
                &:last-child {
                    margin: 0px;
                }
            }
        }
    }
    .contact--content {
        .contact-content-inner {
            max-width: 66%;
            margin-left: 15%;
            @include breakpoint(mobile) {
                max-width: 100%;
                margin-left: 0%;
            }
            .contact-btn {
                a {
                    margin-top: 3rem;
                    
                }
            }
            .contact-social-media {
                margin-top: 4rem;
                ul {
                    @include ul;
                    display: flex;
                    align-items: center;
                    li {
                        margin: 0 2rem 0 0;
                        padding: 0px;
                        @include breakpoint(mobile_portrait) {
                            margin: 0 1rem 0 0;
                        }
                        a {
                            display: block;
                            width: 70px;
                            height: 70px;
                            position: relative;
                            @include breakpoint(mobile_portrait) {
                                width: 50px;
                                height: 50px;
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                width: 97%;
                                height: 97%;
                                background-color: $white;
                                border-radius: 100px;
                                left: 1.5%;
                                top: 1.5%;
                            }
                            img {
                                width: 100%;
                                position: relative;
                                display: block;
                                z-index: 1;
                            }
                            &:hover {
                                &::after {
                                    background-color: #fdc8bf;
                                }
                                img {
                                    opacity: 0.8;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
