.details-sections {
    padding-top: 13rem;
    @include breakpoint(ipad_portrait) {
        padding-top: 8rem;
    }
    @include breakpoint(mobile_landscape) {
        padding-top: 3rem;
    }
    @include breakpoint(mobile_portrait) {
        padding-top: 3rem;
    }
}
.page-title {
    margin-bottom: $main-pd;
    @include breakpoint(ipad_portrait) {
        margin-bottom: $ip-por-main-pd;
    }
    @include breakpoint(mobile_landscape) {
        margin-bottom: $mob-lnd-main-pd;
    }
    @include breakpoint(mobile_portrait) {
        margin-bottom: $mob-por-main-pd;
    }
    h1 {
        margin: 0;
        padding: 0;
        color: $secondary-color;
        text-transform: lowercase;
    }
}
.page-featured-img {
    margin-bottom: $main-pd;
    @include breakpoint(ipad_portrait) {
        margin-bottom: $ip-por-main-pd;
    }
    @include breakpoint(mobile_landscape) {
        margin-bottom: $mob-por-main-pd;
    }
    @include breakpoint(mobile_portrait) {
        margin-bottom: $mob-por-main-pd;
    }
    .container-sm {
        position: relative;
    }
    .downarrow {
        bottom: 0px;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}
.page-content {
    h3 {
        margin: 0px;
        padding: 0px;
        color: $secondary-color;
    }
    .page-content-txt {
        margin-top: 1rem;
        p {
            &:last-child {
                margin: 0px;
            }
        }
    }
}
.case-studies-details {
    .img-text-card-row {
        &:last-child {
            margin-bottom: $main-pd;
            @include breakpoint(mobile_landscape) {
                margin-bottom: 0;
            }
            @include breakpoint(mobile_portrait) {
                margin-bottom: 0;
            }
        }
    }
}

.blog-block-text {
    h2 {
        font-size: 2.5rem;
        @include breakpoint(ipad_portrait) {
            font-size: 2rem;
        }
        @include breakpoint(mobile_landscape) {
            font-size: 1.6rem;
        }
        @include breakpoint(mobile_portrait) {
            font-size: 1.5rem;
        }
    }
}
.page-title-with-image + .img-text-card-section {
    @include breakpoint(mobile_landscape) {
        padding-top: 0px;
    }
    @include breakpoint(mobile_portrait) {
        padding-top: 0px;
    }
}
