.how-we-do-it-section {
    background-color: $secondary-color;
    padding: 16rem 0 0;
    overflow: hidden;
    @include breakpoint(ipad_landscape){
        padding: 11rem 0 0 0;   
    }
    @include breakpoint(ipad_portrait){
        padding: 11rem 0 0 0;   
    }
    @include breakpoint(mobile_landscape) {
        padding: 5rem 0 0rem;
    }
    @include breakpoint(mobile_portrait) {
        padding: 5rem 0 0rem;
    }
    .how-we-do-it-hd {
        padding-bottom: 10rem;
        @include breakpoint(mobile_landscape) {
            padding-bottom: 5rem;
        }
        @include breakpoint(mobile_portrait) {
            padding-bottom: 5rem;
        }
        .container-sm {
            position: relative;
            .downarrow {
                top: 163px;
            }
        }
        h1 {
            color: $white;
            font-size: $h1;
            font-family: Korb;
            margin: 0;
            padding: 0px;
            font-weight: 400;
            text-transform: lowercase;
            @include breakpoint(ipad_landscape) {
                font-size: $ip-lnd-h1;
            }
            @include breakpoint(ipad_portrait) {
                font-size: $ip-por-h1;
            }
            @include breakpoint(mobile_landscape) {
                font-size: $mob-lnd-h1;
            }
            @include breakpoint(mobile_portrait) {
                font-size: $mob-por-h1;
            }
        }
        .block-content {
            color: #fff;
            font-size: $hd-subhd;
            max-width: 89%;
            font-weight: 400;
            font-family: "HelveticaNeueLTPro-Md";
            margin-top: 1.5rem;
            @include breakpoint(ipad_portrait) {
                font-size: $ip-por-hd-subhd;
            }
            @include breakpoint(mobile_landscape) {
                font-size: $mob-lnd-hd-subhd;
            }
            @include breakpoint(mobile_portrait) {
                font-size: $mob-por-hd-subhd;
            }
            p {
                line-height: 3.7rem;
                @include breakpoint(ipad_portrait) {
                    line-height: 2.8rem;
                }
                @include breakpoint(mobile_landscape) {
                    line-height: 2rem;
                }
                @include breakpoint(mobile_portrait) {
                    line-height: 2rem;
                }
                &:last-child {
                    margin: 0px;
                }
            }
        }
    }
    .how-we-do-it-card-row {
        position: relative;
        margin-bottom: 10rem;
        @include breakpoint(mobile_landscape) {
            margin-bottom: 4.5rem;
        }
        @include breakpoint(mobile_portrait) {
            margin-bottom: 4rem;
        }
        .container {
            position: relative;
        }
        .how-we-do-it-card {
            display: flex;
            @include breakpoint(mobile_landscape) {
                flex-wrap: wrap;
            }
            @include breakpoint(mobile_portrait) {
                flex-wrap: wrap;
            }
            
        }
        .how-we-do-it-card-img {
            width: 20%;
            @include breakpoint(mobile_portrait) {
                width: 39%;
                margin-bottom: 3rem;
            }
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .how-we-do-it-card-content {
            width: 75%;
            position: relative;
            padding-left: 106px;
            color: $white;
            @include breakpoint(mobile_landscape) {
                padding-left: 67px;
            }
            @include breakpoint(mobile_portrait) {
                width: 100%;
                padding-left: 0;
            }
            .row-number {
                width: 55px;
                height: 55px;
                border-radius: 50px;
                position: absolute;
                top: 6px;
                left: 0px;
                color: $white;
                font-size: 2.5rem;
                background-color: $primary-color;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "HelveticaNeueLTPro-Md";
                @include breakpoint(mobile_landscape) {
                    width: 40px;
                    height: 40px;
                    font-size: 1.6rem;
                }
                @include breakpoint(mobile_portrait) {
                    width: 40px;
                    height: 40px;
                    font-size: 1.6rem;
                }
            }
            h2 {
                margin: 0;
                padding: 0;
                color: $white;
                @include breakpoint(mobile_landscape) {
                    font-size: 1.6rem;
                }
                @include breakpoint(mobile_portrait) {
                    padding: 0 0 0 60px;
                    font-size: 1.6rem;
                }
            }
        }
        &.how-we-do-it-card-row-left {
            &::before {
                left: 0px;
            }
            .how-we-do-it-card-content {
                margin-left: auto;
            }
        }
        &.how-we-do-it-card-row-right {
            .how-we-do-it-card {
                flex-direction: row-reverse;
            }
            &::before {
                right: 0px;
            }
            .how-we-do-it-card-content {
                margin-right: auto;
            }
        }
    }
}
