html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $primaryfontfaimly;
    font-weight: 300;
    @include background($white);
    @include padding(0px, 0, 0, 0);
    margin: 0px;
    color: $secondary-color;
    @extend %font-size;
    overflow-x: hidden;
    @include breakpoint(mobile){
        font-size: 1.2rem;
    }

}
.content-wrapper section{
    overflow: hidden;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

p {
    @extend %base-line-height;

}

a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;

}
a{
    color: $primary-color;
    &:hover{
        text-decoration: underline;
    }
}
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

input {
    -webkit-appearance: none;
    opacity: 1;
}

button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}

strong {
    font-weight: 900;
}

.container-lg {
    max-width: calc(100%);
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoint(big_screen) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    @include breakpoint(mobile_landscape) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    @include breakpoint(mobile_portrait) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

.container {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoint(big_screen) {
        max-width: 1500px;
    }

    @include breakpoint(mobile_landscape) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    @include breakpoint(mobile_portrait) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.container-md {
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoint(big_screen) {
        max-width: 1300px;
    }
    @include breakpoint(desktop_sm) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    @include breakpoint(ipad) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @include breakpoint(mobile_landscape) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @include breakpoint(mobile_portrait) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}
.services{
    .container-sm {
        max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoint(big_screen) {
        max-width: 1300px;
    }
    @include breakpoint(desktop_sm) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    @include breakpoint(ipad) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @include breakpoint(mobile_landscape) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @include breakpoint(mobile_portrait) {
        padding-left: 1rem;
        padding-right: 1rem;
    } 
    }   
}

.container-sm {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoint(big_screen) {
        max-width: 1100px;
    }
    @include breakpoint(desktop_sm) {
        padding-left: 8rem;
        padding-right: 8rem;
    }
    @include breakpoint(ipad) {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    @include breakpoint(mobile_landscape) {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    @include breakpoint(mobile_portrait) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.vacancies-section,
.contact-page,
.contact-form-page
{
    .container-sm{
        padding: 0 10rem;
        @include breakpoint(desktop_sm) {
            padding-left: 8rem;
            padding-right: 8rem;
        }
        @include breakpoint(ipad) {
            padding-left: 7rem;
            padding-right: 7rem;
        }
    
        @include breakpoint(mobile_landscape) {
            padding-left: 6rem;
            padding-right: 6rem;
        }
    
        @include breakpoint(mobile_portrait) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

.main-padding {
    @extend %main-padding;
}

.main-padding-top {
    @extend %main-padding-top;
}

.main-padding-bottom {
    @extend %main-padding-btm;
}

.white-bg {
    background: $white;
}

.primary-bg {
    color: $white;
    background: $primary-color;

}

.secondary-bg {
    background: $secondary-color;
    color: $white;
}

.drak-gray-bg {
    background: $drak-gray;
    color: $white;
}

.light-green-bg {
    background: $light-gray;
    color: $secondary-color;
}

.gradient-bg-top-bottom {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#09212a+0,92aaa1+91 */
background: rgb(9,33,42); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(9,33,42,1) 0%, rgba(146,170,161,1) 91%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(9,33,42,1) 0%,rgba(146,170,161,1) 91%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(9,33,42,1) 0%,rgba(146,170,161,1) 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09212a', endColorstr='#92aaa1',GradientType=0 ); /* IE6-9 */

  @include breakpoint(mobile_portrait){
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#09212a+0,92aaa1+50,92aaa1+99 */
background: rgb(9,33,42); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(9,33,42,1) 0%, rgba(146,170,161,1) 50%, rgba(146,170,161,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(9,33,42,1) 0%,rgba(146,170,161,1) 50%,rgba(146,170,161,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(9,33,42,1) 0%,rgba(146,170,161,1) 50%,rgba(146,170,161,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09212a', endColorstr='#92aaa1',GradientType=0 ); /* IE6-9 */

  }

    color: $white;
}

.gradient-bg-left-right {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#09212a+0,92aaa1+100 */
    background: #09212a;
    /* Old browsers */
    background: -moz-linear-gradient(left, #09212a 0%, #92aaa1 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #09212a 0%, #92aaa1 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #09212a 0%, #92aaa1 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#09212a', endColorstr='#92aaa1', GradientType=1);
    /* IE6-9 */

}

.hd-overly-bg {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,09212a+100&0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(9,33,42,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(9,33,42,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(9,33,42,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#09212a',GradientType=0 ); /* IE6-9 */

}
.pg-hd-overly-bg {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 78%,rgba(9,33,42,1) 100%);

}

.dfd{
    background: linear-gradient(to bottom,  rgba(255,255,255,0)  74%,rgba(9,33,42,1) 100%);

}




.body-gray-bg {
    background: $body-gray;
    color: $white;
}


.custom-row {
    display: flex;
    flex-wrap: wrap;
}

.hide-desktop {
    display: none;

    @include breakpoint(mobile) {
        display: block;
    }
}

.hide-mobile {

    @include breakpoint(mobile) {
        display: none;
    }
}

.desc--box {
    p {
        br{
            display: none;
        }
        a {
            color: $secondary-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: $primary-color;
            }
        }

        &:first-child {
            margin-top: 0px;
        }

        &:last-child {
            margin: 0px;
        }

        @media (min-width: 320px) and (max-width: 991px) {
            br {
                display: none;
            }
        }
    }

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            position: relative;
            margin: 0 0 0.5rem 0;
            padding: 0 0 0 1.4rem;
            @extend %base-line-height;
            font-weight: 500;

            br {
                @include breakpoint(ipad_portrait) {
                    display: none;
                }

                @include breakpoint(mobile) {
                    display: none;
                }
            }

            &::before {
                width: 10px;
                height: 10px;
                position: absolute;
                left: 0px;
                top: 6px;
                background: $primary-color;
                content: "";
                border-radius: 0px;
            }
        }
    }

    ul~p:last-child {
        margin-top: 1.5rem;
    }

    table tr td {
        padding-top: 5px;
        padding-bottom: 5px;

        &:nth-child(1) {
            width: 150px;
            padding-right: 15px;
        }
    }


}

.main-container {
    min-height: 90vh;
}


.back-btn-box {
    padding-top: 3rem;
    padding-bottom: 3rem;

    .back-btn {
        font-size: 1.5rem;
        color: $primary-color;
        text-transform: uppercase;
        position: relative;
        font-family: $secondaryfontfaimly;
        padding: 0 0 0 30px;
        color: $secondary-color;
        font-weight: 700;
        background: url("#{$assetIconsPath}/Arrow green left.svg") no-repeat center left;
        background-size: 18px;

        strong {
            font-weight: 700;
        }

        &:hover {
            color: $primary-color;
        }
    }
}



.hide-in-desktop {
    display: none;

    @include breakpoint(mobile) {
        display: block;
    }
}

.hide-in-mobile {
    @include breakpoint(mobile) {
        display: none;
    }

}

h1.text-center {
    text-align: center;
    color: $primary-color;
    margin: 0px;

}

.learn-more-primary {
    font-size: $btn-font-size-base;
    color: $primary-color;
    background: url("#{$assetIconsPath}/Arrow green.svg") no-repeat center right;
    background-size: 10px;
    padding-right: 20px;

    &:hover {
        color: $white;
        background: url("#{$assetIconsPath}/Arrow white.svg") no-repeat center right;
        background-size: 10px;
        font-weight: 500;
    }
}

.learn-more-secondary {
    font-size: $btn-font-size-base;
    color: $secondary-color;
    font-family: $secondaryfontfaimly;
    font-weight: 400;
    background: url("#{$assetIconsPath}/Arrow drak.svg") no-repeat center right;
    background-size: 10px;
    padding-right: 20px;

    &:hover {
        color: $white;
        background: url("#{$assetIconsPath}/Arrow white.svg") no-repeat center right;
        background-size: 10px;
        font-weight: 500;
    }
}

.learn-more-white {
    font-size: $btn-font-size-base;
    color: $white;
    background: url("#{$assetIconsPath}/Arrow white.svg") no-repeat center right;
    background-size: 10px;
    padding-right: 20px;
    font-family: $secondaryfontfaimly;
    font-weight: 400;

    &:hover {
        color: $primary-color;
        background: url("#{$assetIconsPath}/Arrow green.svg") no-repeat center right;
        background-size: 10px;
        font-weight: 500;
    }
}

.bottom-btn {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.bottom-right-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.spacer-row{
    background: $white;
    height: 4px;
    width: 100%;
}
.most-project-section{
    .heading{
        margin-bottom: 3rem;
    }
}