@charset "UTF-8";
/* --- Include setup files --- */
/* --- Include setup files --- */
.row {
  max-width: 1400px;
}

/* --- Mixins --- */
/* --- Variables --- */
/* --- Fonts --- */
@font-face {
  font-family: "HelveticaNeueLTPro-Lt";
  src: url("../fonts/31F7DF_0_0.eot");
  src: url("../fonts/31F7DF_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/31F7DF_0_0.woff2") format("woff2"), url("../fonts/31F7DF_0_0.woff") format("woff"), url("../fonts/31F7DF_0_0.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaNeueLTPro-Md";
  src: url("../fonts/31F7DF_1_0.eot");
  src: url("../fonts/31F7DF_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/31F7DF_1_0.woff2") format("woff2"), url("../fonts/31F7DF_1_0.woff") format("woff"), url("../fonts/31F7DF_1_0.ttf") format("truetype");
}
@font-face {
  font-family: "HelveticaNeueLTStd-Roman";
  src: url("../fonts/31F7DF_3_0.eot");
  src: url("../fonts/31F7DF_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/31F7DF_3_0.woff2") format("woff2"), url("../fonts/31F7DF_3_0.woff") format("woff"), url("../fonts/31F7DF_3_0.ttf") format("truetype");
}
/* --- Media queries --- */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

.clearfix {
  display: block;
  clear: both;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.video-container,
.media-vimeo-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.video-container iframe,
.media-vimeo-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media-soundcloud-audio iframe {
  width: 100%;
  max-height: 150px;
}

.emergency-message {
  display: none;
  padding: 1em;
  background: #cc1746;
  color: #fff;
  position: relative;
  text-align: center;
}
.emergency-message p:last-child {
  margin-bottom: 0;
}

.close {
  text-align: left;
  text-indent: -9999px;
  *font-size: 0;
  *line-height: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 1em;
  right: 1em;
  display: block;
  height: 30px;
  width: 30px;
  background-image: url("../images/emClose.png");
  cursor: pointer;
  transition: opacity 0.2s ease-out;
}
.close:hover {
  opacity: 0.7;
}

.hide-for-mobile {
  display: block !important;
}

.show-for-mobile {
  display: none !important;
}

@media (max-width: 767px) {
  .hide-for-mobile {
    display: none !important;
  }
  .show-for-mobile {
    display: block !important;
  }
}
input,
input[type=text],
input[type=password],
input[type=email],
input[type=submit],
textarea,
select {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-family: "HelveticaNeueLTPro-Lt";
  color: #555250;
  resize: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0;
  outline: 0;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1025px) {
  input,
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=submit],
  textarea,
  select {
    font-size: 19px;
    line-height: 25px;
  }
}

.form-actions input,
input[type=submit] {
  cursor: pointer;
}

.listing {
  list-style: none;
  margin: 0;
  padding: 0;
}
.listing li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.listing li {
  vertical-align: top;
  margin-bottom: 2%;
  margin-right: 4%;
  float: left;
  position: relative;
}

.one-col li {
  width: 100%;
  margin-right: 0;
}
.one-col li:last-child {
  margin-bottom: 0;
}

.two-col li {
  width: 48%;
}
.two-col li:nth-of-type(2n + 2) {
  margin-right: 0;
}

.three-col li {
  width: 30.6666%;
}
.three-col li:nth-of-type(3n + 3) {
  margin-right: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .three-col li {
    width: 48%;
  }
  .three-col li:nth-of-type(2n + 2) {
    margin-right: 0;
  }
  .three-col li:nth-of-type(3n + 3) {
    margin-right: 4%;
  }
}

.four-col li {
  width: 22%;
}
.four-col li:nth-of-type(4n + 4) {
  margin-right: 0;
}

.five-col li {
  width: 18.4%;
}
.five-col li:nth-of-type(5n + 5) {
  margin-right: 0;
}

.six-col li {
  width: 15%;
}
.six-col li:nth-of-type(6n + 6) {
  margin-right: 0;
}

@media (max-width: 767px) {
  .two-col li,
  .three-col li,
  .four-col li,
  .five-col li,
  .six-col li {
    width: 100%;
    margin-right: 0;
  }
}
.pager {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  clear: both;
}
.pager li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pager li {
  display: inline-block;
  margin-left: 5px;
}
.pager li a {
  padding: 5px 12px;
  display: block;
}
.pager li.pager-current {
  padding: 5px 12px;
}

.tabs ul {
  border: 0 !important;
  margin: 1em 0 !important;
  padding: 0;
}
.tabs ul li {
  margin-right: 1em;
}
.tabs ul li a {
  color: #555250 !important;
  background: #fff !important;
  padding: 0.5em 1em !important;
  margin: 0 !important;
  border: 1px solid #555250;
}
.tabs ul li a.active, .tabs ul li a:hover {
  color: #fff !important;
  background: #555250 !important;
}

body,
html {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-family: "HelveticaNeueLTPro-Lt";
  color: #555250;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 1025px) {
  body,
  html {
    font-size: 19px;
    line-height: 25px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "HelveticaNeueLTStd-Roman";
  letter-spacing: 0;
  margin: 0 0 30px;
  line-height: 1.2;
}

@media (max-width: 540px) {
  h1 {
    font-size: 35px;
  }
}

p {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

strong {
  font-weight: normal;
  font-family: "HelveticaNeueLTStd-Roman";
}

em {
  font-style: italic;
}

small {
  font-size: 90%;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-out;
  outline: 0;
  color: #cc1746;
}
a:hover {
  color: #555250;
}
a:focus {
  outline: none;
}
a:active {
  outline: none;
}

.button {
  background: #555250;
  color: #fff;
  padding: 10px 70px 10px 15px;
  position: relative;
  display: inline-block;
  margin-right: 55px;
  min-width: 70%;
}
@media (max-width: 1025px) {
  .button {
    padding-right: 55px;
  }
}
@media (max-width: 370px) {
  .button {
    padding-right: 40px;
    font-size: 0.9em;
  }
}
.button:before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/cross-min.png");
  background-size: 15px;
  content: " ";
  color: #fff;
  position: absolute;
  right: -30px;
  top: 0;
  height: 100%;
  width: 65px;
  z-index: 2;
  font-size: 18px;
  transition: all 0.2s ease-out;
}
.button:after {
  content: "";
  background: #cc1746;
  display: inline-block;
  height: 100%;
  width: 65px;
  position: absolute;
  right: -30px;
  top: 0;
  transform: skew(-40deg);
  z-index: 1;
  transition: all 0.2s ease-out;
}
.button:hover {
  background: #9c9d9e;
  color: #fff;
  text-decoration: none;
}
.button:hover:before {
  right: -40px;
}
@media (max-width: 370px) {
  .button:hover:before {
    right: -35px;
  }
}
.button:hover:after {
  right: -40px;
}
@media (max-width: 370px) {
  .button:hover:after {
    right: -35px;
  }
}
.button.alt {
  font-weight: normal;
  font-family: "HelveticaNeueLTStd-Roman";
  background: #fff;
  color: #555250;
  margin-top: 30px;
}
.button.alt:before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: " ";
  background-image: url("../images/download.png");
  background-size: 15px;
}
.button.alt:after {
  background: #555250;
}
.button.alt:hover {
  background: #9c9d9e;
  color: #fff;
  text-decoration: none;
}

.btn-download .button:before {
  content: " ";
  background-image: url("../images/download.png");
  background-size: 15px;
}

.bar-btn {
  text-align: center;
  display: block;
  padding: 45px 0;
  background: #fff;
  color: #555250;
  font-size: 1.5em;
  text-transform: lowercase;
}
@media (max-width: 370px) {
  .bar-btn {
    line-height: 1.2;
  }
}
.bar-btn:hover {
  background: #555250;
  color: #fff;
}
.bar-btn.norm {
  text-transform: none;
}

.wrapper {
  padding-top: 145px;
}
@media (max-width: 767px) {
  .wrapper {
    padding-top: 120px;
  }
}
@media (max-width: 540px) {
  .wrapper {
    padding-top: 120px;
  }
}

.site-header {
  position: fixed;
  display: block;
  height: 145px;
  width: 100%;
  z-index: 10;
}
@media (max-width: 767px) {
  .site-header {
    position: absolute;
  }
}

.header-top {
  background: #fff;
  height: 75px;
  padding-top: 13px;
  transition: all 0.2s ease-out;
}
@media (max-width: 580px) {
  .header-top {
    padding-top: 0;
    height: 50px;
  }
}

.scrolled .header-top {
  height: 50px;
  padding-top: 0;
}

.header-bottom {
  background: #555250;
  height: 70px;
  position: relative;
}
.header-bottom .site-links {
  position: absolute;
  right: 0.9375em;
  top: 70px;
}
.header-bottom .block-bean {
  display: inline-block;
  margin-left: 15px;
  float: right;
}
.header-bottom .block-bean p {
  margin: 0;
}

@media (max-width: 370px) {
  #block-bean-register-link,
  #block-bean-trade-link,
  #block-bean-home-link {
    display: block;
    clear: both;
  }
}
#block-bean-register-link a,
#block-bean-trade-link a,
#block-bean-home-link a {
  background: #cc1746;
  color: #fff;
  padding: 0 15px;
  height: 40px;
  line-height: 37px;
  display: inline-block;
}
#block-bean-register-link a.home-link,
#block-bean-trade-link a.home-link,
#block-bean-home-link a.home-link {
  background: #555250;
}
#block-bean-register-link a.trade-link,
#block-bean-trade-link a.trade-link,
#block-bean-home-link a.trade-link {
  background: #2e66ac;
}
#block-bean-register-link a.register-link,
#block-bean-trade-link a.register-link,
#block-bean-home-link a.register-link {
  background: #65aa4f;
}
#block-bean-register-link a:hover,
#block-bean-trade-link a:hover,
#block-bean-home-link a:hover {
  background-color: #cc1746;
}
@media (max-width: 370px) {
  #block-bean-register-link a,
  #block-bean-trade-link a,
  #block-bean-home-link a {
    margin-bottom: 10px;
    display: block;
    text-align: center;
  }
}

#block-bean-tagline {
  display: inline-block;
  float: left;
  margin-top: 10px;
  font-size: 24px;
  line-height: 1;
  transition: all 0.2s ease-out;
}
@media (max-width: 800px) {
  #block-bean-tagline {
    font-size: 20px;
    margin-top: 13px;
  }
}
@media (max-width: 580px) {
  #block-bean-tagline {
    display: none;
  }
}

.scrolled #block-bean-tagline {
  font-size: 20px;
  margin-top: 13px;
}

#block-bean-social {
  float: right;
  margin-top: 10px;
}
@media (max-width: 1025px) {
  #block-bean-social {
    width: 40%;
    text-align: right;
  }
}
@media (max-width: 580px) {
  #block-bean-social {
    width: 100%;
  }
}
#block-bean-social p,
#block-bean-social ul {
  display: inline-block;
  margin: 0;
  line-height: 30px;
  vertical-align: top;
}
#block-bean-social p {
  font-size: 1.1em;
}
@media (max-width: 1024px) {
  #block-bean-social p {
    font-size: 1em;
    margin-right: 1px;
    margin-right: -4px;
  }
}
#block-bean-social p a {
  color: #555250;
  margin-left: 7px;
}
@media (max-width: 1024px) {
  #block-bean-social p a {
    text-align: left;
    text-indent: -9999px;
    *font-size: 0;
    *line-height: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    display: block;
    background-image: url("../images/email-min.png");
    float: left;
    margin-left: 13px;
  }
}
#block-bean-social p a:hover {
  color: #cc1746;
}
@media (max-width: 1024px) {
  #block-bean-social p a:hover {
    opacity: 0.7;
  }
}
@media (max-width: 1024px) {
  #block-bean-social p strong a {
    background-image: url("../images/phone-min.png");
  }
}
#block-bean-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 5px;
}
#block-bean-social ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 370px) {
  #block-bean-social ul {
    display: none;
  }
}
#block-bean-social ul li {
  display: inline-block;
}
#block-bean-social ul li a {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: left;
  text-indent: -9999px;
  *font-size: 0;
  *line-height: 0px;
  height: 30px;
  width: 30px;
  display: block;
  margin-left: 7px;
}
#block-bean-social ul li a.facebook {
  background-image: url("../images/johnson-and-starley-facebook.jpg");
}
#block-bean-social ul li a.twitter {
  background-image: url("../images/johnson-and-starley-twitter.jpg");
}
#block-bean-social ul li a.linkedin {
  background-image: url("../images/johnson-and-starley-li.jpg");
}
#block-bean-social ul li a:hover {
  opacity: 0.7;
}

.site-logo {
  text-align: left;
  text-indent: -9999px;
  *font-size: 0;
  *line-height: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 200px;
  height: 92px;
  background-image: url("../images/johnson-and-starley-logo.png");
  background-position: left center;
}

.nav-toggle {
  text-align: left;
  text-indent: -9999px;
  *font-size: 0;
  *line-height: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  position: absolute;
  right: 0.9375em;
  top: 1.1em;
  height: 30px;
  width: 30px;
  background-image: url("../images/burger-min.png");
}
@media (max-width: 1024px) {
  .nav-toggle {
    display: block;
  }
}
.nav-toggle.active {
  background-image: url("../images/close-min.png");
}

.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.block-superfish,
.block-menu {
  float: right;
  height: 70px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .block-superfish,
  .block-menu {
    float: none;
    height: auto;
  }
}
.block-superfish ul.sf-menu,
.block-superfish ul.menu,
.block-menu ul.sf-menu,
.block-menu ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.block-superfish ul.sf-menu li,
.block-superfish ul.menu li,
.block-menu ul.sf-menu li,
.block-menu ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.block-superfish ul.sf-menu a,
.block-superfish ul.menu a,
.block-menu ul.sf-menu a,
.block-menu ul.menu a {
  line-height: 70px;
  color: #ebeaeb;
  margin: 0 15px;
  position: relative;
  text-transform: lowercase;
  display: block;
}
.block-superfish ul.sf-menu a:after,
.block-superfish ul.menu a:after,
.block-menu ul.sf-menu a:after,
.block-menu ul.menu a:after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  background: #555250;
  transition: background 0.2s ease-out;
}
.block-superfish ul.sf-menu a:hover,
.block-superfish ul.menu a:hover,
.block-menu ul.sf-menu a:hover,
.block-menu ul.menu a:hover {
  color: #fff;
}
.block-superfish ul.sf-menu a:hover:after,
.block-superfish ul.menu a:hover:after,
.block-menu ul.sf-menu a:hover:after,
.block-menu ul.menu a:hover:after {
  background: #cc1746;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .block-superfish ul.sf-menu a:hover:after,
  .block-superfish ul.menu a:hover:after,
  .block-menu ul.sf-menu a:hover:after,
  .block-menu ul.menu a:hover:after {
    background: #555250;
  }
}
.block-superfish ul.sf-menu a.active-trail, .block-superfish ul.sf-menu a.active,
.block-superfish ul.menu a.active-trail,
.block-superfish ul.menu a.active,
.block-menu ul.sf-menu a.active-trail,
.block-menu ul.sf-menu a.active,
.block-menu ul.menu a.active-trail,
.block-menu ul.menu a.active {
  color: #fff;
}
@media (max-width: 370px) {
  .block-superfish ul.sf-menu a,
  .block-superfish ul.menu a,
  .block-menu ul.sf-menu a,
  .block-menu ul.menu a {
    margin: 0;
  }
}
.block-superfish ul.sf-menu li.leaf,
.block-superfish ul.menu li.leaf,
.block-menu ul.sf-menu li.leaf,
.block-menu ul.menu li.leaf {
  display: inline-block;
}
.block-superfish ul.sf-menu li.last a,
.block-superfish ul.menu li.last a,
.block-menu ul.sf-menu li.last a,
.block-menu ul.menu li.last a {
  margin-right: 0;
}
@media (max-width: 767px) {
  .block-superfish ul.sf-menu li.last,
  .block-superfish ul.menu li.last,
  .block-menu ul.sf-menu li.last,
  .block-menu ul.menu li.last {
    margin-bottom: 15px;
  }
}
.block-superfish ul.sf-menu li.sfHover a:after,
.block-superfish ul.menu li.sfHover a:after,
.block-menu ul.sf-menu li.sfHover a:after,
.block-menu ul.menu li.sfHover a:after {
  background: #cc1746;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .block-superfish ul.sf-menu li.sfHover a:after,
  .block-superfish ul.menu li.sfHover a:after,
  .block-menu ul.sf-menu li.sfHover a:after,
  .block-menu ul.menu li.sfHover a:after {
    background: #555250;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .block-superfish ul.sf-menu li,
  .block-superfish ul.menu li,
  .block-menu ul.sf-menu li,
  .block-menu ul.menu li {
    display: block;
    width: 100%;
  }
  .block-superfish ul.sf-menu a,
  .block-superfish ul.menu a,
  .block-menu ul.sf-menu a,
  .block-menu ul.menu a {
    line-height: 1.2;
    padding: 10px 0;
  }
  .block-superfish ul.sf-menu a:after,
  .block-superfish ul.menu a:after,
  .block-menu ul.sf-menu a:after,
  .block-menu ul.menu a:after {
    bottom: 0;
  }
}
.block-superfish ul.sf-menu ul,
.block-superfish ul.menu ul,
.block-menu ul.sf-menu ul,
.block-menu ul.menu ul {
  background: #555250;
  top: 3.9em;
}
@media (max-width: 1025px) {
  .block-superfish ul.sf-menu ul,
  .block-superfish ul.menu ul,
  .block-menu ul.sf-menu ul,
  .block-menu ul.menu ul {
    top: 70px;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .block-superfish ul.sf-menu ul,
  .block-superfish ul.menu ul,
  .block-menu ul.sf-menu ul,
  .block-menu ul.menu ul {
    position: relative;
    padding: 10px 0;
    width: 94% !important;
    top: 0;
    margin-left: 0.9375em;
  }
  .block-superfish ul.sf-menu ul.sf-hidden,
  .block-superfish ul.menu ul.sf-hidden,
  .block-menu ul.sf-menu ul.sf-hidden,
  .block-menu ul.menu ul.sf-hidden {
    display: none;
  }
}
@media (max-width: 370px) {
  .block-superfish ul.sf-menu ul,
  .block-superfish ul.menu ul,
  .block-menu ul.sf-menu ul,
  .block-menu ul.menu ul {
    margin-left: 0;
    width: 100% !important;
  }
}
.block-superfish ul.sf-menu ul a,
.block-superfish ul.menu ul a,
.block-menu ul.sf-menu ul a,
.block-menu ul.menu ul a {
  line-height: 1.3;
  margin: 0;
  padding: 7px 15px;
}
.block-superfish ul.sf-menu ul a:after,
.block-superfish ul.menu ul a:after,
.block-menu ul.sf-menu ul a:after,
.block-menu ul.menu ul a:after {
  display: none;
}
.block-superfish ul.sf-menu ul a:hover,
.block-superfish ul.menu ul a:hover,
.block-menu ul.sf-menu ul a:hover,
.block-menu ul.menu ul a:hover {
  background: #cc1746;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .block-superfish ul.sf-menu ul a:hover,
  .block-superfish ul.menu ul a:hover,
  .block-menu ul.sf-menu ul a:hover,
  .block-menu ul.menu ul a:hover {
    background: transparent;
  }
}
.block-superfish ul.sf-menu ul a.active-trail, .block-superfish ul.sf-menu ul a.active,
.block-superfish ul.menu ul a.active-trail,
.block-superfish ul.menu ul a.active,
.block-menu ul.sf-menu ul a.active-trail,
.block-menu ul.sf-menu ul a.active,
.block-menu ul.menu ul a.active-trail,
.block-menu ul.menu ul a.active {
  background: #000;
}

.block-menu ul.menu a:after {
  background: transparent;
}
.block-menu ul.menu a:hover:after {
  background: #fff;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .block-menu ul.menu a:hover:after {
    background: transparent;
  }
}

.header--sm {
  display: none;
  background: #555250;
  padding: 0.9375em;
  overflow: visible !important;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .header--sm .site-links {
    display: block;
    clear: both;
    text-align: center;
    padding-top: 25px;
  }
  .header--sm .block-bean {
    display: inline-block;
    margin-right: 5px;
  }
}

@media (max-width: 1219px) {
  .large-5.to-hide,
  .large-4.to-hide {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 1025px) {
  .large-6.extra {
    width: 70%;
  }
}
@media (max-width: 800px) {
  .large-8.large-centered {
    width: 90%;
  }
  .large-6.large-centered {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .large-8.large-centered,
  .large-6.large-centered,
  .large-6.extra,
  .large-1.to-hide {
    width: 100%;
  }
}
.intro {
  background: #cc1746;
  color: #fff;
  position: relative;
}
.intro.home .button {
  background: #fff;
  color: #555250;
  min-width: auto;
  margin-right: -17.5%;
  margin-top: 20px;
  float: right;
}
@media (max-width: 800px) {
  .intro.home .button {
    margin-right: -16.5%;
  }
}
@media (max-width: 767px) {
  .intro.home .button {
    margin-right: 2.2em;
  }
}
@media (max-width: 370px) {
  .intro.home .button {
    margin-right: 2.6em;
  }
}
.intro.home .button:after {
  background: #555250;
}
.intro.home .button:hover {
  background: #9c9d9e;
  color: #fff;
}
.intro.page .banner {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  max-width: 50%;
  min-height: 440px;
  height: 100% !important;
  max-height: 100% !important;
}
@media (max-width: 1219px) {
  .intro.page .banner {
    max-width: 45%;
  }
}
@media (max-width: 1025px) {
  .intro.page .banner {
    position: relative;
    min-height: 0;
    max-width: 100%;
    height: 400px !important;
  }
}
@media (max-width: 800px) {
  .intro.page .banner {
    height: 300px !important;
  }
}
@media (max-width: 767px) {
  .intro.page .banner {
    height: 250px !important;
  }
}
@media (max-width: 539px) {
  .intro.page .banner {
    height: 150px !important;
  }
}
.intro.page .banner:before {
  position: absolute;
  top: 0;
  left: 500px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: -500px;
  border-bottom: 500px solid transparent;
  border-left: 550px solid #cc1746;
}
@media (max-width: 1025px) {
  .intro.page .banner:before {
    display: none;
  }
}
.intro.page .banner img {
  height: 100%;
  width: auto;
  object-fit: cover;
}
@media (max-width: 1025px) {
  .intro.page .banner img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1219px) {
  .intro.page .large-4 {
    width: 40%;
  }
}
@media (max-width: 1025px) {
  .intro.page .large-4 {
    width: 70%;
  }
  .intro.page .large-8 {
    width: 93%;
  }
  .intro.page .large-6 {
    width: 70%;
  }
  .intro.page .large-3 {
    width: 15%;
  }
  .intro.page .large-2 {
    display: none;
  }
  .intro.page .large-1 {
    width: 15%;
  }
}
@media (max-width: 800px) {
  .intro.page .large-1 {
    width: 20%;
  }
  .intro.page .large-4 {
    width: 80%;
  }
  .intro.page .large-8 {
    width: 93%;
  }
  .intro.page .large-6 {
    width: 70%;
  }
  .intro.page .large-3 {
    width: 15%;
  }
}
@media (max-width: 767px) {
  .intro.page .large-1 {
    display: none;
  }
  .intro.page .large-4 {
    width: 100%;
  }
  .intro.page .large-8 {
    width: 100%;
  }
  .intro.page .large-6 {
    width: 100%;
  }
  .intro.page .large-3 {
    display: none;
  }
}
@media (max-width: 370px) {
  .intro.page .large-1 {
    display: none;
  }
}
.intro.contact .banner {
  overflow: hidden;
}
.intro.contact .banner:before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: -500px;
  border-top: 650px solid transparent;
  border-right: 700px solid #cc1746;
  mix-blend-mode: multiply;
}
@media (max-width: 1249px) {
  .intro.contact .banner:before {
    border-top: 450px solid transparent;
    border-right: 500px solid #cc1746;
  }
}
@media (max-width: 1025px) {
  .intro.contact .banner:before {
    border-top: 350px solid transparent;
    border-right: 400px solid #cc1746;
  }
}
@media (max-width: 767px) {
  .intro.contact .banner:before {
    display: none;
  }
}
.intro.contact .banner img {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .intro.contact .banner img {
    height: 250px;
    width: auto;
    object-fit: cover;
  }
}
@media (max-width: 540px) {
  .intro.contact .banner img {
    height: 150px;
  }
}
.intro.contact .tag {
  background: #2e66ac;
  color: #fff;
  position: absolute;
  bottom: 40px;
  right: 0.9375em;
}
@media (max-width: 1025px) {
  .intro.contact .tag {
    transform: scale(0.8);
    bottom: 10px;
    padding: 48px 15px;
  }
}
@media (max-width: 1025px) {
  .intro.contact .tag {
    bottom: -10px;
  }
}
@media (max-width: 767px) {
  .intro.contact .tag {
    position: relative;
    border-radius: 0;
    right: 0;
    width: 100%;
    height: auto;
    transform: scale(1);
    padding: 20px;
    bottom: 0;
    text-align: left;
  }
}
@media (max-width: 767px) {
  .intro.contact .row-tag {
    padding: 0;
  }
}
.intro.product .banner {
  overflow: hidden;
}
.intro.product .banner:before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: -500px;
  border-top: 650px solid transparent;
  border-right: 700px solid #2e66ac;
  mix-blend-mode: multiply;
}
@media (max-width: 1249px) {
  .intro.product .banner:before {
    border-top: 450px solid transparent;
    border-right: 500px solid #2e66ac;
  }
}
@media (max-width: 1025px) {
  .intro.product .banner:before {
    border-top: 350px solid transparent;
    border-right: 400px solid #2e66ac;
  }
}
@media (max-width: 767px) {
  .intro.product .banner:before {
    display: none;
  }
}
.intro.product .banner img {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .intro.product .banner img {
    height: 250px;
    width: auto;
    object-fit: cover;
  }
}
@media (max-width: 540px) {
  .intro.product .banner img {
    height: 150px;
  }
}
.intro.product .tag {
  background: #cc1746;
  color: #fff;
  position: absolute;
  bottom: 40px;
  right: 0.9375em;
}
.intro.product .tag img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 767px) {
  .intro.product .tag img {
    height: auto;
    max-width: 200px;
    object-fit: normal;
    margin: 0 auto;
  }
}
@media (max-width: 1025px) {
  .intro.product .tag {
    transform: scale(0.8);
    bottom: 10px;
    padding: 48px 15px;
  }
}
@media (max-width: 1025px) {
  .intro.product .tag {
    bottom: -10px;
  }
}
@media (max-width: 767px) {
  .intro.product .tag {
    position: relative;
    border-radius: 0;
    right: 0;
    width: 100%;
    height: auto;
    transform: scale(1);
    padding: 20px;
    bottom: 0;
    text-align: center;
    display: none;
  }
}
@media (max-width: 767px) {
  .intro.product .row-tag {
    padding: 0;
  }
}
.intro.trade {
  background: #fff;
  border-bottom: 7px solid #cc1746;
  padding: 60px 0 0;
}
.intro.trade h1 {
  color: #cc1746;
}
@media (max-width: 1025px) {
  .intro.trade .large-8 {
    width: 92%;
  }
}
@media (max-width: 767px) {
  .intro.trade .large-8 {
    width: 100%;
  }
}
.intro .content {
  padding: 60px 0;
}
@media (max-width: 1025px) {
  .intro .content {
    padding: 30px 0;
  }
}
@media (max-width: 767px) {
  .intro .content {
    padding: 30px 0;
  }
  .intro .content .large-5 {
    display: none;
  }
}
.intro .content a:not(.button) {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.intro .content a:not(.button):hover {
  border-color: #cc1746;
}

@media (max-width: 767px) {
  .products .intro.page .large-4 {
    width: 100%;
  }
}
@media (max-width: 370px) {
  .products .intro.page .large-4 {
    width: 100%;
  }
}
.page-node-19 .intro {
  border-bottom: 7px solid #65aa4f;
}
.page-node-19 .intro h1 {
  color: #65aa4f;
}

.grey,
.blue,
.white,
.red {
  padding: 60px 0;
}
@media (max-width: 1025px) {
  .grey,
  .blue,
  .white,
  .red {
    padding: 30px 0;
  }
}
@media (max-width: 767px) {
  .grey,
  .blue,
  .white,
  .red {
    padding: 30px 0;
  }
}
.grey h2,
.blue h2,
.white h2,
.red h2 {
  margin-left: -17.5%;
}
@media (max-width: 767px) {
  .grey h2,
  .blue h2,
  .white h2,
  .red h2 {
    margin-left: 0;
  }
}
.grey .model h2,
.blue .model h2,
.white .model h2,
.red .model h2 {
  margin-left: 0;
}

.model .large-5 img {
  width: 100%;
  height: auto;
}

.dk-grey {
  background: #9c9d9e;
}
.dk-grey.top {
  padding-top: 30px;
  border-top: 7px solid #fff;
}
.dk-grey.bottom {
  padding-bottom: 30px;
}

.grey {
  background: #ebeaeb;
  border-top: 8px solid #fff;
}
.grey.model-title {
  padding-bottom: 0;
  margin-bottom: -20px;
}
.grey.model-title h2 {
  margin: 0;
}
.grey.models {
  border: 0;
  padding-bottom: 0;
}

.blue {
  background: #2e66ac;
  color: #fff;
}
.blue a {
  color: #fff;
}
.blue a:hover {
  text-decoration: underline;
}

.red {
  background: #cc1746;
  color: #fff;
}
.red a {
  color: #fff;
}
.red a:hover {
  text-decoration: underline;
}

.tag {
  height: 230px;
  width: 230px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  padding: 47px 28px;
  font-size: 1.1em;
  line-height: 1.4;
}

.bottom-image {
  overflow: hidden;
  position: relative;
}
.bottom-image:before {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: -500px;
  border-top: 500px solid transparent;
  border-right: 550px solid #2e66ac;
  mix-blend-mode: multiply;
}
@media (max-width: 1219px) {
  .bottom-image:before {
    border-top: 300px solid transparent;
    border-right: 350px solid #2e66ac;
  }
}
@media (max-width: 800px) {
  .bottom-image:before {
    border-top: 150px solid transparent;
    border-right: 200px solid #2e66ac;
  }
}
@media (max-width: 540px) {
  .bottom-image:before {
    display: none;
  }
}
.bottom-image img {
  width: 100%;
  height: auto;
}
.bottom-image.hide-desk {
  display: none;
}
@media (max-width: 767px) {
  .bottom-image.hide-desk {
    display: block;
    height: 250px;
  }
  .bottom-image.hide-desk img {
    object-fit: cover;
    height: 100%;
    width: auto;
  }
  .bottom-image.hide-mob {
    display: none;
  }
}
@media (max-width: 540px) {
  .bottom-image.hide-desk {
    height: 150px;
  }
}

.front .bottom-image:before,
.trade .bottom-image:before {
  top: 0;
  left: 0;
  content: "";
  margin-left: 0;
  border-bottom: 500px solid transparent;
  border-left: 550px solid #2e66ac;
  border-top: 0;
  border-right: 0;
}
@media (max-width: 1219px) {
  .front .bottom-image:before,
  .trade .bottom-image:before {
    border-bottom: 300px solid transparent;
    border-left: 350px solid #2e66ac;
  }
}
@media (max-width: 1025px) {
  .front .bottom-image:before,
  .trade .bottom-image:before {
    border-bottom: 200px solid transparent;
    border-left: 250px solid #2e66ac;
  }
}
@media (max-width: 800px) {
  .front .bottom-image:before,
  .trade .bottom-image:before {
    border-bottom: 150px solid transparent;
    border-left: 200px solid #2e66ac;
  }
}
@media (max-width: 370px) {
  .front .bottom-image:before,
  .trade .bottom-image:before {
    border-bottom: 50px solid transparent;
    border-left: 100px solid #2e66ac;
  }
}

.cta {
  border-top: 8px solid #fff;
  padding: 30px 0;
}
.cta p {
  font-size: 1.5em;
  line-height: 1.5em;
}
@media (max-width: 1025px) {
  .cta p {
    font-size: 1.4em;
    line-height: 1.4em;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .cta p {
    font-size: 1.1em;
    line-height: 1.1em;
  }
}
@media (max-width: 540px) {
  .cta p {
    word-wrap: break-word;
  }
}
@media (max-width: 1025px) {
  .cta .large-8 {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .cta .large-8 {
    width: 100%;
  }
}

.node-type-product .cta {
  border-top: 0;
}
@media (max-width: 1249px) {
  .node-type-product .dk-grey .large-8 {
    width: 70%;
  }
}
@media (max-width: 1025px) {
  .node-type-product .dk-grey .large-8 {
    width: 100%;
  }
}

.front .banner {
  position: relative;
}
.front .banner img {
  width: 100%;
  height: auto;
}
.front .banner:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 800px solid transparent;
  border-right: 850px solid #cc1746;
  mix-blend-mode: multiply;
}
@media (max-width: 1550px) {
  .front .banner:after {
    border-top: 600px solid transparent;
    border-right: 650px solid #cc1746;
  }
}
@media (max-width: 1025px) {
  .front .banner:after {
    border-top: 400px solid transparent;
    border-right: 450px solid #cc1746;
  }
}
@media (max-width: 800px) {
  .front .banner:after {
    border-top: 300px solid transparent;
    border-right: 350px solid #cc1746;
  }
}
@media (max-width: 540px) {
  .front .banner:after {
    border-top: 200px solid transparent;
    border-right: 250px solid #cc1746;
  }
}
@media (max-width: 370px) {
  .front .banner:after {
    border-top: 100px solid transparent;
    border-right: 150px solid #cc1746;
  }
}
.front .banner .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.front .banner .content .row,
.front .banner .content .columns {
  height: 100%;
}
.front .tag {
  background: #65aa4f;
  color: #fff;
  padding: 47px 22px;
  position: absolute;
  top: 60%;
  right: 0.9375em;
  z-index: 5;
  transform: scale(1.1);
}
@media (max-width: 1550px) {
  .front .tag {
    top: 50%;
  }
}
@media (max-width: 1025px) {
  .front .tag {
    top: 35%;
    right: 2em;
  }
}
@media (max-width: 800px) {
  .front .tag {
    transform: scale(1);
    top: 25%;
  }
}
@media (max-width: 767px) {
  .front .tag {
    display: none;
  }
}
.front .tag:hover {
  background: #2e66ac;
}
.front .white .button {
  float: right;
  margin-right: -17.5%;
  margin-top: 20px;
  min-width: auto;
}
@media (max-width: 800px) {
  .front .white .button {
    margin-right: -16.5%;
  }
}
@media (max-width: 767px) {
  .front .white .button {
    margin-right: 2.2em;
  }
}
@media (max-width: 370px) {
  .front .white .button {
    margin-right: 2.6em;
  }
}
.front .products-title {
  padding-top: 60px;
}
@media (max-width: 1025px) {
  .front .products-title {
    padding-top: 30px;
  }
}
.front .products-title h2 {
  margin: 0;
}
.front .pane-products-listing .white {
  padding-bottom: 0;
}

@media (max-width: 1070px) {
  .view-products .large-8 {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  .view-products .large-8 {
    width: 100%;
  }
}

ul.products {
  list-style: none;
  margin: 60px 0 80px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul.products h3 a {
  color: #555250;
}
ul.products h3 a:hover {
  color: #cc1746;
}
ul.products .thumb {
  width: 60%;
  display: block;
  margin: 15px auto;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  ul.products .thumb {
    width: 45%;
  }
}
ul.products .thumb img {
  width: auto;
  height: auto;
  max-width: 70%;
  transition: all 0.2s ease-out;
  max-height: 100%;
}
@media (max-width: 1025px) {
  ul.products .thumb img {
    height: 90px;
    width: auto;
  }
}
@media (max-width: 767px) {
  ul.products .thumb img {
    height: auto;
    width: 100%;
  }
}
ul.products li {
  width: 25%;
}
@media (min-width: 768px) and (max-width: 991px) {
  ul.products li {
    width: 50%;
    height: 100%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  ul.products li {
    width: 50%;
    height: 100%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  ul.products li {
    width: 100%;
    height: 100%;
  }
}
ul.products li .teaser--product {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 2rem 1rem;
  margin: 0 1rem;
  transition: transform 0.2s;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
  ul.products li .teaser--product {
    margin: 1rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  ul.products li .teaser--product {
    margin: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  ul.products li .teaser--product {
    margin: 1rem 0;
  }
}
ul.products li .teaser--product:hover {
  background-color: #ebeaeb;
  transform: scale(1.1);
}
ul.products li h3 {
  text-align: center;
  margin: 0;
}

@media (max-width: 1025px) {
  .page-node-2 .pane-node-content .white {
    padding-bottom: 0;
  }
}
.product-box {
  background: #fff;
  padding: 40px 1%;
}
@media (max-width: 1025px) {
  .product-box {
    padding: 30px 1%;
  }
}
@media (max-width: 370px) {
  .product-box {
    padding: 20px 1%;
  }
}
.product-box.product-title {
  padding-bottom: 10px;
  padding-left: 4%;
}
.product-box.product-list {
  padding-top: 18px;
}
.product-box h2 {
  margin: 0;
  color: #cc1746;
}

ul.categories {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.categories li {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  ul.categories {
    margin: 0 auto;
  }
}
ul.categories.two-col li {
  width: 45.5%;
}
@media (max-width: 767px) {
  ul.categories.two-col li {
    width: 95%;
  }
}
ul.categories li {
  width: 27.3333%;
  float: left;
  display: block;
  margin: 0 3% 1em;
}
@media (max-width: 767px) {
  ul.categories li {
    width: 95%;
    margin: 0 3% 30px;
  }
}
ul.categories li:before {
  display: none;
}
ul.categories li.featured {
  width: 97%;
  margin: 0 3% 0;
}
ul.categories li.featured .main--title {
  display: none;
}
ul.categories li.featured .thumb,
ul.categories li.featured .content {
  float: left;
  display: block;
}
ul.categories li.featured .thumb {
  width: 31.3333%;
  margin-right: 3%;
}
@media (max-width: 540px) {
  ul.categories li.featured .thumb {
    width: 100%;
    margin: 0 0 15px;
  }
}
ul.categories li.featured .content {
  width: 63.6666%;
}
@media (max-width: 540px) {
  ul.categories li.featured .content {
    width: 100%;
  }
}
ul.categories li.featured .content h3 {
  display: block;
}
ul.categories li.featured .content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.categories li.featured .content ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.categories li.featured .content ul li {
  margin-bottom: 5px;
  display: block;
  width: 100%;
  padding-left: 20px;
}
ul.categories li.featured .content ul li:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #cc1746;
  border-radius: 50%;
  margin-right: -10px;
  position: relative;
  left: -20px;
}
ul.categories li.featured .content .content--info {
  display: block;
}
ul.categories li.featured .content .button {
  float: right;
  min-width: auto;
  margin-top: 30px;
}
@media (max-width: 540px) {
  ul.categories li.featured .content .button {
    min-width: 70%;
  }
}
ul.categories li .thumb {
  margin-bottom: 15px;
  display: block;
}
ul.categories li .thumb:hover {
  opacity: 0.7;
}
ul.categories li .content h3 {
  display: none;
}
ul.categories li .content--info {
  display: none;
}
ul.categories li h3 {
  margin-bottom: 10px;
}
ul.categories li h3 a {
  color: #555250;
}
ul.categories li h3 a:hover {
  color: #cc1746;
}

.pane-products-listing .white {
  padding: 0;
}

.teaser--model h3 {
  margin-bottom: 10px;
}
.teaser--model h3 a {
  color: #555250;
}
.teaser--model h3 a:hover {
  color: #cc1746;
}
.teaser--model img {
  margin-bottom: 20px;
  width: 100%;
}
.teaser--model .thumb:hover {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .teaser--model .thumb,
  .teaser--model .setHeight {
    float: left;
    width: 70%;
  }
  .teaser--model .thumb {
    width: 30%;
    text-align: right;
    margin-bottom: 15px;
  }
  .teaser--model .thumb img {
    height: 150px;
    width: auto;
  }
}
@media (max-width: 540px) {
  .teaser--model .thumb,
  .teaser--model .setHeight {
    float: none;
    width: 100%;
  }
  .teaser--model .thumb {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
  }
  .teaser--model .thumb img {
    height: auto;
    width: 100%;
  }
}

.setHeight {
  margin-bottom: 15px;
}

ul.models li {
  margin-bottom: 80px;
}
@media (max-width: 1025px) {
  ul.models li {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  ul.models li {
    margin-bottom: 40px;
  }
}

.guarantee {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 130px;
  width: 130px;
  position: absolute;
  bottom: -20px;
  left: 30px;
  background-image: url("../images/johnson-and-starley-8-year.png");
}
.guarantee.five {
  background-image: url("../images/johnson-and-starley-5-year-min.png");
}

.info {
  margin-bottom: 1em;
}
.info h3 {
  margin-bottom: 15px;
  margin-top: 2rem;
}
.info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.info ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.info ul li {
  margin-bottom: 5px;
  padding-left: 20px;
}
.info ul li:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #cc1746;
  border-radius: 50%;
  margin-right: -10px;
  position: relative;
  left: -20px;
}

.node-type-model .bar-btn,
.node-type-product-category .bar-btn,
.node-type-product .bar-btn {
  margin: 0;
  background: #fff;
  padding: 40px 0;
}
@media (max-width: 1025px) {
  .node-type-model .bar-btn,
  .node-type-product-category .bar-btn,
  .node-type-product .bar-btn {
    padding: 30px 0;
  }
}
.node-type-model .bar-btn:hover,
.node-type-product-category .bar-btn:hover,
.node-type-product .bar-btn:hover {
  background: #555250;
}

@media (max-width: 1025px) {
  .node-type-product-category .large-8.large-centered {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .node-type-product-category .large-8.large-centered {
    width: 100%;
  }
  .node-type-product-category .large-8.large-centered .button {
    font-size: 0.8em;
  }
}
@media (max-width: 767px) {
  .node-type-product-category .large-8.large-centered .button {
    font-size: 1em;
    min-width: 80%;
  }
}
.node-type-product-category .product-copy {
  margin-bottom: 30px;
}
.node-type-product-category .additional-copy {
  margin: 40px 0 0;
}
.node-type-product-category .additional-copy h3 {
  margin-bottom: 15px;
}
.node-type-product-category .additional-downloads .file img {
  display: none;
  visibility: hidden;
}
.node-type-product-category .additional-downloads a {
  background: #555250;
  color: #fff;
  padding: 10px 70px 10px 15px;
  position: relative;
  display: inline-block;
  margin-right: 55px;
  min-width: 70%;
  background-color: #fff;
  color: #555250;
  font-weight: normal;
  font-family: "HelveticaNeueLTStd-Roman";
  min-width: 82%;
}
@media (max-width: 1025px) {
  .node-type-product-category .additional-downloads a {
    padding-right: 55px;
  }
}
@media (max-width: 370px) {
  .node-type-product-category .additional-downloads a {
    padding-right: 40px;
    font-size: 0.9em;
  }
}
.node-type-product-category .additional-downloads a:before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/cross-min.png");
  background-size: 15px;
  content: " ";
  color: #fff;
  position: absolute;
  right: -30px;
  top: 0;
  height: 100%;
  width: 65px;
  z-index: 2;
  font-size: 18px;
  transition: all 0.2s ease-out;
}
.node-type-product-category .additional-downloads a:after {
  content: "";
  background: #cc1746;
  display: inline-block;
  height: 100%;
  width: 65px;
  position: absolute;
  right: -30px;
  top: 0;
  transform: skew(-40deg);
  z-index: 1;
  transition: all 0.2s ease-out;
}
.node-type-product-category .additional-downloads a:hover {
  background: #9c9d9e;
  color: #fff;
  text-decoration: none;
}
.node-type-product-category .additional-downloads a:hover:before {
  right: -40px;
}
@media (max-width: 370px) {
  .node-type-product-category .additional-downloads a:hover:before {
    right: -35px;
  }
}
.node-type-product-category .additional-downloads a:hover:after {
  right: -40px;
}
@media (max-width: 370px) {
  .node-type-product-category .additional-downloads a:hover:after {
    right: -35px;
  }
}
.node-type-product-category .additional-downloads a:before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  content: " ";
  background-image: url("../images/download.png");
  background-size: 15px;
}
.node-type-product-category .additional-downloads a:after {
  background: #555250;
}
.node-type-product-category .additional-downloads a:hover {
  background: #9c9d9e;
  color: #fff;
  text-decoration: none;
}
.node-type-product-category .additional-downloads__files {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
@media (max-width: 767px) {
  .node-type-product-category .additional-downloads__files {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 539px) {
  .node-type-product-category .additional-downloads__files {
    grid-template-columns: 1fr;
  }
}

ul.variants {
  margin-bottom: 30px;
}
ul.variants li {
  background: #fff;
  padding: 1em;
  margin-bottom: 4%;
}
@media (max-width: 370px) {
  ul.variants li {
    margin: 0 0 30px;
  }
}
ul.variants h3 {
  margin-bottom: 15px;
}
ul.variants a {
  font-weight: normal;
  font-family: "HelveticaNeueLTStd-Roman";
  text-decoration: underline;
}

.variant__content {
  font-size: 90%;
}

#block-bean-model-link-contact div.matchheight {
  float: left;
  width: 50%;
  display: block;
  background: #65aa4f;
  color: #fff;
  padding: 30px 40px;
  font-size: 1.5em;
  line-height: 1.5em;
}
@media (max-width: 1025px) {
  #block-bean-model-link-contact div.matchheight {
    font-size: 1.3em;
    line-height: 1.3em;
  }
}
@media (max-width: 800px) {
  #block-bean-model-link-contact div.matchheight {
    font-size: 1em;
    line-height: 1.3em;
    padding: 20px;
  }
}
@media (max-width: 767px) {
  #block-bean-model-link-contact div.matchheight {
    width: 100%;
  }
}
#block-bean-model-link-contact div.matchheight:first-child {
  background: #2e66ac;
}
#block-bean-model-link-contact div.matchheight:first-child p {
  float: right;
}
@media (max-width: 767px) {
  #block-bean-model-link-contact div.matchheight:first-child p {
    float: left;
  }
}
#block-bean-model-link-contact div.matchheight p {
  margin: 0;
  max-width: 600px;
}
#block-bean-model-link-contact div.matchheight a {
  color: #fff;
}
#block-bean-model-link-contact div.matchheight a:hover {
  text-decoration: underline;
}

.large-6 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.large-6 ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.large-6 ul li {
  margin-bottom: 5px;
  padding-left: 20px;
}
.large-6 ul li:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #cc1746;
  border-radius: 50%;
  position: relative;
  left: -20px;
  margin-right: -10px;
}

.intro .columns ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.intro .columns ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.intro .columns ul li {
  margin-bottom: 5px;
  padding-left: 20px;
}
.intro .columns ul li:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  left: -20px;
  margin-right: -10px;
}

.product-cat .cat-thumb {
  float: left;
  margin-right: 30px;
}
.product-cat .cat-thumb img {
  width: 125px;
  height: auto;
}
.product-cat .cat-content .button {
  min-width: auto;
  float: right;
}

.contact-info {
  padding-top: 80px;
}
@media (max-width: 1025px) {
  .contact-info {
    padding-top: 30px;
  }
}
.contact-info .content {
  float: left;
  width: 45%;
  margin-right: 5%;
}
@media (max-width: 767px) {
  .contact-info .content {
    width: 100%;
    float: none;
    margin: 0 0 30px;
  }
}
.contact-info .content a {
  font-size: 1.3em;
  line-height: 1;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-info .content a {
    font-size: 1.1em;
  }
}
@media (max-width: 370px) {
  .contact-info .content a {
    font-size: 1em;
  }
}
.contact-info .map {
  float: right;
  width: 50%;
}
@media (max-width: 767px) {
  .contact-info .map {
    width: 100%;
    float: none;
    margin: 0;
  }
}
.contact-info .map img {
  width: 100%;
  height: auto;
}
.contact-info .map a:hover {
  opacity: 0.7;
}
@media (max-width: 1025px) {
  .contact-info .large-8 {
    width: 92%;
  }
}
@media (max-width: 767px) {
  .contact-info .large-8 {
    width: 100%;
  }
}

body.trade .header-bottom {
  background: #2e66ac;
}

ul.signposts {
  margin: 60px 0 0;
}
@media (max-width: 1025px) {
  ul.signposts {
    margin: 30px 0 0;
  }
}
ul.signposts li {
  margin-bottom: 60px;
}
@media (max-width: 1025px) {
  ul.signposts li {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  ul.signposts li {
    margin-bottom: 40px;
    width: 48%;
    margin-right: 4%;
  }
  ul.signposts li:nth-of-type(2n + 2) {
    margin-right: 0;
  }
}
@media (max-width: 540px) {
  ul.signposts li {
    width: 100%;
    margin-right: 0;
  }
}
ul.signposts .thumb {
  display: block;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
ul.signposts .thumb:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: 0;
  border-bottom: 200px solid transparent;
  border-left: 250px solid #2e66ac;
  mix-blend-mode: multiply;
}
@media (max-width: 1025px) {
  ul.signposts .thumb:before {
    border-bottom: 100px solid transparent;
    border-left: 150px solid #2e66ac;
  }
}
@media (max-width: 767px) {
  ul.signposts .thumb:before {
    border-bottom: 100px solid transparent;
    border-left: 150px solid #2e66ac;
  }
}
@media (max-width: 370px) {
  ul.signposts .thumb:before {
    border-bottom: 100px solid transparent;
    border-left: 150px solid #2e66ac;
  }
}
ul.signposts .thumb:hover {
  opacity: 0.7;
}

@media (max-width: 800px) {
  .node-type-downloads .large-10 {
    width: 100%;
  }
}

.view-downloads {
  margin: 80px 0;
}
@media (max-width: 1025px) {
  .view-downloads {
    margin: 30px 0 10px;
  }
}
@media (max-width: 800px) {
  .view-downloads .four-col li {
    width: 48%;
  }
  .view-downloads .four-col li:nth-of-type(4n + 4) {
    margin-right: 4%;
  }
  .view-downloads .four-col li:nth-of-type(2n + 2) {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .view-downloads .four-col li {
    width: 22%;
    margin-right: 2%;
  }
  .view-downloads .four-col li:nth-of-type(2n + 2) {
    margin-right: 4%;
  }
  .view-downloads .four-col li:nth-of-type(4n + 4) {
    margin-right: 0;
  }
}
@media (max-width: 539px) {
  .view-downloads .four-col li {
    width: 48%;
  }
  .view-downloads .four-col li:nth-of-type(4n + 4) {
    margin-right: 4%;
  }
  .view-downloads .four-col li:nth-of-type(2n + 2) {
    margin-right: 0;
  }
}

.bef-tree {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bef-tree li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bef-tree > li:first-child {
  display: none;
}
.bef-tree .form-radio {
  display: none;
}
.bef-tree label {
  font-weight: normal;
  cursor: pointer;
}
.bef-tree label:hover {
  font-weight: bold;
}
.bef-tree > li {
  margin-bottom: 20px;
}
.bef-tree .bef-tree-child {
  display: none;
  padding: 5px 0 0;
}
.bef-tree .bef-tree-child li {
  margin-bottom: 0;
  font-size: 0.9em;
}
.bef-tree .bef-tree-child li .active label,
.bef-tree .bef-tree-child li label:hover {
  text-decoration: underline;
  font-weight: normal;
}
.bef-tree .open-me label {
  font-weight: bold;
}
.bef-tree .open-me .bef-tree-child {
  display: block;
}
.bef-tree .open-me .bef-tree-child label {
  font-weight: normal;
}
.bef-tree .form-item.active label {
  font-weight: bold;
}
.bef-tree .hasChild > .form-item.active > label {
  font-weight: bold;
}
.bef-tree .toggle {
  cursor: pointer;
  margin-left: 5px;
  display: inline-block;
  transition: all 0.2s ease-out;
}
.bef-tree .toggle:hover {
  color: #cc1746;
}
.bef-tree .toggle.active {
  transform: rotate(90deg);
  color: #cc1746;
}

.downloads-filter-title {
  text-transform: uppercase;
  color: #cc1746;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 13px;
}

.category-title {
  margin-bottom: 20px;
}
.category-title h2,
.category-title h3 {
  margin: 0;
}
.category-title .bold {
  font-weight: bold;
}

.pager {
  text-align: right;
}
@media (min-width: 320px) and (max-width: 767px) {
  .pager {
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pager li {
    margin-bottom: 5px;
  }
}
.pager a {
  color: #fff;
  background: #9c9d9e;
}
.pager a:hover {
  background: #cc1746;
}
.pager .pager__item.is-active a {
  background: #cc1746;
  color: #fff;
}
.pager .pager__item--first,
.pager .pager__item--last,
.pager .pager__item--previous,
.pager .pager__item--next {
  display: none;
}

.download {
  color: #555250;
}
.download img {
  margin-bottom: 10px;
  transition: opacity 0.2s ease-out;
}
.download:hover {
  color: #cc1746;
}
.download:hover img {
  opacity: 0.7;
}

ul.news {
  margin: 80px 0 0;
}
@media (max-width: 1025px) {
  ul.news {
    margin: 30px 0 0;
  }
}
ul.news.see-all li {
  display: block;
}
ul.news li {
  display: none;
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
ul.news li:nth-child(1), ul.news li:nth-child(2), ul.news li:nth-child(3) {
  display: block;
}
ul.news .thumb {
  display: block;
  margin-bottom: 30px;
}
ul.news .thumb img {
  width: 100%;
  height: auto;
}
ul.news .thumb:hover {
  opacity: 0.7;
}
ul.news h3 {
  margin: 0 0 10px;
}
ul.news .button {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 10px;
}
@media (max-width: 1025px) {
  ul.news .button {
    margin-right: 0;
  }
}

.node-type-article.trade .intro {
  border: 0;
}
.node-type-article.trade h1 {
  color: #555250;
}
.node-type-article.trade .image {
  margin: 60px 0;
}
@media (max-width: 767px) {
  .node-type-article.trade .image {
    margin: 30px 0;
  }
}
.node-type-article.trade .image img {
  width: 100%;
  height: auto;
}
.node-type-article.trade .image figcaption {
  text-align: right;
  padding-top: 15px;
}

.text-image {
  margin: 60px 0;
}
@media (max-width: 1025px) {
  .text-image {
    margin: 30px 0;
  }
}
.text-image .thumb,
.text-image .content {
  float: left;
  width: 48%;
}
@media (max-width: 767px) {
  .text-image .thumb,
  .text-image .content {
    float: none;
    width: 100%;
  }
}
.text-image .thumb {
  margin-right: 4%;
}
@media (max-width: 767px) {
  .text-image .thumb {
    margin: 0 0 15px;
  }
}
@media (max-width: 1025px) {
  .text-image .large-8 {
    width: 92%;
  }
  .text-image .large-6 {
    width: 70%;
  }
}
@media (max-width: 800px) {
  .text-image .large-6 {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .text-image .large-8,
  .text-image .large-6 {
    width: 100%;
  }
}

.grey.form {
  padding: 40px 0;
}
@media (max-width: 1025px) {
  .grey.form {
    padding: 15px 0 30px;
  }
}

@media (max-width: 1025px) {
  .form .large-6 {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .form .large-6 {
    width: 100%;
  }
}
form input,
form textarea,
form select {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-family: "HelveticaNeueLTPro-Lt";
  background: transparent;
  border: 0;
  border-bottom: 1px solid #555250;
  padding: 10px 0 15px;
  width: 100%;
}
@media (max-width: 1025px) {
  form input,
  form textarea,
  form select {
    font-size: 19px;
    line-height: 25px;
  }
}
form input:focus,
form textarea:focus,
form select:focus {
  border-color: #cc1746;
}
form input[type=submit] {
  background: #555250;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px 0;
}
form input[type=submit]:hover {
  background: #cc1746;
}
form .form-actions {
  clear: both;
  padding-top: 20px;
}

::-webkit-input-placeholder {
  color: #555250;
}

:-moz-placeholder {
  color: #555250;
  opacity: 1;
}

::-moz-placeholder {
  color: #555250;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #555250;
}

::-ms-input-placeholder {
  color: #555250;
}

fieldset.captcha {
  border: 0;
  padding: 1em 0 0;
  margin: 0;
}
fieldset.captcha legend,
fieldset.captcha .fieldset-description {
  display: none;
  visibility: hidden;
}

.webform-client-form-6 .webform-component-textfield,
.webform-client-form-6 .webform-component--email,
.webform-client-form-9 .webform-component-textfield,
.webform-client-form-9 .webform-component--email,
.webform-client-form-10 .webform-component-textfield,
.webform-client-form-10 .webform-component--email,
.webform-submission-register-your-appliance-node-19-form .webform-component-textfield,
.webform-submission-register-your-appliance-node-19-form .webform-component--email {
  width: 31.3333%;
  float: left;
}
@media (max-width: 370px) {
  .webform-client-form-6 .webform-component-textfield,
  .webform-client-form-6 .webform-component--email,
  .webform-client-form-9 .webform-component-textfield,
  .webform-client-form-9 .webform-component--email,
  .webform-client-form-10 .webform-component-textfield,
  .webform-client-form-10 .webform-component--email,
  .webform-submission-register-your-appliance-node-19-form .webform-component-textfield,
  .webform-submission-register-your-appliance-node-19-form .webform-component--email {
    float: none;
    width: 100%;
  }
}
.webform-client-form-6 .webform-component--email,
.webform-client-form-9 .webform-component--email,
.webform-client-form-10 .webform-component--email,
.webform-submission-register-your-appliance-node-19-form .webform-component--email {
  margin: 1em 3%;
}
@media (max-width: 370px) {
  .webform-client-form-6 .webform-component--email,
  .webform-client-form-9 .webform-component--email,
  .webform-client-form-10 .webform-component--email,
  .webform-submission-register-your-appliance-node-19-form .webform-component--email {
    margin: 1em 0;
  }
}

.webform-client-form-9 .webform-component--model-of-existing-heater {
  width: 100%;
}
@media (max-width: 370px) {
  .webform-client-form-9 .webform-component--model-of-existing-heater {
    margin-left: 0;
    width: 100%;
  }
}

.webform-client-form-10 .webform-component--model-of-unit {
  margin: 1em 3%;
}
@media (max-width: 370px) {
  .webform-client-form-10 .webform-component--model-of-unit {
    margin: 1em 0;
  }
}

.webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes,
.webform-submission-register-your-appliance-node-19-form .webform-component-radios {
  clear: both;
}
.webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes label,
.webform-submission-register-your-appliance-node-19-form .webform-component-radios label {
  font-weight: normal;
}
.webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes label,
.webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-checkboxes,
.webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-radios,
.webform-submission-register-your-appliance-node-19-form .webform-component-radios label,
.webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-checkboxes,
.webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-radios {
  float: left;
  width: 29.3333%;
  display: block;
}
@media (max-width: 1219px) {
  .webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes label,
  .webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-checkboxes,
  .webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-radios,
  .webform-submission-register-your-appliance-node-19-form .webform-component-radios label,
  .webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-checkboxes,
  .webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-radios {
    width: 100%;
  }
}
.webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-checkboxes,
.webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-radios,
.webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-checkboxes,
.webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-radios {
  width: 67.6666%;
  text-align: right;
}
@media (max-width: 1219px) {
  .webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-checkboxes,
  .webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-radios,
  .webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-checkboxes,
  .webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-radios {
    width: 100%;
    text-align: left;
  }
}
@media (max-width: 540px) {
  .webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-checkboxes,
  .webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-radios,
  .webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-checkboxes,
  .webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-radios {
    margin-bottom: 15px;
  }
}
.webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-checkboxes .form-item,
.webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-radios .form-item,
.webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-checkboxes .form-item,
.webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-radios .form-item {
  display: inline-block;
  margin: 0 0 0 1em;
}
@media (max-width: 1219px) {
  .webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-checkboxes .form-item,
  .webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-radios .form-item,
  .webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-checkboxes .form-item,
  .webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-radios .form-item {
    margin: 5px 1em 0 0;
  }
}
@media (max-width: 540px) {
  .webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-checkboxes .form-item,
  .webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-radios .form-item,
  .webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-checkboxes .form-item,
  .webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-radios .form-item {
    display: block;
    width: 100%;
  }
}
.webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-checkboxes .form-item input,
.webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-radios .form-item input,
.webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-checkboxes .form-item input,
.webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-radios .form-item input {
  display: inline-block;
  width: auto;
}
.webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-checkboxes .form-item label,
.webform-submission-register-your-appliance-node-19-form .webform-component-checkboxes .form-radios .form-item label,
.webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-checkboxes .form-item label,
.webform-submission-register-your-appliance-node-19-form .webform-component-radios .form-radios .form-item label {
  display: inline-block;
  float: none;
  width: auto;
  margin: 0;
}
.webform-submission-register-your-appliance-node-19-form .webform-component-radios {
  margin: 1.5em 0;
  display: table;
  width: 100%;
}
.webform-submission-register-your-appliance-node-19-form .webform-component--model-name-of-appliance-installed,
.webform-submission-register-your-appliance-node-19-form .webform-component--model-name-of-appliance-installed2,
.webform-submission-register-your-appliance-node-19-form .webform-component--appliance-2--model-name-of-appliance-installed2 {
  margin-right: 3%;
}
@media (max-width: 540px) {
  .webform-submission-register-your-appliance-node-19-form .webform-component--model-name-of-appliance-installed,
  .webform-submission-register-your-appliance-node-19-form .webform-component--model-name-of-appliance-installed2,
  .webform-submission-register-your-appliance-node-19-form .webform-component--appliance-2--model-name-of-appliance-installed2 {
    margin-right: 0;
  }
}
.webform-submission-register-your-appliance-node-19-form .webform-component--model-name-of-appliance-installed,
.webform-submission-register-your-appliance-node-19-form .webform-component--serial-number-of-appliance,
.webform-submission-register-your-appliance-node-19-form .webform-component--model-name-of-appliance-installed2,
.webform-submission-register-your-appliance-node-19-form .webform-component--serial-number-of-appliance2,
.webform-submission-register-your-appliance-node-19-form .webform-component--appliance-2--model-name-of-appliance-installed2,
.webform-submission-register-your-appliance-node-19-form .webform-component--appliance-2--serial-number-of-appliance2 {
  width: 48.5%;
}
@media (max-width: 540px) {
  .webform-submission-register-your-appliance-node-19-form .webform-component--model-name-of-appliance-installed,
  .webform-submission-register-your-appliance-node-19-form .webform-component--serial-number-of-appliance,
  .webform-submission-register-your-appliance-node-19-form .webform-component--model-name-of-appliance-installed2,
  .webform-submission-register-your-appliance-node-19-form .webform-component--serial-number-of-appliance2,
  .webform-submission-register-your-appliance-node-19-form .webform-component--appliance-2--model-name-of-appliance-installed2,
  .webform-submission-register-your-appliance-node-19-form .webform-component--appliance-2--serial-number-of-appliance2 {
    width: 100%;
  }
}
.webform-submission-register-your-appliance-node-19-form .webform-component--installer-details--date-of-installation,
.webform-submission-register-your-appliance-node-19-form .webform-component--installer-details--date-of-installation2 {
  width: 100%;
}
.webform-submission-register-your-appliance-node-19-form .webform-component--installer-details--has-benchmark-log-been-completed,
.webform-submission-register-your-appliance-node-19-form .webform-component--installer-details-2--has-benchmark-log-been-completed {
  padding-top: 15px;
}
.webform-submission-register-your-appliance-node-19-form .webform-component--subtitle {
  margin-top: 80px;
}
@media (max-width: 1025px) {
  .webform-submission-register-your-appliance-node-19-form .webform-component--subtitle {
    margin: 30px 0 0;
  }
  .webform-submission-register-your-appliance-node-19-form .webform-component--subtitle h2 {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .webform-submission-register-your-appliance-node-19-form .webform-component--subtitle {
    margin-bottom: 0;
  }
}
.webform-submission-register-your-appliance-node-19-form .webform-component-fieldset {
  border: 0;
  outline: 0;
  padding: 0;
}
.webform-submission-register-your-appliance-node-19-form .webform-component-date {
  margin-bottom: 1em;
}
.webform-submission-register-your-appliance-node-19-form .webform-component-date label {
  font-weight: normal;
  margin-bottom: 10px;
}
.webform-submission-register-your-appliance-node-19-form .webform-component-date select {
  width: auto;
  padding: 10px 15px;
}
.webform-submission-register-your-appliance-node-19-form .webform-component-date input {
  border: 0;
  position: relative;
  top: 10px;
  height: 25px;
  width: 25px;
  margin-left: 15px;
}
.webform-submission-register-your-appliance-node-19-form .webform-component--installer-details--telephone,
.webform-submission-register-your-appliance-node-19-form .webform-component--installer-details-2--telephone {
  margin: 1em 3%;
}
@media (max-width: 540px) {
  .webform-submission-register-your-appliance-node-19-form .webform-component--installer-details--telephone,
  .webform-submission-register-your-appliance-node-19-form .webform-component--installer-details-2--telephone {
    margin: 1em 0;
  }
}
.webform-submission-register-your-appliance-node-19-form .webform-component-file {
  margin-top: 40px;
}
@media (max-width: 540px) {
  .webform-submission-register-your-appliance-node-19-form .webform-component-file {
    margin-top: 20px;
  }
}
.webform-submission-register-your-appliance-node-19-form .webform-component-file .form-managed-file {
  margin-top: 1em;
}
.webform-submission-register-your-appliance-node-19-form .webform-component-file label {
  font-weight: normal;
}
.webform-submission-register-your-appliance-node-19-form .webform-component-file input {
  width: 50%;
  float: left;
}
@media (max-width: 540px) {
  .webform-submission-register-your-appliance-node-19-form .webform-component-file input {
    width: 100%;
  }
}
.webform-submission-register-your-appliance-node-19-form .webform-component-file .form-submit {
  background: #65aa4f;
}
.webform-submission-register-your-appliance-node-19-form .webform-component-file .form-submit:hover {
  background: #555250;
}
.webform-submission-register-your-appliance-node-19-form .webform-component-file .form-file {
  border: 0;
}
.webform-submission-register-your-appliance-node-19-form .webform-component-file .file {
  display: inline-block;
  padding-left: 15px;
  line-height: 40px;
}
.webform-submission-register-your-appliance-node-19-form h2 {
  text-transform: none;
}
.webform-submission-register-your-appliance-node-19-form .webform-component--installer-details-2,
.webform-submission-register-your-appliance-node-19-form .webform-component--appliance-2 {
  width: 100%;
  clear: both;
  display: none;
}
.webform-submission-register-your-appliance-node-19-form .form-textarea-wrapper {
  width: 100%;
}
.webform-submission-register-your-appliance-node-19-form .form-actions {
  margin-bottom: 0;
}

.webform-component--opt-in {
  display: block;
  clear: both;
}
.webform-component--opt-in .description {
  font-size: 1em;
}
.webform-component--opt-in .form-radios {
  width: 100% !important;
  text-align: left !important;
}
.webform-component--opt-in .form-item {
  margin: 0.5em 0 0 !important;
}

.register-intro {
  padding: 40px 0 20px;
}
@media (max-width: 1025px) {
  .register-intro {
    padding: 30px 0;
  }
}

@media (max-width: 799px) {
  .register-your-appliance .form .large-6 {
    width: 80%;
  }
  .register-your-appliance .form .large-6 h2 {
    margin-left: -7.5%;
  }
}
@media (max-width: 799px) {
  .register-your-appliance .form .large-6 {
    width: 100%;
  }
  .register-your-appliance .form .large-6 h2 {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .register-your-appliance .form .large-6 h2 {
    margin-bottom: 0;
  }
}

.required::-webkit-input-placeholder:after {
  content: " *";
  color: #cc1746;
}

.required:-moz-placeholder:after {
  content: " *";
  color: #cc1746;
}

.required:-ms-input-placeholder:after {
  content: " *";
  color: #cc1746;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #cc1746;
}

.webform-component--more {
  clear: both;
}

label.error {
  color: #cc1746;
  margin-top: 5px;
  font-weight: normal;
  font-size: 0.8em;
}

[type=checkbox]:not(:checked),
[type=checkbox]:checked {
  position: absolute;
  left: -9999px;
}

[type=checkbox]:not(:checked) + label,
[type=checkbox]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type=checkbox]:not(:checked) + label:before,
[type=checkbox]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #9c9d9e;
  background: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* checked mark aspect */
[type=checkbox]:not(:checked) + label:after,
[type=checkbox]:checked + label:after {
  content: "✔";
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #cc1746;
  transition: all 0.2s;
}

/* checked mark aspect changes */
[type=checkbox]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type=checkbox]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* accessibility */
[type=checkbox]:checked:focus + label:before,
[type=checkbox]:not(:checked):focus + label:before {
  border: 1px solid #cc1746;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #cc1746 !important;
}

form:not(.ctools-auto-submit-full-form) [type=radio]:checked,
form:not(.ctools-auto-submit-full-form) [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
form:not(.ctools-auto-submit-full-form) [type=radio]:checked + label,
form:not(.ctools-auto-submit-full-form) [type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  color: #555250;
}
form:not(.ctools-auto-submit-full-form) [type=radio]:checked + label:before,
form:not(.ctools-auto-submit-full-form) [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #9c9d9e;
  border-radius: 100%;
  background: #fff;
}
form:not(.ctools-auto-submit-full-form) [type=radio]:checked + label:after,
form:not(.ctools-auto-submit-full-form) [type=radio]:not(:checked) + label:after {
  content: "";
  width: 0.9em;
  height: 0.9em;
  background: #cc1746;
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
form:not(.ctools-auto-submit-full-form) [type=radio]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
form:not(.ctools-auto-submit-full-form) [type=radio]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.site-footer {
  background: #cc1746;
  color: #fff;
  padding: 15px 0;
}
.site-footer p {
  margin: 0;
  font-size: 14px;
}
.site-footer a {
  color: #fff;
}
.site-footer a:hover {
  text-decoration: underline;
}
.site-footer .block-bean {
  width: 50%;
  float: left;
}
@media (min-width: 320px) and (max-width: 567px) {
  .site-footer .block-bean {
    width: 100%;
    float: none;
    text-align: center;
  }
}

#block-bean-terms {
  text-align: right;
}
@media (min-width: 320px) and (max-width: 567px) {
  #block-bean-terms {
    text-align: center;
  }
}

#cookie-notice {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: #f8f8f8;
  padding: 15px;
  text-align: center;
  z-index: 9999;
  font-size: 16px;
}
#cookie-notice p {
  margin: 0;
}
#cookie-notice p a {
  color: #fff;
  font-weight: bold;
  transition: all 0.2s ease-out;
}
#cookie-notice p a:hover {
  text-decoration: underline;
}
#cookie-notice p button {
  display: inline-block;
  border-radius: 3px;
  background: #f8f8f8;
  color: #333;
  border: 1px solid #f8f8f8;
  padding: 7px 10px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  margin-left: 15px;
}
@media handheld, only screen and (max-width: 767px) {
  #cookie-notice p button {
    display: block;
    margin: 15px auto 0;
  }
}
#cookie-notice p button:hover {
  background: #333;
  color: #fff;
}

.register-your-device {
  background-color: #65aa4f;
  padding: 45px;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.5em;
}
@media (min-width: 320px) and (max-width: 567px) {
  .register-your-device {
    font-size: 1.1em;
    line-height: 1.1em;
  }
}
.register-your-device a {
  color: #fff;
}

.white-box-shadow {
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.text-list-box h3,
.support-list-box h3,
.img-txt-block--content h3,
.full-bgimg-content h3,
.pdf-download-content h3 {
  margin: 0px;
  padding: 0px;
}

.thumb-img {
  display: block;
  text-align: center;
}
.thumb-img img {
  width: 80%;
  height: auto;
}

.btn-set-right {
  text-align: right;
}

.sm-btn-set .button {
  min-width: auto;
  text-align: left;
}

.btn-full .button {
  width: 83%;
  text-align: left;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.section-padding {
  padding: 60px 0;
}

.desc {
  margin: 1.1rem 0;
}
.desc p:last-child {
  margin: 0px;
}
.desc ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.desc ul li {
  position: relative;
  margin: 0 0 0.6rem 0;
  padding: 0 0 0 1.5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .desc ul li br {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .desc ul li br {
    display: none;
  }
}
.desc ul li::before {
  width: 11px;
  height: 11px;
  position: absolute;
  left: 0px;
  top: 7px;
  background: #cc1746;
  content: "";
  border-radius: 50px;
}

.support-list-box {
  display: flex;
  flex-wrap: wrap;
  margin: 70px 0;
  padding: 25px;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.support-list-box .support-list-icon {
  width: 25%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .support-list-box .support-list-icon {
    width: 150px;
    margin: auto;
  }
}
.support-list-box .support-list-content {
  width: 75%;
  padding-left: 1rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .support-list-box .support-list-content {
    width: 100%;
    padding-left: 0rem;
    padding-top: 2rem;
  }
}
.support-list-box .support-list-content h2 a {
  color: #555250;
}
.support-list-box .support-list-content .desc {
  min-height: 100px;
}
.support-list-box:hover .support-list-icon img {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.support-list-box:hover .support-list-content h2 a {
  color: #cc1746;
}

.text-list-box {
  border-bottom: 1px #cc1746 solid;
  background: #fff;
  padding: 25px 0;
  margin-top: 25px;
}
.text-list-box:first-child {
  margin-top: 0px;
  padding-top: 0px;
}

.ui-widget-content {
  color: #555250;
  font-family: "HelveticaNeueLTPro-Lt";
  font-size: 18px;
}

.ui-accordion .ui-accordion-header {
  background: transparent;
  padding: 15px 39px 15px 0;
  color: #555250;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px #cc1746 solid;
  font-family: "HelveticaNeueLTPro-Md";
  margin-top: 30px;
}
.ui-accordion .ui-accordion-header::after {
  content: ">";
  position: absolute;
  right: 0px;
  top: 40%;
  color: #cc1746;
  font-size: 30px;
  line-height: 22px;
}
.ui-accordion .ui-state-active a,
.ui-accordion .ui-state-active a:link,
.ui-accordion .ui-state-active a:visited {
  color: #555250;
}
.ui-accordion .ui-accordion-header-active::after {
  content: ">";
  position: absolute;
  right: 0px;
  top: 40%;
  color: #cc1746;
  font-size: 30px;
  line-height: 22px;
  transform: rotate(90deg);
}

.img-txt-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  flex-direction: row-reverse;
}
@media (min-width: 768px) and (max-width: 991px) {
  .img-txt-block {
    flex-direction: column-reverse;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .img-txt-block {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .img-txt-block {
    flex-direction: column-reverse;
  }
}
.img-txt-block:first-child {
  margin-top: 0px;
}
.img-txt-block .img-txt-block--img {
  width: 45%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .img-txt-block .img-txt-block--img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .img-txt-block .img-txt-block--img {
    width: 100%;
  }
}
.img-txt-block .img-txt-block--img img {
  display: block;
  width: 100%;
  height: auto;
}
.img-txt-block .img-txt-block--content {
  width: 55%;
  padding: 0 2rem 0 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .img-txt-block .img-txt-block--content {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .img-txt-block .img-txt-block--content {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }
}
.img-txt-block:nth-child(2n+2) {
  flex-direction: revert;
}
@media (min-width: 768px) and (max-width: 991px) {
  .img-txt-block:nth-child(2n+2) {
    flex-direction: column-reverse;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .img-txt-block:nth-child(2n+2) {
    flex-direction: column-reverse;
    padding-bottom: 1.2rem;
  }
}
.img-txt-block:nth-child(2n+2) .img-txt-block--content {
  padding: 0 0 0 2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .img-txt-block:nth-child(2n+2) .img-txt-block--content {
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .img-txt-block:nth-child(2n+2) .img-txt-block--content {
    padding: 0;
  }
}

.full-bgimg-block {
  position: relative;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  overflow: hidden;
}
@media (min-width: 568px) and (max-width: 767px) {
  .full-bgimg-block .large-8 {
    width: 80%;
  }
}
.full-bgimg-block .full-bgimg-content {
  background: rgba(255, 255, 255, 0.9);
  padding: 60px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .full-bgimg-block .full-bgimg-content {
    padding: 30px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-bgimg-block .full-bgimg-content {
    padding: 30px;
  }
}
.full-bgimg-block .full-bgimg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.full-bgimg-block .full-bgimg .field--name-field-image {
  height: 100%;
}
.full-bgimg-block .full-bgimg img {
  display: block;
  width: 100%;
  height: auto;
}
@media (max-width: 1025px) {
  .full-bgimg-block .full-bgimg img {
    width: auto;
    height: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 1580px) {
  .full-bgimg-block .full-bgimg img {
    max-width: inherit;
    width: auto;
    height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .full-bgimg-block .full-bgimg img {
    max-width: inherit;
    width: auto;
    height: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-bgimg-block .full-bgimg img {
    max-width: inherit;
    width: auto;
    height: 100%;
  }
}

.block-views-blockcontact-support-support-block .large-6 {
  width: 85%;
}
@media (max-width: 1025px) {
  .block-views-blockcontact-support-support-block .large-6 {
    width: 100%;
  }
}
.block-views-blockcontact-support-support-block h3 {
  margin: 0 0 30px 4rem;
}
.block-views-blockcontact-support-support-block .support-list-box {
  width: 31.33%;
  background: #fff;
  padding: 35px 15px 30px 15px;
  float: left;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .block-views-blockcontact-support-support-block .support-list-box {
    width: 490px;
    margin: auto;
    float: none;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .block-views-blockcontact-support-support-block .support-list-box {
    width: 400px;
    margin: auto;
    float: none;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .block-views-blockcontact-support-support-block .support-list-box {
    width: 100%;
  }
}
.block-views-blockcontact-support-support-block .support-list-box:nth-child(3) {
  margin-left: 3%;
  margin-right: 3%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .block-views-blockcontact-support-support-block .support-list-box:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .block-views-blockcontact-support-support-block .support-list-box:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .block-views-blockcontact-support-support-block .support-list-box:nth-child(3) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.block-views-blockcontact-support-support-block .support-list-box .support-list-icon {
  width: 115px;
  margin: auto auto 15px auto;
  display: block;
}
.block-views-blockcontact-support-support-block .support-list-box .support-list-icon a img {
  width: 100%;
  height: auto;
  display: block;
}
.block-views-blockcontact-support-support-block .support-list-box .support-list-content {
  width: 100%;
  padding-left: 0;
}
.block-views-blockcontact-support-support-block .support-list-box .support-list-content h2 {
  margin: 20px 0;
}
.block-views-blockcontact-support-support-block .support-list-box .support-list-content .btn-set-right {
  text-align: left;
}

.block-views-blockproduct-download-pdf-pdf-row .pdf-download-box .pdf-download-content h2 {
  margin: 22px 0 0 0;
}

.support-list-box .support-list-content h2 {
  margin: 0;
}

.block-views-blockproduct-download-pdf-pdf-row {
  padding: 100px 0 50px 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .block-views-blockproduct-download-pdf-pdf-row {
    padding: 50px 0 25px 0;
  }
}
@media (max-width: 1249px) {
  .block-views-blockproduct-download-pdf-pdf-row .large-9 {
    width: 70%;
  }
}
@media (max-width: 1025px) {
  .block-views-blockproduct-download-pdf-pdf-row .large-9 {
    width: 100%;
  }
}
.block-views-blockproduct-download-pdf-pdf-row .pdf-download-box {
  display: flex;
  flex-wrap: wrap;
}
.block-views-blockproduct-download-pdf-pdf-row .pdf-download-box .pdf-download-img {
  width: 25%;
}
@media (min-width: 568px) and (max-width: 767px) {
  .block-views-blockproduct-download-pdf-pdf-row .pdf-download-box .pdf-download-img {
    width: 35%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .block-views-blockproduct-download-pdf-pdf-row .pdf-download-box .pdf-download-img {
    width: 100%;
  }
}
.block-views-blockproduct-download-pdf-pdf-row .pdf-download-box .pdf-download-img img {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 568px) and (max-width: 767px) {
  .block-views-blockproduct-download-pdf-pdf-row .pdf-download-box .pdf-download-img img {
    width: 85%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .block-views-blockproduct-download-pdf-pdf-row .pdf-download-box .pdf-download-img img {
    width: 66%;
    margin: auto;
  }
}
.block-views-blockproduct-download-pdf-pdf-row .pdf-download-box .pdf-download-content {
  width: 75%;
  padding-left: 2rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .block-views-blockproduct-download-pdf-pdf-row .pdf-download-box .pdf-download-content {
    width: 65%;
    padding-left: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .block-views-blockproduct-download-pdf-pdf-row .pdf-download-box .pdf-download-content {
    width: 100%;
    padding: 0;
    margin-top: 3rem;
  }
}
.block-views-blockproduct-download-pdf-pdf-row .pdf-download-box .pdf-download-content .desc {
  min-height: 155px;
}

.columns-2-img-block .columns-2-img-box {
  width: 50%;
  padding: 1rem;
}
.columns-2-img-block .columns-2-img-box .columns-2-img-inner {
  position: relative;
}
.columns-2-img-block .columns-2-img-box .columns-2-img-inner .columns-2-img {
  margin-bottom: 2rem;
}
.columns-2-img-block .columns-2-img-box .columns-2-img-inner .columns-2-img:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-right: 0px;
  border-bottom: 200px solid transparent;
  border-left: 210px solid #2e66ac;
  mix-blend-mode: multiply;
}
.columns-2-img-block .columns-2-img-box .columns-2-img-inner .columns-2-img img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 1999px) {
  .block-views-blockcontact-support-listing .large-6 {
    width: 60%;
  }
}
@media (max-width: 1025px) {
  .block-views-blockcontact-support-listing .large-6 {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .block-views-blockcontact-support-listing .large-6 {
    width: 100%;
  }
}

ul.sf-menu li:hover > ul,
ul.sf-menu li.sfHover > ul {
  left: 0;
  top: 3.9em;
}

ul.sf-menu.sf-horizontal.sf-shadow ul,
ul.sf-menu.sf-vertical.sf-shadow ul,
ul.sf-menu.sf-navbar.sf-shadow ul ul {
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
}

.white.field_content_with_background-body {
  padding: 0;
}

.block-views-blockdownloads-listing .push-8 {
  padding-left: 4rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .block-views-blockdownloads-listing .push-8 {
    padding-left: 1.5rem;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .header--sm .block-superfish ul.sf-menu,
  .header--sm .block-superfish ul.menu,
  .header--sm .block-menu ul.sf-menu,
  .header--sm .block-menu ul.menu {
    display: block !important;
    text-align: center;
  }
  .header--sm .sf-accordion-toggle {
    display: none;
  }
  .header--sm .block-superfish ul.sf-menu a, .header--sm .block-superfish ul.menu a, .header--sm .block-menu ul.sf-menu a, .header--sm .block-menu ul.menu a {
    padding: 10px 0;
  }
  .header--sm .block-superfish ul.sf-menu li,
  .header--sm .block-superfish ul.menu li {
    margin-bottom: 0.4rem;
  }
  .header--sm .block-superfish ul.sf-menu li.active-trail a,
  .header--sm .block-superfish ul.menu li.menu-item--active-trail a {
    color: #fff;
    font-family: "HelveticaNeueLTPro-Md";
  }
  .header--sm .block-superfish ul.sf-menu li.active-trail ul li a,
  .header--sm .block-superfish ul.menu li.menu-item--active-trail ul li a {
    color: #fff;
    font-family: "HelveticaNeueLTPro-Lt";
  }
  .header--sm .block-superfish ul.sf-menu li.active-trail ul li.active-trail a, .header--sm .block-superfish ul.sf-menu li.active-trail ul li.menu-item--active-trail a,
  .header--sm .block-superfish ul.menu li.menu-item--active-trail ul li.active-trail a,
  .header--sm .block-superfish ul.menu li.menu-item--active-trail ul li.menu-item--active-trail a {
    color: #fff;
    font-family: "HelveticaNeueLTPro-Md";
  }
  .header--sm .block-menu ul.menu li.menu-item--active-trail a {
    color: #fff;
    font-family: "HelveticaNeueLTPro-Md";
  }
  .header--sm .block-menu ul.menu li.menu-item--active-trail ul li a {
    color: #fff;
    font-family: "HelveticaNeueLTPro-Lt";
  }
  .header--sm .block-menu ul.menu li.menu-item--active-trail ul li.active-trail a, .header--sm .block-menu ul.menu li.menu-item--active-trail ul li.menu-item--active-trail a {
    color: #fff;
    font-family: "HelveticaNeueLTPro-Md";
  }
  .header--sm .sf-sub-indicator {
    display: block;
  }
  .header--sm ul.sf-menu .sf-sub-indicator {
    height: 21px;
    opacity: 1;
    right: -33px;
    width: 20px;
    font-size: 21px;
    text-align: right;
  }
  .header--sm ul.sf-menu .sf-sub-indicator:after {
    content: ">" !important;
  }
  .header--sm ul.sf-menu .sfHover .sf-sub-indicator:after {
    transform: rotate(90deg);
    left: 4px;
  }
  .header--sm .block-superfish ul.sf-menu a, .header--sm .block-superfish ul.menu a, .header--sm .block-menu ul.sf-menu a, .header--sm .block-menu ul.menu a {
    display: inline-block;
    font-size: 23px;
  }
  .header--sm .block-superfish ul.sf-menu li.menuparent a {
    position: relative;
  }
  .header--sm .block-superfish ul.sf-menu li.menuparent ul li {
    padding: 0px;
    margin: 0px;
  }
  .header--sm .block-superfish ul.sf-menu li.menuparent ul li a {
    font-size: 19px;
    padding: 3px 0;
  }
  .header--sm ul.sf-menu li:hover > ul, .header--sm ul.sf-menu li.sfHover > ul {
    left: 0;
    top: 0;
    position: relative;
    padding-left: 15px;
  }
}
.webform-submission-register-your-appliance-node-19-form .form-item-email label {
  display: none;
}
.webform-submission-register-your-appliance-node-19-form .description {
  margin: 1.5em 0;
}
.webform-submission-register-your-appliance-node-19-form .fieldgroup,
.webform-submission-register-your-appliance-node-19-form .form-item-files-checklist {
  margin: 1.5em 0;
  display: table;
  width: 100%;
  clear: both;
}
.webform-submission-register-your-appliance-node-19-form .fieldgroup legend,
.webform-submission-register-your-appliance-node-19-form .form-item-files-checklist legend {
  float: left;
  width: 29.3333%;
  display: block;
}
@media (max-width: 1219px) {
  .webform-submission-register-your-appliance-node-19-form .fieldgroup legend,
  .webform-submission-register-your-appliance-node-19-form .form-item-files-checklist legend {
    width: 100%;
  }
}
.webform-submission-register-your-appliance-node-19-form .fieldgroup .fieldset-wrapper,
.webform-submission-register-your-appliance-node-19-form .form-item-files-checklist .fieldset-wrapper {
  width: 67.6666%;
  text-align: right;
  float: left;
  display: block;
}
@media (max-width: 1219px) {
  .webform-submission-register-your-appliance-node-19-form .fieldgroup .fieldset-wrapper,
  .webform-submission-register-your-appliance-node-19-form .form-item-files-checklist .fieldset-wrapper {
    width: 100%;
    text-align: left;
  }
}
@media (max-width: 540px) {
  .webform-submission-register-your-appliance-node-19-form .fieldgroup .fieldset-wrapper,
  .webform-submission-register-your-appliance-node-19-form .form-item-files-checklist .fieldset-wrapper {
    margin-bottom: 15px;
  }
}
.webform-submission-register-your-appliance-node-19-form .form-item-subtitle {
  margin-top: 80px;
}
@media (max-width: 1025px) {
  .webform-submission-register-your-appliance-node-19-form .form-item-subtitle {
    margin: 30px 0 0;
  }
  .webform-submission-register-your-appliance-node-19-form .form-item-subtitle h2 {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .webform-submission-register-your-appliance-node-19-form .form-item-subtitle {
    margin-bottom: 0;
  }
}

.js-form-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.js-form-item .description {
  margin-bottom: 1rem;
}

.btn-right {
  display: flex;
  justify-content: right;
}

.green-link-btn {
  background: #65aa4f;
  color: #fff;
  padding: 7px 15px;
  margin-top: 20px;
}
.green-link-btn:hover {
  background: #cc1746;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .page-node-type-downloads .large-8 {
    width: 57.66667%;
  }
  .page-node-type-downloads .large-8 h3 {
    font-size: 1em;
  }
  .page-node-type-downloads .large-4 {
    width: 42.33333%;
  }
  .page-node-type-downloads .push-8 {
    left: 55.66667%;
  }
  .page-node-type-downloads .pull-4 {
    right: 40.33333%;
  }
  .page-node-type-downloads .four-col li {
    width: 48%;
  }
  .page-node-type-downloads .four-col li:nth-of-type(2n + 2) {
    margin-right: 0;
  }
  .page-node-type-downloads .four-col li:nth-of-type(4n + 4) {
    margin-right: 0%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .pager ul.js-pager__items {
    display: flex;
  }
}

ul.products .thumb {
  display: flex;
  text-align: center;
  height: 136px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 567px) {
  ul.products .thumb {
    height: auto;
  }
}

.page-default-template .row {
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
