.main_footer {
  background: $green;
  @include padding(35px, 0, 35px, 0);
  .footer_logo {
    text-align: center;
    width: 400px;
    @include margin(0, auto, 0, auto);
    @include breakpoint(small) {
      width: 250px;
    }
    img {
      width: 100%;
    }
  }
  .social_icons {
    text-align: center;
    @include padding(35px, 0, 35px, 0);
    ul {
      @include ul(0, 0, none);
      li {
        display: inline-block;
        vertical-align: middle;
        @include padding(0px, 10px, 0px, 10px);
        @include breakpoint(small) {
          @include padding(0px, 5px, 0px, 5px);
        }
        a {
          display: block;
          width: 59px;
          @include breakpoint(small) {
            width: 50px;
          }
          img {
            width: 100%;
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
  .footer_links {
    text-align: center;
    @include padding(0px, 0, 0px, 0);
    ul {
      @include ul(0, 0, none);
      li {
        display: inline-block;
        vertical-align: middle;
        @include padding(0px, 10px, 0px, 10px);
        @include font-color(17px, $white);
        border-right: 1px $white solid;
        font-weight: 200;
        line-height: 15px;
        @include breakpoint(mobile-landscape) {
          @include padding(5px, 15px, 5px, 15px);
          margin: 5px 0;
          border-right: 0px $white solid;
        }
        @include breakpoint(mobile-portrait) {
          @include padding(5px, 5px, 5px, 5px);
          border-right: 0px $white solid;
        }

        a {
          display: block;
          @include font-color(17px, $white);
          line-height: 15px;
          @include breakpoint(mobile-portrait) {
            line-height: 23px;
            border-right: 0px $white solid;
          }
          &:hover {
            color: $greenLight;
            text-decoration: none;
          }
        }
        &:nth-child(2n + 1) {
          @include breakpoint(mobile-portrait) {
            border-right: 0px $white solid;
          }
          a {
            @include breakpoint(mobile-portrait) {
              border-right: 0px $white solid;
            }
          }
        }
        &:first-child {
          border-right: 0px;
          padding-right: 30px;
        }
        &:last-child {
          border-right: 0px;
        }
      }
    }
  }
}

.copytrights__mobile {
  display: none;
  @include font-color(17px, $white);
  text-align: center;
  padding-top: 20px;
  @include breakpoint(iPad) {
    display: block;
  }
  @include breakpoint(small) {
    display: block;
  }
}

.m_hide {
  @include breakpoint(iPad) {
    display: none !important;
  }
  @include breakpoint(small) {
    display: none !important;
  }
}

.main_footer .footer_links ul li {
  .dropdown-menu {
    padding: 0px;

    button,
    a {
      padding: 10px 10px 10px 35px;
      color: $gray-333;
      font-size: 17px;
      text-align: left;

      &.accessibility-btn-text {
        background: url('#{$assetPath}/icon-accessibility-bigger-text--dark.svg') no-repeat 10px center;
        background-size: 17px;
        border-bottom: 1px $border-bg solid;
        &:hover {
          background: url('#{$assetPath}/icon-accessibility-bigger-text--dark-hover.svg') no-repeat 10px center;
          background-size: 17px;
        }
      }
      &.accessibility-btn-contrast {
        background: url('#{$assetPath}/icon-accessibility-contrast.svg') no-repeat 10px center;
        background-size: 17px;
        border-bottom: 1px $border-bg solid;
        &:hover {
          background: url('#{$assetPath}/icon-accessibility-contrast-hover.svg') no-repeat 10px center;
          background-size: 17px;
        }
      }
      &.btn-accessibility {
        background: url('#{$assetPath}/accessibility-icon.svg') no-repeat 10px center;
        background-size: 17px;
        border-top: 0px;
        border-bottom: 0px $border-bg solid;
        &:hover {
          background: url('#{$assetPath}/accessibility-icon-hover.svg') no-repeat 10px center;
          background-size: 17px;
        }
      }
      &:hover {
        color: $greenLight;
      }
    }
  }
}

.cookie-revoke-hidden {
  .cn-buttons-container {
    a {
      background: $green;
      @include padding(10px, 25px, 10px, 25px);
      @include font-color(14px, $white);
      @include display(inline-block);
      @include border-radius(5px);
      text-align: center;
      border: 1px $green solid;
      @extend %heading-font;

      &:hover {
        color: $green;
        background: $white;
        text-decoration: none;
        border: 1px $green solid;
      }
    }
  }
}
