.custom_row {
  @include display(flex);
  @include breakpoint(small) {
    flex-wrap: wrap;
  }
}

.fixed_header {
  position: fixed;
  // position: sticky;
  @include width(100%);
  left: 0px;
  top: 0px;
  @include padding(15px, 0, 15px, 0);
  z-index: 1005;
  background: rgba(0, 0, 0, 0.7);
  @include breakpoint(header_menu) {
    position: absolute;
  }
  @include breakpoint(small) {
    position: relative;
    background: rgba(0, 0, 0, 0.9);
  }
  .container {
    position: relative;
    z-index: 2;
  }

  .logo {
    display: flex;
    align-items: center;
    img {
      @include width(280px);
      @media (min-width: 360px) and (max-width: 1170px) {
        width: 200px;
      }
      @media (min-width: 320px) and (max-width: 358px) {
        width: 183px;
      }
    }
  }

  .main-nav {
    margin-left: auto;
    @include display(flex);
    align-items: center;

    @include breakpoint(header_menu) {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
      position: absolute;
      width: 100%;
      right: 0px;
      top: 62px;
      background: $green;
      box-shadow: 0 10px 3px rgba(0, 0, 0, 0.1);
    }
    .nav-section {
      @include breakpoint(iPad-landscape) {
        width: 350px;
        margin: auto;
        padding: 15px 0;
      }
      @include breakpoint(iPad) {
        width: 350px;
        margin: auto;
        padding: 15px 0;
      }
      @include breakpoint(small) {
        width: 300px;
        margin: auto;
        padding: 15px 0;
      }

      ul {
        @include ul(0, 0, none);
        @include display(flex);
        @include breakpoint(header_menu) {
          @include display(block);
          width: 100%;
        }

        li {
          @include padding(0px, 15px, 0px, 15px);
          border-right: 1px $white solid;
          position: relative;
          &:last-child{
            padding-right: 0px;
          }
          @include breakpoint(laptop-small-m) {
            @include padding(5px, 12px, 5px, 12px);
          }
          @include breakpoint(laptop-small-s) {
            @include padding(5px, 8px, 5px, 8px);
          }
          @include breakpoint(iPad-landscape) {
            @include padding(5px, 12px, 5px, 12px);
          }

          @include breakpoint(header_menu) {
            border-right: 0px $white solid;
            border-bottom: 1px $white solid;
            @include padding(0px, 0px, 0px, 0px);
          }
          &.menu-item-has-children {
            @include breakpoint(header_menu) {
              background-image: url('#{$assetPath}/arrow-white.svg');
              background-repeat: no-repeat;
              background-position: 97% 15px;
              background-size: 21px;
            }
          }

          a {
            @include font-color(16px, $white);
            @include display(block);
            @extend %heading-font;
            line-height: 20px;
            @include breakpoint(header_menu) {
              @include padding(10px, 15px, 10px, 15px);
              @include display(inline-block);
              @include transition0;
            }

            &:hover {
              color: $greenLight;
              text-decoration: none;
            }
          }
          &.current_page_ancestor {
            a {
              color: $greenLight;
            }
            ul {
              li {
                a {
                  color: $white;
                }
              }
            }
          }
          &.current-menu-item {
            a {
              color: $greenLight;
            }
            ul {
              li {
                a {
                  color: $white;
                }
              }
            }
          }

          &:last-child {
            border-right: 0px;
            @include breakpoint(header_menu) {
              border-right: 0px $white solid;
              border-bottom: 0px $white solid;
            }
          }
          .sub-menu {
            position: absolute;
            width: 250px;
            top: 19px;
            left: 0px;
            display: none;
            @include padding(42px, 0, 0, 0);
            @include breakpoint(header_menu) {
              position: relative;
              width: 100%;
              top: 0;
              left: 0px;
              @include padding(0px, 15px, 0px, 15px);
            }

            li {
              border-right: 0px;
              display: block;
              background: rgba(0, 0, 0, 0.7);
              @include padding(0px, 15px, 0px, 15px);
              border-top: 1px $white solid;
              @include breakpoint(header_menu) {
                background: transparent;
                @include padding(0px, 0px, 0px, 0px);
                border-bottom: 0px;
              }

              a {
                display: inline-block;

                @include padding(8px, 0px, 8px, 0px);
                display: block;
                @include breakpoint(header_menu) {
                  font-size: 14px;
                }
              }
              &:hover {
                a {
                  color: $greenLight;
                }
              }
              &:first-child {
                position: relative;
                border-top: 1px $white solid;

                &::before {
                  position: absolute;
                  content: '';
                  top: -10px;
                  left: 20px;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 0 7.5px 10px 7.5px;
                  border-color: transparent transparent $white transparent;
                  @include breakpoint(header_menu) {
                    display: none;
                  }
                }
                a {
                  border-top: 0px $primary-color solid;
                }
              }
              &.current_page_item {
                a {
                  color: $greenLight;
                }
              }
            }
          }
          &:last-child {
            .sub-menu {
              left: inherit;
              right: 0px;
              li{
                &:first-child {
                  &::before {
                    left: inherit;
                    right: 20px;
                  }
                }
              }
            }
          }
          &.active {
            @media (min-width: 1025px) and (max-width: 60000px) {
              a {
                color: $greenLight;
              }
              ul {
                li {
                  a {
                    color: $white;
                  }
                }
              }
            }
            
            @include breakpoint(header_menu) {
              background-image: url('#{$assetPath}/arrow-white-top.svg');
            }

            .sub-menu {
              display: block;
            }
          }
        }
      }
    }

    .site_search {
      @include breakpoint(header_menu) {
        display: none;
      }

      .search_icon {
        cursor: pointer;

        img {
          @include width(18px);
        }
      }
    }
  }
  .main-nav.active {
    visibility: visible;
    opacity: 1;
  }
}

.mobile_search {
  background: $white;
  display: none;
  @include breakpoint(header_menu) {
    display: block;
  }

  input {
    @include width(100%);
    @include padding(15px, 15px, 15px, 15px);
    @include font-color(14px, $black);
    height: 100%;
    border: 0px;
  }
  .input-group-append {
    display: none;
  }
}
.hdr_search {
  // background: $white;
  position: absolute;
  width: 62%;
  top: 0;
  right: 45px;
  display: none;
  bottom: 0;
  @include breakpoint(mobile-iPad){
    top: 0px;
  }
  @include breakpoint(mobile-landscape){
    top: 0px;
  }

  input {
    @include width(100%);
    @include padding(15px, 15px, 15px, 15px);
    @include font-color(14px, $black);
    height: 100%;
    border: 0px;
  }
  .input-group-append {
    display: none;
  }
}
.hdr_search.active {
  display: block;
}
.search__mobile {
  margin-left: auto;
  display: none;
  margin-right: 25px;
  position: relative;
  margin-top: 9px;
  @include breakpoint(header_menu) {
    display: block;
  }
  @media (min-width: 320px) and (max-width: 358px) {
    margin-right: 13px;
  }
  .search_icon {
    padding: 8px 10px;
    border: 1px $white solid;
    height: 44px;
  }
  .hdr_search {
    width: 350px;
    right: 43px;
    height: 44px;

    @include breakpoint(mobile-portrait) {
      width: 240px;
      top: 0px;
    }
    @media (min-width: 320px) and (max-width: 358px) {
      width: 200px;
    }
    input {
      padding-top: 14px;
      padding-bottom: 13px;
    }
  }
}
.menu_icon {
  display: none;
  margin-top: auto;
  margin-bottom: auto;
  a {
    display: block;
    span {
      width: 35px;
      height: 4px;
      display: block;
      background-color: $white;
      @include margin(6px, 0, 6px, 0);
      @include border-radius(5px);
    }
    &.active {
      span:nth-child(1) {
        transform: rotate(47deg);
        -ms-transform: rotate(47deg);
        -webkit-transform: rotate(47deg);
        margin: 0px;
      }
      span:nth-child(2) {
        display: none;
      }
      span:nth-child(3) {
        transform: rotate(138deg);
        -ms-transform: rotate(138deg);
        -webkit-transform: rotate(138deg);
        @include margin(-5px, 0, 0, 0);
      }
    }
  }
  @include breakpoint(iPad-landscape) {
    display: block;
  }
  @include breakpoint(iPad) {
    display: block;
  }

  @include breakpoint(small) {
    display: block;
  }
}
#skip_content {
  a {
    position: fixed;
    top: 90px;
    right: -200px;
    z-index: 3;
    color: $blueLight;
    font-size: 17px;
    text-decoration: underline;
    font-weight: 400;

    &:hover {
      color: $green;
      text-decoration: underline;
    }
  }
}

.admin-bar {
  #skip_content {
    a {
      top: 140px;
    }
  }
}

.admin-bar .fixed_header {
  top: 32px;
}
