html {
  -webkit-text-size-adjust: 100%;
}

.a-btn--alt {
  border-radius: 100px;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

ul.colm {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
ul.colm li {
  padding: 0 15px 0px 15px;
  margin: 60px 0 0 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 320px) and (max-width: 567px) {
  ul.colm li {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}
ul.colm li i {
  width: 100px;
  display: block;
  margin: 0 auto 35px auto;
}
ul.colm li i img {
  display: block;
  width: 100%;
}
ul.colm li .bottom-btn {
  width: 100%;
  margin-top: auto;
  padding-top: 30px;
}
ul.colm li .support-info--img {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
ul.colm li .support-info--img img {
  display: block;
  width: 100%;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
}
ul.colm.colm--1 li {
  width: 100%;
}
ul.colm.colm--2 li {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 567px) {
  ul.colm.colm--2 li {
    width: 100%;
  }
}
ul.colm.colm--3 li {
  width: 33.33%;
}
@media (min-width: 568px) and (max-width: 767px) {
  ul.colm.colm--3 li {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  ul.colm.colm--3 li {
    width: 100%;
  }
}
ul.colm.colm--4 li {
  width: 25%;
}
@media (min-width: 768px) and (max-width: 991px) {
  ul.colm.colm--4 li {
    width: 33.33%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  ul.colm.colm--4 li {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  ul.colm.colm--4 li {
    width: 100%;
  }
}
ul.colm.colm--5 li {
  width: 20%;
}
@media (min-width: 768px) and (max-width: 991px) {
  ul.colm.colm--5 li {
    width: 33.33%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  ul.colm.colm--5 li {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  ul.colm.colm--5 li {
    width: 100%;
  }
}

.blue-bg {
  background-color: #1b4178;
  color: #ffffff;
}
.blue-bg h1,
.blue-bg h2,
.blue-bg h3,
.blue-bg h4,
.blue-bg h5 {
  color: #ffffff;
}

.yellow-bg {
  background-color: #f0b72f;
}
.yellow-bg h1,
.yellow-bg h2,
.yellow-bg h3,
.yellow-bg h4,
.yellow-bg h5 {
  color: #1b4178;
}

.white-bg {
  background-color: #ffffff;
}
.white-bg h1,
.white-bg h2,
.white-bg h3,
.white-bg h4,
.white-bg h5 {
  color: #1b4178;
}

.light-cyan-bg {
  background-color: #e3e6f1;
}

.section-pd-tb {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  z-index: 2;
}

.help-content-section {
  background-color: #fff;
  margin: 0px;
}

.section-hd {
  max-width: 800px;
  padding: 0 30px;
  margin: auto;
}

.text-paragraph p:last-child {
  margin-bottom: 0px;
}

.a-btn--bbdrbtm {
  border: 0px;
  background: transparent;
  position: relative;
  border-radius: 0px;
  padding: 15px 0 12px 0;
  color: #007cbf;
  text-align: left;
  text-align-last: left;
}
.a-btn--bbdrbtm::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 80%;
  border-bottom: 1px #007cbf solid;
}
.a-btn--bbdrbtm:hover {
  background: transparent;
  color: #1b4178;
}
.a-btn--bbdrbtm:hover::after {
  border-bottom: 1px #1b4178 solid;
}

.full-img-section {
  position: relative;
  padding: 60px 0;
  overflow: hidden;
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-img-section {
    padding: 0;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .full-img-section .col-sm-8 {
    width: 85%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .full-img-section .col-sm-8 {
    width: 85%;
  }
}
.full-img-section .full-img-box {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-img-section .full-img-box {
    position: relative;
  }
}
.full-img-section .full-img-box figure {
  height: 100%;
}
.full-img-section .full-img-box img {
  width: 100%;
  background-size: cover;
  height: 100%;
  object-fit: cover;
}
.full-img-section .full-img-container .full-img-content {
  background: rgba(255, 255, 255, 0.9);
  padding: 60px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .full-img-section .full-img-container .full-img-content {
    padding: 25px;
  }
}
.full-img-section .full-img-container .full-img-content .text-paragraph {
  margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .our-statistics-section .col-sm-10 {
    width: 100%;
  }
}
.our-statistics-section h2 {
  color: #1b4178;
}
.our-statistics-section .our-statistics-container ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .our-statistics-section .our-statistics-container ul {
    justify-content: flex-start;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .our-statistics-section .our-statistics-container ul {
    justify-content: flex-start;
  }
}
.our-statistics-section .our-statistics-container ul li {
  padding: 0 18px;
  margin: 60px 0 0 0;
  position: relative;
  width: 20%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .our-statistics-section .our-statistics-container ul li {
    width: 33.33%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .our-statistics-section .our-statistics-container ul li {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .our-statistics-section .our-statistics-container ul li {
    width: 100%;
  }
}
.our-statistics-section .our-statistics-container ul li i {
  width: 100px;
  display: block;
  margin: auto auto 30px auto;
}
.our-statistics-section .our-statistics-container ul li i img {
  display: block;
  width: 100%;
}
.our-statistics-section .our-statistics-container ul li h3 {
  font-weight: 700;
  color: #007cbf;
  font-size: 2.5rem;
}
.our-statistics-section .our-statistics-container ul li p {
  color: #1b4178;
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .m-banner {
    border-bottom: 0px solid #fff;
  }
}
.hero-section .hero-section-containar {
  position: relative;
  background: #636363;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .hero-section-containar {
    background: #1b4178;
    padding-bottom: 50px;
  }
}
.hero-section .hero-section-item img {
  display: block;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero-section .hero-section-item img {
    height: 250px;
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .slick-list {
    padding-bottom: 50px;
  }
}
.hero-section .slick-dots {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .slick-dots {
    bottom: 25px;
  }
}
.hero-section .slick-dots li {
  margin: 0 0 0 10px;
  padding: 0px;
}
.hero-section .slick-dots li button {
  background: #007cbf;
  cursor: pointer;
  border: 0px #fff solid;
  border-radius: 80px;
  text-indent: -9999px;
  display: block;
  width: 14px;
  padding: 0;
  height: 14px;
}
.hero-section .slick-dots li.slick-active button {
  background: #f0b72f;
}
.hero-section .hero-slider-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .hero-slider-container {
    position: relative;
    background: #1b4178;
    display: block;
  }
}
.hero-section .hero-slider-container .hero-slider-content {
  max-width: 800px;
  padding: 0 30px;
  margin: auto;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-section .hero-slider-container .hero-slider-content {
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding: 35px 15px 55px 15px;
  }
}
.hero-section .hero-slider-container h1 {
  color: #fff;
  margin-bottom: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .blue-support-info-section .col-sm-10,
.blue-support-info-section .col-sm-11,
.white-support-info-section .col-sm-10,
.white-support-info-section .col-sm-11,
.help-section .col-sm-10,
.help-section .col-sm-11 {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .blue-support-info-section .col-sm-10,
.blue-support-info-section .col-sm-11,
.white-support-info-section .col-sm-10,
.white-support-info-section .col-sm-11 {
    width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1299px) {
  .help-section .col-sm-10 {
    width: 90%;
  }
}

.stories-section .stories-slider-item {
  padding: 20px;
}
.stories-section .stories-slider-item-inner {
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 0 0 230px 0;
  position: relative;
  height: 100%;
}
.stories-section .stories-slider-item-inner .text-paragraph {
  margin-bottom: 30px;
  padding: 35px;
}
.stories-section .stories-slider-item-inner .stories-writer {
  position: absolute;
  z-index: 2;
  width: 100%;
  background: #007cbf;
  padding: 0 20px 30px 20px;
  left: 0px;
  bottom: 0px;
}
.stories-section .stories-slider-item-inner .stories-writer .stories-writer-img {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  overflow: hidden;
  margin: -84px auto auto auto;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .stories-section .stories-slider-item-inner .stories-writer .stories-writer-img {
    width: 130px;
    height: 130px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .stories-section .stories-slider-item-inner .stories-writer .stories-writer-img {
    width: 100px;
    height: 100px;
  }
}
.stories-section .stories-slider-item-inner .stories-writer .stories-writer-img img {
  width: 100%;
  display: block;
}
.stories-section .stories-slider-item-inner .stories-writer .stories-writer-info {
  color: #fff;
  text-align-last: center;
  text-align: center;
}
.stories-section .stories-slider-item-inner .stories-writer .stories-writer-info strong {
  display: block;
  margin: 15px 0 10px 0;
  font-weight: 500;
  text-transform: uppercase;
}
.stories-section .stories-slider-item-inner .stories-writer .stories-writer-info span {
  font-size: 16px;
  min-height: 49px;
  display: block;
}
.stories-section .slick-arrow {
  position: absolute;
  top: 50%;
  text-indent: -9999px;
  width: 35px;
  height: 38px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .stories-section .slick-arrow {
    width: 25px;
    height: 28px;
  }
}
.stories-section .slick-arrow.slick-next {
  right: -40px;
  background: url(../img/arrow-right.svg) no-repeat;
  background-size: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .stories-section .slick-arrow.slick-next {
    right: -11px;
  }
}
.stories-section .slick-arrow.slick-prev {
  left: -40px;
  background: url(../img/arrow-left.svg) no-repeat;
  background-size: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .stories-section .slick-arrow.slick-prev {
    left: -11px;
  }
}

.img-parallax-section {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}
.img-parallax-section .img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  transition: 0s cubic-bezier(0.3, 0.65, 0.72, 0.63) !important;
}

.back-top-top-section {
  padding-top: 15px;
  padding-bottom: 15px;
}
.back-top-top-section .back-top-top-btn {
  border: 0px;
  background: transparent;
  padding: 0px;
  cursor: pointer;
  display: inline-flex;
  width: auto;
  font-size: 24px;
  color: #1b4178;
  font-weight: 700;
  position: relative;
}
.back-top-top-section .back-top-top-btn::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 27%;
  right: -30px;
  background: url(../img/arrow-top.svg) no-repeat;
  background-size: 100%;
}

.organization-box {
  width: 35%;
  background: #00818f;
  padding: 40px 40px 0 40px;
  border-right: 6px #ffffff solid;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .organization-box {
    width: 100%;
    border-right: 0px #fff solid;
    border-bottom: 6px #ffffff solid;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .organization-box {
    width: 100%;
    border-right: 0px #ffffff solid;
    border-bottom: 6px #ffffff solid;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .organization-box {
    width: 100%;
    padding: 25px 25px 0 25px;
    border-right: 0px #ffffff solid;
    border-bottom: 6px #ffffff solid;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .organization-box ul.colm.colm--1 li {
    width: 50%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .organization-box ul.colm.colm--1 li {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .organization-box ul.colm.colm--1 li:nth-child(1) {
    padding-right: 15px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .organization-box ul.colm.colm--1 li:nth-child(1) {
    padding-right: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .organization-box ul.colm.colm--1 li:nth-child(2) {
    padding-left: 15px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .organization-box ul.colm.colm--1 li:nth-child(2) {
    padding-left: 15px;
  }
}

.padding-15 {
  padding: 15px;
}

.individual-box {
  width: 65%;
  background: #007cbf;
  padding: 40px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .individual-box {
    width: 100%;
    padding: 40px 40px 0 40px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .individual-box {
    width: 100%;
    padding: 40px 40px 0 40px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .individual-box {
    width: 100%;
    padding: 40px 25px 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  p br {
    display: none;
  }
}

.organization-box,
.individual-box {
  color: #ffffff;
}
.organization-box h4,
.individual-box h4 {
  color: #ffffff;
}
.organization-box ul.colm li,
.individual-box ul.colm li {
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
  margin: 36px 0 42px 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .organization-box ul.colm li,
.individual-box ul.colm li {
    margin: 13px 0 50px 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .organization-box ul.colm li,
.individual-box ul.colm li {
    margin: 13px 0 40px 0;
  }
}
.organization-box ul.colm li i,
.individual-box ul.colm li i {
  margin-left: 0;
}
.organization-box ul.colm li .bottom-btn,
.individual-box ul.colm li .bottom-btn {
  padding-left: 0px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .organization-box ul.colm li .bottom-btn,
.individual-box ul.colm li .bottom-btn {
    margin-top: 0px;
  }
}

.individual-box ul.colm li {
  align-items: flex-start;
}
.individual-box ul.colm li:nth-child(2n+1) {
  padding-right: 50px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .individual-box ul.colm li:nth-child(2n+1) {
    padding-right: 20px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .individual-box ul.colm li:nth-child(2n+1) {
    padding-right: 20px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .individual-box ul.colm li:nth-child(2n+1) {
    padding-right: 0px;
  }
}
.individual-box ul.colm li:nth-child(2n+1) .bottom-btn {
  padding-left: 0px;
}
.individual-box ul.colm li:nth-child(2n+2) {
  padding-left: 50px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .individual-box ul.colm li:nth-child(2n+2) {
    padding-left: 20px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .individual-box ul.colm li:nth-child(2n+2) {
    padding-left: 20px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .individual-box ul.colm li:nth-child(2n+2) {
    padding-left: 0px;
  }
}

.help-container {
  margin-top: 60px;
}

.main {
  position: relative;
}

.web-promotion-section {
  background: #00a4b6;
  padding: 15px 0;
}
.web-promotion-section .custom-row {
  align-items: center;
}
.web-promotion-section .promostion-left {
  width: calc(100% - 233px);
  padding-right: 35px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .web-promotion-section .promostion-left {
    font-size: 20px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .web-promotion-section .promostion-left {
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .web-promotion-section .promostion-left {
    width: calc(100%);
    margin-bottom: 25px;
    font-size: 16px;
  }
}
.web-promotion-section .promostion-right {
  width: 233px;
}
.web-promotion-section .promotion-btn {
  font-weight: 600;
  cursor: pointer;
  color: #1b4178;
  font-size: 16px;
  padding: 8px 48px 8px 23px;
  border-radius: 30px;
  -moz-text-align-last: center;
  text-align-last: left;
  text-align: left;
  display: inline-block;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: calc(100% - 20px) 50%;
  background-image: url(../img/arrow-button--dark.svg);
  /* padding-right: 60px; */
  line-height: 18px;
}
.web-promotion-section .promotion-btn:hover {
  background-color: #1b4178;
  color: #fff;
  border: 1px solid #1b4178;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: calc(100% - 20px) 50%;
  background-image: url(../img/arrow-button--white.svg);
}

.video-btn {
  width: 100px;
  height: 100px;
  border: 0px;
  background: url(../img/video-icon.svg) no-repeat;
  background-size: 100%;
}
.video-btn:hover {
  background: url(../img/blue-video-icon.svg) no-repeat;
  background-size: 100%;
}

.page-template-template-support .entity-image-text-cta .m-img-text {
  align-items: flex-start;
}

.help-content-section .custom-row {
  align-items: center;
}
.help-content-section .help-content-img {
  width: 40%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .help-content-section .help-content-img {
    width: 100%;
  }
}
.help-content-section .help-content-img img {
  width: 100%;
  height: auto;
  display: block;
}
.help-content-section .help-content-txt {
  width: 60%;
  padding-left: 50px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .help-content-section .help-content-txt {
    width: 100%;
    padding-left: 0px;
    padding-top: 50px;
  }
}
.help-content-section.image-position-right .custom-row {
  flex-direction: row-reverse;
}
@media (min-width: 320px) and (max-width: 767px) {
  .help-content-section.image-position-right .custom-row {
    flex-direction: column;
  }
}
.help-content-section.image-position-right .help-content-txt {
  padding-left: 0px;
  padding-right: 50px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .help-content-section.image-position-right .help-content-txt {
    padding-right: 0px;
  }
}

ul.colm-no-btn {
  align-items: flex-start;
}

.colm--3 .colm-width {
  width: 63%;
  text-align: center;
  text-align-last: center;
  margin: auto;
}
@media (min-width: 1400px) and (max-width: 3000px) {
  .colm--3 .colm-width {
    width: 51%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .colm--3 .colm-width {
    width: 78%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .colm--3 .colm-width {
    width: 80%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .colm--3 .colm-width {
    width: 80%;
  }
}

@media (min-width: 1400px) and (max-width: 3000px) {
  .colm--4 .colm-width {
    width: 70%;
    text-align: center;
    text-align-last: center;
    margin: auto;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .colm--4 .colm-width {
    width: 80%;
  }
}

@media (min-width: 1400px) and (max-width: 3000px) {
  .colm--5 .colm-width {
    width: 90%;
    text-align: center;
    text-align-last: center;
    margin: auto;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .colm--5 .colm-width {
    width: 80%;
  }
}

.a-btn--alt,
.a-btn--wide {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .news-section .col-sm-10 {
    width: 83.3333333333%;
    margin: auto;
  }
  .news-section ul.colm.colm--3 li, .news-section ul.colm.colm--4 li, .news-section ul.colm.colm--5 li, .news-section ul.colm.colm--2 li {
    width: 100%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .news-section ul.colm.colm--3 li, .news-section ul.colm.colm--4 li, .news-section ul.colm.colm--5 li, .news-section ul.colm.colm--2 li {
    width: 100%;
  }
}

.e-with-fixed-bg {
  width: 100%;
  height: 500px;
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  .e-with-fixed-bg {
    height: 350px;
  }
}

.bg-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transform: translateZ(0);
  will-change: transform;
}

.a-menu__main-right .current-menu-item.btn a {
  background-color: #f0b72f;
  border-color: #f0b72f;
  color: #1b4178;
}

@media (min-width: 320px) and (max-width: 567px) {
  .match-height {
    height: auto !important;
  }
}

.m-no-banner {
  margin: 60px auto;
}

.a-menu__social a[href*="instagram.com"] {
  background-image: url(../icon/icon-social-ig.svg);
  background-size: 20px;
}

.full-videos-section {
  position: relative;
}
.full-videos-section::after {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-videos-section::after {
    display: none;
  }
}
.full-videos-section .video-container-box {
  margin: 0;
  position: relative;
  min-height: 550px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-videos-section .video-container-box {
    min-height: auto;
    text-align: center;
    background-color: #000;
    padding: 2rem 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .full-videos-section .video-container-box {
    min-height: 211px;
  }
}
.full-videos-section .video-container-box iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-videos-section .video-container-box iframe {
    position: relative;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .full-videos-section .video-container-box iframe {
    width: 479px;
    height: 269px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .full-videos-section .video-container-box iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}
.full-videos-section .full-video-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  align-items: center;
  z-index: 1;
  display: flex;
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-videos-section .full-video-container {
    position: relative;
  }
}
.full-videos-section .full-video-container .full-video-content {
  background: rgba(255, 255, 255, 0.9);
  padding: 60px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .full-videos-section .full-video-container .full-video-content {
    padding: 25px;
  }
}
.full-videos-section .full-video-container .full-video-content .text-paragraph {
  margin-bottom: 30px;
}
.full-videos-section.removed-videos-overlay {
  min-height: auto;
}
.full-videos-section.removed-videos-overlay::after {
  display: none;
}
.full-videos-section.removed-videos-overlay .video-container-box {
  text-align: center;
  background-color: #000;
  min-height: auto;
  padding: 4rem 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-videos-section.removed-videos-overlay .video-container-box {
    padding: 2rem 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .full-videos-section.removed-videos-overlay .video-container-box {
    padding: 0;
    min-height: 211px;
  }
}
.full-videos-section.removed-videos-overlay .video-container-box iframe {
  position: relative;
  width: 803px;
  height: 451px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .full-videos-section.removed-videos-overlay .video-container-box iframe {
    width: 638px;
    height: 359px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .full-videos-section.removed-videos-overlay .video-container-box iframe {
    width: 479px;
    height: 269px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .full-videos-section.removed-videos-overlay .video-container-box iframe {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
.full-videos-section.removed-videos-overlay .full-video-container {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .full-videos-section.removed-videos-overlay .full-video-container {
    display: block;
  }
}

/*# sourceMappingURL=custom.css.map */
