/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat&family=Oswald:wght@300&display=swap");
a,
button {
  cursor: pointer;
}

body {
  font-size: 1rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  body {
    font-size: 1.2rem;
  }
}

h1 {
  font-size: 2.4rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
}
h2 {
  font-size: 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 1.8rem;
  }
}
h3 {
  font-size: 1.7rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  h3 {
    font-size: 1.6rem;
  }
}
.main-header .logo a, h1, h2, h3 {
  color: #ffc107;
}

h1 span, h2 span, h3 span {
  color: #000;
}

.main-header .main-nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.wallpapershow ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.btn-set--left {
  display: flex;
  justify-content: left;
}

.btn-set--center {
  display: flex;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  justify-content: right;
}
@media (min-width: 320px) and (max-width: 767px) {
  .btn-set--right {
    justify-content: left;
    padding-left: 10px;
  }
}

.btn-primary {
  background-color: #ffc107;
  color: #fff;
  border: 1px #ffc107 solid;
  padding: 0.7rem 1.5rem;
  font-size: 12px;
  display: block;
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.btn-primary:hover {
  background-color: #000;
  color: #fff;
  border: 1px #000 solid;
}

.btn-secondary {
  background-color: #000;
  color: #fff;
  border: 1px #000 solid;
  padding: 0.5rem 0.7rem;
  font-size: 12px;
  display: block;
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.btn-secondary:hover {
  background-color: #ffc107;
  color: #fff;
  border: 1px #ffc107 solid;
}

.btn-outline-primary {
  background-color: transparent;
  color: #ffc107;
  border: 1px #ffc107 solid;
  padding: 0.5rem 0.7rem;
  font-size: 12px;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #ffc107;
}

.btn-outline-secondary {
  background-color: transparent;
  color: #fff;
  border: 1px #000 solid;
  padding: 0.5rem 0.7rem;
  font-size: 12px;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #000;
}

.download {
  width: 150px;
  margin: auto;
}
.download a {
  background-color: #ffc107;
  color: #fff;
  border: 1px #ffc107 solid;
  padding: 0.7rem 1.5rem;
  font-size: 12px;
  display: block;
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.download a:hover {
  background-color: #000;
  color: #fff;
  border: 1px #000 solid;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #fff;
  padding: 0px;
  margin: 0px;
  color: #ffc107;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

p {
  line-height: 1.6rem;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #000;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

.container-fluid {
  max-width: 1600px;
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .container-fluid {
    padding: 0 1rem;
  }
}

.container {
  max-width: 980px;
  padding: 0rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 320px) and (max-width: 567px) {
  .site-desktop-view {
    display: none;
  }
}

.site-mobile-view {
  display: none;
}
@media (min-width: 320px) and (max-width: 567px) {
  .site-mobile-view {
    display: block;
  }
}

.main-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.white-bg {
  background: #fff;
}

.primary-bg {
  background: #ffc107;
}

.secondary-bg {
  background: #000;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
}

.hide-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hide-desktop {
    display: block;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
  .hide-mobile {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .hide-mobile {
    display: none;
  }
}

.desc--box p {
  color: #000;
}
.desc--box p:last-child {
  margin: 0px;
}
.desc--box ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.desc--box ul li {
  position: relative;
  margin: 0 0 0.6rem 0;
  padding: 0 0 0 1.5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .desc--box ul li br {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .desc--box ul li br {
    display: none;
  }
}
.desc--box ul li::before {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0px;
  top: 9px;
  background: #000;
  content: "";
  border-radius: 50px;
}

.main-container {
  min-height: 90vh;
}

.main-container-div {
  max-width: 100%;
  padding: 0 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-container-div {
    padding: 0 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-container-div {
    padding: 0;
  }
}

.site-details-left {
  width: calc(100% - 400px);
  padding-right: 4rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .site-details-left {
    width: calc(100% - 200px);
    padding-right: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .site-details-left {
    width: 100%;
    padding: 0;
  }
}

.site-details-right {
  width: 400px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .site-details-right {
    width: 200px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .site-details-right {
    width: 100%;
    padding: 2rem 0;
  }
}
.site-details-right .popular-posts ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.site-details-right .popular-posts ul li a:nth-child(1) {
  width: 100px;
  margin-right: 15px;
  float: left;
}
.site-details-right .popular-posts ul li a:nth-child(1) img {
  width: 100%;
  height: auto;
}

.news-banner {
  margin-bottom: 2rem;
}
.news-banner img {
  width: 100%;
  display: block;
  height: auto;
}

.news-title {
  margin-bottom: 2rem;
}
.news-title h1 {
  margin: 0px;
  padding: 0px;
  font-size: 2rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .news-title h1 {
    font-size: 1.5rem;
  }
}

.news-content {
  color: #000;
}

.box1 {
  background: #fff;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
.box1 h2 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  color: #000;
}

.news-content img {
  width: 100%;
  height: auto;
  display: block;
}

.yellow-box1 {
  background: #ffc107;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
.yellow-box1 h2 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  color: #fff;
}
.yellow-box1 .custom-html-widget {
  color: #fff;
}

.margin-top-2 {
  margin-top: 2rem;
}

.related-wallpaper-section {
  background: rgba(0, 173, 255, 0.4784313725);
  padding: 2rem 0;
  border-radius: 27px 0 27px 0;
  margin-top: 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .related-wallpaper-section h3 {
    padding: 0 1rem;
  }
}

.colrow {
  display: flex;
  width: 100%;
  margin-left: -1rem;
  margin-right: -1rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .colrow {
    flex-wrap: wrap;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
.colrow .colrowbox {
  -ms-flex: 1; /* IE 10 */
  flex: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .colrow .colrowbox {
    -ms-flex: inherit; /* IE 10 */
    flex: inherit;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.colrow:empty {
  display: none;
}

/*Helpers Scss Files */
.input-field {
  margin: 2rem 0 0 0;
}
.input-field label {
  font-size: 16px;
  color: #000;
  margin: 0 0 10px 0;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea {
  border: 0px;
  padding: 5px;
  width: 100%;
  border-bottom: 1px #ffc107 solid;
  font-size: 1.22rem;
  color: #ffc107;
  background: transparent;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  -webkit-appearance: none;
  border-radius: 0;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled {
  opacity: 0.5;
}
.input-field textarea {
  height: 100px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

.selectbox {
  border: 1px #fff solid;
  width: 100%;
  font-size: 18px;
  color: #fff;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pgntn-page-pagination {
  width: 100%;
}
.pgntn-page-pagination .pgntn-page-pagination-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pgntn-page-pagination .pgntn-page-pagination-block .pgntn-page-pagination-intro,
.pgntn-page-pagination .pgntn-page-pagination-block span,
.pgntn-page-pagination .pgntn-page-pagination-block a {
  margin-right: 10px;
}
.pgntn-page-pagination .pgntn-page-pagination-block span,
.pgntn-page-pagination .pgntn-page-pagination-block a {
  background-color: #ffc107;
  padding: 10px 15px;
  color: #fff;
}
.pgntn-page-pagination .pgntn-page-pagination-block span.current,
.pgntn-page-pagination .pgntn-page-pagination-block a.current {
  background-color: #000;
}

/*Layout Scss Files */
.main-header {
  padding: 0;
  position: relative;
  height: auto;
  overflow: hidden;
}
.main-header .main-header-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.main-header .main-header-img figcaption {
  display: none;
}
.main-header .main-header-img .header-image,
.main-header .main-header-img figure {
  height: 100%;
}
.main-header .main-header-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.main-header .main-header-in {
  position: relative;
  z-index: 2;
  padding: 3rem 2rem;
  background: rgba(0, 0, 0, 0.72);
}
.main-header .logo {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.main-header .logo a {
  display: block;
  font-size: 2.7rem;
  font-weight: 700;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-header .logo a {
    font-size: 2rem;
  }
}
.main-header .logo a span {
  color: #fff;
  margin-left: 5px;
}
.main-header .search {
  margin-top: 2rem;
  text-align: center;
}
.main-header .search .wp-block-search__label,
.main-header .search .wp-block-search__button {
  display: none;
}
.main-header .search input {
  border: 0px;
  margin: auto;
  padding: 1rem;
  max-width: 600px;
  width: 100%;
  font-size: 1rem;
  color: #ffc107;
  background: #fff;
  font-weight: 400;
  -webkit-appearance: none;
  border-radius: 4px;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.3);
}
.main-header .search input:disabled {
  opacity: 0.5;
}
.main-header .main-nav {
  margin-top: 2rem;
}
.main-header .main-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-header .main-nav ul li {
  margin: 0 1rem;
  padding: 0px;
}
@media (min-width: 568px) and (max-width: 767px) {
  .main-header .main-nav ul li {
    margin: 0.3rem 0.8rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-header .main-nav ul li {
    margin: 0.3rem 7px;
  }
}
.main-header .main-nav ul li a {
  display: block;
  font-size: 1.2rem;
  color: #ffc107;
}
.main-header .main-nav ul li a:hover {
  color: #fff;
}
.main-header .main-nav ul li.current-menu-item a {
  color: #fff;
}

.mid-container {
  padding-top: 1.5rem;
}

.main-footer {
  padding: 2rem 0;
  text-align: center;
}
.main-footer strong {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
}

.footer-top-keywords {
  margin: 2rem 0;
  background: #efefef;
  padding: 2rem;
  color: #000;
  font-size: 1rem;
}
.footer-top-keywords strong {
  font-size: 1.2rem;
}

/*Components Scss Files */
.important-info {
  background: #fff;
  padding: 1rem 0;
}
.important-info strong {
  color: #000;
  width: 15%;
  font-size: 14px;
}
.important-info p {
  margin: 0px;
  color: #000;
  font-size: 12px;
  line-height: 1rem;
}

.site-welcome {
  margin-bottom: 2rem;
}
.site-welcome h2 {
  margin-bottom: 1.5rem;
}

.site-hd-section {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .site-hd-section {
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .site-hd-section h3 {
    width: 100%;
  }
}
.site-hd-section .btn-primary {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 567px) {
  .site-hd-section .btn-primary {
    margin-left: 0;
    margin-top: 1rem;
  }
}

body {
  background: #fff;
}

.snow {
  font-size: 3em;
}

@keyframes fall {
  0% {
    top: -20%;
  }
  100% {
    top: 100%;
  }
}
.flake {
  position: fixed;
  top: -20%;
  animation: fall 10s linear infinite;
}

.flake:nth-last-of-type(0) {
  left: 0%;
  animation-delay: 0s;
  color: #71cdff;
}

.flake:nth-last-of-type(1) {
  left: 0%;
  animation-delay: 0s;
  color: #fb027f;
}

.flake:nth-last-of-type(2) {
  left: 10%;
  animation-delay: 3s;
  color: #ff99ad;
}

.flake:nth-last-of-type(3) {
  left: 20%;
  animation-delay: 5s;
  color: #40e0d0;
}

.flake:nth-last-of-type(4) {
  left: 30%;
  animation-delay: 2s;
  color: #8e1fce;
}

.flake:nth-last-of-type(5) {
  left: 40%;
  animation-delay: 1s;
  color: #b6fcd5;
}

.flake:nth-last-of-type(6) {
  left: 50%;
  animation-delay: 4s;
  color: #d49ee6;
}

.flake:nth-last-of-type(7) {
  left: 60%;
  animation-delay: 3s;
  color: #ff809f;
}

.flake:nth-last-of-type(8) {
  left: 70%;
  animation-delay: 2s;
  color: #db9bb8;
}

.flake:nth-last-of-type(9) {
  left: 80%;
  animation-delay: 0s;
  color: #930dc0;
}

.flake:nth-last-of-type(10) {
  left: 90%;
  animation-delay: 6s;
  color: #003366;
}

.flake:nth-last-of-type(11) {
  left: 3%;
  animation-delay: 6s;
  color: #fdd1a5;
}


.update-post {
  padding: 2rem 0 1rem 0;
}
@media (min-width: 320px) and (max-width: 567px) {
  .update-post {
    padding: 1.5rem 0 0;
  }
}
.update-post ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.update-post ul li a {
  border: 1px #000 solid;
  border-radius: 5px;
  color: #000;
  display: block;
  margin: 0 10px;
  padding: 10px 20px;
  text-transform: capitalize;
  text-align: center;
  font-size: 14px;
}
.update-post ul li.current-cat a {
  border: 1px #ffc107 solid;
  color: #ffc107;
}

.mobile-post-row h2 {
  margin: 0 0 1rem 0;
  padding: 0px;
  font-size: 1.3rem;
  color: #ffc107;
}

.mobile-figure-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}
.mobile-figure-row figure {
  width: 50%;
  padding: 8px;
}
.mobile-figure-row figure img {
  width: 100%;
}
.mobile-figure-row figure a {
  background-color: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 5px;
}
.mobile-figure-row figure a figcaption {
  font-size: 15px;
  margin-top: 5px;
}

.main-background {
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top, #f2f2f2 50%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f2f2f2 50%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f2f2f2 50%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f2f2f2", endColorstr="#ffffff",GradientType=0 ); /* IE6-9 */
}

.wallpapershow ul {
  margin-left: -1rem;
  margin-right: -1rem;
}
.wallpapershow ul li {
  padding: 1rem;
}
.wallpapershow ul li a {
  display: block;
  position: relative;
}
.wallpapershow ul li a .wallpaper-img-block picture {
  display: block;
  width: 100%;
}
.wallpapershow ul li a .wallpaper-img-block picture img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 4px;
  object-fit: cover;
}
.wallpapershow ul li a h4 {
  margin: 0px;
  padding: 1rem 0;
}
.wallpapershow .figure-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.wallpapershow .figure-row figure {
  padding: 1rem;
  margin: 0px;
}
.wallpapershow .figure-row figure a {
  display: block;
  position: relative;
}
.wallpapershow .figure-row figure a picture {
  display: block;
  width: 100%;
}
.wallpapershow .figure-row figure a picture img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 4px;
  object-fit: cover;
}
.wallpapershow .figure-row figure a figcaption {
  margin: 0px;
  padding: 1rem 0;
}
.wallpapershow.wallpapershow-1 .figure-row figure {
  width: 16.6%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .wallpapershow.wallpapershow-1 .figure-row figure {
    width: 33.33%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .wallpapershow.wallpapershow-1 .figure-row figure {
    width: 33.33%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .wallpapershow.wallpapershow-1 .figure-row figure {
    width: 50%;
  }
}
.wallpapershow.wallpapershow-1 ul li {
  width: 16.6%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .wallpapershow.wallpapershow-1 ul li {
    width: 33.33%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .wallpapershow.wallpapershow-1 ul li {
    width: 33.33%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .wallpapershow.wallpapershow-1 ul li {
    width: 33.33%;
  }
}
.wallpapershow.wallpapershow-2 ul li {
  width: 25%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .wallpapershow.wallpapershow-2 ul li {
    width: 33.33%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .wallpapershow.wallpapershow-2 ul li {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .wallpapershow.wallpapershow-2 ul li {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.wallpapershow.wallpapershow-2 .figure-row figure {
  width: 25%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .wallpapershow.wallpapershow-2 .figure-row figure {
    width: 33.33%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .wallpapershow.wallpapershow-2 .figure-row figure {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .wallpapershow.wallpapershow-2 .figure-row figure {
    width: 100%;
  }
}
.wallpapershow.wallpapershow-3 ul li {
  width: 33.33%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .wallpapershow.wallpapershow-3 ul li {
    width: 33.33%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .wallpapershow.wallpapershow-3 ul li {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .wallpapershow.wallpapershow-3 ul li {
    width: 50%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.wallpapershow.wallpapershow-3 .figure-row figure {
  width: 33.33%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .wallpapershow.wallpapershow-3 .figure-row figure {
    width: 33.33%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .wallpapershow.wallpapershow-3 .figure-row figure {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .wallpapershow.wallpapershow-3 .figure-row figure {
    width: 50%;
  }
}

.wallpapershow-section {
  position: relative;
}

.other-page-section {
  margin: 2rem 0;
}
.other-page-section .pagelist .wpb-page-list {
  display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
  flex-wrap: wrap;
}
.other-page-section .pagelist .wpb-page-list a {
  width: 25%;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .other-page-section .pagelist .wpb-page-list a {
    width: 33.33%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .other-page-section .pagelist .wpb-page-list a {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .other-page-section .pagelist .wpb-page-list a {
    width: 50%;
  }
}
.other-page-section .pagelist .wpb-page-list a div:first-child {
  display: block;
  width: 100%;
  height: 250px;
  background-color: #f1f1f1;
  border-radius: 4px;
}
.other-page-section .pagelist .wpb-page-list a div:first-child img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 4px;
  object-fit: cover;
}
.other-page-section .pagelist .wpb-page-list a div:last-child div {
  height: auto;
  background-color: transparent;
}
.other-page-section .pagelist .wpb-page-list a div:last-child div h4 {
  margin: 0px;
  padding: 1rem 0;
}

.home-page-section {
  margin: 0;
}
.home-page-section .pagelist .wpb-page-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.home-page-section .pagelist .wpb-page-list a {
  width: 25%;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .home-page-section .pagelist .wpb-page-list a {
    width: 33.33%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .home-page-section .pagelist .wpb-page-list a {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .home-page-section .pagelist .wpb-page-list a {
    width: 50%;
  }
}
.home-page-section .pagelist .wpb-page-list a div:first-child {
  display: block;
  width: 100%;
  height: 250px;
  background-color: #f1f1f1;
  border-radius: 4px;
}
.home-page-section .pagelist .wpb-page-list a div:first-child img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 4px;
  object-fit: cover;
}
.home-page-section .pagelist .wpb-page-list a div:last-child div {
  height: auto;
  background-color: transparent;
}
.home-page-section .pagelist .wpb-page-list a div:last-child div h4 {
  margin: 0px;
  padding: 1rem 0;
}

.download-link {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 10px;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  align-items: center;
}
.acf--img,
.main--img {
  margin-bottom: 10px;
  position: relative;
}
.acf--img img,
.main--img img {
  width: 100%;
  height: auto;
  display: block;
}

.details-page-info h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

.featured_post ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}
.featured_post ul li {
  margin: 0 0 10px;
  padding: 0px;
  position: relative;
}
.featured_post ul li img {
  width: 100%;
  height: auto;
  display: block;
}

.tag-link-position-1 {
  font-size: 15pt !important;
}

figure {
  margin: 0px;
}
figure a {
  display: block;
}
figure a img {
  display: block;
  width: 100%;
  height: auto;
}

.custom-full-img figure figcaption {
  display: block;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.acf--img-section {
  display: flex;
  flex-wrap: wrap;
}
.acf--img-section .acf--img:nth-child(2), .acf--img-section .acf--img:nth-child(3) {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .acf--img-section .acf--img:nth-child(2), .acf--img-section .acf--img:nth-child(3) {
    width: 100%;
  }
}
.acf--img-section .acf--img:nth-child(2) {
  padding-right: 10px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .acf--img-section .acf--img:nth-child(2) {
    padding-right: 0px;
  }
}
.acf--img-section .acf--img:nth-child(3) {
  padding-left: 10px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .acf--img-section .acf--img:nth-child(3) {
    padding-left: 0px;
  }
}

.wallpaper-full-view {
  width: 100%;
  padding: 0rem;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .wallpaper-full-view {
    width: 100%;
    padding: 0rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .wallpaper-full-view {
    width: 100%;
    padding: 0rem;
  }
}
.wallpaper-full-view .wallpaper-full-img {
  width: 100%;
}
.wallpaper-full-view .wallpaper-full-img img {
  width: 100%;
  height: auto;
  display: block;
}

.details-page-info {
  max-width: 100%;
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .details-page-info {
    padding: 0;
  }
}
.details-page-info .details-page-left {
  width: calc(100% - 400px);
  padding-right: 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .details-page-info .details-page-left {
    width: 100%;
    padding: 0 0 2rem 0;
  }
}
.details-page-info .sidebar {
  width: 400px;
  background: #fff;
  padding: 16px;
}
.details-page-info .sidebar .sidebar-sty {
  position: sticky;
  top: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .details-page-info .sidebar .sidebar-sty {
    position: relative;
  }
}
.details-page-info .sidebar .tagsshow {
  margin-top: 1.5rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .details-page-info .sidebar {
    width: 100%;
  }
}
.details-page-info .sidebar h2 {
  margin: 0 0 1rem 0;
  padding: 0px;
  font-size: 1.1rem;
}
.details-page-info .sidebar ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.details-page-info .sidebar ul li {
  margin: 0 0 10px 0;
  padding: 0px;
}
.details-page-info .sidebar ul li a {
  display: block;
  font-size: 1rem;
}

.postcontent {
  width: 100%;
  padding: 4rem 0;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .postcontent {
    width: 100%;
    padding: 2rem 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .postcontent {
    width: 100%;
    padding: 2rem 0;
  }
}

.details-page-info {
  padding-bottom: 2rem;
}

.related-wallpaper {
  width: 100%;
}
.related-wallpaper ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
@media (min-width: 568px) and (max-width: 767px) {
  .related-wallpaper ul {
    margin: 0;
    padding: 0 10px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .related-wallpaper ul {
    margin: 0;
    padding: 0 10px;
  }
}
.related-wallpaper ul li {
  width: 25%;
  padding: 1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .related-wallpaper ul li {
    width: 33.33%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .related-wallpaper ul li {
    width: 33.33%;
    padding: 1rem 0.5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .related-wallpaper ul li {
    width: 50%;
    padding: 1rem 0.5rem;
  }
}
.related-wallpaper ul li a {
  float: left;
  width: 100%;
}
.related-wallpaper ul li a:first-child {
  height: 280px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .related-wallpaper ul li a:first-child {
    height: 180px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .related-wallpaper ul li a:first-child {
    height: 115px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .related-wallpaper ul li a:first-child {
    height: 115px;
  }
}
.related-wallpaper ul li a:first-child img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 4px;
  object-fit: cover;
}
.related-wallpaper ul li a.wpp-post-title {
  display: block;
  font-size: 1rem;
  margin-top: 1rem;
}

.adsense-header {
  text-align: center;
  margin-bottom: 20px;
}

blockquote {
  padding: 0px;
  margin: 0;
}

.margin-tp-btm {
  margin-bottom: 30px;
}

.download-link a.btn-primary {
  color: #fff !important;
}

.author-details-page {
  background-color: #ffc107;
  padding: 1rem;
  margin-top: 1rem;
}

.author-section {
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
}
.author-section .hero-author {
  display: flex;
  align-items: center;
}
.author-section .hero-author span {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  overflow: hidden;
  margin-right: 10px;
}
.author-section .hero-author span img {
  width: 100%;
  height: auto;
  display: block;
}
.author-section .hero-post-time {
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.author-section .hero-post-time i {
  margin-right: 5px;
}
.author-section .hero-post-time i svg {
  fill: rgb(255, 255, 255);
}

.latest-update-post {
  padding: 0 0 3rem 0;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 320px) and (max-width: 567px) {
  .latest-update-post {
    padding: 0 0 1rem 0;
  }
}
.latest-update-post article {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .latest-update-post article {
    width: 100%;
  }
}
.latest-update-post article:first-child {
  padding-right: 1rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .latest-update-post article:first-child {
    padding-right: 0rem;
  }
}
.latest-update-post article:last-child {
  padding-left: 1rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .latest-update-post article:last-child {
    padding-left: 0rem;
    margin-top: 0rem;
  }
}
.latest-update-post article a {
  display: block;
  position: relative;
}
.latest-update-post article a picture {
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: block;
  border-radius: 5px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .latest-update-post article a picture {
    height: 225px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .latest-update-post article a picture {
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .latest-update-post article a picture {
    border-radius: 5px 5px 0 0;
  }
}
.latest-update-post article a picture img {
  width: 100%;
  height: auto;
  display: block;
}
.latest-update-post article a .latest-update-post-box-in {
  position: absolute;
  width: 100%;
  padding: 1rem;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
}
@media (min-width: 320px) and (max-width: 767px) {
  .latest-update-post article a .latest-update-post-box-in {
    position: relative;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .latest-update-post article a .latest-update-post-box-in {
    background: #ffc107;
  }
}
.latest-update-post article a .latest-update-post-box-in h4 {
  margin: 0px;
  padding: 0px;
  color: #fff;
  font-size: 1.5rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .latest-update-post article a .latest-update-post-box-in h4 {
    font-size: 1.3rem;
  }
}
.latest-update-post article a .latest-update-post-box-in span {
  display: block;
  color: #fff;
  margin-top: 10px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .latest-update-post article a .latest-update-post-box-in span {
    font-size: 14px;
  }
}

/* Slider */
.slick-list {
  width: calc(100% - 80px);
  margin: auto;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

.slick-arrow {
  position: absolute;
  top: 0px;
  width: 30px;
  height: 100%;
  text-indent: -9999px;
  background: #ffc107;
  border: 0;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
}
.slick-arrow.slick-prev {
  left: 0px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8747 11.3158V9.32376L0.890666 5.48376V6.58776L10.8747 2.74776V0.755759L0.122665 5.00376V7.06776L10.8747 11.3158Z' fill='white'/%3E%3C/svg%3E%0A");
}
.slick-arrow.slick-next {
  right: 0px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='11' viewBox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.608 10.88V8.888L10.592 5.048V6.152L0.608 2.312V0.319999L11.36 4.568V6.632L0.608 10.88Z' fill='white'/%3E%3C/svg%3E%0A");
}

.cntctfrm_field_wrap label {
  font-size: 12px;
  margin: 0 0 8px 0;
  display: block;
}

.cntctfrm_field_wrap {
  margin-bottom: 20px;
}

.cntctfrm_field_wrap input,
.cntctfrm_field_wrap textarea {
  padding: 10px;
  border-radius: 4px;
  max-width: 100% !important;
  border: 1px #333 solid;
}

.cntctfrm_submit_wrap input {
  background: #ffc107;
  border: 0;
  width: 100%;
  border-radius: 4px;
  padding: 15px 10px;
  font-size: 15px;
}

.cntctfrm_submit_wrap input:hover {
  background: #000;
  color: #ffc107;
}

.cntctfrm_one_column.cntctfrm_width_default {
  max-width: 100%;
  width: 100%;
}

.contact-form-box {
  width: 50%;
  background: rgba(255, 255, 255, 0.3490196078);
  padding: 25px;
  border-radius: 40px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-form-box {
    width: 100%;
    margin-bottom: 2.5rem;
    padding: 1rem;
  }
}

.contact-info {
  width: 40%;
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-info {
    width: 100%;
  }
}
.contact-info h2 {
  margin-bottom: 25px;
}

.social-media ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.social-media ul li {
  display: block;
  padding: 20px 0;
}
.social-media ul li a {
  display: block;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
}
.social-media ul li a i {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.social-media ul li.facebook-link a {
  color: #4a69b0;
}
.social-media ul li.instagram-link a {
  color: #7a4595;
}
.social-media ul li.youtube-link a {
  color: #e83f3b;
}
.social-media ul li.mail-link a {
  color: #fcce18;
}

.contact-page {
  padding: 30px 0;
}
.contact-page .cntctfrm_one_column.cntctfrm_width_default {
  max-width: 100%;
  width: 100%;
}
.contact-page .contact-form input[type=email],
.contact-page .contact-form input[type=tel],
.contact-page .contact-form input[type=text],
.contact-page .contact-form input[type=url] {
  width: 100%;
}

/*# sourceMappingURL=global.css.map */
