.main-footer {
    background: $white;
    padding: 2rem 0;
    @include breakpoint(mobile_portrait) {
        text-align: center;
    }
    .custom-row {
        @include breakpoint(mobile_portrait) {
            flex-wrap: wrap;
        }
    }
    .footer-logo {
        color: $secondary-color;
        font-size:$footerLogoFont;
        font-family: Korb;
        font-weight: 400;
        display: block;
        line-height: 40px;
        margin-bottom: 1.3rem;
        @include breakpoint(mobile) {
            font-size: $footerLogoFontM;
        }

    }
    .footer-left {
        color: $secondary-color;
        width: 30%;
        @include breakpoint(ipad_landscape){
            width: 35%;
        }
        @include breakpoint(mobile_portrait) {
            width: 100%;
            border-bottom: 3px $primary-color solid;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }

        .footer-address {
            font-size: $footerTxtFont;
            margin-bottom: 1.3rem;
            line-height: 20px;
        }

        .social-media {
            margin-bottom: 1.3rem;
            ul {
                @include ul;
                display: flex;
                align-items: center;
                @include breakpoint(mobile_portrait) {
                    justify-content: center;
                }
                li {
                    margin: 0 1rem 0 0;
                    padding: 0px;
                    a {
                        display: block;
                        width: 40px;
                        img {
                            width: 100%;
                            display: block;
                        }
                        &:hover {
                            img {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
        .copy-right {
            font-size: $footerTxtFont;
            a{
                font-size: $footerTxtFont;
                font-family: "HelveticaNeueLTPro-Md";
                &:hover{
                    color: $primary-color;
                }
            }
        }
    }
    .footer-right {
        margin-left: auto;
        display: flex;
        align-items: flex-start;
        width: 25%;
        @include breakpoint(ipad_landscape){
            width: 36%;
        }
        @include breakpoint(ipad_portrait){
            width: 46%;
        }
        @include breakpoint(mobile_landscape) {
            width: 63%;
        }
        @include breakpoint(mobile_portrait) {
            width: 100%;
            flex-wrap: wrap;
        }
        .footer-menu {
            @include breakpoint(mobile_landscape) {
                width: 50%;
            }
            @include breakpoint(mobile_portrait) {
                width: 100%;
            }
            &:last-child {
                margin-left: auto;
                @include breakpoint(mobile_portrait) {
                    margin-left: 0;
                }
            }
            ul {
                @include ul;
                
                li {
                    padding: 0px;
                    margin: 0 0 0.5rem 0;
                    a {
                        display: block;
                        font-size: $footerTxtFont;
                        color: $secondary-color;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}

.accessibility-menu {
    position: relative;
    .dropdown-toggle:after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.5em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.4em solid;
        border-right: 0.4em solid transparent;
        border-bottom: 0;
        border-left: 0.4em solid transparent;
    }

    .dropdown-menu {
        position: absolute;
        width: 170px;
        background: #ecebed;
        border: 1px #afafaf solid;
        display: none;
        a,
        button {
            border: 0px;
            display: block;
            font-size: $footerTxtFont;
            color: $secondary-color;
            padding: 7px 6px 7px 35px;
            width: 100%;
            text-align: left;
            font-weight: 400;
            font-family: "HelveticaNeueLTPro-Lt";
            border-bottom: 1px #afafaf solid;
            &.accessibility-btn-text {
                background: url("#{$assetPath}/icon-accessibility-bigger-text--dark.svg") no-repeat 10px;
                background-size: 17px;
            }
            &.accessibility-btn-contrast {
                background: url("#{$assetPath}/icon-accessibility-contrast.svg") no-repeat 10px;
                background-size: 17px;
            }
            &.btn-accessibility {
                background: url("#{$assetPath}/accessibility-icon.svg") no-repeat 10px;
                background-size: 17px;
                border-bottom: 0px;
            }
            &:hover {
                color: $primary-color;
                &.accessibility-btn-text {
                    background: url("#{$assetPath}/icon-accessibility-bigger-text--hover.svg") no-repeat 10px;
                    background-size: 17px;
                }
                &.accessibility-btn-contrast {
                    background: url("#{$assetPath}/icon-accessibility-contrast-hover.svg") no-repeat 10px;
                    background-size: 17px;
                }
                &.btn-accessibility {
                    background: url("#{$assetPath}/accessibility-hover-icon.svg") no-repeat 10px;
                    background-size: 17px;
                    border-bottom: 0px;
                }
            }
        }
    }
    &:hover {
        .dropdown-menu {
            display: block;
        }
    }
}
