.main-header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1.5rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    @include breakpoint(mobile){
        background-color: $secondary-color;
        padding: 1rem 0;
        position: fixed;
    }
    .custom-row {
        align-items: flex-start;
    }
    .logo {
        width: auto;
        a {
            color: $white;
            font-size: $logoFont;
            font-family: Korb;
            font-weight: 400;
            display: block;
            line-height: 50px;
            @include breakpoint(mobile_nav){
                font-size: $logoFontM;
            }

        }
        img {
            display: block;
            width: 127px;
            @include breakpoint(mobile_nav){
                width: 96px;
            }
        }
    }
    .hdr-right {
        margin-left: auto;
        .nav__toggle{
            display: none;
            @include breakpoint(mobile_nav){
                display: block;
            }
        }
    }
}
.nav_menu {
    padding-top: 27px;
    @include breakpoint(mobile_nav){
        display: none;
    }
    nav {
        ul {
            @include ul;
            display: flex;
            align-items: flex-start;
            li {
                margin: 0 20px;
                padding: 0;
                position: relative;
                @include breakpoint(ipad_landscape){
                    margin: 0 12px;
                }
                &.menu-item-45 {
                    width: 120px;
                }
                &.menu-item-44 {
                    width: 76px;
                }
                &:last-child {
                    margin-right: 0px;
                }

                a {
                    color: $white;
                    font-size: $mainMenuFont;
                    font-weight: 500;
                    font-family: Korb;
                    padding: 0;
                    display: inline-flex;
                    text-transform: uppercase;
                    &:hover {
                        color: $primary-color;
                    }
                }
                &.current-menu-item,
                &.current_page_ancestor
                {
                    a {
                        color: $primary-color;
                    }
                }
                &.menu-item-has-children {
                    ul {
                        text-align: left;
                        display: none;
                        width: 203px;
                        padding-top: 25px;
                        ul:empty{
                            display: none;
                        }

                        li {
                            display: block;
                            margin: 0px;
                            padding: 0px 0px 0px 0px;
                            a {
                                padding: 0px 0px 0px 0px;
                                border-bottom: 0px $primary-color solid;
                                text-transform: capitalize;
                            }
                        }
                    }
                    &:hover {
                        a {
                            color: $primary-color;
                            border-bottom: 4px $primary-color solid;
                            padding-bottom: 10px;
                        }
                        ul {
                            display: block;
                            li {
                                a {
                                    border-bottom: 0px;
                                    color: $white;
                                    padding-bottom: 0px;
                                    &:hover {
                                        color: $primary-color;
                                    }
                                }
                                &.current-menu-item,
                                &.current_page_ancestor
                                {
                                    a {
                                        color: $primary-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.nav__toggle{
    position: relative;
    height: 30px;
    width: 30px;
    z-index: 10;
    transition: all 0.2s;
    margin-left: 30px;
    top: 6px;
    outline: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    outline: 0;
    span,
    span::before,
    span::after {
      text-align: center;
      cursor: pointer;
      border-radius: 0px;
      height: 3px;
      width: 30px;
      background-color: $white;
      position: absolute;
      display: block;
      content: "";
      transition: all 0.2s ;
      outline: 0;
    }

    span {
      // left: 3px;
      top: 15px;

      &::before {
        top: -10px;
      }
      &::after {
        bottom: -10px;
      }
    }
}

.menu-slide{
    overflow: hidden;
    height: 100%;
    .nav__toggle {
        span {
          background-color: transparent;
  
          &::before,
          &::after {
            top: 0;
            background-color:  $white;
  
           
          }
          &::before {
            transform: rotate(45deg);
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
        &:hover {
          span {
            background-color: transparent;
  
            &::before,
            &::after {
              background-color: $white;
            }
          }
        }
      }
    .nav_menu {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        height: 87vh;
        overflow: auto;
        padding: 0;
        top: 70px;
        @include breakpoint(mobile_landscape) {
            height: calc(100vh - 107px);
        }
        nav {
            display: flex;
            align-items: center;
            justify-content: center;
            ul {
                display: block;
                li {
                    padding: 10px 0;
                    &.menu-item-45 {
                        width: auto;
                    }
                    &.menu-item-44 {
                        width: auto;
                    }
    
                    a {
                        font-size: 1.3rem;
                        @include breakpoint(ipad) {
                            font-size: 2em;
                        }
                       
                    }
                    &.current-menu-item{
                        ul{
                            li{
                                a{
                                    color: $white;
                                }
                            }
                        }
                    }
                    &.current_page_ancestor{
                        ul{
                            li{
                                
                                a{
                                    color: $white;
                                }
                                &.current-menu-item{
                                    a{
                                        color: $primary-color;
                                    }
                                }
                            }
                        }
                    }
                    &.menu-item-has-children {
                        ul {
                            display: block;
                            width: 100%;
                            padding: 0;
    
                            li {
                                position: relative;
                                padding: 7px 10px 7px 25px;
                                @include breakpoint(mobile_nav){
                                    &:first-child{
                                        margin-top: 1rem;
                                    }
                                    &:last-child{
                                        margin-bottom: 0.7rem;
                                    }
                                }
                                &::before{
                                    content: "";
                                    width: 15px;
                                    height: 4px;
                                    background-color: $primary-color;
                                    left: 0px;
                                    top: 48%;
                                    position: absolute;
                                }
                                a {
                                    font-size: 1.2rem;
                                    @include breakpoint(ipad) {
                                        font-size: 1.7rem;
                                    }
                                   
                                }
                            }
                        }
                        &:hover {
                            a {
                                color: $primary-color;
                                border-bottom: 0px transparent solid;
                                padding-bottom: 0;
                            }
                            ul {
                                display: block;
                                li {
                                    a {
                                        color: $white;
                                        &:hover {
                                            color: $white;
                                        }
                                    }
                                    &.current-menu-item,
                                    &.current_page_ancestor
                                    {
                                        a {
                                            color: $white;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    } 
    .main-header{
        height: 100%;
        background-color: $secondary-color;
    }
}