/**
 * ----------------------
 * Blooberry Design
 * Atoms - Buttons
 * ----------------------
 */

/**
 * Config
 **/

@mixin btn {
  @include font-bold;
  cursor: pointer;
  background-color: $c-lt-blue;
  background-color: var(--button-main);
  color: $c-white;
  padding: $bump/1.9 $bump $bump/2.5;
  border-radius: $bump;
  border: 0;
  text-align-last: center;
  text-align: center;
  display: inline-block;
}

@mixin btn-wide {
  padding: $bump/1.9 $bump * 1.5 $bump/2.5;
}

@mixin btn-hover {
  background-color: $c-blue;
  background-color: var(--button-main-hover);
}

@mixin btn-alt {
  @include btn;
  border: 1px solid $c-white;
  background-color: transparent;
}

@mixin btn-alt-hover {
  background-color: $c-white;
  color: $c-blue;
}

/**
 * Styles
 **/

.a-btn {
  @include btn;

  &:hover {
    @include btn-hover;
  }

  &--wide {
    @include btn-wide;
  }

  &--alt {
    @include btn-alt;

    &:hover {
      @include btn-alt-hover;
    }
  }

  &--icon {
    @include bg-img(20px);
    background-position: calc(100% - 20px) center;
    background-image: url('../icon/arrow-button.svg');
    padding-right: $bump * 2;

    &:hover {
      background-image: url('../icon/arrow-button--dark.svg');
    }
  }
}

// Cookie notice
.cn-buttons-container .cn-button.wp-default {
  color: $c-primary;
  background-color: $c-yellow;
  border: 1px solid $c-yellow;

  &:hover {
    background-color: transparent;
    color: $c-yellow;
  }
}
