/**
 * ----------------------
 * Blooberry Design
 * Atoms - Download
 * ----------------------
 */

/**
 * Styling
 */
.a-download {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include media('<xs') {
    display: grid;
    grid-template-columns: 65px 1fr;
    align-items: start;
    margin-bottom: $bump/2;

    h3 {
      margin-bottom: 10px;
    }
  }

  @include ie {
    & > p {
      width: 100%;
    }
  }

  &__icon {
    height: auto;
    max-width: 50px;
    margin-bottom: $bump / 1.5;

    @include media('<xs') {
      grid-row: 1 / 4;
      padding-right: $bump/2;
    }

    &--link {
      border-radius: 50%;
      background-color: $c-lt-blue;
      @include bg-img($bump);
      background-image: url('../icon/icon-link.svg');
      display: block;
      height: 65px;
      width: 65px;
      max-width: none;

      @include media('<xs') {
        width: 40px;
        height: 40px;
        background-size: 20px;
      }
    }
  }

  // &__link {
  // margin-top: auto;
  // padding-top: $bump/2;

  // @include media('<xs') {
  //   padding-top: $bump/3;
  // }
  // }

  @include media('<xs') {
    p {
      margin-bottom: 0;
    }
  }
}
