/**
 * ----------------------
 * Blooberry Design
 * Atoms - Footer-logo
 * ----------------------
 */

a.a-footer-logo {
  @include link-reset;

  @include media('<lg') {
    margin-bottom: $bump/2;
  }

  @include media('<sm') {
    padding-bottom: $bump/2;
  }

  &::after {
    display: none;
    visibility: hidden;
  }

  svg {
    display: block;
    width: 100%;
    max-width: 150px;

    @include media('<tab') {
      margin: 0 auto;
    }
  }

  path,
  polygon {
    fill: $c-white;
    transition: 0.2s $easing;
  }

  &:hover {
    path,
    polygon {
      fill: $c-yellow;
    }
  }
}
