/**
 * ----------------------
 * Blooberry Design
 * Atoms - Nav Toggle
 * ----------------------
 */

/**
 * Config
 */
$height-icon: $bump / 1.25;
$width-line: $bump * 1.25;
$height-line: 2px;

$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;

/**
 * Styles
 */
.a-nav-toggle {
  border: 0;
  padding: 0;
  background-color: transparent;
  width: $width-line;
  height: $height-icon;
  position: relative;
  display: none;
  outline: none;
  // margin-bottom: 2px;
  margin: $bump/2 0;

  @include media('<sm') {
    margin: $bump/2;
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &__line {
    display: block;
    background: $c-lt-blue;
    width: $width-line;
    height: $height-line;
    position: absolute;
    left: 0;
    border-radius: ($height-line / 2);
    transition: 0.2s $easing;

    &-1 {
      top: 0;

      :hover > & {
        transform: translateY($height-line / 2 * -1);
      }

      [data-nav='open'] & {
        transform: translateY($translateY) translateX($translateX) rotate($rotation);
      }
    }
    &-2 {
      top: 50%;

      [data-nav='open'] & {
        opacity: 0;
      }
    }
    &-3 {
      top: 100%;

      :hover > & {
        transform: translateY($height-line / 2);
      }

      [data-nav='open'] & {
        transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      }
    }
  }
}
