{%
  set classes = [
    'field',
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}

<div{{attributes.addClass(classes,'field__items')}}>
	{% for item in items %}
		{{item.content}}
	{% endfor %}
</div>
