{% for item in items %}
{% if item.content['#node_url'] %}
<a href="{{item.content['#node_url']}}" title="back to {{item.content['#node_title']}}" class="bar-btn norm">
    &#60; back to our {{ item.content['#node_title']}} products</a>
{% endif %}
{% endfor %}