.m-accessibility {
  $block: &;

  &__btn {
    color: inherit;
    padding: $bump/2 0;

    &:hover {
      color: $c-lt-blue;
    }
  }

  &:hover {
    & > #{$block}__btn {
      color: $c-lt-blue;
    }
  }

  &__options {
    color: $c-white;
  }

  @include media('<sm') {
    &__btn-toggle {
      background-image: url('../icon/icon-accessibility--dark.svg');
      border-color: $c-blue;
    }
  }
}
