/**
 * ----------------------
 * Blooberry Design
 * Molecules - Banner
 * ----------------------
 */

.m-banner {
  figure {
    height: auto;
  }
}

.m-banner {
  border-bottom: 5px solid $c-white;

  figure {
    height: 100%;
  }

  &--home {
    @include media('<sm') {
      [class*='col-'] .grid {
        margin: 0;
      }
    }

    img {
      opacity: 1;
    }

    &-content {
      text-align: center;
      text-align-last: center;

      h1 {
        margin-bottom: $bump/2;
        color: $c-white;
      }

      p {
        margin: 0;
      }

      .a-btn {
        margin-top: $bump/2;
      }
    }
  }
}
