/**
 * ----------------------
 * Blooberry Design
 * Molecules - EUPATI Around the World
 * ----------------------
 */

.m-eup-world {
  text-align: center;
  text-align-last: center;
  background-color: $c-primary;
  color: $c-white;
  position: relative;
  background-color: $c-black;
  display: flex;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.3;
    // max-height: 500px;

    @include media('<1300px') {
      min-height: 500px;
    }
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__content {
    text-align: center;
    text-align-last: center;

    h2 {
      color: $c-white;
    }

    p {
      @include font-bold;
    }

    .a-btn {
      margin-top: $bump/2;
    }
  }
}
