/**
 * ----------------------
 * Blooberry Design
 * Molecules - Find out more
 * ----------------------
 */

.m-fom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: $bump/2;
  border-bottom: 4px solid $c-white;
  width: 100%;

  @include media('<md') {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include media('<sm') {
    grid-template-columns: 1fr 1fr;
  }

  @include media('<xs') {
    grid-template-columns: 1fr;
  }

  @include ie {
    display: flex;
    justify-content: center;

    & > a {
      width: 25%;
    }
  }

  &__link {
    position: relative;
    background-color: $c-blue;
    @include li-reset;
    display: block;

    @include media('<md') {
      &:nth-child(4),
      &:last-child {
        // left: 50%;
        width: 150%;
      }

      &:last-child {
        left: 50%;
      }
    }

    @include media('<sm') {
      &:nth-child(4),
      &:last-child {
        width: 100%;
      }

      &:last-child {
        grid-column: 1 / 3;
        left: 0;
        height: 350px;

        img {
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
    }

    @include media('<xs') {
      height: 250px;

      img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }

      &:last-child {
        height: 250px;
        grid-column: 1;
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      opacity: 0.4;
      transition: 0.1s $easing;
    }

    &-title {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h3 {
      max-width: 50%;
      margin: 0;

      @include media('<lg') {
        max-width: 70%;
      }

      &::after {
        height: 2px;
      }
    }

    &:hover {
      img {
        opacity: 0.1;
      }
    }
  }
}
