/**
 * ----------------------
 * Blooberry Design
 * Molecules - Home donate
 * ----------------------
 */

.m-home-donate {
  background-color: $c-yellow;
  padding: $bump * 1.5 0;
  margin-bottom: 0;
}
