/**
 * ----------------------
 * Blooberry Design
 * Molecules - Main nav
 * ----------------------
 */

.m-nav {
  @include media('<md') {
    display: none;
    position: absolute;
    // top: calc(100% + 20px);
    top: calc(100% + 5px);
    // right: -15px;
    right: 0;
    background-color: $c-lt-blue;
    background-color: var(--header-bottom);
    // background-color: $c-white;
    padding: $bump/2 0;
    box-shadow: 5px 0 5px 5px rgba(0, 0, 0, 0.2);
    width: 40%;
  }

  @include media('<800px') {
    width: 40vw;
  }

  @include media('<sm') {
    // width: calc(100% + 30px);
    // width: 100%;
    width: 100vw;
    // top: calc(100% + 24px);
  }

  @include media('<md') {
    &__bottom-menu {
      display: block;
      visibility: visible;
    }

    &__bottom-menu-top {
      display: none;
      visibility: hidden;
    }
  }
}
