/**
 * ----------------------
 * Blooberry Design
 * Molecules - News
 * ----------------------
 */

.m-news {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // gap: $bump;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $bump * 1.5;
  margin-left: -15px;
  width: calc(100% + 30px);

  @include ie {
    display: flex;
    flex-wrap: wrap;

    & > article {
      width: calc(50% - 30px);
      margin: 0 $bump/2 $bump;
    }
  }

  @include media('<sm') {
    // grid-template-columns: 1fr;
    margin-bottom: $bump;
    margin-left: 0;
    width: 100%;
    // gap: $bump * 1.5;
  }

  .o-teaser {
    // margin-bottom: $bump/2;
    width: calc(50% - 30px);
    margin: 0 $bump/2 $bump/2;

    @include media('<sm') {
      width: 100%;
    }
  }

  &--3 {
    display: grid;
    gap: $bump;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: $bump * 1.5;
    margin-bottom: 0;

    @include ie {
      & > article {
        width: calc(33% - 30px);
      }
    }

    @include media('<sm') {
      grid-template-columns: 1fr;
      // gap: $bump * 1.5;
    }

    .o-teaser {
      width: 100%;
      margin: 0;
    }
  }
}
