/**
 * ----------------------
 * Blooberry Design
 * Molecules - Opportunities
 * ----------------------
 */

.m-opportunities {
  display: grid;
  grid-template-columns: 55% 1fr;
  gap: $bump * 1.5;
  align-items: center;
  padding: $bump 0;

  @include ie {
    & > * {
      align-self: center;
    }

    &__content {
      -ms-grid-column: 2;
      padding-left: $bump;
    }
  }

  @include media('<lg') {
    grid-template-columns: 35% 1fr;
    align-items: start;
    gap: $bump;
  }

  @include media('<md') {
    grid-template-columns: 1fr;
  }

  &-alt {
    grid-template-columns: 1fr 55%;

    @include media('<lg') {
      grid-template-columns: 1fr 35%;
    }

    @include media('<md') {
      grid-template-columns: 1fr;
    }
  }

  .a-btn {
    margin-top: $bump/2;

    @include media('<lg') {
      margin-top: 0;
    }
  }
}
