.m-search-form {
  background-color: var(--accent);
  visibility: none;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
  overflow: hidden;
  height: 0;

  [data-search='open'] & {
    visibility: visible;
    opacity: 1;
    height: auto;
  }

  &__form {
    padding: $bump / 1.25;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 50px;

    @include media('<sm') {
      padding: $bump / 2;
    }
  }

  input[type='text'] {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid var(--white);
    color: var(--white);

    &:focus {
      background-color: rgba(255, 255, 255, 0.1);
      outline: 0;
      outline-color: var(--white);
      box-shadow: none;
    }
  }

  input[type='submit'] {
    @include bg-img(30px);
    background-image: url('../img/search.svg');
    border-radius: 0;
    padding: 0;
    text-indent: -9999px;
    appearance: none;

    &:focus,
    &:hover {
      background-color: var(--secondary);
    }
  }

  ::placeholder {
    color: var(--white);
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: var(--white);
    opacity: 1;
  }

  ::-ms-input-placeholder {
    color: var(--white);
    opacity: 1;
  }
}
