.m-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: $bump;

  &__result {
    margin-bottom: $bump;
    padding-bottom: $bump;
    border-bottom: 1px solid var(--accent);

    h2 a {
      border-bottom: 0;

      &:hover {
        color: var(--secondary);
      }
    }

    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  .pagination {
    align-self: stretch;
  }
}
