/**
 * ----------------------
 * Blooberry Design
 * Molecules - Site link
 * ----------------------
 */

.m-site-link {
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: $bump * 4 15%;
  background-color: $c-blue;
  color: $c-white;
  gap: $bump;

  @include ie {
    &:last-of-type {
      -ms-grid-column: 2;
    }
  }

  @include media('<1500px') {
    padding: $bump * 3 10%;
  }

  @include media('<lg') {
    grid-template-columns: 75px 1fr;
    padding: $bump * 2 10%;
  }

  @include media('<md') {
    grid-template-columns: 1fr;
    padding: $bump 7%;
    gap: $bump/1.5;
    text-align: center;
  }

  @include media('<sm') {
    padding: $bump * 1.5 $bump;
  }

  &:first-child {
    // background-color: $c-green;
    background-color: $c-natplat;
  }

  h2 {
    color: $c-white;

    @include media('<md') {
      text-align: center;
    }
  }

  &__icon {
    @include ie {
      margin-right: $bump/2;
    }

    @include media('<md') {
      display: flex;
      justify-content: center;

      img {
        width: 100px;
        height: auto;
        margin: 0 auto;
      }
    }
  }

  @include ie {
    &__content {
      -ms-grid-column: 2;
    }
  }

  svg {
    fill: $c-white;
  }

  .a-btn {
    margin-top: $bump/2;
  }
}
