/**
 * ----------------------
 * Blooberry Design
 * Molecules - User groups
 * ----------------------
 */

.m-user-groups {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $bump * 1.5;
  margin-top: $bump * 1.5;

  @include media('<sm') {
    grid-template-columns: 1fr;
    gap: $bump;
  }

  @include ie {
    display: flex;
    flex-wrap: wrap;

    &__group {
      width: calc(50% - 30px);
      margin: 0 $bump $bump 0;
    }
  }
}
