/**
* ----------------------
* Molecules - language dropdown
* ----------------------
*/

/**
* Config
*/

/**
* Styling
*/
.m-wpml {
  @include media('>=md') {
    padding-left: $bump/2;
  }

  @include media('<md') {
    align-self: stretch;

    .wpml-ls-legacy-dropdown a.wpml-ls-item-toggle span {
      width: auto;
    }
  }

  .wpml-ls-legacy-dropdown {
    @include media('<md') {
      width: 100%;

      &:hover {
        .wpml-ls-sub-menu {
          display: block;
        }
      }
    }

    a {
      background-color: $c-white;
    }

    .wpml-ls-sub-menu {
      @include media('<md') {
        position: relative;
        display: none;
        border: 0;
      }

      a {
        background-color: $c-blue;
        color: $c-white;

        &:hover {
          color: $c-blue;
          background-color: $c-yellow;
        }
      }
    }
  }
}
