.column-section-img-text {
    @extend %main-padding;

    @include breakpoint(ipad_air) {
        padding-left: 26%;
        padding-right: 26%;
    }

    @include breakpoint(ipad_landscape) {
        padding-left: 20%;
        padding-right: 20%;
    }

    @include breakpoint(ipad_portrait) {
        padding-left: 13%;
        padding-right: 13%;
    }

    @include breakpoint(mobile_landscape) {
        padding-left: 10%;
        padding-right: 10%;
    }

    @include breakpoint(mobile_portrait) {
        padding-left: 7%;
        padding-right: 7%;
    }

    .column-section-img {
        width: 50%;

        @media (min-width: 320px) and (max-width: 1200px) {
            width: 100%;
        }

        img {
            width: 100%;
            display: block;
            height: auto;
        }
    }

    .column-section-text {
        width: 50%;
        padding-right: 5rem;

        @media (min-width: 320px) and (max-width: 1200px) {
            width: 100%;
            padding-right: 0rem;
            margin-bottom: 3rem;
        }

        .column-section-text-width {
            max-width: 430px;
            margin-left: auto;
            
            @media (min-width: 320px) and (max-width: 1200px) {
                max-width: 100%;
                margin-left: 0;

            }

            .section-hd {
                margin-bottom: 2rem;
            }

            .desc--box {
                color: #29292b;
                margin-bottom: 2rem;

                h2,
                h3,
                h4,
                h5 {
                    font-family: $primaryfontfaimly;
                    font-weight: 500;
                    color: $primary-color;
                    margin-top: 0;
                }

                h2 {
                    font-size: 1.2rem;
                }

                h3 {
                    font-size: 1.1rem;
                }

                h4 {
                    font-size: 1rem;
                }
            }
        }
    }

    &.column-section-img-text-right {
        .custom-row{
            flex-direction:row-reverse;
        }

        .column-section-text {
            padding-left: 5rem;
            padding-right: 0rem;

            @media (min-width: 320px) and (max-width: 1200px) {
                padding-right: 0rem;
                padding-left: 0rem;
            }

            .column-section-text-width {
                margin-left: 0;
            }
        }
    }
}