.contact-info-section {
    @extend %main-padding;

    .contact-info-left {
        width: 50%;

        @include breakpoint(mobile_landscape) {
            width: 100%;
        }

        @include breakpoint(mobile_portrait) {
            width: 100%;
        }


       
    }

    .contact-info-right {
        width: 50%;

        @include breakpoint(mobile_landscape) {
            width: 100%;
            margin-top: 2.5rem;
        }

        @include breakpoint(mobile_portrait) {
            width: 100%;
            margin-top: 2.5rem;
        }

        .contact-info-content {
            h3 {
                font-size: 1.8rem;
                margin: 0px;
                padding: 0px;

                @include breakpoint(ipad_portrait) {
                    font-size: 1.5rem;
                }
            }

            .desc--box {
                margin: 1rem 0 2.5rem;
            }
        }
    }
}