.download-section {
    @extend %main-padding;
    .custom-row {
        align-items: center;
    }
    .hide-in-desktop {
       
        @include breakpoint(ipad_portrait) {
            display: block;
        }
    }
    
    .hide-in-mobile {
        @include breakpoint(ipad_portrait) {
            display: none;
        }
    
    }
    .download-section-content {
        width: 55%;
        padding-right: 2.5rem;
        @include breakpoint(ipad_portrait) {
            width: 100%;
            padding-right: 0;
        }
        @include breakpoint(mobile) {
            width: 100%;
            padding-right: 0;
        }
        .section-hd {
            @include breakpoint(ipad_portrait) {
                margin-bottom: 0rem;
              }
            @include breakpoint(mobile) {
              margin-bottom: 2rem;
            }
        }
    }
    .download-image {
        width: 45%;
        @include breakpoint(ipad_portrait) {
            width: 100%;
            margin-bottom: 3rem;
        }
        @include breakpoint(mobile) {
            width: 100%;
            margin-bottom: 3rem;
        }
        img {
            display: block;
            width: 100%;
        }
    }
}
