.expertise-section{
    @extend %main-padding;
    h2{
        @extend %h2;
        margin: 0;
        padding: 0px;
        color: $drak-gray;
        text-align: center;
    }
   .expertise-section-content{
    @include breakpoint(ipad_portrait){
        padding: 0 3%;
     }
    
   }
    .expertise-box{
        width: 28%;
        margin-right: 8%;
        background-color: $white;
        padding: 1rem 1.5rem 2.5rem;
        border-radius: 30px;
        position: relative;
        @extend %below-hd;
        @include breakpoint(ipad_landscape){
            width: 30%;
            margin-right: 5%;
            padding: 1.5rem 1rem 3rem;
        }
        @include breakpoint(ipad_portrait){
            width: 47%;
            margin-right: 6%;
        }
        @include breakpoint(mobile_landscape){
            width: 47%;
            margin-right: 6%;
            padding: 1rem 1rem 2.5rem;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
            margin-right: 0%;
        }
        &.expertise-btn-no{
            padding-bottom: 1.5rem;
        }
       
        &:nth-child(3n+3){
            margin-right: 0px;
            @include breakpoint(ipad_portrait){
                margin-right: 6%;
            }
            @include breakpoint(mobile_landscape){
                margin-right: 6%;
            }
        }
        &:nth-child(2n+2){
            @include breakpoint(ipad_portrait){
                margin-right: 0px;
            }
            @include breakpoint(mobile_landscape){
                margin-right: 0px;
            }
        }
        .expertise-icon{
            display: flex;
                align-items: center;
                width: 100%;
                height: 130px;
                justify-content: center;
                @media (min-width: 320px) and (max-width: 1025px) {
                    height: 110px;
                }
            a{
                display: flex;
                align-items: center;
                width: 100%;
                height: 150px;
                justify-content: center; 
                @include breakpoint(mobile_portrait){
                    height: 110px;
                } 
            }
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }
        .expertise-content{
            text-align: center;
            margin-top: 1rem;
            h5{
                color: $primary-color;
                margin: 0px;
                padding: 0px;
                text-transform: uppercase;
                font-size: 19px;
            }  
            .desc--box{
                margin-top: 0.5rem;
            }
        }
        .expertise-btn{
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -19px;
            text-align: center;
            a{
                display: inline-block;
            }
        }
    }
}