.external-link-section{
    @extend %main-padding;
    padding-top: 3rem;
    .section-hd{
        text-align: center;
        margin-top: 2rem;
    }
    .external-link-box{
        width: 22%;
        margin-right: 4%;
        @extend %below-hd;
        @include breakpoint(ipad_landscape) {
            width: 30%;
        }
        @include breakpoint(ipad_portrait){
            width: 45%;
            margin-right: 10%;
            margin-bottom: 5%;
        }
        @include breakpoint(mobile_landscape){
            width: 47%;
            margin-right: 5%;
            margin-bottom: 5%;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
            margin-right: 0px;
        }
        &:nth-child(4n+4){
            margin-right: 0px;
            @include breakpoint(ipad_landscape) {
                margin-right: 4%;
            } 
            @include breakpoint(ipad_portrait){
                margin-right: 10%;
            }
            @include breakpoint(mobile_landscape){
                margin-right: 5%;
            }
        }
        &:nth-child(3n+3) {
            @include breakpoint(ipad_landscape) {
                margin-right: 0%;
            } 
        }
        &:nth-child(2n+2){
            @include breakpoint(ipad_portrait){
                margin-right: 0;
            }
            @include breakpoint(mobile_landscape){
                margin-right: 0;
            }
        }
        .external-link-image{
            margin-bottom: 1.5rem;
            a{
                display: flex;
                background: $white;
                height: 100%;
                border-radius: 30px;
                align-items: center;
                justify-content: center;  
            }
            img{
                max-width: 100%;
                max-height: 100%;
                border-radius: 30px;
            }
        }
        .external-link-content{
            h3{ 
                margin: 0px;
                padding: 0px;
                font-size: 1.1rem;
                color: $primary-color;
                text-transform: uppercase;
            }
            .desc--box{
                margin-top: 0.5rem;
            }
        }
    }
}
.external-link-section.light-gray-bg,
.external-link-section.white-bg
{
    .external-link-box{
        .external-link-content{
            h3{
                color: $primary-color;
            }
        }
    }
}
.external-link-section.primary-bg
{
    .external-link-box{
        .external-link-content{
            h3{
                color: $white;
            }
        }
    }
}
.external-link-section .external-link-box .external-link-image.matchHeight{
    @include breakpoint(mobile_landscape){
        height: 230px;
    }
    @include breakpoint(mobile_portrait){
        height: 230px;
    }
}