.featured-listing-section {
    @extend %main-padding;
<<<<<<< HEAD
    .section-hd {
        @include breakpoint(ipad_portrait) {
            margin-bottom: 2rem;
          }
        @include breakpoint(mobile) {
          margin-bottom: 2rem;
        }
    }
=======

>>>>>>> 7261ccf93a8559402807da9efc306f0cb07573e0
    .featured-listing-row {
        display: flex;
        flex-wrap: wrap;

        .featured-listing-box {
            width: 31.33%;
            margin-left: 3%;
            margin-bottom: 3%;
            @include breakpoint(ipad_portrait) {
                width: 100%;
                margin-left: 0%;
                margin-bottom: 2rem;
                flex-wrap: wrap;
                display: flex;
<<<<<<< HEAD
                flex-direction: inherit;
=======
                flex-direction: column-reverse;
>>>>>>> 7261ccf93a8559402807da9efc306f0cb07573e0
            }
            @include breakpoint(mobile) {
                width: 100%;
                margin-left: 0%;
                margin-bottom: 2rem;
                flex-wrap: wrap;
                display: flex;
<<<<<<< HEAD
                flex-direction: inherit;
=======
                flex-direction: column-reverse;
>>>>>>> 7261ccf93a8559402807da9efc306f0cb07573e0
            }

            &:nth-child(2) {
                margin-left: 0px;
            }

            .featured-listing-img {
                width: 100%;
                @include breakpoint(ipad_portrait) {
                    margin-top: 1.6rem;
                }
                @include breakpoint(mobile) {
                    margin-top: 1.6rem;
                }


                img {
                    width: 100%;
                    display: block;
                }
            }

            .featured-listing-content {
                h3 {
                    margin: 1rem 0 5px 0;
                    padding: 0px;
                    font-family: $primaryfontfaimly;
                    font-size: 1.1rem;
                    color: $primary-color;
                    text-transform: uppercase;
                }

                strong {
                    font-weight: 500;
                }

                .location-box {
                    margin: 12px 0;
                }

                .desc--box {
                    margin-bottom: 2rem;
                }
            }

            &:nth-child(1) {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin-left: 0px;
                flex-direction: row-reverse;
                @include breakpoint(ipad_portrait) {
<<<<<<< HEAD
                    flex-direction: inherit;
                }
                @include breakpoint(mobile) {
                    flex-direction: inherit;
=======
                    flex-direction: column-reverse;
                }
                @include breakpoint(mobile) {
                    flex-direction: column-reverse;
>>>>>>> 7261ccf93a8559402807da9efc306f0cb07573e0
                }

                .featured-listing-img,
                .featured-listing-content {
                    width: 50%;
                    @include breakpoint(ipad_portrait) {
                        width: 100%;
                    }
                    @include breakpoint(mobile) {
                        width: 100%;
                    }
                }

                .featured-listing-content {
                    padding-right: 2rem;
                    @include breakpoint(ipad_portrait) {
                        padding-right: 0rem;
                    }
                    @include breakpoint(mobile) {
                        padding-right: 0rem;
                    }
                }
            }
        }
    }
}