.find-out-section{
    padding: 4rem 0;
    
    .find-out-section-content{
       margin-top: 3rem;
       a{
        padding-left: 75px;
        color: $drak-gray;
        font-size: 1.6rem;
        font-family: $secondaryfontfaimly;
        padding-top: 12px;
        padding-bottom: 12px;
        @include breakpoint(mobile_portrait){
          padding-left: 51px;
          font-size: 1.3rem;
        }
        &:first-child{
            margin-right: 1.5rem;
        }
        &:hover{
          color:$primary-color;
        }
       }
       a[href^="tel:"] {
        background: url("#{$assetIconsPath}/guud property phone grey-01.svg") no-repeat 10px center;
        background-size: 37px 40px;
        width: 49%;
       
        @include breakpoint(mobile_portrait){
          background: url("#{$assetIconsPath}/guud property phone grey-01.svg") no-repeat 4px center;
          width: 100%;
          background-size: 35px 35px;
        }
        &:hover{
          background: url("#{$assetIconsPath}/guud property phone green-01.svg") no-repeat 10px center;
          background-size: 37px 40px;
          @include breakpoint(mobile_portrait){
            background: url("#{$assetIconsPath}/guud property phone green-01.svg") no-repeat 4px center;
            background-size: 35px 35px;
          }
        }
       }
       a[href^="mailto:"] {
        background: url("#{$assetIconsPath}/guud property envelope grey-01.svg") no-repeat left center;
        background-size: 50px 36px;
        @include breakpoint(mobile_portrait){
          background-size: 39px 28px;
        }
        
        &:hover{
          background: url("#{$assetIconsPath}/guud property envelope green-01.svg") no-repeat left center;
          background-size: 50px 36px;
          @include breakpoint(mobile_portrait){
            background-size: 39px 28px;
          }
        }
      }
    }
}