.flex-block-section{
    @extend %main-padding;
    &.flex-2{
        padding-bottom: 3rem;
    }
    .section-hd{
        text-align: center;
    }

    .flex-block-box{
        .flex-block-box-img{
            width: 240px;
            @include breakpoint(ipad_landscape){
                width: 170px;
            }
            @include breakpoint(mobile_portrait){
                width: 100%;
            }
            img{
                display: block;
                border-radius: 30px;
                width: 100%;
                height: auto;
            }
        }
        .flex-block-box-content{
            width: calc(100% - 240px);
            position: relative;
            padding-bottom: 50px;
            padding-left:20px;
            @include breakpoint(ipad_landscape){
                width: calc(100% - 170px);
            }
            @include breakpoint(mobile_portrait){
                width: 100%;
                padding-bottom: 0px;
                padding-left:0px;
                padding-top: 1rem;
            }
            h3{
                margin: 0 0 0.6rem;
                padding: 0px;
                color: $primary-color;
            }
            .btn-set--left{
                position: absolute;
                width: 100%;
                left: 0px;
                bottom: 0px;
                padding-left: 5%;
                @include breakpoint(mobile){
                    position: relative;
                    padding-left: 0px;
                    margin-top: 1rem;
                }
            }
        }
    }
    .flex-block-1{
        width: 60%;
        margin: auto;
        @include breakpoint(ipad_portrait){
            width: 90%;
            margin: auto;
        }
        @include breakpoint(mobile_landscape){
            width: 100%;
            margin: auto;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
            margin: auto;
        }
        .flex-block-box{
            margin-bottom: 6rem;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
    .flex-block-2{
        @include breakpoint(ipad_portrait){
            width: 90%;
            margin: auto;
        }
        .flex-block-box{
            width: 47%;
            margin-right: 5%;
            margin-bottom: 5%;
            
            @include breakpoint(mobile_portrait){
                width: 100%;
                margin-right: 0%;
                margin-bottom: 3.5rem;
            }
            .flex-block-box-img{
                @include breakpoint(ipad_portrait){
                    width: 100%;
                   }
               @include breakpoint(mobile_landscape){
                width: 100%;
               }
            }
            .flex-block-box-content{
                @include breakpoint(ipad_portrait){
                    width: 100%;
                    padding-top: 2rem;
                   } 
                @include breakpoint(mobile_landscape){
                    width: 100%;
                    padding-top: 2rem;
                   }  
            }
            &:nth-child(2n+2){
                margin-right: 0px;
            }
        }
    }
    .section-hd ~ .flex-block-content{
        @extend %below-hd;
    }
    
}

