.project-gallery-grid{
    .row{
        display:flex;
        @include breakpoint(ipad_portrait){
            flex-wrap: wrap;
        } 
        @include breakpoint(mobile_landscape){
            flex-wrap: wrap;
        } 
        @include breakpoint(mobile_portrait){
            flex-wrap: wrap;
        }
        .grid-item{
            padding: 1px 1px 0 1px;
            img{
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
    .grid-dual_image{
        .image-1{
            width: 45%;
            @include breakpoint(mobile_portrait){
                width: 100%;
            }
        } 
        .image-2{
            width: 55%;
            @include breakpoint(mobile_portrait){
                width: 100%;
            }
        } 
    }
    .grid-single_image{
        .grid-item{
            width: 100%;
        }
    }
    .grid-three_image_per_row{
        .grid-item{
            width: 33.33%;
            @include breakpoint(mobile_portrait){
                width: 100%;
            }
        } 
    }
    .grid-testimonial_with_dual_image{
        .grid-item{
            width: 27.5%;
            @include breakpoint(ipad_portrait){
                width: 50%;
            }  
            @include breakpoint(mobile_landscape){
                width: 50%;
            }  
            @include breakpoint(mobile_portrait){
                width: 100%;
            }
        }
        .grid-item--width2{
            width: 45%; 
            @include breakpoint(ipad_portrait){
                width: 100%;
            }  
            @include breakpoint(mobile_landscape){
                width: 100%;
            } 
            @include breakpoint(mobile_portrait){
                width: 100%;
            }
           
        }
        .gallery-testimonial{
            
         .testimonials-item{
            background: $drak-gray;
            padding: 3rem;
            color: $white;
            font-size: 1.6rem;
            font-family: $secondaryfontfaimly;
            font-weight: 400;
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            @include breakpoint(ipad_air){
                padding: 2rem;
                font-size: 1.4rem;
            }
            @include breakpoint(ipad_landscape){
                padding: 2rem;
                font-size: 1.4rem;
            }
            @include breakpoint(ipad_portrait){
                padding: 3rem;
                width: 100%;
                font-size: 1.4rem;
            } 
            @include breakpoint(mobile_landscape){
                padding: 2rem;
                width: 100%;
                font-size: 1.4rem;
            }
            @include breakpoint(mobile_portrait){
                padding: 2rem;
                font-size: 1.4rem;
            }
            }
            .testimonials-item-in{
                background: url("#{$assetIconsPath}/white-quotation-mark-icon.svg") no-repeat top left;
                background-size: 60px;
                padding-left: 70px;
                @include breakpoint(ipad_portrait){
                    padding-left: 80px;
                } 
                @include breakpoint(mobile_landscape){
                    background-size: 41px;
                    padding-left: 59px;
                }
                @include breakpoint(mobile_portrait){
                    background-size: 41px;
                    padding-left: 59px;
                }
            }
        }
       
    }
}
 


.fancybox__caption{
    background-color: $primary-color;
    padding: 1.5rem 1rem;
    text-align: center;
    color: $white;
    font-family: $secondaryfontfaimly;
    font-weight: 700;
    width: 100%;
    font-size: 1.5rem;
}

.fancybox__nav{
    display: none;
}
.fancybox__content>.carousel__button.is-close{
    top: 0px;
    width: 3rem;
    height: 3rem;
    padding: 5px;
    background: $primary-color;
    border-radius: 0px;
    @include breakpoint(mobile){
        width: 3rem;
        height: 3rem;
    }
    svg{
        width: 100%;
        height: 100%;
    }
}

