
.form-custom-row{
    .custom-row{
        .input-field{
            width: 48%;
            @include breakpoint(mobile_portrait){
                width: 100%;
            }
            &:nth-child(2){
                margin-left: 4%;
                @include breakpoint(mobile_portrait){
                    margin-left: 0%;
                }
            }
        }
        .input-submit-box{
            margin-left: auto;
            @include breakpoint(mobile_portrait){
                margin-left: 0;
                margin-top: 2rem;
            }
        }
        .input-field-set{
            width: 48%;
            @include breakpoint(mobile_portrait){
                width: 100%;
            }
            .input-field{
                width: 100%;
                margin: 0px;
            }
        }
    }
}
.get-in-touch-section-content{
   margin-top: 2rem;
}

.wpcf7 .wpcf7-submit:disabled {
    cursor: pointer !important;
}
.input-field-set {
    display: flex;
    @include breakpoint(mobile) {
        display: block;
    }
    .input-field {
        margin-top: 9px;
    }
    .input-submit-box {
        margin-left: auto;
        @include breakpoint(mobile) {
            margin-left: 0;
            margin-top: 2rem;
        }
    }
}
.wpcf7-acceptance {
    span {
        margin-right: 0;
        position: relative;
    }
}
.wpcf7-acceptance {
    .wpcf7-list-item{
        margin: 0;
    }
   input{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
   }
}
.wpcf7-acceptance input::after,
.wpcf7-acceptance input:checked::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.wpcf7-acceptance input::before {
    content: "";
    background: $light-gray;
    width: 26px;
    height: 26px;
    position: absolute;
    left: -3px;
    top: -3px;
}
.wpcf7-acceptance input::after {
    background: url("#{$assetIconsPath}/checkinput.svg") no-repeat center center;
}
.wpcf7-acceptance input:checked::after {
    background: url("#{$assetIconsPath}/checkedinput.svg") no-repeat center center;
}
.contact{
    .get-in-touch-section {
        border-top: 0px;
    } 
    .wpcf7-acceptance input::before {
        content: "";
        background: $secondary-color;
    }
}
.input-field-set{
    label{
        position: relative;
        padding: 0 0 0 29px;
        display: block;
        align-items: center;
        a{
            color: $primary-color;
            &:hover{
                color: $drak-gray; 
            }
        }
    }
    .wpcf7-form-control-wrap{
        position: absolute;
        left: 0;
    }
}




@include breakpoint(ipad_portrait){
    
   .recaptcha iframe {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0; 
    }
}
@include breakpoint(mobile_portrait){
    
    .recaptcha iframe {
         transform: scale(0.77);
         -webkit-transform: scale(0.77);
         transform-origin: 0 0;
         -webkit-transform-origin: 0 0; 
     }
 }