.home-page-slider-section {
    position: relative;
    padding: 0px;
    background-color: $white;
    .home-page-slider-content-in{
        padding-left: 13%;
        @media (min-width: 992px) and (max-width: 1400px) {
            padding-left: 6%;
          }
        @include breakpoint(ipad_portrait){
            padding-left: 6%;
        }
        @include breakpoint(mobile_landscape){
            padding-left: 0;
        }
        @include breakpoint(mobile_portrait){
            padding-left: 0;
        }
    }
    .home-page-slider-content-outer {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        @include breakpoint(mobile_portrait){
            position: relative;
            display: block;
        }
        .home-page-slider-content{
            width: 41%;
            @media (min-width: 992px) and (max-width: 1400px) {
                width: 46%;
              }
            @include breakpoint(ipad_portrait){
                width: 48%;
            }
            @include breakpoint(mobile_landscape){
                width: 320px;
            }
            @include breakpoint(mobile_portrait){
                width: 100%;
            }
            .hd-bg{
                background: $white;
                padding: 2rem 2rem 2rem 0;
                margin: 0px;
                position: relative;
                @include breakpoint(mobile_portrait){
                    padding: 2rem 0rem 2rem 0rem;
                }
               
                &::after{
                    content: '';
                    position: absolute;
                    left: 0px;
                    bottom: -5px;
                    background: $primary-color;
                    width: 74.4%;
                    height: 5px;
                    z-index: 1;
                    @include breakpoint(ipad_landscape){
                        width: 77.5%;
                    }
                    @include breakpoint(mobile_landscape){
                        width: 78.4%;
                    }
                    
                    @include breakpoint(mobile_portrait){
                        width: 100%;
                    }
                }
            }
            
            h1{
              margin: 0px;
              padding: 0px;
              width: 460px;
              @media (min-width: 320px) and (max-width: 1400px) {
                width: 100%;
              }
            }
            .btn-set--left{
                margin-top: 3rem;
                @include breakpoint(mobile_landscape){
                    margin-top: 1.5rem;
                }
                @include breakpoint(mobile_portrait){
                    margin-top: 2rem;
                }
            }
        }
    }

    .home-page-slider-img {
        width: 60%;
        margin-left: auto;
        @include breakpoint(mobile_portrait){
            width: 100%;
            margin-left: 0;
        }
        img {
            width: 100%;
            height: auto;
        }
    }


    .slick-list {
        overflow: visible !important;
    }

    .slick-dots {
        position: absolute;
        bottom: -50px;
        right: 22rem;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin: 2rem 0 0 0;
        padding: 0px;
        display: none;

        @include breakpoint(desktop-sm) {
            bottom: -17px;
        }

        @include breakpoint(ipad_landscape) {
            bottom: -12px;
        }

        @include breakpoint(ipad_portrait) {
            bottom: -17px;
        }

        @media (min-width: 735px) and (max-width: 767px) {
            bottom: inherit;
            top: 58%;
        }

        @media (min-width: 666px) and (max-width: 734px) {
            bottom: inherit;
            top: 56%;
        }

        @media (min-width: 568px) and (max-width: 665px) {
            bottom: inherit;
            top: 51%;
        }

        @media (min-width: 414px) and (max-width: 567px) {
            bottom: inherit;
            top: 33%;
        }

        @media (min-width: 375px) and (max-width: 413px) {
            bottom: inherit;
            top: 30%;
        }

        @media (min-width: 360px) and (max-width: 374px) {
            bottom: inherit;
            top: 29%;
        }

        @media (min-width: 320px) and (max-width: 359px) {
            bottom: inherit;
            top: 22%;
        }

        li {
            margin: 0 0 0 10px;
            padding: 0px;

            button {
                background: $drak-gray;
                cursor: pointer;
                border: 1px $white solid;
                border-radius: 80px;
                text-indent: -9999px;
                display: block;
                width: 16px;
                padding: 0;
                height: 16px;
            }

            &.slick-active button {
                background: $primary-color;
            }
        }
    }

}

