.image-text-section {
    @extend %main-padding;

    @include breakpoint(ipad_air) {
        padding-left: 26%;
        padding-right: 26%;
    }

    @include breakpoint(ipad_landscape) {
        padding-left: 20%;
        padding-right: 20%;
    }

    @include breakpoint(ipad_portrait) {
        padding-left: 13%;
        padding-right: 13%;
    }

    @include breakpoint(mobile_landscape) {
        padding-left: 10%;
        padding-right: 10%;
    }

    @include breakpoint(mobile_portrait) {
        padding-left: 7%;
        padding-right: 7%;
    }
    

    .image-text-section-in {
        color: $white;
        position: relative;
        z-index: 1;
        min-height: 350px;

        @include breakpoint(ipad_air) {
            min-height: 300px;
        }
        

        @include breakpoint(ipad_landscape) {
            min-height: 300px;
        }

        @include breakpoint(ipad_portrait) {
            min-height: 300px;
        }

        @include breakpoint(mobile_landscape) {
            min-height: 300px;
        }
        @media (min-width: 320px) and (max-width: 1200px) {
            flex-wrap: wrap;
            display: flex;
            flex-direction: column-reverse;
         }
        
        .container-sm{
            @media (min-width: 320px) and (max-width: 1200px) {
                width: calc(100% - 0rem);
              
            } 
        }

    }

    .image-text-sec-img {
        width: 50%;
        position: absolute;
        height: 100%;
        right: 0px;
        top: 0px;
        background-size: cover;
        background-position: center;

        @include breakpoint(ipad_air) {
            width: 100%;
            position: relative;
            min-height: 374px;

        }

        @include breakpoint(ipad_landscape) {
            width: 100%;
            position: relative;
            min-height: 417px;
        }

        @include breakpoint(ipad_portrait) {
            width: 100%;
            position: relative;
            min-height: 417px;
        }
        @include breakpoint(mobile_landscape) {
            min-height: 398px;
        }

        @include breakpoint(mobile_portrait) {
            min-height: 200px;
        }

        @include breakpoint(mobile) {
            width: 100%;
            position: relative;
        }

    }

    .image-text-content-box {
        width: 48%;
        padding-right: 5%;

        @include breakpoint(ipad_air) {
            width: 100%;
            padding-right: 0%;
            margin-bottom: 3rem;
        }

        @include breakpoint(ipad_landscape) {
            width: 100%;
            padding-right: 0%;
            margin-bottom: 3rem;
        }

        @include breakpoint(ipad_portrait) {
            width: 100%;
            padding-right: 0%;
            margin-bottom: 3rem;
        }

        @include breakpoint(mobile) {
            width: 100%;
            padding-right: 0%;
            margin-bottom: 3rem;
        }

        .section-hd {
            margin-bottom: 2rem;
        }

    }

    .desc--box {
        color: $secondary-color;
        margin-bottom: 2rem;
        min-height: 250px;
        @include breakpoint(ipad_air) {
            min-height: 95px;
        }
        @include breakpoint(ipad_landscape) {
            min-height: 95px;
        }
        @include breakpoint(ipad_portrait) {
            min-height: 95px;
        }
        @include breakpoint(mobile_landscape) {
            min-height: 84px;
        }
        @include breakpoint(mobile_portrait) {
            min-height: 95px;
        }

        h2,
        h3,
        h4,
        h5 {
            font-family: $primaryfontfaimly;
            font-weight: 500;
            color: $primary-color;
            margin-top: 0;
        }

        h2 {
            font-size: 1.2rem;
        }

        h3 {
            font-size: 1.1rem;
        }

        h4 {
            font-size: 1rem;
        }

    }

    &.image-text-section-content-right {
        .image-text-sec-img {
            right: inherit;
            left: 0px;
        }

        .image-text-content-box {
            margin-left: auto;
            padding-right: 0%;
            padding-left: 5%;

            @include breakpoint(ipad_air) {
                padding-left: 0%;
                margin-left: 0;
            }

            @include breakpoint(ipad_landscape) {
                padding-left: 0%;
                margin-left: 0;
            }

            @include breakpoint(ipad_portrait) {
                padding-left: 0%;
                margin-left: 0;
            }

            @include breakpoint(mobile) {
                padding-left: 0%;
                margin-left: 0;
            }
        }
    }

}

.primary-bg,
.secondary-bg,
.drak-gray-bg {
    .section-hd h2 {
        color: $white;

        &::after {
            background: $white;
        }
    }

    .desc--box {
        color: $white;

        h2,
        h3,
        h4,
        h5 {
            color: $white;
        }

        ul {
            li {
                &::before {
                    background: $white;
                }
            }
        }
    }
}

.light-gray-bg {
    .image-text-flex-row .content-card-inner h2 {
        color: $drak-gray;
    }
}

.our-latest-project.image-text-section {
    .image-text-section-in {
        display: flex;
        align-items: center;

       
    }
    

    .image-text-sec-img,
    .image-text-section-in {
        min-height: 470px;
        @include breakpoint(ipad_air) {
            min-height: 374px;
        }
        @include breakpoint(ipad_landscape) {
            min-height: 417px;
        }
        @include breakpoint(ipad_portrait) {
            min-height: 417px;
        }
        @include breakpoint(mobile_landscape) {
            min-height: 398px;
        }
        @include breakpoint(mobile_portrait) {
            min-height: 200px;
        }
    }

    .image-text-content-section {
        width: 100%;
       

    }

    .desc--box {
        min-height: 150px;
        @include breakpoint(ipad_air) {
            min-height: 95px;
        }
        @include breakpoint(ipad_landscape) {
            min-height: 95px;
        }
        @include breakpoint(ipad_portrait) {
            min-height: 95px;
        }
        @include breakpoint(mobile_landscape) {
            min-height: 84px;
        }
        @include breakpoint(mobile_portrait) {
            min-height: 95px;
        }
    }

    .btn-set--left {
        .primary-outline-btn:nth-child(2) {
            margin-left: auto;
        }
    }
}