.services-3x-section {
    @extend %main-padding-t;

    .services-3x {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @include breakpoint(ipad_portrait) {
            padding: 0 5rem;

        }
        @include breakpoint(mobile_landscape) {
            padding: 0 3rem;

        }

        .services-3x-box {
            width: 33.33%;
            background-color: $white;
            padding: 0rem;
            position: relative;
            @include breakpoint(ipad_portrait) {
                width: 100%;
                margin-bottom: 2rem;

                &:last-child {
                    margin-bottom: 0rem;
                }

            }
            @include breakpoint(mobile_landscape) {
                width: 100%;
                margin-bottom: 2rem;

                &:last-child {
                    margin-bottom: 0rem;
                }

            }

            @include breakpoint(mobile_portrait) {
                width: 100%;

            }

            .services-3x-box-image {
                background-position: center center;
                background-size: cover;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .services-3x-box-content {
                padding: 3rem;
                position: relative;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                background: rgba(0, 0, 0, 0.5);
                display: flex;

                @media (min-width: 992px) and (max-width: 1500px) {
                    padding: 2rem;
                }

                @include breakpoint(ipad_portrait) {
                    padding: 1.5rem;
                }

                @include breakpoint(mobile_landscape) {
                    padding: 1.5rem;
                }

                @include breakpoint(mobile_portrait) {
                    padding: 1rem;
                }

                .services-3x-box-content-box {
                    border: 1px $white solid;
                    padding: 2rem;
                    display: flex;
                    align-items: flex-start;
                    justify-content: start;
                    width: 100%;

                    @include breakpoint(mobile_portrait) {
                        padding: 1rem;
                    }

                    .services-3x-box-content-in {
                        padding-bottom: 4rem;
                    }

                    h3 {

                        margin: 0px;
                        padding: 0px;
                        font-family: $primaryfontfaimly;

                        a {
                            color: $white;
                            font-size: 1.1rem;
                            display: block;
                            text-transform: uppercase;

                        }
                    }

                    .desc--box {
                        margin: 1.5rem 0;
                        color: $white;
                        text-align: left;

                        @media (min-width: 992px) and (max-width: 1440px) {
                            margin: 0.7rem 0 1rem 0;
                        }

                        @include breakpoint(ipad_portrait) {
                            margin: 1rem 0;
                        }

                        @include breakpoint(mobile_landscape) {
                            margin: 1rem 0;
                        }

                        @include breakpoint(mobile_portrait) {
                            margin: 1rem 0;
                        }
                    }
                }

            }

            .learn-more {
                width: 100%;
                text-align: right;
                position: absolute;
                right: 5rem;
                bottom: 5rem;

                @include breakpoint(mobile_portrait) {
                    right: 2rem;
                    bottom: 2rem;
                }

                a {
                    display: inline-block;
                }
            }
        }
    }
}