.popup-content-list {
    @extend %main-padding;
    padding-bottom: 3rem;
}

.team-popups {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {
            width: 22%;
            margin-right: 4%;
            margin-bottom: 4%;
            position: relative;
            @include breakpoint(ipad_landscape) {
                width: 30%;
            }
            @include breakpoint(ipad_portrait) {
                width: 47%;
                margin-right: 5%;
                margin-bottom: 5%;
            }

            @include breakpoint(mobile_landscape) {
                width: 47%;
                margin-right: 5%;
                margin-bottom: 5%;
            }

            @include breakpoint(mobile_portrait) {
                width: 100%;
                margin-right: 0px;
                margin-bottom: 3rem;
            }

            &:nth-child(4n+4) {
                margin-right: 0%;
                @include breakpoint(ipad_landscape) {
                    margin-right: 4%;
                } 
            }
            &:nth-child(3n+3) {
                @include breakpoint(ipad_landscape) {
                    margin-right: 0%;
                } 
            }
            &:nth-child(2n+2) {
                @include breakpoint(ipad_portrait) {
                    margin-right: 0;
                }

                @include breakpoint(mobile_landscape) {
                    margin-right: 0;
                }
            }

            a {
                display: block;

                .profile-picture {
                   
                    overflow: hidden;
                    border-radius: 30px;
                   
                    

                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }

                h3 {
                    margin: 1rem 0 0 0;
                    padding: 0px;
                    display: block;
                    text-align: left;
                    color: $primary-color;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.1rem;
                    font-family: $primaryfontfaimly;
                }

                .profile-role {
                    display: block;
                    margin: 0.6rem 0 0 0;
                    text-align: left;
                    color: $body-gray;
                }

                &:hover {
                    .profile-picture img {
                        -webkit-filter: grayscale(0);
                        filter: none;
                    }
                }
            }

            .profile-picture img {
                width: 100%;
                height: auto;
                filter: gray;
                -webkit-filter: grayscale(1);
                filter: grayscale(1);
            }

            .full {
                border-radius: 30px;
                background-color: $secondary-color;
                position: absolute;
                width: 160%;
                left: -30%;
                top: -30%;
                z-index: 8;
                -webkit-transform-origin: 50% 30%;
                transform-origin: 50% 30%;
                -webkit-animation-name: team;
                animation-name: team;
                -webkit-animation-duration: 0.2s;
                animation-duration: 0.2s;

                @include breakpoint(ipad_portrait) {
                    width: 100%;
                    left: 0%;
                }

                @include breakpoint(mobile_landscape) {
                    width: 100%;
                    left: 0%;
                }

                @include breakpoint(mobile_portrait) {
                    width: 100%;
                    left: 0%;
                }

                .profile-pic-full {
                    border-radius: 30px 30px 0 0;
                    overflow: hidden;

                    img {
                        width: 100%;
                        display: block;
                        height: auto;
                    }
                }

                .content {
                    padding: 1.5rem;
                    position: relative;
                    color: $white;

                    h3 {
                        margin: 0px;
                        padding: 0px;
                        color: $white;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 1.4rem;
                        font-family: $primaryfontfaimly;
                    }

                    .profile-role {
                        font-style: italic;
                        display: block;
                        margin-top: 6px;
                    }

                    .profie-desc {
                        margin-top: 15px;

                        h5 {
                            @extend %font-size;
                            margin: 0px;
                            font-family: $primaryfontfaimly;
                            margin-top: 2rem;
                        }

                        p {
                            margin: 0px;

                            a {
                                color: $primary-color;

                            }
                        }
                    }

                    .popup-close {
                        font-weight: 400;
                        font-size: 1.5rem;
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.primary-bg {

    .team-popups ul li a h3,
    .team-popups ul li a .profile-role {
        color: $white;
    }
}

.secondary-bg {
    .team-popups ul li a .profile-role {
        color: $white;
    }
}

.meet-the-team {
    .team-popups ul li a h3,
    .team-popups ul li a .profile-role {
        text-align: center;
    }
}