.our-service-section{
    @extend %main-padding-top;
    @include breakpoint(ipad_landscape){
        .container,
        .our-service-block
        {
            width: calc(100% - 10rem);
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.our-service-block{
    display: flex;
    flex-wrap: wrap;
}
.our-service-block-box{
    position: relative;
    width: 25%;
    @include breakpoint(ipad_landscape){
        width: 50%; 
    }
    @include breakpoint(ipad_portrait){
        width: 50%;
    }
    @include breakpoint(mobile_landscape){
        width: 50%;
    }
    @include breakpoint(mobile_portrait){
        width: 50%;
    }
    .our-service-block-box-img{
        picture{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                display: block;
    
            }
        }
        
    }
    .our-service-block-box-content{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
      
        h4{
            margin: 0px;
            padding: 1.5rem 1rem;
            transform: rotate(180deg);
            writing-mode: vertical-lr;
            margin-left: auto;
            background: $secondary-color;
            font-family: $primaryfontfaimly;
            font-weight: 500;
            min-height: 292px;
            position: absolute;
            top: 0;
            right: 0;
            text-align: right;
        }
        .our-service-block-box-content-in{
           display: none;
        }
        &:hover{
            background: rgba(0, 0, 0, 0.4);
            h4{
                background: $primary-color;
            }
            .our-service-block-box-content-in{
                display: block;
             }   
        }
    }
}
.other-service-x3{
    @include breakpoint(ipad_landscape){
        .container {
            width: calc(100% - 8rem);
            margin-left: auto;
            margin-right: auto;
        }
        .our-service-block {
            width: calc(100% );
            margin-left: auto;
            margin-right: auto;
        }
       
    }
    .our-service-block-box{
        width: 33.33%;
       
       
        @include breakpoint(mobile_portrait){
            width: 100%;
        }
    }  
}