.project-list-section {
    padding-top: 2rem;
    padding-bottom: 5rem;

    @include breakpoint(mobile_landscape) {
        padding-top: 1rem;
    }

    @include breakpoint(mobile_portrait) {
        padding-top: 2rem;
    }
    .container{
        @media (min-width: 992px) and (max-width: 1440px) {
            width: calc(100% - 4rem);
        }
    }

    .project-list-section-content {
        @extend %below-hd;

        @include breakpoint(ipad_portrait) {
            padding: 0 3%;
        }
    }

    .custom-row {
      
        @include breakpoint(mobile_landscape) {
            padding: 0 4rem;
        }
    }

    .project-box {
        width: 48%;
        background-color: $white;
        padding: 0rem;
        position: relative;
        margin-bottom: 3%;
        &:nth-child(2n+2){
            margin-left: 3%;
        }
        @include breakpoint(mobile_landscape) {
            width: 100%;
            margin-bottom: 1.5rem;
            &:nth-child(2n+2){
                margin-left: 0%;
            }
        }
        @include breakpoint(mobile_portrait) {
            width: 100%;
            margin-bottom: 1.5rem;
            &:nth-child(2n+2){
                margin-left: 0%;
            }
        }

        .project-box-image {
            overflow: hidden;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                display: block;
                height: auto;
                @include breakpoint(ipad_landscape) {
                    width: 125%;
                }
                @include breakpoint(mobile_portrait) {
                    width: 120%;
                }
            }
        }

        .project-box-content {
            padding: 3rem;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            @media (min-width: 992px) and (max-width: 1500px) {
                padding: 2rem;
            }
            @include breakpoint(ipad_portrait){
                padding: 1.5rem;
            }
            @include breakpoint(mobile_landscape){
                padding: 1.5rem;
            }
            @include breakpoint(mobile_portrait){
                padding: 1rem;
            }

            .project-box-content-box {
                border: 1px $white solid;
                padding: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                @media (min-width: 992px) and (max-width: 1440px) {
                    padding: 1rem;
                }
                @include breakpoint(ipad_portrait){
                    padding: 1rem;
                }
                @include breakpoint(mobile_landscape){
                    padding: 1rem;
                }
                @include breakpoint(mobile_portrait){
                    padding: 1rem;
                }

                h3 {

                    margin: 0px;
                    padding: 0px;
                    text-align: center;

                    a {
                        color: $white;
                        font-size: 2.4rem;
                        display: block;
                        @media (min-width: 768px) and (max-width: 1500px) {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                                    line-clamp: 2; 
                            -webkit-box-orient: vertical;
                            font-size: 2rem;
                        }
                        @include breakpoint(mobile_landscape) {
                            font-size: 1.8rem;
                           
                        }
                        @include breakpoint(mobile_portrait) {
                            font-size: 1.8rem;
                        }
                    }
                }

                .latest-project-date {
                    color: $secondary-color;
                    margin-top: 0.5rem;
                    display: block;

                }

                .desc--box {
                    margin: 1.5rem 0;
                    color: $white;
                    text-align: center;
                    @media (min-width: 992px) and (max-width: 1440px) {
                        margin: 0.7rem 0 1rem 0;
                    }
                    @include breakpoint(ipad_portrait){
                        margin: 1rem 0;
                    }
                    @include breakpoint(mobile_landscape){
                        margin: 1rem 0;
                    }
                    @include breakpoint(mobile_portrait){
                        margin: 1rem 0;
                    }
                }
            }

        }

        .learn-more {
            width: 100%;
            text-align: center;

            a {
                display: inline-block;
            }
        }
    }
}