.sm-image-text-section{
    @extend %main-padding;
    .sm-image-text-section-content{
        margin-bottom: 3rem;
        &:last-child{
            margin-bottom: 0;
        }
        @include breakpoint(ipad_portrait){
            padding: 0 1rem;
            margin-bottom: 3rem;
        }
        @include breakpoint(mobile_landscape){
            padding: 0rem;
            margin-bottom: 3rem;
        }
        @include breakpoint(mobile_portrait){
            padding: 0rem;
            margin-bottom: 3rem;
        }
        
    }
    .sm-image-text-sec-img{
        width: 35%;
        overflow: hidden;
        display: flex;
        background-size: cover;
        background-position: center;
        @include breakpoint(mobile_portrait){
            width: 50%;
            margin-left: 0;
        }
        img{
            width: 100%;
            height: 100%;

        }
    }
    .sm-image-text-sec-content{
        width: 65%;
        padding: 1rem 0rem 0rem 3rem;
        @include breakpoint(mobile_portrait){
            width: 100%;
            padding: 0rem 0rem 0rem 0rem;
        }
        h2{
            margin: 0px;
            padding: 0px;
            color: $primary-color;
            font-weight: 700;
        }
        .desc--box{
            margin-top: 1rem;
        }
        .btn-set--left{
            margin-top: 1.5rem;
        }
    }
    .sm-image-text-section-content-right{
        flex-direction: row-reverse;
        @include breakpoint(mobile_portrait){
            flex-direction: row;
        }
        .sm-image-text-sec-content{
            padding: 1rem 3rem 0rem 0rem;
            @include breakpoint(mobile_portrait){
                padding: 0rem 0rem 0rem 0rem;
            }
        }
    }
}


