



.short-content-section {
    @extend %main-padding;
    .short-content-section-left{
      width: 35%;
      h2{
        margin: 0;
        @include breakpoint(mobile_portrait){
           margin-bottom: 2rem;
          }
      }
      @include breakpoint(mobile_portrait){
        width: 100%;
      }
    }
    .short-content-section-right{
        width: 60%;
        margin-left: auto;
        @include breakpoint(mobile_portrait){
            width: 100%;
            margin-left: 0;
        }
    }
}


.section-hd {
    margin-bottom: 4rem;
    h2 {
        margin: 0px;
        padding: 0 0 1rem 0;
        color: $secondary-color;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100px;
            height: 5px;
            background: $primary-color;
        }
    }

    .desc--box {
        margin-top: 1rem;
        
    }

    &:empty {
        padding-bottom: 0px;
    }
}


.parallax-window{
    min-height: 650px;
    background: transparent;
        @include breakpoint(ipad_landscape) {
            min-height: 450px;
        }
        @include breakpoint(ipad_portrait) {
            min-height: 400px;
        }
        @include breakpoint(mobile) {
            min-height: 350px;
        }  
}

