.tagcloud-section{
    @extend %main-padding;
    .custom-row{
        justify-content: center;
    }
    h1 , h2, h3, h4, h5, h6{
        margin: 13px 39px;
        padding: 0px;
    }
    h2, h4{
        color: $drak-gray;
    }
    h1{
        font-size: 6rem;
        @include breakpoint(ipad){
            font-size: 4rem;
        }
        @include breakpoint(mobile){
            font-size: 4rem;
        }
    }
    h2{
        font-size: 4rem;
        @include breakpoint(ipad){
            font-size: 2rem;
        }
        @include breakpoint(mobile){
            font-size: 2rem;
        }
    }
}