.testimonials-section{
    @extend %main-padding;
    .testimonials-section-content{
        margin: auto;
        strong{
            font-family: $secondaryfontfaimly;
            font-weight: 400;
            color: $secondary-color;
            font-size: 1.5rem;
            text-align: left;
            display: inline-block;
            line-height: 2.1rem;
            padding-left: 90px;
            background: url("#{$assetIconsPath}/quotation-mark-icon.svg") no-repeat top left;
            background-size: 63px;
            @include breakpoint(mobile){
                background-size: 36px;
                font-size: 1.3rem;
                line-height: 1.5rem;
                padding-left: 53px;
            }
        }
        i{
            display: block;
            text-align: right;
            font-size: 16px;
            margin-top: 1rem;
            font-style: normal;
            font-weight: 400;
            color: $primary-color;
        }
    }
}