.we-understand-section{
    @extend %main-padding;
    .we-understand-section-inner{
        padding-left: 6rem;
        @include breakpoint(ipad_landscape) {
            padding-left: 0rem;
          }
        @include breakpoint(ipad_portrait) {
            padding-left: 0rem;
          }
        @include breakpoint(mobile) {
            padding-left: 0rem;
        }
    }
    .we-understand-logos{
        width: 100%;
        margin-top: 1rem;
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            li{
                width: 18%;
                border: 1px #828282 solid;
                margin-left: 2%;
                display: flex;
                margin-top: 2%;
                align-items: center;
                justify-content: center;
                background: $white;
                @include breakpoint(mobile_portrait) {
                    width: 48%;
                    &:nth-child(1n+1){
                        margin-left: 0%;
                    }
                    &:nth-child(2n+2){
                        margin-left: 4%;
                    }
                }
                &:first-child{
                    margin-left: 0;
                }
                
               
                img{
                    max-width: 100%;
                    max-height: 100%;
                    display: block;
                }
            }
        }
    }
}