.welcome-text-section {
    .container {
        padding-left: 6rem;
        @include breakpoint(ipad_landscape) {
            padding-left: 4rem;
            padding-right: 4rem;
        }
        @include breakpoint(ipad_portrait) {
            padding-left: 0rem;
        }
        @include breakpoint(mobile) {
            padding-left: 0rem;
        }
    }
    .welcome-text-left {
        width: 314px;
        @include breakpoint(ipad_landscape) {
            width: 293px;
        }
        @include breakpoint(ipad_portrait) {
            width: 259px;
        }
        @include breakpoint(mobile_landscape) {
            width: 100%;
        }
        @include breakpoint(mobile_portrait) {
            width: 247px;
        }
        h1 {
            margin: 0px;
            padding: 0px;
        }
    }
    .welcome-text-right {
        width: calc(100% - 392px);
        padding-left: 4rem;
      
        @include breakpoint(ipad_landscape) {
            width: calc(100% - 293px);
            padding-left: 3rem;
        }
        @include breakpoint(ipad_portrait) {
            width: calc(100% - 259px);
            padding-left: 2rem;
        }

        @include breakpoint(mobile) {
            width: 100%;
            margin-top: 2rem;
            padding-left: 0rem;
        }
        .desc--box {
            margin-bottom: 4rem;
            p {
                @extend %sub-hd-size;
            }
        }
        .btn-set--right {
            padding-right: 4rem;
            @include breakpoint(ipad_portrait) {
                padding-right: 0rem;
            }
            @include breakpoint(mobile) {
                padding-right: 0rem;
            }
        }
    }
}

.text-section {
    padding: 3rem 0;
    .container-sm {
        @include breakpoint(ipad_portrait) {
            width: calc(100% - 11rem);
        }
    }
   
    .desc--box {
        h2{
            color: $primary-color;
            margin-top: 0px;
            font-family: $primaryfontfaimly;
            font-weight: 500;
            font-size: 1.5rem;
        }
        p {
            br {
                @include breakpoint(mobile) {
                    display: none;
                }
            }
        }
    }
}
.contact .get-in-touch-section .section-hd h2{
    @extend %sub-hd-size;
    font-family: $primaryfontfaimly;
   font-weight: 200;
}

.page-template-template-page
{
    .text-section {
        strong {
            color: $primary-color;
            display: block;
        }
        .desc--box {
            p {
                @extend %font-size;
                @extend %base-line-height;
                font-weight: 300;
                br {
                    @include breakpoint(mobile) {
                        display: none;
                    }
                }
            }
        }
    }
}
