/*
Theme Name: story
Author: Aleksandra Laczek
Author URI: http://webtuts.pl/themes/
Description: Personal blogging theme inspired by Flat UI. Featuring responsive design, post format support and color options built into theme customizer. Simple, clean, vibrant. You can visit live demo at http://webtuts.pl/test/story/
Version: 1.0.1
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl.html
*/	
body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	background: #ffffff;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	font-size: 18px;
	padding: 0px;
	margin: 0px;
	position: relative;
  }
  
  select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
  }
  
  *, *::before, *::after {
	box-sizing: border-box;
  }
  
  a,
  a:focus,
  a:active,
  a:hover {
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	color: #333;
	text-decoration: none;
  }
  
  a {
	color: #20c997;
  }
  
  input:focus,
  textarea:focus,
  select:focus,
  button:focus {
	outline: none;
  }
  
  button,
  a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  }
  
.full-container{
	width: 100%;
	margin:0 auto;
	padding: 0 20px;
}
.custom-row{
	display: flex;
	flex-wrap: wrap;
}

.header-site{
	background: #fff;
}

.fancybox-download{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999999;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}
.wp-block-gallery.has-nested-images figure.wp-block-image figcaption{
	position:  relative !important;
	background: transparent !important;
	text-shadow: 0 0 0px #00000000 !important;
	font-size: 18px;
	font-weight: 500;
	display: flex;
  text-align: left;
  height: auto;
  padding: 8px 0;
}