.get-in-touch-block {
    h2 {
        margin: 0 0 3rem 0;
        padding: 0px;
        @include breakpoint(ipad_portrait){
            margin: 0 0 2rem 0;
        }
        @include breakpoint(mobile){
            margin: 0 0 2rem 0;
        }
    }
}
.get-in-touch--section{
    @include breakpoint(ipad_portrait){
       padding-bottom: 4rem;
    }  
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    color: #ffb900;
    font-weight: 300;
    font-size: 1rem;
}
.wpcf7 form.sent .wpcf7-response-output {
    color: #46b450;
    font-weight: 300;
    font-size: 1rem;
}
.wpcf7-not-valid-tip {
    font-weight: 300;
    font-size: 1rem;
}
.wpcf7-list-item {
    margin: 0;
}
.input-field {
    label {
        color: $gray-color;
        font-size: 1rem;
        a {
            color: $secondary-color;
            font-size: 1rem;
            &:hover{
                color: $primary-color;  
                font-weight: 500;
            }
        }
    }
}
.wpcf7 .wpcf7-submit:disabled {
    cursor: pointer !important;
}
.input-field-set {
    display: flex;
    margin-top: 2rem;
    @include breakpoint(mobile) {
        display: block;
    }
    .input-field {
        margin-top: 9px;
    }
    .input-submit-box {
        margin-left: auto;
        @include breakpoint(mobile) {
            margin-left: 0;
            margin-top: 2rem;
        }
    }
}
.wpcf7-acceptance {
    span {
        margin-right: 21px;
    }
}
.wpcf7-acceptance {
    position: relative;
}
.wpcf7-acceptance input::after,
.wpcf7-acceptance input:checked::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.wpcf7-acceptance input::before {
    content: "";
    background: $white;
    width: 26px;
    height: 26px;
    position: absolute;
    left: -3px;
    top: -3px;
}
.wpcf7-acceptance input::after {
    background: url("#{$assetPath}/checkinput.svg") no-repeat center center;
}
.wpcf7-acceptance input:checked::after {
    background: url("#{$assetPath}/checkedinput.svg") no-repeat center center;
}
