.hero--section{
    position: relative;
    overflow: hidden;
    img{
        width: 100%;
        display: block;
        @include breakpoint(ipad_landscape){
            width: 130%;
        }
        @include breakpoint(ipad_portrait){
            width: 150%;
        }
        @include breakpoint(mobile_landscape){
            width: 100%;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
        }
    }
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: -35%;
        top: 0px;
        background-color: $primary-color;
        transform: $skewX;
        mix-blend-mode: multiply;
        @include breakpoint(mobile){
            display: none;
        }
    }
    .hero-text{
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100%;
        top: 0px;
        z-index: 2;
        display: flex;
        align-items: center;
        @include breakpoint(mobile){
           position: absolute;
           top: inherit;
           height: auto;
           z-index: inherit;
           bottom: 0px;
           .container{
               position: relative;
               z-index: 1;
           }
           &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: inherit;
            bottom: 0px;
            background-color: #576270;
            mix-blend-mode: multiply;
        }
        }
    }
    &.hero-section--inner{
        max-height: 700px;
        img{
            width: 100%;
            display: block;
            @include breakpoint(ipad_landscape){
                width: 130%;
            }
            @include breakpoint(ipad_portrait){
                width: 109%;
            }
            @include breakpoint(mobile_landscape){
                width: 130%;
            }
            
        }
        .hero-text{
            align-items: flex-start;  
            padding-top: 14rem;
            @include breakpoint(ipad_landscape){
                padding-top: 16rem;
            }
            @include breakpoint(ipad_portrait){
                padding-top: 9rem;
            }
            @include breakpoint(mobile){
                padding-top: 0rem;
            }
            .hero-text--inner{
                @include breakpoint(mobile){
                    position: relative;
                    z-index: 2;
                } 
            }
        } 

    }
    .hero-text--inner{
        width: 64%;
       
        @include breakpoint(mobile){
            width: 100%;
            padding: 3rem 1rem;
        }
        h1{
            margin: 0 0 2rem 0;
            padding: 0px;
            color: $white;
            font-family: 'Montserrat', sans-serif;
        }
    }
    &.home-hero--section{
        @media (min-width: 1601px) and (max-width: 1699px) {
            .container{
                width: calc(100% - 21rem);
            }
        }
        .hero-text--inner{
            @media (min-width: 320px) and (max-width: 567px){
                padding: 3rem 0rem;
            }
            @media (min-width: 1700px) and (max-width: 1810px) {
                width: 72%;
                h1{
                    font-size: 3.4rem;
                }
              }  
              @media (min-width: 1601px) and (max-width: 1699px) {
                width: 66%;
               
                h1{
                    font-size: 3.4rem;
                }
              }  
              @media (min-width: 1300px) and (max-width: 1470px) {
                  h1{
                    font-size: 3.1rem;
                }
              } 
              @media (min-width: 991px) and (max-width: 1024px) {
                h1{
                  font-size: 2.9rem;
                }
            } 
            @media (min-width: 320px) and (max-width: 567px){
                h1 {
                    font-size: 22px;
                }
            }
 
        }
    }
}

.contact-info-icons{
    margin: 0px;
    padding: 0;
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            margin: 0 0 1rem 0;
            padding: 0px;
            @include breakpoint(mobile){
                margin: 0 0 0.7rem 0;
            }
            &:last-child{
                margin-bottom: 0px;
            }
            a{
                display: flex;
                align-items: center;
                color: $secondary-color;
                font-size: 1.5rem;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                @include breakpoint(mobile_landscape){
                    font-size: 1.2rem;
                }
                @include breakpoint(mobile_portrait){
                    font-size: 1rem;
                }
                i{
                    margin-right: 1rem;
                    svg {

                        width: 40px;
                        stroke: $secondary-color;
                        stroke-width: 5px;
                        @include breakpoint(mobile){
                            width: 30px;
                        }
                    }
                }
                &:hover{
                    color: $white;
                    i{
                        svg {
    
                          
                            stroke: $white;
                        }
                    }
                }
            } 
            &:first-child{
                a{
                    i{
                        svg{
                            margin-top: 8px;
                        }
                    }
                }
            }
            &:last-child{
                a{
                    i{
                        svg{
                            margin-top: 11px;
                        }
                    }
                }
            }
        }
    }
}