.installation-steps--section{
    padding: 10rem 0 $main-pd 0;
    overflow: hidden;
    .container-sm{
        @include breakpoint(mobile_landscape){
           max-width: 450px;
        }  
    }
    .installation-step{
        position: relative;
        margin-bottom: 11rem;
        @include breakpoint(ipad_portrait){
            margin-bottom: 7rem;
        }
        @include breakpoint(mobile_landscape){
            margin-bottom: 5rem;
        }
        @include breakpoint(mobile_portrait){
            margin-bottom: 6rem;
            padding-left: 2.5rem;
        }
        &:last-child{
            margin-bottom: 0px;
        }

        .step-num{
            width: 10rem;
            height: 10rem;
            background: $white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: -5rem;
            top: -5rem;
            font-size: 4rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            z-index: 1;
            @include breakpoint(ipad_portrait){
                width: 7rem;
                height: 7rem;
                left: -3rem;
                top: -3rem;
                font-size: 3.5rem; 
            }
            @include breakpoint(mobile_landscape){
                width: 5rem;
                height: 5rem;
                left: -2rem;
                top: -2rem;
                font-size: 2.5rem; 
            }
            @include breakpoint(mobile_portrait){
                width: 5rem;
                height: 5rem;
                left: 0rem;
                top: -39px;
                font-size: 2.5rem;
            }
        }
        .installation-step--img{
            img{
                width: 100%;
                display: block;
            }
        }
        .step-description{

            p{
                color: $white;
                padding-top: 2.5rem;
                display: block;
                margin: 0px;
                font-size: 1.6rem;
                line-height: 2rem;
                @include breakpoint(ipad_portrait){
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                }
                @include breakpoint(mobile){
                    font-size: 1.2rem;
                    line-height: 1.5rem;
                }
            }
        }
       
    }
}