.review--section{
    position: relative;
    
    &::before {
        position: absolute;
        right: 0;
        top: -265px;
        content: "";
        background: url("#{$assetPath}/top-bg.svg") no-repeat;
        width: 150px;
        height:265px;
        mix-blend-mode: multiply;
        background-size: 100%;
        @include breakpoint(ipad_portrait){
            top: -178px;
            width: 100px;
            height: 200px;
        }
        @include breakpoint(mobile){
           display: none;
        }

    }
    &::after {
        position: absolute;
        right: 0;
        bottom: -70px;
        content: "";
        background: url("#{$assetPath}/review-vector-btm.svg") no-repeat;
        width: 330px;
        height:70px;
        mix-blend-mode: multiply;
        @include breakpoint(ipad_portrait){
            width: 300px;
        }
        @include breakpoint(mobile){
            display: none;
         }
    }

    .review--box {
        font-size: 1.5rem;
        font-weight: 500;
        color: #fff;
        font-style: italic;
        font-family: 'Montserrat', sans-serif;
        @include breakpoint(ipad_portrait){
            font-size: 1.3rem;
        }
        @include breakpoint(mobile){
            font-size: 1.2rem;
         }
        p{
            padding: 0px 6px;
            margin: 0px;
            line-height: 1.8rem;
            position: relative;
            &::before {
                position: absolute;
                left: -5px;
                top: 0px;
                content: "“";
                font-size: 2rem;
            }
            &::after {
                position: absolute;
                bottom: 0px;
                content: "”";
                font-size: 2rem;
            }
        }
    }
}
