.stockist--locations{
    h2{
        margin: 0px;
        padding: 0px;
    }
    .stockist-locations-row{
        border-bottom: 1px $primary-color solid;
        padding: 3rem 0;
        h3{
            margin: 0px;
            padding: 0px;
        }
        .btn-set--left{
            position: relative;
            z-index: 1;
            .secondary-outline--btn {

                &::after{
                    background-color: $secondary-color;
                }
                &:hover{
                    &::after{
                        background-color: $primary-color;
                        border: 1px $primary-color solid;
                    }  
                }
              }   
                
        }
        img{
            width: 100%;
            display: block;
        }
        .location-icon{
            width: 5%;
            @include breakpoint(mobile_portrait){
                display: none;
            }
        }
        .stockist-logo{
            width: 27%;
            padding-left: 3%;
            @include breakpoint(ipad_landscape){
                width: 23%;
                padding-left: 3%;
            }
            @include breakpoint(ipad_portrait){
                width: 21%;
                padding-left: 2%;
            }
            @include breakpoint(mobile_portrait){
                width: 100%;
                padding-left: 0%;
            }
        }
        .stockist-content{
            width: 45%;
            padding-left: 5%;
            @include breakpoint(ipad_landscape){
                width: 44%;
                padding-left: 4%;
            }
            @include breakpoint(ipad_portrait){
                width: 41%;
                padding-left: 3%;
            }
            @include breakpoint(mobile_landscape){
                width: 68%;
                padding-left: 5%;
            }
            @include breakpoint(mobile_portrait){
                width: 100%;
                padding-left: 0%;
                margin: 1.5rem 0;
            }
        }
        .stockist-btn{
            width:23%;
            padding-left: 5%;
            @include breakpoint(ipad_landscape){
                width: 27%;
                padding-left: 4%;
            }
            @include breakpoint(ipad_portrait){
                width: 31%;
                padding-left: 0;
            }
            @include breakpoint(mobile_landscape){
                width: 46%;
                padding-left: 0;
                margin-left: 37%;
            }
            @include breakpoint(mobile_portrait){
                width: 100%;
                padding-left: 0%;
            }
        }
    }
}