.where-to-buy--section{
    .where-to-buy-hd{
        padding: 1rem 2.5rem;
        align-items: center;
        color: $white;
        display: inline-flex;
        width: auto;
        margin: 0px;
        position: relative;
        z-index: 1;
        @include breakpoint(mobile){
            width: 300px;
            padding: 1rem 2rem;
        }
        i {
            width: 2.8rem;
            margin-right: 1.5rem;
            display: inline-block;
            vertical-align: middle;
            @include breakpoint(ipad_landscape){
                width: 3rem;
            }
            @include breakpoint(ipad_portrait){
                width: 2.5rem;
            }
            @include breakpoint(mobile){
                width: 2rem;
                margin-right: 1rem;
            }
    
            img {
                width: 100%;
                display: block;
            }
        }
        span{
            display: inline-block;
            vertical-align: middle;  
        }
    
        &.skew-shap {
            &::after {
                background-color: $secondary-color;
            }
        }
    }
    .where-to-buy--content{
       padding: 0rem 5rem 0 5rem;
        color: $white;
        display: flex;
        align-items: center;
        height: 82%;
        @media (min-width: 1025px) and (max-width: 1279px) {
            padding:2rem 3rem 4rem 0rem;
        }
        @include breakpoint(ipad_landscape){
            padding: 0rem 3rem 0rem 0rem;
            height: 77%;
        }
        @include breakpoint(ipad_portrait){
            padding: 3rem 3rem 3rem 0rem;
            height: 77%;
        }
        @include breakpoint(mobile_landscape){
            padding: 3rem 1rem 3rem 0;
            text-align: left;
        }
        @include breakpoint(mobile_portrait){
            padding: $main-pd-sm 0;
            text-align: left;
        }

    }
    .desc--box{
        margin-bottom: 3rem;
        line-height: $line-height;
    }
    .btn-set--left{
        position: relative;
        z-index: 1;
    }
    .where-to-buy--left{
        width: 60%;
      
        @include breakpoint(mobile_portrait){
            width: 100%;
            text-align: center;
        }
    }
    .where-to-buy--map{
        width: 40%;
        padding: 2rem 0;
        
        img{
            display: block;
            max-width: 100%;
        }
       
        @include breakpoint(mobile_portrait){
            width: 300px;
            padding: 1rem 0 3rem 0;
            margin: auto;
        }
    }
    .container-sm-pd-lr {
        @media (min-width: 1025px) and (max-width: 1279px) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
        
    }
}