/**
 * ----------------------
 * Blooberry Design
 * Molecules - Pullout entity
 * ----------------------
 */

&__pullout {
  background-color: $c-green;
  padding: $bump * 2 0;
  margin: 0;
  color: $c-white;

  @include media('<lg') {
    padding: $bump * 1.5 0;
  }

  @include media('<sm') {
    padding: $bump 0;
  }
}

.m-pullout {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: start;
  gap: $bump;

  @include media('<sm') {
    gap: $bump/2;
  }

  @include media('<xs') {
    grid-template-columns: 50px 1fr;
  }

  &.noimg {
    grid-template-columns: 1fr;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h2 {
      color: $c-white;
    }

    .a-btn {
      align-self: flex-end;
    }
  }
}
