/**
 * ----------------------
 * Blooberry Design
 * Molecules - Page links
 * ----------------------
 */

&__page-links {
  background-color: $c-grey;
  padding: $bump * 2 0;
  margin-bottom: 0;

  @include media('<lg') {
    padding: $bump * 1.5 0;
  }

  @include media('<sm') {
    padding: $bump 0;
  }
}

.m-page-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: $bump;

  @include media('<lg') {
    gap: $bump/2;
  }

  @include media('<md') {
    grid-template-columns: 1fr 1fr;
  }

  @include media('<xs') {
    grid-template-columns: 1fr;
  }

  &__link {
    padding: $bump/2;
    background-color: $c-white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 4px solid $c-lt-blue;
    color: $c-primary;

    img {
      width: 100%;
      height: auto;
      display: block;
      margin-bottom: $bump/2;
    }

    &-button {
      @include btn;
      align-self: flex-end;
      transition: 0.15s $easing;
      margin-top: auto;
    }

    &:hover {
      border-bottom-color: $c-blue;

      img {
        opacity: 0.7;
      }

      .m-page-links__link-button {
        @include btn-hover;
      }
    }
  }
}
