/**
 * ----------------------
 * Blooberry Design
 * Molecules - Gallery
 * ----------------------
 */

@mixin tilted($angle, $color, $position: 'top', $pseudo: 'before') {
  position: relative;
  background-color: $color;

  &::#{$pseudo} {
    content: '';
    padding-top: 105px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

    @include media('<sm') {
      padding-top: 35px;
    }

    @include media('<xs') {
      padding-top: 40px;
    }

    @if ($position == 'top') {
      bottom: 100%;
      background-image: linear-gradient($angle, $color calc(50% - 1px), transparent 50%);
    } @else {
      top: 100%;
      background-image: linear-gradient($angle, transparent calc(50% - 1px), $color 50%);
    }
  }
}

&__gallery {
  @include tilted(2.5deg, $c-grey);
  margin-top: $bump * 4;
  padding: 0 0 $bump * 2;

  @include media('<sm') {
    padding-bottom: $bump / 2;
    margin-top: $bump * 2;
  }

  @include media('<xs') {
    @include tilted(4deg, $c-grey);
  }
}

&__gallery,
&__gallery-sm {
  &-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $bump;
    margin-top: $bump;

    @include media('<sm') {
      grid-template-columns: 1fr 1fr;
      gap: $bump/2;
    }

    @include ie {
      display: flex;
      flex-wrap: wrap;

      & > a {
        width: calc(33.3333% - 30px);
        margin: 0 $bump $bump 0;
      }
    }
  }

  a {
    @include link-reset;

    &:hover {
      opacity: 0.7;
    }
  }

  img {
    display: block;
    margin-bottom: 0;
  }
}
