/**
 * ----------------------
 * Blooberry Design
 * Molecules - Forms
 * ----------------------
 */

&__form {
  .gform_heading {
    display: none;
  }

  .gform_body {
    ul {
      @include li-reset;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      li {
        margin-bottom: $bump/2;
        width: 100%;
      }
    }
  }

  .gform_footer {
    justify-content: flex-start;
  }

  .ginput_complex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: $bump/2;

    span {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
