/**
 * ----------------------
 * Blooberry Design
 * Molecules - Forms
 * ----------------------
 */

input,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='submit'],
textarea,
select {
  @include font-body;
  color: $c-primary;
  resize: none;
  padding: $bump/2 $bump/2 $bump/2.5;
  -webkit-border-radius: 0px;
  border-radius: 0;
  outline: 0;
  border: 1px solid $c-primary;
  transition: all 0.2s $easing;
  background-color: $c-white;
  min-width: 50%;

  &:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px $c-green;
  }
}

textarea {
  width: 100%;
}

label {
  margin-bottom: $bump/4;
  display: inline-block;
}

input[type='search'],
input[type='text'],
input[type='submit'] {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: $c-primary;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $c-primary;
  opacity: 1;
}

::placeholder {
  color: $c-primary;
  opacity: 1;
}

input[type='submit'] {
  @include btn;
  @include btn-wide;
  min-width: 0;

  @include ie {
    min-width: 150px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &:hover {
    @include btn-hover;
  }
}

// Checkboxes
[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='checkbox']:checked + label,
[type='checkbox']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
[type='checkbox']:checked + label:before,
[type='checkbox']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: $c-white;
  border: 2px solid $c-lt-blue;
}
[type='checkbox']:checked + label:after,
[type='checkbox']:not(:checked) + label:after {
  content: '\2714\0020';
  color: $c-primary;
  position: absolute;
  top: 1px;
  left: 6px;
  transition: all 0.2s $easing;
  font-size: 0.7em;
}
[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type='checkbox']:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

// Radios
[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: $c-primary;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid $c-primary;
  border-radius: 100%;
  background-color: $c-white;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: $c-primary;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  transition: all 0.2s $easing;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/*
 * Gravity forms
 */
.gform_wrapper {
  img {
    display: block;
    width: $bump !important;
    height: $bump !important;
    margin-left: $bump/2;
  }
}
.gform_fields {
  @include li-reset;

  input[type='text'] {
    width: 100%;
  }

  li {
    margin-bottom: $bump;
  }
}

// Honeypot
.gform_validation_container,
.gform_hidden {
  display: none;
}

// Submit
.gform_footer {
  display: flex;
  justify-content: flex-end;

  @include media('<sm') {
    justify-content: stretch;

    input {
      width: 100%;
    }
  }
}

.ginput_recaptcha {
  margin-top: -$bump;
}
