/**
 * ----------------------
 * Blooberry Design
 * Molecules - Image & Text
 * ----------------------
 */

.m-img-text {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: $bump;
  align-items: center;

  @include media('<sm') {
    grid-template-columns: 1fr;
    gap: $bump/1.5;
  }

  @include ie {
    & > * {
      align-self: center;
    }

    &__copy {
      -ms-grid-column: 2;
      padding-left: $bump;
    }
  }

  &__link {
    border: 0;
    padding: 0;

    &:hover {
      opacity: 0.7;
    }
  }
}
