/**
 * ----------------------
 * Blooberry Design
 * Molecules - Post info
 * ----------------------
 */

.m-post-info {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: $bump/2;

  @include media('<md') {
    grid-template-columns: 1fr;
  }

  @include ie {
    display: flex;
    flex-wrap: wrap;
  }

  p {
    margin: 0;
  }

  &__author {
    border-left: 2px solid $c-primary;
    padding-left: $bump/2;

    @include media('<xs') {
      padding-left: 0;
      border: 0;
    }

    @include ie {
      margin-left: $bump/2 !important;
    }
  }

  &__cats {
    grid-column: 1 / 3;

    @include media('<xs') {
      grid-column: 1;
    }
  }
}
