/**
 * ----------------------
 * Blooberry Design
 * Molecules - Meet the Team
 * ----------------------
 */

.m-team {
  background-color: $c-lt-grey;
  padding: $bump * 2.5 0 0;

  @include media('<sm') {
    padding: $bump * 1.5 0;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: $bump;

    @include media('<1500px') {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include media('<md') {
      grid-template-columns: 1fr 1fr;
    }

    @include media('<sm') {
      grid-template-columns: 1fr;
    }
  }

  &__member {
    position: relative;
    cursor: help;
    // overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &-content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      color: $c-white;
      padding: $bump/1.5;
      overflow: hidden;
    }

    &-info {
      h3 {
        color: inherit;
        margin-bottom: 0;
      }
      .role {
        display: inline-block;
        @include font-bold;
      }
    }

    &-bio {
      transition: 0.2s ease-in-out;
      max-height: 0;

      @include ie {
        width: 100%;
      }

      p {
        opacity: 0;
        transition: 0.4s ease-in-out;

        &:first-of-type {
          margin-top: $bump/2;
        }

        &:last-child {
          margin-bottom: $bump;
        }
      }
    }

    &:focus,
    &:hover {
      .m-team__member-bio {
        max-height: 500px;

        p {
          opacity: 1;
        }
      }
    }
  }
}
