.contact__page{
    padding: 120px 15px 50px 15px;
    @include breakpoint(iPad){
        padding: 90px 15px 0px 15px;
    }
    .custom-row{
        @include breakpoint(mobile){
            flex-wrap: wrap;
        }
    }
    .contact_left{
        width: 57%;
        float: left;
        @include breakpoint(mobile){
            width: 100%;
            float: none;
        }
        @include breakpoint(iPad){
            width: 100%;
            float: none;
        }
    }
    .contact_right{
        width: 38%;
        float: right;
        padding: 25px 0 0 0;
        @include breakpoint(mobile){
            width: 100%;
            margin-left: 0;
            margin-bottom: 30px;
            float: none;
        }
        @include breakpoint(iPad){
            width: 100%;
            float: none;
            margin-bottom: 30px;
        }
        h2 {
            margin: 0 0 10px;
            padding: 0 ;
            font-family: 'Montserrat', sans-serif;
            color: $cyan-color;
            font-size: $font-size-h2;
            font-weight: 600;
            display: none;
        }
        .contact_info{
            color: $cyan-color;
            font-size: 20px;
            p{
                &:last-child{
                    margin-bottom: 0px;
                }
            }
            a{
                color: $cyan-color;
                font-size: 20px; 
                &:hover{
                    color: $lemon;
                }   
            }
        }
    }
    .submit-input-group{
        justify-content: flex-end;
        @include breakpoint(mobile){
           flex-wrap: wrap;
        }
    }
}
.wpcf7-list-item{
    margin-left: 0px;
    font-size: 14px;
    a{
        font-size: 12px;
        color: #29383D !important;
        font-weight: 600;
    }
    
}