.custom_pages{
    margin-top: -72px;
}
.search-page--list{
    padding: 2.5rem;
    @include breakpoint(mobile_portrait){
        padding: 1.5rem 0;
    }
    .search-page--hd{
        margin-bottom: 2.5rem;
        @include breakpoint(mobile_portrait){
            margin-bottom: 1.5rem;
        }
        h1{
            color: #29383D;
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            position: relative;
            font-size: 26px;
            margin: 0;
            padding:0;
        }
      
    }
    .search-list{
        border-top:1px #c4c4c4 solid;
        padding: 1.7rem 0;
        
        .search-result-hd{
            margin-bottom: 0.5rem;
            h3{
                margin: 0px;
                padding: 0px;
                color: $OxfordBlue;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                a{
                    display: block;
                    color: $OxfordBlue;
                }
            }
        }

        .search-result-content{
            display: flex;
            flex-wrap: wrap;
            
            .search-result-content-txt{
                width: calc(70%);
                padding-right: 1rem;
                @include breakpoint(mobile_portrait){
                    width: calc(100%);
                    padding-right: 0rem;
                }
                p{
                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
            }
            .search-result-content-btn{
                width: 128px;
                margin-left: auto;
                @include breakpoint(mobile_portrait){
                    width: calc(100%);
                    margin-left: 0;
                    margin-top: 1.7rem;
                }
            }
        }
    }
}
