.product_list__page{
    padding: 20px 0 0 0;
    .custom-row{
        @include breakpoint(mobile_portrait) {
            flex-wrap: wrap;
        }    
    }
}
.page_content{
    position: relative;
    z-index: 2;
    padding-top: 30px;
    @include breakpoint(mobile_portrait) {
        padding-top: 15px;
    }
    .feedback_box{
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
        @include breakpoint(mobile_portrait) {
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
        }
        @include breakpoint(mobile_landscape) {
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}