{% if content_row.icons_row %}

	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' light-gray-bg'%}
	{% endif %}

	<section class="expertise-section{{color_bg_class}}">
		<div class="container-md">
			{% if content_row.heading or content_row.content  %}
				<div class="section-hd">
					{% if content_row.heading %}
						<h2>{{content_row.heading}}</h2>
					{% endif %}

					{% if content_row.content %}
						<div class="desc--box">
							{{content_row.content}}
						</div>
					{% endif %}
				</div>
			{% endif %}

			<div class="expertise-section-content icons-text-link custom-row ">
				{% for expertise in content_row.icons_row %}
					<div class="expertise-box expertise-card expertise-btn-{% if expertise.cta %}yes{% else %}no{% endif %}">
						<div class="expertise-icon">
							<img src="{{expertise.icon.url}}" alt="{{expertise.title}}"/>
						</div>
						<div class="expertise-content">
							<h5 class="text-uppercase">{{expertise.heading}}</h5>
							<div class="desc--box">
								{{expertise.content}}
							</div>
						</div>
						{% if expertise.cta %}
						<div class="expertise-btn">
							<a href="{{expertise.cta.url}}" target="{{expertise.cta.target}}" class="secondary-btn">Learn more</a>
						</div>
						{% endif %}

					</div>
				{% endfor %}


			</div>
		</div>
	</section>
{% endif %}
