{% if content_row.image and content_row.content %} 
<section class="our-latest-project image-text-section image-text-section-content-left">
	<div class="image-text-section-in">
	<div class="image-text-sec-img" style="background-image:url({{ TimberImage(content_row.image).src('hero-slider') }}) ;"></div>
	<div class="image-text-content-section">
	    <div class="container-sm">
		<div class="image-text-content-box">
			<div class="section-hd">
			<h2>{{content_row.title}}</h2> 
			</div>
		<div class="desc--box"> {{content_row.content}} </div>
		
			<div class="btn-set--left download-btn"> 
			 {% if content_row.cta %}<a href="{{content_row.cta.url}}" target="{{content_row.cta.target}}" class="primary-outline-btn">find out more</a>
              {% endif %} 
              <a href="{{site.link}}/projects" class="primary-outline-btn">see all projects</a>
			</div> 
		
	    </div></div>
	</div>
	</div>
</section> 
{% endif %}