{% if content_row.popup_content_list %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' light-gray-bg'%}
	{% endif %}

	<section class="popup-content-list{{color_bg_class}}">
		<div class="container-md">
			<div class="team-popups">
			
				<ul id="popups" class="listing four-col popups">

					{% for popup_content in content_row.popup_content_list %}
						{% set  popup_post= popup_content.page_item %}
						<li class="popup matchHeight">
							<a href="#" title="{{popup_post.title}}" class="open" target="_blank">
								<div class="profile-picture">
									<img typeof="foaf:Image" src="{{TimberImage(popup_post.get_field('profile_pic')).src('download-thumb')}}" alt="{{popup_post.profile_pic.alt}}">
								</div>

								<h3>{{popup_post.title}}</h3>
								<div class="profile-role">{{popup_post.get_field('profile_role')}}</div>
							</a>
							<div id="popup-{{loop.index}}" class="full" style="display: none;">
								<div class="profile-pic-full">
								{% if popup_post.popup_image %}
									<img typeof="foaf:Image" src="{{TimberImage(popup_post.popup_image).src('download-thumb')}}" alt="{{popup_post.popup_image.alt}}">
								{% else %}
									<img typeof="foaf:Image" src="{{TimberImage(popup_post.profile_pic).src('download-thumb')}}" alt="{{popup_post.profile_pic.alt}}">
								{% endif %}	
								</div>
								<div class="content">
									<h3>{{popup_post.title}}</h3>
									<a href="#close" title="Close" class="popup-close">X</a>
									<div class="profile-role">{{popup_post.profile_role}}</div>
									<div class="profie-desc">
										{{popup_post.content}}
									</div>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>

			</div>
		</div>
	</section>
{% endif %}