{% if content_row.background_color !='' and content_row.background_color %}
	{% set color_bg_class = " "~content_row.background_color~"-bg" %}
{% else %}
	{% set color_bg_class = ' white-bg'%}
{% endif %}
<section class="spacer{{color_bg_class}}">
	<div class="spacer-container" style="padding:{{content_row.padding}};clear:both;">&nbsp</div>
</section>
