{% if content_row.image and content_row.content %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = ' '~content_row.background_color~'-bg' %}
	{% else %}
		{% set color_bg_class = ' white-bg'%}
	{% endif %}

	{% if content_row.image_position =='left' %}
		{% set image_position_class = ' image-text-flex-row-left'%}
	{% else %}
		{% set image_position_class = ' image-text-flex-row-right '%}
	{% endif %}

	<section class="download-section{{color_bg_class}}">
		<div class="container-md">
			<div class="image-text-flex-row {{image_position_class}}">
				<div class="image-card image-card-50">
					<img src="{{ TimberImage(content_row.image).src('block-image-text-bullets-download') }}" alt=""/>
				</div>
				<div class="content-card content-card-50">
				  <div class="content-card-inner download-btn-{% if content_row.cta or content_row.download_file %}yes{% else %}no{% endif %}">
				    <h2>{{content_row.title}}</h2>
					<div class="desc--box">
						{{content_row.content}}
					</div>
					<div class="btn-set--left download-btn">
						{% if content_row.cta %}
							<a href="{{content_row.cta.url}}" target="{{content_row.cta.target}}" class="secondary-btn">{{content_row.cta.title}}</a>
						{% endif %}
						{% if content_row.download_file %}
							<a href="{{content_row.download_file.url}}" class="{{getButtonClass(color_bg_class,'secondary-btn')}} download-icon-btn" download="{{content_row.download_file.title}}">{{content_row.download_title}}
							 <i></i>
							</a>
						{% endif %}
					</div>
				  </div>
					
				</div>

			</div>
		</div>
	</section>
{% endif %}
