{% if content_row.content_list_alternate_row %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' primary-bg'%}
	{% endif %}

	<section class="article-section{{color_bg_class}}">
		<div class="container-md">
			{% for article_list in content_row.content_list_alternate_row %}
				<div class="image-text-flex-row image-text-flex-row-{% if loop.index%2==0 %}left{% else %}right{% endif %}">
					<div class="image-card image-card-50">
						<img src="{{ TimberImage(article_list.image).src('block-content-list-alternate') }}" alt="{{article_list.image.alt}}"/>
					</div>
					<div class="content-card content-card-50">
						<div class="content-card-inner download-btn-{% if article_list.download_file or article_list.cta %}yes{% else %}no{% endif %}">
							<h2>{{article_list.title}}</h2>
							{% if article_list.content %}

								<div class="desc--box">
									{{article_list.content}}
								</div>
							{% endif %}
							
							{% if article_list.download_file or article_list.cta %}
								<div class="btn-set--left">
									{% if article_list.cta %}
										<div class="btn-cta">
											<a href="{{article_list.cta.url}}" target="{{article_list.cta.target}}" class="{{getButtonClass(color_bg_class,'secondary-btn')}}">{{article_list.cta.title}}</a>
											&nbsp;
										</div>
									{% endif %}

									{% if article_list.download_file %}
										<div class="btn-download-file">
											<a href="{{article_list.download_file.url}}" class="{{getButtonClass(color_bg_class,'secondary-btn')}} download-icon-btn" download="{{article_list.download_file.name}}">{{article_list.download_title?article_list.download_title:article_list.download_file.title}}
											<i></i>
											</a>
										</div>
									{% endif %}
								</div>
							{% endif %}

						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endif %}