{% if content_row.downloads %}

	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ''%}
	{% endif %}

	<section class="download-row-section{{color_bg_class}}">
		<div class="container-md">
			{% if content_row.heading or content_row.content %}
				<div class="section-hd">
					<h2>{{content_row.heading}}</h2>
					<div class="desc--box">
						{{content_row.content}}
					</div>
				</div>
			{% endif %}

			<div class="download-row-content">
				<div class="custom-row">
					{% for download in content_row.downloads %}
						{% if download.download_file %}
							<div class="download-row-box">
								<div class="download-row-img">
									<img src="{{ TimberImage(download.download_poster).src('download-thumb') }}" alt="{{ download.download_poster.alt }}">
								</div>
								<div class="download-row-box-content">
									<div class="btn-set--left download-btn">
										<a href="{{download.download_file.url}}" class="secondary-btn download-icon-btn" download="{{download.download_file.name}}">{{download.download_file_title}}
										 <i></i>
										</a>
									</div>
								</div>
							</div>
						{% endif %}

					{% endfor %}

				</div>
			</div>
		</div>
	</section>
{% endif %}
