{% if content_row.contact_form %} {% if content_row.background_color !='' and content_row.background_color %} {% set color_bg_class = " "~content_row.background_color~"-bg" %} {% else %} {% set color_bg_class = ' secondary-bg'%} {% endif %}
<section class="get-in-touch-section{{color_bg_class}}">
	<div class="container-md">
		<div class="custom-row">
			<div class="contact-left">
				<div class="desc--text">
					<p>{{content_row.content}}</p>
				</div>
				<div class="contact-left-info-icon">
				  {% include "partial/content/block-info-with-icon.twig"%}
				</div>
				<div class="contact-social-media-icon">
				  <strong>follow us on social:</strong>
					<ul class="social-media-icon">
						<li>
							<a class="facebook" href="{{contact_post.get_field('facebook')}}"></a>
						</li>
						<li>
							<a class="instagram" href="{{contact_post.get_field('instagram')}}"></a>
						</li>
						<li>
							<a class="linkedin" href="{{contact_post.get_field('linkedin')}}"></a>
						</li>
						<li>
							<a class="twitter" href="{{contact_post.get_field('twitter')}}"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="contact-right">
				<div class="get-in-touch-form"> {{ function('do_shortcode', '[contact-form-7 id="'~ content_row.contact_form.ID~'" title="Contact form 1"]') }} </div>
			</div>
		</div>
	</div>
</section> {% endif %}