{% if content_row.linkable_icons_row %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' light-gray-bg'%}
	{% endif %}

	<section class="external-link-section{{color_bg_class}}">
		<div class="container-md">
			{% if content_row.heading or content_row.content %}
				<div class="section-hd">
					<h2>{{content_row.heading}}</h2>
					<div class="desc--box">
						{{content_row.content}}
					</div>
				</div>
			{% endif %}
			<div class="external-link-section-content">
				<div class="custom-row">

					{% for external_content in content_row.linkable_icons_row %}

						<div class="external-link-box">
							<div class="external-link-image matchHeight">
								{% if external_content.external_cta %}
									<a href="{{external_content.external_cta}}" target="_blank">
										<img src="{{ TimberImage(external_content.image).src('linkable-icon-thumb1') }}" alt="{{ external_content.image.alt }}">
									</a>
								{% else %}
									<a href="javascript:void()">
										<img src="{{ TimberImage(external_content.image).src('linkable-icon-thumb1') }}" alt="{{ external_content.image.alt }}">
									</a>
								{% endif %}
							</div>
							<div class="external-link-content">
								<h3>{{external_content.title}}</h3>
								<div class="desc--box">
									{{external_content.content}}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endif %}