{% if content_row.show_services %}
	<section class="our-service-section drak-gray-bg {{post.type=='service'?'other-service-x3':'' }}">
		<div class="container">
			<div class="section-hd">
				<h2 class="title">{{content_row.services_title}}</h2>
			</div>
		</div>
		<div class="our-service-block">
			{% for service_item in getServices(post.id) %}
				<div class="our-service-block-box">
					<div class="our-service-block-box-img">
					   {% if post.type == "page" %}
							<picture class="a"> 
							<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(service_item.post_thumbnail_image).src('services-img-mobile-land') }}" />
							<source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(service_item.post_thumbnail_image).src('services-img-mobile-land') }}" />
							   <img src="{{ TimberImage(service_item.post_thumbnail_image).src('services-img') }}" alt="{{ service_item.post_thumbnail_image.alt }}"/>
							</picture>
                       {% endif %}
					   {% if post.type == "service" %}
							<picture  class="b">
							<source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(service_item.post_thumbnail_image).src('services-other-img-mobile-land') }}" />
							  <source media="(min-width:568px) and (max-width:767px)" srcset="{{ TimberImage(service_item.post_thumbnail_image).src('services-other-img-mobile-land') }}" />
							  <img  src="{{ TimberImage(service_item.post_thumbnail_image).src('services-other-img') }}" alt="{{ service_item.post_thumbnail_image.alt }}"/>
							</picture>
						{% endif %}
                       
					</div>
					<div class="our-service-block-box-content">
						<h4 class="uppercase">{{service_item.service_title?service_item.service_title|upper:service_item.title|upper}}</h4>
						<div class="our-service-block-box-content-in"> <a href="{{service_item.link}}" class="white-outline-btn">find out more</a> </div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endif %}