
<ul class="contact-info-icon">
	<li>
		<a href="tel:{{contact_post.get_field('telephone')}}" class="btn btn-primary">{{contact_post.get_field('telephone')}}</a>
	</li>
	<li>
		<a href="mailto:{{contact_post.get_field('email')}}" class="btn btn-primary">{{contact_post.get_field('email')}}</a>
	</li>
</ul>