{% if content_row.page_list_alternate_row %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' white-bg'%}
	{% endif %}

	<section class="page-list-alternate sm-image-text-section{{color_bg_class}}">
		<div class="container-sm">
			<div class="section-hd">
				{% if content_row.heading %}
					<h2>{{content_row.heading}}</h2>
				{% endif %}

				{% if content_row.content %}
					<div class="desc--box">
						{{content_row.content}}
					</div>
				{% endif %}
			</div>

			{% for page_list in content_row.page_list_alternate_row %}
				<div class="sm-image-text-section-content custom-row sm-image-text-section-content-{% if loop.index%2==0 %}right{% else %}left{% endif %}">
					<div class="sm-image-text-sec-img">
						<img src="{{page_list.image.url}}" alt="{{page_list.title}}"/>
					</div>
					<div class="sm-image-text-sec-content">
						<h2>{{page_list.title}}</h2>
						<div class="desc--box">
								{% if page_list.content %}
									{{page_list.content}}
								{% endif %}
						</div>
						{% if page_list.cta %}
							<div class="btn-set--left">
								<a href="{{page_list.cta.url}}" class="secondary-btn" target="{{page_list.cta.target}}">{{page_list.cta.title}}</a>
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endif %}