<div class="company-directory-section">
    <div class="width-no">
        <div class="monument-park-section"><strong>More than 80 businesses employing over 600 people have chosen
                Monument Park as their favourite place to do business. From crafts through
                to manufacturing, consulting and engineering, take a look around.</strong><a class="fancybox-img" href="https://jennings.oxypay.in/wp-content/uploads/2022/08/cd1.jpeg" target="_blank" rel="noopener"><img src="https://jennings.oxypay.in/wp-content/uploads/2022/08/cd1.jpeg" alt="" /></a>
            <div class="row clearfix monument-park-top">
                <div class="col-sm-6">
                    <ul>
                        <li><em>1a</em> <a href="http://www.jennings.co.uk/contact" target="_blank" rel="noopener">VACANT - Contact Sarah</a></li>
                        <li><em>1b</em> <a href="http://www.technicaldesignsolutions.co.uk/" target="_blank" rel="noopener">Technical Design Solutions</a></li>
                        <li><em>1c</em> Barbela Designs</li>
                        <li><em>1d</em> <a href="http://www.jennings.co.uk/contact" target="_blank" rel="noopener">VACANT - Contact Sarah</a></li>
                        <li><em>1e</em> <a href="http://buckproject.org" target="_blank" rel="noopener">The Buck Project Ltd</a></li>
                        <li><em>2</em> <a href="https://www.oxgins.co.uk/" target="_blank" rel="noopener">Chalgrove Artisan Distillery</a></li>
                        <li><em>3</em> <a href="http://www.whiterabbitpizza.co.uk/" target="_blank" rel="noopener">White Rabbit Pizza Company</a></li>
                        <li><em>4</em> <a href="http://pikehaven.uk/" target="_blank" rel="noopener">Pikehaven Ltd</a></li>
                        <li><em>5</em> <a href="http://www.maisonwhite.co.uk" target="_blank" rel="noopener">MW Enterprises</a></li>
                        <li><em>6</em> <a href="http://www.johnhillfoods.co.uk/" target="_blank" rel="noopener">John Hill Foods Ltd</a></li>
                        <li><em>7</em> <a href="https://www.ashgate.co.uk/" target="_blank" rel="noopener">Ashgate Automation Ltd</a></li>
                        <li><em>8</em> <a href="https://www.ashgate.co.uk/" target="_blank" rel="noopener">Ashgate Automation Ltd</a></li>
                        <li><em>8a</em> <a href="https://brancatoengineering.webs.com/" target="_blank" rel="noopener">Brancato Engineering</a></li>
                        <li><em>9</em> <a href="http://greenscatering.co.uk/" target="_blank" rel="noopener">Greens Catering</a></li>
                        <li><em>10</em> <a href="http://greenscatering.co.uk/" target="_blank" rel="noopener">Greens Catering</a></li>
                        <li><em>11</em> Occupied</li>
                        <li><em>12</em> <a href="http://www.lickmeimdelicious.com/" target="_blank" rel="noopener">Lick Me I’m Delicious</a></li>
                        <li><em>13</em> <a href="https://www.benscookies.com/" target="_blank" rel="noopener">HCL Global Supply/Ben’s Cookies</a></li>
                        <li><em>14</em> <a href="https://www.benscookies.com/" target="_blank" rel="noopener">HCL Global Supply/Ben’s Cookies</a></li>
                        <li><em>15</em> <a href="https://www.benscookies.com/" target="_blank" rel="noopener">HCL Global Supply/Ben’s Cookies</a></li>
                        <li><em>16</em> <a href="https://www.benscookies.com/" target="_blank" rel="noopener">HCL Global Supply/Ben’s Cookies</a></li>
                        <li><em>17</em> <a href="http://www.image-science.com/" target="_blank" rel="noopener">Image Science Ltd</a></li>
                        <li><em>18</em> <a href="http://www.whiterabbitpizza.co.uk/" target="_blank" rel="noopener">White Rabbit Pizza Company</a></li>
                        <li><em>19</em> <a href="http://www.whiterabbitpizza.co.uk/" target="_blank" rel="noopener">White Rabbit Pizza Company</a></li>
                        <li><em>20</em> <a href="http://www.whiterabbitpizza.co.uk/" target="_blank" rel="noopener">White Rabbit Pizza Company</a></li>
                        <li><em>21a</em> <a href="https://www.fallowandfields.com/">Fallow &amp; Fields Events Group Ltd</a></li>
                        <li><em>21b</em> <a href="https://www.aerospaceintl.com/" target="_blank" rel="noopener">Aerospace Support International</a></li>
                        <li><em>22a</em> <a href="https://www.catherinecharles.co.uk/">Room for Ideas</a></li>
                        <li><em>22b</em> <a href="http://www.vorticity-systems.com/" target="_blank" rel="noopener">Vorticity Ltd</a></li>
                        <li><em>23a</em> Harvey Batten (Building Services) Ltd</li>
                        <li><em>23b</em> <a href="http://www.solosupplies.co.uk/" target="_blank" rel="noopener">Solo Supplies Ltd</a></li>
                        <li><em>24a</em> <a href="https://www.ashgate.co.uk/" target="_blank" rel="noopener">Ashgate Automation Ltd</a></li>
                        <li><em>24b</em> <a href="https://www.facebook.com/crimsonblue.oxford" target="_blank" rel="noopener">Crimson-Blue Upholstery</a></li>
                        <li><em>25/26</em> <a href="http://whiterabbitpizza.co.uk" target="_blank" rel="noopener">White Rabbit Pizza Company</a></li>
                        <li><em>27</em> <a href="http://www.museumselection.co.uk/" target="_blank" rel="noopener">Museum Selection Ltd</a></li>
                        <li><em>28 </em><a href="https://ox365.co.uk/">OX365 IT Solutions Ltd</a></li>
                        <li><em>29</em> <a href="http://www.museumselection.co.uk/" target="_blank" rel="noopener">Museum Selection Ltd</a> &amp; <a href="http://www.piajewellery.com/" target="_blank" rel="noopener">Pia Jewellery</a></li>
                        <li><em>30</em> <a href="http://www.museumselection.co.uk/" target="_blank" rel="noopener">Museum Selection Ltd</a> &amp; <a href="http://www.piajewellery.com/" target="_blank" rel="noopener">Pia Jewellery</a></li>
                        <li><em>31/32</em> <a href="https://www.benscookies.com/" target="_blank" rel="noopener">HCL Global Supply/Ben’s Cookies</a></li>
                        <li><em>33</em> <a href="http://www.supremesausages.co.uk/" target="_blank" rel="noopener">Supreme Sausages Ltd</a></li>
                        <li><em>34a</em> <a href="http://contraxfurniture.com/" target="_blank" rel="noopener">Contrax Furniture Ltd</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li><em>34b</em> <a href="http://contraxfurniture.com/" target="_blank" rel="noopener">Contrax Furniture Ltd</a></li>
                        <li><em>35a</em> <a href="https://e3d-online.com/" target="_blank" rel="noopener">E3D Online Ltd</a></li>
                        <li><em>35b</em> <a href="https://www.benscookies.com/" target="_blank" rel="noopener">HCL Global Supply/Ben’s Cookies</a></li>
                        <li><em>37a</em> <a href="http://www.jennings.co.uk/contact" target="_blank" rel="noopener">E</a><a href="https://www.energymyway.co.uk/" target="_blank" rel="noopener">nergy My Way</a></li>
                        <li><em>37b1</em> <a href="http://www.fma-systems.com/" target="_blank" rel="noopener">FMA Systems Ltd</a></li>
                        <li><em>37b2</em> <a href="https://www.hartbeeps.com/oxfordshire-west-abingdon-didcot-wantage/classes" target="_blank" rel="noopener">Hartbeeps Oxfordshire</a></li>
                        <li><em>37d</em> <a href="http://www.richardrileyassociates.co.uk/" target="_blank" rel="noopener">Richard Riley and Associates</a></li>
                        <li><em>37e </em><a href="http://www.thepicnichamper.co.uk/" target="_blank" rel="noopener">Picnic Hamper Ltd</a></li>
                        <li><em>37f</em> Oxford Company Management Ltd</li>
                        <li><em>37g</em> <a href="http://www.vmtraveller.co.uk/" target="_blank" rel="noopener">V &amp; M Traveller Ltd</a></li>
                        <li><em>37h</em> I Healthcare Ltd</li>
                        <li><em>37i</em> Monument Pools</li>
                        <li><em>42</em> <a href="https://www.capcoder.com/" target="_blank" rel="noopener">Cap Coder Ltd</a></li>
                        <li><em>43</em> <a href="http://www.renelec.com/about-renelec-chalgrove" target="_blank" rel="noopener">Renelec Chalgrove Ltd</a></li>
                        <li><em>44</em> <a href="http://www.enprojects.com/" target="_blank" rel="noopener">Smith Whitty International Con Ltd</a></li>
                        <li><em>45</em> <a href="http://www.carltonthermal.com/" target="_blank" rel="noopener">Carlton Thermal Systems Ltd</a></li>
                        <li><em>46</em> <a href="https://e3d-online.com/" target="_blank" rel="noopener">E3D Online Ltd</a></li>
                        <li><em>47</em> <a href="https://revivalco.co.uk/" target="_blank" rel="noopener">The Revival Group</a></li>
                        <li><em>50</em> <a href="http://barretts-selfstorage.co.uk/" target="_blank" rel="noopener">J</a><a href="https://jenningsstorage.co.uk/" target="_blank" rel="noopener">ennings Containers and Storage</a></li>
                        <li><em>53</em> <a href="https://www.allportandvincent.co.uk/" target="_blank" rel="noopener">Allport and Vincent Dental Lab. Ltd</a></li>
                        <li><em>54</em> <a href="https://classic-builders.co.uk/" target="_blank" rel="noopener">Classic Builders (Watlington) Ltd</a></li>
                        <li><em>55</em> <a href="https://www.polycat.co.uk/">PolyCatUK Ltd</a></li>
                        <li><em>56 </em><a href="https://www.draintechnology.co.uk/">Drain Technology UK Ltd</a></li>
                        <li><em>57</em> <a href="https://www.draintechnology.co.uk/" target="_blank" rel="noopener">R</a><a href="http://www.rugsdirect.co.uk" target="_blank" rel="noopener">ugs Direct</a></li>
                        <li><em>58</em> <a href="http://thetrainingrooms.co/" target="_blank" rel="noopener">The Training Rooms</a></li>
                        <li><em>59</em> <a href="https://www.knapp.com/en/" target="_blank" rel="noopener">Knapp</a></li>
                        <li><em>59a</em> <a href="https://www.eudrac.com/" target="_blank" rel="noopener">EUDRAC</a></li>
                        <li><em>60</em> <a href="https://www.knapp.com/en/" target="_blank" rel="noopener">Knapp</a></li>
                        <li><em>Greenacres 1</em> <a href="http://www.trscooling.co.uk/" target="_blank" rel="noopener">TRS Cooling Services Ltd</a></li>
                        <li><em>Greenacres 2</em> <a href="http://www.trscooling.co.uk/" target="_blank" rel="noopener">TRS Cooling Services Ltd</a></li>
                        <li><em>Greenacres 3</em> <a href="http://www.isisav.co.uk/" target="_blank" rel="noopener">Isis Audio Visuals Ltd</a></li>
                        <li><em>Greenacres 4</em> <a href="http://www.thistlethermal.co.uk/" target="_blank" rel="noopener">Thistle Thermal Profiling Ltd</a></li>
                        <li><em>Greenacres 5</em> <a href="https://www.jennings.co.uk" target="_blank" rel="noopener">Jennings</a></li>
                        <li><em>Greenacres 6</em> <a href="http://jennings.co.uk/contact" target="_blank" rel="noopener">S</a><a href="https://www.swaleocean.co.uk/" target="_blank" rel="noopener">wale Technologies Ltd</a></li>
                        <li><em>Greenacres 7 </em><a href="https://www.knapp.com/en/" target="_blank" rel="noopener">S</a><a href="https://www.facebook.com/StylistKeeleyAnnGreen/" target="_blank" rel="noopener">tyles by Keeley</a></li>
                        <li><em>Greenacres 8</em> <a href="https://www.locationextreme.com/" target="_blank" rel="noopener">Location Extreme (UK) Ltd</a></li>
                        <li><em>Greenacres 9</em> <a href="https://www.dragonav.com/" target="_blank" rel="noopener">Dragon AV Ltd</a></li>
                        <li><em>Greenacres 10</em> <a href="http://www.icd.uk.com/" target="_blank" rel="noopener">ICD</a></li>
                        <li><em>Greenacres 11</em> Firewood Furniture</li>
                        <li><em>Greenacres 12</em> <a href="http://www.miasarosi.com/index.php" target="_blank" rel="noopener">S</a><a href="https://www.skogen.kitchen" target="_blank" rel="noopener">kogen Kitchen</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="monument-park-section">
            <h1>HAMPDEN HOUSE TENANTS</h1>
            <div class="row clearfix monument-park-top">
                <div class="col-sm-6">
                    <ul>
                        <li><em>1</em> <a href="https://www.jennings.co.uk/meeting-rooms" target="_self">MEETING ROOM</a><a href="http://www.jennings.co.uk/meeting-rooms" target="_self"> - Contact Jennings</a></li>
                        <li><em>2</em> <a href="http://www.jennings.co.uk/contact" target="_blank" rel="noopener">VACANT - Contact Donna</a></li>
                        <li><em>3</em> <a href="http://www.jennings.co.uk/contact" target="_blank" rel="noopener">VACANT - Contact Donna</a></li>
                        <li><em>4</em> <a href="http://www.jennings.co.uk/contact" target="_blank" rel="noopener">VACANT - Contact Donna</a></li>
                        <li><em>5</em> <a href="http://www.jennings.co.uk/contact" target="_blank" rel="noopener">G</a><a href="http://www.gmdnagency.org" target="_blank" rel="noopener">MDN Agency</a></li>
                        <li><em>6</em> <a href="https://www.jennings.co.uk/meeting-rooms" target="_self">MEETING ROOM</a><a href="http://www.jennings.co.uk/meeting-rooms" target="_self"> - Contact Jennings</a></li>
                        <li><em>7</em> <a href="http://www.jennings.co.uk/contact" target="_blank" rel="noopener">VACANT - Contact Donna</a></li>
                        <li><em>8</em> <a href="http://redkiterecycling.com/" target="_blank" rel="noopener">Red Kite Recycling</a></li>
                        <li><em>9</em> Hammond Strategy Ltd</li>
                        <li><em>10</em> <a href="https://www.jennings.co.uk/meeting-rooms" target="_self">MEETING ROOM</a><a href="http://www.jennings.co.uk/meeting-rooms" target="_self"> - Contact Jennings</a></li>
                        <li><em>11</em> <a href="https://petsastherapy.org/">Pets As Therapy</a></li>
                        <li><em>12</em> <a href="http://rawpictures.co.uk" target="_blank" rel="noopener">RAW Pictures</a></li>
                        <li><em>13</em> <a href="http://www.jennings.co.uk" target="_self">Jennings</a></li>
                        <li><em>14</em> <a href="https://www.jennings.co.uk/meeting-rooms" target="_self">TRAINING ROOM</a><a href="http://www.jennings.co.uk/meeting-rooms" target="_self"> - Contact Jennings</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li><em>15</em> <a href="http://www.cadonix.com" target="_blank" rel="noopener">Cadonix</a></li>
                        <li><em>16</em> <a href="http://www.jennings.co.uk/contact" target="_blank" rel="noopener">3</a><a href="https://www.3plre.co.uk/" target="_blank" rel="noopener">PL Real Estate Ltd</a></li>
                        <li><em>17</em> <a href="http://www.jennings.co.uk/contact" target="_blank" rel="noopener">VACANT - Contact Donna</a></li>
                        <li><em>18</em> <a href="http://www.ppg.com" target="_blank" rel="noopener">PPG Industries</a></li>
                        <li><em>19 </em><a href="https://www.vorticity-systems.com/" target="_blank" rel="noopener">Vorticity Ltd</a></li>
                        <li><em>20 </em><a href="https://www.vorticity-systems.com/" target="_blank" rel="noopener">Vorticity Ltd</a></li>
                        <li><em>21</em> <a href="http://www.icd.uk.com/" target="_blank" rel="noopener">ICD Ltd</a></li>
                        <li><em>22</em> <a href="http://jennings.co.uk/contact" target="_blank" rel="noopener">VACANT - Contact Donna</a></li>
                        <li><em>23</em> <a href="http://www.plethorasolutions.co.uk/" target="_blank" rel="noopener">Plethora Solutions Holdings plc</a></li>
                        <li><em>24</em> <a href="http://www.jennings.co.uk/contact" target="_blank" rel="noopener">VACANT - Contact Donna</a></li>
                        <li><em>25</em> <a href="https://www.ecologybydesign.co.uk/" target="_blank" rel="noopener">Ecology By Design</a></li>
                        <li><em>26 </em><a href="https://neworbit.co.uk/" target="_blank" rel="noopener">NewOrbit Ltd​</a></li>
                        <li><em>27 </em><a href="https://neworbit.co.uk/" target="_blank" rel="noopener">NewOrbit Ltd​</a></li>
                        <li><em>28 </em><a href="http://jennings.co.uk/contact" target="_blank" rel="noopener">VACANT - Contact Donna</a></li>
                    </ul>
                </div>
                &nbsp;
                <div class="monument-park-section">
                    <h1>ASHGROVE HOUSE TENANTS</h1>
                    <div class="row clearfix monument-park-top">
                        <div class="col-sm-6">
                            <ul>
                                <li><em>1</em> <a href="http://www.completecareplusservices.co.uk/" target="_blank" rel="noopener">Complete Care Plus Services Ltd</a></li>
                                <li><em>2</em> <a href="https://www.gaitq.com/">GaitQ Ltd</a></li>
                                <li><em>3</em> <a href="https://www.eastpointgeo.com/">East Point Geo Ltd</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul>
                                <li><em>4</em> <a href="https://h2o-creative.com/" target="_blank" rel="noopener">h2o Creative Ltd</a></li>
                                <li><em>5 </em><a href="http://www.jennings.co.uk/contact" target="_blank" rel="noopener">VACANT - Contact Donna</a></li>
                                <li><em>6</em> <a href="https://www.neon-agency.co.uk/" target="_blank" rel="noopener">Neon Agency Ltd</a></li>
                            </ul>
                        </div>
                        &nbsp;
                        <div class="monument-park-section">
                            <h1>SHEPHERD'S HUT TENANTS</h1>
                            <div class="row clearfix monument-park-top">
                                <div class="col-sm-6">
                                    <ul>
                                        <li><em>Swift</em> <a href="http://www.jennings.co.uk/contact" target="_blank" rel="noopener">VACANT - Contact Donna</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul>
                                        <li><em>Prince</em> <a href="http://www.jennings.co.uk/contact" target="_blank" rel="noopener">VACANT - Contact Donna</a></li>
                                    </ul>
                                </div>
                                &nbsp;
                                <h1>THE BOUNDARY SITE MAP &amp; TENANTS</h1>
                                <strong>A collection of workshops and offices in a village setting, looking out over
                                    fields to the Chilterns but only minutes from Oxford and the M40. A great
                                    place to work and home to these businesses.</strong>

                                <a class="fancybox-img" href="https://jennings.oxypay.in/wp-content/uploads/2022/08/cd2.jpeg" target="_blank" rel="noopener"><img src="https://jennings.oxypay.in/wp-content/uploads/2022/08/cd2.jpeg" alt="" /></a>
                                <div class="row clearfix monument-park-top">
                                    <div class="col-sm-6">
                                        <ul>
                                            <li><em>1</em> <a href="https://www.manor-house-stoves.co.uk/" target="_blank" rel="noopener">Manor House Stoves</a></li>
                                            <li><em>2a</em> <a href="http://www.shelbee-sewing.co.uk/home/4581030414" target="_blank" rel="noopener">Shelbee Sewing</a></li>
                                            <li><em>2b</em> <a href="http://www.shelbee-sewing.co.uk/home/4581030414" target="_blank" rel="noopener">Shelbee Sewing</a></li>
                                            <li><em>3</em> <a href="#" target="_self">Monarch Oxford</a></li>
                                            <li><em>4a</em> <a href="https://www.oxfordfloatationcentre.co.uk/" target="_blank" rel="noopener">Oxford Floatation Centre</a></li>
                                            <li><em>4b</em> <a href="https://www.manor-house-stoves.co.uk/" target="_blank" rel="noopener">Manor House Stoves</a></li>
                                            <li><em>5</em> <a href="https://bhwoxford.co.uk/" target="_blank" rel="noopener">BHW Refrigeration</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul>
                                            <li><em>6</em> <a href="https://www.edenbeautyroomsoxford.co.uk/">Eden Beauty Rooms (Oxford)</a></li>
                                            <li><em>7</em> Reality Drop VR Ltd</li>
                                            <li><em>8</em> <a href="http://awdesigndevelopments.co.uk/" target="_blank" rel="noopener">AW Design &amp; Development Ltd</a></li>
                                            <li><em>9</em> <a href="http://effectiveeventsolutions.com/" target="_blank" rel="noopener">Effective Event Solutions</a></li>
                                            <li><em>10</em> <a href="http://www.dataprintoxford.co.uk/" target="_blank" rel="noopener">Dataprint</a></li>
                                            <li><em>11a</em> Garsington Grooming Co</li>
                                            <li><em>11b</em> The Boundary Woodworking &amp; Glass</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--break-->

                </div>
            </div>
        </div>
    </div>
</div>