:root {
	--color: #9B59B6;
}

a {
    color: var(--color);
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
.hamburger .line,
.download-btn,
.wpforms-submit,
#block-16 .sti-container,
.not-found-search-form form .searchsubmit {
    background: var(--color)
}

input:focus,
textarea:focus,
.catogory-list ul li a {
    border-color: var(--color);
}



.header-site .main-menu nav ul li.current_page_item a,
.header-site .logo a span,
.headerfixed .header-site .main-menu nav ul li.current_page_item a,
.catogory-list ul li a,
.header-site .main-menu nav ul li.current-menu-ancestor a,
.wp-block-gallery.has-nested-images figure.wp-block-image figcaption, .wp-block-gallery.has-nested-images figure.wp-block-image:has(figcaption)::before,
.header-site .main-menu nav ul li.menu-item-has-children ul li.current-menu-item a,
.wp-block-gallery.has-nested-images figure.wp-block-image figcaption{
    color: var(--color);
}