body {
  font-family: "Poppins", serif;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  position: relative;
  font-size: 16px;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  color: #000;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

.container {
  max-width: 1600px;
  padding: 0 2rem;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    padding: 0 1rem;
  }
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

.txt-center {
  text-align: center;
}

.font-size-sm {
  font-size: 20px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .font-size-sm {
    font-size: 19px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .font-size-sm {
    font-size: 16px;
  }
}

.min-height {
  min-height: 50vh;
}

.fancybox-download {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 999999;
  padding: 7px 10px;
}

.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
  position: relative !important;
  background: transparent !important;
  text-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  text-align: left;
  height: auto;
  padding: 8px 0;
}

.sti-mobile-btn {
  z-index: 9 !important;
}

.pd-top-btm {
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  font-weight: 600;
  font-size: 42px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  h1 {
    font-size: 34px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-weight: 600;
  font-size: 30px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  h2 {
    font-size: 26px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-weight: 600;
  font-size: 24px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  h3 {
    font-size: 21px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-weight: 600;
  font-size: 20px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  h4 {
    font-size: 19px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h4 {
    font-size: 16px;
  }
}

h5 {
  font-weight: 600;
  font-size: 16px;
}

h6 {
  font-weight: 600;
  font-size: 15px;
}

.header-site {
  padding: 15px 0px;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.header-site .custom-row {
  justify-content: space-between;
  /* Distribute the items */
  align-items: center;
}
.header-site .logo a {
  color: #ffffff;
  font-weight: 700;
  display: block;
  font-size: 24px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .header-site .logo a {
    font-size: 21px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header-site .logo a {
    font-size: 20px;
  }
}
.header-site .main-search {
  width: 44%;
}
@media (min-width: 1400px) and (max-width: 1599px) {
  .header-site .main-search {
    width: 38%;
  }
}
@media (min-width: 1300px) and (max-width: 1399px) {
  .header-site .main-search {
    width: 32%;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .header-site .main-search {
    width: 26%;
  }
}
.header-site .main-search .wp-block-search__inside-wrapper {
  border: 0px;
  background: #dddddd;
  border-radius: 12px;
}
.header-site .main-search .wp-block-search__inside-wrapper .wp-block-search__input {
  background: transparent;
  font-size: 14px;
  padding: 15px;
  border-color: transparent;
}
.header-site .main-search .wp-block-search__inside-wrapper .wp-block-search__button.has-icon {
  line-height: 0;
  background: transparent;
  border: 0;
}
.header-site .main-menu {
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1199px) {
  .header-site .main-menu {
    display: none;
  }
}
.header-site .main-menu nav {
  margin-right: 15px;
}
.header-site .main-menu nav ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.header-site .main-menu nav ul li {
  padding: 0px 10px;
}
.header-site .main-menu nav ul li:last-child {
  padding-right: 0px;
}
.header-site .main-menu nav ul li a {
  display: block;
  font-size: 16px;
  color: #ffffff;
  padding: 0px;
}
@media (min-width: 320px) and (max-width: 1199px) {
  .header-site .main-menu nav ul li a {
    color: #000;
  }
}
.header-site .main-menu nav ul li.menu-item-has-children {
  position: relative;
}
.header-site .main-menu nav ul li.menu-item-has-children a {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 23px;
  background-size: 16px;
}
@media (min-width: 320px) and (max-width: 1199px) {
  .header-site .main-menu nav ul li.menu-item-has-children a {
    background-image: none;
    padding-right: 0px;
  }
}
.header-site .main-menu nav ul li.menu-item-has-children ul {
  position: absolute;
  top: 0px;
  width: 237px;
  display: none;
  padding: 36px 0 0 0;
  left: 0px;
  z-index: 9;
}
@media (min-width: 320px) and (max-width: 1199px) {
  .header-site .main-menu nav ul li.menu-item-has-children ul {
    position: static;
    display: block;
    padding: 15px 0 0 0;
    margin: 0px;
    width: 100%;
  }
}
.header-site .main-menu nav ul li.menu-item-has-children ul li {
  background: #fff;
  padding: 10px 16px;
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.4);
}
@media (min-width: 320px) and (max-width: 1199px) {
  .header-site .main-menu nav ul li.menu-item-has-children ul li {
    box-shadow: none;
    padding: 5px 16px;
  }
}
.header-site .main-menu nav ul li.menu-item-has-children ul li a {
  font-size: 16px;
  background-image: none;
  color: #000;
}
.header-site .main-menu nav ul li.menu-item-has-children:hover ul {
  display: block;
}

.menu-show .main-menu {
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menu-show .header-site .main-menu nav ul {
  display: block;
  margin-bottom: 20px;
}
.menu-show .header-site .main-menu nav ul li {
  padding: 15px 0px;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 1199px) {
  .menu-show .header-site .main-menu nav ul li {
    padding: 5px 0px;
  }
}
.menu-show .header-site .main-menu nav ul li a {
  font-size: 20px;
}

.headerfixed .header-site {
  background-color: #fff;
}
.headerfixed .header-site .logo a {
  color: #000;
}
.headerfixed .header-site nav ul li a {
  color: #000;
}
.headerfixed .header-site nav ul li.menu-item-has-children a {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
@media (min-width: 320px) and (max-width: 1199px) {
  .headerfixed .header-site nav ul li.menu-item-has-children a {
    background-image: none;
    padding-right: 0px;
  }
}
.headerfixed .header-site nav ul li.menu-item-has-children ul li a {
  background-image: none;
  color: #000;
}

.social-media ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
}
.social-media ul li {
  margin: 0px;
  padding: 0 10px 0 0;
}
.social-media ul li:last-child {
  padding-right: 0px;
}
.social-media ul li a {
  display: block;
}
.social-media ul li a svg {
  width: 50px;
  height: 50px;
  padding: 5px;
  display: block;
  border-radius: 30px;
  fill: #fff;
}
.social-media ul li.fb a svg {
  background: linear-gradient(115deg, #62cff4, #2c67f2);
}
.social-media ul li.fb a span {
  color: #2c67f2;
}
.social-media ul li.fb a:hover svg {
  background: linear-gradient(115deg, #2c67f2, #62cff4);
}
.social-media ul li.insta a svg {
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
}
.social-media ul li.insta a span {
  color: #ee2a7b;
}
.social-media ul li.insta:hover a svg {
  background: linear-gradient(115deg, #6228d7, #ee2a7b, #f9ce34);
}
.social-media ul li.email a svg {
  background: linear-gradient(115deg, #f9ce34, #ee2a7b);
}
.social-media ul li.email a span {
  color: #ee2a7b;
}
.social-media ul li.email:hover a svg {
  background: linear-gradient(115deg, #6228d7, #ee2a7b, #f9ce34);
}

.home-catogory-list {
  padding: 1rem 0;
}
.home-catogory-list h2 {
  margin: 0px;
  padding: 0px;
}
.home-catogory-list .home-catogory-row {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
}
.home-catogory-list .home-catogory-row li {
  margin: 0px;
  padding: 0 10px 10px 0;
  font-size: 0px;
}
.home-catogory-list .home-catogory-row li ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.home-catogory-list .home-catogory-row li ul li {
  margin: 0px;
  padding: 0 10px 10px 0;
}
.home-catogory-list .home-catogory-row li ul li:last-child {
  padding-right: 0px;
}
.home-catogory-list .home-catogory-row li ul li a {
  display: block;
  padding: 8px 20px;
  border-width: 1px;
  border-radius: 20px;
  border-style: solid;
  font-size: 16px;
}

.hamburger {
  position: relative;
  z-index: 9999;
  display: none;
}
@media (min-width: 320px) and (max-width: 1199px) {
  .hamburger {
    display: block;
  }
}

.hamburger .line {
  width: 45px;
  height: 5px;
  display: block;
  margin: 8px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */
#hamburgerClick.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburgerClick.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburgerClick.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

.cntctfrm_ltr .cntctfrm_column {
  width: 100%;
}

.cntctfrm_field_wrap {
  margin-bottom: 20px;
}

.cntctfrm_one_column.cntctfrm_width_default,
.cntctfrm_contact_form.cntctfrm_width_default input[type=text],
.cntctfrm_contact_form.cntctfrm_width_default input[type=file],
.cntctfrm_contact_form.cntctfrm_width_default input[type=email],
.cntctfrm_contact_form.cntctfrm_width_default select,
.cntctfrm_contact_form.cntctfrm_width_default textarea,
.widget .cntctfrm_contact_form.cntctfrm_width_default input[type=text],
.widget .cntctfrm_contact_form.cntctfrm_width_default input[type=file],
.widget .cntctfrm_contact_form.cntctfrm_width_default input[type=email],
.widget .cntctfrm_contact_form.cntctfrm_width_default select,
.widget .cntctfrm_contact_form.cntctfrm_width_default textarea {
  max-width: 100%;
  padding: 16px;
  font-size: 18px;
}

.cntctfrm_contact_submit {
  font-size: 18px;
  border: 0px;
  padding: 6px 20px;
}

#block-16 .sti-container {
  border-radius: 10px;
  padding: 10px;
}
#block-16 .sti-container .sti.sti-shortcode {
  margin: 0px;
}

.not-found-search-form {
  background: #f3f3f3;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}
.not-found-search-form form {
  display: flex;
}
.not-found-search-form form label {
  width: calc(100% - 63px);
}
.not-found-search-form form label input {
  width: 100%;
  border: 2px #000 solid;
  font-size: 16px;
  padding: 1.1rem;
}
.not-found-search-form form .searchsubmit {
  width: 63px;
  color: #fff;
  padding: 12px;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 400;
  border: 0px;
}

.siderbar-search,
.siderbar-social {
  margin-bottom: 30px;
}

.siderbar-search .searchform {
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 5px;
}
.siderbar-search .searchform .searchsubmit {
  display: none;
}
.siderbar-search .searchform .search-field {
  width: 100%;
  font-size: 15px;
  padding: 10px;
}

#secondary {
  position: sticky;
  top: 133px;
}

.download-info {
  position: absolute;
  right: 15px;
  top: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}
.download-info li {
  margin: 0 0 0 5px;
  padding: 6px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.download-info li a {
  display: block;
  width: 30px !important;
  height: 30px !important;
}
.download-info li.download-icon a {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 14.64C9.84667 14.64 9.70476 14.6148 9.57429 14.5643C9.44381 14.5138 9.31667 14.4262 9.19286 14.3014L5.45 10.56C5.31095 10.421 5.23857 10.2571 5.23286 10.0686C5.22714 9.88001 5.29952 9.70715 5.45 9.55001C5.60809 9.39191 5.7781 9.31143 5.96 9.30858C6.14286 9.30572 6.31286 9.38334 6.47 9.54143L9.28571 12.3571V0.714295C9.28571 0.511438 9.35381 0.341438 9.49 0.204296C9.62619 0.0671529 9.79619 -0.000942528 10 9.85219e-06C10.2038 0.000962233 10.3738 0.0690576 10.51 0.204296C10.6462 0.339534 10.7143 0.509533 10.7143 0.714295V12.3571L13.53 9.54143C13.669 9.40239 13.8343 9.32953 14.0257 9.32286C14.2171 9.3162 14.3914 9.39191 14.5486 9.55001C14.701 9.70715 14.7786 9.87572 14.7814 10.0557C14.7843 10.2357 14.7071 10.4038 14.55 10.56L10.8071 14.3029C10.6833 14.4267 10.5562 14.5138 10.4257 14.5643C10.2962 14.6148 10.1543 14.64 10 14.64ZM2.30857 20C1.65048 20 1.10143 19.78 0.661428 19.34C0.221428 18.9 0.000952381 18.3505 0 17.6914V14.9443C0 14.7414 0.0680954 14.5719 0.204286 14.4357C0.340476 14.2995 0.510476 14.231 0.714286 14.23C0.918095 14.2291 1.0881 14.2976 1.22429 14.4357C1.36048 14.5738 1.42857 14.7433 1.42857 14.9443V17.6914C1.42857 17.9114 1.52 18.1133 1.70286 18.2971C1.88571 18.481 2.08714 18.5724 2.30714 18.5714H17.6929C17.9119 18.5714 18.1133 18.48 18.2971 18.2971C18.481 18.1143 18.5724 17.9124 18.5714 17.6914V14.9443C18.5714 14.7414 18.6395 14.5719 18.7757 14.4357C18.9119 14.2995 19.0819 14.231 19.2857 14.23C19.4895 14.2291 19.6595 14.2976 19.7957 14.4357C19.9319 14.5738 20 14.7433 20 14.9443V17.6914C20 18.3495 19.78 18.8986 19.34 19.3386C18.9 19.7786 18.3505 19.999 17.6914 20H2.30857Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
}
.download-info li.love-icon {
  padding-right: 10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.download-info li.love-icon span {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.35789 8.77661C1.94169 8.35877 1.61194 7.86139 1.38784 7.31346C1.16375 6.76553 1.0498 6.178 1.05263 5.58512C1.05263 4.386 1.52396 3.236 2.36294 2.3881C3.20192 1.5402 4.33982 1.06385 5.52632 1.06385C7.18947 1.06385 8.64211 1.97874 9.41053 3.34044H10.5895C10.9801 2.64795 11.5454 2.07245 12.2277 1.67255C12.91 1.27264 13.6849 1.06261 14.4737 1.06385C15.6602 1.06385 16.7981 1.5402 17.6371 2.3881C18.476 3.236 18.9474 4.386 18.9474 5.58512C18.9474 6.8298 18.4211 7.97873 17.6421 8.77661L10 16.4894L2.35789 8.77661ZM18.3789 9.53192C19.3789 8.51065 20 7.12767 20 5.58512C20 4.10386 19.4178 2.68327 18.3814 1.63586C17.345 0.588448 15.9394 1.92042e-05 14.4737 1.92042e-05C12.6316 1.92042e-05 11 0.904274 10 2.30853C9.48958 1.59204 8.81748 1.00887 8.03945 0.607389C7.26142 0.205911 6.39989 -0.00230245 5.52632 1.92042e-05C4.06065 1.92042e-05 2.65501 0.588448 1.61862 1.63586C0.582235 2.68327 0 4.10386 0 5.58512C0 7.12767 0.621053 8.51065 1.62105 9.53192L10 18L18.3789 9.53192Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 30px;
}
.download-info li.facebook-icon a {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7H10.5L10 9H6V18H4V9H0V7H4V5.128C4 3.345 4.186 2.698 4.534 2.046C4.87526 1.40199 5.40199 0.87526 6.046 0.534C6.698 0.186 7.345 0 9.128 0C9.65067 0 10.108 0.0500001 10.5 0.15V2H9.128C7.804 2 7.401 2.078 6.989 2.298C6.69327 2.45251 6.45208 2.69405 6.298 2.99C6.078 3.401 6 3.804 6 5.128V7Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
}
.download-info li.twitter-icon a {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 15.5C2.765 16.521 4.814 17 7 17C13.48 17 18.762 11.863 18.992 5.438L21 1.5L17.646 2C16.9152 1.35552 15.9744 0.999939 15 1C12.428 1 10.5 3.517 11.12 5.98C7.568 6.21 4.349 4.021 2.487 1.105C1.251 5.302 2.397 10.356 5.5 13.471C5.5 14.647 2.5 15.349 1 15.5Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
}
.download-info li.whatsapp-icon a {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 2.91005C16.0831 1.98416 14.991 1.25002 13.7875 0.750416C12.584 0.250812 11.2931 -0.00426317 9.99 5.38951e-05C4.53 5.38951e-05 0.0800002 4.45005 0.0800002 9.91005C0.0800002 11.6601 0.54 13.3601 1.4 14.8601L0 20.0001L5.25 18.6201C6.7 19.4101 8.33 19.8301 9.99 19.8301C15.45 19.8301 19.9 15.3801 19.9 9.92005C19.9 7.27005 18.87 4.78005 17 2.91005ZM9.99 18.1501C8.51 18.1501 7.06 17.7501 5.79 17.0001L5.49 16.8201L2.37 17.6401L3.2 14.6001L3 14.2901C2.17755 12.9771 1.74092 11.4593 1.74 9.91005C1.74 5.37005 5.44 1.67005 9.98 1.67005C12.18 1.67005 14.25 2.53005 15.8 4.09005C16.5676 4.85392 17.1759 5.7626 17.5896 6.76338C18.0033 7.76417 18.2142 8.83714 18.21 9.92005C18.23 14.4601 14.53 18.1501 9.99 18.1501ZM14.51 11.9901C14.26 11.8701 13.04 11.2701 12.82 11.1801C12.59 11.1001 12.43 11.0601 12.26 11.3001C12.09 11.5501 11.62 12.1101 11.48 12.2701C11.34 12.4401 11.19 12.4601 10.94 12.3301C10.69 12.2101 9.89 11.9401 8.95 11.1001C8.21 10.4401 7.72 9.63005 7.57 9.38005C7.43 9.13005 7.55 9.00005 7.68 8.87005C7.79 8.76005 7.93 8.58005 8.05 8.44005C8.17 8.30005 8.22 8.19005 8.3 8.03005C8.38 7.86005 8.34 7.72005 8.28 7.60005C8.22 7.48005 7.72 6.26005 7.52 5.76005C7.32 5.28005 7.11 5.34005 6.96 5.33005H6.48C6.31 5.33005 6.05 5.39005 5.82 5.64005C5.6 5.89005 4.96 6.49005 4.96 7.71005C4.96 8.93005 5.85 10.1101 5.97 10.2701C6.09 10.4401 7.72 12.9401 10.2 14.0101C10.79 14.2701 11.25 14.4201 11.61 14.5301C12.2 14.7201 12.74 14.6901 13.17 14.6301C13.65 14.5601 14.64 14.0301 14.84 13.4501C15.05 12.8701 15.05 12.3801 14.98 12.2701C14.91 12.1601 14.76 12.1101 14.51 11.9901Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
}

.media-gallery-item:hover .download-info {
  display: flex;
}

.banner {
  padding: 0;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.banner .container {
  position: relative;
  z-index: 1;
  padding-top: 9rem;
  padding-bottom: 4rem;
  color: #fff;
  text-align: center;
  max-width: 1000px;
}
@media (min-width: 568px) and (max-width: 767px) {
  .banner .container {
    padding-top: 5rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .banner .container {
    padding-top: 5rem;
  }
}
.banner figure {
  height: 100%;
}
.banner figure a {
  width: 100%;
}
.banner .main-header-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.banner .main-header-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.banner .main-header-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}

.wp-block-image a {
  display: contents;
}

.post-row {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
  flex-wrap: wrap;
}
.post-row .post-box {
  padding: 8px;
  width: 33.33%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-box {
    width: 50%;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .post-row .post-box {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .post-row .post-box {
    width: 100%;
  }
}
.post-row .post-box .post-box-img {
  width: 100%;
  height: 342px;
  position: relative;
  border-radius: 11px;
  overflow: hidden;
}
.post-row .post-box .post-box-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.post-row .post-box .post-box-img .post-box-info {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}
.post-row .post-box .post-box-img .post-box-info .post-date {
  color: #fff;
}
.post-row .post-box .post-box-img .post-box-info .download-btn {
  margin-left: auto;
}
.post-row .post-box .post-box-content {
  padding: 10px;
}
.post-row .post-box .post-box-content h2, .post-row .post-box .post-box-content h3 {
  font-size: 18px;
}
.post-row .post-box .post-box-content h2, .post-row .post-box .post-box-content h3, .post-row .post-box .post-box-content h4, .post-row .post-box .post-box-content h5 {
  margin: 0px;
  padding: 0px;
}

.download-btn {
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.site-footer {
  background-color: #2B2A33;
  padding: 1rem 0;
  text-align: center;
}
.site-footer .footer-info {
  color: #fff;
}

.single-page-row {
  padding: 30px 0;
}
.single-page-row .site-details-left {
  width: 100%;
}
.single-page-row .site-details-left article figure img,
.single-page-row .site-details-left article .uploaded-img-box img {
  width: 100%;
  height: auto;
  display: block;
}
.single-page-row .site-details-left .uploaded-img-box {
  margin-bottom: 25px;
}
.single-page-row .site-details-left .uploaded-img-box h4 {
  margin: 10px 0;
  padding: 0px;
}
.single-page-row .site-details-left .uploaded-img-box {
  margin-bottom: 25px;
}
.single-page-row .site-details-left .uploaded-img-box h4 {
  margin: 10px 0;
  padding: 0px;
}
.single-page-row .site-details-left .uploaded-img-box .uploaded-img {
  position: relative;
}
.single-page-row .site-details-left .uploaded-img-box .uploaded-img .download-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
.single-page-row .site-details-left .gallery-img ul {
  display: flex;
  list-style: none;
  margin: 0 -8px;
  padding: 0px;
  flex-wrap: wrap;
}
@media (min-width: 320px) and (max-width: 567px) {
  .single-page-row .site-details-left .gallery-img ul {
    display: block;
    margin: 0;
  }
}
.single-page-row .site-details-left .gallery-img ul li {
  width: 33.33%;
  padding: 27px 8px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .single-page-row .site-details-left .gallery-img ul li {
    padding: 15px 0 0 0;
  }
}
.single-page-row .site-details-left .gallery-img ul li:nth-child(1), .single-page-row .site-details-left .gallery-img ul li:nth-child(2), .single-page-row .site-details-left .gallery-img ul li:nth-child(9), .single-page-row .site-details-left .gallery-img ul li:nth-child(10), .single-page-row .site-details-left .gallery-img ul li:nth-child(17), .single-page-row .site-details-left .gallery-img ul li:nth-child(18), .single-page-row .site-details-left .gallery-img ul li:nth-child(37), .single-page-row .site-details-left .gallery-img ul li:nth-child(38), .single-page-row .site-details-left .gallery-img ul li:nth-child(39), .single-page-row .site-details-left .gallery-img ul li:nth-child(40) {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .single-page-row .site-details-left .gallery-img ul li:nth-child(1), .single-page-row .site-details-left .gallery-img ul li:nth-child(2), .single-page-row .site-details-left .gallery-img ul li:nth-child(9), .single-page-row .site-details-left .gallery-img ul li:nth-child(10), .single-page-row .site-details-left .gallery-img ul li:nth-child(17), .single-page-row .site-details-left .gallery-img ul li:nth-child(18), .single-page-row .site-details-left .gallery-img ul li:nth-child(37), .single-page-row .site-details-left .gallery-img ul li:nth-child(38), .single-page-row .site-details-left .gallery-img ul li:nth-child(39), .single-page-row .site-details-left .gallery-img ul li:nth-child(40) {
    width: 100%;
  }
}
.single-page-row .site-details-left .gallery-img ul li:nth-child(3), .single-page-row .site-details-left .gallery-img ul li:nth-child(4), .single-page-row .site-details-left .gallery-img ul li:nth-child(5), .single-page-row .site-details-left .gallery-img ul li:nth-child(6), .single-page-row .site-details-left .gallery-img ul li:nth-child(7), .single-page-row .site-details-left .gallery-img ul li:nth-child(8), .single-page-row .site-details-left .gallery-img ul li:nth-child(11), .single-page-row .site-details-left .gallery-img ul li:nth-child(12), .single-page-row .site-details-left .gallery-img ul li:nth-child(13), .single-page-row .site-details-left .gallery-img ul li:nth-child(14), .single-page-row .site-details-left .gallery-img ul li:nth-child(15), .single-page-row .site-details-left .gallery-img ul li:nth-child(16), .single-page-row .site-details-left .gallery-img ul li:nth-child(19), .single-page-row .site-details-left .gallery-img ul li:nth-child(20), .single-page-row .site-details-left .gallery-img ul li:nth-child(21), .single-page-row .site-details-left .gallery-img ul li:nth-child(22), .single-page-row .site-details-left .gallery-img ul li:nth-child(23), .single-page-row .site-details-left .gallery-img ul li:nth-child(24) {
  width: 33.33%;
}
@media (min-width: 568px) and (max-width: 1400px) {
  .single-page-row .site-details-left .gallery-img ul li:nth-child(3), .single-page-row .site-details-left .gallery-img ul li:nth-child(4), .single-page-row .site-details-left .gallery-img ul li:nth-child(5), .single-page-row .site-details-left .gallery-img ul li:nth-child(6), .single-page-row .site-details-left .gallery-img ul li:nth-child(7), .single-page-row .site-details-left .gallery-img ul li:nth-child(8), .single-page-row .site-details-left .gallery-img ul li:nth-child(11), .single-page-row .site-details-left .gallery-img ul li:nth-child(12), .single-page-row .site-details-left .gallery-img ul li:nth-child(13), .single-page-row .site-details-left .gallery-img ul li:nth-child(14), .single-page-row .site-details-left .gallery-img ul li:nth-child(15), .single-page-row .site-details-left .gallery-img ul li:nth-child(16), .single-page-row .site-details-left .gallery-img ul li:nth-child(19), .single-page-row .site-details-left .gallery-img ul li:nth-child(20), .single-page-row .site-details-left .gallery-img ul li:nth-child(21), .single-page-row .site-details-left .gallery-img ul li:nth-child(22), .single-page-row .site-details-left .gallery-img ul li:nth-child(23), .single-page-row .site-details-left .gallery-img ul li:nth-child(24) {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .single-page-row .site-details-left .gallery-img ul li:nth-child(3), .single-page-row .site-details-left .gallery-img ul li:nth-child(4), .single-page-row .site-details-left .gallery-img ul li:nth-child(5), .single-page-row .site-details-left .gallery-img ul li:nth-child(6), .single-page-row .site-details-left .gallery-img ul li:nth-child(7), .single-page-row .site-details-left .gallery-img ul li:nth-child(8), .single-page-row .site-details-left .gallery-img ul li:nth-child(11), .single-page-row .site-details-left .gallery-img ul li:nth-child(12), .single-page-row .site-details-left .gallery-img ul li:nth-child(13), .single-page-row .site-details-left .gallery-img ul li:nth-child(14), .single-page-row .site-details-left .gallery-img ul li:nth-child(15), .single-page-row .site-details-left .gallery-img ul li:nth-child(16), .single-page-row .site-details-left .gallery-img ul li:nth-child(19), .single-page-row .site-details-left .gallery-img ul li:nth-child(20), .single-page-row .site-details-left .gallery-img ul li:nth-child(21), .single-page-row .site-details-left .gallery-img ul li:nth-child(22), .single-page-row .site-details-left .gallery-img ul li:nth-child(23), .single-page-row .site-details-left .gallery-img ul li:nth-child(24) {
    width: 100%;
  }
}
.single-page-row .site-details-left .gallery-img ul li .gallery-image-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.single-page-row .site-details-left .gallery-img ul li .example-image-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.single-page-row .site-details-left .gallery-img ul li .example-image-link img {
  width: 100%;
  height: auto;
  display: block;
}
.single-page-row .site-details-left .gallery-img ul li .gallery-caption {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #fff;
}
@media (min-width: 320px) and (max-width: 567px) {
  .single-page-row .site-details-left .gallery-img ul li .gallery-caption {
    position: relative;
  }
}
.single-page-row .site-details-left .gallery-img ul li h3 {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  margin: 0px 0 10px 0;
}
@media (min-width: 329px) and (max-width: 991px) {
  .single-page-row .site-details-left .gallery-img ul li h3 {
    font-size: 18px;
  }
}
.single-page-row .site-details-right {
  width: 350px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .single-page-row .site-details-right {
    width: 250px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .single-page-row .site-details-right {
    width: 100%;
    margin-bottom: 20px;
  }
}
.single-page-row .site-details-right h2 {
  margin: 0px;
  margin-bottom: 1rem;
}
@media (min-width: 320px) and (max-width: 991px) {
  .single-page-row .site-details-right .popular-posts {
    display: none;
  }
}

.lb-closeContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999999;
}

.comments-area {
  margin: 40px 0;
}
.comments-area .comment-respond .comment-form {
  background-color: #f1f1f1;
  padding: 20px;
}
.comments-area .comment-respond .comment-form p label {
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
}
.comments-area .comment-respond .comment-form p textarea,
.comments-area .comment-respond .comment-form p input[type=text],
.comments-area .comment-respond .comment-form p input[type=email],
.comments-area .comment-respond .comment-form p input[type=password],
.comments-area .comment-respond .comment-form p input[type=number],
.comments-area .comment-respond .comment-form p input[type=date],
.comments-area .comment-respond .comment-form p input[type=url],
.comments-area .comment-respond .comment-form p textarea {
  border: 1px #000 solid;
  padding: 10px;
  width: 100%;
  color: #000;
  font-size: 16px;
}
fo .comments-area .comment-respond .comment-form p textarea:disabled,
fo .comments-area .comment-respond .comment-form p input[type=text]:disabled,
fo .comments-area .comment-respond .comment-form p input[type=email]:disabled,
fo .comments-area .comment-respond .comment-form p input[type=password]:disabled,
fo .comments-area .comment-respond .comment-form p input[type=number]:disabled,
fo .comments-area .comment-respond .comment-form p input[type=date]:disabled,
fo .comments-area .comment-respond .comment-form p input[type=url]:disabled,
fo .comments-area .comment-respond .comment-form p textarea:disabled {
  opacity: 0.5;
}
.comments-area .comment-respond .comment-form p textarea::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=text]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=email]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=password]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=number]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=date]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=url]::-webkit-input-placeholder,
.comments-area .comment-respond .comment-form p textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  color: #000;
  font-size: 16px;
}
.comments-area .comment-respond .comment-form p textarea::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=text]::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=email]::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=password]::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=number]::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=date]::-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=url]::-moz-placeholder,
.comments-area .comment-respond .comment-form p textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  color: #000;
  font-size: 16px;
}
.comments-area .comment-respond .comment-form p textarea:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=text]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=email]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=password]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=number]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=date]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p input[type=url]:-ms-input-placeholder,
.comments-area .comment-respond .comment-form p textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  color: #000;
  font-size: 16px;
}
.comments-area .comment-respond .comment-form p textarea:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=text]:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=email]:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=password]:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=number]:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=date]:-moz-placeholder,
.comments-area .comment-respond .comment-form p input[type=url]:-moz-placeholder,
.comments-area .comment-respond .comment-form p textarea:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  color: #000;
  font-size: 16px;
}
.comments-area .comment-respond .comment-form p.comment-form-cookies-consent {
  display: flex;
  align-items: center;
}
.comments-area .comment-respond .comment-form p.comment-form-cookies-consent label {
  margin: 0 0 0 10px;
}
.comments-area .comment-respond .comment-form p.form-submit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.comments-area .comment-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.comments-area .comment-list li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-bottom: 20px;
}
.comments-area .comment-list li .reply {
  margin: 5px 0 40px 0;
  text-align: right;
}
.comments-area .comment-list li .comment-top {
  display: flex;
  align-items: center;
}
.comments-area .comment-list li .comment-top .comment-author {
  display: flex;
  align-items: center;
}
.comments-area .comment-list li .comment-top .comment-author .says {
  margin-left: 5px;
  font-size: 14px;
}
.comments-area .comment-list li .comment-top .comment-author img {
  margin-right: 10px;
}
.comments-area .comment-list li .comment-top .comment-metadata {
  display: block;
  font-size: 12px;
  margin-left: auto;
}
.comments-area .comment-list li .comment-content {
  position: relative;
  background: #f1f1f1;
  padding: 15px;
  margin-top: 20px;
}
.comments-area .comment-list li .comment-content p:first-child {
  margin-top: 0px;
  margin-bottom: 0px;
}
.comments-area .comment-list li .comment-content:after {
  bottom: 100%;
  left: 20px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(241, 241, 241, 0);
  border-bottom-color: #f1f1f1;
  border-width: 10px;
  margin-left: -10px;
}

.submit {
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: 0px;
  cursor: pointer;
}

.paging-navigation {
  margin-bottom: 30px;
}
.paging-navigation ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paging-navigation ul li {
  margin: 0px;
  padding: 0 10px;
}
.paging-navigation ul li a,
.paging-navigation ul li span {
  display: block;
  font-weight: 500;
  color: #999;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #000;
  color: white;
  font-size: 16px;
}
.paging-navigation ul li a.current,
.paging-navigation ul li span.current {
  font-weight: 600;
}

.page-navigation {
  padding: 15px;
  margin-top: 30px;
  font-size: 20px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .page-navigation {
    font-size: 19px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .page-navigation {
    font-size: 16px;
  }
}
.page-navigation .nav-previous {
  float: left;
  width: 50%;
  text-align: left;
}
.page-navigation .nav-next {
  float: right;
  width: 50%;
  text-align: right;
}

.wp-block-column .wp-block-categories {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.wp-block-column .wp-block-categories li {
  margin: 0 0 15px;
  padding: 0px;
  width: 100%;
  background-size: cover !important;
}
.wp-block-column .wp-block-categories li a {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  min-height: 100px;
  color: #fff;
  font-size: 20px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .wp-block-column .wp-block-categories li a {
    font-size: 19px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .wp-block-column .wp-block-categories li a {
    font-size: 16px;
  }
}
.wp-block-column .wp-block-categories li a:hover {
  background: linear-gradient(to bottom, rgba(53, 53, 53, 0) 0%, rgba(1, 1, 1, 0.65) 50%, rgba(0, 0, 0, 0.65) 51%);
}
.wp-block-column .wp-block-categories li:nth-child(1) {
  background: url("../images/categories/1.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(2) {
  background: url("../images/categories/2.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(3) {
  background: url("../images/categories/3.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(4) {
  background: url("../images/categories/4.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(5) {
  background: url("../images/categories/5.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(6) {
  background: url("../images/categories/6.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(7) {
  background: url("../images/categories/7.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(8) {
  background: url("../images/categories/8.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(9) {
  background: url("../images/categories/9.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(10) {
  background: url("../images/categories/10.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(11) {
  background: url("../images/categories/11.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(12) {
  background: url("../images/categories/12.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(13) {
  background: url("../images/categories/13.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(14) {
  background: url("../images/categories/14.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(15) {
  background: url("../images/categories/15.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(16) {
  background: url("../images/categories/16.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(17) {
  background: url("../images/categories/17.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(18) {
  background: url("../images/categories/18.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(19) {
  background: url("../images/categories/19.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(20) {
  background: url("../images/categories/20.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(21) {
  background: url("../images/categories/21.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(22) {
  background: url("../images/categories/22.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(23) {
  background: url("../images/categories/23.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(24) {
  background: url("../images/categories/24.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(25) {
  background: url("../images/categories/25.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(26) {
  background: url("../images/categories/26.jpg") no-repeat right center;
}
.wp-block-column .wp-block-categories li:nth-child(27) {
  background: url("../images/categories/27.jpg") no-repeat right center;
}

.related-posts {
  margin-top: 40px;
}
.related-posts h3 {
  margin: 0 0 20px;
}
.related-posts ul {
  margin: 0 -15px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.related-posts ul li {
  margin: 0px;
  padding: 15px;
  width: 33.33%;
}
@media (min-width: 320px) and (max-width: 991px) {
  .related-posts ul li {
    width: 100%;
    padding: 10px 15px;
  }
}
.related-posts ul li a {
  display: flex;
  text-decoration: none;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
}
.related-posts ul li a .related-thumb {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
@media (min-width: 991px) and (max-width: 1024px) {
  .related-posts ul li a .related-thumb {
    width: 70px;
    height: 70px;
  }
}
.related-posts ul li a .related-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.related-posts ul li a .related-content {
  width: calc(100% - 100px);
  padding-left: 10px;
}
@media (min-width: 991px) and (max-width: 1024px) {
  .related-posts ul li a .related-content {
    width: calc(100% - 70px);
  }
}
.related-posts ul li a .related-content h4, .related-posts.related-pages ul li a .related-content a {
  margin: 0px;
  font-weight: 600;
}
.related-posts ul li a .related-content span {
  color: #000;
  font-size: 13px;
}
.related-posts.related-pages ul li a {
  font-weight: 500;
}

@media (min-width: 320px) and (max-width: 991px) {
  .siderbar-search {
    display: none;
  }
}

.wp-block-gallery,
.media-gallery {
  margin-left: -8px;
  flex-flow: row wrap;
  display: flex;
  width: 100%;
  max-width: 100%;
}
.wp-block-gallery .wp-block-image,
.wp-block-gallery .media-gallery-item,
.media-gallery .wp-block-image,
.media-gallery .media-gallery-item {
  flex: auto;
  height: 350px;
  min-width: 150px;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 0 8px 8px;
  background-color: #333;
  color: white;
  position: relative;
}
@media screen and (max-width: 991px) {
  .wp-block-gallery .wp-block-image,
  .wp-block-gallery .media-gallery-item,
  .media-gallery .wp-block-image,
  .media-gallery .media-gallery-item {
    height: 250px;
  }
}
@media screen and (max-width: 567px) {
  .wp-block-gallery .wp-block-image,
  .wp-block-gallery .media-gallery-item,
  .media-gallery .wp-block-image,
  .media-gallery .media-gallery-item {
    height: auto;
  }
}
.wp-block-gallery .wp-block-image:nth-child(4n+1),
.wp-block-gallery .media-gallery-item:nth-child(4n+1),
.media-gallery .wp-block-image:nth-child(4n+1),
.media-gallery .media-gallery-item:nth-child(4n+1) {
  width: 20%;
}
@media screen and (max-width: 991px) {
  .wp-block-gallery .wp-block-image:nth-child(4n+1),
  .wp-block-gallery .media-gallery-item:nth-child(4n+1),
  .media-gallery .wp-block-image:nth-child(4n+1),
  .media-gallery .media-gallery-item:nth-child(4n+1) {
    width: calc(50% - 8px);
  }
}
@media screen and (max-width: 567px) {
  .wp-block-gallery .wp-block-image:nth-child(4n+1),
  .wp-block-gallery .media-gallery-item:nth-child(4n+1),
  .media-gallery .wp-block-image:nth-child(4n+1),
  .media-gallery .media-gallery-item:nth-child(4n+1) {
    width: 100%;
  }
}
.wp-block-gallery .wp-block-image:nth-child(4n+2),
.wp-block-gallery .media-gallery-item:nth-child(4n+2),
.media-gallery .wp-block-image:nth-child(4n+2),
.media-gallery .media-gallery-item:nth-child(4n+2) {
  width: 30%;
}
@media screen and (max-width: 991px) {
  .wp-block-gallery .wp-block-image:nth-child(4n+2),
  .wp-block-gallery .media-gallery-item:nth-child(4n+2),
  .media-gallery .wp-block-image:nth-child(4n+2),
  .media-gallery .media-gallery-item:nth-child(4n+2) {
    width: calc(50% - 8px);
  }
}
@media screen and (max-width: 567px) {
  .wp-block-gallery .wp-block-image:nth-child(4n+2),
  .wp-block-gallery .media-gallery-item:nth-child(4n+2),
  .media-gallery .wp-block-image:nth-child(4n+2),
  .media-gallery .media-gallery-item:nth-child(4n+2) {
    width: 100%;
  }
}
.wp-block-gallery .wp-block-image:nth-child(4n+3),
.wp-block-gallery .media-gallery-item:nth-child(4n+3),
.media-gallery .wp-block-image:nth-child(4n+3),
.media-gallery .media-gallery-item:nth-child(4n+3) {
  width: 15%;
}
@media screen and (max-width: 991px) {
  .wp-block-gallery .wp-block-image:nth-child(4n+3),
  .wp-block-gallery .media-gallery-item:nth-child(4n+3),
  .media-gallery .wp-block-image:nth-child(4n+3),
  .media-gallery .media-gallery-item:nth-child(4n+3) {
    width: calc(50% - 8px);
  }
}
@media screen and (max-width: 567px) {
  .wp-block-gallery .wp-block-image:nth-child(4n+3),
  .wp-block-gallery .media-gallery-item:nth-child(4n+3),
  .media-gallery .wp-block-image:nth-child(4n+3),
  .media-gallery .media-gallery-item:nth-child(4n+3) {
    width: 100%;
  }
}
.wp-block-gallery .wp-block-image:nth-child(4n+4),
.wp-block-gallery .media-gallery-item:nth-child(4n+4),
.media-gallery .wp-block-image:nth-child(4n+4),
.media-gallery .media-gallery-item:nth-child(4n+4) {
  width: 35%;
}
@media screen and (max-width: 991px) {
  .wp-block-gallery .wp-block-image:nth-child(4n+4),
  .wp-block-gallery .media-gallery-item:nth-child(4n+4),
  .media-gallery .wp-block-image:nth-child(4n+4),
  .media-gallery .media-gallery-item:nth-child(4n+4) {
    width: calc(50% - 8px);
  }
}
@media screen and (max-width: 567px) {
  .wp-block-gallery .wp-block-image:nth-child(4n+4),
  .wp-block-gallery .media-gallery-item:nth-child(4n+4),
  .media-gallery .wp-block-image:nth-child(4n+4),
  .media-gallery .media-gallery-item:nth-child(4n+4) {
    width: 100%;
  }
}
.wp-block-gallery .wp-block-image h3,
.wp-block-gallery .media-gallery-item h3,
.media-gallery .wp-block-image h3,
.media-gallery .media-gallery-item h3 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 0px;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.88) 100%);
  text-transform: capitalize;
}
.wp-block-gallery .wp-block-image a[data-fancybox=gallery],
.wp-block-gallery .media-gallery-item a[data-fancybox=gallery],
.media-gallery .wp-block-image a[data-fancybox=gallery],
.media-gallery .media-gallery-item a[data-fancybox=gallery] {
  width: 100%;
  height: 100%;
  display: block;
}
.wp-block-gallery .wp-block-image a[data-fancybox=gallery] img,
.wp-block-gallery .media-gallery-item a[data-fancybox=gallery] img,
.media-gallery .wp-block-image a[data-fancybox=gallery] img,
.media-gallery .media-gallery-item a[data-fancybox=gallery] img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(100%);
}
.wp-block-gallery .wp-block-image a[data-fancybox=gallery]:hover img,
.wp-block-gallery .media-gallery-item a[data-fancybox=gallery]:hover img,
.media-gallery .wp-block-image a[data-fancybox=gallery]:hover img,
.media-gallery .media-gallery-item a[data-fancybox=gallery]:hover img {
  filter: brightness(60%);
}

.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
  position: absolute !important;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
}

.load-more-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.load-more-section button {
  padding: 14px 35px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
}

#loading-message {
  background-image: url("loading.gif");
  width: 81px;
  height: 81px;
  background-size: cover;
  text-indent: -9999px;
}

#backToTop {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 150px;
  right: 20px;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

#backToTop:hover {
  background: #0056b3;
}

/*# sourceMappingURL=global.css.map */
