{% if content_row.project_gallery_row %}
	<section class="photo-gallery-section">
		<div class="container-sm" data-aos="fade-up">
			<div class="heading heading-center">
				<h2>{{content_row.gallery_heading}}</h2>
			</div>
		</div>
		<div class="photo-gallery-row main-padding-top">
			{% for gallery_row in content_row.project_gallery_row %}
				<div class="photo-gallery-box" data-aos="fade-up">
					<a data-fancybox="gallery" data-src="{{ TimberImage(gallery_row.image).src('src') }}" data-caption="{{gallery_row.caption}}" class="fancebox">
						<img src="{{ TimberImage(gallery_row.image).src('same-size') }}" alt="">
					</a>
				</div>
			{% endfor %}
		</div>
	</section>
{% endif %}
