{% if content_row.show_products %}

	<section class="products-list products white-bg main-padding-bottom item-per-row-{{content_row.item_per_row}}">
		<div class="container-md">

			<div class="custom-row">
				{% for product_type in getProductTypes(post.id) %}

					<div class="quality-products-box" data-aos="fade-up">
						<div class="quality-products-img">
							<img src="{{ TimberImage(product_type.thumbnail).src('project-list-thumb') }}" alt="">
						</div>
						<div class="quality-products-btn">
							<a href="{{product_type.link}}" class="white-btn-arrow">{{product_type.service_title?product_type.service_title|upper:product_type.title|upper}}</a>
						</div>
					</div>


				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}
