{% if content_row.featured_product_types_row and content_row.content %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' white-bg'%}
	{% endif %}

	<section class="quality-products-section" data-aos="fade-up">
		
			<div class="custom-row">
				<div class="quality-products-txt-box">
				<div>
					<div class="heading heading-left">
						<h2>{{content_row.title}}</h2>
					</div>
					<div class="desc--box">
						{% if content_row.title_copy %}
							<h3>{{content_row.title_copy}}</h3>
						{% endif %}

						{{content_row.content}}
					</div>
					{% if content_row.cta %}
						<div class="btn-set--left">
							<a href="{{content_row.cta.url}}" class="white-btn-arrow" target="{{content_row.cta.target}}" tabindex="0">{{content_row.cta.title}}</a>
						</div>
					{% endif %}
                 </div>
				</div>
				<div class="quality-products-row">
					<div class="custom-row">

						{% for featured_type in content_row.featured_product_types_row %}

							<div class="quality-products-box">
								<div class="quality-products-img">
									{% if featured_type.product_type_item.thumbnail %}
										<img src="{{ TimberImage(featured_type.product_type_item.thumbnail).src('featured-product-img') }}" alt=""/>
									{% else %}
										<img src="{{site.link}}/wp-content/uploads/2023/08/cml-construction-limited-hero-image-1000x850.jpg" alt=""/>
									{% endif %}
								</div>
								<div class="quality-products-btn">
									<a href="{{featured_type.product_type_item.link}}" class="white-btn-arrow">{{featured_type.product_type_item.title}}</a>
								</div>
							</div>
						{% endfor %}
					</div>
		      </div>
			</div>
		
		
	</section>


{% endif %}
