{% if content_row.product %}
	<section class="block-featured-product-section main-padding-top" data-aos="fade-up">
		<div class="container-md">
			<div class="custom-row">
				<div class="block-featured-product-content">
				<div class="block-featured-product-content-in">
					<div class="heading-secondary">{{content_row.heading}}</div>
					<div class="desc--boxes">
						<h4>{{content_row.product.title}}</h4>
						<p>{{content_row.product.preview.read_more(false)}}
						</p>
					</div>
					<div class="right-bottom-btn ">
						<a href="{{content_row.product.link}}" class="secondary-btn-out-line-arrow">SEE PRODUCT</a>
					</div>
				</div></div>
				<div class="block-featured-product-img">
					<img src="{{ TimberImage(content_row.product.thumbnail).src('post-row-img') }}" alt=""/>
				{# Please use width = 600px and height = 390px #}
				</div>
			</div>
		</div>
	</section>
{% endif %}
