{% if content_row.copy_content_title or content_row.copy_content_text %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = 'light-gray-bg'%}
	{% endif %}

	<section class="simple-info-section main-padding light-gray-bg {{color_bg_class}}" >
		<div class="container-sm" data-aos="fade-up">
			<div class="simple-info-section-in simple-info-section-in-center">
				{% if content_row.copy_content_title %}
					<h2>{{content_row.copy_content_title}}</h2>
				{% endif %}
				<div class="desc--box">
					{{content_row.copy_content_text}}
				</div>
			</div>
		</div>
	</section>
{% endif %}
