{% if content_row.projects_row %}

  <section class="latest-news-section main-padding white-bg" data-aos="fade-up" >
                <div class="container-md">
                    <div class="heading heading-center">
                        <h2>{{content_row.heading}}</h2>
                    </div>
					
                    <div class="latest-news-slider">
					{% for item in content_row.projects_row %}
                        <div class="latest-news-slider-item">
                            <div class="latest-news-slider-item-img">
                                {% if item.project.thumbnail %}
							<img src="{{ TimberImage(item.project.thumbnail).src('project-list-thumb') }}" alt=""/>
						{% else %}
							<img src="{{site.link}}/wp-content/uploads/2023/08/placeholder-e1691206229752.png" alt=""/>
						{% endif %}
                            </div>
                            <div class="latest-news-slider-item-btn">
                                <a href="{{item.project.link}}">{{item.project.title}}</a>
                            </div>
                        </div>
						{% endfor %}
					</div>
					
                </div>
            </section>

	
{% endif %}
