{% if content_row.image and content_row.content %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = ' '~content_row.background_color~'-bg' %}
	{% else %}
		{% set color_bg_class = ' primary-bg'%}
	{% endif %}
	{% if content_row.image_position =='left' %}
		{% set image_position_class = ' primary-post-row' %}
	{% else %}
		{% set image_position_class = ' secondary-post-row' %}
	{% endif %}
	<section class="post-row {{image_position_class}} {{color_bg_class}}" data-aos="fade-up">
	<div class="post-row-img hide-img">
			<picture>
			    <source media="(min-width:768px) and (max-width:991px)" srcset="{{ TimberImage(content_row.image).src('post-row-img-ipad') }}">
				<img src="{{ TimberImage(content_row.image).src('post-row-img') }}" alt="">
			</picture>
		</div>
		<div class="post-row-img show-img" style="background-image: url({{ TimberImage(content_row.image).src('post-row-img') }});"></div>
		
		<div class="post-row-content">
			<div class="post-row-content-in">
				<h3>{{content_row.title}}</h3>
				<div class="desc--box">
					<h4>{{content_row.title_copy}}</h4>

					{{content_row.content}}
				</div>
				{% if content_row.cta %}
					<div class="btn-set--left">
						<a href="{{content_row.cta.url}}" target="{{content_row.cta.target}}" class="primary-outline-btn">{{content_row.cta.title}}</a>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
