{% if content_row.image and content_row.content %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' white-bg'%}
	{% endif %}


	<section class="small-post-section secondary-bg main-padding" data-aos="fade-up">
		<div class="container-md">
			<div class="small-post-section-row">
				<div class="small-post-section-row-content">
					<div class="heading heading-left">
						<h2>{{content_row.title}}</h2>
					</div>
					<div class="desc--box">
						{% if content_row.title_copy %}
							<h3>{{content_row.title_copy}}</h3>
						{% endif %}
						{{content_row.content}}
					</div>
					<div class="btn-set--left">
						{% if content_row.cta %}
							<a href="{{content_row.cta.url}}" target="{{content_row.cta.target}}" class="white-btn-arrow">{{content_row.cta.title}}</a>
						{% endif %}
					</div>
				</div>
				<div class="small-post-section-row-img">
					<picture>
					    <source media="(min-width:320px) and (max-width:991px)" srcset="{{ TimberImage(content_row.image).src('small-post-img-same-size') }}"/>
						<img src="{{ TimberImage(content_row.image).src('small-post-img') }}" alt=""/>
					</picture>
				</div>
			</div>
		</div>
	</section>

{% endif %}
