{% if content_row.news_row %}

	<section class="latest-news-section main-padding light-gray-bg" data-aos="fade-up">
		<div class="container-md">
			<div class="heading heading-center">
				<h2>{{content_row.heading}}</h2>
			</div>

			<div class="latest-news-slider">
				{% for item in content_row.news_row %}
					<div class="latest-news-slider-item">
						<div class="latest-news-slider-item-img">
							{% if item.news.thumbnail %}
								<img src="{{ TimberImage(item.news.thumbnail).src('project-list-thumb') }}" alt=""/>
							{% else %}
								<img src="{{site.link}}/wp-content/uploads/2023/08/placeholder-e1691206229752.png" alt=""/>
							{% endif %}
						</div>
						<div class="latest-news-slider-item-btn">
							<a href="{{item.news.link}}">{{item.news.title}}</a>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="btn-set--center ">
				<a href="{{site.link}}/news" target="" class="white-btn-arrow">SEE ALL NEWS</a>
			</div>

		</div>
	</section>


{% endif %}
