{% if content_row.video_url %}
<section class="video-section main-padding light-green-bg" data-aos="fade-up">  
	<div class="container-sm">
		<div class="heading heading-center">
			<h2>{{content_row.title}}</h2>
		</div>
		<div class="video-ifram">
			{{content_row.video_url}}
		</div>
	</div>
</section>
{% endif %}