{% if content_row.content %}
	<section class="img-text-overly-section" data-parallax="scroll" data-image-src="{{ TimberImage(content_row.image).src('src') }}">
		<div class="img-text-overly-section-in">
			<div class="container-md">
				<div class="custom-row">
					<div class="img-text-overly-section-left" data-aos="fade-up">
						<div class="heading heading-left">
							<h2>{{content_row.title}}</h2>
						</div>
						<div class="desc--box">
							{% if content_row.title_copy %}
								<h3 class="sub-title">{{content_row.title_copy}}</h3>
							{% endif %}

							{{content_row.content}}
						</div>
					</div>
					<div class="img-text-overly-section-right" data-aos="fade-up">
						<div class="left-bottom-btn">
							{% if content_row.cta %}
								<a href="{{content_row.cta.url}}" target="{{content_row.cta.target}}" class="white-btn-arrow">{{content_row.cta.title}}</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}
