{% if content_row.content_copy or content_row.service_row %}
	<section class="why-choose-section white-bg main-padding" data-aos="fade-up">
		<div class="container-md">
			<div class="heading heading-center">
				<h2>{{content_row.heading}}</h2>
				
				<div class="desc--box">
					{{content_row.content_copy}}															                                magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam.</p>
				</div>
				
			</div>
			<div class="why-choose-row">
				{% for featured_type in content_row.service_row %}
					<div class="why-choose-item">
						<div class="why-choose-item-icon">
							<img src="{{ TimberImage(featured_type.image).src('src') }}" alt=""/>
						</div>
						<div class="why-choose-item-content">
							<h6>{{featured_type.title}}</h6>
							<div class="desc--box">
								{{featured_type.content}}
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</section>
{% endif %}
