{% if content_row.services_row_group %}
		{% if content_row.services_row_group.service_row %}

           <section class="why-choose-section white-bg main-padding"  >
                <div class="container-md">
                    <div class="heading heading-center" data-aos="fade-up">
						<h2>{{content_row.services_row_group.heading}}</h2>
						<div class="desc--box">
							{{content_row.services_row_group.content_copy}}
						</div>
					</div>
                    <div class="why-choose-row">

					
                      {% for service_row in content_row.services_row_group.service_row %}
                        <div class="why-choose-item" data-aos="fade-up">
                            <div class="why-choose-item-icon">
                                <img src="{{ TimberImage(service_row.image).src('src') }}" alt="">
                            </div>
                            <div class="why-choose-item-content">
                                <h6>{{service_row.title}}</h6>
                                <div class="desc--box">
                                    {{service_row.content}}
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                    </div>
                </div>
            </section>

		{% endif %}
{% endif %}