/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
a,
button {
  cursor: pointer;
}

.main-padding, .news-details-page {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-padding, .news-details-page {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-padding, .news-details-page {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.main-padding-top {
  padding-top: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-padding-top {
    padding-top: 4.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-padding-top {
    padding-top: 3rem;
  }
}

.main-padding-bottom {
  padding-bottom: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-padding-bottom {
    padding-bottom: 4.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-padding-bottom {
    padding-bottom: 4.5rem;
  }
}

.desc--box ul li, p {
  line-height: 1.6rem;
}

.uppercase {
  text-transform: uppercase;
}

.get-touch-section .get-touch-row, .latest-news-section .latest-news-slider {
  margin-top: 4rem !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .get-touch-section .get-touch-row, .latest-news-section .latest-news-slider {
    margin-top: 3rem !important;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .get-touch-section .get-touch-row, .latest-news-section .latest-news-slider {
    margin-top: 3rem !important;
  }
}

.menu-slide .nav-responsive .mobile-header-social-media ul li a, .header-contact-info ul li a, body {
  font-size: 1.3331rem;
}

.block-featured-product-section .block-featured-product-content .desc--boxes h4, .product-details-section .product-details-section-content .product-details-section-content-left h4, .desc--box ul li {
  font-size: 1.4169rem;
}

.details-page h2, .heading-secondary {
  font-size: 1.5831rem;
}

h4 {
  font-size: 1.6669rem;
}

h3 {
  font-size: 2.0831rem;
}

.contact-page-template .heading-left h2, .contact-page-top .contact-page-section-content .contact-page-info ul li a, .get-touch-section .get-touch-row ul li a, .quality-products-section .quality-products-txt .quality-products-txt-box .desc--box strong, h2, .back-btn-box .back-btn {
  font-size: 2.5rem;
  line-height: 3rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contact-page-template .heading-left h2, .contact-page-top .contact-page-section-content .contact-page-info ul li a, .get-touch-section .get-touch-row ul li a, .quality-products-section .quality-products-txt .quality-products-txt-box .desc--box strong, h2, .back-btn-box .back-btn {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-page-template .heading-left h2, .contact-page-top .contact-page-section-content .contact-page-info ul li a, .get-touch-section .get-touch-row ul li a, .quality-products-section .quality-products-txt .quality-products-txt-box .desc--box strong, h2, .back-btn-box .back-btn {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
}

.contact-page-top .contact-page-section-content h1, .page-hd-section .page-hd-section-in h1 {
  font-size: 3.8331rem;
}

.hero-slider-section .hero-slider-item-content h1 {
  font-size: 6.0831rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .hero-slider-section .hero-slider-item-content h1 {
    font-size: 2.8rem;
  }
}

.btn-set--left {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.btn-set--center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.primary-btn,
.secondary-btn,
.primary-outline-btn,
.secondary-outline-btn,
.white-btn,
.wpcf7-submit,
.white-outline-btn,
.white-btn-arrow,
.primary-btn-arrow,
.secondary-btn-arrow,
.secondary-btn-out-line-arrow {
  padding: 0.8rem 1.7rem;
  font-size: 1.3331rem;
  display: block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  min-width: 150px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .primary-btn,
  .secondary-btn,
  .primary-outline-btn,
  .secondary-outline-btn,
  .white-btn,
  .wpcf7-submit,
  .white-outline-btn,
  .white-btn-arrow,
  .primary-btn-arrow,
  .secondary-btn-arrow,
  .secondary-btn-out-line-arrow {
    padding: 0.6rem 1rem;
  }
}

.primary-btn {
  background-color: #efbb16;
  color: #fff;
  border: 1px #efbb16 solid;
}
.primary-btn:hover {
  background-color: #253e73;
  color: #fff;
  border: 1px #253e73 solid;
}

.secondary-btn {
  background-color: #253e73;
  color: #fff;
  border: 1px #253e73 solid;
}
.secondary-btn:hover {
  background-color: #efbb16;
  color: #fff;
  border: 1px #efbb16 solid;
}

.white-btn {
  background-color: #fff;
  color: #253e73;
  border: 0px #253e73 solid;
}
.white-btn:focus {
  color: #efbb16;
}
.white-btn:hover {
  background-color: #efbb16;
  border: 0px #efbb16 solid;
}

.primary-outline-btn {
  background-color: transparent;
  color: #253e73;
  border: 1px #efbb16 solid;
}
.primary-outline-btn:hover {
  background-color: #efbb16;
  color: #fff;
  border: 1px #efbb16 solid;
}

.white-outline-btn {
  background-color: transparent;
  color: #fff;
  border: 1px #fff solid;
}
.white-outline-btn:hover {
  background-color: #efbb16;
  color: #fff;
  border: 1px #efbb16 solid;
}

.secondary-outline-btn {
  background-color: transparent;
  color: #253e73;
  border: 1px #253e73 solid;
}
.secondary-outline-btn:hover {
  background-color: #efbb16;
  color: #fff;
  border: 1px #efbb16 solid;
}

.wpcf7-submit {
  color: #253e73;
  border: 1px #efbb16 solid;
  padding-right: 3rem;
  background: #efbb16 url("../img/icons/arrow-white.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
}
.wpcf7-submit:hover {
  background: #fff url("../img/icons/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  border: 1px #fff solid;
  color: #efbb16;
}

.input-submit .wpcf7-spinner {
  display: none;
}

.primary-btn-arrow {
  background: #efbb16 url("../img/icons/arrow-secondary.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  padding-right: 3rem;
}
.primary-btn-arrow:hover {
  background: #253e73 url("../img/icons/arrow-secondary.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
}

.secondary-btn-arrow {
  background: #253e73 url("../img/icons/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  padding-right: 3rem;
  color: #fff;
}
.secondary-btn-arrow:hover {
  background: #efbb16 url("../img/icons/arrow-secondary.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
}

.secondary-btn-out-line-arrow {
  background: transparent url("../img/icons/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  padding-right: 3rem;
  border: 1px #253e73 solid;
  color: #253e73;
}
.secondary-btn-out-line-arrow:hover {
  background: #253e73 url("../img/icons/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  color: #fff;
}

.white-btn-arrow {
  background: #fff url("../img/icons/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  padding-right: 3rem;
  color: #253e73;
}
.white-btn-arrow:hover {
  background: #efbb16 url("../img/icons/arrow-secondary.svg") no-repeat calc(100% - 1rem) center;
  background-size: 13px;
  color: #fff;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #fff;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0px;
  color: #26313f;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

strong {
  font-weight: 900;
}

.container-lg {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: 1601px) and (max-width: 30000px) {
  .container-lg {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-lg {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-lg {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.container {
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: 1601px) and (max-width: 30000px) {
  .container {
    max-width: 1500px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.container-md {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: 1601px) and (max-width: 30000px) {
  .container-md {
    max-width: 1300px;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .container-md {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container-md {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-md {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-md {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.container-sm {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: 1601px) and (max-width: 30000px) {
  .container-sm {
    max-width: 1100px;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .container-sm {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container-sm {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-sm {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-sm {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.white-bg {
  background: #fff;
}

.primary-bg {
  color: #fff;
  background: #efbb16;
}

.secondary-bg {
  background: #253e73;
  color: #fff;
}

.light-gray-bg {
  background: #ebeef0;
  color: #253e73;
}

.drak-gray-bg {
  background: #26313f;
  color: #fff;
}

.hd-overly-bg, .hero-slider-section .hero-slider-item-content {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+1,000000+99&0+42,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.64) 99%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.64) 99%, rgba(0, 0, 0, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.64) 99%, rgba(0, 0, 0, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#a6000000",GradientType=0 ); /* IE6-9 */
}

.contact-hd-overly-bg, .contact-page-top .contact-page-section-img::after {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+1,000000+47&0+1,0.65+47 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 47%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 47%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 47%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#a6000000",GradientType=0 ); /* IE6-9 */
}

.pg-hd-overly-bg {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,000000+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgb(0, 0, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgb(0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgb(0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#007db9e8", endColorstr="#000000",GradientType=0 ); /* IE6-9 */
}

.parlx-bg, .page-hd-section .page-hd-section-in, .img-text-overly-section .img-text-overly-section-in {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+24,7db9e8+100&0.7+24,0+100 */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.7) 24%, rgba(125, 185, 232, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7) 24%, rgba(125, 185, 232, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 24%, rgba(125, 185, 232, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#b3000000", endColorstr="#007db9e8",GradientType=1 ); /* IE6-9 */
}

.body-gray-bg {
  background: #29292b;
  color: #fff;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.hide-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hide-desktop {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

.desc--box p a {
  color: #253e73;
  text-decoration: none;
}
.desc--box p a:hover {
  text-decoration: underline;
  color: #efbb16;
}
.desc--box p:first-child {
  margin-top: 0px;
}
.desc--box p:last-child {
  margin: 0px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .desc--box p br {
    display: none;
  }
}
.desc--box ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.desc--box ul li {
  position: relative;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 1.4rem;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 991px) {
  .desc--box ul li br {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .desc--box ul li br {
    display: none;
  }
}
.desc--box ul li::before {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0px;
  top: 6px;
  background: #efbb16;
  content: "";
  border-radius: 100px;
}
.desc--box ul ~ p:last-child {
  margin-top: 1.5rem;
}
.desc--box table tr td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.desc--box table tr td:nth-child(1) {
  width: 150px;
  padding-right: 15px;
}

.main-container {
  min-height: 90vh;
}

.back-btn-box {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #253e73;
}
.back-btn-box .back-btn {
  color: #fff;
  position: relative;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0 0 0 30px;
  font-weight: 700;
  background: url("../img/icons/arrow-primary-left.svg") no-repeat center left;
  background-size: 18px;
}
.back-btn-box .back-btn strong {
  font-weight: 700;
}
.back-btn-box .back-btn:hover {
  color: #efbb16;
}

.hide-in-desktop {
  display: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hide-in-desktop {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .hide-in-mobile {
    display: none;
  }
}

h1.text-center {
  text-align: center;
  color: #efbb16;
  margin: 0px;
}

.left-bottom-btn {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.right-bottom-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.spacer-row {
  background: #fff;
  height: 4px;
  width: 100%;
}

/*Helpers Scss Files */
.card-box-1 {
  width: 8.333333%;
}

.card-box-2 {
  width: 16.666667%;
}

.card-box-3 {
  width: 25%;
}

.card-box-4 {
  width: 33.333333%;
}

.card-box-5 {
  width: 41.666667%;
}

.card-box-6 {
  width: 50%;
}

.card-box-7 {
  width: 58.333333%;
}

.card-box-8 {
  width: 66.666667%;
}

.card-box-9 {
  width: 75%;
}

.card-box-10 {
  width: 83.333333%;
}

.card-box-11 {
  width: 91.666667%;
}

.card-box-12 {
  width: 100%;
}

.who-we-are-section {
  padding-top: 6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .who-we-are-section {
    padding-top: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .who-we-are-section {
    padding-top: 3rem;
  }
}

.image-text-flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row {
    padding-left: 13%;
    padding-right: 13%;
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row {
    padding-left: 6%;
    padding-right: 6%;
    flex-direction: column-reverse;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .image-text-flex-row {
    padding-left: 6%;
    padding-right: 6%;
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row {
    margin-bottom: 4rem;
    flex-direction: column-reverse;
  }
}
.image-text-flex-row:last-child {
  margin-bottom: 0px;
}
.image-text-flex-row .image-card-50 {
  width: 63%;
  background-size: cover;
  background-position: center;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row .image-card-50 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row .image-card-50 {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row .image-card-50 {
    width: 100%;
  }
}
.image-text-flex-row .image-card-50 img {
  width: 100%;
  display: block;
  height: auto;
}
.image-text-flex-row .content-card-50 {
  width: 37%;
  padding-left: 3%;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row .content-card-50 {
    width: 100%;
    padding-left: 0%;
    margin-bottom: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row .content-card-50 {
    width: 100%;
    padding-left: 0%;
    margin-bottom: 3rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row .content-card-50 {
    width: 100%;
    padding-left: 0%;
    margin-bottom: 3rem;
  }
}
.image-text-flex-row .content-card-50 .section-hd {
  margin: 0px;
}
.image-text-flex-row .content-card-50 .desc--box {
  margin: 2rem 0;
  min-height: 250px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 95px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 95px;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 84px;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .image-text-flex-row .content-card-50 .desc--box {
    min-height: 95px;
  }
}
.image-text-flex-row .image-card img {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 30px;
}
.image-text-flex-row .content-card-inner {
  position: relative;
  height: 100%;
}
.image-text-flex-row .content-card-inner.download-btn-yes {
  padding-bottom: 5rem;
}
.image-text-flex-row .content-card-inner h2 {
  margin: 0px;
  padding: 0px;
}
.image-text-flex-row .content-card-inner .desc--box {
  margin-top: 1rem;
}
.image-text-flex-row .content-card-inner .btn-set--left {
  position: absolute;
  bottom: 0px;
  left: 0;
}
.image-text-flex-row.image-text-flex-row-right {
  flex-direction: row-reverse;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row.image-text-flex-row-right {
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row.image-text-flex-row-right {
    flex-direction: row-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row.image-text-flex-row-right {
    flex-direction: row-reverse;
  }
}
.image-text-flex-row.image-text-flex-row-right .content-card-50 {
  padding-right: 5%;
  padding-left: 0px;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .image-text-flex-row.image-text-flex-row-right .content-card-50 {
    padding-right: 0%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .image-text-flex-row.image-text-flex-row-right .content-card-50 {
    padding-right: 0%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .image-text-flex-row.image-text-flex-row-right .content-card-50 {
    padding-right: 0%;
  }
}

.input-field {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 2rem;
  margin-left: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .input-field {
    margin-top: 1.2rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
.input-field label {
  font-size: 1.4169rem;
  color: #253e73;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-weight: 100;
}
.input-field label a {
  color: #fff;
  text-decoration: underline;
}
.input-field label a:hover {
  color: #efbb16;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea,
.input-field select {
  border: 0;
  border-bottom: 2px #efbb16 solid;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 0px;
  width: 100%;
  font-size: 1.4169rem;
  color: #fff;
  background: transparent;
  -webkit-appearance: none;
  border-radius: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled,
.input-field select:disabled {
  opacity: 0.5;
}
.input-field input[type=text]::-webkit-input-placeholder,
.input-field input[type=email]::-webkit-input-placeholder,
.input-field input[type=password]::-webkit-input-placeholder,
.input-field input[type=number]::-webkit-input-placeholder,
.input-field input[type=date]::-webkit-input-placeholder,
.input-field textarea::-webkit-input-placeholder,
.input-field select::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 1.4169rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  opacity: 1;
}
.input-field input[type=text]::-moz-placeholder,
.input-field input[type=email]::-moz-placeholder,
.input-field input[type=password]::-moz-placeholder,
.input-field input[type=number]::-moz-placeholder,
.input-field input[type=date]::-moz-placeholder,
.input-field textarea::-moz-placeholder,
.input-field select::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-size: 1.4169rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  opacity: 1;
}
.input-field input[type=text]:-ms-input-placeholder,
.input-field input[type=email]:-ms-input-placeholder,
.input-field input[type=password]:-ms-input-placeholder,
.input-field input[type=number]:-ms-input-placeholder,
.input-field input[type=date]:-ms-input-placeholder,
.input-field textarea:-ms-input-placeholder,
.input-field select:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-size: 1.4169rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  opacity: 1;
}
.input-field input[type=text]:-moz-placeholder,
.input-field input[type=email]:-moz-placeholder,
.input-field input[type=password]:-moz-placeholder,
.input-field input[type=number]:-moz-placeholder,
.input-field input[type=date]:-moz-placeholder,
.input-field textarea:-moz-placeholder,
.input-field select:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-size: 1.4169rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  opacity: 1;
}
.input-field textarea {
  height: 126px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

select {
  width: 100%;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 4.6rem;
}
@media (min-width: 1280px) and (max-width: 1480px) {
  h1 {
    line-height: 5rem;
    font-size: 4rem;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  h1 {
    line-height: 4.5rem;
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  h1 {
    line-height: 4.5rem;
    font-size: 3.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    line-height: 4.5rem;
    font-size: 3.5rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

h5 {
  font-size: 0.8rem;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

h5 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

.heading-secondary {
  position: relative;
  margin: 0px;
  padding: 0 0 1rem 0;
  text-transform: uppercase;
}
.heading-secondary::after {
  content: "";
  width: 150px;
  height: 4px;
  background: #efbb16;
  position: absolute;
  bottom: 0;
  left: 0;
}

.heading h2 {
  position: relative;
  margin: 0px;
  padding: 0 0 1rem 0;
  text-transform: uppercase;
}
.heading h2::after {
  content: "";
  width: 150px;
  height: 4px;
  background: #fff;
  position: absolute;
  bottom: 0;
}
.heading .desc--box {
  margin-top: 1.5rem;
}

.heading-left {
  text-align: left;
}
.heading-left h2::after {
  content: "";
  left: 0;
}

.heading-center {
  text-align: center;
}
.heading-center h2::after {
  left: 0;
  right: 0;
  margin: auto;
}
.heading-center .desc--box {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.heading-right {
  text-align: right;
}
.heading-right h2::after {
  right: 0;
}

.img-text-overly-section .heading h2,
.white-bg .heading h2,
.product-details-section .heading h2 {
  color: #253e73;
}
.img-text-overly-section .heading h2::after,
.white-bg .heading h2::after,
.product-details-section .heading h2::after {
  background: #efbb16;
}

.img-text-overly-section .heading h2 {
  color: #fff;
}

/*Layout Scss Files */
.main-header {
  background-color: transparent;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
.main-header .header-desktop {
  display: block;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .main-header .header-desktop {
    display: none;
  }
}
.main-header .header-responsive {
  display: none;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .main-header .header-responsive {
    display: block;
  }
}
.main-header header {
  position: relative;
}
.main-header header .header-top {
  background-color: #fff;
  padding: 1rem 0;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .main-header header .header-top {
    display: none;
  }
}
.main-header header .header-btm {
  background-color: #253e73;
}
.main-header .custom-row {
  align-items: center;
  position: relative;
  z-index: 2;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .main-header .custom-row {
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-header .container-fluid {
    width: calc(100% - 1rem);
  }
}
.main-header .logo {
  width: 195px;
  position: absolute;
  background: #fff;
  padding: 0 10px 10px 10px;
}
.main-header .logo a {
  padding: 0;
  z-index: 3;
  display: block;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}
.main-header .logo a img {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
}

.header-contact-info ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.header-contact-info ul li {
  margin: 0 1rem;
}
.header-contact-info ul li:last-child {
  margin-right: 0px;
}
.header-contact-info ul li a {
  display: flex;
  color: #26313f;
  align-items: center;
}
.header-contact-info ul li a i {
  width: 35px;
  height: 35px;
  margin-right: 14px;
}
.header-contact-info ul li a i.number-icon {
  background: url("../img/icons/phone yellow cml.svg") no-repeat center center;
  background-size: 100%;
}
.header-contact-info ul li a i.email-icon {
  background: url("../img/icons/email yellow cml.svg") no-repeat center center;
  background-size: 100%;
}
.header-contact-info ul li a:hover {
  color: #253e73;
}
.header-contact-info ul li a:hover i.number-icon {
  background: url("../img/icons/phone blue cml.svg") no-repeat center center;
  background-size: 100%;
}
.header-contact-info ul li a:hover i.email-icon {
  background: url("../img/icons/email blue cml.svg") no-repeat center center;
  background-size: 100%;
}

.nav-desktop {
  display: flex;
  justify-content: end;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .nav-desktop {
    display: none;
  }
}

.nav-responsive {
  display: none;
}

.header-responsive {
  position: relative;
}
.header-responsive .custom-row {
  padding: 10px 0;
}
.header-responsive .logo-mobile {
  width: 100px;
  background: #fff;
  padding: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.header-responsive .logo-mobile a {
  display: block;
}
.header-responsive .logo-mobile a img {
  width: 100%;
  display: block;
}

.nav_menu .nav_menu_inner {
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .nav_menu .nav_menu_inner {
    display: block;
  }
}
.nav_menu nav {
  margin-top: 0px;
  margin-right: 15px;
}

.sm-header .main-header .logo {
  width: 159px;
  bottom: 0;
}
.sm-header .nav__toggle span {
  background-color: #fff;
}
.sm-header .nav__toggle span::before, .sm-header .nav__toggle span::after {
  background-color: #fff;
}
.sm-header .nav__toggle:hover span {
  background-color: #fff;
}
.sm-header .nav__toggle:hover span::before, .sm-header .nav__toggle:hover span::after {
  background-color: #fff;
}

.nav__toggle {
  display: none;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .nav__toggle {
    display: block;
  }
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 25px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .nav__toggle {
    margin-left: auto;
    top: 0px;
  }
}
.nav__toggle span {
  width: 25px;
}
.nav__toggle span::before,
.nav__toggle span::after {
  width: 30px;
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  text-align: right;
  cursor: pointer;
  border-radius: 0px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.2s;
  outline: 0;
  right: 0px;
}
.nav__toggle span {
  top: 15px;
}
.nav__toggle span::before {
  top: -10px;
}
.nav__toggle span::after {
  bottom: -10px;
}

.menu-slide {
  overflow: hidden;
  height: 100%;
}
.menu-slide .nav-responsive {
  display: block;
  background: #efbb16;
  position: fixed;
  width: 100%;
  height: auto;
  overflow: auto;
  top: 51px;
  left: 0px;
  padding-top: 2rem;
}
.menu-slide .nav-responsive .nav-responsive-inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-slide .nav-responsive .mobile-header-menu {
  padding-bottom: 2rem;
}
.menu-slide .nav-responsive .mobile-header-menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: center;
}
.menu-slide .nav-responsive .mobile-header-menu ul li {
  margin: 0px;
  padding: 0.7rem 1rem;
}
.menu-slide .nav-responsive .mobile-header-menu ul li.menu-item-has-children {
  position: relative;
}
.menu-slide .nav-responsive .mobile-header-menu ul li.menu-item-has-children a {
  font-size: 22px;
  color: #253e73;
  font-family: "Roboto Condensed", sans-serif;
}
.menu-slide .nav-responsive .mobile-header-menu ul li.menu-item-has-children .sub-menu-toggle {
  background: url("../img/icons/menu-close.svg") no-repeat center center;
  height: 15px;
  border: 0px;
  padding: 0px;
  cursor: pointer;
  width: 10px;
  margin: 0 0 0 15px;
  display: inline;
  position: absolute;
  top: 18px;
}
.menu-slide .nav-responsive .mobile-header-menu ul li a {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 300;
}
.menu-slide .nav-responsive .mobile-header-menu ul li ul {
  display: none;
  margin-top: 10px;
  margin-bottom: 20px;
}
.menu-slide .nav-responsive .mobile-header-menu ul li ul li {
  padding: 0.4rem 0;
}
.menu-slide .nav-responsive .mobile-header-menu ul li ul li a {
  font-size: 17px !important;
  text-transform: capitalize;
}
.menu-slide .nav-responsive .mobile-header-menu ul li ul li .sub-menu-toggle {
  display: none !important;
}
.menu-slide .nav-responsive .mobile-header-menu ul li.submenu-expanded .sub-menu-toggle {
  background: url("../img/icons/menu-open.svg") no-repeat center center;
}
.menu-slide .nav-responsive .mobile-header-menu ul li.submenu-expanded ul {
  display: block;
}
.menu-slide .nav-responsive .mobile-header-menu ul li.submenu-expanded ul li {
  padding: 5px 0;
}
.menu-slide .nav-responsive .mobile-header-menu ul li.submenu-expanded ul li ul li {
  padding: 0.4rem 0;
}
.menu-slide .nav-responsive .mobile-header-social-media {
  background: #253e73;
  padding: 1rem 2rem;
}
.menu-slide .nav-responsive .mobile-header-social-media ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.menu-slide .nav-responsive .mobile-header-social-media ul li {
  margin: 0 0 1rem 0;
  display: block;
}
.menu-slide .nav-responsive .mobile-header-social-media ul li:last-child {
  margin-bottom: 0px;
}
.menu-slide .nav-responsive .mobile-header-social-media ul li a {
  display: flex;
  color: #fff;
  align-items: center;
}
.menu-slide .nav-responsive .mobile-header-social-media ul li a i {
  width: 35px;
  height: 35px;
  margin-right: 14px;
}
.menu-slide .nav-responsive .mobile-header-social-media ul li a i.number-icon {
  background: url("../img/icons/phone yellow cml.svg") no-repeat center center;
  background-size: 100%;
}
.menu-slide .nav-responsive .mobile-header-social-media ul li a i.email-icon {
  background: url("../img/icons/email yellow cml.svg") no-repeat center center;
  background-size: 100%;
}
.menu-slide .nav-responsive .mobile-header-social-media ul li a:hover {
  color: #253e73;
}
.menu-slide .nav-responsive .mobile-header-social-media ul li a:hover i.number-icon {
  background: url("../img/icons/phone blue cml.svg") no-repeat center center;
  background-size: 100%;
}
.menu-slide .nav-responsive .mobile-header-social-media ul li a:hover i.email-icon {
  background: url("../img/icons/email blue cml.svg") no-repeat center center;
  background-size: 100%;
}
.menu-slide #mega-menu-wrap-max_mega_menu_1 .mega-menu-toggle,
.menu-slide .header-social-media {
  display: none;
}
.menu-slide .nav__toggle span {
  background-color: transparent;
}
.menu-slide .nav__toggle span::before, .menu-slide .nav__toggle span::after {
  top: 0;
  background-color: #fff;
}
.menu-slide .nav__toggle span::before {
  transform: rotate(45deg);
}
.menu-slide .nav__toggle span::after {
  transform: rotate(-45deg);
}
.menu-slide .nav__toggle:hover span {
  background-color: transparent;
}
.menu-slide .nav__toggle:hover span::before, .menu-slide .nav__toggle:hover span::after {
  background-color: #fff;
}

.menu-slide .nav-responsive .mobile-header-menu ul li.current_page_item a {
  color: #253e73;
  font-weight: 700;
}
.menu-slide .nav-responsive .mobile-header-menu ul li.current_page_item ul a {
  color: #26313f;
  font-weight: 300;
}

.menu-slide .nav-responsive .mobile-header-menu ul li.current_page_ancestor a {
  color: #253e73;
  font-weight: 700;
}
.menu-slide .nav-responsive .mobile-header-menu ul li.current_page_ancestor ul a {
  color: #26313f;
  font-weight: 300;
}
.menu-slide .nav-responsive .mobile-header-menu ul li.current_page_ancestor ul .current-menu-item a {
  color: #253e73;
  font-weight: 700;
}

.main-footer {
  background: #253e73;
  padding: 0;
}
.main-footer .custom-row {
  align-items: center;
}
.main-footer .footer-social-media {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-social-media {
    width: 100%;
  }
}
.main-footer .footer-social-media ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-social-media ul {
    justify-content: center;
    margin-top: 1.5rem;
  }
}
.main-footer .footer-social-media ul li {
  margin: 0 2rem 0 0;
  padding: 0px;
}
.main-footer .footer-social-media ul li:last-child {
  margin-right: 0px;
}
.main-footer .footer-social-media ul li a {
  display: block;
  width: 60px;
  height: 60px;
  background-position: center bottom;
}
.main-footer .footer-social-media ul li a.facebook-icon {
  background: url("../img/icons/facebook yellow cml.svg") no-repeat center center;
  background-size: 100%;
}
.main-footer .footer-social-media ul li a.facebook-icon:hover {
  background: url("../img/icons/facebook blue cml.svg") no-repeat center center;
  background-size: 100%;
}
.main-footer .footer-social-media ul li a.linkedin-icon {
  background: url("../img/icons/linkedin yellow cml.svg") no-repeat center center;
  background-size: 100%;
}
.main-footer .footer-social-media ul li a.linkedin-icon:hover {
  background: url("../img/icons/linkedin blue cml.svg") no-repeat center center;
  background-size: 100%;
}
.main-footer .footer-social-media ul li a.twitter-icon {
  background: url("../img/icons/twitter yellow cml.svg") no-repeat center center;
  background-size: 100%;
}
.main-footer .footer-social-media ul li a.twitter-icon:hover {
  background: url("../img/icons/twitter blue cml.svg") no-repeat center center;
  background-size: 100%;
}
.main-footer .footer-logo {
  width: 25%;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-logo {
    width: 100%;
  }
}
.main-footer .footer-logo .logo-img {
  width: 187px;
  display: block;
  background: #fff;
  padding: 0 10px;
}
.main-footer .footer-logo .logo-img img {
  display: block;
  width: 100%;
  height: auto;
}
.main-footer .footer-info {
  width: 25%;
  text-align: right;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-info {
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
  }
}
.main-footer .footer-info .copy-right {
  color: #fff;
  font-size: 1rem;
  margin: 10px 0 0 0;
  font-weight: 300;
}
.main-footer .footer-info .copy-right a {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}
.main-footer .footer-info .copy-right a:hover {
  color: #efbb16;
}
.main-footer .footer-info ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.main-footer .footer-info ul li {
  margin: 0px;
  padding: 0px;
}
.main-footer .footer-info ul li a {
  display: block;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}
.main-footer .footer-info ul li a:hover {
  color: #efbb16;
}

@media (min-width: 320px) and (max-width: 767px) {
  .hero-slider-section {
    background: #253e73;
  }
}
.hero-slider-section .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  border: 0px;
  padding: 0px;
  text-indent: -9999px;
  width: 50px;
  height: 70px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-slider-section .slick-arrow {
    top: 20%;
    width: 40px;
    height: 60px;
  }
}
.hero-slider-section .slick-arrow.slick-prev {
  left: 0px;
  background: #253e73 url("../img/icons/Arrow white Left.svg") no-repeat center center;
  background-size: 30px;
}
.hero-slider-section .slick-arrow.slick-next {
  right: 0px;
  background: #253e73 url("../img/icons/Arrow white Right.svg") no-repeat center center;
  background-size: 30px;
}
.hero-slider-section .hero-slider-item-img img {
  width: 100%;
  height: auto;
  display: block;
}
.hero-slider-section .hero-slider-item-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-slider-section .hero-slider-item-content {
    background: #253e73;
    position: relative;
  }
}
.hero-slider-section .hero-slider-item-content h1 {
  margin: 0px;
  padding: 0px;
  color: #efbb16;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}
.hero-slider-section .hero-slider-item-content h1 span {
  color: #fff;
  display: block;
  font-size: 3rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-slider-section .hero-slider-item-content h1 span {
    font-size: 1.5rem;
  }
}
.hero-slider-section .hero-slider-item-content .btn-set--left {
  margin-top: 3rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero-slider-section .hero-slider-item-content .btn-set--left {
    margin-top: 1rem;
  }
}
.hero-slider-section .hero-slider-item-content .btn-set--left a {
  margin-right: 2rem;
  min-width: 182px;
}
.hero-slider-section .hero-slider-item-content .btn-set--left a:last-child {
  margin-right: 0;
}

.quality-products-section {
  position: relative;
  background: #efbb16;
}
.quality-products-section .quality-products-txt {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .quality-products-section .quality-products-txt {
    position: relative;
  }
}
.quality-products-section .quality-products-txt .quality-products-txt-box {
  width: 50%;
  padding: 3rem 5rem 3rem 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .quality-products-section .quality-products-txt .quality-products-txt-box {
    width: 100%;
    padding: 2rem 0;
  }
}
.quality-products-section .quality-products-txt .quality-products-txt-box .desc--box {
  margin-top: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4169rem;
  line-height: 2.5rem;
}
.quality-products-section .quality-products-txt .quality-products-txt-box .desc--box strong {
  color: #fff;
  display: block;
}
.quality-products-section .quality-products-txt .quality-products-txt-box .btn-set--left {
  margin-top: 2rem;
}
.quality-products-section .quality-products-row {
  width: 50%;
  margin-left: auto;
  background: #fff;
  min-height: 300px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .quality-products-section .quality-products-row {
    width: 100%;
    margin-left: 0;
  }
}

.quality-products-box {
  width: 50%;
  position: relative;
}
.quality-products-box .quality-products-img {
  width: 100%;
  height: 100%;
}
.quality-products-box .quality-products-img img {
  display: block;
  width: 100%;
  height: auto;
}
.quality-products-box .quality-products-btn {
  position: absolute;
  left: 0;
  top: 2rem;
}
.quality-products-box .quality-products-btn a {
  text-transform: capitalize;
  text-align: left;
}

.why-choose-section .why-choose-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}
.why-choose-section .why-choose-row .why-choose-item {
  width: 25%;
  text-align: center;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
}
.why-choose-section .why-choose-row .why-choose-item::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 3rem;
  bottom: 3rem;
  width: 2px;
  height: calc(100% - 6rem);
  background: #efbb16;
}
.why-choose-section .why-choose-row .why-choose-item:last-child::after {
  display: none;
}
.why-choose-section .why-choose-row .why-choose-item .why-choose-item-icon {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background: #253e73;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.why-choose-section .why-choose-row .why-choose-item .why-choose-item-icon img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}
.why-choose-section .why-choose-row .why-choose-item .why-choose-item-content {
  margin-top: 1.5rem;
}
.why-choose-section .why-choose-row .why-choose-item .why-choose-item-content h6 {
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.why-choose-section .why-choose-row .why-choose-item .why-choose-item-content .desc--box {
  margin-top: 1rem;
}

.img-text-overly-section {
  position: relative;
  min-height: 500px;
}
.img-text-overly-section .img-text-overly-section-in {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 6rem 0;
}
.img-text-overly-section .container-md {
  position: relative;
  z-index: 1;
}
.img-text-overly-section .img-text-overly-section-left {
  width: 60%;
  padding-right: 10%;
}
.img-text-overly-section .img-text-overly-section-left .desc--box {
  margin-top: 3rem;
}
.img-text-overly-section .img-text-overly-section-right {
  width: 40%;
  position: relative;
}
.img-text-overly-section .img-text-overly-section-right .white-btn-arrow {
  display: inline-block;
}

.latest-news-section .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 1;
  border: 0px;
  padding: 0px;
  text-indent: -9999px;
  width: 50px;
  height: 70px;
}
.latest-news-section .slick-arrow.slick-prev {
  left: -3rem;
  background: url("../img/icons/Arrow blue Left.svg") no-repeat center center;
  background-size: 30px;
}
.latest-news-section .slick-arrow.slick-next {
  right: -3rem;
  background: url("../img/icons/Arrow blue Right.svg") no-repeat center center;
  background-size: 30px;
}
.latest-news-section .slick-slide {
  position: relative;
  margin: 0 10px;
}

.latest-news-slider-item {
  position: relative;
  padding-bottom: 2rem;
}
.latest-news-slider-item .latest-news-slider-item-img img {
  display: block;
  width: 100%;
  height: auto;
}
.latest-news-slider-item .latest-news-slider-item-btn {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 0 2rem;
}
.latest-news-slider-item .latest-news-slider-item-btn a {
  background: #253e73 url("../img/icons/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
  background-size: 15px;
  padding: 1.5rem 3rem 1.5rem 1rem;
  display: block;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}
.latest-news-slider-item .latest-news-slider-item-btn a:hover {
  background: #efbb16 url("../img/icons/arrow-secondary.svg") no-repeat calc(100% - 1rem) center;
  background-size: 15px;
  color: #253e73;
}

.small-post-section .small-post-section-row {
  display: flex;
  flex-wrap: wrap;
}
.small-post-section .small-post-section-row .small-post-section-row-content {
  width: 60%;
  padding-right: 10%;
}
.small-post-section .small-post-section-row .small-post-section-row-content .desc--box {
  margin-top: 1.5rem;
}
.small-post-section .small-post-section-row .small-post-section-row-content .desc--box h3 {
  color: #efbb16;
}
.small-post-section .small-post-section-row .small-post-section-row-content .btn-set--left {
  margin-top: 3rem;
}
.small-post-section .small-post-section-row .small-post-section-row-img {
  width: 40%;
}
.small-post-section .small-post-section-row .small-post-section-row-img img {
  display: block;
  width: 100%;
  height: auto;
}
.small-post-section .small-post-section-row.row-reverse {
  flex-direction: row-reverse;
}
.small-post-section .small-post-section-row.row-reverse .small-post-section-row-content {
  padding-right: 0%;
  padding-left: 5%;
}

.get-touch-section .get-touch-row ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.get-touch-section .get-touch-row ul li {
  margin: 0 2rem;
}
.get-touch-section .get-touch-row ul li a {
  display: flex;
  color: #26313f;
  align-items: center;
}
.get-touch-section .get-touch-row ul li a i {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.get-touch-section .get-touch-row ul li a i.number-icon {
  background: url("../img/icons/phone yellow cml.svg") no-repeat center center;
  background-size: 100%;
}
.get-touch-section .get-touch-row ul li a i.email-icon {
  background: url("../img/icons/email yellow cml.svg") no-repeat center center;
  background-size: 100%;
}
.get-touch-section .get-touch-row ul li a:hover {
  color: #253e73;
}
.get-touch-section .get-touch-row ul li a:hover i.number-icon {
  background: url("../img/icons/phone blue cml.svg") no-repeat center center;
  background-size: 100%;
}
.get-touch-section .get-touch-row ul li a:hover i.email-icon {
  background: url("../img/icons/email blue cml.svg") no-repeat center center;
  background-size: 100%;
}

.page-hd-section {
  position: relative;
}
.page-hd-section .page-hd-section-img img {
  width: 100%;
  height: auto;
  display: block;
}
.page-hd-section .page-hd-section-in {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.page-hd-section .page-hd-section-in h1 {
  color: #fff;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}

.simply-text-section {
  text-align: center;
}

.in-pd,
.padding-in-page {
  padding-left: 4rem;
  padding-right: 4rem;
}
@media (min-width: 320px) and (max-width: 567px) {
  .in-pd,
  .padding-in-page {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.news-details-page {
  background-color: #ebeef0;
  text-align: center;
}

.products-list .custom-row {
  margin-left: -2%;
  margin-right: -2%;
}
.products-list .quality-products-box {
  width: 21%;
  margin: 2%;
}

.news-list-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2%;
  margin-right: -2%;
}
.news-list-row .latest-news-slider-item {
  width: 29.33%;
  margin: 2%;
}

.details-page-padding {
  padding: 8rem;
}

.details-page {
  text-align: left;
}
.details-page .news-full-img {
  margin-top: 3rem;
}
.details-page h2 {
  color: #253e73;
}

.news-full-img img {
  width: 100%;
  height: auto;
  display: block;
}

.simple-info-section {
  text-align: center;
  color: #26313f;
}

.product-details-section {
  padding: 9rem 0 6rem 0;
}
.product-details-section .product-details-section-content {
  display: flex;
  flex-wrap: wrap;
}
.product-details-section .product-details-section-content .product-details-section-content-left {
  width: 45%;
}
.product-details-section .product-details-section-content .product-details-section-content-left h4 {
  color: #253e73;
  margin: 0 0 1rem 0;
  padding: 0xp;
}
.product-details-section .product-details-section-content .product-details-section-content-right {
  width: 45%;
  margin-left: auto;
  padding-top: 2.2rem;
}
.product-details-section .product-details-section-content .product-details-section-content-right .product-slider-nav {
  margin-top: 1rem;
  position: relative;
}
.product-details-section .product-details-section-content .product-details-section-content-right .product-slider-nav .slick-list {
  width: 100%;
}
.product-details-section .product-details-section-content .product-details-section-content-right .product-slider-nav .slick-prev ~ .slick-list {
  width: calc(100% - 60px);
  margin: auto;
}
.product-details-section .product-details-section-content .product-details-section-content-right .product-slider-nav .product-slider-nav-item {
  padding: 0 0.5rem;
}
.product-details-section .product-details-section-content .product-details-section-content-right .product-slider-nav .slick-arrow {
  position: absolute;
  top: 0;
  z-index: 1;
  border: 0px;
  padding: 0px;
  text-indent: -9999px;
  width: 32px;
  height: 100%;
}
.product-details-section .product-details-section-content .product-details-section-content-right .product-slider-nav .slick-arrow.slick-prev {
  left: 0px;
  background: #253e73 url("../img/icons/Arrow white Left.svg") no-repeat center center;
  background-size: 15px;
}
.product-details-section .product-details-section-content .product-details-section-content-right .product-slider-nav .slick-arrow.slick-next {
  right: 0px;
  background: #253e73 url("../img/icons/Arrow white Right.svg") no-repeat center center;
  background-size: 15px;
}
.product-details-section .product-details-section-content .product-details-section-content-right img {
  display: block;
  width: 100%;
  height: auto;
}

.btm-border {
  border-bottom: 1px #26313f solid;
  padding-bottom: 2rem;
}

.product-details-description,
.product-details-usage,
.product-details-features {
  margin-top: 2rem;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 0px 10px;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
  font-family: "Roboto Condensed", sans-serif !important;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link {
  font-size: 1rem;
  color: #253e73;
  font-weight: 400;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
  margin: 0 25px;
  padding: 10px 0;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:last-child {
  margin-right: 0px;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
  font-size: 1rem;
  color: #253e73;
  font-weight: 400;
}

@media only screen and (min-width: 769px) {
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade_up] li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu,
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade_up] li.mega-menu-item.mega-menu-flyout ul.mega-sub-menu {
    min-height: 235px;
  }
  #mega-menu-wrap-primary {
    background: transparent;
  }
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-7 {
    width: 300px;
    padding: 0 15px;
  }
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link:hover {
    background: transparent;
    color: #efbb16;
  }
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item {
  padding: 5px 15px 5px 15px;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu {
  left: inherit;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-toggle-on > a.mega-menu-link,
#mega-menu-wrap-primary.mega-keyboard-navigation > li.mega-menu-item > a.mega-menu-link:focus {
  background: transparent;
  color: #efbb16;
}

@media only screen and (max-width: 768px) {
  #mega-menu-wrap-primary.mega-keyboard-navigation > li.mega-menu-item > a.mega-menu-link:focus {
    background: transparent;
    color: #efbb16;
  }
}
#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-current-menu-item a {
  color: #253e73;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu::after {
  content: "";
  width: 10000%;
  height: 100%;
  background: #efbb16;
  top: 0px;
  left: 0;
  position: absolute;
  z-index: -1;
  display: block;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu::before {
  content: "";
  width: 10000%;
  height: 100%;
  background: #efbb16;
  top: 0px;
  right: 0;
  position: absolute;
  z-index: -1;
  display: block;
}

@media only screen and (min-width: 769px) {
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade] li.mega-menu-item > ul.mega-sub-menu {
    opacity: 0;
    transition: opacity 200ms ease-in, visibility 200ms ease-in;
  }
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade].mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu,
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade].mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu,
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu,
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
    opacity: 1;
  }
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade_up] li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu,
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade_up] li.mega-menu-item.mega-menu-flyout ul.mega-sub-menu {
    opacity: 0;
    transform: translate(0, 10px);
    transition: opacity 200ms ease-in, transform 200ms ease-in, visibility 400ms ease-in;
  }
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade_up].mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu,
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade_up].mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu,
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade_up] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu,
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade_up] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
    opacity: 1;
    transform: translate(0, 0);
    padding: 25px 0;
  }
  .mega-sub-menu .mega-sub-menu {
    margin-top: 0px !important;
    padding: 0 !important;
  }
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=slide_up] li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu,
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=slide_up] li.mega-menu-item.mega-menu-flyout ul.mega-sub-menu {
    transform: translate(0, 10px);
    transition: transform 200ms ease-in, visibility 200ms ease-in;
  }
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=slide_up].mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu,
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=slide_up].mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu,
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=slide_up] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu,
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=slide_up] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
    transform: translate(0, 0);
  }
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:focus,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link:focus {
  color: #fff;
  font-weight: 500;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item.mega-current-menu-item > a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item.mega-current-menu-item > a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item.mega-current-menu-item > a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item.mega-current-menu-item > a.mega-menu-link {
  color: #fff;
  font-weight: 500;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-2 {
  width: 50%;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator {
  position: absolute;
  left: inherit;
  right: 0px;
  bottom: 37%;
}
#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator::after {
  display: none;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator {
  background: url("../img/icons/nav-arrow-white.svg") no-repeat center center;
  width: 7px;
  height: 12px;
  background-size: 100%;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link > span.mega-indicator {
  background: url("../img/icons/down-nav-white-icon.svg") no-repeat center center;
  width: 13px;
  height: 11px;
  background-size: 100%;
}

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children > a.mega-menu-link {
  padding-right: 20px;
  padding-left: 0px;
}

#mega-menu-wrap-primary #mega-menu-primary[data-effect=fade_up].mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu,
#mega-menu-wrap-primary #mega-menu-primary[data-effect=fade_up].mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu,
#mega-menu-wrap-primary #mega-menu-primary[data-effect=fade_up] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu,
#mega-menu-wrap-primary #mega-menu-primary[data-effect=fade_up] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
  margin-top: 10px;
}
@media (min-width: 1025px) and (max-width: 1550px) {
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade_up].mega-no-js li.mega-menu-item:hover > ul.mega-sub-menu,
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade_up].mega-no-js li.mega-menu-item:focus > ul.mega-sub-menu,
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade_up] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu,
  #mega-menu-wrap-primary #mega-menu-primary[data-effect=fade_up] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
    margin-top: 36px;
  }
}

.sm-header #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator,
.drop-down-open #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator {
  background: url("../img/icons/nav-arrow-drak.svg") no-repeat center center;
  width: 7px;
  height: 12px;
  background-size: 100%;
}
.sm-header #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link > span.mega-indicator,
.drop-down-open #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children.mega-toggle-on > a.mega-menu-link > span.mega-indicator {
  background: url("../img/icons/down-nav-drak-icon.svg") no-repeat center center;
  width: 13px;
  height: 11px;
  background-size: 100%;
}

.block-featured-product-section .block-featured-product-content {
  width: 40%;
  margin-right: 5%;
  padding-bottom: 5rem;
  position: relative;
}
.block-featured-product-section .block-featured-product-content .desc--boxes {
  margin-top: 1.5rem;
}
.block-featured-product-section .block-featured-product-content .desc--boxes h4 {
  margin-top: 0px;
  color: #253e73;
  margin-bottom: 0px;
}
.block-featured-product-section .block-featured-product-img {
  width: 55%;
}
.block-featured-product-section .block-featured-product-img img {
  width: 100%;
  display: block;
  height: auto;
}

.post-row {
  display: flex;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row {
    flex-wrap: wrap;
    padding: 3rem 8rem 0;
    align-items: inherit;
    flex-direction: column-reverse;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .post-row {
    flex-wrap: wrap;
    padding: 3rem 6rem 0;
    align-items: inherit;
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .post-row {
    flex-wrap: wrap;
    padding: 3rem 2rem 0;
    align-items: inherit;
    flex-direction: column-reverse;
  }
}
.post-row .post-row-img {
  width: 50%;
}
.post-row .post-row-img.show-img {
  display: none;
  background-size: cover;
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .post-row .post-row-img.hide-img {
    display: none;
  }
  .post-row .post-row-img.show-img {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .post-row .post-row-img.hide-img {
    display: none;
  }
  .post-row .post-row-img.show-img {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-row-img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .post-row-img {
    width: 100%;
  }
}
.post-row .post-row-img img {
  width: 100%;
  height: auto;
  display: block;
}
.post-row .post-row-content {
  width: 50%;
  padding: 4rem 14% 4rem 4rem;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row .post-row-content {
    width: 100%;
    padding: 0 0 3rem 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .post-row-content {
    width: 100%;
    padding: 0rem 0 2rem 0;
  }
}
.post-row .post-row-content h3 {
  margin: 0 0 1.4rem 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .post-row .post-row-content h3 {
    margin: 0 0 1rem 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row .post-row-content h3 {
    margin: 0 0 1rem 0;
  }
}
.post-row .post-row-content .btn-set--left {
  margin-top: 2rem;
}
.post-row.secondary-post-row {
  flex-direction: row-reverse;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row.secondary-post-row {
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row.secondary-post-row {
    flex-direction: column-reverse;
  }
}
.post-row.secondary-post-row .post-row-content {
  padding: 4rem 4rem 4rem 14%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-row.secondary-post-row .post-row-content {
    padding: 0 0 3rem 0;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .post-row.secondary-post-row .post-row-content {
    padding: 0 0 2rem 0;
  }
}

.pagination-block {
  padding: 3rem 0;
}
.pagination-block .pagination {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: end;
}
.pagination-block .pagination li {
  margin: 0 10px;
  padding: 0px;
}
.pagination-block .pagination li a,
.pagination-block .pagination li button,
.pagination-block .pagination li span {
  color: #253e73;
  font-size: 1.2rem;
  display: block;
  font-weight: 500;
  padding: 7px 14px;
  border: 1px #253e73 solid;
}
.pagination-block .pagination li span {
  color: #253e73;
}
.pagination-block .pagination li .current {
  background-color: #253e73;
  color: #fff;
}
.pagination-block .pagination li.btn a {
  border-color: transparent;
}

.video-section {
  background: #efbb16;
}
.video-section .video-ifram {
  margin-top: 4rem;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .video-section .video-ifram {
    text-align: center;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .video-section .video-ifram {
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .video-section .video-ifram {
    text-align: center;
  }
}
.video-section .video-ifram img {
  max-width: 100%;
  display: block;
}
.video-section .video-ifram iframe {
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .video-section .video-ifram iframe {
    width: 577px !important;
    height: 392px !important;
    margin: auto;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .video-section .video-ifram iframe {
    width: 375px !important;
    height: 264px !important;
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .video-section .video-ifram iframe {
    width: 300px !important;
    height: 229px !important;
    margin: auto;
  }
}

.contact-page-top {
  position: relative;
}
.contact-page-top .contact-page-section-img {
  position: absolute;
  width: 100%;
  height: 47%;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.contact-page-top .contact-page-section-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.contact-page-top .contact-page-section-img img {
  display: block;
  width: 100%;
  height: auto;
}
.contact-page-top .contact-page-section-content {
  width: 100%;
  height: 100%;
  padding: 9rem 0 6rem 0;
  position: relative;
  z-index: 1;
}
.contact-page-top .contact-page-section-content h1 {
  color: #fff;
  margin: 0 0 4.5rem 0;
  padding: 0px;
  text-transform: uppercase;
}
.contact-page-top .contact-page-section-content .contact-page-info ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.contact-page-top .contact-page-section-content .contact-page-info ul li {
  margin: 2.5rem 0;
}
.contact-page-top .contact-page-section-content .contact-page-info ul li a {
  display: flex;
  color: #fff;
  align-items: center;
}
.contact-page-top .contact-page-section-content .contact-page-info ul li a i {
  width: 50px;
  height: 50px;
  margin-right: 30px;
}
.contact-page-top .contact-page-section-content .contact-page-info ul li a i.telephone-icon {
  background: url("../img/icons/contact yellow phone cml.svg") no-repeat center center;
  background-size: 92%;
}
.contact-page-top .contact-page-section-content .contact-page-info ul li a i.email-icon {
  background: url("../img/icons/contact yellow email cml.svg") no-repeat center center;
  background-size: 100%;
}
.contact-page-top .contact-page-section-content .contact-page-info ul li a i.location-icon {
  background: url("../img/icons/contact yellow map cml.svg") no-repeat center center;
  background-size: 72%;
}

.contact-form-bg {
  background: #253e73;
  padding: 5rem;
  margin-top: 6rem;
}

.contact-page-template {
  background-color: #fff;
}
.contact-page-template .heading-left h2 {
  color: #fff;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.contact-page-template .last-btn-set {
  display: flex;
  flex-wrap: wrap;
}
.contact-page-template .last-btn-set .input-submit-box {
  margin-left: auto;
}
.contact-page-template .wpcf7 .wpcf7-submit:disabled {
  cursor: pointer !important;
}
.contact-page-template .input-field-set {
  display: flex;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-page-template .input-field-set {
    display: block;
  }
}
.contact-page-template .input-field-set .input-field {
  margin-top: 9px;
}
.contact-page-template .input-field-set .input-submit-box {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-page-template .input-field-set .input-submit-box {
    margin-left: 0;
    margin-top: 2rem;
  }
}
.contact-page-template .wpcf7-acceptance span {
  margin-right: 0;
  position: relative;
}
.contact-page-template .wpcf7-acceptance .wpcf7-list-item {
  margin: 0;
}
.contact-page-template .wpcf7-acceptance input {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-page-template .input-field-set {
    max-width: 341px;
  }
}
.contact-page-template .wpcf7-acceptance input::after,
.contact-page-template .wpcf7-acceptance input:checked::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-page-template .wpcf7-acceptance input::after,
  .contact-page-template .wpcf7-acceptance input:checked::after {
    right: 0px;
    left: inherit;
  }
}
.contact-page-template .wpcf7-acceptance input::before {
  content: "";
  background: #253e73;
  width: 26px;
  height: 26px;
  position: absolute;
  left: -3px;
  top: -3px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-page-template .wpcf7-acceptance input::before {
    right: -3px;
    left: inherit;
  }
}
.contact-page-template .wpcf7-acceptance input::after {
  background: url("../img/icons/checkinput.svg") no-repeat center center;
}
.contact-page-template .wpcf7-acceptance input:checked::after {
  background: url("../img/icons/checkedinput.svg") no-repeat center center;
}
.contact-page-template .input-field-set label {
  position: relative;
  padding: 0 29px 0 0px;
  display: block;
  align-items: center;
  color: #fff;
}
.contact-page-template .input-field-set label a {
  color: #efbb16;
}
.contact-page-template .input-field-set label a:hover {
  color: #26313f;
}
.contact-page-template .input-field-set .wpcf7-form-control-wrap {
  position: absolute;
  right: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-page-template .recaptcha iframe {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .contact-page-template .recaptcha iframe {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

/*# sourceMappingURL=global.css.map */
