.btn-set--left {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.btn-set--center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-set--right {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    @include breakpoint(mobile_portrait){
        justify-content: start;
    }
}

.primary-btn,
.secondary-btn,
.primary-outline-btn,
.secondary-outline-btn,
.white-btn,
.wpcf7-submit
{
    padding:0.5rem 1.5rem;
    font-size: $btn-font-size-base;
    display: block;
    @include border-radius(100px);
    text-align: center;
}


.primary-btn {
    background-color: $primary-color;
    color: $white;
    border: 1px $primary-color solid;
    &:hover {
        background-color: $secondary-color;
        color: $white;
        border: 1px $secondary-color solid;
    }
}

.secondary-btn {
    background-color: $secondary-color;
    color: $white;
    border: 1px $secondary-color solid;
 
    &:hover
    {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}

.white-btn {
    background-color: $white;
    color: $primary-color;
    border: 0px $secondary-color solid;
    &:focus{
        color: $primary-color;
    }
    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 0px $primary-color solid;
    }
}

.primary-outline-btn {
    background-color: transparent;
    color: $white;
    border: 1px $primary-color solid;
   
    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}



.secondary-outline-btn {
    background-color: transparent;
    color: $secondary-color;
    border: 1px $secondary-color solid;
 
    &:hover {
        background-color: $secondary-color;
        color: $white;
        border: 1px $secondary-color solid;
    }
}

.wpcf7-submit {
    background-color: $primary-color;
    color: $white;
    border: 1px $primary-color solid;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    &:hover {
        background-color: $drak-gray;
        color: $white;
        border: 1px $drak-gray solid;
    }
}

.input-submit {
    .wpcf7-spinner {
        display: none;
    }
}
.download-icon{
    fill: $white;
    width: 13px;
    height: 19px;
    display: inline-flex;
    margin-left: 10px;
}
.download-btn{
    a{
        display: flex;
        align-items: center;
        
            
    }
}
.download-icon-btn{
    i{
        margin-left: 15px;
        width: 13px;
        height: 18px;
        background: url("#{$assetIconsPath}/white download jennings.svg") no-repeat center center;
     }
}
.secondary-bg{

    .download-icon-btn{
        i{
            background: url("#{$assetIconsPath}/green download jennings.svg") no-repeat center center;
         }
         &:hover{
            i{

                background: url("#{$assetIconsPath}/white download jennings.svg") no-repeat center center;  
            }
         }
    }
}
.primary-bg .secondary-btn.download-icon-btn:hover,
.primary-bg .secondary-btn.download-icon-btn:focus
{
    i{
        width: 13px;
        height: 18px;
        background: url("#{$assetIconsPath}/purple download jennings.svg") no-repeat center center;
     } 
}
.secondary-bg .secondary-btn.download-icon-btn{
    i{
        width: 13px;
        height: 18px;
        background: url("#{$assetIconsPath}/green download jennings.svg") no-repeat center center;
     } 
     &:hover{
        i{
            margin-left: 15px;
            width: 13px;
            height: 18px;
            background: url("#{$assetIconsPath}/white download jennings.svg") no-repeat center center;
         }
     }

}
.primary-bg{
    .secondary-btn {
        &:hover,
        &:active,
        &:focus {
            background-color: $white;
            color: $secondary-color !important;
            border: 1px $primary-color solid;
            i{
                fill: $secondary-color;
            }
        }
    }
}

.primary-bg{
    .primary-btn {
        &:hover {
            background-color: $primary-color;
            color: $secondary-color;
            border: 1px $secondary-color solid;
        }
    }
}

.secondary-bg{
   .secondary-btn{
    background-color: $white;
    color: $primary-color;
    border: 1px $white solid;
    &:hover{
        background-color: $primary-color;
        color: #fff;
        border: 1px $primary-color solid;
    }
   } 
}

.white-btn{
    .download-icon{
        fill: $primary-color;
    }
    &:hover{
        .download-icon{
            fill: $white;
        } 
    }
}
.btn-download-file{
    a{
        display: flex;
        align-items: center;
    }
}