.image-text-flex-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    @include breakpoint(ipad_air){
        padding-left: 20%;
       padding-right: 20%;
     }
    @include breakpoint(ipad_landscape){
        padding-left: 13%;
       padding-right: 13%;
     }
    @include breakpoint(ipad_portrait){
        padding-left: 6%;
       padding-right: 6%;
     }
    @include breakpoint(mobile_landscape){
       padding-left: 6%;
       padding-right: 6%;
    }
    @include breakpoint(mobile){
        margin-bottom: 4rem;
    }

    &:last-child {
        margin-bottom: 0px;
    }

    .image-card-50 {
        width: 45%;
        @include breakpoint(ipad_air){
            width: 100%;
        }
        @include breakpoint(ipad_landscape){
            width: 100%;
        }
        @include breakpoint(ipad_portrait){
            width: 100%;
        }
        @include breakpoint(mobile){
            width: 100%;
        }
    }

    .content-card-50 {
        width: 55%;
        padding-left: 5%;
        @include breakpoint(ipad_air){
            width: 100%;
            padding-left: 0%;
            margin-top: 2rem;
        }
        @include breakpoint(ipad_landscape){
            width: 100%;
            padding-left: 0%;
            margin-top: 2rem;
        }
        @include breakpoint(ipad_portrait){
            width: 100%;
            padding-left: 0%;
            margin-top: 2rem;
        }
        @include breakpoint(mobile){
            width: 100%;
            padding-left: 0%;
            margin-top: 2rem;
        }
    }

    .image-card {
        img {
            width: 100%;
            display: block;
            height: auto;
            border-radius: 30px;
        }
    }

    .content-card-inner {
        position: relative;
        height: 100%;
       &.download-btn-yes{
        padding-bottom: 5rem;
       }

        h2 {
            margin: 0px;
            padding: 0px;
        }

        .desc--box {
            margin-top: 1rem;
        }

        .btn-set--left {
            position: absolute;
            bottom: 0px;
            left: 0;
        }
    }

    &.image-text-flex-row-right {
        flex-direction: row-reverse;
        @include breakpoint(ipad_air){
            flex-direction: row-reverse;
        }
        @include breakpoint(ipad_landscape){
            flex-direction: row-reverse;
        }
        @include breakpoint(ipad_portrait){
            flex-direction: row-reverse;
        }
        @include breakpoint(mobile){
            flex-direction: row-reverse;
        }
        .content-card-50 {
            padding-right: 5%;
            padding-left: 0px;
            @include breakpoint(ipad_air){
                padding-right: 0%;
            }
            @include breakpoint(ipad_landscape){
                padding-right: 0%;
            }
            @include breakpoint(ipad_portrait){
                padding-right: 0%;
            }
            @include breakpoint(mobile){
                padding-right: 0%;
            }
        }
    }
}

.white-bg{
    .image-text-flex-row .content-card-inner h2{
        color: $drak-gray;
    }
}


.our-history{
    @include breakpoint(ipad_air){
        .history-section{
             .container-md{
                 width: calc(100% - 3rem);
             }
        } 
         .image-text-flex-row{
             padding-left: 0px;
             padding-right: 0px;
             .image-card-50{
                 width: 40%;
             }
             .content-card-50{
                 width: 60%;
                 padding-left: 3%;
                 margin-top: 0px;
             }
             &.image-text-flex-row-right {
                 flex-direction: row-reverse;
                 .content-card-50 {
                     padding-right: 3%;
                    
                 }
             }
         }
     }
    @include breakpoint(ipad_landscape){
       .history-section{
            .container-md{
                width: calc(100% - 3rem);
            }
       } 
        .image-text-flex-row{
            padding-left: 0px;
            padding-right: 0px;
            .image-card-50{
                width: 40%;
            }
            .content-card-50{
                width: 60%;
                padding-left: 3%;
                margin-top: 0px;
            }
            &.image-text-flex-row-right {
                flex-direction: row-reverse;
                .content-card-50 {
                    padding-right: 3%;
                   
                }
            }
        }
    }
}