{% extends "base.twig" %}

{% block content %}


	{% include 'partial/content-page-hero.twig' with {post:blog_post} %}

	<section class="filter-projects-section">
		<div class="container">
			{% include ['partial/content-categories-filter.twig']%}


			<div class="projects-row">
				{% if posts %}
					{% for post in posts %}
						{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
					{% endfor %}
				{% else %}
					<p>No project found. Please try again.</p>
				{% endif %}

				<div class="project-pagination">
					{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: true, mid_size: 3, end_size: 2}) } %}
				</div>
			</div>

			<div class="no-result" style="display:none"><p>No project found. Please try again.</p></div>

		</div>
	</section>


	{% include "partial/content-flexible-content.twig" with {post:blog_post} %}

	<section class="section-divider" data-aos="fade-up">
		<div class="section-divider-in">
			<span><img src="{{theme.link}}/assets/img/logo page divider.svg" alt=""></span>
		</div>
	</section>

	{% include "partial/content-get-in-touch.twig"%}


{% endblock %}
