{% extends "base.twig" %}

{% block content %}
	{% include "partial/content-page-hero.twig"%}
	<section class="gallery-content light-bg">
                 <div class="container-sm">
                    <div class="center-text">
                        <div class="desc">
                        {{post.content}}
                        </div>
                    </div>
                 </div>
               </section>
	{% include "partial/content-flexible-content.twig"%}

{% endblock %}
