{% extends "base.twig" %}
{% block content %}
	{% include "partial/content-home-hero.twig"%}
	{% include "partial/content-flexible-content.twig"%}
	{% include "partial/content-get-in-touch.twig"%}
{% endblock %}
