{% extends "base.twig" %}
{% block content %}
	{% include "partial/content-page-hero.twig"%}
    {% include "partial/content-page-menu-accordian.twig"%}
	{% include "partial/content-flexible-content.twig"%}
{% endblock %}
