.primary-btn {
    background-color: $primary-color;
    color: $white;
}

.secondary-btn {
    background-color: transparent;
    border: 1px $primary-color solid;
    color: $primary-color;
    &:hover {
        background-color: $primary-color;
        border: 1px $primary-color solid;
        color: $white;
    }
}
