

// $font-size-base: 18px;
// @import url("//hello.myfonts.net/count/31f7df");
// @font-face {
//     font-family: Korb;
//     src: url("#{$fontsPath}/31176A_0_0.eot");
//     src: url("#{$fontsPath}/31176A_0_0.eot?#iefix") format("embedded-opentype"),
//         url("#{$fontsPath}/31176A_0_0.woff2") format("woff2"),
//         url("#{$fontsPath}/31176A_0_0.woff") format("woff"),
//         url("#{$fontsPath}/31176A_0_0.ttf") format("truetype");
// }

// /* @import must be at top of file, otherwise CSS will not work */


// @font-face {
//     font-family: "HelveticaNeueLTPro-Lt";
//     src: url("#{$fontsPath}/31F7DF_0_0.eot");
//     src: url("#{$fontsPath}/31F7DF_0_0.eot?#iefix") format("embedded-opentype"),
//         url("#{$fontsPath}/31F7DF_0_0.woff2") format("woff2"), url("#{$fontsPath}/31F7DF_0_0.woff") format("woff"),
//         url("#{$fontsPath}/31F7DF_0_0.ttf") format("truetype");
// }

// @font-face {
//     font-family: "HelveticaNeueLTPro-Md";
//     src: url("#{$fontsPath}/31F7DF_1_0.eot");
//     src: url("#{$fontsPath}/31F7DF_1_0.eot?#iefix") format("embedded-opentype"),
//         url("#{$fontsPath}/31F7DF_1_0.woff2") format("woff2"), url("#{$fontsPath}/31F7DF_1_0.woff") format("woff"),
//         url("#{$fontsPath}/31F7DF_1_0.ttf") format("truetype");
// }

// @font-face {
//     font-family: "HelveticaNeueLTStd-Bd";
//     src: url("#{$fontsPath}/31F7DF_2_0.eot");
//     src: url("#{$fontsPath}/31F7DF_2_0.eot?#iefix") format("embedded-opentype"),
//         url("#{$fontsPath}/31F7DF_2_0.woff2") format("woff2"), url("#{$fontsPath}/31F7DF_2_0.woff") format("woff"),
//         url("#{$fontsPath}/31F7DF_2_0.ttf") format("truetype");
// }

// @font-face {
//     font-family: "HelveticaNeueLTStd-Roman";
//     src: url("#{$fontsPath}/31F7DF_3_0.eot");
//     src: url("#{$fontsPath}/31F7DF_3_0.eot?#iefix") format("embedded-opentype"),
//         url("#{$fontsPath}/31F7DF_3_0.woff2") format("woff2"), url("#{$fontsPath}/31F7DF_3_0.woff") format("woff"),
//         url("#{$fontsPath}/31F7DF_3_0.ttf") format("truetype");
// }
