{% if content_row.contact_form %}

	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' secondary-bg'%}
	{% endif %}

	<section class="get-in-touch-section{{color_bg_class}}">
		<div class="container-sm">
			<div class="section-hd">
				<h2>{{content_row.heading}}</h2>
				<div class="desc--text">
					<p>{{content_row.content}}</p>
				</div>
			</div>
			<div class="get-in-touch-section-content">
				<div class="get-in-touch-form">
					{{ function('do_shortcode', '[contact-form-7 id="'~ content_row.contact_form.ID~'" title="Contact form
                1"]') }}
				</div>
			</div>
		</div>
	</section>
{% endif %}