{% if content_row.current_events and content_row.current_events.show_event %}
	{% set upcoming_events = getEvents('upcoming') %}
		{% if content_row.current_events.background_color !='' and content_row.current_events.background_color %}
		{% set color_bg_class = " "~content_row.current_events.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ''%}
	{% endif %}
	<section class="events-listing-current{{color_bg_class}}">
		<div class="container-sm">

			<div class="event-top-box">
				<div class="section-hd">
					<h2>{{content_row.current_events.heading}}</h2>
				</div>

				<div class="event-type-box-in">
					
					<div class="event-type-box-in-btm">

						{% for event in upcoming_events %}
							<div class="event-row-box clearfix">
								<div class="wh-event-type"><img typeof="foaf:Image" src="{{ TimberImage(event.get_field('listing_icon')).src('event-thumb') }}" alt="{{event.get_field('listing_icon').alt}}"></div>
								<div class="event-right-txt">
									<h3>
										<a href="{{event.link}}">
											<span class="event-heading-title">{{event.get_field('title_prefix')}}</span>
											{{event.get_field('title')?event.get_field('title'):event.title}}
										</a>
									</h3>
									<div class="event-date">
										<span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{event.get_field('event_date')}}">{{event.get_field('event_date')|date('jS F Y')|upper}}</span>&nbsp;{{event.get_field('event_time')|upper}}
									</div>
									<div class="desc--box">
										<p>{{event.get_field('event_location')}}</p>
									</div>
									<div class="event-link">
										<a class="secondary-btn" href="{{event.link}}">Learn more</a>
									</div>
								</div>
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</section>
{% endif %}

{% if content_row.past_events and content_row.past_events.show_event_past %}

	{% set past_event_limit =content_row.past_events.past_event_limit %}
	{% set past_events = getEvents('past',past_event_limit) %}

	{% if content_row.past_events.background_color !='' and content_row.past_events.background_color %}
		{% set color_bg_class = " "~content_row.past_events.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ''%}
	{% endif %}
	<section class="events-listing-past{{color_bg_class}}">
		<div class="container-sm">
			<div class="section-hd">
				<h2>{{content_row.past_events.heading_past_event}}</h2>
			</div>

			<div class="event-type-box-in">
				<div class="event-type-box-in-btm">

					{% for event in past_events %}
						<div class="event-row-box clearfix">
							<div class="wh-event-type"><img typeof="foaf:Image" src="{{ TimberImage(event.get_field('listing_icon')).src('event-thumb') }}" alt="{{event.get_field('listing_icon').alt}}"></div>
							<div class="event-right-txt">
								<h3>
									<a href="{{event.link}}">
										<span class="event-heading-title">{{event.get_field('title_prefix')}}</span>
										{{event.get_field('title')?event.get_field('title'):event.title}}
									</a>
								</h3>
								<div class="event-date">
									<span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="{{event.get_field('event_date')}}">{{event.get_field('event_date')|date('jS F Y')|upper}}</span>&nbsp;{{event.get_field('event_time')|upper}}
								</div>
								<div class="desc--box">
									<p>{{event.get_field('event_location')}}</p>
								</div>
								<div class="event-link">
									<a class="secondary-btn" href="{{event.link}}">Learn more</a>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>
			</div>
		</div>

	</section>
{% endif %}