{% if content_row.video %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' light-gray-bg'%}
	{% endif %}
	<section class="video-section{{color_bg_class}}">
		<div class="container-sm">
			<div class="section-hd">
				{% if content_row.title %}
					<h2 class="a-title a-title--bottom">
						{{content_row.title}}
					</h2>
				{% endif %}
			</div>
			<div class="video-section-content">
				{{content_row.video}}
			</div>
		</div>
	</section>
{% endif %}