{% if content_row.our_history_row %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' white-bg'%}
	{% endif %}

<section class="history-section{{color_bg_class}}">
	<div class="container-md">
  {% for history in content_row.our_history_row %}
    {% if history.image and history.content %}
		<div class="image-text-flex-row image-text-flex-row-{% if loop.index%2==0 %}right{% else %}left{% endif %}">
			<div class="image-card image-card-50">
				<img src="{{ TimberImage(history.image).src('block-history') }}" alt="{{history.image.alt}}" />
			</div>
			<div class="content-card-50">
			<div class="content-card-inner">
			    <h2 class="yeartitle">{{history.title}}</h2>
				<h3>{{history.heading}}</h3>
				<div class="desc--box">
					{{history.content}}
				</div>
			</div>
				
			</div>
		</div>
    {% endif %}    
    {% endfor %}

	</div>
</section>
{% endif %}