{% if content_row.gallery_images_list %}
	{% set parent_loop = loop.index %}
	<section class="gallery-section gallery-section-row-{{parent_loop}}">
			{% if content_row.gallery_title %}
				<div class="container-sm">
					<h3>{{content_row.gallery_title}}</h3>
				</div>
			{% endif %}
			<div class="gallery-container">
				{% for gallery in content_row.gallery_images_list %}
					<div class="gallery-box-item">
						<a data-fancybox-jenning="gallery" data-fancybox-group="gallery-{{parent_loop}}}" data-src="{{TimberImage(gallery.image).src('src')}}" data-title="{{gallery.image.title}}" class="fancybox">
							<img src="{{ TimberImage(gallery.image).src('gallery-thumb') }}" alt="gallery.image.alt">
						</a>
					</div>
				{% endfor %}
			</div>
	</section>
{% endif %}
