{% if content_row.content %}

	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' primary-bg'%}
	{% endif %}

	<section class="contact-info-section{{color_bg_class}}">
		<div class="container-sm custom-row">
			<div class="contact-info-left">
				<div class="contact-info-ul">
					<ul class="contact-info-icon">
						<li>
							<a href="tel:{{contact_post.get_field('telephone')}}" class="btn btn-primary">{{contact_post.get_field('telephone')}}</a>
						</li>
						<li>
							<a href="mailto:{{contact_post.get_field('email')}}" class="btn btn-primary">{{contact_post.get_field('email')}}</a>
						</li>
					</ul>
				</div>
				<div class="social-media-block">
					<span>follow us:</span>
					<ul class="social-media-icon">
						<li>
							<a class="facebook" href="{{contact_post.get_field('facebook')}}"></a>
						</li>
						<li>
							<a class="instagram" href="{{contact_post.get_field('instagram')}}"></a>
						</li>
						<li>
							<a class="linkedin" href="{{contact_post.get_field('linkedin')}}"></a>
						</li>
						<li>
							<a class="twitter" href="{{contact_post.get_field('twitter')}}"></a>
						</li>
						{# <li>
													<a class="youtube" href="{{contact_post.get_field('youtube')}}"></a>
												</li> #}
					</ul>
				</div>
			</div>
			<div class="contact-info-right">
				<div class="contact-info-content">
					<h3>
						{{content_row.title}}

					</h3>
					<div class="desc--box">
						{{content_row.content}}
					</div>
					{% if content_row.map_link_cta %}
						<div class="btn-set--left">
							<a href="{{content_row.map_link_cta.url}}" target="_blank" class="secondary-btn">
								Google Maps
							</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endif %}