{% if content_row.icons_row %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' white-gray-bg'%}
	{% endif %}

	<section class="flex-block-section{{color_bg_class}} flex-{{content_row.item_per_row}}">
		<div class="container">
			{% if content_row.heading or content_row.content %}
			<div class="section-hd">
				
					<h2>{{content_row.heading}}</h2>
					<div class="desc--box">
						{{content_row.content}}
					</div>
				
			</div>
				{% endif %}
			<div class="flex-block-content flex-block-{{content_row.item_per_row}}">
				<div class="custom-row">
					{% for item in content_row.icons_row %}
						{% if item.icon %}
							<div class="flex-block-box">
								<div class="custom-row">
									<div class="flex-block-box-img">
										<img src="{{ TimberImage(item.icon).src('poster') }}" alt="{{ item.icon.alt }}">
									</div>
									<div class="flex-block-box-content">
										<h3>{{item.heading}}</h3>
										<div class="desc--box">
											{{item.content}}
										</div>
										{% if item.cta %}
											<div class="btn-set--left">
												<a href="{{item.cta.url}}" class="secondary-btn" target="{{item.cta.target}}">{{item.cta.title}}</a>
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endif %}