{% if content_row.image and content_row.content %}
	{% if content_row.background_color !='' and content_row.background_color %}

		{% set color_bg_class = ' '~content_row.background_color~'-bg' %}
	{% else %}
		{% set color_bg_class = ' primary-bg'%}
	{% endif %}
	{% if content_row.image_position =='left' %}
		{% set image_position_class = ' image-text-section-content-left' %}
	{% else %}
		{% set image_position_class = ' image-text-section-content-right' %}
	{% endif %}

	{# {% if content_row.image_top_spacing and  content_row.image_top_spacing.show_padding %} #}
		<section class="image-text-section-top {{previousBgColor(loop.index,colorArray)}}">&nbsp;</section>
	{# {% endif %} #}


	<section class="image-text-section{{color_bg_class}}">
		<div class="container">
			<div class="image-text-section-content custom-row{{image_position_class}}">
				<div class="image-text-sec-img" style="background-image:url({{ TimberImage(content_row.image).src('hero-slider') }}) ;"></div>
				<div class="image-text-sec-content">
					<div>
					<h2>{{content_row.title}}</h2>
					<div class="desc--box">
						{{content_row.content}}
					</div>
					{% if content_row.cta %}
						<div class="btn-set--left download-btn">
							<a href="{{content_row.cta.url}}" target="{{content_row.cta.target}}" class="secondary-btn">{{content_row.cta.title}}</a>
						</div>
					{% endif %}</div>
				</div>
			</div>
		</div>
	</section>
	{# {% if content_row.image_bottom_spacing and  content_row.image_bottom_spacing.show_padding %} #}
		<section class="image-text-section-bottom {{nextBgColor(loop.index,colorArray)}}">&nbsp;</section>
	{# {% endif %} #}


{% endif %}
