{% if content_row.copy_content_title or content_row.copy_content_text %}
	{% if content_row.background_color !='' and content_row.background_color %}
		{% set color_bg_class = " "~content_row.background_color~"-bg" %}
	{% else %}
		{% set color_bg_class = ' white-bg'%}
	{% endif %}

	<section class="short-content-section{{color_bg_class}}">
		<div class="container-sm">
			{% if content_row.copy_content_title %}
				<div class="section-hd">
					<h2>{{content_row.copy_content_title}}</h2>
				</div>
			{% endif %}
			<div class="desc--box">
				{{content_row.copy_content_text}}
			</div>
		</div>
	</section>
{% endif %}