
.padding_top__0{
    padding-top: 0px;;
}


// For CONTACT US SCSS CSS START

.page_content_us{
    padding:0 0 $d_pd 0;
    background: $white;
    .page_content_us__inner{
        .contact__btm{
            padding-bottom: 40px;
            .input-field {
                .button_green{
                    float: right;
                }
            }
        }
    }
}

// For CONTACT US SCSS CSS END


// For EVENT DETAILS SCSS CSS START

.page_event__details {
    padding:0 0 $d_pd 0;
    background: $white;
}

// For EVENT DETAILS SCSS CSS END


// For ARTICLE DETAILS SCSS CSS START

.page_article_detail{
    padding:0 0 $d_pd 0;
}

// For ARTICLE DETAILS SCSS CSS START





