{% if content_row.review_text %}
	<section class="client-section">
		<div class="container-sm">
			<h4>{{content_row.heading}}</h4>
			<div class="client-txt">
				“{{content_row.review_text}}”
			</div>
		</div>
	</section>
{% endif %}
