.main-header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px 0;
    .logo {
        width: 150px;
        h1{
            margin: 0px;
            padding: 0px;
            color: #fff;
            font-family: Korb;
            font-size: 20px;
        }
        img {
            display: block;
            max-width: 100%;
        }
    }
    .hdr-right {
        margin-left: auto;
    }
}
.nav_menu {
    nav {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            align-items: center;
            li {
                margin: 0px;
                padding: 0 20px;
                &:last-child {
                    padding-right: 0px;
                }
                a {
                    color: $secondary-color;
                    font-size: $font-size-base;
                    font-weight: 500;
                    font-family: "HelveticaNeueLTPro-Md";
                }
            }
        }
    }
}
