{% block content %}
{% if content.field_em_visible == 'True' %}

		<div id="emMessage" class="emergency-message">

			<span id="emClose" class="close">&nbsp;</span>

			{% if content.field_display_title %}
				<h3>{{ title }}</h3>
			{% endif %}

			<div class="row">
				<div class="large-12 columns">
					{{content.body}}
				</div>
			</div>
		</div>
		{{ attach_library('jstar/emmsg') }}
	{% endif %}
{% endblock %}
