{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
plugin_id == 'local_tasks_block'? 'tabs clearfix',
]
%}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
        {% endif %}
        {{ title_suffix }}
        {% block content %}

        <div class="grey form">
            <div class="row">
                <div class="large-6 large-centered columns">
                    {{ content }}
                </div>
            </div>
        </div>


        {% endblock %}
        </div>