{%
    set classes = [
      'block',
      'block-bean',
      'block-' ~ configuration.provider|clean_class,
      'block-' ~ plugin_id|clean_class,
    ]
  %}

  {%
    set newid = attributes.id|replace({
      'block-':'block-bean-',
      'block-registerlink':'block-bean-register-link',
      'block-tradelink':'block-bean-trade-link',
      'block-homelink':'block-bean-home-link',
      'block-tagline':'block-bean-tagline',
      'block-social':'block-bean-social',
      'block-modellinkcontact':'block-bean-model-link-contact'
    })
  %}
  
  {% if newid %}
  <div{{ attributes.addClass(classes).setAttribute('id',newid)  }}>
    {% else %}
    <div{{ attributes.addClass(classes) }}>
   {% endif %} 
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
  