.about-section {
    @extend %main-padding;

    

    .about-section-text {
        width: 100%;

        @include breakpoint(mobile_portrait) {
            width: 100%;
            padding-right: 0%;
            padding-bottom: 0rem;
        }

        p {
            br {
                display: none;
            }
        }

        h3 {
            margin: 0px;
            font-weight: 500;
        }

        .desc {
            margin: 4rem 0 0 auto;
            width: 50%;
            font-weight: 300;
            @include breakpoint(ipad_portrait){
                width: 100%;
            }
            @include breakpoint(mobile){
                width: 100%;
                margin: 3rem 0 0 0;
            }
        }
    }

   
}

