.contact-section{
    background: $primary-color;
    @extend %main-padding;
    
    $icon-size: 60px;
    $icon-size-mob: 50px;
    %icon-height-width{
        width: $icon-size;
        height: $icon-size;
        @include breakpoint(mobile){
            width: $icon-size-mob;
            height: $icon-size-mob;
        }
    }

    .contact-box{
        position: relative;
        @extend %main-padding;
        &::after {
            content: '';
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0;
            border-top: 1px $white solid;
            max-width: 800px;
            height: 2px;
            margin: auto;

        }
     
        &:last-child{
            padding-bottom: 0px;
            &::after {
                display: none;
            } 
        }
        .contact-box-left{
            width: 50%;
            @include breakpoint(ipad_portrait){
                width: 100%;
            }
            @include breakpoint(mobile){
                width: 100%;
            }
            h3{
                color: $white;
                text-transform: uppercase;
                margin: 0px;
                padding: 0px;
            }
            ul{
                @include ul;
                li{
                    margin: 2.5rem 0 0 0;
                    padding: 0px;
                    @include breakpoint(mobile){
                        margin: 1.5rem 0 0 0;
                    }
                    a{
                        display: flex;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        color: $white;
                        font-size: 1.8rem;
                        @include breakpoint(mobile){
                            font-size: 1.4rem;
                        }
                        i{
                           @extend %icon-height-width;
                            &.map-icon{
                                background: url("#{$assetIconPath}/map pin white.svg") no-repeat  center top;
                            }
                            &.phone-icon{
                                background: url("#{$assetIconPath}/phone white.svg") no-repeat  center top;
                            }
                            &.email-icon{
                                background: url("#{$assetIconPath}/email white.svg") no-repeat  center top;
                            }
                        }
                        span{
                            width: calc(100% -  $icon-size);
                            padding-left: 15px;
                            padding-top: 10px;
                            line-height: 2.4rem;
                            @include breakpoint(mobile){
                                width: calc(100% -  $icon-size-mob);
                                padding-left: 10px;
                                line-height: inherit;
                            }
                        }
                    }
                }
            }
        }
        .contact-box-right{
            width: 45%;
            margin-left: auto;
            @include breakpoint(ipad_portrait){
                width: 100%;
                margin-top: 4rem;
                margin-left: 0;
            }
            @include breakpoint(mobile){
                width: 100%;
                margin-top: 2rem;
                margin-left: 0;
            }
            .map-box{
                width: 100%;
                border-radius: 10px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
            .take-me-button{
                margin-top: 2rem;
                display: flex;
                justify-content: flex-end;
                a{
                    border-radius: 10px;
                    padding: 20px 2rem 20px 5rem;
                    color: $secondary-color;
                    font-weight: 500;
                    background:$light-color url("#{$assetIconPath}/map pin blue.svg") no-repeat  1rem center;
                    background-size: 40px;
                    &:hover{
                        background:$light-color url("#{$assetIconPath}/map pin red.svg") no-repeat  1rem center;
                        background-size: 40px;
                        color: $primary-color;
                    }
                }
            }
            
        }
    }
}