.gallery-content {
  @extend %main-padding;
  padding-top: 9rem;

  .center-text {
    text-align: center;
    max-width: 700px;
    margin: auto;
  }

  @include breakpoint(ipad_portrait) {
    padding-top: 7rem;
  }

  @include breakpoint(mobile) {
    padding-top: 7rem;
  }
}

%item_height {
  height: 400px;

  @include breakpoint(ipad_landscape) {
    height: 250px;
  }

  @include breakpoint(ipad_portrait) {
    height: 215px;
  }

  @include breakpoint(mobile_landscape) {
    height: 300px;
  }

  @include breakpoint(mobile_portrait) {
    height: 300px;
  }
}

%item_height_one {
  height: 810px;

  @include breakpoint(ipad_landscape) {
    height: 510px;
  }

  @include breakpoint(ipad_portrait) {
    height: 440px;
  }

  @include breakpoint(mobile_landscape) {
    height: 300px;
  }

  @include breakpoint(mobile_portrait) {
    height: 300px;
  }
}

.gallery-section {
  overflow: hidden;
}

.gallery-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;

  @include breakpoint(mobile_landscape) {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    flex-wrap: wrap;
  }

  @include breakpoint(mobile_portrait) {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
  }

  .gallery-box {
    text-align: center;
    padding: 0;
    @extend %item_height;
    overflow: hidden;

    @include breakpoint(mobile_landscape) {
      width: 49%;
    }

    @include breakpoint(mobile_portrait) {
      padding-top: 10px;

      &:first-child {
        padding-top: 0px;
      }
    }

    a {
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      width: 100%;
      height: 100%;
      background-position: center;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }

    &:nth-child(1) {
      grid-area: 1 / 1 / span 2 / span 2;
      @extend %item_height_one;
    }

    &:nth-child(10) {
      grid-area: 3/3 / span 2 / span 2;
      @extend %item_height_one;
    }

    &:nth-child(11) {
      grid-area: 5/1 / span 2 / span 2;
      @extend %item_height_one;
    }

    &:nth-child(16) {
      grid-area: 7/3 / span 2 / span 2;
      @extend %item_height_one;
    }

    &:nth-child(21) {
      grid-area: 9/1 / span 2 / span 2;
      @extend %item_height_one;
    }

    &:nth-child(26) {
      grid-area: 11/3 / span 2 / span 2;
      @extend %item_height_one;
    }

    &:nth-child(31) {
      grid-area: 13/1 / span 2 / span 2;
      @extend %item_height_one;
    }
  }
}

.fancybox__backdrop {
  background: rgba($color: #000000, $alpha: 0.7);
}

.fancybox__carousel {
  width: 90%;
  margin: auto;

  @media (min-width: 320px) and (max-width: 1260px) {
    width: 100%;
  }
}

.is-horizontal .fancybox__nav .f-button.is-next {
  @include breakpoint(mobile_portrait) {
    right: 0 !important;
    top: 50% !important;
  }
}

.is-horizontal .fancybox__nav .f-button.is-prev {
  @include breakpoint(mobile_portrait) {
    left: 0 !important;
    top: 50% !important;
  }
}

.is-compact .fancybox__content > .f-button.is-close-btn {
  background-color: $primary-color;
  border-radius: 0;
  color: $white;
  top: 0;
  right: 0rem;
  padding: 0px;
  opacity: 1 !important;
  width: 50px;
  height: 50px;

  @include breakpoint(mobile) {
    width: 30px;
    height: 30px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.fancybox-image {
  object-fit: cover;
}

.fancybox__backdrop {
  background: rgba($color: #000000, $alpha: 0.7);
}

.f-button:hover:not([disabled]) {
  background-color: transparent;
}

.fancybox__nav {
  button {
    svg {
      color: $white;
      width: 50px;
      height: 50px;

      @include breakpoint(mobile) {
        width: 30px;
        height: 30px;
      }
    }
  }
}
