.heroslider {

    .slick-slide {
        position: relative;
    }

    .hero-slider-item-img {
        position: relative;
         img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .slick-dots {
        position: absolute;
        bottom: 2rem;
        left:  22rem;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin: 2rem 0 0 0;
        padding: 0px;
        @media (min-width: 1300px) and (max-width: 1700px) {
            left: 10rem;
          }
        @include breakpoint(ipad_landscape){
            left: 4rem;
        }
        @include breakpoint(ipad_portrait){
            left: 0rem;
            text-align: center;
            width: 100%;
           }
         
       @include breakpoint(mobile){
        left: 0rem;
        text-align: center;
        width: 100%;
       }
     
        li {
            margin: 0 0 0 1rem;
            padding: 0px;

            button {
                background: rgba($color: #fff, $alpha: 0.7);
                cursor: pointer;
                border: 0px $white solid;
                border-radius: 80px;
                text-indent: -9999px;
                display: block;
                width: 25px;
                padding: 0;
                height: 25px;
                @include breakpoint(mobile){
                    width: 20px;
                    height: 20px;
                }
            }

            &.slick-active button {
                background: $white;
            }
        }
    }
    
}
