.menu-section {
    @extend %main-padding;
    .container-sm{
        max-width: 1273px;
        width: calc(100% - 5rem);
        @include breakpoint(mobile_portrait){
            width: calc(100% - 2rem);
        }
    }
    .notify {
        text-align: center;
        margin-bottom: 3rem;
        @include breakpoint(mobile_landscape){
            margin-top: 2rem;
        }
        br{
            display: none;
        }

        strong {
            color: $primary-color;
            font-weight: 400;
            @extend %font-size-base ;
        }
    }
    .menu-tabs{
        position: relative;
        z-index: 1;
    }
    h4.menu-subcatg-title{
        text-align: center;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 2.3rem;
        @include breakpoint(ipad_landscape){
            font-size: 2.1rem;
        }
        @include breakpoint(ipad_portrait){
            font-size: 1.8rem;
        }
        @include breakpoint(mobile_landscape){
            font-size: 1.6rem;
        }
        @include breakpoint(mobile_portrait){
            font-size: 1.4rem;
        }
    }
    .menu-tabs-box {
      
        position: relative;
      
        .menu-tabs-box-top {
            position: relative;
            max-width: 800px;
            margin: auto;
            border-bottom: 1px $drak-color solid;
            padding: 1rem 0;

            h3 {
                margin: 0px;
                padding: 0 0px 0 0;
                color: $secondary-color;
                text-align: center;
                font-weight: 400;
                background: transparent url("#{$assetIconPath}/angel-right-thin.svg") no-repeat right center;
                background-size: 35px;
                cursor: pointer;
                @include breakpoint(ipad_portrait){
                    background-size: 30px;
                }
                @include breakpoint(mobile_landscape){
                    background-size: 26px;
                }
                @include breakpoint(mobile_portrait){
                    background-size: 20px;
                }
            }

           

        }

        &:last-child {
            .menu-tabs-box-top {
                border-bottom: 0px;
            }

        }

        .menu-tabs-box-btm {
            display: none;

            .menu-tabs-content {
                ul {
                    @include ul;
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        width: 47%;
                        padding: 0px;
                        margin: 2rem 0;
                        @include breakpoint(ipad_portrait){
                            width: 100%;
                            margin: 1rem 0;
                        }
                        @include breakpoint(mobile){
                            width: 100%;
                            margin: 1rem 0;
                        }

                        &:nth-child(2n + 2) {
                            margin-left: auto;
                            @include breakpoint(mobile){
                                margin-left: 0;
                            }
                        }

                        strong {
                            display: block;
                            font-weight: 400;
                            color: $drak-color;
                            line-height: 1.7rem;
                            margin-top: 2px;
                        }

                        .items {
                            display: flex;
                            flex-wrap: wrap;
                            position: relative;
                            font-weight: 500;
                            font-size: 1.6rem;
                            @include breakpoint(ipad_landscape){
                                font-size: 1.4rem; 
                            }
                            @include breakpoint(ipad_portrait){
                                font-size: 1.4rem; 
                            }
                            @include breakpoint(mobile_landscape){
                                font-size: 1.4rem; 
                                font-height: 1.5rem;
                            }
                            @include breakpoint(mobile_portrait){
                                font-size: 1.3rem; 
                                font-height: 1.5rem;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                left: 0px;
                                top: 25px;
                                border-top: 2px $secondary-color dotted;
                                width: 100%;
                                height: 2px;

                            }

                            .items-name {
                                background-color: $light-color;
                                color: $primary-color;
                                padding: 0 10px 0 0;
                                position: relative;
                                z-index: 8;
                                max-width: 78%;
                                line-height: 2rem;
                                @include breakpoint(mobile_portrait){
                                    line-height: 1.8rem;
                                }
                                i{
                                    font-style: normal;
                                    font-size: 1.3rem;
                                    font-weight: 600;
                                    white-space: nowrap;
                                    @include breakpoint(ipad_landscape){
                                        font-size: 1.1rem;  
                                    }
                                    @include breakpoint(ipad_portrait){
                                        font-size: 1.1rem; 
                                    }
                                    @include breakpoint(mobile_landscape){
                                        font-size: 1.1rem; 
                                    }
                                    @include breakpoint(mobile_portrait){
                                        font-size: 1rem; 
                                    }
                                }
                            }

                            .items-price {
                                margin-left: auto;
                                background-color: $light-color;
                                color: $primary-color;
                                padding: 0 0 0 10px;
                                position: relative;
                                z-index: 8;
                            }
                        }
                    }
                }
            }
        }

        &.show{
            padding-bottom: 3rem;
            &::after {
                content: '';
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 0;
                border-top: 1px $drak-color solid;
                max-width: 800px;
                height: 2px;
                margin: auto;

            }
            .menu-tabs-box-top {
                border-bottom: 0px;
                h3{
                    background: transparent url("#{$assetIconPath}/x-mark-thin.svg") no-repeat right center;
                    background-size: 35px;
                    @include breakpoint(ipad_portrait){
                        background-size: 30px;
                    }
                    @include breakpoint(mobile_landscape){
                        background-size: 26px;
                    }
                    @include breakpoint(mobile_portrait){
                        background-size: 20px;
                    }
                }
            }
            .menu-tabs-box-btm{
                display: block;
            } 
        }
    }

}

.additional-toppings-box{
    text-align: center;
    padding: 2rem 0;
    .red-hd,
    .gray-text{
        text-align: center;
    }
   
}

.red-hd{
    display: block;
    font-weight: 500;
    font-size: 1.6rem;
    color: $drak-color;
    margin-top: 10px;
    color: $primary-color;
    @include breakpoint(ipad_portrait){
        font-size: 1.5rem; 
    }
    @include breakpoint(mobile_portrait){
        font-size: 1.3rem; 
    }
}

.gray-text{
    display: block;
    font-weight: 400;
    color: $drak-color;
    margin-top: 5px;
}
.wine-price-list{
    .items{
        margin-top: 5px;
    }
}