.open-time-section{
    @extend %main-padding;
    .open-time-box{
        width: 33.33%;
        padding: 0 4%;
        border-right: 1px $secondary-color dotted;
        @include breakpoint(ipad_landscape){
            padding: 0 2%;
        }
        @include breakpoint(ipad_portrait){
            width: 100%;
            border-right: 0px;
            border-bottom: 1px $secondary-color dotted;
            padding: 2rem 0;
        }
        @include breakpoint(mobile){
            width: 100%;
            border-right: 0px;
            border-bottom: 1px $secondary-color dotted;
            padding: 2rem 0;
        }
        &:last-child{
            border-right: 0px;
            @include breakpoint(ipad_portrait){
                border-bottom: 0px;
            }
            @include breakpoint(mobile){
                border-bottom: 0px;
            }
        }
        h4{
            color: $primary-color;
            margin: 0px;
        }
        ul{
            @include ul;
            margin-top: 2rem;
            li{
                margin: 10px 0;
                padding: 0px;
                display: flex;
                .day-name{
                    color: $primary-color;
                    width: 55%;
                    padding-right: 1rem;
                    text-transform: uppercase;
                }
                .time-name{
                    color: $drak-color;
                    margin-left: auto;
                    width: 45%;
                }
            }
        }
    }
}