.page-hero-section{
    position: relative;
    .page-hero-img{
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .page-hero-hd{
        position: absolute;
        width: 100%;
        bottom: -65px;
        left: 0px;
        display: flex;
        justify-content: center;
        @include breakpoint(ipad_portrait){
            bottom: -50px;
        }
        @include breakpoint(mobile){
            bottom: -55px;
        }
        h1{
            background: $primary-color;
            color: $white;
            margin: 0px;
            padding: 1rem 2rem;
            text-transform: uppercase;
            min-width: 600px;
            text-align: center;
            display: block;
            @include breakpoint(ipad_portrait){
                min-width: 100px;
            }
            @include breakpoint(mobile_landscape){
                min-width: 100px;
            }
            @include breakpoint(mobile_portrait){
                min-width: 100px;
            }
        }
    }
}

.contact{
    .page-hero-section{
        position: relative;
       
        .page-hero-hd{
       
            h1{
                background: $light-color;
                color: $primary-color;
               
            }
        }
    }
}