.see-our-gallery-section{
    position: relative;
    .see-our-gallery-box{
        width: 25%;
        @include breakpoint(mobile){
            width: 50%;
        }
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    h2{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        a{
            background: $primary-color;
            color: $white;
            padding: 1rem 2rem;
            &:hover{
                background: $secondary-color;
            }
        }
    }
}