.testimonials-section {
    @extend %main-padding;
    .custom-row{
        align-items: center;
    }
    .testimonials-left{
       width: 50%;
       @include breakpoint(ipad_portrait){
        width: 100%;
        margin-top: 3rem;
       }
       @include breakpoint(mobile){
        width: 100%;
        margin-top: 3rem;
       }
       img{
        width: 100%;
        height: auto;
        display: block;
    }
    }
    .testimonials-right{
        width: 40%;
        margin-left: auto;
        font-size: 1.7rem;
        @include breakpoint(ipad_landscape){
            font-size: 1.5rem;
           }
        @include breakpoint(ipad_portrait){
            width: 100%;
            font-size: 1.5rem;
           }
        @include breakpoint(mobile){
            width: 100%;
            font-size: 1.3rem;
           }
        p{
            margin: 0px;
            font-weight: 400;
        }
        span{
            display: block;
            text-align: right;
            color: $secondary-color;
            text-transform: uppercase;
            margin-top: 2rem;
            @include breakpoint(mobile){
                font-size: 1.1rem;
               }
        }
    }


}