.two-link-section{
    overflow: hidden;
    .two-link-box{
        position: relative;
        width: 50%;
        overflow: hidden;
        @include breakpoint(mobile_portrait){
            width: 100%;
        }
        .two-link-img{
            width: 100%;
            height: 100%;
            overflow: hidden;
            transition: transform .2s; 
            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .two-link-txt{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 57%,rgba(0,0,0,0.03) 59%,rgba(0,0,0,0.65) 100%);


            h2{
                text-align: center;
                width: 100%;
                height: 100%;
                margin: 0px;
                padding: 2rem;
                @include breakpoint(ipad_portrait){
                    padding: 1rem;
                }
                @include breakpoint(mobile){
                    padding: 1rem;
                }
                a{
                   color: $white;
                   width: 100%;
                   height: 100%;
                   display: flex;
                   align-items: end;
                   justify-content: center;
                   @include breakpoint(ipad_portrait){
                    line-height: 3.3rem;
                   }
                   @include breakpoint(mobile_landscape){
                    line-height: 2.6rem;
                   }
                }
            }
        }
        &:hover{
            .two-link-img{
                transform: scale(1.1);
            }
            .two-link-txt{
                background: rgba(0,0,0,0.4);

            }
            
        }
    }
}