.btn-set--left {
    display: flex;
    justify-content: left;
}

.btn-set--center {
    display: flex;
    justify-content: center;
}

.btn-set--right {
    display: flex;
    justify-content: right;
    @include breakpoint(mobile) {
        justify-content: center;
    }
}
.primary-btn{
   color: $secondary-color;
   @extend %button-font-size;
   font-weight: 500; 
   text-transform: uppercase;
   display: flex;
   align-items: center;
   i{
    width: 45px;
    height: 45px;
    background-color: $primary-color;
    border-radius: 100px;
    color: $white;
    text-align: center;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
   }
   &:hover{
    color: $primary-color;
    i{
        background-color: $secondary-color;
    }
   }
}