%h1{
    font-size: 8rem;
    @include breakpoint(desktop1){
        font-size: 5.5rem;
    }
    @media (min-width: 1500px) and (max-width: 1700px) {
        font-size: 5.5rem;
    }
    @include breakpoint(desktop2){
        font-size: 5rem;
    }
    @include breakpoint(desktop3){
        font-size: 5rem;
    }
    @include breakpoint(ipad_portrait){
        font-size: 4rem;
    }
    @include breakpoint(mobile){
        font-size: 3rem;
    }
}

%h2{
    font-size: 3rem;
    color: $primary-color;
    @include breakpoint(desktop3){
        font-size: 2.6rem;
    }
    @include breakpoint(ipad_portrait) {
        font-size: 2.4rem;
      }
    @include breakpoint(mobile){
        font-size: 2rem;
    }
}

h2{
    @extend %h2;
    font-weight: 500;
    
    &.line{
        position: relative;
        padding-bottom: 2rem;
        margin: 0px;
        &::before {
            content: "";
            width: 200vh;
            height: 4px;
            background: $primary-color;
            position: absolute;
            bottom: 0px;
            left: -200vh;
        }
        &::after {
            content: "";
            width: 177px;
            height: 4px;
            background: $primary-color;
            position: absolute;
            bottom: 0px;
            left: 0px;
        }
    }
}