body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    @include background($lightGray);
    @include padding(190px, 0, 0, 0);
    font-size: $font-size-base;
    margin: 0px;
    color: $OxfordBlue-color;
    @include breakpoint(mobile){
        @include padding(0, 0, 0, 0);
    }
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}


a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #333;
    text-decoration: none;
}



input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
}
button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}
.custom-row{
    display: flex;
}
.mid_container{
    background-color: $lightGray;
    padding: 0 $side-padding $side-padding;
    @include breakpoint(mobile) {
        padding: 0 15px 30px;
    }
}
.wrapper {
    max-width: 960px;
    margin: auto;
    @include breakpoint(iPad) {
        max-width: 95%;
    }
    @include breakpoint(iPad_landscape) {
        max-width: 95%;
    }
}

.btn_center{ 
    text-align: center;  
    display: block;
    a{
        display: inline-block;
    }
}
.btn_left{ 
    text-align: left;  
    display: block;
    a{
        display: inline-block;
    }
}
.block_white__bg{
    background-color: $white;
    padding: 15px;
}
.cookie-notice-visible{
   background-color: rgba(0,0,0,0.9)  !important;
}
.single-product {
    .product_sidebar{
        @include breakpoint(iPad){
            display: none;
        } 
        @include breakpoint(mobile){
            display: none;
        } 
    }
}
.menu__box__mobile{
    float: left;
    width: 100%;
    
}
.entry-summary{
    .product_title{
        @include breakpoint(iPad){
            display: none !important;
        }
        @include breakpoint(mobile){
            display: none !important;
        }
    }
}
.hide__desktop{
    display:none ;
    @include breakpoint(iPad){
        display: block;
    }
    @include breakpoint(mobile){
        display: block;
    }
    .product_sidebar{
        @include breakpoint(iPad){
            display: block;
        }
        @include breakpoint(mobile){
            display: block;
        } 
    }
}