html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $primaryfontfaimly;
    font-weight: 300;
    @include background($white);
    @include padding(0px, 0rem, 0, 0rem);
    margin: 0px;
    color: $primary-color;
    @extend %font-size;
    overflow-x: hidden;

}
.content-wrapper section{
    overflow: hidden;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

p {
    @extend %base-line-height;

}

a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;

}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

input {
    -webkit-appearance: none;
    opacity: 1;
}

button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}

strong {
    font-weight: 900;
}

.container-lg {
    max-width: calc(100%);
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    @include breakpoint(mobile){
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

.container {
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    @include breakpoint(mobile_landscape) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @include breakpoint(mobile_portrait) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.container-md {
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoint(big_screen) {
        max-width: 1300px;
    }

    @include breakpoint(desktop_sm) {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    @include breakpoint(ipad_landscape) {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    @include breakpoint(ipad_portrait) {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    @include breakpoint(mobile_landscape) {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @include breakpoint(mobile_portrait) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

.container-sm {
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 4rem;
}


.main-padding {
    @extend %main-padding;
}

.main-padding-top {
    @extend %main-padding-top;
}

.main-padding-bottom {
    @extend %main-padding-btm;
}

.white-bg {
    background: $white;
}

.primary-bg {
    color: $white;
    background: $primary-color;
    .desc--box{
        font-weight: 200;
    }

}

.secondary-bg {
    background: $secondary-color;
    color: $white;
}



.custom-row {
    display: flex;
    flex-wrap: wrap;
}

.hide-desktop {
    display: none;

    @include breakpoint(mobile) {
        display: block;
    }
}

.hide-mobile {

    @include breakpoint(mobile) {
        display: none;
    }
}

.desc--box {
    p {
        a {
            color: $primary-color;
            text-decoration: none;
            font-weight: 500;

            &:hover {
                text-decoration: underline;
                color: $secondary-color;
            }
        }

        &:first-child {
            margin-top: 0px;
        }

        &:last-child {
            margin: 0px;
        }

        @media (min-width: 320px) and (max-width: 991px) {
            br {
                display: none;
            }
        }
    }

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            position: relative;
            margin: 0 0 0.5rem 0;
            padding: 0 0 0 1.4rem;
            @extend %base-line-height;
            @extend %btn-font-size-base;
            font-weight: 400;

            br {
                @include breakpoint(ipad_portrait) {
                    display: none;
                }

                @include breakpoint(mobile) {
                    display: none;
                }
            }

            &::before {
                width: 10px;
                height: 10px;
                position: absolute;
                left: 0px;
                top: 6px;
                background: $primary-color;
                content: "";
                border-radius: 100px;
            }
        }
    }

    ul~p:last-child {
        margin-top: 1.5rem;
    }

    table tr td {
        padding-top: 5px;
        padding-bottom: 5px;

        &:nth-child(1) {
            width: 150px;
            padding-right: 15px;
        }
    }


}

.main-container {
    min-height: 90vh;
}


.back-btn-box {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $secondary-color;

    .back-btn {
        color: $white;
        position: relative;
        font-family: $secondaryfontfaimly;
        padding: 0 0 0 30px;
        font-weight: 700;
        background: url("#{$assetIconsPath}/arrow-primary-left.svg") no-repeat center left;
        background-size: 18px;

        strong {
            font-weight: 700;
        }

        &:hover {
            color: $primary-color;
        }
    }
}



.hide-in-desktop {
    display: none;

    @include breakpoint(mobile) {
        display: block;
    }
}

.hide-in-mobile {
    @include breakpoint(mobile) {
        display: none;
    }

}

h1.text-center {
    text-align: center;
    color: $primary-color;
    margin: 0px;

}


.left-bottom-btn {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.right-bottom-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.spacer-row {
    background: $white;
    height: 4px;
    width: 100%;
}

.img-show-mobile{
    display: none;
    @include breakpoint(ipad_portrait){
        display: block;
    }
    @include breakpoint(mobile){
        display: block;
    }
}
.img-show-desktop{
    margin-bottom: 4rem;
    display: block;
    @include breakpoint(ipad_portrait){
        display: none;
        margin-bottom: 0rem;
    } 
    @include breakpoint(mobile){
        display: none;
        margin-bottom: 0rem;
    }  
}