body {
    font-family:  "Poppins", sans-serif;
    font-weight: 400;
    @include background($white);
    @include padding(0px, 0, 0, 0);
    font-size: $font-size-sm;
    padding: 0px;
    margin: 0px;
    position: relative;
   
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
*, *::before, *::after {
    box-sizing: border-box;
}
a{
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    color: #000;
}


input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}

.container {
    max-width: calc(1600px);
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(mobile){
        padding: 0 1rem;
    }
}
.custom-row{
    display: flex;
    flex-wrap: wrap;
}

.hide-mobile{
    @include breakpoint(mobile){
        display: none;
    }
}
.hide-ipad{
    @include breakpoint(iPad){
        display: none;
    }
}

.mid-content{
    padding-top: 1rem;
}

.site-welcome{
    padding: 2rem;
    background-color: $light_bg;
    border-radius:5px;
    margin-bottom: 2rem;
    @include breakpoint(mobile_portrait) {
        padding: 1rem;
    }
    h1{
        margin: 0px;
    }

}

.sce-section{
    margin-top: 2rem;

    .sce-section-left{
        width: 75.2%;
        padding-right: 8px;
        @include breakpoint(iPad){
            width: 100%;
            padding-right: 0px;
           }
        @include breakpoint(mobile) {
            width: 100%;
            padding-right: 0px;
        }
    }
    .sce-section-right{
       width: 24.8%; 
       padding-left: 8px;
       @include breakpoint(iPad){
        display: none;
       }
       @include breakpoint(mobile) {
        width: 100%;
        padding-left: 0px;
    }
    }
}

#secondary{
    position: sticky;
    top: 141px;
    padding-bottom: 30px;
    @include breakpoint(iPad){
        top: 90px;
    }
}
