.mid_container {
  padding-top: 78px;
  min-height: 700px;
  @include breakpoint(header_menu) {
    padding-top: 0px;
  }
}

.sub_hide_mobile {
  display: block;

  @include breakpoint(header_menu) {
    display: none;
  }
}

.sub_show_mobile {
  display: none;

  @include breakpoint(header_menu) {
    display: block;
  }
}

// For HEADER SCSS CSS START

.fixed_header {
  background: $white;
  box-shadow: 0 0 4px rgb(0 0 0 / 20%);
  @include breakpoint(header_menu) {
    position: relative;
   
  }
  .main-nav {
    @include breakpoint(header_menu) {
      background: $child_primary_color;
    }

    .nav-section {
      ul {
        li {
          border-right: 1px $child_primary_color solid;

          a {
            color: $child_primary_color;

            @include breakpoint(header_menu) {
              color: $white;
            }

            &:hover {
              color: $greenLight;

              @include breakpoint(header_menu) {
                color: $white;
              }
            }
          }

          &.current_page_ancestor {
            a {
              color: $greenLight;
            }

            ul {
              li {
                a {
                  color: $white;
                  @include breakpoint(header_menu) {
                    color: $white;
                  }
                }
              }
            }
          }

          &.current-menu-item {
            a {
              color: $greenLight;
            }

            ul {
              li {
                a {
                  color: $white;
                }
              }
            }
          }

          &:last-child {
            border-right: 0px;
          }

          .sub-menu {
            li {
              background: $green;
              border-top: 1px $child_primary_color solid;

              @include breakpoint(header_menu) {
                background: transparent;
                border-top: 1px $white solid;
              }
              a{
                color: $white;
              }

              &:hover {
                a {
                  color: $greenLight;
                }
              }

              &:first-child {
                border-top: 1px $child_primary_color solid;
                @include breakpoint(header_menu) {
                  border-top: 1px $white solid;
                }

                &::before {
                  border-color: transparent transparent $child_primary_color transparent;
                }
              }

              &.current_page_item {
                a {
                  color: $greenLight;
                }
              }
            }
          }
        }
      }
    }

    .back_to_main {
      position: relative;
      margin-left: 10px;

      a {
        @include display(block);
        @include font-color(14px, $white);
        @include display(block);
        @extend %heading-font;
        @include border-radius(5px);
        @include padding(5px, 55px, 5px, 15px);
        background: url('#{$assetPath}/shap.svg') no-repeat 95% center;
        background-size: 33px;
        background-color: $child-primary-color;
        @include breakpoint(header_menu) {
          border-top: 1px $white solid;
          padding: 15px 15px;
          border-radius: 0;
        }
      }
    }
    .child-site-search-desktop{
      margin-left: 15px;
      position: relative;
      @include breakpoint(header_menu) {
        display: none;
    }
      .search_icon{
        width: 20px;
        height: 20px;
        cursor: pointer;
        svg{
          path{
            stroke: $child_primary_color;
          }
        }
      }
      .child_hdr_search{
        position: absolute;
        top: -14px;
        left: -500px;
        width: 500px;
        padding-right: 15px;
        display: none;
        .input-group-append{
          display: none;
        }
        input {
          border: 0;
          color: #000;
          font-size: 14px;
          height: 100%;
          padding: 15px;
          width: 100%;
          border-radius: 5px;
          background: $white;
          border: 1px $child_primary_color solid;
      }
      }
      &.active, 
      &.focused{
        .child_hdr_search{
          display: block;
        }
      }
    }
    
  }
  
}
.child-site-search-mobile{
  margin-left:auto;
  position: relative;
  display: none;
  @include breakpoint(header_menu) {
    display: block;
}
  .search_icon{
    width: 42px;
    height: 42px;
    cursor: pointer;
    border: 1px $child_primary_color solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    svg{
      path{
        stroke: $child_primary_color;
      }
    }
  }
  .child_hdr_search{
    position: absolute;
    top: 0;
    left: -198px;
    width: 200px;
    padding-right: 0;
    display: none;
    .input-group-append{
      display: none;
    }
    input {
      border: 0;
      color: #000;
      font-size: 14px;
      height: 100%;
      padding: 11px 11px 12px 11px;
      width: 100%;
      border-radius: 5px;
      background: $white;
      border: 1px $child_primary_color solid;
  }
  }
  &.active, 
  &.focused{
    .child_hdr_search{
      display: block;
    }
  }
}
.menu_icon {
  margin-left: 10px;

  a {
    span {
      background-color: $child_primary_color;
    }
  }
}

// For HEADER SCSS CSS END

// For FOOTER SCSS CSS START

.main_footer {
  background: $green;
  position: relative;

  &::after {
    content: '';
    background: url('#{$assetPath}/footer-bg.svg') no-repeat center top;
    position: absolute;
    width: 100%;
    height: 126px;
    background-size: cover;
    top: -50px;
    left: 0px;
    z-index: 1;
    @media (min-width: 1900px) and (max-width: 25000px) {
      top: -117px;
      height: 160px;
    }
    @include breakpoint(mobile-portrait) {
      height: 68px;
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }
}

// For FOOTER SCSS CSS END
