body {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    position: relative;
    font-size: 16px;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    color: #000;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.landing-page {
    width: 100%;
    height: 100vh;
    background: url(../img/CGD-landing-page-image.jpg) no-repeat center center;
    background-size: cover;

    @media screen and (max-height: 700px) {
        height: 100%;
    }
}

.container {
    max-width: calc(100% - 3rem);
    padding: 3rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @media screen and (max-width: 767px) {
        padding: 3rem 0;
    }
}
.container-inner {
    width: 100%;
    .CGD-logo {
        width: 60%;
        @media (min-width: 768px) and (max-width: 991px) {
            width: 80%;
          }
        @media screen and (max-width: 567px) {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }
    h1 {
        margin: 3rem 0 0 0;
        padding: 0px;
        font-size: 3rem;
        font-weight: 600;
        color: #ebe6e1;
        @media screen and (max-width: 567px) {
            margin: 2rem 0 0 0;
            font-size: 2.1rem;
        }
    }
    p {
        margin: 0px;
        padding: 0px;
        font-size: 2rem;
        font-weight: 600;
        color: #ebe6e1;
        line-height: 2.3rem;
        @media screen and (max-width: 567px) {
            font-size: 1.4rem;
            line-height: 1.7rem;
        }
    }
    ul {
        margin: 4rem 0 0 0;
        padding: 0px;
        list-style: none;
        li {
            margin: 0px;
            padding: 0px;
            margin-top: 2rem;
            display: flex;
            align-items: center;
            @media screen and (max-width: 567px) {
                margin-top: 20px;
            }
            a {
                display: flex;
                align-items: center;
                font-size: 2.5rem;
                font-weight: 600;
                color: #ebe6e1;
                text-decoration: none;
                @media screen and (max-width: 767px) {
                    font-size: 2.2rem;
                }
                @media screen and (max-width: 567px) {
                    font-size: 1.6rem;
                }
                img {
                    width: 60px;
                    @media screen and (max-width: 567px) {
                        width: 50px;
                    }
                }
                span {
                    width: calc(100% - 60px);
                    padding-left: 30px;
                    @media screen and (max-width: 567px) {
                        width: calc(100% - 50px);
                        padding-left: 10px;
                    }
                }
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}
