/*
Scss Master
Author: Vimal Sharma
All rights reserved
 */
/*Helpers Scss Files */
a,
button {
  cursor: pointer;
}

body {
  font-size: 1.3rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  body {
    font-size: 1rem;
  }
}

.desc, p {
  line-height: 1.9rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .desc, p {
    line-height: 1.6rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .desc, p {
    line-height: 1.6rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .desc, p {
    line-height: 1.5rem;
  }
}

.primary-btn {
  font-size: 1.3rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .primary-btn {
    font-size: 1rem;
  }
}

.main-header .nav-right ul li a {
  font-size: 1.2rem;
}

.testimonials-section, .services-section, .about-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .testimonials-section, .services-section, .about-section {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section, .services-section, .about-section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section, .services-section, .about-section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.btn-set--left {
  display: flex;
  justify-content: left;
}

.btn-set--center {
  display: flex;
  justify-content: center;
}

.btn-set--right {
  display: flex;
  justify-content: right;
}
@media (min-width: 320px) and (max-width: 767px) {
  .btn-set--right {
    justify-content: center;
  }
}

.primary-btn {
  color: #464c5b;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.primary-btn i {
  width: 45px;
  height: 45px;
  background-color: #32bbae;
  border-radius: 100px;
  color: #fff;
  text-align: center;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}
.primary-btn:hover {
  color: #32bbae;
}
.primary-btn:hover i {
  background-color: #464c5b;
}

/*Base Scss Files */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: #fff;
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 0px;
  color: #464c5b;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #464c5b;
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
  opacity: 1;
}

button,
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.clear {
  clear: both;
}

@media screen and (max-width: 992px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
.container-fluid {
  max-width: 100%;
  width: calc(100% - 6rem);
  padding: 0 1rem;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    width: calc(100% - 4rem);
    padding: 0;
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-fluid {
    width: calc(100% - 4rem);
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-fluid {
    width: calc(100% - 4rem);
    padding: 0;
  }
}

.container-lg {
  max-width: 1500px;
  width: calc(100% - 6rem);
  margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-lg {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-lg {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-lg {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-lg {
    width: calc(100% - 4rem);
  }
}

.container {
  max-width: 1200px;
  width: calc(100% - 14rem);
  margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container {
    width: calc(100% - 6rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container {
    width: calc(100% - 4rem);
  }
}

.container-sm {
  max-width: 1100px;
  width: calc(100% - 22rem);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .container-sm {
    width: calc(100% - 12rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-sm {
    width: calc(100% - 4rem);
  }
}
@media (min-width: 568px) and (max-width: 767px) {
  .container-sm {
    width: calc(100% - 8rem);
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .container-sm {
    width: calc(100% - 4rem);
  }
}

.white-bg {
  background: #fff;
}
.white-bg h2 {
  color: #464c5b;
}

.primary-bg {
  background: #32bbae;
}

.secondary-bg {
  background: #464c5b;
  color: #fff;
}
.secondary-bg h2 {
  color: #fff;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.desc p:first-child {
  margin: 0px;
}
.desc ul {
  margin: 1rem 0;
  padding: 0px;
  list-style: none;
}
.desc ul li {
  position: relative;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0 1.5rem;
}
.desc ul li::before {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0px;
  top: 39%;
  background: #32bbae;
  content: "";
}

.no-margin-15 {
  margin-bottom: -15px !important;
}

/*Helpers Scss Files */
.input-field {
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.input-field label {
  font-size: 16px;
  color: #000;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password],
.input-field input[type=number],
.input-field input[type=date],
.input-field textarea {
  border-width: 0px;
  border-color: #000;
  border-style: solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  width: 100%;
  border-bottom: 1px #464c5b solid;
  font-size: 1.22rem;
  color: #464c5b;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.input-field input[type=text]:disabled,
.input-field input[type=email]:disabled,
.input-field input[type=password]:disabled,
.input-field input[type=number]:disabled,
.input-field input[type=date]:disabled,
.input-field textarea:disabled {
  opacity: 0.5;
}
.input-field input[type=text]::-webkit-input-placeholder,
.input-field input[type=email]::-webkit-input-placeholder,
.input-field input[type=password]::-webkit-input-placeholder,
.input-field input[type=number]::-webkit-input-placeholder,
.input-field input[type=date]::-webkit-input-placeholder,
.input-field textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: normal;
  font-size: 1.22rem;
  color: #464c5b;
  font-weight: 400;
}
.input-field input[type=text]::-moz-placeholder,
.input-field input[type=email]::-moz-placeholder,
.input-field input[type=password]::-moz-placeholder,
.input-field input[type=number]::-moz-placeholder,
.input-field input[type=date]::-moz-placeholder,
.input-field textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-style: normal;
  font-size: 1.22rem;
  color: #464c5b;
  font-weight: 400;
}
.input-field input[type=text]:-ms-input-placeholder,
.input-field input[type=email]:-ms-input-placeholder,
.input-field input[type=password]:-ms-input-placeholder,
.input-field input[type=number]:-ms-input-placeholder,
.input-field input[type=date]:-ms-input-placeholder,
.input-field textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-style: normal;
  font-size: 1.22rem;
  color: #464c5b;
  font-weight: 400;
}
.input-field input[type=text]:-moz-placeholder,
.input-field input[type=email]:-moz-placeholder,
.input-field input[type=password]:-moz-placeholder,
.input-field input[type=number]:-moz-placeholder,
.input-field input[type=date]:-moz-placeholder,
.input-field textarea:-moz-placeholder {
  /* Firefox 18- */
  font-style: normal;
  font-size: 1.22rem;
  color: #464c5b;
  font-weight: 400;
}
.input-field textarea {
  height: 126px;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem #fff !important;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none \9 ;
}

select::-ms-expand {
  display: none;
}

.selectbox {
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  width: 100%;
  font-size: 18px;
  color: #fff;
  background: url("../img/selectbox-arrow.svg") no-repeat right center;
}

.checkBox input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.checkBox input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 43px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.checkBox input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: url("../img/box-checked.svg");
}
.checkBox label.css-label {
  background-image: url("../img/box-check.svg");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.heroslider .hero-slider-item-content h1 {
  font-size: 8rem;
}
@media (min-width: 1300px) and (max-width: 1599px) {
  .heroslider .hero-slider-item-content h1 {
    font-size: 5.5rem;
  }
}
@media (min-width: 1500px) and (max-width: 1700px) {
  .heroslider .hero-slider-item-content h1 {
    font-size: 5.5rem;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .heroslider .hero-slider-item-content h1 {
    font-size: 5rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .heroslider .hero-slider-item-content h1 {
    font-size: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .heroslider .hero-slider-item-content h1 {
    font-size: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .heroslider .hero-slider-item-content h1 {
    font-size: 3rem;
  }
}

.heroslider .hero-slider-item-content .sub-hd, h2 {
  font-size: 3rem;
  color: #32bbae;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .heroslider .hero-slider-item-content .sub-hd, h2 {
    font-size: 2.6rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .heroslider .hero-slider-item-content .sub-hd, h2 {
    font-size: 2.4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .heroslider .hero-slider-item-content .sub-hd, h2 {
    font-size: 2rem;
  }
}

h2 {
  font-weight: 500;
}
h2.line {
  position: relative;
  padding-bottom: 2rem;
  margin: 0px;
}
h2.line::before {
  content: "";
  width: 200vh;
  height: 4px;
  background: #32bbae;
  position: absolute;
  bottom: 0px;
  left: -200vh;
}
h2.line::after {
  content: "";
  width: 177px;
  height: 4px;
  background: #32bbae;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/*Layout Scss Files */
.main-header {
  padding: 1.5rem 0;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 2;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header {
    padding: 1rem 0;
  }
}
.main-header .custom-row {
  align-items: center;
}
.main-header .logo img {
  width: 280px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-header .logo img {
    width: 230px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-header .logo img {
    width: 200px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .logo img {
    width: 150px;
  }
}
.main-header .nav-right {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 991px) {
  .main-header .nav-right {
    display: none;
  }
}
.main-header .nav-right ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
}
.main-header .nav-right ul li {
  margin: 0 0 0 60px;
  padding: 0px;
}
.main-header .nav-right ul li:first-child {
  margin-left: 0px;
}
.main-header .nav-right ul li a {
  display: block;
  color: #464c5b;
  font-weight: 600;
}
.main-header .nav-right ul li a.active, .main-header .nav-right ul li a:hover {
  color: #32bbae;
}

.nav__toggle {
  display: none;
}
@media (min-width: 320px) and (max-width: 991px) {
  .nav__toggle {
    display: block;
  }
}

.nav__toggle {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 10;
  transition: all 0.2s;
  margin-left: 25px;
  top: 6px;
  outline: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  outline: 0;
}
@media (min-width: 320px) and (max-width: 991px) {
  .nav__toggle {
    margin-left: auto;
    top: 0px;
  }
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  width: 30px;
}
.nav__toggle span,
.nav__toggle span::before,
.nav__toggle span::after {
  text-align: right;
  cursor: pointer;
  border-radius: 0px;
  height: 3px;
  background-color: #464c5b;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.2s;
  outline: 0;
  right: 0px;
}
.nav__toggle span {
  top: 15px;
}
.nav__toggle span::before {
  top: -10px;
}
.nav__toggle span::after {
  bottom: -10px;
}

.menu-slide .nav-right {
  display: block;
  position: fixed;
  height: 100%;
  background: #32bbae;
  left: 0;
  top: 0;
  width: 240px;
}
.menu-slide .nav-right ul {
  display: block;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
}
.menu-slide .nav-right ul li {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #464c5b;
}
.menu-slide .nav-right ul li a {
  margin: 0px;
  padding: 20px 0;
  font-size: 22px;
}
.menu-slide .nav-right ul li a.active, .menu-slide .nav-right ul li a.hover {
  color: #fff;
}
.menu-slide .nav__toggle span {
  background-color: transparent;
}
.menu-slide .nav__toggle span::before, .menu-slide .nav__toggle span::after {
  top: 0;
  background-color: #464c5b;
}
.menu-slide .nav__toggle span::before {
  transform: rotate(45deg);
}
.menu-slide .nav__toggle span::after {
  transform: rotate(-45deg);
}
.menu-slide .nav__toggle:hover span {
  background-color: transparent;
}
.menu-slide .nav__toggle:hover span::before, .menu-slide .nav__toggle:hover span::after {
  background-color: #464c5b;
}

.main-footer {
  background-color: #fff;
  padding: 2rem 0;
  font-size: 1rem;
}
.main-footer .footer-logo {
  width: 250px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.main-footer .footer-logo a {
  display: block;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-logo a {
    width: 313px;
  }
}
.main-footer .footer-logo a img {
  width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main-footer .footer-logo a img {
    width: 200px;
  }
}
.main-footer .footer-right {
  margin-left: auto;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-right {
    margin-left: 0;
    margin-top: 2rem;
    width: 100%;
  }
}
.main-footer .footer-right .custom-row {
  align-items: center;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-right .custom-row {
    justify-content: center;
  }
}
.main-footer .footer-right .footer-icons ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
}
.main-footer .footer-right .footer-icons ul li {
  margin: 0 2rem 0 0;
  padding: 0px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-right .footer-icons ul li {
    margin: 0 1rem 0 0;
  }
}
.main-footer .footer-right .footer-icons ul li a {
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 100px;
}
@media (min-width: 320px) and (max-width: 567px) {
  .main-footer .footer-right .footer-icons ul li a {
    width: 55px;
    height: 55px;
  }
}
.main-footer .footer-right .footer-icons ul li a.linked-icon {
  background: url("../img/Linkedin teal.svg") no-repeat center center;
  background-size: 100%;
}
.main-footer .footer-right .footer-icons ul li a:hover.linked-icon {
  background: url("../img/Linkedin grey.svg") no-repeat center center;
  background-size: 100%;
}
.main-footer .footer-right .footer-text .footer-text-top a {
  color: #464c5b;
}
.main-footer .footer-right .footer-text .footer-text-top a:hover {
  color: #32bbae;
}
.main-footer .footer-right .footer-text .footer-text-btm {
  margin-top: 5px;
}
.main-footer .footer-right .footer-text .footer-text-btm a {
  color: #32bbae;
}
.main-footer .footer-right .footer-text .footer-text-btm a:hover {
  color: #464c5b;
}

/*Components Scss Files */
.heroslider .slick-slide {
  position: relative;
}
.heroslider .hero-slider-item-img {
  position: relative;
}
.heroslider .hero-slider-item-img::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 70%, rgba(255, 255, 255, 0) 100%);
}
.heroslider .hero-slider-item-img img {
  width: 100%;
  height: auto;
  display: block;
}
.heroslider .hero-slider-item-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.heroslider .hero-slider-item-content h1 {
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  color: #fff;
  line-height: 7rem;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
}
@media (min-width: 1300px) and (max-width: 1599px) {
  .heroslider .hero-slider-item-content h1 {
    line-height: 5rem;
  }
}
@media (min-width: 1500px) and (max-width: 1700px) {
  .heroslider .hero-slider-item-content h1 {
    line-height: 6rem;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .heroslider .hero-slider-item-content h1 {
    line-height: 4rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .heroslider .hero-slider-item-content h1 {
    line-height: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .heroslider .hero-slider-item-content h1 {
    line-height: 4rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .heroslider .hero-slider-item-content h1 {
    line-height: 3rem;
  }
}
.heroslider .hero-slider-item-content h1 strong {
  color: #32bbae;
  display: block;
  font-weight: 700;
}
.heroslider .hero-slider-item-content h1 i {
  font-family: "Smooch", cursive;
  color: #fff;
  padding-left: 10px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .heroslider .hero-slider-item-content h1 i {
    padding-left: 3px;
  }
}
.heroslider .hero-slider-item-content .sub-hd {
  padding-top: 3rem;
  color: #fff;
  font-weight: 700;
}
@media (min-width: 1300px) and (max-width: 1599px) {
  .heroslider .hero-slider-item-content .sub-hd {
    padding-top: 2rem;
    font-size: 1.9rem;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .heroslider .hero-slider-item-content .sub-hd {
    padding-top: 2rem;
    font-size: 1.9rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .heroslider .hero-slider-item-content .sub-hd {
    padding-top: 2rem;
    font-size: 1.9rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .heroslider .hero-slider-item-content .sub-hd {
    font-size: 1.9rem;
    padding-top: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .heroslider .hero-slider-item-content .sub-hd {
    font-size: 1.5rem;
    padding-top: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .heroslider .hero-slider-item-content .sub-hd br {
    display: none;
  }
}

.hero-section {
  position: relative;
  z-index: 1;
}
.hero-section .go-to-bottom {
  position: absolute;
  bottom: -25px;
  left: 0px;
  width: 100%;
  z-index: 999;
}
.hero-section .go-to-bottom a {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background: #32bbae url("../img/white-bottom-arrow.svg") no-repeat center center;
  background-size: 17px;
  border: 0px;
  display: inline-block;
}
.hero-section .go-to-bottom a:hover {
  background: #464c5b url("../img/white-bottom-arrow.svg") no-repeat center center;
  background-size: 17px;
}

@media (min-width: 320px) and (max-width: 567px) {
  .about-section .custom-row {
    flex-direction: column-reverse;
  }
}
.about-section h2 {
  margin-bottom: 3rem;
}
.about-section .about-section-text {
  width: 60%;
  padding-right: 10%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .about-section .about-section-text {
    padding-right: 7%;
  }
}
@media (min-width: 320px) and (max-width: 567px) {
  .about-section .about-section-text {
    width: 100%;
    padding-right: 0%;
    padding-bottom: 0rem;
  }
}
.about-section .about-section-text p br {
  display: none;
}
.about-section .about-section-text h2 {
  margin: 0px;
}
.about-section .about-section-text .desc {
  margin: 0 0 4rem 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .about-section .about-section-text .desc {
    margin: 0 0 2rem 0;
  }
}
.about-section .about-section-img {
  width: 40%;
}
@media (min-width: 320px) and (max-width: 567px) {
  .about-section .about-section-img {
    width: 100%;
    margin-bottom: 3rem;
  }
}
.about-section .about-section-img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 30px;
}

.services-section ~ .about-section {
  padding-bottom: 0px;
}

.services-section .services-row-item {
  border-bottom: 1px #fff solid;
  padding: 5rem 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .services-section .services-row-item {
    padding: 3rem 0;
  }
}
.services-section .services-row-item:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}
.services-section .services-row-item .services-item-left {
  width: 45%;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .services-section .services-row-item .services-item-left {
    width: 100%;
    text-align: left;
  }
}
.services-section .services-row-item .services-item-left h3 {
  margin: 0px;
  color: #32bbae;
}
.services-section .services-row-item .services-item-left .services-icon {
  width: 170px;
  margin: 3rem auto auto;
}
@media (min-width: 320px) and (max-width: 767px) {
  .services-section .services-row-item .services-item-left .services-icon {
    margin: 3rem 0;
    width: 140px;
  }
}
.services-section .services-row-item .services-item-left .services-icon img {
  width: 100%;
  height: auto;
  display: block;
}
.services-section .services-row-item .services-item-right {
  width: 55%;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 400;
}
@media (min-width: 320px) and (max-width: 767px) {
  .services-section .services-row-item .services-item-right {
    width: 100%;
    padding: 0px;
  }
}

.testimonials-section .testimonials-slider {
  margin-top: 6rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-slider {
    margin-top: 4rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .testimonials-section .slick-list {
    width: 85%;
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .slick-list {
    width: 92%;
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .slick-list {
    width: 82%;
    margin: auto;
  }
}
.testimonials-section .testimonials-img {
  width: 350px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .testimonials-section .testimonials-img {
    width: 200px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .testimonials-img {
    width: 150px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-img {
    display: none;
  }
}
.testimonials-section .testimonials-img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
.testimonials-section .testimonials-content {
  width: calc(100% - 350px);
  padding: 2rem 5%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .testimonials-section .testimonials-content {
    width: calc(100% - 200px);
    padding: 0rem 0% 1rem 5%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .testimonials-content {
    width: calc(100% - 150px);
    padding: 0rem 0% 1rem 5%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-content {
    width: 100%;
    padding: 0;
  }
}
.testimonials-section .testimonials-content .testimonials-txt {
  color: #464c5b;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  min-height: 244px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .testimonials-section .testimonials-content .testimonials-txt {
    font-size: 1.4rem;
    line-height: 1.8rem;
    min-height: 137px;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .testimonials-content .testimonials-txt {
    font-size: 1.3rem;
    line-height: 1.7rem;
    min-height: 137px;
    margin-bottom: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-content .testimonials-txt {
    font-size: 1.3rem;
    line-height: 1.7rem;
    min-height: 100px;
  }
}
.testimonials-section .testimonials-content .testimonials-img-mobile {
  display: none;
  width: 100%;
  margin: 2rem 0;
}
.testimonials-section .testimonials-content .testimonials-img-mobile img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-content .testimonials-img-mobile {
    display: block;
  }
}
.testimonials-section .testimonials-content .testimonials-info strong {
  display: block;
  color: #32bbae;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .testimonials-section .testimonials-content .testimonials-info strong {
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .testimonials-content .testimonials-info strong {
    font-size: 1.1rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-content .testimonials-info strong {
    font-size: 1.1rem;
  }
}
.testimonials-section .testimonials-content .testimonials-info span {
  display: block;
  color: #32bbae;
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .testimonials-content .testimonials-info span {
    font-size: 1.1rem;
  }
}
.testimonials-section .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  border: 0px;
  padding: 0px;
  text-indent: -9999px;
  width: 55px;
  height: 55px;
  border-radius: 100%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .testimonials-section .slick-arrow {
    top: calc(50% - 45px);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .slick-arrow {
    top: 60px;
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .slick-arrow {
    width: 35px;
    height: 35px;
    top: 20%;
  }
}
.testimonials-section .slick-arrow.slick-prev {
  left: -8rem;
  background: #32bbae url("../img/white-left-arrow.svg") no-repeat center center;
  background-size: 17px;
}
@media (min-width: 1300px) and (max-width: 1599px) {
  .testimonials-section .slick-arrow.slick-prev {
    left: -5rem;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .testimonials-section .slick-arrow.slick-prev {
    left: -5rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .testimonials-section .slick-arrow.slick-prev {
    left: -1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .slick-arrow.slick-prev {
    left: -2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .slick-arrow.slick-prev {
    left: -1rem;
  }
}
.testimonials-section .slick-arrow.slick-prev:hover {
  background: #464c5b url("../img/white-left-arrow.svg") no-repeat center center;
  background-size: 17px;
}
.testimonials-section .slick-arrow.slick-next {
  right: -8rem;
  background: #32bbae url("../img/white-right-arrow.svg") no-repeat center center;
  background-size: 17px;
}
@media (min-width: 1300px) and (max-width: 1599px) {
  .testimonials-section .slick-arrow.slick-next {
    right: -5rem;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .testimonials-section .slick-arrow.slick-next {
    right: -5rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .testimonials-section .slick-arrow.slick-next {
    right: -1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonials-section .slick-arrow.slick-next {
    right: -2rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .testimonials-section .slick-arrow.slick-next {
    right: -1rem;
  }
}
.testimonials-section .slick-arrow.slick-next:hover {
  background: #464c5b url("../img/white-right-arrow.svg") no-repeat center center;
  background-size: 17px;
}

.contact-section {
  padding: 6rem 0;
}
.contact-section .custom-row {
  align-items: end;
}
.contact-section .contact-section-left {
  width: 50%;
  color: #fff;
  font-size: 3.5rem;
  font-weight: 900;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-section-left {
    font-size: 2.8rem;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-section-left {
    width: 100%;
    font-size: 2.5rem;
  }
}
.contact-section .contact-section-left p {
  margin: 0px;
  line-height: 4.5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-section-left p {
    line-height: 3.5rem;
  }
  .contact-section .contact-section-left p br {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-section-left p {
    line-height: 3rem;
  }
  .contact-section .contact-section-left p br {
    display: none;
  }
}
.contact-section .contact-section-left i {
  font-family: "Smooch", cursive;
  color: #464c5b;
  font-size: 5.5rem;
  letter-spacing: 1px;
}
.contact-section .contact-section-right {
  width: 50%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-section-right {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-section-right {
    width: 100%;
  }
}
.contact-section .contact-section-right ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.contact-section .contact-section-right ul li {
  margin: 3rem 0 0 0;
  padding: 0px;
}
.contact-section .contact-section-right ul li a {
  display: flex;
  width: 100%;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-section-right ul li a {
    font-size: 1.4rem;
  }
}
.contact-section .contact-section-right ul li a i {
  width: 80px;
  height: 80px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-section-right ul li a i {
    width: 60px;
    height: 60px;
  }
}
.contact-section .contact-section-right ul li a i.email-icon {
  background: url("../img/white-email-icon.svg") no-repeat center center;
  background-size: 100%;
}
.contact-section .contact-section-right ul li a i.phone-icon {
  background: url("../img/phone white.svg") no-repeat center center;
  background-size: 100%;
}
.contact-section .contact-section-right ul li a span {
  width: calc(100% - 80px);
  padding-left: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact-section .contact-section-right ul li a span {
    width: calc(100% - 60px);
    padding-left: 15px;
  }
}
.contact-section .contact-section-right ul li a:hover {
  color: #464c5b;
}
.contact-section .contact-section-right ul li a:hover i {
  width: 80px;
  height: 80px;
}
.contact-section .contact-section-right ul li a:hover i.email-icon {
  background: url("../img/gray-email-icon.svg") no-repeat center center;
  background-size: 100%;
}
.contact-section .contact-section-right ul li a:hover i.phone-icon {
  background: url("../img/phone grey.svg") no-repeat center center;
  background-size: 100%;
}

.page-not-foumd {
  min-height: 600px;
}
.page-not-foumd .blog-block-text {
  text-align: center;
}
.page-not-foumd h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
}

.page-title h1 {
  margin: 0px;
  padding: 0px;
  color: #32bbae;
  font-size: 3.2rem;
}

.single-service .full-bg-hero .page-hero-content-outer .page-hero-content h1::after {
  background: transparent;
}

.privacy-policy h1,
.privacy-policy h2,
.privacy-policy h3,
.privacy-policy h4,
.privacy-policy h5 {
  margin-bottom: 0px;
}
.privacy-policy h2 {
  font-size: 2.2rem;
}
.privacy-policy h3 {
  font-size: 2rem;
}

/*# sourceMappingURL=global.css.map */
