/**
 * ----------------------
 * Blooberry Design
 * Atoms - Align
 * ----------------------
 */

.a-align {
  &--center {
    text-align: center;
    text-align-last: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .a-btn {
      margin-top: $bump/2;
    }
  }
}
