/**
 * ----------------------
 * Blooberry Design
 * Atoms - Angle
 * ----------------------
 */

/**
* Config
*/

@mixin tilted($angle, $color, $position: 'bottom', $pseudo: 'after') {
  position: relative;
  background-color: $color;

  &::#{$pseudo} {
    content: '';
    padding-top: 300px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

    @include media('<sm') {
      padding-top: 200px;
    }

    @if ($position == 'top') {
      bottom: 100%;
      background-image: linear-gradient($angle, $color calc(50% - 1px), transparent 50%);
    } @else {
      top: 100%;
      background-image: linear-gradient($angle, transparent calc(50% - 1px), $color 50%);
    }
  }
}

/**
* Styles
*/

.a-angle {
  background-color: $c-grey;

  &--top {
    @include tilted(2.5deg, $c-grey, 'top');
    padding: $bump/2 0 $bump * 1.5;

    @include media('<sm') {
      padding: 0 0 $bump;
    }
  }

  &--bottom {
    padding: $bump * 1.5 0 0;

    @include tilted(2.5deg, $c-grey);

    @include media('<sm') {
      @include tilted(5deg, $c-grey);
    }
  }

  &--nowt {
    padding: $bump * 2 0 0;

    @include media('<sm') {
      padding-top: $bump;
    }
  }
}
