/**
 * ----------------------
 * Blooberry Design
 * Atoms - Country list
 * ----------------------
 */

.a-country-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: $bump/2;
  margin-top: $bump/2;

  @include media('<md') {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include media('<sm') {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include media('<xs') {
    grid-template-columns: 1fr;
  }

  @include ie {
    display: flex;
    flex-wrap: wrap;

    & > p {
      width: 25%;
    }
  }

  a {
    color: $c-primary;

    &:hover {
      color: $c-lt-blue;
    }
  }

  p {
    margin: 0;
  }
}
