/**
 * ----------------------
 * Blooberry Design
 * Atoms - FAQs
 * ----------------------
 */

.a-faq-menu {
  margin: 0 0 $bump/2;
  padding: 0;
  color: $c-lt-blue;
  position: sticky;
  top: $bump;

  li {
    margin-bottom: $bump/4;
  }

  a {
    @include link-reverse;

    &:hover {
      border-color: $c-lt-blue;
    }
  }
}
