/**
 * ----------------------
 * Blooberry Design
 * Atoms - Map
 * ----------------------
 */

.a-map {
  height: 50vh;
}

.gm-style .gm-style-iw-d {
  font-size: 18px;
  line-height: 1.4;
  padding: $bump/2;

  a {
    @include font-body;
    color: $c-primary;
  }

  p {
    max-width: 300px;
    // width: 90%;
  }
}

.gm-ui-hover-effect {
  background: url('../icon/cross.svg') center center no-repeat !important;
  background-size: 20px !important;
  top: 5px !important;
  right: 5px !important;
  transition: 0.1s $easing;

  img {
    display: none !important;
  }
}
