/**
 * ----------------------
 * Blooberry Design
 * Atoms - Menus
 * ----------------------
 */

.a-menu {
  &__top {
    position: relative;
    z-index: 2;

    @include media('<sm') {
      width: 100%;
      margin-top: 0;
      border: 1px solid $c-white;
      border-left: 0;
      border-right: 0;
    }

    ul {
      left: auto;
      right: 0;

      @include media('<sm') {
        width: 100%;
      }

      a {
        color: $c-white;
      }
    }

    & > li {
      color: $c-blue;

      @include media('<sm') {
        padding: 0;
        color: $c-white;
      }

      &:hover > a {
        color: $c-lt-blue;

        @include media('<sm') {
          color: $c-yellow;
        }
      }
    }

    a {
      color: inherit;

      &:hover {
        color: $c-lt-blue;
      }
    }
  }

  &__main {
    justify-content: flex-start;

    @include media('<md') {
      width: 100%;
      flex-direction: column;
      align-items: stretch;

      li {
        flex-direction: column;

        a {
          text-align: center;
          align-items: center;
          padding-right: $bump/2;
        }
      }

      ul {
        width: 100%;
        position: relative;
        top: 0;
      }
    }

    li a {
      color: $c-white;

      @include media('<md') {
        width: 100%;
      }
    }

    & > li > a {
      margin: 0;
      padding: $bump/2;
      line-height: 1;
      border-top: 3px solid transparent;

      @include media('<1200px', '>md') {
        padding: $bump/2 $bump/3;
      }
    }
  }

  &__main-right {
    @include media('<md') {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
    }

    a {
      color: $c-white;
      text-decoration: none;
      border: 0;
      padding: $bump/2 $bump/1.5;
      margin: 0;
      border: 3px solid transparent;
      border-left: 0;
      border-right: 0;
      text-align: center;

      @include media('<1200px') {
        padding: $bump/2 $bump/2;
      }

      &:hover {
        border-bottom-color: $c-yellow;
      }
    }

    .btn {
      &:hover {
        a {
          background-color: $c-yellow;
          border-color: $c-yellow;
          color: $c-blue;
        }
      }

      &--green {
        a {
          border-color: $c-green;
          background-color: $c-green;
        }
      }

      &--yellow {
        a {
          border-color: $c-yellow;
          background-color: $c-yellow;
          color: $c-blue;
        }

        &:hover {
          a {
            background-color: $c-blue;
            border-color: $c-blue;
            color: $c-white;
          }
        }
      }

      &--blue {
        a {
          border-color: $c-blue;
          background-color: $c-blue;
        }
      }
    }
  }
}
