/**
 * ----------------------
 * Blooberry Design
 * Atoms - Read more
 * ----------------------
 */

.a-more {
  margin-top: auto;
  padding-top: $bump/2;
  @include font-bold;
  border-bottom-width: 2px;
}
