.a-search {
  @include bg-img(30px);
  background-image: url('../img/search-blue.svg');
  border-radius: 0;
  padding: 0;
  text-indent: -9999px;
  appearance: none;
  width: 40px;
  height: 40px;
  margin-left: $bump / 2;
  transition: 0.2s ease;

  &:hover,
  [data-search='open'] & {
    background-color: var(--accent);
    background-image: url('../img/search.svg');
  }

  [data-search='open'] & {
    background-image: url('../img/close.svg');

    &:hover {
      background-color: var(--secondary);
    }
  }
}
