$footer-font: 15px;

.main-footer {
    background: $white;
    padding: 1rem 0;
    border-top: 5px $secondary-color solid;
    border-bottom: 5px $secondary-color solid;

    @include breakpoint(mobile) {
        border-top: 3px $secondary-color solid;
        border-bottom: 3px $secondary-color solid;
    }

    .custom-row {
        align-items: center;
    }

    .footer-left {
        width: 50%;


        @include breakpoint(mobile) {
            width: 100%;
            padding-right: 0rem;
        }

        .site-footer-logo {
            width: 250px;

            @include breakpoint(mobile) {
                margin: auto;
            }

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }



    .footer-right {
        margin-left: auto;


        @include breakpoint(mobile) {
            width: 100%;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            align-items: center;
            display: flex;
            justify-content: end;

            @include breakpoint(mobile) {
                justify-content: center;
                text-align: center;
                position: relative;
                padding-top: 1rem;
                margin-top: 0.5rem;
                text-align: center;


            }

            li {
                margin: 0;
                border-right: 1px $primary-color solid;
                padding: 0 15px;
                font-size: $footer-font;
                color: $secondary-color;

                &:last-child {
                    margin-bottom: 0px;
                    border-right: 0px;
                }

                a {
                    font-size: $footer-font;
                    color: $secondary-color;
                    text-transform: uppercase;

                    &:hover {
                        color: $primary-color;
                    }
                }


            }
        }

        p {
            font-size: $footer-font;
            color: $secondary-color;
            margin-top: 1rem;
            text-align: right;
            margin-bottom: 0;

            @include breakpoint(ipad_landscape) {
                margin-top: 1rem;
            }

            @include breakpoint(ipad_portrait) {
                margin-top: 1rem;
            }

            @include breakpoint(mobile) {
                text-align: center;
            }

            a {
                font-weight: 500;
                color: $primary-color;

                &:hover {
                    color: $secondary-color;
                }

            }
        }
    }
}