.main-header {
    background-color: rgb(255, 255, 255, 0);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;

    header {
        position: relative;
        padding: 2rem 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;

        @include breakpoint(mobile_nav) {
            padding: 1rem 0;
        }
    }

    .custom-row {
        align-items: center;
        position: relative;
        z-index: 2;

        @include breakpoint(ipad_landscape) {
            align-items: flex-end;
        }

        @include breakpoint(mobile_nav) {
            align-items: center;
        }
    }

    .logo {
        a {
            display: block;
            padding: 0;
            z-index: 3;

            img {
                display: block;
                width: 290px;
                position: relative;
                z-index: 2;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;

                &.logohide {
                    display: none;
                }

                @include breakpoint(desktop-md) {
                    width: 240px;
                }

                @include breakpoint(desktop-sm) {
                    width: 210px;
                }

                @include breakpoint(ipad_landscape) {
                    width: 200px;
                }


                @include breakpoint(mobile_nav) {
                    width: 130px;
                }

                @include breakpoint(ipad_portrait) {
                    width: 175px;
                }
            }
        }
    }

    .top-hdr-right {
        margin-left: auto;

        @include breakpoint(mobile_nav) {
            margin-left: 0;
            display: none;
        }
    }

    .nav_menu_inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top: 1px $white solid;
        border-bottom: 1px $white solid;
    }

    .nav_menu {
        width: 100%;
    }

    .nav-main {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;

            li {
                margin: 0 2rem;
                padding: 0px;

                .sub-menu-toggle {
                    width: 0px;
                    height: 0px;
                    border: 0px;
                    padding: 0px;
                    background: transparent;
                    display: none;
                }

                @include breakpoint(desktop-sm) {
                    margin: 0 1rem;
                }

                @include breakpoint(ipad_landscape) {
                    margin: 0 1rem;
                }

                a {
                    display: block;
                    font-size: $mainMenuFont;
                    color: $white;
                    font-family: $primaryfontfaimly;
                    font-weight: 500;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 5px transparent solid;

                    &:hover {
                        color: $primary-color;
                    }
                }

                &.current-menu-item {
                    a {
                        border-bottom: 5px $primary-color solid;
                        color: $primary-color;
                    }
                }

                ul:empty {
                    display: none;
                }
            }
        }
    }
}

.sm-header {
    .main-header {
        .custom-row {
            align-items: center;
        }

        header {
            padding: 1rem 0;

            .logo a img {
                width: 250px;

                &.logohide {
                    display: block;
                }

                &.logoshow {
                    display: none;
                }

                @include breakpoint(desktop-md) {
                    width: 230px;
                }

                @include breakpoint(desktop-sm) {
                    width: 210px;
                }

                @include breakpoint(ipad_landscape) {
                    width: 200px;
                }

                @include breakpoint(mobile_nav) {
                    width: 130px;
                }
            }

            &::after {
                position: absolute;
                width: 100%;
                content: "";
                height: 100%;
                background-color: rgba(255, 255, 255, 1);
                left: 0px;
                top: 0px;
                box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
                mix-blend-mode: multiply;
            }

            .nav-main ul li a {
                color: $secondary-color;
            }
        }
    }
}

.sm-pg-header {
    .main-header {
        position: sticky;
    }
}

.nav__toggle {
    display: none;

    @include breakpoint(mobile_nav) {
        display: block;
    }
}

.nav__toggle {
    position: relative;
    height: 30px;
    width: 35px;
    z-index: 10;
    transition: all 0.2s;
    margin-left: auto;
    top: 0px;
    outline: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    outline: 0;

    span {
        height: 3px;
        width: 40px;
    }

    span::before,
    span::after {
        height: 3px;
        width: 25px;
        right: 0px;
    }

    span,
    span::before,
    span::after {
        text-align: right;
        cursor: pointer;
        border-radius: 0px;
        background-color: $white;
        position: absolute;
        display: block;
        content: "";
        transition: all 0.2s;
        outline: 0;
    }

    span {
        // left: 3px;
        top: 15px;

        &::before {
            top: -10px;
        }

        &::after {
            bottom: -10px;
            width: 25px;
        }
    }
}

.menu-slide {
    overflow: hidden;
    height: 100%;


    .logo {
        opacity: 0;
    }

    .main-header .nav-main ul li a {
        color: $white;
    }

    .main-header .nav-main ul li.menu-item-has-children ul li {
        background: transparent;
    }

    .main-header .nav-main ul li.current-menu-ancestor ul li a,
    .main-header .nav-main ul li.current-menu-item ul li a {
        color: $white;
    }



    .main-header {
        height: 100vh;
        background: $secondary-color;

        .top-hdr-right {
            display: block;
            position: absolute;
            width: 100%;
            height: calc(100vh - 89px);
            left: 0px;
            top: 49px;
            padding: 0;


            .nav_menu {
                padding: 0;
                width: 100%;
                height: 100%;
                display: flex;
                overflow: auto;
            }

            .nav_menu_inner {
                justify-content: center;
                width: auto;
                margin: auto;
                display: block;
                border: 0px;

                .nav-main {
                    ul {
                        display: block;
                        text-align: left;

                        li {
                            margin: 1.5rem 0;

                            a {
                                font-size: 1.6rem;
                                font-weight: 200;
                                border-bottom: 0px;
                            }
                        }

                        // li.menu-item-has-children {
                        //     .sub-menu-toggle {
                        //         background: url("#{$assetIconsPath}/menu-close.svg") no-repeat center center;
                        //         height: 15px;
                        //         border: 0px;
                        //         padding: 0px;
                        //         cursor: pointer;
                        //         width: 10px;
                        //         margin: 0 0 0 10px;
                        //         display: inline;
                        //         position: absolute;
                        //         top: 9px;
                        //     }

                        //     a {
                        //         display: inline-flex;

                        //         &:hover {
                        //             color: $white;
                        //         }
                        //     }

                        //     ul {
                        //         display: none;
                        //         margin-top: 1rem;
                        //         margin-bottom: 2rem;

                        //         li {
                        //             margin: 0px;
                        //             padding: 4px 0;

                        //             &:first-child {
                        //                 padding-top: 0px;
                        //             }

                        //             a {
                        //                 padding: 0.2rem 0 0.2rem 0rem;
                        //                 font-size: 1.2rem;
                        //             }
                        //         }
                        //     }
                        // }

                        // li.submenu-expanded {
                        //     .sub-menu-toggle {
                        //         background: url("#{$assetIconsPath}/menu-open.svg") no-repeat center center;
                        //     }

                        //     ul {
                        //         display: block;
                        //         position: relative;
                        //         width: auto;
                        //         left: 0;
                        //         top: 0;
                        //         padding: 0px;

                        //         li {
                        //             a {
                        //                 font-size: 1.2rem;
                        //             }
                        //         }
                        //     }
                        // }
                    }


                }

            }
        }
    }

    .main-header .nav-main ul li.current-menu-ancestor a,
    .main-header .nav-main ul li.current-menu-item a {
        color: $primary-color;
        font-weight: 500 !important;

        &:hover {
            color: $primary-color;
        }
    }

    .main-header .nav-main ul li.current-menu-ancestor ul li.current-menu-item a,
    .main-header .nav-main ul li.current-menu-item ul li.current-menu-item a {
        color: $primary-color;
        font-weight: 500 !important;

        &:hover {
            color: $primary-color;
        }
    }

    .main-header .nav-main ul li.current-menu-ancestor ul li a,
    .main-header .nav-main ul li.current-menu-item ul li a {
        color: $white;
        font-weight: 300 !important;

        &:hover {
            color: $primary-color;
        }
    }

    .nav__toggle {
        span {
            background-color: transparent;
            width: 35px;

            &::before,
            &::after {
                top: 0;
                background-color: $white;
            }

            &::before {
                transform: rotate(45deg);
                width: 35px;
            }

            &::after {
                transform: rotate(-45deg);
                width: 35px;
            }
        }

        &:hover {
            span {
                background-color: transparent;
                width: 35px;

                &::before,
                &::after {
                    background-color: $white;
                }

                &::after {
                    width: 35px;
                }
            }
        }
    }

    .header-social-media.hide-mobile {
        display: none;
    }


}




.header-social-media {
    @include breakpoint(ipad_air){
        margin-left: 20px;
    }
    @include breakpoint(ipad_landscape){
        margin-left: 20px;
    }
    ul {
        display: flex;
        justify-content: start;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding: 0;
            margin: 0;


            a {
                border: 0 !important;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $primary-color;
                width: 64px;
                height: 50px;
                text-align: center;

                i {
                    display: block;

                    &.email-white-icon {
                        width: 39px;
                        height: 28px
                    }

                    &.telephone-white-icon {
                        width: 34px;
                        height: 30px;
                    }
                }
            }

            &:last-child {
                border-left: 1px $white solid;
            }

        }
    }
}

.sm-header {

    @include breakpoint(mobile_nav) {

        .nav__toggle span,
        .nav__toggle span::before,
        .nav__toggle span::after {
            background-color: $secondary-color;
        }

        .main-header header .nav-main ul li a {
            color: $white;
        }


    }

}

.menu-slide{
    @include breakpoint(mobile_nav) {
        .sm-header .main-header header::after,
        .main-header header::after
        {
            background-color: transparent;
            box-shadow: 0px 0px 5px rgb(0 0 0 / 0%);
        }
    }
    
}