.contact-page-top {
    position: relative;



    .contact-page-section-img {
        position: absolute;
        width: 100%;
        height: 47%;
        left: 0px;
        top: 0px;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            @extend .contact-hd-overly-bg;
            top: 0px;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .contact-page-section-content {
        width: 100%;
        height: 100%;
        padding: 9rem 0 6rem 0;
        position: relative;
        z-index: 1;

        @include breakpoint(ipad_portrait) {
            padding-top: 5rem;
        }

        @include breakpoint(mobile) {
            padding-top: 5rem;
        }

        h1 {
            color: $white;
            margin: 0 0 4.5rem 0;
            padding: 0px;
            text-transform: uppercase;
            @extend %pt46;

            @include breakpoint(mobile_portrait) {
                margin-bottom: 3rem
            }
        }

        .contact-page-info {
            ul {
                @include ul;

                li {
                    margin: 2.5rem 0;

                    a {
                        display: flex;
                        font-size: 1.8rem;
                        color: $white;
                        align-items: start;
                        font-family: $secondaryfontfaimly;

                        i {
                            width: 50px;
                            height: 50px;

                            @include breakpoint(mobile_portrait) {
                                width: 40px;
                                height: 40px;
                            }


                            &.telephone-icon {
                                background:url("#{$assetIconsPath}/contact yellow phone cml.svg") no-repeat center center;
                                background-size: 92%;
                            }

                            &.email-icon {
                                background:url("#{$assetIconsPath}/contact yellow email cml.svg") no-repeat center center;
                                background-size: 100%;
                            }

                            &.location-icon {
                                background:url("#{$assetIconsPath}/contact yellow map cml.svg") no-repeat center center;
                                background-size: 72%;
                            }
                        }

                        span {
                            width: calc(100% - 50px);
                            padding-left: 30px;

                            @include breakpoint(mobile_portrait) {
                                width: calc(100% - 40px);
                                padding-left: 20px;
                            }
                        }


                    }
                }
            }
        }
    }

    .respnsive-view {
        display: none;
        background-size: cover;
        background-repeat: no-repeat;

        @include breakpoint(ipad_portrait) {
            display: block;
        }

        @include breakpoint(mobile) {
            display: block;
        }
    }

    .desktop-view {
        @include breakpoint(ipad_portrait) {
            display: none;
        }

        @include breakpoint(mobile) {
            display: none;
        }
    }
}

.contact-form-bg {
    background: $secondary-color;
    padding: 5rem;
    margin-top: 6rem;

    @include breakpoint(mobile_landscape) {
        padding: 3rem;
        margin-top: 3rem;
    }

    @include breakpoint(mobile_portrait) {
        padding: 2rem;
        margin-top: 3rem;
    }
    .btn-set--right{
        @media (min-width: 320px) and (max-width: 991px) {
            justify-content: start;

        }
    }
}

.contact-page-template {
    background-color: $white;

    .heading-left {
        h2 {
            @extend %pt25;
            color: $white;
            margin: 0px;
            padding: 0px;
            font-family: $secondaryfontfaimly;
            font-weight: 400;
        }
    }


    .last-btn-set {
        display: flex;
        flex-wrap: wrap;

        .input-submit-box {
            margin-left: auto;
        }
    }

    .wpcf7 .wpcf7-submit:disabled {
        cursor: pointer !important;
    }

    .input-field-set {
        display: flex;

        @include breakpoint(mobile) {
            display: block;
        }

        .input-field {
            margin-top: 9px;
        }

        .input-submit-box {
            margin-left: auto;

            @include breakpoint(mobile) {
                margin-left: 0;
                margin-top: 2rem;
            }
        }
    }

    .wpcf7-acceptance {
        span {
            margin-right: 0;
            position: relative;
        }
    }

    .wpcf7-acceptance {
        .wpcf7-list-item {
            margin: 0;
        }

        input {
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 100%;
        }
    }


    .wpcf7-acceptance input::after,
    .wpcf7-acceptance input:checked::after {
        content: "";
        width: 35px;
        height: 35px;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 1;

        @include breakpoint(mobile) {
            width: 30px;
            height: 30px;
        }
    }

    .wpcf7-acceptance input::before {
        content: "";
        background: $secondary-color;
        width: 35px;
        height: 35px;
        position: absolute;
        right: -3px;
        top: -3px;

        @include breakpoint(mobile) {
            width: 30px;
            height: 30px;
        }
    }

    .wpcf7-acceptance input::after {
        background: url("#{$assetIconsPath}/checkinput.svg") no-repeat center center;
        background-size: 100%;

    }

    .wpcf7-acceptance input:checked::after {
        background: url("#{$assetIconsPath}/checkedinput.svg") no-repeat center center;
        background-size: 100%;
    }

    .input-field-set {
        label {
            position: relative;
            padding: 0 71px 0 0px;
            display: block;
            align-items: center;
            color: $white;

            @include breakpoint(mobile) {
                padding: 0 45px 0 0px;
            }

            a {
                color: $primary-color;

                &:hover {
                    color: $drak-gray;
                }
            }
        }

        .wpcf7-form-control-wrap {
            position: absolute;
            right: 0;
            top: -4px;

            @include breakpoint(mobile) {
                top: 0px;
            }
        }
    }

    @include breakpoint(ipad_portrait) {

        .recaptcha iframe {
            transform: scale(0.77);
            -webkit-transform: scale(0.77);
            transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
        }
    }

    @include breakpoint(mobile_portrait) {

        .recaptcha iframe {
            transform: scale(0.77);
            -webkit-transform: scale(0.77);
            transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
        }
    }
}