.main-footer{
    .footer-left{
        width: 33.33%;
        @include breakpoint(mobile_portrait){
            width: 100%;
            text-align: center;
        }
    }
    p{
        margin: 0px;
        font-size: 0.8rem;
    }
    .footer-mid{
        width: 33.33%;
        text-align: center;
        @include breakpoint(mobile_portrait){
            width: 100%;
            text-align: center;
        }
        .upload-footer-logo{
            a{
                display: block;
                img{
                   width: 100%;
                   height: auto;
                   display: block;
                }
            }
            
        }
    }
    .footer-right{
        width: 33.33%;
        text-align: right;
        @include breakpoint(mobile_portrait){
            width: 100%;
            text-align: center;
        }
    }
    
    .footer-top{
        background: $white;
        padding:4rem 0 1.5rem 0;
        @include breakpoint(mobile_landscape){
            padding:1rem 0;
        }
        @include breakpoint(mobile_portrait){
            padding:2rem 0 2rem 0;
        }
    }
    .footer-link{
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @include breakpoint(mobile_portrait){
                justify-content: center;
            }
            li{
                margin: 0 0 0 15px;
                padding: 0px;
                @include breakpoint(mobile_portrait){
                    margin: 0 8px;
                }
                a{
                    color: $white;
                    display: block;
                    &:hover{
                        color: $light-orange;  
                    }
                }
            }
        }
       
    }
    .footer-btm{
        background: $primary-color;
        color: $white;
        font-size: 0.8rem;
        padding: 0.5rem 0;
        .custom-row{
            align-items: center;
        }
        p{
            a{
                color: $white;
                font-weight: 400;
            }
        }
    }
    .footer-logo--img{
        width: 172px;
    }
    .footer-social-media{
        strong{
            font-weight: 300;
            margin-bottom: 15px;
            display: block;
        }
        ul{
            margin: 0px;
            padding: 0px;
            display: flex;
            align-items: center;
            list-style: none;
            justify-content: end;
            @include breakpoint(mobile_portrait){
                justify-content: center;
            }
            li{
                margin: 0 0 0 20px;
                padding: 0px;
                @include breakpoint(mobile_portrait){
                    margin: 0 10px;
                }
                a{
                    display: block;
                    svg{
                        fill: $primary-color;
                        width: 20px;
                    }
    
                    &:hover{
                        svg{
                            fill: $secondary-color;
                        } 
                    }
                }
            }
        }
    }
    
}
