.main-header {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    .custom-row {
        align-items: flex-start;
    }
    .logo {
        width: auto;
        a {
            display: block;
        }
        img {
            display: block;
            width: 230px;
            @include breakpoint(mobile_nav) {
                width: 145px;
            }
        }
    }
    .hdr-right {
        margin-left: auto;
        padding-top: 19px;
        @include breakpoint(mobile_nav) {
            padding-top: 0px;
        }
        .nav__toggle {
            display: none;
            @include breakpoint(mobile_nav) {
                display: block;
            }
        }
    }
}
.nav_menu {
   
    @include breakpoint(mobile_nav) {
        display: none;
    }
    .nav_menu_inner{
        display: flex;
        align-items: flex-start;
        @include breakpoint(mobile_nav) {
            display: block;
        }
        @include breakpoint(mobile_portrait) {
            display: flex;
            height: 100%;
            align-items: center;
        }
    }
    nav {
        margin-top: 4px;
        ul {
            @include ul;
            display: flex;
            align-items: flex-start;
            li {
                margin: 0 20px;
                padding: 0;
                position: relative;
                @media (min-width: 1100px) and (max-width: 1230px) {
                    margin: 0 10px;
                }
                @include breakpoint(ipad_landscape) {
                    margin: 0 12px;
                }
                &.menu-item-28 {
                    width: 80px;
                    @include breakpoint(mobile_nav) {
                        width: auto;
                    }
                }
                &.menu-item-159 {
                    width: 130px;
                    @include breakpoint(mobile_nav) {
                        width: auto;
                    }
                }
                .sub-menu-toggle{
                    width: 0px;
                    height: 0px;
                    border: 0px;
                    padding: 0px;
                    background: transparent;
                    display: none;
                }
                a {
                    color: $primary-color;
                    font-size: $mainMenuFont;
                    padding: 0;
                    display: inline-flex;
                    @include breakpoint(mobile_nav) {
                        font-size: 1.3rem;
                    }
                    &:hover {
                        color: $primary-color;
                        font-weight: 400;
                    }
                }
                &.current-menu-item,
                &.current_page_ancestor {
                    a {
                        font-weight: 400;
                        color: $primary-color;
                    }
                }
                &.menu-item-has-children {
                    ul {
                        text-align: left;
                        display: none;
                        width: 203px;
                        padding-top: 13px;
                        ul:empty {
                            display: none;
                        }

                        li {
                            display: block;
                            margin: 0px;
                            padding: 3px 0px 3px 0px;
                            a {
                                padding: 0px 0px 0px 0px;
                                font-size: $mainMenuSubFont;
                                color: $primary-color;
                                border-bottom: 0px $primary-color solid;
                                text-transform: capitalize;
                                font-weight: 300;
                            }
                            &.current-menu-item {
                                a {
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                    &:hover {
                        a {
                            color: $primary-color;
                            border-bottom: 1px $secondary-color solid;
                            padding-bottom: 10px;
                        }
                        ul {
                            display: block;
                            li {
                                a {
                                    border-bottom: 0px;
                                    color: $primary-color;
                                    padding-bottom: 0px;
                                    font-size: $mainMenuSubFont;
                                    font-weight: 300;
                                    &:hover {
                                        color: $secondary-color;
                                        font-weight: 400;
                                    }
                                }
                                &.current-menu-item,
                                &.current_page_ancestor {
                                    a {
                                        color: $primary-color;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.nav__toggle {
    position: relative;
    height: 30px;
    width: 30px;
    z-index: 10;
    transition: all 0.2s;
    margin-left: 30px;
    top: 6px;
    outline: 0;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    outline: 0;
    span,
    span::before,
    span::after {
        text-align: center;
        cursor: pointer;
        border-radius: 0px;
        height: 2px;
        width: 30px;
        background-color: $primary-color;
        position: absolute;
        display: block;
        content: "";
        transition: all 0.2s;
        outline: 0;
    }

    span {
        // left: 3px;
        top: 15px;

        &::before {
            top: -10px;
        }
        &::after {
            bottom: -10px;
        }
    }
}

.header-social-media {
    margin-top: 7px;
    ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        list-style: none;
        li {
            margin: 0 0 0 20px;
            padding: 0px;
            a {
                display: block;
                svg {
                    fill: $primary-color;
                    width: 20px;
                }

                &:hover {
                    svg {
                        fill: $secondary-color;
                    }
                }
            }
        }
    }
}

.menu-slide {
    overflow: hidden;
    height: 100%;
    .nav__toggle {
        span {
            background-color: transparent;

            &::before,
            &::after {
                top: 0;
                background-color: $primary-color;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
        &:hover {
            span {
                background-color: transparent;

                &::before,
                &::after {
                    background-color: $primary-color;
                }
            }
        }
    }
    .nav_menu {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        height: 87vh;
        overflow: auto;
        padding: 0;
        top: 70px;
        @include breakpoint(mobile_nav) {
            display: flex;
            align-items: self-start;
            justify-content: center;
        }
        @include breakpoint(mobile_landscape) {
            height:calc(100vh - 84px);
            top: 50px;
        }
        nav {
            display: flex;
            align-items: self-start;
            justify-content: center;
            flex-wrap: wrap;
            @include breakpoint(mobile_nav) {
                display: block;
            }
           
            ul {
                display: block;
                @include breakpoint(mobile_nav) {
                    width: 100%;
                }
                li {
                    padding: 10px 0;
                    @include breakpoint(mobile_nav) {
                        padding: 7px 0;
                    }
                    @include breakpoint(mobile_landscape) {
                        padding: 5px 0;
                    }
                    &.menu-item-45 {
                        width: auto;
                    }
                    &.menu-item-44 {
                        width: auto;
                    }
                   
                    &.menu-item-has-children {
                        .sub-menu-toggle{
                            background: url("#{$assetPath}/menu-close.svg") no-repeat center center;
                            height: 15px;
                            border: 0px;
                            padding: 0px;
                            cursor: pointer;
                            width: 24px; 
                            margin: 10px 0 0 15px;
                            display: inline;
                        }
                        
                        ul {
                            display: none;
                            width: 100%;
                            padding: 0;

                            li {
                                position: relative;
                                padding: 4px 10px 4px 0px;
                                span.submenu-arrow{
                                    display:none ;
                                }
                                
                                @include breakpoint(mobile_nav) {
                                    &:first-child {
                                        margin-top: 0.5rem;
                                    }
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                        &:hover {
                            a {
                                border-bottom: 0px transparent solid;
                                padding-bottom: 0;
                            }
                            
                        }
                        &.submenu-expanded{
                            .sub-menu-toggle{
                                background: url("#{$assetPath}/menu-open.svg") no-repeat center center;
                            }
                            ul {
                                display: block;
                            }
                            
                         }
                    }
                }
            }
            .header-social-media {
                width: 100%;
                ul {
                    text-align: left;
                    display: flex;
                    li {
                        margin: 0 0 0 20px;
                        padding: 0px;

                        a {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .main-header {
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
    }
}

.nav_menu nav ul li ul li ul {
    display: none !important;
}

