.discover-more-in-book-section{
    .discover-more-in-book-section-content{
        @extend %main-padding-top;
        position: relative;
        @include breakpoint(mobile_landscape){
            padding-bottom: 3rem; 
            padding-top: 2rem;       
         }
        @include breakpoint(mobile_portrait){
           padding-bottom: 5rem;  
           padding-top: 2rem;   
        }
        .btn-set--right{
            position: absolute;
            right: 0;
            bottom:4rem;
            @include breakpoint(mobile){
                bottom:0rem; 
            }
            @include breakpoint(mobile_portrait){
                right: inherit;
                left: 0px;
            }
        }
        .discover-more-in-book-img{
            width: 75%;
            margin: 0 0 0 3rem;
            position: relative;
            @include breakpoint(ipad_portrait){
                width: 70%;
                margin: 0 0 0 2rem; 
            }
            @include breakpoint(mobile_landscape){
                width: 60%;
                margin: 0 0 0 13%; 
            }
            @include breakpoint(mobile_portrait){
                width: 96%;
                margin: 0 0 0 -4%; 
            }
            img{
                width: 100%;
                display: block;
            }
        }
    }
}