.get-in-touch-section{
    @extend %main-padding;
    .section-hd{
        text-align: center;
        h2{
            margin: 0px;
            padding: 0px;
        }
    }
    .form-custom-row{
        flex-wrap: wrap;
        display: flex;
    }
    .form-left{
        width: 66%;
        padding-right: 6rem;
        @include breakpoint(ipad_portrait){
            width: 60%;
            padding-right: 3rem;
        }
        @include breakpoint(mobile_landscape){
            width: 100%;
            padding-right: 0px;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
            padding-right: 0px;
        }
    }
    .form-right{
        width: 34%;
        @include breakpoint(ipad_portrait){
            width: 40%;
        }
        @include breakpoint(mobile_landscape){
            width: 100%;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
        }
    }
}
.get-in-touch-section-content{
    @extend %below-hd;
}

.wpcf7 .wpcf7-submit:disabled {
    cursor: pointer !important;
}
.input-field-set {
    display: flex;
    margin-top: 2rem;
    @include breakpoint(mobile) {
        display: block;
    }
    .input-field {
        margin-top: 9px;
    }
    .input-submit-box {
        margin-left: auto;
        @include breakpoint(mobile) {
            margin-left: 0;
            margin-top: 2rem;
        }
    }
}
.wpcf7-acceptance {
    span {
        margin-right: 0;
        position: relative;
    }
}
.wpcf7-acceptance {
    .wpcf7-list-item{
        margin: 0;
    }
   input{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
   }
}
.wpcf7-acceptance input::after,
.wpcf7-acceptance input:checked::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.wpcf7-acceptance input::before {
    content: "";
    background: $secondary-color;
    width: 26px;
    height: 26px;
    position: absolute;
    left: -3px;
    top: -3px;
}
.wpcf7-acceptance input::after {
    background: url("#{$assetIconsPath}/checkinput.svg") no-repeat center center;
}
.wpcf7-acceptance input:checked::after {
    background: url("#{$assetIconsPath}/checkedinput.svg") no-repeat center center;
}
.contact{
    .get-in-touch-section {
        border-top: 0px;
    } 
    .wpcf7-acceptance input::before {
        content: "";
        background: $secondary-color;
    }
}
.input-field-set{
    label{
        position: relative;
        padding: 0 0 0 29px;
        display: block;
        align-items: center;
        a{
            color: $primary-color;
        }
    }
    .wpcf7-form-control-wrap{
        position: absolute;
        left: 0;
    }
}


ul.contact-info-icon {
    margin: 0px;
    padding: 0px;
    list-style: none;

    

    li {
        margin: 0 0 25px 0;
        padding: 0;

        @include breakpoint(mobile_portrait) {
            margin: 0 10px;
        }

        &:last-child {
            margin-bottom: 0px;
        }

        a {
            font-size: 1.8rem;
            color: $white;
            display: block;
            padding: 3px 0 3px 35px;
            font-family: $secondaryfontfaimly;
            font-weight: 700;

            &:hover {
                color: $secondary-color;
            }
        }

        a[href^="tel:"] {
            background: url("#{$assetIconsPath}/phone white jennings.svg") no-repeat 4px center;
            background-size: 23px;

            &:hover {
                background: url("#{$assetIconsPath}/phone purple jennings.svg") no-repeat 4px center;
                background-size: 23px;
            }
        }

        a[href^="mailto:"] {
            background: url("#{$assetIconsPath}/email white jennings.svg") no-repeat left center;
            background-size: 23px;

            &:hover {
                background: url("#{$assetIconsPath}/email purple  jennings.svg") no-repeat left center;
                background-size: 23px;
            }
        }
    }
}

@include breakpoint(ipad_portrait){
    
   .recaptcha iframe {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0; 
    }
}
@include breakpoint(mobile_portrait){
    
    .recaptcha iframe {
         transform: scale(0.77);
         -webkit-transform: scale(0.77);
         transform-origin: 0 0;
         -webkit-transform-origin: 0 0; 
     }
 }