/* --- Include setup files --- */
@import "setup";
@import "defaults";
@import "breakpoint";

// --------------------------------
//					   		 STYLES
// --------------------------------

body,
html {
  @include font-body;
  color: $text;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

// Text & links
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-title;
  margin: 0 0 30px;
  line-height: 1.2;
}

h1 {
  @include media("<=small") {
    font-size: 35px;
  }
}

p {
  //line-height:1.5;
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}
a,
a:focus,
a:active,
a:hover {
    outline: none;
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
input {
    -webkit-appearance: none;
    opacity: 1;
}
strong {
  @include font-bold;
}

em {
  font-style: italic;
}

small {
  font-size: 90%;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-out;
  outline: 0;
  color: $red;

  &:hover {
    color: $dk-grey;
  }

  &:focus { outline: none;}

  &:active { outline: none;}
}

.button {
  @include btn;

  &.alt {
    @include font-bold;
    background: #fff;
    color: $text;
    margin-top: 30px;

    &:before {
      @include bg-img;
      content: " ";
      background-image: url("../images/download.png");
      background-size: 15px;
    }

    &:after {
      background: $text;
    }

    &:hover {
      background: $grey;
      color: #fff;
      text-decoration: none;
    }
  }
}
.btn-download{
  .button{
    &:before {
      content: " ";
      background-image: url("../images/download.png");
      background-size: 15px;
    }
  }
}
.bar-btn {
  text-align: center;
  display: block;
  padding: 45px 0;
  background: #fff;
  color: $text;
  font-size: 1.5em;
  text-transform: lowercase;


  // @include media("<=tabletland") {
  //   margin-top: 30px;
  // }

  // @include media("<=small") {
  //   margin-top: 40px;
  // }

  @include media("<=vsmall") {
    line-height: 1.2;
  }

  &:hover {
    background: $text;
    color: #fff;
  }

  &.norm {
    text-transform: none;
  }
}

// Header
.wrapper {
  padding-top: 145px;

  @include media("<mobile") {
    padding-top: 120px;
  }

  @include media("<=small") {
    padding-top: 120px;
  }
}

.site-header {
  position: fixed;
  display: block;
  height: 145px;
  width: 100%;
  z-index: 10;

  @include media("<mobile") {
    position: absolute;
  }
}

.header-top {
  background: #fff;
  height: 75px;
  padding-top: 13px;
  transition: all 0.2s ease-out;

  @include media("<=580px") {
    padding-top: 0;
    height: 50px;
  }
}

.scrolled {
  .header-top {
    height: 50px;
    padding-top: 0;
  }
}

.header-bottom {
  background: $dk-grey;
  height: 70px;
  position: relative;

  .site-links {
    position: absolute;
    right: $bump;
    top: 70px;
  }

  .block-bean {
    display: inline-block;
    margin-left: 15px;
    float: right;

    p {
      margin: 0;
    }
  }
}

#block-bean-register-link,
#block-bean-trade-link,
#block-bean-home-link {
  @include media("<=vsmall") {
    display: block;
    clear: both;
  }

  a {
    background: $red;
    color: #fff;
    padding: 0 15px;
    height: 40px;
    line-height: 37px;
    display: inline-block;

    &.home-link {
      background: $dk-grey;
    }

    &.trade-link {
      background: $blue;
    }

    &.register-link {
      background: $green;
    }

    &:hover {
      background-color: $red;
    }

    @include media("<=vsmall") {
      margin-bottom: 10px;
      display: block;
      text-align: center;
    }
  }
}

#block-bean-tagline {
  display: inline-block;
  float: left;
  margin-top: 10px;
  font-size: 24px;
  line-height: 1;
  transition: all 0.2s ease-out;

  @include media("<=tabletport") {
    font-size: 20px;
    margin-top: 13px;
  }

  @include media("<=580px") {
    display: none;
  }
}

.scrolled {
  #block-bean-tagline {
    font-size: 20px;
    margin-top: 13px;
  }
}

#block-bean-social {
  float: right;
  margin-top: 10px;

  @include media("<=tabletland") {
    width: 40%;
    text-align: right;
  }

  @include media("<=580px") {
    width: 100%;
  }

  p,
  ul {
    display: inline-block;
    margin: 0;
    line-height: 30px;
    vertical-align: top;
  }

  p {
    font-size: 1.1em;

    @include media("<tabletland") {
      font-size: 1em;
      margin-right: 1px;
      margin-right: -4px;
    }

    a {
      color: $text;
      margin-left: 7px;

      @include media("<tabletland") {
        @include rm-text;
        @include bg-img;
        height: 30px;
        width: 30px;
        display: block;
        background-image: url("../images/email-min.png");
        float: left;
        margin-left: 13px;
      }

      &:hover {
        color: $red;

        @include media("<tabletland") {
          opacity: 0.7;
        }
      }
    }

    @include media("<tabletland") {
      strong a {
        background-image: url("../images/phone-min.png");
      }
    }
  }

  ul {
    @include li-reset;
    margin-left: 5px;

    @include media("<=vsmall") {
      display: none;
    }

    li {
      display: inline-block;

      a {
        @include bg-img;
        @include rm-text;
        height: 30px;
        width: 30px;
        display: block;
        margin-left: 7px;

        &.facebook {
          background-image: url("../images/johnson-and-starley-facebook.jpg");
        }

        &.twitter {
          background-image: url("../images/johnson-and-starley-twitter.jpg");
        }

        &.linkedin {
          background-image: url("../images/johnson-and-starley-li.jpg");
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.site-logo {
  @include rm-text;
  @include bg-img;
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 200px;
  height: 92px;
  background-image: url("../images/johnson-and-starley-logo.png");
  background-position: left center;
}

// Menus
.nav-toggle {
  @include rm-text;
  @include bg-img;
  display: none;
  position: absolute;
  right: $bump;
  top: 1.1em;
  height: 30px;
  width: 30px;
  background-image: url("../images/burger-min.png");

  @include media("<=1024px") {
    display: block;
  }

  &.active {
    background-image: url("../images/close-min.png");
  }
}

.main-menu {
  @include li-reset;
}

.block-superfish,
.block-menu {
  float: right;
  height: 70px;
  @include breakpoint(mobile_nav){
    float: none;
    height: auto;
  }


  ul.sf-menu,
  ul.menu {
    @include li-reset;

    a {
      line-height: 70px;
      color: $lt-grey;
      margin: 0 15px;
      position: relative;
      text-transform: lowercase;
      display: block;

      &:after {
        content: "";
        height: 3px;
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        background: $dk-grey;
        transition: background 0.2s ease-out;
      }

      &:hover {
        color: #fff;

        &:after {
          background: $red;
          @include breakpoint(mobile_nav){
            background: $dk-grey;
          }
        }
      }

      &.active-trail,
      &.active {
        color: #fff;
       
      }

      @include media("<=vsmall") {
        margin: 0;
      }
    }

    li.leaf {
      display: inline-block;
    }

    li.last {
      a {
        margin-right: 0;
      }

      @include media("<mobile") {
        margin-bottom: 15px;
      }
    }

    li.sfHover {
      a {
        &:after {
          background: $red;
          @include breakpoint(mobile_nav){
            background: $dk-grey;
          }
        }
      }
    }
    @include breakpoint(mobile_nav){
      li {
        display: block;
        width: 100%;
      }

      a {
        line-height: 1.2;
        padding: 10px 0;

        &:after {
          bottom: 0;
        }
      }
    }
    

    ul {
      background: $dk-grey;
      top: 3.9em;

      @include media("<=tabletland") {
        top: 70px;
      }
      @include breakpoint(mobile_nav){
        position: relative;
        padding: 10px 0;
        width: 94% !important;
        top: 0;
        margin-left: $bump;

        &.sf-hidden {
          display: none;
        }
      }
      

      @include media("<=vsmall") {
        margin-left: 0;
        width: 100% !important;
      }

      a {
        line-height: 1.3;
        margin: 0;
        padding: 7px 15px;

        &:after {
          display: none;
        }

        &:hover {
          background: $red;
          @include breakpoint(mobile_nav){
            background: transparent;
          }
        }

        &.active-trail,
        &.active {
          background: #000;
        }
      }
    }
  }
}

.block-menu {
  ul.menu a {
    &:after {
      background: transparent;
    }

    &:hover {
      &:after {
        background: #fff;
        @include breakpoint(mobile_nav){
          background: transparent;
        }
      }
    }
  }
}

.header--sm {
  display: none;
  background: $dk-grey;
  padding: $bump;
  overflow: visible !important;
  @include breakpoint(mobile_nav){
    .site-links {
      display: block;
      clear: both;
      text-align: center;
      padding-top: 25px;
    }

    .block-bean {
      display: inline-block;
      margin-right: 5px;
    }
  }

}

// Content
@include media("<1220px") {

  .large-5.to-hide,
  .large-4.to-hide {
    display: none;
    visibility: hidden;
  }
}

@include media("<=tabletland") {
  .large-6.extra {
    width: 70%;
  }
}

@include media("<=tabletport") {
  .large-8.large-centered {
    width: 90%;
  }

  .large-6.large-centered {
    width: 70%;
  }
}

@include media("<mobile") {

  .large-8.large-centered,
  .large-6.large-centered,
  .large-6.extra,
  .large-1.to-hide {
    width: 100%;
  }
}

.intro {
  background: $red;
  color: #fff;
  position: relative;

  &.home {
    .button {
      background: #fff;
      color: $text;
      min-width: auto;
      margin-right: -17.5%;
      margin-top: 20px;
      float: right;

      @include media("<=tabletport") {
        margin-right: -16.5%;
      }

      @include media("<mobile") {
        margin-right: 2.2em;
      }

      @include media("<=vsmall") {
        margin-right: 2.6em;
      }

      &:after {
        background: $text;
      }

      &:hover {
        background: $grey;
        color: #fff;
      }
    }
  }

  &.page {
    .banner {
      position: absolute;
      right: 0;
      top: 0;
      overflow: hidden;
      max-width: 50%;
      min-height: 440px;
      height: 100% !important;
      max-height: 100% !important;

      @include media("<1220px") {
        max-width: 45%;
      }

      @include media("<=tabletland") {
        position: relative;
        min-height: 0;
        max-width: 100%;
        height: 400px !important;
      }

      @include media("<=tabletport") {
        height: 300px !important;
      }

      @include media("<mobile") {
        height: 250px !important;
      }

      @include media("<small") {
        height: 150px !important;
      }

      &:before {
        position: absolute;
        top: 0;
        left: 500px;
        content: "";
        display: block;
        width: 0;
        height: 0;
        margin-left: -500px;
        border-bottom: 500px solid transparent;
        border-left: 550px solid $red;

        @include media("<=tabletland") {
          display: none;
        }
      }

      img {
        height: 100%;
        width: auto;
        object-fit: cover;

        @include media("<=tabletland") {
          width: 100%;
          height: auto;
        }
      }
    }

    @include media("<1220px") {
      .large-4 {
        width: 40%;
      }
    }

    @include media("<=tabletland") {
      .large-4 {
        width: 70%;
      }

      .large-8 {
        width: 93%;
      }

      .large-6 {
        width: 70%;
      }

      .large-3 {
        width: 15%;
      }

      .large-2 {
        display: none;
      }

      .large-1 {
        width: 15%;
      }
    }

    @include media("<=tabletport") {
      .large-1 {
        width: 20%;
      }

      .large-4 {
        width: 80%;
      }

      .large-8 {
        width: 93%;
      }

      .large-6 {
        width: 70%;
      }

      .large-3 {
        width: 15%;
      }
    }

    @include media("<mobile") {
      .large-1 {
        //width:20%;
        display: none;
      }

      .large-4 {
        width: 100%;
      }

      .large-8 {
        width: 100%;
      }

      .large-6 {
        width: 100%;
      }

      .large-3 {
        display: none;
      }
    }

    @include media("<=vsmall") {
      .large-1 {
        display: none;
      }
    }
  }

  &.contact {
    .banner {
      overflow: hidden;

      &:before {
        position: absolute;
        bottom: 0;
        right: 0;
        content: "";
        display: block;
        width: 0;
        height: 0;
        margin-left: -500px;
        border-top: 650px solid transparent;
        border-right: 700px solid $red;
        mix-blend-mode: multiply;

        @include media("<1250px") {
          border-top: 450px solid transparent;
          border-right: 500px solid $red;
        }

        @include media("<=tabletland") {
          border-top: 350px solid transparent;
          border-right: 400px solid $red;
        }

        @include media("<mobile") {
          display: none;
        }
      }

      img {
        width: 100%;
        height: auto;

        @include media("<mobile") {
          height: 250px;
          width: auto;
          object-fit: cover;
        }

        @include media("<=small") {
          height: 150px;
        }
      }
    }

    .tag {
      background: $blue;
      color: #fff;
      position: absolute;
      bottom: 40px;
      right: $bump;

      @include media("<=tabletland") {
        transform: scale(0.8);
        bottom: 10px;
        padding: 48px 15px;
      }

      @include media("<=tabletland") {
        bottom: -10px;
      }

      @include media("<mobile") {
        position: relative;
        border-radius: 0;
        right: 0;
        width: 100%;
        height: auto;
        transform: scale(1);
        padding: 20px;
        bottom: 0;
        text-align: left;
      }
    }

    @include media("<mobile") {
      .row-tag {
        padding: 0;
      }
    }
  }

  &.product {
    .banner {
      overflow: hidden;

      &:before {
        position: absolute;
        bottom: 0;
        right: 0;
        content: "";
        display: block;
        width: 0;
        height: 0;
        margin-left: -500px;
        border-top: 650px solid transparent;
        border-right: 700px solid $blue;
        mix-blend-mode: multiply;

        @include media("<1250px") {
          border-top: 450px solid transparent;
          border-right: 500px solid $blue;
        }

        @include media("<=tabletland") {
          border-top: 350px solid transparent;
          border-right: 400px solid $blue;
        }

        @include media("<mobile") {
          display: none;
        }
      }

      img {
        width: 100%;
        height: auto;

        @include media("<mobile") {
          height: 250px;
          width: auto;
          object-fit: cover;
        }

        @include media("<=small") {
          height: 150px;
        }
      }
    }

    .tag {
      background: $red;
      color: #fff;
      position: absolute;
      bottom: 40px;
      right: $bump;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;

        @include media("<mobile") {
          height: auto;
          max-width: 200px;
          object-fit: normal;
          margin: 0 auto;
        }
      }

      @include media("<=tabletland") {
        transform: scale(0.8);
        bottom: 10px;
        padding: 48px 15px;
      }

      @include media("<=tabletland") {
        bottom: -10px;
      }

      @include media("<mobile") {
        position: relative;
        border-radius: 0;
        right: 0;
        width: 100%;
        height: auto;
        transform: scale(1);
        padding: 20px;
        bottom: 0;
        text-align: center;
        display: none;
      }
    }

    @include media("<mobile") {
      .row-tag {
        padding: 0;
      }
    }
  }

  &.trade {
    background: #fff;
    border-bottom: 7px solid $red;
    padding: 60px 0 0;

    h1 {
      color: $red;
    }

    @include media("<=tabletland") {
      .large-8 {
        width: 92%;
      }
    }

    @include media("<mobile") {
      .large-8 {
        width: 100%;
      }
    }
  }

  .content {
    padding: 60px 0;

    @include media("<=tabletland") {
      padding: 30px 0;
    }

    @include media("<mobile") {
      padding: 30px 0;

      .large-5 {
        display: none;
      }
    }

    a:not(.button) {
      color: #fff;
      border-bottom: 1px solid #fff;

      &:hover {
        border-color: $red;
      }
    }
  }
}

@include media("<mobile") {
  .products .intro.page {
    .large-4 {
      width: 100%;
    }
  }
}

@include media("<=vsmall") {
  .products .intro.page {
    .large-4 {
      width: 100%;
    }
  }
}

.page-node-19 {
  .intro {
    border-bottom: 7px solid $green;

    h1 {
      color: $green;
    }
  }
}

.grey,
.blue,
.white,
.red {
  padding: 60px 0;

  @include media("<=tabletland") {
    padding: 30px 0;
  }

  @include media("<mobile") {
    padding: 30px 0;
  }

  h2 {
    margin-left: -17.5%;

    @include media("<mobile") {
      margin-left: 0;
    }
  }

  .model h2 {
    margin-left: 0;
  }
}

.model .large-5 {
  img {
    width: 100%;
    height: auto;
  }
}

.dk-grey {
  background: $grey;

  &.top {
    padding-top: 30px;
    border-top: 7px solid #fff;
  }

  &.bottom {
    padding-bottom: 30px;
  }
}

.grey {
  background: $lt-grey;
  border-top: 8px solid #fff;

  &.model-title {
    padding-bottom: 0;
    margin-bottom: -20px;

    h2 {
      margin: 0;
    }
  }

  &.models {
    border: 0;
    padding-bottom: 0;
  }
}

.blue {
  background: $blue;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.red {
  background: $red;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.tag {
  height: 230px;
  width: 230px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  padding: 47px 28px;
  font-size: 1.1em;
  line-height: 1.4;
}

.bottom-image {
  overflow: hidden;
  position: relative;

  &:before {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -500px;
    border-top: 500px solid transparent;
    border-right: 550px solid $blue;
    mix-blend-mode: multiply;

    @include media("<1220px") {
      border-top: 300px solid transparent;
      border-right: 350px solid $blue;
    }

    @include media("<=tabletport") {
      border-top: 150px solid transparent;
      border-right: 200px solid $blue;
    }

    @include media("<=small") {
      display: none;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  &.hide-desk {
    display: none;
  }

  @include media("<mobile") {
    &.hide-desk {
      display: block;
      height: 250px;

      img {
        object-fit: cover;
        height: 100%;
        width: auto;
      }
    }

    &.hide-mob {
      display: none;
    }
  }

  @include media("<=small") {
    &.hide-desk {
      height: 150px;
    }
  }
}

.front,
.trade {
  .bottom-image {
    &:before {
      top: 0;
      left: 0;
      content: "";
      margin-left: 0;
      border-bottom: 500px solid transparent;
      border-left: 550px solid $blue;
      border-top: 0;
      border-right: 0;

      @include media("<1220px") {
        border-bottom: 300px solid transparent;
        border-left: 350px solid $blue;
      }

      @include media("<=tabletland") {
        border-bottom: 200px solid transparent;
        border-left: 250px solid $blue;
      }

      @include media("<=tabletport") {
        border-bottom: 150px solid transparent;
        border-left: 200px solid $blue;
      }

      @include media("<=vsmall") {
        border-bottom: 50px solid transparent;
        border-left: 100px solid $blue;
      }
    }
  }
}

.cta {
  border-top: 8px solid #fff;
  padding: 30px 0;

  p {
    font-size: 1.5em;
    line-height: 1.5em;

    @include media("<=tabletland") {
      font-size: 1.4em;
      line-height: 1.4em;
    }

    @include breakpoint(mobile_portrait){
      font-size: 1.1em;
      line-height: 1.1em;
    }

    @include media("<=small") {
      word-wrap: break-word;
    }
  }

  //a {
  //	@include font-body;
  //	font-size:1em;
  //	line-height:1em;
  //}

  .large-8 {
    @include media("<=tabletland") {
      width: 80%;
    }

    @include media("<=tabletport") {
      width: 100%;
    }
  }
}

.node-type-product {
  .cta {
    border-top: 0;
  }

  .dk-grey {
    .large-8 {
      @include media("<1250px") {
        width: 70%;
      }

      @include media("<=tabletland") {
        width: 100%;
      }
    }
  }
}

// home
.front {
  .banner {
    position: relative;

    @include media("<=vsmall") {
      //padding-bottom:100px;
    }

    img {
      width: 100%;
      height: auto;
    }

    &:after {
      position: absolute;
      bottom: 0;
      right: 0;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 800px solid transparent;
      border-right: 850px solid $red;
      mix-blend-mode: multiply;

      @include media("<=1550px") {
        border-top: 600px solid transparent;
        border-right: 650px solid $red;
      }

      @include media("<=tabletland") {
        border-top: 400px solid transparent;
        border-right: 450px solid $red;
      }

      @include media("<=tabletport") {
        border-top: 300px solid transparent;
        border-right: 350px solid $red;
      }

      @include media("<=small") {
        border-top: 200px solid transparent;
        border-right: 250px solid $red;
      }

      @include media("<=vsmall") {
        border-top: 100px solid transparent;
        border-right: 150px solid $red;
      }
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .row,
      .columns {
        height: 100%;
      }
    }
  }

  .tag {
    background: $green;
    color: #fff;
    padding: 47px 22px;
    position: absolute;
    top: 60%;
    right: $bump;
    z-index: 5;
    transform: scale(1.1);

    @include media("<=1550px") {
      top: 50%;
    }

    @include media("<=tabletland") {
      top: 35%;
      right: 2em;
    }

    @include media("<=tabletport") {
      transform: scale(1);
      top: 25%;
    }

    @include media("<mobile") {
      display: none;
    }

    //@include media('<=small'){
    //	border-radius:0;
    //	right:0;
    //	width:100%;
    //	height:auto;
    //	transform:scale(1);
    //	padding:20px;
    //	top:auto;
    //	bottom:0;
    //}

    &:hover {
      background: $blue;
    }
  }

  .white {
    .button {
      float: right;
      margin-right: -17.5%;
      margin-top: 20px;
      min-width: auto;

      @include media("<=tabletport") {
        margin-right: -16.5%;
      }

      @include media("<mobile") {
        margin-right: 2.2em;
      }

      @include media("<=vsmall") {
        margin-right: 2.6em;
      }
    }
  }

  .products-title {
    padding-top: 60px;

    @include media("<=tabletland") {
      padding-top: 30px;
    }

    h2 {
      margin: 0;
    }
  }

  .pane-products-listing {
    .white {
      padding-bottom: 0;
    }
  }
}

//products

.view-products {
  .large-8 {
    @include media("<=1070px") {
      width: 80%;
    }

    @include media("<tabletland") {
      width: 100%;
    }
  }
}

ul.products {
  list-style: none;
  margin: 60px 0 80px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h3 {
    a {
      color: $text;

      &:hover {
        color: $red;
      }
    }
  }

  .thumb {
    width: 60%;
    display: block;
    margin: 15px auto;
    text-align: center;
    @include breakpoint(mobile){
      width: 45%;
    }
    // &:hover {
    //   opacity: 0.7;

    //   img {
    //     filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    //     filter: gray; /* IE6-9 */
    //     -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    //   }
    // }
    img {
      width: auto;
      height: auto;
      max-width: 70%;
      transition: all 0.2s ease-out;
      max-height: 100%;

      @include media("<=tabletland") {
        height: 90px;
        width: auto;
      }

      @include media("<mobile") {
        height: auto;
        width: 100%;
      }
    }
  }

  li {
    width: 25%;

    @include breakpoint(ipad_portrait) {
      width: 50%;
      height: 100%;
    }

    @include breakpoint(mobile_landscape) {
      width: 50%;
      height: 100%;
    }

    @include breakpoint(mobile_portrait) {
      width: 100%;
      height: 100%;
    }

    .teaser--product {
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      padding: 2rem 1rem;
      margin: 0 1rem;
      transition: transform 0.2s;
      height: 100%;

      @include breakpoint(ipad_portrait) {
        margin: 1rem;
      }

      @include breakpoint(mobile_landscape) {
        margin: 1rem;
      }

      @include breakpoint(mobile_portrait) {
        margin: 1rem 0;
      }

      &:hover {
        background-color: $lt-grey;
        transform: scale(1.1);
      }
    }

    h3 {
      text-align: center;
      margin: 0;
    }
  }

  // li.views-row-1,
  // li.views-row-2 {
  // display:block;
  // width:50%;
  // float:left;
  // margin-bottom:40px;
  //
  // @include media('<mobile'){
  // margin-bottom:30px;
  // }
  //
  // @include media('<=small'){
  // width:48%;
  // margin-bottom:30px;
  // }
  //
  // @include media('<=vsmall'){
  // width:100%;
  // float:none;
  // }
  //
  // .thumb img {
  // height:240px;
  // width:auto;
  //
  // @include media('<=small'){
  // height:180px;
  // width:auto;
  // }
  //
  // @include media('<=vsmall'){
  // width:100%;
  // height:auto;
  // }
  // }
  // }
  // li.views-row-3 {
  // clear:left;
  // }
}

@include media("<=tabletland") {
  .page-node-2 {
    .pane-node-content {
      .white {
        padding-bottom: 0;
      }
    }
  }
}

.product-box {
  background: #fff;
  padding: 40px 1%;

  @include media("<=tabletland") {
    padding: 30px 1%;
  }

  @include media("<=vsmall") {
    padding: 20px 1%;
  }

  &.product-title {
    padding-bottom: 10px;
    padding-left: 4%;
  }

  &.product-list {
    padding-top: 18px;
  }

  h2 {
    margin: 0;
    color: $red;
  }
}

ul.categories {
  @include li-reset;

  // width:97%;
  @include media("<mobile") {
    // width:90%;
    margin: 0 auto;
  }

  &.two-col {
    li {
      width: 45.5%;

      @include media("<mobile") {
        width: 95%;
      }
    }
  }

  li {
    width: 27.3333%;
    float: left;
    display: block;
    margin: 0 3% 1em;

    @include media("<mobile") {
      width: 95%;
      margin: 0 3% 30px;
    }

    &:before {
      display: none;
    }

    &.featured {
      width: 97%;
      margin: 0 3% 0;

      .main--title {
        display: none;
      }

      .thumb,
      .content {
        float: left;
        display: block;
      }

      .thumb {
        width: 31.3333%;
        margin-right: 3%;

        @include media("<=small") {
          width: 100%;
          margin: 0 0 15px;
        }
      }

      .content {
        width: 63.6666%;

        @include media("<=small") {
          width: 100%;
        }

        h3 {
          display: block;
        }

        ul {
          @include li-reset;

          li {
            margin-bottom: 5px;
            display: block;
            width: 100%;
            padding-left: 20px;

            &:before {
              content: "";
              display: inline-block;
              height: 10px;
              width: 10px;
              background: $red;
              border-radius: 50%;
              margin-right: -10px;
              position: relative;
              left: -20px;
            }
          }
        }

        .content--info {
          display: block;
        }

        .button {
          float: right;
          min-width: auto;
          margin-top: 30px;

          @include media("<=small") {
            min-width: 70%;
          }
        }
      }
    }

    .thumb {
      margin-bottom: 15px;
      display: block;

      &:hover {
        opacity: 0.7;
      }
    }

    .content {
      h3 {
        display: none;
      }
    }

    .content--info {
      display: none;
    }

    h3 {
      margin-bottom: 10px;

      a {
        color: $text;

        &:hover {
          color: $red;
        }
      }
    }
  }
}

.pane-products-listing {
  .white {
    padding: 0;
  }
}

// models
.teaser--model {
  h3 {
    margin-bottom: 10px;

    a {
      color: $text;

      &:hover {
        color: $red;
      }
    }
  }

  img {
    margin-bottom: 20px;
    width: 100%;
  }

  .thumb:hover {
    opacity: 0.7;
  }

  @include media("<mobile") {

    .thumb,
    .setHeight {
      float: left;
      width: 70%;
    }

    .thumb {
      width: 30%;
      text-align: right;
      margin-bottom: 15px;

      img {
        height: 150px;
        width: auto;
      }
    }
  }

  @include media("<=small") {

    .thumb,
    .setHeight {
      float: none;
      width: 100%;
    }

    .thumb {
      width: 100%;
      text-align: left;
      margin-bottom: 0;

      img {
        height: auto;
        width: 100%;
      }
    }
  }
}

.setHeight {
  margin-bottom: 15px;
}

ul.models {
  li {
    margin-bottom: 80px;

    @include media("<=tabletland") {
      margin-bottom: 30px;
    }

    @include media("<mobile") {
      margin-bottom: 40px;
    }
  }
}

.guarantee {
  @include bg-img;
  display: block;
  height: 130px;
  width: 130px;
  position: absolute;
  bottom: -20px;
  left: 30px;
  background-image: url("../images/johnson-and-starley-8-year.png");

  &.five {
    background-image: url("../images/johnson-and-starley-5-year-min.png");
  }
}

.info {
  // padding:15px; // border:1px solid $red;
  margin-bottom: 1em;

  h3 {
    margin-bottom: 15px;
    margin-top: 2rem;
  }

  ul {
    @include li-reset;

    li {
      margin-bottom: 5px;
      padding-left: 20px;

      &:before {
        content: "";
        display: inline-block;
        height: 10px;
        width: 10px;
        background: $red;
        border-radius: 50%;
        margin-right: -10px;
        position: relative;
        left: -20px;
      }
    }
  }
}

.node-type-model,
.node-type-product-category,
.node-type-product {
  .bar-btn {
    margin: 0;
    background: #fff;
    padding: 40px 0;

    @include media("<=tabletland") {
      padding: 30px 0;
    }

    &:hover {
      background: $text;
    }
  }
}

.node-type-product-category {
  @include media("<=tabletland") {
    .large-8.large-centered {
      width: 80%;
    }
  }

  @include media("<=tabletport") {
    .large-8.large-centered {
      width: 100%;

      .button {
        font-size: 0.8em;
      }
    }
  }

  @include media("<mobile") {
    .large-8.large-centered {
      .button {
        font-size: 1em;
        min-width: 80%;
      }
    }
  }

  .product-copy {
    margin-bottom: 30px;
  }

  .additional-copy {
    margin: 40px 0 0;

    h3 {
      margin-bottom: 15px;
    }
  }

  .additional-downloads {
    .file {
      img {
        display: none;
        visibility: hidden;
      }
    }

    a {
      @include btn;
      background-color: #fff;
      color: $text;
      @include font-bold;
      min-width: 82%;

      &:before {
        @include bg-img;
        content: " ";
        background-image: url("../images/download.png");
        background-size: 15px;
      }

      &:after {
        background: $text;
      }

      &:hover {
        background: $grey;
        color: #fff;
        text-decoration: none;
      }
    }

    &__files {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;

      @include media("<mobile") {
        grid-template-columns: 1fr 1fr;
      }

      @include media("<small") {
        grid-template-columns: 1fr;
      }
    }
  }
}

ul.variants {
  margin-bottom: 30px;

  li {
    background: #fff;
    padding: 1em;
    margin-bottom: 4%;

    @include media("<=vsmall") {
      margin: 0 0 30px;
    }
  }

  h3 {
    margin-bottom: 15px;
  }

  a {
    @include font-bold;
    text-decoration: underline;
  }
}

.variant__content {
  font-size: 90%;
}

#block-bean-model-link-contact {
  div.matchheight {
    float: left;
    width: 50%;
    display: block;
    background: $green;
    color: #fff;
    padding: 30px 40px;
    font-size: 1.5em;
    line-height: 1.5em;

    @include media("<=tabletland") {
      font-size: 1.3em;
      line-height: 1.3em;
    }

    @include media("<=tabletport") {
      font-size: 1em;
      line-height: 1.3em;
      padding: 20px;
    }

    @include media("<mobile") {
      width: 100%;
    }

    &:first-child {
      background: $blue;

      p {
        float: right;

        @include media("<mobile") {
          float: left;
        }
      }
    }

    p {
      margin: 0;
      max-width: 600px;
    }

    a {
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// contact
.large-6 {
  ul {
    @include li-reset;

    li {
      margin-bottom: 5px;
      padding-left: 20px;

      &:before {
        content: "";
        display: inline-block;
        height: 10px;
        width: 10px;
        background: $red;
        border-radius: 50%;
        position: relative;
        left: -20px;
        margin-right: -10px;
      }
    }
  }
}

.intro {
  .columns {
    ul {
      @include li-reset;
      margin-bottom: 20px;

      li {
        margin-bottom: 5px;
        padding-left: 20px;

        &:before {
          content: "";
          display: inline-block;
          height: 10px;
          width: 10px;
          background: #fff;
          border-radius: 50%;
          position: relative;
          left: -20px;
          margin-right: -10px;
        }
      }
    }
  }
}

.product-cat {
  .cat-thumb {
    float: left;
    margin-right: 30px;

    img {
      width: 125px;
      height: auto;
    }
  }

  .cat-content {
    .button {
      min-width: auto;
      float: right;
    }
  }
}

.contact-info {
  padding-top: 80px;

  @include media("<=tabletland") {
    padding-top: 30px;
  }

  .content {
    float: left;
    width: 45%;
    margin-right: 5%;

    @include media("<mobile") {
      width: 100%;
      float: none;
      margin: 0 0 30px;
    }

    a {
      font-size: 1.3em;
      line-height: 1;
      @include breakpoint(ipad_portrait){
        font-size: 1.1em;
      }
      @include media("<=vsmall") {
        font-size: 1em;
      }
    }
  }

  .map {
    float: right;
    width: 50%;

    @include media("<mobile") {
      width: 100%;
      float: none;
      margin: 0;
    }

    img {
      width: 100%;
      height: auto;
    }

    a:hover {
      opacity: 0.7;
    }
  }

  @include media("<=tabletland") {
    .large-8 {
      width: 92%;
    }
  }

  @include media("<mobile") {
    .large-8 {
      width: 100%;
    }
  }
}

// trade
body.trade {
  .header-bottom {
    background: $blue;
  }
}

ul.signposts {
  margin: 60px 0 0;

  @include media("<=tabletland") {
    margin: 30px 0 0;
  }

  li {
    margin-bottom: 60px;

    @include media("<=tabletland") {
      margin-bottom: 30px;
    }

    @include media("<mobile") {
      margin-bottom: 40px;
      width: 48%;
      margin-right: 4%;

      &:nth-of-type(2n + 2) {
        margin-right: 0;
      }
    }

    @include media("<=small") {
      width: 100%;
      margin-right: 0;
    }
  }

  .thumb {
    display: block;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 0;
      height: 0;
      margin-left: 0;
      border-bottom: 200px solid transparent;
      border-left: 250px solid $blue;
      mix-blend-mode: multiply;

      @include media("<=tabletland") {
        border-bottom: 100px solid transparent;
        border-left: 150px solid $blue;
      }

      @include media("<mobile") {
        border-bottom: 100px solid transparent;
        border-left: 150px solid $blue;
      }

      @include media("<=vsmall") {
        border-bottom: 100px solid transparent;
        border-left: 150px solid $blue;
      }
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

// .downloads-wrapper {
// margin:80px 0 60px;
//
// @include media('<=tabletland'){
// margin:30px 0 10px;
// }
// }
//
// .listing.downloads {
// @include media('<mobile'){
// li {
// margin-right:2%;
// margin-bottom:30px;
// width:48%;
//
// &:nth-of-type(2n+2) {margin-right:0;}
// }
// }
//
// @include media('<=small'){
// li {
// margin-right:0;
// width:100%;
// }
// }
// }
//
// .download-file {
// &:hover {
// opacity:0.7;
// }
//
// h3 {
// margin:0 0 10px;
// color:$text;
// }
// }
//
// .jplist-panel {
//
// @include media('<=tabletport'){
// margin-bottom:40px;
// }
//
// h3 {
// color:$red;
// margin-bottom:10px;
// }
//
// label {
// @include font-body;
// margin-bottom:5px;
// }
// }
//
// .fixedsticky {
// will-change: min-height;
// }
//
// .sidebar__inner{
// transform: translate(0, 0); /* For browsers don't support translate3d. */
// transform: translate3d(0, 0, 0);
// will-change: position, transform;
// }
//
// .dl-col {
// float:left;
// width:75%;
//
// &.dl-col--right {
// float:right;
// width:23%;
// margin-left:2%;
// }
//
// @include media('<=tabletport'){
// width:100%;
//
// &.dl-col--right {
// float:left;
// width:100%;
// margin:0;
// }
// }
//
// @include media('<mobile'){
// h3 {
// font-size:18px;
// }
//
// .listing {
// li {
// width:48%;
// margin-right:4%;
// margin-bottom:4%;
//
// &:nth-of-type(2n+2) {
// margin-right:0;
// }
// }
// }
// }
// }
.node-type-downloads {
  @include media("<=tabletport") {
    .large-10 {
      width: 100%;
    }
  }
}

.view-downloads {
  margin: 80px 0;

  @include media("<=tabletland") {
    margin: 30px 0 10px;
  }

  @include media("<=tabletport") {
    .four-col {
      li {
        width: 48%;

        &:nth-of-type(4n + 4) {
          margin-right: 4%;
        }

        &:nth-of-type(2n + 2) {
          margin-right: 0;
        }
      }
    }
  }

  @include media("<mobile") {
    .four-col {
      li {
        width: 22%;
        margin-right: 2%;

        &:nth-of-type(2n + 2) {
          margin-right: 4%;
        }

        &:nth-of-type(4n + 4) {
          margin-right: 0;
        }
      }
    }
  }

  @include media("<small") {
    .four-col {
      li {
        width: 48%;

        &:nth-of-type(4n + 4) {
          margin-right: 4%;
        }

        &:nth-of-type(2n + 2) {
          margin-right: 0;
        }
      }
    }
  }
}

.bef-tree {
  @include li-reset;

  &>li:first-child {
    display: none;
  }

  .form-radio {
    display: none;
  }

  label {
    font-weight: normal;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }

  &>li {
    margin-bottom: 20px;
  }

  .bef-tree-child {
    display: none;
    padding: 5px 0 0;

    li {
      margin-bottom: 0;
      font-size: 0.9em;

      .active label,
      label:hover {
        text-decoration: underline;
        font-weight: normal;
      }
    }
  }

  .open-me {
    label {
      font-weight: bold;
    }

    // .toggle {
    // transform:rotate(90deg);
    // color:$red;
    // }
    .bef-tree-child {
      display: block;

      label {
        font-weight: normal;
      }
    }
  }

  .form-item.active {
    label {
      font-weight: bold;
    }
  }

  .hasChild>.form-item {
    &.active>label {
      font-weight: bold;
    }

    &.active {
      // .toggle { // color:$red; // }
    }
  }

  .toggle {
    cursor: pointer;
    margin-left: 5px;
    display: inline-block;
    transition: all 0.2s ease-out;

    &:hover {
      color: $red;
    }

    &.active {
      transform: rotate(90deg);
      color: $red;
    }
  }

  // .form-item.active .toggle. {
  // transform:rotate(90deg);
  // }
}

.downloads-filter-title {
  text-transform: uppercase;
  color: $red;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 13px;
}

.category-title {
  margin-bottom: 20px; // .hierarchical-select-item-separator { // display:none; // } // .lineage-item-level-0 { // font-weight:bold;

  // }
  // .lineage-item-level-1 {
  // display:block;
  // font-size:22px;
  // margin-top:5px;
  // }
  h2,
  h3 {
    margin: 0;
  }

  .bold {
    font-weight: bold;
  }
}

.pager {
  text-align: right;
  @include breakpoint(mobile){
    text-align: center;
  }
  li{
    @include breakpoint(mobile){
      margin-bottom: 5px;
    }
  }
  a {
    color: #fff;
    background: $grey;

    &:hover {
      background: $red;
    }
  }

  .pager__item.is-active {
    a{
      background: $red;
      color: #fff;
    }
  
  }

  .pager__item--first,
  .pager__item--last,
  .pager__item--previous,
  .pager__item--next {
    display: none;
  }
}

.download {
  color: $text;

  img {
    margin-bottom: 10px;
    transition: opacity 0.2s ease-out;
  }

  &:hover {
    color: $red;

    img {
      opacity: 0.7;
    }
  }
}

ul.news {
  margin: 80px 0 0;

  @include media("<=tabletland") {
    margin: 30px 0 0;
  }

  // @include media('<=small'){
  // margin-top:40px;
  // }
  &.see-all {
    li {
      display: block;
    }
  }

  li {
    display: none;
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 40px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      display: block;
    }
  }

  .thumb {
    display: block;
    margin-bottom: 30px;

    img {
      width: 100%;
      height: auto;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  h3 {
    margin: 0 0 10px;
  }

  .button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 10px;

    @include media("<=tabletland") {
      margin-right: 0;
    }
  }
}

.node-type-article.trade {
  .intro {
    border: 0;
  }

  h1 {
    color: $text;
  }

  .image {
    margin: 60px 0;

    @include media("<mobile") {
      margin: 30px 0;
    }

    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      text-align: right;
      padding-top: 15px;
    }
  }
}

// promotions
.text-image {
  margin: 60px 0;

  @include media("<=tabletland") {
    margin: 30px 0;
  }

  .thumb,
  .content {
    float: left;
    width: 48%;

    @include media("<mobile") {
      float: none;
      width: 100%;
    }
  }

  .thumb {
    margin-right: 4%;

    @include media("<mobile") {
      margin: 0 0 15px;
    }
  }

  @include media("<=tabletland") {
    .large-8 {
      width: 92%;
    }

    .large-6 {
      width: 70%;
    }
  }

  @include media("<=tabletport") {
    .large-6 {
      width: 80%;
    }
  }

  @include media("<mobile") {

    .large-8,
    .large-6 {
      width: 100%;
    }
  }
}

// forms
.grey.form {
  padding: 40px 0;

  @include media("<=tabletland") {
    padding: 15px 0 30px;
  }
}

@include media("<=tabletland") {
  .form {
    .large-6 {
      width: 70%;
    }
  }
}

@include media("<mobile") {
  .form {
    .large-6 {
      width: 100%;
    }
  }
}

form {

  input,
  textarea,
  select {
    @include font-body;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $dk-grey;
    padding: 10px 0 15px;
    width: 100%;

    &:focus {
      border-color: $red;
    }
  }

  input[type="submit"] {
    background: $dk-grey;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 0;

    &:hover {
      background: $red;
    }
  }

  .form-actions {
    clear: both;
    padding-top: 20px;
  }
}

::-webkit-input-placeholder {
  color: $text;
}

:-moz-placeholder {
  color: $text;
  opacity: 1;
}

::-moz-placeholder {
  color: $text;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $text;
}

::-ms-input-placeholder {
  color: $text;
}

// contact form
fieldset.captcha {
  border: 0;
  padding: 1em 0 0;
  margin: 0;

  legend,
  .fieldset-description {
    display: none;
    visibility: hidden;
  }
}

.webform-client-form-6,
.webform-client-form-9,
.webform-client-form-10,
.webform-submission-register-your-appliance-node-19-form {

  .webform-component-textfield,
  .webform-component--email {
    width: 31.3333%;
    float: left;

    @include media("<=vsmall") {
      float: none;
      width: 100%;
    }
  }

  .webform-component--email {
    margin: 1em 3%;

    @include media("<=vsmall") {
      margin: 1em 0;
    }
  }
}

// upgrades form
.webform-client-form-9 {
  .webform-component--model-of-existing-heater {
    // margin-left:3%; // width:65.6666%;
    width: 100%;

    @include media("<=vsmall") {
      margin-left: 0;
      width: 100%;
    }
  }
}

// spares form
.webform-client-form-10 {
  .webform-component--model-of-unit {
    margin: 1em 3%;

    @include media("<=vsmall") {
      margin: 1em 0;
    }
  }
}

// register form
.webform-submission-register-your-appliance-node-19-form {

  .webform-component-checkboxes,
  .webform-component-radios {
    clear: both;

    label {
      font-weight: normal;
    }

    label,
    .form-checkboxes,
    .form-radios {
      float: left;
      width: 29.3333%;
      display: block;

      @include media("<1220px") {
        width: 100%;
      }
    }

    .form-checkboxes,
    .form-radios {
      width: 67.6666%;
      text-align: right;

      @include media("<1220px") {
        width: 100%;
        text-align: left;
      }

      @include media("<=small") {
        margin-bottom: 15px;
      }

      .form-item {
        display: inline-block;
        margin: 0 0 0 1em;

        @include media("<1220px") {
          margin: 5px 1em 0 0;
        }

        @include media("<=small") {
          display: block;
          width: 100%;
        }

        input {
          display: inline-block;
          width: auto;
        }

        label {
          display: inline-block;
          float: none;
          width: auto;
          margin: 0;
        }
      }
    }
  }

  .webform-component-radios {
    margin: 1.5em 0;
    display: table;
    width: 100%;
  }

  .webform-component--model-name-of-appliance-installed,
  .webform-component--model-name-of-appliance-installed2,
  .webform-component--appliance-2--model-name-of-appliance-installed2 {
    margin-right: 3%;

    @include media("<=small") {
      margin-right: 0;
    }
  }

  .webform-component--model-name-of-appliance-installed,
  .webform-component--serial-number-of-appliance,
  .webform-component--model-name-of-appliance-installed2,
  .webform-component--serial-number-of-appliance2,
  .webform-component--appliance-2--model-name-of-appliance-installed2,
  .webform-component--appliance-2--serial-number-of-appliance2 {
    width: 48.5%;

    @include media("<=small") {
      width: 100%;
    }
  }

  .webform-component--installer-details--date-of-installation,
  .webform-component--installer-details--date-of-installation2 {
    width: 100%;
  }

  .webform-component--installer-details--has-benchmark-log-been-completed,
  .webform-component--installer-details-2--has-benchmark-log-been-completed {
    padding-top: 15px;
  }

  .webform-component--subtitle {
    margin-top: 80px;

    @include media("<=tabletland") {
      margin: 30px 0 0;

      h2 {
        margin-bottom: 0;
      }
    }

    @include media("<mobile") {
      margin-bottom: 0;
    }
  }

  .webform-component-fieldset {
    border: 0;
    outline: 0;
    padding: 0;
  }

  .webform-component-date {
    margin-bottom: 1em;

    label {
      font-weight: normal;
      margin-bottom: 10px;
    }

    select {
      width: auto;
      padding: 10px 15px;
    }

    input {
      border: 0;
      position: relative;
      top: 10px;
      height: 25px;
      width: 25px;
      margin-left: 15px;
    }
  }

  .webform-component--installer-details--telephone,
  .webform-component--installer-details-2--telephone {
    margin: 1em 3%;

    @include media("<=small") {
      margin: 1em 0;
    }
  }

  .webform-component-file {
    margin-top: 40px;

    @include media("<=small") {
      margin-top: 20px;
    }

    .form-managed-file {
      margin-top: 1em;
    }

    label {
      font-weight: normal;
    }

    input {
      width: 50%;
      float: left;

      @include media("<=small") {
        width: 100%;
      }
    }

    .form-submit {
      background: $green;

      &:hover {
        background: $text;
      }
    }

    .form-file {
      border: 0;
    }

    .file {
      display: inline-block;
      padding-left: 15px;
      line-height: 40px;
    }
  }

  h2 {
    text-transform: none;
  }

  .webform-component--installer-details-2,
  .webform-component--appliance-2 {
    width: 100%;
    clear: both;
    display: none;
  }

  .form-textarea-wrapper {
    width: 100%;
  }

  .form-actions {
    margin-bottom: 0;
  }
}

.webform-component--opt-in {
  display: block;
  clear: both;

  .description {
    font-size: 1em;
  }

  .form-radios {
    width: 100% !important;
    text-align: left !important;
  }

  .form-item {
    margin: 0.5em 0 0 !important;
  }
}

.register-intro {
  padding: 40px 0 20px;

  @include media("<=tabletland") {
    padding: 30px 0;
  }
}

.register-your-appliance {
  .form {
    @include media("<tabletport") {
      .large-6 {
        width: 80%;

        h2 {
          margin-left: -7.5%;
        }
      }
    }

    @include media("<tabletport") {
      .large-6 {
        width: 100%;

        h2 {
          margin-left: 0;
        }
      }
    }

    @include media("<mobile") {
      .large-6 {
        h2 {
          margin-bottom: 0;
        }
      }
    }
  }
}

.required::-webkit-input-placeholder:after {
  content: " *";
  color: $red;
}

.required:-moz-placeholder:after {
  content: " *";
  color: $red;
}

.required:-ms-input-placeholder:after {
  content: " *";
  color: $red;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid $red;
}

.webform-component--more {
  clear: both;
}

label.error {
  color: $red;
  margin-top: 5px;
  font-weight: normal;
  font-size: 0.8em;
}

// checkboxes
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid $grey;
  background: #fff;
  // border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
  content: "✔";
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  font-size: 1.3em;
  line-height: 0.8;
  color: $red;
  transition: all 0.2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked+label:after {
  opacity: 1;
  transform: scale(1);
}

/* accessibility */
[type="checkbox"]:checked:focus+label:before,
[type="checkbox"]:not(:checked):focus+label:before {
  border: 1px solid $red;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid $red !important;
}

form:not(.ctools-auto-submit-full-form) {

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  [type="radio"]:checked+label,
  [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    // line-height: 20px;
    display: inline-block;
    color: $text;
  }

  [type="radio"]:checked+label:before,
  [type="radio"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 1px solid $grey;
    border-radius: 100%;
    background: #fff;
  }

  [type="radio"]:checked+label:after,
  [type="radio"]:not(:checked)+label:after {
    content: "";
    width: 0.9em;
    height: 0.9em;
    background: $red;
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

// Footer
.site-footer {
  background: $red;
  color: #fff;
  padding: 15px 0;

  p {
    margin: 0;
    font-size: 14px;
  }

  a {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }

  .block-bean {
    width: 50%;
    float: left;

    @include breakpoint(mobile_portrait){
      width: 100%;
      float: none;
      text-align: center;
    }
  }
}

#block-bean-terms {
  text-align: right;

  @include breakpoint(mobile_portrait){
    text-align: center;
  }
}

// Cookie
#cookie-notice {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: #f8f8f8;
  padding: 15px;
  text-align: center;
  z-index: 9999;
  font-size: 16px;

  p {
    margin: 0;

    a {
      color: #fff;
      font-weight: bold;
      transition: all 0.2s ease-out;

      &:hover {
        text-decoration: underline;
      }
    }

    button {
      display: inline-block;
      border-radius: 3px;
      background: #f8f8f8;
      color: #333;
      border: 1px solid #f8f8f8;
      padding: 7px 10px;
      cursor: pointer;
      transition: all 0.2s ease-out;
      margin-left: 15px;

      @media handheld,
      only screen and (max-width: 767px) {
        display: block;
        margin: 15px auto 0;
      }

      &:hover {
        background: #333;
        color: #fff;
      }
    }
  }
}

.register-your-device {
  background-color: $green;
  padding: 45px;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.5em;
  @include breakpoint(mobile_portrait){
    font-size: 1.1em;
    line-height: 1.1em;
  }

  a {
    color: #fff;
  }
}

// New SCSS START//

.white-box-shadow {
  background: #fff;
  box-shadow: 0 0 8px rgb(0 0 0 / 40%);
}

.text-list-box,
.support-list-box,
.img-txt-block--content,
.full-bgimg-content,
.pdf-download-content {
  h3 {
    margin: 0px;
    padding: 0px;
  }
}

.thumb-img {
  display: block;
  text-align: center;

  img {
    width: 80%;
    height: auto;
  }
}

.btn-set-right {
  text-align: right;
}

.sm-btn-set {
  .button {
    min-width: auto;
    text-align: left;
  }
}

.btn-full {
  .button {
    width: 83%;
    text-align: left;
  }
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.section-padding {
  padding: 60px 0;
}

// Desc IU SCSS START
.desc {
  margin: 1.1rem 0;

  p {
    &:last-child {
      margin: 0px;
    }
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;

    li {
      position: relative;
      margin: 0 0 0.6rem 0;
      padding: 0 0 0 1.5rem;

      br {
        @include breakpoint(ipad_portrait) {
          display: none;
        }

        @include breakpoint(mobile) {
          display: none;
        }
      }

      &::before {
        width: 11px;
        height: 11px;
        position: absolute;
        left: 0px;
        top: 7px;
        background: $red;
        content: "";
        border-radius: 50px;
      }
    }
  }
}

// Desc IU SCSS END

// Support IU SCSS START
.support-list-box {
  display: flex;
  flex-wrap: wrap;
  margin: 70px 0;
  padding: 25px;
  background: #fff;
  box-shadow: 0 0 8px rgb(0 0 0 / 40%);

  .support-list-icon {
    width: 25%;

    @include breakpoint(mobile_portrait) {
      width: 150px;
    margin: auto;
    }
  }

  .support-list-content {
    width: 75%;
    padding-left: 1rem;

    @include breakpoint(mobile_portrait) {
      width: 100%;
      padding-left: 0rem;
      padding-top: 2rem;
    }

    h2 {
      a {
        color: $dk-grey;
      }
    }

    .desc {
      min-height: 100px;
    }
  }

  &:hover {
    .support-list-icon {
      img {
        filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
        /* Firefox 10+, Firefox on Android */
        filter: gray;
        /* IE6-9 */
        -webkit-filter: grayscale(100%);
        /* Chrome 19+, Safari 6+, Safari 6+ iOS */
      }
    }

    .support-list-content {
      h2 {
        a {
          color: $red;
        }
      }
    }
  }
}

// Support IU SCSS END

// Text List Box IU SCSS START
.text-list-box {
  border-bottom: 1px $red solid;
  background: #fff;
  padding: 25px 0;
  margin-top: 25px;

  &:first-child {
    margin-top: 0px;
    padding-top: 0px;
  }
}

// Text List Box IU SCSS END
.ui-widget-content{
  color: $text;
  font-family: 'HelveticaNeueLTPro-Lt';
  font-size: 18px;
}
// Accordion IU SCSS START
.ui-accordion {
  
  .ui-accordion-header {
    background: transparent;
    padding: 15px 39px 15px 0;
    color: $text;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px $red solid;
    font-family: "HelveticaNeueLTPro-Md";
    margin-top: 30px;

    &::after {
      content: ">";
      position: absolute;
      right: 0px;
      top: 40%;
      color: $red;
      font-size: 30px;
      line-height: 22px;
    }
  }

  .ui-state-active a,
  .ui-state-active a:link,
  .ui-state-active a:visited {
    color: $text;
  }

  .ui-accordion-header-active {
    &::after {
      content: ">";
      position: absolute;
      right: 0px;
      top: 40%;
      color: $red;
      font-size: 30px;
      line-height: 22px;
      transform: rotate(90deg);
    }
  }
}

// Accordion IU SCSS END

// Img Txt Block IU SCSS START
.img-txt-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  flex-direction: row-reverse;
  @include breakpoint(ipad_portrait) {
    flex-direction: column-reverse;
  }
  @include breakpoint(mobile_landscape){
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint(mobile) {
    flex-direction: column-reverse;
  }
  &:first-child {
    margin-top: 0px;
  }

  .img-txt-block--img {
    width: 45%;
    @include breakpoint(ipad_portrait) {
      width: 100%;
    }
    @include breakpoint(mobile) {
      width: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .img-txt-block--content {
    width: 55%;
    padding: 0 2rem 0 0;
    @include breakpoint(ipad_portrait) {
      width: 100%;
      padding: 0;
      margin-bottom: 2rem;
    }
    @include breakpoint(mobile) {
      width: 100%;
      padding: 0;
      margin-bottom: 2rem;
    }
  }

  &:nth-child(2n + 2) {
    flex-direction: revert;
    @include breakpoint(ipad_portrait) {
      flex-direction: column-reverse;
      padding-bottom: 1.5rem;
    }
    @include breakpoint(mobile) {
      flex-direction: column-reverse;
      padding-bottom: 1.2rem;
    }

    .img-txt-block--content {
      padding: 0 0 0 2rem;
      @include breakpoint(ipad_portrait) {
        padding: 0;
      }
      @include breakpoint(mobile) {
        padding: 0;
      }
    }
  }
}

// Img Txt Block IU SCSS End


// Full Bgimg Block IU SCSS START

.full-bgimg-block {
  position: relative;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  overflow: hidden;
  .large-8{
    @include breakpoint(mobile_landscape){
       width: 80%;
    }
  }

  .full-bgimg-content {
    background: rgba(255, 255, 255, 0.9);
    padding: 60px;
    @include breakpoint(ipad){
      padding: 30px;
    }
    @include breakpoint(mobile){
      padding: 30px;
    }
  }

  .full-bgimg {
    position: absolute;
    width: 100%;
    height: 100%;
    .field--name-field-image{
      height: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      @include media("<=tabletland") {
        width: auto;
        height: 100%;
      }
      @media (min-width: 1025px) and (max-width: 1580px) {
        max-width: inherit;
        width: auto;
        height: 100%;
      }
      

    
      @include breakpoint(ipad){
        max-width: inherit;
        width: auto;
        height: 100%;
      }
      @include breakpoint(mobile){
        max-width: inherit;
        width: auto;
        height: 100%;
      }
    }
  }
}

// Full Bgimg Block IU SCSS END

// Looking Support Block IU SCSS START

.block-views-blockcontact-support-support-block {
  .large-6 {
    width: 85%;

    @include media("<=tabletland") {
      width: 100%;
    }
  }

  h3 {
    margin: 0 0 30px 4rem;
  }

  .support-list-box {
    width: 31.33%;
    background: #fff;
    padding: 35px 15px 30px 15px;
    float: left;
    margin: 0;
    @include breakpoint(ipad_portrait) {
      width: 490px;
      margin: auto;
      float: none;
    }
    @include breakpoint(mobile_landscape) {
      width: 400px;
      margin: auto;
      float: none;
    }
    @include breakpoint(mobile_portrait) {
      width: 100%;
    }

   &:nth-child(3){
    margin-left:3%;
    margin-right:3%;
    @include breakpoint(ipad_portrait) {
      margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    }
    @include breakpoint(mobile_landscape) {
      margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    }
    @include breakpoint(mobile_portrait) {
      margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    }
   }
  

    .support-list-icon {
      width: 115px;
      margin: auto auto 15px auto;
      display: block;

      a {
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

    }

    .support-list-content {
      width: 100%;
      padding-left: 0;

      h2 {
        margin: 20px 0;
      }

      .btn-set-right {
        text-align: left;
      }
    }
  }
}

// Looking Support Block IU SCSS END

.block-views-blockproduct-download-pdf-pdf-row .pdf-download-box .pdf-download-content h2 {
  margin: 22px 0 0 0;
}

.support-list-box .support-list-content h2 {
  margin: 0;
}

// Pdf Download Block IU SCSS START

.block-views-blockproduct-download-pdf-pdf-row {
  padding: 100px 0 50px 0;

  @include breakpoint(mobile) {
    padding: 50px 0 25px 0;
  }

  .large-9 {

    @include media("<1250px") {
      width: 70%;
    }

    @include media("<=tabletland") {
      width: 100%;
    }

  }

  .pdf-download-box {
    display: flex;
    flex-wrap: wrap;


    .pdf-download-img {
      width: 25%;

      @include breakpoint(mobile_landscape) {
        width: 35%;
      }

      @include breakpoint(mobile_portrait) {
        width: 100%;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
        @include breakpoint(mobile_landscape) {
          width: 85%;
        }
        @include breakpoint(mobile_portrait) {
          width: 66%;
          margin: auto;
        }
      }
    }

    .pdf-download-content {
      width: 75%;
      padding-left: 2rem;

      @include breakpoint(mobile_landscape) {
        width: 65%;
        padding-left: 1rem;
      }

      @include breakpoint(mobile_portrait) {
        width: 100%;
        padding: 0;
        margin-top: 3rem;
      }

      .desc {
        min-height: 155px;
      }
    }
  }

}



// Pdf Download Block IU SCSS END

// Columns 2 Img Block IU SCSS Start

.columns-2-img-block {
  .columns-2-img-box {
    width: 50%;
    padding: 1rem;

    .columns-2-img-inner {
      position: relative;

      .columns-2-img {
        margin-bottom: 2rem;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          display: block;
          width: 0;
          height: 0;
          margin-right: 0px;
          border-bottom: 200px solid transparent;
          border-left: 210px solid #2e66ac;
          mix-blend-mode: multiply;
        }

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }

    }
  }
}

// Columns 2 Img Block IU SCSS END

.block-views-blockcontact-support-listing {
  .large-6 {

    @include media("<2000px") {
      width: 60%;
    }

    @include media("<=tabletland") {
      width: 80%;
    }

    @include media("<=mobileview") {
      width: 100%;
    }
  }
}

ul.sf-menu li:hover>ul,
ul.sf-menu li.sfHover>ul {
  left: 0;
  top: 3.9em;
}

ul.sf-menu.sf-horizontal.sf-shadow ul,
ul.sf-menu.sf-vertical.sf-shadow ul,
ul.sf-menu.sf-navbar.sf-shadow ul ul {
  -webkit-box-shadow: 2px 2px 10px rgb(0 0 0 / 0%);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.0);
  box-shadow: 2px 2px 10px rgb(0 0 0 / 0%);
}

.white.field_content_with_background-body {
  padding: 0;
}

.block-views-blockdownloads-listing {
  .push-8 {
    padding-left: 4rem;
    @include breakpoint(mobile){
      padding-left: 1.5rem;
    }
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .header--sm {

    .block-superfish ul.sf-menu,
    .block-superfish ul.menu,
    .block-menu ul.sf-menu,
    .block-menu ul.menu {
      display: block !important;
      text-align: center;
    }

    .sf-accordion-toggle {
      display: none;
    }
    .block-superfish ul.sf-menu a, .block-superfish ul.menu a, .block-menu ul.sf-menu a, .block-menu ul.menu a{
      padding: 10px 0;
    }

    .block-superfish ul.sf-menu li,
    .block-superfish ul.menu li {
      margin-bottom: 0.4rem;
    }
    .block-superfish ul.sf-menu li.active-trail,
    .block-superfish ul.menu li.menu-item--active-trail {
     a{
      color: #fff;
       font-family: 'HelveticaNeueLTPro-Md';
     }
     ul{
       li{
         a{
          color: #fff;
          font-family: 'HelveticaNeueLTPro-Lt';
         }
         &.active-trail,
         &.menu-item--active-trail
         {
          a{
            color: #fff;
            font-family: 'HelveticaNeueLTPro-Md';
          }
         }
       }
     }
    }
   
    .block-menu ul.menu li.menu-item--active-trail {
      a{
        color: #fff;
        font-family: 'HelveticaNeueLTPro-Md';
      }
      ul{
        li{
          a{
           color: #fff;
           font-family: 'HelveticaNeueLTPro-Lt';
          }
          &.active-trail,
          &.menu-item--active-trail
          {
           a{
            color: #fff;
             font-family: 'HelveticaNeueLTPro-Md';
           }
          }
        }
      }
     }
    .sf-sub-indicator {
      display: block;
    }

    ul.sf-menu .sf-sub-indicator {
      height: 21px;
      opacity: 1;
      right: -33px;
      width: 20px;
      font-size: 21px;
      text-align: right;

      &:after {
        content: ">" !important;
      }
    }
    ul.sf-menu .sfHover{
      .sf-sub-indicator{
        &:after {
          transform: rotate(90deg);
          left: 4px;
        }
      }
    }

    .block-superfish ul.sf-menu a, .block-superfish ul.menu a, .block-menu ul.sf-menu a, .block-menu ul.menu a{
      display: inline-block;
      font-size: 23px;
    }

    .block-superfish ul.sf-menu li.menuparent a {
      position: relative;
    }
    .block-superfish ul.sf-menu li.menuparent ul li{
      padding: 0px;
      margin: 0px;
      a{
        font-size: 19px;
        padding: 3px 0;
      }
    }
    
    

    ul.sf-menu li:hover > ul, ul.sf-menu li.sfHover > ul{
      left: 0;
      top: 0;
      position: relative;
      padding-left: 15px;
    }
  }
}

.webform-submission-register-your-appliance-node-19-form{
  .form-item-email{
    label{
      display: none;
    }
  }
  .description{
    margin: 1.5em 0;
  }
  .fieldgroup,
  .form-item-files-checklist
  {
    margin: 1.5em 0;
    display: table;
    width: 100%;
    clear: both;
    legend{
      float: left;
      width: 29.3333%;
      display: block;

      @include media("<1220px") {
        width: 100%;
      }
    }
    .fieldset-wrapper{
      width: 67.6666%;
      text-align: right;
      float: left;
      display: block;

      @include media("<1220px") {
        width: 100%;
        text-align: left;
      }

      @include media("<=small") {
        margin-bottom: 15px;
      }
    }
  }

  .form-item-subtitle {
    margin-top: 80px;

    @include media("<=tabletland") {
      margin: 30px 0 0;

      h2 {
        margin-bottom: 0;
      }
    }

    @include media("<mobile") {
      margin-bottom: 0;
    }
  }



}
.js-form-item{
  margin-top: 1rem;
  margin-bottom: 1rem;
  .description{
    margin-bottom: 1rem;
  }
}
.btn-right{
  display: flex;
  justify-content: right;
}
.green-link-btn{
  background: $green;
  color: #fff;
  padding: 7px 15px;
  margin-top: 20px;
  &:hover{
    background: $red;
    color: #fff;
  }
}
.page-node-type-downloads{
  @include breakpoint(ipad){
    .large-8 {
      width: 57.66667%;
      h3{
        font-size: 1em;
      }
    }
    .large-4 {
      width: 42.33333%;
    }
    .push-8 {
      left: 55.66667%;
    }
    .pull-4 {
      right: 40.33333%;
    }
    .four-col{
      li {
        width: 48%;
        &:nth-of-type(2n + 2) {
          margin-right: 0;
        }
        &:nth-of-type(4n + 4) {
          margin-right: 0%;
        }
       }
    } 
  }
 
}
.pager{
  ul.js-pager__items{
    @include breakpoint(ipad){
      display: flex;
    }
  }
}

ul.products .thumb {
  display: flex;
  text-align: center;
  height: 136px;
  align-items: center;
  justify-content: center;
  @include breakpoint(mobile_portrait){
    height: auto;
  }
}

.page-default-template{
  .row{
    max-width: 100%;
  }
}