.book-list-section{
    .book-list-section-content{
        padding: 0 4rem;
        @include breakpoint(ipad_portrait){
            padding: 0 5rem;
        }
        @include breakpoint(mobile_landscape){
            padding: 0 3rem;
        }
        @include breakpoint(mobile_portrait){
            padding: 0rem;
        }
    }
    .book-card{
        width: 43%;
        display: flex;
        margin-bottom: 6rem;
        @include breakpoint(ipad_landscape){
            width: 47%;
        }
        @include breakpoint(ipad_portrait){
            width: 100%;
            margin-bottom: 4rem;
        }
        @include breakpoint(mobile_landscape){
            width: 100%;
            margin-bottom: 3rem;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
            margin-bottom: 3rem;
        }
        
        &:nth-child(2n+2){
            margin-left: auto;
            @include breakpoint(mobile_portrait){
                margin-left: 0;
            }
        }
        .book-card-img{
            width: 30%;
            img{
                width: 100%;
                display: block;
            }
        }
        .book-card-body{
            width: 70%;
            padding-left: 2.5rem;
            margin-left: auto;
            position: relative;
            padding-bottom: 3rem;
            @include breakpoint(ipad_landscape){
                padding-left: 1.5rem;
            }
            @include breakpoint(mobile_portrait){
                padding-left: 1rem;
            }
            h4{
                margin: 0 0 1rem 0;
                padding: 0px;
                font-weight: 400;
                @extend %font-size;
                font-family: $secondaryfontfaimly;
                @include breakpoint(mobile_landscape){
                    font-size: 19px;
                } 
            }
            span{
                display: block;
                width: 100%;
                color: $author-color;
                font-style: italic;
                font-weight: 200;
                font-size: 16px;
            }
            .btn-set--right{
                position: absolute;
                bottom: 0px;
                right: 0px;
            }
        }
    }
}