.center-text-section{
    @extend %main-padding;
    text-align: center;
    .desc--box{
        p{
            @extend %h2;
            margin: 0 0 3rem 0;
            padding: 0px;
            color: $drak-gray; 
            line-height: 2.5rem; 
            font-family: $secondaryfontfaimly;
            font-weight: 700;
            @include breakpoint(mobile){
                line-height: 1.8rem; 
            }
        }
    }
    h2{
        @extend %h2;
        margin: 0 0 3rem 0;
        padding: 0px;
        color: $drak-gray; 
    }
}