.company-directory-section{
    .monument-park-section{
        strong{
            br{
                display: none;
            }
        }
        img{
            width: 100%;
            height: auto;
        }
        h1{
            margin: 3rem 0 1.5rem 0;
            padding: 0px;
            color: $primary-color;
            font-size: 1.3rem;
            text-transform: uppercase;
        }
    }
   
    .monument-park-top{
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            li{
                margin: 0 0 9px;
                padding: 0;
                text-align: left;
                display: flex;
                align-items: flex-start;
                position: relative;
                color: $body-gray;
                &::before{
                    display: none !important;
                }
                em {
                    font-style: normal;
                    color: $primary-color;
                    margin-right: 15px;
                    min-width: 50px;
                }
                a{
                    color: $body-gray;
                    &:hover{
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}
.em-width{
    ul li{
        em{
            min-width: 23px !important; 
        }
    }
}
.row{
    display: flex;
    flex-wrap: wrap;
    .col-sm-6{
        width: 50%;
        @include breakpoint(mobile){
            width: 100%;
        }
    }
}