.contact-info-section{
    @extend %main-padding;
    .contact-info-left{
        width: 50%;
        @include breakpoint(mobile_landscape){
            width: 100%;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
        }
        .social-media-block{
           margin-top: 2rem;
           position: relative; 
           padding-top: 2rem;
           &::after{
            content: '';
            position: absolute;
            height: 1px;
            background-color: $white;
            left: 0px;
            top: 0px;
            width: 50%;
           }
           span{
            display: block;
            font-family: $secondaryfontfaimly;
            font-weight: 700;
            font-size: 1.4rem;
            color: $white;
            margin-bottom: 1rem;
           }
        }
        ul.contact-info-icon {
          
        
            li {
                margin: 0 0 35px 0;
                padding: 0;
                a{
                    padding-left: 45px;
                    @include breakpoint(ipad_portrait){
                        font-size: 1.5rem;
                    }
                }
                a[href^="tel:"] {
                    background: url("#{$assetIconsPath}/phone white jennings.svg") no-repeat 4px center;
                    background-size: 30px;
        
                    &:hover {
                        background: url("#{$assetIconsPath}/phone purple jennings.svg") no-repeat 4px center;
                        background-size: 30px;
                    }
                }
        
                a[href^="mailto:"] {
                    background: url("#{$assetIconsPath}/email white jennings.svg") no-repeat left center;
                    background-size: 30px;
        
                    &:hover {
                        background: url("#{$assetIconsPath}/email purple  jennings.svg") no-repeat left center;
                        background-size: 30px;
                    }
                }
            }
        }
    }
    .contact-info-right{
        width: 50%;
        @include breakpoint(mobile_landscape){
            width: 100%;
            margin-top: 2.5rem;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
            margin-top: 2.5rem;
        }
        .contact-info-content{
            h3{
                font-size: 1.8rem;
                margin: 0px;
                padding: 0px;
                @include breakpoint(ipad_portrait){
                    font-size: 1.5rem;
                }
            }
            .desc--box{
                margin: 1rem 0 2.5rem;
            }
        }
    }
}