.download-row-section{
    @extend %main-padding;
    padding-bottom: 2rem;
    .download-row-content{
        @extend %below-hd;
        .download-row-box{
            width: 27%;
            margin-right: 9%;
            margin-bottom: 6%;
            @include breakpoint(ipad_landscape){
                width: 31%;
                margin-right: 3%;
            }
            @include breakpoint(ipad_portrait){
                width: 45%;
                margin-right: 10%;
                margin-bottom: 5%;
            }
            @include breakpoint(mobile_landscape){
                width: 47%;
                margin-right: 5%;
                margin-bottom: 5%;
            }
            @include breakpoint(mobile_portrait){
                width: 100%;
                margin-right: 0%;
                margin-bottom: 2rem;
            }
            &:nth-child(3n+3){
                margin-right: 0%;
                @include breakpoint(ipad_portrait){
                    margin-right: 10%;
                }
                @include breakpoint(mobile_landscape){
                    margin-right: 5%;
                }
            }
            &:nth-child(2n+2){
                @include breakpoint(ipad_portrait){
                    margin-right: 0;
                }
                @include breakpoint(mobile_landscape){
                    margin-right: 0;
                }
            }
            .download-row-img{
                width: 100%;
                height: 170px;
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                img{
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 30px;
                }
            }
            .download-row-box-content{
                margin-top: 1.5rem;
            }
        }
    }
    
}