.events-listing-current,
.events-listing-past{
    @extend %main-padding;
    h2{
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
}
.event-type-box-in{
    @extend %below-hd;
    @include breakpoint(mobile_landscape){
        padding-left: 6%;
        padding-right: 6%;
    }
   
}
.event-row-box{
    display: flex;
    flex-wrap: wrap;
    background: $white;
    border-radius: 30px;
    margin-bottom: 5rem;
    @include breakpoint(mobile_landscape){
        margin-bottom: 4rem;
    }
    @include breakpoint(mobile_portrait){
        margin-bottom: 4rem;
    }
    &:last-child{
        margin-bottom: 0px;
    }
    .wh-event-type{
        width: 40%;
        border-radius: 30px 0 0 30px;
        overflow: hidden;
        @include breakpoint(ipad_portrait){
            width: 47%;
        }
        @include breakpoint(mobile_landscape){
            width: 100%;
            border-radius: 30px 30px 0 0px;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
            border-radius: 30px 30px 0 0px;
        }
        a{
            display: block;
        }
        img{
            width: 100%;
            height: auto;
            display: block;
            @include breakpoint(ipad_portrait){
                width: 100%;
                height: 100%;
            }
        }
    }
    .event-right-txt{
        width: 60%;
        padding: 1rem 1.5rem 2.3rem;
        position: relative;
        @include breakpoint(ipad_portrait){
            width: 53%;
            padding: 1rem 1rem 2.3rem;
        }
        @include breakpoint(mobile_landscape){
            width: 100%;
            padding: 1.5rem 1.5rem 3rem;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
            padding: 1.5rem 1.5rem 3rem;
        }
        h3{
            margin: 0px;
            padding: 0px;
            a{
                display: block;
                color: $primary-color;
                font-size: 1.2rem;
               
            }
        }
        .event-date{
            margin: 0.6rem 0;
            padding: 0px; 
            font-size: 1rem;
            font-weight: 700;
        }
        .desc--box{
           
        }
        .event-link{
            position: absolute;
            bottom: -17px;
            right: 3rem;
            @include breakpoint(mobile_landscape){
                text-align: center;
                right: 0px;
                width: 100%;
                .secondary-btn{
                    display: inline-block;
                }
            }
            @include breakpoint(mobile_portrait){
                text-align: center;
                right: 0px;
                width: 100%;
                .secondary-btn{
                    display: inline-block;
                }
            }
        }
        
    }
}
.events-listing-current{
    background: $light-gray;
   
}
.events-listing-past{
    background: $drak-gray;
    h2{
        color: $white;
    }
}


.events{
    .container-sm {
        @include breakpoint(ipad_portrait){
            width: calc(100% - 4rem);
        }
        
    }
}