.expertise-section {
    @include breakpoint(ipad_landscape) {
        padding-bottom: 3rem
    }
    @include breakpoint(ipad_portrait) {
        padding-bottom: 3rem
    }
    .expertise-section-content {
        @extend %main-padding-top;
        @include breakpoint(ipad_portrait) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
        .custom-row{
            justify-content: center;
            
        }
        .expertise-card {
            background: $white;
            @include border-radius(10px);
            padding: 3rem 1.5rem 4rem 1.5rem;
            width: 23%;
            margin-right: 2.5%;
            position: relative;
            @include breakpoint(ipad_landscape) {
                width: 37%;
                margin-bottom: 4rem;
                margin-right: 4%;
                &:nth-child(2n + 2) {
                    margin-right: 0px;
                }
            }
            @include breakpoint(ipad_portrait) {
                width: 48%;
                margin-right: 4%;
                margin-bottom: 3rem;
                &:nth-child(2n + 2) {
                    margin-right: 0px;
                }
            }
            @include breakpoint(mobile_landscape) {
                width: 48%;
                margin-right: 4%;
                margin-bottom: 3rem;
                &:nth-child(2n + 2) {
                    margin-right: 0px;
                }
            }
            @include breakpoint(mobile_portrait) {
                width: 100%;
                margin-right: 0%;
                margin-bottom: 3rem;
            }
            .expertise-card-icon {
                width: 100%;
                margin: 0 0 2rem 0;
                display: flex;
                height: 110px;
                align-items: center;
                justify-content: center;
                @include breakpoint(ipad) {
                    height: 90px;
                }
                @include breakpoint(mobile) {
                    height: 85px;
                }
                img {
                    width: auto;
                    display: block;
                    height: 100%;
                }
            }
            h3 {
                margin: 0 0 1.2rem 0;
                padding: 0px;
                font-size: 1.3rem;
                text-align: center;
                font-weight: 500;
                text-transform: uppercase;
                @include breakpoint(mobile){
                    
                }
            }
            .desc--box {
                text-align: center;
            }
            &:last-child {
                margin-right: 0px;
            }
            .btn-set--center {
                position: absolute;
                bottom: -17px;
                width: 100%;
                left: 0;
            }
        }
    }
}

.single-expertise{
    .expertise-section{
        @include breakpoint(ipad_landscape) {
            padding-bottom: 6rem
        }
        .expertise-section-content{
            .custom-row {
                @include breakpoint(ipad_portrait) {
                    justify-content: flex-start;
                }
                
            }
            .expertise-card{
                @include breakpoint(ipad_landscape) {
                    width: 28%;
                    margin-right: 2.5%;
                    margin-bottom: 0;
                }
                h3{
                    @extend %font-size;
                }
            }
        } 
    } 
}