.find-out-section{
    padding: 4rem 0;
    text-align: center;
    
    .find-out-section-content{
       margin-top: 2rem;
        .white-btn{
            margin: 0 1rem;
            font-weight: 700;
            padding: 0.5rem 2rem;
            font-size: 1.4rem;
            font-family: $secondaryfontfaimly;
            &:nth-child(1){
                font-family: $primaryfontfaimly;
                font-weight: 600;
            }
            @include breakpoint(mobile_landscape){
                margin: 0 0.5rem;
                padding: 0.5rem 1.5rem;
            }
            @include breakpoint(mobile_portrait){
                margin: 1rem 0rem;
                width: 100%;
            }
        }
    }
}