.full-card {
    .full-card-inner {
        @include breakpoint(ipad_landscape) {
            padding:0 4.5rem;
        }
        @include breakpoint(ipad_portrait) {
            padding:0 4.5rem;
        }
        position: relative;
        .full-card-img {
            width: 45%;
            position: absolute;
            height: 100%;
            display: flex;
            align-items: center;
            z-index: 1;
            left: 0px;
            top: 0px;
            @include breakpoint(ipad_landscape) {
                width: 100%;
                height: auto;
                position: relative;
            }
            @include breakpoint(ipad_portrait) {
                width: 100%;
                height: auto;
                position: relative;
            }
            @include breakpoint(mobile) {
                width: 100%;
                height: auto;
                position: relative;
            }

            figure {
                img {
                    width: 100%;
                    display: block;
                    border-radius: 0 15px 15px 0;
                    @include breakpoint(ipad_landscape) {
                        border-radius: 15px 15px 0 0;
                    }
                    @include breakpoint(ipad_portrait) {
                        border-radius: 15px 15px 0 0;
                    }
                    @include breakpoint(mobile) {
                        border-radius:0;
                    }
                }
            }
        }
        .full-card-content {
            width: 100%;
            position: relative;
            padding-right: 10%;
            min-height: 700px;
            display: flex;
            align-items: center;
            @include breakpoint(ipad_landscape) {
                padding-right: 0;
                min-height: 100%;
            }
            @include breakpoint(ipad_portrait) {
                padding-right: 0px;
                min-height: 100%;
            }
            @include breakpoint(mobile) {
                padding-right: 0px;
                min-height: 100%;
            }
            &::after {
                position: absolute;
                content: "";
                width: 75%;
                height: 100%;
                right: 0px;
                top: 0px;
                background: #8b8b8b;
                border-radius: 15px 0 0 15px;
                @include breakpoint(ipad_landscape) {
                    width: 100%;
                    height: 100%;
                    border-radius: 0 0 15px 15px;
                }
                @include breakpoint(ipad_portrait) {
                    width: 100%;
                    height: 100%;
                    border-radius: 0 0 15px 15px;
                }
                @include breakpoint(mobile) {
                    width: 100%;
                    height: 100%;
                    border-radius: 0;
                }
            }
            .full-card-content-inner {
                width: 60%;
                margin-left: auto;
                position: relative;
                z-index: 1;
                padding: 4rem 3rem 4rem 15rem;
               
                @include breakpoint(desktop-sm) {
                    padding: 4rem 3rem 4rem 12rem;
                }
                @include breakpoint(ipad_landscape) {
                    width: 100%;
                    padding: 3rem;
                }
                @include breakpoint(ipad_portrait) {
                    width: 100%;
                    padding: 3rem;
                }
                @include breakpoint(mobile) {
                    width: 100%;
                    padding: 2rem;
                }
                h2 {
                    margin: 0 0 2rem 0;
                    padding: 0px;
                    font-weight: 500;
                 
                }
                .desc--box{
                  p{
                    @include breakpoint(ipad_landscape) {
                        margin: 1.5rem 0;
                    }
                  }   
                }
            }
        }
        &.full-card-right {
            .full-card-img {
                left: inherit;
                right: 0px;
                figure {
                    img {
                        border-radius: 15px 0px 0 15px;
                        @include breakpoint(ipad_landscape) {
                            border-radius: 15px 15px 0 0;
                        }
                        @include breakpoint(ipad_portrait) {
                            border-radius: 15px 15px 0 0;
                        }
                        @include breakpoint(mobile) {
                            border-radius:0;
                        }
                    }
                }
            }
            .full-card-content {
                padding-right: 0%;
                padding-left: 10%;
                @include breakpoint(ipad_landscape) {
                    padding-left: 0;
                }
                @include breakpoint(ipad_portrait) {
                    padding-left: 0%;
                }
                @include breakpoint(mobile) {
                    padding-left: 0%;
                }
                &::after {
                    left: 0px;
                    right: inherit;
                    top: 0px;
                    background: #8b8b8b;
                    border-radius: 0 15px 15px 0;
                    @include breakpoint(ipad_landscape) {
                        border-radius: 0 0 15px 15px;
                    }
                    @include breakpoint(ipad_portrait) {
                        border-radius: 0 0 15px 15px;
                    }
                    @include breakpoint(mobile) {
                        border-radius: 0;
                    }
                }
                .full-card-content-inner {
                    margin-left: 0;
                    padding: 4rem 15rem 4rem 4rem;
                    @include breakpoint(desktop-sm) {
                        padding: 4rem 12rem 4rem 3rem;
                    }
                    @include breakpoint(ipad_landscape) {
                        width: 100%;
                        padding: 2rem;
                    }
                    @include breakpoint(ipad_portrait) {
                        width: 100%;
                        padding: 2rem;
                    }
                    @include breakpoint(mobile) {
                        width: 100%;
                        padding: 2rem;
                    }
                }
            }
        }
        &.full-card-bg-gray {
            .full-card-content {
                &::after {
                    background: $light-gray;
                }
            }
        }
        &.full-card-bg-primary {
            color: $white;
            .full-card-content {
                &::after {
                    background: $primary-color;
                }
            }
        }
        &.full-card-bg-secondary {
            color: $white;
            .full-card-content {
                &::after {
                    background: $secondary-color;
                }
            }
        }
        &.full-card-bg-light-green {
            .full-card-content {
                &::after {
                    background: $light-green;
                }
            }
        }
        &.full-card-bg-drak-gray {
            color: $white;
            .full-card-content {
                &::after {
                    background: $drak-gray;
                }
            }
        }
    }
}
figure {
    margin: 0px;
    padding: 0px;
}
.about{
 .full-card{
    @extend %main-padding-b;
    @include breakpoint(mobile) {
        padding-bottom: 0;
    }
 } 

}