.gallery-container{
    display: flex;
    flex-wrap: wrap;
    .gallery-box-item{
        width: 20%;
        @include breakpoint(mobile_landscape){
            width: 33.33333%;
        }
        @include breakpoint(mobile_portrait){
            width: 50%;
        }
        a{
            display: block;
            img{
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
}

.fancybox__caption{
    background-color: $primary-color;
    padding: 1.5rem 1rem;
    text-align: center;
    color: $white;
    font-family: $secondaryfontfaimly;
    font-weight: 700;
    width: 100%;
    font-size: 1.5rem;
}

.fancybox__nav{
    display: none;
}
.fancybox__content>.carousel__button.is-close{
    top: 0px;
    width: 4rem;
    height: 4rem;
    padding: 5px;
    background: $primary-color;
    border-radius: 0px;
    @include breakpoint(mobile){
        width: 3rem;
        height: 3rem;
    }
    svg{
        width: 100%;
        height: 100%;
    }
}