.help-section{
    position: relative;
    overflow: hidden;
    &::before,
    &::after{ 
        content: '';
        position: absolute;
        width: 38rem;
        height: 38rem;
        @media (min-width: 1300px) and (max-width: 1700px) {
            width: 30rem;
            height: 30rem;
        }
        @include breakpoint(desktop-sm){
            width: 20rem;
            height: 20rem;
        }
        @include breakpoint(ipad_landscape){
            width: 20rem;
            height: 20rem;
        }
        @include breakpoint(ipad_portrait){
            width: 14rem;
            height: 14rem;
        }
        @include breakpoint(mobile_landscape){
            width: 14rem;
            height: 14rem;
        }
        @include breakpoint(mobile_portrait){
           display: none;
        }
    }
    &::before{
        left: -8rem;
        top: 6rem;
        background: url("#{$assetIconsPath}/inspiring-transformations-icon service pages.png") no-repeat center center;
        background-size: 100%;
    }
    &::after{
        right: -8rem;
        bottom: 6rem;
        background: url("#{$assetIconsPath}/inspiring-transformations-icon service pages.png") no-repeat center center;
        background-size: 100%;
    }
    .help-section-content{
        @extend %main-padding-top;
        padding-left: 14rem;
        padding-right: 14rem;
        position: relative;
        z-index: 1;
        @include breakpoint(ipad_landscape){
            padding-left: 10rem;
            padding-right: 10rem;
        }
        @include breakpoint(ipad_portrait){
            padding-left: 3rem;
            padding-right: 3rem;
        }
        @include breakpoint(mobile_landscape){
            padding-left: 2rem;
            padding-right: 2rem;
        }
        @include breakpoint(mobile_portrait){
            padding-left: 0rem;
            padding-right: 0rem;
        }

        .help-card{
            background: $white;
            @include border-radius(10px);
            padding: 2rem;
            display: flex;
            margin-bottom: 2rem;
            align-items: flex-start;
            @include breakpoint(mobile_portrait){
               flex-wrap: wrap;
            }
            .help-card-icon{
                width: 25%;
                padding-top: 3rem;
                @include breakpoint(mobile_portrait){
                    width: 31%;
                    padding-top: 0px;
                }
                img{
                    width: 100%;
                    display: block;
                }
            }
            .help-card-body{
                width: 75%;
                padding-left: 10%;
                @include breakpoint(mobile_portrait){
                    width: 100%;
                    padding-left: 0;
                    padding-top: 1.5rem;
                }
                h3{
                  margin: 0px;
                  padding: 0px;
                  font-weight: 500;
                  font-size: 1.5rem;
                  letter-spacing: 0.7px;
                  @include breakpoint(mobile){
                    font-size: 1.3rem;
                  }
                }  
                .desc--box{
                    margin: 1rem 0;
                    min-height: 160px;
                }
            }
        }
    }
}