.home-page-slider-section {
    position: relative;
    padding: 0px;
    background-color: $primary-color;
    .container-lg{
        position: relative;
        z-index: 8;
    }

    .slick-list{
        overflow: visible !important;
    }

    .slick-dots {
        position: absolute;
        bottom: -50px;
        right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin: 2rem 0 0 0;
        padding: 0px;
        @include breakpoint(desktop-sm) {
            bottom: -17px;
        }
        @include breakpoint(ipad_landscape) {
            bottom: -12px;
        }
        @include breakpoint(ipad_portrait) {
            bottom: -17px;
        }
        @media (min-width: 735px) and (max-width: 767px) {
            bottom: inherit;
            top: 58%;
          }
        @media (min-width: 666px) and (max-width: 734px) {
            bottom: inherit;
            top: 56%;
          }
        @media (min-width: 568px) and (max-width: 665px) {
            bottom: inherit;
            top: 51%;
          } 
          @media (min-width: 414px) and (max-width: 567px) {
            bottom: inherit;
            top: 33%;
          }
          @media (min-width: 375px) and (max-width: 413px) {
            bottom: inherit;
            top: 30%;
          }
          @media (min-width: 360px) and (max-width: 374px) {
            bottom: inherit;
            top: 29%;
          }
          @media (min-width: 320px) and (max-width: 359px) {
            bottom: inherit;
            top: 22%;
          }
        li {
            margin: 0 0 0 10px;
            padding: 0px;

            button {
                background: $drak-gray;
                cursor: pointer;
                border: 1px $white solid;
                border-radius: 80px;
                text-indent: -9999px;
                display: block;
                width: 16px;
                padding: 0;
                height: 16px;
            }

            &.slick-active button {
                background: $primary-color;
            }
        }
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4rem;
        left: 0px;
        top: 0rem;
        background-color: $white;

        @include breakpoint(desktop-sm) {
            height: 2rem;
        }

        @include breakpoint(ipad_landscape) {
            height: 2rem;
        }

        @include breakpoint(ipad_portrait) {
            height: 2rem;
        }

        @include breakpoint(mobile_landscape) {
            height: 2rem;
        }

        @include breakpoint(mobile_portrait) {
            height: 2rem;
        }

    }

    .home-page-slider-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-items: center;

    }

    .home-page-slider-content {
        width: 45%;
        padding-right: 5%;
        padding-left: 10%;
        padding-top: 3%;

        @include breakpoint(desktop) {
            padding-left: 6%;
        }

        @include breakpoint(desktop-md) {
            padding-left: 6%;
        }

        @media (min-width: 1300px) and (max-width: 1340px) {
            padding-left: 2%;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        @include breakpoint(desktop-sm) {
            padding-left: 0%;
            padding-right: 3%;
        }

        @include breakpoint(ipad_landscape) {
            padding-left: 0%;
            padding-right: 3%;
        }

        @include breakpoint(ipad_portrait) {
            padding-left: 0%;
            padding-right: 3%;
            width: 50%;
        }

        @include breakpoint(mobile_landscape) {
            padding: 2rem 0 3rem;
            width: 100%;
        }

        @include breakpoint(mobile_portrait) {
            padding: 2rem 0 3rem;
            width: 100%;
        }

        h1 {
            @extend %h1;
            margin: 0 0 2rem 0;
            padding: 0px;
            color: $drak-gray;

            @include breakpoint(mobile_landscape) {
                font-size: 1.8rem;
                br{
                    display: none;
                }
            }

            span {
                display: block;
                color: $white;
                @include breakpoint(mobile_landscape) {
                    br{
                        display: none;
                    }
                }
            }
        }

        .secondary-btn {
            &:hover {
                border: 1px $white solid;
                background: $white;
                color: $secondary-color;
            }
        }
    }

    .home-page-slider-img {
        width: 55%;
        margin-left: auto;
        overflow: hidden;
        border-radius: 30px;
        margin-bottom: -4rem;

        @include breakpoint(desktop-sm) {
            margin-bottom: -2rem;
        }

        @include breakpoint(ipad_landscape) {
            margin-bottom: -2rem;
        }

        @include breakpoint(ipad_portrait) {
            margin-bottom: -2rem;
            width: 50%;
        }

        @include breakpoint(mobile_landscape) {
            width: 100%;
            margin-bottom: 0px;
        }

        @include breakpoint(mobile_portrait) {
            width: 100%;
            margin-bottom: 0px;
        }

        picture {
            margin: 0px;
            padding: 0px;

            img {
                width: 100%;
                height: auto;
                display: block;
                @media (min-width: 1025px) and (max-width: 1550px) {
                    max-width: inherit;
                    width: auto;
                    height: 550px;
                    margin-left: -5rem;
                }
        
                @include breakpoint(ipad_landscape) {
                    max-width: inherit;
                    width: auto;
                    height: 500px;
                    margin-left: -10rem;
                }
        
                @media (min-width: 781px) and (max-width: 991px) {
                    max-width: inherit;
                    width: auto;
                    height: 400px;
                    margin-left: -2rem;
                }
                @media (min-width: 768px) and (max-width: 780px) {
                    max-width: inherit;
                    width: auto;
                    height: 400px;
                    margin-left: -7rem;
                  }
                @include breakpoint(mobile) {
                    border-radius: 0px;
                    width: 100%;
                    margin-left: 0;
                }

              
            }
        }
    }
}

.main-container{
    overflow-x: hidden;
}