// .hero-banner-section {
//     position: relative;
//     .hero-banner-img {
//         width: 70%;
//         margin-left: auto;
//         position: relative;
//         overflow: hidden;
//         border-radius: 30px 0 0 30px;
//         @include breakpoint(mobile) {
//             width: 100%;
//             margin-left: 0;
//             border-radius: 0px;
//         }

//         picture {
//             margin: 0px;
//             padding: 0px;
//             img {
//                 width: 100%;
//                 display: block;
//                 @include breakpoint(desktop){
//                     width: auto;
//                     height: 630px;
//                 }
//                 @include breakpoint(desktop-md){
//                     width: auto;
//                     height: 630px;
//                 }
//                 @include breakpoint(desktop-sm){
//                     width: auto;
//                     height: 630px;
//                     margin-left: -20%;
//                 }
//                 @include breakpoint(ipad_landscape){
//                     width: auto;
//                     height: 630px;
//                     margin-left: -40%;
//                 }
//                 @include breakpoint(ipad_portrait){
//                     width: auto;
//                     height: 630px;
//                     margin-left: -51%;
//                 }
//                 @include breakpoint(mobile) {
//                     border-radius: 0px;
//                 }
//             }
//         }
//     }
//     .hero-banner-content {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         top: 0px;
//         left: 0px;
//         display: flex;
//         align-items: center;
//         z-index: 1;
//         @include breakpoint(mobile) {
//             position: relative;
//         }
//         .hero-banner-content-in {
//             position: relative;
//             width: 100%;
//             &::after {
//                 width: 50%;
//                 content: "";
//                 position: absolute;
//                 height: 100%;
//                 background: $primary-color;
//                 mix-blend-mode: multiply;
//                 left: 0px;
//                 top: 0;
//                 border-radius: 0px 30px 30px 0;
//                 opacity: 0.9;
//                 @include breakpoint(ipad_portrait){
//                     width: 68%;
//                 }
//                 @include breakpoint(mobile) {
//                     width: 100%;
//                     border-radius: 0;
//                     opacity: 1;
//                 }
//             }
//             .container {
//                 position: relative;
//                 z-index: 1;
//                 .hero-banner--txt {
//                     padding: 4rem 3rem 5rem 0;
//                     width: 50%;
//                     color: $white;
//                     @include breakpoint(ipad_portrait){
//                         width: 68%;
//                     }
//                     @include breakpoint(mobile) {
//                         padding: 3rem 0.5rem;
//                         width: 100%;
//                     }
//                     h1 {
//                         margin: 0 0 1rem;
//                         padding: 0;
//                     }
//                     .desc--box {
//                         font-size: 3rem;
//                         margin-bottom: 4.5rem;
//                         @include breakpoint(desktop){
//                             font-size: (2.4rem);
//                             margin-bottom: 3.5rem;
//                         }
//                         @include breakpoint(desktop-md){
//                             font-size: (2.4rem);
//                             margin-bottom: 3.5rem;
//                         }
//                         @include breakpoint(desktop-sm){
//                             font-size: (2.4rem);
//                             margin-bottom: 3.5rem;
//                         }
//                         @include breakpoint(ipad_landscape){
//                             font-size: (2.2rem);
//                             margin-bottom: 3.5rem;
//                         }
//                         @include breakpoint(ipad_portrait){
//                             font-size: (2.2rem);
//                             margin-bottom: 3.5rem;
//                         }
//                         @include breakpoint(mobile) {
//                             font-size: 1.6rem;
//                         }
//                         p {
//                             line-height: 3.5rem;
//                             @include breakpoint(desktop){
//                                 line-height: 3rem;
//                             }
//                             @include breakpoint(desktop-md){
//                                 line-height: 3rem;
//                             }
//                             @include breakpoint(desktop-sm){
//                                 line-height: 3rem;
//                             }
//                             @include breakpoint(ipad_landscape){
//                                 line-height: 3rem;
//                             }
//                             @include breakpoint(ipad_portrait){
//                                 line-height: 3rem;
//                             }
//                             @include breakpoint(mobile) {
//                                 line-height: 2rem;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }


.home-hero-section {
    position: relative;
    .home-hero-outer {
        padding: 0px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0px;
        @include breakpoint(mobile_portrait) {
            position: relative;
            background: $primary-color;
        }
        .home-hero-container {
            position: relative;
            &::after {
                width: 66%;
                content: "";
                position: absolute;
                height: 100%;
                background: $primary-color;
                mix-blend-mode: multiply;
                left: -18%;
                top: 0;
                border-radius: 0px 30px 30px 0;
                @include breakpoint(ipad_landscape){
                    width: 72%; 
                }
                @include breakpoint(ipad_portrait){
                    width: 85%; 
                }
                @include breakpoint(mobile_portrait) {
                    display: none;
                }
            }
            .home-hero-content {
                position: relative;
                z-index: 1;
                padding: 3rem 3rem 3rem 6rem;
                width: 50%;
                @include breakpoint(ipad_landscape){
                    width: 60%; 
                    padding: 3rem 3rem 3rem 4rem;
                }
                @include breakpoint(ipad_portrait){
                    width:68%; 
                    padding: 3rem 3rem 3rem 2rem;
                }
                @include breakpoint(mobile_landscape){
                    padding: 3rem 3rem 3rem 0rem;
                    width: 56%;
                }
                @include breakpoint(mobile_portrait) {
                    width: 100%;
                    padding: 2rem 1rem 3rem 1rem;
                }
                h1 {
                    margin: 0 0 1rem;
                    padding: 0;
                    color: $white;
                }
                .desc--box {
                    margin-bottom: 3.5rem;
                    color: $white;
                    p {
                        @extend %sub-hero-size;
                       
                    }
                }
            }
        }
    }
    .home-hero-img {
        width: 64%;
        margin-left: auto;
        overflow: hidden;
        border-radius: 30px 0px 0px 30px;
        @include breakpoint(mobile_portrait) {
            width: 100%;
            border-radius:0px;
        }
        picture {
            margin: 0px;
            padding: 0px;
            img {
                width: 100%;
                display: block;
                @include breakpoint(desktop){
                    width: auto;
                    height: 630px;
                    margin-left: -20%;
                }
                @include breakpoint(desktop-md){
                    width: auto;
                    height: 630px;
                    margin-left: -20%;
                }
                @include breakpoint(desktop-sm){
                    width: auto;
                    height: 630px;
                    margin-left: -20%;
                }
                @include breakpoint(ipad_landscape){
                    width: auto;
                    height: 630px;
                    margin-left: -40%;
                }
                @include breakpoint(ipad_portrait){
                    width: auto;
                    height: 630px;
                    margin-left: -51%;
                }
                @include breakpoint(mobile_landscape){
                    width: auto;
                    display: block;
                    height: 422px;
                    margin-left: -39%;
                }
                @include breakpoint(mobile_portrait) {
                    border-radius: 0px;
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
}
