.hero-section {
    position: relative;
    padding: 0px;
    background-color: $primary-color;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4rem;
        left: 0px;
        top: 0rem;
        background-color: $white;

        @include breakpoint(desktop-sm) {
            height: 2rem;
        }

        @include breakpoint(ipad_landscape) {
            height: 2rem;
        }

        @include breakpoint(ipad_portrait) {
            height: 2rem;
        }

        @include breakpoint(mobile_landscape) {
            height: 2rem;
        }

        @include breakpoint(mobile_portrait) {
            height: 2rem;
        }

    }

    .container-lg {
        position: relative;
        z-index: 1;
    }

    .custom-row {
        flex-direction: row-reverse;
        align-items: center;
        @include breakpoint(mobile_landscape) {
            flex-direction: row;
        }
        @include breakpoint(mobile_portrait) {
            flex-direction: row;
        }
    }

    .hero-content-section {
        width: 45%;
        padding-right: 5%;
        padding-left: 10%;
        padding-top: 3%;

        @include breakpoint(desktop) {
            padding-left: 6%;
        }

        @include breakpoint(desktop-md) {
            padding-left: 6%;
        }

        @media (min-width: 1300px) and (max-width: 1340px) {
            padding-left: 2%;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        @include breakpoint(desktop-sm) {
            padding-left: 0%;
            padding-right: 3%;
        }

        @include breakpoint(ipad_landscape) {
            padding-left: 0%;
            padding-right: 3%;
        }

        @include breakpoint(ipad_portrait) {
            padding-left: 0%;
            padding-right: 3%;
            width: 50%;
        }

        @include breakpoint(mobile_landscape) {
            padding: 2rem 0 3rem;
            width: 100%;
        }

        @include breakpoint(mobile_portrait) {
            padding: 2rem 0 3rem;
            width: 100%;
        }

        h1 {
            @extend %h1;
            margin: 0 0 2rem 0;
            padding: 0px;
            color: $drak-gray;

            @include breakpoint(mobile_landscape) {
                font-size: 1.8rem;
                br{
                    display: none;
                }
            }

            span {
                display: block;
                color: $white;
                @include breakpoint(mobile_landscape) {
                    br{
                        display: none;
                    }
                }
            }
        }

        .secondary-btn {
            &:hover {
                border: 1px $white solid;
                background: $white;
                color: $secondary-color;
            }
        }

    }

    .hero-image-section {
        width: 55%;
        margin-bottom: -4rem;

        @include breakpoint(desktop-sm) {
            margin-bottom: -2rem;
        }

        @include breakpoint(ipad_landscape) {
            margin-bottom: -2rem;
        }

        @include breakpoint(ipad_portrait) {
            margin-bottom: -2rem;
            width: 50%;
        }

        @include breakpoint(mobile_landscape) {
            width: 100%;
            margin-bottom: 0px;
        }

        @include breakpoint(mobile_portrait) {
            width: 100%;
            margin-bottom: 0px;
        }

        .hero-image-item {
            width: 100%;
            overflow: hidden;
            border-radius: 30px 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
                max-height: 100%;
                display: block;
                border-radius: 30px 30px;
            }
        }

        .slick-dots {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            margin: 2rem 0 0 0;
            padding: 0px;

            li {
                margin: 0 0 0 10px;
                padding: 0px;

                button {
                    background: $drak-gray;
                    cursor: pointer;
                    border: 1px $white solid;
                    border-radius: 80px;
                    text-indent: -9999px;
                    display: block;
                    width: 16px;
                    padding: 0;
                    height: 16px;
                }

                &.slick-active button {
                    background: $primary-color;
                }
            }
        }
    }
}

.hero-section.home-hero-section .hero-image-section .hero-image-item {

    img {
        @media (min-width: 1025px) and (max-width: 1550px) {
            max-width: inherit;
            width: auto;
            height: 550px;
            margin-left: -5rem;
        }

        @include breakpoint(ipad_landscape) {
            max-width: inherit;
            width: auto;
            height: 500px;
            margin-left: -6rem;
        }

        @include breakpoint(ipad_portrait) {
            max-width: inherit;
            width: auto;
            height: 400px;
            margin-left: -6rem;
        }

        
    }
}
.hero-section.home-hero-section .hero-content-section{
    @include breakpoint(mobile_landscape) {  
        width: 85%;
        margin: auto;
    }
    h1{
        @include breakpoint(mobile_landscape) {  
            font-size: 2rem;
        }  
    }
}
.hero-section.inner-sub-hero-section{
  .custom-row{
    @include breakpoint(mobile_landscape) {
        flex-direction: row-reverse;
    }
  }
  .hero-image-section{
    @include breakpoint(mobile_landscape) {
        width: 52%;
        margin-bottom: -2rem;
    }
  }
  .hero-content-section{
    @include breakpoint(mobile_landscape) {
        width: 48%;
        padding: 5rem 0 3rem;
    }
  }
}