.image-text-section{
    color: $white;
    position: relative;
    z-index: 1;
    &.full-card-bg-primary{
        background-color: $secondary-color;
    }
    &.full-card-bg-secondary{
        background-color: $primary-color;
    }
    .image-text-section-content{
        @include breakpoint(ipad_air){
            padding-left: 20%;
           padding-right: 20%;
         }
        @include breakpoint(ipad_landscape){
            padding-left: 13%;
           padding-right: 13%;
         }
        @include breakpoint(ipad_portrait){
            padding-left: 6%;
           padding-right: 6%;
         }
        @include breakpoint(mobile_landscape){
           padding-left: 6%;
           padding-right: 6%;
        }
    }
    .image-text-sec-img{
        width: 54%;
        border-radius: 30px;
        overflow: hidden;
        margin-top: -4rem;
        margin-bottom: -4rem;
        display: flex;
        background-size: cover;
        background-position: center;
        min-height: 550px;
        @include breakpoint(ipad_air){
            min-height: 320px;
            width: 100%; 
            margin-top: -2rem;
            margin-bottom: 0rem;
        }
        @include breakpoint(ipad_landscape){
            min-height: 320px;
            width: 100%; 
            margin-top: -2rem;
            margin-bottom: 0rem;
        }
        @include breakpoint(ipad_portrait){
            min-height: 320px;
            width: 100%; 
            margin-top: -2rem;
            margin-bottom: 0rem;
        }
        @include breakpoint(mobile_landscape){
            margin-top: -2rem;
            margin-bottom: 0rem;
            min-height: 263px;
            width: 100%; 
        }
        @include breakpoint(mobile_portrait){
            width: 100%; 
            min-height: 250px;
            margin-top: -2rem;
            margin-bottom: 0rem;
        }
        img{
            width: 100%;
            height: 100%;

        }
    }
    .image-text-sec-content{
        width: 46%;
        padding: 5rem 0rem 5rem 5rem;
        display: flex;
        align-items: center;
        @include breakpoint(ipad_air){
            width: 100%; 
            padding: 3rem 0rem 4rem 0rem;
        }
        @include breakpoint(ipad_landscape){
            width: 100%; 
            padding: 3rem 0rem 4rem 0rem;
        }
        @include breakpoint(ipad_portrait){
            width: 100%; 
            padding: 3rem 0rem;
        }
        @include breakpoint(mobile_landscape){
            width: 100%; 
            padding: 3rem 0rem;
        }
        @include breakpoint(mobile_portrait){
            width: 100%; 
            padding: 3rem 0rem;
        }
        h2{
            margin: 0px;
            padding: 0px;
            
        }
        .desc--box{
            font-weight:700;
            margin-top: 1rem;
            font-family: $secondaryfontfaimly;
           
            p{
                font-size: 1.3rem;
                line-height: 1.8rem;
            }
        }
        .btn-set--left{
            margin-top: 2rem;
        }
    }
    .image-text-section-content-right{
        flex-direction: row-reverse;
        .image-text-sec-content{
            padding: 5rem 5rem 5rem 0rem;
            @include breakpoint(ipad_air){
                width: 100%; 
                padding: 3rem 0rem 4rem 0rem;
            }
            @include breakpoint(ipad_landscape){
                width: 100%; 
                padding: 3rem 0rem 4rem 0rem;
            }
            @include breakpoint(ipad_portrait){
                width: 100%; 
                padding: 3rem 0rem;
            }
            @include breakpoint(mobile_landscape){
                width: 100%; 
                padding: 3rem 0rem;
            }
            @include breakpoint(mobile_portrait){
                width: 100%; 
                padding: 3rem 0rem;
            }
        }
    }
}
.image-text-section-top{
    height: 4rem;
}
.image-text-section-bottom{
    height: 4rem;
    @include breakpoint(ipad_air){
        height: 0px;
    }
    @include breakpoint(ipad_landscape){
        height: 0px;
    }
    @include breakpoint(ipad_portrait){
        height: 0px;
    }
    @include breakpoint(mobile){
        height: 0px;
    }
}

.light-gray-bg{
    .image-text-flex-row .content-card-inner h2{
        color: $drak-gray;
    }
}