.info-image-text-section{
    @extend %main-padding;
    .custom-row{
        align-items: center;
    }
    .info-image-text-image{
        width: 35%;
        text-align: center;
        @include breakpoint(mobile_landscape){
            width: 100%;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
        }
        img{
            width: 85%;
            display: inline-block;
            @include breakpoint(mobile_landscape){
                width: 35%;
            }
            @include breakpoint(mobile_portrait){
                width: 50%;
            } 

        }
    }
    .info-image-text-content{
        width:56%;
        margin-left: auto;
        @include breakpoint(mobile_landscape){
            width: 100%;
            padding-top: 3rem;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
            padding-top: 3rem;
        }
    }
}