.news-list-section {
    padding-top: 8rem;
    padding-bottom: 5rem;
    @include breakpoint(mobile_landscape){
        padding-top: 5rem;
    }
    @include breakpoint(mobile_portrait){
        padding-top: 4rem;
    }
    .news-list-section-content{
        @extend %below-hd;
        @include breakpoint(ipad_portrait){
            padding: 0 3%;
         }
    }
    .section-hd {
        text-align: center;
    }

    .news-box {
        width: 28%;
        margin-right: 8%;
        background-color: $white;
        padding: 0rem 0rem 3rem;
        border-radius: 30px;
        position: relative;
        margin-bottom: 5rem;
        @include breakpoint(desktop-sm) {
            width: 31%;
            margin-right: 3%;
        }
        @include breakpoint(ipad_landscape){
            width: 31%;
            margin-right: 3%;
        }
        @include breakpoint(ipad_portrait){
            width: 47%;
            margin-right: 6%;
            margin-bottom: 4rem;
        }
        @include breakpoint(mobile_landscape){
            width: 47%;
            margin-right: 6%;
            margin-bottom: 4rem;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
            margin-right: 0%;
            margin-bottom: 4rem;
        }

        &:nth-child(3n+3){
            margin-right: 0px;
            @include breakpoint(ipad_portrait){
                margin-right: 6%;
            }
            @include breakpoint(mobile_landscape){
                margin-right: 6%;
            }
        }
        &:nth-child(2n+2){
            @include breakpoint(ipad_portrait){
                margin-right: 0px;
            }
            @include breakpoint(mobile_landscape){
                margin-right: 0px;
            }
        }

        .news-box-image {
            overflow: hidden;
            width: 100%;
            height: 240px;
            border-radius: 30px 30px 0 0;
            @include breakpoint(ipad_landscape){
                height: 220px; 
            }
            @include breakpoint(ipad_portrait){
                height: 213px; 
            }
            @include breakpoint(mobile_landscape){
                height: 184px;
            }
            @include breakpoint(mobile_portrait){
                height: auto;
            }

            a {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                justify-content: center;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .news-box-content {
            padding: 1rem;
            h5 {

                margin: 0px;
                padding: 0px;

                a {
                    color: $primary-color;
                    text-transform: uppercase;
                    font-size: 19px;
                }
            }
            .latest-news-date{
                color: $secondary-color;
                margin-top: 0.5rem;
                display: block;
                
            }

            .desc--box {
                margin-top: 0.5rem;
            }
        }

        .learn-more {
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -19px;
            text-align: center;

            a {
                display: inline-block;
            }
        }
    }
}