.hd-with-des {
    text-align: center;

    h2 {
        margin: 0px;
        padding: 0px;
        color: $drak-gray;
    }

    .desc--box {
        margin-top: 1rem;
    }
}

.main-pg-hd-section {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 37%;
        left: 0px;
        top: 0px;
        background-color: $primary-color;
        @include breakpoint(ipad_portrait){
            height: 43%;
        }
        @include breakpoint(mobile_portrait){
            height: 43%;
        }
    }

    .inner-banner-sm-hd {
        text-align: center;
        position: relative;
        z-index: 1;
        padding: 5.5rem 0 3.5rem;
        @include breakpoint(ipad_portrait){
            padding: 4.5rem 0 3.0rem;
        }
        @include breakpoint(mobile_landscape){
            padding: 2.5rem 0 1.5rem;
        }

        @include breakpoint(mobile_portrait){
            padding: 2.5rem 0 1.5rem;
        }

        h1 {
            margin: 0px;
            padding: 0px;
            color: $white;
        }
    }

    .inner-banner-sm-img {
        position: relative;
        z-index: 1;

        img {
            display: block;
            width: 100%;
            border-radius: 20px;
        }
    }


}

.short-content-section {
    @extend %main-padding;

    h2 {
        margin: 0px;
        padding: 0px;
        color: $drak-gray;
    }
}


.section-hd {
    h2 {
        margin: 0px;
        padding: 0px;
        color: $drak-gray;
    }

    .desc--box {
        margin-top: 1rem;
        
    }

    &:empty {
        padding-bottom: 0px;
    }
}
.secondary-bg,
.primary-bg
{
    .section-hd {
        h2{
            color: $white;
        }
    }
}
.primary-bg{
    h1, h2, h3, h5, h6{
        color: $white;
    }
    .desc--box p a{
        color: $secondary-color;
    }
}

.parallax-window{
    min-height: 650px;
    background: transparent;
        @include breakpoint(ipad_landscape) {
            min-height: 450px;
        }
        @include breakpoint(ipad_portrait) {
            min-height: 400px;
        }
        @include breakpoint(mobile) {
            min-height: 350px;
        }  
}
// .e-with-fixed-bg {
//     width: 100%;
//     height: 650px;
//     position: relative;
//     @include breakpoint(ipad_landscape) {
//         height: 450px;
//     }
//     @include breakpoint(ipad_portrait) {
//         height: 400px;
//     }
//     @include breakpoint(mobile) {
//         height: 350px;
//     }

//     .bg-wrap {
//         clip: rect(0, auto, auto, 0);
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;

//         .bg {
//             position: fixed;
//             display: block;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             background-size: cover;
//             background-position: center center;
//             transform: translateZ(0);
//             will-change: transform;
//         }
//     }


// }

.article-section {
    @extend %main-padding;
}

.history-section {
    padding-top: 8rem;
    padding-bottom: 5rem;

    h3 {
        color: $primary-color;
        margin: 0.5rem 0 0 0;
        padding: 0px;
    }
}

.hero-section.inner-sub-hero-section {
    background-color: $drak-gray;

    h1 {
        margin: 0px;
        padding: 0px;
        color: $primary-color;
    }
    @include breakpoint(ipad_portrait){
        .hero-image-section{
            width: 59%;
        }
        .hero-content-section{
            width: 41%;
        }
    }
}
.short-content-section{
    .section-hd{
        padding-bottom: 1rem;
    }
}

.company-directory{
    .short-content-section{
        padding-bottom: 0px;
      
    }
    .find-out-section{
        margin-top: 6rem;
        @include breakpoint(ipad_portrait){
            margin-top: 3rem;
        }
        @include breakpoint(mobile){
            margin-top: 3rem;
        }
    }
}

.white-bg{
    .section-hd{
        h2{
            color: $drak-gray;
        }
    }
}

.our-values{
    .download-section{
        .image-text-flex-row{
            align-items: center;
            padding-left: 0px;
            padding-right: 0;
            .image-card{
                @include breakpoint(ipad_landscape){
                    width: 40%;
                }
               
                img{
                    margin: auto;
                    width: auto;
                    max-width: 100%;
                }
            }
            .content-card{
                @include breakpoint(ipad_landscape){
                    width: 60%;
                }  
            }
            .content-card-inner.download-btn-yes{
                padding-bottom: 6rem;
                @include breakpoint(ipad_landscape){
                    padding-bottom: 5rem;
                } 
            }  
        }  
    }
   
}

.page-template-default{
    .short-content-section{
        @include breakpoint(mobile_landscape){
            padding-top: 5rem;
        }
       
    }
}

.company-directory{
    @include breakpoint(ipad_portrait){
        .container-sm {
            width: calc(100% - 4rem);
        }
        .monument-park-section{
            .col-sm-6{
                &:nth-child(1){
                    padding-right: 1rem;
                }
            }
        }
    }
}

.news-list-section{
    @include breakpoint(ipad_landscape){
        .container-md {
            width: calc(100% - 6rem);
        }
    }
}
