.supporting-text-section{
    @extend %main-padding;
    .supporting-text-section-content{
        margin-top: 2rem;
        .supporting-text-box{
            width: 20%;
            margin-right: 5%;
            margin-bottom: 5%;
            @include breakpoint(mobile_landscape){
                width: 45.5%;
                margin-right: 5%;
            }
            @include breakpoint(mobile_portrait){
                width: 100%;
                margin-right: 0px;
            }
            &:nth-child(2n+2){
                @include breakpoint(mobile_landscape){
                    margin-right: 0;
                }
            }
            &:nth-child(4n+4){
                margin-right: 0px;
                @include breakpoint(mobile_landscape){
                    margin-right: 5%;
                }
            }
            .supporting-icon{
                width: 100%;
                a{
                    display: block;
                }
                img{
                    display: block;
                    width: 100%;
                }
            }
            h4{
                margin: 1rem 0 0 0;
                padding: 0px;
                font-size: 1rem;
                color: $primary-color;
            }
            .desc--box{
                margin-top: 0.8rem;
            }
        }
    }
}