.testimonials-section{
    @extend %main-padding;
    .testimonials-section-content{
        margin: auto;
        strong{
            font-family: $secondaryfontfaimly;
            font-weight: 700;
            color: $drak-gray;
            font-size: 1.5rem;
            text-align: center;
            display: inline-block;
            font-style: italic;
            line-height: 2.1rem;
        }
        i{
            display: block;
            text-align: center;
            font-size: 16px;
            margin-top: 1rem;
            color: $drak-gray;
        }
    }
}