.why-Jennings-section{
    @extend %main-padding;
    h2{
        @extend %h2;
        margin: 0 0 3rem 0;
        padding: 0px;
        color: $drak-gray;
        text-align: center;
    }
    .why-Jennings-section-content{
        padding: 0 2rem;
        @include breakpoint(mobile_portrait){
            padding: 0rem;
        }
    }
    .why-Jennings-box{
        width: 28%;
        margin-right: 8%;
        background-color: $white;
        padding: 1.5rem 1.5rem 3rem;
        border-radius: 30px;
        position: relative;
        margin-bottom: 4rem;
        @include breakpoint(ipad_portrait){
            width: 30%;
            margin-right: 5%;
        }
        @include breakpoint(mobile_landscape){
            width: 45%;
            margin-right: 10%;
        }
        @include breakpoint(mobile_portrait){
            width: 100%;
            margin-right: 0%;
        }
        &:nth-child(3n+3){
            margin-right: 0px;
            @include breakpoint(mobile_landscape){
                margin-right: 10%;
            }
        }
        &:nth-child(2n+2){
            @include breakpoint(mobile_landscape){
                margin-right: 0px;
            }
        }
        .why-Jennings-icon{
            
            a{
                display: flex;
                align-items: center;
                width: 100%;
                height: 150px;
                justify-content: center;
            }
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }
        .why-Jennings-content{
            text-align: center;
            margin-top: 1rem;
            h5{
                color: $primary-color;
                margin: 0px;
                padding: 0px;
                text-transform: uppercase;
                font-size: 1rem;
            }  
            .desc--box{
                margin-top: 0.5rem;
            }
        }
        .why-Jennings-btn{
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -19px;
            text-align: center;
            a{
                display: inline-block;
            }
        }
    }
}