/* --- Include setup file --- */
@import 'setup';

// --------------------------------
//					   		OVERLAY
// --------------------------------

.freeze {
	overflow:hidden;
}

.overlay-wrapper {
	display:none; 
	position:fixed; 
	height:100%; 
	width:100%; 
	top:0; 
	left:0;
	background-color:rgba(0,0,0,0.6); 
	z-index:9999; 
	text-align:center; 
	cursor:pointer;
}

.insert {
	background:#fff; 
	cursor:default; 
	position:relative; 
	display:inline-block; 
	width:auto;
	max-width:95%;
	height:auto; 
	text-align:left; 
	padding:30px;

	@include media('<=small'){
		padding:15px;

		.close {
			right:15px;
			top:15px;
		}
	}
}