{% set title = node.getTitle() %}

{% if teaser %}

<div class="teaser teaser--category clearfix">

	<h3 class="main--title"><a href="{{url}}" title="{{title}}">{{title}}</a></h3>

	<a href="{{url}}" title="{{title}}" class="thumb">

		{% if content.field_teaser_image[0] is not empty %}
		{{ content.field_teaser_image }}
		{% else %}
		{{ content.field_image }}
		{% endif %}
	</a>

	<div class="content">

		<h3><a href="{{url}}" title="{{title}}">{{title}}</a></h3>

		<div class="content--info">
			{% if content.field_teaser_copy %}
			{{ content.field_teaser_copy }}
			{% endif %}
		</div>

		<a href="{{url}}" title="{{title}}" class="button">see range</a>

	</div>

</div>

{% else %}

<div class="intro trade">
	<div class="row">
		<div class="large-8 large-centered columns">
			<h1>{{title}}</h1>
		</div>
	</div>
</div>

<div class="white">
	<div class="row">
		<div class="large-8 large-centered columns model">

			<div class="row">
				<div class="large-7 columns">

					{{ content.body}}

					{% if content.field_benefits[0] is not empty %}
					<div class="info">
						<h3>Benefits:</h3>
						{{ content.field_benefits}}
					</div>
					{% endif %}

					{% if content.field_features[0] is not empty %}
					<div class="info">
						<h3>Features:</h3>
						{{ content.field_features}}
					</div>
					{% endif %}

				</div>

				<div class="large-5 columns">

					{% if content.field_image %}
					{{ content.field_image}}
					{% endif %}

					{% if content.field_guarantee_available_[0]['#markup'] %}
					<span class="guarantee"></span>
					{% endif %}
					{% if content.field_5_year_guarantee[0]['#markup'] %}
					<span class="guarantee five"></span>
					{% endif %}

				</div>
			</div>

		</div>
	</div>
	{% if content.field_additional_copy_title[0] is not empty or content.field_additional_copy[0] is not empty %}
	<div class="additional-copy">
		<div class="row">
			<div class="large-8 columns large-centered">

				{% if content.field_additional_copy_title[0] is not empty %}
				<h3>{{ content.field_additional_copy_title}}</h3>
				{% endif %}

				{% if content.field_additional_copy[0] is not empty %}
				{{ content.field_additional_copy}}
				{% endif %}

			</div>
		</div>
	</div>
	{% endif %}
</div>

{% if content.field_downloads[0] is not empty %}
<div class="grey additional-downloads">
	<div class="row">
		<div class="large-8 large-centered columns">

			{% if content.field_downloads_title[0] is not empty %}
			<h3>{{ content.field_downloads_title}}</h3>
			{% endif %}

			<div class="additional-downloads__files">
				{{ content.field_downloads}}
			</div>
		</div>
	</div>
</div>
{% endif %}

{% if content.field_models_title[0] is not empty %}
<div class="grey model-title">
	<div class="row">
		<div class="large-10 large-centered columns">
			<h2>{{ content.field_models_title}}</h2>
		</div>
	</div>
</div>
{% endif %}

{% if content.field_variants[0] is not empty %}
<div class="grey models">
	<div{{ attributes.addClass('row') }}>
		<div class="large-10 large-centered columns">
			{{ content.field_variants}}
		</div>
</div>
</div>
{% endif %}

{% if content.field_er_category[0] is not empty %}
{{ content.field_er_category}}
{% endif %}

{{ attach_library('jstar/product') }}

{% endif %}