{% set title = node.getTitle() %}

{% if teaser %}

	<a href="{{url}}" title="{{title}}" class="thumb">
		{% if content.field_thumbnail %} 
			{{ content.field_thumbnail }}
		{% endif %}
	</a>

	<h3>{{title}}</h3>

	{% if contentbody %} 
		{{ content.body}}
	{% endif %}

	<a href="{{url}}" title="Read more" class="button">read more</a>

{% else %}

	<div class="intro trade row">
		<div class="large-8 large-centered columns">
			<h1>{{title}}</h1>
		</div>
	</div>

	<div class="row">
		<div class="large-6 large-centered columns">

			{% if content.body %} 
				{{ content.body}}
			{% endif %}

			{% if content.field_image %} 
				<div class="image">
					{{ content.field_image}}

					{% if content.field_image.title %} 
						<figcaption>
							{{ content.field_image.title}}
						</figcaption>
					{% endif %}
				</div>
			{% endif %}

			{% if content.field_extra_copy %} 
				{{ content.field_extra_copy}}
			{% endif %}

		</div>
	</div>

	<a href="/trade/latest-news" title="Back to latest news" class="bar-btn">< back to latest news</a>

{% endif %}