{% set title = node.getTitle() %}
{% if content.field_image[0] is not empty  %}
<div class="intro page page-with-image support-page">

	{% if content.field_image %}
	<div id="js-banner" class="banner matchheight">
		{{ content.field_image }}
	</div>
	{% endif %}

	<div class="matchheight">
		<div class="content">
			<div class="row">
				<div class="large-8 large-centered columns">

					<h1>{{title}}</h1>

				</div>
			</div>

			<div class="row">
				<div class="large-3 columns">
					&nbsp;
				</div>
				<div class="large-4 columns">

					{% if content.body %}
					{{ content.body}}
					{% endif %}

				</div>
				<div class="large-5 columns to-hide">
					&nbsp;
				</div>
			</div>
		</div>
	</div>

</div>


{% endif %}