{% set title = node.getTitle()%}
{% if teaser %}

	<a href="{{url}}" title="{{title}}" class="thumb notch">
		{% if content.field_thumbnail %}
			{{ content.field_thumbnail }}

		{% endif %}

		<aside></aside>
	</a>

	<a href="{{url}}" title="{{title}}" class="button">{{title}}</a>

{% else %}

	<div class="intro trade">
		<div class="row">
			<div class="large-10 large-centered columns">
				<h1>{{title}}</h1>
			</div>
		</div>
	</div>

	{% if content.body %}
		<div class="white">
			<div class="row">
				<div class="large-6 large-centered columns">
					{{ content.body}}
				</div>
			</div>
		</div>
	{% endif %}
{% endif %}
