{% set title = node.getTitle() %}

<!-- news -->
{% if teaser %}

<a href="{{url}}" title="{{title}}" class="thumb notch">
	{% if content.field_thumbnail %}
	{{ content.field_thumbnail }}
	{% endif %}

	<aside></aside>
</a>

<a href="{{url}}" title="{{title}}" class="button">
	{{ title}}
</a>

{% else %}

{% if content.field_image %}
<div class="bottom-image hide-desk">
	{{content.field_image}}
</div>
{% endif %}

<div class="intro trade">
	<div class="row">
		<div class="large-8 large-centered columns">
			<h1>{{ title}}</h1>
		</div>
	</div>
</div>

{% if content.body[0] is not empty %}
<div class="white">
	<div class="row">
		<div class="large-6 large-centered columns">
			{{content.body}}
		</div>
	</div>
</div>
{% endif %}

{% if content.field_extra_copy[0] is not empty %}
<div class="grey">
	<div class="row">
		<div class="large-6 large-centered columns">
			{{ content.field_extra_copy}}
		</div>
	</div>
</div>
{% endif %}

{% endif %}