<div class="intro contact">

	{% if content.field_image %}
	<div class="banner big">
		{{ content.field_image}}
	</div>
	{% endif %}

	{% if content.field_tagline %}
	<div class="row">
		<div class="large-12 columns row-tag">
			<div class="tag">
				{{ content.field_tagline}}
			</div>
		</div>
	</div>
	{% endif %}

</div>

<div class="red contact-info">
	<div class="row">
		<div class="large-8 large-centered columns">

			<div class="content">

				<h1>{{title}}</h1>

				{% if content.body %}
				{{ content.body }}
				{% endif %}

			</div>

			{% if content.field_map_image %}
			<div class="map">
				{% if content.field_map_link %}
				<a href="{{ content.field_map_link[0]['#url'] }}" title="Open in Google maps" target="_blank">
					{% endif %}

					{{ content.field_map_image}}

					{% if content.field_map_link %}
				</a>
				{% endif %}
			</div>
			{% endif %}

		</div>
	</div>
</div>

{% if content.webform %}
<div class="grey form">
	<div class="row">
		<div class="large-6 large-centered columns">
			{{ content.webform}}
		</div>
	</div>
</div>
{% endif %}