<!-- downloads -->
{% if teaser %}

<a href="<?php print $node_url; ?>" title="<?php print $title; ?>" class="thumb notch">
	{% if content.field_thumbnail %}
	{{ content.field_thumbnail }}
	{% endif %}

	<aside></aside>
</a>

<a href="<?php print $node_url; ?>" title="<?php print $title; ?>" class="button">
	<?php print $title; ?>
</a>

{% else %}

<div class="intro trade">
	<div class="row">
		<div class="large-8 large-centered columns">
			<h1>{{ title}}</h1>
		</div>
	</div>
</div>

{% if content.body %}
<div class="white">
	<div class="row">
		<div class="large-6 large-centered columns">
			{{content.body}}
		</div>
	</div>
</div>
{% endif %}

{% if content.field_extra_copy %}
<div class="grey">
	<div class="row">
		<div class="large-6 large-centered columns">
			{{ content.field_extra_copy}}
		</div>
	</div>
</div>
{% endif %}

{% endif %}