{% set title = node.getTitle() %}

<!-- register appl -->
{% if content.field_image[0] is not empty %}
<div class="intro page">

	{% if content.field_image %}
	<div id="js-banner" class="banner matchheight">
		{{content.field_image}}
	</div>
	{% endif %}

	<div class="matchheight">
		<div class="content">
			<div class="row">
				<div class="large-8 large-centered columns">

					<h1>{{ title}}</h1>

				</div>
			</div>

			<div class="row">
				<div class="large-3 columns">
					&nbsp;
				</div>
				<div class="large-4 columns">

					{% if content.body %}
					{{content.body}}
					{% endif %}

				</div>
				<div class="large-5 columns">
					&nbsp;
				</div>
			</div>
		</div>
	</div>

</div>

{% else %}
<div class="intro trade">
	<div class="row">
		<div class="large-8 large-centered columns">
			<h1>{{ title}}</h1>
		</div>
	</div>
</div>

{% if content.body %}
<div class="white register-intro">
	<div class="row">
		<div class="large-6 large-centered columns">
			{{content.body}}
		</div>
	</div>
</div>
{% endif %}

{% endif %}

{% if content.field_extra_copy %}
<div class="grey">
	<div class="row">
		<div class="large-6 large-centered columns">
			{{content.field_extra_copy}}
		</div>
	</div>
</div>
{% endif %}

{% if content.webform %}
<div class="grey form">
	<div class="row">
		<div class="large-6 large-centered columns">
			{{content.webform}}
		</div>
	</div>
</div>
{% endif %}

{% if content.field_bottom_image %}
{{content.field_bottom_image}}
{% endif %}

{% if content.field_cta %}
{{content.field_cta}}
{% endif %}