{% set title = node.getTitle() %}

{% if teaser %}

	<a href="{{url}}" title="{{title}}" class="thumb notch">
		{% if content.field_thumbnail %}
			{{ content.field_thumbnail }}
		{% endif %}

		<aside></aside>
	</a>

	<a href="{{url}}" title="{{title}}" class="button">{{title}}</a>

{% else %}

	{% if content.field_image %}
		<div class="bottom-image hide-desk">
			{{ content.field_image }}
		</div>
	{% endif %}

	<div class="intro trade">
		<div class="row">
			<div class="large-8 large-centered columns">
				<h1>{{title}}</h1>
			</div>
		</div>
	</div>

	{% if content.body[0] is not empty %}
		<div class="white">
			<div class="row">
				<div class="large-6 large-centered columns">
					{{ content.body }}
				</div>
			</div>
		</div>
	{% endif %}

	{% if content.field_text_images[0] is not empty %}
		<div class="white field_text_images">
			<div class="row">
				{{ content.field_text_images}}
			</div>
		</div>
	{% endif %}


	{% if content.field_content_row[0] is not empty %}
		<div class="white field_content_row">
			<div class="row">
				{{ content.field_content_row}}
			</div>
		</div>
	{% endif %}

	{% if content.field_content_with_background[0] is not empty %}
		<div class="white field_content_with_background">
			<div class="bg-row">
				{{ content.field_content_with_background}}
			</div>
		</div>
	{% endif %}

	{% if content.field_extra_copy[0] is not empty %}
		<div class="grey">
			<div class="row">
				<div class="large-6 large-centered columns">
					{{ content.field_extra_copy }}
				</div>
			</div>
		</div>
	{% endif %}


	{% if content.webform[0] is not empty %}
		<div class="grey form">
			<div class="row">
				<div class="large-6 large-centered columns">
					{{ content.webform}}
				</div>
			</div>
		</div>
	{% endif %}


	{% if content.field_cta[0] is not empty and content.field_image[0] is not empty %}
		{{ content.field_cta }}
	{% endif %}

	{% if content.field_image[0] is not empty %}
		<div class="bottom-image hide-mob">
			{{ content.field_image }}
		</div>
	{% endif %}

{% endif %}
