.btn-set--left {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.btn-set--center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-set--right {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;

}

.primary-btn,
.secondary-btn,
.primary-outline-btn,
.secondary-outline-btn,
.white-btn,
.wpcf7-submit,
.white-outline-btn {
    padding: 1rem 1.2rem;
    font-size: $btn-font-size-base;
    display: block;
    @include border-radius(0);
    text-align: center;
    color: $secondary-color;
    font-weight: 600;
}


.primary-btn {
    background-color: $primary-color;
    color: $white;
    border: 1px $primary-color solid;

    &:hover {
        background-color: $secondary-color;
        color: $white;
        border: 1px $secondary-color solid;
    }
}

.secondary-btn {
    background-color: $secondary-color;
    color: $white;
    border: 1px $secondary-color solid;

    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 1px $primary-color solid;
    }
}

.white-btn {
    background-color: $white;
    color: $primary-color;
    border: 0px $secondary-color solid;

    &:focus {
        color: $primary-color;
    }

    &:hover {
        background-color: $primary-color;
        color: $white;
        border: 0px $primary-color solid;
    }
}

.primary-outline-btn {
    color: $secondary-color;
    border: 1px $primary-color solid;
    display: flex;
    align-items: center;
    background-color: transparent;

    i {
        background: url("#{$assetIconsPath}/arrow-right-green.svg") no-repeat center center;
        background-size: 14px;
        width: 14px;
        height: 17px;
        margin-left: 10px;
    }


    &:hover {
        color: $white;
        border: 1px $primary-color solid;
        background-color: $primary-color;

        i {
            background: url("#{$assetIconsPath}/arrow-right-white.svg") no-repeat center center;
            background-size: 14px;
            background-color: transparent;
            width: 14px;
            height: 17px;
        }
    }
}




.secondary-outline-btn {
    color: $secondary-color;
    border: 1px $secondary-color solid;
    background-color: transparent;

    i {
        background: url("#{$assetIconsPath}/arrow-right-green.svg") no-repeat center center;
        background-size: 14px;
        width: 14px;
        height: 17px;
        margin-left: 10px;
    }

    &:hover {
        background-color: $white;
        color: $white;
        border: 1px $secondary-color solid;

        i {
            background: url("#{$assetIconsPath}/arrow-right-green.svg") no-repeat center center;
            background-size: 14px;
            width: 14px;
            height: 17px;
        }
    }
}



.wpcf7-submit {
    background-color: $primary-color;
    color: $white;
    border: 1px $primary-color solid;

    &:hover {
        background-color: $secondary-color;
        color: $white;
        border: 1px $secondary-color solid;
    }
}

.input-submit {
    .wpcf7-spinner {
        display: none;
    }
}

.secondary-bg {
    .primary-outline-btn {
        color: $white;
    }
}