// This list is main colors

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$black:    #000 !default;
$white:    #fff !default;

$primary-color: #7aa836 ;
$secondary-color: #1c232a ; 
$light-gray: #e9e5e0;

$hd-bg-color:#1c232ab5;

