%h1 {
    font-size: (5rem);
    font-weight: 600;
    @include breakpoint(desktop-sm){
        font-size: (4rem);
    }
    @include breakpoint(ipad){
        font-size: (3.5rem);
    }
    @include breakpoint(mobile_landscape){
        font-size: (3rem);
    }
    @include breakpoint(mobile_portrait){
        font-size: (2.5rem);
    }
}
%h2 {
    font-size: (3rem);
    font-weight: 600;
    @include breakpoint(ipad){
        font-size: (2.5rem);
    }
    @include breakpoint(mobile_landscape){
        font-size: (2.2rem);
    }
    @include breakpoint(mobile_portrait){
        font-size: (2rem);
    }
}
%h3 {
    font-size: (2.5rem);
    font-weight: 600;
    @include breakpoint(ipad){
        font-size: (2.2rem);
    }
    @include breakpoint(mobile_landscape){
        font-size: (2rem);
    }
    @include breakpoint(mobile_portrait){
        font-size: (1.7rem);
    }
}
%h4 {
    font-size: (1.8rem);
    font-weight: 600;
    @include breakpoint(mobile_landscape){
        font-size: (1.5rem);
    }
    @include breakpoint(mobile_portrait){
        font-size: (1.3rem);
    }
}
%h5 {
    font-size: (1.5rem);
    font-weight: 600;
    @include breakpoint(mobile_landscape){
        font-size: (1.2rem);
    }
    @include breakpoint(mobile_portrait){
        font-size: (1rem);
    }
}

%letter-spacing-scss {
    letter-spacing: 0.8px;
}

h1 {
    @extend %h1;
}
h2 {
    @extend %h2;
}
h3 {
    @extend %h3;
}
h4 {
    @extend %h4;
}
h5 {
    @extend %h5;
}
