.email-white-icon{
    background: url("#{$assetIconsPath}/envelope white.svg") no-repeat center center;
    &:hover{
        background: url("#{$assetIconsPath}/envelope black.svg") no-repeat center center;  
    }
}
.telephone-white-icon{
    background: url("#{$assetIconsPath}/phone white.svg") no-repeat center center;
    &:hover{
        background: url("#{$assetIconsPath}/phone black.svg") no-repeat center center;
    }
}