.who-we-are-section{
   padding-top: 6rem;
   @include breakpoint(ipad_portrait){
    padding-top: 3rem;
   }
   @include breakpoint(mobile){
    padding-top: 3rem;
   }
}
.image-text-flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include breakpoint(ipad_air){
        padding-left: 20%;
       padding-right: 20%;
       flex-direction: column-reverse;
    }
    @include breakpoint(ipad_landscape){
        padding-left: 13%;
       padding-right: 13%;
       flex-direction: column-reverse;
     }
    @include breakpoint(ipad_portrait){
        padding-left: 6%;
       padding-right: 6%;
       flex-direction: column-reverse;
     }
    @include breakpoint(mobile_landscape){
       padding-left: 6%;
       padding-right: 6%;
       flex-direction: column-reverse;
    }
    @include breakpoint(mobile){
        margin-bottom: 4rem;
        flex-direction: column-reverse;
    }

    &:last-child {
        margin-bottom: 0px;
    }

    .image-card-50 {
        width: 63%;
        background-size: cover;
        background-position: center;
        @include breakpoint(ipad_air){
            width: 100%;
        }
        @include breakpoint(ipad_landscape){
            width: 100%;
        }
        @include breakpoint(ipad_portrait){
            width: 100%;
        }
        @include breakpoint(mobile){
            width: 100%;
        }
        img{
            width: 100%;
            display: block;
            height: auto;
        }
    }

    .content-card-50 {
        width: 37%;
        padding-left: 3%;
        @include breakpoint(ipad_air){
            width: 100%;
            padding-left: 0%;
            margin-bottom: 3rem;
        }
        @include breakpoint(ipad_landscape){
            width: 100%;
            padding-left: 0%;
            margin-bottom: 3rem;
        }
        @include breakpoint(ipad_portrait){
            width: 100%;
            padding-left: 0%;
            margin-bottom: 3rem;
        }
        @include breakpoint(mobile){
            width: 100%;
            padding-left: 0%;
            margin-bottom: 3rem;
        }
        .section-hd{
            margin: 0px;
        }
        .desc--box{
            margin: 2rem 0;
            min-height: 250px;
            @include breakpoint(ipad_air) {
                min-height: 95px;
            }
            @include breakpoint(ipad_landscape) {
                min-height: 95px;
            }
            @include breakpoint(ipad_portrait) {
                min-height: 95px;
            }
            @include breakpoint(mobile_landscape) {
                min-height: 84px;
            }
            @include breakpoint(mobile_portrait) {
                min-height: 95px;
            }
        }
    }

    .image-card {
        img {
            width: 100%;
            display: block;
            height: auto;
            border-radius: 30px;
        }
    }

    .content-card-inner {
        position: relative;
        height: 100%;
       &.download-btn-yes{
        padding-bottom: 5rem;
       }

        h2 {
            margin: 0px;
            padding: 0px;
        }

        .desc--box {
            margin-top: 1rem;
        }

        .btn-set--left {
            position: absolute;
            bottom: 0px;
            left: 0;
        }
    }

    &.image-text-flex-row-right {
        flex-direction: row-reverse;
        @include breakpoint(ipad_air){
            flex-direction: row-reverse;
        }
        @include breakpoint(ipad_landscape){
            flex-direction: row-reverse;
        }
        @include breakpoint(ipad_portrait){
            flex-direction: row-reverse;
        }
        @include breakpoint(mobile){
            flex-direction: row-reverse;
        }
        .content-card-50 {
            padding-right: 5%;
            padding-left: 0px;
            @include breakpoint(ipad_air){
                padding-right: 0%;
            }
            @include breakpoint(ipad_landscape){
                padding-right: 0%;
            }
            @include breakpoint(ipad_portrait){
                padding-right: 0%;
            }
            @include breakpoint(mobile){
                padding-right: 0%;
            }
        }
    }
}

