@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin width($width: auto) {
  width: $width;
}
@mixin m-p-0 {
  padding: 0px;
  margin: 0px;
}
@mixin ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
@mixin height($height: auto) {
  height: $height;
}
@mixin background($background: auto) {
  background: $background;
}

@mixin margin($top: 0, $right: 0, $bottom: 0, $left: 0) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}
@mixin padding($top: 0, $right: 0, $bottom: 0, $left: 0) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}
@mixin box-shadow($top: 0, $left: 1px, $blur: 2px, $color: $default) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

@mixin size-color($size: 12px, $color: $white) {
  font-size: $size;
  color: $color;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box($width, $height, $background-color, $border, $radius) {
  width: $width;
  height: $height;
  background-color: $background-color;
  border-radius: $radius;
  border: $border;
}

@mixin display-inline($display, $vertical-align) {
  display: $display;
  vertical-align: $vertical-align;
}

@mixin display-flex($display, $align-items, $justify-content, $flex-wrap) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $flex-wrap;
}

@mixin border($width, $color, $type) {
  border-width: $width;
  border-color: $color;
  border-style: $type;
}

%img-gradient-bg{
  background: linear-gradient(to bottom,  rgba(0,0,0,0.68) 0%,rgba(255,255,255,0) 100%);
}

%right-btm-conr{
 
  -webkit-border-radius: 0 0 60px 0;
  -moz-border-radius: 0 0 60px 0;
  -ms-border-radius: 0 0 60px 0;
  border-radius: 0 0 60px 0;
  -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}

%primary-color-haf-brdr{
        background: transparent;
        border-top: 30px $primary-color solid;
        border-right: 30px $primary-color solid;
        position: absolute;
        width: 300px;
        height: 300px;
        right: -30px;
        top: -30px;
        @include breakpoint(desktop-sm){
          border-top: 20px $primary-color solid;
          border-right: 20px $primary-color solid;
          height: 200px;
          width: 200px;
          right: -20px;
          top: -20px;
        }
        @include breakpoint(ipad){
          border-top: 20px $primary-color solid;
          border-right: 20px $primary-color solid;
          height: 200px;
          width: 200px;
          right: -20px;
          top: -20px;
        }
        @include breakpoint(mobile_landscape){
          border-top: 20px $primary-color solid;
          border-right: 20px $primary-color solid;
          height: 150px;
          width: 150px;
          right: -20px;
          top: -20px;
        }
        @include breakpoint(mobile_portrait){
          border-top: 20px $primary-color solid;
          border-right: 20px $primary-color solid;
          height: 200px;
          width: 200px;
          right: -20px;
          top: -20px;
        }
}