a,
button {
  cursor: pointer;
}

// Base Font faimly

$primaryfontfaimly: 'Raleway', sans-serif;

// Base font size



%font-size{
  font-size: 19px;
}


$font-size-input: 1rem;
// Main font size

$mainMenuFont: 1.3rem;
$mainMenuFontMob: 1.1rem;
$mainMenuSubFont: 1rem;
// Footer font size

$footerTxtFont: 1rem;


// Main line height
$line-height: 1.8rem;

// Main padding
$main-pd: 6rem;
$main-pd-md: 4.5rem;
$main-pd-sm: 3rem;

@include breakpoint(mobile){
  $main-pd: 3rem;
}

// Set Image Path
$assetPath: "../img";
$assetIconsPath: "../img/icons";
$fontsPath: "../webfonts";

// Button Font Size

$btn-font-size-base: 0.9rem;

%main-padding {
  padding-top: $main-pd;
    padding-bottom: $main-pd;
    @include breakpoint(ipad_portrait) {
      padding-top: $main-pd-md;
      padding-bottom: $main-pd-md;
    }
    @include breakpoint(mobile) {
        padding-top: $main-pd-sm;
        padding-bottom: $main-pd-sm;
    }
}

%main-padding-btm {
  padding-bottom: $main-pd;
  @include breakpoint(ipad_portrait) {
    padding-bottom: $main-pd-md;
  }
  @include breakpoint(mobile) {
      padding-bottom: $main-pd-sm;
  }
}

%main-padding-top {
  padding-top: $main-pd;
    @include breakpoint(ipad_portrait) {
      padding-top: $main-pd-md;
    }
    @include breakpoint(mobile) {
        padding-top: $main-pd-sm;
    }
}


%base-line-height{
  line-height: 1.7rem;
}

%below-hd{
  margin-top: 3rem !important;
  
}