%hd-1 {
    font-size: (2.4rem);
    @extend %m-color;
    @include breakpoint(mobile){
        font-size: (2rem);
    }

    span {
        @extend %m-span-color;
    }
}

%hd-2 {
    font-size: (2rem);
    @extend %m-color;
    @include breakpoint(mobile){
        font-size: (1.8rem);
    }
    span {
        @extend %m-span-color;
    }
}

%hd-3 {
    font-size: (1.7rem);
    @extend %m-color;
    @include breakpoint(mobile){
        font-size: (1.6rem);
    }
    span {
        @extend %m-span-color;
    }
}

%hd-4 {
    font-size: (1.2rem);
    @extend %m-color;
    @include breakpoint(mobile){
        font-size: (1.3rem);
    }
    span {
        @extend %m-span-color;
    }
}

%hd-5 {
    font-size: (1rem);
    @extend %m-color;
    @include breakpoint(mobile){
        font-size: (1.3rem);
    }
    span {
        @extend %m-span-color;
    }
}

%m-color {
    color: $primary-color;
}

%m-span-color {
    color: $secondary-color;
}

%ul-block {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

%ul-inline {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}