.input-field {
    margin: 2rem 0 0 0;

    label {
        @include text-size-color(16px, $black);
        margin: 0 0 10px 0;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    textarea {
        border: 0px;
        padding: 5px;
        width: 100%;
        border-bottom: 1px $primary-border-color solid;
        @include text-size-color(1.22rem, $primary-text);
        background: transparent;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        -webkit-appearance: none;
        border-radius: 0;
        &:disabled {
            opacity: 0.5;
        }
    }
    textarea {
        height: 100px;
    }
}
