/**
 * ----------------------
 * Un.titled
 * Config - Vars
 * ----------------------
 */

$c-primary: #222222;
$c-secondary: #ffb7a3;
$c-white: #ffffff;

// general purpose variable, should really be renamed but I don't know wtf to call it
$bump: 30px;

$easing: cubic-bezier(0.3, 0.65, 0.72, 0.63);
