
<div class="btn-set--center">
{% if post.prev %}
    <a href="{{ post.prev.link }}" class="primary-btn-arrow">TAKE ME TO NEXT COLLECTION</a>
{% else %}
    <a href="{{ site.link }}/collection/cascade/" class="primary-btn-arrow">TAKE ME TO Frist COLLECTION</a>
{% endif %}

</div>

