{% if post.home_hero_list %}
	<section class="hero-slider-section">
		<div class="hero-page-slider">
			{% for slide in post.get_field('home_hero_list') %}
				{% set last_slide =slide %}
				{% if slide.hero_image %}
					<div class="hero-slider-item">
						<div class="hero-slider-item-img">
							{% if slide.hero_image %}
								<picture>
								   <source media="(min-width:320px) and (max-width:567px)" srcset="{{ TimberImage(slide.hero_image_mobile?slide.hero_image_mobile:slide.hero_image).src('hero-slider-mobile') }}" />
								    <source media="(min-width:768px) and (max-width:1100px)" srcset="{{ TimberImage(slide.hero_image_ipad?slide.hero_image_ipad:slide.hero_image).src('hero-slider-ipad') }}" />
									<img src="{{ TimberImage(slide.hero_image).src('hero-slider') }}" alt="{{ slide.hero_image.alt }}"/>
								</picture>
							{% endif %}
						</div>
						<div class="hero-slider-item-content">
						<div class="hero-slider-item-content-inner">
							<h1>{{slide.hero_title}} </h1>
										{# {{slide.hero_content}} #}
{% if slide.hero_cta%}
									<div class="btn-set--left">
										{% if slide.hero_cta%}
										<a href="{{slide.hero_cta.url}}" class="primary-btn" target="{{slide.hero_cta.target}}">{{slide.hero_cta.title}}</a>
										{% endif %}
										{% if slide.hero_cta_copy%}
										<a href="{{slide.hero_cta_copy.url}}" class="white-btn" target="{{slide.hero_cta_copy.target}}">{{slide.hero_cta_copy.title}}</a>
										{% endif %}
									</div>{% endif %}
						</div>
						</div>

					</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>


	<div id="scroll-to-main"></div>
{% endif %}
