
<footer >
	<div class="container-lg">
		<div class="custom-row">
		    <div class="footer-left">
			  <div class="footer-social-media">
				<ul>
					{% if contact_post.get_field('facebook') %}
						<li>
							<a class="facebook-icon"  href="{{contact_post.get_field('facebook')}}"></a>
						</li>
					{% endif %}
					{% if contact_post.get_field('instagram') %}
						<li>
							<a class="instagram-icon" href="{{contact_post.get_field('instagram')}}"></a>
						</li>
					{% endif %}
					
			
				</ul>
			</div>
			<div class="footer-links">{% include "menu.twig" with {'items': footer_menu_1.get_items} %}</div>
			</div>
			<div class="footer-right">
			  <div class="footer-logo">
				<img src="{{ site.theme.link }}/assets/img/hanks gallery logo grey.svg" alt=""/>
			   </div>
			</div>
			
			
		</div>
	</div>
</footer>
