%h1 {
    font-size: (4rem);
    @include breakpoint(desktop){
        font-size: (4rem);
    }
    @include breakpoint(desktop-sm){
        font-size: (3.1rem);
    }
    @include breakpoint(ipad_landscape){
        font-size: (3rem);
    }
    @include breakpoint(ipad_portrait) {
        font-size: (2.4rem);
    }
    @include breakpoint(mobile) {
        font-size: (2.3rem);
    }
}
%h2 {
    font-size: (2.4rem);
    @include breakpoint(ipad_portrait) {
        font-size: (2rem);
    }
    @include breakpoint(mobile) {
        font-size: (1.8rem);
    }
}
%h3 {
    font-size: (1.4rem);
}
%h4 {
    font-size: (1.1rem);
}
%h5 {
    font-size: (0.8rem);
}

%letter-spacing-scss {
    letter-spacing: 0.8px;
}

h1 {
    @extend %h1;
    font-family: $secondaryfontfaimly;
    font-weight: 400;
}
h2 {
    @extend %h2;
    font-family: $secondaryfontfaimly;
    font-weight: 400;
}
h3 {
    @extend %h3;
    font-family: $secondaryfontfaimly;
    font-weight: 400;
}
h4 {
    @extend %h4;
    font-family: $secondaryfontfaimly;
    font-weight: 400;
}
h5 {
    @extend %h5;
    font-family: $secondaryfontfaimly;
    font-weight: 400;
}
