ul.social-media-icon {
    margin: 0;
    padding: 0px;
    list-style: none;
    display: flex;

    li {
        margin: 0 1rem 0 0;
        padding: 0;

        @include breakpoint(mobile_portrait) {
            margin: 0 0.6rem 0 0;
        }

        &:last-child {
            margin-right: 0px;
        }

        a {
            display: block;
            padding: 0;
            width: 55px;
            height: 55px;
        }

        a.facebook {
            background: url("#{$assetIconsPath}/guud property facebook white-01.svg") no-repeat center center;
            background-size: 100%;

            &:hover {
                background: url("#{$assetIconsPath}/guud property facebook grey-01-01.svg") no-repeat center center;
                background-size: 100%;
            }
        }

        a.instagram {
            background: url("#{$assetIconsPath}/guud property instagram white-01.svg") no-repeat center center;
            background-size: 100%;

            &:hover {
                background: url("#{$assetIconsPath}/guud property instagram grey-01-01.svg") no-repeat center center;
                background-size: 100%;
            }
        }

        a.linkedin {
            background: url("#{$assetIconsPath}/guud property linkedin white-01.svg") no-repeat center center;
            background-size: 100%;

            &:hover {
                background: url("#{$assetIconsPath}/guud property linkedin grey-01-01.svg") no-repeat center center;
                background-size: 100%;
            }
        }

        a.twitter {
            background: url("#{$assetIconsPath}/guud property twitter white-01.svg") no-repeat center center;
            background-size: 100%;

            &:hover {
                background: url("#{$assetIconsPath}/guud property twitter grey-01-01.svg") no-repeat center center;
                background-size: 100%;
            }
        }
    }
}