.hero-slider-section {
    position: relative;
    .overly-logo{
        position: absolute;
        width: 30%;
        height: 104%;
        right: 4rem;
        bottom: -100px;
        z-index: 9;
        display: flex;
        align-items: end;
        @include breakpoint(ipad_landscape){
            right: 2rem;
            bottom: -47px;
        }
        @include breakpoint(ipad_portrait){
            right: 2rem;
            bottom: -47px;
        }
        @include breakpoint(mobile){
            display: none;
        }
        img{
            width: auto;
            height: 100%;
            display: block;
            @include breakpoint(ipad_landscape){
                height: 73%;
            }
            @include breakpoint(ipad_portrait){
                height: 73%;
            }
        }
    }
    .hero-shap {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 180px;
        z-index: 3;
        clip-path: polygon(0 100%, 100% 30%, 100% 100%);
        background-color: $white;

        @include breakpoint(ipad_landscape) {
            height: 130px;
        }

        @include breakpoint(ipad_portrait) {
            height: 110px;
        }

        @include breakpoint(mobile) {
            height: 80px;
        }

        .hero-shap-in {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 499%;
            height: 180px;
            z-index: 3;
            clip-path: polygon(0 0, 100% 30%, 100% 100%);
            background-color: $primary-color;

            @include breakpoint(ipad_landscape) {
                height: 130px;
            }

            @include breakpoint(ipad_portrait) {
                height: 110px;
            }

            @include breakpoint(mobile) {
                height: 80px;
            }
        }
    }

    .hero-slider-item-img {
        img {
            @include image;
        }
    }

    .hero-slider-item-content {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);

        .hero-slider-item-txt {
            padding: 0 5rem 0 12rem;

            @include breakpoint(desktop1) {
                padding: 0 0 0 3rem;
            }

            @media (min-width: 1600px) and (max-width: 1700px) {
                padding: 0 0 0 3rem;
              }

            @include breakpoint(desktop2) {
                padding: 0;
            }

            @include breakpoint(ipad_landscape) {
                padding: 0;
            }

            @include breakpoint(ipad_portrait) {
                padding: 0;
            }

            @include breakpoint(mobile) {
                padding: 0;
            }

            h1 {

                margin: 0 0 2rem;
                color: $white;
                @extend %h1;
                font-weight: 600;
                @include breakpoint(desktop1) {
                    margin: 0 0 1rem;
                }

                @include breakpoint(desktop2) {
                    margin: 0 0 1rem;
                }

                @include breakpoint(ipad_landscape) {
                    margin: 0 0 1rem;
                }

                @include breakpoint(mobile) {
                    margin: 0 0 1rem;
                }

                span {
                    display: block;
                    font-weight: 400;
                    font-size: 5rem;



                    @include breakpoint(ipad_landscape) {
                        font-size: 4.5rem;
                    }

                    @include breakpoint(ipad_portrait) {
                        font-size: 4rem;
                    }

                    @include breakpoint(mobile_landscape) {
                        font-size: 3rem;
                    }

                    @include breakpoint(mobile_portrait) {
                        font-size: 2.5rem;
                    }
                }

                strong {
                    color: $primary-color;
                    display: block;
                    font-weight: 600;
                }
            }
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 120px;
        left: 16rem;
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0px;
        padding: 0px;
        @media (min-width: 1600px) and (max-width: 1700px) {
            left: 7rem;
            bottom: 60px;
          }
        @include breakpoint(desktop1) {
            left: 7rem;
            bottom: 60px;
        }

        @include breakpoint(desktop2) {
            left: 4rem;
            bottom: 60px;
        }

        @include breakpoint(ipad_landscape) {
            left: 4rem;
            bottom: 90px;
        }

        @include breakpoint(ipad_portrait) {
            bottom: 47px;
            left: 2rem;
        }

        @include breakpoint(mobile) {
            left: 2rem;
            bottom: 45px;
        }

        li {
            margin-right: 10px;

            button {
                background: transparent;
                border: 1px $white solid;
                cursor: pointer;
                padding: 0px;
                text-indent: -9999px;
                width: 20px;
                height: 20px;
                border-radius: 100px;
            }

            &.slick-active {
                button {
                    background: $white;
                }
            }
        }
    }

}