.home-services-section{
    @extend %main-padding;
    @extend %sm-l-f-pd;
    .home-services-row{
        ul{
            @include ul;
            display: flex;
            flex-wrap: wrap;
            margin:0 -3rem;
            @include breakpoint(ipad_landscape){
                margin:0 -1rem;
            }
            @include breakpoint(mobile){
                margin: 0px;
            }
            li{
                width: 33.33%;
                padding: 0 3rem;
                @include breakpoint(ipad_landscape){
                    padding: 0 1rem;
                }
                @include breakpoint(ipad_portrait){
                    width: 100%;
                    margin-top: 3rem;
                    &:first-child{
                        margin-top: 0px;
                    }
                }
                @include breakpoint(mobile_landscape){
                    width: 100%;
                    margin-top: 3rem;
                    padding: 0px;
                    &:first-child{
                        margin-top: 0px;
                    }
                }
                @include breakpoint(mobile_portrait){
                    width: 100%;
                    margin-top: 3rem;
                    padding: 0px;
                    &:first-child{
                        margin-top: 0px;
                    }
                }
                h3{
                    margin: 0px;
                    padding: 0px;
                    color: $gray-color;
                    font-size: 2.4rem;
                    @media (min-width: 1600px) and (max-width: 1799px) {
                        font-size: 2.6rem;
                      }
                    @include breakpoint(desktop1){
                        font-size: 2.4rem;
                    }
                    @include breakpoint(desktop2){
                        font-size: 1.8rem;
                    }
                    @include breakpoint(ipad_landscape){
                        font-size: 1.8rem;
                    }
                    @include breakpoint(ipad_landscape){
                        font-size: 1.7rem;
                    }
                    @include breakpoint(mobile_landscape){
                        font-size: 1.6rem;
                    }
                    @include breakpoint(mobile_portrait){
                        font-size: 1.4rem;
                    }
                }
                .home-services-icon{
                    width: 140px;
                    margin-top: 1.5rem;
                    height: 140px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include breakpoint(ipad_landscape){
                        width: 95px;
                        height: 95px;
                        margin-top: 1rem;
                    }
                    @include breakpoint(ipad_portrait){
                        width: 70px;
                        height: 70px;
                        margin-top: 1rem;
                    }
                    @include breakpoint(mobile){
                        width: 70px;
                        height: 70px;
                        margin-top: 1rem;
                    }
                    img{
                        @include image;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .desc{
                    margin-top: 1.5rem;
                    @include breakpoint(ipad_portrait){
                        margin-top: 1rem;
                    }
                    @include breakpoint(mobile){
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}