.let-chat-section {
    background: $white;
    padding-bottom: 150px;
    @extend %main-padding-top;
   
    @include breakpoint(ipad_portrait){
        padding-bottom: 0px;
    }
    @include breakpoint(mobile){
        padding-bottom: 0px;
    }
    .let-chat-img-mob{
        display: none;
        @extend %sm-l-f-pd;
        img{
            @include image;
        }
       
        @include breakpoint(ipad_portrait){
            display: block;
            margin-top: 4rem
        }
        @include breakpoint(mobile){
            display: block;
            margin-top: 4rem
        }
    }
    .let-chat-section-in{
        @extend %main-padding;
        background: $secondary-color;
        position: relative;
        @extend %sm-l-f-pd;
       
        @include breakpoint(ipad_portrait){
            padding-bottom: 7rem;
        }
        @include breakpoint(mobile){
            padding-bottom: 7rem;
        }
        .chat-shap{
            position: absolute;
            left: 0px;
            bottom: -1px;
            width: 100%;
            height: 180px;
            z-index: 3;
            clip-path: polygon(0 100%, 100% 30%, 100% 100%);
            background-color: $white;
           
            @include breakpoint(ipad_portrait) {
                height: 110px;
            }
    
            @include breakpoint(mobile) {
                height: 80px;
            }
            .chat-shap-in{
                position: absolute;
                right: 0px;
                top: 0px;
                width: 499%;
                height: 180px;
                z-index: 3;
                clip-path: polygon(0 0, 100% 30%, 100% 100%);
                background-color: $primary-color;
               
                @include breakpoint(ipad_portrait) {
                    height: 110px;
                }
        
                @include breakpoint(mobile) {
                    height: 80px;
                }
            }
        }
    
        .let-chat-left{
            width: 45%;
            @include breakpoint(ipad_landscape){
                width: 50%;
            }
            @include breakpoint(ipad_portrait){
                width: 100%;
            }
            @include breakpoint(mobile){
                width: 100%;
            }
            h2{
                margin: 0 0 4rem;
                padding: 0px;
                color: $white;
            }
           
        }
        .let-chat-right{
            width: 45%;
            margin-left: auto;
            position: relative;
            z-index: 4;
            
            @include breakpoint(ipad_portrait){
                width: 100%;
                display: none;
            }
            @include breakpoint(mobile){
                width: 100%;
                display: none;
            }
            
            .let-chat-img{
                margin-bottom: -190px;
                img{
                    @include image;
                }
               
            }
        }
    }
   
}

ul.contact-icons{
    margin: 0px;
    padding: 0px;
    list-style: none;
    li{
      margin:2rem 0 0 0;
     
      a{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        i{
            width: 90px;
            height: 90px;
            background-color: $primary-color;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include breakpoint(ipad_landscape){
                width: 50px;
                height: 50px;
            }
            @include breakpoint(ipad_portrait){
                width: 75px;
                height: 75px;
            }
            @include breakpoint(mobile_landscape){
                width: 70px;
                height: 70px;
            }
            @include breakpoint(mobile_portrait){
                width: 40px;
                height: 40px;
            }
            svg{
                width: 60%;
                height: 60%;
                
                path{
                  stroke: $white;
                }
                
              }
        }
        span{
            width: calc(100% - 90px);
            padding-left: 2rem; 
            color: $white;
            font-size: 2rem;
            word-wrap: break-word;
            @include breakpoint(ipad_landscape){
                font-size: 1.7rem;
                width: calc(100% - 50px);
                padding-left: 1.5rem;
            }
            @include breakpoint(mobile_landscape){
                font-size: 1.7rem;
                width: calc(100% - 70px);
                padding-left: 1.5rem;
            }
            @include breakpoint(mobile_portrait){
                font-size: 1.1rem;
                width: calc(100% - 40px);
                padding-left: 1rem;
            }
        }
        &:hover{
            span{
                color: $primary-color;
            }
        }
     }
    }
  }

  .let-chat-section-in{
    .container{
        @include breakpoint(ipad_landscape){
            width: calc(100% - 5rem);
        }
    }
  }