.our-trusted-section{
    @extend %main-padding-top;
    @extend %sm-l-f-pd;
    .section-hd{
        margin-bottom: 2rem;
    }
    .trusted-row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -2rem;
        padding-top: 1rem;
        .trusted-box{
            width: 33.33%;
            padding: 2rem;
            @include breakpoint(ipad_landscape){
                padding: 2rem 0rem 2rem 1rem;
            }
            @include breakpoint(ipad_portrait){
                width: 100%;
            }
            @include breakpoint(mobile){
                width: 100%;
            }
            h4{
                margin: 0px;
                padding: 0px;
                @include breakpoint(ipad_landscape){
                    line-height: 2rem;
                }
            }
            .desc{
                margin-top: 1rem;
            }
            ul{
                @include ul;
                margin-top: 1rem;
                li{
                    margin: 0.4rem 0 0 0;
                    padding: 0px;
                    a{
                        display: block;
                        color: $primary-color;
                        word-break: break-all;
                        @include breakpoint(ipad_landscape){
                            font-size: 18px;
                        }
                        &:hover{
                            color: $gray-color;
                        }
                    }
                }
            }
        }
    }
}