.page-hero-section{
    position: relative;
   
    .page-hero-shap{
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 180px;
        z-index: 3;
        clip-path: polygon(0 100%, 100% 30%, 100% 100%);
        background-color: $white;
        @include breakpoint(ipad_landscape) {
            height: 130px;
        }
        @include breakpoint(ipad_portrait) {
            height: 110px;
        }

        @include breakpoint(mobile) {
            height: 80px;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background: $white;
            left: 0px;
            bottom: 0px;
        }
        .page-hero-shap-in{
            position: absolute;
            right: 0px;
            top: 0px;
            width: 499%;
            height: 180px;
            z-index: 3;
            clip-path: polygon(0 0, 100% 30%, 100% 100%);
            background-color: $primary-color;
            @include breakpoint(ipad_landscape) {
                height: 130px;
            }
            @include breakpoint(ipad_portrait) {
                height: 110px;
            }
    
            @include breakpoint(mobile) {
                height: 80px;
            }
        }
    }
    .page-hero-item-img{
        img{
            @include image;
        }
    }
    .page-hero-item-content{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        .page-hero-item-txt{
            width: 100%;
            padding: 0 5rem 0 12rem;

            @include breakpoint(desktop1) {
                padding: 0 0 0 3rem;
            }

            @media (min-width: 1600px) and (max-width: 1700px) {
                padding: 0 0 0 3rem;
              }

            @include breakpoint(desktop2) {
                padding: 0;
            }

            @include breakpoint(ipad_landscape) {
                padding: 0;
            }

            @include breakpoint(ipad_portrait) {
                padding: 0;
            }

            @include breakpoint(mobile) {
                padding: 0;
            }
            h1{
                margin: 0 0 3rem;
                color: $white;
                @extend %h1;
                text-transform: uppercase;
                font-weight: 600;
                
                @include breakpoint(ipad_landscape){
                    margin-bottom: 1rem;
                }
                @include breakpoint(ipad_portrait){
                    margin-bottom: 1rem;
                }
                @include breakpoint(mobile){
                    margin-bottom: 1rem;
                }
                strong{
                    font-weight: 600;
                }
            }
            h3{
                color: $white;
                margin: 0px;
            }
        }
    }
   

}


.contact-hero-section{
    position: relative;
    background: $secondary-color;
    min-height: 850px;
    @include breakpoint(ipad_landscape){
        min-height: 700px;
    }
    @include breakpoint(ipad_portrait){
        min-height: 700px;
    }
    @include breakpoint(mobile_landscape){
        min-height: 500px;
    }
    @include breakpoint(mobile_portrait){
        min-height: 500px;
    }
    .contact-hero-shap{
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 180px;
        z-index: 3;
        clip-path: polygon(0 100%, 100% 30%, 100% 100%);
        background-color: $white;
        @include breakpoint(ipad_landscape) {
            height: 130px;
        }
        @include breakpoint(ipad_portrait) {
            height: 110px;
        }

        @include breakpoint(mobile) {
            height: 80px;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background: $white;
            left: 0px;
            bottom: 0px;
        }
        .contact-hero-shap-in{
            position: absolute;
            right: 0px;
            top: 0px;
            width: 499%;
            height: 180px;
            z-index: 3;
            clip-path: polygon(0 0, 100% 30%, 100% 100%);
            background-color: $primary-color;
            @include breakpoint(ipad_landscape) {
                height: 130px;
            }
            @include breakpoint(ipad_portrait) {
                height: 110px;
            }
    
            @include breakpoint(mobile) {
                height: 80px;
            }
        }
    }
    
    .contact-hero-item-content{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        .contact-hero-item-txt{
            width: 100%;
            h1{
                margin: 0 0 3rem;
                color: $white;
                text-transform: uppercase;
                @extend %h1;
            }
            p{
                color: $white;
                margin: 0 0 7rem;
            }
        }
    }
   

}

.single-post{
    .page-hero-item-content .page-hero-item-txt{
        h1{
            font-size: 6rem;
            line-height: 6rem;
            @include breakpoint(desktop1){
                font-size: 4.5rem !important;
                line-height: 4.5rem !important;
            }
            @include breakpoint(desktop2){
                font-size: 4rem !important;
                line-height: 4rem !important;
            }
            @include breakpoint(ipad_landscape){
                font-size: 3.5rem !important;
                line-height: 3.5rem !important;
            }
            @include breakpoint(ipad_portrait){
                font-size: 3rem !important;
                line-height: 3rem !important;
            }
        }
    }

 
}