.home-projects-section {
    @extend %main-padding-btm;
    padding-top: 12rem;
    @extend %sm-l-f-pd;

    @include breakpoint(ipad_portrait) {
        padding-top: 8rem;
    }

    @include breakpoint(mobile) {
        padding-top: 6rem;
    }

    .projects-row .projects-box {
        padding: 0 1rem;

        @include breakpoint(ipad_portrait) {
            padding: 1rem;
        }

        @include breakpoint(mobile) {
            padding: 1rem;
        }

        &:nth-child(2n + 2) {
            margin-top: 3rem;

            @include breakpoint(ipad_portrait) {
                margin-top: 0rem;
            }

            @include breakpoint(mobile) {
                margin-top: 0rem;
            }
        }
    }
}

.pr-font-size {
    line-height: 2.4rem;
    font-size: 2.1rem;

    @include breakpoint(ipad_landscape) {
        line-height: 2rem;
        font-size: 1.7rem;
    }

    @include breakpoint(ipad_portrait) {
        line-height: 2rem;
        font-size: 1.8rem;
    }

    @include breakpoint(mobile_landscape) {
        line-height: 1.7rem;
        font-size: 1.5rem;
    }

    @include breakpoint(mobile_portrait) {
        line-height: 1.4rem;
        font-size: 1.2rem;
    }
}

.projects-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;

    .projects-box {
        width: 50%;
        padding: 1rem;

        @include breakpoint(ipad_portrait) {
            width: 100%;
        }

        @include breakpoint(mobile) {
            width: 100%;
        }

        .projects-box-in {
            position: relative;

            .projects-img {
                height: 100%;
                width: 100%;

                img {
                    @include image;
                }

            }

            .projects-content {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                display: none;
                align-items: center;
                justify-content: center;
                background: rgba(0, 0, 0, 0.5);
                padding: 2rem;

                .projects-content-in {
                    width: 100%;
                }

                span {
                    display: block;
                    @extend .pr-font-size;
                    color: $white;
                    text-align: center;
                    font-weight: 400;

                }

                h3 {
                    position: relative;
                    margin: 0px;
                    padding: 0;
                    color: #fff;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: center;
                    @extend .pr-font-size;


                    i {
                        height: 2px;
                        background: $white;
                        width: 20%;
                    }

                    b {
                        padding: 0 1.5rem;
                        font-weight: 400;
                        max-width: 60%;
                    }

                    span {
                        display: block;
                    }


                    &::after {
                        left: 0px;
                    }

                    &::before {
                        right: 0px;
                    }
                }

                strong {
                    color: $white;
                    display: block;
                    text-align: center;
                    margin-top: 5px;
                    font-size: 1.8rem;
                    font-weight: 400;
                    text-transform: capitalize;

                    @include breakpoint(ipad_landscape) {
                        font-size: 1.4rem;
                    }

                    @include breakpoint(ipad_portrait) {
                        font-size: 1.4rem;
                    }

                    @include breakpoint(mobile_landscape) {
                        font-size: 1.1rem;
                    }

                    @include breakpoint(mobile_portrait) {
                        font-size: 1rem;
                    }
                }
            }
    
            @media (min-width: 320px) and (max-width: 1299px) {
                .projects-img.hover-show ~ .projects-content{
                    display: flex;
                }
            }
           
            @media (min-width: 1299px) and (max-width: 900000000000000000000000000000000000000000px) {
                &:hover {
                    .projects-content {
                        display: flex;
                    }
                }
            }
            
        }
    }
}

.filter-projects-section {
    @extend %main-padding;

    h2 {
        margin-top: 0px;
    }

    h3 {
        margin: 0px;
        padding: 0px;
        text-transform: uppercase;
    }

    .filter-ul {
        margin-top: 1rem;
        margin-bottom: 2rem;

        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;

            li {
                margin: 0 4rem 0 0;
                padding: 10px 0;

                a {
                    display: block;
                    color: $gray-color;
                    @extend %font-size-base;

                    &.active,
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}