.there-for-you-section{
    @extend %main-padding;
    @extend %sm-l-f-pd;
    .there-for-you-box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 7rem;
        @include breakpoint(ipad_landscape){
            align-items: start;
        }
        @include breakpoint(ipad_portrait){
            margin-top: 5rem;
        }
        @include breakpoint(mobile){
            margin-top: 5rem;
        }
        &:nth-child(1){
            margin-top: 0px;
        }
        .there-for-you-box-content{
            width: 50%;
            @include breakpoint(ipad_portrait){
                width: 100%;
            }
            @include breakpoint(mobile){
                width: 100%;
            }
           h4{
            margin: 0px;
            text-transform: uppercase;
           }
            .desc{
                margin-top: 2rem;
            }
        }
        .there-for-you-box-img{
            width: 45%;
            margin-left: auto;
            padding-top: 1rem;
            @include breakpoint(ipad_portrait){
                width: 100%;
                padding-top: 3rem;
            }
            @include breakpoint(mobile){
                width: 100%;
                padding-top: 3rem;
            }
            img{
                @include image;
            } 
        }
        &.row-reverse{
            flex-direction: row-reverse;
            .there-for-you-box-img{
                margin-left: 0;
            }
            .there-for-you-box-content{
                margin-left: auto;
            }
        }
    }
}