.welcome-section {
    @extend %main-padding;
    @extend %sm-l-f-pd;

    .welcome-section-left {
        width: 53%;

        @include breakpoint(ipad_landscape) {
            width: 100%;
        }

        @include breakpoint(ipad_portrait) {
            width: 100%;
        }

        @include breakpoint(mobile) {
            width: 100%;
        }

        h2 {
            margin: 0px;
        }

    }

    .welcome-section-right {
        width: 40%;
        margin-left: auto;

        @include breakpoint(ipad_landscape) {
            width: 100%;
            margin-left: auto;
            margin-top: 2rem;
        }

        @include breakpoint(ipad_portrait) {
            width: 100%;
            margin-left: auto;
            margin-top: 2rem;
        }

        @include breakpoint(mobile) {
            width: 100%;
            margin-left: auto;
            margin-top: 2rem;
        }
    }
}

.section-divider {
    width: 100%;
    text-align: center;
    padding: 4rem 0;
    @include breakpoint(mobile_portrait) {
        padding: 2rem 0;
    } 

    .section-divider-in {
        max-width: 800px;
        margin: auto;
        position: relative;

        @include breakpoint(ipad_landscape) {
            max-width: 80%;
        }

        @include breakpoint(ipad_portrait) {
            max-width: 80%;
        }

        @include breakpoint(mobile) {
            max-width: 80%;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            top: 50%;
            left: 0px;
            background: $list-gray-color;
        }

        span {
            width: 80px;
            background: $white;
            margin: auto;
            padding: 0rem;
            display: flex;
            position: relative;
            z-index: 2;
            text-align: center;
            align-items: center;
            justify-content: center;

            img {
                width: 50px;
                height: auto;
                display: block;

                @include breakpoint(mobile) {
                    width: 35px;
                }
            }
        }
    }
}

.section-hd {
    margin-bottom: 4rem;

    @include breakpoint(mobile_portrait) {
        margin-bottom: 2rem;
    }

    h2 {
        margin: 0px;
        padding: 0px;
    }
}