.what-we-do-section{
    @extend %main-padding;
    @extend %sm-l-f-pd;
    .what-we-do-box{
        display: flex;
        flex-wrap: wrap;
        margin-top: 7rem;
        @include breakpoint(ipad_portrait){
            margin-top: 5rem;
        }
        @include breakpoint(mobile){
            margin-top: 5rem;
        }
        &:nth-child(1){
            margin-top: 0px;
        }
        .what-we-do-box-content{
            width: 45%;
            @include breakpoint(ipad_landscape){
                width: 50%;
            }
            @include breakpoint(ipad_portrait){
                width: 100%;
            }
            @include breakpoint(mobile){
                width: 100%;
            }
            .what-we-do-hd{
                display: flex;
                align-items: center;
                i{
                    width: 140px;
                    @include breakpoint(ipad_landscape){
                        width: 95px;
                    }
                    @include breakpoint(ipad_portrait){
                        width: 70px;
                    }
                    @include breakpoint(mobile){
                        width: 70px;
                    }
                    img{
                        @include image;
                    } 
                }
                h3{
                    width: calc(100% - 150px);
                    padding-left: 2rem;
                    margin: 0px;
                    text-transform: uppercase;
                    @include breakpoint(ipad_landscape){
                        width: calc(100% - 90px);
                        padding-left: 1.5rem;
                    }
                    @include breakpoint(ipad_portrait){
                        width: calc(100% - 70px);
                        padding-left: 1rem;
                    }
                    @include breakpoint(mobile){
                        width: calc(100% - 70px);
                        padding-left: 1rem;
                    }
                }
            }
            .desc{
                margin-top: 2rem;
            }
        }
        .what-we-do-box-img{
            width: 45%;
            margin-left: auto;
            padding-top: 1rem;
            @include breakpoint(ipad_portrait){
                width: 100%;
                padding-top: 3rem;
            }
            @include breakpoint(mobile){
                width: 100%;
                padding-top: 1.5rem;
            }
            img{
                @include image;
            } 
        }
        &.row-reverse{
            flex-direction: row-reverse;
            .what-we-do-box-img{
                margin-left: 0;
            }
            .what-we-do-box-content{
                margin-left: auto;
            }
        }
    }
}