html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "MuseoSans-300";
    font-weight: 400;
    @include background($white);
    @include padding(0px, 0, 0, 0);
    margin: 0px;
    font-size: $font-size-base;
    color: $secondary-color;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

strong {
    font-weight: 600;
}

a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: $secondary-color;
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
input {
    -webkit-appearance: none;
    opacity: 1;
}
button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}

.nav-responsive{
    display: none;
    @include breakpoint(mobile_nav) {
        display: block;
      }
}
.nav-desktop{
    @include breakpoint(mobile_nav) {
        display: none;
      }  
}

.container-fluid {
    max-width: calc(100%);
    width: calc(100% - 4rem);
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(big_screen) {
        width: calc(100% - 8rem);
    }
    @include breakpoint(ipad) {
        width: calc(100% - 2rem);
    }
    @include breakpoint(mobile) {
        width: calc(100% - 2rem);
    }
}

.container {
    max-width: calc(100%);
    width: calc(100% - 18rem);
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(ipad) {
        width: calc(100% - 5rem);
    }
    @include breakpoint(mobile_landscape) {
        width: calc(100% - 5rem);
    }
    @include breakpoint(mobile_portrait) {
        width: calc(100% - 3rem);
    }
}

.container-md {
    max-width: 1280px;
    width: calc(100% - 15rem);
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(big_screen) {
        width: calc(100% - 31rem);
        max-width: 1400px;
    }
    @include breakpoint(ipad) {
        width: calc(100% - 3rem);
    }
    @include breakpoint(mobile_landscape) {
        width: calc(100% - 5rem);
    }
    @include breakpoint(mobile_portrait) {
        width: calc(100% - 3rem);
    }
}
.container_accordion {
    max-width: 850px;
    width: calc(100% - 2rem);
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(ipad_portrait) {
        max-width: calc(100% - 6rem);
        width: calc(100% - 6rem);
    }
    @include breakpoint(mobile_landscape) {
        width: calc(100% - 5rem);
    }
    @include breakpoint(mobile_portrait) {
        width: calc(100% - 3rem);
    }
}
.container-sm {
    max-width: 980px;
    width: calc(100% - 12rem);
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(big_screen) {
        max-width: 1180px;
    }
    @include breakpoint(ipad){
        width: calc(100% - 6rem);
    }
    @include breakpoint(mobile_landscape) {
        width: calc(100% - 5rem);
    }
    @include breakpoint(mobile_portrait) {
        width: calc(100% - 3rem);
    }
}
.container-pd-lg {
    padding-left: 10rem;
    padding-right: 10rem;
}

.container-pd-md {
    padding-left: 7rem;
    padding-right: 7rem;
}

.container-pd-sm {
    padding-left: 4rem;
    padding-right: 4rem;
}

.main-padding {
    padding-top: $main-pd;
    padding-bottom: $main-pd;
}

.white-bg {
    background: $white;
}
.primary-bg {
    background: $primary-color;
}
.primary-gradient-bg {
    @include gradient;
}
.secondary-bg {
    background: $secondary-color;
}
.secondary-gradient-bg {
    @include gradient2;
}
.gray-bg {
    background: $light-gray;
}
.custom-row {
    display: flex;
    flex-wrap: wrap;
}
.hide-desktop {
    display: none;

    @include breakpoint(mobile_portrait) {
        display: block;
    }
}

.hide-mobile {
    @include breakpoint(mobile_landscape) {
        display: block;
    }
    @include breakpoint(mobile_portrait) {
        display: none;
    }
}

.desc--box {
    line-height: $desc_lineheight;
    p {
        &:first-child {
            margin-top: 0px;
        }
        &:last-child {
            margin: 0px;
        }
        br{
            display: none;
        }
    }
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
            position: relative;
            margin: 0 0 0.6rem 0;
            padding: 0 0 0 1.5rem;
            br {
                @include breakpoint(ipad_portrait) {
                    display: none;
                }
                @include breakpoint(mobile) {
                    display: none;
                }
            }
            &::before {
                width: 12px;
                height: 12px;
                position: absolute;
                left: 0px;
                top: 6px;
                background: $primary-color;
                content: "";
            }
        }
    }
}

.main-container {
    min-height: 90vh;
}
.fancybox__caption {
    padding: 0px;
    margin-top: -25px;
    z-index: 21;
}
.fancybox__content {
    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background-color: $light-gray;
        height: 31px;
    }
}

.back-btn-box {
    padding-top: 4rem;
    padding-bottom: 4rem;
    @include breakpoint(mobile){
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .back-btn {
        font-size: 1.6rem;
        background: url("#{$assetPathIcons}/orange left arrow.svg") no-repeat center left; 
        padding-left: 40px;
        background-size: 25px;
        font-family: 'MuseoSans-900';
        @include breakpoint(mobile){
            font-size: 1.2rem;
        }
        &:hover{
            color: $primary-color;
        }
    }
}
