.block_map_newsletter {
  .row {
    margin: 0px;
    .col-sm-6 {
      padding: 0px;
      position: relative;
      min-height: 400px;
      align-items: center;
    }
  }
  .img_text_out {
    padding: 50px 70px;
    text-align: center;
    max-width: 583px;
    position: relative;
    z-index: 1;
    margin: auto;
    h3 {
      @include no_p_m;
      text-align: center;
      color: $white;
    }
    .img_txt_txt {
      padding: 15px 0 15px 0;
      min-height: 150px;
      color: $white;
      p {
        margin: 0px;
        color: $white;
      }
    }

    .home_map_in {
      @include width(300px);

      margin: auto;
      position: relative;

      &::after {
        content: '';
        @include background($blueLight);
        mix-blend-mode: multiply;
        position: absolute;
        @include width(100%);
        @include height(100%);
        top: 0;
        left: 0px;
        z-index: 1;
      }

      .home_map_in_txt {
        position: relative;
        z-index: 2;
        @include align_center;
        padding: 40px 20px 40px 20px;
        display: block;

        i {
          @include width(60px);
          margin: auto auto 15px auto;
          display: block;

          img {
            @include width(100%);
          }
        }

        strong {
          display: block;
          @extend %heading-font;
          @include font-color(24px, $white);
        }
      }
    }
  }
}
