.block_our_work_txt {
  padding: $d_pd 0px 0;

  .container-sm {
    padding: 0 120px;

    @include breakpoint(small) {
      padding: 0 15px;
    }
  }

  .b_o_w__top {
    h4 {
      margin: 0 0 10px 0;
      padding: 0;
      color: $tealDark;
      @extend %heading-font;
    }
    img {
      height: auto;
    }
    .work_full__img {
      padding-top: 40px;
    }
  }
  .work_sub__box {
    padding-top: 40px;
    h5 {
      margin: 0 0 0px 0;
      padding: 0;
      color: $tealDark;
      @extend %heading-font;
    }
    .w_s_b_txt {
      padding: 20px 0 0px 0;
    }
  }
}

.block_our_work_txt {
  .b_o_w__top {
    .row {
      padding-bottom: 40px;
      @include breakpoint(small) {
        margin: 0px;
      }
    }
    .col-sm-8 {
      @include breakpoint(small) {
        flex: 0 0 100%;
        padding: 0px;
      }
    }
    .col-sm-4 {
      @include breakpoint(small) {
        flex: 0 0 100%;
        padding: 0px;
      }
    }
  }
}
