.volunteering_img_section {
  padding-top: 40px;
  &__inner {
    .col-sm-3 {
      @include breakpoint(iPad-landscape) {
        width: 33%;
        flex: 0 0 33%;
        max-width: 33%;
      }
      @include breakpoint(iPad) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @include breakpoint(mobile-landscape) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
    .v_i__box {
      margin-top: 30px;
      .v_i_b__content {
        padding: 20px 0;
        color: $tealDark;
        h4 {
          @include no_p_m;
          color: $tealDark;
          a {
            color: $tealDark;
            @include text-short;
          }
        }
        .v_i_b_b__txt {
          padding: 10px 0;
          p {
            margin: 0px;
          }
        }
        .read_more_link {
          a {
            color: $tealDark;
          }
        }
      }
    }
  }
}
