.block_details_route {
  padding: 50px 70px;
  @include background($blueLight);
  margin-left: 7%;
  margin-right: 7%;

  @include breakpoint(iPad-landscape) {
    padding: 50px 35px;
  }

  @include breakpoint(iPad) {
    padding: 45px;
  }

  @include breakpoint(mobile-landscape) {
    padding: 30px;
  }

  @include breakpoint(mobile-landscape-sm) {
    margin-left: 0%;
    margin-right: 0%;
  }

  @include breakpoint(mobile-portrait) {
    margin-left: 0%;
    margin-right: 0%;
    padding: 30px 30px;
  }

  h3 {
    @include no_p_m;
    text-align: center;
    color: $white;
  }

  .b_d_r__inner {
    padding: 30px 0 0 0;

    ul {
      @include ul(0, 0, none);
      display: flex;

      @include breakpoint(iPad) {
        flex-wrap: wrap;
      }

      @include breakpoint(mobile-landscape) {
        flex-wrap: wrap;
      }

      @include breakpoint(mobile-portrait) {
        display: block;
      }

      li {
        width: 21%;
        border-right: 1px $white solid;
        padding: 0 25px;
        display: flex;
        align-items: center;

        @include breakpoint(iPad-landscape) {
          padding: 0 5px;
        }

        @include breakpoint(iPad) {
          width: 50%;
          padding: 0 15px;
          margin: 10px 0;
        }

        @include breakpoint(mobile-landscape) {
          width: 50%;
          padding: 0 15px;
          margin: 10px 0;
        }

        @include breakpoint(mobile-portrait) {
          width: 100%;
          padding: 25px 0px;
          border-right: 0px $white solid;
        }

        &:nth-child(2n + 2) {
          @include breakpoint(iPad) {
            border-right: 0px $white solid;
          }

          @include breakpoint(mobile-landscape) {
            border-right: 0px $white solid;
          }
        }

        &:last-child {
          border-right: 0px $white solid;
        }

        &:first-child {
          width: 37%;
  
          @include breakpoint(iPad) {
            width: 50%;
          }
  
          @include breakpoint(mobile-landscape) {
            width: 50%;
          }
  
          @include breakpoint(mobile-portrait) {
            width: 100%;
          }
        }
      }

      

      .r_l__icon {
        width: 35px;

        img {
          width: 100%;
        }
      }

      .r_l__content {
        width: calc(100% - 35px);
        padding: 0 0 0 15px;

        strong {
          display: block;
          @include font-color(16px, $white);
          font-weight: 500;
        }

        span {
          display: block;
          @include font-color(16px, $white);
        }
      }
    }
  }
}