.block_alternative_text {
  padding: $d_pd 0;
  @include background($white);

  &__inner {
    h1 {
      margin: 0px;
      padding: 0;
      color: $tealDark;
      @extend %heading-font;
    }

    h3 {
      margin: 0px;
      padding: 0 0 15px 0;
      color: $tealDark;
    }

    h4 {
      margin: 0px;
      padding: 0;
      color: $tealDark;
      @extend %heading-font;
    }

    .b_a_t_i__img {
      padding: 30px 0px 0;
    }

    .b_a_t_i__txt {
      padding: 20px 0 0;
    }
  }
}
