.hero-slider {
  position: relative;

  .heroSlider_item {
    position: relative;
    height: 75vh;
    min-height: 700px;
    background-size: cover;
    background-position: center;

    @include breakpoint(small) {
      height: auto;
      min-height: 250px;
      background-size: 100%;
      background-image: none !important;
    }

    .heroSlider_text {
      width: 100%;
      height: auto;
      padding: 136px 0 120px 0;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include breakpoint(small) {
        display: block;
        position: relative;
        left: 0px;
        padding: 0;
        right: 0px;
        top: inherit;
        bottom: 0px;
      }

      .heroSlider_text_in {
        background: rgba(0, 0, 0, 0.6);
        width: 516px;
        padding: 60px 35px 120px 35px;

        @include breakpoint(small) {
          background: $white;
          width: 100%;
          padding: 40px 40px 40px 40px;
        }

        .slider_logo {
          width: 224px;
          margin: auto;

          @include breakpoint(small) {
            display: none;
          }

          img {
            width: 100%;
          }
        }

        .button_green {
          text-align: center;
          text-transform: lowercase;
        }

        .hero_slider_txt {
          padding: 40px 0;

          @include breakpoint(small) {
            padding: 0 0 40px 0;
          }

          h1 {
            @include no_p_m;
            font-size: 24px;
            text-align: center;
            color: $white;

            @include breakpoint(small) {
              color: $tealDark;
            }
          }
        }
      }
    }
  }

  ul.slick-dots {
    position: absolute;
    bottom: 22%;
    width: 516px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: flex;
    padding: 0px;
    justify-content: center;
    list-style: none;
    align-items: center;
    @include breakpoint(iPad) {
      bottom: 28%;
    }
    @include breakpoint(small) {
      display: none !important;
    }

    li {
      margin: 0 5px;
      padding: 0px;

      button {
        width: 18px;
        height: 18px;
        background: transparent;
        border-radius: 15px;
        display: block;
        border: 0px;
        text-indent: -9999px;
        border: 3px $white solid;
      }

      &.slick-active {
        button {
          border: 3px $white solid;
          background: $white;
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

.click_arrow_btm {
  position: absolute;
  bottom: -16px;
  left: 0px;
  right: 0px;
  width: 50px;
  margin: auto;
  z-index: 2;

  @include breakpoint(small) {
    display: none;
  }

  a {
    display: block;
    width: 100%;

    img {
      width: 100%;
    }
  }
}
