.home-team-section {
    
    background: $pink;
    padding: 100px 0;
    .home_team_item {
        display: flex;
        @include breakpoint(mobile-portrait){
            display: block;
            
          }
        .h_team_m_img {
            width: 220px;
            height: 220px;
            background: $pink;
            border: 2px $white solid;
            padding: 10px;
            overflow: hidden;
            border-radius: 500px;
            @include breakpoint(mobile-landscape){
                width: 180px;
                height: 180px;
              }
            @include breakpoint(mobile-portrait){
                margin: auto;
                width: 180px;
                height: 180px;
              }
            img {
                width: 100%;
                height: 100%;
                border-radius: 500px;
            }
        }
        .h_team_m_text {
            padding: 0 0 0 50px;
            @include breakpoint(mobile-portrait){
                padding: 30px 0 0 0px;
              }
            h2 {
                @include no_p_m;
                color: $white;
                @include breakpoint(mobile-portrait){
                    text-align: left;
                  }
            }
            .h_t_txt {
                padding: 15px 0 15px 0;
                color: $white;
                text-align: left;
                p {
                    margin: 0px;
                    color: $white;
                }
            }
        }
    }
}
