.header-right{
    margin-left: auto;
    @include breakpoint(header_menu) {
        padding-top: 15px;
       
    }
    .header-right-top{
        display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
    @include breakpoint(header_menu) {
        margin-bottom: 0px;
       
    }
    }
    .header-map-btn{
        margin-right: 20px;
        @include breakpoint(mobile-portrait) {
            display: none;
        }
        a{
            @include font-color(16px, $white);
            @include display(flex);
            @extend %heading-font;
            background: $blueLight;
            border-radius: 4px;
            padding: 5px 15px;
            align-items: center;
            &:hover{
                background: $green;
                text-decoration: none;
            }
            i{
                width: 20px;
                margin-right: 5px;
            }
        }
    }
    .hide_desktop_header_map{
        display: none !important;
        @include breakpoint(header_menu) {
          display: block !important;
          width: 100%;
          margin: 0;
          border-top: 1px $white solid;
          padding-top: 18px;
          a{
            display: inline-flex;
          }
      
        }
      }
    .site_search{
        @include breakpoint(header_menu) {
            margin-right: 20px;
        }
    }
    .search__mobile{
        display: none;
        @include breakpoint(header_menu) {
            display: block;
            margin-top: 0;
        }
    }
    .search__desktop{
        @include breakpoint(header_menu) {
            display: none;
        }
    }
}