.txt-sm-block {
  padding: $d_pd 0;

  .container-txt-sm {
    text-align: center;

    h1 {
      @include no_p_m;
      text-align: center;
      color: $tealDark;
      padding-bottom: 30px;
    }

    h2 {
      @include no_p_m;
      text-align: center;
      color: $tealDark;
      padding-bottom: 30px;
    }
  }
}

.block-article-image-and-text {
  padding: 30px 0 60px;

  .container-sm {
    padding: 0 120px;

    @include breakpoint(small) {
      padding: 0 15px;
    }
  }

  .col-sm-6 {
    @include breakpoint(iPad) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .w_s_b__img {
      img {
        @include breakpoint(iPad) {
          width: 100%;
        }
      }
    }
  }

  .a_s_b__content {
    h5 {
      font-size: 18px;
      font-weight: 600;
      font-family: 'Roboto', sans-serif;
      color: #3f7d8b;
    }
  }
}
