/**
 * ----------------------
 * Blooberry Design
 * Molecules - Banner
 * ----------------------
 */

.m-no-banner {
  margin: $bump * 2 auto 0;

  @include media('<sm') {
    margin: $bump 0 0;
  }

  &--bottom {
    margin-bottom: $bump * 2;

    @include media('<sm') {
      margin-bottom: $bump / 2;
    }
  }
}

.m-banner {
  position: relative;
  background-color: $c-black;

  @include media('<1300px') {
    height: 500px;
    display: block;
  }

  @include media('<sm') {
    height: fit-content;
    background-color: $c-blue;
  }

  &--center {
    background-color: $c-black;

    @include media('<sm') {
      background-color: $c-blue;
      margin-bottom: $bump;
    }

    img,
    img.loaded {
      opacity: 0.4;

      @include media('<sm') {
        opacity: 1;
      }
    }

    .m-banner__inner {
      color: $c-white;

      h1 {
        color: $c-white;
      }

      h1,
      p {
        text-align: center;
        text-align-last: center;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.4;

    @include media('<1300px') {
      height: 100%;
      object-fit: cover;
    }

    @include media('<sm') {
      opacity: 1;
    }
  }

  figure {
    display: block;
    overflow: hidden;
    height: 100%;

    @include media('<xs') {
      height: 250px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $c-white;

    @include media('<sm') {
      position: relative;
      padding: $bump 0;
    }

    h1,
    h2 {
      color: $c-white;
    }

    @include ie {
      .grid {
        margin: 0;
      }
    }
  }

  .a-btn {
    margin-top: 5px;
  }
}
