/**
 * ----------------------
 * Blooberry Design
 * Molecules - Entity views
 * ----------------------
 */

&__view {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
