/**
 * ----------------------
 * Blooberry Design
 * Molecules - Entities
 * ----------------------
 */

.m-entity {
  margin: $bump 0;
  position: relative;

  @include media('<sm') {
    margin: 0;
  }

  &--not {
    margin-top: 0;
  }

  &--nob {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  &__embed {
    iframe {
      width: 100%;
    }

    .donate-logo {
      width: auto;
      margin: 15px auto;
    }
  }

  @import 'entity--body';
  @import 'entity--image';
  @import 'entity--view';
  @import 'entity--quote';
  @import 'entity--accordion';
  @import 'entity--gallery';
  @import 'entity--video';
  @import 'entity--downloads';
  @import 'entity--text';
  @import 'entity--form';
  @import 'entity--page-links';
  @import 'entity--pullout';
}
