/**
 * ----------------------
 * Blooberry Design
 * Molecules - Image
 * ----------------------
 */

&__image-wrapper {
  position: relative;
}

&__image {
  figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: auto;
    max-width: 100%;

    @include ie {
      width: 100%;
    }
  }
}
