/**
 * ----------------------
 * Blooberry Design
 * Molecules - Quotes
 * ----------------------
 */

&__quote-sm,
&__quote {
  background-color: $c-lt-blue;
  padding: $bump * 1.5 0;
  color: $c-white;

  @include media('<sm') {
    padding: $bump 0;
  }

  blockquote {
    text-align-last: center;
    text-align: center;
    margin: 0;
    padding: $bump $bump * 1.35 $bump/2;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      @include bg-img(contain);
      background-image: url('../icon/icon-quote.svg');
      height: $bump * 1.5;
      width: $bump * 1.5;
    }

    &::before {
      top: 0;
      left: 0;
    }
    &::after {
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
    }

    @include ie {
      width: 100%;

      p {
        width: 100%;
      }
    }
  }

  cite {
    text-align-last: center;
    text-align: center;
    @include font-body;
    margin-top: $bump;

    .name {
      font-style: normal;
      @include font-bold;
    }
  }

  .glide {
    &__track {
      transition: height 0.2s $easing;
    }
    &__slides {
      margin: 0;
    }
    &__slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__bullets {
      margin-top: $bump;
      display: flex;
      justify-content: center;
    }
    &__bullet {
      display: block;
      height: $bump / 1.5;
      width: $bump / 1.5;
      padding: 0;
      border-radius: 50%;
      background-color: $c-grey;
      border: 0;
      margin: 0 $bump/4;
      transition: 0.2s $easing;
      transform: scale(0.6);

      &--active {
        transform: scale(1);
      }
    }
  }
}

&__quote-sm {
  padding: $bump;
}
