/**
 * ----------------------
 * Blooberry Design
 * Molecules - Dwonloads
 * ----------------------
 */

&__downloads {
  &-inner {
    margin-top: $bump * 1.5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: $bump * 1.5;
    @include media('<md') {
      gap: $bump;
    }

    @include media('<sm') {
      margin-top: $bump;
      gap: $bump;
      grid-template-columns: 1fr 1fr;
    }

    @include media('<xs') {
      grid-template-columns: 1fr;
    }

    @include ie {
      display: flex;
      flex-wrap: wrap;

      & > div {
        width: 25%;
        padding: 0 $bump/2;
      }

      p {
        width: 100%;
      }
    }
  }

  &-inner-sm {
    margin-top: $bump * 1.5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $bump * 1.5;

    @include media('<md') {
      gap: $bump;
    }

    @include media('<sm') {
      margin-top: $bump;
      gap: $bump;
      grid-template-columns: 1fr 1fr;
    }

    @include media('<xs') {
      grid-template-columns: 1fr;
    }

    @include ie {
      display: flex;
      flex-wrap: wrap;

      & > div {
        width: 50%;
        padding: 0 $bump/2;
      }

      p {
        width: 100%;
      }
    }
  }

  img,
  aside {
    transition: opacity 0.1s $easing;
  }

  a {
    border-bottom: 0;
    padding-bottom: 0;

    &:hover {
      .a-download__link {
        border-bottom-color: transparent;
      }

      img,
      aside {
        opacity: 0.7;
      }
    }
    .a-download__link {
      border-bottom: 1px solid $c-lt-blue;
      transition: border 0.1s $easing;
      justify-self: start;
    }
  }
}
