/**
 * ----------------------
 * Blooberry Design
 * Molecules - Main nav
 * ----------------------
 */

.m-nav {
  [data-nav='open'] & {
    display: block;
  }

  &__bottom-menu {
    display: none;
    visibility: hidden;

    @include media('<sm') {
      display: block;
      visibility: visible;
    }
  }

  &__bottom-menu-top {
    display: flex;
    align-items: stretch;
    visibility: visible;

    @include media('<sm') {
      display: none;
      visibility: hidden;
    }
  }
}
