/**
 * ----------------------
 * Blooberry Design
 * Molecules - Newsletter
 * ----------------------
 */

.m-newsletter {
  border-left: 20px solid $c-lt-blue;
  background-color: $c-white;
  padding: $bump * 1.5;
  @include shadow;

  @include media('<sm') {
    padding: $bump;
  }

  &__gravity {
    form {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @include media('<sm') {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .gform_heading {
      display: none;
      visibility: hidden;
    }

    .gform_body {
      width: 100%;
      margin-right: $bump;
    }

    .ginput_container {
      margin-bottom: $bump/2;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    li {
      margin-bottom: 0;
    }

    input:not([type='submit']) {
      width: 100%;
      border-radius: $bump;
      border-color: $c-lt-blue;
    }

    label:not(.gfield_consent_label) {
      @include rm-text;
      height: 1px;
    }
  }
}
