.block-featured-product-section {
    padding-bottom: 3rem;

    .block-featured-product-content {
        width: 48%;
        padding-right: 5%;
        padding-left: 5%;

        @include breakpoint(ipad_portrait) {
            width: 100%;
            padding-right: 0%;
            padding-left: 0%;
        }
        @include breakpoint(mobile) {
            width: 100%;
            padding-right: 0%;
            padding-left: 0%;
        }


        .block-featured-product-content-in {
            position: relative;
            padding-bottom: 5rem;
            @include breakpoint(ipad_portrait) {
                padding-bottom: 4rem;
            }
            @include breakpoint(mobile) {
                padding-bottom: 4rem;
            }
        }

        .desc--boxes {
            margin-top: 1.5rem;

            h4 {
                margin-top: 0px;
                color: $secondary-color;
                @extend %pt17;
                margin-bottom: 0px;
            }
        }
    }

    .block-featured-product-img {
        width: 52%;

        @include breakpoint(ipad_portrait) {
            width: 100%;
            margin-top: 3rem;
        }
        @include breakpoint(mobile) {
            width: 100%;
            margin-top: 3rem;
        }

        img {
            width: 100%;
            display: block;
            height: auto;
        }
    }
}

.block-featured-product-img-hide{
    display: none;
    @include breakpoint(ipad_portrait) {
        display: block;
        margin: 2rem 0;
        img{
            width: 100%;
            display: block;
            height: auto;
        }
    }
    @include breakpoint(mobile) {
        display: block;
        margin: 2rem 0;
        img{
            width: 100%;
            display: block;
            height: auto;
        }
    }
}
.block-featured-product-img-show{
    @include breakpoint(ipad_portrait) {
        display: none;
    }
    @include breakpoint(mobile) {
        display: none;
    }
}