.simply-text-section {
    text-align: center;
}

.in-pd,
.padding-in-page {
    padding-left: 4rem;
    padding-right: 4rem;

    @include breakpoint(mobile_portrait) {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

.news-details-page {
    @extend .main-padding;
    background-color: $light-gray;
    text-align: center;
}


.products-list {
    .custom-row {
        margin-left: -2%;
        margin-right: -2%;
    }

    .quality-products-box {
        margin: 2%;
        width: 21%;

        @include breakpoint(desktop_sm) {
            width: 29.33%;
        }

        @include breakpoint(ipad_landscape) {
            width: 29.33%;
        }

        @include breakpoint(ipad_portrait) {
            width: 46%;
        }

        @include breakpoint(mobile_landscape) {
            width: 46%;
        }

        @include breakpoint(mobile_portrait) {
            margin-top: 2rem;
            width: 100%;
        }
    }

    &.item-per-row-x1 {
        .quality-products-box {
            width: 100%;
        }
    }

    &.item-per-row-x2 {
        .quality-products-box {
            width: 46%;

            @include breakpoint(mobile_portrait) {
                margin-top: 2rem;
                width: 100%;
            }
        }
    }

    &.item-per-row-x3 {
        .quality-products-box {
            width: 29.33%;

            @include breakpoint(ipad_portrait) {
                width: 46%;
            }

            @include breakpoint(mobile_landscape) {
                width: 46%;
            }

            @include breakpoint(mobile_portrait) {
                margin-top: 2rem;
                width: 100%;
            }
        }
    }

    &.item-per-row-x4 {
        .quality-products-box {
            width: 21%;

            @include breakpoint(desktop_sm) {
                width: 29.33%;
            }

            @include breakpoint(ipad_landscape) {
                width: 29.33%;
            }

            @include breakpoint(ipad_portrait) {
                width: 46%;
            }

            @include breakpoint(mobile_landscape) {
                width: 46%;
            }

            @include breakpoint(mobile_portrait) {
                margin-top: 2rem;
                width: 100%;
            }
        }
    }
}


.news-list-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2%;
    margin-right: -2%;

    .latest-news-slider-item {
        width: 29.33%;
        margin: 2%;

        @include breakpoint(ipad_portrait) {
            width: 46%;
        }

        @include breakpoint(mobile_landscape) {
            width: 46%;
        }

        @include breakpoint(mobile_portrait) {
            margin-top: 2rem;
            width: 100%;
        }
    }
}

.details-page-padding {
    padding: 8rem;

    @include breakpoint(desktop_sm) {
        padding: 4rem;
    }

    @include breakpoint(ipad_landscape) {
        padding: 4rem;
    }

    @include breakpoint(ipad_portrait) {
        padding: 3rem;
    }

    @include breakpoint(mobile_landscape) {
        padding: 3rem;
    }

    @include breakpoint(mobile_portrait) {
        padding: 2rem;
    }
}

.news-dual-img {
    display: flex;
    flex-wrap: wrap;

    .news-img {
        width: 48%;

        @include breakpoint(mobile_portrait) {
            width: 100%;
        }

        &:first-child {
            margin-right: 2%;

            @include breakpoint(mobile_portrait) {
                margin-right: 0%;
            }
        }

        &:last-child {
            margin-left: 2%;

            @include breakpoint(mobile_portrait) {
                margin-left: 0%;
                margin-top: 1rem;
            }
        }
    }

}

.news-three-img {
    display: flex;
    flex-wrap: wrap;

    .news-img {
        width: 30.33%;
        margin-left: 4%;

        @include breakpoint(mobile_portrait) {
            width: 100%;
            margin-top: 1rem;
            margin-left: 0%;
        }

        &:first-child {
            margin-left: 0px;
        }
    }

}

.details-page {
    text-align: left;

    .news-full-img {
        margin-top: 3rem;
    }

    h2 {
        @extend %pt19;
        color: $secondary-color;
        margin: 3rem 0 -12px 0;

        @include breakpoint(ipad_portrait) {
            margin-top: 2.5rem;

        }
    }

    .heading {
        h2 {
            margin-top: 0px;
        }
    }



}

.news-full-img {
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.simple-info-section {
    text-align: center;
    color: $drak-gray;
}

.news-img-size {
    @include breakpoint(mobile_portrait) {
        height: auto;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.product-details-section {
    padding: 9rem 0 6rem 0;

    @include breakpoint(ipad_portrait) {
        padding-top: 5rem;
    }

    @include breakpoint(mobile) {
        padding-top: 5rem;
    }

    .product-details-section-content {
        display: flex;
        flex-wrap: wrap;

        .product-details-section-content-left {
            width: 45%;

            @include breakpoint(ipad_portrait) {
                width: 100%;
            }

            @include breakpoint(mobile) {
                width: 100%;
            }

            h4 {
                color: $secondary-color;
                margin: 0 0 1rem 0;
                padding: 0xp;
                @extend %pt17;
            }
        }

        .product-details-section-content-right {
            width: 45%;
            margin-left: auto;
            padding-top: 2.2rem;

            @include breakpoint(ipad_portrait) {
                width: 100%;
                margin-left: 0;
                padding-top: 0px;
                margin-top: 3rem;
            }

            @include breakpoint(mobile) {
                width: 100%;
                margin-left: 0;
                padding-top: 0px;
                margin-top: 3rem;
            }

            .product-slider-nav {
                margin-top: 1rem;
                position: relative;

                .slick-list {
                    width: 100%;
                }

                .slick-prev~.slick-list {
                    width: calc(100% - 60px);
                    margin: auto;
                }

                .product-slider-nav-item {
                    padding: 0 0.5rem;
                }

                .slick-arrow {
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    border: 0px;
                    padding: 0px;
                    text-indent: -9999px;
                    width: 32px;
                    height: 100%;

                    &.slick-prev {
                        left: 0px;
                        background:$white url("#{$assetIconsPath}/Arrow blue Left.svg") no-repeat center center;
                        background-size: 15px;
                    }

                    &.slick-next {
                        right: 0px;
                        background:$white url("#{$assetIconsPath}/Arrow blue Right.svg") no-repeat center center;
                        background-size: 15px;
                    }
                }
            }

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}

.btm-border {
    border-bottom: 1px $drak-gray solid;
    padding-bottom: 2rem;
}

.product-details-description,
.product-details-usage,
.product-details-features {
    margin-top: 2rem;
}

.news-list-section{
    padding-bottom: 0px;
}