.get-touch-section {
    @include breakpoint(ipad_landscape) {
        padding-top: 3rem;
    }
    @include breakpoint(ipad_portrait) {
        padding-top: 3rem;
    }
    .container-sm {
        @include breakpoint(desktop_sm) {
            padding: 0px;
        }
        @include breakpoint(ipad_landscape) {
            padding: 0px 1rem;
        }
        @include breakpoint(ipad_portrait) {
            padding: 0px 1rem;
        }
        @include breakpoint(mobile_landscape) {
            padding: 0px 1rem;
        }
    }

    .get-touch-row {
        @extend %below-hd;

        ul {
            @include ul;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                margin: 0 2rem;
                @include breakpoint(ipad_portrait) {
                    margin: 0 1rem;
                }
                @include breakpoint(mobile_portrait) {
                   width: 70%;
                   margin: 1rem 0;
                }

                a {
                    display: flex;
                    @extend %pt30;
                    color: $drak-gray;
                    align-items: center;
                    font-family: $secondaryfontfaimly;
                    font-weight: 400;

                    i {
                        width: 80px;
                        height: 80px;
                        margin-right: 20px;
                        @include breakpoint(ipad_portrait) {
                            width: 60px;
                            height: 60px;
                            margin-right: 15px;
                        }
                        @include breakpoint(mobile) {
                            width: 50px;
                            height: 50px;
                            margin-right: 15px;
                        }

                        &.number-icon {
                            background:url("#{$assetIconsPath}/phone yellow cml.svg") no-repeat center center;
                            background-size: 100%;
                        }

                        &.email-icon {
                            background:url("#{$assetIconsPath}/email yellow cml.svg") no-repeat center center;
                            background-size: 100%;
                        }
                    }

                    &:hover {
                        color: $secondary-color;

                        i {

                            &.number-icon {
                                background:url("#{$assetIconsPath}/phone blue cml.svg") no-repeat center center;
                                background-size: 100%;
                            }

                            &.email-icon {
                                background:url("#{$assetIconsPath}/email blue cml.svg") no-repeat center center;
                                background-size: 100%;
                            }
                        }
                    }

                }
            }
        }
    }
}