.hero-slider-section {
    position: relative;
    @include breakpoint(mobile) {
        background: $secondary-color;
     }
    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 1;
        border: 0px;
        padding: 0px;
        text-indent: -9999px;
        width: 50px;
        height: 70px;
        @include breakpoint(ipad_portrait) {
            top: 43%;
         }
         @include breakpoint(mobile_landscape) {
            top: 20%;
            width: 40px;
            height: 60px;
         }
        @include breakpoint(mobile_portrait) {
            top: 17%;
            width: 40px;
            height: 60px;
         }
        &.slick-prev {
            left: 0px;
            background:$secondary-color url("#{$assetIconsPath}/Arrow white Left.svg") no-repeat center center;
            background-size: 30px;

           
        }

        &.slick-next {
            right: 0px;
            background:$secondary-color url("#{$assetIconsPath}/Arrow white Right.svg") no-repeat center center;
            background-size: 30px;
          
        }
    }

    .hero-slider-item-img {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .hero-slider-item-content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @extend .home-overly-bg;
        @include breakpoint(mobile) {
           background: $secondary-color;
           position: relative;
           padding-top: 2.5rem;
           padding-bottom: 2.5rem;
        }

        h1 {
            margin: 0px;
            padding: 0px;
            color: $primary-color;
            @extend %pt70;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
            span{
                color: $white;
                display: block;
                font-size: 3rem;
                @include breakpoint(desktop_sm) {
                    font-size: 2.5rem;
                 }
                @include breakpoint(ipad_landscape) {
                    font-size: 2.5rem;
                 }
                @include breakpoint(ipad_portrait) {
                    font-size: 2.5rem;
                 }
                @include breakpoint(mobile) {
                    font-size: 1.5rem;
                 }
            }

        }
        .btn-set--left{
            margin-top: 3rem;
            @include breakpoint(ipad_landscape){
                margin-top: 2rem;
            }
            @include breakpoint(mobile) {
                margin-top: 1rem;
            }
            @include breakpoint(mobile_portrait) {
                display: block;
            }
            a{
                margin-right: 2rem;
                min-width: 250px;
                @include breakpoint(mobile_portrait){
                    min-width: 250px;
                    margin-right: 0rem;
                    display: inline-block;
                    margin-top: 1rem;
                }
                &:last-child{
                    margin-right: 0;
                }
               
            }
        }
    }

    .primary-btn,
.secondary-btn,
.primary-outline-btn,
.secondary-outline-btn,
.white-btn,
.wpcf7-submit,
.white-outline-btn,
.white-btn-arrow,
.primary-btn-arrow,
.secondary-btn-arrow,
.secondary-btn-out-line-arrow
{
   font-size: 1.3331rem;
}
}