.img-text-overly-section {
    position: relative;
    min-height: 500px;

    .img-text-overly-section-in {
        width: 100%;
        height: 100%;
        @extend .parlx-bg;
        display: flex;
        align-items: center;
        color: $white;
        padding: 6rem 0;
        @include breakpoint(ipad_portrait){
            padding: 4rem 0;
            flex-wrap: wrap;
        }
        @include breakpoint(mobile){
            padding: 4rem 0;
            flex-wrap: wrap;
        }
    }
    h3{
        font-size: 1.9rem;
                font-weight: 400;
    }


    .container-md {
        position: relative;
        z-index: 1;
    }

    .img-text-overly-section-left {
        width: 60%;
        padding-right: 10%;
        @include breakpoint(ipad_portrait){
            width: 100%;
            padding-right: 0%;
        }
        @include breakpoint(mobile){
            width: 100%;
            padding-right: 0%;
        }

        .desc--box {
            margin-top: 3rem;
        }
    }

    .img-text-overly-section-right {
        width: 40%;
        position: relative;
        @include breakpoint(ipad_portrait){
            width: 100%;
            margin-top: 7rem;
        }
        @include breakpoint(mobile){
            width: 100%;
            margin-top: 7rem;
        }

        .white-btn-arrow {
            display: inline-block;
        }
    }
   
    &.video-parallax-section{
        .video-parallax-box{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            video {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: -9999;
                object-fit:cover;
                width:100%;
                height:100%;
            }
        }
        .img-text-overly-section-in{
            position: relative;
            z-index: 1;
        }
    }

}