.latest-news-section{
    .slick-arrow {
        position: absolute;
        top: 38%;
        z-index: 1;
        border: 0px;
        padding: 0px;
        text-indent: -9999px;
        width: 50px;
        height: 70px;

        &.slick-prev {
            left: -3rem;
            background: url("#{$assetIconsPath}/Arrow blue Left.svg") no-repeat center center;
            background-size: 30px;
            @include breakpoint(mobile_portrait){
                left: -1rem;
            }
        }

        &.slick-next {
            right: -3rem;
            background:url("#{$assetIconsPath}/Arrow blue Right.svg") no-repeat center center;
            background-size: 30px;
            @include breakpoint(mobile_portrait){
                right: -1rem;
            }
        }
    }
    .slick-list{
        @include breakpoint(mobile_portrait){
            width: 85%;
            margin: auto;
        }
    }
    .latest-news-slider{
        @extend %below-hd;
    }
    .slick-slide{
        position: relative;
        margin: 0 10px;
       
    }
    .btn-set--center {
        margin-top: 3rem;
    }
   
}
.latest-news-slider-item{
    position: relative;
    padding-bottom: 1.5rem; 
    .latest-news-slider-item-img{
        overflow: hidden;
        img{
            display: block;
            width: 100%;
            height: auto;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
    }
    .latest-news-slider-item-btn{
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        padding:0 2rem;
        a{
            background:$secondary-color url("#{$assetIconsPath}/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
            background-size: 15px;
            padding: 1rem 3rem 1rem 1rem;
            display: block;
            color: $white;
            font-family: $secondaryfontfaimly;
            &:hover{
                background:$primary-color url("#{$assetIconsPath}/arrow-secondary.svg") no-repeat calc(100% - 1rem) center;
                background-size: 15px;
                color: $secondary-color;
            }
        }
    }
    &:hover{
        .latest-news-slider-item-img {
    
            img {
                transform: scale(1.1);
            }
        }  
    }
}
