.page-hd-section {
    position: relative;

    .page-hd-section-img {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .page-hd-section-in {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        @extend .parlx-bg;
        h1 {
            color: $white;
            margin: 0px;
            padding: 0px;
            text-transform: uppercase;
            @extend %pt46;
        }
    }
}