.post-row {
   display: flex;
   min-height: 600px;
   @include breakpoint(ipad_portrait){
      flex-wrap: wrap;
      padding:3rem 8rem;
      align-items: inherit;
      flex-direction: column-reverse;
    }
   @include breakpoint(mobile_landscape){
      flex-wrap: wrap;
      padding:3rem 6rem;
      align-items: inherit;
      flex-direction: column-reverse;
    }
   @include breakpoint(mobile_portrait){
     flex-wrap: wrap;
     padding:3rem 2rem;
     align-items: inherit;
     flex-direction: column-reverse;
   }
   

   .post-row-img {
      width: 50%;
      &.show-img{
         display: block;
         background-size: cover;
         background-position: right;
         @include breakpoint(ipad_portrait){
            display: none;
         }
         @include breakpoint(mobile){
            display: none;
         }
      }
      &.hide-img{
         display: none;
         @include breakpoint(ipad_portrait){
            display: block;
         }
         @include breakpoint(mobile){
            display: block;
         }
      }
  
    
      
      @include breakpoint(ipad_portrait){
         width: 100%;
      }
      @include breakpoint(mobile){
         width: 100%;
      }

      img {
         width: 100%;
         height: auto;
         display: block;
      }
   }

   .post-row-content {
      width: 50%;
      padding: 4rem 14% 4rem 4rem;
      display: flex;
      align-items: center;
      @include breakpoint(desktop_sm){
         padding: 4rem;
      }
      @include breakpoint(ipad_landscape){
         padding: 4rem;
      }
      @include breakpoint(ipad_portrait){
         width: 100%;
         padding:0 0 3rem 0;
      }
      @include breakpoint(mobile){
         width: 100%;
         padding: 0rem 0 2rem 0;
      }

      h3 {
         margin: 0 0 1.4rem 0;
         padding: 0 0 1rem 0;
         position: relative;
         &::after {
            content: '';
            width: $afterLine_width;
            height: $afterLine_height;
            background: $white;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        @include breakpoint(ipad) {
         margin: 0 0 1rem 0;
        }
        @include breakpoint(mobile) {
         margin: 0 0 1rem 0;
        }
      }
      h4{
         font-size: 1.9rem;
                font-weight: 400;
      }

      .btn-set--left {
         margin-top: 2rem;
      }
   }

   &.secondary-post-row {
      flex-direction: row-reverse;
      @include breakpoint(ipad_portrait){
         flex-direction: column-reverse;
      }
      @include breakpoint(mobile){
         flex-direction: column-reverse;
      }
      .post-row-content {
         padding: 4rem 4rem 4rem 14%;
         @include breakpoint(desktop_sm){
            padding: 4rem;
         }
         @include breakpoint(ipad_landscape){
            padding: 4rem;
         }
         @include breakpoint(ipad_portrait){
            padding:0 0 3rem 0;
         }
         @include breakpoint(mobile){
            padding:0 0 2rem 0;
         }
      }
   }

   &.primary-bg{
      .post-row-content {
        h3 {
            color: $secondary-color;
            &::after {
               background: $white;
           }
         }
         .desc--box{
            p{
               color: $drak-gray;
            }
         }
      }
   }

   &.secondary-bg{
      .post-row-content {
        h3 {
            color: $primary-color;
         }
      }
   }

   &.white-bg{
      .post-row-content {
         h3 {
             color: $secondary-color;
             &::after {
                background: $primary-color;
            }
          }
          .desc--box{
             p{
                color: $drak-gray;
             }
          }
       }
   }

   &.light-gray-bg{
      .post-row-content {
         h3 {
             color: $secondary-color;
             &::after {
                background: $primary-color;
            }
          }
          .desc--box{
             p{
                color: $drak-gray;
             }
          }
       }
   }

}

