.quality-products-section {
    position: relative;
    background: $primary-color;

    @include breakpoint(desktop_sm) {
        padding: 4rem 8rem;
    }

    @include breakpoint(ipad_landscape) {
        padding: 4rem 8rem;
    }

    @include breakpoint(ipad_portrait) {
        padding: 4rem 8rem;
    }

    @include breakpoint(mobile_landscape) {
        padding: 4rem 4rem;
    }

    @include breakpoint(mobile_landscape) {
        padding: 4rem 4rem;
    }

    @include breakpoint(mobile_portrait) {
        padding: 4rem 0rem 0 0;
    }

    .quality-products-txt-box {
        width: 50%;
        padding: 4rem 5rem 4rem 13%;
        display: flex;
        align-items: center;

        @include breakpoint(desktop_lg) {
            padding: 4rem 5rem 4rem 10%;
        }

        @include breakpoint(desktop_md) {
            padding: 4rem 5rem 4rem 6%;
        }

        @include breakpoint(desktop_sm) {
            width: 100%;
            padding: 0;
            margin-bottom: 4rem;
        }

        @include breakpoint(ipad) {
            width: 100%;
            padding: 0;
            margin-bottom: 4rem;
        }

        @include breakpoint(mobile_landscape) {
            width: 100%;
            padding: 0;
            margin-bottom: 4rem;
        }

        @include breakpoint(mobile_portrait) {
            width: 100%;
            padding: 0 1rem 0 1rem;
            margin-bottom: 4rem;
        }

        .desc--box {
            margin-top: 1rem;

            h3 {
                color: $white;
                display: block;
                font-size: 1.9rem;
                font-weight: 400;
            }
        }

        .btn-set--left {
            margin-top: 2rem;
        }
    }

    .quality-products-row {
        width: 50%;
        margin-left: auto;
        min-height: 300px;

        @include breakpoint(desktop_sm) {
            width: 100%;
            min-height: 100px;
            margin-left: 0;
        }

        @include breakpoint(ipad) {
            width: 100%;
            min-height: 100px;
            margin-left: 0;
        }

        @include breakpoint(mobile) {
            width: 100%;
            min-height: 100px;
            margin-left: 0;
        }


    }
}

.quality-products-hide {
    display: none;

    @include breakpoint(desktop_sm) {
        display: flex;
        margin-top: 2rem;
    }

    @include breakpoint(ipad) {
        display: flex;
        margin-top: 2rem;
    }

    @include breakpoint(mobile) {
        display: flex;
        margin-top: 2rem;
    }

    @include breakpoint(mobile_portrait) {
        margin-bottom: 2rem;
        justify-content: center;
    }
}

.quality-products-show {
    @include breakpoint(desktop_sm) {
        display: none;
    }

    @include breakpoint(ipad) {
        display: none;
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.quality-products-box {
    width: 50%;
    position: relative;
    overflow: hidden;

    @include breakpoint(mobile_portrait) {
        width: 100%;
    }

    .quality-products-img {
        width: 100%;
        height: 100%;

        a {
            display: flex;
            width: 100%;
            height: 100%;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
    }

    &:hover {
        .quality-products-img {
            img {
                transform: scale(1.1);
            }
        }

        .white-btn-arrow {
            background: $secondary-color url("#{$assetIconsPath}/arrow-primary.svg") no-repeat calc(100% - 1rem) center;
            background-size: 13px;
            color: $white;
        }
    }

    .quality-products-btn {
        position: absolute;
        left: 0;
        top: 2rem;

        a {
            text-transform: capitalize;
            text-align: left;
        }

    }
}