.small-post-section{
    .small-post-section-row{
      display: flex;
      flex-wrap: wrap;
      .small-post-section-row-content{
        width: 60%;
        padding-right: 10%;
        @include breakpoint(ipad_portrait){
          width: 100%;
          padding-right: 0%;
        }
        @include breakpoint(mobile){
          width: 100%;
          padding-right: 0%;
        }
        .desc--box{
            margin-top: 1.5rem;
            h3{
                color: $primary-color;
                font-size: 1.9rem;
                font-weight: 400;
            }
        }
        .btn-set--left{
            margin-top: 3rem;
        }
      }
      .small-post-section-row-img{
        width: 40%;
        @include breakpoint(ipad_portrait){
          width: 100%;
          margin-top: 3rem;
        }
        @include breakpoint(mobile){
          width: 100%;
          margin-top: 3rem;
        }
        img{
            display: block;
            width: 100%;
            height: auto;
        }
      }
      &.row-reverse{
        flex-direction: row-reverse;
        .small-post-section-row-content{
            padding-right: 0%;
            padding-left: 5%;
          }
      }
    }
}

