.why-choose-section {
    .why-choose-row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 4rem;

        @include breakpoint(desktop_sm) {
            margin-left: -5rem;
            margin-right: -5rem;
        }

        @include breakpoint(ipad_landscape) {
            margin-left: -5rem;
            margin-right: -5rem;
        }

        @include breakpoint(ipad_portrait) {
            margin-top: 0px;
        }

        @include breakpoint(mobile) {
            margin-top: 0px;
        }

        .why-choose-item {
            width: 25%;
            text-align: center;
            position: relative;
            padding-left: 2rem;
            padding-right: 2rem;

            @include breakpoint(ipad_portrait) {
                width: 50%;
                margin-top: 3rem;
            }

            @include breakpoint(mobile_landscape) {
                width: 50%;
                margin-top: 3rem;
            }
            @include breakpoint(mobile_portrait) {
                width: 100%;
                margin-top: 3rem;
            }

            &::after {
                content: '';
                position: absolute;
                right: 0px;
                top: 3rem;
                bottom: 3rem;
                width: 2px;
                height: calc(100% - 6rem);
                background: $primary-color;
                @include breakpoint(mobile_portrait) {
                    display: none;
                }
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            &:nth-child(2n+2) {
                &::after {
                    @include breakpoint(ipad_portrait) {
                        display: none;
                    }

                    @include breakpoint(mobile_landscape) {
                        display: none;
                    }
                }
            }

            .why-choose-item-icon {
                width: 150px;
                height: 150px;
                border-radius: 100px;
                background: $secondary-color;
                padding: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;

                @media (min-width: 320px) and (max-width: 1400px) {
                    width: 110px;
                    height: 110px;
                    padding: 1rem;
                }


                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    display: block;
                }

            }

            .why-choose-item-content {
                margin-top: 1.5rem;

                h6 {
                    margin: 0px;
                    padding: 0px;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                }

                .desc--box {
                    margin-top: 1rem;
                }
            }
        }
    }
}