html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $primaryfontfaimly;
    font-weight: 400;
    background: $white;
    padding: 0px;
    margin: 0px;
    color: $primary-text;
    @extend %base-font-size;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

p {
    line-height: $line-height;
}

a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: $secondary-color;
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

input {
    -webkit-appearance: none;
    opacity: 1;
}

button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.clear {
    clear: both;
}

.container-fluid {
    max-width: calc(1600px);
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(mobile){
        padding: 0 1rem;
    }
}

.container {
    max-width: calc(980px);
    padding: 0rem;
    margin-left: auto;
    margin-right: auto;
}
.site-desktop-view{
    @include breakpoint(mobile_portrait){
       display: none;
    }
}
.site-mobile-view{
    display: none;
    @include breakpoint(mobile_portrait){
       display: block;
    }
}
.main-padding {
    padding-top: $main-pd;
    padding-bottom: $main-pd;
}

.white-bg {
    background: $white;
}

.primary-bg {
    background: $primary-color;
}

.secondary-bg {
    background: $secondary-color;
}



.custom-row {
    display: flex;
    flex-wrap: wrap;
}
.row {
    display: flex;
}
.hide-desktop {
    display: none;

    @include breakpoint(mobile_portrait) {
        display: block;
    }
}

.hide-mobile {
    @include breakpoint(mobile_landscape) {
        display: block;
    }

    @include breakpoint(mobile_portrait) {
        display: none;
    }
}

.desc--box {
    p {
        color: $secondary-text;
        &:last-child {
            margin: 0px;
        }
    }

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            position: relative;
            margin: 0 0 0.6rem 0;
            padding: 0 0 0 1.5rem;

            br {
                @include breakpoint(ipad_portrait) {
                    display: none;
                }

                @include breakpoint(mobile) {
                    display: none;
                }
            }

            &::before {
                width: 8px;
                height: 8px;
                position: absolute;
                left: 0px;
                top: 9px;
                background: $secondary-color;
                content: "";
                border-radius: 50px;
            }
        }
    }
}

.main-container {
    min-height: 90vh;
}

.main-container-div {
    max-width: 100%;
    padding: 0 3rem;
    @include breakpoint(ipad_portrait) {
        padding: 0 2rem;
    }

    @include breakpoint(mobile) {
        padding: 0;
    }
}

.site-details-left{
    width: calc(100% - 400px);
    padding-right: 4rem;
    @include breakpoint(ipad){
        width: calc(100% - 200px);
        padding-right: 2rem;
    }
    @include breakpoint(mobile) {
        width: 100%;
        padding: 0;
    }
}
.site-details-right{
    width: 400px;
    @include breakpoint(ipad){
        width: 200px;
    }
    @include breakpoint(mobile) {
        width: 100%;
        padding: 2rem 0;
    }
    .popular-posts{
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
            li{
               
                a{
                    &:nth-child(1){
                        width: 100px;
                        margin-right: 15px;
                        float: left;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}

.news-banner{
    margin-bottom: 2rem;
    img{
        width: 100%;
        display: block;
        height: auto;
    }
}
.news-title{
    margin-bottom: 2rem;
    h1{
        margin: 0px;
        padding: 0px;
        font-size: 2rem;
        @include breakpoint(mobile_portrait){
            font-size: 1.5rem;
        }
    }
}
.news-content{
    color: #000;
}

.box1{
    background: #fff;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
    h2{
        margin: 0 0 1rem 0;
        font-size: 1.2rem;
        color: #000;
    }
}
.news-content{
    img{
        width: 100%;
        height: auto;
        display: block;
    }
}

.yellow-box1{
    background: $primary-color;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
    h2{
        margin: 0 0 1rem 0;
        font-size: 1.2rem;
        color: #fff;
    }
    .custom-html-widget{
        color: #fff;
    }
  }
.margin-top-2{
    margin-top: 2rem;
}

.related-wallpaper-section{
    background: #00adff7a;
    padding: 2rem 0;
    border-radius: 27px 0 27px 0;
    margin-top: 2rem;
    h3{
        @include breakpoint(mobile){
            padding: 0 1rem;
        }
    }
}

.colrow{
    display: flex;
    width: 100%;
    margin-left: -1rem;
    margin-right: -1rem;
    @include breakpoint(mobile_portrait){
        flex-wrap: wrap;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .colrowbox{
        -ms-flex: 1;  /* IE 10 */  
        flex: 1;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        @include breakpoint(mobile_portrait){
            -ms-flex:inherit;  /* IE 10 */  
            flex: inherit;
            padding-left: 0rem;
            padding-right: 0rem;
        }
    }
    &:empty{
        display: none;
    }
}