.contact-section {
    padding-top: 13rem;
    padding-bottom: 5rem;
    @include breakpoint(mobile){
        padding-top: 8rem;
        padding-bottom: 3rem;
    }
    .desc--box {
        color: #fff;
    }
    .custom-row {
        padding-top: 5rem;
        @include breakpoint(mobile){
            flex-direction: column;
            padding-top: 3rem;
        }
    }
    h5 {
        margin: 0px;
        padding: 0px;
        color: $white;
        font-size: 1.1rem;
    }
    .contact-left,
    .contact-right {
        width: 50%;
        @include breakpoint(mobile){
            width: 100%;
        }
    }
    .contact-info {
        @include breakpoint(mobile){
            margin-bottom: 3rem;
        }
        @include breakpoint(mobile_landscape){
            display: flex;
            flex-wrap: wrap;
        }
    }
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            @include breakpoint(mobile_landscape){
                width: 50%;
                &:nth-child(2){
                    margin-left: auto;
                     width: 44%;
                }
            }
            li {
                color: $white;
                margin-bottom: 15px;
                svg {
                    fill: $white;
                    width: 26px;
                }
                span {
                    width: 88%;
                    margin-left: auto;
                    word-break: break-all;
                }
                a {
                    color: $white;
                    display: flex;
                    align-items: flex-start;
                    span {
                        font-weight: 400;
                        font-size: 1.1rem;
                    }
                }
                &.li-flex {
                    display: flex;
                    align-items: flex-start;
                }
            }
        }
    }

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    color: #ffb900;
    font-weight: 300;
    font-size: 1rem;
}
.wpcf7 form.sent .wpcf7-response-output {
    color: #46b450;
    font-weight: 300;
    font-size: 1rem;
}
.wpcf7-not-valid-tip {
    font-weight: 300;
    font-size: 1rem;
}

.li-mrgn-top-25 {
    margin-top: 2.5rem;
}
.input-submit {
    margin-top: 1.5rem;
}
.wpcf7-list-item {
    margin: 0;
}
.input-field {
    label {
        color: $white;
        font-size: 1rem;
        a {
            color: $white;
            font-size: 1rem;
            text-decoration: underline;
        }
    }
}
.wpcf7-acceptance {
    span {
       margin-right:21px;
    }
}
.wpcf7-acceptance {
    position: relative;
}
.wpcf7-acceptance input::after,
.wpcf7-acceptance input:checked::after
{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: -2px;
}
.wpcf7-acceptance input::before{
    content: "";
    background: $secondary-color;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px; 
}
.wpcf7-acceptance input::after {
    background: url("#{$assetPath}/new-checkinput.svg") no-repeat center center;
    
}
.wpcf7-acceptance input:checked::after {
    background: url("#{$assetPath}/new-checkedinput.svg") no-repeat center center;
}

.wpcf7 .wpcf7-submit:disabled {
    cursor: pointer !important;
}
