.o-mp-header {
  $block: &;
  background-color: $c-white;

  &.header {
    --headerHeight: 0 !important;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__top {
    color: $c-blue;
    justify-content: flex-end;
    padding: 0 $bump/1.5;
  }

  &__bottom {
    background-color: $c-lt-blue;
    padding: 0 0 0 $bump/4;

    @include media('<md') {
      display: none;
      padding: 0;

      [data-nav='open'] & {
        display: flex;
      }

      #{$block}__row {
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;
        max-height: 95vh;
      }
    }
  }

  &__logo {
    width: 90px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;

    [data-scrolled='true'] & {
      width: 70px;
    }

    @include media('<sm') {
      width: 90px;
    }

    &:hover {
      opacity: 0.8;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__desktop {
    display: flex;

    @include media('<sm') {
      display: none;
    }
  }

  &__mobile {
    display: none;

    @include media('<sm') {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
    }
  }
}

[data-nav='open'] {
  overflow: hidden;
}
