/**
 * ----------------------
 * Blooberry Design
 * Organisms - Site links
 * ----------------------
 */

.o-site-links {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include media('<sm') {
    grid-template-columns: 1fr;
  }
}
