.home-categories{
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    h4{
        margin: 0 0 0rem 0;
    }
    .widget_categories{
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
            li{
                padding: 1rem;
                margin: 1rem 0 0 0;
                display: flex;
                align-items: center;
                border-radius: 5px;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url(https://4kpictures.co.in/wp-content/themes/pictures/assets/img/categories-img/categories-img-2.jpg);
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                position: relative;
                &::before{
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
                    background-image: linear-gradient(180deg, transparent, black);
                    border-radius: 5px;
                }
                a{
                    font-size: 1rem;
                    color: $white;
                    width: 100%;
                    position: relative;
                    z-index: 1;
                }
                &:nth-child(1){
                    background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/12/fresh-fish-4k-picture-scaled.jpg);
                   
                }
                &:nth-child(2){
                    background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/12/Free-image-download-scaled.jpeg);
                }
                &:nth-child(3){
                    background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/12/4k-beautiful-wallpaper.jpeg);
                }
                &:nth-child(4){
                    background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/12/Desert-tree-shadow-image-scaled.jpg);
                }
                &:nth-child(5){
                    background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/12/best-wallpaper-for-android-4k-scaled.jpeg);
                }
                &:nth-child(6){
                    background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/03/Deewani-Mastani-Deepika-Padukone-4k-Picture-scaled.jpeg);
                }
                &:nth-child(7){
                    background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/11/White-color-city-wallpaper-scaled.jpg);
                }
                &:nth-child(8){
                    background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/10/Ranveer-Singh-Wallpaper.jpg);
                }
                &:nth-child(9){
                    background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/10/Ranveer-Singh-and-Deepika-HD-Wallpaper.jpg);
                }
                &:nth-child(10){
                    background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/08/Images-of-Young-Ladies.jpg);
                }
                &:nth-child(11){
                    background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/08/Rain-4K-Wallpapers-for-Mobile.jpg);
                }
                &:nth-child(12){
                    background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/07/Cute-Girl-Pictures-Download.jpg);
                }
                &:nth-child(13){
                    background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/06/Shirsasana-Picture.jpg);
                }
                &:nth-child(14){
                    background-image: url(https://4kpictures.co.in/wp-content/uploads/2024/06/Justin-Timberlake-images.jpg);
                }
                &:nth-child(15){
                    background-image: url(https://4kpictures.co.in/wp-content/themes/pictures/assets/img/categories-img/categories-img-2.jpg);
                }
              
                &:hover{
                    background-position: center;
                }
            }
        }
    }
}