{%
  set classes = [
    'field',
    'large-9 large-centered columns',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}

<div{{attributes.addClass(classes,'field__items')}}>
	{% for item in items %}
		{{item.content}}
	{% endfor %}
</div>
