#block-tabs li{list-style: none; display: inline-block;margin-right: auto;}
#block-tabs ul li a.is-active, .tabs ul li a:hover {color: #fff !important;background: #555250 !important;}
.block-superfish ul.sf-menu a, .block-superfish ul.menu a, .block-menu ul.sf-menu a, .block-menu ul.menu a{padding: 0;}
#superfish-main{float:right;}
.sf-sub-indicator{display: none;}
.site-logo{z-index: 99;}
#block-bean-tagline .contextual{display: none;}
#block-bean-social .contextual{display: none;}