.main_footer {
    .custom-row {
        @include breakpoint(mobile_portrait) {
            flex-wrap: wrap;
        }
    }
    .footer_top {
        background-color: $OxfordBlue;
        padding: 15px 0;
        @include breakpoint(mobile_portrait) {
            padding: 15px 5px;
        }
        @include breakpoint(mobile_landscape) {
            padding: 15px;
        }
        .custom-row {
            align-items: center;
        }
        .footer_logo {
            width: 180px;
            @include breakpoint(mobile_portrait) {
                margin: auto auto 15px;
                width: 125px;
            }
            @include breakpoint(mobile_landscape) {
                width: 125px;
            }
            img {
                width: 100%;
                display: block;
            }
        }
        .footer_menu {
            margin-left: auto;
            @include breakpoint(mobile_portrait) {
                margin-left: 0;
            }
            ul {
                padding: 0px;
                margin: 0;
                list-style: none;
                display: flex;
                justify-content: center;
                li {
                    padding: 0px;
                    margin: 0;

                    a {
                        display: block;
                        color: $white !important;
                        font-size: 14px;
                        text-align: center;
                        font-weight: 400;
                        padding: 0 10px;
                        line-height: 16px;
                        border-right: 1px $white solid;
                        @include breakpoint(mobile_portrait) {
                            padding: 0 6px;
                        }
                        &:hover {
                            color: $lemon !important;
                        }
                    }
                    &:last-child {
                        a {
                            border-right: 0px;
                        }
                    }
                }
            }
        }
        .social_media {
            margin-left: 15px;
            @include breakpoint(mobile_portrait) {
                margin: 15px auto auto auto;
            }
            ul {
                padding: 0px;
                margin: 0;
                list-style: none;
                display: flex;
                justify-content: center;
                li {
                    padding: 0px;
                    margin: 0;

                    a {
                        display: block;
                        width: 30px;
                        img {
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .footer_btm {
        background-color: $cyan;
        padding: 15px 0;
        color: $white;
        font-size: 12px;
        @include breakpoint(mobile_portrait) {
            padding: 15px 15px;
            text-align: center;
        }
        @include breakpoint(mobile_landscape) {
            padding: 15px;
        }
        .company_reg_info{
            @include breakpoint(mobile_landscape) {
                width: 47%;
            } 
        }
        .copyrights {
            margin-left: auto;
            @include breakpoint(mobile_portrait) {
                margin-left: 0;
                margin-top: 10px;
            }
            @include breakpoint(mobile_landscape) {
                width: 47%;
            } 
        }
    }
}
