.main_header {
    background: $white;
    padding: 0 $side-padding;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 5;
    @include breakpoint(mobile) {
        padding: 0px;
        position: relative;
    }

    .main_header__top {
        padding: 25px 0;
        position: relative;
        @include breakpoint(mobile) {
            padding:0;
        }
        .logo {
            width: 270px;
            margin: auto;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            @include breakpoint(mobile) {
                width: 150px;
                margin: 0;
            }
            @include breakpoint(iPad) {
                width: 180px;
                margin: 41px auto auto;
            }
            img {
                width: 100%;
                display: block;
               
            }
        }
        .hdr_right {
            position: absolute;
            top: 0px;
            right: 0px;
            display: flex;
            background-color: $cyan-bg; 
            padding: 10px 20px;
            align-items: center;
            @include breakpoint(mobile) {
                position: relative;
                width: 100%;
                padding: 5px 15px;
                justify-content: flex-end;
            }
        }
        .accounts_links {
            ul {
                padding: 0px;
                margin: 0;
                list-style: none;
                display: flex;
                li {
                    padding: 0px;
                    margin: 0 0 0 20px;
                    a {
                        display: block;
                        color: $white;
                        font-size: $font-size-base;
                        text-align: center;
                        font-weight: 500;
                        padding: 0 0 0 25px;
                        -webkit-transition: all 0s;
                        -moz-transition: all 0s;
                        transition: all 0s;
                        &:hover {
                            color: $lemon;
                        }
                    }
                    &.login_icon a.xoo-el-action-sc {
                        background: url("#{$assetPath}/logout.svg") no-repeat left center;
                        background-size: 20px;
                        height: 22px;
                        line-height: 23px;

                        &:hover {
                            background: url("#{$assetPath}/logout-hover.svg") no-repeat left center;
                            background-size: 20px;
                        }
                    }
                    &.login_icon a.xoo-el-login-tgr {
                        background: url("#{$assetPath}/login-arrow-icon.svg") no-repeat left center;
                        background-size: 20px;

                        &:hover {
                            background: url("#{$assetPath}/login-arrow-hover-icon.svg") no-repeat left center;
                            background-size: 20px;
                        }
                    }
                    &.myaccount-icon a {
                        background: url("#{$assetPath}/w-user.svg") no-repeat left center;
                        background-size: 18px;

                        &:hover {
                            background: url("#{$assetPath}/w-user-hover.svg") no-repeat left center;
                            background-size: 18px;
                        }
                    }
                    &.register_icon a {
                        background: url("#{$assetPath}/register-tick-icon.svg") no-repeat left center;
                        background-size: 16px;
                        height: 20px;
                        line-height: 21px;
                        &:hover {
                            background: url("#{$assetPath}/register-tick-hover-icon.svg") no-repeat left center;
                            background-size: 16px;
                        }
                        // background-size: 16px;
                        // background: url("#{$assetPath}/register-tick-icon.svg") no-repeat left center;
                    }
                }
            }
        }
    }
}
body.admin-bar{
    .main_header {
        top: 32px;
        @include breakpoint(mobile) {
            top: 0px
        }
    }
}
.hdr_fixed{
    .main_header__top {
        .logo {
            @include breakpoint(desktop){
                width: 180px;
                margin: auto;
            }
            
           
        }
    } 
}
.hdr_cart_box {
    background: url("#{$assetPath}/basket-icon.svg") no-repeat center center;
    width: 40px;
    a {
        display: block;
        color: $cyan-color;
        font-size: 16px;
        text-align: center;
        font-weight: 500;
        padding-top: 5px;
    }
}
.inner_hdr {
    @include breakpoint(mobile) {
        padding: 15px;
        display: flex;
        align-items: center;
    }
}
// Menu Icon Css Start
.nav-icon {
    width: 40px;
    display: none;
    @include breakpoint(mobile) {
        display: block;
        margin-left: auto;
    }
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
    background-color: $cyan-bg;
    border-radius: 3px;
    content: "";
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.nav-icon.menu-icon-active:before {
    transform: translateY(12px) rotate(135deg);
}

.nav-icon.menu-icon-active:after {
    transform: translateY(-12px) rotate(-135deg);
}

.nav-icon.menu-icon-active div {
    opacity: 0;
    z-index: 5;
}

// Menu Icon Css End
